/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// FileAPIAPIService FileAPIAPI service
type FileAPIAPIService service

type ApiCloudApiControllerActivateFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	key *string
	filename *string
}

// The key of the file
func (r ApiCloudApiControllerActivateFileRequest) Key(key string) ApiCloudApiControllerActivateFileRequest {
	r.key = &key
	return r
}

// The name of the file
func (r ApiCloudApiControllerActivateFileRequest) Filename(filename string) ApiCloudApiControllerActivateFileRequest {
	r.filename = &filename
	return r
}

func (r ApiCloudApiControllerActivateFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerActivateFileExecute(r)
}

/*
CloudApiControllerActivateFile Api Controller Activate File

activate file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerActivateFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerActivateFile(ctx context.Context) ApiCloudApiControllerActivateFileRequest {
	return ApiCloudApiControllerActivateFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerActivateFileExecute(r ApiCloudApiControllerActivateFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerActivateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/activate-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerAddFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	store *string
	key *string
	isLeaf *string
	filename *string
	cloudObjectFileInput *CloudObjectFileInput
}

// The store of the file
func (r ApiCloudApiControllerAddFileRequest) Store(store string) ApiCloudApiControllerAddFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r ApiCloudApiControllerAddFileRequest) Key(key string) ApiCloudApiControllerAddFileRequest {
	r.key = &key
	return r
}

// if is leaf
func (r ApiCloudApiControllerAddFileRequest) IsLeaf(isLeaf string) ApiCloudApiControllerAddFileRequest {
	r.isLeaf = &isLeaf
	return r
}

// The name of the file
func (r ApiCloudApiControllerAddFileRequest) Filename(filename string) ApiCloudApiControllerAddFileRequest {
	r.filename = &filename
	return r
}

// The file object to register. owner and name are required and identify the file.
func (r ApiCloudApiControllerAddFileRequest) CloudObjectFileInput(cloudObjectFileInput CloudObjectFileInput) ApiCloudApiControllerAddFileRequest {
	r.cloudObjectFileInput = &cloudObjectFileInput
	return r
}

func (r ApiCloudApiControllerAddFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddFileExecute(r)
}

/*
CloudApiControllerAddFile Api Controller Add File

add file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerAddFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerAddFile(ctx context.Context) ApiCloudApiControllerAddFileRequest {
	return ApiCloudApiControllerAddFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerAddFileExecute(r ApiCloudApiControllerAddFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerAddFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}
	if r.cloudObjectFileInput == nil {
		return localVarReturnValue, nil, reportError("cloudObjectFileInput is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectFileInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerDeleteFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	store *string
	key *string
	isLeaf *string
	cloudObjectFileInput *CloudObjectFileInput
}

// The store of the file
func (r ApiCloudApiControllerDeleteFileRequest) Store(store string) ApiCloudApiControllerDeleteFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r ApiCloudApiControllerDeleteFileRequest) Key(key string) ApiCloudApiControllerDeleteFileRequest {
	r.key = &key
	return r
}

// if is leaf
func (r ApiCloudApiControllerDeleteFileRequest) IsLeaf(isLeaf string) ApiCloudApiControllerDeleteFileRequest {
	r.isLeaf = &isLeaf
	return r
}

// The file to delete. owner and name are required and identify the file.
func (r ApiCloudApiControllerDeleteFileRequest) CloudObjectFileInput(cloudObjectFileInput CloudObjectFileInput) ApiCloudApiControllerDeleteFileRequest {
	r.cloudObjectFileInput = &cloudObjectFileInput
	return r
}

func (r ApiCloudApiControllerDeleteFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerDeleteFileExecute(r)
}

/*
CloudApiControllerDeleteFile Api Controller Delete File

delete file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerDeleteFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerDeleteFile(ctx context.Context) ApiCloudApiControllerDeleteFileRequest {
	return ApiCloudApiControllerDeleteFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerDeleteFileExecute(r ApiCloudApiControllerDeleteFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerDeleteFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/delete-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}
	if r.cloudObjectFileInput == nil {
		return localVarReturnValue, nil, reportError("cloudObjectFileInput is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectFileInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerGetActiveFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	prefix *string
}

// The prefix of the file
func (r ApiCloudApiControllerGetActiveFileRequest) Prefix(prefix string) ApiCloudApiControllerGetActiveFileRequest {
	r.prefix = &prefix
	return r
}

func (r ApiCloudApiControllerGetActiveFileRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetActiveFileExecute(r)
}

/*
CloudApiControllerGetActiveFile Api Controller Get Active File

get active file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerGetActiveFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerGetActiveFile(ctx context.Context) ApiCloudApiControllerGetActiveFileRequest {
	return ApiCloudApiControllerGetActiveFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *FileAPIAPIService) CloudApiControllerGetActiveFileExecute(r ApiCloudApiControllerGetActiveFileRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerGetActiveFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-active-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.prefix == nil {
		return localVarReturnValue, nil, reportError("prefix is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerUpdateFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	storeId *string
	key *string
	cloudObjectFile *CloudObjectFile
}

// The store id of the file
func (r ApiCloudApiControllerUpdateFileRequest) StoreId(storeId string) ApiCloudApiControllerUpdateFileRequest {
	r.storeId = &storeId
	return r
}

// The key of the file
func (r ApiCloudApiControllerUpdateFileRequest) Key(key string) ApiCloudApiControllerUpdateFileRequest {
	r.key = &key
	return r
}

// The details of the File
func (r ApiCloudApiControllerUpdateFileRequest) CloudObjectFile(cloudObjectFile CloudObjectFile) ApiCloudApiControllerUpdateFileRequest {
	r.cloudObjectFile = &cloudObjectFile
	return r
}

func (r ApiCloudApiControllerUpdateFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUpdateFileExecute(r)
}

/*
CloudApiControllerUpdateFile Api Controller Update File

update file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerUpdateFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerUpdateFile(ctx context.Context) ApiCloudApiControllerUpdateFileRequest {
	return ApiCloudApiControllerUpdateFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerUpdateFileExecute(r ApiCloudApiControllerUpdateFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerUpdateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/update-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.cloudObjectFile == nil {
		return localVarReturnValue, nil, reportError("cloudObjectFile is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeId", r.storeId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectFile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerUploadFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	file *string
	type_ *string
	name *string
}

// The base64 encoded file data
func (r ApiCloudApiControllerUploadFileRequest) File(file string) ApiCloudApiControllerUploadFileRequest {
	r.file = &file
	return r
}

// The file type/extension
func (r ApiCloudApiControllerUploadFileRequest) Type_(type_ string) ApiCloudApiControllerUploadFileRequest {
	r.type_ = &type_
	return r
}

// The file name
func (r ApiCloudApiControllerUploadFileRequest) Name(name string) ApiCloudApiControllerUploadFileRequest {
	r.name = &name
	return r
}

func (r ApiCloudApiControllerUploadFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUploadFileExecute(r)
}

/*
CloudApiControllerUploadFile Api Controller Upload File

upload file to IAM storage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerUploadFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerUploadFile(ctx context.Context) ApiCloudApiControllerUploadFileRequest {
	return ApiCloudApiControllerUploadFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerUploadFileExecute(r ApiCloudApiControllerUploadFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerUploadFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/upload-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusActivateFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	key *string
	filename *string
}

// The key of the file
func (r ApiNexusActivateFileRequest) Key(key string) ApiNexusActivateFileRequest {
	r.key = &key
	return r
}

// The name of the file
func (r ApiNexusActivateFileRequest) Filename(filename string) ApiNexusActivateFileRequest {
	r.filename = &filename
	return r
}

func (r ApiNexusActivateFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusActivateFileExecute(r)
}

/*
NexusActivateFile activate File

Activate a file for processing

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusActivateFileRequest
*/
func (a *FileAPIAPIService) NexusActivateFile(ctx context.Context) ApiNexusActivateFileRequest {
	return ApiNexusActivateFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusResponse
func (a *FileAPIAPIService) NexusActivateFileExecute(r ApiNexusActivateFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.NexusActivateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/activate-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusAddFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	store *string
	key *string
	isLeaf *string
	filename *string
	nexusFileInput *NexusFileInput
}

// The store of the file
func (r ApiNexusAddFileRequest) Store(store string) ApiNexusAddFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r ApiNexusAddFileRequest) Key(key string) ApiNexusAddFileRequest {
	r.key = &key
	return r
}

// Whether the file is a leaf node
func (r ApiNexusAddFileRequest) IsLeaf(isLeaf string) ApiNexusAddFileRequest {
	r.isLeaf = &isLeaf
	return r
}

// The name of the file
func (r ApiNexusAddFileRequest) Filename(filename string) ApiNexusAddFileRequest {
	r.filename = &filename
	return r
}

// The file object to register. owner and name are required and identify the file.
func (r ApiNexusAddFileRequest) NexusFileInput(nexusFileInput NexusFileInput) ApiNexusAddFileRequest {
	r.nexusFileInput = &nexusFileInput
	return r
}

func (r ApiNexusAddFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusAddFileExecute(r)
}

/*
NexusAddFile add File

Add a file to a knowledge store

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusAddFileRequest
*/
func (a *FileAPIAPIService) NexusAddFile(ctx context.Context) ApiNexusAddFileRequest {
	return ApiNexusAddFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusResponse
func (a *FileAPIAPIService) NexusAddFileExecute(r ApiNexusAddFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.NexusAddFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/add-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}
	if r.nexusFileInput == nil {
		return localVarReturnValue, nil, reportError("nexusFileInput is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusFileInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusDeleteFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	store *string
	key *string
	isLeaf *string
	nexusFileInput *NexusFileInput
}

// The store of the file
func (r ApiNexusDeleteFileRequest) Store(store string) ApiNexusDeleteFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r ApiNexusDeleteFileRequest) Key(key string) ApiNexusDeleteFileRequest {
	r.key = &key
	return r
}

// Whether the file is a leaf node
func (r ApiNexusDeleteFileRequest) IsLeaf(isLeaf string) ApiNexusDeleteFileRequest {
	r.isLeaf = &isLeaf
	return r
}

// The file to delete. owner and name are required and identify the file.
func (r ApiNexusDeleteFileRequest) NexusFileInput(nexusFileInput NexusFileInput) ApiNexusDeleteFileRequest {
	r.nexusFileInput = &nexusFileInput
	return r
}

func (r ApiNexusDeleteFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusDeleteFileExecute(r)
}

/*
NexusDeleteFile delete File

Delete a file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusDeleteFileRequest
*/
func (a *FileAPIAPIService) NexusDeleteFile(ctx context.Context) ApiNexusDeleteFileRequest {
	return ApiNexusDeleteFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusResponse
func (a *FileAPIAPIService) NexusDeleteFileExecute(r ApiNexusDeleteFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.NexusDeleteFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/delete-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}
	if r.nexusFileInput == nil {
		return localVarReturnValue, nil, reportError("nexusFileInput is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusFileInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusGetActiveFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	prefix *string
}

// The prefix of the file
func (r ApiNexusGetActiveFileRequest) Prefix(prefix string) ApiNexusGetActiveFileRequest {
	r.prefix = &prefix
	return r
}

func (r ApiNexusGetActiveFileRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.NexusGetActiveFileExecute(r)
}

/*
NexusGetActiveFile get Active File

Get the active file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusGetActiveFileRequest
*/
func (a *FileAPIAPIService) NexusGetActiveFile(ctx context.Context) ApiNexusGetActiveFileRequest {
	return ApiNexusGetActiveFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *FileAPIAPIService) NexusGetActiveFileExecute(r ApiNexusGetActiveFileRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.NexusGetActiveFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-active-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.prefix == nil {
		return localVarReturnValue, nil, reportError("prefix is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusUpdateFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	storeId *string
	key *string
	nexusFile *NexusFile
}

// The store id of the file
func (r ApiNexusUpdateFileRequest) StoreId(storeId string) ApiNexusUpdateFileRequest {
	r.storeId = &storeId
	return r
}

// The key of the file
func (r ApiNexusUpdateFileRequest) Key(key string) ApiNexusUpdateFileRequest {
	r.key = &key
	return r
}

// The details of the file
func (r ApiNexusUpdateFileRequest) NexusFile(nexusFile NexusFile) ApiNexusUpdateFileRequest {
	r.nexusFile = &nexusFile
	return r
}

func (r ApiNexusUpdateFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusUpdateFileExecute(r)
}

/*
NexusUpdateFile update File

Update a file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusUpdateFileRequest
*/
func (a *FileAPIAPIService) NexusUpdateFile(ctx context.Context) ApiNexusUpdateFileRequest {
	return ApiNexusUpdateFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusResponse
func (a *FileAPIAPIService) NexusUpdateFileExecute(r ApiNexusUpdateFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.NexusUpdateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/update-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.nexusFile == nil {
		return localVarReturnValue, nil, reportError("nexusFile is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeId", r.storeId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusFile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusUploadFileRequest struct {
	ctx context.Context
	ApiService *FileAPIAPIService
	file *string
	type_ *string
	name *string
}

// The base64 encoded file data
func (r ApiNexusUploadFileRequest) File(file string) ApiNexusUploadFileRequest {
	r.file = &file
	return r
}

// The file type/extension
func (r ApiNexusUploadFileRequest) Type_(type_ string) ApiNexusUploadFileRequest {
	r.type_ = &type_
	return r
}

// The file name
func (r ApiNexusUploadFileRequest) Name(name string) ApiNexusUploadFileRequest {
	r.name = &name
	return r
}

func (r ApiNexusUploadFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusUploadFileExecute(r)
}

/*
NexusUploadFile upload File

Upload a file to storage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusUploadFileRequest
*/
func (a *FileAPIAPIService) NexusUploadFile(ctx context.Context) ApiNexusUploadFileRequest {
	return ApiNexusUploadFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusResponse
func (a *FileAPIAPIService) NexusUploadFileExecute(r ApiNexusUploadFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.NexusUploadFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/upload-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
