/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WebsitesAPIService WebsitesAPI service
type WebsitesAPIService service

type ApiAnalyticsCreateWebsiteRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	analyticsCreateWebsiteRequest *AnalyticsCreateWebsiteRequest
}

func (r ApiAnalyticsCreateWebsiteRequest) AnalyticsCreateWebsiteRequest(analyticsCreateWebsiteRequest AnalyticsCreateWebsiteRequest) ApiAnalyticsCreateWebsiteRequest {
	r.analyticsCreateWebsiteRequest = &analyticsCreateWebsiteRequest
	return r
}

func (r ApiAnalyticsCreateWebsiteRequest) Execute() (*AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsCreateWebsiteExecute(r)
}

/*
AnalyticsCreateWebsite Create a new website

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsCreateWebsiteRequest
*/
func (a *WebsitesAPIService) AnalyticsCreateWebsite(ctx context.Context) ApiAnalyticsCreateWebsiteRequest {
	return ApiAnalyticsCreateWebsiteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AnalyticsWebsite
func (a *WebsitesAPIService) AnalyticsCreateWebsiteExecute(r ApiAnalyticsCreateWebsiteRequest) (*AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsCreateWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsCreateWebsiteRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsCreateWebsiteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsCreateWebsiteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDeleteWebsiteRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	websiteId string
}

func (r ApiAnalyticsDeleteWebsiteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsDeleteWebsiteExecute(r)
}

/*
AnalyticsDeleteWebsite Delete website

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsDeleteWebsiteRequest
*/
func (a *WebsitesAPIService) AnalyticsDeleteWebsite(ctx context.Context, websiteId string) ApiAnalyticsDeleteWebsiteRequest {
	return ApiAnalyticsDeleteWebsiteRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WebsitesAPIService) AnalyticsDeleteWebsiteExecute(r ApiAnalyticsDeleteWebsiteRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsDeleteWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsGetActiveVisitorsRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	websiteId string
}

func (r ApiAnalyticsGetActiveVisitorsRequest) Execute() (*AnalyticsGetActiveVisitors200Response, *http.Response, error) {
	return r.ApiService.AnalyticsGetActiveVisitorsExecute(r)
}

/*
AnalyticsGetActiveVisitors Get count of active visitors

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsGetActiveVisitorsRequest
*/
func (a *WebsitesAPIService) AnalyticsGetActiveVisitors(ctx context.Context, websiteId string) ApiAnalyticsGetActiveVisitorsRequest {
	return ApiAnalyticsGetActiveVisitorsRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return AnalyticsGetActiveVisitors200Response
func (a *WebsitesAPIService) AnalyticsGetActiveVisitorsExecute(r ApiAnalyticsGetActiveVisitorsRequest) (*AnalyticsGetActiveVisitors200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyticsGetActiveVisitors200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsGetActiveVisitors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/active"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsGetWebsiteRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	websiteId string
}

func (r ApiAnalyticsGetWebsiteRequest) Execute() (*AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteExecute(r)
}

/*
AnalyticsGetWebsite Get website by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsGetWebsiteRequest
*/
func (a *WebsitesAPIService) AnalyticsGetWebsite(ctx context.Context, websiteId string) ApiAnalyticsGetWebsiteRequest {
	return ApiAnalyticsGetWebsiteRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return AnalyticsWebsite
func (a *WebsitesAPIService) AnalyticsGetWebsiteExecute(r ApiAnalyticsGetWebsiteRequest) (*AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsGetWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsGetWebsiteDateRangeRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	websiteId string
}

func (r ApiAnalyticsGetWebsiteDateRangeRequest) Execute() (*AnalyticsGetWebsiteDateRange200Response, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteDateRangeExecute(r)
}

/*
AnalyticsGetWebsiteDateRange Get the date range of data available for a website

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsGetWebsiteDateRangeRequest
*/
func (a *WebsitesAPIService) AnalyticsGetWebsiteDateRange(ctx context.Context, websiteId string) ApiAnalyticsGetWebsiteDateRangeRequest {
	return ApiAnalyticsGetWebsiteDateRangeRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return AnalyticsGetWebsiteDateRange200Response
func (a *WebsitesAPIService) AnalyticsGetWebsiteDateRangeExecute(r ApiAnalyticsGetWebsiteDateRangeRequest) (*AnalyticsGetWebsiteDateRange200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyticsGetWebsiteDateRange200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsGetWebsiteDateRange")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/daterange"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsGetWebsiteValuesRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	websiteId string
	startAt *int64
	endAt *int64
	type_ *string
	search *string
}

// Start timestamp in milliseconds
func (r ApiAnalyticsGetWebsiteValuesRequest) StartAt(startAt int64) ApiAnalyticsGetWebsiteValuesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r ApiAnalyticsGetWebsiteValuesRequest) EndAt(endAt int64) ApiAnalyticsGetWebsiteValuesRequest {
	r.endAt = &endAt
	return r
}

// Column type (e.g. browser, os, device, country, url, referrer, title, event, tag, language, region, city, host)
func (r ApiAnalyticsGetWebsiteValuesRequest) Type_(type_ string) ApiAnalyticsGetWebsiteValuesRequest {
	r.type_ = &type_
	return r
}

func (r ApiAnalyticsGetWebsiteValuesRequest) Search(search string) ApiAnalyticsGetWebsiteValuesRequest {
	r.search = &search
	return r
}

func (r ApiAnalyticsGetWebsiteValuesRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteValuesExecute(r)
}

/*
AnalyticsGetWebsiteValues Get distinct values for a given column type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsGetWebsiteValuesRequest
*/
func (a *WebsitesAPIService) AnalyticsGetWebsiteValues(ctx context.Context, websiteId string) ApiAnalyticsGetWebsiteValuesRequest {
	return ApiAnalyticsGetWebsiteValuesRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return []string
func (a *WebsitesAPIService) AnalyticsGetWebsiteValuesExecute(r ApiAnalyticsGetWebsiteValuesRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsGetWebsiteValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/values"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsListWebsitesRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	page *int32
	pageSize *int32
	orderBy *string
	search *string
}

func (r ApiAnalyticsListWebsitesRequest) Page(page int32) ApiAnalyticsListWebsitesRequest {
	r.page = &page
	return r
}

func (r ApiAnalyticsListWebsitesRequest) PageSize(pageSize int32) ApiAnalyticsListWebsitesRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiAnalyticsListWebsitesRequest) OrderBy(orderBy string) ApiAnalyticsListWebsitesRequest {
	r.orderBy = &orderBy
	return r
}

func (r ApiAnalyticsListWebsitesRequest) Search(search string) ApiAnalyticsListWebsitesRequest {
	r.search = &search
	return r
}

func (r ApiAnalyticsListWebsitesRequest) Execute() ([]AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsListWebsitesExecute(r)
}

/*
AnalyticsListWebsites List websites owned by current user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsListWebsitesRequest
*/
func (a *WebsitesAPIService) AnalyticsListWebsites(ctx context.Context) ApiAnalyticsListWebsitesRequest {
	return ApiAnalyticsListWebsitesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AnalyticsWebsite
func (a *WebsitesAPIService) AnalyticsListWebsitesExecute(r ApiAnalyticsListWebsitesRequest) ([]AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsListWebsites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsResetWebsiteRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	websiteId string
}

func (r ApiAnalyticsResetWebsiteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsResetWebsiteExecute(r)
}

/*
AnalyticsResetWebsite Reset all data for a website

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsResetWebsiteRequest
*/
func (a *WebsitesAPIService) AnalyticsResetWebsite(ctx context.Context, websiteId string) ApiAnalyticsResetWebsiteRequest {
	return ApiAnalyticsResetWebsiteRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WebsitesAPIService) AnalyticsResetWebsiteExecute(r ApiAnalyticsResetWebsiteRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsResetWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/reset"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsTransferWebsiteRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	websiteId string
	analyticsTransferWebsiteRequest *AnalyticsTransferWebsiteRequest
}

func (r ApiAnalyticsTransferWebsiteRequest) AnalyticsTransferWebsiteRequest(analyticsTransferWebsiteRequest AnalyticsTransferWebsiteRequest) ApiAnalyticsTransferWebsiteRequest {
	r.analyticsTransferWebsiteRequest = &analyticsTransferWebsiteRequest
	return r
}

func (r ApiAnalyticsTransferWebsiteRequest) Execute() (*AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsTransferWebsiteExecute(r)
}

/*
AnalyticsTransferWebsite Transfer website ownership to another user or team

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsTransferWebsiteRequest
*/
func (a *WebsitesAPIService) AnalyticsTransferWebsite(ctx context.Context, websiteId string) ApiAnalyticsTransferWebsiteRequest {
	return ApiAnalyticsTransferWebsiteRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return AnalyticsWebsite
func (a *WebsitesAPIService) AnalyticsTransferWebsiteExecute(r ApiAnalyticsTransferWebsiteRequest) (*AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsTransferWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/transfer"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsTransferWebsiteRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsTransferWebsiteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsTransferWebsiteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsUpdateWebsiteRequest struct {
	ctx context.Context
	ApiService *WebsitesAPIService
	websiteId string
	analyticsUpdateWebsiteRequest *AnalyticsUpdateWebsiteRequest
}

func (r ApiAnalyticsUpdateWebsiteRequest) AnalyticsUpdateWebsiteRequest(analyticsUpdateWebsiteRequest AnalyticsUpdateWebsiteRequest) ApiAnalyticsUpdateWebsiteRequest {
	r.analyticsUpdateWebsiteRequest = &analyticsUpdateWebsiteRequest
	return r
}

func (r ApiAnalyticsUpdateWebsiteRequest) Execute() (*AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsUpdateWebsiteExecute(r)
}

/*
AnalyticsUpdateWebsite Update website

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsUpdateWebsiteRequest
*/
func (a *WebsitesAPIService) AnalyticsUpdateWebsite(ctx context.Context, websiteId string) ApiAnalyticsUpdateWebsiteRequest {
	return ApiAnalyticsUpdateWebsiteRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return AnalyticsWebsite
func (a *WebsitesAPIService) AnalyticsUpdateWebsiteExecute(r ApiAnalyticsUpdateWebsiteRequest) (*AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebsitesAPIService.AnalyticsUpdateWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsUpdateWebsiteRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsUpdateWebsiteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsUpdateWebsiteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
