/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// RequestReplyAPIService RequestReplyAPI service
type RequestReplyAPIService service

type ApiPubsubRequestReplyRequest struct {
	ctx context.Context
	ApiService *RequestReplyAPIService
	pubsubPublishRequest *PubsubPublishRequest
	timeout *int32
}

func (r ApiPubsubRequestReplyRequest) PubsubPublishRequest(pubsubPublishRequest PubsubPublishRequest) ApiPubsubRequestReplyRequest {
	r.pubsubPublishRequest = &pubsubPublishRequest
	return r
}

// Timeout in milliseconds
func (r ApiPubsubRequestReplyRequest) Timeout(timeout int32) ApiPubsubRequestReplyRequest {
	r.timeout = &timeout
	return r
}

func (r ApiPubsubRequestReplyRequest) Execute() (*PubsubMessage, *http.Response, error) {
	return r.ApiService.PubsubRequestReplyExecute(r)
}

/*
PubsubRequestReply Request/reply

Send a request and wait for a reply with timeout.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPubsubRequestReplyRequest
*/
func (a *RequestReplyAPIService) PubsubRequestReply(ctx context.Context) ApiPubsubRequestReplyRequest {
	return ApiPubsubRequestReplyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PubsubMessage
func (a *RequestReplyAPIService) PubsubRequestReplyExecute(r ApiPubsubRequestReplyRequest) (*PubsubMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PubsubMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RequestReplyAPIService.PubsubRequestReply")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/request"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pubsubPublishRequest == nil {
		return localVarReturnValue, nil, reportError("pubsubPublishRequest is required and must be specified")
	}

	if r.timeout != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeout", r.timeout, "form", "")
	} else {
		var defaultValue int32 = 5000
		r.timeout = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.pubsubPublishRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 408 {
			var v PubsubError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
