/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// ScoresAPIService ScoresAPI service
type ScoresAPIService service

type ApiConsoleCreateScoreRequest struct {
	ctx context.Context
	ApiService *ScoresAPIService
	consoleCreateScoreRequest *ConsoleCreateScoreRequest
}

func (r ApiConsoleCreateScoreRequest) ConsoleCreateScoreRequest(consoleCreateScoreRequest ConsoleCreateScoreRequest) ApiConsoleCreateScoreRequest {
	r.consoleCreateScoreRequest = &consoleCreateScoreRequest
	return r
}

func (r ApiConsoleCreateScoreRequest) Execute() (*ConsoleCreateComment200Response, *http.Response, error) {
	return r.ApiService.ConsoleCreateScoreExecute(r)
}

/*
ConsoleCreateScore Create a score

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConsoleCreateScoreRequest
*/
func (a *ScoresAPIService) ConsoleCreateScore(ctx context.Context) ApiConsoleCreateScoreRequest {
	return ApiConsoleCreateScoreRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConsoleCreateComment200Response
func (a *ScoresAPIService) ConsoleCreateScoreExecute(r ApiConsoleCreateScoreRequest) (*ConsoleCreateComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsoleCreateComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScoresAPIService.ConsoleCreateScore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/scores"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consoleCreateScoreRequest == nil {
		return localVarReturnValue, nil, reportError("consoleCreateScoreRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consoleCreateScoreRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsoleDeleteScoreRequest struct {
	ctx context.Context
	ApiService *ScoresAPIService
	scoreId string
}

func (r ApiConsoleDeleteScoreRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ConsoleDeleteScoreExecute(r)
}

/*
ConsoleDeleteScore Delete a score

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param scoreId
 @return ApiConsoleDeleteScoreRequest
*/
func (a *ScoresAPIService) ConsoleDeleteScore(ctx context.Context, scoreId string) ApiConsoleDeleteScoreRequest {
	return ApiConsoleDeleteScoreRequest{
		ApiService: a,
		ctx: ctx,
		scoreId: scoreId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ScoresAPIService) ConsoleDeleteScoreExecute(r ApiConsoleDeleteScoreRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScoresAPIService.ConsoleDeleteScore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/scores/{scoreId}"
	localVarPath = strings.Replace(localVarPath, "{"+"scoreId"+"}", url.PathEscape(parameterValueToString(r.scoreId, "scoreId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsoleGetScoreRequest struct {
	ctx context.Context
	ApiService *ScoresAPIService
	scoreId string
}

func (r ApiConsoleGetScoreRequest) Execute() (*ConsoleScore, *http.Response, error) {
	return r.ApiService.ConsoleGetScoreExecute(r)
}

/*
ConsoleGetScore Get a score by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param scoreId
 @return ApiConsoleGetScoreRequest
*/
func (a *ScoresAPIService) ConsoleGetScore(ctx context.Context, scoreId string) ApiConsoleGetScoreRequest {
	return ApiConsoleGetScoreRequest{
		ApiService: a,
		ctx: ctx,
		scoreId: scoreId,
	}
}

// Execute executes the request
//  @return ConsoleScore
func (a *ScoresAPIService) ConsoleGetScoreExecute(r ApiConsoleGetScoreRequest) (*ConsoleScore, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsoleScore
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScoresAPIService.ConsoleGetScore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/scores/{scoreId}"
	localVarPath = strings.Replace(localVarPath, "{"+"scoreId"+"}", url.PathEscape(parameterValueToString(r.scoreId, "scoreId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsoleListScoresRequest struct {
	ctx context.Context
	ApiService *ScoresAPIService
	page *int32
	limit *int32
	userId *string
	name *string
	fromTimestamp *time.Time
	toTimestamp *time.Time
	source *string
	operator *string
	value *float32
	scoreIds *string
	configId *string
	dataType *string
	environment *[]string
}

func (r ApiConsoleListScoresRequest) Page(page int32) ApiConsoleListScoresRequest {
	r.page = &page
	return r
}

func (r ApiConsoleListScoresRequest) Limit(limit int32) ApiConsoleListScoresRequest {
	r.limit = &limit
	return r
}

func (r ApiConsoleListScoresRequest) UserId(userId string) ApiConsoleListScoresRequest {
	r.userId = &userId
	return r
}

func (r ApiConsoleListScoresRequest) Name(name string) ApiConsoleListScoresRequest {
	r.name = &name
	return r
}

func (r ApiConsoleListScoresRequest) FromTimestamp(fromTimestamp time.Time) ApiConsoleListScoresRequest {
	r.fromTimestamp = &fromTimestamp
	return r
}

func (r ApiConsoleListScoresRequest) ToTimestamp(toTimestamp time.Time) ApiConsoleListScoresRequest {
	r.toTimestamp = &toTimestamp
	return r
}

func (r ApiConsoleListScoresRequest) Source(source string) ApiConsoleListScoresRequest {
	r.source = &source
	return r
}

func (r ApiConsoleListScoresRequest) Operator(operator string) ApiConsoleListScoresRequest {
	r.operator = &operator
	return r
}

func (r ApiConsoleListScoresRequest) Value(value float32) ApiConsoleListScoresRequest {
	r.value = &value
	return r
}

func (r ApiConsoleListScoresRequest) ScoreIds(scoreIds string) ApiConsoleListScoresRequest {
	r.scoreIds = &scoreIds
	return r
}

func (r ApiConsoleListScoresRequest) ConfigId(configId string) ApiConsoleListScoresRequest {
	r.configId = &configId
	return r
}

func (r ApiConsoleListScoresRequest) DataType(dataType string) ApiConsoleListScoresRequest {
	r.dataType = &dataType
	return r
}

func (r ApiConsoleListScoresRequest) Environment(environment []string) ApiConsoleListScoresRequest {
	r.environment = &environment
	return r
}

func (r ApiConsoleListScoresRequest) Execute() (*ConsoleListScores200Response, *http.Response, error) {
	return r.ApiService.ConsoleListScoresExecute(r)
}

/*
ConsoleListScores Get all scores

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConsoleListScoresRequest
*/
func (a *ScoresAPIService) ConsoleListScores(ctx context.Context) ApiConsoleListScoresRequest {
	return ApiConsoleListScoresRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConsoleListScores200Response
func (a *ScoresAPIService) ConsoleListScoresExecute(r ApiConsoleListScoresRequest) (*ConsoleListScores200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsoleListScores200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScoresAPIService.ConsoleListScores")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/scores"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.fromTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromTimestamp", r.fromTimestamp, "form", "")
	}
	if r.toTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toTimestamp", r.toTimestamp, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.operator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operator", r.operator, "form", "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	}
	if r.scoreIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scoreIds", r.scoreIds, "form", "")
	}
	if r.configId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "configId", r.configId, "form", "")
	}
	if r.dataType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dataType", r.dataType, "form", "")
	}
	if r.environment != nil {
		t := *r.environment
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "environment", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "environment", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEvalsGetV1EvalsScoresRequest struct {
	ctx context.Context
	ApiService *ScoresAPIService
	runName *string
	limit *int32
}

func (r ApiEvalsGetV1EvalsScoresRequest) RunName(runName string) ApiEvalsGetV1EvalsScoresRequest {
	r.runName = &runName
	return r
}

func (r ApiEvalsGetV1EvalsScoresRequest) Limit(limit int32) ApiEvalsGetV1EvalsScoresRequest {
	r.limit = &limit
	return r
}

func (r ApiEvalsGetV1EvalsScoresRequest) Execute() (*EvalsGetV1EvalsScores200Response, *http.Response, error) {
	return r.ApiService.EvalsGetV1EvalsScoresExecute(r)
}

/*
EvalsGetV1EvalsScores List scores

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEvalsGetV1EvalsScoresRequest
*/
func (a *ScoresAPIService) EvalsGetV1EvalsScores(ctx context.Context) ApiEvalsGetV1EvalsScoresRequest {
	return ApiEvalsGetV1EvalsScoresRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EvalsGetV1EvalsScores200Response
func (a *ScoresAPIService) EvalsGetV1EvalsScoresExecute(r ApiEvalsGetV1EvalsScoresRequest) (*EvalsGetV1EvalsScores200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EvalsGetV1EvalsScores200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScoresAPIService.EvalsGetV1EvalsScores")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/scores"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.runName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "runName", r.runName, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
