/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// MessageAPIAPIService MessageAPIAPI service
type MessageAPIAPIService service

type ApiCloudApiControllerAddMessageRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	cloudObjectMessage *CloudObjectMessage
}

// The details of the message
func (r ApiCloudApiControllerAddMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) ApiCloudApiControllerAddMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r ApiCloudApiControllerAddMessageRequest) Execute() (*CloudObjectChat, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddMessageExecute(r)
}

/*
CloudApiControllerAddMessage Api Controller Add Message

add message

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerAddMessageRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerAddMessage(ctx context.Context) ApiCloudApiControllerAddMessageRequest {
	return ApiCloudApiControllerAddMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudObjectChat
func (a *MessageAPIAPIService) CloudApiControllerAddMessageExecute(r ApiCloudApiControllerAddMessageRequest) (*CloudObjectChat, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudObjectChat
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerAddMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerDeleteMessageRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	cloudObjectMessage *CloudObjectMessage
}

// The details of the message
func (r ApiCloudApiControllerDeleteMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) ApiCloudApiControllerDeleteMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r ApiCloudApiControllerDeleteMessageRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerDeleteMessageExecute(r)
}

/*
CloudApiControllerDeleteMessage Api Controller Delete Message

delete message

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerDeleteMessageRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerDeleteMessage(ctx context.Context) ApiCloudApiControllerDeleteMessageRequest {
	return ApiCloudApiControllerDeleteMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudControllersResponse
func (a *MessageAPIAPIService) CloudApiControllerDeleteMessageExecute(r ApiCloudApiControllerDeleteMessageRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerDeleteMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/delete-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerGetAnswerRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	provider *string
	question *string
	framework *string
	video *string
}

// The provider
func (r ApiCloudApiControllerGetAnswerRequest) Provider(provider string) ApiCloudApiControllerGetAnswerRequest {
	r.provider = &provider
	return r
}

// The question of message
func (r ApiCloudApiControllerGetAnswerRequest) Question(question string) ApiCloudApiControllerGetAnswerRequest {
	r.question = &question
	return r
}

// The framework
func (r ApiCloudApiControllerGetAnswerRequest) Framework(framework string) ApiCloudApiControllerGetAnswerRequest {
	r.framework = &framework
	return r
}

// The video
func (r ApiCloudApiControllerGetAnswerRequest) Video(video string) ApiCloudApiControllerGetAnswerRequest {
	r.video = &video
	return r
}

func (r ApiCloudApiControllerGetAnswerRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetAnswerExecute(r)
}

/*
CloudApiControllerGetAnswer Api Controller Get Answer

get answer

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerGetAnswerRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetAnswer(ctx context.Context) ApiCloudApiControllerGetAnswerRequest {
	return ApiCloudApiControllerGetAnswerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *MessageAPIAPIService) CloudApiControllerGetAnswerExecute(r ApiCloudApiControllerGetAnswerRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.provider == nil {
		return localVarReturnValue, nil, reportError("provider is required and must be specified")
	}
	if r.question == nil {
		return localVarReturnValue, nil, reportError("question is required and must be specified")
	}
	if r.framework == nil {
		return localVarReturnValue, nil, reportError("framework is required and must be specified")
	}
	if r.video == nil {
		return localVarReturnValue, nil, reportError("video is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "question", r.question, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "framework", r.framework, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "video", r.video, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerGetGlobalMessagesRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
}

func (r ApiCloudApiControllerGetGlobalMessagesRequest) Execute() ([]CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetGlobalMessagesExecute(r)
}

/*
CloudApiControllerGetGlobalMessages Api Controller Get Global Messages

get global messages

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerGetGlobalMessagesRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetGlobalMessages(ctx context.Context) ApiCloudApiControllerGetGlobalMessagesRequest {
	return ApiCloudApiControllerGetGlobalMessagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CloudObjectMessage
func (a *MessageAPIAPIService) CloudApiControllerGetGlobalMessagesExecute(r ApiCloudApiControllerGetGlobalMessagesRequest) ([]CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetGlobalMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-global-messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerGetMessageRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	id *string
}

// The id of message
func (r ApiCloudApiControllerGetMessageRequest) Id(id string) ApiCloudApiControllerGetMessageRequest {
	r.id = &id
	return r
}

func (r ApiCloudApiControllerGetMessageRequest) Execute() (*CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessageExecute(r)
}

/*
CloudApiControllerGetMessage Api Controller Get Message

get message

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerGetMessageRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetMessage(ctx context.Context) ApiCloudApiControllerGetMessageRequest {
	return ApiCloudApiControllerGetMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudObjectMessage
func (a *MessageAPIAPIService) CloudApiControllerGetMessageExecute(r ApiCloudApiControllerGetMessageRequest) (*CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerGetMessageAnswerRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	id *string
}

// The id of message
func (r ApiCloudApiControllerGetMessageAnswerRequest) Id(id string) ApiCloudApiControllerGetMessageAnswerRequest {
	r.id = &id
	return r
}

func (r ApiCloudApiControllerGetMessageAnswerRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessageAnswerExecute(r)
}

/*
CloudApiControllerGetMessageAnswer Api Controller Get Message Answer

get message answer

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerGetMessageAnswerRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetMessageAnswer(ctx context.Context) ApiCloudApiControllerGetMessageAnswerRequest {
	return ApiCloudApiControllerGetMessageAnswerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *MessageAPIAPIService) CloudApiControllerGetMessageAnswerExecute(r ApiCloudApiControllerGetMessageAnswerRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetMessageAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-message-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerGetMessagesRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	user *string
	chat *string
}

// The user of message
func (r ApiCloudApiControllerGetMessagesRequest) User(user string) ApiCloudApiControllerGetMessagesRequest {
	r.user = &user
	return r
}

// The chat of message
func (r ApiCloudApiControllerGetMessagesRequest) Chat(chat string) ApiCloudApiControllerGetMessagesRequest {
	r.chat = &chat
	return r
}

func (r ApiCloudApiControllerGetMessagesRequest) Execute() ([]CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessagesExecute(r)
}

/*
CloudApiControllerGetMessages Api Controller Get Messages

get Messages

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerGetMessagesRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetMessages(ctx context.Context) ApiCloudApiControllerGetMessagesRequest {
	return ApiCloudApiControllerGetMessagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CloudObjectMessage
func (a *MessageAPIAPIService) CloudApiControllerGetMessagesExecute(r ApiCloudApiControllerGetMessagesRequest) ([]CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-Messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}
	if r.chat == nil {
		return localVarReturnValue, nil, reportError("chat is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "chat", r.chat, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloudApiControllerUpdateMessageRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	id *string
	cloudObjectMessage *CloudObjectMessage
}

// The id (owner/name) of the message
func (r ApiCloudApiControllerUpdateMessageRequest) Id(id string) ApiCloudApiControllerUpdateMessageRequest {
	r.id = &id
	return r
}

// The details of the message
func (r ApiCloudApiControllerUpdateMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) ApiCloudApiControllerUpdateMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r ApiCloudApiControllerUpdateMessageRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUpdateMessageExecute(r)
}

/*
CloudApiControllerUpdateMessage Api Controller Update Message

update message

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerUpdateMessageRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerUpdateMessage(ctx context.Context) ApiCloudApiControllerUpdateMessageRequest {
	return ApiCloudApiControllerUpdateMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudControllersResponse
func (a *MessageAPIAPIService) CloudApiControllerUpdateMessageExecute(r ApiCloudApiControllerUpdateMessageRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerUpdateMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/update-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusAddMessageRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	nexusMessage *NexusMessage
}

// The details of the message
func (r ApiNexusAddMessageRequest) NexusMessage(nexusMessage NexusMessage) ApiNexusAddMessageRequest {
	r.nexusMessage = &nexusMessage
	return r
}

func (r ApiNexusAddMessageRequest) Execute() (*NexusChat, *http.Response, error) {
	return r.ApiService.NexusAddMessageExecute(r)
}

/*
NexusAddMessage add Message

Add a message to a chat

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusAddMessageRequest
*/
func (a *MessageAPIAPIService) NexusAddMessage(ctx context.Context) ApiNexusAddMessageRequest {
	return ApiNexusAddMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusChat
func (a *MessageAPIAPIService) NexusAddMessageExecute(r ApiNexusAddMessageRequest) (*NexusChat, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusChat
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.NexusAddMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/add-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nexusMessage == nil {
		return localVarReturnValue, nil, reportError("nexusMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusDeleteMessageRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	nexusMessage *NexusMessage
}

// The details of the message
func (r ApiNexusDeleteMessageRequest) NexusMessage(nexusMessage NexusMessage) ApiNexusDeleteMessageRequest {
	r.nexusMessage = &nexusMessage
	return r
}

func (r ApiNexusDeleteMessageRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusDeleteMessageExecute(r)
}

/*
NexusDeleteMessage delete Message

Delete a message

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusDeleteMessageRequest
*/
func (a *MessageAPIAPIService) NexusDeleteMessage(ctx context.Context) ApiNexusDeleteMessageRequest {
	return ApiNexusDeleteMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusResponse
func (a *MessageAPIAPIService) NexusDeleteMessageExecute(r ApiNexusDeleteMessageRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.NexusDeleteMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/delete-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nexusMessage == nil {
		return localVarReturnValue, nil, reportError("nexusMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusGetAnswerRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	provider *string
	question *string
	framework *string
	video *string
}

// The provider
func (r ApiNexusGetAnswerRequest) Provider(provider string) ApiNexusGetAnswerRequest {
	r.provider = &provider
	return r
}

// The question
func (r ApiNexusGetAnswerRequest) Question(question string) ApiNexusGetAnswerRequest {
	r.question = &question
	return r
}

// The framework
func (r ApiNexusGetAnswerRequest) Framework(framework string) ApiNexusGetAnswerRequest {
	r.framework = &framework
	return r
}

// The video
func (r ApiNexusGetAnswerRequest) Video(video string) ApiNexusGetAnswerRequest {
	r.video = &video
	return r
}

func (r ApiNexusGetAnswerRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.NexusGetAnswerExecute(r)
}

/*
NexusGetAnswer get Answer

Get an AI-generated answer

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusGetAnswerRequest
*/
func (a *MessageAPIAPIService) NexusGetAnswer(ctx context.Context) ApiNexusGetAnswerRequest {
	return ApiNexusGetAnswerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *MessageAPIAPIService) NexusGetAnswerExecute(r ApiNexusGetAnswerRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.NexusGetAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.provider == nil {
		return localVarReturnValue, nil, reportError("provider is required and must be specified")
	}
	if r.question == nil {
		return localVarReturnValue, nil, reportError("question is required and must be specified")
	}
	if r.framework == nil {
		return localVarReturnValue, nil, reportError("framework is required and must be specified")
	}
	if r.video == nil {
		return localVarReturnValue, nil, reportError("video is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "question", r.question, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "framework", r.framework, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "video", r.video, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusGetGlobalMessagesRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
}

func (r ApiNexusGetGlobalMessagesRequest) Execute() ([]NexusMessage, *http.Response, error) {
	return r.ApiService.NexusGetGlobalMessagesExecute(r)
}

/*
NexusGetGlobalMessages get Global Messages

Get global messages

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusGetGlobalMessagesRequest
*/
func (a *MessageAPIAPIService) NexusGetGlobalMessages(ctx context.Context) ApiNexusGetGlobalMessagesRequest {
	return ApiNexusGetGlobalMessagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []NexusMessage
func (a *MessageAPIAPIService) NexusGetGlobalMessagesExecute(r ApiNexusGetGlobalMessagesRequest) ([]NexusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []NexusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.NexusGetGlobalMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-global-messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusGetMessageRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	id *string
}

// The id of the message
func (r ApiNexusGetMessageRequest) Id(id string) ApiNexusGetMessageRequest {
	r.id = &id
	return r
}

func (r ApiNexusGetMessageRequest) Execute() (*NexusMessage, *http.Response, error) {
	return r.ApiService.NexusGetMessageExecute(r)
}

/*
NexusGetMessage get Message

Get a message

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusGetMessageRequest
*/
func (a *MessageAPIAPIService) NexusGetMessage(ctx context.Context) ApiNexusGetMessageRequest {
	return ApiNexusGetMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusMessage
func (a *MessageAPIAPIService) NexusGetMessageExecute(r ApiNexusGetMessageRequest) (*NexusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.NexusGetMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusGetMessageAnswerRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	id *string
}

// The id of the message
func (r ApiNexusGetMessageAnswerRequest) Id(id string) ApiNexusGetMessageAnswerRequest {
	r.id = &id
	return r
}

func (r ApiNexusGetMessageAnswerRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.NexusGetMessageAnswerExecute(r)
}

/*
NexusGetMessageAnswer get Message Answer

Get a streamed AI answer for a message

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusGetMessageAnswerRequest
*/
func (a *MessageAPIAPIService) NexusGetMessageAnswer(ctx context.Context) ApiNexusGetMessageAnswerRequest {
	return ApiNexusGetMessageAnswerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *MessageAPIAPIService) NexusGetMessageAnswerExecute(r ApiNexusGetMessageAnswerRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.NexusGetMessageAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-message-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusGetMessagesRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	user *string
	chat *string
}

// The user of the messages
func (r ApiNexusGetMessagesRequest) User(user string) ApiNexusGetMessagesRequest {
	r.user = &user
	return r
}

// The chat of the messages
func (r ApiNexusGetMessagesRequest) Chat(chat string) ApiNexusGetMessagesRequest {
	r.chat = &chat
	return r
}

func (r ApiNexusGetMessagesRequest) Execute() ([]NexusMessage, *http.Response, error) {
	return r.ApiService.NexusGetMessagesExecute(r)
}

/*
NexusGetMessages get Messages

Get messages for a chat

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusGetMessagesRequest
*/
func (a *MessageAPIAPIService) NexusGetMessages(ctx context.Context) ApiNexusGetMessagesRequest {
	return ApiNexusGetMessagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []NexusMessage
func (a *MessageAPIAPIService) NexusGetMessagesExecute(r ApiNexusGetMessagesRequest) ([]NexusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []NexusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.NexusGetMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-Messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}
	if r.chat == nil {
		return localVarReturnValue, nil, reportError("chat is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "chat", r.chat, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusUpdateMessageRequest struct {
	ctx context.Context
	ApiService *MessageAPIAPIService
	id *string
	nexusMessage *NexusMessage
}

// The id (owner/name) of the message
func (r ApiNexusUpdateMessageRequest) Id(id string) ApiNexusUpdateMessageRequest {
	r.id = &id
	return r
}

// The details of the message
func (r ApiNexusUpdateMessageRequest) NexusMessage(nexusMessage NexusMessage) ApiNexusUpdateMessageRequest {
	r.nexusMessage = &nexusMessage
	return r
}

func (r ApiNexusUpdateMessageRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusUpdateMessageExecute(r)
}

/*
NexusUpdateMessage update Message

Update a message

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusUpdateMessageRequest
*/
func (a *MessageAPIAPIService) NexusUpdateMessage(ctx context.Context) ApiNexusUpdateMessageRequest {
	return ApiNexusUpdateMessageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NexusResponse
func (a *MessageAPIAPIService) NexusUpdateMessageExecute(r ApiNexusUpdateMessageRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.NexusUpdateMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/update-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.nexusMessage == nil {
		return localVarReturnValue, nil, reportError("nexusMessage is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
