/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ExperimentalAPIService ExperimentalAPI service
type ExperimentalAPIService service

type ApiSearchGetExperimentalFeaturesRequest struct {
	ctx context.Context
	ApiService *ExperimentalAPIService
}

func (r ApiSearchGetExperimentalFeaturesRequest) Execute() (*SearchRuntimeTogglableFeatures, *http.Response, error) {
	return r.ApiService.SearchGetExperimentalFeaturesExecute(r)
}

/*
SearchGetExperimentalFeatures Get runtime-togglable experimental features

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchGetExperimentalFeaturesRequest
*/
func (a *ExperimentalAPIService) SearchGetExperimentalFeatures(ctx context.Context) ApiSearchGetExperimentalFeaturesRequest {
	return ApiSearchGetExperimentalFeaturesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchRuntimeTogglableFeatures
func (a *ExperimentalAPIService) SearchGetExperimentalFeaturesExecute(r ApiSearchGetExperimentalFeaturesRequest) (*SearchRuntimeTogglableFeatures, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchRuntimeTogglableFeatures
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExperimentalAPIService.SearchGetExperimentalFeatures")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/experimental-features"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchUpdateExperimentalFeaturesRequest struct {
	ctx context.Context
	ApiService *ExperimentalAPIService
	searchRuntimeTogglableFeatures *SearchRuntimeTogglableFeatures
}

func (r ApiSearchUpdateExperimentalFeaturesRequest) SearchRuntimeTogglableFeatures(searchRuntimeTogglableFeatures SearchRuntimeTogglableFeatures) ApiSearchUpdateExperimentalFeaturesRequest {
	r.searchRuntimeTogglableFeatures = &searchRuntimeTogglableFeatures
	return r
}

func (r ApiSearchUpdateExperimentalFeaturesRequest) Execute() (*SearchRuntimeTogglableFeatures, *http.Response, error) {
	return r.ApiService.SearchUpdateExperimentalFeaturesExecute(r)
}

/*
SearchUpdateExperimentalFeatures Toggle experimental features

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchUpdateExperimentalFeaturesRequest
*/
func (a *ExperimentalAPIService) SearchUpdateExperimentalFeatures(ctx context.Context) ApiSearchUpdateExperimentalFeaturesRequest {
	return ApiSearchUpdateExperimentalFeaturesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchRuntimeTogglableFeatures
func (a *ExperimentalAPIService) SearchUpdateExperimentalFeaturesExecute(r ApiSearchUpdateExperimentalFeaturesRequest) (*SearchRuntimeTogglableFeatures, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchRuntimeTogglableFeatures
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExperimentalAPIService.SearchUpdateExperimentalFeatures")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/experimental-features"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchRuntimeTogglableFeatures == nil {
		return localVarReturnValue, nil, reportError("searchRuntimeTogglableFeatures is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchRuntimeTogglableFeatures
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
