/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SendAPIService SendAPI service
type SendAPIService service

type ApiNotifyNotifySendRequest struct {
	ctx context.Context
	ApiService *SendAPIService
	sync *string
	notifySendRequest *NotifySendRequest
}

// Must be &#x60;true&#x60;. Async dispatch is not available in the cloud fold; any other value yields &#x60;503&#x60;. 
func (r ApiNotifyNotifySendRequest) Sync(sync string) ApiNotifyNotifySendRequest {
	r.sync = &sync
	return r
}

func (r ApiNotifyNotifySendRequest) NotifySendRequest(notifySendRequest NotifySendRequest) ApiNotifyNotifySendRequest {
	r.notifySendRequest = &notifySendRequest
	return r
}

func (r ApiNotifyNotifySendRequest) Execute() (*NotifyNotifySend200Response, *http.Response, error) {
	return r.ApiService.NotifyNotifySendExecute(r)
}

/*
NotifyNotifySend Send a notification (generic channel)

Synchronously delivers a notification. The channel is read from the
request body (`channel: "sms"|"email"`). Only `sms` and `email` are
supported by the cloud fold.

`sync=true` is REQUIRED. Without it the request fails closed with `503`
(async dispatch is not available in the fold).

The org scope is taken from the validated principal's tenant, never from
a client-supplied header. The provider is chosen from configured KMS
credentials unless `provider` pins one explicitly.

RESPONSE SHAPE — for a single recipient the body is a bare
`SendResponse`. For multiple recipients the body is
`{"items": [SendResponse, ...]}`, one entry per recipient. A per-recipient
terminal delivery failure is reported as a `200` with `status: "failed"`
and an `error` message, NOT as an HTTP error.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNotifyNotifySendRequest
*/
func (a *SendAPIService) NotifyNotifySend(ctx context.Context) ApiNotifyNotifySendRequest {
	return ApiNotifyNotifySendRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NotifyNotifySend200Response
func (a *SendAPIService) NotifyNotifySendExecute(r ApiNotifyNotifySendRequest) (*NotifyNotifySend200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NotifyNotifySend200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SendAPIService.NotifyNotifySend")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/notify/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sync == nil {
		return localVarReturnValue, nil, reportError("sync is required and must be specified")
	}
	if r.notifySendRequest == nil {
		return localVarReturnValue, nil, reportError("notifySendRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "sync", r.sync, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notifySendRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNotifyNotifySendEmailRequest struct {
	ctx context.Context
	ApiService *SendAPIService
	sync *string
	notifySendRequest *NotifySendRequest
}

// Must be &#x60;true&#x60;; otherwise &#x60;503&#x60;.
func (r ApiNotifyNotifySendEmailRequest) Sync(sync string) ApiNotifyNotifySendEmailRequest {
	r.sync = &sync
	return r
}

func (r ApiNotifyNotifySendEmailRequest) NotifySendRequest(notifySendRequest NotifySendRequest) ApiNotifyNotifySendEmailRequest {
	r.notifySendRequest = &notifySendRequest
	return r
}

func (r ApiNotifyNotifySendEmailRequest) Execute() (*NotifyNotifySend200Response, *http.Response, error) {
	return r.ApiService.NotifyNotifySendEmailExecute(r)
}

/*
NotifyNotifySendEmail Send an email notification

Convenience route that pins `channel: email`. Any `channel` in the body
is overridden. Otherwise identical to `POST /v1/notify/send` —
`sync=true` required, org derived from the validated principal, single
vs. list response shape.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNotifyNotifySendEmailRequest
*/
func (a *SendAPIService) NotifyNotifySendEmail(ctx context.Context) ApiNotifyNotifySendEmailRequest {
	return ApiNotifyNotifySendEmailRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NotifyNotifySend200Response
func (a *SendAPIService) NotifyNotifySendEmailExecute(r ApiNotifyNotifySendEmailRequest) (*NotifyNotifySend200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NotifyNotifySend200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SendAPIService.NotifyNotifySendEmail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/notify/send/email"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sync == nil {
		return localVarReturnValue, nil, reportError("sync is required and must be specified")
	}
	if r.notifySendRequest == nil {
		return localVarReturnValue, nil, reportError("notifySendRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "sync", r.sync, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notifySendRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNotifyNotifySendSmsRequest struct {
	ctx context.Context
	ApiService *SendAPIService
	sync *string
	notifySendRequest *NotifySendRequest
}

// Must be &#x60;true&#x60;; otherwise &#x60;503&#x60;.
func (r ApiNotifyNotifySendSmsRequest) Sync(sync string) ApiNotifyNotifySendSmsRequest {
	r.sync = &sync
	return r
}

func (r ApiNotifyNotifySendSmsRequest) NotifySendRequest(notifySendRequest NotifySendRequest) ApiNotifyNotifySendSmsRequest {
	r.notifySendRequest = &notifySendRequest
	return r
}

func (r ApiNotifyNotifySendSmsRequest) Execute() (*NotifyNotifySend200Response, *http.Response, error) {
	return r.ApiService.NotifyNotifySendSmsExecute(r)
}

/*
NotifyNotifySendSms Send an SMS notification

Convenience route that pins `channel: sms`. Any `channel` in the body is
overridden. Otherwise identical to `POST /v1/notify/send` — `sync=true`
required, org derived from the validated principal, single vs. list
response shape.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNotifyNotifySendSmsRequest
*/
func (a *SendAPIService) NotifyNotifySendSms(ctx context.Context) ApiNotifyNotifySendSmsRequest {
	return ApiNotifyNotifySendSmsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NotifyNotifySend200Response
func (a *SendAPIService) NotifyNotifySendSmsExecute(r ApiNotifyNotifySendSmsRequest) (*NotifyNotifySend200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NotifyNotifySend200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SendAPIService.NotifyNotifySendSms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/notify/send/sms"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sync == nil {
		return localVarReturnValue, nil, reportError("sync is required and must be specified")
	}
	if r.notifySendRequest == nil {
		return localVarReturnValue, nil, reportError("notifySendRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "sync", r.sync, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notifySendRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v NotifyError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
