/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SlackAPIService SlackAPI service
type SlackAPIService service

type ApiIntegrationsSlackCommandsRequest struct {
	ctx context.Context
	ApiService *SlackAPIService
	command *string
	text *string
	teamId *string
	userId *string
	channelId *string
	responseUrl *string
}

func (r ApiIntegrationsSlackCommandsRequest) Command(command string) ApiIntegrationsSlackCommandsRequest {
	r.command = &command
	return r
}

func (r ApiIntegrationsSlackCommandsRequest) Text(text string) ApiIntegrationsSlackCommandsRequest {
	r.text = &text
	return r
}

func (r ApiIntegrationsSlackCommandsRequest) TeamId(teamId string) ApiIntegrationsSlackCommandsRequest {
	r.teamId = &teamId
	return r
}

func (r ApiIntegrationsSlackCommandsRequest) UserId(userId string) ApiIntegrationsSlackCommandsRequest {
	r.userId = &userId
	return r
}

func (r ApiIntegrationsSlackCommandsRequest) ChannelId(channelId string) ApiIntegrationsSlackCommandsRequest {
	r.channelId = &channelId
	return r
}

func (r ApiIntegrationsSlackCommandsRequest) ResponseUrl(responseUrl string) ApiIntegrationsSlackCommandsRequest {
	r.responseUrl = &responseUrl
	return r
}

func (r ApiIntegrationsSlackCommandsRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackCommandsExecute(r)
}

/*
IntegrationsSlackCommands Slack slash command webhook

Public at the JWT layer; HMAC-verified inside the handler. Accepts the Slack `application/x-www-form-urlencoded` slash-command payload.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIntegrationsSlackCommandsRequest
*/
func (a *SlackAPIService) IntegrationsSlackCommands(ctx context.Context) ApiIntegrationsSlackCommandsRequest {
	return ApiIntegrationsSlackCommandsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SlackAPIService) IntegrationsSlackCommandsExecute(r ApiIntegrationsSlackCommandsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackCommands")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/commands"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.command != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "command", r.command, "", "")
	}
	if r.text != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "text", r.text, "", "")
	}
	if r.teamId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "team_id", r.teamId, "", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "user_id", r.userId, "", "")
	}
	if r.channelId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "channel_id", r.channelId, "", "")
	}
	if r.responseUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "response_url", r.responseUrl, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIntegrationsSlackEventsRequest struct {
	ctx context.Context
	ApiService *SlackAPIService
	integrationsSlackEventEnvelope *IntegrationsSlackEventEnvelope
}

func (r ApiIntegrationsSlackEventsRequest) IntegrationsSlackEventEnvelope(integrationsSlackEventEnvelope IntegrationsSlackEventEnvelope) ApiIntegrationsSlackEventsRequest {
	r.integrationsSlackEventEnvelope = &integrationsSlackEventEnvelope
	return r
}

func (r ApiIntegrationsSlackEventsRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackEventsExecute(r)
}

/*
IntegrationsSlackEvents Slack Events API webhook

Public at the JWT layer; authenticated inside the handler by HMAC-SHA256 over the raw body with the Slack signing secret. Handles the `url_verification` challenge and routes `app_mention`/`message` events to an on-behalf-of agent run.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIntegrationsSlackEventsRequest
*/
func (a *SlackAPIService) IntegrationsSlackEvents(ctx context.Context) ApiIntegrationsSlackEventsRequest {
	return ApiIntegrationsSlackEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SlackAPIService) IntegrationsSlackEventsExecute(r ApiIntegrationsSlackEventsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackEvents")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.integrationsSlackEventEnvelope == nil {
		return nil, reportError("integrationsSlackEventEnvelope is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.integrationsSlackEventEnvelope
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIntegrationsSlackLinkCallbackRequest struct {
	ctx context.Context
	ApiService *SlackAPIService
	code *string
	state *string
	error_ *string
}

func (r ApiIntegrationsSlackLinkCallbackRequest) Code(code string) ApiIntegrationsSlackLinkCallbackRequest {
	r.code = &code
	return r
}

func (r ApiIntegrationsSlackLinkCallbackRequest) State(state string) ApiIntegrationsSlackLinkCallbackRequest {
	r.state = &state
	return r
}

func (r ApiIntegrationsSlackLinkCallbackRequest) Error_(error_ string) ApiIntegrationsSlackLinkCallbackRequest {
	r.error_ = &error_
	return r
}

func (r ApiIntegrationsSlackLinkCallbackRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkCallbackExecute(r)
}

/*
IntegrationsSlackLinkCallback hanzo.id OIDC callback — bind Slack↔Hanzo (leg 3)

Reads the Slack-verified (team,user) from the `__Host-` link cookie, exchanges the OIDC code, and seals the refresh token into the workspace org's KMS namespace. Returns an HTML confirmation page.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIntegrationsSlackLinkCallbackRequest
*/
func (a *SlackAPIService) IntegrationsSlackLinkCallback(ctx context.Context) ApiIntegrationsSlackLinkCallbackRequest {
	return ApiIntegrationsSlackLinkCallbackRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *SlackAPIService) IntegrationsSlackLinkCallbackExecute(r ApiIntegrationsSlackLinkCallbackRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackLinkCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link/callback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIntegrationsSlackLinkSlackRequest struct {
	ctx context.Context
	ApiService *SlackAPIService
	code *string
	state *string
	error_ *string
}

func (r ApiIntegrationsSlackLinkSlackRequest) Code(code string) ApiIntegrationsSlackLinkSlackRequest {
	r.code = &code
	return r
}

func (r ApiIntegrationsSlackLinkSlackRequest) State(state string) ApiIntegrationsSlackLinkSlackRequest {
	r.state = &state
	return r
}

func (r ApiIntegrationsSlackLinkSlackRequest) Error_(error_ string) ApiIntegrationsSlackLinkSlackRequest {
	r.error_ = &error_
	return r
}

func (r ApiIntegrationsSlackLinkSlackRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkSlackExecute(r)
}

/*
IntegrationsSlackLinkSlack Slack sign-in callback (leg 2)

Requires the leg-1 init cookie to match the sign-in state before exchanging the code; sets the `__Host-` link cookie and redirects to hanzo.id OIDC.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIntegrationsSlackLinkSlackRequest
*/
func (a *SlackAPIService) IntegrationsSlackLinkSlack(ctx context.Context) ApiIntegrationsSlackLinkSlackRequest {
	return ApiIntegrationsSlackLinkSlackRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SlackAPIService) IntegrationsSlackLinkSlackExecute(r ApiIntegrationsSlackLinkSlackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackLinkSlack")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link/slack"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIntegrationsSlackLinkStartRequest struct {
	ctx context.Context
	ApiService *SlackAPIService
	state *string
}

// Signed, single-use link state
func (r ApiIntegrationsSlackLinkStartRequest) State(state string) ApiIntegrationsSlackLinkStartRequest {
	r.state = &state
	return r
}

func (r ApiIntegrationsSlackLinkStartRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkStartExecute(r)
}

/*
IntegrationsSlackLinkStart Begin the per-user account link (leg 1 — Slack sign-in)

Sets a `__Host-` init cookie and redirects to Slack sign-in. State-authed (no bearer).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIntegrationsSlackLinkStartRequest
*/
func (a *SlackAPIService) IntegrationsSlackLinkStart(ctx context.Context) ApiIntegrationsSlackLinkStartRequest {
	return ApiIntegrationsSlackLinkStartRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SlackAPIService) IntegrationsSlackLinkStartExecute(r ApiIntegrationsSlackLinkStartRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackLinkStart")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.state == nil {
		return nil, reportError("state is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
