/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// STTAPIAPIService STTAPIAPI service
type STTAPIAPIService service

type ApiCloudApiControllerProcessSpeechToTextRequest struct {
	ctx context.Context
	ApiService *STTAPIAPIService
	audio *os.File
	storeId *string
}

// The audio file to convert to text
func (r ApiCloudApiControllerProcessSpeechToTextRequest) Audio(audio *os.File) ApiCloudApiControllerProcessSpeechToTextRequest {
	r.audio = audio
	return r
}

// The store ID
func (r ApiCloudApiControllerProcessSpeechToTextRequest) StoreId(storeId string) ApiCloudApiControllerProcessSpeechToTextRequest {
	r.storeId = &storeId
	return r
}

func (r ApiCloudApiControllerProcessSpeechToTextRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerProcessSpeechToTextExecute(r)
}

/*
CloudApiControllerProcessSpeechToText Api Controller Process Speech To Text

convert speech to text

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCloudApiControllerProcessSpeechToTextRequest
*/
func (a *STTAPIAPIService) CloudApiControllerProcessSpeechToText(ctx context.Context) ApiCloudApiControllerProcessSpeechToTextRequest {
	return ApiCloudApiControllerProcessSpeechToTextRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *STTAPIAPIService) CloudApiControllerProcessSpeechToTextExecute(r ApiCloudApiControllerProcessSpeechToTextRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "STTAPIAPIService.CloudApiControllerProcessSpeechToText")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/process-speech-to-text"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.audio == nil {
		return localVarReturnValue, nil, reportError("audio is required and must be specified")
	}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var audioLocalVarFormFileName string
	var audioLocalVarFileName     string
	var audioLocalVarFileBytes    []byte

	audioLocalVarFormFileName = "audio"
	audioLocalVarFile := r.audio

	if audioLocalVarFile != nil {
		fbs, _ := io.ReadAll(audioLocalVarFile)

		audioLocalVarFileBytes = fbs
		audioLocalVarFileName = audioLocalVarFile.Name()
		audioLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: audioLocalVarFileBytes, fileName: audioLocalVarFileName, formFileName: audioLocalVarFormFileName})
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "storeId", r.storeId, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiNexusProcessSpeechToTextRequest struct {
	ctx context.Context
	ApiService *STTAPIAPIService
	audio *os.File
	storeId *string
}

// The audio file to convert to text
func (r ApiNexusProcessSpeechToTextRequest) Audio(audio *os.File) ApiNexusProcessSpeechToTextRequest {
	r.audio = audio
	return r
}

// The store ID
func (r ApiNexusProcessSpeechToTextRequest) StoreId(storeId string) ApiNexusProcessSpeechToTextRequest {
	r.storeId = &storeId
	return r
}

func (r ApiNexusProcessSpeechToTextRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.NexusProcessSpeechToTextExecute(r)
}

/*
NexusProcessSpeechToText process Speech To Text

Convert speech to text

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiNexusProcessSpeechToTextRequest
*/
func (a *STTAPIAPIService) NexusProcessSpeechToText(ctx context.Context) ApiNexusProcessSpeechToTextRequest {
	return ApiNexusProcessSpeechToTextRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *STTAPIAPIService) NexusProcessSpeechToTextExecute(r ApiNexusProcessSpeechToTextRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "STTAPIAPIService.NexusProcessSpeechToText")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/process-speech-to-text"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.audio == nil {
		return localVarReturnValue, nil, reportError("audio is required and must be specified")
	}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var audioLocalVarFormFileName string
	var audioLocalVarFileName     string
	var audioLocalVarFileBytes    []byte

	audioLocalVarFormFileName = "audio"
	audioLocalVarFile := r.audio

	if audioLocalVarFile != nil {
		fbs, _ := io.ReadAll(audioLocalVarFile)

		audioLocalVarFileBytes = fbs
		audioLocalVarFileName = audioLocalVarFile.Name()
		audioLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: audioLocalVarFileBytes, fileName: audioLocalVarFileName, formFileName: audioLocalVarFormFileName})
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "storeId", r.storeId, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
