/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AuthenticationAPIService AuthenticationAPI service
type AuthenticationAPIService service

type ApiAutoSignInRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	autoSignInRequest *AutoSignInRequest
}

func (r ApiAutoSignInRequest) AutoSignInRequest(autoSignInRequest AutoSignInRequest) ApiAutoSignInRequest {
	r.autoSignInRequest = &autoSignInRequest
	return r
}

func (r ApiAutoSignInRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AutoSignInExecute(r)
}

/*
AutoSignIn Sign in with credentials

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAutoSignInRequest
*/
func (a *AuthenticationAPIService) AutoSignIn(ctx context.Context) ApiAutoSignInRequest {
	return ApiAutoSignInRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AuthenticationAPIService) AutoSignInExecute(r ApiAutoSignInRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.AutoSignIn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/auto/authentication/sign-in"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoSignInRequest == nil {
		return localVarReturnValue, nil, reportError("autoSignInRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoSignInRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAutoSignUpRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	autoSignUpRequest *AutoSignUpRequest
}

func (r ApiAutoSignUpRequest) AutoSignUpRequest(autoSignUpRequest AutoSignUpRequest) ApiAutoSignUpRequest {
	r.autoSignUpRequest = &autoSignUpRequest
	return r
}

func (r ApiAutoSignUpRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AutoSignUpExecute(r)
}

/*
AutoSignUp Sign up a new user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAutoSignUpRequest
*/
func (a *AuthenticationAPIService) AutoSignUp(ctx context.Context) ApiAutoSignUpRequest {
	return ApiAutoSignUpRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AuthenticationAPIService) AutoSignUpExecute(r ApiAutoSignUpRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.AutoSignUp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/auto/authentication/sign-up"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoSignUpRequest == nil {
		return localVarReturnValue, nil, reportError("autoSignUpRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoSignUpRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFlowFederatedClaimRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	body *map[string]interface{}
}

func (r ApiFlowFederatedClaimRequest) Body(body map[string]interface{}) ApiFlowFederatedClaimRequest {
	r.body = &body
	return r
}

func (r ApiFlowFederatedClaimRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FlowFederatedClaimExecute(r)
}

/*
FlowFederatedClaim Complete federated authentication (EE)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFlowFederatedClaimRequest
*/
func (a *AuthenticationAPIService) FlowFederatedClaim(ctx context.Context) ApiFlowFederatedClaimRequest {
	return ApiFlowFederatedClaimRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AuthenticationAPIService) FlowFederatedClaimExecute(r ApiFlowFederatedClaimRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.FlowFederatedClaim")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/authn/federated/claim"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFlowFederatedLoginRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
}

func (r ApiFlowFederatedLoginRequest) Execute() (*http.Response, error) {
	return r.ApiService.FlowFederatedLoginExecute(r)
}

/*
FlowFederatedLogin Initiate federated authentication (EE)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFlowFederatedLoginRequest
*/
func (a *AuthenticationAPIService) FlowFederatedLogin(ctx context.Context) ApiFlowFederatedLoginRequest {
	return ApiFlowFederatedLoginRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AuthenticationAPIService) FlowFederatedLoginExecute(r ApiFlowFederatedLoginRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.FlowFederatedLogin")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/authn/federated/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiFlowSignInRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	autoSignInRequest *AutoSignInRequest
}

func (r ApiFlowSignInRequest) AutoSignInRequest(autoSignInRequest AutoSignInRequest) ApiFlowSignInRequest {
	r.autoSignInRequest = &autoSignInRequest
	return r
}

func (r ApiFlowSignInRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FlowSignInExecute(r)
}

/*
FlowSignIn Sign in with credentials

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFlowSignInRequest
*/
func (a *AuthenticationAPIService) FlowSignIn(ctx context.Context) ApiFlowSignInRequest {
	return ApiFlowSignInRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AuthenticationAPIService) FlowSignInExecute(r ApiFlowSignInRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.FlowSignIn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/authentication/sign-in"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoSignInRequest == nil {
		return localVarReturnValue, nil, reportError("autoSignInRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoSignInRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFlowSignUpRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	autoSignUpRequest *AutoSignUpRequest
}

func (r ApiFlowSignUpRequest) AutoSignUpRequest(autoSignUpRequest AutoSignUpRequest) ApiFlowSignUpRequest {
	r.autoSignUpRequest = &autoSignUpRequest
	return r
}

func (r ApiFlowSignUpRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FlowSignUpExecute(r)
}

/*
FlowSignUp Sign up a new user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFlowSignUpRequest
*/
func (a *AuthenticationAPIService) FlowSignUp(ctx context.Context) ApiFlowSignUpRequest {
	return ApiFlowSignUpRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AuthenticationAPIService) FlowSignUpExecute(r ApiFlowSignUpRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.FlowSignUp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/authentication/sign-up"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoSignUpRequest == nil {
		return localVarReturnValue, nil, reportError("autoSignUpRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoSignUpRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerCallbackRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	code *string
	state *string
}

// OAuth authorization code
func (r ApiIamApiControllerCallbackRequest) Code(code string) ApiIamApiControllerCallbackRequest {
	r.code = &code
	return r
}

// Opaque state round-tripped from the auth request
func (r ApiIamApiControllerCallbackRequest) State(state string) ApiIamApiControllerCallbackRequest {
	r.state = &state
	return r
}

func (r ApiIamApiControllerCallbackRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerCallbackExecute(r)
}

/*
IamApiControllerCallback Api Controller Callback

Get Login Error Counts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerCallbackRequest
*/
func (a *AuthenticationAPIService) IamApiControllerCallback(ctx context.Context) ApiIamApiControllerCallbackRequest {
	return ApiIamApiControllerCallbackRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamObjectUserinfo
func (a *AuthenticationAPIService) IamApiControllerCallbackExecute(r ApiIamApiControllerCallbackRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/callback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "code", r.code, "", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "state", r.state, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerDeviceAuthRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
}

func (r ApiIamApiControllerDeviceAuthRequest) Execute() (*IamObjectDeviceAuthResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeviceAuthExecute(r)
}

/*
IamApiControllerDeviceAuth Api Controller Device Auth

Endpoint for the device authorization flow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerDeviceAuthRequest
*/
func (a *AuthenticationAPIService) IamApiControllerDeviceAuth(ctx context.Context) ApiIamApiControllerDeviceAuthRequest {
	return ApiIamApiControllerDeviceAuthRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamObjectDeviceAuthResponse
func (a *AuthenticationAPIService) IamApiControllerDeviceAuthExecute(r ApiIamApiControllerDeviceAuthRequest) (*IamObjectDeviceAuthResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamObjectDeviceAuthResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerDeviceAuth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/device"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerFaceIDSigninBeginRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	owner *string
	name *string
}

// owner
func (r ApiIamApiControllerFaceIDSigninBeginRequest) Owner(owner string) ApiIamApiControllerFaceIDSigninBeginRequest {
	r.owner = &owner
	return r
}

// name
func (r ApiIamApiControllerFaceIDSigninBeginRequest) Name(name string) ApiIamApiControllerFaceIDSigninBeginRequest {
	r.name = &name
	return r
}

func (r ApiIamApiControllerFaceIDSigninBeginRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerFaceIDSigninBeginExecute(r)
}

/*
IamApiControllerFaceIDSigninBegin Api Controller Face ID Signin Begin

FaceId Login Flow 1st stage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerFaceIDSigninBeginRequest
*/
func (a *AuthenticationAPIService) IamApiControllerFaceIDSigninBegin(ctx context.Context) ApiIamApiControllerFaceIDSigninBeginRequest {
	return ApiIamApiControllerFaceIDSigninBeginRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamControllersResponse
func (a *AuthenticationAPIService) IamApiControllerFaceIDSigninBeginExecute(r ApiIamApiControllerFaceIDSigninBeginRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerFaceIDSigninBegin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/faceid/begin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerGetApplicationLoginRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	clientId *string
	responseType *string
	redirectUri *string
	scope *string
	state *string
}

// client id
func (r ApiIamApiControllerGetApplicationLoginRequest) ClientId(clientId string) ApiIamApiControllerGetApplicationLoginRequest {
	r.clientId = &clientId
	return r
}

// response type
func (r ApiIamApiControllerGetApplicationLoginRequest) ResponseType(responseType string) ApiIamApiControllerGetApplicationLoginRequest {
	r.responseType = &responseType
	return r
}

// redirect uri
func (r ApiIamApiControllerGetApplicationLoginRequest) RedirectUri(redirectUri string) ApiIamApiControllerGetApplicationLoginRequest {
	r.redirectUri = &redirectUri
	return r
}

// scope
func (r ApiIamApiControllerGetApplicationLoginRequest) Scope(scope string) ApiIamApiControllerGetApplicationLoginRequest {
	r.scope = &scope
	return r
}

// state
func (r ApiIamApiControllerGetApplicationLoginRequest) State(state string) ApiIamApiControllerGetApplicationLoginRequest {
	r.state = &state
	return r
}

func (r ApiIamApiControllerGetApplicationLoginRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerGetApplicationLoginExecute(r)
}

/*
IamApiControllerGetApplicationLogin Api Controller Get Application Login

get application login

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerGetApplicationLoginRequest
*/
func (a *AuthenticationAPIService) IamApiControllerGetApplicationLogin(ctx context.Context) ApiIamApiControllerGetApplicationLoginRequest {
	return ApiIamApiControllerGetApplicationLoginRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamControllersResponse
func (a *AuthenticationAPIService) IamApiControllerGetApplicationLoginExecute(r ApiIamApiControllerGetApplicationLoginRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerGetApplicationLogin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/app-login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.responseType == nil {
		return localVarReturnValue, nil, reportError("responseType is required and must be specified")
	}
	if r.redirectUri == nil {
		return localVarReturnValue, nil, reportError("redirectUri is required and must be specified")
	}
	if r.scope == nil {
		return localVarReturnValue, nil, reportError("scope is required and must be specified")
	}
	if r.state == nil {
		return localVarReturnValue, nil, reportError("state is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "clientId", r.clientId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "responseType", r.responseType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "redirectUri", r.redirectUri, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerGetCaptchaRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
}

func (r ApiIamApiControllerGetCaptchaRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerGetCaptchaExecute(r)
}

/*
IamApiControllerGetCaptcha Api Controller Get Captcha

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerGetCaptchaRequest
*/
func (a *AuthenticationAPIService) IamApiControllerGetCaptcha(ctx context.Context) ApiIamApiControllerGetCaptchaRequest {
	return ApiIamApiControllerGetCaptchaRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamObjectUserinfo
func (a *AuthenticationAPIService) IamApiControllerGetCaptchaExecute(r ApiIamApiControllerGetCaptchaRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerGetCaptcha")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/captcha"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerIntrospectTokenRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	token *string
	tokenTypeHint *string
}

// access_token&#39;s value or refresh_token&#39;s value
func (r ApiIamApiControllerIntrospectTokenRequest) Token(token string) ApiIamApiControllerIntrospectTokenRequest {
	r.token = &token
	return r
}

// the token type access_token or refresh_token
func (r ApiIamApiControllerIntrospectTokenRequest) TokenTypeHint(tokenTypeHint string) ApiIamApiControllerIntrospectTokenRequest {
	r.tokenTypeHint = &tokenTypeHint
	return r
}

func (r ApiIamApiControllerIntrospectTokenRequest) Execute() (*IamObjectIntrospectionResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerIntrospectTokenExecute(r)
}

/*
IamApiControllerIntrospectToken Api Controller Introspect Token

The introspection endpoint is an OAuth 2.0 endpoint that takes a

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerIntrospectTokenRequest
*/
func (a *AuthenticationAPIService) IamApiControllerIntrospectToken(ctx context.Context) ApiIamApiControllerIntrospectTokenRequest {
	return ApiIamApiControllerIntrospectTokenRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamObjectIntrospectionResponse
func (a *AuthenticationAPIService) IamApiControllerIntrospectTokenExecute(r ApiIamApiControllerIntrospectTokenRequest) (*IamObjectIntrospectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamObjectIntrospectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerIntrospectToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/introspect"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.token == nil {
		return localVarReturnValue, nil, reportError("token is required and must be specified")
	}
	if r.tokenTypeHint == nil {
		return localVarReturnValue, nil, reportError("tokenTypeHint is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "token", r.token, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "token_type_hint", r.tokenTypeHint, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v IamObjectTokenError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v IamObjectTokenError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerLoginRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	clientId *string
	responseType *string
	redirectUri *string
	body *map[string]interface{}
	scope *string
	state *string
	nonce *string
	codeChallengeMethod *string
	codeChallenge *string
}

// clientId
func (r ApiIamApiControllerLoginRequest) ClientId(clientId string) ApiIamApiControllerLoginRequest {
	r.clientId = &clientId
	return r
}

// responseType
func (r ApiIamApiControllerLoginRequest) ResponseType(responseType string) ApiIamApiControllerLoginRequest {
	r.responseType = &responseType
	return r
}

// redirectUri
func (r ApiIamApiControllerLoginRequest) RedirectUri(redirectUri string) ApiIamApiControllerLoginRequest {
	r.redirectUri = &redirectUri
	return r
}

// Login information
func (r ApiIamApiControllerLoginRequest) Body(body map[string]interface{}) ApiIamApiControllerLoginRequest {
	r.body = &body
	return r
}

// scope
func (r ApiIamApiControllerLoginRequest) Scope(scope string) ApiIamApiControllerLoginRequest {
	r.scope = &scope
	return r
}

// state
func (r ApiIamApiControllerLoginRequest) State(state string) ApiIamApiControllerLoginRequest {
	r.state = &state
	return r
}

// nonce
func (r ApiIamApiControllerLoginRequest) Nonce(nonce string) ApiIamApiControllerLoginRequest {
	r.nonce = &nonce
	return r
}

// code_challenge_method
func (r ApiIamApiControllerLoginRequest) CodeChallengeMethod(codeChallengeMethod string) ApiIamApiControllerLoginRequest {
	r.codeChallengeMethod = &codeChallengeMethod
	return r
}

// code_challenge
func (r ApiIamApiControllerLoginRequest) CodeChallenge(codeChallenge string) ApiIamApiControllerLoginRequest {
	r.codeChallenge = &codeChallenge
	return r
}

func (r ApiIamApiControllerLoginRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerLoginExecute(r)
}

/*
IamApiControllerLogin Api Controller Login

login

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerLoginRequest
*/
func (a *AuthenticationAPIService) IamApiControllerLogin(ctx context.Context) ApiIamApiControllerLoginRequest {
	return ApiIamApiControllerLoginRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamControllersResponse
func (a *AuthenticationAPIService) IamApiControllerLoginExecute(r ApiIamApiControllerLoginRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerLogin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.responseType == nil {
		return localVarReturnValue, nil, reportError("responseType is required and must be specified")
	}
	if r.redirectUri == nil {
		return localVarReturnValue, nil, reportError("redirectUri is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "clientId", r.clientId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "responseType", r.responseType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "redirectUri", r.redirectUri, "form", "")
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.nonce != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nonce", r.nonce, "form", "")
	}
	if r.codeChallengeMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge_method", r.codeChallengeMethod, "form", "")
	}
	if r.codeChallenge != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge", r.codeChallenge, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerLogoutRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	idTokenHint *string
	postLogoutRedirectUri *string
	state *string
	idTokenHint2 *string
	postLogoutRedirectUri2 *string
	state2 *string
}

// id_token_hint
func (r ApiIamApiControllerLogoutRequest) IdTokenHint(idTokenHint string) ApiIamApiControllerLogoutRequest {
	r.idTokenHint = &idTokenHint
	return r
}

// post_logout_redirect_uri
func (r ApiIamApiControllerLogoutRequest) PostLogoutRedirectUri(postLogoutRedirectUri string) ApiIamApiControllerLogoutRequest {
	r.postLogoutRedirectUri = &postLogoutRedirectUri
	return r
}

// state
func (r ApiIamApiControllerLogoutRequest) State(state string) ApiIamApiControllerLogoutRequest {
	r.state = &state
	return r
}

func (r ApiIamApiControllerLogoutRequest) IdTokenHint2(idTokenHint2 string) ApiIamApiControllerLogoutRequest {
	r.idTokenHint2 = &idTokenHint2
	return r
}

func (r ApiIamApiControllerLogoutRequest) PostLogoutRedirectUri2(postLogoutRedirectUri2 string) ApiIamApiControllerLogoutRequest {
	r.postLogoutRedirectUri2 = &postLogoutRedirectUri2
	return r
}

func (r ApiIamApiControllerLogoutRequest) State2(state2 string) ApiIamApiControllerLogoutRequest {
	r.state2 = &state2
	return r
}

func (r ApiIamApiControllerLogoutRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerLogoutExecute(r)
}

/*
IamApiControllerLogout Api Controller Logout

logout the current user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerLogoutRequest
*/
func (a *AuthenticationAPIService) IamApiControllerLogout(ctx context.Context) ApiIamApiControllerLogoutRequest {
	return ApiIamApiControllerLogoutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamControllersResponse
func (a *AuthenticationAPIService) IamApiControllerLogoutExecute(r ApiIamApiControllerLogoutRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerLogout")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/logout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.idTokenHint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_token_hint", r.idTokenHint, "form", "")
	}
	if r.postLogoutRedirectUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "post_logout_redirect_uri", r.postLogoutRedirectUri, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idTokenHint2 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "id_token_hint", r.idTokenHint2, "", "")
	}
	if r.postLogoutRedirectUri2 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "post_logout_redirect_uri", r.postLogoutRedirectUri2, "", "")
	}
	if r.state2 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "state", r.state2, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerSignupRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	username *string
	password *string
}

// The username to sign up
func (r ApiIamApiControllerSignupRequest) Username(username string) ApiIamApiControllerSignupRequest {
	r.username = &username
	return r
}

// The password
func (r ApiIamApiControllerSignupRequest) Password(password string) ApiIamApiControllerSignupRequest {
	r.password = &password
	return r
}

func (r ApiIamApiControllerSignupRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerSignupExecute(r)
}

/*
IamApiControllerSignup Api Controller Signup

sign up a new user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerSignupRequest
*/
func (a *AuthenticationAPIService) IamApiControllerSignup(ctx context.Context) ApiIamApiControllerSignupRequest {
	return ApiIamApiControllerSignupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamControllersResponse
func (a *AuthenticationAPIService) IamApiControllerSignupExecute(r ApiIamApiControllerSignupRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerSignup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/signup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.username == nil {
		return localVarReturnValue, nil, reportError("username is required and must be specified")
	}
	if r.password == nil {
		return localVarReturnValue, nil, reportError("password is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "username", r.username, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "password", r.password, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerSsoLogoutGetRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	logoutAll *string
}

// Whether to logout from all sessions. Accepted values: &#39;true&#39;, &#39;1&#39;, or empty (default: true). Any other value means false.
func (r ApiIamApiControllerSsoLogoutGetRequest) LogoutAll(logoutAll string) ApiIamApiControllerSsoLogoutGetRequest {
	r.logoutAll = &logoutAll
	return r
}

func (r ApiIamApiControllerSsoLogoutGetRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerSsoLogoutGetExecute(r)
}

/*
IamApiControllerSsoLogoutGet Api Controller Sso Logout

logout the current user from all applications or current session only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerSsoLogoutGetRequest
*/
func (a *AuthenticationAPIService) IamApiControllerSsoLogoutGet(ctx context.Context) ApiIamApiControllerSsoLogoutGetRequest {
	return ApiIamApiControllerSsoLogoutGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamControllersResponse
func (a *AuthenticationAPIService) IamApiControllerSsoLogoutGetExecute(r ApiIamApiControllerSsoLogoutGetRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerSsoLogoutGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sso-logout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.logoutAll != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logoutAll", r.logoutAll, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerSsoLogoutPostRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	logoutAll *string
}

// Whether to logout from all sessions. Accepted values: &#39;true&#39;, &#39;1&#39;, or empty (default: true). Any other value means false.
func (r ApiIamApiControllerSsoLogoutPostRequest) LogoutAll(logoutAll string) ApiIamApiControllerSsoLogoutPostRequest {
	r.logoutAll = &logoutAll
	return r
}

func (r ApiIamApiControllerSsoLogoutPostRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerSsoLogoutPostExecute(r)
}

/*
IamApiControllerSsoLogoutPost Api Controller Sso Logout

logout the current user from all applications or current session only

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerSsoLogoutPostRequest
*/
func (a *AuthenticationAPIService) IamApiControllerSsoLogoutPost(ctx context.Context) ApiIamApiControllerSsoLogoutPostRequest {
	return ApiIamApiControllerSsoLogoutPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamControllersResponse
func (a *AuthenticationAPIService) IamApiControllerSsoLogoutPostExecute(r ApiIamApiControllerSsoLogoutPostRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerSsoLogoutPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sso-logout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.logoutAll != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logoutAll", r.logoutAll, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerUnlinkRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	iamControllersLinkForm *IamControllersLinkForm
}

func (r ApiIamApiControllerUnlinkRequest) IamControllersLinkForm(iamControllersLinkForm IamControllersLinkForm) ApiIamApiControllerUnlinkRequest {
	r.iamControllersLinkForm = &iamControllersLinkForm
	return r
}

func (r ApiIamApiControllerUnlinkRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerUnlinkExecute(r)
}

/*
IamApiControllerUnlink Api Controller Unlink

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerUnlinkRequest
*/
func (a *AuthenticationAPIService) IamApiControllerUnlink(ctx context.Context) ApiIamApiControllerUnlinkRequest {
	return ApiIamApiControllerUnlinkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamObjectUserinfo
func (a *AuthenticationAPIService) IamApiControllerUnlinkExecute(r ApiIamApiControllerUnlinkRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerUnlink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/unlink"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamControllersLinkForm == nil {
		return localVarReturnValue, nil, reportError("iamControllersLinkForm is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamControllersLinkForm
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerWebAuthnSigninBeginRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	owner *string
	name *string
}

// owner
func (r ApiIamApiControllerWebAuthnSigninBeginRequest) Owner(owner string) ApiIamApiControllerWebAuthnSigninBeginRequest {
	r.owner = &owner
	return r
}

// name
func (r ApiIamApiControllerWebAuthnSigninBeginRequest) Name(name string) ApiIamApiControllerWebAuthnSigninBeginRequest {
	r.name = &name
	return r
}

func (r ApiIamApiControllerWebAuthnSigninBeginRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerWebAuthnSigninBeginExecute(r)
}

/*
IamApiControllerWebAuthnSigninBegin Api Controller Web Authn Signin Begin

WebAuthn Login Flow 1st stage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerWebAuthnSigninBeginRequest
*/
func (a *AuthenticationAPIService) IamApiControllerWebAuthnSigninBegin(ctx context.Context) ApiIamApiControllerWebAuthnSigninBeginRequest {
	return ApiIamApiControllerWebAuthnSigninBeginRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AuthenticationAPIService) IamApiControllerWebAuthnSigninBeginExecute(r ApiIamApiControllerWebAuthnSigninBeginRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerWebAuthnSigninBegin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/webauthn/signin/begin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamApiControllerWebAuthnSigninFinishRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	body *map[string]interface{}
}

// authenticator assertion Response
func (r ApiIamApiControllerWebAuthnSigninFinishRequest) Body(body map[string]interface{}) ApiIamApiControllerWebAuthnSigninFinishRequest {
	r.body = &body
	return r
}

func (r ApiIamApiControllerWebAuthnSigninFinishRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerWebAuthnSigninFinishExecute(r)
}

/*
IamApiControllerWebAuthnSigninFinish Api Controller Web Authn Signin Finish

WebAuthn Login Flow 2nd stage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamApiControllerWebAuthnSigninFinishRequest
*/
func (a *AuthenticationAPIService) IamApiControllerWebAuthnSigninFinish(ctx context.Context) ApiIamApiControllerWebAuthnSigninFinishRequest {
	return ApiIamApiControllerWebAuthnSigninFinishRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamControllersResponse
func (a *AuthenticationAPIService) IamApiControllerWebAuthnSigninFinishExecute(r ApiIamApiControllerWebAuthnSigninFinishRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamApiControllerWebAuthnSigninFinish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/webauthn/signin/finish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamRootControllerGetJwksRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
}

func (r ApiIamRootControllerGetJwksRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamRootControllerGetJwksExecute(r)
}

/*
IamRootControllerGetJwks Root Controller Get Jwks

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamRootControllerGetJwksRequest
*/
func (a *AuthenticationAPIService) IamRootControllerGetJwks(ctx context.Context) ApiIamRootControllerGetJwksRequest {
	return ApiIamRootControllerGetJwksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AuthenticationAPIService) IamRootControllerGetJwksExecute(r ApiIamRootControllerGetJwksRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamRootControllerGetJwks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/jwks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamRootControllerGetJwksByApplicationRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	application string
}

func (r ApiIamRootControllerGetJwksByApplicationRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamRootControllerGetJwksByApplicationExecute(r)
}

/*
IamRootControllerGetJwksByApplication Root Controller Get Jwks By Application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param application application name
 @return ApiIamRootControllerGetJwksByApplicationRequest
*/
func (a *AuthenticationAPIService) IamRootControllerGetJwksByApplication(ctx context.Context, application string) ApiIamRootControllerGetJwksByApplicationRequest {
	return ApiIamRootControllerGetJwksByApplicationRequest{
		ApiService: a,
		ctx: ctx,
		application: application,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AuthenticationAPIService) IamRootControllerGetJwksByApplicationExecute(r ApiIamRootControllerGetJwksByApplicationRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamRootControllerGetJwksByApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/{application}/jwks"
	localVarPath = strings.Replace(localVarPath, "{"+"application"+"}", url.PathEscape(parameterValueToString(r.application, "application")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamRootControllerGetOidcDiscoveryRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
}

func (r ApiIamRootControllerGetOidcDiscoveryRequest) Execute() (*IamObjectOidcDiscovery, *http.Response, error) {
	return r.ApiService.IamRootControllerGetOidcDiscoveryExecute(r)
}

/*
IamRootControllerGetOidcDiscovery Root Controller Get Oidc Discovery

Get Oidc Discovery

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamRootControllerGetOidcDiscoveryRequest
*/
func (a *AuthenticationAPIService) IamRootControllerGetOidcDiscovery(ctx context.Context) ApiIamRootControllerGetOidcDiscoveryRequest {
	return ApiIamRootControllerGetOidcDiscoveryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamObjectOidcDiscovery
func (a *AuthenticationAPIService) IamRootControllerGetOidcDiscoveryExecute(r ApiIamRootControllerGetOidcDiscoveryRequest) (*IamObjectOidcDiscovery, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamObjectOidcDiscovery
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamRootControllerGetOidcDiscovery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/openid-configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamRootControllerGetOidcDiscoveryByApplicationRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	application string
}

func (r ApiIamRootControllerGetOidcDiscoveryByApplicationRequest) Execute() (*IamObjectOidcDiscovery, *http.Response, error) {
	return r.ApiService.IamRootControllerGetOidcDiscoveryByApplicationExecute(r)
}

/*
IamRootControllerGetOidcDiscoveryByApplication Root Controller Get Oidc Discovery By Application

Get Oidc Discovery for specific application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param application application name
 @return ApiIamRootControllerGetOidcDiscoveryByApplicationRequest
*/
func (a *AuthenticationAPIService) IamRootControllerGetOidcDiscoveryByApplication(ctx context.Context, application string) ApiIamRootControllerGetOidcDiscoveryByApplicationRequest {
	return ApiIamRootControllerGetOidcDiscoveryByApplicationRequest{
		ApiService: a,
		ctx: ctx,
		application: application,
	}
}

// Execute executes the request
//  @return IamObjectOidcDiscovery
func (a *AuthenticationAPIService) IamRootControllerGetOidcDiscoveryByApplicationExecute(r ApiIamRootControllerGetOidcDiscoveryByApplicationRequest) (*IamObjectOidcDiscovery, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamObjectOidcDiscovery
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamRootControllerGetOidcDiscoveryByApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/{application}/openid-configuration"
	localVarPath = strings.Replace(localVarPath, "{"+"application"+"}", url.PathEscape(parameterValueToString(r.application, "application")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamRootControllerGetWebFingerRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	resource *string
}

// resource
func (r ApiIamRootControllerGetWebFingerRequest) Resource(resource string) ApiIamRootControllerGetWebFingerRequest {
	r.resource = &resource
	return r
}

func (r ApiIamRootControllerGetWebFingerRequest) Execute() (*IamObjectWebFinger, *http.Response, error) {
	return r.ApiService.IamRootControllerGetWebFingerExecute(r)
}

/*
IamRootControllerGetWebFinger Root Controller Get Web Finger

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIamRootControllerGetWebFingerRequest
*/
func (a *AuthenticationAPIService) IamRootControllerGetWebFinger(ctx context.Context) ApiIamRootControllerGetWebFingerRequest {
	return ApiIamRootControllerGetWebFingerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IamObjectWebFinger
func (a *AuthenticationAPIService) IamRootControllerGetWebFingerExecute(r ApiIamRootControllerGetWebFingerRequest) (*IamObjectWebFinger, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IamObjectWebFinger
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.IamRootControllerGetWebFinger")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/webfinger"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resource == nil {
		return localVarReturnValue, nil, reportError("resource is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIamRootControllerGetWebFingerByApplicationRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	application string
	resource *string
}

// resource
func (r ApiIamRootControllerGetWebFingerByApplicationRequest) Resource(resource string) ApiIamRootControllerGetWebFingerByApplicationRequest {
	r.resource = &resource
	return r
}

func (r ApiIamRootControllerGetWebFingerByApplicationRequest) Execute() (*IamObjectWebFinger, *http.Response, error) {
	return r.ApiService.IamRootControllerGetWebFingerByApplicationExecute(r)
}

/*
IamRootControllerGetWebFingerByApplication Root Controller Get Web Finger By Application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param application application name
 @return ApiIamRootControllerGetWebFingerByApplicationRequest
*/
[...]
