/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// DatasetItemsAPIService DatasetItemsAPI service
type DatasetItemsAPIService service

type ApiConsoleCreateDatasetItemRequest struct {
	ctx context.Context
	ApiService *DatasetItemsAPIService
	consoleCreateDatasetItemRequest *ConsoleCreateDatasetItemRequest
}

func (r ApiConsoleCreateDatasetItemRequest) ConsoleCreateDatasetItemRequest(consoleCreateDatasetItemRequest ConsoleCreateDatasetItemRequest) ApiConsoleCreateDatasetItemRequest {
	r.consoleCreateDatasetItemRequest = &consoleCreateDatasetItemRequest
	return r
}

func (r ApiConsoleCreateDatasetItemRequest) Execute() (*ConsoleDatasetItem, *http.Response, error) {
	return r.ApiService.ConsoleCreateDatasetItemExecute(r)
}

/*
ConsoleCreateDatasetItem Create or upsert a dataset item

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConsoleCreateDatasetItemRequest
*/
func (a *DatasetItemsAPIService) ConsoleCreateDatasetItem(ctx context.Context) ApiConsoleCreateDatasetItemRequest {
	return ApiConsoleCreateDatasetItemRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConsoleDatasetItem
func (a *DatasetItemsAPIService) ConsoleCreateDatasetItemExecute(r ApiConsoleCreateDatasetItemRequest) (*ConsoleDatasetItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsoleDatasetItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatasetItemsAPIService.ConsoleCreateDatasetItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consoleCreateDatasetItemRequest == nil {
		return localVarReturnValue, nil, reportError("consoleCreateDatasetItemRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consoleCreateDatasetItemRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsoleDeleteDatasetItemRequest struct {
	ctx context.Context
	ApiService *DatasetItemsAPIService
	id string
}

func (r ApiConsoleDeleteDatasetItemRequest) Execute() (*ConsoleDeleteDatasetItem200Response, *http.Response, error) {
	return r.ApiService.ConsoleDeleteDatasetItemExecute(r)
}

/*
ConsoleDeleteDatasetItem Delete a dataset item

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiConsoleDeleteDatasetItemRequest
*/
func (a *DatasetItemsAPIService) ConsoleDeleteDatasetItem(ctx context.Context, id string) ApiConsoleDeleteDatasetItemRequest {
	return ApiConsoleDeleteDatasetItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ConsoleDeleteDatasetItem200Response
func (a *DatasetItemsAPIService) ConsoleDeleteDatasetItemExecute(r ApiConsoleDeleteDatasetItemRequest) (*ConsoleDeleteDatasetItem200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsoleDeleteDatasetItem200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatasetItemsAPIService.ConsoleDeleteDatasetItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsoleGetDatasetItemRequest struct {
	ctx context.Context
	ApiService *DatasetItemsAPIService
	id string
}

func (r ApiConsoleGetDatasetItemRequest) Execute() (*ConsoleDatasetItem, *http.Response, error) {
	return r.ApiService.ConsoleGetDatasetItemExecute(r)
}

/*
ConsoleGetDatasetItem Get a dataset item

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiConsoleGetDatasetItemRequest
*/
func (a *DatasetItemsAPIService) ConsoleGetDatasetItem(ctx context.Context, id string) ApiConsoleGetDatasetItemRequest {
	return ApiConsoleGetDatasetItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ConsoleDatasetItem
func (a *DatasetItemsAPIService) ConsoleGetDatasetItemExecute(r ApiConsoleGetDatasetItemRequest) (*ConsoleDatasetItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsoleDatasetItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatasetItemsAPIService.ConsoleGetDatasetItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsoleListDatasetItemsRequest struct {
	ctx context.Context
	ApiService *DatasetItemsAPIService
	datasetName *string
	sourceTraceId *string
	sourceObservationId *string
	version *time.Time
	page *int32
	limit *int32
}

func (r ApiConsoleListDatasetItemsRequest) DatasetName(datasetName string) ApiConsoleListDatasetItemsRequest {
	r.datasetName = &datasetName
	return r
}

func (r ApiConsoleListDatasetItemsRequest) SourceTraceId(sourceTraceId string) ApiConsoleListDatasetItemsRequest {
	r.sourceTraceId = &sourceTraceId
	return r
}

func (r ApiConsoleListDatasetItemsRequest) SourceObservationId(sourceObservationId string) ApiConsoleListDatasetItemsRequest {
	r.sourceObservationId = &sourceObservationId
	return r
}

// ISO 8601 timestamp. Returns state of dataset at this time.
func (r ApiConsoleListDatasetItemsRequest) Version(version time.Time) ApiConsoleListDatasetItemsRequest {
	r.version = &version
	return r
}

func (r ApiConsoleListDatasetItemsRequest) Page(page int32) ApiConsoleListDatasetItemsRequest {
	r.page = &page
	return r
}

func (r ApiConsoleListDatasetItemsRequest) Limit(limit int32) ApiConsoleListDatasetItemsRequest {
	r.limit = &limit
	return r
}

func (r ApiConsoleListDatasetItemsRequest) Execute() (*ConsoleListDatasetItems200Response, *http.Response, error) {
	return r.ApiService.ConsoleListDatasetItemsExecute(r)
}

/*
ConsoleListDatasetItems Get dataset items

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConsoleListDatasetItemsRequest
*/
func (a *DatasetItemsAPIService) ConsoleListDatasetItems(ctx context.Context) ApiConsoleListDatasetItemsRequest {
	return ApiConsoleListDatasetItemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConsoleListDatasetItems200Response
func (a *DatasetItemsAPIService) ConsoleListDatasetItemsExecute(r ApiConsoleListDatasetItemsRequest) (*ConsoleListDatasetItems200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsoleListDatasetItems200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatasetItemsAPIService.ConsoleListDatasetItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.datasetName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datasetName", r.datasetName, "form", "")
	}
	if r.sourceTraceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sourceTraceId", r.sourceTraceId, "form", "")
	}
	if r.sourceObservationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sourceObservationId", r.sourceObservationId, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
