/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// AuditAPIService AuditAPI service
type AuditAPIService service

type ApiAdminAdminListAuditRequest struct {
	ctx context.Context
	ApiService *AuditAPIService
	org *string
	sub *string
	action *string
	resource *string
	result *string
	since *time.Time
	until *time.Time
	pageSize *int32
	p *int32
}

func (r ApiAdminAdminListAuditRequest) Org(org string) ApiAdminAdminListAuditRequest {
	r.org = &org
	return r
}

func (r ApiAdminAdminListAuditRequest) Sub(sub string) ApiAdminAdminListAuditRequest {
	r.sub = &sub
	return r
}

func (r ApiAdminAdminListAuditRequest) Action(action string) ApiAdminAdminListAuditRequest {
	r.action = &action
	return r
}

func (r ApiAdminAdminListAuditRequest) Resource(resource string) ApiAdminAdminListAuditRequest {
	r.resource = &resource
	return r
}

func (r ApiAdminAdminListAuditRequest) Result(result string) ApiAdminAdminListAuditRequest {
	r.result = &result
	return r
}

func (r ApiAdminAdminListAuditRequest) Since(since time.Time) ApiAdminAdminListAuditRequest {
	r.since = &since
	return r
}

func (r ApiAdminAdminListAuditRequest) Until(until time.Time) ApiAdminAdminListAuditRequest {
	r.until = &until
	return r
}

func (r ApiAdminAdminListAuditRequest) PageSize(pageSize int32) ApiAdminAdminListAuditRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiAdminAdminListAuditRequest) P(p int32) ApiAdminAdminListAuditRequest {
	r.p = &p
	return r
}

func (r ApiAdminAdminListAuditRequest) Execute() (*AdminAdminListAudit200Response, *http.Response, error) {
	return r.ApiService.AdminAdminListAuditExecute(r)
}

/*
AdminAdminListAudit Query the tamper-evident audit trail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAdminAdminListAuditRequest
*/
func (a *AuditAPIService) AdminAdminListAudit(ctx context.Context) ApiAdminAdminListAuditRequest {
	return ApiAdminAdminListAuditRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AdminAdminListAudit200Response
func (a *AuditAPIService) AdminAdminListAuditExecute(r ApiAdminAdminListAuditRequest) (*AdminAdminListAudit200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AdminAdminListAudit200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditAPIService.AdminAdminListAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.sub != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sub", r.sub, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.resource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "form", "")
	}
	if r.result != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "result", r.result, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 100
		r.pageSize = &defaultValue
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	} else {
		var defaultValue int32 = 1
		r.p = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAdminAdminVerifyAuditRequest struct {
	ctx context.Context
	ApiService *AuditAPIService
}

func (r ApiAdminAdminVerifyAuditRequest) Execute() (*AdminAdminVerifyAudit200Response, *http.Response, error) {
	return r.ApiService.AdminAdminVerifyAuditExecute(r)
}

/*
AdminAdminVerifyAudit Verify audit-chain integrity

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAdminAdminVerifyAuditRequest
*/
func (a *AuditAPIService) AdminAdminVerifyAudit(ctx context.Context) ApiAdminAdminVerifyAuditRequest {
	return ApiAdminAdminVerifyAuditRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AdminAdminVerifyAudit200Response
func (a *AuditAPIService) AdminAdminVerifyAuditExecute(r ApiAdminAdminVerifyAuditRequest) (*AdminAdminVerifyAudit200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AdminAdminVerifyAudit200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditAPIService.AdminAdminVerifyAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGuardGetAuditLogRequest struct {
	ctx context.Context
	ApiService *AuditAPIService
	userId *string
	sessionId *string
	result *string
	since *time.Time
	until *time.Time
	limit *int32
}

// Filter by user ID
func (r ApiGuardGetAuditLogRequest) UserId(userId string) ApiGuardGetAuditLogRequest {
	r.userId = &userId
	return r
}

// Filter by session ID
func (r ApiGuardGetAuditLogRequest) SessionId(sessionId string) ApiGuardGetAuditLogRequest {
	r.sessionId = &sessionId
	return r
}

// Filter by result type
func (r ApiGuardGetAuditLogRequest) Result(result string) ApiGuardGetAuditLogRequest {
	r.result = &result
	return r
}

// Entries after this timestamp
func (r ApiGuardGetAuditLogRequest) Since(since time.Time) ApiGuardGetAuditLogRequest {
	r.since = &since
	return r
}

// Entries before this timestamp
func (r ApiGuardGetAuditLogRequest) Until(until time.Time) ApiGuardGetAuditLogRequest {
	r.until = &until
	return r
}

func (r ApiGuardGetAuditLogRequest) Limit(limit int32) ApiGuardGetAuditLogRequest {
	r.limit = &limit
	return r
}

func (r ApiGuardGetAuditLogRequest) Execute() (*GuardGetAuditLog200Response, *http.Response, error) {
	return r.ApiService.GuardGetAuditLogExecute(r)
}

/*
GuardGetAuditLog Get audit log

Retrieve audit log entries in JSONL format.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGuardGetAuditLogRequest
*/
func (a *AuditAPIService) GuardGetAuditLog(ctx context.Context) ApiGuardGetAuditLogRequest {
	return ApiGuardGetAuditLogRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GuardGetAuditLog200Response
func (a *AuditAPIService) GuardGetAuditLogExecute(r ApiGuardGetAuditLogRequest) (*GuardGetAuditLog200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GuardGetAuditLog200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditAPIService.GuardGetAuditLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guard/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "form", "")
	}
	if r.result != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "result", r.result, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
