/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SanitizeAPIService SanitizeAPI service
type SanitizeAPIService service

type ApiGuardSanitizeInputRequest struct {
	ctx context.Context
	ApiService *SanitizeAPIService
	guardSanitizeRequest *GuardSanitizeRequest
}

func (r ApiGuardSanitizeInputRequest) GuardSanitizeRequest(guardSanitizeRequest GuardSanitizeRequest) ApiGuardSanitizeInputRequest {
	r.guardSanitizeRequest = &guardSanitizeRequest
	return r
}

func (r ApiGuardSanitizeInputRequest) Execute() (*GuardSanitizeResult, *http.Response, error) {
	return r.ApiService.GuardSanitizeInputExecute(r)
}

/*
GuardSanitizeInput Sanitize user input

Sanitize user input before sending to an LLM. Runs all 5 stages:
rate limiting → injection detection → PII redaction → content filtering → audit logging.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGuardSanitizeInputRequest
*/
func (a *SanitizeAPIService) GuardSanitizeInput(ctx context.Context) ApiGuardSanitizeInputRequest {
	return ApiGuardSanitizeInputRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GuardSanitizeResult
func (a *SanitizeAPIService) GuardSanitizeInputExecute(r ApiGuardSanitizeInputRequest) (*GuardSanitizeResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GuardSanitizeResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SanitizeAPIService.GuardSanitizeInput")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guard/sanitize/input"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.guardSanitizeRequest == nil {
		return localVarReturnValue, nil, reportError("guardSanitizeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.guardSanitizeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v GuardError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGuardSanitizeOutputRequest struct {
	ctx context.Context
	ApiService *SanitizeAPIService
	guardSanitizeRequest *GuardSanitizeRequest
}

func (r ApiGuardSanitizeOutputRequest) GuardSanitizeRequest(guardSanitizeRequest GuardSanitizeRequest) ApiGuardSanitizeOutputRequest {
	r.guardSanitizeRequest = &guardSanitizeRequest
	return r
}

func (r ApiGuardSanitizeOutputRequest) Execute() (*GuardSanitizeResult, *http.Response, error) {
	return r.ApiService.GuardSanitizeOutputExecute(r)
}

/*
GuardSanitizeOutput Sanitize LLM output

Sanitize LLM output before returning to the user.
Runs PII redaction and content filtering stages.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGuardSanitizeOutputRequest
*/
func (a *SanitizeAPIService) GuardSanitizeOutput(ctx context.Context) ApiGuardSanitizeOutputRequest {
	return ApiGuardSanitizeOutputRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GuardSanitizeResult
func (a *SanitizeAPIService) GuardSanitizeOutputExecute(r ApiGuardSanitizeOutputRequest) (*GuardSanitizeResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GuardSanitizeResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SanitizeAPIService.GuardSanitizeOutput")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guard/sanitize/output"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.guardSanitizeRequest == nil {
		return localVarReturnValue, nil, reportError("guardSanitizeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.guardSanitizeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
