/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// EvaluatorsAPIService EvaluatorsAPI service
type EvaluatorsAPIService service

type ApiEvalsPostV1EvalsEvaluatorsRequest struct {
	ctx context.Context
	ApiService *EvaluatorsAPIService
	evalsEvaluator *EvalsEvaluator
}

func (r ApiEvalsPostV1EvalsEvaluatorsRequest) EvalsEvaluator(evalsEvaluator EvalsEvaluator) ApiEvalsPostV1EvalsEvaluatorsRequest {
	r.evalsEvaluator = &evalsEvaluator
	return r
}

func (r ApiEvalsPostV1EvalsEvaluatorsRequest) Execute() (*http.Response, error) {
	return r.ApiService.EvalsPostV1EvalsEvaluatorsExecute(r)
}

/*
EvalsPostV1EvalsEvaluators Register an evaluator (pre-built metric or custom rubric)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEvalsPostV1EvalsEvaluatorsRequest
*/
func (a *EvaluatorsAPIService) EvalsPostV1EvalsEvaluators(ctx context.Context) ApiEvalsPostV1EvalsEvaluatorsRequest {
	return ApiEvalsPostV1EvalsEvaluatorsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *EvaluatorsAPIService) EvalsPostV1EvalsEvaluatorsExecute(r ApiEvalsPostV1EvalsEvaluatorsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluatorsAPIService.EvalsPostV1EvalsEvaluators")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/evaluators"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evalsEvaluator == nil {
		return nil, reportError("evalsEvaluator is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evalsEvaluator
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
