/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// StatsAPIService StatsAPI service
type StatsAPIService service

type ApiAnalyticsGetWebsiteMetricsRequest struct {
	ctx context.Context
	ApiService *StatsAPIService
	websiteId string
	startAt *int64
	endAt *int64
	type_ *string
	limit *int32
	offset *int32
	search *string
	url *string
	referrer *string
	title *string
	os *string
	browser *string
	device *string
	country *string
	region *string
	city *string
	tag *string
	host *string
	language *string
	event *string
}

// Start timestamp in milliseconds
func (r ApiAnalyticsGetWebsiteMetricsRequest) StartAt(startAt int64) ApiAnalyticsGetWebsiteMetricsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r ApiAnalyticsGetWebsiteMetricsRequest) EndAt(endAt int64) ApiAnalyticsGetWebsiteMetricsRequest {
	r.endAt = &endAt
	return r
}

// Metric type to break down by
func (r ApiAnalyticsGetWebsiteMetricsRequest) Type_(type_ string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.type_ = &type_
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Limit(limit int32) ApiAnalyticsGetWebsiteMetricsRequest {
	r.limit = &limit
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Offset(offset int32) ApiAnalyticsGetWebsiteMetricsRequest {
	r.offset = &offset
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Search(search string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.search = &search
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Url(url string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.url = &url
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Referrer(referrer string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.referrer = &referrer
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Title(title string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.title = &title
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Os(os string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.os = &os
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Browser(browser string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.browser = &browser
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Device(device string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.device = &device
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Country(country string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.country = &country
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Region(region string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.region = &region
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) City(city string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.city = &city
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Tag(tag string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.tag = &tag
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Host(host string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.host = &host
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Language(language string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.language = &language
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Event(event string) ApiAnalyticsGetWebsiteMetricsRequest {
	r.event = &event
	return r
}

func (r ApiAnalyticsGetWebsiteMetricsRequest) Execute() ([]AnalyticsMetric, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteMetricsExecute(r)
}

/*
AnalyticsGetWebsiteMetrics Get breakdown metrics by type (url, referrer, browser, os, device, country, event, channel, etc.)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsGetWebsiteMetricsRequest
*/
func (a *StatsAPIService) AnalyticsGetWebsiteMetrics(ctx context.Context, websiteId string) ApiAnalyticsGetWebsiteMetricsRequest {
	return ApiAnalyticsGetWebsiteMetricsRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return []AnalyticsMetric
func (a *StatsAPIService) AnalyticsGetWebsiteMetricsExecute(r ApiAnalyticsGetWebsiteMetricsRequest) ([]AnalyticsMetric, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AnalyticsMetric
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.AnalyticsGetWebsiteMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/metrics"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.referrer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referrer", r.referrer, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsGetWebsiteStatsRequest struct {
	ctx context.Context
	ApiService *StatsAPIService
	websiteId string
	startAt *int64
	endAt *int64
	compare *string
	url *string
	referrer *string
	title *string
	os *string
	browser *string
	device *string
	country *string
	region *string
	city *string
	tag *string
	host *string
	language *string
	event *string
}

// Start timestamp in milliseconds
func (r ApiAnalyticsGetWebsiteStatsRequest) StartAt(startAt int64) ApiAnalyticsGetWebsiteStatsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r ApiAnalyticsGetWebsiteStatsRequest) EndAt(endAt int64) ApiAnalyticsGetWebsiteStatsRequest {
	r.endAt = &endAt
	return r
}

// Compare period (e.g. \&quot;previous_period\&quot;)
func (r ApiAnalyticsGetWebsiteStatsRequest) Compare(compare string) ApiAnalyticsGetWebsiteStatsRequest {
	r.compare = &compare
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Url(url string) ApiAnalyticsGetWebsiteStatsRequest {
	r.url = &url
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Referrer(referrer string) ApiAnalyticsGetWebsiteStatsRequest {
	r.referrer = &referrer
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Title(title string) ApiAnalyticsGetWebsiteStatsRequest {
	r.title = &title
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Os(os string) ApiAnalyticsGetWebsiteStatsRequest {
	r.os = &os
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Browser(browser string) ApiAnalyticsGetWebsiteStatsRequest {
	r.browser = &browser
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Device(device string) ApiAnalyticsGetWebsiteStatsRequest {
	r.device = &device
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Country(country string) ApiAnalyticsGetWebsiteStatsRequest {
	r.country = &country
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Region(region string) ApiAnalyticsGetWebsiteStatsRequest {
	r.region = &region
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) City(city string) ApiAnalyticsGetWebsiteStatsRequest {
	r.city = &city
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Tag(tag string) ApiAnalyticsGetWebsiteStatsRequest {
	r.tag = &tag
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Host(host string) ApiAnalyticsGetWebsiteStatsRequest {
	r.host = &host
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Language(language string) ApiAnalyticsGetWebsiteStatsRequest {
	r.language = &language
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Event(event string) ApiAnalyticsGetWebsiteStatsRequest {
	r.event = &event
	return r
}

func (r ApiAnalyticsGetWebsiteStatsRequest) Execute() (*AnalyticsGetWebsiteStats200Response, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteStatsExecute(r)
}

/*
AnalyticsGetWebsiteStats Get aggregate statistics for a website

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param websiteId
 @return ApiAnalyticsGetWebsiteStatsRequest
*/
func (a *StatsAPIService) AnalyticsGetWebsiteStats(ctx context.Context, websiteId string) ApiAnalyticsGetWebsiteStatsRequest {
	return ApiAnalyticsGetWebsiteStatsRequest{
		ApiService: a,
		ctx: ctx,
		websiteId: websiteId,
	}
}

// Execute executes the request
//  @return AnalyticsGetWebsiteStats200Response
func (a *StatsAPIService) AnalyticsGetWebsiteStatsExecute(r ApiAnalyticsGetWebsiteStatsRequest) (*AnalyticsGetWebsiteStats200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnalyticsGetWebsiteStats200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.AnalyticsGetWebsiteStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.compare != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compare", r.compare, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.referrer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referrer", r.referrer, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchGetIndexStatsRequest struct {
	ctx context.Context
	ApiService *StatsAPIService
	indexUid string
}

func (r ApiSearchGetIndexStatsRequest) Execute() (*SearchIndexStats, *http.Response, error) {
	return r.ApiService.SearchGetIndexStatsExecute(r)
}

/*
SearchGetIndexStats Get index statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param indexUid Unique index identifier
 @return ApiSearchGetIndexStatsRequest
*/
func (a *StatsAPIService) SearchGetIndexStats(ctx context.Context, indexUid string) ApiSearchGetIndexStatsRequest {
	return ApiSearchGetIndexStatsRequest{
		ApiService: a,
		ctx: ctx,
		indexUid: indexUid,
	}
}

// Execute executes the request
//  @return SearchIndexStats
func (a *StatsAPIService) SearchGetIndexStatsExecute(r ApiSearchGetIndexStatsRequest) (*SearchIndexStats, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchIndexStats
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.SearchGetIndexStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchGetMetricsRequest struct {
	ctx context.Context
	ApiService *StatsAPIService
}

func (r ApiSearchGetMetricsRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.SearchGetMetricsExecute(r)
}

/*
SearchGetMetrics Get Prometheus metrics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchGetMetricsRequest
*/
func (a *StatsAPIService) SearchGetMetrics(ctx context.Context) ApiSearchGetMetricsRequest {
	return ApiSearchGetMetricsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *StatsAPIService) SearchGetMetricsExecute(r ApiSearchGetMetricsRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.SearchGetMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchGetStatsRequest struct {
	ctx context.Context
	ApiService *StatsAPIService
}

func (r ApiSearchGetStatsRequest) Execute() (*SearchStats, *http.Response, error) {
	return r.ApiService.SearchGetStatsExecute(r)
}

/*
SearchGetStats Get global statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchGetStatsRequest
*/
func (a *StatsAPIService) SearchGetStats(ctx context.Context) ApiSearchGetStatsRequest {
	return ApiSearchGetStatsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchStats
func (a *StatsAPIService) SearchGetStatsExecute(r ApiSearchGetStatsRequest) (*SearchStats, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchStats
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.SearchGetStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SearchResponseError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
