/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// DatasetRunItemsAPIService DatasetRunItemsAPI service
type DatasetRunItemsAPIService service

type ApiConsoleCreateDatasetRunItemRequest struct {
	ctx context.Context
	ApiService *DatasetRunItemsAPIService
	consoleCreateDatasetRunItemRequest *ConsoleCreateDatasetRunItemRequest
}

func (r ApiConsoleCreateDatasetRunItemRequest) ConsoleCreateDatasetRunItemRequest(consoleCreateDatasetRunItemRequest ConsoleCreateDatasetRunItemRequest) ApiConsoleCreateDatasetRunItemRequest {
	r.consoleCreateDatasetRunItemRequest = &consoleCreateDatasetRunItemRequest
	return r
}

func (r ApiConsoleCreateDatasetRunItemRequest) Execute() (*ConsoleDatasetRunItem, *http.Response, error) {
	return r.ApiService.ConsoleCreateDatasetRunItemExecute(r)
}

/*
ConsoleCreateDatasetRunItem Create a dataset run item

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConsoleCreateDatasetRunItemRequest
*/
func (a *DatasetRunItemsAPIService) ConsoleCreateDatasetRunItem(ctx context.Context) ApiConsoleCreateDatasetRunItemRequest {
	return ApiConsoleCreateDatasetRunItemRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConsoleDatasetRunItem
func (a *DatasetRunItemsAPIService) ConsoleCreateDatasetRunItemExecute(r ApiConsoleCreateDatasetRunItemRequest) (*ConsoleDatasetRunItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConsoleDatasetRunItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatasetRunItemsAPIService.ConsoleCreateDatasetRunItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-run-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consoleCreateDatasetRunItemRequest == nil {
		return localVarReturnValue, nil, reportError("consoleCreateDatasetRunItemRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consoleCreateDatasetRunItemRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
