/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// IngressAPIService IngressAPI service
type IngressAPIService service

type IngressAPICloudDeleteV1IngressMiddlewaresIdRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
	id         string
}

func (r IngressAPICloudDeleteV1IngressMiddlewaresIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1IngressMiddlewaresIdExecute(r)
}

/*
CloudDeleteV1IngressMiddlewaresId DeleteMiddleware removes one of the caller org's edge transforms and hot-applies the change.

DeleteMiddleware removes one of the caller org's edge transforms and hot-applies
the change. Routes still naming it stop being served (they compile as skipped)
until they name a transform that exists. Answers 204; an id this org does not
hold is 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the object to act on, from the path.
	@return IngressAPICloudDeleteV1IngressMiddlewaresIdRequest
*/
func (a *IngressAPIService) CloudDeleteV1IngressMiddlewaresId(ctx context.Context, id string) IngressAPICloudDeleteV1IngressMiddlewaresIdRequest {
	return IngressAPICloudDeleteV1IngressMiddlewaresIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *IngressAPIService) CloudDeleteV1IngressMiddlewaresIdExecute(r IngressAPICloudDeleteV1IngressMiddlewaresIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudDeleteV1IngressMiddlewaresId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/middlewares/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type IngressAPICloudDeleteV1IngressRoutesIdRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
	id         string
}

func (r IngressAPICloudDeleteV1IngressRoutesIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1IngressRoutesIdExecute(r)
}

/*
CloudDeleteV1IngressRoutesId DeleteRoute removes one of the caller org's routing rules and hot-applies the shrunken table, freeing its host for another claim.

DeleteRoute removes one of the caller org's routing rules and hot-applies the
shrunken table, freeing its host for another claim. Answers 204; an id this org
does not hold is 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the object to act on, from the path.
	@return IngressAPICloudDeleteV1IngressRoutesIdRequest
*/
func (a *IngressAPIService) CloudDeleteV1IngressRoutesId(ctx context.Context, id string) IngressAPICloudDeleteV1IngressRoutesIdRequest {
	return IngressAPICloudDeleteV1IngressRoutesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *IngressAPIService) CloudDeleteV1IngressRoutesIdExecute(r IngressAPICloudDeleteV1IngressRoutesIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudDeleteV1IngressRoutesId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/routes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type IngressAPICloudDeleteV1IngressServicesIdRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
	id         string
}

func (r IngressAPICloudDeleteV1IngressServicesIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1IngressServicesIdExecute(r)
}

/*
CloudDeleteV1IngressServicesId DeleteService removes one of the caller org's backend pools and hot-applies the change.

DeleteService removes one of the caller org's backend pools and hot-applies the
change. Routes still pointing at it stop being served (they compile as skipped)
until they name a pool that exists. Answers 204; an id this org does not hold
is 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the object to act on, from the path.
	@return IngressAPICloudDeleteV1IngressServicesIdRequest
*/
func (a *IngressAPIService) CloudDeleteV1IngressServicesId(ctx context.Context, id string) IngressAPICloudDeleteV1IngressServicesIdRequest {
	return IngressAPICloudDeleteV1IngressServicesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *IngressAPIService) CloudDeleteV1IngressServicesIdExecute(r IngressAPICloudDeleteV1IngressServicesIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudDeleteV1IngressServicesId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/services/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type IngressAPICloudGetV1IngressMiddlewaresRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
}

func (r IngressAPICloudGetV1IngressMiddlewaresRequest) Execute() (*CloudIngressMiddlewares, *http.Response, error) {
	return r.ApiService.CloudGetV1IngressMiddlewaresExecute(r)
}

/*
CloudGetV1IngressMiddlewares ListMiddlewares returns every edge transform the caller's org has configured, ordered by id.

ListMiddlewares returns every edge transform the caller's org has configured,
ordered by id. A route names the ones it wants, in order.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudGetV1IngressMiddlewaresRequest
*/
func (a *IngressAPIService) CloudGetV1IngressMiddlewares(ctx context.Context) IngressAPICloudGetV1IngressMiddlewaresRequest {
	return IngressAPICloudGetV1IngressMiddlewaresRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudIngressMiddlewares
func (a *IngressAPIService) CloudGetV1IngressMiddlewaresExecute(r IngressAPICloudGetV1IngressMiddlewaresRequest) (*CloudIngressMiddlewares, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIngressMiddlewares
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudGetV1IngressMiddlewares")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/middlewares"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudGetV1IngressMiddlewaresIdRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
	id         string
}

func (r IngressAPICloudGetV1IngressMiddlewaresIdRequest) Execute() (*CloudMiddleware, *http.Response, error) {
	return r.ApiService.CloudGetV1IngressMiddlewaresIdExecute(r)
}

/*
CloudGetV1IngressMiddlewaresId GetMiddleware returns one of the caller org's edge transforms by id.

GetMiddleware returns one of the caller org's edge transforms by id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the object to act on, from the path.
	@return IngressAPICloudGetV1IngressMiddlewaresIdRequest
*/
func (a *IngressAPIService) CloudGetV1IngressMiddlewaresId(ctx context.Context, id string) IngressAPICloudGetV1IngressMiddlewaresIdRequest {
	return IngressAPICloudGetV1IngressMiddlewaresIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudMiddleware
func (a *IngressAPIService) CloudGetV1IngressMiddlewaresIdExecute(r IngressAPICloudGetV1IngressMiddlewaresIdRequest) (*CloudMiddleware, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMiddleware
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudGetV1IngressMiddlewaresId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/middlewares/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudGetV1IngressRoutesRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
}

func (r IngressAPICloudGetV1IngressRoutesRequest) Execute() (*CloudIngressRoutes, *http.Response, error) {
	return r.ApiService.CloudGetV1IngressRoutesExecute(r)
}

/*
CloudGetV1IngressRoutes ListRoutes returns every routing rule the caller's org has configured, ordered by id.

ListRoutes returns every routing rule the caller's org has configured, ordered
by id. A route maps an exact Host (and optional path prefix) to a service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudGetV1IngressRoutesRequest
*/
func (a *IngressAPIService) CloudGetV1IngressRoutes(ctx context.Context) IngressAPICloudGetV1IngressRoutesRequest {
	return IngressAPICloudGetV1IngressRoutesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudIngressRoutes
func (a *IngressAPIService) CloudGetV1IngressRoutesExecute(r IngressAPICloudGetV1IngressRoutesRequest) (*CloudIngressRoutes, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIngressRoutes
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudGetV1IngressRoutes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/routes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudGetV1IngressRoutesIdRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
	id         string
}

func (r IngressAPICloudGetV1IngressRoutesIdRequest) Execute() (*CloudRoute, *http.Response, error) {
	return r.ApiService.CloudGetV1IngressRoutesIdExecute(r)
}

/*
CloudGetV1IngressRoutesId GetRoute returns one of the caller org's routing rules by id.

GetRoute returns one of the caller org's routing rules by id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the object to act on, from the path.
	@return IngressAPICloudGetV1IngressRoutesIdRequest
*/
func (a *IngressAPIService) CloudGetV1IngressRoutesId(ctx context.Context, id string) IngressAPICloudGetV1IngressRoutesIdRequest {
	return IngressAPICloudGetV1IngressRoutesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudRoute
func (a *IngressAPIService) CloudGetV1IngressRoutesIdExecute(r IngressAPICloudGetV1IngressRoutesIdRequest) (*CloudRoute, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRoute
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudGetV1IngressRoutesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/routes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudGetV1IngressServicesRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
}

func (r IngressAPICloudGetV1IngressServicesRequest) Execute() (*CloudIngressServices, *http.Response, error) {
	return r.ApiService.CloudGetV1IngressServicesExecute(r)
}

/*
CloudGetV1IngressServices ListServices returns every backend pool the caller's org has configured, ordered by id.

ListServices returns every backend pool the caller's org has configured,
ordered by id. A service is the weighted round-robin target a route dispatches
to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudGetV1IngressServicesRequest
*/
func (a *IngressAPIService) CloudGetV1IngressServices(ctx context.Context) IngressAPICloudGetV1IngressServicesRequest {
	return IngressAPICloudGetV1IngressServicesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudIngressServices
func (a *IngressAPIService) CloudGetV1IngressServicesExecute(r IngressAPICloudGetV1IngressServicesRequest) (*CloudIngressServices, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIngressServices
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudGetV1IngressServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/services"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudGetV1IngressServicesIdRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
	id         string
}

func (r IngressAPICloudGetV1IngressServicesIdRequest) Execute() (*CloudService, *http.Response, error) {
	return r.ApiService.CloudGetV1IngressServicesIdExecute(r)
}

/*
CloudGetV1IngressServicesId GetService returns one of the caller org's backend pools by id.

GetService returns one of the caller org's backend pools by id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the object to act on, from the path.
	@return IngressAPICloudGetV1IngressServicesIdRequest
*/
func (a *IngressAPIService) CloudGetV1IngressServicesId(ctx context.Context, id string) IngressAPICloudGetV1IngressServicesIdRequest {
	return IngressAPICloudGetV1IngressServicesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudService
func (a *IngressAPIService) CloudGetV1IngressServicesIdExecute(r IngressAPICloudGetV1IngressServicesIdRequest) (*CloudService, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudService
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudGetV1IngressServicesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/services/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudGetV1IngressStatusRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
}

func (r IngressAPICloudGetV1IngressStatusRequest) Execute() (*CloudIngressStatus, *http.Response, error) {
	return r.ApiService.CloudGetV1IngressStatusExecute(r)
}

/*
CloudGetV1IngressStatus Status reports the ingress edge's live posture: the role this instance runs in (app or edge), whether its listeners are bound and on which addresses, the ACME posture (staging flag and certificate cache directory), how many hosts the compiled route table currently serves, and how many the ACME HostPolicy will issue a certificate for.

Status reports the ingress edge's live posture: the role this instance runs in
(app or edge), whether its listeners are bound and on which addresses, the ACME
posture (staging flag and certificate cache directory), how many hosts the
compiled route table currently serves, and how many the ACME HostPolicy will
issue a certificate for.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudGetV1IngressStatusRequest
*/
func (a *IngressAPIService) CloudGetV1IngressStatus(ctx context.Context) IngressAPICloudGetV1IngressStatusRequest {
	return IngressAPICloudGetV1IngressStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudIngressStatus
func (a *IngressAPIService) CloudGetV1IngressStatusExecute(r IngressAPICloudGetV1IngressStatusRequest) (*CloudIngressStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIngressStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudGetV1IngressStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudGetV1IngressTlsRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
}

func (r IngressAPICloudGetV1IngressTlsRequest) Execute() (*CloudIngressTLS, *http.Response, error) {
	return r.ApiService.CloudGetV1IngressTlsExecute(r)
}

/*
CloudGetV1IngressTls GetTLS returns the caller org's ACME intent together with the edge-wide TLS facts it lands in: which role this instance runs in, whether its listeners are bound, every host the ACME HostPolicy will issue a certificate for (the union across ALL orgs of TLS-marked routes and configured extraHosts, because one process holds one certificate cache), and the ACME directory and account email the process was started with.

GetTLS returns the caller org's ACME intent together with the edge-wide TLS
facts it lands in: which role this instance runs in, whether its listeners are
bound, every host the ACME HostPolicy will issue a certificate for (the union
across ALL orgs of TLS-marked routes and configured extraHosts, because one
process holds one certificate cache), and the ACME directory and account email
the process was started with.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudGetV1IngressTlsRequest
*/
func (a *IngressAPIService) CloudGetV1IngressTls(ctx context.Context) IngressAPICloudGetV1IngressTlsRequest {
	return IngressAPICloudGetV1IngressTlsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudIngressTLS
func (a *IngressAPIService) CloudGetV1IngressTlsExecute(r IngressAPICloudGetV1IngressTlsRequest) (*CloudIngressTLS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIngressTLS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudGetV1IngressTls")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/tls"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudPostV1IngressMiddlewaresRequest struct {
	ctx             context.Context
	ApiService      *IngressAPIService
	cloudMiddleware *CloudMiddleware
}

func (r IngressAPICloudPostV1IngressMiddlewaresRequest) CloudMiddleware(cloudMiddleware CloudMiddleware) IngressAPICloudPostV1IngressMiddlewaresRequest {
	r.cloudMiddleware = &cloudMiddleware
	return r
}

func (r IngressAPICloudPostV1IngressMiddlewaresRequest) Execute() (*CloudMiddleware, *http.Response, error) {
	return r.ApiService.CloudPostV1IngressMiddlewaresExecute(r)
}

/*
CloudPostV1IngressMiddlewares PutMiddleware creates or replaces one edge transform and hot-applies it.

PutMiddleware creates or replaces one edge transform and hot-applies it. POST
mints an id when the body omits one; PUT takes the id from the URL, which wins
over any id in the body. type must be one of redirectScheme, stripPrefix,
addPrefix or headers, and stripPrefix/addPrefix each require their config key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudPostV1IngressMiddlewaresRequest
*/
func (a *IngressAPIService) CloudPostV1IngressMiddlewares(ctx context.Context) IngressAPICloudPostV1IngressMiddlewaresRequest {
	return IngressAPICloudPostV1IngressMiddlewaresRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMiddleware
func (a *IngressAPIService) CloudPostV1IngressMiddlewaresExecute(r IngressAPICloudPostV1IngressMiddlewaresRequest) (*CloudMiddleware, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMiddleware
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudPostV1IngressMiddlewares")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/middlewares"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudMiddleware == nil {
		return localVarReturnValue, nil, reportError("cloudMiddleware is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudMiddleware
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudPostV1IngressRoutesRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
	cloudRoute *CloudRoute
}

func (r IngressAPICloudPostV1IngressRoutesRequest) CloudRoute(cloudRoute CloudRoute) IngressAPICloudPostV1IngressRoutesRequest {
	r.cloudRoute = &cloudRoute
	return r
}

func (r IngressAPICloudPostV1IngressRoutesRequest) Execute() (*CloudRoute, *http.Response, error) {
	return r.ApiService.CloudPostV1IngressRoutesExecute(r)
}

/*
CloudPostV1IngressRoutes PutRoute creates or replaces one routing rule and hot-applies the new table — there is no config file and no restart.

PutRoute creates or replaces one routing rule and hot-applies the new table —
there is no config file and no restart. POST mints an id when the body omits
one; PUT takes the id from the URL, which wins over any id in the body. A
route's host is a GLOBALLY unique DNS claim: a host another org's route already
holds is refused 409, so no tenant can hijack another's hostname.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudPostV1IngressRoutesRequest
*/
func (a *IngressAPIService) CloudPostV1IngressRoutes(ctx context.Context) IngressAPICloudPostV1IngressRoutesRequest {
	return IngressAPICloudPostV1IngressRoutesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRoute
func (a *IngressAPIService) CloudPostV1IngressRoutesExecute(r IngressAPICloudPostV1IngressRoutesRequest) (*CloudRoute, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRoute
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudPostV1IngressRoutes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/routes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudRoute == nil {
		return localVarReturnValue, nil, reportError("cloudRoute is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudRoute
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudPostV1IngressServicesRequest struct {
	ctx          context.Context
	ApiService   *IngressAPIService
	cloudService *CloudService
}

func (r IngressAPICloudPostV1IngressServicesRequest) CloudService(cloudService CloudService) IngressAPICloudPostV1IngressServicesRequest {
	r.cloudService = &cloudService
	return r
}

func (r IngressAPICloudPostV1IngressServicesRequest) Execute() (*CloudService, *http.Response, error) {
	return r.ApiService.CloudPostV1IngressServicesExecute(r)
}

/*
CloudPostV1IngressServices PutService creates or replaces one backend pool and hot-applies it.

PutService creates or replaces one backend pool and hot-applies it. POST mints
an id when the body omits one; PUT takes the id from the URL, which wins over
any id in the body. A pool needs at least one backend and every backend URL
must be http(s)://host[:port].

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudPostV1IngressServicesRequest
*/
func (a *IngressAPIService) CloudPostV1IngressServices(ctx context.Context) IngressAPICloudPostV1IngressServicesRequest {
	return IngressAPICloudPostV1IngressServicesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudService
func (a *IngressAPIService) CloudPostV1IngressServicesExecute(r IngressAPICloudPostV1IngressServicesRequest) (*CloudService, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudService
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudPostV1IngressServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/services"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudService == nil {
		return localVarReturnValue, nil, reportError("cloudService is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudService
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudPutV1IngressMiddlewaresIdRequest struct {
	ctx             context.Context
	ApiService      *IngressAPIService
	id              string
	cloudMiddleware *CloudMiddleware
}

func (r IngressAPICloudPutV1IngressMiddlewaresIdRequest) CloudMiddleware(cloudMiddleware CloudMiddleware) IngressAPICloudPutV1IngressMiddlewaresIdRequest {
	r.cloudMiddleware = &cloudMiddleware
	return r
}

func (r IngressAPICloudPutV1IngressMiddlewaresIdRequest) Execute() (*CloudMiddleware, *http.Response, error) {
	return r.ApiService.CloudPutV1IngressMiddlewaresIdExecute(r)
}

/*
CloudPutV1IngressMiddlewaresId PutMiddleware creates or replaces one edge transform and hot-applies it.

PutMiddleware creates or replaces one edge transform and hot-applies it. POST
mints an id when the body omits one; PUT takes the id from the URL, which wins
over any id in the body. type must be one of redirectScheme, stripPrefix,
addPrefix or headers, and stripPrefix/addPrefix each require their config key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID identifies the transform within the org: [A-Za-z0-9-_.], at most 128 chars. A create that omits it gets a generated one. Routes reference it by this id.
	@return IngressAPICloudPutV1IngressMiddlewaresIdRequest
*/
func (a *IngressAPIService) CloudPutV1IngressMiddlewaresId(ctx context.Context, id string) IngressAPICloudPutV1IngressMiddlewaresIdRequest {
	return IngressAPICloudPutV1IngressMiddlewaresIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudMiddleware
func (a *IngressAPIService) CloudPutV1IngressMiddlewaresIdExecute(r IngressAPICloudPutV1IngressMiddlewaresIdRequest) (*CloudMiddleware, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMiddleware
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudPutV1IngressMiddlewaresId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/middlewares/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudMiddleware == nil {
		return localVarReturnValue, nil, reportError("cloudMiddleware is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudMiddleware
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudPutV1IngressRoutesIdRequest struct {
	ctx        context.Context
	ApiService *IngressAPIService
	id         string
	cloudRoute *CloudRoute
}

func (r IngressAPICloudPutV1IngressRoutesIdRequest) CloudRoute(cloudRoute CloudRoute) IngressAPICloudPutV1IngressRoutesIdRequest {
	r.cloudRoute = &cloudRoute
	return r
}

func (r IngressAPICloudPutV1IngressRoutesIdRequest) Execute() (*CloudRoute, *http.Response, error) {
	return r.ApiService.CloudPutV1IngressRoutesIdExecute(r)
}

/*
CloudPutV1IngressRoutesId PutRoute creates or replaces one routing rule and hot-applies the new table — there is no config file and no restart.

PutRoute creates or replaces one routing rule and hot-applies the new table —
there is no config file and no restart. POST mints an id when the body omits
one; PUT takes the id from the URL, which wins over any id in the body. A
route's host is a GLOBALLY unique DNS claim: a host another org's route already
holds is refused 409, so no tenant can hijack another's hostname.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID identifies the route within the org: [A-Za-z0-9-_.], at most 128 chars. A create that omits it gets a generated one.
	@return IngressAPICloudPutV1IngressRoutesIdRequest
*/
func (a *IngressAPIService) CloudPutV1IngressRoutesId(ctx context.Context, id string) IngressAPICloudPutV1IngressRoutesIdRequest {
	return IngressAPICloudPutV1IngressRoutesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudRoute
func (a *IngressAPIService) CloudPutV1IngressRoutesIdExecute(r IngressAPICloudPutV1IngressRoutesIdRequest) (*CloudRoute, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRoute
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudPutV1IngressRoutesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/routes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudRoute == nil {
		return localVarReturnValue, nil, reportError("cloudRoute is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudRoute
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudPutV1IngressServicesIdRequest struct {
	ctx          context.Context
	ApiService   *IngressAPIService
	id           string
	cloudService *CloudService
}

func (r IngressAPICloudPutV1IngressServicesIdRequest) CloudService(cloudService CloudService) IngressAPICloudPutV1IngressServicesIdRequest {
	r.cloudService = &cloudService
	return r
}

func (r IngressAPICloudPutV1IngressServicesIdRequest) Execute() (*CloudService, *http.Response, error) {
	return r.ApiService.CloudPutV1IngressServicesIdExecute(r)
}

/*
CloudPutV1IngressServicesId PutService creates or replaces one backend pool and hot-applies it.

PutService creates or replaces one backend pool and hot-applies it. POST mints
an id when the body omits one; PUT takes the id from the URL, which wins over
any id in the body. A pool needs at least one backend and every backend URL
must be http(s)://host[:port].

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID identifies the pool within the org: [A-Za-z0-9-_.], at most 128 chars. A create that omits it gets a generated one. Routes reference it by this id.
	@return IngressAPICloudPutV1IngressServicesIdRequest
*/
func (a *IngressAPIService) CloudPutV1IngressServicesId(ctx context.Context, id string) IngressAPICloudPutV1IngressServicesIdRequest {
	return IngressAPICloudPutV1IngressServicesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudService
func (a *IngressAPIService) CloudPutV1IngressServicesIdExecute(r IngressAPICloudPutV1IngressServicesIdRequest) (*CloudService, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudService
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudPutV1IngressServicesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/services/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudService == nil {
		return localVarReturnValue, nil, reportError("cloudService is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudService
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IngressAPICloudPutV1IngressTlsRequest struct {
	ctx            context.Context
	ApiService     *IngressAPIService
	cloudTLSConfig *CloudTLSConfig
}

func (r IngressAPICloudPutV1IngressTlsRequest) CloudTLSConfig(cloudTLSConfig CloudTLSConfig) IngressAPICloudPutV1IngressTlsRequest {
	r.cloudTLSConfig = &cloudTLSConfig
	return r
}

func (r IngressAPICloudPutV1IngressTlsRequest) Execute() (*CloudTLSConfig, *http.Response, error) {
	return r.ApiService.CloudPutV1IngressTlsExecute(r)
}

/*
CloudPutV1IngressTls PutTLS replaces the caller org's ACME intent and hot-applies what can be hot-applied.

PutTLS replaces the caller org's ACME intent and hot-applies what can be
hot-applied. extraHosts are normalized and validated, then feed the ACME
HostPolicy on the reload this op performs, alongside the per-route tls flags.
acmeEmail and staging bind an ACME account for the lifetime of an edge process,
so they only take effect when the edge (re)starts — the returned note says so.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IngressAPICloudPutV1IngressTlsRequest
*/
func (a *IngressAPIService) CloudPutV1IngressTls(ctx context.Context) IngressAPICloudPutV1IngressTlsRequest {
	return IngressAPICloudPutV1IngressTlsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudTLSConfig
func (a *IngressAPIService) CloudPutV1IngressTlsExecute(r IngressAPICloudPutV1IngressTlsRequest) (*CloudTLSConfig, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTLSConfig
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IngressAPIService.CloudPutV1IngressTls")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ingress/tls"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudTLSConfig == nil {
		return localVarReturnValue, nil, reportError("cloudTLSConfig is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudTLSConfig
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
