/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// PaymentsAPIService PaymentsAPI service
type PaymentsAPIService service

type PaymentsAPIGetPaymentRequest struct {
	ctx        context.Context
	ApiService *PaymentsAPIService
	id         string
}

func (r PaymentsAPIGetPaymentRequest) Execute() (*PaymentRecord, *http.Response, error) {
	return r.ApiService.GetPaymentExecute(r)
}

/*
GetPayment Read one settled payment by its id

Reads one settled payment out of the caller's org ledger.

The org scopes the read by construction — the ledger is namespaced to it — so
an id belonging to another tenant is simply not found rather than found and
then filtered. A ledger row that is not a payment is likewise not found, so
this cannot be used to walk the org's usage debits.

A named handler, not a closure, so zipdoc can lift this prose into the registry.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the ledger transaction id a payment returned.
	@return PaymentsAPIGetPaymentRequest
*/
func (a *PaymentsAPIService) GetPayment(ctx context.Context, id string) PaymentsAPIGetPaymentRequest {
	return PaymentsAPIGetPaymentRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PaymentRecord
func (a *PaymentsAPIService) GetPaymentExecute(r PaymentsAPIGetPaymentRequest) (*PaymentRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaymentRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentsAPIService.GetPayment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/payments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PaymentsAPITakePaymentRequest struct {
	ctx        context.Context
	ApiService *PaymentsAPIService
	paymentIn  *PaymentIn
}

func (r PaymentsAPITakePaymentRequest) PaymentIn(paymentIn PaymentIn) PaymentsAPITakePaymentRequest {
	r.paymentIn = &paymentIn
	return r
}

func (r PaymentsAPITakePaymentRequest) Execute() (*PaymentOut, *http.Response, error) {
	return r.ApiService.TakePaymentExecute(r)
}

/*
TakePayment Take a card payment and credit the org's balance

Takes a payment: charges a single-use card token and credits the caller's org
balance, exactly once.

This is the operation behind "collect money from a customer". It runs the SAME
core the console's card top-up runs (commerce billing.TakePayment), so the
server-side amount bounds, the idempotency guard and the ledger credit are
shared rather than reimplemented — a second charge path would eventually
double-charge somebody.

The ORG is the caller's, taken from the validated principal and never from the
input, so a payment can only ever credit the account of whoever made the call.

A payment is RISK-SCREENED before the card is charged, so this can be refused
without any money moving: 403 means the screen did not authorise it, and 503 means
the screen could not reach a decision — that one is worth retrying, and no charge
was attempted either way.

Send an idempotencyKey. An agent retries by construction, and the key is what
turns a retry into a replay of the first receipt instead of a second charge.

The answer states whether it settled in SANDBOX or live mode (`test`), and
carries the processor's own reference (`processorRef`) so the charge can be
reconciled against the processor rather than taken on trust.

A named builder, not a closure, so zipdoc can lift this prose into the registry.

It BUILDS the handler rather than being it, because the screen has to sit inside
the value every projection of this op dispatches to — see exposePayments. `charge`
is the money move, `take` is the screened door onto it, and the only registrable
one is the second.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PaymentsAPITakePaymentRequest
*/
func (a *PaymentsAPIService) TakePayment(ctx context.Context) PaymentsAPITakePaymentRequest {
	return PaymentsAPITakePaymentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaymentOut
func (a *PaymentsAPIService) TakePaymentExecute(r PaymentsAPITakePaymentRequest) (*PaymentOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaymentOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentsAPIService.TakePayment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/payments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.paymentIn == nil {
		return localVarReturnValue, nil, reportError("paymentIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.paymentIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
