/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// PlatformAPIService PlatformAPI service
type PlatformAPIService service

type PlatformAPIDeletePlatformProjectsByProjectRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	into       *string
	org        *string
	mode       *string
}

// Into is the existing project its apps move into. Required: an app always belongs to exactly one project.
func (r PlatformAPIDeletePlatformProjectsByProjectRequest) Into(into string) PlatformAPIDeletePlatformProjectsByProjectRequest {
	r.into = &into
	return r
}

// Org names the projects&#39; owner, defaulting to the caller&#39;s own scope.
func (r PlatformAPIDeletePlatformProjectsByProjectRequest) Org(org string) PlatformAPIDeletePlatformProjectsByProjectRequest {
	r.org = &org
	return r
}

// Mode is &#x60;branch&#x60; (the default) or &#x60;commit&#x60;.
func (r PlatformAPIDeletePlatformProjectsByProjectRequest) Mode(mode string) PlatformAPIDeletePlatformProjectsByProjectRequest {
	r.mode = &mode
	return r
}

func (r PlatformAPIDeletePlatformProjectsByProjectRequest) Execute() (*PlatformProjectWrite, *http.Response, error) {
	return r.ApiService.DeletePlatformProjectsByProjectExecute(r)
}

/*
DeletePlatformProjectsByProject Folds a project into another.

Folds a project into another.

An app always belongs to exactly one project, so a project ends by moving its
apps: `into` names the existing project they move to, and the project is gone
once no file names it. One commit to `hanzoai/universe`; `mode` as for create.
404 when `into` is not a project.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project to delete, from the path.
	@return PlatformAPIDeletePlatformProjectsByProjectRequest
*/
func (a *PlatformAPIService) DeletePlatformProjectsByProject(ctx context.Context, project string) PlatformAPIDeletePlatformProjectsByProjectRequest {
	return PlatformAPIDeletePlatformProjectsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return PlatformProjectWrite
func (a *PlatformAPIService) DeletePlatformProjectsByProjectExecute(r PlatformAPIDeletePlatformProjectsByProjectRequest) (*PlatformProjectWrite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformProjectWrite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.DeletePlatformProjectsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.into != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "into", r.into, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.mode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mode", r.mode, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
}

func (r PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePlatformProjectsByProjectAppsByAppExecute(r)
}

/*
DeletePlatformProjectsByProjectAppsByApp Deletes an application and tears down what it runs.

Deletes an application and tears down what it runs.

It removes the application record and tears down what it owns in the org's
tenant namespace — its operator Service CR and its KMSSecret — then answers 204.
An app this org and project do not have is 404, never a silent success.

Teardown is best-effort by design: a cluster that refuses or is unreachable does
not block the delete, so the record cannot be left orphaned behind a broken
cluster; the failure is logged for operators and the orphan reaper reconciles
it. Requires a validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@return PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest
*/
func (a *PlatformAPIService) DeletePlatformProjectsByProjectAppsByApp(ctx context.Context, project string, app string) PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest {
	return PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
	}
}

// Execute executes the request
func (a *PlatformAPIService) DeletePlatformProjectsByProjectAppsByAppExecute(r PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.DeletePlatformProjectsByProjectAppsByApp")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
	host       string
}

func (r PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePlatformProjectsByProjectAppsByAppDomainsByHostExecute(r)
}

/*
DeletePlatformProjectsByProjectAppsByAppDomainsByHost Detaches a hostname and releases the claim.

Detaches a hostname and releases the claim.

It drops the host from the app's ingress and releases any custom claim on it, so
the name becomes claimable again — by this org or any other. Answers 204.

The default host is permanent and cannot be removed: that is 400, not 404. A host
that is neither attached nor claimed here is 404. Requires a validated principal;
401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@param host Host is the hostname, from the path.
	@return PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest
*/
func (a *PlatformAPIService) DeletePlatformProjectsByProjectAppsByAppDomainsByHost(ctx context.Context, project string, app string, host string) PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest {
	return PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
		host:       host,
	}
}

// Execute executes the request
func (a *PlatformAPIService) DeletePlatformProjectsByProjectAppsByAppDomainsByHostExecute(r PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.DeletePlatformProjectsByProjectAppsByAppDomainsByHost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/domains/{host}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"host"+"}", url.PathEscape(parameterValueToString(r.host, "host")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIGetBuildByIdRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	id         string
}

func (r PlatformAPIGetBuildByIdRequest) Execute() (*PlatformRunnerBuildResp, *http.Response, error) {
	return r.ApiService.GetBuildByIdExecute(r)
}

/*
GetBuildById Answers one build: its status, and for a failed build the reason.

Answers one build: its status, and for a failed build the reason.

A build belongs to the organization its credential names, so it is read by the
credential that could have asked for it, and another organization's build is
404 rather than 403: whether an id exists is not said to anyone it is not for.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the build's id, from the path.
	@return PlatformAPIGetBuildByIdRequest
*/
func (a *PlatformAPIService) GetBuildById(ctx context.Context, id string) PlatformAPIGetBuildByIdRequest {
	return PlatformAPIGetBuildByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PlatformRunnerBuildResp
func (a *PlatformAPIService) GetBuildByIdExecute(r PlatformAPIGetBuildByIdRequest) (*PlatformRunnerBuildResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformRunnerBuildResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetBuildById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/build/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformAppsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	org        *string
}

// Org names the organisation whose declarations to read, defaulting to the caller&#39;s own. Only a SuperAdmin may name one that is not theirs; anyone else naming a foreign org is refused, so this widens nothing by itself.
func (r PlatformAPIGetPlatformAppsRequest) Org(org string) PlatformAPIGetPlatformAppsRequest {
	r.org = &org
	return r
}

func (r PlatformAPIGetPlatformAppsRequest) Execute() (*PlatformDeclaredResp, *http.Response, error) {
	return r.ApiService.GetPlatformAppsExecute(r)
}

/*
GetPlatformApps Answers what this organisation has declared, joined with what the delivery plane has done about it.

Answers what this organisation has declared, joined with what
the delivery plane has done about it.

The join is best-effort BY DESIGN and says so when it is missing: the
declarations ARE the answer to "what have I deployed", so refusing the whole
board because the cluster is unreadable would lose the half that is readable.
What must never happen is a silent null — an unreadable plane is reported as
`cd.unavailable` carrying the reason, never as an app with no reconciliation,
and a values file that does not parse is listed in `unreadable`, never dropped.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformAppsRequest
*/
func (a *PlatformAPIService) GetPlatformApps(ctx context.Context) PlatformAPIGetPlatformAppsRequest {
	return PlatformAPIGetPlatformAppsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformDeclaredResp
func (a *PlatformAPIService) GetPlatformAppsExecute(r PlatformAPIGetPlatformAppsRequest) (*PlatformDeclaredResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformDeclaredResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformApps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/apps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformAppsByAppRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	app        string
	org        *string
}

// Org names the organisation the declaration lives in, defaulting to the caller&#39;s own and subject to the same SuperAdmin rule as the listing.
func (r PlatformAPIGetPlatformAppsByAppRequest) Org(org string) PlatformAPIGetPlatformAppsByAppRequest {
	r.org = &org
	return r
}

func (r PlatformAPIGetPlatformAppsByAppRequest) Execute() (*PlatformDeclaration, *http.Response, error) {
	return r.ApiService.GetPlatformAppsByAppExecute(r)
}

/*
GetPlatformAppsByApp Answers ONE declaration — what git says this app is, before the delivery plane has had any say in it.

Answers ONE declaration — what git says this app is, before the
delivery plane has had any say in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param app App is the DNS-1123 label of the declaration. The URL is the addressing authority — a path segment binds after the body and after the query — so the address decides which app is read whatever else is sent.
	@return PlatformAPIGetPlatformAppsByAppRequest
*/
func (a *PlatformAPIService) GetPlatformAppsByApp(ctx context.Context, app string) PlatformAPIGetPlatformAppsByAppRequest {
	return PlatformAPIGetPlatformAppsByAppRequest{
		ApiService: a,
		ctx:        ctx,
		app:        app,
	}
}

// Execute executes the request
//
//	@return PlatformDeclaration
func (a *PlatformAPIService) GetPlatformAppsByAppExecute(r PlatformAPIGetPlatformAppsByAppRequest) (*PlatformDeclaration, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformDeclaration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformAppsByApp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/apps/{app}"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformAppsByAppCdRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	app        string
	org        *string
}

// Org names the organisation the declaration lives in, defaulting to the caller&#39;s own and subject to the same SuperAdmin rule as the listing.
func (r PlatformAPIGetPlatformAppsByAppCdRequest) Org(org string) PlatformAPIGetPlatformAppsByAppCdRequest {
	r.org = &org
	return r
}

func (r PlatformAPIGetPlatformAppsByAppCdRequest) Execute() (*PlatformCDApp, *http.Response, error) {
	return r.ApiService.GetPlatformAppsByAppCdExecute(r)
}

/*
GetPlatformAppsByAppCd Answers ONE app's reconciliation alone — the poll a deploy console makes while it waits, without re-reading the whole inventory each time.

Answers ONE app's reconciliation alone — the poll a deploy
console makes while it waits, without re-reading the whole inventory each time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param app App is the DNS-1123 label of the declaration. The URL is the addressing authority — a path segment binds after the body and after the query — so the address decides which app is read whatever else is sent.
	@return PlatformAPIGetPlatformAppsByAppCdRequest
*/
func (a *PlatformAPIService) GetPlatformAppsByAppCd(ctx context.Context, app string) PlatformAPIGetPlatformAppsByAppCdRequest {
	return PlatformAPIGetPlatformAppsByAppCdRequest{
		ApiService: a,
		ctx:        ctx,
		app:        app,
	}
}

// Execute executes the request
//
//	@return PlatformCDApp
func (a *PlatformAPIService) GetPlatformAppsByAppCdExecute(r PlatformAPIGetPlatformAppsByAppCdRequest) (*PlatformCDApp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformCDApp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformAppsByAppCd")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/apps/{app}/cd"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformBuildsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformBuildsRequest) Execute() (*PlatformBuildBoard, *http.Response, error) {
	return r.ApiService.GetPlatformBuildsExecute(r)
}

/*
GetPlatformBuilds Returns real build records for your org.

Returns real build records for your org.

It lists the org's BuildKit build records — the git build step behind a deploy —
each with the repo it built, the short commit, its status, when it started and
how long it took, followed by its site builds: a project in the org's own code
workspace built from its repository in a sandbox, newest first. These are real
records or an honest empty list; a build appears here because one ran, never
because a page needed a row. Requires a validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformBuildsRequest
*/
func (a *PlatformAPIService) GetPlatformBuilds(ctx context.Context) PlatformAPIGetPlatformBuildsRequest {
	return PlatformAPIGetPlatformBuildsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformBuildBoard
func (a *PlatformAPIService) GetPlatformBuildsExecute(r PlatformAPIGetPlatformBuildsRequest) (*PlatformBuildBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformBuildBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformBuilds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/builds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformCdRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformCdRequest) Execute() (*PlatformCdResp, *http.Response, error) {
	return r.ApiService.GetPlatformCdExecute(r)
}

/*
GetPlatformCd Answers every Application the delivery plane holds.

Answers every Application the delivery plane holds.

Scoped to the namespaces the caller's own validated org owns: the ROLE admits
the caller and the tenant boundary is applied inside, so an admin of one org
never observes another's.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformCdRequest
*/
func (a *PlatformAPIService) GetPlatformCd(ctx context.Context) PlatformAPIGetPlatformCdRequest {
	return PlatformAPIGetPlatformCdRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformCdResp
func (a *PlatformAPIService) GetPlatformCdExecute(r PlatformAPIGetPlatformCdRequest) (*PlatformCdResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformCdResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformCd")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/cd"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformEnvironmentsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformEnvironmentsRequest) Execute() (*PlatformEnvironmentBoard, *http.Response, error) {
	return r.ApiService.GetPlatformEnvironmentsExecute(r)
}

/*
GetPlatformEnvironments Returns your deploy targets, and what is running on each.

Returns your deploy targets, and what is running on each.

It returns the org's environments — the distinct deploy targets its applications
name, `production` for anything that names none — each aggregating the apps that
target it, a rolled-up status and when it last changed.

An environment is DERIVED, not stored: there is nothing to create or delete here,
and an environment exists exactly as long as an app points at it. Requires a
validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformEnvironmentsRequest
*/
func (a *PlatformAPIService) GetPlatformEnvironments(ctx context.Context) PlatformAPIGetPlatformEnvironmentsRequest {
	return PlatformAPIGetPlatformEnvironmentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformEnvironmentBoard
func (a *PlatformAPIService) GetPlatformEnvironmentsExecute(r PlatformAPIGetPlatformEnvironmentsRequest) (*PlatformEnvironmentBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformEnvironmentBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformEnvironments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/environments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformFleetRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	env        *string
	health     *string
	org        *string
	drift      *string
}

// Env narrows to one lifecycle env: main, test or dev.
func (r PlatformAPIGetPlatformFleetRequest) Env(env string) PlatformAPIGetPlatformFleetRequest {
	r.env = &env
	return r
}

// Health narrows to one health colour: green, yellow or red.
func (r PlatformAPIGetPlatformFleetRequest) Health(health string) PlatformAPIGetPlatformFleetRequest {
	r.health = &health
	return r
}

// Org narrows to one image namespace.
func (r PlatformAPIGetPlatformFleetRequest) Org(org string) PlatformAPIGetPlatformFleetRequest {
	r.org = &org
	return r
}

// Drift is &#x60;1&#x60; or &#x60;true&#x60; to show only rows that have actually drifted. It is a STRING and not a bool because those two spellings are exactly what the board has always accepted, and a bool would silently widen that to &#x60;?drift&#x60; alone and to &#x60;TRUE&#x60; — a behaviour change wearing a type change&#39;s clothes.
func (r PlatformAPIGetPlatformFleetRequest) Drift(drift string) PlatformAPIGetPlatformFleetRequest {
	r.drift = &drift
	return r
}

func (r PlatformAPIGetPlatformFleetRequest) Execute() (*PlatformDriftBoard, *http.Response, error) {
	return r.ApiService.GetPlatformFleetExecute(r)
}

/*
GetPlatformFleet Returns the platform's own service tier, and where it has drifted.

Returns the platform's own service tier, and where it has drifted.

It returns the board for the services the PLATFORM itself runs — iam, kms,
gateway and the rest — as `{apps, summary}`: per service its environment, health,
phase, the image tag its CR DECLARES, the tag actually running, and the drift
between them, plus a summary counting the board green, yellow and red.

This is not a customer surface. `/v1/platform/projects/:project/apps` is a
tenant's apps; this is the tier those tenants run ON, which is why the two are
named differently rather than sharing a prefix.

Admission is scoped at the SCAN, before any CR is read: a platform SuperAdmin
observes the whole fleet, an org admin observes only their own org's namespaces,
and an org that owns none gets an empty board — a non-super caller never even
lists another org's services. Narrow further with `env`, `health`, `org`, or
`drift=1` for only what has drifted.

It degrades honestly rather than failing whole: a namespace that does not exist
is skipped, and a running-state read the caller cannot make leaves the running
tag empty — an unknown, never a guess — while the declared, health and phase
columns still render.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformFleetRequest
*/
func (a *PlatformAPIService) GetPlatformFleet(ctx context.Context) PlatformAPIGetPlatformFleetRequest {
	return PlatformAPIGetPlatformFleetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformDriftBoard
func (a *PlatformAPIService) GetPlatformFleetExecute(r PlatformAPIGetPlatformFleetRequest) (*PlatformDriftBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformDriftBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformFleet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/fleet"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.env != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "env", r.env, "form", "")
	}
	if r.health != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "health", r.health, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.drift != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "drift", r.drift, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformFleetByAppRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	app        string
	env        *string
}

// Env narrows the scan to one lifecycle env: main, test or dev. Omitted, the namespaces are scanned in lifecycle order and the first match wins, so a bare name resolves to PRODUCTION.
func (r PlatformAPIGetPlatformFleetByAppRequest) Env(env string) PlatformAPIGetPlatformFleetByAppRequest {
	r.env = &env
	return r
}

func (r PlatformAPIGetPlatformFleetByAppRequest) Execute() (*PlatformAppView, *http.Response, error) {
	return r.ApiService.GetPlatformFleetByAppExecute(r)
}

/*
GetPlatformFleetByApp Returns one platform service, resolved to production by default.

Returns one platform service, resolved to production by default.

It returns a single platform service by its CR name, with the same
declared-versus-running and drift facts the board carries. The name must be a
DNS-1123 label; anything else is 400.

Namespaces are scanned in lifecycle order — main, then test, then dev — and the
first match wins, so a bare name resolves to PRODUCTION. The scan covers only the
namespaces the caller is authorized for, so an org admin can never read a service
outside their own org, and a name found in none of them is 404 rather than a leak.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param app App is the service's CR name, from the path. It must be a DNS-1123 label.
	@return PlatformAPIGetPlatformFleetByAppRequest
*/
func (a *PlatformAPIService) GetPlatformFleetByApp(ctx context.Context, app string) PlatformAPIGetPlatformFleetByAppRequest {
	return PlatformAPIGetPlatformFleetByAppRequest{
		ApiService: a,
		ctx:        ctx,
		app:        app,
	}
}

// Execute executes the request
//
//	@return PlatformAppView
func (a *PlatformAPIService) GetPlatformFleetByAppExecute(r PlatformAPIGetPlatformFleetByAppRequest) (*PlatformAppView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformAppView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformFleetByApp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/fleet/{app}"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.env != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "env", r.env, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformHealthRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformHealthRequest) Execute() (*PlatformReadiness, *http.Response, error) {
	return r.ApiService.GetPlatformHealthExecute(r)
}

/*
GetPlatformHealth Reports whether this control plane can actually deploy anything.

Reports whether this control plane can actually deploy anything.

A real probe, not a status page. It answers 200 only when the metadata store is
open AND the cluster is genuinely reachable — proved by LISTING the operator App
CRD, which settles reachability and CRD presence in one bounded call, and which
is the exact question every deploy depends on. Anything else is 503 carrying the
real reason and whether the CRD was found.

A constructed cluster client proves nothing — it is built from a kubeconfig, not
from a reachable apiserver — so this deliberately spends a round trip rather than
reporting `ok` while every deploy fails. Not admin-gated: liveness has to be
probe-able without a credential.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformHealthRequest
*/
func (a *PlatformAPIService) GetPlatformHealth(ctx context.Context) PlatformAPIGetPlatformHealthRequest {
	return PlatformAPIGetPlatformHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformReadiness
func (a *PlatformAPIService) GetPlatformHealthExecute(r PlatformAPIGetPlatformHealthRequest) (*PlatformReadiness, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformReadiness
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v PlatformReadiness
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformPipelinesRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformPipelinesRequest) Execute() (*PlatformPipelineBoard, *http.Response, error) {
	return r.ApiService.GetPlatformPipelinesExecute(r)
}

/*
GetPlatformPipelines Returns one build-and-deploy pipeline per app, with its latest run.

Returns one build-and-deploy pipeline per app, with its latest run.

It returns one pipeline per application in the caller's org — its repo or image
source, its current status, and when its most recent deployment ran and how long
it took. A pipeline is a PROJECTION of an app plus its newest deployment, not a
separate record: it comes into existence with the app and is triggered only
through /deploy, never here. Requires a validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformPipelinesRequest
*/
func (a *PlatformAPIService) GetPlatformPipelines(ctx context.Context) PlatformAPIGetPlatformPipelinesRequest {
	return PlatformAPIGetPlatformPipelinesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformPipelineBoard
func (a *PlatformAPIService) GetPlatformPipelinesExecute(r PlatformAPIGetPlatformPipelinesRequest) (*PlatformPipelineBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformPipelineBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformPipelines")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/pipelines"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	org        *string
}

// Org names whose projects to read. Omitted, a SuperAdmin reads every owner&#39;s and anyone else reads their own; naming another org is an act-as only a SuperAdmin has, and naming a platform directory reads the platform&#39;s own.
func (r PlatformAPIGetPlatformProjectsRequest) Org(org string) PlatformAPIGetPlatformProjectsRequest {
	r.org = &org
	return r
}

func (r PlatformAPIGetPlatformProjectsRequest) Execute() (*PlatformProjectBoard, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsExecute(r)
}

/*
GetPlatformProjects Answers every project the caller may see, with how its apps stand.

Answers every project the caller may see, with how its apps
stand.

A project is the `partOf` its apps' values files name, so this is the
declaration inventory grouped by that key, joined per app with CD's
reconciliation, the pods the cluster runs and the newest release the registry
publishes, and folded into counts: apps, namespaces, sync, health and drift.
Declarations that name no project are listed separately, because each one is
drift in git.

A SuperAdmin sees every owner's projects, the platform's own among them; an
org admin sees only its own org's. `org` narrows a SuperAdmin to one owner.
A plane that cannot be read leaves its counts at unknown and says why in
cdUnavailable or clusterUnavailable; it never empties the board. A values file
that does not parse is listed in unreadable and costs only its own row.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformProjectsRequest
*/
func (a *PlatformAPIService) GetPlatformProjects(ctx context.Context) PlatformAPIGetPlatformProjectsRequest {
	return PlatformAPIGetPlatformProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformProjectBoard
func (a *PlatformAPIService) GetPlatformProjectsExecute(r PlatformAPIGetPlatformProjectsRequest) (*PlatformProjectBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformProjectBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	org        *string
}

// Org names the project&#39;s owner, defaulting to the caller&#39;s own scope — which for a SuperAdmin whose home is a brand org is the platform&#39;s.
func (r PlatformAPIGetPlatformProjectsByProjectRequest) Org(org string) PlatformAPIGetPlatformProjectsByProjectRequest {
	r.org = &org
	return r
}

func (r PlatformAPIGetPlatformProjectsByProjectRequest) Execute() (*PlatformProjectView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectExecute(r)
}

/*
GetPlatformProjectsByProject Answers one project and every app in it.

Answers one project and every app in it.

Each app carries its declaration — image, hosts, replicas, the KMS paths it
reads (never a value) — together with the CD Application reconciling it, what
its pods run, the newest release its registry publishes, and the drift between
those four. 404 when no declaration in the caller's scope names the project.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project's name, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProject(ctx context.Context, project string) PlatformAPIGetPlatformProjectsByProjectRequest {
	return PlatformAPIGetPlatformProjectsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return PlatformProjectView
func (a *PlatformAPIService) GetPlatformProjectsByProjectExecute(r PlatformAPIGetPlatformProjectsByProjectRequest) (*PlatformProjectView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformProjectView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsRequest) Execute() ([]PlatformAppOut, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsExecute(r)
}

/*
GetPlatformProjectsByProjectApps Returns the applications in one project, with what the cluster says about them.

Returns the applications in one project, with what the cluster says
about them.

It lists the caller org's applications under one project. Each row carries the
stored record and, for an app that is live or deploying, the LIVE phase and
health read from its operator Service CR; an app with sealed env also carries
its secret-sync state. Those cluster reads are best-effort — an unreachable
cluster leaves those fields empty and never blocks the listing.

The project must exist in IAM for this org, or the answer is 404; the `default`
project is implicit and always accepted, because it is part of what an org IS.
Requires a validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project's name, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectApps(ctx context.Context, project string) PlatformAPIGetPlatformProjectsByProjectAppsRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return []PlatformAppOut
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsExecute(r PlatformAPIGetPlatformProjectsByProjectAppsRequest) ([]PlatformAppOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PlatformAppOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectApps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest) Execute() (*PlatformAppOut, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByApp Returns one application, with its live phase, health and secret sync.

Returns one application, with its live phase, health and secret sync.

It returns a single application of the caller's org together with what the
cluster currently reports for it: the operator Service CR's phase and health,
and whether its sealed env has synced. An app this org and project do not have
is 404. Requires a validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByApp(ctx context.Context, project string, app string) PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
	}
}

// Execute executes the request
//
//	@return PlatformAppOut
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest) (*PlatformAppOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformAppOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByApp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest) Execute() ([]PlatformDeploymentView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppDeploymentsExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByAppDeployments Returns an app's deployment history.

Returns an app's deployment history.

It lists every deployment recorded for one of the caller org's applications,
newest version first, each with its version, status, source, commit and image.
Failed and superseded attempts are included — that is the point of a history.
Requires a validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeployments(ctx context.Context, project string, app string) PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
	}
}

// Execute executes the request
//
//	@return []PlatformDeploymentView
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest) ([]PlatformDeploymentView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PlatformDeploymentView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByAppDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
	id         string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest) Execute() (*PlatformDeploymentView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppDeploymentsByIdExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByAppDeploymentsById Returns one deployment of one app.

Returns one deployment of one app.

It returns a single deployment by id, scoped to the named application of the
caller's org — so an id belonging to another app or another tenant is 404, not a
read. Requires a validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@param id ID is the deployment's id, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsById(ctx context.Context, project string, app string, id string) PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PlatformDeploymentView
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsByIdExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest) (*PlatformDeploymentView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformDeploymentView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByAppDeploymentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/deployments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
	id         string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest) Execute() (*PlatformDeployLogs, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogs Returns real logs for a deployment — the build's, then the app's.

Returns real logs for a deployment — the build's, then the app's.

It returns the deployment's recorded status timeline together with LIVE pod logs
pulled from the cluster: the build pod's output while a git build is running, and
the running app's output once it is deployed. The `source` field says which of
the two the body is — `build`, `app` or `none` — so a console can label the pane
honestly.

It never fabricates log content. When no pod exists yet, or the cluster is
unreachable, it degrades to the recorded timeline and says so. Every cluster read
is confined to the caller org's own namespaces and time-boxed. Requires a
validated principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@param id ID is the deployment's id, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogs(ctx context.Context, project string, app string, id string) PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PlatformDeployLogs
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest) (*PlatformDeployLogs, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformDeployLogs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppDomainsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppDomainsRequest) Execute() ([]PlatformDomainView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppDomainsExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByAppDomains Returns every hostname this app answers on.

Returns every hostname this app answers on.

It lists the app's hosts: the permanent default host it was born with, any
org-subtree hosts attached to it, and every custom host claimed for it with its
verification state and, while pending, the DNS challenge records to publish. Live
endpoint status for each host is observed from the cluster. Requires a validated
principal; 401 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
[...]
