/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
	"time"
)

// FlowFlowRunsAPIService FlowFlowRunsAPI service
type FlowFlowRunsAPIService service

type FlowFlowRunsAPIFlowBulkCancelFlowRunsRequest struct {
	ctx                           context.Context
	ApiService                    *FlowFlowRunsAPIService
	flowBulkCancelFlowRunsRequest *FlowBulkCancelFlowRunsRequest
}

func (r FlowFlowRunsAPIFlowBulkCancelFlowRunsRequest) FlowBulkCancelFlowRunsRequest(flowBulkCancelFlowRunsRequest FlowBulkCancelFlowRunsRequest) FlowFlowRunsAPIFlowBulkCancelFlowRunsRequest {
	r.flowBulkCancelFlowRunsRequest = &flowBulkCancelFlowRunsRequest
	return r
}

func (r FlowFlowRunsAPIFlowBulkCancelFlowRunsRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FlowBulkCancelFlowRunsExecute(r)
}

/*
FlowBulkCancelFlowRuns Bulk cancel running flow runs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowFlowRunsAPIFlowBulkCancelFlowRunsRequest
*/
func (a *FlowFlowRunsAPIService) FlowBulkCancelFlowRuns(ctx context.Context) FlowFlowRunsAPIFlowBulkCancelFlowRunsRequest {
	return FlowFlowRunsAPIFlowBulkCancelFlowRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *FlowFlowRunsAPIService) FlowBulkCancelFlowRunsExecute(r FlowFlowRunsAPIFlowBulkCancelFlowRunsRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowFlowRunsAPIService.FlowBulkCancelFlowRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/flow-runs/bulk/cancel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowBulkCancelFlowRunsRequest == nil {
		return localVarReturnValue, nil, reportError("flowBulkCancelFlowRunsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowBulkCancelFlowRunsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowFlowRunsAPIFlowGetFlowRunRequest struct {
	ctx        context.Context
	ApiService *FlowFlowRunsAPIService
	id         string
}

func (r FlowFlowRunsAPIFlowGetFlowRunRequest) Execute() (*FlowFlowRun, *http.Response, error) {
	return r.ApiService.FlowGetFlowRunExecute(r)
}

/*
FlowGetFlowRun Get a flow run by id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return FlowFlowRunsAPIFlowGetFlowRunRequest
*/
func (a *FlowFlowRunsAPIService) FlowGetFlowRun(ctx context.Context, id string) FlowFlowRunsAPIFlowGetFlowRunRequest {
	return FlowFlowRunsAPIFlowGetFlowRunRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return FlowFlowRun
func (a *FlowFlowRunsAPIService) FlowGetFlowRunExecute(r FlowFlowRunsAPIFlowGetFlowRunRequest) (*FlowFlowRun, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowFlowRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowFlowRunsAPIService.FlowGetFlowRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/flow-runs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowFlowRunsAPIFlowListFlowRunsRequest struct {
	ctx           context.Context
	ApiService    *FlowFlowRunsAPIService
	flowId        *string
	status        *[]string
	tags          *[]string
	cursor        *string
	limit         *int32
	createdAfter  *time.Time
	createdBefore *time.Time
}

func (r FlowFlowRunsAPIFlowListFlowRunsRequest) FlowId(flowId string) FlowFlowRunsAPIFlowListFlowRunsRequest {
	r.flowId = &flowId
	return r
}

func (r FlowFlowRunsAPIFlowListFlowRunsRequest) Status(status []string) FlowFlowRunsAPIFlowListFlowRunsRequest {
	r.status = &status
	return r
}

func (r FlowFlowRunsAPIFlowListFlowRunsRequest) Tags(tags []string) FlowFlowRunsAPIFlowListFlowRunsRequest {
	r.tags = &tags
	return r
}

func (r FlowFlowRunsAPIFlowListFlowRunsRequest) Cursor(cursor string) FlowFlowRunsAPIFlowListFlowRunsRequest {
	r.cursor = &cursor
	return r
}

func (r FlowFlowRunsAPIFlowListFlowRunsRequest) Limit(limit int32) FlowFlowRunsAPIFlowListFlowRunsRequest {
	r.limit = &limit
	return r
}

func (r FlowFlowRunsAPIFlowListFlowRunsRequest) CreatedAfter(createdAfter time.Time) FlowFlowRunsAPIFlowListFlowRunsRequest {
	r.createdAfter = &createdAfter
	return r
}

func (r FlowFlowRunsAPIFlowListFlowRunsRequest) CreatedBefore(createdBefore time.Time) FlowFlowRunsAPIFlowListFlowRunsRequest {
	r.createdBefore = &createdBefore
	return r
}

func (r FlowFlowRunsAPIFlowListFlowRunsRequest) Execute() (*FlowListFlowRuns200Response, *http.Response, error) {
	return r.ApiService.FlowListFlowRunsExecute(r)
}

/*
FlowListFlowRuns List flow runs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowFlowRunsAPIFlowListFlowRunsRequest
*/
func (a *FlowFlowRunsAPIService) FlowListFlowRuns(ctx context.Context) FlowFlowRunsAPIFlowListFlowRunsRequest {
	return FlowFlowRunsAPIFlowListFlowRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FlowListFlowRuns200Response
func (a *FlowFlowRunsAPIService) FlowListFlowRunsExecute(r FlowFlowRunsAPIFlowListFlowRunsRequest) (*FlowListFlowRuns200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowListFlowRuns200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowFlowRunsAPIService.FlowListFlowRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/flow-runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.flowId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", r.flowId, "form", "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.tags != nil {
		t := *r.tags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tags", t, "form", "multi")
		}
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	if r.createdAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdAfter", r.createdAfter, "form", "")
	}
	if r.createdBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdBefore", r.createdBefore, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowFlowRunsAPIFlowResumeFlowRunRequest struct {
	ctx        context.Context
	ApiService *FlowFlowRunsAPIService
	id         string
	requestId  string
	body       *map[string]interface{}
}

func (r FlowFlowRunsAPIFlowResumeFlowRunRequest) Body(body map[string]interface{}) FlowFlowRunsAPIFlowResumeFlowRunRequest {
	r.body = &body
	return r
}

func (r FlowFlowRunsAPIFlowResumeFlowRunRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FlowResumeFlowRunExecute(r)
}

/*
FlowResumeFlowRun Resume a paused flow run with human input

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@param requestId
	@return FlowFlowRunsAPIFlowResumeFlowRunRequest
*/
func (a *FlowFlowRunsAPIService) FlowResumeFlowRun(ctx context.Context, id string, requestId string) FlowFlowRunsAPIFlowResumeFlowRunRequest {
	return FlowFlowRunsAPIFlowResumeFlowRunRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		requestId:  requestId,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *FlowFlowRunsAPIService) FlowResumeFlowRunExecute(r FlowFlowRunsAPIFlowResumeFlowRunRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowFlowRunsAPIService.FlowResumeFlowRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/flow-runs/{id}/requests/{requestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"requestId"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowFlowRunsAPIFlowRetryFlowRunRequest struct {
	ctx                     context.Context
	ApiService              *FlowFlowRunsAPIService
	id                      string
	flowRetryFlowRunRequest *FlowRetryFlowRunRequest
}

func (r FlowFlowRunsAPIFlowRetryFlowRunRequest) FlowRetryFlowRunRequest(flowRetryFlowRunRequest FlowRetryFlowRunRequest) FlowFlowRunsAPIFlowRetryFlowRunRequest {
	r.flowRetryFlowRunRequest = &flowRetryFlowRunRequest
	return r
}

func (r FlowFlowRunsAPIFlowRetryFlowRunRequest) Execute() (*FlowFlowRun, *http.Response, error) {
	return r.ApiService.FlowRetryFlowRunExecute(r)
}

/*
FlowRetryFlowRun Retry a failed flow run

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return FlowFlowRunsAPIFlowRetryFlowRunRequest
*/
func (a *FlowFlowRunsAPIService) FlowRetryFlowRun(ctx context.Context, id string) FlowFlowRunsAPIFlowRetryFlowRunRequest {
	return FlowFlowRunsAPIFlowRetryFlowRunRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return FlowFlowRun
func (a *FlowFlowRunsAPIService) FlowRetryFlowRunExecute(r FlowFlowRunsAPIFlowRetryFlowRunRequest) (*FlowFlowRun, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowFlowRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowFlowRunsAPIService.FlowRetryFlowRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/flow-runs/{id}/retry"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowRetryFlowRunRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
