/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// IamAuthenticationAPIService IamAuthenticationAPI service
type IamAuthenticationAPIService service

type IamAuthenticationAPIIamApiControllerCallbackRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
}

func (r IamAuthenticationAPIIamApiControllerCallbackRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerCallbackExecute(r)
}

/*
IamApiControllerCallback Api Controller Callback

Get Login Error Counts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerCallbackRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerCallback(ctx context.Context) IamAuthenticationAPIIamApiControllerCallbackRequest {
	return IamAuthenticationAPIIamApiControllerCallbackRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *IamAuthenticationAPIService) IamApiControllerCallbackExecute(r IamAuthenticationAPIIamApiControllerCallbackRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/callback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerDeviceAuthRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
}

func (r IamAuthenticationAPIIamApiControllerDeviceAuthRequest) Execute() (*IamObjectDeviceAuthResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeviceAuthExecute(r)
}

/*
IamApiControllerDeviceAuth Api Controller Device Auth

Endpoint for the device authorization flow

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerDeviceAuthRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerDeviceAuth(ctx context.Context) IamAuthenticationAPIIamApiControllerDeviceAuthRequest {
	return IamAuthenticationAPIIamApiControllerDeviceAuthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectDeviceAuthResponse
func (a *IamAuthenticationAPIService) IamApiControllerDeviceAuthExecute(r IamAuthenticationAPIIamApiControllerDeviceAuthRequest) (*IamObjectDeviceAuthResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectDeviceAuthResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerDeviceAuth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/device"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
	owner      *string
	name       *string
}

// owner
func (r IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest) Owner(owner string) IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest {
	r.owner = &owner
	return r
}

// name
func (r IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest) Name(name string) IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest {
	r.name = &name
	return r
}

func (r IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerFaceIDSigninBeginExecute(r)
}

/*
IamApiControllerFaceIDSigninBegin Api Controller Face ID Signin Begin

FaceId Login Flow 1st stage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerFaceIDSigninBegin(ctx context.Context) IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest {
	return IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamAuthenticationAPIService) IamApiControllerFaceIDSigninBeginExecute(r IamAuthenticationAPIIamApiControllerFaceIDSigninBeginRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerFaceIDSigninBegin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/faceid/begin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest struct {
	ctx          context.Context
	ApiService   *IamAuthenticationAPIService
	clientId     *string
	responseType *string
	redirectUri  *string
	scope        *string
	state        *string
}

// client id
func (r IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest) ClientId(clientId string) IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest {
	r.clientId = &clientId
	return r
}

// response type
func (r IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest) ResponseType(responseType string) IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest {
	r.responseType = &responseType
	return r
}

// redirect uri
func (r IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest) RedirectUri(redirectUri string) IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest {
	r.redirectUri = &redirectUri
	return r
}

// scope
func (r IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest) Scope(scope string) IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest {
	r.scope = &scope
	return r
}

// state
func (r IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest) State(state string) IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest {
	r.state = &state
	return r
}

func (r IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerGetApplicationLoginExecute(r)
}

/*
IamApiControllerGetApplicationLogin Api Controller Get Application Login

get application login

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerGetApplicationLogin(ctx context.Context) IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest {
	return IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamAuthenticationAPIService) IamApiControllerGetApplicationLoginExecute(r IamAuthenticationAPIIamApiControllerGetApplicationLoginRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerGetApplicationLogin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/app-login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.responseType == nil {
		return localVarReturnValue, nil, reportError("responseType is required and must be specified")
	}
	if r.redirectUri == nil {
		return localVarReturnValue, nil, reportError("redirectUri is required and must be specified")
	}
	if r.scope == nil {
		return localVarReturnValue, nil, reportError("scope is required and must be specified")
	}
	if r.state == nil {
		return localVarReturnValue, nil, reportError("state is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "clientId", r.clientId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "responseType", r.responseType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "redirectUri", r.redirectUri, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerGetCaptchaRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
}

func (r IamAuthenticationAPIIamApiControllerGetCaptchaRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerGetCaptchaExecute(r)
}

/*
IamApiControllerGetCaptcha Api Controller Get Captcha

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerGetCaptchaRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerGetCaptcha(ctx context.Context) IamAuthenticationAPIIamApiControllerGetCaptchaRequest {
	return IamAuthenticationAPIIamApiControllerGetCaptchaRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *IamAuthenticationAPIService) IamApiControllerGetCaptchaExecute(r IamAuthenticationAPIIamApiControllerGetCaptchaRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerGetCaptcha")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/captcha"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerIntrospectTokenRequest struct {
	ctx           context.Context
	ApiService    *IamAuthenticationAPIService
	token         *string
	tokenTypeHint *string
}

// access_token&#39;s value or refresh_token&#39;s value
func (r IamAuthenticationAPIIamApiControllerIntrospectTokenRequest) Token(token string) IamAuthenticationAPIIamApiControllerIntrospectTokenRequest {
	r.token = &token
	return r
}

// the token type access_token or refresh_token
func (r IamAuthenticationAPIIamApiControllerIntrospectTokenRequest) TokenTypeHint(tokenTypeHint string) IamAuthenticationAPIIamApiControllerIntrospectTokenRequest {
	r.tokenTypeHint = &tokenTypeHint
	return r
}

func (r IamAuthenticationAPIIamApiControllerIntrospectTokenRequest) Execute() (*IamObjectIntrospectionResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerIntrospectTokenExecute(r)
}

/*
IamApiControllerIntrospectToken Api Controller Introspect Token

The introspection endpoint is an OAuth 2.0 endpoint that takes a

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerIntrospectTokenRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerIntrospectToken(ctx context.Context) IamAuthenticationAPIIamApiControllerIntrospectTokenRequest {
	return IamAuthenticationAPIIamApiControllerIntrospectTokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectIntrospectionResponse
func (a *IamAuthenticationAPIService) IamApiControllerIntrospectTokenExecute(r IamAuthenticationAPIIamApiControllerIntrospectTokenRequest) (*IamObjectIntrospectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectIntrospectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerIntrospectToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/introspect"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.token == nil {
		return localVarReturnValue, nil, reportError("token is required and must be specified")
	}
	if r.tokenTypeHint == nil {
		return localVarReturnValue, nil, reportError("tokenTypeHint is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "token", r.token, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "token_type_hint", r.tokenTypeHint, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v IamObjectTokenError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v IamObjectTokenError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerLoginRequest struct {
	ctx                 context.Context
	ApiService          *IamAuthenticationAPIService
	clientId            *string
	responseType        *string
	redirectUri         *string
	body                *map[string]interface{}
	scope               *string
	state               *string
	nonce               *string
	codeChallengeMethod *string
	codeChallenge       *string
}

// clientId
func (r IamAuthenticationAPIIamApiControllerLoginRequest) ClientId(clientId string) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.clientId = &clientId
	return r
}

// responseType
func (r IamAuthenticationAPIIamApiControllerLoginRequest) ResponseType(responseType string) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.responseType = &responseType
	return r
}

// redirectUri
func (r IamAuthenticationAPIIamApiControllerLoginRequest) RedirectUri(redirectUri string) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.redirectUri = &redirectUri
	return r
}

// Login information
func (r IamAuthenticationAPIIamApiControllerLoginRequest) Body(body map[string]interface{}) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.body = &body
	return r
}

// scope
func (r IamAuthenticationAPIIamApiControllerLoginRequest) Scope(scope string) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.scope = &scope
	return r
}

// state
func (r IamAuthenticationAPIIamApiControllerLoginRequest) State(state string) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.state = &state
	return r
}

// nonce
func (r IamAuthenticationAPIIamApiControllerLoginRequest) Nonce(nonce string) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.nonce = &nonce
	return r
}

// code_challenge_method
func (r IamAuthenticationAPIIamApiControllerLoginRequest) CodeChallengeMethod(codeChallengeMethod string) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.codeChallengeMethod = &codeChallengeMethod
	return r
}

// code_challenge
func (r IamAuthenticationAPIIamApiControllerLoginRequest) CodeChallenge(codeChallenge string) IamAuthenticationAPIIamApiControllerLoginRequest {
	r.codeChallenge = &codeChallenge
	return r
}

func (r IamAuthenticationAPIIamApiControllerLoginRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerLoginExecute(r)
}

/*
IamApiControllerLogin Api Controller Login

login

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerLoginRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerLogin(ctx context.Context) IamAuthenticationAPIIamApiControllerLoginRequest {
	return IamAuthenticationAPIIamApiControllerLoginRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamAuthenticationAPIService) IamApiControllerLoginExecute(r IamAuthenticationAPIIamApiControllerLoginRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerLogin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.responseType == nil {
		return localVarReturnValue, nil, reportError("responseType is required and must be specified")
	}
	if r.redirectUri == nil {
		return localVarReturnValue, nil, reportError("redirectUri is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "clientId", r.clientId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "responseType", r.responseType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "redirectUri", r.redirectUri, "form", "")
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.nonce != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nonce", r.nonce, "form", "")
	}
	if r.codeChallengeMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge_method", r.codeChallengeMethod, "form", "")
	}
	if r.codeChallenge != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge", r.codeChallenge, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerLogoutRequest struct {
	ctx                   context.Context
	ApiService            *IamAuthenticationAPIService
	idTokenHint           *string
	postLogoutRedirectUri *string
	state                 *string
}

// id_token_hint
func (r IamAuthenticationAPIIamApiControllerLogoutRequest) IdTokenHint(idTokenHint string) IamAuthenticationAPIIamApiControllerLogoutRequest {
	r.idTokenHint = &idTokenHint
	return r
}

// post_logout_redirect_uri
func (r IamAuthenticationAPIIamApiControllerLogoutRequest) PostLogoutRedirectUri(postLogoutRedirectUri string) IamAuthenticationAPIIamApiControllerLogoutRequest {
	r.postLogoutRedirectUri = &postLogoutRedirectUri
	return r
}

// state
func (r IamAuthenticationAPIIamApiControllerLogoutRequest) State(state string) IamAuthenticationAPIIamApiControllerLogoutRequest {
	r.state = &state
	return r
}

func (r IamAuthenticationAPIIamApiControllerLogoutRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerLogoutExecute(r)
}

/*
IamApiControllerLogout Api Controller Logout

logout the current user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerLogoutRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerLogout(ctx context.Context) IamAuthenticationAPIIamApiControllerLogoutRequest {
	return IamAuthenticationAPIIamApiControllerLogoutRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamAuthenticationAPIService) IamApiControllerLogoutExecute(r IamAuthenticationAPIIamApiControllerLogoutRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerLogout")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/logout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.idTokenHint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_token_hint", r.idTokenHint, "form", "")
	}
	if r.postLogoutRedirectUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "post_logout_redirect_uri", r.postLogoutRedirectUri, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerSignupRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
	username   *string
	password   *string
}

// The username to sign up
func (r IamAuthenticationAPIIamApiControllerSignupRequest) Username(username string) IamAuthenticationAPIIamApiControllerSignupRequest {
	r.username = &username
	return r
}

// The password
func (r IamAuthenticationAPIIamApiControllerSignupRequest) Password(password string) IamAuthenticationAPIIamApiControllerSignupRequest {
	r.password = &password
	return r
}

func (r IamAuthenticationAPIIamApiControllerSignupRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerSignupExecute(r)
}

/*
IamApiControllerSignup Api Controller Signup

sign up a new user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerSignupRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerSignup(ctx context.Context) IamAuthenticationAPIIamApiControllerSignupRequest {
	return IamAuthenticationAPIIamApiControllerSignupRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamAuthenticationAPIService) IamApiControllerSignupExecute(r IamAuthenticationAPIIamApiControllerSignupRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerSignup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/signup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.username == nil {
		return localVarReturnValue, nil, reportError("username is required and must be specified")
	}
	if r.password == nil {
		return localVarReturnValue, nil, reportError("password is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "username", r.username, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "password", r.password, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerSsoLogoutGetRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
	logoutAll  *string
}

// Whether to logout from all sessions. Accepted values: &#39;true&#39;, &#39;1&#39;, or empty (default: true). Any other value means false.
func (r IamAuthenticationAPIIamApiControllerSsoLogoutGetRequest) LogoutAll(logoutAll string) IamAuthenticationAPIIamApiControllerSsoLogoutGetRequest {
	r.logoutAll = &logoutAll
	return r
}

func (r IamAuthenticationAPIIamApiControllerSsoLogoutGetRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerSsoLogoutGetExecute(r)
}

/*
IamApiControllerSsoLogoutGet Api Controller Sso Logout

logout the current user from all applications or current session only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerSsoLogoutGetRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerSsoLogoutGet(ctx context.Context) IamAuthenticationAPIIamApiControllerSsoLogoutGetRequest {
	return IamAuthenticationAPIIamApiControllerSsoLogoutGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamAuthenticationAPIService) IamApiControllerSsoLogoutGetExecute(r IamAuthenticationAPIIamApiControllerSsoLogoutGetRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerSsoLogoutGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sso-logout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.logoutAll != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logoutAll", r.logoutAll, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerSsoLogoutPostRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
	logoutAll  *string
}

// Whether to logout from all sessions. Accepted values: &#39;true&#39;, &#39;1&#39;, or empty (default: true). Any other value means false.
func (r IamAuthenticationAPIIamApiControllerSsoLogoutPostRequest) LogoutAll(logoutAll string) IamAuthenticationAPIIamApiControllerSsoLogoutPostRequest {
	r.logoutAll = &logoutAll
	return r
}

func (r IamAuthenticationAPIIamApiControllerSsoLogoutPostRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerSsoLogoutPostExecute(r)
}

/*
IamApiControllerSsoLogoutPost Api Controller Sso Logout

logout the current user from all applications or current session only

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerSsoLogoutPostRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerSsoLogoutPost(ctx context.Context) IamAuthenticationAPIIamApiControllerSsoLogoutPostRequest {
	return IamAuthenticationAPIIamApiControllerSsoLogoutPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamAuthenticationAPIService) IamApiControllerSsoLogoutPostExecute(r IamAuthenticationAPIIamApiControllerSsoLogoutPostRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerSsoLogoutPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sso-logout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.logoutAll != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logoutAll", r.logoutAll, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerUnlinkRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
}

func (r IamAuthenticationAPIIamApiControllerUnlinkRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerUnlinkExecute(r)
}

/*
IamApiControllerUnlink Api Controller Unlink

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerUnlinkRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerUnlink(ctx context.Context) IamAuthenticationAPIIamApiControllerUnlinkRequest {
	return IamAuthenticationAPIIamApiControllerUnlinkRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *IamAuthenticationAPIService) IamApiControllerUnlinkExecute(r IamAuthenticationAPIIamApiControllerUnlinkRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerUnlink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/unlink"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
	owner      *string
	name       *string
}

// owner
func (r IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest) Owner(owner string) IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest {
	r.owner = &owner
	return r
}

// name
func (r IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest) Name(name string) IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest {
	r.name = &name
	return r
}

func (r IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerWebAuthnSigninBeginExecute(r)
}

/*
IamApiControllerWebAuthnSigninBegin Api Controller Web Authn Signin Begin

WebAuthn Login Flow 1st stage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerWebAuthnSigninBegin(ctx context.Context) IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest {
	return IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *IamAuthenticationAPIService) IamApiControllerWebAuthnSigninBeginExecute(r IamAuthenticationAPIIamApiControllerWebAuthnSigninBeginRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerWebAuthnSigninBegin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/webauthn/signin/begin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamApiControllerWebAuthnSigninFinishRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
	body       *map[string]interface{}
}

// authenticator assertion Response
func (r IamAuthenticationAPIIamApiControllerWebAuthnSigninFinishRequest) Body(body map[string]interface{}) IamAuthenticationAPIIamApiControllerWebAuthnSigninFinishRequest {
	r.body = &body
	return r
}

func (r IamAuthenticationAPIIamApiControllerWebAuthnSigninFinishRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerWebAuthnSigninFinishExecute(r)
}

/*
IamApiControllerWebAuthnSigninFinish Api Controller Web Authn Signin Finish

WebAuthn Login Flow 2nd stage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamApiControllerWebAuthnSigninFinishRequest
*/
func (a *IamAuthenticationAPIService) IamApiControllerWebAuthnSigninFinish(ctx context.Context) IamAuthenticationAPIIamApiControllerWebAuthnSigninFinishRequest {
	return IamAuthenticationAPIIamApiControllerWebAuthnSigninFinishRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamAuthenticationAPIService) IamApiControllerWebAuthnSigninFinishExecute(r IamAuthenticationAPIIamApiControllerWebAuthnSigninFinishRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamApiControllerWebAuthnSigninFinish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/webauthn/signin/finish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamRootControllerGetJwksRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
}

func (r IamAuthenticationAPIIamRootControllerGetJwksRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamRootControllerGetJwksExecute(r)
}

/*
IamRootControllerGetJwks Root Controller Get Jwks

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamRootControllerGetJwksRequest
*/
func (a *IamAuthenticationAPIService) IamRootControllerGetJwks(ctx context.Context) IamAuthenticationAPIIamRootControllerGetJwksRequest {
	return IamAuthenticationAPIIamRootControllerGetJwksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *IamAuthenticationAPIService) IamRootControllerGetJwksExecute(r IamAuthenticationAPIIamRootControllerGetJwksRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamRootControllerGetJwks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/jwks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamRootControllerGetJwksByApplicationRequest struct {
	ctx         context.Context
	ApiService  *IamAuthenticationAPIService
	application string
}

func (r IamAuthenticationAPIIamRootControllerGetJwksByApplicationRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamRootControllerGetJwksByApplicationExecute(r)
}

/*
IamRootControllerGetJwksByApplication Root Controller Get Jwks By Application

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param application application name
	@return IamAuthenticationAPIIamRootControllerGetJwksByApplicationRequest
*/
func (a *IamAuthenticationAPIService) IamRootControllerGetJwksByApplication(ctx context.Context, application string) IamAuthenticationAPIIamRootControllerGetJwksByApplicationRequest {
	return IamAuthenticationAPIIamRootControllerGetJwksByApplicationRequest{
		ApiService:  a,
		ctx:         ctx,
		application: application,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *IamAuthenticationAPIService) IamRootControllerGetJwksByApplicationExecute(r IamAuthenticationAPIIamRootControllerGetJwksByApplicationRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamRootControllerGetJwksByApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/{application}/jwks"
	localVarPath = strings.Replace(localVarPath, "{"+"application"+"}", url.PathEscape(parameterValueToString(r.application, "application")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamRootControllerGetOidcDiscoveryRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
}

func (r IamAuthenticationAPIIamRootControllerGetOidcDiscoveryRequest) Execute() (*IamObjectOidcDiscovery, *http.Response, error) {
	return r.ApiService.IamRootControllerGetOidcDiscoveryExecute(r)
}

/*
IamRootControllerGetOidcDiscovery Root Controller Get Oidc Discovery

Get Oidc Discovery

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamRootControllerGetOidcDiscoveryRequest
*/
func (a *IamAuthenticationAPIService) IamRootControllerGetOidcDiscovery(ctx context.Context) IamAuthenticationAPIIamRootControllerGetOidcDiscoveryRequest {
	return IamAuthenticationAPIIamRootControllerGetOidcDiscoveryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectOidcDiscovery
func (a *IamAuthenticationAPIService) IamRootControllerGetOidcDiscoveryExecute(r IamAuthenticationAPIIamRootControllerGetOidcDiscoveryRequest) (*IamObjectOidcDiscovery, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectOidcDiscovery
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamRootControllerGetOidcDiscovery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/openid-configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamRootControllerGetOidcDiscoveryByApplicationRequest struct {
	ctx         context.Context
	ApiService  *IamAuthenticationAPIService
	application string
}

func (r IamAuthenticationAPIIamRootControllerGetOidcDiscoveryByApplicationRequest) Execute() (*IamObjectOidcDiscovery, *http.Response, error) {
	return r.ApiService.IamRootControllerGetOidcDiscoveryByApplicationExecute(r)
}

/*
IamRootControllerGetOidcDiscoveryByApplication Root Controller Get Oidc Discovery By Application

Get Oidc Discovery for specific application

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param application application name
	@return IamAuthenticationAPIIamRootControllerGetOidcDiscoveryByApplicationRequest
*/
func (a *IamAuthenticationAPIService) IamRootControllerGetOidcDiscoveryByApplication(ctx context.Context, application string) IamAuthenticationAPIIamRootControllerGetOidcDiscoveryByApplicationRequest {
	return IamAuthenticationAPIIamRootControllerGetOidcDiscoveryByApplicationRequest{
		ApiService:  a,
		ctx:         ctx,
		application: application,
	}
}

// Execute executes the request
//
//	@return IamObjectOidcDiscovery
func (a *IamAuthenticationAPIService) IamRootControllerGetOidcDiscoveryByApplicationExecute(r IamAuthenticationAPIIamRootControllerGetOidcDiscoveryByApplicationRequest) (*IamObjectOidcDiscovery, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectOidcDiscovery
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamRootControllerGetOidcDiscoveryByApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/{application}/openid-configuration"
	localVarPath = strings.Replace(localVarPath, "{"+"application"+"}", url.PathEscape(parameterValueToString(r.application, "application")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamRootControllerGetWebFingerRequest struct {
	ctx        context.Context
	ApiService *IamAuthenticationAPIService
	resource   *string
}

// resource
func (r IamAuthenticationAPIIamRootControllerGetWebFingerRequest) Resource(resource string) IamAuthenticationAPIIamRootControllerGetWebFingerRequest {
	r.resource = &resource
	return r
}

func (r IamAuthenticationAPIIamRootControllerGetWebFingerRequest) Execute() (*IamObjectWebFinger, *http.Response, error) {
	return r.ApiService.IamRootControllerGetWebFingerExecute(r)
}

/*
IamRootControllerGetWebFinger Root Controller Get Web Finger

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamAuthenticationAPIIamRootControllerGetWebFingerRequest
*/
func (a *IamAuthenticationAPIService) IamRootControllerGetWebFinger(ctx context.Context) IamAuthenticationAPIIamRootControllerGetWebFingerRequest {
	return IamAuthenticationAPIIamRootControllerGetWebFingerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectWebFinger
func (a *IamAuthenticationAPIService) IamRootControllerGetWebFingerExecute(r IamAuthenticationAPIIamRootControllerGetWebFingerRequest) (*IamObjectWebFinger, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectWebFinger
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamRootControllerGetWebFinger")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/webfinger"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resource == nil {
		return localVarReturnValue, nil, reportError("resource is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamAuthenticationAPIIamRootControllerGetWebFingerByApplicationRequest struct {
	ctx         context.Context
	ApiService  *IamAuthenticationAPIService
	application string
	resource    *string
}

// resource
func (r IamAuthenticationAPIIamRootControllerGetWebFingerByApplicationRequest) Resource(resource string) IamAuthenticationAPIIamRootControllerGetWebFingerByApplicationRequest {
	r.resource = &resource
	return r
}

func (r IamAuthenticationAPIIamRootControllerGetWebFingerByApplicationRequest) Execute() (*IamObjectWebFinger, *http.Response, error) {
	return r.ApiService.IamRootControllerGetWebFingerByApplicationExecute(r)
}

/*
IamRootControllerGetWebFingerByApplication Root Controller Get Web Finger By Application

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param application application name
	@return IamAuthenticationAPIIamRootControllerGetWebFingerByApplicationRequest
*/
func (a *IamAuthenticationAPIService) IamRootControllerGetWebFingerByApplication(ctx context.Context, application string) IamAuthenticationAPIIamRootControllerGetWebFingerByApplicationRequest {
	return IamAuthenticationAPIIamRootControllerGetWebFingerByApplicationRequest{
		ApiService:  a,
		ctx:         ctx,
		application: application,
	}
}

// Execute executes the request
//
//	@return IamObjectWebFinger
func (a *IamAuthenticationAPIService) IamRootControllerGetWebFingerByApplicationExecute(r IamAuthenticationAPIIamRootControllerGetWebFingerByApplicationRequest) (*IamObjectWebFinger, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectWebFinger
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamAuthenticationAPIService.IamRootControllerGetWebFingerByApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/{application}/webfinger"
	localVarPath = strings.Replace(localVarPath, "{"+"application"+"}", url.PathEscape(parameterValueToString(r.application, "application")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resource == nil {
		return localVarReturnValue, nil, reportError("resource is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
