/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ChatMCPAPIService ChatMCPAPI service
type ChatMCPAPIService service

type ChatMCPAPIChatDeleteMcpServersByservernameRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
}

func (r ChatMCPAPIChatDeleteMcpServersByservernameRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatDeleteMcpServersByservernameExecute(r)
}

/*
ChatDeleteMcpServersByservername Delete an MCP server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatDeleteMcpServersByservernameRequest
*/
func (a *ChatMCPAPIService) ChatDeleteMcpServersByservername(ctx context.Context, serverName string) ChatMCPAPIChatDeleteMcpServersByservernameRequest {
	return ChatMCPAPIChatDeleteMcpServersByservernameRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatDeleteMcpServersByservernameExecute(r ChatMCPAPIChatDeleteMcpServersByservernameRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatDeleteMcpServersByservername")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/servers/{serverName}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpByservernameAuthValuesRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
}

func (r ChatMCPAPIChatGetMcpByservernameAuthValuesRequest) Execute() (*ChatGetMcpByservernameAuthValues200Response, *http.Response, error) {
	return r.ApiService.ChatGetMcpByservernameAuthValuesExecute(r)
}

/*
ChatGetMcpByservernameAuthValues Check which auth values exist for an MCP server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatGetMcpByservernameAuthValuesRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpByservernameAuthValues(ctx context.Context, serverName string) ChatMCPAPIChatGetMcpByservernameAuthValuesRequest {
	return ChatMCPAPIChatGetMcpByservernameAuthValuesRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
//
//	@return ChatGetMcpByservernameAuthValues200Response
func (a *ChatMCPAPIService) ChatGetMcpByservernameAuthValuesExecute(r ChatMCPAPIChatGetMcpByservernameAuthValuesRequest) (*ChatGetMcpByservernameAuthValues200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatGetMcpByservernameAuthValues200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpByservernameAuthValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/{serverName}/auth-values"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
	code       *string
	state      *string
}

func (r ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest) Code(code string) ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest {
	r.code = &code
	return r
}

func (r ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest) State(state string) ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest {
	r.state = &state
	return r
}

func (r ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest) Execute() (*http.Response, error) {
	return r.ApiService.ChatGetMcpByservernameOauthCallbackExecute(r)
}

/*
ChatGetMcpByservernameOauthCallback MCP OAuth callback

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpByservernameOauthCallback(ctx context.Context, serverName string) ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest {
	return ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
func (a *ChatMCPAPIService) ChatGetMcpByservernameOauthCallbackExecute(r ChatMCPAPIChatGetMcpByservernameOauthCallbackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpByservernameOauthCallback")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/{serverName}/oauth/callback"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
	userId     *string
	flowId     *string
}

func (r ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest) UserId(userId string) ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest {
	r.userId = &userId
	return r
}

func (r ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest) FlowId(flowId string) ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest {
	r.flowId = &flowId
	return r
}

func (r ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ChatGetMcpByservernameOauthInitiateExecute(r)
}

/*
ChatGetMcpByservernameOauthInitiate Initiate MCP OAuth flow

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpByservernameOauthInitiate(ctx context.Context, serverName string) ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest {
	return ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
func (a *ChatMCPAPIService) ChatGetMcpByservernameOauthInitiateExecute(r ChatMCPAPIChatGetMcpByservernameOauthInitiateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpByservernameOauthInitiate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/{serverName}/oauth/initiate"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userId == nil {
		return nil, reportError("userId is required and must be specified")
	}
	if r.flowId == nil {
		return nil, reportError("flowId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", r.flowId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpConnectionStatusRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
}

func (r ChatMCPAPIChatGetMcpConnectionStatusRequest) Execute() (*ChatGetMcpConnectionStatus200Response, *http.Response, error) {
	return r.ApiService.ChatGetMcpConnectionStatusExecute(r)
}

/*
ChatGetMcpConnectionStatus Get connection status for all MCP servers

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChatMCPAPIChatGetMcpConnectionStatusRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpConnectionStatus(ctx context.Context) ChatMCPAPIChatGetMcpConnectionStatusRequest {
	return ChatMCPAPIChatGetMcpConnectionStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ChatGetMcpConnectionStatus200Response
func (a *ChatMCPAPIService) ChatGetMcpConnectionStatusExecute(r ChatMCPAPIChatGetMcpConnectionStatusRequest) (*ChatGetMcpConnectionStatus200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatGetMcpConnectionStatus200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpConnectionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/connection/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpConnectionStatusByservernameRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
}

func (r ChatMCPAPIChatGetMcpConnectionStatusByservernameRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatGetMcpConnectionStatusByservernameExecute(r)
}

/*
ChatGetMcpConnectionStatusByservername Get connection status for a specific MCP server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatGetMcpConnectionStatusByservernameRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpConnectionStatusByservername(ctx context.Context, serverName string) ChatMCPAPIChatGetMcpConnectionStatusByservernameRequest {
	return ChatMCPAPIChatGetMcpConnectionStatusByservernameRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatGetMcpConnectionStatusByservernameExecute(r ChatMCPAPIChatGetMcpConnectionStatusByservernameRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpConnectionStatusByservername")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/connection/status/{serverName}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpOauthStatusByflowidRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	flowId     string
}

func (r ChatMCPAPIChatGetMcpOauthStatusByflowidRequest) Execute() (*ChatGetMcpOauthStatusByflowid200Response, *http.Response, error) {
	return r.ApiService.ChatGetMcpOauthStatusByflowidExecute(r)
}

/*
ChatGetMcpOauthStatusByflowid Check OAuth flow status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param flowId
	@return ChatMCPAPIChatGetMcpOauthStatusByflowidRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpOauthStatusByflowid(ctx context.Context, flowId string) ChatMCPAPIChatGetMcpOauthStatusByflowidRequest {
	return ChatMCPAPIChatGetMcpOauthStatusByflowidRequest{
		ApiService: a,
		ctx:        ctx,
		flowId:     flowId,
	}
}

// Execute executes the request
//
//	@return ChatGetMcpOauthStatusByflowid200Response
func (a *ChatMCPAPIService) ChatGetMcpOauthStatusByflowidExecute(r ChatMCPAPIChatGetMcpOauthStatusByflowidRequest) (*ChatGetMcpOauthStatusByflowid200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatGetMcpOauthStatusByflowid200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpOauthStatusByflowid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/oauth/status/{flowId}"
	localVarPath = strings.Replace(localVarPath, "{"+"flowId"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpOauthTokensByflowidRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	flowId     string
}

func (r ChatMCPAPIChatGetMcpOauthTokensByflowidRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatGetMcpOauthTokensByflowidExecute(r)
}

/*
ChatGetMcpOauthTokensByflowid Get OAuth tokens for a completed flow

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param flowId
	@return ChatMCPAPIChatGetMcpOauthTokensByflowidRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpOauthTokensByflowid(ctx context.Context, flowId string) ChatMCPAPIChatGetMcpOauthTokensByflowidRequest {
	return ChatMCPAPIChatGetMcpOauthTokensByflowidRequest{
		ApiService: a,
		ctx:        ctx,
		flowId:     flowId,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatGetMcpOauthTokensByflowidExecute(r ChatMCPAPIChatGetMcpOauthTokensByflowidRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpOauthTokensByflowid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/oauth/tokens/{flowId}"
	localVarPath = strings.Replace(localVarPath, "{"+"flowId"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpServersRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	limit      *int32
	after      *string
	search     *string
}

func (r ChatMCPAPIChatGetMcpServersRequest) Limit(limit int32) ChatMCPAPIChatGetMcpServersRequest {
	r.limit = &limit
	return r
}

func (r ChatMCPAPIChatGetMcpServersRequest) After(after string) ChatMCPAPIChatGetMcpServersRequest {
	r.after = &after
	return r
}

func (r ChatMCPAPIChatGetMcpServersRequest) Search(search string) ChatMCPAPIChatGetMcpServersRequest {
	r.search = &search
	return r
}

func (r ChatMCPAPIChatGetMcpServersRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatGetMcpServersExecute(r)
}

/*
ChatGetMcpServers List user-managed MCP servers

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChatMCPAPIChatGetMcpServersRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpServers(ctx context.Context) ChatMCPAPIChatGetMcpServersRequest {
	return ChatMCPAPIChatGetMcpServersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatGetMcpServersExecute(r ChatMCPAPIChatGetMcpServersRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpServersByservernameRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
}

func (r ChatMCPAPIChatGetMcpServersByservernameRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatGetMcpServersByservernameExecute(r)
}

/*
ChatGetMcpServersByservername Get an MCP server by name

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatGetMcpServersByservernameRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpServersByservername(ctx context.Context, serverName string) ChatMCPAPIChatGetMcpServersByservernameRequest {
	return ChatMCPAPIChatGetMcpServersByservernameRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatGetMcpServersByservernameExecute(r ChatMCPAPIChatGetMcpServersByservernameRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpServersByservername")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/servers/{serverName}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatGetMcpToolsRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
}

func (r ChatMCPAPIChatGetMcpToolsRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatGetMcpToolsExecute(r)
}

/*
ChatGetMcpTools Get all available MCP tools

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChatMCPAPIChatGetMcpToolsRequest
*/
func (a *ChatMCPAPIService) ChatGetMcpTools(ctx context.Context) ChatMCPAPIChatGetMcpToolsRequest {
	return ChatMCPAPIChatGetMcpToolsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatGetMcpToolsExecute(r ChatMCPAPIChatGetMcpToolsRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatGetMcpTools")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/tools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatPatchMcpServersByservernameRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
	body       *map[string]interface{}
}

func (r ChatMCPAPIChatPatchMcpServersByservernameRequest) Body(body map[string]interface{}) ChatMCPAPIChatPatchMcpServersByservernameRequest {
	r.body = &body
	return r
}

func (r ChatMCPAPIChatPatchMcpServersByservernameRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatPatchMcpServersByservernameExecute(r)
}

/*
ChatPatchMcpServersByservername Update an MCP server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatPatchMcpServersByservernameRequest
*/
func (a *ChatMCPAPIService) ChatPatchMcpServersByservername(ctx context.Context, serverName string) ChatMCPAPIChatPatchMcpServersByservernameRequest {
	return ChatMCPAPIChatPatchMcpServersByservernameRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatPatchMcpServersByservernameExecute(r ChatMCPAPIChatPatchMcpServersByservernameRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatPatchMcpServersByservername")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/servers/{serverName}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatPostMcpByservernameOauthBindRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
}

func (r ChatMCPAPIChatPostMcpByservernameOauthBindRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatPostMcpByservernameOauthBindExecute(r)
}

/*
ChatPostMcpByservernameOauthBind Set CSRF binding cookie for MCP OAuth

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatPostMcpByservernameOauthBindRequest
*/
func (a *ChatMCPAPIService) ChatPostMcpByservernameOauthBind(ctx context.Context, serverName string) ChatMCPAPIChatPostMcpByservernameOauthBindRequest {
	return ChatMCPAPIChatPostMcpByservernameOauthBindRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatPostMcpByservernameOauthBindExecute(r ChatMCPAPIChatPostMcpByservernameOauthBindRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatPostMcpByservernameOauthBind")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/{serverName}/oauth/bind"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatPostMcpByservernameReinitializeRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
}

func (r ChatMCPAPIChatPostMcpByservernameReinitializeRequest) Execute() (*ChatPostMcpByservernameReinitialize200Response, *http.Response, error) {
	return r.ApiService.ChatPostMcpByservernameReinitializeExecute(r)
}

/*
ChatPostMcpByservernameReinitialize Reinitialize an MCP server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatPostMcpByservernameReinitializeRequest
*/
func (a *ChatMCPAPIService) ChatPostMcpByservernameReinitialize(ctx context.Context, serverName string) ChatMCPAPIChatPostMcpByservernameReinitializeRequest {
	return ChatMCPAPIChatPostMcpByservernameReinitializeRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
//
//	@return ChatPostMcpByservernameReinitialize200Response
func (a *ChatMCPAPIService) ChatPostMcpByservernameReinitializeExecute(r ChatMCPAPIChatPostMcpByservernameReinitializeRequest) (*ChatPostMcpByservernameReinitialize200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatPostMcpByservernameReinitialize200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatPostMcpByservernameReinitialize")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/{serverName}/reinitialize"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatPostMcpOauthCancelByservernameRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	serverName string
}

func (r ChatMCPAPIChatPostMcpOauthCancelByservernameRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatPostMcpOauthCancelByservernameExecute(r)
}

/*
ChatPostMcpOauthCancelByservername Cancel an OAuth flow

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverName
	@return ChatMCPAPIChatPostMcpOauthCancelByservernameRequest
*/
func (a *ChatMCPAPIService) ChatPostMcpOauthCancelByservername(ctx context.Context, serverName string) ChatMCPAPIChatPostMcpOauthCancelByservernameRequest {
	return ChatMCPAPIChatPostMcpOauthCancelByservernameRequest{
		ApiService: a,
		ctx:        ctx,
		serverName: serverName,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatPostMcpOauthCancelByservernameExecute(r ChatMCPAPIChatPostMcpOauthCancelByservernameRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatPostMcpOauthCancelByservername")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/oauth/cancel/{serverName}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverName"+"}", url.PathEscape(parameterValueToString(r.serverName, "serverName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMCPAPIChatPostMcpServersRequest struct {
	ctx        context.Context
	ApiService *ChatMCPAPIService
	body       *map[string]interface{}
}

func (r ChatMCPAPIChatPostMcpServersRequest) Body(body map[string]interface{}) ChatMCPAPIChatPostMcpServersRequest {
	r.body = &body
	return r
}

func (r ChatMCPAPIChatPostMcpServersRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatPostMcpServersExecute(r)
}

/*
ChatPostMcpServers Create a user-managed MCP server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChatMCPAPIChatPostMcpServersRequest
*/
func (a *ChatMCPAPIService) ChatPostMcpServers(ctx context.Context) ChatMCPAPIChatPostMcpServersRequest {
	return ChatMCPAPIChatPostMcpServersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMCPAPIService) ChatPostMcpServersExecute(r ChatMCPAPIChatPostMcpServersRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMCPAPIService.ChatPostMcpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/mcp/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
