/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ChatMessagesAPIService ChatMessagesAPI service
type ChatMessagesAPIService service

type ChatMessagesAPIChatDeleteMessagesByconversationidBymessageidRequest struct {
	ctx            context.Context
	ApiService     *ChatMessagesAPIService
	conversationId string
	messageId      string
}

func (r ChatMessagesAPIChatDeleteMessagesByconversationidBymessageidRequest) Execute() (*http.Response, error) {
	return r.ApiService.ChatDeleteMessagesByconversationidBymessageidExecute(r)
}

/*
ChatDeleteMessagesByconversationidBymessageid Delete a message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param conversationId
	@param messageId
	@return ChatMessagesAPIChatDeleteMessagesByconversationidBymessageidRequest
*/
func (a *ChatMessagesAPIService) ChatDeleteMessagesByconversationidBymessageid(ctx context.Context, conversationId string, messageId string) ChatMessagesAPIChatDeleteMessagesByconversationidBymessageidRequest {
	return ChatMessagesAPIChatDeleteMessagesByconversationidBymessageidRequest{
		ApiService:     a,
		ctx:            ctx,
		conversationId: conversationId,
		messageId:      messageId,
	}
}

// Execute executes the request
func (a *ChatMessagesAPIService) ChatDeleteMessagesByconversationidBymessageidExecute(r ChatMessagesAPIChatDeleteMessagesByconversationidBymessageidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatDeleteMessagesByconversationidBymessageid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages/{conversationId}/{messageId}"
	localVarPath = strings.Replace(localVarPath, "{"+"conversationId"+"}", url.PathEscape(parameterValueToString(r.conversationId, "conversationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"messageId"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ChatMessagesAPIChatGetMessagesRequest struct {
	ctx            context.Context
	ApiService     *ChatMessagesAPIService
	conversationId *string
	messageId      *string
	search         *string
	cursor         *string
	pageSize       *int32
	sortBy         *string
	sortDirection  *string
}

func (r ChatMessagesAPIChatGetMessagesRequest) ConversationId(conversationId string) ChatMessagesAPIChatGetMessagesRequest {
	r.conversationId = &conversationId
	return r
}

func (r ChatMessagesAPIChatGetMessagesRequest) MessageId(messageId string) ChatMessagesAPIChatGetMessagesRequest {
	r.messageId = &messageId
	return r
}

func (r ChatMessagesAPIChatGetMessagesRequest) Search(search string) ChatMessagesAPIChatGetMessagesRequest {
	r.search = &search
	return r
}

func (r ChatMessagesAPIChatGetMessagesRequest) Cursor(cursor string) ChatMessagesAPIChatGetMessagesRequest {
	r.cursor = &cursor
	return r
}

func (r ChatMessagesAPIChatGetMessagesRequest) PageSize(pageSize int32) ChatMessagesAPIChatGetMessagesRequest {
	r.pageSize = &pageSize
	return r
}

func (r ChatMessagesAPIChatGetMessagesRequest) SortBy(sortBy string) ChatMessagesAPIChatGetMessagesRequest {
	r.sortBy = &sortBy
	return r
}

func (r ChatMessagesAPIChatGetMessagesRequest) SortDirection(sortDirection string) ChatMessagesAPIChatGetMessagesRequest {
	r.sortDirection = &sortDirection
	return r
}

func (r ChatMessagesAPIChatGetMessagesRequest) Execute() (*ChatGetMessages200Response, *http.Response, error) {
	return r.ApiService.ChatGetMessagesExecute(r)
}

/*
ChatGetMessages Query messages

Search messages or retrieve by conversation/message ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChatMessagesAPIChatGetMessagesRequest
*/
func (a *ChatMessagesAPIService) ChatGetMessages(ctx context.Context) ChatMessagesAPIChatGetMessagesRequest {
	return ChatMessagesAPIChatGetMessagesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ChatGetMessages200Response
func (a *ChatMessagesAPIService) ChatGetMessagesExecute(r ChatMessagesAPIChatGetMessagesRequest) (*ChatGetMessages200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatGetMessages200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatGetMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.conversationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conversationId", r.conversationId, "form", "")
	}
	if r.messageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "messageId", r.messageId, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		r.pageSize = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	} else {
		var defaultValue string = "createdAt"
		r.sortBy = &defaultValue
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortDirection", r.sortDirection, "form", "")
	} else {
		var defaultValue string = "desc"
		r.sortDirection = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMessagesAPIChatGetMessagesByconversationidRequest struct {
	ctx            context.Context
	ApiService     *ChatMessagesAPIService
	conversationId string
}

func (r ChatMessagesAPIChatGetMessagesByconversationidRequest) Execute() ([]ChatMessage, *http.Response, error) {
	return r.ApiService.ChatGetMessagesByconversationidExecute(r)
}

/*
ChatGetMessagesByconversationid Get all messages in a conversation

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param conversationId
	@return ChatMessagesAPIChatGetMessagesByconversationidRequest
*/
func (a *ChatMessagesAPIService) ChatGetMessagesByconversationid(ctx context.Context, conversationId string) ChatMessagesAPIChatGetMessagesByconversationidRequest {
	return ChatMessagesAPIChatGetMessagesByconversationidRequest{
		ApiService:     a,
		ctx:            ctx,
		conversationId: conversationId,
	}
}

// Execute executes the request
//
//	@return []ChatMessage
func (a *ChatMessagesAPIService) ChatGetMessagesByconversationidExecute(r ChatMessagesAPIChatGetMessagesByconversationidRequest) ([]ChatMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ChatMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatGetMessagesByconversationid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages/{conversationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"conversationId"+"}", url.PathEscape(parameterValueToString(r.conversationId, "conversationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMessagesAPIChatGetMessagesByconversationidBymessageidRequest struct {
	ctx            context.Context
	ApiService     *ChatMessagesAPIService
	conversationId string
	messageId      string
}

func (r ChatMessagesAPIChatGetMessagesByconversationidBymessageidRequest) Execute() (*ChatMessage, *http.Response, error) {
	return r.ApiService.ChatGetMessagesByconversationidBymessageidExecute(r)
}

/*
ChatGetMessagesByconversationidBymessageid Get a specific message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param conversationId
	@param messageId
	@return ChatMessagesAPIChatGetMessagesByconversationidBymessageidRequest
*/
func (a *ChatMessagesAPIService) ChatGetMessagesByconversationidBymessageid(ctx context.Context, conversationId string, messageId string) ChatMessagesAPIChatGetMessagesByconversationidBymessageidRequest {
	return ChatMessagesAPIChatGetMessagesByconversationidBymessageidRequest{
		ApiService:     a,
		ctx:            ctx,
		conversationId: conversationId,
		messageId:      messageId,
	}
}

// Execute executes the request
//
//	@return ChatMessage
func (a *ChatMessagesAPIService) ChatGetMessagesByconversationidBymessageidExecute(r ChatMessagesAPIChatGetMessagesByconversationidBymessageidRequest) (*ChatMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatGetMessagesByconversationidBymessageid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages/{conversationId}/{messageId}"
	localVarPath = strings.Replace(localVarPath, "{"+"conversationId"+"}", url.PathEscape(parameterValueToString(r.conversationId, "conversationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"messageId"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMessagesAPIChatPostMessagesArtifactBymessageidRequest struct {
	ctx                                        context.Context
	ApiService                                 *ChatMessagesAPIService
	messageId                                  string
	chatPostMessagesArtifactBymessageidRequest *ChatPostMessagesArtifactBymessageidRequest
}

func (r ChatMessagesAPIChatPostMessagesArtifactBymessageidRequest) ChatPostMessagesArtifactBymessageidRequest(chatPostMessagesArtifactBymessageidRequest ChatPostMessagesArtifactBymessageidRequest) ChatMessagesAPIChatPostMessagesArtifactBymessageidRequest {
	r.chatPostMessagesArtifactBymessageidRequest = &chatPostMessagesArtifactBymessageidRequest
	return r
}

func (r ChatMessagesAPIChatPostMessagesArtifactBymessageidRequest) Execute() (*ChatPostMessagesArtifactBymessageid200Response, *http.Response, error) {
	return r.ApiService.ChatPostMessagesArtifactBymessageidExecute(r)
}

/*
ChatPostMessagesArtifactBymessageid Edit artifact content in a message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param messageId
	@return ChatMessagesAPIChatPostMessagesArtifactBymessageidRequest
*/
func (a *ChatMessagesAPIService) ChatPostMessagesArtifactBymessageid(ctx context.Context, messageId string) ChatMessagesAPIChatPostMessagesArtifactBymessageidRequest {
	return ChatMessagesAPIChatPostMessagesArtifactBymessageidRequest{
		ApiService: a,
		ctx:        ctx,
		messageId:  messageId,
	}
}

// Execute executes the request
//
//	@return ChatPostMessagesArtifactBymessageid200Response
func (a *ChatMessagesAPIService) ChatPostMessagesArtifactBymessageidExecute(r ChatMessagesAPIChatPostMessagesArtifactBymessageidRequest) (*ChatPostMessagesArtifactBymessageid200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatPostMessagesArtifactBymessageid200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatPostMessagesArtifactBymessageid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages/artifact/{messageId}"
	localVarPath = strings.Replace(localVarPath, "{"+"messageId"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chatPostMessagesArtifactBymessageidRequest == nil {
		return localVarReturnValue, nil, reportError("chatPostMessagesArtifactBymessageidRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.chatPostMessagesArtifactBymessageidRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMessagesAPIChatPostMessagesBranchRequest struct {
	ctx                           context.Context
	ApiService                    *ChatMessagesAPIService
	chatPostMessagesBranchRequest *ChatPostMessagesBranchRequest
}

func (r ChatMessagesAPIChatPostMessagesBranchRequest) ChatPostMessagesBranchRequest(chatPostMessagesBranchRequest ChatPostMessagesBranchRequest) ChatMessagesAPIChatPostMessagesBranchRequest {
	r.chatPostMessagesBranchRequest = &chatPostMessagesBranchRequest
	return r
}

func (r ChatMessagesAPIChatPostMessagesBranchRequest) Execute() (*ChatMessage, *http.Response, error) {
	return r.ApiService.ChatPostMessagesBranchExecute(r)
}

/*
ChatPostMessagesBranch Create a branch message

Branch a specific agent's content from a parallel response message.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChatMessagesAPIChatPostMessagesBranchRequest
*/
func (a *ChatMessagesAPIService) ChatPostMessagesBranch(ctx context.Context) ChatMessagesAPIChatPostMessagesBranchRequest {
	return ChatMessagesAPIChatPostMessagesBranchRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ChatMessage
func (a *ChatMessagesAPIService) ChatPostMessagesBranchExecute(r ChatMessagesAPIChatPostMessagesBranchRequest) (*ChatMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatPostMessagesBranch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages/branch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chatPostMessagesBranchRequest == nil {
		return localVarReturnValue, nil, reportError("chatPostMessagesBranchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.chatPostMessagesBranchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMessagesAPIChatPostMessagesByconversationidRequest struct {
	ctx            context.Context
	ApiService     *ChatMessagesAPIService
	conversationId string
	chatMessage    *ChatMessage
}

func (r ChatMessagesAPIChatPostMessagesByconversationidRequest) ChatMessage(chatMessage ChatMessage) ChatMessagesAPIChatPostMessagesByconversationidRequest {
	r.chatMessage = &chatMessage
	return r
}

func (r ChatMessagesAPIChatPostMessagesByconversationidRequest) Execute() (*ChatMessage, *http.Response, error) {
	return r.ApiService.ChatPostMessagesByconversationidExecute(r)
}

/*
ChatPostMessagesByconversationid Save a message to a conversation

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param conversationId
	@return ChatMessagesAPIChatPostMessagesByconversationidRequest
*/
func (a *ChatMessagesAPIService) ChatPostMessagesByconversationid(ctx context.Context, conversationId string) ChatMessagesAPIChatPostMessagesByconversationidRequest {
	return ChatMessagesAPIChatPostMessagesByconversationidRequest{
		ApiService:     a,
		ctx:            ctx,
		conversationId: conversationId,
	}
}

// Execute executes the request
//
//	@return ChatMessage
func (a *ChatMessagesAPIService) ChatPostMessagesByconversationidExecute(r ChatMessagesAPIChatPostMessagesByconversationidRequest) (*ChatMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatPostMessagesByconversationid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages/{conversationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"conversationId"+"}", url.PathEscape(parameterValueToString(r.conversationId, "conversationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chatMessage == nil {
		return localVarReturnValue, nil, reportError("chatMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.chatMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMessagesAPIChatPutMessagesByconversationidBymessageidRequest struct {
	ctx                                               context.Context
	ApiService                                        *ChatMessagesAPIService
	conversationId                                    string
	messageId                                         string
	chatPutMessagesByconversationidBymessageidRequest *ChatPutMessagesByconversationidBymessageidRequest
}

func (r ChatMessagesAPIChatPutMessagesByconversationidBymessageidRequest) ChatPutMessagesByconversationidBymessageidRequest(chatPutMessagesByconversationidBymessageidRequest ChatPutMessagesByconversationidBymessageidRequest) ChatMessagesAPIChatPutMessagesByconversationidBymessageidRequest {
	r.chatPutMessagesByconversationidBymessageidRequest = &chatPutMessagesByconversationidBymessageidRequest
	return r
}

func (r ChatMessagesAPIChatPutMessagesByconversationidBymessageidRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ChatPutMessagesByconversationidBymessageidExecute(r)
}

/*
ChatPutMessagesByconversationidBymessageid Update a message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param conversationId
	@param messageId
	@return ChatMessagesAPIChatPutMessagesByconversationidBymessageidRequest
*/
func (a *ChatMessagesAPIService) ChatPutMessagesByconversationidBymessageid(ctx context.Context, conversationId string, messageId string) ChatMessagesAPIChatPutMessagesByconversationidBymessageidRequest {
	return ChatMessagesAPIChatPutMessagesByconversationidBymessageidRequest{
		ApiService:     a,
		ctx:            ctx,
		conversationId: conversationId,
		messageId:      messageId,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ChatMessagesAPIService) ChatPutMessagesByconversationidBymessageidExecute(r ChatMessagesAPIChatPutMessagesByconversationidBymessageidRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatPutMessagesByconversationidBymessageid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages/{conversationId}/{messageId}"
	localVarPath = strings.Replace(localVarPath, "{"+"conversationId"+"}", url.PathEscape(parameterValueToString(r.conversationId, "conversationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"messageId"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chatPutMessagesByconversationidBymessageidRequest == nil {
		return localVarReturnValue, nil, reportError("chatPutMessagesByconversationidBymessageidRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.chatPutMessagesByconversationidBymessageidRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChatMessagesAPIChatPutMessagesByconversationidBymessageidFeedbackRequest struct {
	ctx                                                       context.Context
	ApiService                                                *ChatMessagesAPIService
	conversationId                                            string
	messageId                                                 string
	chatPutMessagesByconversationidBymessageidFeedbackRequest *ChatPutMessagesByconversationidBymessageidFeedbackRequest
}

func (r ChatMessagesAPIChatPutMessagesByconversationidBymessageidFeedbackRequest) ChatPutMessagesByconversationidBymessageidFeedbackRequest(chatPutMessagesByconversationidBymessageidFeedbackRequest ChatPutMessagesByconversationidBymessageidFeedbackRequest) ChatMessagesAPIChatPutMessagesByconversationidBymessageidFeedbackRequest {
	r.chatPutMessagesByconversationidBymessageidFeedbackRequest = &chatPutMessagesByconversationidBymessageidFeedbackRequest
	return r
}

func (r ChatMessagesAPIChatPutMessagesByconversationidBymessageidFeedbackRequest) Execute() (*ChatPutMessagesByconversationidBymessageidFeedback200Response, *http.Response, error) {
	return r.ApiService.ChatPutMessagesByconversationidBymessageidFeedbackExecute(r)
}

/*
ChatPutMessagesByconversationidBymessageidFeedback Update message feedback

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param conversationId
	@param messageId
	@return ChatMessagesAPIChatPutMessagesByconversationidBymessageidFeedbackRequest
*/
func (a *ChatMessagesAPIService) ChatPutMessagesByconversationidBymessageidFeedback(ctx context.Context, conversationId string, messageId string) ChatMessagesAPIChatPutMessagesByconversationidBymessageidFeedbackRequest {
	return ChatMessagesAPIChatPutMessagesByconversationidBymessageidFeedbackRequest{
		ApiService:     a,
		ctx:            ctx,
		conversationId: conversationId,
		messageId:      messageId,
	}
}

// Execute executes the request
//
//	@return ChatPutMessagesByconversationidBymessageidFeedback200Response
func (a *ChatMessagesAPIService) ChatPutMessagesByconversationidBymessageidFeedbackExecute(r ChatMessagesAPIChatPutMessagesByconversationidBymessageidFeedbackRequest) (*ChatPutMessagesByconversationidBymessageidFeedback200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChatPutMessagesByconversationidBymessageidFeedback200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatMessagesAPIService.ChatPutMessagesByconversationidBymessageidFeedback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/messages/{conversationId}/{messageId}/feedback"
	localVarPath = strings.Replace(localVarPath, "{"+"conversationId"+"}", url.PathEscape(parameterValueToString(r.conversationId, "conversationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"messageId"+"}", url.PathEscape(parameterValueToString(r.messageId, "messageId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chatPutMessagesByconversationidBymessageidFeedbackRequest == nil {
		return localVarReturnValue, nil, reportError("chatPutMessagesByconversationidBymessageidFeedbackRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.chatPutMessagesByconversationidBymessageidFeedbackRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
