/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
	"time"
)

// ConsoleSessionsAPIService ConsoleSessionsAPI service
type ConsoleSessionsAPIService service

type ConsoleSessionsAPIConsoleGetSessionRequest struct {
	ctx        context.Context
	ApiService *ConsoleSessionsAPIService
	sessionId  string
}

func (r ConsoleSessionsAPIConsoleGetSessionRequest) Execute() (*ConsoleSessionWithTraces, *http.Response, error) {
	return r.ApiService.ConsoleGetSessionExecute(r)
}

/*
ConsoleGetSession Get a session with its traces

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sessionId
	@return ConsoleSessionsAPIConsoleGetSessionRequest
*/
func (a *ConsoleSessionsAPIService) ConsoleGetSession(ctx context.Context, sessionId string) ConsoleSessionsAPIConsoleGetSessionRequest {
	return ConsoleSessionsAPIConsoleGetSessionRequest{
		ApiService: a,
		ctx:        ctx,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return ConsoleSessionWithTraces
func (a *ConsoleSessionsAPIService) ConsoleGetSessionExecute(r ConsoleSessionsAPIConsoleGetSessionRequest) (*ConsoleSessionWithTraces, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleSessionWithTraces
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleSessionsAPIService.ConsoleGetSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/sessions/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleSessionsAPIConsoleListSessionsRequest struct {
	ctx           context.Context
	ApiService    *ConsoleSessionsAPIService
	page          *int32
	limit         *int32
	fromTimestamp *time.Time
	toTimestamp   *time.Time
	environment   *[]string
}

func (r ConsoleSessionsAPIConsoleListSessionsRequest) Page(page int32) ConsoleSessionsAPIConsoleListSessionsRequest {
	r.page = &page
	return r
}

func (r ConsoleSessionsAPIConsoleListSessionsRequest) Limit(limit int32) ConsoleSessionsAPIConsoleListSessionsRequest {
	r.limit = &limit
	return r
}

func (r ConsoleSessionsAPIConsoleListSessionsRequest) FromTimestamp(fromTimestamp time.Time) ConsoleSessionsAPIConsoleListSessionsRequest {
	r.fromTimestamp = &fromTimestamp
	return r
}

func (r ConsoleSessionsAPIConsoleListSessionsRequest) ToTimestamp(toTimestamp time.Time) ConsoleSessionsAPIConsoleListSessionsRequest {
	r.toTimestamp = &toTimestamp
	return r
}

func (r ConsoleSessionsAPIConsoleListSessionsRequest) Environment(environment []string) ConsoleSessionsAPIConsoleListSessionsRequest {
	r.environment = &environment
	return r
}

func (r ConsoleSessionsAPIConsoleListSessionsRequest) Execute() (*ConsoleListSessions200Response, *http.Response, error) {
	return r.ApiService.ConsoleListSessionsExecute(r)
}

/*
ConsoleListSessions Get sessions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleSessionsAPIConsoleListSessionsRequest
*/
func (a *ConsoleSessionsAPIService) ConsoleListSessions(ctx context.Context) ConsoleSessionsAPIConsoleListSessionsRequest {
	return ConsoleSessionsAPIConsoleListSessionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleListSessions200Response
func (a *ConsoleSessionsAPIService) ConsoleListSessionsExecute(r ConsoleSessionsAPIConsoleListSessionsRequest) (*ConsoleListSessions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleListSessions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleSessionsAPIService.ConsoleListSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/sessions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	if r.fromTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromTimestamp", r.fromTimestamp, "form", "")
	}
	if r.toTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toTimestamp", r.toTimestamp, "form", "")
	}
	if r.environment != nil {
		t := *r.environment
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "environment", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "environment", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
