/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CompatAPIService CompatAPI service
type CompatAPIService service

type CompatAPIDeleteIamApplicationRequest struct {
	ctx        context.Context
	ApiService *CompatAPIService
	owner      *string
	name       *string
}

func (r CompatAPIDeleteIamApplicationRequest) Owner(owner string) CompatAPIDeleteIamApplicationRequest {
	r.owner = &owner
	return r
}

func (r CompatAPIDeleteIamApplicationRequest) Name(name string) CompatAPIDeleteIamApplicationRequest {
	r.name = &name
	return r
}

func (r CompatAPIDeleteIamApplicationRequest) Execute() (*IamDeleteResult, *http.Response, error) {
	return r.ApiService.DeleteIamApplicationExecute(r)
}

/*
DeleteIamApplication Removes an application.

Removes an application. Anyone mid-sign-in through it is
turned away and its client credentials stop working, so retire the integration
before deleting it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIDeleteIamApplicationRequest
*/
func (a *CompatAPIService) DeleteIamApplication(ctx context.Context) CompatAPIDeleteIamApplicationRequest {
	return CompatAPIDeleteIamApplicationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamDeleteResult
func (a *CompatAPIService) DeleteIamApplicationExecute(r CompatAPIDeleteIamApplicationRequest) (*IamDeleteResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamDeleteResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.DeleteIamApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/application"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIGetIamApplicationRequest struct {
	ctx        context.Context
	ApiService *CompatAPIService
	owner      *string
	name       *string
}

func (r CompatAPIGetIamApplicationRequest) Owner(owner string) CompatAPIGetIamApplicationRequest {
	r.owner = &owner
	return r
}

func (r CompatAPIGetIamApplicationRequest) Name(name string) CompatAPIGetIamApplicationRequest {
	r.name = &name
	return r
}

func (r CompatAPIGetIamApplicationRequest) Execute() (*IamApplication, *http.Response, error) {
	return r.ApiService.GetIamApplicationExecute(r)
}

/*
GetIamApplication Returns one application: its sign-in methods, its allowed redirect URIs and the client credentials your integration authenticates with.

Returns one application: its sign-in methods, its allowed
redirect URIs and the client credentials your integration authenticates with.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIGetIamApplicationRequest
*/
func (a *CompatAPIService) GetIamApplication(ctx context.Context) CompatAPIGetIamApplicationRequest {
	return CompatAPIGetIamApplicationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamApplication
func (a *CompatAPIService) GetIamApplicationExecute(r CompatAPIGetIamApplicationRequest) (*IamApplication, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamApplication
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.GetIamApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/application"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamAddApplicationRequest struct {
	ctx            context.Context
	ApiService     *CompatAPIService
	iamApplication *IamApplication
}

func (r CompatAPIPostIamAddApplicationRequest) IamApplication(iamApplication IamApplication) CompatAPIPostIamAddApplicationRequest {
	r.iamApplication = &iamApplication
	return r
}

func (r CompatAPIPostIamAddApplicationRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamAddApplicationExecute(r)
}

/*
PostIamAddApplication Registers an application in your organization — one product or site your people sign in to, with its own client credentials, sign-in methods and allowed redirect URIs.

Registers an application in your organization — one product or site your
people sign in to, with its own client credentials, sign-in methods and
allowed redirect URIs.

The older spelling of POST /v1/iam/application. A name already used in the
organization is refused rather than overwritten.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamAddApplicationRequest
*/
func (a *CompatAPIService) PostIamAddApplication(ctx context.Context) CompatAPIPostIamAddApplicationRequest {
	return CompatAPIPostIamAddApplicationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamAddApplicationExecute(r CompatAPIPostIamAddApplicationRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamAddApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/add-application"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamApplication == nil {
		return localVarReturnValue, nil, reportError("iamApplication is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamApplication
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamAddOrganizationRequest struct {
	ctx                        context.Context
	ApiService                 *CompatAPIService
	iamCreateOrganizationInput *IamCreateOrganizationInput
}

func (r CompatAPIPostIamAddOrganizationRequest) IamCreateOrganizationInput(iamCreateOrganizationInput IamCreateOrganizationInput) CompatAPIPostIamAddOrganizationRequest {
	r.iamCreateOrganizationInput = &iamCreateOrganizationInput
	return r
}

func (r CompatAPIPostIamAddOrganizationRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamAddOrganizationExecute(r)
}

/*
PostIamAddOrganization Creates an organization — the account everything else in your directory hangs from.

Creates an organization — the account everything else in your directory
hangs from. Users, applications, roles, projects and workspaces are all
named inside one organization, so this is the first write in a new tenant.

The older spelling of POST /v1/iam/organizations. Both reach the same
create, so a name already taken is refused here too.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamAddOrganizationRequest
*/
func (a *CompatAPIService) PostIamAddOrganization(ctx context.Context) CompatAPIPostIamAddOrganizationRequest {
	return CompatAPIPostIamAddOrganizationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamAddOrganizationExecute(r CompatAPIPostIamAddOrganizationRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamAddOrganization")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/add-organization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamCreateOrganizationInput == nil {
		return localVarReturnValue, nil, reportError("iamCreateOrganizationInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamCreateOrganizationInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamAddProjectRequest struct {
	ctx        context.Context
	ApiService *CompatAPIService
	iamInput   *IamInput
}

func (r CompatAPIPostIamAddProjectRequest) IamInput(iamInput IamInput) CompatAPIPostIamAddProjectRequest {
	r.iamInput = &iamInput
	return r
}

func (r CompatAPIPostIamAddProjectRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamAddProjectExecute(r)
}

/*
PostIamAddProject Creates a project inside your organization — the scope people pick between when their work is separated by product or client rather than by team.

Creates a project inside your organization — the scope people pick between
when their work is separated by product or client rather than by team.

The older spelling of POST /v1/iam/projects. Creating one takes an
administrator of the owning organization.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamAddProjectRequest
*/
func (a *CompatAPIService) PostIamAddProject(ctx context.Context) CompatAPIPostIamAddProjectRequest {
	return CompatAPIPostIamAddProjectRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamAddProjectExecute(r CompatAPIPostIamAddProjectRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamAddProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/add-project"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamInput == nil {
		return localVarReturnValue, nil, reportError("iamInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamAddProviderRequest struct {
	ctx         context.Context
	ApiService  *CompatAPIService
	iamProvider *IamProvider
}

func (r CompatAPIPostIamAddProviderRequest) IamProvider(iamProvider IamProvider) CompatAPIPostIamAddProviderRequest {
	r.iamProvider = &iamProvider
	return r
}

func (r CompatAPIPostIamAddProviderRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamAddProviderExecute(r)
}

/*
PostIamAddProvider Adds an identity provider your people can sign in with, or a service your applications send through — a social or enterprise login, an email or SMS sender, a storage or payment connector.

Adds an identity provider your people can sign in with, or a service your
applications send through — a social or enterprise login, an email or SMS
sender, a storage or payment connector.

A provider is configured once here and then switched on per application, so
several applications can share one set of credentials.

The older spelling of POST /v1/iam/providers.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamAddProviderRequest
*/
func (a *CompatAPIService) PostIamAddProvider(ctx context.Context) CompatAPIPostIamAddProviderRequest {
	return CompatAPIPostIamAddProviderRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamAddProviderExecute(r CompatAPIPostIamAddProviderRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamAddProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/add-provider"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamProvider == nil {
		return localVarReturnValue, nil, reportError("iamProvider is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamProvider
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamAddRoleRequest struct {
	ctx           context.Context
	ApiService    *CompatAPIService
	iamRolesInput *IamRolesInput
}

func (r CompatAPIPostIamAddRoleRequest) IamRolesInput(iamRolesInput IamRolesInput) CompatAPIPostIamAddRoleRequest {
	r.iamRolesInput = &iamRolesInput
	return r
}

func (r CompatAPIPostIamAddRoleRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamAddRoleExecute(r)
}

/*
PostIamAddRole Creates a role — a named group of people that permissions are granted to.

Creates a role — a named group of people that permissions are granted to.
Granting to a role rather than to each person is what keeps access correct
as your team changes: add someone to the role and they inherit everything
it can do.

The older spelling of POST /v1/iam/roles.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamAddRoleRequest
*/
func (a *CompatAPIService) PostIamAddRole(ctx context.Context) CompatAPIPostIamAddRoleRequest {
	return CompatAPIPostIamAddRoleRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamAddRoleExecute(r CompatAPIPostIamAddRoleRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamAddRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/add-role"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamRolesInput == nil {
		return localVarReturnValue, nil, reportError("iamRolesInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamRolesInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamAddUserRequest struct {
	ctx         context.Context
	ApiService  *CompatAPIService
	iamUserBody *IamUserBody
}

func (r CompatAPIPostIamAddUserRequest) IamUserBody(iamUserBody IamUserBody) CompatAPIPostIamAddUserRequest {
	r.iamUserBody = &iamUserBody
	return r
}

func (r CompatAPIPostIamAddUserRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamAddUserExecute(r)
}

/*
PostIamAddUser Adds a person to your organization and, if you send a password, sets the one they will sign in with.

Adds a person to your organization and, if you send a password, sets the
one they will sign in with. The password is hashed before it is stored and
is never returned to you or to anyone else.

Usernames are checked against one rule wherever an account is created —
this verb, password signup, a social sign-in, or SCIM — so a name accepted
here is a name accepted everywhere.

The older spelling of POST /v1/iam/users, and it posts the user's fields at
the top level rather than wrapped in {user, password}.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamAddUserRequest
*/
func (a *CompatAPIService) PostIamAddUser(ctx context.Context) CompatAPIPostIamAddUserRequest {
	return CompatAPIPostIamAddUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamAddUserExecute(r CompatAPIPostIamAddUserRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamAddUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/add-user"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamUserBody == nil {
		return localVarReturnValue, nil, reportError("iamUserBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamUserBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamAddWorkspaceRequest struct {
	ctx                context.Context
	ApiService         *CompatAPIService
	iamWorkspacesInput *IamWorkspacesInput
}

func (r CompatAPIPostIamAddWorkspaceRequest) IamWorkspacesInput(iamWorkspacesInput IamWorkspacesInput) CompatAPIPostIamAddWorkspaceRequest {
	r.iamWorkspacesInput = &iamWorkspacesInput
	return r
}

func (r CompatAPIPostIamAddWorkspaceRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamAddWorkspaceExecute(r)
}

/*
PostIamAddWorkspace Creates a workspace inside your organization — the scope a team works in, alongside projects rather than instead of them.

Creates a workspace inside your organization — the scope a team works in,
alongside projects rather than instead of them.

The older spelling of POST /v1/iam/workspaces. Creating one takes an
administrator of the owning organization.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamAddWorkspaceRequest
*/
func (a *CompatAPIService) PostIamAddWorkspace(ctx context.Context) CompatAPIPostIamAddWorkspaceRequest {
	return CompatAPIPostIamAddWorkspaceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamAddWorkspaceExecute(r CompatAPIPostIamAddWorkspaceRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamAddWorkspace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/add-workspace"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamWorkspacesInput == nil {
		return localVarReturnValue, nil, reportError("iamWorkspacesInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamWorkspacesInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamApplicationRequest struct {
	ctx            context.Context
	ApiService     *CompatAPIService
	iamApplication *IamApplication
}

func (r CompatAPIPostIamApplicationRequest) IamApplication(iamApplication IamApplication) CompatAPIPostIamApplicationRequest {
	r.iamApplication = &iamApplication
	return r
}

func (r CompatAPIPostIamApplicationRequest) Execute() (*IamApplication, *http.Response, error) {
	return r.ApiService.PostIamApplicationExecute(r)
}

/*
PostIamApplication Registers an application in your organization — one product or site your people sign in to, with its own client credentials, sign-in methods and allowed redirect URIs.

Registers an application in your organization — one product or site
your people sign in to, with its own client credentials, sign-in methods and
allowed redirect URIs. A name already used in the organization is refused
rather than overwritten.

Exported so the legacy add-application alias reuses this exact path — one
create, two spellings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamApplicationRequest
*/
func (a *CompatAPIService) PostIamApplication(ctx context.Context) CompatAPIPostIamApplicationRequest {
	return CompatAPIPostIamApplicationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamApplication
func (a *CompatAPIService) PostIamApplicationExecute(r CompatAPIPostIamApplicationRequest) (*IamApplication, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamApplication
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/application"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamApplication == nil {
		return localVarReturnValue, nil, reportError("iamApplication is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamApplication
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamDeleteApplicationRequest struct {
	ctx            context.Context
	ApiService     *CompatAPIService
	iamApplication *IamApplication
}

func (r CompatAPIPostIamDeleteApplicationRequest) IamApplication(iamApplication IamApplication) CompatAPIPostIamDeleteApplicationRequest {
	r.iamApplication = &iamApplication
	return r
}

func (r CompatAPIPostIamDeleteApplicationRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamDeleteApplicationExecute(r)
}

/*
PostIamDeleteApplication Deletes an application.

Deletes an application. Anyone mid-sign-in through it is turned away and
its client credentials stop working, so retire the integration first.

The older spelling of DELETE /v1/iam/application.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamDeleteApplicationRequest
*/
func (a *CompatAPIService) PostIamDeleteApplication(ctx context.Context) CompatAPIPostIamDeleteApplicationRequest {
	return CompatAPIPostIamDeleteApplicationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamDeleteApplicationExecute(r CompatAPIPostIamDeleteApplicationRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamDeleteApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/delete-application"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamApplication == nil {
		return localVarReturnValue, nil, reportError("iamApplication is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamApplication
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamDeleteOrganizationRequest struct {
	ctx                        context.Context
	ApiService                 *CompatAPIService
	iamDeleteOrganizationInput *IamDeleteOrganizationInput
}

func (r CompatAPIPostIamDeleteOrganizationRequest) IamDeleteOrganizationInput(iamDeleteOrganizationInput IamDeleteOrganizationInput) CompatAPIPostIamDeleteOrganizationRequest {
	r.iamDeleteOrganizationInput = &iamDeleteOrganizationInput
	return r
}

func (r CompatAPIPostIamDeleteOrganizationRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamDeleteOrganizationExecute(r)
}

/*
PostIamDeleteOrganization Deletes an organization and everything named inside it — its users, applications, roles, projects and workspaces.

Deletes an organization and everything named inside it — its users,
applications, roles, projects and workspaces. There is no undo, and every
session issued under it stops working.

The older spelling of POST /v1/iam/organizations/delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamDeleteOrganizationRequest
*/
func (a *CompatAPIService) PostIamDeleteOrganization(ctx context.Context) CompatAPIPostIamDeleteOrganizationRequest {
	return CompatAPIPostIamDeleteOrganizationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamDeleteOrganizationExecute(r CompatAPIPostIamDeleteOrganizationRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamDeleteOrganization")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/delete-organization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamDeleteOrganizationInput == nil {
		return localVarReturnValue, nil, reportError("iamDeleteOrganizationInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamDeleteOrganizationInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamDeleteProjectRequest struct {
	ctx            context.Context
	ApiService     *CompatAPIService
	iamProjectsRef *IamProjectsRef
}

func (r CompatAPIPostIamDeleteProjectRequest) IamProjectsRef(iamProjectsRef IamProjectsRef) CompatAPIPostIamDeleteProjectRequest {
	r.iamProjectsRef = &iamProjectsRef
	return r
}

func (r CompatAPIPostIamDeleteProjectRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamDeleteProjectExecute(r)
}

/*
PostIamDeleteProject Deletes a project.

Deletes a project. The people and roles in your organization are unchanged;
what goes is the scope itself, so anything addressed by it must move first.

The older spelling of POST /v1/iam/projects/delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamDeleteProjectRequest
*/
func (a *CompatAPIService) PostIamDeleteProject(ctx context.Context) CompatAPIPostIamDeleteProjectRequest {
	return CompatAPIPostIamDeleteProjectRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamDeleteProjectExecute(r CompatAPIPostIamDeleteProjectRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamDeleteProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/delete-project"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamProjectsRef == nil {
		return localVarReturnValue, nil, reportError("iamProjectsRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamProjectsRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamDeleteProviderRequest struct {
	ctx         context.Context
	ApiService  *CompatAPIService
	iamProvider *IamProvider
}

func (r CompatAPIPostIamDeleteProviderRequest) IamProvider(iamProvider IamProvider) CompatAPIPostIamDeleteProviderRequest {
	r.iamProvider = &iamProvider
	return r
}

func (r CompatAPIPostIamDeleteProviderRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamDeleteProviderExecute(r)
}

/*
PostIamDeleteProvider Removes a provider.

Removes a provider. Sign-in through it stops for every application that
used it, so detach those applications first if they have no other method.

The older spelling of POST /v1/iam/providers/delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamDeleteProviderRequest
*/
func (a *CompatAPIService) PostIamDeleteProvider(ctx context.Context) CompatAPIPostIamDeleteProviderRequest {
	return CompatAPIPostIamDeleteProviderRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamDeleteProviderExecute(r CompatAPIPostIamDeleteProviderRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamDeleteProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/delete-provider"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamProvider == nil {
		return localVarReturnValue, nil, reportError("iamProvider is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamProvider
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamDeleteRoleRequest struct {
	ctx         context.Context
	ApiService  *CompatAPIService
	iamRolesRef *IamRolesRef
}

func (r CompatAPIPostIamDeleteRoleRequest) IamRolesRef(iamRolesRef IamRolesRef) CompatAPIPostIamDeleteRoleRequest {
	r.iamRolesRef = &iamRolesRef
	return r
}

func (r CompatAPIPostIamDeleteRoleRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamDeleteRoleExecute(r)
}

/*
PostIamDeleteRole Deletes a role.

Deletes a role. Everyone in it loses the access it carried; their accounts
and any other roles they hold are untouched.

The older spelling of POST /v1/iam/roles/delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamDeleteRoleRequest
*/
func (a *CompatAPIService) PostIamDeleteRole(ctx context.Context) CompatAPIPostIamDeleteRoleRequest {
	return CompatAPIPostIamDeleteRoleRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamDeleteRoleExecute(r CompatAPIPostIamDeleteRoleRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamDeleteRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/delete-role"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamRolesRef == nil {
		return localVarReturnValue, nil, reportError("iamRolesRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamRolesRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamDeleteUserRequest struct {
	ctx         context.Context
	ApiService  *CompatAPIService
	iamUserBody *IamUserBody
}

func (r CompatAPIPostIamDeleteUserRequest) IamUserBody(iamUserBody IamUserBody) CompatAPIPostIamDeleteUserRequest {
	r.iamUserBody = &iamUserBody
	return r
}

func (r CompatAPIPostIamDeleteUserRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamDeleteUserExecute(r)
}

/*
PostIamDeleteUser Removes a person from your organization.

Removes a person from your organization. Their sessions stop working and
the account is gone, not suspended — to keep the record and only stop
sign-in, update the user instead.

The older spelling of POST /v1/iam/users/delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamDeleteUserRequest
*/
func (a *CompatAPIService) PostIamDeleteUser(ctx context.Context) CompatAPIPostIamDeleteUserRequest {
	return CompatAPIPostIamDeleteUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamDeleteUserExecute(r CompatAPIPostIamDeleteUserRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamDeleteUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/delete-user"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamUserBody == nil {
		return localVarReturnValue, nil, reportError("iamUserBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamUserBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamDeleteWorkspaceRequest struct {
	ctx              context.Context
	ApiService       *CompatAPIService
	iamWorkspacesRef *IamWorkspacesRef
}

func (r CompatAPIPostIamDeleteWorkspaceRequest) IamWorkspacesRef(iamWorkspacesRef IamWorkspacesRef) CompatAPIPostIamDeleteWorkspaceRequest {
	r.iamWorkspacesRef = &iamWorkspacesRef
	return r
}

func (r CompatAPIPostIamDeleteWorkspaceRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamDeleteWorkspaceExecute(r)
}

/*
PostIamDeleteWorkspace Deletes a workspace.

Deletes a workspace. The people and roles in your organization are
unchanged; what goes is the scope itself.

The older spelling of POST /v1/iam/workspaces/delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamDeleteWorkspaceRequest
*/
func (a *CompatAPIService) PostIamDeleteWorkspace(ctx context.Context) CompatAPIPostIamDeleteWorkspaceRequest {
	return CompatAPIPostIamDeleteWorkspaceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamDeleteWorkspaceExecute(r CompatAPIPostIamDeleteWorkspaceRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamDeleteWorkspace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/delete-workspace"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamWorkspacesRef == nil {
		return localVarReturnValue, nil, reportError("iamWorkspacesRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamWorkspacesRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamUpdateApplicationRequest struct {
	ctx            context.Context
	ApiService     *CompatAPIService
	iamApplication *IamApplication
}

func (r CompatAPIPostIamUpdateApplicationRequest) IamApplication(iamApplication IamApplication) CompatAPIPostIamUpdateApplicationRequest {
	r.iamApplication = &iamApplication
	return r
}

func (r CompatAPIPostIamUpdateApplicationRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamUpdateApplicationExecute(r)
}

/*
PostIamUpdateApplication Updates one of your applications — its display, its sign-in methods and the redirect URIs it is allowed to return to.

Updates one of your applications — its display, its sign-in methods and the
redirect URIs it is allowed to return to. Which organization and name the
application has are fixed when it is created and are not editable here.

A redirect URI you add becomes an allowed sign-in origin, so this is the
call that makes login work from a new host.

The older spelling of PUT /v1/iam/application.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamUpdateApplicationRequest
*/
func (a *CompatAPIService) PostIamUpdateApplication(ctx context.Context) CompatAPIPostIamUpdateApplicationRequest {
	return CompatAPIPostIamUpdateApplicationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamUpdateApplicationExecute(r CompatAPIPostIamUpdateApplicationRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamUpdateApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/update-application"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamApplication == nil {
		return localVarReturnValue, nil, reportError("iamApplication is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamApplication
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamUpdateOrganizationRequest struct {
	ctx                        context.Context
	ApiService                 *CompatAPIService
	iamUpdateOrganizationInput *IamUpdateOrganizationInput
}

func (r CompatAPIPostIamUpdateOrganizationRequest) IamUpdateOrganizationInput(iamUpdateOrganizationInput IamUpdateOrganizationInput) CompatAPIPostIamUpdateOrganizationRequest {
	r.iamUpdateOrganizationInput = &iamUpdateOrganizationInput
	return r
}

func (r CompatAPIPostIamUpdateOrganizationRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamUpdateOrganizationExecute(r)
}

/*
PostIamUpdateOrganization Updates your organization — its display, its default settings and the sign-in rules everyone in it inherits.

Updates your organization — its display, its default settings and the
sign-in rules everyone in it inherits.

The older spelling of POST /v1/iam/organizations/update.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamUpdateOrganizationRequest
*/
func (a *CompatAPIService) PostIamUpdateOrganization(ctx context.Context) CompatAPIPostIamUpdateOrganizationRequest {
	return CompatAPIPostIamUpdateOrganizationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamUpdateOrganizationExecute(r CompatAPIPostIamUpdateOrganizationRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamUpdateOrganization")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/update-organization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamUpdateOrganizationInput == nil {
		return localVarReturnValue, nil, reportError("iamUpdateOrganizationInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamUpdateOrganizationInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamUpdateProviderRequest struct {
	ctx         context.Context
	ApiService  *CompatAPIService
	iamProvider *IamProvider
}

func (r CompatAPIPostIamUpdateProviderRequest) IamProvider(iamProvider IamProvider) CompatAPIPostIamUpdateProviderRequest {
	r.iamProvider = &iamProvider
	return r
}

func (r CompatAPIPostIamUpdateProviderRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamUpdateProviderExecute(r)
}

/*
PostIamUpdateProvider Updates a provider's settings or rotates the credentials it holds.

Updates a provider's settings or rotates the credentials it holds. The
change takes effect on the next sign-in through it — sessions already
issued are unaffected.

The older spelling of POST /v1/iam/providers/update.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamUpdateProviderRequest
*/
func (a *CompatAPIService) PostIamUpdateProvider(ctx context.Context) CompatAPIPostIamUpdateProviderRequest {
	return CompatAPIPostIamUpdateProviderRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamUpdateProviderExecute(r CompatAPIPostIamUpdateProviderRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamUpdateProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/update-provider"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamProvider == nil {
		return localVarReturnValue, nil, reportError("iamProvider is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamProvider
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamUpdateRoleRequest struct {
	ctx           context.Context
	ApiService    *CompatAPIService
	iamRolesInput *IamRolesInput
}

func (r CompatAPIPostIamUpdateRoleRequest) IamRolesInput(iamRolesInput IamRolesInput) CompatAPIPostIamUpdateRoleRequest {
	r.iamRolesInput = &iamRolesInput
	return r
}

func (r CompatAPIPostIamUpdateRoleRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamUpdateRoleExecute(r)
}

/*
PostIamUpdateRole Updates a role's members or the roles it includes.

Updates a role's members or the roles it includes. Access changes for
everyone in it as soon as the write lands.

The older spelling of POST /v1/iam/roles/update.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamUpdateRoleRequest
*/
func (a *CompatAPIService) PostIamUpdateRole(ctx context.Context) CompatAPIPostIamUpdateRoleRequest {
	return CompatAPIPostIamUpdateRoleRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamUpdateRoleExecute(r CompatAPIPostIamUpdateRoleRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamUpdateRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/update-role"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamRolesInput == nil {
		return localVarReturnValue, nil, reportError("iamRolesInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamRolesInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPostIamUpdateUserRequest struct {
	ctx         context.Context
	ApiService  *CompatAPIService
	iamUserBody *IamUserBody
}

func (r CompatAPIPostIamUpdateUserRequest) IamUserBody(iamUserBody IamUserBody) CompatAPIPostIamUpdateUserRequest {
	r.iamUserBody = &iamUserBody
	return r
}

func (r CompatAPIPostIamUpdateUserRequest) Execute() (*IamResponse, *http.Response, error) {
	return r.ApiService.PostIamUpdateUserExecute(r)
}

/*
PostIamUpdateUser Updates one of your users' profile, roles or credentials.

Updates one of your users' profile, roles or credentials. Send a password
to reset it; leave it out and the current one stands.

The older spelling of POST /v1/iam/users/update, with the user's fields at
the top level rather than wrapped in {user, password}.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPostIamUpdateUserRequest
*/
func (a *CompatAPIService) PostIamUpdateUser(ctx context.Context) CompatAPIPostIamUpdateUserRequest {
	return CompatAPIPostIamUpdateUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamResponse
func (a *CompatAPIService) PostIamUpdateUserExecute(r CompatAPIPostIamUpdateUserRequest) (*IamResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PostIamUpdateUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/update-user"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamUserBody == nil {
		return localVarReturnValue, nil, reportError("iamUserBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamUserBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompatAPIPutIamApplicationRequest struct {
	ctx            context.Context
	ApiService     *CompatAPIService
	iamApplication *IamApplication
}

func (r CompatAPIPutIamApplicationRequest) IamApplication(iamApplication IamApplication) CompatAPIPutIamApplicationRequest {
	r.iamApplication = &iamApplication
	return r
}

func (r CompatAPIPutIamApplicationRequest) Execute() (*IamApplication, *http.Response, error) {
	return r.ApiService.PutIamApplicationExecute(r)
}

/*
PutIamApplication Changes an application's display, its sign-in methods and the redirect URIs it may return to — the call that makes login work from a new host.

Changes an application's display, its sign-in methods and the redirect
URIs it may return to — the call that makes login work from a new host. Which
organization it belongs to and what it is named are fixed when it is created
and are not editable here.

Exported so the legacy update-application alias reuses this exact path — one
update, two spellings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompatAPIPutIamApplicationRequest
*/
func (a *CompatAPIService) PutIamApplication(ctx context.Context) CompatAPIPutIamApplicationRequest {
	return CompatAPIPutIamApplicationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamApplication
func (a *CompatAPIService) PutIamApplicationExecute(r CompatAPIPutIamApplicationRequest) (*IamApplication, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamApplication
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompatAPIService.PutIamApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/application"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamApplication == nil {
		return localVarReturnValue, nil, reportError("iamApplication is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamApplication
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
