/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MFAAPIService MFAAPI service
type MFAAPIService service

type MFAAPIIamApiControllerDeleteMfaRequest struct {
	ctx        context.Context
	ApiService *MFAAPIService
	id         string
}

func (r MFAAPIIamApiControllerDeleteMfaRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteMfaExecute(r)
}

/*
IamApiControllerDeleteMfa Api Controller Delete Mfa

: Delete MFA

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return MFAAPIIamApiControllerDeleteMfaRequest
*/
func (a *MFAAPIService) IamApiControllerDeleteMfa(ctx context.Context, id string) MFAAPIIamApiControllerDeleteMfaRequest {
	return MFAAPIIamApiControllerDeleteMfaRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *MFAAPIService) IamApiControllerDeleteMfaExecute(r MFAAPIIamApiControllerDeleteMfaRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerDeleteMfa")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/mfa/s/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerGetUserVerificationsRequest struct {
	ctx          context.Context
	ApiService   *MFAAPIService
	owner        *string
	organization *string
	user         *string
}

// The owner of payments
func (r MFAAPIIamApiControllerGetUserVerificationsRequest) Owner(owner string) MFAAPIIamApiControllerGetUserVerificationsRequest {
	r.owner = &owner
	return r
}

// The organization of the user
func (r MFAAPIIamApiControllerGetUserVerificationsRequest) Organization(organization string) MFAAPIIamApiControllerGetUserVerificationsRequest {
	r.organization = &organization
	return r
}

// The username of the user
func (r MFAAPIIamApiControllerGetUserVerificationsRequest) User(user string) MFAAPIIamApiControllerGetUserVerificationsRequest {
	r.user = &user
	return r
}

func (r MFAAPIIamApiControllerGetUserVerificationsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerGetUserVerificationsExecute(r)
}

/*
IamApiControllerGetUserVerifications Api Controller Get User Verifications

get payments for a user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerGetUserVerificationsRequest
*/
func (a *MFAAPIService) IamApiControllerGetUserVerifications(ctx context.Context) MFAAPIIamApiControllerGetUserVerificationsRequest {
	return MFAAPIIamApiControllerGetUserVerificationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *MFAAPIService) IamApiControllerGetUserVerificationsExecute(r MFAAPIIamApiControllerGetUserVerificationsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerGetUserVerifications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/user-payments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.organization == nil {
		return localVarReturnValue, nil, reportError("organization is required and must be specified")
	}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "organization", r.organization, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerGetVerificationRequest struct {
	ctx        context.Context
	ApiService *MFAAPIService
	id         string
}

func (r MFAAPIIamApiControllerGetVerificationRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerGetVerificationExecute(r)
}

/*
IamApiControllerGetVerification Api Controller Get Verification

get payment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of the payment
	@return MFAAPIIamApiControllerGetVerificationRequest
*/
func (a *MFAAPIService) IamApiControllerGetVerification(ctx context.Context, id string) MFAAPIIamApiControllerGetVerificationRequest {
	return MFAAPIIamApiControllerGetVerificationRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *MFAAPIService) IamApiControllerGetVerificationExecute(r MFAAPIIamApiControllerGetVerificationRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerGetVerification")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/payments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerGetVerificationsRequest struct {
	ctx        context.Context
	ApiService *MFAAPIService
	owner      *string
}

// The owner of payments
func (r MFAAPIIamApiControllerGetVerificationsRequest) Owner(owner string) MFAAPIIamApiControllerGetVerificationsRequest {
	r.owner = &owner
	return r
}

func (r MFAAPIIamApiControllerGetVerificationsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerGetVerificationsExecute(r)
}

/*
IamApiControllerGetVerifications Api Controller Get Verifications

get payments

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerGetVerificationsRequest
*/
func (a *MFAAPIService) IamApiControllerGetVerifications(ctx context.Context) MFAAPIIamApiControllerGetVerificationsRequest {
	return MFAAPIIamApiControllerGetVerificationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *MFAAPIService) IamApiControllerGetVerificationsExecute(r MFAAPIIamApiControllerGetVerificationsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerGetVerifications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/payments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerMfaSetupEnableRequest struct {
	ctx           context.Context
	ApiService    *MFAAPIService
	owner         *string
	name          *string
	mfaType       *string
	recoveryCodes *string
	secret        *string
	dest          *string
}

func (r MFAAPIIamApiControllerMfaSetupEnableRequest) Owner(owner string) MFAAPIIamApiControllerMfaSetupEnableRequest {
	r.owner = &owner
	return r
}

func (r MFAAPIIamApiControllerMfaSetupEnableRequest) Name(name string) MFAAPIIamApiControllerMfaSetupEnableRequest {
	r.name = &name
	return r
}

// totp | sms | email | radius | push
func (r MFAAPIIamApiControllerMfaSetupEnableRequest) MfaType(mfaType string) MFAAPIIamApiControllerMfaSetupEnableRequest {
	r.mfaType = &mfaType
	return r
}

func (r MFAAPIIamApiControllerMfaSetupEnableRequest) RecoveryCodes(recoveryCodes string) MFAAPIIamApiControllerMfaSetupEnableRequest {
	r.recoveryCodes = &recoveryCodes
	return r
}

// Required for totp; radius/push also require it
func (r MFAAPIIamApiControllerMfaSetupEnableRequest) Secret(secret string) MFAAPIIamApiControllerMfaSetupEnableRequest {
	r.secret = &secret
	return r
}

// Destination for sms/email/radius/push
func (r MFAAPIIamApiControllerMfaSetupEnableRequest) Dest(dest string) MFAAPIIamApiControllerMfaSetupEnableRequest {
	r.dest = &dest
	return r
}

func (r MFAAPIIamApiControllerMfaSetupEnableRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerMfaSetupEnableExecute(r)
}

/*
IamApiControllerMfaSetupEnable Api Controller Mfa Setup Enable

enable totp

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerMfaSetupEnableRequest
*/
func (a *MFAAPIService) IamApiControllerMfaSetupEnable(ctx context.Context) MFAAPIIamApiControllerMfaSetupEnableRequest {
	return MFAAPIIamApiControllerMfaSetupEnableRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *MFAAPIService) IamApiControllerMfaSetupEnableExecute(r MFAAPIIamApiControllerMfaSetupEnableRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerMfaSetupEnable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/mfa/setup/enable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.mfaType == nil {
		return localVarReturnValue, nil, reportError("mfaType is required and must be specified")
	}
	if r.recoveryCodes == nil {
		return localVarReturnValue, nil, reportError("recoveryCodes is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "owner", r.owner, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "mfaType", r.mfaType, "", "")
	if r.secret != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "secret", r.secret, "", "")
	}
	if r.dest != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "dest", r.dest, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "recoveryCodes", r.recoveryCodes, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerMfaSetupInitiateRequest struct {
	ctx        context.Context
	ApiService *MFAAPIService
	mfaType    *string
	owner      *string
	name       *string
}

func (r MFAAPIIamApiControllerMfaSetupInitiateRequest) MfaType(mfaType string) MFAAPIIamApiControllerMfaSetupInitiateRequest {
	r.mfaType = &mfaType
	return r
}

func (r MFAAPIIamApiControllerMfaSetupInitiateRequest) Owner(owner string) MFAAPIIamApiControllerMfaSetupInitiateRequest {
	r.owner = &owner
	return r
}

func (r MFAAPIIamApiControllerMfaSetupInitiateRequest) Name(name string) MFAAPIIamApiControllerMfaSetupInitiateRequest {
	r.name = &name
	return r
}

func (r MFAAPIIamApiControllerMfaSetupInitiateRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerMfaSetupInitiateExecute(r)
}

/*
IamApiControllerMfaSetupInitiate Api Controller Mfa Setup Initiate

setup MFA

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerMfaSetupInitiateRequest
*/
func (a *MFAAPIService) IamApiControllerMfaSetupInitiate(ctx context.Context) MFAAPIIamApiControllerMfaSetupInitiateRequest {
	return MFAAPIIamApiControllerMfaSetupInitiateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *MFAAPIService) IamApiControllerMfaSetupInitiateExecute(r MFAAPIIamApiControllerMfaSetupInitiateRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerMfaSetupInitiate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/mfa/setup/initiate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mfaType == nil {
		return localVarReturnValue, nil, reportError("mfaType is required and must be specified")
	}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "mfaType", r.mfaType, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "owner", r.owner, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerMfaSetupVerifyRequest struct {
	ctx         context.Context
	ApiService  *MFAAPIService
	mfaType     *string
	passcode    *string
	secret      *string
	dest        *string
	countryCode *string
}

func (r MFAAPIIamApiControllerMfaSetupVerifyRequest) MfaType(mfaType string) MFAAPIIamApiControllerMfaSetupVerifyRequest {
	r.mfaType = &mfaType
	return r
}

func (r MFAAPIIamApiControllerMfaSetupVerifyRequest) Passcode(passcode string) MFAAPIIamApiControllerMfaSetupVerifyRequest {
	r.passcode = &passcode
	return r
}

// Required for totp and radius/push
func (r MFAAPIIamApiControllerMfaSetupVerifyRequest) Secret(secret string) MFAAPIIamApiControllerMfaSetupVerifyRequest {
	r.secret = &secret
	return r
}

// Required for sms/email/radius/push
func (r MFAAPIIamApiControllerMfaSetupVerifyRequest) Dest(dest string) MFAAPIIamApiControllerMfaSetupVerifyRequest {
	r.dest = &dest
	return r
}

// Required for sms
func (r MFAAPIIamApiControllerMfaSetupVerifyRequest) CountryCode(countryCode string) MFAAPIIamApiControllerMfaSetupVerifyRequest {
	r.countryCode = &countryCode
	return r
}

func (r MFAAPIIamApiControllerMfaSetupVerifyRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerMfaSetupVerifyExecute(r)
}

/*
IamApiControllerMfaSetupVerify Api Controller Mfa Setup Verify

setup verify totp

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerMfaSetupVerifyRequest
*/
func (a *MFAAPIService) IamApiControllerMfaSetupVerify(ctx context.Context) MFAAPIIamApiControllerMfaSetupVerifyRequest {
	return MFAAPIIamApiControllerMfaSetupVerifyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *MFAAPIService) IamApiControllerMfaSetupVerifyExecute(r MFAAPIIamApiControllerMfaSetupVerifyRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerMfaSetupVerify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/mfa/setup/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mfaType == nil {
		return localVarReturnValue, nil, reportError("mfaType is required and must be specified")
	}
	if r.passcode == nil {
		return localVarReturnValue, nil, reportError("passcode is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "mfaType", r.mfaType, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "passcode", r.passcode, "", "")
	if r.secret != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "secret", r.secret, "", "")
	}
	if r.dest != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "dest", r.dest, "", "")
	}
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "countryCode", r.countryCode, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerSendVerificationCodeRequest struct {
	ctx           context.Context
	ApiService    *MFAAPIService
	dest          *string
	type_         *string
	applicationId *string
	captchaType   *string
	countryCode   *string
	method        *string
	checkUser     *string
	clientSecret  *string
	captchaToken  *string
}

func (r MFAAPIIamApiControllerSendVerificationCodeRequest) Dest(dest string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.dest = &dest
	return r
}

func (r MFAAPIIamApiControllerSendVerificationCodeRequest) Type_(type_ string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.type_ = &type_
	return r
}

// Must be of the form &lt;owner&gt;/&lt;name&gt;
func (r MFAAPIIamApiControllerSendVerificationCodeRequest) ApplicationId(applicationId string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.applicationId = &applicationId
	return r
}

func (r MFAAPIIamApiControllerSendVerificationCodeRequest) CaptchaType(captchaType string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.captchaType = &captchaType
	return r
}

func (r MFAAPIIamApiControllerSendVerificationCodeRequest) CountryCode(countryCode string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.countryCode = &countryCode
	return r
}

func (r MFAAPIIamApiControllerSendVerificationCodeRequest) Method(method string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.method = &method
	return r
}

func (r MFAAPIIamApiControllerSendVerificationCodeRequest) CheckUser(checkUser string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.checkUser = &checkUser
	return r
}

// Required when captchaType !&#x3D; none
func (r MFAAPIIamApiControllerSendVerificationCodeRequest) ClientSecret(clientSecret string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.clientSecret = &clientSecret
	return r
}

// Required when captchaType !&#x3D; none
func (r MFAAPIIamApiControllerSendVerificationCodeRequest) CaptchaToken(captchaToken string) MFAAPIIamApiControllerSendVerificationCodeRequest {
	r.captchaToken = &captchaToken
	return r
}

func (r MFAAPIIamApiControllerSendVerificationCodeRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerSendVerificationCodeExecute(r)
}

/*
IamApiControllerSendVerificationCode Api Controller Send Verification Code

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerSendVerificationCodeRequest
*/
func (a *MFAAPIService) IamApiControllerSendVerificationCode(ctx context.Context) MFAAPIIamApiControllerSendVerificationCodeRequest {
	return MFAAPIIamApiControllerSendVerificationCodeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *MFAAPIService) IamApiControllerSendVerificationCodeExecute(r MFAAPIIamApiControllerSendVerificationCodeRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerSendVerificationCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/verification-code/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dest == nil {
		return localVarReturnValue, nil, reportError("dest is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if r.applicationId == nil {
		return localVarReturnValue, nil, reportError("applicationId is required and must be specified")
	}
	if r.captchaType == nil {
		return localVarReturnValue, nil, reportError("captchaType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "dest", r.dest, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "countryCode", r.countryCode, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "applicationId", r.applicationId, "", "")
	if r.method != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "method", r.method, "", "")
	}
	if r.checkUser != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "checkUser", r.checkUser, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "captchaType", r.captchaType, "", "")
	if r.clientSecret != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "clientSecret", r.clientSecret, "", "")
	}
	if r.captchaToken != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "captchaToken", r.captchaToken, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerSetPreferredMfaRequest struct {
	ctx        context.Context
	ApiService *MFAAPIService
	mfaType    *string
	owner      *string
	name       *string
}

func (r MFAAPIIamApiControllerSetPreferredMfaRequest) MfaType(mfaType string) MFAAPIIamApiControllerSetPreferredMfaRequest {
	r.mfaType = &mfaType
	return r
}

func (r MFAAPIIamApiControllerSetPreferredMfaRequest) Owner(owner string) MFAAPIIamApiControllerSetPreferredMfaRequest {
	r.owner = &owner
	return r
}

func (r MFAAPIIamApiControllerSetPreferredMfaRequest) Name(name string) MFAAPIIamApiControllerSetPreferredMfaRequest {
	r.name = &name
	return r
}

func (r MFAAPIIamApiControllerSetPreferredMfaRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerSetPreferredMfaExecute(r)
}

/*
IamApiControllerSetPreferredMfa Api Controller Set Preferred Mfa

: Set specific Mfa Preferred

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerSetPreferredMfaRequest
*/
func (a *MFAAPIService) IamApiControllerSetPreferredMfa(ctx context.Context) MFAAPIIamApiControllerSetPreferredMfaRequest {
	return MFAAPIIamApiControllerSetPreferredMfaRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *MFAAPIService) IamApiControllerSetPreferredMfaExecute(r MFAAPIIamApiControllerSetPreferredMfaRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerSetPreferredMfa")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/mfa/preferred"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mfaType == nil {
		return localVarReturnValue, nil, reportError("mfaType is required and must be specified")
	}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "mfaType", r.mfaType, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "owner", r.owner, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerVerifyCaptchaRequest struct {
	ctx           context.Context
	ApiService    *MFAAPIService
	applicationId *string
	captchaType   *string
	captchaToken  *string
	clientSecret  *string
}

func (r MFAAPIIamApiControllerVerifyCaptchaRequest) ApplicationId(applicationId string) MFAAPIIamApiControllerVerifyCaptchaRequest {
	r.applicationId = &applicationId
	return r
}

func (r MFAAPIIamApiControllerVerifyCaptchaRequest) CaptchaType(captchaType string) MFAAPIIamApiControllerVerifyCaptchaRequest {
	r.captchaType = &captchaType
	return r
}

func (r MFAAPIIamApiControllerVerifyCaptchaRequest) CaptchaToken(captchaToken string) MFAAPIIamApiControllerVerifyCaptchaRequest {
	r.captchaToken = &captchaToken
	return r
}

func (r MFAAPIIamApiControllerVerifyCaptchaRequest) ClientSecret(clientSecret string) MFAAPIIamApiControllerVerifyCaptchaRequest {
	r.clientSecret = &clientSecret
	return r
}

func (r MFAAPIIamApiControllerVerifyCaptchaRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerVerifyCaptchaExecute(r)
}

/*
IamApiControllerVerifyCaptcha Api Controller Verify Captcha

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerVerifyCaptchaRequest
*/
func (a *MFAAPIService) IamApiControllerVerifyCaptcha(ctx context.Context) MFAAPIIamApiControllerVerifyCaptchaRequest {
	return MFAAPIIamApiControllerVerifyCaptchaRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *MFAAPIService) IamApiControllerVerifyCaptchaExecute(r MFAAPIIamApiControllerVerifyCaptchaRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerVerifyCaptcha")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/captcha/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applicationId == nil {
		return localVarReturnValue, nil, reportError("applicationId is required and must be specified")
	}
	if r.captchaType == nil {
		return localVarReturnValue, nil, reportError("captchaType is required and must be specified")
	}
	if r.captchaToken == nil {
		return localVarReturnValue, nil, reportError("captchaToken is required and must be specified")
	}
	if r.clientSecret == nil {
		return localVarReturnValue, nil, reportError("clientSecret is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "applicationId", r.applicationId, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "captchaType", r.captchaType, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "captchaToken", r.captchaToken, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "clientSecret", r.clientSecret, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MFAAPIIamApiControllerVerifyCodeRequest struct {
	ctx                          context.Context
	ApiService                   *MFAAPIService
	iamControllersVerifyCodeForm *IamControllersVerifyCodeForm
}

// Handler binds form.AuthForm; this endpoint consumes organization, username, name, code, countryCode. Extra AuthForm fields are accepted but ignored.
func (r MFAAPIIamApiControllerVerifyCodeRequest) IamControllersVerifyCodeForm(iamControllersVerifyCodeForm IamControllersVerifyCodeForm) MFAAPIIamApiControllerVerifyCodeRequest {
	r.iamControllersVerifyCodeForm = &iamControllersVerifyCodeForm
	return r
}

func (r MFAAPIIamApiControllerVerifyCodeRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerVerifyCodeExecute(r)
}

/*
IamApiControllerVerifyCode Api Controller Verify Code

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MFAAPIIamApiControllerVerifyCodeRequest
*/
func (a *MFAAPIService) IamApiControllerVerifyCode(ctx context.Context) MFAAPIIamApiControllerVerifyCodeRequest {
	return MFAAPIIamApiControllerVerifyCodeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *MFAAPIService) IamApiControllerVerifyCodeExecute(r MFAAPIIamApiControllerVerifyCodeRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MFAAPIService.IamApiControllerVerifyCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/verification-code/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamControllersVerifyCodeForm == nil {
		return localVarReturnValue, nil, reportError("iamControllersVerifyCodeForm is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamControllersVerifyCodeForm
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
