/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CatalogAPIService CatalogAPI service
type CatalogAPIService service

type CatalogAPICloudDeleteV1CatalogEntriesByWildcard1Request struct {
	ctx        context.Context
	ApiService *CatalogAPIService
	wildcard1  string
}

func (r CatalogAPICloudDeleteV1CatalogEntriesByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1CatalogEntriesByWildcard1Execute(r)
}

/*
CloudDeleteV1CatalogEntriesByWildcard1 Method for CloudDeleteV1CatalogEntriesByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return CatalogAPICloudDeleteV1CatalogEntriesByWildcard1Request
*/
func (a *CatalogAPIService) CloudDeleteV1CatalogEntriesByWildcard1(ctx context.Context, wildcard1 string) CatalogAPICloudDeleteV1CatalogEntriesByWildcard1Request {
	return CatalogAPICloudDeleteV1CatalogEntriesByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *CatalogAPIService) CloudDeleteV1CatalogEntriesByWildcard1Execute(r CatalogAPICloudDeleteV1CatalogEntriesByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CloudDeleteV1CatalogEntriesByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/entries/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CatalogAPICloudGetV1CatalogRequest struct {
	ctx        context.Context
	ApiService *CatalogAPIService
	q          *string
	org        *string
	kind       *string
	origin     *string
	archetype  *string
	language   *string
	template   *string
	forkable   *string
	limit      *string
	offset     *string
}

// Q is the free-text query the lexical index scores relevance on. Empty is a browse rather than a search — the same request either way.
func (r CatalogAPICloudGetV1CatalogRequest) Q(q string) CatalogAPICloudGetV1CatalogRequest {
	r.q = &q
	return r
}

// Org narrows to one builder org: hanzo | lux | zoo. Case-insensitive.
func (r CatalogAPICloudGetV1CatalogRequest) Org(org string) CatalogAPICloudGetV1CatalogRequest {
	r.org = &org
	return r
}

// Kind narrows to repo | site. Case-insensitive.
func (r CatalogAPICloudGetV1CatalogRequest) Kind(kind string) CatalogAPICloudGetV1CatalogRequest {
	r.kind = &kind
	return r
}

// Origin narrows to what a row IS to you: template | community | third-party | product. This is the axis the two hanzo.app lanes are cut on.
func (r CatalogAPICloudGetV1CatalogRequest) Origin(origin string) CatalogAPICloudGetV1CatalogRequest {
	r.origin = &origin
	return r
}

// Archetype narrows to one project archetype. Case-insensitive.
func (r CatalogAPICloudGetV1CatalogRequest) Archetype(archetype string) CatalogAPICloudGetV1CatalogRequest {
	r.archetype = &archetype
	return r
}

// Language narrows to one implementation language. Case-insensitive.
func (r CatalogAPICloudGetV1CatalogRequest) Language(language string) CatalogAPICloudGetV1CatalogRequest {
	r.language = &language
	return r
}

// Template narrows a lane to ONE lineage: the id of the parent everything returned was forked from.
func (r CatalogAPICloudGetV1CatalogRequest) Template(template string) CatalogAPICloudGetV1CatalogRequest {
	r.template = &template
	return r
}

// Forkable is tri-state: \&quot;true\&quot; selects the forkable rows, \&quot;false\&quot; selects the rest, and anything else — including absent — applies no filter at all.
func (r CatalogAPICloudGetV1CatalogRequest) Forkable(forkable string) CatalogAPICloudGetV1CatalogRequest {
	r.forkable = &forkable
	return r
}

// Limit caps the page at 200, default 50. A value that is not a non-negative integer falls back to the default.
func (r CatalogAPICloudGetV1CatalogRequest) Limit(limit string) CatalogAPICloudGetV1CatalogRequest {
	r.limit = &limit
	return r
}

// Offset is where the page starts, default 0, with the same tolerance.
func (r CatalogAPICloudGetV1CatalogRequest) Offset(offset string) CatalogAPICloudGetV1CatalogRequest {
	r.offset = &offset
	return r
}

func (r CatalogAPICloudGetV1CatalogRequest) Execute() (*CloudCatalogPage, *http.Response, error) {
	return r.ApiService.CloudGetV1CatalogExecute(r)
}

/*
CloudGetV1Catalog Browse searches AND browses the cross-org catalog: every project, app and site the fleet has built, whichever org built it.

Browse searches AND browses the cross-org catalog: every project, app and site
the fleet has built, whichever org built it.

It reads TWO corpora and returns them as one page — the published,
world-readable catalog that every caller sees, plus the caller's OWN org's
private entries when the request carries a validated principal. Each row says
which it came from in `scope`, so a client can warn before sharing a link. An
anonymous caller simply gets the published one; no filter can ever widen a
caller into another tenant's corpus, because the query that would return it is
never run for them.

A request with no q is a browse rather than a search, and both answer the same
shape: the page, the total before paging, and the facet counts over the whole
matching set.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CatalogAPICloudGetV1CatalogRequest
*/
func (a *CatalogAPIService) CloudGetV1Catalog(ctx context.Context) CatalogAPICloudGetV1CatalogRequest {
	return CatalogAPICloudGetV1CatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCatalogPage
func (a *CatalogAPIService) CloudGetV1CatalogExecute(r CatalogAPICloudGetV1CatalogRequest) (*CloudCatalogPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCatalogPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CloudGetV1Catalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.origin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "origin", r.origin, "form", "")
	}
	if r.archetype != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "archetype", r.archetype, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.template != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "template", r.template, "form", "")
	}
	if r.forkable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "forkable", r.forkable, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CatalogAPICloudGetV1CatalogEntriesRequest struct {
	ctx        context.Context
	ApiService *CatalogAPIService
}

func (r CatalogAPICloudGetV1CatalogEntriesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1CatalogEntriesExecute(r)
}

/*
CloudGetV1CatalogEntries Method for CloudGetV1CatalogEntries

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CatalogAPICloudGetV1CatalogEntriesRequest
*/
func (a *CatalogAPIService) CloudGetV1CatalogEntries(ctx context.Context) CatalogAPICloudGetV1CatalogEntriesRequest {
	return CatalogAPICloudGetV1CatalogEntriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CatalogAPIService) CloudGetV1CatalogEntriesExecute(r CatalogAPICloudGetV1CatalogEntriesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CloudGetV1CatalogEntries")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/entries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CatalogAPICloudPostV1CatalogEntriesRequest struct {
	ctx        context.Context
	ApiService *CatalogAPIService
}

func (r CatalogAPICloudPostV1CatalogEntriesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CatalogEntriesExecute(r)
}

/*
CloudPostV1CatalogEntries Method for CloudPostV1CatalogEntries

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CatalogAPICloudPostV1CatalogEntriesRequest
*/
func (a *CatalogAPIService) CloudPostV1CatalogEntries(ctx context.Context) CatalogAPICloudPostV1CatalogEntriesRequest {
	return CatalogAPICloudPostV1CatalogEntriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CatalogAPIService) CloudPostV1CatalogEntriesExecute(r CatalogAPICloudPostV1CatalogEntriesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CloudPostV1CatalogEntries")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/entries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CatalogAPICloudPostV1CatalogModelsRequest struct {
	ctx        context.Context
	ApiService *CatalogAPIService
}

func (r CatalogAPICloudPostV1CatalogModelsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CatalogModelsExecute(r)
}

/*
CloudPostV1CatalogModels Method for CloudPostV1CatalogModels

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CatalogAPICloudPostV1CatalogModelsRequest
*/
func (a *CatalogAPIService) CloudPostV1CatalogModels(ctx context.Context) CatalogAPICloudPostV1CatalogModelsRequest {
	return CatalogAPICloudPostV1CatalogModelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CatalogAPIService) CloudPostV1CatalogModelsExecute(r CatalogAPICloudPostV1CatalogModelsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CloudPostV1CatalogModels")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/models"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CatalogAPICloudPostV1CatalogModelsRefreshRequest struct {
	ctx        context.Context
	ApiService *CatalogAPIService
}

func (r CatalogAPICloudPostV1CatalogModelsRefreshRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CatalogModelsRefreshExecute(r)
}

/*
CloudPostV1CatalogModelsRefresh Method for CloudPostV1CatalogModelsRefresh

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CatalogAPICloudPostV1CatalogModelsRefreshRequest
*/
func (a *CatalogAPIService) CloudPostV1CatalogModelsRefresh(ctx context.Context) CatalogAPICloudPostV1CatalogModelsRefreshRequest {
	return CatalogAPICloudPostV1CatalogModelsRefreshRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CatalogAPIService) CloudPostV1CatalogModelsRefreshExecute(r CatalogAPICloudPostV1CatalogModelsRefreshRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CloudPostV1CatalogModelsRefresh")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/models/refresh"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CatalogAPICloudPostV1CatalogSeedRequest struct {
	ctx        context.Context
	ApiService *CatalogAPIService
}

func (r CatalogAPICloudPostV1CatalogSeedRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CatalogSeedExecute(r)
}

/*
CloudPostV1CatalogSeed Method for CloudPostV1CatalogSeed

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CatalogAPICloudPostV1CatalogSeedRequest
*/
func (a *CatalogAPIService) CloudPostV1CatalogSeed(ctx context.Context) CatalogAPICloudPostV1CatalogSeedRequest {
	return CatalogAPICloudPostV1CatalogSeedRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CatalogAPIService) CloudPostV1CatalogSeedExecute(r CatalogAPICloudPostV1CatalogSeedRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CloudPostV1CatalogSeed")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/seed"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CatalogAPICloudPutV1CatalogEntriesByWildcard1Request struct {
	ctx        context.Context
	ApiService *CatalogAPIService
	wildcard1  string
}

func (r CatalogAPICloudPutV1CatalogEntriesByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudPutV1CatalogEntriesByWildcard1Execute(r)
}

/*
CloudPutV1CatalogEntriesByWildcard1 Method for CloudPutV1CatalogEntriesByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return CatalogAPICloudPutV1CatalogEntriesByWildcard1Request
*/
func (a *CatalogAPIService) CloudPutV1CatalogEntriesByWildcard1(ctx context.Context, wildcard1 string) CatalogAPICloudPutV1CatalogEntriesByWildcard1Request {
	return CatalogAPICloudPutV1CatalogEntriesByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *CatalogAPIService) CloudPutV1CatalogEntriesByWildcard1Execute(r CatalogAPICloudPutV1CatalogEntriesByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CloudPutV1CatalogEntriesByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/entries/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
