/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)

// AdminAuditAPIService AdminAuditAPI service
type AdminAuditAPIService service

type AdminAuditAPIAdminAdminListAuditRequest struct {
	ctx        context.Context
	ApiService *AdminAuditAPIService
	org        *string
	sub        *string
	action     *string
	resource   *string
	result     *string
	since      *time.Time
	until      *time.Time
	pageSize   *int32
	p          *int32
}

func (r AdminAuditAPIAdminAdminListAuditRequest) Org(org string) AdminAuditAPIAdminAdminListAuditRequest {
	r.org = &org
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) Sub(sub string) AdminAuditAPIAdminAdminListAuditRequest {
	r.sub = &sub
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) Action(action string) AdminAuditAPIAdminAdminListAuditRequest {
	r.action = &action
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) Resource(resource string) AdminAuditAPIAdminAdminListAuditRequest {
	r.resource = &resource
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) Result(result string) AdminAuditAPIAdminAdminListAuditRequest {
	r.result = &result
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) Since(since time.Time) AdminAuditAPIAdminAdminListAuditRequest {
	r.since = &since
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) Until(until time.Time) AdminAuditAPIAdminAdminListAuditRequest {
	r.until = &until
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) PageSize(pageSize int32) AdminAuditAPIAdminAdminListAuditRequest {
	r.pageSize = &pageSize
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) P(p int32) AdminAuditAPIAdminAdminListAuditRequest {
	r.p = &p
	return r
}

func (r AdminAuditAPIAdminAdminListAuditRequest) Execute() (*AdminAdminListAudit200Response, *http.Response, error) {
	return r.ApiService.AdminAdminListAuditExecute(r)
}

/*
AdminAdminListAudit Query the tamper-evident audit trail

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAuditAPIAdminAdminListAuditRequest
*/
func (a *AdminAuditAPIService) AdminAdminListAudit(ctx context.Context) AdminAuditAPIAdminAdminListAuditRequest {
	return AdminAuditAPIAdminAdminListAuditRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdminAdminListAudit200Response
func (a *AdminAuditAPIService) AdminAdminListAuditExecute(r AdminAuditAPIAdminAdminListAuditRequest) (*AdminAdminListAudit200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AdminAdminListAudit200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAuditAPIService.AdminAdminListAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.sub != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sub", r.sub, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.resource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "form", "")
	}
	if r.result != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "result", r.result, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 100
		r.pageSize = &defaultValue
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	} else {
		var defaultValue int32 = 1
		r.p = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAuditAPIAdminAdminVerifyAuditRequest struct {
	ctx        context.Context
	ApiService *AdminAuditAPIService
}

func (r AdminAuditAPIAdminAdminVerifyAuditRequest) Execute() (*AdminAdminVerifyAudit200Response, *http.Response, error) {
	return r.ApiService.AdminAdminVerifyAuditExecute(r)
}

/*
AdminAdminVerifyAudit Verify audit-chain integrity

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAuditAPIAdminAdminVerifyAuditRequest
*/
func (a *AdminAuditAPIService) AdminAdminVerifyAudit(ctx context.Context) AdminAuditAPIAdminAdminVerifyAuditRequest {
	return AdminAuditAPIAdminAdminVerifyAuditRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdminAdminVerifyAudit200Response
func (a *AdminAuditAPIService) AdminAdminVerifyAuditExecute(r AdminAuditAPIAdminAdminVerifyAuditRequest) (*AdminAdminVerifyAudit200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AdminAdminVerifyAudit200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAuditAPIService.AdminAdminVerifyAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
