/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ReferenceAPIService ReferenceAPI service
type ReferenceAPIService service

type ReferenceAPIRiskClearReferenceRequest struct {
	ctx        context.Context
	ApiService *ReferenceAPIService
	set        string
	key        *string
}

func (r ReferenceAPIRiskClearReferenceRequest) Key(key string) ReferenceAPIRiskClearReferenceRequest {
	r.key = &key
	return r
}

func (r ReferenceAPIRiskClearReferenceRequest) Execute() (*ReferenceClearReferenceOut, *http.Response, error) {
	return r.ApiService.RiskClearReferenceExecute(r)
}

/*
RiskClearReference Removes one of your organisation's overrides.

Removes one of your organisation's overrides.

It removes an entry your organisation wrote, never a baseline member: the
published set is not writable from here, so a removal can only ever restore
the baseline's own answer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param set
	@return ReferenceAPIRiskClearReferenceRequest
*/
func (a *ReferenceAPIService) RiskClearReference(ctx context.Context, set string) ReferenceAPIRiskClearReferenceRequest {
	return ReferenceAPIRiskClearReferenceRequest{
		ApiService: a,
		ctx:        ctx,
		set:        set,
	}
}

// Execute executes the request
//
//	@return ReferenceClearReferenceOut
func (a *ReferenceAPIService) RiskClearReferenceExecute(r ReferenceAPIRiskClearReferenceRequest) (*ReferenceClearReferenceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReferenceClearReferenceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferenceAPIService.RiskClearReference")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reference/{set}"
	localVarPath = strings.Replace(localVarPath, "{"+"set"+"}", url.PathEscape(parameterValueToString(r.set, "set")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.key != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReferenceAPIRiskReferenceRequest struct {
	ctx        context.Context
	ApiService *ReferenceAPIService
	set        string
	after      *string
	limit      *int64
}

// After pages the override listing: the last key of the previous page.
func (r ReferenceAPIRiskReferenceRequest) After(after string) ReferenceAPIRiskReferenceRequest {
	r.after = &after
	return r
}

// Limit caps the override listing: default 200, maximum 1000.
func (r ReferenceAPIRiskReferenceRequest) Limit(limit int64) ReferenceAPIRiskReferenceRequest {
	r.limit = &limit
	return r
}

func (r ReferenceAPIRiskReferenceRequest) Execute() (*ReferenceReferenceOut, *http.Response, error) {
	return r.ApiService.RiskReferenceExecute(r)
}

/*
RiskReference Reference describes one set and lists your org's overrides in it.

Reference describes one set and lists your org's overrides in it.

The set half is public data about a published list — its version, its
publishers, their licences and how current each one is. The overrides half is
yours alone: it is read from your organisation's own store, and no other
organisation's entries can appear in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param set
	@return ReferenceAPIRiskReferenceRequest
*/
func (a *ReferenceAPIService) RiskReference(ctx context.Context, set string) ReferenceAPIRiskReferenceRequest {
	return ReferenceAPIRiskReferenceRequest{
		ApiService: a,
		ctx:        ctx,
		set:        set,
	}
}

// Execute executes the request
//
//	@return ReferenceReferenceOut
func (a *ReferenceAPIService) RiskReferenceExecute(r ReferenceAPIRiskReferenceRequest) (*ReferenceReferenceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReferenceReferenceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferenceAPIService.RiskReference")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reference/{set}"
	localVarPath = strings.Replace(localVarPath, "{"+"set"+"}", url.PathEscape(parameterValueToString(r.set, "set")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReferenceAPIRiskReferenceSetsRequest struct {
	ctx        context.Context
	ApiService *ReferenceAPIService
}

func (r ReferenceAPIRiskReferenceSetsRequest) Execute() (*ReferenceReferenceSetsOut, *http.Response, error) {
	return r.ApiService.RiskReferenceSetsExecute(r)
}

/*
RiskReferenceSets Lists every set this plane publishes, with its version and how fresh it is.

Lists every set this plane publishes, with its version and how
fresh it is.

Read the Stale and Refused lists first: they are the two ways this plane can
be quietly wrong, and they are reported rather than inferred. A set in
Refused answers nothing — it has never loaded, it is held by another
component, or it names a source we hold no licence for.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ReferenceAPIRiskReferenceSetsRequest
*/
func (a *ReferenceAPIService) RiskReferenceSets(ctx context.Context) ReferenceAPIRiskReferenceSetsRequest {
	return ReferenceAPIRiskReferenceSetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReferenceReferenceSetsOut
func (a *ReferenceAPIService) RiskReferenceSetsExecute(r ReferenceAPIRiskReferenceSetsRequest) (*ReferenceReferenceSetsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReferenceReferenceSetsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferenceAPIService.RiskReferenceSets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reference"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReferenceAPIRiskResolveReferenceRequest struct {
	ctx                         context.Context
	ApiService                  *ReferenceAPIService
	referenceResolveReferenceIn *ReferenceResolveReferenceIn
}

func (r ReferenceAPIRiskResolveReferenceRequest) ReferenceResolveReferenceIn(referenceResolveReferenceIn ReferenceResolveReferenceIn) ReferenceAPIRiskResolveReferenceRequest {
	r.referenceResolveReferenceIn = &referenceResolveReferenceIn
	return r
}

func (r ReferenceAPIRiskResolveReferenceRequest) Execute() (*ReferenceResolveReferenceOut, *http.Response, error) {
	return r.ApiService.RiskResolveReferenceExecute(r)
}

/*
RiskResolveReference Looks keys up against the reference plane.

Looks keys up against the reference plane.

Your organisation's own overrides are consulted FIRST and win outright; the
shared baseline answers everything they do not cover. Every answer names the
version that produced it, when that version was current and whether it is
stale, so a decision can record exactly what it consulted.

Read Refusal before reading Hit. A set that has never loaded, one held by the
component that screens against it, and one whose source needs a licence we do
not hold all answer with a refusal — and a miss on a refusing set means
nothing is known, not that the key is clean.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ReferenceAPIRiskResolveReferenceRequest
*/
func (a *ReferenceAPIService) RiskResolveReference(ctx context.Context) ReferenceAPIRiskResolveReferenceRequest {
	return ReferenceAPIRiskResolveReferenceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReferenceResolveReferenceOut
func (a *ReferenceAPIService) RiskResolveReferenceExecute(r ReferenceAPIRiskResolveReferenceRequest) (*ReferenceResolveReferenceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReferenceResolveReferenceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferenceAPIService.RiskResolveReference")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reference/resolve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.referenceResolveReferenceIn == nil {
		return localVarReturnValue, nil, reportError("referenceResolveReferenceIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.referenceResolveReferenceIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReferenceAPIRiskSetReferenceRequest struct {
	ctx                     context.Context
	ApiService              *ReferenceAPIService
	set                     string
	referenceSetReferenceIn *ReferenceSetReferenceIn
}

func (r ReferenceAPIRiskSetReferenceRequest) ReferenceSetReferenceIn(referenceSetReferenceIn ReferenceSetReferenceIn) ReferenceAPIRiskSetReferenceRequest {
	r.referenceSetReferenceIn = &referenceSetReferenceIn
	return r
}

func (r ReferenceAPIRiskSetReferenceRequest) Execute() (*ReferenceSetReferenceOut, *http.Response, error) {
	return r.ApiService.RiskSetReferenceExecute(r)
}

/*
RiskSetReference Writes your organisation's own allow and deny entries over a set.

Writes your organisation's own allow and deny entries over a set.

Idempotent on the key: writing the same entry twice is one entry, and writing
it again replaces the verdict and the note. The whole batch is one
transaction, so a batch that would cross the per-set bound writes nothing
rather than half of itself — a half-applied deny list is worse than a refused
one, because nobody can tell which half applied.

Your entries are held in your organisation's own store and are never visible
to another organisation, and they never change what any other organisation
sees. The shared baseline is not writable from here at all.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param set
	@return ReferenceAPIRiskSetReferenceRequest
*/
func (a *ReferenceAPIService) RiskSetReference(ctx context.Context, set string) ReferenceAPIRiskSetReferenceRequest {
	return ReferenceAPIRiskSetReferenceRequest{
		ApiService: a,
		ctx:        ctx,
		set:        set,
	}
}

// Execute executes the request
//
//	@return ReferenceSetReferenceOut
func (a *ReferenceAPIService) RiskSetReferenceExecute(r ReferenceAPIRiskSetReferenceRequest) (*ReferenceSetReferenceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReferenceSetReferenceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferenceAPIService.RiskSetReference")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/reference/{set}"
	localVarPath = strings.Replace(localVarPath, "{"+"set"+"}", url.PathEscape(parameterValueToString(r.set, "set")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.referenceSetReferenceIn == nil {
		return localVarReturnValue, nil, reportError("referenceSetReferenceIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.referenceSetReferenceIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
