/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AgentsAPIService AgentsAPI service
type AgentsAPIService service

type AgentsAPICloudDeleteV1AgentsRefRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	ref        string
}

func (r AgentsAPICloudDeleteV1AgentsRefRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1AgentsRefExecute(r)
}

/*
CloudDeleteV1AgentsRef DeleteAgent removes an agent and every run recorded against it.

DeleteAgent removes an agent and every run recorded against it. Answers 204.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ref Ref is the agent's public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
	@return AgentsAPICloudDeleteV1AgentsRefRequest
*/
func (a *AgentsAPIService) CloudDeleteV1AgentsRef(ctx context.Context, ref string) AgentsAPICloudDeleteV1AgentsRefRequest {
	return AgentsAPICloudDeleteV1AgentsRefRequest{
		ApiService: a,
		ctx:        ctx,
		ref:        ref,
	}
}

// Execute executes the request
func (a *AgentsAPIService) CloudDeleteV1AgentsRefExecute(r AgentsAPICloudDeleteV1AgentsRefRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudDeleteV1AgentsRef")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/{ref}"
	localVarPath = strings.Replace(localVarPath, "{"+"ref"+"}", url.PathEscape(parameterValueToString(r.ref, "ref")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AgentsAPICloudDeleteV1AgentsTargetsIdRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
}

func (r AgentsAPICloudDeleteV1AgentsTargetsIdRequest) Execute() (*CloudTargetDeleted, *http.Response, error) {
	return r.ApiService.CloudDeleteV1AgentsTargetsIdExecute(r)
}

/*
CloudDeleteV1AgentsTargetsId DeleteTarget deregisters one machine.

DeleteTarget deregisters one machine. Only its owner, or an org admin, may
remove it; an unknown id, a cross-org id and a machine owned by someone else
all answer the same not-found, so a probe learns nothing about what exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the target to act on, from the path.
	@return AgentsAPICloudDeleteV1AgentsTargetsIdRequest
*/
func (a *AgentsAPIService) CloudDeleteV1AgentsTargetsId(ctx context.Context, id string) AgentsAPICloudDeleteV1AgentsTargetsIdRequest {
	return AgentsAPICloudDeleteV1AgentsTargetsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudTargetDeleted
func (a *AgentsAPIService) CloudDeleteV1AgentsTargetsIdExecute(r AgentsAPICloudDeleteV1AgentsTargetsIdRequest) (*CloudTargetDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTargetDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudDeleteV1AgentsTargetsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/targets/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
}

func (r AgentsAPICloudGetV1AgentsRequest) Execute() (*CloudAgentList, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsExecute(r)
}

/*
CloudGetV1Agents ListAgents returns every agent defined in the caller's org, each with the number of runs recorded against it.

ListAgents returns every agent defined in the caller's org, each with the
number of runs recorded against it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudGetV1AgentsRequest
*/
func (a *AgentsAPIService) CloudGetV1Agents(ctx context.Context) AgentsAPICloudGetV1AgentsRequest {
	return AgentsAPICloudGetV1AgentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAgentList
func (a *AgentsAPIService) CloudGetV1AgentsExecute(r AgentsAPICloudGetV1AgentsRequest) (*CloudAgentList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAgentList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1Agents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsActivityRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
}

func (r AgentsAPICloudGetV1AgentsActivityRequest) Execute() (*CloudActivityFeed, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsActivityExecute(r)
}

/*
CloudGetV1AgentsActivity AgentActivity serves the org-wide recent-activity feed.

AgentActivity serves the org-wide recent-activity feed. Events are REAL: each
recorded run is an invoked (ok) or failed (error) event; each agent's own
create/update timestamps are created/updated events. Merged, newest first,
capped. Nothing is invented — an org with no agents and no runs gets [].

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudGetV1AgentsActivityRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsActivity(ctx context.Context) AgentsAPICloudGetV1AgentsActivityRequest {
	return AgentsAPICloudGetV1AgentsActivityRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudActivityFeed
func (a *AgentsAPIService) CloudGetV1AgentsActivityExecute(r AgentsAPICloudGetV1AgentsActivityRequest) (*CloudActivityFeed, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudActivityFeed
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/activity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsBuildsRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	limit      *int32
}

// Limit caps the page. Absent, zero or over 500 reads as 100.
func (r AgentsAPICloudGetV1AgentsBuildsRequest) Limit(limit int32) AgentsAPICloudGetV1AgentsBuildsRequest {
	r.limit = &limit
	return r
}

func (r AgentsAPICloudGetV1AgentsBuildsRequest) Execute() (*CloudBuildList, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsBuildsExecute(r)
}

/*
CloudGetV1AgentsBuilds ListBuilds returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product.

ListBuilds returns the public index of every published build, most recently
updated first, so a gallery can link straight to the story behind each product.
PUBLIC, no tenancy: publishing is the author's act, and only published root
sessions appear here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudGetV1AgentsBuildsRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsBuilds(ctx context.Context) AgentsAPICloudGetV1AgentsBuildsRequest {
	return AgentsAPICloudGetV1AgentsBuildsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBuildList
func (a *AgentsAPIService) CloudGetV1AgentsBuildsExecute(r AgentsAPICloudGetV1AgentsBuildsRequest) (*CloudBuildList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBuildList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsBuilds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/builds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsBuildsOrgProjectRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	org        string
	project    string
}

func (r AgentsAPICloudGetV1AgentsBuildsOrgProjectRequest) Execute() (*CloudBuildView, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsBuildsOrgProjectExecute(r)
}

/*
CloudGetV1AgentsBuildsOrgProject ReadBuild returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact `git log` that re-derives every commit binding from git itself, so nothing here has to be taken on trust.

ReadBuild returns the readable build of one product: the agent session that
produced it, turn by turn — the prompts, the reasoning, the commits each turn
produced — plus the exact `git log` that re-derives every commit binding from
git itself, so nothing here has to be taken on trust.

PUBLIC, no tenancy: it answers only for a session its author explicitly
published, which is what makes it safe to be anonymous. An unpublished session
is invisible here no matter who asks; its owner reads it through the org-scoped
/v1/agents/sessions routes, which need a validated principal.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org Org is the org that published the build, from the path.
	@param project Project is the product's slug, from the path.
	@return AgentsAPICloudGetV1AgentsBuildsOrgProjectRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsBuildsOrgProject(ctx context.Context, org string, project string) AgentsAPICloudGetV1AgentsBuildsOrgProjectRequest {
	return AgentsAPICloudGetV1AgentsBuildsOrgProjectRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		project:    project,
	}
}

// Execute executes the request
//
//	@return CloudBuildView
func (a *AgentsAPIService) CloudGetV1AgentsBuildsOrgProjectExecute(r AgentsAPICloudGetV1AgentsBuildsOrgProjectRequest) (*CloudBuildView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBuildView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsBuildsOrgProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/builds/{org}/{project}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsMetricsRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	range_     *string
}

// Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D.
func (r AgentsAPICloudGetV1AgentsMetricsRequest) Range_(range_ string) AgentsAPICloudGetV1AgentsMetricsRequest {
	r.range_ = &range_
	return r
}

func (r AgentsAPICloudGetV1AgentsMetricsRequest) Execute() (*CloudMetricsView, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsMetricsExecute(r)
}

/*
CloudGetV1AgentsMetrics AgentMetrics serves the invocations-over-time histogram for the org's Agents dashboard.

AgentMetrics serves the invocations-over-time histogram for the org's Agents
dashboard. Every point is a REAL count of recorded runs in that time bucket —
one series line per agent that ran in the window. The Resource Usage rollup is
all-null because this store meters no CPU/memory/storage/cost; the console
renders those as "—" rather than a fabricated figure. No runs => empty series
(an honest "not connected / no activity yet"), never a synthesized trend.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudGetV1AgentsMetricsRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsMetrics(ctx context.Context) AgentsAPICloudGetV1AgentsMetricsRequest {
	return AgentsAPICloudGetV1AgentsMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMetricsView
func (a *AgentsAPIService) CloudGetV1AgentsMetricsExecute(r AgentsAPICloudGetV1AgentsMetricsRequest) (*CloudMetricsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMetricsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsRefRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	ref        string
}

func (r AgentsAPICloudGetV1AgentsRefRequest) Execute() (*CloudAgentDetail, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsRefExecute(r)
}

/*
CloudGetV1AgentsRef GetAgent returns one agent with its system prompt and its 20 most recent runs.

GetAgent returns one agent with its system prompt and its 20 most recent runs.
The ref is the agent's public id or its org-unique name — a created agent is
immediately gettable by whatever create handed back.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ref Ref is the agent's public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
	@return AgentsAPICloudGetV1AgentsRefRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsRef(ctx context.Context, ref string) AgentsAPICloudGetV1AgentsRefRequest {
	return AgentsAPICloudGetV1AgentsRefRequest{
		ApiService: a,
		ctx:        ctx,
		ref:        ref,
	}
}

// Execute executes the request
//
//	@return CloudAgentDetail
func (a *AgentsAPIService) CloudGetV1AgentsRefExecute(r AgentsAPICloudGetV1AgentsRefRequest) (*CloudAgentDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAgentDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsRef")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/{ref}"
	localVarPath = strings.Replace(localVarPath, "{"+"ref"+"}", url.PathEscape(parameterValueToString(r.ref, "ref")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsRefRunsRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	ref        string
	limit      *int32
}

// Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50.
func (r AgentsAPICloudGetV1AgentsRefRunsRequest) Limit(limit int32) AgentsAPICloudGetV1AgentsRefRunsRequest {
	r.limit = &limit
	return r
}

func (r AgentsAPICloudGetV1AgentsRefRunsRequest) Execute() (*CloudRunList, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsRefRunsExecute(r)
}

/*
CloudGetV1AgentsRefRuns ListAgentRuns returns one agent's execution history, newest first — each run's input, its output or its error, and how long it took.

ListAgentRuns returns one agent's execution history, newest first — each run's
input, its output or its error, and how long it took. Every row is a run that
actually happened.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ref Ref is the agent's public id or its org-unique name, from the path.
	@return AgentsAPICloudGetV1AgentsRefRunsRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsRefRuns(ctx context.Context, ref string) AgentsAPICloudGetV1AgentsRefRunsRequest {
	return AgentsAPICloudGetV1AgentsRefRunsRequest{
		ApiService: a,
		ctx:        ctx,
		ref:        ref,
	}
}

// Execute executes the request
//
//	@return CloudRunList
func (a *AgentsAPIService) CloudGetV1AgentsRefRunsExecute(r AgentsAPICloudGetV1AgentsRefRunsRequest) (*CloudRunList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRunList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsRefRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/{ref}/runs"
	localVarPath = strings.Replace(localVarPath, "{"+"ref"+"}", url.PathEscape(parameterValueToString(r.ref, "ref")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsSessionsRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	root       *string
	parent     *string
	status     *string
	project    *string
	limit      *int32
}

// Root scopes the page to one subagent tree (its root session id).
func (r AgentsAPICloudGetV1AgentsSessionsRequest) Root(root string) AgentsAPICloudGetV1AgentsSessionsRequest {
	r.root = &root
	return r
}

// Parent scopes the page to the direct children of one session. Ignored when root is set; with neither, only ROOT sessions come back.
func (r AgentsAPICloudGetV1AgentsSessionsRequest) Parent(parent string) AgentsAPICloudGetV1AgentsSessionsRequest {
	r.parent = &parent
	return r
}

// Status filters to running, paused, done or error.
func (r AgentsAPICloudGetV1AgentsSessionsRequest) Status(status string) AgentsAPICloudGetV1AgentsSessionsRequest {
	r.status = &status
	return r
}

// Project filters to the sessions tagged with one product slug.
func (r AgentsAPICloudGetV1AgentsSessionsRequest) Project(project string) AgentsAPICloudGetV1AgentsSessionsRequest {
	r.project = &project
	return r
}

// Limit caps the page. Absent, zero or over 500 reads as 100.
func (r AgentsAPICloudGetV1AgentsSessionsRequest) Limit(limit int32) AgentsAPICloudGetV1AgentsSessionsRequest {
	r.limit = &limit
	return r
}

func (r AgentsAPICloudGetV1AgentsSessionsRequest) Execute() (*CloudSessionList, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsSessionsExecute(r)
}

/*
CloudGetV1AgentsSessions ListSessions returns the caller org's live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event.

ListSessions returns the caller org's live sessions, newest first — each with
its event count, its direct-child count and a one-line preview of its latest
event. With no filter it returns ROOT sessions only, so a dashboard shows one
row per flow rather than one per subagent; ?root= or ?parent= descends.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudGetV1AgentsSessionsRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsSessions(ctx context.Context) AgentsAPICloudGetV1AgentsSessionsRequest {
	return AgentsAPICloudGetV1AgentsSessionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSessionList
func (a *AgentsAPIService) CloudGetV1AgentsSessionsExecute(r AgentsAPICloudGetV1AgentsSessionsRequest) (*CloudSessionList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSessionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.root != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "root", r.root, "form", "")
	}
	if r.parent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent", r.parent, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsSessionsIdRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
}

func (r AgentsAPICloudGetV1AgentsSessionsIdRequest) Execute() (*CloudSessionDetail, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsSessionsIdExecute(r)
}

/*
CloudGetV1AgentsSessionsId GetSession returns one session with its direct child sessions and its 50 most recent events, oldest of those first.

GetSession returns one session with its direct child sessions and its 50 most
recent events, oldest of those first.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the session to act on, from the path.
	@return AgentsAPICloudGetV1AgentsSessionsIdRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsSessionsId(ctx context.Context, id string) AgentsAPICloudGetV1AgentsSessionsIdRequest {
	return AgentsAPICloudGetV1AgentsSessionsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudSessionDetail
func (a *AgentsAPIService) CloudGetV1AgentsSessionsIdExecute(r AgentsAPICloudGetV1AgentsSessionsIdRequest) (*CloudSessionDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSessionDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsSessionsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsSessionsIdControlRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
	after      *int32
}

// After is the last seq this poller applied; only commands newer than it come back. Absent or negative reads as 0, which drains from the beginning.
func (r AgentsAPICloudGetV1AgentsSessionsIdControlRequest) After(after int32) AgentsAPICloudGetV1AgentsSessionsIdControlRequest {
	r.after = &after
	return r
}

func (r AgentsAPICloudGetV1AgentsSessionsIdControlRequest) Execute() (*CloudControlDrain, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsSessionsIdControlExecute(r)
}

/*
CloudGetV1AgentsSessionsIdControl DrainSessionControl returns the steering commands (pause/resume/stop/message) recorded against the caller's own session that are newer than the cursor, oldest first, with the cursor to poll from next.

DrainSessionControl returns the steering commands (pause/resume/stop/message)
recorded against the caller's own session that are newer than the cursor,
oldest first, with the cursor to poll from next. It is how a locally started
`hanzo code` session — which is not task-backed, so nothing forwards its
commands to an execution engine — consumes what the dashboard posted. Read-only
and bounded at 200 per poll, so a steady poll is cheap and an applied command is
never redelivered.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the session whose commands are being drained, from the path.
	@return AgentsAPICloudGetV1AgentsSessionsIdControlRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsSessionsIdControl(ctx context.Context, id string) AgentsAPICloudGetV1AgentsSessionsIdControlRequest {
	return AgentsAPICloudGetV1AgentsSessionsIdControlRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudControlDrain
func (a *AgentsAPIService) CloudGetV1AgentsSessionsIdControlExecute(r AgentsAPICloudGetV1AgentsSessionsIdControlRequest) (*CloudControlDrain, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControlDrain
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsSessionsIdControl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/{id}/control"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsSessionsIdTreeRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
}

func (r AgentsAPICloudGetV1AgentsSessionsIdTreeRequest) Execute() (*CloudTreeNode, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsSessionsIdTreeExecute(r)
}

/*
CloudGetV1AgentsSessionsIdTree SessionTree returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count.

SessionTree returns the subagent-flow graph rooted at this session: the session,
its children, their children, each node carrying its own event count. One
indexed read pulls the whole flow (every node of a flow shares a root id), so
the shape is assembled in memory rather than by walking the store per node.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the session to act on, from the path.
	@return AgentsAPICloudGetV1AgentsSessionsIdTreeRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsSessionsIdTree(ctx context.Context, id string) AgentsAPICloudGetV1AgentsSessionsIdTreeRequest {
	return AgentsAPICloudGetV1AgentsSessionsIdTreeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudTreeNode
func (a *AgentsAPIService) CloudGetV1AgentsSessionsIdTreeExecute(r AgentsAPICloudGetV1AgentsSessionsIdTreeRequest) (*CloudTreeNode, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTreeNode
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsSessionsIdTree")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/{id}/tree"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsSessionsStreamRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
}

func (r AgentsAPICloudGetV1AgentsSessionsStreamRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1AgentsSessionsStreamExecute(r)
}

/*
CloudGetV1AgentsSessionsStream Method for CloudGetV1AgentsSessionsStream

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudGetV1AgentsSessionsStreamRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsSessionsStream(ctx context.Context) AgentsAPICloudGetV1AgentsSessionsStreamRequest {
	return AgentsAPICloudGetV1AgentsSessionsStreamRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *AgentsAPIService) CloudGetV1AgentsSessionsStreamExecute(r AgentsAPICloudGetV1AgentsSessionsStreamRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsSessionsStream")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsTargetsRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
}

func (r AgentsAPICloudGetV1AgentsTargetsRequest) Execute() (*CloudTargetList, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsTargetsExecute(r)
}

/*
CloudGetV1AgentsTargets ListTargets returns every machine registered to the caller's org, newest first, each with its live session load.

ListTargets returns every machine registered to the caller's org, newest
first, each with its live session load.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudGetV1AgentsTargetsRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsTargets(ctx context.Context) AgentsAPICloudGetV1AgentsTargetsRequest {
	return AgentsAPICloudGetV1AgentsTargetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudTargetList
func (a *AgentsAPIService) CloudGetV1AgentsTargetsExecute(r AgentsAPICloudGetV1AgentsTargetsRequest) (*CloudTargetList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTargetList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsTargets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/targets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudGetV1AgentsTargetsIdRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
}

func (r AgentsAPICloudGetV1AgentsTargetsIdRequest) Execute() (*CloudTargetView, *http.Response, error) {
	return r.ApiService.CloudGetV1AgentsTargetsIdExecute(r)
}

/*
CloudGetV1AgentsTargetsId GetTarget returns one registered machine, with its live session load.

GetTarget returns one registered machine, with its live session load.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the target to act on, from the path.
	@return AgentsAPICloudGetV1AgentsTargetsIdRequest
*/
func (a *AgentsAPIService) CloudGetV1AgentsTargetsId(ctx context.Context, id string) AgentsAPICloudGetV1AgentsTargetsIdRequest {
	return AgentsAPICloudGetV1AgentsTargetsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudTargetView
func (a *AgentsAPIService) CloudGetV1AgentsTargetsIdExecute(r AgentsAPICloudGetV1AgentsTargetsIdRequest) (*CloudTargetView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTargetView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudGetV1AgentsTargetsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/targets/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudPatchV1AgentsRefRequest struct {
	ctx                context.Context
	ApiService         *AgentsAPIService
	ref                string
	cloudUpdateAgentIn *CloudUpdateAgentIn
}

func (r AgentsAPICloudPatchV1AgentsRefRequest) CloudUpdateAgentIn(cloudUpdateAgentIn CloudUpdateAgentIn) AgentsAPICloudPatchV1AgentsRefRequest {
	r.cloudUpdateAgentIn = &cloudUpdateAgentIn
	return r
}

func (r AgentsAPICloudPatchV1AgentsRefRequest) Execute() (*CloudAgentView, *http.Response, error) {
	return r.ApiService.CloudPatchV1AgentsRefExecute(r)
}

/*
CloudPatchV1AgentsRef UpdateAgent changes an agent in place.

UpdateAgent changes an agent in place. Every field is optional; a field the
request omits keeps its stored value. The resulting mode+schedule are
re-validated together, so a partial update can never leave a long-running
agent without the cron the scheduler needs to fire it, and a transition INTO
long-running counts against the per-org cap on scheduled agents.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ref Ref is the agent to update — its public id or org-unique name, from the path.
	@return AgentsAPICloudPatchV1AgentsRefRequest
*/
func (a *AgentsAPIService) CloudPatchV1AgentsRef(ctx context.Context, ref string) AgentsAPICloudPatchV1AgentsRefRequest {
	return AgentsAPICloudPatchV1AgentsRefRequest{
		ApiService: a,
		ctx:        ctx,
		ref:        ref,
	}
}

// Execute executes the request
//
//	@return CloudAgentView
func (a *AgentsAPIService) CloudPatchV1AgentsRefExecute(r AgentsAPICloudPatchV1AgentsRefRequest) (*CloudAgentView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAgentView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPatchV1AgentsRef")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/{ref}"
	localVarPath = strings.Replace(localVarPath, "{"+"ref"+"}", url.PathEscape(parameterValueToString(r.ref, "ref")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudUpdateAgentIn == nil {
		return localVarReturnValue, nil, reportError("cloudUpdateAgentIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudUpdateAgentIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudPatchV1AgentsSessionsIdRequest struct {
	ctx                 context.Context
	ApiService          *AgentsAPIService
	id                  string
	cloudPatchSessionIn *CloudPatchSessionIn
}

func (r AgentsAPICloudPatchV1AgentsSessionsIdRequest) CloudPatchSessionIn(cloudPatchSessionIn CloudPatchSessionIn) AgentsAPICloudPatchV1AgentsSessionsIdRequest {
	r.cloudPatchSessionIn = &cloudPatchSessionIn
	return r
}

func (r AgentsAPICloudPatchV1AgentsSessionsIdRequest) Execute() (*CloudSessionView, *http.Response, error) {
	return r.ApiService.CloudPatchV1AgentsSessionsIdExecute(r)
}

/*
CloudPatchV1AgentsSessionsId PatchSession updates a session's surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build's story is public.

PatchSession updates a session's surface-owned truth: its status, its title,
the run-target it is dispatched to, and the product it built plus whether that
build's story is public. A FINISHED session stays finished — reopening a
done/error run would fabricate liveness — and publishing is refused unless the
session names the project it built, because the public build route is keyed on
(org, project).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the session to update, from the path.
	@return AgentsAPICloudPatchV1AgentsSessionsIdRequest
*/
func (a *AgentsAPIService) CloudPatchV1AgentsSessionsId(ctx context.Context, id string) AgentsAPICloudPatchV1AgentsSessionsIdRequest {
	return AgentsAPICloudPatchV1AgentsSessionsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudSessionView
func (a *AgentsAPIService) CloudPatchV1AgentsSessionsIdExecute(r AgentsAPICloudPatchV1AgentsSessionsIdRequest) (*CloudSessionView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSessionView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPatchV1AgentsSessionsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPatchSessionIn == nil {
		return localVarReturnValue, nil, reportError("cloudPatchSessionIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPatchSessionIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudPatchV1AgentsTargetsIdRequest struct {
	ctx                context.Context
	ApiService         *AgentsAPIService
	id                 string
	cloudPatchTargetIn *CloudPatchTargetIn
}

func (r AgentsAPICloudPatchV1AgentsTargetsIdRequest) CloudPatchTargetIn(cloudPatchTargetIn CloudPatchTargetIn) AgentsAPICloudPatchV1AgentsTargetsIdRequest {
	r.cloudPatchTargetIn = &cloudPatchTargetIn
	return r
}

func (r AgentsAPICloudPatchV1AgentsTargetsIdRequest) Execute() (*CloudTargetView, *http.Response, error) {
	return r.ApiService.CloudPatchV1AgentsTargetsIdExecute(r)
}

/*
CloudPatchV1AgentsTargetsId PatchTarget updates one machine in place.

PatchTarget updates one machine in place. Every field is optional; a field the
request omits is left alone. A metrics patch IS a heartbeat — the server stamps
its own clock, so a client can neither forge nor backdate staleness.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the target to update, from the path.
	@return AgentsAPICloudPatchV1AgentsTargetsIdRequest
*/
func (a *AgentsAPIService) CloudPatchV1AgentsTargetsId(ctx context.Context, id string) AgentsAPICloudPatchV1AgentsTargetsIdRequest {
	return AgentsAPICloudPatchV1AgentsTargetsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudTargetView
func (a *AgentsAPIService) CloudPatchV1AgentsTargetsIdExecute(r AgentsAPICloudPatchV1AgentsTargetsIdRequest) (*CloudTargetView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTargetView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPatchV1AgentsTargetsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/targets/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPatchTargetIn == nil {
		return localVarReturnValue, nil, reportError("cloudPatchTargetIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPatchTargetIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudPostV1AgentsRequest struct {
	ctx                context.Context
	ApiService         *AgentsAPIService
	cloudCreateAgentIn *CloudCreateAgentIn
}

func (r AgentsAPICloudPostV1AgentsRequest) CloudCreateAgentIn(cloudCreateAgentIn CloudCreateAgentIn) AgentsAPICloudPostV1AgentsRequest {
	r.cloudCreateAgentIn = &cloudCreateAgentIn
	return r
}

func (r AgentsAPICloudPostV1AgentsRequest) Execute() (*CloudAgentView, *http.Response, error) {
	return r.ApiService.CloudPostV1AgentsExecute(r)
}

/*
CloudPostV1Agents CreateAgent defines an agent in the caller's org: a model, a system prompt (instructions) and a set of tool names.

CreateAgent defines an agent in the caller's org: a model, a system prompt
(instructions) and a set of tool names. The name must be unique in the org and
match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. An omitted model takes the
deployment's configured default; a named one is checked against the gateway's
served catalog, so a model this deployment never serves is refused here rather
than failing at run time. A long-running agent must carry a 5-field cron
schedule (the scheduler would otherwise never fire it) and counts against a
per-org cap on scheduled agents.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudPostV1AgentsRequest
*/
func (a *AgentsAPIService) CloudPostV1Agents(ctx context.Context) AgentsAPICloudPostV1AgentsRequest {
	return AgentsAPICloudPostV1AgentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAgentView
func (a *AgentsAPIService) CloudPostV1AgentsExecute(r AgentsAPICloudPostV1AgentsRequest) (*CloudAgentView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAgentView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPostV1Agents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateAgentIn == nil {
		return localVarReturnValue, nil, reportError("cloudCreateAgentIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateAgentIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudPostV1AgentsByRefRunRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	ref        string
}

func (r AgentsAPICloudPostV1AgentsByRefRunRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1AgentsByRefRunExecute(r)
}

/*
CloudPostV1AgentsByRefRun Method for CloudPostV1AgentsByRefRun

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ref
	@return AgentsAPICloudPostV1AgentsByRefRunRequest
*/
func (a *AgentsAPIService) CloudPostV1AgentsByRefRun(ctx context.Context, ref string) AgentsAPICloudPostV1AgentsByRefRunRequest {
	return AgentsAPICloudPostV1AgentsByRefRunRequest{
		ApiService: a,
		ctx:        ctx,
		ref:        ref,
	}
}

// Execute executes the request
func (a *AgentsAPIService) CloudPostV1AgentsByRefRunExecute(r AgentsAPICloudPostV1AgentsByRefRunRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPostV1AgentsByRefRun")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/{ref}/run"
	localVarPath = strings.Replace(localVarPath, "{"+"ref"+"}", url.PathEscape(parameterValueToString(r.ref, "ref")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AgentsAPICloudPostV1AgentsSessionsRequest struct {
	ctx              context.Context
	ApiService       *AgentsAPIService
	cloudRegisterReq *CloudRegisterReq
}

func (r AgentsAPICloudPostV1AgentsSessionsRequest) CloudRegisterReq(cloudRegisterReq CloudRegisterReq) AgentsAPICloudPostV1AgentsSessionsRequest {
	r.cloudRegisterReq = &cloudRegisterReq
	return r
}

func (r AgentsAPICloudPostV1AgentsSessionsRequest) Execute() (*CloudSessionView, *http.Response, error) {
	return r.ApiService.CloudPostV1AgentsSessionsExecute(r)
}

/*
CloudPostV1AgentsSessions RegisterSession opens a live agent session in the caller's org — the row every surface (the CLI's outer agent, hanzo.bot, the console, chat) hangs its activity off.

RegisterSession opens a live agent session in the caller's org — the row every
surface (the CLI's outer agent, hanzo.bot, the console, chat) hangs its
activity off. A session with a parentSessionId becomes a subagent of that
session and inherits its root, so one flow is one tree; without one it is
itself a root. Registering with a terminal status records a session that has
already finished.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentsAPICloudPostV1AgentsSessionsRequest
*/
func (a *AgentsAPIService) CloudPostV1AgentsSessions(ctx context.Context) AgentsAPICloudPostV1AgentsSessionsRequest {
	return AgentsAPICloudPostV1AgentsSessionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSessionView
func (a *AgentsAPIService) CloudPostV1AgentsSessionsExecute(r AgentsAPICloudPostV1AgentsSessionsRequest) (*CloudSessionView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSessionView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPostV1AgentsSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudRegisterReq == nil {
		return localVarReturnValue, nil, reportError("cloudRegisterReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudRegisterReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentsAPICloudPostV1AgentsSessionsByIdEventsRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
}

func (r AgentsAPICloudPostV1AgentsSessionsByIdEventsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1AgentsSessionsByIdEventsExecute(r)
}

/*
CloudPostV1AgentsSessionsByIdEvents Method for CloudPostV1AgentsSessionsByIdEvents

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return AgentsAPICloudPostV1AgentsSessionsByIdEventsRequest
*/
func (a *AgentsAPIService) CloudPostV1AgentsSessionsByIdEvents(ctx context.Context, id string) AgentsAPICloudPostV1AgentsSessionsByIdEventsRequest {
	return AgentsAPICloudPostV1AgentsSessionsByIdEventsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AgentsAPIService) CloudPostV1AgentsSessionsByIdEventsExecute(r AgentsAPICloudPostV1AgentsSessionsByIdEventsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPostV1AgentsSessionsByIdEvents")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/{id}/events"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AgentsAPICloudPostV1AgentsSessionsByIdMessageRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
}

func (r AgentsAPICloudPostV1AgentsSessionsByIdMessageRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1AgentsSessionsByIdMessageExecute(r)
}

/*
CloudPostV1AgentsSessionsByIdMessage Method for CloudPostV1AgentsSessionsByIdMessage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return AgentsAPICloudPostV1AgentsSessionsByIdMessageRequest
*/
func (a *AgentsAPIService) CloudPostV1AgentsSessionsByIdMessage(ctx context.Context, id string) AgentsAPICloudPostV1AgentsSessionsByIdMessageRequest {
	return AgentsAPICloudPostV1AgentsSessionsByIdMessageRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AgentsAPIService) CloudPostV1AgentsSessionsByIdMessageExecute(r AgentsAPICloudPostV1AgentsSessionsByIdMessageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPostV1AgentsSessionsByIdMessage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/{id}/message"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AgentsAPICloudPostV1AgentsSessionsByIdPauseRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
}

func (r AgentsAPICloudPostV1AgentsSessionsByIdPauseRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1AgentsSessionsByIdPauseExecute(r)
}

/*
CloudPostV1AgentsSessionsByIdPause Method for CloudPostV1AgentsSessionsByIdPause

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return AgentsAPICloudPostV1AgentsSessionsByIdPauseRequest
*/
func (a *AgentsAPIService) CloudPostV1AgentsSessionsByIdPause(ctx context.Context, id string) AgentsAPICloudPostV1AgentsSessionsByIdPauseRequest {
	return AgentsAPICloudPostV1AgentsSessionsByIdPauseRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AgentsAPIService) CloudPostV1AgentsSessionsByIdPauseExecute(r AgentsAPICloudPostV1AgentsSessionsByIdPauseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPostV1AgentsSessionsByIdPause")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/{id}/pause"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AgentsAPICloudPostV1AgentsSessionsByIdResumeRequest struct {
	ctx        context.Context
	ApiService *AgentsAPIService
	id         string
}

func (r AgentsAPICloudPostV1AgentsSessionsByIdResumeRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1AgentsSessionsByIdResumeExecute(r)
}

/*
CloudPostV1AgentsSessionsByIdResume Method for CloudPostV1AgentsSessionsByIdResume

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return AgentsAPICloudPostV1AgentsSessionsByIdResumeRequest
*/
func (a *AgentsAPIService) CloudPostV1AgentsSessionsByIdResume(ctx context.Context, id string) AgentsAPICloudPostV1AgentsSessionsByIdResumeRequest {
	return AgentsAPICloudPostV1AgentsSessionsByIdResumeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AgentsAPIService) CloudPostV1AgentsSessionsByIdResumeExecute(r AgentsAPICloudPostV1AgentsSessionsByIdResumeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.CloudPostV1AgentsSessionsByIdResume")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/sessions/{id}/resume"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AgentsAPICloudPostV1AgentsSessionsByIdStopRequest struct {
[...]
