/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ConnectorsAPIService ConnectorsAPI service
type ConnectorsAPIService service

type ConnectorsAPICloudDeleteV1ConnectorsIdRequest struct {
	ctx        context.Context
	ApiService *ConnectorsAPIService
	id         string
}

func (r ConnectorsAPICloudDeleteV1ConnectorsIdRequest) Execute() (*CloudDisconnectOut, *http.Response, error) {
	return r.ApiService.CloudDeleteV1ConnectorsIdExecute(r)
}

/*
CloudDeleteV1ConnectorsId Forgets a connector: every custodied secret, then the row.

Forgets a connector: every custodied secret, then the row.
Idempotent — dropping a never-connected id still answers {disconnected:true}
(disconnect() parity). No provider Revoke: none of the user-plane providers
exposes a revoke endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the connector id, provider + \":\" + label (\"openai:default\") — the auth-profile-id shape. Another user's id is simply no row, so 404.
	@return ConnectorsAPICloudDeleteV1ConnectorsIdRequest
*/
func (a *ConnectorsAPIService) CloudDeleteV1ConnectorsId(ctx context.Context, id string) ConnectorsAPICloudDeleteV1ConnectorsIdRequest {
	return ConnectorsAPICloudDeleteV1ConnectorsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudDisconnectOut
func (a *ConnectorsAPIService) CloudDeleteV1ConnectorsIdExecute(r ConnectorsAPICloudDeleteV1ConnectorsIdRequest) (*CloudDisconnectOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDisconnectOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorsAPIService.CloudDeleteV1ConnectorsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectorsAPICloudGetV1ConnectorsRequest struct {
	ctx        context.Context
	ApiService *ConnectorsAPIService
}

func (r ConnectorsAPICloudGetV1ConnectorsRequest) Execute() (*CloudConnectorsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1ConnectorsExecute(r)
}

/*
CloudGetV1Connectors Lists the caller's OWN connectors across every provider — the set `hanzo connector ls` prints.

Lists the caller's OWN connectors across every provider — the set
`hanzo connector ls` prints. Rows are keyed (org,user), so this can never
surface another user's connector, and no secret is in the view.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectorsAPICloudGetV1ConnectorsRequest
*/
func (a *ConnectorsAPIService) CloudGetV1Connectors(ctx context.Context) ConnectorsAPICloudGetV1ConnectorsRequest {
	return ConnectorsAPICloudGetV1ConnectorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudConnectorsOut
func (a *ConnectorsAPIService) CloudGetV1ConnectorsExecute(r ConnectorsAPICloudGetV1ConnectorsRequest) (*CloudConnectorsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConnectorsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorsAPIService.CloudGetV1Connectors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectorsAPICloudGetV1ConnectorsIdTokenRequest struct {
	ctx        context.Context
	ApiService *ConnectorsAPIService
	id         string
}

func (r ConnectorsAPICloudGetV1ConnectorsIdTokenRequest) Execute() (*CloudConnectorTokenOut, *http.Response, error) {
	return r.ApiService.CloudGetV1ConnectorsIdTokenExecute(r)
}

/*
CloudGetV1ConnectorsIdToken Hands the custodied access token to its owner — the ONE place custody exits.

Hands the custodied access token to its owner — the ONE place
custody exits. The (org,user)-keyed row IS the same-user gate: another user's
id is simply "no row" → 404. fresh() auto-rotates within the refreshSkew
window; static providers degenerate to a plain kmsGet of Secrets[0]. Refresh
tokens are NEVER returned — custody keeps the sink. The token is never logged.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the connector id, provider + \":\" + label (\"openai:default\") — the auth-profile-id shape. Another user's id is simply no row, so 404.
	@return ConnectorsAPICloudGetV1ConnectorsIdTokenRequest
*/
func (a *ConnectorsAPIService) CloudGetV1ConnectorsIdToken(ctx context.Context, id string) ConnectorsAPICloudGetV1ConnectorsIdTokenRequest {
	return ConnectorsAPICloudGetV1ConnectorsIdTokenRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudConnectorTokenOut
func (a *ConnectorsAPIService) CloudGetV1ConnectorsIdTokenExecute(r ConnectorsAPICloudGetV1ConnectorsIdTokenRequest) (*CloudConnectorTokenOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConnectorTokenOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorsAPIService.CloudGetV1ConnectorsIdToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{id}/token"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectorsAPICloudGetV1ConnectorsProvidersRequest struct {
	ctx        context.Context
	ApiService *ConnectorsAPIService
}

func (r ConnectorsAPICloudGetV1ConnectorsProvidersRequest) Execute() (*CloudConnectorProvidersOut, *http.Response, error) {
	return r.ApiService.CloudGetV1ConnectorsProvidersExecute(r)
}

/*
CloudGetV1ConnectorsProviders Lists the user-scoped provider cards — the catalog of what a user can connect, and how.

Lists the user-scoped provider cards — the catalog of what a
user can connect, and how. Methods derive from capabilities (Device/Adopt/Verify
— Mount asserts at least one), never from a parallel kind enum.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectorsAPICloudGetV1ConnectorsProvidersRequest
*/
func (a *ConnectorsAPIService) CloudGetV1ConnectorsProviders(ctx context.Context) ConnectorsAPICloudGetV1ConnectorsProvidersRequest {
	return ConnectorsAPICloudGetV1ConnectorsProvidersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudConnectorProvidersOut
func (a *ConnectorsAPIService) CloudGetV1ConnectorsProvidersExecute(r ConnectorsAPICloudGetV1ConnectorsProvidersRequest) (*CloudConnectorProvidersOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConnectorProvidersOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorsAPIService.CloudGetV1ConnectorsProviders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectorsAPICloudPostV1ConnectorsIdRefreshRequest struct {
	ctx        context.Context
	ApiService *ConnectorsAPIService
	id         string
}

func (r ConnectorsAPICloudPostV1ConnectorsIdRefreshRequest) Execute() (*CloudRefreshOut, *http.Response, error) {
	return r.ApiService.CloudPostV1ConnectorsIdRefreshExecute(r)
}

/*
CloudPostV1ConnectorsIdRefresh Forces a token rotation for a connected connector, ahead of the automatic rotation a token read would do inside the expiry window.

Forces a token rotation for a connected connector, ahead of the
automatic rotation a token read would do inside the expiry window. Only
providers that declare a Refresh support it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the connector id, provider + \":\" + label (\"openai:default\") — the auth-profile-id shape. Another user's id is simply no row, so 404.
	@return ConnectorsAPICloudPostV1ConnectorsIdRefreshRequest
*/
func (a *ConnectorsAPIService) CloudPostV1ConnectorsIdRefresh(ctx context.Context, id string) ConnectorsAPICloudPostV1ConnectorsIdRefreshRequest {
	return ConnectorsAPICloudPostV1ConnectorsIdRefreshRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudRefreshOut
func (a *ConnectorsAPIService) CloudPostV1ConnectorsIdRefreshExecute(r ConnectorsAPICloudPostV1ConnectorsIdRefreshRequest) (*CloudRefreshOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRefreshOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorsAPIService.CloudPostV1ConnectorsIdRefresh")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{id}/refresh"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectorsAPICloudPostV1ConnectorsProviderCredentialRequest struct {
	ctx               context.Context
	ApiService        *ConnectorsAPIService
	provider          string
	cloudCredentialIn *CloudCredentialIn
}

func (r ConnectorsAPICloudPostV1ConnectorsProviderCredentialRequest) CloudCredentialIn(cloudCredentialIn CloudCredentialIn) ConnectorsAPICloudPostV1ConnectorsProviderCredentialRequest {
	r.cloudCredentialIn = &cloudCredentialIn
	return r
}

func (r ConnectorsAPICloudPostV1ConnectorsProviderCredentialRequest) Execute() (*CloudCredentialOut, *http.Response, error) {
	return r.ApiService.CloudPostV1ConnectorsProviderCredentialExecute(r)
}

/*
CloudPostV1ConnectorsProviderCredential Is the direct intake path: a customer-held token/setup-token (Verify) or an externally obtained OAuth bundle from the CLI's local PKCE (Adopt).

Is the direct intake path: a customer-held token/setup-token
(Verify) or an externally obtained OAuth bundle from the CLI's local PKCE
(Adopt). ALWAYS verify-before-store: a bad credential is refused and NOTHING
is persisted (connectByCredential's fail-closed order).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the user-scoped provider's registry id, from the path.
	@return ConnectorsAPICloudPostV1ConnectorsProviderCredentialRequest
*/
func (a *ConnectorsAPIService) CloudPostV1ConnectorsProviderCredential(ctx context.Context, provider string) ConnectorsAPICloudPostV1ConnectorsProviderCredentialRequest {
	return ConnectorsAPICloudPostV1ConnectorsProviderCredentialRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return CloudCredentialOut
func (a *ConnectorsAPIService) CloudPostV1ConnectorsProviderCredentialExecute(r ConnectorsAPICloudPostV1ConnectorsProviderCredentialRequest) (*CloudCredentialOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCredentialOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorsAPIService.CloudPostV1ConnectorsProviderCredential")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{provider}/credential"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCredentialIn == nil {
		return localVarReturnValue, nil, reportError("cloudCredentialIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCredentialIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectorsAPICloudPostV1ConnectorsProviderDeviceRequest struct {
	ctx                context.Context
	ApiService         *ConnectorsAPIService
	provider           string
	cloudDeviceStartIn *CloudDeviceStartIn
}

func (r ConnectorsAPICloudPostV1ConnectorsProviderDeviceRequest) CloudDeviceStartIn(cloudDeviceStartIn CloudDeviceStartIn) ConnectorsAPICloudPostV1ConnectorsProviderDeviceRequest {
	r.cloudDeviceStartIn = &cloudDeviceStartIn
	return r
}

func (r ConnectorsAPICloudPostV1ConnectorsProviderDeviceRequest) Execute() (*CloudDeviceStartOut, *http.Response, error) {
	return r.ApiService.CloudPostV1ConnectorsProviderDeviceExecute(r)
}

/*
CloudPostV1ConnectorsProviderDevice Begins a device sign-in and returns the code to show the user plus how to poll for completion.

Begins a device sign-in and returns the code to show the user plus
how to poll for completion. KMS readiness is checked NOW rather than dead-ending
the user at poll-done (connect() parity), and the per-provider connector cap is
checked before the provider is called. The provider's device code is persisted
only in the encrypted grants table and is NEVER returned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the user-scoped provider's registry id, from the path.
	@return ConnectorsAPICloudPostV1ConnectorsProviderDeviceRequest
*/
func (a *ConnectorsAPIService) CloudPostV1ConnectorsProviderDevice(ctx context.Context, provider string) ConnectorsAPICloudPostV1ConnectorsProviderDeviceRequest {
	return ConnectorsAPICloudPostV1ConnectorsProviderDeviceRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return CloudDeviceStartOut
func (a *ConnectorsAPIService) CloudPostV1ConnectorsProviderDeviceExecute(r ConnectorsAPICloudPostV1ConnectorsProviderDeviceRequest) (*CloudDeviceStartOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDeviceStartOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorsAPIService.CloudPostV1ConnectorsProviderDevice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{provider}/device"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudDeviceStartIn == nil {
		return localVarReturnValue, nil, reportError("cloudDeviceStartIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudDeviceStartIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectorsAPICloudPostV1ConnectorsProviderDeviceFlowPollRequest struct {
	ctx        context.Context
	ApiService *ConnectorsAPIService
	provider   string
	flow       string
}

func (r ConnectorsAPICloudPostV1ConnectorsProviderDeviceFlowPollRequest) Execute() (*CloudDevicePollOut, *http.Response, error) {
	return r.ApiService.CloudPostV1ConnectorsProviderDeviceFlowPollExecute(r)
}

/*
CloudPostV1ConnectorsProviderDeviceFlowPoll Advances a device sign-in.

Advances a device sign-in. Terminal outcomes are DATA, not errors
(verifyConn {active:false} discipline) — the status set is closed:
pending|connected|denied|expired. pollSlow collapses to "pending" on the
wire; the raised cadence rides interval.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the user-scoped provider's registry id, from the path.
	@param flow Flow is the id deviceStartOut returned. Expired or another user's flow is indistinguishable from an unknown one: 404.
	@return ConnectorsAPICloudPostV1ConnectorsProviderDeviceFlowPollRequest
*/
func (a *ConnectorsAPIService) CloudPostV1ConnectorsProviderDeviceFlowPoll(ctx context.Context, provider string, flow string) ConnectorsAPICloudPostV1ConnectorsProviderDeviceFlowPollRequest {
	return ConnectorsAPICloudPostV1ConnectorsProviderDeviceFlowPollRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
		flow:       flow,
	}
}

// Execute executes the request
//
//	@return CloudDevicePollOut
func (a *ConnectorsAPIService) CloudPostV1ConnectorsProviderDeviceFlowPollExecute(r ConnectorsAPICloudPostV1ConnectorsProviderDeviceFlowPollRequest) (*CloudDevicePollOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDevicePollOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectorsAPIService.CloudPostV1ConnectorsProviderDeviceFlowPoll")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/connectors/{provider}/device/{flow}/poll"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow"+"}", url.PathEscape(parameterValueToString(r.flow, "flow")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
