/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// EnablementAPIService EnablementAPI service
type EnablementAPIService service

type EnablementAPICloudGetV1EnablementRequest struct {
	ctx        context.Context
	ApiService *EnablementAPIService
}

func (r EnablementAPICloudGetV1EnablementRequest) Execute() (*CloudEnablementBoard, *http.Response, error) {
	return r.ApiService.CloudGetV1EnablementExecute(r)
}

/*
CloudGetV1Enablement GetEnablement returns what the caller's org can actually use: every managed item with its global state, whether it is effective here, whether this org is already opted into its beta, and whether it may still opt in.

GetEnablement returns what the caller's org can actually use: every managed
item with its global state, whether it is effective here, whether this org is
already opted into its beta, and whether it may still opt in. Read-only and
safe for any caller — one without a validated principal simply sees the
generally-available items and no opt-in affordance, never another org's state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EnablementAPICloudGetV1EnablementRequest
*/
func (a *EnablementAPIService) CloudGetV1Enablement(ctx context.Context) EnablementAPICloudGetV1EnablementRequest {
	return EnablementAPICloudGetV1EnablementRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudEnablementBoard
func (a *EnablementAPIService) CloudGetV1EnablementExecute(r EnablementAPICloudGetV1EnablementRequest) (*CloudEnablementBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudEnablementBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnablementAPIService.CloudGetV1Enablement")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/enablement"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnablementAPICloudPostV1EnablementOptinRequest struct {
	ctx                   context.Context
	ApiService            *EnablementAPIService
	cloudEnablementOptRef *CloudEnablementOptRef
}

func (r EnablementAPICloudPostV1EnablementOptinRequest) CloudEnablementOptRef(cloudEnablementOptRef CloudEnablementOptRef) EnablementAPICloudPostV1EnablementOptinRequest {
	r.cloudEnablementOptRef = &cloudEnablementOptRef
	return r
}

func (r EnablementAPICloudPostV1EnablementOptinRequest) Execute() (*CloudUserEnablementItem, *http.Response, error) {
	return r.ApiService.CloudPostV1EnablementOptinExecute(r)
}

/*
CloudPostV1EnablementOptin OptIntoBeta opts the caller's OWN org into a beta item.

OptIntoBeta opts the caller's OWN org into a beta item. The org is the
caller's validated one, so this can never target another org, and the registry
refuses anything not in beta — so it can neither re-open an item an operator
turned off nor touch one that is already generally available. Requires a
signed-in caller with an org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EnablementAPICloudPostV1EnablementOptinRequest
*/
func (a *EnablementAPIService) CloudPostV1EnablementOptin(ctx context.Context) EnablementAPICloudPostV1EnablementOptinRequest {
	return EnablementAPICloudPostV1EnablementOptinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUserEnablementItem
func (a *EnablementAPIService) CloudPostV1EnablementOptinExecute(r EnablementAPICloudPostV1EnablementOptinRequest) (*CloudUserEnablementItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUserEnablementItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnablementAPIService.CloudPostV1EnablementOptin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/enablement/optin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudEnablementOptRef == nil {
		return localVarReturnValue, nil, reportError("cloudEnablementOptRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudEnablementOptRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnablementAPICloudPostV1EnablementOptoutRequest struct {
	ctx                   context.Context
	ApiService            *EnablementAPIService
	cloudEnablementOptRef *CloudEnablementOptRef
}

func (r EnablementAPICloudPostV1EnablementOptoutRequest) CloudEnablementOptRef(cloudEnablementOptRef CloudEnablementOptRef) EnablementAPICloudPostV1EnablementOptoutRequest {
	r.cloudEnablementOptRef = &cloudEnablementOptRef
	return r
}

func (r EnablementAPICloudPostV1EnablementOptoutRequest) Execute() (*CloudUserEnablementItem, *http.Response, error) {
	return r.ApiService.CloudPostV1EnablementOptoutExecute(r)
}

/*
CloudPostV1EnablementOptout OptOutOfBeta removes the caller's OWN org from a beta item's grant list, the reverse of OptIntoBeta and idempotent.

OptOutOfBeta removes the caller's OWN org from a beta item's grant list, the
reverse of OptIntoBeta and idempotent. The org is the caller's validated one,
so this can never revoke another org's grant. Requires a signed-in caller with
an org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EnablementAPICloudPostV1EnablementOptoutRequest
*/
func (a *EnablementAPIService) CloudPostV1EnablementOptout(ctx context.Context) EnablementAPICloudPostV1EnablementOptoutRequest {
	return EnablementAPICloudPostV1EnablementOptoutRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUserEnablementItem
func (a *EnablementAPIService) CloudPostV1EnablementOptoutExecute(r EnablementAPICloudPostV1EnablementOptoutRequest) (*CloudUserEnablementItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUserEnablementItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnablementAPIService.CloudPostV1EnablementOptout")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/enablement/optout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudEnablementOptRef == nil {
		return localVarReturnValue, nil, reportError("cloudEnablementOptRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudEnablementOptRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
