/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// VideosAPIService VideosAPI service
type VideosAPIService service

type VideosAPIGetVideosByIdRequest struct {
	ctx        context.Context
	ApiService *VideosAPIService
}

func (r VideosAPIGetVideosByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetVideosByIdExecute(r)
}

/*
GetVideosById Implements GET /v1/videos/{id} — poll a job's status.

Implements GET /v1/videos/{id} — poll a job's status.

It authenticates the caller, verifies they OWN the job (the caller's billing
subject must equal the job's), performs ONE upstream status poll, and — the
first time the job is observed completed — settles the reservation with the
actual cost and records the billable usage event (exactly once). Returns the
OpenAI-shaped video object.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VideosAPIGetVideosByIdRequest
*/
func (a *VideosAPIService) GetVideosById(ctx context.Context) VideosAPIGetVideosByIdRequest {
	return VideosAPIGetVideosByIdRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *VideosAPIService) GetVideosByIdExecute(r VideosAPIGetVideosByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideosAPIService.GetVideosById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/videos/{id}"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VideosAPIGetVideosByIdContentRequest struct {
	ctx        context.Context
	ApiService *VideosAPIService
}

func (r VideosAPIGetVideosByIdContentRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetVideosByIdContentExecute(r)
}

/*
GetVideosByIdContent Implements GET /v1/videos/{id}/content — download the finished MP4.

Implements GET /v1/videos/{id}/content — download the finished MP4.

It authenticates + ownership-checks the caller, then proxies the upstream
/content endpoint (bounded by the download concurrency ceiling) and streams the
raw video bytes back inline. A successful download also bills the job once (for
the client that downloads without first polling to completion) — idempotent
with the poll path via job.markCompleted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VideosAPIGetVideosByIdContentRequest
*/
func (a *VideosAPIService) GetVideosByIdContent(ctx context.Context) VideosAPIGetVideosByIdContentRequest {
	return VideosAPIGetVideosByIdContentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *VideosAPIService) GetVideosByIdContentExecute(r VideosAPIGetVideosByIdContentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideosAPIService.GetVideosByIdContent")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/videos/{id}/content"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VideosAPIPostVideosGenerationsRequest struct {
	ctx        context.Context
	ApiService *VideosAPIService
}

func (r VideosAPIPostVideosGenerationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostVideosGenerationsExecute(r)
}

/*
PostVideosGenerations Implements POST /v1/videos/generations — the ASYNC create.

Implements POST /v1/videos/generations — the ASYNC create.

Body: {"model": "...", "prompt": "...", "size"?: "1280x720", "seconds"?: int}

It authenticates the caller, resolves the model to its upstream provider via
the shared routing table (zen3-video* / wan2-2-t2v-a14b → the spark-video
backend), reserves the per-video budget (the balance gate), creates ONE
upstream job, registers it in the in-pod store, and returns the OpenAI-shaped
video object with status "queued" IMMEDIATELY. The client then polls
GET /v1/videos/{id} and downloads GET /v1/videos/{id}/content. Nothing is
billed here — the debit lands on completion.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VideosAPIPostVideosGenerationsRequest
*/
func (a *VideosAPIService) PostVideosGenerations(ctx context.Context) VideosAPIPostVideosGenerationsRequest {
	return VideosAPIPostVideosGenerationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *VideosAPIService) PostVideosGenerationsExecute(r VideosAPIPostVideosGenerationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VideosAPIService.PostVideosGenerations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/videos/generations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
