/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DatastoreAPIService DatastoreAPI service
type DatastoreAPIService service

type DatastoreAPICloudDeleteV1DatastoreNameRequest struct {
	ctx        context.Context
	ApiService *DatastoreAPIService
	name       string
}

func (r DatastoreAPICloudDeleteV1DatastoreNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1DatastoreNameExecute(r)
}

/*
CloudDeleteV1DatastoreName DropDatastore deprovisions one Hanzo Datastore warehouse.

DropDatastore deprovisions one Hanzo Datastore warehouse. It reverts any app
instance bound to it back to Base BEFORE tearing down the org's dedicated
instance, then deletes the sealed credential and removes the metadata row.
Answers 204 with no body; a second call is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the resource's org-unique slug, from the path. Lower-cased and trimmed before lookup, exactly as it was at create.
	@return DatastoreAPICloudDeleteV1DatastoreNameRequest
*/
func (a *DatastoreAPIService) CloudDeleteV1DatastoreName(ctx context.Context, name string) DatastoreAPICloudDeleteV1DatastoreNameRequest {
	return DatastoreAPICloudDeleteV1DatastoreNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
func (a *DatastoreAPIService) CloudDeleteV1DatastoreNameExecute(r DatastoreAPICloudDeleteV1DatastoreNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatastoreAPIService.CloudDeleteV1DatastoreName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/datastore/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DatastoreAPICloudGetV1DatastoreRequest struct {
	ctx        context.Context
	ApiService *DatastoreAPIService
}

func (r DatastoreAPICloudGetV1DatastoreRequest) Execute() ([]CloudProvisionedSummary, *http.Response, error) {
	return r.ApiService.CloudGetV1DatastoreExecute(r)
}

/*
CloudGetV1Datastore ListDatastore lists the caller org's Hanzo Datastore warehouses.

ListDatastore lists the caller org's Hanzo Datastore warehouses. Each one is
a DEDICATED analytical instance the org alone runs, so the host is that
instance's own in-cluster Service and the port is its HTTP port, 8123.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DatastoreAPICloudGetV1DatastoreRequest
*/
func (a *DatastoreAPIService) CloudGetV1Datastore(ctx context.Context) DatastoreAPICloudGetV1DatastoreRequest {
	return DatastoreAPICloudGetV1DatastoreRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudProvisionedSummary
func (a *DatastoreAPIService) CloudGetV1DatastoreExecute(r DatastoreAPICloudGetV1DatastoreRequest) ([]CloudProvisionedSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudProvisionedSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatastoreAPIService.CloudGetV1Datastore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/datastore"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DatastoreAPICloudGetV1DatastoreNameRequest struct {
	ctx        context.Context
	ApiService *DatastoreAPIService
	name       string
}

func (r DatastoreAPICloudGetV1DatastoreNameRequest) Execute() (*CloudProvisionedResource, *http.Response, error) {
	return r.ApiService.CloudGetV1DatastoreNameExecute(r)
}

/*
CloudGetV1DatastoreName GetDatastore returns one Hanzo Datastore warehouse's metadata.

GetDatastore returns one Hanzo Datastore warehouse's metadata. It carries the
warehouse's status, its instance address and the admin user the instance
booted with — never the password. A still-booting instance reads
"provisioning", reconciled from the operator's live view rather than the row.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the resource's org-unique slug, from the path. Lower-cased and trimmed before lookup, exactly as it was at create.
	@return DatastoreAPICloudGetV1DatastoreNameRequest
*/
func (a *DatastoreAPIService) CloudGetV1DatastoreName(ctx context.Context, name string) DatastoreAPICloudGetV1DatastoreNameRequest {
	return DatastoreAPICloudGetV1DatastoreNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudProvisionedResource
func (a *DatastoreAPIService) CloudGetV1DatastoreNameExecute(r DatastoreAPICloudGetV1DatastoreNameRequest) (*CloudProvisionedResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudProvisionedResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatastoreAPIService.CloudGetV1DatastoreName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/datastore/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DatastoreAPICloudPostV1DatastoreRequest struct {
	ctx                   context.Context
	ApiService            *DatastoreAPIService
	cloudProvisionRequest *CloudProvisionRequest
}

func (r DatastoreAPICloudPostV1DatastoreRequest) CloudProvisionRequest(cloudProvisionRequest CloudProvisionRequest) DatastoreAPICloudPostV1DatastoreRequest {
	r.cloudProvisionRequest = &cloudProvisionRequest
	return r
}

func (r DatastoreAPICloudPostV1DatastoreRequest) Execute() (*CloudProvisionResult, *http.Response, error) {
	return r.ApiService.CloudPostV1DatastoreExecute(r)
}

/*
CloudPostV1Datastore Method for CloudPostV1Datastore

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DatastoreAPICloudPostV1DatastoreRequest
*/
func (a *DatastoreAPIService) CloudPostV1Datastore(ctx context.Context) DatastoreAPICloudPostV1DatastoreRequest {
	return DatastoreAPICloudPostV1DatastoreRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudProvisionResult
func (a *DatastoreAPIService) CloudPostV1DatastoreExecute(r DatastoreAPICloudPostV1DatastoreRequest) (*CloudProvisionResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudProvisionResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatastoreAPIService.CloudPostV1Datastore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/datastore"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudProvisionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
