/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// ConsoleDatasetItemsAPIService ConsoleDatasetItemsAPI service
type ConsoleDatasetItemsAPIService service

type ConsoleDatasetItemsAPIConsoleCreateDatasetItemRequest struct {
	ctx                             context.Context
	ApiService                      *ConsoleDatasetItemsAPIService
	consoleCreateDatasetItemRequest *ConsoleCreateDatasetItemRequest
}

func (r ConsoleDatasetItemsAPIConsoleCreateDatasetItemRequest) ConsoleCreateDatasetItemRequest(consoleCreateDatasetItemRequest ConsoleCreateDatasetItemRequest) ConsoleDatasetItemsAPIConsoleCreateDatasetItemRequest {
	r.consoleCreateDatasetItemRequest = &consoleCreateDatasetItemRequest
	return r
}

func (r ConsoleDatasetItemsAPIConsoleCreateDatasetItemRequest) Execute() (*ConsoleDatasetItem, *http.Response, error) {
	return r.ApiService.ConsoleCreateDatasetItemExecute(r)
}

/*
ConsoleCreateDatasetItem Create or upsert a dataset item

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleDatasetItemsAPIConsoleCreateDatasetItemRequest
*/
func (a *ConsoleDatasetItemsAPIService) ConsoleCreateDatasetItem(ctx context.Context) ConsoleDatasetItemsAPIConsoleCreateDatasetItemRequest {
	return ConsoleDatasetItemsAPIConsoleCreateDatasetItemRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleDatasetItem
func (a *ConsoleDatasetItemsAPIService) ConsoleCreateDatasetItemExecute(r ConsoleDatasetItemsAPIConsoleCreateDatasetItemRequest) (*ConsoleDatasetItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleDatasetItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleDatasetItemsAPIService.ConsoleCreateDatasetItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consoleCreateDatasetItemRequest == nil {
		return localVarReturnValue, nil, reportError("consoleCreateDatasetItemRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consoleCreateDatasetItemRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleDatasetItemsAPIConsoleDeleteDatasetItemRequest struct {
	ctx        context.Context
	ApiService *ConsoleDatasetItemsAPIService
	id         string
}

func (r ConsoleDatasetItemsAPIConsoleDeleteDatasetItemRequest) Execute() (*ConsoleDeleteDatasetItem200Response, *http.Response, error) {
	return r.ApiService.ConsoleDeleteDatasetItemExecute(r)
}

/*
ConsoleDeleteDatasetItem Delete a dataset item

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ConsoleDatasetItemsAPIConsoleDeleteDatasetItemRequest
*/
func (a *ConsoleDatasetItemsAPIService) ConsoleDeleteDatasetItem(ctx context.Context, id string) ConsoleDatasetItemsAPIConsoleDeleteDatasetItemRequest {
	return ConsoleDatasetItemsAPIConsoleDeleteDatasetItemRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ConsoleDeleteDatasetItem200Response
func (a *ConsoleDatasetItemsAPIService) ConsoleDeleteDatasetItemExecute(r ConsoleDatasetItemsAPIConsoleDeleteDatasetItemRequest) (*ConsoleDeleteDatasetItem200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleDeleteDatasetItem200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleDatasetItemsAPIService.ConsoleDeleteDatasetItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleDatasetItemsAPIConsoleGetDatasetItemRequest struct {
	ctx        context.Context
	ApiService *ConsoleDatasetItemsAPIService
	id         string
}

func (r ConsoleDatasetItemsAPIConsoleGetDatasetItemRequest) Execute() (*ConsoleDatasetItem, *http.Response, error) {
	return r.ApiService.ConsoleGetDatasetItemExecute(r)
}

/*
ConsoleGetDatasetItem Get a dataset item

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ConsoleDatasetItemsAPIConsoleGetDatasetItemRequest
*/
func (a *ConsoleDatasetItemsAPIService) ConsoleGetDatasetItem(ctx context.Context, id string) ConsoleDatasetItemsAPIConsoleGetDatasetItemRequest {
	return ConsoleDatasetItemsAPIConsoleGetDatasetItemRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ConsoleDatasetItem
func (a *ConsoleDatasetItemsAPIService) ConsoleGetDatasetItemExecute(r ConsoleDatasetItemsAPIConsoleGetDatasetItemRequest) (*ConsoleDatasetItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleDatasetItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleDatasetItemsAPIService.ConsoleGetDatasetItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest struct {
	ctx                 context.Context
	ApiService          *ConsoleDatasetItemsAPIService
	datasetName         *string
	sourceTraceId       *string
	sourceObservationId *string
	version             *time.Time
	page                *int32
	limit               *int32
}

func (r ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest) DatasetName(datasetName string) ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest {
	r.datasetName = &datasetName
	return r
}

func (r ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest) SourceTraceId(sourceTraceId string) ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest {
	r.sourceTraceId = &sourceTraceId
	return r
}

func (r ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest) SourceObservationId(sourceObservationId string) ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest {
	r.sourceObservationId = &sourceObservationId
	return r
}

// ISO 8601 timestamp. Returns state of dataset at this time.
func (r ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest) Version(version time.Time) ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest {
	r.version = &version
	return r
}

func (r ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest) Page(page int32) ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest {
	r.page = &page
	return r
}

func (r ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest) Limit(limit int32) ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest {
	r.limit = &limit
	return r
}

func (r ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest) Execute() (*ConsoleListDatasetItems200Response, *http.Response, error) {
	return r.ApiService.ConsoleListDatasetItemsExecute(r)
}

/*
ConsoleListDatasetItems Get dataset items

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest
*/
func (a *ConsoleDatasetItemsAPIService) ConsoleListDatasetItems(ctx context.Context) ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest {
	return ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleListDatasetItems200Response
func (a *ConsoleDatasetItemsAPIService) ConsoleListDatasetItemsExecute(r ConsoleDatasetItemsAPIConsoleListDatasetItemsRequest) (*ConsoleListDatasetItems200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleListDatasetItems200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleDatasetItemsAPIService.ConsoleListDatasetItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/dataset-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.datasetName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datasetName", r.datasetName, "form", "")
	}
	if r.sourceTraceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sourceTraceId", r.sourceTraceId, "form", "")
	}
	if r.sourceObservationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sourceObservationId", r.sourceObservationId, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
