/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// ProjectsAPIService ProjectsAPI service
type ProjectsAPIService service

type ProjectsAPIDeleteProjectsBySlugRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
}

func (r ProjectsAPIDeleteProjectsBySlugRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteProjectsBySlugExecute(r)
}

/*
DeleteProjectsBySlug Deletes a project and takes its site off the internet.

Deletes a project and takes its site off the internet.

The metadata delete is authoritative and everything after it is best-effort,
in this order: the public `<slug>` subdomain binding is released so the slug is
free to reclaim, the release rows are dropped so a reclaimed slug never
inherits the previous owner's rollback menu, the git source is retired on
every copy it has so a reclaimed slug never adopts a repository left behind
(visibility.go), the S3 origin is purged under BOTH `<org>/<slug>/` and the
site's sibling release space, and the edge cache-tag is flushed. A failure in
any of those is logged and the delete still answers 204 — resurrecting a
project because a purge missed would be worse than a leaked prefix.

Scope: a validated principal is required (403 without one) and the project is
resolved within that principal's org, so another tenant's slug is a 404 and
nothing of theirs is touched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return ProjectsAPIDeleteProjectsBySlugRequest
*/
func (a *ProjectsAPIService) DeleteProjectsBySlug(ctx context.Context, slug string) ProjectsAPIDeleteProjectsBySlugRequest {
	return ProjectsAPIDeleteProjectsBySlugRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) DeleteProjectsBySlugExecute(r ProjectsAPIDeleteProjectsBySlugRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.DeleteProjectsBySlug")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ProjectsAPIDeleteProjectsBySlugDomainsByHostRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
	host       string
}

func (r ProjectsAPIDeleteProjectsBySlugDomainsByHostRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteProjectsBySlugDomainsByHostExecute(r)
}

/*
DeleteProjectsBySlugDomainsByHost Gives a custom hostname back, so the name is free to reuse.

Gives a custom hostname back, so the name is free to reuse.

A claim is FIRST-COME and global, so an add-only surface was not ownership but
a leak: a customer who mistyped a domain, or claimed one they later moved
elsewhere, could neither reuse it nor let anyone else. This is the third
writer that closes it. The release is scoped to (host, org, slug), so it can
only ever drop THIS tenant's own claim, and it is IDEMPOTENT: releasing a host
we do not hold is a clean 204, never a 404 that would let a caller probe which
hosts other tenants hold. The edge cache-tag is flushed, since the host stops
routing here.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project the host is attached to, from the path.
	@param host Host is the custom hostname, from the path. It is cleaned to its canonical form (lowercased, trailing dot dropped) before anything is looked up.
	@return ProjectsAPIDeleteProjectsBySlugDomainsByHostRequest
*/
func (a *ProjectsAPIService) DeleteProjectsBySlugDomainsByHost(ctx context.Context, slug string, host string) ProjectsAPIDeleteProjectsBySlugDomainsByHostRequest {
	return ProjectsAPIDeleteProjectsBySlugDomainsByHostRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		host:       host,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) DeleteProjectsBySlugDomainsByHostExecute(r ProjectsAPIDeleteProjectsBySlugDomainsByHostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.DeleteProjectsBySlugDomainsByHost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/domains/{host}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"host"+"}", url.PathEscape(parameterValueToString(r.host, "host")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ProjectsAPIGetProjectsRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
}

func (r ProjectsAPIGetProjectsRequest) Execute() ([]ProjectsProject, *http.Response, error) {
	return r.ApiService.GetProjectsExecute(r)
}

/*
GetProjects Returns every project your org owns.

Returns every project your org owns.

Each row carries the slug, name, framework, visibility, status and live URL —
the same rows console and the builder render, because there is only one store
behind both. It requires a validated principal (403 without one) and is keyed
by that principal's org, so it never contains another tenant's project.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ProjectsAPIGetProjectsRequest
*/
func (a *ProjectsAPIService) GetProjects(ctx context.Context) ProjectsAPIGetProjectsRequest {
	return ProjectsAPIGetProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ProjectsProject
func (a *ProjectsAPIService) GetProjectsExecute(r ProjectsAPIGetProjectsRequest) ([]ProjectsProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectsProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIGetProjectsBySlugRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
}

func (r ProjectsAPIGetProjectsBySlugRequest) Execute() (*ProjectsProject, *http.Response, error) {
	return r.ApiService.GetProjectsBySlugExecute(r)
}

/*
GetProjectsBySlug Returns one project of yours by slug — its settings, its live URL and the deployment currently serving it.

Returns one project of yours by slug — its settings, its live URL
and the deployment currently serving it.

Scope: a validated principal is required (403 without one) and the lookup is
keyed by (org, slug), so another tenant's slug is a 404 exactly like a
nonexistent one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return ProjectsAPIGetProjectsBySlugRequest
*/
func (a *ProjectsAPIService) GetProjectsBySlug(ctx context.Context, slug string) ProjectsAPIGetProjectsBySlugRequest {
	return ProjectsAPIGetProjectsBySlugRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsProject
func (a *ProjectsAPIService) GetProjectsBySlugExecute(r ProjectsAPIGetProjectsBySlugRequest) (*ProjectsProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsBySlug")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIGetProjectsBySlugDeploymentsRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
}

func (r ProjectsAPIGetProjectsBySlugDeploymentsRequest) Execute() ([]ProjectsDeployment, *http.Response, error) {
	return r.ApiService.GetProjectsBySlugDeploymentsExecute(r)
}

/*
GetProjectsBySlugDeployments Returns a project's deploy history, newest version first.

Returns a project's deploy history, newest version first.

Every deploy of the project is a row — uploads, generated sites, and git/CI
builds alike — carrying its version, status, source, commit, live URL, file
count and byte count. The short-lived upload grant a queued git deployment was
handed is NOT replayed here: it exists only on the 202 that minted it, so a
grant cannot outlive its build by being fetched again.

Scope: a validated principal is required (403 without one) and the project is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return ProjectsAPIGetProjectsBySlugDeploymentsRequest
*/
func (a *ProjectsAPIService) GetProjectsBySlugDeployments(ctx context.Context, slug string) ProjectsAPIGetProjectsBySlugDeploymentsRequest {
	return ProjectsAPIGetProjectsBySlugDeploymentsRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return []ProjectsDeployment
func (a *ProjectsAPIService) GetProjectsBySlugDeploymentsExecute(r ProjectsAPIGetProjectsBySlugDeploymentsRequest) ([]ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsBySlugDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIGetProjectsBySlugDeploymentsByIdRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
	id         string
}

func (r ProjectsAPIGetProjectsBySlugDeploymentsByIdRequest) Execute() (*ProjectsDeployment, *http.Response, error) {
	return r.ApiService.GetProjectsBySlugDeploymentsByIdExecute(r)
}

/*
GetProjectsBySlugDeploymentsById Returns one deployment of a project by id.

Returns one deployment of a project by id.

It is how a console follows a build: the status (`queued`, `uploading`,
`live`, `error`), the message a failure left, and the URL and prefix it went
live at. Like the history, it never replays the upload grant.

Scope: a validated principal is required (403 without one). Both the project
and the deployment are resolved within that principal's org, so a deployment
of another project — or of another tenant — is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project the deployment belongs to, from the path.
	@param id ID is the deployment id, from the path. A deployment of another project — or of another tenant's project — is not found.
	@return ProjectsAPIGetProjectsBySlugDeploymentsByIdRequest
*/
func (a *ProjectsAPIService) GetProjectsBySlugDeploymentsById(ctx context.Context, slug string, id string) ProjectsAPIGetProjectsBySlugDeploymentsByIdRequest {
	return ProjectsAPIGetProjectsBySlugDeploymentsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ProjectsDeployment
func (a *ProjectsAPIService) GetProjectsBySlugDeploymentsByIdExecute(r ProjectsAPIGetProjectsBySlugDeploymentsByIdRequest) (*ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsBySlugDeploymentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/deployments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIGetProjectsBySlugDomainsRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
}

func (r ProjectsAPIGetProjectsBySlugDomainsRequest) Execute() (*ProjectsDomains, *http.Response, error) {
	return r.ApiService.GetProjectsBySlugDomainsExecute(r)
}

/*
GetProjectsBySlugDomains Returns every custom hostname this site holds: the live ones, plus any pending claim with the DNS records it still owes.

Returns every custom hostname this site holds: the live ones, plus
any pending claim with the DNS records it still owes.

`domains` is the routing answer — the hosts that are verified right now —
while `claims` is the full panel, one row per host, each saying whether it is
live or pending and, if pending, exactly what to publish.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return ProjectsAPIGetProjectsBySlugDomainsRequest
*/
func (a *ProjectsAPIService) GetProjectsBySlugDomains(ctx context.Context, slug string) ProjectsAPIGetProjectsBySlugDomainsRequest {
	return ProjectsAPIGetProjectsBySlugDomainsRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsDomains
func (a *ProjectsAPIService) GetProjectsBySlugDomainsExecute(r ProjectsAPIGetProjectsBySlugDomainsRequest) (*ProjectsDomains, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDomains
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.GetProjectsBySlugDomains")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/domains"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPatchProjectsBySlugRequest struct {
	ctx            context.Context
	ApiService     *ProjectsAPIService
	slug           string
	projectsUpdate *ProjectsUpdate
}

func (r ProjectsAPIPatchProjectsBySlugRequest) ProjectsUpdate(projectsUpdate ProjectsUpdate) ProjectsAPIPatchProjectsBySlugRequest {
	r.projectsUpdate = &projectsUpdate
	return r
}

func (r ProjectsAPIPatchProjectsBySlugRequest) Execute() (*ProjectsProject, *http.Response, error) {
	return r.ApiService.PatchProjectsBySlugExecute(r)
}

/*
PatchProjectsBySlug Changes a project's settings, and only the settings you send.

Changes a project's settings, and only the settings you send.

Every field is optional and absent means "leave it": `name` may not be blanked,
`framework` must stay a known build hint, and `cacheControl` is capped at 256
characters with no newlines (it becomes a response header). `visibility` flips
public/private under the same rule as create — public is free, private needs a
funded org. `upstream` and `license` are free-text credit for third-party work,
and sending "" clears one. Changing anything reconciles the project's canonical
git repo, so a visibility change reaches the source and not just the listing.

`hidden`/`hiddenReason` are platform MODERATION and are ignored unless the
caller is a platform admin; they remove a project from the public catalogue
without touching the publisher's own visibility choice, so un-hiding restores
exactly what they asked for.

Scope: a validated principal is required (403 without one) and the project is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to update, from the path. The URL is the addressing authority — a `slug` in the body cannot move the write to another project.
	@return ProjectsAPIPatchProjectsBySlugRequest
*/
func (a *ProjectsAPIService) PatchProjectsBySlug(ctx context.Context, slug string) ProjectsAPIPatchProjectsBySlugRequest {
	return ProjectsAPIPatchProjectsBySlugRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsProject
func (a *ProjectsAPIService) PatchProjectsBySlugExecute(r ProjectsAPIPatchProjectsBySlugRequest) (*ProjectsProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PatchProjectsBySlug")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsUpdate == nil {
		return localVarReturnValue, nil, reportError("projectsUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPostProjectsRequest struct {
	ctx            context.Context
	ApiService     *ProjectsAPIService
	projectsCreate *ProjectsCreate
}

func (r ProjectsAPIPostProjectsRequest) ProjectsCreate(projectsCreate ProjectsCreate) ProjectsAPIPostProjectsRequest {
	r.projectsCreate = &projectsCreate
	return r
}

func (r ProjectsAPIPostProjectsRequest) Execute() (*ProjectsProject, *http.Response, error) {
	return r.ApiService.PostProjectsExecute(r)
}

/*
PostProjects Creates a project — the handle a site is deployed and served under — and answers 201 with it in `draft`.

Creates a project — the handle a site is deployed and served
under — and answers 201 with it in `draft`.

`name` is required; `slug` is derived from the name when omitted and is the
identifier that matters — it becomes the S3 key segment, the public host
`<slug>.hanzo.app`, and the handle every later call addresses, so it must
match `^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$` and may not be a reserved label
such as `api` or `admin`. `framework` is a build hint from a closed set,
defaulting to `static`; it never gates a deploy, it only tells CI how to build
a linked repo.

Two defaults are worth knowing: the analytics beacon is ON unless `analytics`
is explicitly false, and `visibility` is `public` unless asked otherwise.
Publishing publicly is free; PRIVATE is the paid feature, and an unfunded org
asking for it is refused rather than quietly published as public. Creation
also provisions the project's data space and a canonical git repo, both
best-effort — neither can fail the create.

Scope: a validated principal is required (403 without one) and the project is
created in THAT principal's org. The slug is unique per org, so a slug already
used in the caller's own org is a 409 while the same slug in another org is
irrelevant.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ProjectsAPIPostProjectsRequest
*/
func (a *ProjectsAPIService) PostProjects(ctx context.Context) ProjectsAPIPostProjectsRequest {
	return ProjectsAPIPostProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectsProject
func (a *ProjectsAPIService) PostProjectsExecute(r ProjectsAPIPostProjectsRequest) (*ProjectsProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PostProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsCreate == nil {
		return localVarReturnValue, nil, reportError("projectsCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPostProjectsBySlugDeployRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
	body       *os.File
}

func (r ProjectsAPIPostProjectsBySlugDeployRequest) Body(body *os.File) ProjectsAPIPostProjectsBySlugDeployRequest {
	r.body = body
	return r
}

func (r ProjectsAPIPostProjectsBySlugDeployRequest) Execute() (*ProjectsDeployment, *http.Response, error) {
	return r.ApiService.PostProjectsBySlugDeployExecute(r)
}

/*
PostProjectsBySlugDeploy Upload a built site as one archive and serve it

Takes a built site live at `https://<slug>.hanzo.app` in one call. The body is the site itself — a `zip` or `tar.gz` holding `index.html` at its root (or a single wrapper directory that does), sent raw or as a multipart file part. It is unpacked to the site's own storage prefix and served immediately, answering the finished deployment.

It is bounded by the edge body limit (16 MiB by default), and that bound is the whole reason the other path exists: an oversized POST is refused by the server BEFORE any handler runs and surfaces as an opaque `400 Error when parsing request` that reads like a malformed payload rather than a size cap. A site too large for one archive opens a deployment with `POST /v1/sites/{slug}/deployments` instead and writes its files straight to storage against the scoped grant that answers with — no body limit, and no bytes through this API at all.

Billing is fail-closed and fails FIRST: the hosting gate runs before anything is parsed or uploaded, so an unfunded org is 402 and an unreachable commerce is 503 with nothing written. The debit lands only on success — a failed upload is never billed and never flips the live site — and a redeploy answers the SAME URL, because slug and apex are stable.

Scope: a validated principal is required (403 without one) and the site is resolved within that principal's org, so another tenant's slug is a 404. Object storage must be configured (503); an archive that does not walk is a 400 and one over the size cap is a 413.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug
	@return ProjectsAPIPostProjectsBySlugDeployRequest
*/
func (a *ProjectsAPIService) PostProjectsBySlugDeploy(ctx context.Context, slug string) ProjectsAPIPostProjectsBySlugDeployRequest {
	return ProjectsAPIPostProjectsBySlugDeployRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsDeployment
func (a *ProjectsAPIService) PostProjectsBySlugDeployExecute(r ProjectsAPIPostProjectsBySlugDeployRequest) (*ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PostProjectsBySlugDeploy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/deploy"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPostProjectsBySlugDeploymentsRequest struct {
	ctx                 context.Context
	ApiService          *ProjectsAPIService
	slug                string
	projectsDeployStart *ProjectsDeployStart
}

func (r ProjectsAPIPostProjectsBySlugDeploymentsRequest) ProjectsDeployStart(projectsDeployStart ProjectsDeployStart) ProjectsAPIPostProjectsBySlugDeploymentsRequest {
	r.projectsDeployStart = &projectsDeployStart
	return r
}

func (r ProjectsAPIPostProjectsBySlugDeploymentsRequest) Execute() (*ProjectsDeployment, *http.Response, error) {
	return r.ApiService.PostProjectsBySlugDeploymentsExecute(r)
}

/*
PostProjectsBySlugDeployments Opens a deployment and hands back a short-lived, prefix-scoped grant to write its bytes straight to object storage.

Opens a deployment and hands back a short-lived, prefix-scoped
grant to write its bytes straight to object storage. Answers 202.

This is the path for a site too large to send as one archive: a real export is
hundreds of megabytes against a 16 MiB body limit, so the bytes deliberately do
NOT pass through the API. The answer carries `bucket`, `prefix` and `upload` —
a presigned POST policy that S3 itself confines to this site's prefix
(starts-with `<org>/<slug>/`), expires in 30 minutes and bounds each object.
So a build writes its own files and holds no standing bucket credential; there
is nothing to rotate and nothing that leaks between tenants. Never guess the
prefix — it is server-derived, and a guessed one lands where nothing is served.

The deployment is `queued` until POST .../deployments/{id}/complete flips it
live (or error). That completion is also where DELETION happens: the grant
authorizes writes only, so a build cannot remove a file, and cloud reconciles
the prefix against the `keys` manifest the completion carries. A build that
dies before completing leaves the deployment queued rather than a half-live
site.

The grant is on the 202 and NOWHERE else — it is never stored and never
replayed on a later read, so it cannot outlive the build it was minted for. A
deployment whose grant could not be minted is still created and still
completable; it simply carries no `upload`, and a caller with no other way to
write should treat that as the failure it is.

Billing: the hosting gate runs BEFORE anything is created (402 unfunded, 503
commerce unreachable), and the debit lands on the completion that goes live —
never on a queued or failed build.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the site to deploy, from the path.
	@return ProjectsAPIPostProjectsBySlugDeploymentsRequest
*/
func (a *ProjectsAPIService) PostProjectsBySlugDeployments(ctx context.Context, slug string) ProjectsAPIPostProjectsBySlugDeploymentsRequest {
	return ProjectsAPIPostProjectsBySlugDeploymentsRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsDeployment
func (a *ProjectsAPIService) PostProjectsBySlugDeploymentsExecute(r ProjectsAPIPostProjectsBySlugDeploymentsRequest) (*ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PostProjectsBySlugDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsDeployStart == nil {
		return localVarReturnValue, nil, reportError("projectsDeployStart is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsDeployStart
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPostProjectsBySlugDeploymentsByIdCompleteRequest struct {
	ctx              context.Context
	ApiService       *ProjectsAPIService
	slug             string
	id               string
	projectsComplete *ProjectsComplete
}

func (r ProjectsAPIPostProjectsBySlugDeploymentsByIdCompleteRequest) ProjectsComplete(projectsComplete ProjectsComplete) ProjectsAPIPostProjectsBySlugDeploymentsByIdCompleteRequest {
	r.projectsComplete = &projectsComplete
	return r
}

func (r ProjectsAPIPostProjectsBySlugDeploymentsByIdCompleteRequest) Execute() (*ProjectsDeployment, *http.Response, error) {
	return r.ApiService.PostProjectsBySlugDeploymentsByIdCompleteExecute(r)
}

/*
PostProjectsBySlugDeploymentsByIdComplete CompleteDeployment is the CI completion hook that flips a queued git deployment to live (or error) once CI has synced the built site to S3.

CompleteDeployment is the CI completion hook that flips a queued git
deployment to live (or error) once CI has synced the built site to S3.

`status` must be `live` or `error`. On a LIVE completion the public host is
claimed FIRST, so the deployment reports the URL it actually OWNS — a
CI-supplied `liveUrl` is a hint that can refine that URL but can never assert
a subdomain another tenant holds. `keys` is the manifest CI just uploaded,
relative to the deployment prefix: cloud reconciles the prefix against it so a
page deleted from the build actually stops serving. Omit `keys` and nothing is
deleted — the prefix only grows. Reconciliation runs only on a live completion
(pruning against a failed build's manifest would delete the site the last good
build is still serving) and is best-effort, so a stale leftover never turns a
successful deploy into a 500. A live completion is also the one billable
moment on the git path; an error completion bills nothing.

Scope: a validated principal is required (403 without one). CI authenticates
with an org-scoped token through the gateway, so the deployment is resolved
within that principal's org and another tenant's slug or deployment id is a
404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project the deployment belongs to, from the path.
	@param id ID is the queued deployment to complete, from the path.
	@return ProjectsAPIPostProjectsBySlugDeploymentsByIdCompleteRequest
*/
func (a *ProjectsAPIService) PostProjectsBySlugDeploymentsByIdComplete(ctx context.Context, slug string, id string) ProjectsAPIPostProjectsBySlugDeploymentsByIdCompleteRequest {
	return ProjectsAPIPostProjectsBySlugDeploymentsByIdCompleteRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ProjectsDeployment
func (a *ProjectsAPIService) PostProjectsBySlugDeploymentsByIdCompleteExecute(r ProjectsAPIPostProjectsBySlugDeploymentsByIdCompleteRequest) (*ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PostProjectsBySlugDeploymentsByIdComplete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/deployments/{id}/complete"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsComplete == nil {
		return localVarReturnValue, nil, reportError("projectsComplete is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsComplete
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPostProjectsBySlugDomainsRequest struct {
	ctx                 context.Context
	ApiService          *ProjectsAPIService
	slug                string
	projectsDomainsBind *ProjectsDomainsBind
}

func (r ProjectsAPIPostProjectsBySlugDomainsRequest) ProjectsDomainsBind(projectsDomainsBind ProjectsDomainsBind) ProjectsAPIPostProjectsBySlugDomainsRequest {
	r.projectsDomainsBind = &projectsDomainsBind
	return r
}

func (r ProjectsAPIPostProjectsBySlugDomainsRequest) Execute() (*ProjectsBoundDomains, *http.Response, error) {
	return r.ApiService.PostProjectsBySlugDomainsExecute(r)
}

/*
PostProjectsBySlugDomains Attaches one or more CUSTOM public hostnames to this org's site.

Attaches one or more CUSTOM public hostnames to this org's site.

Binding a host you do not own would let you shadow it at the edge, so which
outcome you get depends on whether ownership is already established: a SuperAdmin
vouches (the operator manages the customer's DNS, so its bind IS the proof) and
binds VERIFIED immediately; every other caller, INCLUDING an admin of the
deployment's own brand org, has the host CLAIMED as pending and gets the DNS
challenge back in `bound[].records`. A pending claim HOLDS the name so nobody
else can take it, but it does not route until POST .../domains/{host}/verify
proves control.

A hostname we operate is refused to a non-vouched caller (those are assigned
by the platform, never claimed), a host another site already holds is a 409,
and a name the platform holds is a 400 for EVERY caller — a vouch skips the
ownership proof, never the host table's own invariant. Claims and binds are
idempotent for the same
(org, slug), and re-claiming returns the SAME token rather than invalidating a
record the customer has already published. The edge cache-tag is flushed
afterwards so a newly-verified host serves the current build immediately.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the site the hosts attach to, from the path.
	@return ProjectsAPIPostProjectsBySlugDomainsRequest
*/
func (a *ProjectsAPIService) PostProjectsBySlugDomains(ctx context.Context, slug string) ProjectsAPIPostProjectsBySlugDomainsRequest {
	return ProjectsAPIPostProjectsBySlugDomainsRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsBoundDomains
func (a *ProjectsAPIService) PostProjectsBySlugDomainsExecute(r ProjectsAPIPostProjectsBySlugDomainsRequest) (*ProjectsBoundDomains, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsBoundDomains
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PostProjectsBySlugDomains")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/domains"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsDomainsBind == nil {
		return localVarReturnValue, nil, reportError("projectsDomainsBind is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsDomainsBind
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPostProjectsBySlugDomainsByHostVerifyRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
	host       string
}

func (r ProjectsAPIPostProjectsBySlugDomainsByHostVerifyRequest) Execute() (*ProjectsDomain, *http.Response, error) {
	return r.ApiService.PostProjectsBySlugDomainsByHostVerifyExecute(r)
}

/*
PostProjectsBySlugDomainsByHostVerify Checks the DNS challenge for a pending custom hostname and, when it passes, promotes the host so it begins routing at the edge.

Checks the DNS challenge for a pending custom hostname and, when
it passes, promotes the host so it begins routing at the edge.

It answers 200 either way, with the host's honest current state: verified once
the TXT record is found, still pending — with the records to publish and the
resolver's own explanation in `detail` — when it is not. A not-yet is not an
error: the check ran, DNS simply has not propagated, and the customer retries.
An already-verified host is returned unchanged without re-resolving. On a
successful promotion the edge cache-tag is flushed, since the host routes as
of that moment.

Scope: a validated principal is required (403 without one). Both the site and
the claim are resolved within that principal's org, so a host claimed by
another tenant is "not claimed by this site".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project the host is attached to, from the path.
	@param host Host is the custom hostname, from the path. It is cleaned to its canonical form (lowercased, trailing dot dropped) before anything is looked up.
	@return ProjectsAPIPostProjectsBySlugDomainsByHostVerifyRequest
*/
func (a *ProjectsAPIService) PostProjectsBySlugDomainsByHostVerify(ctx context.Context, slug string, host string) ProjectsAPIPostProjectsBySlugDomainsByHostVerifyRequest {
	return ProjectsAPIPostProjectsBySlugDomainsByHostVerifyRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		host:       host,
	}
}

// Execute executes the request
//
//	@return ProjectsDomain
func (a *ProjectsAPIService) PostProjectsBySlugDomainsByHostVerifyExecute(r ProjectsAPIPostProjectsBySlugDomainsByHostVerifyRequest) (*ProjectsDomain, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDomain
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PostProjectsBySlugDomainsByHostVerify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/domains/{host}/verify"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"host"+"}", url.PathEscape(parameterValueToString(r.host, "host")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPostProjectsBySlugPurgeRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	slug       string
}

func (r ProjectsAPIPostProjectsBySlugPurgeRequest) Execute() (*ProjectsProject, *http.Response, error) {
	return r.ApiService.PostProjectsBySlugPurgeExecute(r)
}

/*
PostProjectsBySlugPurge Flushes the site's edge cache without redeploying anything.

Flushes the site's edge cache without redeploying anything.

It invalidates the edge cache-tag `site-<org>-<slug>` and stamps `lastPurgeAt`
(unix seconds), and it NEVER writes or deletes the S3 origin — the live build
keeps serving; only stale copies held at the edge drop, so the next request
re-fetches the current artifact from origin. Idempotent, and an edge that is
unconfigured or failing is not fatal: `lastPurgeAt` is still stamped and the
answer is still the updated project.

Scope: a validated principal is required (403 without one) and the project is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return ProjectsAPIPostProjectsBySlugPurgeRequest
*/
func (a *ProjectsAPIService) PostProjectsBySlugPurge(ctx context.Context, slug string) ProjectsAPIPostProjectsBySlugPurgeRequest {
	return ProjectsAPIPostProjectsBySlugPurgeRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsProject
func (a *ProjectsAPIService) PostProjectsBySlugPurgeExecute(r ProjectsAPIPostProjectsBySlugPurgeRequest) (*ProjectsProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PostProjectsBySlugPurge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{slug}/purge"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectsAPIPostProjectsForkRequest struct {
	ctx          context.Context
	ApiService   *ProjectsAPIService
	projectsFork *ProjectsFork
}

func (r ProjectsAPIPostProjectsForkRequest) ProjectsFork(projectsFork ProjectsFork) ProjectsAPIPostProjectsForkRequest {
	r.projectsFork = &projectsFork
	return r
}

func (r ProjectsAPIPostProjectsForkRequest) Execute() (*ProjectsProject, *http.Response, error) {
	return r.ApiService.PostProjectsForkExecute(r)
}

/*
PostProjectsFork Creates a project seeded from a PUBLISHED EXAMPLE — either a starter-kit template from the ONE embedded gallery catalog, or any live project on the platform (an example a seeded creator published, or another org's app serving at <slug>.hanzo.app).

Creates a project seeded from a PUBLISHED EXAMPLE — either a
starter-kit template from the ONE embedded gallery catalog, or any live
project on the platform (an example a seeded creator published, or another
org's app serving at <slug>.hanzo.app). Answers 201 with the new project.

`slug` names the PARENT to fork and is required. Templates resolve first, and
the caller org's own private templates ahead of the public gallery, so a
curated template slug keeps meaning the same thing even if someone later
publishes a live project under it; `variant` picks that template's
format/page/theme. If no template matches, the slug resolves to the UNIQUE
live project that owns it across all orgs — the same resolution the site edge
uses to serve <slug>.hanzo.app, so what you can browse is what you can fork.

`name` and `target` override the derived project name and slug; everything
else is inherited from the parent. A live parent contributes its REPO, so the
child builds from the same source — the parent's deployed bytes are never
copied, because releases are per-tenant by design and the fork publishes its
own. The parent it actually resolved is stamped on the child as `forkedFrom`,
so attribution is a fact recorded at fork time rather than a claim
reconstructed later.

It funnels through the SAME create path POST /v1/projects uses, so slug
validation, org scoping, ID minting and the 409 on a slug the caller's own org
already uses are identical.

Scope: a validated principal is required (403 without one) and the child is
created in THAT principal's org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ProjectsAPIPostProjectsForkRequest
*/
func (a *ProjectsAPIService) PostProjectsFork(ctx context.Context) ProjectsAPIPostProjectsForkRequest {
	return ProjectsAPIPostProjectsForkRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectsProject
func (a *ProjectsAPIService) PostProjectsForkExecute(r ProjectsAPIPostProjectsForkRequest) (*ProjectsProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.PostProjectsFork")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/fork"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsFork == nil {
		return localVarReturnValue, nil, reportError("projectsFork is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsFork
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
