/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// TrafficAPIService TrafficAPI service
type TrafficAPIService service

type TrafficAPIGetTrafficGlobeRequest struct {
	ctx        context.Context
	ApiService *TrafficAPIService
}

func (r TrafficAPIGetTrafficGlobeRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetTrafficGlobeExecute(r)
}

/*
GetTrafficGlobe Returns the PUBLIC live request-geo aggregate for the world.hanzo.ai \"Hanzo mode\" globe: WHERE requests to api.hanzo.ai are coming from, as country/region points with per-service-class counts, plus headline throughput rates.

Returns the PUBLIC live request-geo aggregate for the
world.hanzo.ai "Hanzo mode" globe: WHERE requests to api.hanzo.ai are coming from,
as country/region points with per-service-class counts, plus headline throughput
rates.

It is AUTH-exempt and BALANCE-exempt exactly like /v1/router/stats?scope=platform:
  - auth: the controller name "traffic/globe" is neither a get-/update- CRUD name
    nor a super-admin/present-credential endpoint, so the authz filter passes it
    through, and this handler requires no principal.
  - balance: isBalanceExempt("/v1/traffic/...") returns true.

It exposes ONLY aggregates — counts, rates, and country/region centroids — and
NEVER any IP, per-request row, org, or user dimension (see object/traffic.go).
Marketing telemetry; nothing sensitive.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TrafficAPIGetTrafficGlobeRequest
*/
func (a *TrafficAPIService) GetTrafficGlobe(ctx context.Context) TrafficAPIGetTrafficGlobeRequest {
	return TrafficAPIGetTrafficGlobeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *TrafficAPIService) GetTrafficGlobeExecute(r TrafficAPIGetTrafficGlobeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrafficAPIService.GetTrafficGlobe")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/traffic/globe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
