/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// KmsDashboardAPIService KmsDashboardAPI service
type KmsDashboardAPIService service

type KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest struct {
	ctx          context.Context
	ApiService   *KmsDashboardAPIService
	projectId    string
	environments *string
	secretPath   *string
}

func (r KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest) Environments(environments string) KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest {
	r.environments = &environments
	return r
}

func (r KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest) SecretPath(secretPath string) KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest {
	r.secretPath = &secretPath
	return r
}

func (r KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest) Execute() (*KmsDashboardSecrets, *http.Response, error) {
	return r.ApiService.KmsGetDashboardSecretsOverviewExecute(r)
}

/*
KmsGetDashboardSecretsOverview Get secrets overview for the dashboard

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId
	@return KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest
*/
func (a *KmsDashboardAPIService) KmsGetDashboardSecretsOverview(ctx context.Context, projectId string) KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest {
	return KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
	}
}

// Execute executes the request
//
//	@return KmsDashboardSecrets
func (a *KmsDashboardAPIService) KmsGetDashboardSecretsOverviewExecute(r KmsDashboardAPIKmsGetDashboardSecretsOverviewRequest) (*KmsDashboardSecrets, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsDashboardSecrets
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsDashboardAPIService.KmsGetDashboardSecretsOverview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/dashboard/{projectId}/secrets-overview"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.environments != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environments", r.environments, "form", "")
	}
	if r.secretPath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "secretPath", r.secretPath, "form", "")
	} else {
		var defaultValue string = "/"
		r.secretPath = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
