/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// PubSubAPIService PubSubAPI service
type PubSubAPIService service

type PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	stream     string
}

func (r PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1PubsubJetstreamStreamsStreamExecute(r)
}

/*
CloudDeleteV1PubsubJetstreamStreamsStream DeleteStream removes one stream of the caller's org — its retained messages and its consumers with it — and answers 204 with no body.

DeleteStream removes one stream of the caller's org — its retained messages
and its consumers with it — and answers 204 with no body. 404 when the org
has no stream of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream's name, from the path.
	@return PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamRequest
*/
func (a *PubSubAPIService) CloudDeleteV1PubsubJetstreamStreamsStream(ctx context.Context, stream string) PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamRequest {
	return PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
func (a *PubSubAPIService) CloudDeleteV1PubsubJetstreamStreamsStreamExecute(r PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudDeleteV1PubsubJetstreamStreamsStream")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	stream     string
	name       string
}

func (r PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameExecute(r)
}

/*
CloudDeleteV1PubsubJetstreamStreamsStreamConsumersName DeleteConsumer removes one consumer — its cursor, not the stream's messages — and answers 204 with no body.

DeleteConsumer removes one consumer — its cursor, not the stream's messages —
and answers 204 with no body. 404 when the stream or the consumer does not
exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream, from the path.
	@param name Name is the consumer, from the path.
	@return PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameRequest
*/
func (a *PubSubAPIService) CloudDeleteV1PubsubJetstreamStreamsStreamConsumersName(ctx context.Context, stream string, name string) PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameRequest {
	return PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
func (a *PubSubAPIService) CloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameExecute(r PubSubAPICloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudDeleteV1PubsubJetstreamStreamsStreamConsumersName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PubSubAPICloudDeleteV1PubsubKvBucketRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	bucket     string
}

func (r PubSubAPICloudDeleteV1PubsubKvBucketRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1PubsubKvBucketExecute(r)
}

/*
CloudDeleteV1PubsubKvBucket DeleteBucket removes one bucket of the caller's org — every key and every revision with it — and answers 204 with no body.

DeleteBucket removes one bucket of the caller's org — every key and every
revision with it — and answers 204 with no body. 404 when the org has no
bucket of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket's name, from the path.
	@return PubSubAPICloudDeleteV1PubsubKvBucketRequest
*/
func (a *PubSubAPIService) CloudDeleteV1PubsubKvBucket(ctx context.Context, bucket string) PubSubAPICloudDeleteV1PubsubKvBucketRequest {
	return PubSubAPICloudDeleteV1PubsubKvBucketRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
func (a *PubSubAPIService) CloudDeleteV1PubsubKvBucketExecute(r PubSubAPICloudDeleteV1PubsubKvBucketRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudDeleteV1PubsubKvBucket")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PubSubAPICloudDeleteV1PubsubKvBucketKeyRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	bucket     string
	key        string
}

func (r PubSubAPICloudDeleteV1PubsubKvBucketKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1PubsubKvBucketKeyExecute(r)
}

/*
CloudDeleteV1PubsubKvBucketKey Delete removes one key — a delete marker in the key's history, so watchers see it and Get answers 404 — and answers 204 with no body.

Delete removes one key — a delete marker in the key's history, so watchers
see it and Get answers 404 — and answers 204 with no body. 404 when the
bucket does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket, from the path.
	@param key Key is the key, from the path.
	@return PubSubAPICloudDeleteV1PubsubKvBucketKeyRequest
*/
func (a *PubSubAPIService) CloudDeleteV1PubsubKvBucketKey(ctx context.Context, bucket string, key string) PubSubAPICloudDeleteV1PubsubKvBucketKeyRequest {
	return PubSubAPICloudDeleteV1PubsubKvBucketKeyRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
		key:        key,
	}
}

// Execute executes the request
func (a *PubSubAPIService) CloudDeleteV1PubsubKvBucketKeyExecute(r PubSubAPICloudDeleteV1PubsubKvBucketKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudDeleteV1PubsubKvBucketKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PubSubAPICloudGetV1PubsubJetstreamStreamsRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
}

func (r PubSubAPICloudGetV1PubsubJetstreamStreamsRequest) Execute() (*CloudStreamPage, *http.Response, error) {
	return r.ApiService.CloudGetV1PubsubJetstreamStreamsExecute(r)
}

/*
CloudGetV1PubsubJetstreamStreams ListStreams returns the org's streams, sorted by name.

ListStreams returns the org's streams, sorted by name.

A stream is the durable log: it captures every message published to its
subjects and retains them by its own limits, independent of any consumer.
The listing is org-scoped server-side — one org can never see another's
streams, and the platform's own planes never appear.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubSubAPICloudGetV1PubsubJetstreamStreamsRequest
*/
func (a *PubSubAPIService) CloudGetV1PubsubJetstreamStreams(ctx context.Context) PubSubAPICloudGetV1PubsubJetstreamStreamsRequest {
	return PubSubAPICloudGetV1PubsubJetstreamStreamsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStreamPage
func (a *PubSubAPIService) CloudGetV1PubsubJetstreamStreamsExecute(r PubSubAPICloudGetV1PubsubJetstreamStreamsRequest) (*CloudStreamPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStreamPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudGetV1PubsubJetstreamStreams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudGetV1PubsubJetstreamStreamsStreamRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	stream     string
}

func (r PubSubAPICloudGetV1PubsubJetstreamStreamsStreamRequest) Execute() (*CloudStreamRecord, *http.Response, error) {
	return r.ApiService.CloudGetV1PubsubJetstreamStreamsStreamExecute(r)
}

/*
CloudGetV1PubsubJetstreamStreamsStream GetStream returns one stream of the caller's org — its configuration and its live state (messages, bytes, sequence range, consumer count).

GetStream returns one stream of the caller's org — its configuration and its
live state (messages, bytes, sequence range, consumer count). 404 when the
org has no stream of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream's name, from the path.
	@return PubSubAPICloudGetV1PubsubJetstreamStreamsStreamRequest
*/
func (a *PubSubAPIService) CloudGetV1PubsubJetstreamStreamsStream(ctx context.Context, stream string) PubSubAPICloudGetV1PubsubJetstreamStreamsStreamRequest {
	return PubSubAPICloudGetV1PubsubJetstreamStreamsStreamRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return CloudStreamRecord
func (a *PubSubAPIService) CloudGetV1PubsubJetstreamStreamsStreamExecute(r PubSubAPICloudGetV1PubsubJetstreamStreamsStreamRequest) (*CloudStreamRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStreamRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudGetV1PubsubJetstreamStreamsStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	stream     string
}

func (r PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersRequest) Execute() (*CloudConsumerPage, *http.Response, error) {
	return r.ApiService.CloudGetV1PubsubJetstreamStreamsStreamConsumersExecute(r)
}

/*
CloudGetV1PubsubJetstreamStreamsStreamConsumers ListConsumers returns one stream's consumers, sorted by name.

ListConsumers returns one stream's consumers, sorted by name. 404 when the
org has no stream of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream's name, from the path.
	@return PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersRequest
*/
func (a *PubSubAPIService) CloudGetV1PubsubJetstreamStreamsStreamConsumers(ctx context.Context, stream string) PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersRequest {
	return PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return CloudConsumerPage
func (a *PubSubAPIService) CloudGetV1PubsubJetstreamStreamsStreamConsumersExecute(r PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersRequest) (*CloudConsumerPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConsumerPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudGetV1PubsubJetstreamStreamsStreamConsumers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersNameRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	stream     string
	name       string
}

func (r PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersNameRequest) Execute() (*CloudConsumerRecord, *http.Response, error) {
	return r.ApiService.CloudGetV1PubsubJetstreamStreamsStreamConsumersNameExecute(r)
}

/*
CloudGetV1PubsubJetstreamStreamsStreamConsumersName GetConsumer returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts.

GetConsumer returns one consumer of one org stream — its configuration and
its cursor: delivered and acknowledged sequences, pending and redelivered
counts. 404 when the stream or the consumer does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream, from the path.
	@param name Name is the consumer, from the path.
	@return PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersNameRequest
*/
func (a *PubSubAPIService) CloudGetV1PubsubJetstreamStreamsStreamConsumersName(ctx context.Context, stream string, name string) PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersNameRequest {
	return PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersNameRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudConsumerRecord
func (a *PubSubAPIService) CloudGetV1PubsubJetstreamStreamsStreamConsumersNameExecute(r PubSubAPICloudGetV1PubsubJetstreamStreamsStreamConsumersNameRequest) (*CloudConsumerRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConsumerRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudGetV1PubsubJetstreamStreamsStreamConsumersName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudGetV1PubsubKvBucketKeyRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	bucket     string
	key        string
}

func (r PubSubAPICloudGetV1PubsubKvBucketKeyRequest) Execute() (*CloudKvEntry, *http.Response, error) {
	return r.ApiService.CloudGetV1PubsubKvBucketKeyExecute(r)
}

/*
CloudGetV1PubsubKvBucketKey Get returns one key's current value and revision.

Get returns one key's current value and revision. 404 when the bucket does
not exist, the key was never written, or its latest revision is a delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket, from the path.
	@param key Key is the key, from the path.
	@return PubSubAPICloudGetV1PubsubKvBucketKeyRequest
*/
func (a *PubSubAPIService) CloudGetV1PubsubKvBucketKey(ctx context.Context, bucket string, key string) PubSubAPICloudGetV1PubsubKvBucketKeyRequest {
	return PubSubAPICloudGetV1PubsubKvBucketKeyRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
		key:        key,
	}
}

// Execute executes the request
//
//	@return CloudKvEntry
func (a *PubSubAPIService) CloudGetV1PubsubKvBucketKeyExecute(r PubSubAPICloudGetV1PubsubKvBucketKeyRequest) (*CloudKvEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKvEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudGetV1PubsubKvBucketKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudGetV1PubsubKvBucketKeyHistoryRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	bucket     string
	key        string
}

func (r PubSubAPICloudGetV1PubsubKvBucketKeyHistoryRequest) Execute() (*CloudKvPage, *http.Response, error) {
	return r.ApiService.CloudGetV1PubsubKvBucketKeyHistoryExecute(r)
}

/*
CloudGetV1PubsubKvBucketKeyHistory History returns one key's retained revisions, oldest first — every put and every delete marker up to the bucket's History depth.

History returns one key's retained revisions, oldest first — every put and
every delete marker up to the bucket's History depth. 404 when the bucket
does not exist or the key was never written.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket, from the path.
	@param key Key is the key, from the path.
	@return PubSubAPICloudGetV1PubsubKvBucketKeyHistoryRequest
*/
func (a *PubSubAPIService) CloudGetV1PubsubKvBucketKeyHistory(ctx context.Context, bucket string, key string) PubSubAPICloudGetV1PubsubKvBucketKeyHistoryRequest {
	return PubSubAPICloudGetV1PubsubKvBucketKeyHistoryRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
		key:        key,
	}
}

// Execute executes the request
//
//	@return CloudKvPage
func (a *PubSubAPIService) CloudGetV1PubsubKvBucketKeyHistoryExecute(r PubSubAPICloudGetV1PubsubKvBucketKeyHistoryRequest) (*CloudKvPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKvPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudGetV1PubsubKvBucketKeyHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}/{key}/history"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudPostV1PubsubJetstreamStreamsRequest struct {
	ctx              context.Context
	ApiService       *PubSubAPIService
	cloudStreamWrite *CloudStreamWrite
}

func (r PubSubAPICloudPostV1PubsubJetstreamStreamsRequest) CloudStreamWrite(cloudStreamWrite CloudStreamWrite) PubSubAPICloudPostV1PubsubJetstreamStreamsRequest {
	r.cloudStreamWrite = &cloudStreamWrite
	return r
}

func (r PubSubAPICloudPostV1PubsubJetstreamStreamsRequest) Execute() (*CloudStreamRecord, *http.Response, error) {
	return r.ApiService.CloudPostV1PubsubJetstreamStreamsExecute(r)
}

/*
CloudPostV1PubsubJetstreamStreams CreateStream creates a durable stream capturing the given subjects and returns it.

CreateStream creates a durable stream capturing the given subjects and
returns it. 409 when the org already has a stream of that name; the subjects
are the org's own and cannot collide with another org's.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubSubAPICloudPostV1PubsubJetstreamStreamsRequest
*/
func (a *PubSubAPIService) CloudPostV1PubsubJetstreamStreams(ctx context.Context) PubSubAPICloudPostV1PubsubJetstreamStreamsRequest {
	return PubSubAPICloudPostV1PubsubJetstreamStreamsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStreamRecord
func (a *PubSubAPIService) CloudPostV1PubsubJetstreamStreamsExecute(r PubSubAPICloudPostV1PubsubJetstreamStreamsRequest) (*CloudStreamRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStreamRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudPostV1PubsubJetstreamStreams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudStreamWrite == nil {
		return localVarReturnValue, nil, reportError("cloudStreamWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudStreamWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersRequest struct {
	ctx                context.Context
	ApiService         *PubSubAPIService
	stream             string
	cloudConsumerWrite *CloudConsumerWrite
}

func (r PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersRequest) CloudConsumerWrite(cloudConsumerWrite CloudConsumerWrite) PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersRequest {
	r.cloudConsumerWrite = &cloudConsumerWrite
	return r
}

func (r PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersRequest) Execute() (*CloudConsumerRecord, *http.Response, error) {
	return r.ApiService.CloudPostV1PubsubJetstreamStreamsStreamConsumersExecute(r)
}

/*
CloudPostV1PubsubJetstreamStreamsStreamConsumers CreateConsumer creates a durable consumer on one stream and returns it.

CreateConsumer creates a durable consumer on one stream and returns it. A
consumer is a named cursor: it tracks what has been delivered and what is
acknowledged, so many workers can share it and none sees a message twice
outside redelivery. 409 when the stream already has a consumer of that name
with a different configuration.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream to consume, from the path.
	@return PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersRequest
*/
func (a *PubSubAPIService) CloudPostV1PubsubJetstreamStreamsStreamConsumers(ctx context.Context, stream string) PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersRequest {
	return PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return CloudConsumerRecord
func (a *PubSubAPIService) CloudPostV1PubsubJetstreamStreamsStreamConsumersExecute(r PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersRequest) (*CloudConsumerRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConsumerRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudPostV1PubsubJetstreamStreamsStreamConsumers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudConsumerWrite == nil {
		return localVarReturnValue, nil, reportError("cloudConsumerWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudConsumerWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequest struct {
	ctx             context.Context
	ApiService      *PubSubAPIService
	stream          string
	name            string
	cloudFetchQuery *CloudFetchQuery
}

func (r PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequest) CloudFetchQuery(cloudFetchQuery CloudFetchQuery) PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequest {
	r.cloudFetchQuery = &cloudFetchQuery
	return r
}

func (r PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequest) Execute() (*CloudMessagePage, *http.Response, error) {
	return r.ApiService.CloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextExecute(r)
}

/*
CloudPostV1PubsubJetstreamStreamsStreamConsumersNameNext Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream.

Fetch pulls the next batch from a consumer and acknowledges it — the
request/response way to consume a stream. The hand-off is at-most-once: a
message returned here is acked here, so a caller that loses the response does
not see it again. Workers needing at-least-once delivery consume the same
consumer over the NATS port, where acks are theirs to send. An empty batch
after the wait is an empty page, not an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream, from the path.
	@param name Name is the consumer, from the path.
	@return PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequest
*/
func (a *PubSubAPIService) CloudPostV1PubsubJetstreamStreamsStreamConsumersNameNext(ctx context.Context, stream string, name string) PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequest {
	return PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudMessagePage
func (a *PubSubAPIService) CloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextExecute(r PubSubAPICloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequest) (*CloudMessagePage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMessagePage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudPostV1PubsubJetstreamStreamsStreamConsumersNameNext")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}/next"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudFetchQuery == nil {
		return localVarReturnValue, nil, reportError("cloudFetchQuery is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudFetchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudPostV1PubsubKvBucketRequest struct {
	ctx              context.Context
	ApiService       *PubSubAPIService
	bucket           string
	cloudBucketWrite *CloudBucketWrite
}

func (r PubSubAPICloudPostV1PubsubKvBucketRequest) CloudBucketWrite(cloudBucketWrite CloudBucketWrite) PubSubAPICloudPostV1PubsubKvBucketRequest {
	r.cloudBucketWrite = &cloudBucketWrite
	return r
}

func (r PubSubAPICloudPostV1PubsubKvBucketRequest) Execute() (*CloudBucketRecord, *http.Response, error) {
	return r.ApiService.CloudPostV1PubsubKvBucketExecute(r)
}

/*
CloudPostV1PubsubKvBucket CreateBucket creates a KV bucket and returns it.

CreateBucket creates a KV bucket and returns it. A bucket is keyed state on
the same durable plane as the streams: each key holds up to History
revisions, entries can expire by TTL, and watchers on the NATS port see every
write. 409 when the org already has a bucket of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket's name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
	@return PubSubAPICloudPostV1PubsubKvBucketRequest
*/
func (a *PubSubAPIService) CloudPostV1PubsubKvBucket(ctx context.Context, bucket string) PubSubAPICloudPostV1PubsubKvBucketRequest {
	return PubSubAPICloudPostV1PubsubKvBucketRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
//
//	@return CloudBucketRecord
func (a *PubSubAPIService) CloudPostV1PubsubKvBucketExecute(r PubSubAPICloudPostV1PubsubKvBucketRequest) (*CloudBucketRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBucketRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudPostV1PubsubKvBucket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudBucketWrite == nil {
		return localVarReturnValue, nil, reportError("cloudBucketWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudBucketWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudPostV1PubsubPublishRequest struct {
	ctx             context.Context
	ApiService      *PubSubAPIService
	cloudBusPublish *CloudBusPublish
}

func (r PubSubAPICloudPostV1PubsubPublishRequest) CloudBusPublish(cloudBusPublish CloudBusPublish) PubSubAPICloudPostV1PubsubPublishRequest {
	r.cloudBusPublish = &cloudBusPublish
	return r
}

func (r PubSubAPICloudPostV1PubsubPublishRequest) Execute() (*CloudBusAck, *http.Response, error) {
	return r.ApiService.CloudPostV1PubsubPublishExecute(r)
}

/*
CloudPostV1PubsubPublish Publish puts one message on the org's bus.

Publish puts one message on the org's bus. When a stream captures the subject
the write is DURABLE — the receipt names the stream and sequence only after
JetStream has it on storage, and a repeated Nats-Msg-Id header within the
dedup window answers duplicate instead of storing twice. When nothing
captures it, the message goes out core NATS: delivered to current
subscribers, receipt {ok}, nothing retained.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubSubAPICloudPostV1PubsubPublishRequest
*/
func (a *PubSubAPIService) CloudPostV1PubsubPublish(ctx context.Context) PubSubAPICloudPostV1PubsubPublishRequest {
	return PubSubAPICloudPostV1PubsubPublishRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBusAck
func (a *PubSubAPIService) CloudPostV1PubsubPublishExecute(r PubSubAPICloudPostV1PubsubPublishRequest) (*CloudBusAck, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBusAck
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudPostV1PubsubPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/publish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudBusPublish == nil {
		return localVarReturnValue, nil, reportError("cloudBusPublish is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudBusPublish
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudPostV1PubsubRequestRequest struct {
	ctx             context.Context
	ApiService      *PubSubAPIService
	cloudBusRequest *CloudBusRequest
}

func (r PubSubAPICloudPostV1PubsubRequestRequest) CloudBusRequest(cloudBusRequest CloudBusRequest) PubSubAPICloudPostV1PubsubRequestRequest {
	r.cloudBusRequest = &cloudBusRequest
	return r
}

func (r PubSubAPICloudPostV1PubsubRequestRequest) Execute() (*CloudBusMessage, *http.Response, error) {
	return r.ApiService.CloudPostV1PubsubRequestExecute(r)
}

/*
CloudPostV1PubsubRequest Request sends one request on the org's bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port.

Request sends one request on the org's bus and waits for one reply — the
synchronous half of pub/sub, for callers speaking to a responder subscribed
on the NATS port. 404 when nobody is listening on the subject; 408 when a
responder exists but no reply arrived within the timeout.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubSubAPICloudPostV1PubsubRequestRequest
*/
func (a *PubSubAPIService) CloudPostV1PubsubRequest(ctx context.Context) PubSubAPICloudPostV1PubsubRequestRequest {
	return PubSubAPICloudPostV1PubsubRequestRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBusMessage
func (a *PubSubAPIService) CloudPostV1PubsubRequestExecute(r PubSubAPICloudPostV1PubsubRequestRequest) (*CloudBusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudPostV1PubsubRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/request"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudBusRequest == nil {
		return localVarReturnValue, nil, reportError("cloudBusRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudBusRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudPutV1PubsubJetstreamStreamsStreamRequest struct {
	ctx               context.Context
	ApiService        *PubSubAPIService
	stream            string
	cloudStreamUpdate *CloudStreamUpdate
}

func (r PubSubAPICloudPutV1PubsubJetstreamStreamsStreamRequest) CloudStreamUpdate(cloudStreamUpdate CloudStreamUpdate) PubSubAPICloudPutV1PubsubJetstreamStreamsStreamRequest {
	r.cloudStreamUpdate = &cloudStreamUpdate
	return r
}

func (r PubSubAPICloudPutV1PubsubJetstreamStreamsStreamRequest) Execute() (*CloudStreamRecord, *http.Response, error) {
	return r.ApiService.CloudPutV1PubsubJetstreamStreamsStreamExecute(r)
}

/*
CloudPutV1PubsubJetstreamStreamsStream UpdateStream rewrites a stream's configuration — subjects, limits, discard — and returns the updated stream.

UpdateStream rewrites a stream's configuration — subjects, limits, discard —
and returns the updated stream. It is a PUT: the spec sent replaces the spec
held, with one reading for the enums a caller omits — an empty storage,
retention or discard keeps the stream's current one, because JetStream holds
storage and retention immutable and refuses a change with a 400 rather than
this door pretending it took.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream to update, from the path.
	@return PubSubAPICloudPutV1PubsubJetstreamStreamsStreamRequest
*/
func (a *PubSubAPIService) CloudPutV1PubsubJetstreamStreamsStream(ctx context.Context, stream string) PubSubAPICloudPutV1PubsubJetstreamStreamsStreamRequest {
	return PubSubAPICloudPutV1PubsubJetstreamStreamsStreamRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return CloudStreamRecord
func (a *PubSubAPIService) CloudPutV1PubsubJetstreamStreamsStreamExecute(r PubSubAPICloudPutV1PubsubJetstreamStreamsStreamRequest) (*CloudStreamRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStreamRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudPutV1PubsubJetstreamStreamsStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudStreamUpdate == nil {
		return localVarReturnValue, nil, reportError("cloudStreamUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudStreamUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPICloudPutV1PubsubKvBucketKeyRequest struct {
	ctx          context.Context
	ApiService   *PubSubAPIService
	bucket       string
	key          string
	cloudKvWrite *CloudKvWrite
}

func (r PubSubAPICloudPutV1PubsubKvBucketKeyRequest) CloudKvWrite(cloudKvWrite CloudKvWrite) PubSubAPICloudPutV1PubsubKvBucketKeyRequest {
	r.cloudKvWrite = &cloudKvWrite
	return r
}

func (r PubSubAPICloudPutV1PubsubKvBucketKeyRequest) Execute() (*CloudKvAck, *http.Response, error) {
	return r.ApiService.CloudPutV1PubsubKvBucketKeyExecute(r)
}

/*
CloudPutV1PubsubKvBucketKey Put sets one key to one value and returns the revision the write created.

Put sets one key to one value and returns the revision the write created.
Writes are versioned: each put is a new revision and the bucket retains up to
its History of them per key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket, from the path.
	@param key Key is the key, from the path.
	@return PubSubAPICloudPutV1PubsubKvBucketKeyRequest
*/
func (a *PubSubAPIService) CloudPutV1PubsubKvBucketKey(ctx context.Context, bucket string, key string) PubSubAPICloudPutV1PubsubKvBucketKeyRequest {
	return PubSubAPICloudPutV1PubsubKvBucketKeyRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
		key:        key,
	}
}

// Execute executes the request
//
//	@return CloudKvAck
func (a *PubSubAPIService) CloudPutV1PubsubKvBucketKeyExecute(r PubSubAPICloudPutV1PubsubKvBucketKeyRequest) (*CloudKvAck, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKvAck
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.CloudPutV1PubsubKvBucketKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudKvWrite == nil {
		return localVarReturnValue, nil, reportError("cloudKvWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudKvWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPIKvListChannelsRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	pattern    *string
}

func (r PubSubAPIKvListChannelsRequest) Pattern(pattern string) PubSubAPIKvListChannelsRequest {
	r.pattern = &pattern
	return r
}

func (r PubSubAPIKvListChannelsRequest) Execute() (*KvListChannels200Response, *http.Response, error) {
	return r.ApiService.KvListChannelsExecute(r)
}

/*
KvListChannels List active channels

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubSubAPIKvListChannelsRequest
*/
func (a *PubSubAPIService) KvListChannels(ctx context.Context) PubSubAPIKvListChannelsRequest {
	return PubSubAPIKvListChannelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KvListChannels200Response
func (a *PubSubAPIService) KvListChannelsExecute(r PubSubAPIKvListChannelsRequest) (*KvListChannels200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KvListChannels200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.KvListChannels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kv/pubsub/channels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pattern", r.pattern, "form", "")
	} else {
		var defaultValue string = "*"
		r.pattern = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPIKvPublishRequest struct {
	ctx              context.Context
	ApiService       *PubSubAPIService
	kvPublishRequest *KvPublishRequest
}

func (r PubSubAPIKvPublishRequest) KvPublishRequest(kvPublishRequest KvPublishRequest) PubSubAPIKvPublishRequest {
	r.kvPublishRequest = &kvPublishRequest
	return r
}

func (r PubSubAPIKvPublishRequest) Execute() (*KvPublish200Response, *http.Response, error) {
	return r.ApiService.KvPublishExecute(r)
}

/*
KvPublish Publish message to channel

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubSubAPIKvPublishRequest
*/
func (a *PubSubAPIService) KvPublish(ctx context.Context) PubSubAPIKvPublishRequest {
	return PubSubAPIKvPublishRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KvPublish200Response
func (a *PubSubAPIService) KvPublishExecute(r PubSubAPIKvPublishRequest) (*KvPublish200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KvPublish200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.KvPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kv/pubsub/publish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kvPublishRequest == nil {
		return localVarReturnValue, nil, reportError("kvPublishRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kvPublishRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubSubAPIKvSubscribeRequest struct {
	ctx        context.Context
	ApiService *PubSubAPIService
	channels   *[]string
	pattern    *string
}

// Channels to subscribe to
func (r PubSubAPIKvSubscribeRequest) Channels(channels []string) PubSubAPIKvSubscribeRequest {
	r.channels = &channels
	return r
}

// Pattern to subscribe to (e.g. user:*)
func (r PubSubAPIKvSubscribeRequest) Pattern(pattern string) PubSubAPIKvSubscribeRequest {
	r.pattern = &pattern
	return r
}

func (r PubSubAPIKvSubscribeRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.KvSubscribeExecute(r)
}

/*
KvSubscribe Subscribe to channels (SSE)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubSubAPIKvSubscribeRequest
*/
func (a *PubSubAPIService) KvSubscribe(ctx context.Context) PubSubAPIKvSubscribeRequest {
	return PubSubAPIKvSubscribeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *PubSubAPIService) KvSubscribeExecute(r PubSubAPIKvSubscribeRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubSubAPIService.KvSubscribe")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kv/pubsub/subscribe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.channels == nil {
		return localVarReturnValue, nil, reportError("channels is required and must be specified")
	}

	{
		t := *r.channels
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "channels", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "channels", t, "form", "multi")
		}
	}
	if r.pattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pattern", r.pattern, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
