/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// HelpAPIService HelpAPI service
type HelpAPIService service

type HelpAPICloudGetV1HelpArticlesRequest struct {
	ctx        context.Context
	ApiService *HelpAPIService
	category   *string
	limit      *int32
}

// Category narrows the list to one knowledge-base section, matched against the article&#39;s category by exact name. Empty lists every section.
func (r HelpAPICloudGetV1HelpArticlesRequest) Category(category string) HelpAPICloudGetV1HelpArticlesRequest {
	r.category = &category
	return r
}

// Limit caps how many articles are returned. Anything that is not a positive integer uses 50, and values above 200 are clamped to 200.
func (r HelpAPICloudGetV1HelpArticlesRequest) Limit(limit int32) HelpAPICloudGetV1HelpArticlesRequest {
	r.limit = &limit
	return r
}

func (r HelpAPICloudGetV1HelpArticlesRequest) Execute() (*CloudHelpArticleList, *http.Response, error) {
	return r.ApiService.CloudGetV1HelpArticlesExecute(r)
}

/*
CloudGetV1HelpArticles Returns the public knowledge base: the help center's Published, publicly-visible articles as cards.

Returns the public knowledge base: the help center's Published,
publicly-visible articles as cards. The org is server-fixed and the
status/is_public filter is server-set, so neither the tenant nor the visibility
can be widened by the caller. A deployment with no help center answers 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return HelpAPICloudGetV1HelpArticlesRequest
*/
func (a *HelpAPIService) CloudGetV1HelpArticles(ctx context.Context) HelpAPICloudGetV1HelpArticlesRequest {
	return HelpAPICloudGetV1HelpArticlesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudHelpArticleList
func (a *HelpAPIService) CloudGetV1HelpArticlesExecute(r HelpAPICloudGetV1HelpArticlesRequest) (*CloudHelpArticleList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudHelpArticleList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelpAPIService.CloudGetV1HelpArticles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/help/articles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HelpAPICloudGetV1HelpArticlesSlugRequest struct {
	ctx        context.Context
	ApiService *HelpAPIService
	slug       string
}

func (r HelpAPICloudGetV1HelpArticlesSlugRequest) Execute() (*CloudHelpArticle, *http.Response, error) {
	return r.ApiService.CloudGetV1HelpArticlesSlugExecute(r)
}

/*
CloudGetV1HelpArticlesSlug Returns one public article by slug, with its body.

Returns one public article by slug, with its body. A missing, Draft,
or internal (non-public) article is 404 — fail-closed, so this route is no
existence oracle for anything beyond "published and public".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the article's public identifier, from the path. It IS the document name in the help center's store.
	@return HelpAPICloudGetV1HelpArticlesSlugRequest
*/
func (a *HelpAPIService) CloudGetV1HelpArticlesSlug(ctx context.Context, slug string) HelpAPICloudGetV1HelpArticlesSlugRequest {
	return HelpAPICloudGetV1HelpArticlesSlugRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return CloudHelpArticle
func (a *HelpAPIService) CloudGetV1HelpArticlesSlugExecute(r HelpAPICloudGetV1HelpArticlesSlugRequest) (*CloudHelpArticle, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudHelpArticle
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelpAPIService.CloudGetV1HelpArticlesSlug")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/help/articles/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HelpAPICloudGetV1HelpCategoriesRequest struct {
	ctx        context.Context
	ApiService *HelpAPIService
}

func (r HelpAPICloudGetV1HelpCategoriesRequest) Execute() (*CloudHelpCategoryList, *http.Response, error) {
	return r.ApiService.CloudGetV1HelpCategoriesExecute(r)
}

/*
CloudGetV1HelpCategories Returns the knowledge-base sections for the public center's navigation — but ONLY the sections that front at least one Published, public article, so an internal (agent-only) category name or description never leaks.

Returns the knowledge-base sections for the public center's
navigation — but ONLY the sections that front at least one Published, public
article, so an internal (agent-only) category name or description never leaks. A
section with no public article is invisible; a center with no public articles has
no sections, which is an empty list rather than an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return HelpAPICloudGetV1HelpCategoriesRequest
*/
func (a *HelpAPIService) CloudGetV1HelpCategories(ctx context.Context) HelpAPICloudGetV1HelpCategoriesRequest {
	return HelpAPICloudGetV1HelpCategoriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudHelpCategoryList
func (a *HelpAPIService) CloudGetV1HelpCategoriesExecute(r HelpAPICloudGetV1HelpCategoriesRequest) (*CloudHelpCategoryList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudHelpCategoryList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelpAPIService.CloudGetV1HelpCategories")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/help/categories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HelpAPICloudPostV1HelpTicketsRequest struct {
	ctx                   context.Context
	ApiService            *HelpAPIService
	cloudHelpTicketIntake *CloudHelpTicketIntake
}

func (r HelpAPICloudPostV1HelpTicketsRequest) CloudHelpTicketIntake(cloudHelpTicketIntake CloudHelpTicketIntake) HelpAPICloudPostV1HelpTicketsRequest {
	r.cloudHelpTicketIntake = &cloudHelpTicketIntake
	return r
}

func (r HelpAPICloudPostV1HelpTicketsRequest) Execute() (*CloudHelpTicketFiled, *http.Response, error) {
	return r.ApiService.CloudPostV1HelpTicketsExecute(r)
}

/*
CloudPostV1HelpTickets Files a customer support ticket into the public help center.

Files a customer support ticket into the public help center. It
creates the ticket (status Open, source portal) with the customer's message on
the description, then records that same message as the opening entry of the
ticket's conversation thread; the description carries it regardless, so failing
to write that entry loses nothing. Answers 201 with an opaque reference.

A deployment with no help center answers 404, one whose center has not installed
the Help model answers 503, and a body over 64 KiB answers 413 — in that order,
which is the order the route has always decided them in.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return HelpAPICloudPostV1HelpTicketsRequest
*/
func (a *HelpAPIService) CloudPostV1HelpTickets(ctx context.Context) HelpAPICloudPostV1HelpTicketsRequest {
	return HelpAPICloudPostV1HelpTicketsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudHelpTicketFiled
func (a *HelpAPIService) CloudPostV1HelpTicketsExecute(r HelpAPICloudPostV1HelpTicketsRequest) (*CloudHelpTicketFiled, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudHelpTicketFiled
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelpAPIService.CloudPostV1HelpTickets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/help/tickets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudHelpTicketIntake == nil {
		return localVarReturnValue, nil, reportError("cloudHelpTicketIntake is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudHelpTicketIntake
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
