/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SearchSearchAPIService SearchSearchAPI service
type SearchSearchAPIService service

type SearchSearchAPISearchSearchGetRequest struct {
	ctx                   context.Context
	ApiService            *SearchSearchAPIService
	indexUid              string
	q                     *string
	offset                *int32
	limit                 *int32
	attributesToRetrieve  *string
	attributesToHighlight *string
	attributesToCrop      *string
	cropLength            *int32
	filter                *string
	sort                  *string
	facets                *string
	showMatchesPosition   *bool
	showRankingScore      *bool
	matchingStrategy      *string
}

// Search query
func (r SearchSearchAPISearchSearchGetRequest) Q(q string) SearchSearchAPISearchSearchGetRequest {
	r.q = &q
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) Offset(offset int32) SearchSearchAPISearchSearchGetRequest {
	r.offset = &offset
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) Limit(limit int32) SearchSearchAPISearchSearchGetRequest {
	r.limit = &limit
	return r
}

// Comma-separated list of attributes to return
func (r SearchSearchAPISearchSearchGetRequest) AttributesToRetrieve(attributesToRetrieve string) SearchSearchAPISearchSearchGetRequest {
	r.attributesToRetrieve = &attributesToRetrieve
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) AttributesToHighlight(attributesToHighlight string) SearchSearchAPISearchSearchGetRequest {
	r.attributesToHighlight = &attributesToHighlight
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) AttributesToCrop(attributesToCrop string) SearchSearchAPISearchSearchGetRequest {
	r.attributesToCrop = &attributesToCrop
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) CropLength(cropLength int32) SearchSearchAPISearchSearchGetRequest {
	r.cropLength = &cropLength
	return r
}

// Filter expression
func (r SearchSearchAPISearchSearchGetRequest) Filter(filter string) SearchSearchAPISearchSearchGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated sort rules
func (r SearchSearchAPISearchSearchGetRequest) Sort(sort string) SearchSearchAPISearchSearchGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated facet attributes
func (r SearchSearchAPISearchSearchGetRequest) Facets(facets string) SearchSearchAPISearchSearchGetRequest {
	r.facets = &facets
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) ShowMatchesPosition(showMatchesPosition bool) SearchSearchAPISearchSearchGetRequest {
	r.showMatchesPosition = &showMatchesPosition
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) ShowRankingScore(showRankingScore bool) SearchSearchAPISearchSearchGetRequest {
	r.showRankingScore = &showRankingScore
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) MatchingStrategy(matchingStrategy string) SearchSearchAPISearchSearchGetRequest {
	r.matchingStrategy = &matchingStrategy
	return r
}

func (r SearchSearchAPISearchSearchGetRequest) Execute() (*SearchSearchResult, *http.Response, error) {
	return r.ApiService.SearchSearchGetExecute(r)
}

/*
SearchSearchGet Search documents (GET)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchSearchAPISearchSearchGetRequest
*/
func (a *SearchSearchAPIService) SearchSearchGet(ctx context.Context, indexUid string) SearchSearchAPISearchSearchGetRequest {
	return SearchSearchAPISearchSearchGetRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSearchResult
func (a *SearchSearchAPIService) SearchSearchGetExecute(r SearchSearchAPISearchSearchGetRequest) (*SearchSearchResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSearchResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchSearchAPIService.SearchSearchGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/search"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	if r.attributesToRetrieve != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributesToRetrieve", r.attributesToRetrieve, "form", "")
	}
	if r.attributesToHighlight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributesToHighlight", r.attributesToHighlight, "form", "")
	}
	if r.attributesToCrop != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributesToCrop", r.attributesToCrop, "form", "")
	}
	if r.cropLength != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cropLength", r.cropLength, "form", "")
	} else {
		var defaultValue int32 = 10
		r.cropLength = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.facets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "facets", r.facets, "form", "")
	}
	if r.showMatchesPosition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showMatchesPosition", r.showMatchesPosition, "form", "")
	}
	if r.showRankingScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showRankingScore", r.showRankingScore, "form", "")
	}
	if r.matchingStrategy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "matchingStrategy", r.matchingStrategy, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SearchResponseError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchSearchAPISearchSearchPostRequest struct {
	ctx               context.Context
	ApiService        *SearchSearchAPIService
	indexUid          string
	searchSearchQuery *SearchSearchQuery
}

func (r SearchSearchAPISearchSearchPostRequest) SearchSearchQuery(searchSearchQuery SearchSearchQuery) SearchSearchAPISearchSearchPostRequest {
	r.searchSearchQuery = &searchSearchQuery
	return r
}

func (r SearchSearchAPISearchSearchPostRequest) Execute() (*SearchSearchResult, *http.Response, error) {
	return r.ApiService.SearchSearchPostExecute(r)
}

/*
SearchSearchPost Search documents (POST)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchSearchAPISearchSearchPostRequest
*/
func (a *SearchSearchAPIService) SearchSearchPost(ctx context.Context, indexUid string) SearchSearchAPISearchSearchPostRequest {
	return SearchSearchAPISearchSearchPostRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSearchResult
func (a *SearchSearchAPIService) SearchSearchPostExecute(r SearchSearchAPISearchSearchPostRequest) (*SearchSearchResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSearchResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchSearchAPIService.SearchSearchPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/search"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchSearchQuery == nil {
		return localVarReturnValue, nil, reportError("searchSearchQuery is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchSearchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SearchResponseError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
