/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ComplianceAPIService ComplianceAPI service
type ComplianceAPIService service

type ComplianceAPICloudGetV1ComplianceAccreditationRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	limit      *int32
}

// Limit caps the rows returned; non-positive means the server default.
func (r ComplianceAPICloudGetV1ComplianceAccreditationRequest) Limit(limit int32) ComplianceAPICloudGetV1ComplianceAccreditationRequest {
	r.limit = &limit
	return r
}

func (r ComplianceAPICloudGetV1ComplianceAccreditationRequest) Execute() (*CloudAccList, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceAccreditationExecute(r)
}

/*
CloudGetV1ComplianceAccreditation ListAccreditation returns the org's tracked accreditation-state records, newest first — evidence entries the org keeps, never a platform certification.

ListAccreditation returns the org's tracked accreditation-state records, newest
first — evidence entries the org keeps, never a platform certification.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudGetV1ComplianceAccreditationRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceAccreditation(ctx context.Context) ComplianceAPICloudGetV1ComplianceAccreditationRequest {
	return ComplianceAPICloudGetV1ComplianceAccreditationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAccList
func (a *ComplianceAPIService) CloudGetV1ComplianceAccreditationExecute(r ComplianceAPICloudGetV1ComplianceAccreditationRequest) (*CloudAccList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAccList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceAccreditation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/accreditation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceAccreditationIdRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	id         string
}

func (r ComplianceAPICloudGetV1ComplianceAccreditationIdRequest) Execute() (*CloudAccView, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceAccreditationIdExecute(r)
}

/*
CloudGetV1ComplianceAccreditationId GetAccreditation returns one tracked accreditation record.

GetAccreditation returns one tracked accreditation record.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the accreditation record to read, from the path.
	@return ComplianceAPICloudGetV1ComplianceAccreditationIdRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceAccreditationId(ctx context.Context, id string) ComplianceAPICloudGetV1ComplianceAccreditationIdRequest {
	return ComplianceAPICloudGetV1ComplianceAccreditationIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAccView
func (a *ComplianceAPIService) CloudGetV1ComplianceAccreditationIdExecute(r ComplianceAPICloudGetV1ComplianceAccreditationIdRequest) (*CloudAccView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAccView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceAccreditationId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/accreditation/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceAuditRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	result     *string
}

// Result filters rows by outcome result: success, deny, or error; empty means all.
func (r ComplianceAPICloudGetV1ComplianceAuditRequest) Result(result string) ComplianceAPICloudGetV1ComplianceAuditRequest {
	r.result = &result
	return r
}

func (r ComplianceAPICloudGetV1ComplianceAuditRequest) Execute() (*CloudAuditList, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceAuditExecute(r)
}

/*
CloudGetV1ComplianceAudit AuditRead is the compliance-scoped read of the SHARED tamper-evident audit plane — the SOC 2 posture surface (privileged actions: who started/decided what, when).

AuditRead is the compliance-scoped read of the SHARED tamper-evident audit plane —
the SOC 2 posture surface (privileged actions: who started/decided what, when). The
org is PINNED to the caller's validated org and the rows are narrowed to
compliance.* actions. Fail-closed: no principal is a 403, no configured audit
store a 501.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudGetV1ComplianceAuditRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceAudit(ctx context.Context) ComplianceAPICloudGetV1ComplianceAuditRequest {
	return ComplianceAPICloudGetV1ComplianceAuditRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAuditList
func (a *ComplianceAPIService) CloudGetV1ComplianceAuditExecute(r ComplianceAPICloudGetV1ComplianceAuditRequest) (*CloudAuditList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAuditList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.result != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "result", r.result, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceHealthRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
}

func (r ComplianceAPICloudGetV1ComplianceHealthRequest) Execute() (*CloudHealthView, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceHealthExecute(r)
}

/*
CloudGetV1ComplianceHealth Health reports subsystem liveness and the wired verification provider.

Health reports subsystem liveness and the wired verification provider. Fail-open
on purpose: it never probes the external provider, so a provider outage cannot
fail liveness.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudGetV1ComplianceHealthRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceHealth(ctx context.Context) ComplianceAPICloudGetV1ComplianceHealthRequest {
	return ComplianceAPICloudGetV1ComplianceHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudHealthView
func (a *ComplianceAPIService) CloudGetV1ComplianceHealthExecute(r ComplianceAPICloudGetV1ComplianceHealthRequest) (*CloudHealthView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudHealthView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceRecordsRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	limit      *int32
}

// Limit caps the rows returned; non-positive means the server default.
func (r ComplianceAPICloudGetV1ComplianceRecordsRequest) Limit(limit int32) ComplianceAPICloudGetV1ComplianceRecordsRequest {
	r.limit = &limit
	return r
}

func (r ComplianceAPICloudGetV1ComplianceRecordsRequest) Execute() (*CloudRecordList, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceRecordsExecute(r)
}

/*
CloudGetV1ComplianceRecords ListRecords is the unified compliance-record view for the org: its verifications and accreditation records together, each provider-reported or tracked, never platform-asserted.

ListRecords is the unified compliance-record view for the org: its verifications
and accreditation records together, each provider-reported or tracked, never
platform-asserted. PII stays in the subject store; records carry only opaque ids
and statuses.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudGetV1ComplianceRecordsRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceRecords(ctx context.Context) ComplianceAPICloudGetV1ComplianceRecordsRequest {
	return ComplianceAPICloudGetV1ComplianceRecordsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRecordList
func (a *ComplianceAPIService) CloudGetV1ComplianceRecordsExecute(r ComplianceAPICloudGetV1ComplianceRecordsRequest) (*CloudRecordList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRecordList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceRecords")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/records"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceStatusRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
}

func (r ComplianceAPICloudGetV1ComplianceStatusRequest) Execute() (*CloudStatusView, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceStatusExecute(r)
}

/*
CloudGetV1ComplianceStatus Status is the org's honest posture read: the wired provider and the per-status tally of its verifications.

Status is the org's honest posture read: the wired provider and the per-status
tally of its verifications. It is deliberately NOT a boolean "compliant" — it
reports counts of provider-reported states and carries the boundary disclaimer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudGetV1ComplianceStatusRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceStatus(ctx context.Context) ComplianceAPICloudGetV1ComplianceStatusRequest {
	return ComplianceAPICloudGetV1ComplianceStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStatusView
func (a *ComplianceAPIService) CloudGetV1ComplianceStatusExecute(r ComplianceAPICloudGetV1ComplianceStatusRequest) (*CloudStatusView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStatusView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceSubjectsRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	limit      *int32
}

// Limit caps the rows returned; non-positive means the server default.
func (r ComplianceAPICloudGetV1ComplianceSubjectsRequest) Limit(limit int32) ComplianceAPICloudGetV1ComplianceSubjectsRequest {
	r.limit = &limit
	return r
}

func (r ComplianceAPICloudGetV1ComplianceSubjectsRequest) Execute() (*CloudSubjectList, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceSubjectsExecute(r)
}

/*
CloudGetV1ComplianceSubjects ListSubjects returns the org's subjects as PII-MINIMIZED summaries — no name or email, only whether an email is on file.

ListSubjects returns the org's subjects as PII-MINIMIZED summaries — no name or
email, only whether an email is on file. The full record is returned only by the
explicit single-subject read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudGetV1ComplianceSubjectsRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceSubjects(ctx context.Context) ComplianceAPICloudGetV1ComplianceSubjectsRequest {
	return ComplianceAPICloudGetV1ComplianceSubjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSubjectList
func (a *ComplianceAPIService) CloudGetV1ComplianceSubjectsExecute(r ComplianceAPICloudGetV1ComplianceSubjectsRequest) (*CloudSubjectList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSubjectList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceSubjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/subjects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceSubjectsIdRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	id         string
}

func (r ComplianceAPICloudGetV1ComplianceSubjectsIdRequest) Execute() (*CloudSubject, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceSubjectsIdExecute(r)
}

/*
CloudGetV1ComplianceSubjectsId GetSubject returns one subject WITH its contact PII — the only surface that returns it, and only to the owning org.

GetSubject returns one subject WITH its contact PII — the only surface that
returns it, and only to the owning org. The response is never cached by any
intermediary.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the subject to read, from the path.
	@return ComplianceAPICloudGetV1ComplianceSubjectsIdRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceSubjectsId(ctx context.Context, id string) ComplianceAPICloudGetV1ComplianceSubjectsIdRequest {
	return ComplianceAPICloudGetV1ComplianceSubjectsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudSubject
func (a *ComplianceAPIService) CloudGetV1ComplianceSubjectsIdExecute(r ComplianceAPICloudGetV1ComplianceSubjectsIdRequest) (*CloudSubject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSubject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceSubjectsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/subjects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceVerificationsRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	limit      *int32
}

// Limit caps the rows returned; non-positive means the server default.
func (r ComplianceAPICloudGetV1ComplianceVerificationsRequest) Limit(limit int32) ComplianceAPICloudGetV1ComplianceVerificationsRequest {
	r.limit = &limit
	return r
}

func (r ComplianceAPICloudGetV1ComplianceVerificationsRequest) Execute() (*CloudCheckList, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceVerificationsExecute(r)
}

/*
CloudGetV1ComplianceVerifications ListVerifications returns the org's KYC/KYB verifications, newest first — opaque subject references and provider-reported statuses only, no subject PII.

ListVerifications returns the org's KYC/KYB verifications, newest first — opaque
subject references and provider-reported statuses only, no subject PII.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudGetV1ComplianceVerificationsRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceVerifications(ctx context.Context) ComplianceAPICloudGetV1ComplianceVerificationsRequest {
	return ComplianceAPICloudGetV1ComplianceVerificationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCheckList
func (a *ComplianceAPIService) CloudGetV1ComplianceVerificationsExecute(r ComplianceAPICloudGetV1ComplianceVerificationsRequest) (*CloudCheckList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCheckList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceVerifications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/verifications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudGetV1ComplianceVerificationsIdRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	id         string
}

func (r ComplianceAPICloudGetV1ComplianceVerificationsIdRequest) Execute() (*CloudCheckView, *http.Response, error) {
	return r.ApiService.CloudGetV1ComplianceVerificationsIdExecute(r)
}

/*
CloudGetV1ComplianceVerificationsId GetVerification returns one verification — its opaque subject reference and provider-reported status, no subject PII.

GetVerification returns one verification — its opaque subject reference and
provider-reported status, no subject PII.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the verification to act on, from the path.
	@return ComplianceAPICloudGetV1ComplianceVerificationsIdRequest
*/
func (a *ComplianceAPIService) CloudGetV1ComplianceVerificationsId(ctx context.Context, id string) ComplianceAPICloudGetV1ComplianceVerificationsIdRequest {
	return ComplianceAPICloudGetV1ComplianceVerificationsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCheckView
func (a *ComplianceAPIService) CloudGetV1ComplianceVerificationsIdExecute(r ComplianceAPICloudGetV1ComplianceVerificationsIdRequest) (*CloudCheckView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCheckView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudGetV1ComplianceVerificationsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/verifications/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudPostV1ComplianceAccreditationRequest struct {
	ctx                   context.Context
	ApiService            *ComplianceAPIService
	cloudAccreditationReq *CloudAccreditationReq
}

func (r ComplianceAPICloudPostV1ComplianceAccreditationRequest) CloudAccreditationReq(cloudAccreditationReq CloudAccreditationReq) ComplianceAPICloudPostV1ComplianceAccreditationRequest {
	r.cloudAccreditationReq = &cloudAccreditationReq
	return r
}

func (r ComplianceAPICloudPostV1ComplianceAccreditationRequest) Execute() (*CloudAccView, *http.Response, error) {
	return r.ApiService.CloudPostV1ComplianceAccreditationExecute(r)
}

/*
CloudPostV1ComplianceAccreditation CreateAccreditation records an ASSERTED accreditation state for a subject — the subject's own assertion, with no verifier.

CreateAccreditation records an ASSERTED accreditation state for a subject — the
subject's own assertion, with no verifier. Every CONFIRMED state
(provider_verified, reviewer_confirmed) and every rejected/expired state is a
DECISION recorded via the decision endpoint, attributed to the reviewer — a
create can never stamp a confirmation. The underlying figures (income, net
worth) are never stored; only the method, category, and state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudPostV1ComplianceAccreditationRequest
*/
func (a *ComplianceAPIService) CloudPostV1ComplianceAccreditation(ctx context.Context) ComplianceAPICloudPostV1ComplianceAccreditationRequest {
	return ComplianceAPICloudPostV1ComplianceAccreditationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAccView
func (a *ComplianceAPIService) CloudPostV1ComplianceAccreditationExecute(r ComplianceAPICloudPostV1ComplianceAccreditationRequest) (*CloudAccView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAccView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudPostV1ComplianceAccreditation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/accreditation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudAccreditationReq == nil {
		return localVarReturnValue, nil, reportError("cloudAccreditationReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudAccreditationReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudPostV1ComplianceAccreditationIdDecisionRequest struct {
	ctx                        context.Context
	ApiService                 *ComplianceAPIService
	id                         string
	cloudAccreditationDecision *CloudAccreditationDecision
}

func (r ComplianceAPICloudPostV1ComplianceAccreditationIdDecisionRequest) CloudAccreditationDecision(cloudAccreditationDecision CloudAccreditationDecision) ComplianceAPICloudPostV1ComplianceAccreditationIdDecisionRequest {
	r.cloudAccreditationDecision = &cloudAccreditationDecision
	return r
}

func (r ComplianceAPICloudPostV1ComplianceAccreditationIdDecisionRequest) Execute() (*CloudAccView, *http.Response, error) {
	return r.ApiService.CloudPostV1ComplianceAccreditationIdDecisionExecute(r)
}

/*
CloudPostV1ComplianceAccreditationIdDecision DecideAccreditation records an org reviewer's decision on an accreditation record — a reviewer confirmation, a provider verification the reviewer has evidence of (a CPA/attorney letter, a verifier report), a rejection, or an expiry.

DecideAccreditation records an org reviewer's decision on an accreditation
record — a reviewer confirmation, a provider verification the reviewer has
evidence of (a CPA/attorney letter, a verifier report), a rejection, or an
expiry. ROLE-GATED (an org admin or platform reviewer) and ATTRIBUTED: the
reviewer's identity is recorded as ReviewerSub and audited. Human-in-the-loop:
the platform never confirms on its own, and even a provider_verified state
carries the reviewer who recorded it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the accreditation record to decide, from the path.
	@return ComplianceAPICloudPostV1ComplianceAccreditationIdDecisionRequest
*/
func (a *ComplianceAPIService) CloudPostV1ComplianceAccreditationIdDecision(ctx context.Context, id string) ComplianceAPICloudPostV1ComplianceAccreditationIdDecisionRequest {
	return ComplianceAPICloudPostV1ComplianceAccreditationIdDecisionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAccView
func (a *ComplianceAPIService) CloudPostV1ComplianceAccreditationIdDecisionExecute(r ComplianceAPICloudPostV1ComplianceAccreditationIdDecisionRequest) (*CloudAccView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAccView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudPostV1ComplianceAccreditationIdDecision")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/accreditation/{id}/decision"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudAccreditationDecision == nil {
		return localVarReturnValue, nil, reportError("cloudAccreditationDecision is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudAccreditationDecision
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudPostV1ComplianceSubjectsRequest struct {
	ctx             context.Context
	ApiService      *ComplianceAPIService
	cloudSubjectReq *CloudSubjectReq
}

func (r ComplianceAPICloudPostV1ComplianceSubjectsRequest) CloudSubjectReq(cloudSubjectReq CloudSubjectReq) ComplianceAPICloudPostV1ComplianceSubjectsRequest {
	r.cloudSubjectReq = &cloudSubjectReq
	return r
}

func (r ComplianceAPICloudPostV1ComplianceSubjectsRequest) Execute() (*CloudSubject, *http.Response, error) {
	return r.ApiService.CloudPostV1ComplianceSubjectsExecute(r)
}

/*
CloudPostV1ComplianceSubjects CreateSubject records a party the org is verifying as part of its own onboarding/compliance — a team member, vendor, customer, or counterparty.

CreateSubject records a party the org is verifying as part of its own
onboarding/compliance — a team member, vendor, customer, or counterparty. The
subject's contact PII (name/email) is sealed at rest and returned only to the
owning org; downstream records reference the subject by opaque id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudPostV1ComplianceSubjectsRequest
*/
func (a *ComplianceAPIService) CloudPostV1ComplianceSubjects(ctx context.Context) ComplianceAPICloudPostV1ComplianceSubjectsRequest {
	return ComplianceAPICloudPostV1ComplianceSubjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSubject
func (a *ComplianceAPIService) CloudPostV1ComplianceSubjectsExecute(r ComplianceAPICloudPostV1ComplianceSubjectsRequest) (*CloudSubject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSubject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudPostV1ComplianceSubjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/subjects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudSubjectReq == nil {
		return localVarReturnValue, nil, reportError("cloudSubjectReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudSubjectReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudPostV1ComplianceVerificationsRequest struct {
	ctx                  context.Context
	ApiService           *ComplianceAPIService
	cloudVerificationReq *CloudVerificationReq
}

func (r ComplianceAPICloudPostV1ComplianceVerificationsRequest) CloudVerificationReq(cloudVerificationReq CloudVerificationReq) ComplianceAPICloudPostV1ComplianceVerificationsRequest {
	r.cloudVerificationReq = &cloudVerificationReq
	return r
}

func (r ComplianceAPICloudPostV1ComplianceVerificationsRequest) Execute() (*CloudCheckView, *http.Response, error) {
	return r.ApiService.CloudPostV1ComplianceVerificationsExecute(r)
}

/*
CloudPostV1ComplianceVerifications StartVerification begins a KYC/KYB verification of a subject through the wired provider — an existing subject by id, or one created inline from the request.

StartVerification begins a KYC/KYB verification of a subject through the wired
provider — an existing subject by id, or one created inline from the request.
The returned status is provider-reported and never terminal on a fresh start:
starting a verification can never yield a verified record, and a provider error
is a 502, never a verification.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudPostV1ComplianceVerificationsRequest
*/
func (a *ComplianceAPIService) CloudPostV1ComplianceVerifications(ctx context.Context) ComplianceAPICloudPostV1ComplianceVerificationsRequest {
	return ComplianceAPICloudPostV1ComplianceVerificationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCheckView
func (a *ComplianceAPIService) CloudPostV1ComplianceVerificationsExecute(r ComplianceAPICloudPostV1ComplianceVerificationsRequest) (*CloudCheckView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCheckView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudPostV1ComplianceVerifications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/verifications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudVerificationReq == nil {
		return localVarReturnValue, nil, reportError("cloudVerificationReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudVerificationReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudPostV1ComplianceVerificationsIdDecisionRequest struct {
	ctx                       context.Context
	ApiService                *ComplianceAPIService
	id                        string
	cloudVerificationDecision *CloudVerificationDecision
}

func (r ComplianceAPICloudPostV1ComplianceVerificationsIdDecisionRequest) CloudVerificationDecision(cloudVerificationDecision CloudVerificationDecision) ComplianceAPICloudPostV1ComplianceVerificationsIdDecisionRequest {
	r.cloudVerificationDecision = &cloudVerificationDecision
	return r
}

func (r ComplianceAPICloudPostV1ComplianceVerificationsIdDecisionRequest) Execute() (*CloudCheckView, *http.Response, error) {
	return r.ApiService.CloudPostV1ComplianceVerificationsIdDecisionExecute(r)
}

/*
CloudPostV1ComplianceVerificationsIdDecision DecideVerification records a privileged reviewer's MANUAL decision on a verification — the human-in-the-loop path, and the ONLY route to a passing status when no real provider is wired.

DecideVerification records a privileged reviewer's MANUAL decision on a
verification — the human-in-the-loop path, and the ONLY route to a passing status
when no real provider is wired. It produces a DISTINCT reviewer_confirmed, never
a provider_verified (a provider decision is the provider's to report, via the
webhook or a reconcile), and it is ROLE-GATED (an org admin or platform reviewer)
AND ATTRIBUTED (the reviewer's user id is DecidedBy), so a manual pass is always
accountable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the verification to decide, from the path.
	@return ComplianceAPICloudPostV1ComplianceVerificationsIdDecisionRequest
*/
func (a *ComplianceAPIService) CloudPostV1ComplianceVerificationsIdDecision(ctx context.Context, id string) ComplianceAPICloudPostV1ComplianceVerificationsIdDecisionRequest {
	return ComplianceAPICloudPostV1ComplianceVerificationsIdDecisionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCheckView
func (a *ComplianceAPIService) CloudPostV1ComplianceVerificationsIdDecisionExecute(r ComplianceAPICloudPostV1ComplianceVerificationsIdDecisionRequest) (*CloudCheckView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCheckView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudPostV1ComplianceVerificationsIdDecision")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/verifications/{id}/decision"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudVerificationDecision == nil {
		return localVarReturnValue, nil, reportError("cloudVerificationDecision is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudVerificationDecision
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudPostV1ComplianceVerificationsIdRefreshRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
	id         string
}

func (r ComplianceAPICloudPostV1ComplianceVerificationsIdRefreshRequest) Execute() (*CloudCheckView, *http.Response, error) {
	return r.ApiService.CloudPostV1ComplianceVerificationsIdRefreshExecute(r)
}

/*
CloudPostV1ComplianceVerificationsIdRefresh RefreshVerification polls the wired provider for its current decision and records it, ATTRIBUTED to the provider — the internal PULL reconcile.

RefreshVerification polls the wired provider for its current decision and
records it, ATTRIBUTED to the provider — the internal PULL reconcile. For the
Manual provider the check stays pending; for a hosted provider it reflects the
provider's settled status. A poll error is a 502, never a verification.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the verification to act on, from the path.
	@return ComplianceAPICloudPostV1ComplianceVerificationsIdRefreshRequest
*/
func (a *ComplianceAPIService) CloudPostV1ComplianceVerificationsIdRefresh(ctx context.Context, id string) ComplianceAPICloudPostV1ComplianceVerificationsIdRefreshRequest {
	return ComplianceAPICloudPostV1ComplianceVerificationsIdRefreshRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCheckView
func (a *ComplianceAPIService) CloudPostV1ComplianceVerificationsIdRefreshExecute(r ComplianceAPICloudPostV1ComplianceVerificationsIdRefreshRequest) (*CloudCheckView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCheckView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudPostV1ComplianceVerificationsIdRefresh")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/verifications/{id}/refresh"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICloudPostV1ComplianceVerificationsWebhookRequest struct {
	ctx        context.Context
	ApiService *ComplianceAPIService
}

func (r ComplianceAPICloudPostV1ComplianceVerificationsWebhookRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1ComplianceVerificationsWebhookExecute(r)
}

/*
CloudPostV1ComplianceVerificationsWebhook Method for CloudPostV1ComplianceVerificationsWebhook

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ComplianceAPICloudPostV1ComplianceVerificationsWebhookRequest
*/
func (a *ComplianceAPIService) CloudPostV1ComplianceVerificationsWebhook(ctx context.Context) ComplianceAPICloudPostV1ComplianceVerificationsWebhookRequest {
	return ComplianceAPICloudPostV1ComplianceVerificationsWebhookRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ComplianceAPIService) CloudPostV1ComplianceVerificationsWebhookExecute(r ComplianceAPICloudPostV1ComplianceVerificationsWebhookRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CloudPostV1ComplianceVerificationsWebhook")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/verifications/webhook"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
