/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// MeshAPIService MeshAPI service
type MeshAPIService service

type MeshAPIGetMeshServicesRequest struct {
	ctx        context.Context
	ApiService *MeshAPIService
}

func (r MeshAPIGetMeshServicesRequest) Execute() (*MeshServiceList, *http.Response, error) {
	return r.ApiService.GetMeshServicesExecute(r)
}

/*
GetMeshServices Returns the Zero Trust edge services the caller's org owns.

Returns the Zero Trust edge services the caller's org owns.

One row per real ZT edge service tagged with the org's "org-<org>" role
attribute: mtls is "required" when the service mandates end-to-end encryption and
"enabled" otherwise (the fabric always mutually authenticates every link), and
status is "active" because a listed service is a configured, dialable entry. A
service tagged for another org, or tagged for none, is invisible here.

Unlike the network and router reads this does NOT degrade: an unconfigured
deployment answers 503 and an unreachable controller surfaces the upstream's
status, so a mesh page never renders "no services" for a fabric it simply could
not read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MeshAPIGetMeshServicesRequest
*/
func (a *MeshAPIService) GetMeshServices(ctx context.Context) MeshAPIGetMeshServicesRequest {
	return MeshAPIGetMeshServicesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MeshServiceList
func (a *MeshAPIService) GetMeshServicesExecute(r MeshAPIGetMeshServicesRequest) (*MeshServiceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MeshServiceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeshAPIService.GetMeshServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mesh/services"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
