/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// MessageAPIAPIService MessageAPIAPI service
type MessageAPIAPIService service

type MessageAPIAPICloudApiControllerAddMessageRequest struct {
	ctx                context.Context
	ApiService         *MessageAPIAPIService
	cloudObjectMessage *CloudObjectMessage
}

// The details of the message
func (r MessageAPIAPICloudApiControllerAddMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) MessageAPIAPICloudApiControllerAddMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r MessageAPIAPICloudApiControllerAddMessageRequest) Execute() (*CloudObjectChat, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddMessageExecute(r)
}

/*
CloudApiControllerAddMessage Api Controller Add Message

add message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MessageAPIAPICloudApiControllerAddMessageRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerAddMessage(ctx context.Context) MessageAPIAPICloudApiControllerAddMessageRequest {
	return MessageAPIAPICloudApiControllerAddMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudObjectChat
func (a *MessageAPIAPIService) CloudApiControllerAddMessageExecute(r MessageAPIAPICloudApiControllerAddMessageRequest) (*CloudObjectChat, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudObjectChat
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerAddMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MessageAPIAPICloudApiControllerDeleteMessageRequest struct {
	ctx                context.Context
	ApiService         *MessageAPIAPIService
	cloudObjectMessage *CloudObjectMessage
}

// The details of the message
func (r MessageAPIAPICloudApiControllerDeleteMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) MessageAPIAPICloudApiControllerDeleteMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r MessageAPIAPICloudApiControllerDeleteMessageRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerDeleteMessageExecute(r)
}

/*
CloudApiControllerDeleteMessage Api Controller Delete Message

delete message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MessageAPIAPICloudApiControllerDeleteMessageRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerDeleteMessage(ctx context.Context) MessageAPIAPICloudApiControllerDeleteMessageRequest {
	return MessageAPIAPICloudApiControllerDeleteMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *MessageAPIAPIService) CloudApiControllerDeleteMessageExecute(r MessageAPIAPICloudApiControllerDeleteMessageRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerDeleteMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/delete-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MessageAPIAPICloudApiControllerGetAnswerRequest struct {
	ctx        context.Context
	ApiService *MessageAPIAPIService
	provider   *string
	question   *string
	framework  *string
	video      *string
}

// The provider
func (r MessageAPIAPICloudApiControllerGetAnswerRequest) Provider(provider string) MessageAPIAPICloudApiControllerGetAnswerRequest {
	r.provider = &provider
	return r
}

// The question of message
func (r MessageAPIAPICloudApiControllerGetAnswerRequest) Question(question string) MessageAPIAPICloudApiControllerGetAnswerRequest {
	r.question = &question
	return r
}

// The framework
func (r MessageAPIAPICloudApiControllerGetAnswerRequest) Framework(framework string) MessageAPIAPICloudApiControllerGetAnswerRequest {
	r.framework = &framework
	return r
}

// The video
func (r MessageAPIAPICloudApiControllerGetAnswerRequest) Video(video string) MessageAPIAPICloudApiControllerGetAnswerRequest {
	r.video = &video
	return r
}

func (r MessageAPIAPICloudApiControllerGetAnswerRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetAnswerExecute(r)
}

/*
CloudApiControllerGetAnswer Api Controller Get Answer

get answer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MessageAPIAPICloudApiControllerGetAnswerRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetAnswer(ctx context.Context) MessageAPIAPICloudApiControllerGetAnswerRequest {
	return MessageAPIAPICloudApiControllerGetAnswerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *MessageAPIAPIService) CloudApiControllerGetAnswerExecute(r MessageAPIAPICloudApiControllerGetAnswerRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.provider == nil {
		return localVarReturnValue, nil, reportError("provider is required and must be specified")
	}
	if r.question == nil {
		return localVarReturnValue, nil, reportError("question is required and must be specified")
	}
	if r.framework == nil {
		return localVarReturnValue, nil, reportError("framework is required and must be specified")
	}
	if r.video == nil {
		return localVarReturnValue, nil, reportError("video is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "question", r.question, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "framework", r.framework, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "video", r.video, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MessageAPIAPICloudApiControllerGetGlobalMessagesRequest struct {
	ctx        context.Context
	ApiService *MessageAPIAPIService
}

func (r MessageAPIAPICloudApiControllerGetGlobalMessagesRequest) Execute() ([]CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetGlobalMessagesExecute(r)
}

/*
CloudApiControllerGetGlobalMessages Api Controller Get Global Messages

get global messages

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MessageAPIAPICloudApiControllerGetGlobalMessagesRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetGlobalMessages(ctx context.Context) MessageAPIAPICloudApiControllerGetGlobalMessagesRequest {
	return MessageAPIAPICloudApiControllerGetGlobalMessagesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudObjectMessage
func (a *MessageAPIAPIService) CloudApiControllerGetGlobalMessagesExecute(r MessageAPIAPICloudApiControllerGetGlobalMessagesRequest) ([]CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetGlobalMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-global-messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MessageAPIAPICloudApiControllerGetMessageRequest struct {
	ctx        context.Context
	ApiService *MessageAPIAPIService
	id         *string
}

// The id of message
func (r MessageAPIAPICloudApiControllerGetMessageRequest) Id(id string) MessageAPIAPICloudApiControllerGetMessageRequest {
	r.id = &id
	return r
}

func (r MessageAPIAPICloudApiControllerGetMessageRequest) Execute() (*CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessageExecute(r)
}

/*
CloudApiControllerGetMessage Api Controller Get Message

get message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MessageAPIAPICloudApiControllerGetMessageRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetMessage(ctx context.Context) MessageAPIAPICloudApiControllerGetMessageRequest {
	return MessageAPIAPICloudApiControllerGetMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudObjectMessage
func (a *MessageAPIAPIService) CloudApiControllerGetMessageExecute(r MessageAPIAPICloudApiControllerGetMessageRequest) (*CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MessageAPIAPICloudApiControllerGetMessageAnswerRequest struct {
	ctx        context.Context
	ApiService *MessageAPIAPIService
	id         *string
}

// The id of message
func (r MessageAPIAPICloudApiControllerGetMessageAnswerRequest) Id(id string) MessageAPIAPICloudApiControllerGetMessageAnswerRequest {
	r.id = &id
	return r
}

func (r MessageAPIAPICloudApiControllerGetMessageAnswerRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessageAnswerExecute(r)
}

/*
CloudApiControllerGetMessageAnswer Api Controller Get Message Answer

get message answer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MessageAPIAPICloudApiControllerGetMessageAnswerRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetMessageAnswer(ctx context.Context) MessageAPIAPICloudApiControllerGetMessageAnswerRequest {
	return MessageAPIAPICloudApiControllerGetMessageAnswerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *MessageAPIAPIService) CloudApiControllerGetMessageAnswerExecute(r MessageAPIAPICloudApiControllerGetMessageAnswerRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetMessageAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-message-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MessageAPIAPICloudApiControllerGetMessagesRequest struct {
	ctx        context.Context
	ApiService *MessageAPIAPIService
	user       *string
	chat       *string
}

// The user of message
func (r MessageAPIAPICloudApiControllerGetMessagesRequest) User(user string) MessageAPIAPICloudApiControllerGetMessagesRequest {
	r.user = &user
	return r
}

// The chat of message
func (r MessageAPIAPICloudApiControllerGetMessagesRequest) Chat(chat string) MessageAPIAPICloudApiControllerGetMessagesRequest {
	r.chat = &chat
	return r
}

func (r MessageAPIAPICloudApiControllerGetMessagesRequest) Execute() ([]CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessagesExecute(r)
}

/*
CloudApiControllerGetMessages Api Controller Get Messages

get Messages

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MessageAPIAPICloudApiControllerGetMessagesRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerGetMessages(ctx context.Context) MessageAPIAPICloudApiControllerGetMessagesRequest {
	return MessageAPIAPICloudApiControllerGetMessagesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudObjectMessage
func (a *MessageAPIAPIService) CloudApiControllerGetMessagesExecute(r MessageAPIAPICloudApiControllerGetMessagesRequest) ([]CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerGetMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-Messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}
	if r.chat == nil {
		return localVarReturnValue, nil, reportError("chat is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "chat", r.chat, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MessageAPIAPICloudApiControllerUpdateMessageRequest struct {
	ctx                context.Context
	ApiService         *MessageAPIAPIService
	id                 *string
	cloudObjectMessage *CloudObjectMessage
}

// The id (owner/name) of the message
func (r MessageAPIAPICloudApiControllerUpdateMessageRequest) Id(id string) MessageAPIAPICloudApiControllerUpdateMessageRequest {
	r.id = &id
	return r
}

// The details of the message
func (r MessageAPIAPICloudApiControllerUpdateMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) MessageAPIAPICloudApiControllerUpdateMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r MessageAPIAPICloudApiControllerUpdateMessageRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUpdateMessageExecute(r)
}

/*
CloudApiControllerUpdateMessage Api Controller Update Message

update message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MessageAPIAPICloudApiControllerUpdateMessageRequest
*/
func (a *MessageAPIAPIService) CloudApiControllerUpdateMessage(ctx context.Context) MessageAPIAPICloudApiControllerUpdateMessageRequest {
	return MessageAPIAPICloudApiControllerUpdateMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *MessageAPIAPIService) CloudApiControllerUpdateMessageExecute(r MessageAPIAPICloudApiControllerUpdateMessageRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MessageAPIAPIService.CloudApiControllerUpdateMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/update-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
