/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)

// CompanyAPIService CompanyAPI service
type CompanyAPIService service

type CompanyAPICloudGetV1CompanyRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudGetV1CompanyRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudGetV1CompanyExecute(r)
}

/*
CloudGetV1Company Get returns the caller org's formation and the stages reachable from it, or 404 when the org has not begun one.

Get returns the caller org's formation and the stages reachable from it, or 404
when the org has not begun one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudGetV1CompanyRequest
*/
func (a *CompanyAPIService) CloudGetV1Company(ctx context.Context) CompanyAPICloudGetV1CompanyRequest {
	return CompanyAPICloudGetV1CompanyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudGetV1CompanyExecute(r CompanyAPICloudGetV1CompanyRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudGetV1Company")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudGetV1CompanyRegisterRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	stage      *string
	structure  *string
	limit      *int32
	offset     *int32
}

// Stage keeps only formations at that stage. Empty means any.
func (r CompanyAPICloudGetV1CompanyRegisterRequest) Stage(stage string) CompanyAPICloudGetV1CompanyRegisterRequest {
	r.stage = &stage
	return r
}

// Structure keeps only formations of that entity kind. Empty means any.
func (r CompanyAPICloudGetV1CompanyRegisterRequest) Structure(structure string) CompanyAPICloudGetV1CompanyRegisterRequest {
	r.structure = &structure
	return r
}

// Limit bounds the page; 0 or less means the default of 200.
func (r CompanyAPICloudGetV1CompanyRegisterRequest) Limit(limit int32) CompanyAPICloudGetV1CompanyRegisterRequest {
	r.limit = &limit
	return r
}

// Offset skips that many rows.
func (r CompanyAPICloudGetV1CompanyRegisterRequest) Offset(offset int32) CompanyAPICloudGetV1CompanyRegisterRequest {
	r.offset = &offset
	return r
}

func (r CompanyAPICloudGetV1CompanyRegisterRequest) Execute() (*CloudRegisterPage, *http.Response, error) {
	return r.ApiService.CloudGetV1CompanyRegisterExecute(r)
}

/*
CloudGetV1CompanyRegister ListRegister returns the platform's whole formation register, newest activity first — every org's formation, not the caller's.

ListRegister returns the platform's whole formation register, newest activity
first — every org's formation, not the caller's. It is a Hanzo platform
operation: a caller who is not a platform reviewer gets 403.

Filter by stage and structure, page with limit and offset. An unknown stage is
refused with 400 rather than returning a silently empty page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudGetV1CompanyRegisterRequest
*/
func (a *CompanyAPIService) CloudGetV1CompanyRegister(ctx context.Context) CompanyAPICloudGetV1CompanyRegisterRequest {
	return CompanyAPICloudGetV1CompanyRegisterRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRegisterPage
func (a *CompanyAPIService) CloudGetV1CompanyRegisterExecute(r CompanyAPICloudGetV1CompanyRegisterRequest) (*CloudRegisterPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRegisterPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudGetV1CompanyRegister")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/register"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.stage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stage", r.stage, "form", "")
	}
	if r.structure != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "structure", r.structure, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudGetV1CompanyRegisterSummaryRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudGetV1CompanyRegisterSummaryRequest) Execute() (*CloudRegisterCounts, *http.Response, error) {
	return r.ApiService.CloudGetV1CompanyRegisterSummaryExecute(r)
}

/*
CloudGetV1CompanyRegisterSummary SummarizeRegister counts the platform's formations by stage — the register's shape in one read, so a queue that is growing is visible as a number rather than inferred by paging the list.

SummarizeRegister counts the platform's formations by stage — the register's
shape in one read, so a queue that is growing is visible as a number rather
than inferred by paging the list. A Hanzo platform operation: a caller who is
not a platform reviewer gets 403.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudGetV1CompanyRegisterSummaryRequest
*/
func (a *CompanyAPIService) CloudGetV1CompanyRegisterSummary(ctx context.Context) CompanyAPICloudGetV1CompanyRegisterSummaryRequest {
	return CompanyAPICloudGetV1CompanyRegisterSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRegisterCounts
func (a *CompanyAPIService) CloudGetV1CompanyRegisterSummaryExecute(r CompanyAPICloudGetV1CompanyRegisterSummaryRequest) (*CloudRegisterCounts, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRegisterCounts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudGetV1CompanyRegisterSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/register/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudGetV1CompanyReviewRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	limit      *int32
}

// Limit bounds how many formations are scanned; 0 or less means the default of 200.
func (r CompanyAPICloudGetV1CompanyReviewRequest) Limit(limit int32) CompanyAPICloudGetV1CompanyReviewRequest {
	r.limit = &limit
	return r
}

func (r CompanyAPICloudGetV1CompanyReviewRequest) Execute() (*CloudReviewQueue, *http.Response, error) {
	return r.ApiService.CloudGetV1CompanyReviewExecute(r)
}

/*
CloudGetV1CompanyReview ReviewQueue reports the founders whose KYC is not yet settled, oldest formation first, so the queue drains in the order founders have been waiting.

ReviewQueue reports the founders whose KYC is not yet settled, oldest formation
first, so the queue drains in the order founders have been waiting. A Hanzo
platform operation: a caller who is not a platform reviewer gets 403.

It only says who is waiting; the decision itself is POST
/v1/company/kyc/decision.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudGetV1CompanyReviewRequest
*/
func (a *CompanyAPIService) CloudGetV1CompanyReview(ctx context.Context) CompanyAPICloudGetV1CompanyReviewRequest {
	return CompanyAPICloudGetV1CompanyReviewRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudReviewQueue
func (a *CompanyAPIService) CloudGetV1CompanyReviewExecute(r CompanyAPICloudGetV1CompanyReviewRequest) (*CloudReviewQueue, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudReviewQueue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudGetV1CompanyReview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/review"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyRequest struct {
	ctx          context.Context
	ApiService   *CompanyAPIService
	cloudBeginIn *CloudBeginIn
}

func (r CompanyAPICloudPostV1CompanyRequest) CloudBeginIn(cloudBeginIn CloudBeginIn) CompanyAPICloudPostV1CompanyRequest {
	r.cloudBeginIn = &cloudBeginIn
	return r
}

func (r CompanyAPICloudPostV1CompanyRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyExecute(r)
}

/*
CloudPostV1Company Begin starts the org's one formation and returns it with the stages reachable from it.

Begin starts the org's one formation and returns it with the stages reachable
from it. It is idempotent: an org that already has a formation gets that one
back with 200, while a first call creates it and answers 201.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyRequest
*/
func (a *CompanyAPIService) CloudPostV1Company(ctx context.Context) CompanyAPICloudPostV1CompanyRequest {
	return CompanyAPICloudPostV1CompanyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanyExecute(r CompanyAPICloudPostV1CompanyRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1Company")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudBeginIn == nil {
		return localVarReturnValue, nil, reportError("cloudBeginIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudBeginIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyAdvanceRequest struct {
	ctx            context.Context
	ApiService     *CompanyAPIService
	cloudAdvanceIn *CloudAdvanceIn
}

func (r CompanyAPICloudPostV1CompanyAdvanceRequest) CloudAdvanceIn(cloudAdvanceIn CloudAdvanceIn) CompanyAPICloudPostV1CompanyAdvanceRequest {
	r.cloudAdvanceIn = &cloudAdvanceIn
	return r
}

func (r CompanyAPICloudPostV1CompanyAdvanceRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyAdvanceExecute(r)
}

/*
CloudPostV1CompanyAdvance Advance runs the ONE guarded transition of the formation machine.

Advance runs the ONE guarded transition of the formation machine. It is the
only door between stages: the actions populate data, this decides ordering.

An edge the machine does not define answers 409; an edge whose guard is not yet
satisfied answers 422 naming what is missing. Reaching the terminal `company`
stage also records the incorporation on the canonical cap table, and that must
succeed before the transition is persisted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyAdvanceRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyAdvance(ctx context.Context) CompanyAPICloudPostV1CompanyAdvanceRequest {
	return CompanyAPICloudPostV1CompanyAdvanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanyAdvanceExecute(r CompanyAPICloudPostV1CompanyAdvanceRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyAdvance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/advance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudAdvanceIn == nil {
		return localVarReturnValue, nil, reportError("cloudAdvanceIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudAdvanceIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyDocumentsRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudPostV1CompanyDocumentsRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyDocumentsExecute(r)
}

/*
CloudPostV1CompanyDocuments GenerateDocuments renders the formation documents for the chosen structure and jurisdiction, ingests each into the org's data room, and submits the state filing through the filing seam.

GenerateDocuments renders the formation documents for the chosen structure and
jurisdiction, ingests each into the org's data room, and submits the state
filing through the filing seam.

With no filing partner wired the filing is recorded honestly as "manual" — no
filing id is fabricated. Available only at the documents stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyDocumentsRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyDocuments(ctx context.Context) CompanyAPICloudPostV1CompanyDocumentsRequest {
	return CompanyAPICloudPostV1CompanyDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanyDocumentsExecute(r CompanyAPICloudPostV1CompanyDocumentsRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyEsignRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudPostV1CompanyEsignRequest) Execute() (*CloudEsignOut, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyEsignExecute(r)
}

/*
CloudPostV1CompanyEsign RequestEsign sends the generated formation documents for signature by every founder and records the provider's reference on the formation.

RequestEsign sends the generated formation documents for signature by every
founder and records the provider's reference on the formation. Available only
at the esign stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyEsignRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyEsign(ctx context.Context) CompanyAPICloudPostV1CompanyEsignRequest {
	return CompanyAPICloudPostV1CompanyEsignRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudEsignOut
func (a *CompanyAPIService) CloudPostV1CompanyEsignExecute(r CompanyAPICloudPostV1CompanyEsignRequest) (*CloudEsignOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudEsignOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyEsign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/esign"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyEsignCompleteRequest struct {
	ctx                  context.Context
	ApiService           *CompanyAPIService
	cloudEsignCompleteIn *CloudEsignCompleteIn
}

func (r CompanyAPICloudPostV1CompanyEsignCompleteRequest) CloudEsignCompleteIn(cloudEsignCompleteIn CloudEsignCompleteIn) CompanyAPICloudPostV1CompanyEsignCompleteRequest {
	r.cloudEsignCompleteIn = &cloudEsignCompleteIn
	return r
}

func (r CompanyAPICloudPostV1CompanyEsignCompleteRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyEsignCompleteExecute(r)
}

/*
CloudPostV1CompanyEsignComplete CompleteEsign records whether the formation documents have been signed.

CompleteEsign records whether the formation documents have been signed. It
consults the e-signature provider, which a real provider's webhook drives; the
signal is idempotent.

An explicit `signed` in the request overrides the provider's answer, which is
the manual path for the stub provider that never self-completes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyEsignCompleteRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyEsignComplete(ctx context.Context) CompanyAPICloudPostV1CompanyEsignCompleteRequest {
	return CompanyAPICloudPostV1CompanyEsignCompleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanyEsignCompleteExecute(r CompanyAPICloudPostV1CompanyEsignCompleteRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyEsignComplete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/esign/complete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudEsignCompleteIn == nil {
		return localVarReturnValue, nil, reportError("cloudEsignCompleteIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudEsignCompleteIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyFoundersRequest struct {
	ctx             context.Context
	ApiService      *CompanyAPIService
	cloudFoundersIn *CloudFoundersIn
}

func (r CompanyAPICloudPostV1CompanyFoundersRequest) CloudFoundersIn(cloudFoundersIn CloudFoundersIn) CompanyAPICloudPostV1CompanyFoundersRequest {
	r.cloudFoundersIn = &cloudFoundersIn
	return r
}

func (r CompanyAPICloudPostV1CompanyFoundersRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyFoundersExecute(r)
}

/*
CloudPostV1CompanyFounders SetFounders replaces the formation's founders.

SetFounders replaces the formation's founders. Each founder needs a name, an
email and an equity share in basis points; every founder is (re)set to pending
KYC, so a previously settled decision does not survive a change of the list.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyFoundersRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyFounders(ctx context.Context) CompanyAPICloudPostV1CompanyFoundersRequest {
	return CompanyAPICloudPostV1CompanyFoundersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanyFoundersExecute(r CompanyAPICloudPostV1CompanyFoundersRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyFounders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/founders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudFoundersIn == nil {
		return localVarReturnValue, nil, reportError("cloudFoundersIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudFoundersIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyFundraiseDeckRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	body       *os.File
}

func (r CompanyAPICloudPostV1CompanyFundraiseDeckRequest) Body(body *os.File) CompanyAPICloudPostV1CompanyFundraiseDeckRequest {
	r.body = body
	return r
}

func (r CompanyAPICloudPostV1CompanyFundraiseDeckRequest) Execute() (*CloudDeckOut, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyFundraiseDeckExecute(r)
}

/*
CloudPostV1CompanyFundraiseDeck Method for CloudPostV1CompanyFundraiseDeck

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyFundraiseDeckRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyFundraiseDeck(ctx context.Context) CompanyAPICloudPostV1CompanyFundraiseDeckRequest {
	return CompanyAPICloudPostV1CompanyFundraiseDeckRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDeckOut
func (a *CompanyAPIService) CloudPostV1CompanyFundraiseDeckExecute(r CompanyAPICloudPostV1CompanyFundraiseDeckRequest) (*CloudDeckOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDeckOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyFundraiseDeck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/fundraise/deck"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyFundraiseRoundRequest struct {
	ctx             context.Context
	ApiService      *CompanyAPIService
	cloudRoundInput *CloudRoundInput
}

func (r CompanyAPICloudPostV1CompanyFundraiseRoundRequest) CloudRoundInput(cloudRoundInput CloudRoundInput) CompanyAPICloudPostV1CompanyFundraiseRoundRequest {
	r.cloudRoundInput = &cloudRoundInput
	return r
}

func (r CompanyAPICloudPostV1CompanyFundraiseRoundRequest) Execute() (*CloudRoundOut, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyFundraiseRoundExecute(r)
}

/*
CloudPostV1CompanyFundraiseRound RecordRound records a fundraising round on the org's canonical cap table.

RecordRound records a fundraising round on the org's canonical cap table.
Available only after incorporation (stage company); roundType defaults to
PRICED.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyFundraiseRoundRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyFundraiseRound(ctx context.Context) CompanyAPICloudPostV1CompanyFundraiseRoundRequest {
	return CompanyAPICloudPostV1CompanyFundraiseRoundRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRoundOut
func (a *CompanyAPIService) CloudPostV1CompanyFundraiseRoundExecute(r CompanyAPICloudPostV1CompanyFundraiseRoundRequest) (*CloudRoundOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRoundOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyFundraiseRound")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/fundraise/round"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudRoundInput == nil {
		return localVarReturnValue, nil, reportError("cloudRoundInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudRoundInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyFundraiseSafeRequest struct {
	ctx         context.Context
	ApiService  *CompanyAPIService
	cloudSafeIn *CloudSafeIn
}

func (r CompanyAPICloudPostV1CompanyFundraiseSafeRequest) CloudSafeIn(cloudSafeIn CloudSafeIn) CompanyAPICloudPostV1CompanyFundraiseSafeRequest {
	r.cloudSafeIn = &cloudSafeIn
	return r
}

func (r CompanyAPICloudPostV1CompanyFundraiseSafeRequest) Execute() (*CloudSafeOut, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyFundraiseSafeExecute(r)
}

/*
CloudPostV1CompanyFundraiseSafe RequestSafe raises an e-signature request over documents already in the org's data room — a SAFE, a convertible note, or any other fundraising paper.

RequestSafe raises an e-signature request over documents already in the org's
data room — a SAFE, a convertible note, or any other fundraising paper.
Available only after incorporation (stage company).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyFundraiseSafeRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyFundraiseSafe(ctx context.Context) CompanyAPICloudPostV1CompanyFundraiseSafeRequest {
	return CompanyAPICloudPostV1CompanyFundraiseSafeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSafeOut
func (a *CompanyAPIService) CloudPostV1CompanyFundraiseSafeExecute(r CompanyAPICloudPostV1CompanyFundraiseSafeRequest) (*CloudSafeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSafeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyFundraiseSafe")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/fundraise/safe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudSafeIn == nil {
		return localVarReturnValue, nil, reportError("cloudSafeIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudSafeIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyGenesisRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudPostV1CompanyGenesisRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyGenesisExecute(r)
}

/*
CloudPostV1CompanyGenesis RecordGenesis seeds the canonical cap table with the founding allocation (stakeholders, a common share class, issued shares) and anchors the deterministic equity-genesis root on-chain.

RecordGenesis seeds the canonical cap table with the founding allocation
(stakeholders, a common share class, issued shares) and anchors the
deterministic equity-genesis root on-chain.

It is idempotent: once a root is recorded the cap table is NOT re-seeded, which
would double-issue founder share certificates. The root is persisted even when
the on-chain submit fails, because the root is the tamper-evident witness and
must not be recomputed on retry. Available only at the genesis stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyGenesisRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyGenesis(ctx context.Context) CompanyAPICloudPostV1CompanyGenesisRequest {
	return CompanyAPICloudPostV1CompanyGenesisRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanyGenesisExecute(r CompanyAPICloudPostV1CompanyGenesisRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyGenesis")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/genesis"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyImportCaptableRequest struct {
	ctx                   context.Context
	ApiService            *CompanyAPIService
	cloudImportCapTableIn *CloudImportCapTableIn
}

func (r CompanyAPICloudPostV1CompanyImportCaptableRequest) CloudImportCapTableIn(cloudImportCapTableIn CloudImportCapTableIn) CompanyAPICloudPostV1CompanyImportCaptableRequest {
	r.cloudImportCapTableIn = &cloudImportCapTableIn
	return r
}

func (r CompanyAPICloudPostV1CompanyImportCaptableRequest) Execute() (*CloudImportCapTableOut, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyImportCaptableExecute(r)
}

/*
CloudPostV1CompanyImportCaptable ImportCapTable reads an existing company's cap table from a Google Sheet and adds its stakeholders to the canonical cap table.

ImportCapTable reads an existing company's cap table from a Google Sheet and
adds its stakeholders to the canonical cap table.

The first row is a header and columns are matched by name (case-insensitive):
name and email are required, type/relationship/institution optional. A sheet
without name and email columns, or with no usable data rows, is refused with
400. Available only at the import stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyImportCaptableRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyImportCaptable(ctx context.Context) CompanyAPICloudPostV1CompanyImportCaptableRequest {
	return CompanyAPICloudPostV1CompanyImportCaptableRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudImportCapTableOut
func (a *CompanyAPIService) CloudPostV1CompanyImportCaptableExecute(r CompanyAPICloudPostV1CompanyImportCaptableRequest) (*CloudImportCapTableOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudImportCapTableOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyImportCaptable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/import/captable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudImportCapTableIn == nil {
		return localVarReturnValue, nil, reportError("cloudImportCapTableIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudImportCapTableIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyImportDocumentsRequest struct {
	ctx                    context.Context
	ApiService             *CompanyAPIService
	cloudImportDocumentsIn *CloudImportDocumentsIn
}

func (r CompanyAPICloudPostV1CompanyImportDocumentsRequest) CloudImportDocumentsIn(cloudImportDocumentsIn CloudImportDocumentsIn) CompanyAPICloudPostV1CompanyImportDocumentsRequest {
	r.cloudImportDocumentsIn = &cloudImportDocumentsIn
	return r
}

func (r CompanyAPICloudPostV1CompanyImportDocumentsRequest) Execute() (*CloudImportDocumentsOut, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyImportDocumentsExecute(r)
}

/*
CloudPostV1CompanyImportDocuments ImportDocuments ingests an existing company's corporate documents from a Google Drive folder into the org's data room.

ImportDocuments ingests an existing company's corporate documents from a Google
Drive folder into the org's data room. The import is shallow — sub-folders are
skipped, not walked — and available only at the import stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyImportDocumentsRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyImportDocuments(ctx context.Context) CompanyAPICloudPostV1CompanyImportDocumentsRequest {
	return CompanyAPICloudPostV1CompanyImportDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudImportDocumentsOut
func (a *CompanyAPIService) CloudPostV1CompanyImportDocumentsExecute(r CompanyAPICloudPostV1CompanyImportDocumentsRequest) (*CloudImportDocumentsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudImportDocumentsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyImportDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/import/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudImportDocumentsIn == nil {
		return localVarReturnValue, nil, reportError("cloudImportDocumentsIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudImportDocumentsIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyKycRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudPostV1CompanyKycRequest) Execute() (*CloudKycStartOut, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyKycExecute(r)
}

/*
CloudPostV1CompanyKyc StartKYC opens an identity-verification session for every founder with the wired provider and records each session's reference on the formation.

StartKYC opens an identity-verification session for every founder with the
wired provider and records each session's reference on the formation.

A start is never a decision: any terminal status the provider reports at
inquiry time is clamped back to pending, so the payment gate can never open
here. A terminal status arrives only from POST /v1/company/kyc/refresh (the
provider) or POST /v1/company/kyc/decision (a Hanzo platform reviewer).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyKycRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyKyc(ctx context.Context) CompanyAPICloudPostV1CompanyKycRequest {
	return CompanyAPICloudPostV1CompanyKycRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudKycStartOut
func (a *CompanyAPIService) CloudPostV1CompanyKycExecute(r CompanyAPICloudPostV1CompanyKycRequest) (*CloudKycStartOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKycStartOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyKyc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/kyc"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyKycDecisionRequest struct {
	ctx             context.Context
	ApiService      *CompanyAPIService
	cloudDecisionIn *CloudDecisionIn
}

func (r CompanyAPICloudPostV1CompanyKycDecisionRequest) CloudDecisionIn(cloudDecisionIn CloudDecisionIn) CompanyAPICloudPostV1CompanyKycDecisionRequest {
	r.cloudDecisionIn = &cloudDecisionIn
	return r
}

func (r CompanyAPICloudPostV1CompanyKycDecisionRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyKycDecisionExecute(r)
}

/*
CloudPostV1CompanyKycDecision DecideKYC records a privileged reviewer's MANUAL decision on a founder's KYC — the human-in-the-loop path, and the ONLY route to a pass when no real provider is wired.

DecideKYC records a privileged reviewer's MANUAL decision on a founder's KYC —
the human-in-the-loop path, and the ONLY route to a pass when no real provider
is wired. It produces a DISTINCT reviewer_confirmed, never a provider
"verified".

Because Hanzo forms the entity and carries the formation KYC/AML obligation,
the reviewer is a HANZO platform reviewer (SuperAdmin), and the decision is
ATTRIBUTED to them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyKycDecisionRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyKycDecision(ctx context.Context) CompanyAPICloudPostV1CompanyKycDecisionRequest {
	return CompanyAPICloudPostV1CompanyKycDecisionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanyKycDecisionExecute(r CompanyAPICloudPostV1CompanyKycDecisionRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyKycDecision")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/kyc/decision"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudDecisionIn == nil {
		return localVarReturnValue, nil, reportError("cloudDecisionIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudDecisionIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyKycRefreshRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudPostV1CompanyKycRefreshRequest) Execute() (*CloudKycRefreshOut, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyKycRefreshExecute(r)
}

/*
CloudPostV1CompanyKycRefresh RefreshKYC reconciles each pending founder's KYC with the WIRED provider — the PULL path to a provider-reported terminal status.

RefreshKYC reconciles each pending founder's KYC with the WIRED provider — the
PULL path to a provider-reported terminal status. For the manual provider the
check stays pending; for a real provider it reflects the settled decision,
ATTRIBUTED to the provider.

It NEVER trusts a client-asserted status — the status comes from the provider
seam — so a client cannot force a pass here, and an already-passing founder
(e.g. a reviewer confirmation) is left untouched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyKycRefreshRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyKycRefresh(ctx context.Context) CompanyAPICloudPostV1CompanyKycRefreshRequest {
	return CompanyAPICloudPostV1CompanyKycRefreshRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudKycRefreshOut
func (a *CompanyAPIService) CloudPostV1CompanyKycRefreshExecute(r CompanyAPICloudPostV1CompanyKycRefreshRequest) (*CloudKycRefreshOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKycRefreshOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyKycRefresh")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/kyc/refresh"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanyPaymentRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudPostV1CompanyPaymentRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanyPaymentExecute(r)
}

/*
CloudPostV1CompanyPayment Method for CloudPostV1CompanyPayment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanyPaymentRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanyPayment(ctx context.Context) CompanyAPICloudPostV1CompanyPaymentRequest {
	return CompanyAPICloudPostV1CompanyPaymentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanyPaymentExecute(r CompanyAPICloudPostV1CompanyPaymentRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanyPayment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/payment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPostV1CompanySkipRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPICloudPostV1CompanySkipRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPostV1CompanySkipExecute(r)
}

/*
CloudPostV1CompanySkip Skip marks the org as already incorporated and moves it onto the import path, so an existing company brings its documents and cap table in instead of forming a new entity.

Skip marks the org as already incorporated and moves it onto the import path,
so an existing company brings its documents and cap table in instead of forming
a new entity. Available only at the structure stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPostV1CompanySkipRequest
*/
func (a *CompanyAPIService) CloudPostV1CompanySkip(ctx context.Context) CompanyAPICloudPostV1CompanySkipRequest {
	return CompanyAPICloudPostV1CompanySkipRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPostV1CompanySkipExecute(r CompanyAPICloudPostV1CompanySkipRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPostV1CompanySkip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/skip"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPICloudPutV1CompanyStructureRequest struct {
	ctx              context.Context
	ApiService       *CompanyAPIService
	cloudStructureIn *CloudStructureIn
}

func (r CompanyAPICloudPutV1CompanyStructureRequest) CloudStructureIn(cloudStructureIn CloudStructureIn) CompanyAPICloudPutV1CompanyStructureRequest {
	r.cloudStructureIn = &cloudStructureIn
	return r
}

func (r CompanyAPICloudPutV1CompanyStructureRequest) Execute() (*CloudFormationView, *http.Response, error) {
	return r.ApiService.CloudPutV1CompanyStructureExecute(r)
}

/*
CloudPutV1CompanyStructure SetStructure records the entity kind, the state of formation and the proposed name.

SetStructure records the entity kind, the state of formation and the proposed
name. Available only at the structure stage; an unknown structure or
jurisdiction, or an empty name, is refused with 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPICloudPutV1CompanyStructureRequest
*/
func (a *CompanyAPIService) CloudPutV1CompanyStructure(ctx context.Context) CompanyAPICloudPutV1CompanyStructureRequest {
	return CompanyAPICloudPutV1CompanyStructureRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFormationView
func (a *CompanyAPIService) CloudPutV1CompanyStructureExecute(r CompanyAPICloudPutV1CompanyStructureRequest) (*CloudFormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.CloudPutV1CompanyStructure")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/structure"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudStructureIn == nil {
		return localVarReturnValue, nil, reportError("cloudStructureIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudStructureIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
