/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MCPAPIService MCPAPI service
type MCPAPIService service

type MCPAPIAutomationsMcpRequest struct {
	ctx                   context.Context
	ApiService            *MCPAPIService
	automationsMcpRequest *AutomationsMcpRequest
}

func (r MCPAPIAutomationsMcpRequest) AutomationsMcpRequest(automationsMcpRequest AutomationsMcpRequest) MCPAPIAutomationsMcpRequest {
	r.automationsMcpRequest = &automationsMcpRequest
	return r
}

func (r MCPAPIAutomationsMcpRequest) Execute() (*AutomationsMcpResponse, *http.Response, error) {
	return r.ApiService.AutomationsMcpExecute(r)
}

/*
AutomationsMcp JSON-RPC 2.0 tool surface over connector actions

HIP-0300 JSON-RPC 2.0. Methods: `initialize`, `ping`, `tools/list`,
`tools/call`. Every connector action is a tool named `<connector>_<action>`.
JSON-RPC errors are returned with HTTP 200 and an `error` member.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MCPAPIAutomationsMcpRequest
*/
func (a *MCPAPIService) AutomationsMcp(ctx context.Context) MCPAPIAutomationsMcpRequest {
	return MCPAPIAutomationsMcpRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AutomationsMcpResponse
func (a *MCPAPIService) AutomationsMcpExecute(r MCPAPIAutomationsMcpRequest) (*AutomationsMcpResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AutomationsMcpResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MCPAPIService.AutomationsMcp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/mcp"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.automationsMcpRequest == nil {
		return localVarReturnValue, nil, reportError("automationsMcpRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.automationsMcpRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminDeletePromo200Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MCPAPICloudDeleteV1McpServersIdRequest struct {
	ctx        context.Context
	ApiService *MCPAPIService
	id         string
}

func (r MCPAPICloudDeleteV1McpServersIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1McpServersIdExecute(r)
}

/*
CloudDeleteV1McpServersId DeleteServer deregisters one of the caller org's external MCP servers, so its tools leave the registry.

DeleteServer deregisters one of the caller org's external MCP servers, so its
tools leave the registry. Scoped to the caller's org, so an id belonging to
another tenant is a 404 and not a delete. Answers 204 with no body; a server
this org does not have is 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the server to deregister, from the path.
	@return MCPAPICloudDeleteV1McpServersIdRequest
*/
func (a *MCPAPIService) CloudDeleteV1McpServersId(ctx context.Context, id string) MCPAPICloudDeleteV1McpServersIdRequest {
	return MCPAPICloudDeleteV1McpServersIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MCPAPIService) CloudDeleteV1McpServersIdExecute(r MCPAPICloudDeleteV1McpServersIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MCPAPIService.CloudDeleteV1McpServersId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mcp/servers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MCPAPICloudGetV1McpServersRequest struct {
	ctx        context.Context
	ApiService *MCPAPIService
}

func (r MCPAPICloudGetV1McpServersRequest) Execute() (*CloudMcpServerList, *http.Response, error) {
	return r.ApiService.CloudGetV1McpServersExecute(r)
}

/*
CloudGetV1McpServers ListServers lists the external MCP servers the caller's org has registered.

ListServers lists the external MCP servers the caller's org has registered.
Each record carries the URL and the name of the header its credential is
injected into; the credential VALUE lives only in KMS and is never returned,
so hasSecret is the whole of what this surface says about it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MCPAPICloudGetV1McpServersRequest
*/
func (a *MCPAPIService) CloudGetV1McpServers(ctx context.Context) MCPAPICloudGetV1McpServersRequest {
	return MCPAPICloudGetV1McpServersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMcpServerList
func (a *MCPAPIService) CloudGetV1McpServersExecute(r MCPAPICloudGetV1McpServersRequest) (*CloudMcpServerList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMcpServerList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MCPAPIService.CloudGetV1McpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mcp/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MCPAPICloudPostV1McpServersRequest struct {
	ctx                  context.Context
	ApiService           *MCPAPIService
	cloudCreateServerReq *CloudCreateServerReq
}

func (r MCPAPICloudPostV1McpServersRequest) CloudCreateServerReq(cloudCreateServerReq CloudCreateServerReq) MCPAPICloudPostV1McpServersRequest {
	r.cloudCreateServerReq = &cloudCreateServerReq
	return r
}

func (r MCPAPICloudPostV1McpServersRequest) Execute() (*CloudMCPServer, *http.Response, error) {
	return r.ApiService.CloudPostV1McpServersExecute(r)
}

/*
CloudPostV1McpServers CreateServer gives the caller's org one more external MCP server, so its tools join the org's tool plane and the fleet's MCP door.

CreateServer gives the caller's org one more external MCP server, so its tools
join the org's tool plane and the fleet's MCP door. It is the ONE way an org
gains a server, whether it typed the URL in or enabled a catalog listing: both
write the SAME record, and `source` says which it was. A second registration
path would be a second place for a server to exist, and then a second place to
forget to check the credential.

The credential VALUE is sealed in KMS under a per-org ref; the row keeps only
the URL, the header name to inject it into, and a has-secret flag — so a secret
with no KMS configured is refused 503 rather than stored in the clear. The URL
is SSRF-validated here and re-checked by the dialer at connect time, which is
the DNS-rebinding defense.

Enabling a listing the org already enabled REVISES that server rather than
adding a near-duplicate beside it, so a retried enable is the same one server.
Answers 201 with the stored record.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MCPAPICloudPostV1McpServersRequest
*/
func (a *MCPAPIService) CloudPostV1McpServers(ctx context.Context) MCPAPICloudPostV1McpServersRequest {
	return MCPAPICloudPostV1McpServersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMCPServer
func (a *MCPAPIService) CloudPostV1McpServersExecute(r MCPAPICloudPostV1McpServersRequest) (*CloudMCPServer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMCPServer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MCPAPIService.CloudPostV1McpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mcp/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateServerReq == nil {
		return localVarReturnValue, nil, reportError("cloudCreateServerReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateServerReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
