/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MqAPIService MqAPI service
type MqAPIService service

type MqAPICloudDeleteV1MqStreamsNameRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	name       string
}

func (r MqAPICloudDeleteV1MqStreamsNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1MqStreamsNameExecute(r)
}

/*
CloudDeleteV1MqStreamsName Removes a stream with all its messages and consumers.

Removes a stream with all its messages and consumers. Irreversible.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@return MqAPICloudDeleteV1MqStreamsNameRequest
*/
func (a *MqAPIService) CloudDeleteV1MqStreamsName(ctx context.Context, name string) MqAPICloudDeleteV1MqStreamsNameRequest {
	return MqAPICloudDeleteV1MqStreamsNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
func (a *MqAPIService) CloudDeleteV1MqStreamsNameExecute(r MqAPICloudDeleteV1MqStreamsNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudDeleteV1MqStreamsName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MqAPICloudDeleteV1MqStreamsNameMessagesSeqRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	name       string
	seq        int32
}

func (r MqAPICloudDeleteV1MqStreamsNameMessagesSeqRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1MqStreamsNameMessagesSeqExecute(r)
}

/*
CloudDeleteV1MqStreamsNameMessagesSeq Erases one message by sequence; the sequence gap remains.

Erases one message by sequence; the sequence gap remains.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@param seq Seq is the message's stream sequence, from the path.
	@return MqAPICloudDeleteV1MqStreamsNameMessagesSeqRequest
*/
func (a *MqAPIService) CloudDeleteV1MqStreamsNameMessagesSeq(ctx context.Context, name string, seq int32) MqAPICloudDeleteV1MqStreamsNameMessagesSeqRequest {
	return MqAPICloudDeleteV1MqStreamsNameMessagesSeqRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		seq:        seq,
	}
}

// Execute executes the request
func (a *MqAPIService) CloudDeleteV1MqStreamsNameMessagesSeqExecute(r MqAPICloudDeleteV1MqStreamsNameMessagesSeqRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudDeleteV1MqStreamsNameMessagesSeq")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}/messages/{seq}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"seq"+"}", url.PathEscape(parameterValueToString(r.seq, "seq")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MqAPICloudDeleteV1MqStreamsStreamConsumersNameRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	stream     string
	name       string
}

func (r MqAPICloudDeleteV1MqStreamsStreamConsumersNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1MqStreamsStreamConsumersNameExecute(r)
}

/*
CloudDeleteV1MqStreamsStreamConsumersName Removes a consumer and its delivery state; unacknowledged messages stay in the stream.

Removes a consumer and its delivery state; unacknowledged messages
stay in the stream.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@param name Name is the consumer name, from the path.
	@return MqAPICloudDeleteV1MqStreamsStreamConsumersNameRequest
*/
func (a *MqAPIService) CloudDeleteV1MqStreamsStreamConsumersName(ctx context.Context, stream string, name string) MqAPICloudDeleteV1MqStreamsStreamConsumersNameRequest {
	return MqAPICloudDeleteV1MqStreamsStreamConsumersNameRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
func (a *MqAPIService) CloudDeleteV1MqStreamsStreamConsumersNameExecute(r MqAPICloudDeleteV1MqStreamsStreamConsumersNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudDeleteV1MqStreamsStreamConsumersName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MqAPICloudGetV1MqHealthRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
}

func (r MqAPICloudGetV1MqHealthRequest) Execute() (*CloudHealth, *http.Response, error) {
	return r.ApiService.CloudGetV1MqHealthExecute(r)
}

/*
CloudGetV1MqHealth Reports whether the message plane behind this surface answers.

Reports whether the message plane behind this surface answers.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MqAPICloudGetV1MqHealthRequest
*/
func (a *MqAPIService) CloudGetV1MqHealth(ctx context.Context) MqAPICloudGetV1MqHealthRequest {
	return MqAPICloudGetV1MqHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudHealth
func (a *MqAPIService) CloudGetV1MqHealthExecute(r MqAPICloudGetV1MqHealthRequest) (*CloudHealth, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudHealth
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudGetV1MqHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudGetV1MqInfoRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
}

func (r MqAPICloudGetV1MqInfoRequest) Execute() (*CloudInfoOut, *http.Response, error) {
	return r.ApiService.CloudGetV1MqInfoExecute(r)
}

/*
CloudGetV1MqInfo Returns the broker's identity and the org's stream count.

Returns the broker's identity and the org's stream count.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MqAPICloudGetV1MqInfoRequest
*/
func (a *MqAPIService) CloudGetV1MqInfo(ctx context.Context) MqAPICloudGetV1MqInfoRequest {
	return MqAPICloudGetV1MqInfoRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudInfoOut
func (a *MqAPIService) CloudGetV1MqInfoExecute(r MqAPICloudGetV1MqInfoRequest) (*CloudInfoOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudInfoOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudGetV1MqInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudGetV1MqStreamsRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	limit      *int32
	offset     *int32
}

// Limit caps the streams returned (1–1000, default 100).
func (r MqAPICloudGetV1MqStreamsRequest) Limit(limit int32) MqAPICloudGetV1MqStreamsRequest {
	r.limit = &limit
	return r
}

// Offset skips that many streams, name-ordered.
func (r MqAPICloudGetV1MqStreamsRequest) Offset(offset int32) MqAPICloudGetV1MqStreamsRequest {
	r.offset = &offset
	return r
}

func (r MqAPICloudGetV1MqStreamsRequest) Execute() (*CloudStreams, *http.Response, error) {
	return r.ApiService.CloudGetV1MqStreamsExecute(r)
}

/*
CloudGetV1MqStreams Returns the org's streams, name-ordered, with their live state.

Returns the org's streams, name-ordered, with their live state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MqAPICloudGetV1MqStreamsRequest
*/
func (a *MqAPIService) CloudGetV1MqStreams(ctx context.Context) MqAPICloudGetV1MqStreamsRequest {
	return MqAPICloudGetV1MqStreamsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStreams
func (a *MqAPIService) CloudGetV1MqStreamsExecute(r MqAPICloudGetV1MqStreamsRequest) (*CloudStreams, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStreams
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudGetV1MqStreams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudGetV1MqStreamsNameRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	name       string
}

func (r MqAPICloudGetV1MqStreamsNameRequest) Execute() (*CloudStream, *http.Response, error) {
	return r.ApiService.CloudGetV1MqStreamsNameExecute(r)
}

/*
CloudGetV1MqStreamsName Returns one stream's configuration and live state.

Returns one stream's configuration and live state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@return MqAPICloudGetV1MqStreamsNameRequest
*/
func (a *MqAPIService) CloudGetV1MqStreamsName(ctx context.Context, name string) MqAPICloudGetV1MqStreamsNameRequest {
	return MqAPICloudGetV1MqStreamsNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudStream
func (a *MqAPIService) CloudGetV1MqStreamsNameExecute(r MqAPICloudGetV1MqStreamsNameRequest) (*CloudStream, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudGetV1MqStreamsName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudGetV1MqStreamsNameMessagesRequest struct {
	ctx           context.Context
	ApiService    *MqAPIService
	name          string
	seq           *int32
	lastBySubject *string
	nextBySubject *string
	limit         *int32
}

// Seq reads the message at this sequence (with next_by_subject: the walk&#39;s start).
func (r MqAPICloudGetV1MqStreamsNameMessagesRequest) Seq(seq int32) MqAPICloudGetV1MqStreamsNameMessagesRequest {
	r.seq = &seq
	return r
}

// LastBySubject reads the newest message on this org-relative subject.
func (r MqAPICloudGetV1MqStreamsNameMessagesRequest) LastBySubject(lastBySubject string) MqAPICloudGetV1MqStreamsNameMessagesRequest {
	r.lastBySubject = &lastBySubject
	return r
}

// NextBySubject walks forward from seq collecting messages on this org-relative subject (wildcards supported).
func (r MqAPICloudGetV1MqStreamsNameMessagesRequest) NextBySubject(nextBySubject string) MqAPICloudGetV1MqStreamsNameMessagesRequest {
	r.nextBySubject = &nextBySubject
	return r
}

// Limit caps a next_by_subject walk (1–1000, default 100).
func (r MqAPICloudGetV1MqStreamsNameMessagesRequest) Limit(limit int32) MqAPICloudGetV1MqStreamsNameMessagesRequest {
	r.limit = &limit
	return r
}

func (r MqAPICloudGetV1MqStreamsNameMessagesRequest) Execute() (*CloudReadOut, *http.Response, error) {
	return r.ApiService.CloudGetV1MqStreamsNameMessagesExecute(r)
}

/*
CloudGetV1MqStreamsNameMessages Reads stored messages without a consumer: by sequence, by newest on a subject, or walking a subject forward from a sequence.

Reads stored messages without a consumer: by sequence, by newest on a
subject, or walking a subject forward from a sequence.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@return MqAPICloudGetV1MqStreamsNameMessagesRequest
*/
func (a *MqAPIService) CloudGetV1MqStreamsNameMessages(ctx context.Context, name string) MqAPICloudGetV1MqStreamsNameMessagesRequest {
	return MqAPICloudGetV1MqStreamsNameMessagesRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudReadOut
func (a *MqAPIService) CloudGetV1MqStreamsNameMessagesExecute(r MqAPICloudGetV1MqStreamsNameMessagesRequest) (*CloudReadOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudReadOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudGetV1MqStreamsNameMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.seq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "seq", r.seq, "form", "")
	}
	if r.lastBySubject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_by_subject", r.lastBySubject, "form", "")
	}
	if r.nextBySubject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_by_subject", r.nextBySubject, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudGetV1MqStreamsStreamConsumersRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	stream     string
	limit      *int32
	offset     *int32
}

// Limit caps the consumers returned (1–1000, default 100).
func (r MqAPICloudGetV1MqStreamsStreamConsumersRequest) Limit(limit int32) MqAPICloudGetV1MqStreamsStreamConsumersRequest {
	r.limit = &limit
	return r
}

// Offset skips that many consumers, name-ordered.
func (r MqAPICloudGetV1MqStreamsStreamConsumersRequest) Offset(offset int32) MqAPICloudGetV1MqStreamsStreamConsumersRequest {
	r.offset = &offset
	return r
}

func (r MqAPICloudGetV1MqStreamsStreamConsumersRequest) Execute() (*CloudPickOut, *http.Response, error) {
	return r.ApiService.CloudGetV1MqStreamsStreamConsumersExecute(r)
}

/*
CloudGetV1MqStreamsStreamConsumers Returns a stream's consumers, name-ordered, with delivery state.

Returns a stream's consumers, name-ordered, with delivery state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@return MqAPICloudGetV1MqStreamsStreamConsumersRequest
*/
func (a *MqAPIService) CloudGetV1MqStreamsStreamConsumers(ctx context.Context, stream string) MqAPICloudGetV1MqStreamsStreamConsumersRequest {
	return MqAPICloudGetV1MqStreamsStreamConsumersRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return CloudPickOut
func (a *MqAPIService) CloudGetV1MqStreamsStreamConsumersExecute(r MqAPICloudGetV1MqStreamsStreamConsumersRequest) (*CloudPickOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPickOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudGetV1MqStreamsStreamConsumers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudGetV1MqStreamsStreamConsumersNameRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	stream     string
	name       string
}

func (r MqAPICloudGetV1MqStreamsStreamConsumersNameRequest) Execute() (*CloudConsumer, *http.Response, error) {
	return r.ApiService.CloudGetV1MqStreamsStreamConsumersNameExecute(r)
}

/*
CloudGetV1MqStreamsStreamConsumersName Returns one consumer's configuration and delivery state.

Returns one consumer's configuration and delivery state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@param name Name is the consumer name, from the path.
	@return MqAPICloudGetV1MqStreamsStreamConsumersNameRequest
*/
func (a *MqAPIService) CloudGetV1MqStreamsStreamConsumersName(ctx context.Context, stream string, name string) MqAPICloudGetV1MqStreamsStreamConsumersNameRequest {
	return MqAPICloudGetV1MqStreamsStreamConsumersNameRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudConsumer
func (a *MqAPIService) CloudGetV1MqStreamsStreamConsumersNameExecute(r MqAPICloudGetV1MqStreamsStreamConsumersNameRequest) (*CloudConsumer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConsumer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudGetV1MqStreamsStreamConsumersName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudPostV1MqStreamsRequest struct {
	ctx         context.Context
	ApiService  *MqAPIService
	cloudConfig *CloudConfig
}

func (r MqAPICloudPostV1MqStreamsRequest) CloudConfig(cloudConfig CloudConfig) MqAPICloudPostV1MqStreamsRequest {
	r.cloudConfig = &cloudConfig
	return r
}

func (r MqAPICloudPostV1MqStreamsRequest) Execute() (*CloudStream, *http.Response, error) {
	return r.ApiService.CloudPostV1MqStreamsExecute(r)
}

/*
CloudPostV1MqStreams Creates a durable stream in the org's namespace and returns it.

Creates a durable stream in the org's namespace and returns it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MqAPICloudPostV1MqStreamsRequest
*/
func (a *MqAPIService) CloudPostV1MqStreams(ctx context.Context) MqAPICloudPostV1MqStreamsRequest {
	return MqAPICloudPostV1MqStreamsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStream
func (a *MqAPIService) CloudPostV1MqStreamsExecute(r MqAPICloudPostV1MqStreamsRequest) (*CloudStream, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudPostV1MqStreams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudConfig == nil {
		return localVarReturnValue, nil, reportError("cloudConfig is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudConfig
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudPostV1MqStreamsNamePurgeRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	name       string
	cloudPurge *CloudPurge
}

func (r MqAPICloudPostV1MqStreamsNamePurgeRequest) CloudPurge(cloudPurge CloudPurge) MqAPICloudPostV1MqStreamsNamePurgeRequest {
	r.cloudPurge = &cloudPurge
	return r
}

func (r MqAPICloudPostV1MqStreamsNamePurgeRequest) Execute() (*CloudPurgeOut, *http.Response, error) {
	return r.ApiService.CloudPostV1MqStreamsNamePurgeExecute(r)
}

/*
CloudPostV1MqStreamsNamePurge Removes messages from a stream, leaving its consumers in place.

Removes messages from a stream, leaving its consumers in place.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@return MqAPICloudPostV1MqStreamsNamePurgeRequest
*/
func (a *MqAPIService) CloudPostV1MqStreamsNamePurge(ctx context.Context, name string) MqAPICloudPostV1MqStreamsNamePurgeRequest {
	return MqAPICloudPostV1MqStreamsNamePurgeRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudPurgeOut
func (a *MqAPIService) CloudPostV1MqStreamsNamePurgeExecute(r MqAPICloudPostV1MqStreamsNamePurgeRequest) (*CloudPurgeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPurgeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudPostV1MqStreamsNamePurge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}/purge"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPurge == nil {
		return localVarReturnValue, nil, reportError("cloudPurge is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPurge
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudPostV1MqStreamsStreamConsumersRequest struct {
	ctx         context.Context
	ApiService  *MqAPIService
	stream      string
	cloudMakeIn *CloudMakeIn
}

func (r MqAPICloudPostV1MqStreamsStreamConsumersRequest) CloudMakeIn(cloudMakeIn CloudMakeIn) MqAPICloudPostV1MqStreamsStreamConsumersRequest {
	r.cloudMakeIn = &cloudMakeIn
	return r
}

func (r MqAPICloudPostV1MqStreamsStreamConsumersRequest) Execute() (*CloudConsumer, *http.Response, error) {
	return r.ApiService.CloudPostV1MqStreamsStreamConsumersExecute(r)
}

/*
CloudPostV1MqStreamsStreamConsumers Creates a durable pull consumer on a stream and returns it.

Creates a durable pull consumer on a stream and returns it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@return MqAPICloudPostV1MqStreamsStreamConsumersRequest
*/
func (a *MqAPIService) CloudPostV1MqStreamsStreamConsumers(ctx context.Context, stream string) MqAPICloudPostV1MqStreamsStreamConsumersRequest {
	return MqAPICloudPostV1MqStreamsStreamConsumersRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return CloudConsumer
func (a *MqAPIService) CloudPostV1MqStreamsStreamConsumersExecute(r MqAPICloudPostV1MqStreamsStreamConsumersRequest) (*CloudConsumer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConsumer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudPostV1MqStreamsStreamConsumers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudMakeIn == nil {
		return localVarReturnValue, nil, reportError("cloudMakeIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudMakeIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudPostV1MqStreamsStreamConsumersNameNextRequest struct {
	ctx         context.Context
	ApiService  *MqAPIService
	stream      string
	name        string
	cloudNextIn *CloudNextIn
}

func (r MqAPICloudPostV1MqStreamsStreamConsumersNameNextRequest) CloudNextIn(cloudNextIn CloudNextIn) MqAPICloudPostV1MqStreamsStreamConsumersNameNextRequest {
	r.cloudNextIn = &cloudNextIn
	return r
}

func (r MqAPICloudPostV1MqStreamsStreamConsumersNameNextRequest) Execute() (*CloudReadOut, *http.Response, error) {
	return r.ApiService.CloudPostV1MqStreamsStreamConsumersNameNextExecute(r)
}

/*
CloudPostV1MqStreamsStreamConsumersNameNext Pulls the consumer's next batch.

Pulls the consumer's next batch. Delivered messages are acknowledged on
delivery — the broker will not redeliver what this call returns; an empty
wait answers 408.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@param name Name is the consumer name, from the path.
	@return MqAPICloudPostV1MqStreamsStreamConsumersNameNextRequest
*/
func (a *MqAPIService) CloudPostV1MqStreamsStreamConsumersNameNext(ctx context.Context, stream string, name string) MqAPICloudPostV1MqStreamsStreamConsumersNameNextRequest {
	return MqAPICloudPostV1MqStreamsStreamConsumersNameNextRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudReadOut
func (a *MqAPIService) CloudPostV1MqStreamsStreamConsumersNameNextExecute(r MqAPICloudPostV1MqStreamsStreamConsumersNameNextRequest) (*CloudReadOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudReadOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudPostV1MqStreamsStreamConsumersNameNext")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers/{name}/next"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudNextIn == nil {
		return localVarReturnValue, nil, reportError("cloudNextIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudNextIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPICloudPutV1MqStreamsNameRequest struct {
	ctx         context.Context
	ApiService  *MqAPIService
	name        string
	cloudConfig *CloudConfig
}

func (r MqAPICloudPutV1MqStreamsNameRequest) CloudConfig(cloudConfig CloudConfig) MqAPICloudPutV1MqStreamsNameRequest {
	r.cloudConfig = &cloudConfig
	return r
}

func (r MqAPICloudPutV1MqStreamsNameRequest) Execute() (*CloudStream, *http.Response, error) {
	return r.ApiService.CloudPutV1MqStreamsNameExecute(r)
}

/*
CloudPutV1MqStreamsName Reconfigures an existing stream; the path names the stream, and the immutable fields (storage, retention) must restate what they are.

Reconfigures an existing stream; the path names the stream, and the
immutable fields (storage, retention) must restate what they are.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, unique within the org (alphanumeric, hyphens, underscores).
	@return MqAPICloudPutV1MqStreamsNameRequest
*/
func (a *MqAPIService) CloudPutV1MqStreamsName(ctx context.Context, name string) MqAPICloudPutV1MqStreamsNameRequest {
	return MqAPICloudPutV1MqStreamsNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudStream
func (a *MqAPIService) CloudPutV1MqStreamsNameExecute(r MqAPICloudPutV1MqStreamsNameRequest) (*CloudStream, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.CloudPutV1MqStreamsName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudConfig == nil {
		return localVarReturnValue, nil, reportError("cloudConfig is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudConfig
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
