/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// UsageAPIService UsageAPI service
type UsageAPIService service

type UsageAPIGetUsageActivityRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	subject    *string
	id         *string
	from       *string
	to         *string
}

// Subject is what the series is about: \&quot;user\&quot; (default), \&quot;org\&quot; or \&quot;project\&quot;.
func (r UsageAPIGetUsageActivityRequest) Subject(subject string) UsageAPIGetUsageActivityRequest {
	r.subject = &subject
	return r
}

// ID names the subject within what the caller is entitled to see. Omitted (or \&quot;me\&quot;) it is the caller themselves, or their own org. Another user requires org admin and must belong to the caller&#39;s org; another org requires a SuperAdmin.
func (r UsageAPIGetUsageActivityRequest) Id(id string) UsageAPIGetUsageActivityRequest {
	r.id = &id
	return r
}

// From is the first day of the range, \&quot;2006-01-02\&quot;. Defaults to 90 days back.
func (r UsageAPIGetUsageActivityRequest) From(from string) UsageAPIGetUsageActivityRequest {
	r.from = &from
	return r
}

// To is the last day of the range, \&quot;2006-01-02\&quot;. Defaults to today; the span is clamped to 366 days.
func (r UsageAPIGetUsageActivityRequest) To(to string) UsageAPIGetUsageActivityRequest {
	r.to = &to
	return r
}

func (r UsageAPIGetUsageActivityRequest) Execute() (*ActivityView, *http.Response, error) {
	return r.ApiService.GetUsageActivityExecute(r)
}

/*
GetUsageActivity Activity returns the per-day usage series for ONE authorized subject — the points a contribution heatmap and a timeline are drawn from, gap-filled so every day in the range is present.

Activity returns the per-day usage series for ONE authorized subject — the points a
contribution heatmap and a timeline are drawn from, gap-filled so every day in the
range is present. Authorization is resolved server-side from the validated
principal, so a caller can never widen the subject past what they are entitled to:
a non-admin reads only themselves and their own org. subject=project answers empty
with a note, because the usage ledger records no project column yet. When the
warehouse is not connected the series answers empty with available=false rather
than fabricated days.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIGetUsageActivityRequest
*/
func (a *UsageAPIService) GetUsageActivity(ctx context.Context) UsageAPIGetUsageActivityRequest {
	return UsageAPIGetUsageActivityRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ActivityView
func (a *UsageAPIService) GetUsageActivityExecute(r UsageAPIGetUsageActivityRequest) (*ActivityView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ActivityView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.GetUsageActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/activity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.subject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject", r.subject, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIGetUsageAnalyticsRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	end        *string
	plan       *string
	range_     *string
	start      *string
}

// End is the exclusive window end, RFC3339. Read only when Range is custom.
func (r UsageAPIGetUsageAnalyticsRequest) End(end string) UsageAPIGetUsageAnalyticsRequest {
	r.end = &end
	return r
}

// Plan is the plan id whose entitlement decides access and retention. INTERIM: cloud has no org-to-plan resolver yet, so the caller names the plan; when that resolver lands this becomes the caller org&#39;s own plan.
func (r UsageAPIGetUsageAnalyticsRequest) Plan(plan string) UsageAPIGetUsageAnalyticsRequest {
	r.plan = &plan
	return r
}

// Range is the window: a count and a unit — 24h, 7d, 90d, any &lt;N&gt;h or &lt;N&gt;d — or day, week, month, all, custom. Empty means 24h. The window is then clamped forward to the plan&#39;s retention entitlement.
func (r UsageAPIGetUsageAnalyticsRequest) Range_(range_ string) UsageAPIGetUsageAnalyticsRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive window start, RFC3339. Read only when Range is custom, and clamped forward to the plan&#39;s retention floor.
func (r UsageAPIGetUsageAnalyticsRequest) Start(start string) UsageAPIGetUsageAnalyticsRequest {
	r.start = &start
	return r
}

func (r UsageAPIGetUsageAnalyticsRequest) Execute() (*UsageAnalyticsView, *http.Response, error) {
	return r.ApiService.GetUsageAnalyticsExecute(r)
}

/*
GetUsageAnalytics Is the entitlement-GATED per-provider breakdown of the caller org's LLM usage — the paid lens over the same warehouse ledger GET /v1/usage/summary reads its totals from.

Is the entitlement-GATED per-provider breakdown of the caller org's LLM
usage — the paid lens over the same warehouse ledger GET /v1/usage/summary reads
its totals from. Basic own-org usage stays ungated at /v1/usage/summary.

A plan that does not grant the analytics datastore is refused with 402, and an
unresolvable plan fails closed to the free floor, which does not grant it. The
window is clamped forward to the plan's retention entitlement, so a tenant can
never read older than its plan allows even with a custom start. The response is
marked no-store.

INTERIM (mirrors apps/world's limits echo): no org→plan resolver exists in cloud
yet — the subscription lookup is owned by the billing plane and the gateway
principal carries no plan claim — so the caller passes the plan and the gate
resolves THAT plan's access.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIGetUsageAnalyticsRequest
*/
func (a *UsageAPIService) GetUsageAnalytics(ctx context.Context) UsageAPIGetUsageAnalyticsRequest {
	return UsageAPIGetUsageAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UsageAnalyticsView
func (a *UsageAPIService) GetUsageAnalyticsExecute(r UsageAPIGetUsageAnalyticsRequest) (*UsageAnalyticsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UsageAnalyticsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.GetUsageAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.plan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plan", r.plan, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIGetUsageAnalyticsAccessRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	plan       *string
}

// Plan is a plan id from the live @hanzo/plans catalog. Empty resolves the free floor, and so does an id the catalog does not know — this never fails on an unknown plan.
func (r UsageAPIGetUsageAnalyticsAccessRequest) Plan(plan string) UsageAPIGetUsageAnalyticsAccessRequest {
	r.plan = &plan
	return r
}

func (r UsageAPIGetUsageAnalyticsAccessRequest) Execute() (*UsageAnalyticsAccess, *http.Response, error) {
	return r.ApiService.GetUsageAnalyticsAccessExecute(r)
}

/*
GetUsageAnalyticsAccess Echoes a plan's resolved analytics entitlement so a dashboard can configure itself against the LIVE catalog instead of hardcoding tier numbers.

Echoes a plan's resolved analytics entitlement so a dashboard can
configure itself against the LIVE catalog instead of hardcoding tier numbers. An
empty plan resolves the free floor, and a catalog resolution failure serves that
same floor rather than erroring — so this always answers 200. It is a read-only
contract echo and carries no tenant data.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIGetUsageAnalyticsAccessRequest
*/
func (a *UsageAPIService) GetUsageAnalyticsAccess(ctx context.Context) UsageAPIGetUsageAnalyticsAccessRequest {
	return UsageAPIGetUsageAnalyticsAccessRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UsageAnalyticsAccess
func (a *UsageAPIService) GetUsageAnalyticsAccessExecute(r UsageAPIGetUsageAnalyticsAccessRequest) (*UsageAnalyticsAccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UsageAnalyticsAccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.GetUsageAnalyticsAccess")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/analytics/access"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.plan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plan", r.plan, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIGetUsageLeaderboardRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	scope      *string
	metric     *string
	period     *string
	limit      *int32
}

// Scope picks the board: \&quot;personal\&quot; (default) ranks the caller among their own org&#39;s users, \&quot;org\&quot; is that same org board named for an admin, \&quot;global\&quot; ranks organizations against each other.
func (r UsageAPIGetUsageLeaderboardRequest) Scope(scope string) UsageAPIGetUsageLeaderboardRequest {
	r.scope = &scope
	return r
}

// Metric is the value ranked: tokens (default), requests, or cost.
func (r UsageAPIGetUsageLeaderboardRequest) Metric(metric string) UsageAPIGetUsageLeaderboardRequest {
	r.metric = &metric
	return r
}

// Period is the window ranked: day, week, month (default) or all.
func (r UsageAPIGetUsageLeaderboardRequest) Period(period string) UsageAPIGetUsageLeaderboardRequest {
	r.period = &period
	return r
}

// Limit caps the rows returned, clamped to 100. Defaults to 10, which is also what a non-positive or unparseable value takes.
func (r UsageAPIGetUsageLeaderboardRequest) Limit(limit int32) UsageAPIGetUsageLeaderboardRequest {
	r.limit = &limit
	return r
}

func (r UsageAPIGetUsageLeaderboardRequest) Execute() (*LeaderboardView, *http.Response, error) {
	return r.ApiService.GetUsageLeaderboardExecute(r)
}

/*
GetUsageLeaderboard Leaderboard ranks AI usage over a window, either the users of the caller's own org or organizations against each other, and always reports the caller's own standing even when it falls outside the returned page.

Leaderboard ranks AI usage over a window, either the users of the caller's own org
or organizations against each other, and always reports the caller's own standing
even when it falls outside the returned page. Identities are private by default: a
caller sees themselves, plus the peers or orgs that opted into public listing, and
only an admin sees their own org's members named. Cross-org spend is restricted to
platform admins. When the warehouse is not connected the board answers empty with
available=false rather than a fabricated rank.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIGetUsageLeaderboardRequest
*/
func (a *UsageAPIService) GetUsageLeaderboard(ctx context.Context) UsageAPIGetUsageLeaderboardRequest {
	return UsageAPIGetUsageLeaderboardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LeaderboardView
func (a *UsageAPIService) GetUsageLeaderboardExecute(r UsageAPIGetUsageLeaderboardRequest) (*LeaderboardView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LeaderboardView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.GetUsageLeaderboard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/leaderboard"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.metric != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric", r.metric, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIGetUsageLeaderboardOptinRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
}

func (r UsageAPIGetUsageLeaderboardOptinRequest) Execute() (*OptinView, *http.Response, error) {
	return r.ApiService.GetUsageLeaderboardOptinExecute(r)
}

/*
GetUsageLeaderboardOptin Returns the caller's own public-listing preference and their org's, each with whether the caller may change it.

Returns the caller's own public-listing preference and their org's,
each with whether the caller may change it. Public listing is opt-in and private
by default, so a fresh caller reads listed=false for both.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIGetUsageLeaderboardOptinRequest
*/
func (a *UsageAPIService) GetUsageLeaderboardOptin(ctx context.Context) UsageAPIGetUsageLeaderboardOptinRequest {
	return UsageAPIGetUsageLeaderboardOptinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OptinView
func (a *UsageAPIService) GetUsageLeaderboardOptinExecute(r UsageAPIGetUsageLeaderboardOptinRequest) (*OptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.GetUsageLeaderboardOptin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/leaderboard/optin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIGetUsageSamplesRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	account    *string
	provider   *string
	range_     *string
	window     *string
}

// Account narrows to ONE linked account of that provider. Empty covers every account the caller has linked there.
func (r UsageAPIGetUsageSamplesRequest) Account(account string) UsageAPIGetUsageSamplesRequest {
	r.account = &account
	return r
}

// Provider is the upstream to read, e.g. anthropic. Required.
func (r UsageAPIGetUsageSamplesRequest) Provider(provider string) UsageAPIGetUsageSamplesRequest {
	r.provider = &provider
	return r
}

// Range is the window to read: a count and a unit — 1h, 24h, 90d, any &lt;N&gt;h or &lt;N&gt;d — or day, week, month, all. Empty means 24h. A label that is not a count, or one reaching past the 730-day horizon, is refused rather than silently replaced.
func (r UsageAPIGetUsageSamplesRequest) Range_(range_ string) UsageAPIGetUsageSamplesRequest {
	r.range_ = &range_
	return r
}

// Window narrows to ONE window class: 6h, day, week or month. Empty covers every class.
func (r UsageAPIGetUsageSamplesRequest) Window(window string) UsageAPIGetUsageSamplesRequest {
	r.window = &window
	return r
}

func (r UsageAPIGetUsageSamplesRequest) Execute() (*DashResp, *http.Response, error) {
	return r.ApiService.GetUsageSamplesExecute(r)
}

/*
GetUsageSamples Is the PER-PROVIDER view: one connected account's own consumption of its own plan — \"my plan is 47% through its 6h window, resets at 14:20\".

Is the PER-PROVIDER view: one connected account's own consumption of its
own plan — "my plan is 47% through its 6h window, resets at 14:20".

`current` is the newest instance of each lane (the headline); `windows` is the
history behind it. Both come from ONE deduped read, so they can never disagree.
The rows are the caller's OWN linked accounts, scoped to the validated principal
and its subject — never another user's, and never another org's.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIGetUsageSamplesRequest
*/
func (a *UsageAPIService) GetUsageSamples(ctx context.Context) UsageAPIGetUsageSamplesRequest {
	return UsageAPIGetUsageSamplesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DashResp
func (a *UsageAPIService) GetUsageSamplesExecute(r UsageAPIGetUsageSamplesRequest) (*DashResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DashResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.GetUsageSamples")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/samples"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.account != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account", r.account, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.window != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "window", r.window, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIGetUsageSummaryRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	range_     *string
	start      *string
	end        *string
}

// Range is the window: a count and a unit — 24h, 7d, 90d, any &lt;N&gt;h or &lt;N&gt;d — or day, week, month, all, custom. Empty means 24h. A label this surface does not know, or one reaching past the 730-day horizon, is refused rather than silently replaced.
func (r UsageAPIGetUsageSummaryRequest) Range_(range_ string) UsageAPIGetUsageSummaryRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive window start, RFC3339. Read only when Range is custom.
func (r UsageAPIGetUsageSummaryRequest) Start(start string) UsageAPIGetUsageSummaryRequest {
	r.start = &start
	return r
}

// End is the exclusive window end, RFC3339. Read only when Range is custom.
func (r UsageAPIGetUsageSummaryRequest) End(end string) UsageAPIGetUsageSummaryRequest {
	r.end = &end
	return r
}

func (r UsageAPIGetUsageSummaryRequest) Execute() (*UsageSummary, *http.Response, error) {
	return r.ApiService.GetUsageSummaryExecute(r)
}

/*
GetUsageSummary Answers GET /v1/usage/summary: the caller's own usage footprint over one window — the categorized spend roll-up from the commerce ledger, the org's LLM usage totals from the warehouse, and the caller's OWN linked provider accounts beside the org's Hanzo-routed usage.

Answers GET /v1/usage/summary: the caller's own usage footprint over one
window — the categorized spend roll-up from the commerce ledger, the org's LLM
usage totals from the warehouse, and the caller's OWN linked provider accounts
beside the org's Hanzo-routed usage.

Every source degrades INDEPENDENTLY to honest zeros and says so in `sources` and
in its own `available` flag, so a partial deploy reports "no data" rather than
fabricating spend. The account rows and the Hanzo rows are concatenated and never
summed: a plan's percent is not money.

The response is org-scoped from the validated principal and marked no-store — a
signed-out caller is refused.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIGetUsageSummaryRequest
*/
func (a *UsageAPIService) GetUsageSummary(ctx context.Context) UsageAPIGetUsageSummaryRequest {
	return UsageAPIGetUsageSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UsageSummary
func (a *UsageAPIService) GetUsageSummaryExecute(r UsageAPIGetUsageSummaryRequest) (*UsageSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UsageSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.GetUsageSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIPostUsageRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	reportReq  *ReportReq
}

func (r UsageAPIPostUsageRequest) ReportReq(reportReq ReportReq) UsageAPIPostUsageRequest {
	r.reportReq = &reportReq
	return r
}

func (r UsageAPIPostUsageRequest) Execute() (*ReportResp, *http.Response, error) {
	return r.ApiService.PostUsageExecute(r)
}

/*
PostUsage Ingests a batch of account-usage samples — what a developer's OWN AI accounts have consumed of their OWN plans, metered from each provider's own login — and appends them to the warehouse series.

Ingests a batch of account-usage samples — what a developer's OWN AI
accounts have consumed of their OWN plans, metered from each provider's own
login — and appends them to the warehouse series. Answers 202.

Send either a `samples` array or one sample's fields at the top level. Every
sample needs a provider, a machine and a known window class; an unknown window or
kind is refused rather than silently rewritten, because a dash filled with a class
nobody reported is worse than an error. There is no timestamp field: the server
owns the observation clock, and a sample says which window it measured with
windowStart or resetsAt.

It is FAIL-SOFT on storage: a warehouse outage costs a poll of history
(stored:false), never a failed request. It records usage ONLY — the link registry
is refreshed separately via POST /v1/links, so there is one and only one way to
update an account row.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIPostUsageRequest
*/
func (a *UsageAPIService) PostUsage(ctx context.Context) UsageAPIPostUsageRequest {
	return UsageAPIPostUsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportResp
func (a *UsageAPIService) PostUsageExecute(r UsageAPIPostUsageRequest) (*ReportResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReportResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.PostUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reportReq == nil {
		return localVarReturnValue, nil, reportError("reportReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.reportReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIPostUsageRollupBackfillRequest struct {
	ctx           context.Context
	ApiService    *UsageAPIService
	backfillQuery *BackfillQuery
}

func (r UsageAPIPostUsageRollupBackfillRequest) BackfillQuery(backfillQuery BackfillQuery) UsageAPIPostUsageRollupBackfillRequest {
	r.backfillQuery = &backfillQuery
	return r
}

func (r UsageAPIPostUsageRollupBackfillRequest) Execute() (*BackfillResult, *http.Response, error) {
	return r.ApiService.PostUsageRollupBackfillExecute(r)
}

/*
PostUsageRollupBackfill Backfill seeds the derived usage rollup from ledger history — the rows written before the incremental view existed, which that view can never capture.

Backfill seeds the derived usage rollup from ledger history — the rows written
before the incremental view existed, which that view can never capture. SuperAdmin
only. Because the rollup accumulates, a second unguarded run would double every
day it re-reads, so it refuses with 409 when the rollup already holds rows unless
force=true is passed; forcing WILL double-count.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIPostUsageRollupBackfillRequest
*/
func (a *UsageAPIService) PostUsageRollupBackfill(ctx context.Context) UsageAPIPostUsageRollupBackfillRequest {
	return UsageAPIPostUsageRollupBackfillRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BackfillResult
func (a *UsageAPIService) PostUsageRollupBackfillExecute(r UsageAPIPostUsageRollupBackfillRequest) (*BackfillResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BackfillResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.PostUsageRollupBackfill")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/rollup/backfill"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backfillQuery == nil {
		return localVarReturnValue, nil, reportError("backfillQuery is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.backfillQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIPutUsageLeaderboardOptinRequest struct {
	ctx          context.Context
	ApiService   *UsageAPIService
	userOptinReq *UserOptinReq
}

func (r UsageAPIPutUsageLeaderboardOptinRequest) UserOptinReq(userOptinReq UserOptinReq) UsageAPIPutUsageLeaderboardOptinRequest {
	r.userOptinReq = &userOptinReq
	return r
}

func (r UsageAPIPutUsageLeaderboardOptinRequest) Execute() (*UserOptinView, *http.Response, error) {
	return r.ApiService.PutUsageLeaderboardOptinExecute(r)
}

/*
PutUsageLeaderboardOptin Sets the CALLER's own public-listing preference on the leaderboard.

Sets the CALLER's own public-listing preference on the leaderboard.
Self only: the row written is keyed by the caller's validated ledger identity, so
this can never edit another member's visibility whatever the request says. A
caller opting in with no handle is given their username, so a listed row never
renders as "Anonymous" to its own owner.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIPutUsageLeaderboardOptinRequest
*/
func (a *UsageAPIService) PutUsageLeaderboardOptin(ctx context.Context) UsageAPIPutUsageLeaderboardOptinRequest {
	return UsageAPIPutUsageLeaderboardOptinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserOptinView
func (a *UsageAPIService) PutUsageLeaderboardOptinExecute(r UsageAPIPutUsageLeaderboardOptinRequest) (*UserOptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserOptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.PutUsageLeaderboardOptin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/leaderboard/optin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userOptinReq == nil {
		return localVarReturnValue, nil, reportError("userOptinReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userOptinReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPIPutUsageLeaderboardOptinOrgRequest struct {
	ctx         context.Context
	ApiService  *UsageAPIService
	orgOptinReq *OrgOptinReq
}

func (r UsageAPIPutUsageLeaderboardOptinOrgRequest) OrgOptinReq(orgOptinReq OrgOptinReq) UsageAPIPutUsageLeaderboardOptinOrgRequest {
	r.orgOptinReq = &orgOptinReq
	return r
}

func (r UsageAPIPutUsageLeaderboardOptinOrgRequest) Execute() (*OrgOptinView, *http.Response, error) {
	return r.ApiService.PutUsageLeaderboardOptinOrgExecute(r)
}

/*
PutUsageLeaderboardOptinOrg Sets the ORG's listing on the cross-org global board.

Sets the ORG's listing on the cross-org global board. Only an admin of
the caller's own org — an org admin or a platform SuperAdmin — may change it, and
the org written is the caller's validated tenant, never a value from the request.
Listing consents to publishing the org's usage VOLUME; cross-org spend stays
restricted to platform admins regardless.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPIPutUsageLeaderboardOptinOrgRequest
*/
func (a *UsageAPIService) PutUsageLeaderboardOptinOrg(ctx context.Context) UsageAPIPutUsageLeaderboardOptinOrgRequest {
	return UsageAPIPutUsageLeaderboardOptinOrgRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrgOptinView
func (a *UsageAPIService) PutUsageLeaderboardOptinOrgExecute(r UsageAPIPutUsageLeaderboardOptinOrgRequest) (*OrgOptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrgOptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.PutUsageLeaderboardOptinOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/leaderboard/optin/org"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.orgOptinReq == nil {
		return localVarReturnValue, nil, reportError("orgOptinReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.orgOptinReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
