/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// LegalAPIService LegalAPI service
type LegalAPIService service

type LegalAPICloudGetV1LegalDocumentsRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	limit      *int32
}

// Limit bounds the page. Absent or unparseable means the store&#39;s own default.
func (r LegalAPICloudGetV1LegalDocumentsRequest) Limit(limit int32) LegalAPICloudGetV1LegalDocumentsRequest {
	r.limit = &limit
	return r
}

func (r LegalAPICloudGetV1LegalDocumentsRequest) Execute() (*CloudDocumentPage, *http.Response, error) {
	return r.ApiService.CloudGetV1LegalDocumentsExecute(r)
}

/*
CloudGetV1LegalDocuments ListLegalDocuments returns the org's generated documents, newest first, WITHOUT their rendered content — fetch one document to read its body.

ListLegalDocuments returns the org's generated documents, newest first, WITHOUT
their rendered content — fetch one document to read its body.

The response is marked no-store: these records name the counterparties an org is
contracting with, and must not sit in a shared cache.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPICloudGetV1LegalDocumentsRequest
*/
func (a *LegalAPIService) CloudGetV1LegalDocuments(ctx context.Context) LegalAPICloudGetV1LegalDocumentsRequest {
	return LegalAPICloudGetV1LegalDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDocumentPage
func (a *LegalAPIService) CloudGetV1LegalDocumentsExecute(r LegalAPICloudGetV1LegalDocumentsRequest) (*CloudDocumentPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDocumentPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudGetV1LegalDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudGetV1LegalDocumentsIdRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	id         string
}

func (r LegalAPICloudGetV1LegalDocumentsIdRequest) Execute() (*CloudDocumentReply, *http.Response, error) {
	return r.ApiService.CloudGetV1LegalDocumentsIdExecute(r)
}

/*
CloudGetV1LegalDocumentsId GetLegalDocument returns one of the org's documents WITH its rendered body.

GetLegalDocument returns one of the org's documents WITH its rendered body. 404
when the org has no document with that id — a document is never readable across
orgs.

The response is marked no-store: the body is contract text, sealed at rest and
returned only to the owning org, and must not sit in a shared cache.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the document's server-minted handle, \"doc_\"-prefixed.
	@return LegalAPICloudGetV1LegalDocumentsIdRequest
*/
func (a *LegalAPIService) CloudGetV1LegalDocumentsId(ctx context.Context, id string) LegalAPICloudGetV1LegalDocumentsIdRequest {
	return LegalAPICloudGetV1LegalDocumentsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudDocumentReply
func (a *LegalAPIService) CloudGetV1LegalDocumentsIdExecute(r LegalAPICloudGetV1LegalDocumentsIdRequest) (*CloudDocumentReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDocumentReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudGetV1LegalDocumentsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudGetV1LegalFilingsRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	limit      *int32
}

// Limit bounds the page. Absent or unparseable means the store&#39;s own default.
func (r LegalAPICloudGetV1LegalFilingsRequest) Limit(limit int32) LegalAPICloudGetV1LegalFilingsRequest {
	r.limit = &limit
	return r
}

func (r LegalAPICloudGetV1LegalFilingsRequest) Execute() (*CloudFilingPage, *http.Response, error) {
	return r.ApiService.CloudGetV1LegalFilingsExecute(r)
}

/*
CloudGetV1LegalFilings ListLegalFilings returns the org's filing records, newest first — which documents were filed where, through which provider, and what the filing's honest status is.

ListLegalFilings returns the org's filing records, newest first — which documents
were filed where, through which provider, and what the filing's honest status is.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPICloudGetV1LegalFilingsRequest
*/
func (a *LegalAPIService) CloudGetV1LegalFilings(ctx context.Context) LegalAPICloudGetV1LegalFilingsRequest {
	return LegalAPICloudGetV1LegalFilingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFilingPage
func (a *LegalAPIService) CloudGetV1LegalFilingsExecute(r LegalAPICloudGetV1LegalFilingsRequest) (*CloudFilingPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFilingPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudGetV1LegalFilings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/filings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudGetV1LegalHealthRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
}

func (r LegalAPICloudGetV1LegalHealthRequest) Execute() (*CloudLegalHealth, *http.Response, error) {
	return r.ApiService.CloudGetV1LegalHealthExecute(r)
}

/*
CloudGetV1LegalHealth LegalHealth reports that the legal subsystem is serving and how many built-in templates its catalog carries.

LegalHealth reports that the legal subsystem is serving and how many built-in
templates its catalog carries. It reads no tenant, so a liveness prober that
sends no principal is answered rather than refused.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPICloudGetV1LegalHealthRequest
*/
func (a *LegalAPIService) CloudGetV1LegalHealth(ctx context.Context) LegalAPICloudGetV1LegalHealthRequest {
	return LegalAPICloudGetV1LegalHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudLegalHealth
func (a *LegalAPIService) CloudGetV1LegalHealthExecute(r LegalAPICloudGetV1LegalHealthRequest) (*CloudLegalHealth, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudLegalHealth
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudGetV1LegalHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudGetV1LegalTemplatesRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
}

func (r LegalAPICloudGetV1LegalTemplatesRequest) Execute() (*CloudTemplateCatalog, *http.Response, error) {
	return r.ApiService.CloudGetV1LegalTemplatesExecute(r)
}

/*
CloudGetV1LegalTemplates ListLegalTemplates returns the org's effective template catalog: every built-in template, with any the org has overridden replaced by its own latest version.

ListLegalTemplates returns the org's effective template catalog: every built-in
template, with any the org has overridden replaced by its own latest version.

The listing carries each template's metadata and its declared MERGE FIELDS — the
keys a document generation must supply — but never the template bodies; fetch one
template to get its body. Templates in the formation and equity categories are
marked counselReview: every document rendered from them carries a counsel notice,
and that posture cannot be dropped by an override.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPICloudGetV1LegalTemplatesRequest
*/
func (a *LegalAPIService) CloudGetV1LegalTemplates(ctx context.Context) LegalAPICloudGetV1LegalTemplatesRequest {
	return LegalAPICloudGetV1LegalTemplatesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudTemplateCatalog
func (a *LegalAPIService) CloudGetV1LegalTemplatesExecute(r LegalAPICloudGetV1LegalTemplatesRequest) (*CloudTemplateCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTemplateCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudGetV1LegalTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudGetV1LegalTemplatesIdRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	id         string
}

func (r LegalAPICloudGetV1LegalTemplatesIdRequest) Execute() (*CloudTemplateReply, *http.Response, error) {
	return r.ApiService.CloudGetV1LegalTemplatesIdExecute(r)
}

/*
CloudGetV1LegalTemplatesId GetLegalTemplate returns one template resolved for the caller's org — the org's own override if it has saved one, else the built-in — with its full text/template body and its declared merge fields.

GetLegalTemplate returns one template resolved for the caller's org — the org's
own override if it has saved one, else the built-in — with its full text/template
body and its declared merge fields. 404 when neither exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the template's stable id, e.g. \"nda\" or \"safe\".
	@return LegalAPICloudGetV1LegalTemplatesIdRequest
*/
func (a *LegalAPIService) CloudGetV1LegalTemplatesId(ctx context.Context, id string) LegalAPICloudGetV1LegalTemplatesIdRequest {
	return LegalAPICloudGetV1LegalTemplatesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudTemplateReply
func (a *LegalAPIService) CloudGetV1LegalTemplatesIdExecute(r LegalAPICloudGetV1LegalTemplatesIdRequest) (*CloudTemplateReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTemplateReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudGetV1LegalTemplatesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudPostV1LegalDocumentsRequest struct {
	ctx                  context.Context
	ApiService           *LegalAPIService
	cloudGenerateRequest *CloudGenerateRequest
}

func (r LegalAPICloudPostV1LegalDocumentsRequest) CloudGenerateRequest(cloudGenerateRequest CloudGenerateRequest) LegalAPICloudPostV1LegalDocumentsRequest {
	r.cloudGenerateRequest = &cloudGenerateRequest
	return r
}

func (r LegalAPICloudPostV1LegalDocumentsRequest) Execute() (*CloudDocumentReply, *http.Response, error) {
	return r.ApiService.CloudPostV1LegalDocumentsExecute(r)
}

/*
CloudPostV1LegalDocuments GenerateLegalDocument renders a document from a template and the caller's own merge data, seals it in the org's store, and returns it with its rendered body.

GenerateLegalDocument renders a document from a template and the caller's own
merge data, seals it in the org's store, and returns it with its rendered body.

The render is PURE and deterministic — no clock, no I/O — so the same template
version and the same data always produce identical bytes, which is what makes a
generated contract reproducible. It fails CLOSED on a missing merge field: there
is no blank-filled contract, only a 400 naming the fields that were absent. When
the template is counsel-review the rendered body opens with the counsel notice,
which no caller can suppress.

The document is a DRAFT. Hanzo Legal manages documents; it does not give legal
advice and does not determine that a document is valid or sufficient.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPICloudPostV1LegalDocumentsRequest
*/
func (a *LegalAPIService) CloudPostV1LegalDocuments(ctx context.Context) LegalAPICloudPostV1LegalDocumentsRequest {
	return LegalAPICloudPostV1LegalDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDocumentReply
func (a *LegalAPIService) CloudPostV1LegalDocumentsExecute(r LegalAPICloudPostV1LegalDocumentsRequest) (*CloudDocumentReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDocumentReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudPostV1LegalDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudGenerateRequest == nil {
		return localVarReturnValue, nil, reportError("cloudGenerateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudGenerateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudPostV1LegalDocumentsByIdSignCompleteRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	id         string
}

func (r LegalAPICloudPostV1LegalDocumentsByIdSignCompleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1LegalDocumentsByIdSignCompleteExecute(r)
}

/*
CloudPostV1LegalDocumentsByIdSignComplete Method for CloudPostV1LegalDocumentsByIdSignComplete

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return LegalAPICloudPostV1LegalDocumentsByIdSignCompleteRequest
*/
func (a *LegalAPIService) CloudPostV1LegalDocumentsByIdSignComplete(ctx context.Context, id string) LegalAPICloudPostV1LegalDocumentsByIdSignCompleteRequest {
	return LegalAPICloudPostV1LegalDocumentsByIdSignCompleteRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *LegalAPIService) CloudPostV1LegalDocumentsByIdSignCompleteExecute(r LegalAPICloudPostV1LegalDocumentsByIdSignCompleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudPostV1LegalDocumentsByIdSignComplete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents/{id}/sign/complete"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LegalAPICloudPostV1LegalDocumentsIdSignRequest struct {
	ctx              context.Context
	ApiService       *LegalAPIService
	id               string
	cloudSignRequest *CloudSignRequest
}

func (r LegalAPICloudPostV1LegalDocumentsIdSignRequest) CloudSignRequest(cloudSignRequest CloudSignRequest) LegalAPICloudPostV1LegalDocumentsIdSignRequest {
	r.cloudSignRequest = &cloudSignRequest
	return r
}

func (r LegalAPICloudPostV1LegalDocumentsIdSignRequest) Execute() (*CloudSignReply, *http.Response, error) {
	return r.ApiService.CloudPostV1LegalDocumentsIdSignExecute(r)
}

/*
CloudPostV1LegalDocumentsIdSign RequestLegalSignature opens an e-signature request over one document and moves it to out_for_signature, returning the provider's reference for the request.

RequestLegalSignature opens an e-signature request over one document and moves it
to out_for_signature, returning the provider's reference for the request.

The provider is whatever this deployment has wired. The honest default is
"manual": the request is recorded and the org fulfils it out of band — nothing
here fabricates a signature, and the stub never reports itself complete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the document to send for signature, from the path.
	@return LegalAPICloudPostV1LegalDocumentsIdSignRequest
*/
func (a *LegalAPIService) CloudPostV1LegalDocumentsIdSign(ctx context.Context, id string) LegalAPICloudPostV1LegalDocumentsIdSignRequest {
	return LegalAPICloudPostV1LegalDocumentsIdSignRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudSignReply
func (a *LegalAPIService) CloudPostV1LegalDocumentsIdSignExecute(r LegalAPICloudPostV1LegalDocumentsIdSignRequest) (*CloudSignReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSignReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudPostV1LegalDocumentsIdSign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents/{id}/sign"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudSignRequest == nil {
		return localVarReturnValue, nil, reportError("cloudSignRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudSignRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudPostV1LegalFilingsRequest struct {
	ctx                context.Context
	ApiService         *LegalAPIService
	cloudFilingRequest *CloudFilingRequest
}

func (r LegalAPICloudPostV1LegalFilingsRequest) CloudFilingRequest(cloudFilingRequest CloudFilingRequest) LegalAPICloudPostV1LegalFilingsRequest {
	r.cloudFilingRequest = &cloudFilingRequest
	return r
}

func (r LegalAPICloudPostV1LegalFilingsRequest) Execute() (*CloudFilingReply, *http.Response, error) {
	return r.ApiService.CloudPostV1LegalFilingsExecute(r)
}

/*
CloudPostV1LegalFilings CreateLegalFiling records a filing of one or more of the org's documents with a state or agency, and returns the tracking record.

CreateLegalFiling records a filing of one or more of the org's documents with a
state or agency, and returns the tracking record.

It is a TRACKING record, not an autonomous filing. With no filing partner wired
the honest status is "manual" and the note says so: the documents were generated
for signature, and the org files them through its registered agent. Nothing here
invents a filing id it does not have.

Every document id must belong to the caller's org; one that does not is a 404
naming it, so a filing can never reach across tenants.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPICloudPostV1LegalFilingsRequest
*/
func (a *LegalAPIService) CloudPostV1LegalFilings(ctx context.Context) LegalAPICloudPostV1LegalFilingsRequest {
	return LegalAPICloudPostV1LegalFilingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFilingReply
func (a *LegalAPIService) CloudPostV1LegalFilingsExecute(r LegalAPICloudPostV1LegalFilingsRequest) (*CloudFilingReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFilingReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudPostV1LegalFilings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/filings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudFilingRequest == nil {
		return localVarReturnValue, nil, reportError("cloudFilingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudFilingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPICloudPutV1LegalTemplatesIdRequest struct {
	ctx                   context.Context
	ApiService            *LegalAPIService
	id                    string
	cloudTemplateOverride *CloudTemplateOverride
}

func (r LegalAPICloudPutV1LegalTemplatesIdRequest) CloudTemplateOverride(cloudTemplateOverride CloudTemplateOverride) LegalAPICloudPutV1LegalTemplatesIdRequest {
	r.cloudTemplateOverride = &cloudTemplateOverride
	return r
}

func (r LegalAPICloudPutV1LegalTemplatesIdRequest) Execute() (*CloudTemplateReply, *http.Response, error) {
	return r.ApiService.CloudPutV1LegalTemplatesIdExecute(r)
}

/*
CloudPutV1LegalTemplatesId SaveLegalTemplateOverride saves the org's own version of a template — a custom NDA, a house MSA — and returns it with its new version number.

SaveLegalTemplateOverride saves the org's own version of a template — a custom
NDA, a house MSA — and returns it with its new version number. It takes effect
for that org only; other orgs keep the built-in.

Two boundaries cannot be crossed here. Overriding a built-in INHERITS its
category and its counsel-review posture, which can be raised but never dropped;
and a formation or equity template is counsel-review whatever the caller sends,
so no org can generate a securities-class document without the notice.

The body is validated on save, not at generation: a template that references an
UNDECLARED merge field is refused with 400 rather than stored and rendered blank
into a contract months later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the template to override, from the path. Overriding a built-in id inherits that built-in's category, title and counsel-review posture.
	@return LegalAPICloudPutV1LegalTemplatesIdRequest
*/
func (a *LegalAPIService) CloudPutV1LegalTemplatesId(ctx context.Context, id string) LegalAPICloudPutV1LegalTemplatesIdRequest {
	return LegalAPICloudPutV1LegalTemplatesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudTemplateReply
func (a *LegalAPIService) CloudPutV1LegalTemplatesIdExecute(r LegalAPICloudPutV1LegalTemplatesIdRequest) (*CloudTemplateReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTemplateReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.CloudPutV1LegalTemplatesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudTemplateOverride == nil {
		return localVarReturnValue, nil, reportError("cloudTemplateOverride is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudTemplateOverride
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
