/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CampaignAPIService CampaignAPI service
type CampaignAPIService service

type CampaignAPICloudDeleteV1CampaignIdRequest struct {
	ctx        context.Context
	ApiService *CampaignAPIService
	id         string
}

func (r CampaignAPICloudDeleteV1CampaignIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1CampaignIdExecute(r)
}

/*
CloudDeleteV1CampaignId DeleteCampaign removes one campaign of the caller's org and answers 204 with no body.

DeleteCampaign removes one campaign of the caller's org and answers 204 with no
body. 404 when the org has no campaign with that id.

It deletes the RECORD, not the executions: a campaign whose channels are live
on a provider should be paused first, or those executions keep running with
nothing here to report them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign's server-minted handle, \"cmp_\"-prefixed.
	@return CampaignAPICloudDeleteV1CampaignIdRequest
*/
func (a *CampaignAPIService) CloudDeleteV1CampaignId(ctx context.Context, id string) CampaignAPICloudDeleteV1CampaignIdRequest {
	return CampaignAPICloudDeleteV1CampaignIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CampaignAPIService) CloudDeleteV1CampaignIdExecute(r CampaignAPICloudDeleteV1CampaignIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudDeleteV1CampaignId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CampaignAPICloudDeleteV1CampaignIdChannelsKindRequest struct {
	ctx        context.Context
	ApiService *CampaignAPIService
	id         string
	kind       string
}

func (r CampaignAPICloudDeleteV1CampaignIdChannelsKindRequest) Execute() (*CloudCampaignRecord, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CampaignIdChannelsKindExecute(r)
}

/*
CloudDeleteV1CampaignIdChannelsKind RemoveCampaignChannel drops one channel from a campaign and returns the updated campaign.

RemoveCampaignChannel drops one channel from a campaign and returns the updated
campaign. 404 when the campaign carries no channel of that kind.

It removes the channel from the PLAN. A channel that is live at its provider
should be paused first — dropping the row here leaves nothing to pause it with
afterwards.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign, from the path.
	@param kind Kind is the channel to remove: paid, organic or email.
	@return CampaignAPICloudDeleteV1CampaignIdChannelsKindRequest
*/
func (a *CampaignAPIService) CloudDeleteV1CampaignIdChannelsKind(ctx context.Context, id string, kind string) CampaignAPICloudDeleteV1CampaignIdChannelsKindRequest {
	return CampaignAPICloudDeleteV1CampaignIdChannelsKindRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		kind:       kind,
	}
}

// Execute executes the request
//
//	@return CloudCampaignRecord
func (a *CampaignAPIService) CloudDeleteV1CampaignIdChannelsKindExecute(r CampaignAPICloudDeleteV1CampaignIdChannelsKindRequest) (*CloudCampaignRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudDeleteV1CampaignIdChannelsKind")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/{id}/channels/{kind}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"kind"+"}", url.PathEscape(parameterValueToString(r.kind, "kind")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CampaignAPICloudGetV1CampaignRequest struct {
	ctx        context.Context
	ApiService *CampaignAPIService
	status     *string
	limit      *int32
}

// Status keeps only campaigns in that state: draft, live, paused or failed. Empty means any.
func (r CampaignAPICloudGetV1CampaignRequest) Status(status string) CampaignAPICloudGetV1CampaignRequest {
	r.status = &status
	return r
}

// Limit bounds the page. 0 or less means the default of 200; anything above 1000 is clamped to 1000.
func (r CampaignAPICloudGetV1CampaignRequest) Limit(limit int32) CampaignAPICloudGetV1CampaignRequest {
	r.limit = &limit
	return r
}

func (r CampaignAPICloudGetV1CampaignRequest) Execute() (*CloudCampaignPage, *http.Response, error) {
	return r.ApiService.CloudGetV1CampaignExecute(r)
}

/*
CloudGetV1Campaign ListCampaigns returns the org's campaigns, newest first, optionally narrowed to one status.

ListCampaigns returns the org's campaigns, newest first, optionally narrowed to
one status.

A campaign is the top-level go-to-market object: a value that SPANS channels
(paid, organic, email) and fans out to the executor for each. The listing is
org-scoped server-side, so one org can never see another's campaigns.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CampaignAPICloudGetV1CampaignRequest
*/
func (a *CampaignAPIService) CloudGetV1Campaign(ctx context.Context) CampaignAPICloudGetV1CampaignRequest {
	return CampaignAPICloudGetV1CampaignRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCampaignPage
func (a *CampaignAPIService) CloudGetV1CampaignExecute(r CampaignAPICloudGetV1CampaignRequest) (*CloudCampaignPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudGetV1Campaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CampaignAPICloudGetV1CampaignIdRequest struct {
	ctx        context.Context
	ApiService *CampaignAPIService
	id         string
}

func (r CampaignAPICloudGetV1CampaignIdRequest) Execute() (*CloudCampaignRecord, *http.Response, error) {
	return r.ApiService.CloudGetV1CampaignIdExecute(r)
}

/*
CloudGetV1CampaignId GetCampaign returns one campaign of the caller's org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status.

GetCampaign returns one campaign of the caller's org — its name, audience,
creatives, channels with their per-channel launch state, schedule, budget and
status. 404 when the org has no campaign with that id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign's server-minted handle, \"cmp_\"-prefixed.
	@return CampaignAPICloudGetV1CampaignIdRequest
*/
func (a *CampaignAPIService) CloudGetV1CampaignId(ctx context.Context, id string) CampaignAPICloudGetV1CampaignIdRequest {
	return CampaignAPICloudGetV1CampaignIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCampaignRecord
func (a *CampaignAPIService) CloudGetV1CampaignIdExecute(r CampaignAPICloudGetV1CampaignIdRequest) (*CloudCampaignRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudGetV1CampaignId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CampaignAPICloudGetV1CampaignIdMetricsRequest struct {
	ctx        context.Context
	ApiService *CampaignAPIService
	id         string
	range_     *string
	start      *string
	end        *string
}

// Range is the lookback window: 24h, 7d, 30d or 90d. Anything else, including empty, reads as 30d.
func (r CampaignAPICloudGetV1CampaignIdMetricsRequest) Range_(range_ string) CampaignAPICloudGetV1CampaignIdMetricsRequest {
	r.range_ = &range_
	return r
}

// Start is an explicit RFC3339 window start. Honored only together with End, and only when End is after it.
func (r CampaignAPICloudGetV1CampaignIdMetricsRequest) Start(start string) CampaignAPICloudGetV1CampaignIdMetricsRequest {
	r.start = &start
	return r
}

// End is an explicit RFC3339 window end.
func (r CampaignAPICloudGetV1CampaignIdMetricsRequest) End(end string) CampaignAPICloudGetV1CampaignIdMetricsRequest {
	r.end = &end
	return r
}

func (r CampaignAPICloudGetV1CampaignIdMetricsRequest) Execute() (*CloudCampaignResults, *http.Response, error) {
	return r.ApiService.CloudGetV1CampaignIdMetricsExecute(r)
}

/*
CloudGetV1CampaignIdMetrics CampaignMetrics returns a campaign's results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel's connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.

CampaignMetrics returns a campaign's results over a window: the analytics
funnel (impressions, clicks, conversions, revenue, visitors), the spend each
channel's connector reports, and the derived growth KPIs — CTR, CVR, CAC and
ROAS.

There is exactly ONE metrics plane and nothing is stored here: the funnel is an
analytics query over the campaign's utm_campaign-tagged events, and the spend is
each provider's own number read through the org's connector. A warehouse that is
not emitting yet degrades to available:false with zeroes — honest-empty, never a
500 and never a fabricated number. When the campaign runs more than one creative
and an experiment is wired, abTest carries the A/B analysis.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign to report on, from the path.
	@return CampaignAPICloudGetV1CampaignIdMetricsRequest
*/
func (a *CampaignAPIService) CloudGetV1CampaignIdMetrics(ctx context.Context, id string) CampaignAPICloudGetV1CampaignIdMetricsRequest {
	return CampaignAPICloudGetV1CampaignIdMetricsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCampaignResults
func (a *CampaignAPIService) CloudGetV1CampaignIdMetricsExecute(r CampaignAPICloudGetV1CampaignIdMetricsRequest) (*CloudCampaignResults, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudGetV1CampaignIdMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/{id}/metrics"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CampaignAPICloudGetV1CampaignSummaryRequest struct {
	ctx        context.Context
	ApiService *CampaignAPIService
}

func (r CampaignAPICloudGetV1CampaignSummaryRequest) Execute() (*CloudCampaignSummary, *http.Response, error) {
	return r.ApiService.CloudGetV1CampaignSummaryExecute(r)
}

/*
CloudGetV1CampaignSummary SummarizeCampaigns returns the org's go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.

SummarizeCampaigns returns the org's go-to-market roll-up: how many campaigns
exist, how many are live, their total budget in cents, and which channel
executors this deployment can actually reach.

The channel list is the deployment's honest capability, not a wish: a kind
missing from it is one a launch will record as "unavailable" rather than fail
on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CampaignAPICloudGetV1CampaignSummaryRequest
*/
func (a *CampaignAPIService) CloudGetV1CampaignSummary(ctx context.Context) CampaignAPICloudGetV1CampaignSummaryRequest {
	return CampaignAPICloudGetV1CampaignSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCampaignSummary
func (a *CampaignAPIService) CloudGetV1CampaignSummaryExecute(r CampaignAPICloudGetV1CampaignSummaryRequest) (*CloudCampaignSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudGetV1CampaignSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CampaignAPICloudPostV1CampaignRequest struct {
	ctx                context.Context
	ApiService         *CampaignAPIService
	cloudCampaignWrite *CloudCampaignWrite
}

func (r CampaignAPICloudPostV1CampaignRequest) CloudCampaignWrite(cloudCampaignWrite CloudCampaignWrite) CampaignAPICloudPostV1CampaignRequest {
	r.cloudCampaignWrite = &cloudCampaignWrite
	return r
}

func (r CampaignAPICloudPostV1CampaignRequest) Execute() (*CloudCampaignRecord, *http.Response, error) {
	return r.ApiService.CloudPostV1CampaignExecute(r)
}

/*
CloudPostV1Campaign CreateCampaign creates a campaign as a DRAFT and returns it.

CreateCampaign creates a campaign as a DRAFT and returns it.

A draft is inert: nothing is sent, no connector is touched and no budget is
committed until the campaign is launched. The channels named here are validated
and de-duplicated by kind (one executor per kind), and every channel starts
"pending" whatever the caller claims — a client can never assert a launched
state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CampaignAPICloudPostV1CampaignRequest
*/
func (a *CampaignAPIService) CloudPostV1Campaign(ctx context.Context) CampaignAPICloudPostV1CampaignRequest {
	return CampaignAPICloudPostV1CampaignRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCampaignRecord
func (a *CampaignAPIService) CloudPostV1CampaignExecute(r CampaignAPICloudPostV1CampaignRequest) (*CloudCampaignRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudPostV1Campaign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCampaignWrite == nil {
		return localVarReturnValue, nil, reportError("cloudCampaignWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCampaignWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CampaignAPICloudPostV1CampaignByIdLaunchRequest struct {
	ctx        context.Context
	ApiService *CampaignAPIService
	id         string
}

func (r CampaignAPICloudPostV1CampaignByIdLaunchRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CampaignByIdLaunchExecute(r)
}

/*
CloudPostV1CampaignByIdLaunch Method for CloudPostV1CampaignByIdLaunch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return CampaignAPICloudPostV1CampaignByIdLaunchRequest
*/
func (a *CampaignAPIService) CloudPostV1CampaignByIdLaunch(ctx context.Context, id string) CampaignAPICloudPostV1CampaignByIdLaunchRequest {
	return CampaignAPICloudPostV1CampaignByIdLaunchRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CampaignAPIService) CloudPostV1CampaignByIdLaunchExecute(r CampaignAPICloudPostV1CampaignByIdLaunchRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudPostV1CampaignByIdLaunch")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/{id}/launch"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CampaignAPICloudPostV1CampaignByIdPauseRequest struct {
	ctx        context.Context
	ApiService *CampaignAPIService
	id         string
}

func (r CampaignAPICloudPostV1CampaignByIdPauseRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CampaignByIdPauseExecute(r)
}

/*
CloudPostV1CampaignByIdPause Method for CloudPostV1CampaignByIdPause

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return CampaignAPICloudPostV1CampaignByIdPauseRequest
*/
func (a *CampaignAPIService) CloudPostV1CampaignByIdPause(ctx context.Context, id string) CampaignAPICloudPostV1CampaignByIdPauseRequest {
	return CampaignAPICloudPostV1CampaignByIdPauseRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CampaignAPIService) CloudPostV1CampaignByIdPauseExecute(r CampaignAPICloudPostV1CampaignByIdPauseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudPostV1CampaignByIdPause")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/{id}/pause"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CampaignAPICloudPostV1CampaignIdChannelsRequest struct {
	ctx             context.Context
	ApiService      *CampaignAPIService
	id              string
	cloudChannelAdd *CloudChannelAdd
}

func (r CampaignAPICloudPostV1CampaignIdChannelsRequest) CloudChannelAdd(cloudChannelAdd CloudChannelAdd) CampaignAPICloudPostV1CampaignIdChannelsRequest {
	r.cloudChannelAdd = &cloudChannelAdd
	return r
}

func (r CampaignAPICloudPostV1CampaignIdChannelsRequest) Execute() (*CloudCampaignRecord, *http.Response, error) {
	return r.ApiService.CloudPostV1CampaignIdChannelsExecute(r)
}

/*
CloudPostV1CampaignIdChannels AddCampaignChannel adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.

AddCampaignChannel adds a channel to a campaign, or REPLACES the one it already
has of that kind, and returns the updated campaign.

A campaign carries at most one channel per kind, because the kind IS the
executor: adding a second "paid" channel would mean two ad accounts running one
campaign with no way to tell their results apart. The new channel starts
"pending" — adding it does not launch it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign to add the channel to, from the path.
	@return CampaignAPICloudPostV1CampaignIdChannelsRequest
*/
func (a *CampaignAPIService) CloudPostV1CampaignIdChannels(ctx context.Context, id string) CampaignAPICloudPostV1CampaignIdChannelsRequest {
	return CampaignAPICloudPostV1CampaignIdChannelsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCampaignRecord
func (a *CampaignAPIService) CloudPostV1CampaignIdChannelsExecute(r CampaignAPICloudPostV1CampaignIdChannelsRequest) (*CloudCampaignRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudPostV1CampaignIdChannels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/{id}/channels"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudChannelAdd == nil {
		return localVarReturnValue, nil, reportError("cloudChannelAdd is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudChannelAdd
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CampaignAPICloudPutV1CampaignIdRequest struct {
	ctx                 context.Context
	ApiService          *CampaignAPIService
	id                  string
	cloudCampaignUpdate *CloudCampaignUpdate
}

func (r CampaignAPICloudPutV1CampaignIdRequest) CloudCampaignUpdate(cloudCampaignUpdate CloudCampaignUpdate) CampaignAPICloudPutV1CampaignIdRequest {
	r.cloudCampaignUpdate = &cloudCampaignUpdate
	return r
}

func (r CampaignAPICloudPutV1CampaignIdRequest) Execute() (*CloudCampaignRecord, *http.Response, error) {
	return r.ApiService.CloudPutV1CampaignIdExecute(r)
}

/*
CloudPutV1CampaignId UpdateCampaign rewrites a campaign's core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.

UpdateCampaign rewrites a campaign's core fields — name, audience, creatives,
schedule and budget — and returns the updated campaign.

Channels are replaced ONLY while the campaign is still a draft. Once it is
launched its channels carry provider state (an external id, a live status), so
they are added and removed explicitly through the channels sub-resource
instead; a whole-object write would silently orphan a running execution.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign to update, from the path.
	@return CampaignAPICloudPutV1CampaignIdRequest
*/
func (a *CampaignAPIService) CloudPutV1CampaignId(ctx context.Context, id string) CampaignAPICloudPutV1CampaignIdRequest {
	return CampaignAPICloudPutV1CampaignIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCampaignRecord
func (a *CampaignAPIService) CloudPutV1CampaignIdExecute(r CampaignAPICloudPutV1CampaignIdRequest) (*CloudCampaignRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CampaignAPIService.CloudPutV1CampaignId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/campaign/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCampaignUpdate == nil {
		return localVarReturnValue, nil, reportError("cloudCampaignUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCampaignUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
