/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ToolsAPIService ToolsAPI service
type ToolsAPIService service

type ToolsAPIDeleteToolsMcpServersByIdRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	id         string
}

func (r ToolsAPIDeleteToolsMcpServersByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteToolsMcpServersByIdExecute(r)
}

/*
DeleteToolsMcpServersById Deregisters one of the caller org's external MCP servers, so its tools leave the registry.

Deregisters one of the caller org's external MCP servers, so its
tools leave the registry. Scoped to the caller's org, so an id belonging to
another tenant is a 404 and not a delete. Answers 204 with no body; a server
this org does not have is 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the server to deregister, from the path.
	@return ToolsAPIDeleteToolsMcpServersByIdRequest
*/
func (a *ToolsAPIService) DeleteToolsMcpServersById(ctx context.Context, id string) ToolsAPIDeleteToolsMcpServersByIdRequest {
	return ToolsAPIDeleteToolsMcpServersByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *ToolsAPIService) DeleteToolsMcpServersByIdExecute(r ToolsAPIDeleteToolsMcpServersByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.DeleteToolsMcpServersById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/mcp/servers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ToolsAPIDeleteToolsPluginsAuthoredByIdRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	id         string
}

func (r ToolsAPIDeleteToolsPluginsAuthoredByIdRequest) Execute() (*PluginDeleted, *http.Response, error) {
	return r.ApiService.DeleteToolsPluginsAuthoredByIdExecute(r)
}

/*
DeleteToolsPluginsAuthoredById Removes one of the caller org's built plugins, so the runtime can no longer load it.

Removes one of the caller org's built plugins, so the
runtime can no longer load it. Scoped to the caller's org, so an id belonging
to another tenant answers 404 and is not deleted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the plugin to remove, from the path.
	@return ToolsAPIDeleteToolsPluginsAuthoredByIdRequest
*/
func (a *ToolsAPIService) DeleteToolsPluginsAuthoredById(ctx context.Context, id string) ToolsAPIDeleteToolsPluginsAuthoredByIdRequest {
	return ToolsAPIDeleteToolsPluginsAuthoredByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PluginDeleted
func (a *ToolsAPIService) DeleteToolsPluginsAuthoredByIdExecute(r ToolsAPIDeleteToolsPluginsAuthoredByIdRequest) (*PluginDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PluginDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.DeleteToolsPluginsAuthoredById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/plugins/authored/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIDeleteToolsSkillsByIdRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	id         string
}

func (r ToolsAPIDeleteToolsSkillsByIdRequest) Execute() (*SkillDeleted, *http.Response, error) {
	return r.ApiService.DeleteToolsSkillsByIdExecute(r)
}

/*
DeleteToolsSkillsById Removes one of the caller org's authored skills.

Removes one of the caller org's authored skills. Scoped to the
caller's org, so an id belonging to another tenant is never reached. Removing
what is not there is not an error — the caller's intent is "gone", and it is.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the skill to remove, from the path. It is the skill's name.
	@return ToolsAPIDeleteToolsSkillsByIdRequest
*/
func (a *ToolsAPIService) DeleteToolsSkillsById(ctx context.Context, id string) ToolsAPIDeleteToolsSkillsByIdRequest {
	return ToolsAPIDeleteToolsSkillsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SkillDeleted
func (a *ToolsAPIService) DeleteToolsSkillsByIdExecute(r ToolsAPIDeleteToolsSkillsByIdRequest) (*SkillDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SkillDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.DeleteToolsSkillsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/skills/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	source     *string
	activated  *string
}

// Source keeps only tools from one source — connector, function, zap-service, agent, skill or mcp. Empty keeps every source.
func (r ToolsAPIGetToolsRequest) Source(source string) ToolsAPIGetToolsRequest {
	r.source = &source
	return r
}

// Activated keeps only the tools activated for the caller&#39;s org and project, and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPIGetToolsRequest) Activated(activated string) ToolsAPIGetToolsRequest {
	r.activated = &activated
	return r
}

func (r ToolsAPIGetToolsRequest) Execute() (*ToolList, *http.Response, error) {
	return r.ApiService.GetToolsExecute(r)
}

/*
GetTools Lists every tool the caller's org and project can reach, from every source, each flagged with whether it is activated.

Lists every tool the caller's org and project can reach, from every
source, each flagged with whether it is activated. This is the discovery
surface: one flat set of names spanning connector actions, user functions,
zap-service routes, agents, skills and the org's own external MCP servers,
deduplicated by name so the highest-precedence source wins a collision. It
lists; it does not call — dispatch is POST /v1/tools/call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsRequest
*/
func (a *ToolsAPIService) GetTools(ctx context.Context) ToolsAPIGetToolsRequest {
	return ToolsAPIGetToolsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolList
func (a *ToolsAPIService) GetToolsExecute(r ToolsAPIGetToolsRequest) (*ToolList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ToolList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetTools")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.activated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activated", r.activated, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsActivationRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPIGetToolsActivationRequest) Execute() (*ActivationSet, *http.Response, error) {
	return r.ApiService.GetToolsActivationExecute(r)
}

/*
GetToolsActivation Reports which tools are switched on for the caller's org and project.

Reports which tools are switched on for the caller's org and
project. Activation is what makes a tool dispatchable and what makes it visible
to an agent, so this is the set the MCP tool list is drawn from — every other
tool in the registry is discoverable but refused at call time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsActivationRequest
*/
func (a *ToolsAPIService) GetToolsActivation(ctx context.Context) ToolsAPIGetToolsActivationRequest {
	return ToolsAPIGetToolsActivationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ActivationSet
func (a *ToolsAPIService) GetToolsActivationExecute(r ToolsAPIGetToolsActivationRequest) (*ActivationSet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ActivationSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsActivation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/activation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsCatalogRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	q          *string
	featured   *string
	official   *string
	limit      *int32
	offset     *int32
}

// Q matches the name, title or description, case-insensitively.
func (r ToolsAPIGetToolsCatalogRequest) Q(q string) ToolsAPIGetToolsCatalogRequest {
	r.q = &q
	return r
}

// Featured keeps only the listings we put on the front of the shelf, and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPIGetToolsCatalogRequest) Featured(featured string) ToolsAPIGetToolsCatalogRequest {
	r.featured = &featured
	return r
}

// Official keeps only the vendors&#39; OWN servers — not third-party copies of them — and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPIGetToolsCatalogRequest) Official(official string) ToolsAPIGetToolsCatalogRequest {
	r.official = &official
	return r
}

// Limit bounds the page: default 50, maximum 200. A value that is not a positive integer reads as the default.
func (r ToolsAPIGetToolsCatalogRequest) Limit(limit int32) ToolsAPIGetToolsCatalogRequest {
	r.limit = &limit
	return r
}

// Offset skips that many listings.
func (r ToolsAPIGetToolsCatalogRequest) Offset(offset int32) ToolsAPIGetToolsCatalogRequest {
	r.offset = &offset
	return r
}

func (r ToolsAPIGetToolsCatalogRequest) Execute() (*McpCatalog, *http.Response, error) {
	return r.ApiService.GetToolsCatalogExecute(r)
}

/*
GetToolsCatalog Lists the MCP servers the public registries publish, as we hold them: our canonical copy of registry.modelcontextprotocol.io, plus what we decided about each entry.

Lists the MCP servers the public registries publish, as we hold
them: our canonical copy of registry.modelcontextprotocol.io, plus what we
decided about each entry.

This is the SHELF an org picks from. A listing with a streamable-http endpoint
can be enabled as-is — POST /v1/tools/mcp/servers with its id — and its tools then
join the org's tool plane and the fleet's MCP door. A listing that only ships a
stdio package needs a process to run it, which is why the transports are on
every entry rather than implied.

Hidden entries are absent: they are the ones we took off the shelf. A platform
SuperAdmin sees them, because the same query answers "what is on the shelf" and
"what is in the catalog" and two queries would drift apart.

It is PAGED — 50 by default, 200 at most. The public registry publishes tens of
thousands of servers, so an unbounded answer is a twenty-megabyte response and a
storefront that renders in a minute. total is the whole match, not the page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsCatalogRequest
*/
func (a *ToolsAPIService) GetToolsCatalog(ctx context.Context) ToolsAPIGetToolsCatalogRequest {
	return ToolsAPIGetToolsCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return McpCatalog
func (a *ToolsAPIService) GetToolsCatalogExecute(r ToolsAPIGetToolsCatalogRequest) (*McpCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *McpCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.featured != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "featured", r.featured, "form", "")
	}
	if r.official != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "official", r.official, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsCatalogByIdRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	id         string
}

func (r ToolsAPIGetToolsCatalogByIdRequest) Execute() (*MCPListing, *http.Response, error) {
	return r.ApiService.GetToolsCatalogByIdExecute(r)
}

/*
GetToolsCatalogById Returns one catalog entry in full: the publisher's description, its repository and site, every package form with the runtime that launches it, and every hosted endpoint.

Returns one catalog entry in full: the publisher's description, its
repository and site, every package form with the runtime that launches it, and
every hosted endpoint. It is what a branding page renders, and what tells a
caller whether the listing can be enabled here and now (a streamable-http
remote) or needs somewhere to run first (a stdio package).

A HIDDEN listing is not served to an org — a shelf that renders what it does
not list would be a way around the shelf — but is served to a SuperAdmin, who
is the one deciding whether to put it back.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the listing, from the path. It is the publisher's reverse-DNS name with its one slash written as an underscore — \"com.stripe_mcp\".
	@return ToolsAPIGetToolsCatalogByIdRequest
*/
func (a *ToolsAPIService) GetToolsCatalogById(ctx context.Context, id string) ToolsAPIGetToolsCatalogByIdRequest {
	return ToolsAPIGetToolsCatalogByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return MCPListing
func (a *ToolsAPIService) GetToolsCatalogByIdExecute(r ToolsAPIGetToolsCatalogByIdRequest) (*MCPListing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MCPListing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsCatalogById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsMcpServersRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPIGetToolsMcpServersRequest) Execute() (*McpServerList, *http.Response, error) {
	return r.ApiService.GetToolsMcpServersExecute(r)
}

/*
GetToolsMcpServers Lists the external MCP servers the caller's org has registered.

Lists the external MCP servers the caller's org has registered.
Each record carries the URL and the name of the header its credential is
injected into; the credential VALUE lives only in KMS and is never returned,
so hasSecret is the whole of what this surface says about it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsMcpServersRequest
*/
func (a *ToolsAPIService) GetToolsMcpServers(ctx context.Context) ToolsAPIGetToolsMcpServersRequest {
	return ToolsAPIGetToolsMcpServersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return McpServerList
func (a *ToolsAPIService) GetToolsMcpServersExecute(r ToolsAPIGetToolsMcpServersRequest) (*McpServerList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *McpServerList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsMcpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/mcp/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsPluginsRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	all        *string
}

// All includes the configured-but-disabled subsystems too, but only when it is exactly the string \&quot;true\&quot;. Otherwise only the running ones are reported.
func (r ToolsAPIGetToolsPluginsRequest) All(all string) ToolsAPIGetToolsPluginsRequest {
	r.all = &all
	return r
}

func (r ToolsAPIGetToolsPluginsRequest) Execute() (*PluginMountList, *http.Response, error) {
	return r.ApiService.GetToolsPluginsExecute(r)
}

/*
GetToolsPlugins Reports what this deployment actually mounted: every subsystem the composition root declared and whether it is switched on.

Reports what this deployment actually mounted: every subsystem the
composition root declared and whether it is switched on. A plugin here is
MOUNTED CODE that extends the deployment's own surface — not a tool an agent
calls — so this is an inventory and not a tool source. It is read off the same
boot snapshot every traced request resolves its subsystem label against, so it
cannot drift from what is serving. Enabled-only by default, because a caller
asking what this deployment can do wants what is running; ?all=true adds the
configured-but-off ones.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsPluginsRequest
*/
func (a *ToolsAPIService) GetToolsPlugins(ctx context.Context) ToolsAPIGetToolsPluginsRequest {
	return ToolsAPIGetToolsPluginsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PluginMountList
func (a *ToolsAPIService) GetToolsPluginsExecute(r ToolsAPIGetToolsPluginsRequest) (*PluginMountList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PluginMountList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsPlugins")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/plugins"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.all != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all", r.all, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsPluginsAuthoredRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPIGetToolsPluginsAuthoredRequest) Execute() (*AuthoredPluginList, *http.Response, error) {
	return r.ApiService.GetToolsPluginsAuthoredExecute(r)
}

/*
GetToolsPluginsAuthored Lists the plugins the caller's org BUILT, newest first, each with the TypeScript as authored.

Lists the plugins the caller's org BUILT, newest first,
each with the TypeScript as authored. That is a different set with a different
lifecycle from GET /v1/tools/plugins, which reports the subsystems this deployment
mounted. The bundled CommonJS the runtime executes is never included, and
neither is any credential — a plugin names the connectors provider it needs and
reads the credential from ctx.auth at run time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsPluginsAuthoredRequest
*/
func (a *ToolsAPIService) GetToolsPluginsAuthored(ctx context.Context) ToolsAPIGetToolsPluginsAuthoredRequest {
	return ToolsAPIGetToolsPluginsAuthoredRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AuthoredPluginList
func (a *ToolsAPIService) GetToolsPluginsAuthoredExecute(r ToolsAPIGetToolsPluginsAuthoredRequest) (*AuthoredPluginList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AuthoredPluginList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsPluginsAuthored")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/plugins/authored"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsSkillsRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	activated  *string
}

// Activated keeps only the tools activated for the caller&#39;s org and project, and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPIGetToolsSkillsRequest) Activated(activated string) ToolsAPIGetToolsSkillsRequest {
	r.activated = &activated
	return r
}

func (r ToolsAPIGetToolsSkillsRequest) Execute() (*SourceToolList, *http.Response, error) {
	return r.ApiService.GetToolsSkillsExecute(r)
}

/*
GetToolsSkills Lists the skills the caller's org can reach — the brand's embedded catalogue plus the org's own authored ones — with each one's activation flag.

Lists the skills the caller's org can reach — the brand's embedded
catalogue plus the org's own authored ones — with each one's activation flag.
A skill is discovery and activation metadata attached to an agent, never called
directly, so every entry here is non-dispatchable. It is GET /v1/tools narrowed
to one source, not a second store: a name a caller sees here is the same entry,
with the same activation state, that discovery reports.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsSkillsRequest
*/
func (a *ToolsAPIService) GetToolsSkills(ctx context.Context) ToolsAPIGetToolsSkillsRequest {
	return ToolsAPIGetToolsSkillsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SourceToolList
func (a *ToolsAPIService) GetToolsSkillsExecute(r ToolsAPIGetToolsSkillsRequest) (*SourceToolList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SourceToolList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsSkills")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/skills"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.activated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activated", r.activated, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsSkillsAuthoredRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPIGetToolsSkillsAuthoredRequest) Execute() (*AuthoredSkillList, *http.Response, error) {
	return r.ApiService.GetToolsSkillsAuthoredExecute(r)
}

/*
GetToolsSkillsAuthored Lists the caller org's OWN skills with their SKILL.md bodies.

Lists the caller org's OWN skills with their SKILL.md
bodies. GET /v1/tools/skills is the registry view — the brand's catalogue plus this
org's, with activation flags and no bodies; this is the EDITABLE set, so it
carries the content that view omits and nothing the org did not write.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsSkillsAuthoredRequest
*/
func (a *ToolsAPIService) GetToolsSkillsAuthored(ctx context.Context) ToolsAPIGetToolsSkillsAuthoredRequest {
	return ToolsAPIGetToolsSkillsAuthoredRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AuthoredSkillList
func (a *ToolsAPIService) GetToolsSkillsAuthoredExecute(r ToolsAPIGetToolsSkillsAuthoredRequest) (*AuthoredSkillList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AuthoredSkillList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsSkillsAuthored")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/skills/authored"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPatchToolsCatalogByIdRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	id         string
	curateReq  *CurateReq
}

func (r ToolsAPIPatchToolsCatalogByIdRequest) CurateReq(curateReq CurateReq) ToolsAPIPatchToolsCatalogByIdRequest {
	r.curateReq = &curateReq
	return r
}

func (r ToolsAPIPatchToolsCatalogByIdRequest) Execute() (*MCPListing, *http.Response, error) {
	return r.ApiService.PatchToolsCatalogByIdExecute(r)
}

/*
PatchToolsCatalogById Sets what WE say about one catalog entry — hidden, featured, official, logo — and answers with the stored listing.

Sets what WE say about one catalog entry — hidden, featured,
official, logo — and answers with the stored listing. SuperAdmin only; every
other caller is refused.

Curation is the half of a catalog row a sync cannot write, and this is the only
thing that writes it. The upstream half is never editable here: a description
that disagreed with the publisher's would be a fork of their listing, and the
next sync would silently undo it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the listing to curate, from the path.
	@return ToolsAPIPatchToolsCatalogByIdRequest
*/
func (a *ToolsAPIService) PatchToolsCatalogById(ctx context.Context, id string) ToolsAPIPatchToolsCatalogByIdRequest {
	return ToolsAPIPatchToolsCatalogByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return MCPListing
func (a *ToolsAPIService) PatchToolsCatalogByIdExecute(r ToolsAPIPatchToolsCatalogByIdRequest) (*MCPListing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MCPListing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PatchToolsCatalogById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.curateReq == nil {
		return localVarReturnValue, nil, reportError("curateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.curateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPostToolsCallRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	toolCall   *ToolCall
}

func (r ToolsAPIPostToolsCallRequest) ToolCall(toolCall ToolCall) ToolsAPIPostToolsCallRequest {
	r.toolCall = &toolCall
	return r
}

func (r ToolsAPIPostToolsCallRequest) Execute() (*ToolResult, *http.Response, error) {
	return r.ApiService.PostToolsCallExecute(r)
}

/*
PostToolsCall Runs one of the caller's activated tools and answers with its output.

Runs one of the caller's activated tools and answers with its output.

This is the door onto the tool plane's DYNAMIC half — the half no build-time
catalogue can hold, because it is per-tenant: an org's connected connector
actions, its authored skills, its agents and functions, and the tools of every
external MCP server it registered. A tool's existence, its price and its
activation are all rows, not code, so they cannot be known until the caller is.

One policy, the registry's: resolve by precedence, refuse an unactivated tool
403, settle a priced one through the x402 seam or fail closed 402, then
dispatch to the winning source bound to the caller's own (org, project). One
metered unit, one audit record. A caller can only ever dispatch its own tools.

Discovery is GET /v1/tools — ?activated=true for the callable set.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPostToolsCallRequest
*/
func (a *ToolsAPIService) PostToolsCall(ctx context.Context) ToolsAPIPostToolsCallRequest {
	return ToolsAPIPostToolsCallRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolResult
func (a *ToolsAPIService) PostToolsCallExecute(r ToolsAPIPostToolsCallRequest) (*ToolResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ToolResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PostToolsCall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/call"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.toolCall == nil {
		return localVarReturnValue, nil, reportError("toolCall is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.toolCall
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPostToolsCatalogSyncRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPIPostToolsCatalogSyncRequest) Execute() (*McpCatalogSync, *http.Response, error) {
	return r.ApiService.PostToolsCatalogSyncExecute(r)
}

/*
PostToolsCatalogSync Pulls the public MCP registry into our canonical copy and reports what changed.

Pulls the public MCP registry into our canonical copy and reports
what changed. SuperAdmin only; every other caller is refused.

It is IDEMPOTENT: a listing is keyed by the publisher's own reverse-DNS name,
so a second pass over an unchanged registry rewrites the same rows and reports
added=0, updated=0. It never deletes — a listing that vanishes upstream may be
one an org has already enabled, and dropping its description would not drop its
server. And it never touches CURATION: hidden, featured, an admin-set official
and a logo survive every sync, because the write does not name those columns.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPostToolsCatalogSyncRequest
*/
func (a *ToolsAPIService) PostToolsCatalogSync(ctx context.Context) ToolsAPIPostToolsCatalogSyncRequest {
	return ToolsAPIPostToolsCatalogSyncRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return McpCatalogSync
func (a *ToolsAPIService) PostToolsCatalogSyncExecute(r ToolsAPIPostToolsCatalogSyncRequest) (*McpCatalogSync, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *McpCatalogSync
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PostToolsCatalogSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPostToolsMcpServersRequest struct {
	ctx             context.Context
	ApiService      *ToolsAPIService
	createServerReq *CreateServerReq
}

func (r ToolsAPIPostToolsMcpServersRequest) CreateServerReq(createServerReq CreateServerReq) ToolsAPIPostToolsMcpServersRequest {
	r.createServerReq = &createServerReq
	return r
}

func (r ToolsAPIPostToolsMcpServersRequest) Execute() (*MCPServer, *http.Response, error) {
	return r.ApiService.PostToolsMcpServersExecute(r)
}

/*
PostToolsMcpServers Gives the caller's org one more external MCP server, so its tools join the org's tool plane and the fleet's MCP door.

Gives the caller's org one more external MCP server, so its tools
join the org's tool plane and the fleet's MCP door. It is the ONE way an org
gains a server, whether it typed the URL in or enabled a catalog listing: both
write the SAME record, and `source` says which it was. A second registration
path would be a second place for a server to exist, and then a second place to
forget to check the credential.

The credential VALUE is sealed in KMS under a per-org ref; the row keeps only
the URL, the header name to inject it into, and a has-secret flag — so a secret
with no KMS configured is refused 503 rather than stored in the clear. The URL
is SSRF-validated here and re-checked by the dialer at connect time, which is
the DNS-rebinding defense.

Enabling a listing the org already enabled REVISES that server rather than
adding a near-duplicate beside it, so a retried enable is the same one server.
Answers 201 with the stored record.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPostToolsMcpServersRequest
*/
func (a *ToolsAPIService) PostToolsMcpServers(ctx context.Context) ToolsAPIPostToolsMcpServersRequest {
	return ToolsAPIPostToolsMcpServersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MCPServer
func (a *ToolsAPIService) PostToolsMcpServersExecute(r ToolsAPIPostToolsMcpServersRequest) (*MCPServer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MCPServer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PostToolsMcpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/mcp/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createServerReq == nil {
		return localVarReturnValue, nil, reportError("createServerReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createServerReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPostToolsPluginsBuildRequest struct {
	ctx          context.Context
	ApiService   *ToolsAPIService
	buildRequest *BuildRequest
}

func (r ToolsAPIPostToolsPluginsBuildRequest) BuildRequest(buildRequest BuildRequest) ToolsAPIPostToolsPluginsBuildRequest {
	r.buildRequest = &buildRequest
	return r
}

func (r ToolsAPIPostToolsPluginsBuildRequest) Execute() (*BuildOut, *http.Response, error) {
	return r.ApiService.PostToolsPluginsBuildExecute(r)
}

/*
PostToolsPluginsBuild Builds and stores one plugin for the caller's org.

Builds and stores one plugin for the caller's org. The 201 carries
the bundle's size, whether a model wrote the source, and the plugin as stored.

Post `source` to build TypeScript as-is, or `spec` — an OpenAPI document or
plain prose describing the endpoints — to have one generated; the generated
source comes back in the answer, so a caller reads what will run before it
runs. Exactly one of the two, and `name` must be one lowercase path segment;
both or neither is 400.

COMPILING IS THE GATE. The source goes through the same pipeline the committed
connectors do — esbuild to one CommonJS program, then compiled in the goja
runtime that will actually execute it — and anything that fails is rejected and
NEVER stored. So a plugin in the store is one this deployment has already
loaded once, not one a model claimed was fine. A failed build answers 422
carrying the diagnostics a caller needs to fix it: the bundler's error
(`detail`), the source that failed, and whether the model wrote it.

CREDENTIALS ARE NOT PART OF A PLUGIN. A plugin names the connectors `provider`
it needs and reads that credential from `ctx.auth` at run time, under KMS
custody. Source that carries something key-shaped is REFUSED rather than
silently persisted — a scrubbed key looks like it worked.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPostToolsPluginsBuildRequest
*/
func (a *ToolsAPIService) PostToolsPluginsBuild(ctx context.Context) ToolsAPIPostToolsPluginsBuildRequest {
	return ToolsAPIPostToolsPluginsBuildRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BuildOut
func (a *ToolsAPIService) PostToolsPluginsBuildExecute(r ToolsAPIPostToolsPluginsBuildRequest) (*BuildOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BuildOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PostToolsPluginsBuild")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/plugins/build"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.buildRequest == nil {
		return localVarReturnValue, nil, reportError("buildRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.buildRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPostToolsSkillsRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	skillIn    *SkillIn
}

func (r ToolsAPIPostToolsSkillsRequest) SkillIn(skillIn SkillIn) ToolsAPIPostToolsSkillsRequest {
	r.skillIn = &skillIn
	return r
}

func (r ToolsAPIPostToolsSkillsRequest) Execute() (*SkillWritten, *http.Response, error) {
	return r.ApiService.PostToolsSkillsExecute(r)
}

/*
PostToolsSkills Adds or revises one of the caller org's own skills, and answers 201 with the stored record.

Adds or revises one of the caller org's own skills, and answers 201
with the stored record. The id is derived from the name, so writing the same
name again REVISES that skill rather than accumulating near-duplicates that
would then collide in the registry. An org's skills are private to it by
construction — they live in a different store from the brand's embedded
catalogue and have no path into the public gallery — and a brand skill always
wins a name collision against an org's.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPostToolsSkillsRequest
*/
func (a *ToolsAPIService) PostToolsSkills(ctx context.Context) ToolsAPIPostToolsSkillsRequest {
	return ToolsAPIPostToolsSkillsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SkillWritten
func (a *ToolsAPIService) PostToolsSkillsExecute(r ToolsAPIPostToolsSkillsRequest) (*SkillWritten, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SkillWritten
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PostToolsSkills")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/skills"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.skillIn == nil {
		return localVarReturnValue, nil, reportError("skillIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.skillIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPutToolsActivationRequest struct {
	ctx           context.Context
	ApiService    *ToolsAPIService
	activationReq *ActivationReq
}

func (r ToolsAPIPutToolsActivationRequest) ActivationReq(activationReq ActivationReq) ToolsAPIPutToolsActivationRequest {
	r.activationReq = &activationReq
	return r
}

func (r ToolsAPIPutToolsActivationRequest) Execute() (*ActivationSet, *http.Response, error) {
	return r.ApiService.PutToolsActivationExecute(r)
}

/*
PutToolsActivation Switches tools on and off for the caller's org and project, and answers with the resulting activated set.

Switches tools on and off for the caller's org and project, and
answers with the resulting activated set. It is the ONE write path that turns
skills, plugins and connectors into callable tools — an unactivated tool is
listed by discovery but refused 403 at dispatch. Activate is applied before
Deactivate, so a name in both lists ends up off. More than 256 toggles in one
request is refused 413.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPutToolsActivationRequest
*/
func (a *ToolsAPIService) PutToolsActivation(ctx context.Context) ToolsAPIPutToolsActivationRequest {
	return ToolsAPIPutToolsActivationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ActivationSet
func (a *ToolsAPIService) PutToolsActivationExecute(r ToolsAPIPutToolsActivationRequest) (*ActivationSet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ActivationSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PutToolsActivation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/activation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.activationReq == nil {
		return localVarReturnValue, nil, reportError("activationReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.activationReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
