/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// UsageAPIService UsageAPI service
type UsageAPIService service

type UsageAPICloudGetV1UsageActivityRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	subject    *string
	id         *string
	from       *string
	to         *string
}

// Subject is what the series is about: \&quot;user\&quot; (default), \&quot;org\&quot; or \&quot;project\&quot;.
func (r UsageAPICloudGetV1UsageActivityRequest) Subject(subject string) UsageAPICloudGetV1UsageActivityRequest {
	r.subject = &subject
	return r
}

// ID names the subject within what the caller is entitled to see. Omitted (or \&quot;me\&quot;) it is the caller themselves, or their own org. Another user requires org admin and must belong to the caller&#39;s org; another org requires a SuperAdmin.
func (r UsageAPICloudGetV1UsageActivityRequest) Id(id string) UsageAPICloudGetV1UsageActivityRequest {
	r.id = &id
	return r
}

// From is the first day of the range, \&quot;2006-01-02\&quot;. Defaults to 90 days back.
func (r UsageAPICloudGetV1UsageActivityRequest) From(from string) UsageAPICloudGetV1UsageActivityRequest {
	r.from = &from
	return r
}

// To is the last day of the range, \&quot;2006-01-02\&quot;. Defaults to today; the span is clamped to 366 days.
func (r UsageAPICloudGetV1UsageActivityRequest) To(to string) UsageAPICloudGetV1UsageActivityRequest {
	r.to = &to
	return r
}

func (r UsageAPICloudGetV1UsageActivityRequest) Execute() (*CloudActivityView, *http.Response, error) {
	return r.ApiService.CloudGetV1UsageActivityExecute(r)
}

/*
CloudGetV1UsageActivity Activity returns the per-day usage series for ONE authorized subject — the points a contribution heatmap and a timeline are drawn from, gap-filled so every day in the range is present.

Activity returns the per-day usage series for ONE authorized subject — the points a
contribution heatmap and a timeline are drawn from, gap-filled so every day in the
range is present. Authorization is resolved server-side from the validated
principal, so a caller can never widen the subject past what they are entitled to:
a non-admin reads only themselves and their own org. subject=project answers empty
with a note, because the usage ledger records no project column yet. When the
warehouse is not connected the series answers empty with available=false rather
than fabricated days.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudGetV1UsageActivityRequest
*/
func (a *UsageAPIService) CloudGetV1UsageActivity(ctx context.Context) UsageAPICloudGetV1UsageActivityRequest {
	return UsageAPICloudGetV1UsageActivityRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudActivityView
func (a *UsageAPIService) CloudGetV1UsageActivityExecute(r UsageAPICloudGetV1UsageActivityRequest) (*CloudActivityView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudActivityView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudGetV1UsageActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/activity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.subject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject", r.subject, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudGetV1UsageAnalyticsRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	end        *string
	plan       *string
	range_     *string
	start      *string
}

// End is the exclusive window end, RFC3339. Read only when Range is custom.
func (r UsageAPICloudGetV1UsageAnalyticsRequest) End(end string) UsageAPICloudGetV1UsageAnalyticsRequest {
	r.end = &end
	return r
}

// Plan is the plan id whose entitlement decides access and retention. INTERIM: cloud has no org-to-plan resolver yet, so the caller names the plan; when that resolver lands this becomes the caller org&#39;s own plan.
func (r UsageAPICloudGetV1UsageAnalyticsRequest) Plan(plan string) UsageAPICloudGetV1UsageAnalyticsRequest {
	r.plan = &plan
	return r
}

// Range is the window: 24h, 7d, 30d, or custom. Empty means 24h.
func (r UsageAPICloudGetV1UsageAnalyticsRequest) Range_(range_ string) UsageAPICloudGetV1UsageAnalyticsRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive window start, RFC3339. Read only when Range is custom, and clamped forward to the plan&#39;s retention floor.
func (r UsageAPICloudGetV1UsageAnalyticsRequest) Start(start string) UsageAPICloudGetV1UsageAnalyticsRequest {
	r.start = &start
	return r
}

func (r UsageAPICloudGetV1UsageAnalyticsRequest) Execute() (*CloudUsageAnalyticsView, *http.Response, error) {
	return r.ApiService.CloudGetV1UsageAnalyticsExecute(r)
}

/*
CloudGetV1UsageAnalytics Is the entitlement-GATED per-provider breakdown of the caller org's LLM usage — the paid lens over the same warehouse ledger GET /v1/usage/summary reads its totals from.

Is the entitlement-GATED per-provider breakdown of the caller org's LLM
usage — the paid lens over the same warehouse ledger GET /v1/usage/summary reads
its totals from. Basic own-org usage stays ungated at /v1/usage/summary.

A plan that does not grant the analytics datastore is refused with 402, and an
unresolvable plan fails closed to the free floor, which does not grant it. The
window is clamped forward to the plan's retention entitlement, so a tenant can
never read older than its plan allows even with a custom start. The response is
marked no-store.

INTERIM (mirrors apps/world's limits echo): no org→plan resolver exists in cloud
yet — the subscription lookup is owned by the billing plane and the gateway
principal carries no plan claim — so the caller passes the plan and the gate
resolves THAT plan's access.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudGetV1UsageAnalyticsRequest
*/
func (a *UsageAPIService) CloudGetV1UsageAnalytics(ctx context.Context) UsageAPICloudGetV1UsageAnalyticsRequest {
	return UsageAPICloudGetV1UsageAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUsageAnalyticsView
func (a *UsageAPIService) CloudGetV1UsageAnalyticsExecute(r UsageAPICloudGetV1UsageAnalyticsRequest) (*CloudUsageAnalyticsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUsageAnalyticsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudGetV1UsageAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.plan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plan", r.plan, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudGetV1UsageAnalyticsAccessRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	plan       *string
}

// Plan is a plan id from the live @hanzo/plans catalog. Empty resolves the free floor, and so does an id the catalog does not know — this never fails on an unknown plan.
func (r UsageAPICloudGetV1UsageAnalyticsAccessRequest) Plan(plan string) UsageAPICloudGetV1UsageAnalyticsAccessRequest {
	r.plan = &plan
	return r
}

func (r UsageAPICloudGetV1UsageAnalyticsAccessRequest) Execute() (*CloudUsageAnalyticsAccess, *http.Response, error) {
	return r.ApiService.CloudGetV1UsageAnalyticsAccessExecute(r)
}

/*
CloudGetV1UsageAnalyticsAccess Echoes a plan's resolved analytics entitlement so a dashboard can configure itself against the LIVE catalog instead of hardcoding tier numbers.

Echoes a plan's resolved analytics entitlement so a dashboard can
configure itself against the LIVE catalog instead of hardcoding tier numbers. An
empty plan resolves the free floor, and a catalog resolution failure serves that
same floor rather than erroring — so this always answers 200. It is a read-only
contract echo and carries no tenant data.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudGetV1UsageAnalyticsAccessRequest
*/
func (a *UsageAPIService) CloudGetV1UsageAnalyticsAccess(ctx context.Context) UsageAPICloudGetV1UsageAnalyticsAccessRequest {
	return UsageAPICloudGetV1UsageAnalyticsAccessRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUsageAnalyticsAccess
func (a *UsageAPIService) CloudGetV1UsageAnalyticsAccessExecute(r UsageAPICloudGetV1UsageAnalyticsAccessRequest) (*CloudUsageAnalyticsAccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUsageAnalyticsAccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudGetV1UsageAnalyticsAccess")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/analytics/access"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.plan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plan", r.plan, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudGetV1UsageLeaderboardRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	scope      *string
	metric     *string
	period     *string
	limit      *int32
}

// Scope picks the board: \&quot;personal\&quot; (default) ranks the caller among their own org&#39;s users, \&quot;org\&quot; is that same org board named for an admin, \&quot;global\&quot; ranks organizations against each other.
func (r UsageAPICloudGetV1UsageLeaderboardRequest) Scope(scope string) UsageAPICloudGetV1UsageLeaderboardRequest {
	r.scope = &scope
	return r
}

// Metric is the value ranked: tokens (default), requests, or cost.
func (r UsageAPICloudGetV1UsageLeaderboardRequest) Metric(metric string) UsageAPICloudGetV1UsageLeaderboardRequest {
	r.metric = &metric
	return r
}

// Period is the window ranked: day, week, month (default) or all.
func (r UsageAPICloudGetV1UsageLeaderboardRequest) Period(period string) UsageAPICloudGetV1UsageLeaderboardRequest {
	r.period = &period
	return r
}

// Limit caps the rows returned, clamped to 100. Defaults to 10, which is also what a non-positive or unparseable value takes.
func (r UsageAPICloudGetV1UsageLeaderboardRequest) Limit(limit int32) UsageAPICloudGetV1UsageLeaderboardRequest {
	r.limit = &limit
	return r
}

func (r UsageAPICloudGetV1UsageLeaderboardRequest) Execute() (*CloudLeaderboardView, *http.Response, error) {
	return r.ApiService.CloudGetV1UsageLeaderboardExecute(r)
}

/*
CloudGetV1UsageLeaderboard Leaderboard ranks AI usage over a window, either the users of the caller's own org or organizations against each other, and always reports the caller's own standing even when it falls outside the returned page.

Leaderboard ranks AI usage over a window, either the users of the caller's own org
or organizations against each other, and always reports the caller's own standing
even when it falls outside the returned page. Identities are private by default: a
caller sees themselves, plus the peers or orgs that opted into public listing, and
only an admin sees their own org's members named. Cross-org spend is restricted to
platform admins. When the warehouse is not connected the board answers empty with
available=false rather than a fabricated rank.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudGetV1UsageLeaderboardRequest
*/
func (a *UsageAPIService) CloudGetV1UsageLeaderboard(ctx context.Context) UsageAPICloudGetV1UsageLeaderboardRequest {
	return UsageAPICloudGetV1UsageLeaderboardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudLeaderboardView
func (a *UsageAPIService) CloudGetV1UsageLeaderboardExecute(r UsageAPICloudGetV1UsageLeaderboardRequest) (*CloudLeaderboardView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudLeaderboardView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudGetV1UsageLeaderboard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/leaderboard"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.metric != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric", r.metric, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudGetV1UsageLeaderboardOptinRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
}

func (r UsageAPICloudGetV1UsageLeaderboardOptinRequest) Execute() (*CloudOptinView, *http.Response, error) {
	return r.ApiService.CloudGetV1UsageLeaderboardOptinExecute(r)
}

/*
CloudGetV1UsageLeaderboardOptin GetOptin returns the caller's own public-listing preference and their org's, each with whether the caller may change it.

GetOptin returns the caller's own public-listing preference and their org's,
each with whether the caller may change it. Public listing is opt-in and private
by default, so a fresh caller reads listed=false for both.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudGetV1UsageLeaderboardOptinRequest
*/
func (a *UsageAPIService) CloudGetV1UsageLeaderboardOptin(ctx context.Context) UsageAPICloudGetV1UsageLeaderboardOptinRequest {
	return UsageAPICloudGetV1UsageLeaderboardOptinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudOptinView
func (a *UsageAPIService) CloudGetV1UsageLeaderboardOptinExecute(r UsageAPICloudGetV1UsageLeaderboardOptinRequest) (*CloudOptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudGetV1UsageLeaderboardOptin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/leaderboard/optin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudGetV1UsageSamplesRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	account    *string
	provider   *string
	range_     *string
	window     *string
}

// Account narrows to ONE linked account of that provider. Empty covers every account the caller has linked there.
func (r UsageAPICloudGetV1UsageSamplesRequest) Account(account string) UsageAPICloudGetV1UsageSamplesRequest {
	r.account = &account
	return r
}

// Provider is the upstream to read, e.g. anthropic. Required.
func (r UsageAPICloudGetV1UsageSamplesRequest) Provider(provider string) UsageAPICloudGetV1UsageSamplesRequest {
	r.provider = &provider
	return r
}

// Range is the window to read: 1h, 24h, 7d or 30d. Empty means 24h, and any other label is refused rather than silently replaced.
func (r UsageAPICloudGetV1UsageSamplesRequest) Range_(range_ string) UsageAPICloudGetV1UsageSamplesRequest {
	r.range_ = &range_
	return r
}

// Window narrows to ONE window class: 6h, day, week or month. Empty covers every class.
func (r UsageAPICloudGetV1UsageSamplesRequest) Window(window string) UsageAPICloudGetV1UsageSamplesRequest {
	r.window = &window
	return r
}

func (r UsageAPICloudGetV1UsageSamplesRequest) Execute() (*CloudDashResp, *http.Response, error) {
	return r.ApiService.CloudGetV1UsageSamplesExecute(r)
}

/*
CloudGetV1UsageSamples Is the PER-PROVIDER view: one connected account's own consumption of its own plan — \"my Claude Max plan is 47% through its 6h window, resets at 14:20\".

Is the PER-PROVIDER view: one connected account's own consumption of its
own plan — "my Claude Max plan is 47% through its 6h window, resets at 14:20".

`current` is the newest instance of each lane (the headline); `windows` is the
history behind it. Both come from ONE deduped read, so they can never disagree.
The rows are the caller's OWN linked accounts, scoped to the validated principal
and its subject — never another user's, and never another org's.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudGetV1UsageSamplesRequest
*/
func (a *UsageAPIService) CloudGetV1UsageSamples(ctx context.Context) UsageAPICloudGetV1UsageSamplesRequest {
	return UsageAPICloudGetV1UsageSamplesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDashResp
func (a *UsageAPIService) CloudGetV1UsageSamplesExecute(r UsageAPICloudGetV1UsageSamplesRequest) (*CloudDashResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDashResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudGetV1UsageSamples")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/samples"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.account != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account", r.account, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.window != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "window", r.window, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudGetV1UsageSummaryRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	range_     *string
	start      *string
	end        *string
}

// Range is the window: 24h, 7d, 30d, or custom. Empty means 24h. A label this surface does not know is refused rather than silently replaced.
func (r UsageAPICloudGetV1UsageSummaryRequest) Range_(range_ string) UsageAPICloudGetV1UsageSummaryRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive window start, RFC3339. Read only when Range is custom.
func (r UsageAPICloudGetV1UsageSummaryRequest) Start(start string) UsageAPICloudGetV1UsageSummaryRequest {
	r.start = &start
	return r
}

// End is the exclusive window end, RFC3339. Read only when Range is custom.
func (r UsageAPICloudGetV1UsageSummaryRequest) End(end string) UsageAPICloudGetV1UsageSummaryRequest {
	r.end = &end
	return r
}

func (r UsageAPICloudGetV1UsageSummaryRequest) Execute() (*CloudUsageSummary, *http.Response, error) {
	return r.ApiService.CloudGetV1UsageSummaryExecute(r)
}

/*
CloudGetV1UsageSummary Answers GET /v1/usage/summary: the caller's own usage footprint over one window — the categorized spend roll-up from the commerce ledger, the org's LLM usage totals from the warehouse, and the caller's OWN linked provider accounts beside the org's Hanzo-routed usage.

Answers GET /v1/usage/summary: the caller's own usage footprint over one
window — the categorized spend roll-up from the commerce ledger, the org's LLM
usage totals from the warehouse, and the caller's OWN linked provider accounts
beside the org's Hanzo-routed usage.

Every source degrades INDEPENDENTLY to honest zeros and says so in `sources` and
in its own `available` flag, so a partial deploy reports "no data" rather than
fabricating spend. The account rows and the Hanzo rows are concatenated and never
summed: a plan's percent is not money.

The response is org-scoped from the validated principal and marked no-store — a
signed-out caller is refused.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudGetV1UsageSummaryRequest
*/
func (a *UsageAPIService) CloudGetV1UsageSummary(ctx context.Context) UsageAPICloudGetV1UsageSummaryRequest {
	return UsageAPICloudGetV1UsageSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUsageSummary
func (a *UsageAPIService) CloudGetV1UsageSummaryExecute(r UsageAPICloudGetV1UsageSummaryRequest) (*CloudUsageSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUsageSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudGetV1UsageSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudPostV1UsageRequest struct {
	ctx            context.Context
	ApiService     *UsageAPIService
	cloudReportReq *CloudReportReq
}

func (r UsageAPICloudPostV1UsageRequest) CloudReportReq(cloudReportReq CloudReportReq) UsageAPICloudPostV1UsageRequest {
	r.cloudReportReq = &cloudReportReq
	return r
}

func (r UsageAPICloudPostV1UsageRequest) Execute() (*CloudReportResp, *http.Response, error) {
	return r.ApiService.CloudPostV1UsageExecute(r)
}

/*
CloudPostV1Usage Ingests a batch of account-usage samples — what a developer's OWN AI accounts have consumed of their OWN plans, metered from each provider's own login — and appends them to the warehouse series.

Ingests a batch of account-usage samples — what a developer's OWN AI
accounts have consumed of their OWN plans, metered from each provider's own
login — and appends them to the warehouse series. Answers 202.

Send either a `samples` array or one sample's fields at the top level. Every
sample needs a provider, a machine and a known window class; an unknown window or
kind is refused rather than silently rewritten, because a dash filled with a class
nobody reported is worse than an error. There is no timestamp field: the server
owns the observation clock, and a sample says which window it measured with
windowStart or resetsAt.

It is FAIL-SOFT on storage: a warehouse outage costs a poll of history
(stored:false), never a failed request. It records usage ONLY — the link registry
is refreshed separately via POST /v1/links, so there is one and only one way to
update an account row.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudPostV1UsageRequest
*/
func (a *UsageAPIService) CloudPostV1Usage(ctx context.Context) UsageAPICloudPostV1UsageRequest {
	return UsageAPICloudPostV1UsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudReportResp
func (a *UsageAPIService) CloudPostV1UsageExecute(r UsageAPICloudPostV1UsageRequest) (*CloudReportResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudReportResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudPostV1Usage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudReportReq == nil {
		return localVarReturnValue, nil, reportError("cloudReportReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudReportReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudPostV1UsageRollupBackfillRequest struct {
	ctx                context.Context
	ApiService         *UsageAPIService
	cloudBackfillQuery *CloudBackfillQuery
}

func (r UsageAPICloudPostV1UsageRollupBackfillRequest) CloudBackfillQuery(cloudBackfillQuery CloudBackfillQuery) UsageAPICloudPostV1UsageRollupBackfillRequest {
	r.cloudBackfillQuery = &cloudBackfillQuery
	return r
}

func (r UsageAPICloudPostV1UsageRollupBackfillRequest) Execute() (*CloudBackfillResult, *http.Response, error) {
	return r.ApiService.CloudPostV1UsageRollupBackfillExecute(r)
}

/*
CloudPostV1UsageRollupBackfill Backfill seeds the derived usage rollup from ledger history — the rows written before the incremental view existed, which that view can never capture.

Backfill seeds the derived usage rollup from ledger history — the rows written
before the incremental view existed, which that view can never capture. SuperAdmin
only. Because the rollup accumulates, a second unguarded run would double every
day it re-reads, so it refuses with 409 when the rollup already holds rows unless
force=true is passed; forcing WILL double-count.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudPostV1UsageRollupBackfillRequest
*/
func (a *UsageAPIService) CloudPostV1UsageRollupBackfill(ctx context.Context) UsageAPICloudPostV1UsageRollupBackfillRequest {
	return UsageAPICloudPostV1UsageRollupBackfillRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBackfillResult
func (a *UsageAPIService) CloudPostV1UsageRollupBackfillExecute(r UsageAPICloudPostV1UsageRollupBackfillRequest) (*CloudBackfillResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBackfillResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudPostV1UsageRollupBackfill")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/rollup/backfill"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudBackfillQuery == nil {
		return localVarReturnValue, nil, reportError("cloudBackfillQuery is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudBackfillQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudPutV1UsageLeaderboardOptinRequest struct {
	ctx               context.Context
	ApiService        *UsageAPIService
	cloudUserOptinReq *CloudUserOptinReq
}

func (r UsageAPICloudPutV1UsageLeaderboardOptinRequest) CloudUserOptinReq(cloudUserOptinReq CloudUserOptinReq) UsageAPICloudPutV1UsageLeaderboardOptinRequest {
	r.cloudUserOptinReq = &cloudUserOptinReq
	return r
}

func (r UsageAPICloudPutV1UsageLeaderboardOptinRequest) Execute() (*CloudUserOptinView, *http.Response, error) {
	return r.ApiService.CloudPutV1UsageLeaderboardOptinExecute(r)
}

/*
CloudPutV1UsageLeaderboardOptin PutUserOptin sets the CALLER's own public-listing preference on the leaderboard.

PutUserOptin sets the CALLER's own public-listing preference on the leaderboard.
Self only: the row written is keyed by the caller's validated ledger identity, so
this can never edit another member's visibility whatever the request says. A
caller opting in with no handle is given their username, so a listed row never
renders as "Anonymous" to its own owner.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudPutV1UsageLeaderboardOptinRequest
*/
func (a *UsageAPIService) CloudPutV1UsageLeaderboardOptin(ctx context.Context) UsageAPICloudPutV1UsageLeaderboardOptinRequest {
	return UsageAPICloudPutV1UsageLeaderboardOptinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUserOptinView
func (a *UsageAPIService) CloudPutV1UsageLeaderboardOptinExecute(r UsageAPICloudPutV1UsageLeaderboardOptinRequest) (*CloudUserOptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUserOptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudPutV1UsageLeaderboardOptin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/leaderboard/optin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudUserOptinReq == nil {
		return localVarReturnValue, nil, reportError("cloudUserOptinReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudUserOptinReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UsageAPICloudPutV1UsageLeaderboardOptinOrgRequest struct {
	ctx              context.Context
	ApiService       *UsageAPIService
	cloudOrgOptinReq *CloudOrgOptinReq
}

func (r UsageAPICloudPutV1UsageLeaderboardOptinOrgRequest) CloudOrgOptinReq(cloudOrgOptinReq CloudOrgOptinReq) UsageAPICloudPutV1UsageLeaderboardOptinOrgRequest {
	r.cloudOrgOptinReq = &cloudOrgOptinReq
	return r
}

func (r UsageAPICloudPutV1UsageLeaderboardOptinOrgRequest) Execute() (*CloudOrgOptinView, *http.Response, error) {
	return r.ApiService.CloudPutV1UsageLeaderboardOptinOrgExecute(r)
}

/*
CloudPutV1UsageLeaderboardOptinOrg PutOrgOptin sets the ORG's listing on the cross-org global board.

PutOrgOptin sets the ORG's listing on the cross-org global board. Only an admin of
the caller's own org — an org admin or a platform SuperAdmin — may change it, and
the org written is the caller's validated tenant, never a value from the request.
Listing consents to publishing the org's usage VOLUME; cross-org spend stays
restricted to platform admins regardless.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return UsageAPICloudPutV1UsageLeaderboardOptinOrgRequest
*/
func (a *UsageAPIService) CloudPutV1UsageLeaderboardOptinOrg(ctx context.Context) UsageAPICloudPutV1UsageLeaderboardOptinOrgRequest {
	return UsageAPICloudPutV1UsageLeaderboardOptinOrgRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudOrgOptinView
func (a *UsageAPIService) CloudPutV1UsageLeaderboardOptinOrgExecute(r UsageAPICloudPutV1UsageLeaderboardOptinOrgRequest) (*CloudOrgOptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOrgOptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.CloudPutV1UsageLeaderboardOptinOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage/leaderboard/optin/org"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudOrgOptinReq == nil {
		return localVarReturnValue, nil, reportError("cloudOrgOptinReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudOrgOptinReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
