/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// FlowAppConnectionsAPIService FlowAppConnectionsAPI service
type FlowAppConnectionsAPIService service

type FlowAppConnectionsAPIFlowDeleteAppConnectionRequest struct {
	ctx        context.Context
	ApiService *FlowAppConnectionsAPIService
	id         string
}

func (r FlowAppConnectionsAPIFlowDeleteAppConnectionRequest) Execute() (*http.Response, error) {
	return r.ApiService.FlowDeleteAppConnectionExecute(r)
}

/*
FlowDeleteAppConnection Delete an app connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return FlowAppConnectionsAPIFlowDeleteAppConnectionRequest
*/
func (a *FlowAppConnectionsAPIService) FlowDeleteAppConnection(ctx context.Context, id string) FlowAppConnectionsAPIFlowDeleteAppConnectionRequest {
	return FlowAppConnectionsAPIFlowDeleteAppConnectionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *FlowAppConnectionsAPIService) FlowDeleteAppConnectionExecute(r FlowAppConnectionsAPIFlowDeleteAppConnectionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAppConnectionsAPIService.FlowDeleteAppConnection")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/app-connections/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FlowAppConnectionsAPIFlowListAppConnectionOwnersRequest struct {
	ctx        context.Context
	ApiService *FlowAppConnectionsAPIService
}

func (r FlowAppConnectionsAPIFlowListAppConnectionOwnersRequest) Execute() (*FlowSeekPage, *http.Response, error) {
	return r.ApiService.FlowListAppConnectionOwnersExecute(r)
}

/*
FlowListAppConnectionOwners List app connection owners

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAppConnectionsAPIFlowListAppConnectionOwnersRequest
*/
func (a *FlowAppConnectionsAPIService) FlowListAppConnectionOwners(ctx context.Context) FlowAppConnectionsAPIFlowListAppConnectionOwnersRequest {
	return FlowAppConnectionsAPIFlowListAppConnectionOwnersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FlowSeekPage
func (a *FlowAppConnectionsAPIService) FlowListAppConnectionOwnersExecute(r FlowAppConnectionsAPIFlowListAppConnectionOwnersRequest) (*FlowSeekPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowSeekPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAppConnectionsAPIService.FlowListAppConnectionOwners")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/app-connections/owners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAppConnectionsAPIFlowListAppConnectionsRequest struct {
	ctx         context.Context
	ApiService  *FlowAppConnectionsAPIService
	pieceName   *string
	displayName *string
	status      *[]string
	cursor      *string
	limit       *int32
}

func (r FlowAppConnectionsAPIFlowListAppConnectionsRequest) PieceName(pieceName string) FlowAppConnectionsAPIFlowListAppConnectionsRequest {
	r.pieceName = &pieceName
	return r
}

func (r FlowAppConnectionsAPIFlowListAppConnectionsRequest) DisplayName(displayName string) FlowAppConnectionsAPIFlowListAppConnectionsRequest {
	r.displayName = &displayName
	return r
}

func (r FlowAppConnectionsAPIFlowListAppConnectionsRequest) Status(status []string) FlowAppConnectionsAPIFlowListAppConnectionsRequest {
	r.status = &status
	return r
}

func (r FlowAppConnectionsAPIFlowListAppConnectionsRequest) Cursor(cursor string) FlowAppConnectionsAPIFlowListAppConnectionsRequest {
	r.cursor = &cursor
	return r
}

func (r FlowAppConnectionsAPIFlowListAppConnectionsRequest) Limit(limit int32) FlowAppConnectionsAPIFlowListAppConnectionsRequest {
	r.limit = &limit
	return r
}

func (r FlowAppConnectionsAPIFlowListAppConnectionsRequest) Execute() (*FlowListAppConnections200Response, *http.Response, error) {
	return r.ApiService.FlowListAppConnectionsExecute(r)
}

/*
FlowListAppConnections List app connections

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAppConnectionsAPIFlowListAppConnectionsRequest
*/
func (a *FlowAppConnectionsAPIService) FlowListAppConnections(ctx context.Context) FlowAppConnectionsAPIFlowListAppConnectionsRequest {
	return FlowAppConnectionsAPIFlowListAppConnectionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FlowListAppConnections200Response
func (a *FlowAppConnectionsAPIService) FlowListAppConnectionsExecute(r FlowAppConnectionsAPIFlowListAppConnectionsRequest) (*FlowListAppConnections200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowListAppConnections200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAppConnectionsAPIService.FlowListAppConnections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/app-connections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pieceName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pieceName", r.pieceName, "form", "")
	}
	if r.displayName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "displayName", r.displayName, "form", "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAppConnectionsAPIFlowReplaceAppConnectionsRequest struct {
	ctx                              context.Context
	ApiService                       *FlowAppConnectionsAPIService
	flowReplaceAppConnectionsRequest *FlowReplaceAppConnectionsRequest
}

func (r FlowAppConnectionsAPIFlowReplaceAppConnectionsRequest) FlowReplaceAppConnectionsRequest(flowReplaceAppConnectionsRequest FlowReplaceAppConnectionsRequest) FlowAppConnectionsAPIFlowReplaceAppConnectionsRequest {
	r.flowReplaceAppConnectionsRequest = &flowReplaceAppConnectionsRequest
	return r
}

func (r FlowAppConnectionsAPIFlowReplaceAppConnectionsRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FlowReplaceAppConnectionsExecute(r)
}

/*
FlowReplaceAppConnections Replace one connection with another across all flows

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAppConnectionsAPIFlowReplaceAppConnectionsRequest
*/
func (a *FlowAppConnectionsAPIService) FlowReplaceAppConnections(ctx context.Context) FlowAppConnectionsAPIFlowReplaceAppConnectionsRequest {
	return FlowAppConnectionsAPIFlowReplaceAppConnectionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *FlowAppConnectionsAPIService) FlowReplaceAppConnectionsExecute(r FlowAppConnectionsAPIFlowReplaceAppConnectionsRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAppConnectionsAPIService.FlowReplaceAppConnections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/app-connections/replace"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowReplaceAppConnectionsRequest == nil {
		return localVarReturnValue, nil, reportError("flowReplaceAppConnectionsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowReplaceAppConnectionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAppConnectionsAPIFlowUpdateAppConnectionRequest struct {
	ctx                            context.Context
	ApiService                     *FlowAppConnectionsAPIService
	id                             string
	flowUpdateAppConnectionRequest *FlowUpdateAppConnectionRequest
}

func (r FlowAppConnectionsAPIFlowUpdateAppConnectionRequest) FlowUpdateAppConnectionRequest(flowUpdateAppConnectionRequest FlowUpdateAppConnectionRequest) FlowAppConnectionsAPIFlowUpdateAppConnectionRequest {
	r.flowUpdateAppConnectionRequest = &flowUpdateAppConnectionRequest
	return r
}

func (r FlowAppConnectionsAPIFlowUpdateAppConnectionRequest) Execute() (*FlowAppConnection, *http.Response, error) {
	return r.ApiService.FlowUpdateAppConnectionExecute(r)
}

/*
FlowUpdateAppConnection Update an app connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return FlowAppConnectionsAPIFlowUpdateAppConnectionRequest
*/
func (a *FlowAppConnectionsAPIService) FlowUpdateAppConnection(ctx context.Context, id string) FlowAppConnectionsAPIFlowUpdateAppConnectionRequest {
	return FlowAppConnectionsAPIFlowUpdateAppConnectionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return FlowAppConnection
func (a *FlowAppConnectionsAPIService) FlowUpdateAppConnectionExecute(r FlowAppConnectionsAPIFlowUpdateAppConnectionRequest) (*FlowAppConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowAppConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAppConnectionsAPIService.FlowUpdateAppConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/app-connections/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowUpdateAppConnectionRequest == nil {
		return localVarReturnValue, nil, reportError("flowUpdateAppConnectionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowUpdateAppConnectionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAppConnectionsAPIFlowUpsertAppConnectionRequest struct {
	ctx                            context.Context
	ApiService                     *FlowAppConnectionsAPIService
	flowUpsertAppConnectionRequest *FlowUpsertAppConnectionRequest
}

func (r FlowAppConnectionsAPIFlowUpsertAppConnectionRequest) FlowUpsertAppConnectionRequest(flowUpsertAppConnectionRequest FlowUpsertAppConnectionRequest) FlowAppConnectionsAPIFlowUpsertAppConnectionRequest {
	r.flowUpsertAppConnectionRequest = &flowUpsertAppConnectionRequest
	return r
}

func (r FlowAppConnectionsAPIFlowUpsertAppConnectionRequest) Execute() (*FlowAppConnection, *http.Response, error) {
	return r.ApiService.FlowUpsertAppConnectionExecute(r)
}

/*
FlowUpsertAppConnection Upsert an app connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAppConnectionsAPIFlowUpsertAppConnectionRequest
*/
func (a *FlowAppConnectionsAPIService) FlowUpsertAppConnection(ctx context.Context) FlowAppConnectionsAPIFlowUpsertAppConnectionRequest {
	return FlowAppConnectionsAPIFlowUpsertAppConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FlowAppConnection
func (a *FlowAppConnectionsAPIService) FlowUpsertAppConnectionExecute(r FlowAppConnectionsAPIFlowUpsertAppConnectionRequest) (*FlowAppConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowAppConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAppConnectionsAPIService.FlowUpsertAppConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/app-connections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowUpsertAppConnectionRequest == nil {
		return localVarReturnValue, nil, reportError("flowUpsertAppConnectionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowUpsertAppConnectionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
