/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// PlatformRollbackAPIService PlatformRollbackAPI service
type PlatformRollbackAPIService service

type PlatformRollbackAPIPlatformRollbackRollbackRequest struct {
	ctx                                  context.Context
	ApiService                           *PlatformRollbackAPIService
	platformDeploymentKillProcessRequest *PlatformDeploymentKillProcessRequest
}

func (r PlatformRollbackAPIPlatformRollbackRollbackRequest) PlatformDeploymentKillProcessRequest(platformDeploymentKillProcessRequest PlatformDeploymentKillProcessRequest) PlatformRollbackAPIPlatformRollbackRollbackRequest {
	r.platformDeploymentKillProcessRequest = &platformDeploymentKillProcessRequest
	return r
}

func (r PlatformRollbackAPIPlatformRollbackRollbackRequest) Execute() (*PlatformTRPCResult, *http.Response, error) {
	return r.ApiService.PlatformRollbackRollbackExecute(r)
}

/*
PlatformRollbackRollback Rollback to a previous deployment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformRollbackAPIPlatformRollbackRollbackRequest
*/
func (a *PlatformRollbackAPIService) PlatformRollbackRollback(ctx context.Context) PlatformRollbackAPIPlatformRollbackRollbackRequest {
	return PlatformRollbackAPIPlatformRollbackRollbackRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformTRPCResult
func (a *PlatformRollbackAPIService) PlatformRollbackRollbackExecute(r PlatformRollbackAPIPlatformRollbackRollbackRequest) (*PlatformTRPCResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformTRPCResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformRollbackAPIService.PlatformRollbackRollback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/rollback/rollback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.platformDeploymentKillProcessRequest == nil {
		return localVarReturnValue, nil, reportError("platformDeploymentKillProcessRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.platformDeploymentKillProcessRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
