/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// RunAPIService RunAPI service
type RunAPIService service

type RunAPIPostRunRequest struct {
	ctx        context.Context
	ApiService *RunAPIService
	runReq     *RunReq
}

func (r RunAPIPostRunRequest) RunReq(runReq RunReq) RunAPIPostRunRequest {
	r.runReq = &runReq
	return r
}

func (r RunAPIPostRunRequest) Execute() (*RunView, *http.Response, error) {
	return r.ApiService.PostRunExecute(r)
}

/*
PostRun Runs a container image and gives back a URL.

Runs a container image and gives back a URL.

The one-call shortcut over project → app → deploy: give it a `name` and an
`image` and it creates or updates an image-source application in your org's
DEFAULT project, deploys it through the same operator Service-CR writer
everything else uses, and answers its id, name, live URL, status and shape.
Re-running the same name UPDATES it in place, so the call is idempotent by name.

What it produces is a first-class application, not a special object: it is
listable, stoppable and redeployable through the /v1/platform routes like any
other app.

`minScale` is the replica floor. `maxScale` above it declares an autoscaling
ceiling; `maxScale: 0` means no autoscaler at all — a fixed run at the floor.
Both are clamped to the deployment's limits. `runtime` and `shape` are accepted
for the client contract and echoed back: the image is the runtime unit and sizing
is the operator's default.

It is BILLING-GATED before it touches the cluster: a flat per-run fee is
authorized against the org's own prepaid balance first, so an org that cannot pay
is refused without anything being created. An unreachable cluster is 503 — a run
never reports a URL it did not create. Secret env is sealed into KMS and fails
closed without it.

Requires a validated principal; 403 without one. The org is resolved from that
validated identity and is what both pays and owns the namespace — it is never
read from the body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RunAPIPostRunRequest
*/
func (a *RunAPIService) PostRun(ctx context.Context) RunAPIPostRunRequest {
	return RunAPIPostRunRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RunView
func (a *RunAPIService) PostRunExecute(r RunAPIPostRunRequest) (*RunView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RunView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RunAPIService.PostRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/run"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.runReq == nil {
		return localVarReturnValue, nil, reportError("runReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
