/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// PubsubAPIService PubsubAPI service
type PubsubAPIService service

type PubsubAPIDeletePubsubJetstreamStreamsByStreamRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	stream     string
}

func (r PubsubAPIDeletePubsubJetstreamStreamsByStreamRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePubsubJetstreamStreamsByStreamExecute(r)
}

/*
DeletePubsubJetstreamStreamsByStream Removes one stream of the caller's org — its retained messages and its consumers with it — and answers 204 with no body.

Removes one stream of the caller's org — its retained messages
and its consumers with it — and answers 204 with no body. 404 when the org
has no stream of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream's name, from the path.
	@return PubsubAPIDeletePubsubJetstreamStreamsByStreamRequest
*/
func (a *PubsubAPIService) DeletePubsubJetstreamStreamsByStream(ctx context.Context, stream string) PubsubAPIDeletePubsubJetstreamStreamsByStreamRequest {
	return PubsubAPIDeletePubsubJetstreamStreamsByStreamRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
func (a *PubsubAPIService) DeletePubsubJetstreamStreamsByStreamExecute(r PubsubAPIDeletePubsubJetstreamStreamsByStreamRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.DeletePubsubJetstreamStreamsByStream")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PubsubAPIDeletePubsubJetstreamStreamsByStreamConsumersByNameRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	stream     string
	name       string
}

func (r PubsubAPIDeletePubsubJetstreamStreamsByStreamConsumersByNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePubsubJetstreamStreamsByStreamConsumersByNameExecute(r)
}

/*
DeletePubsubJetstreamStreamsByStreamConsumersByName Removes one consumer — its cursor, not the stream's messages — and answers 204 with no body.

Removes one consumer — its cursor, not the stream's messages —
and answers 204 with no body. 404 when the stream or the consumer does not
exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream, from the path.
	@param name Name is the consumer, from the path.
	@return PubsubAPIDeletePubsubJetstreamStreamsByStreamConsumersByNameRequest
*/
func (a *PubsubAPIService) DeletePubsubJetstreamStreamsByStreamConsumersByName(ctx context.Context, stream string, name string) PubsubAPIDeletePubsubJetstreamStreamsByStreamConsumersByNameRequest {
	return PubsubAPIDeletePubsubJetstreamStreamsByStreamConsumersByNameRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
func (a *PubsubAPIService) DeletePubsubJetstreamStreamsByStreamConsumersByNameExecute(r PubsubAPIDeletePubsubJetstreamStreamsByStreamConsumersByNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.DeletePubsubJetstreamStreamsByStreamConsumersByName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PubsubAPIDeletePubsubKvByBucketRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	bucket     string
}

func (r PubsubAPIDeletePubsubKvByBucketRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePubsubKvByBucketExecute(r)
}

/*
DeletePubsubKvByBucket Removes one bucket of the caller's org — every key and every revision with it — and answers 204 with no body.

Removes one bucket of the caller's org — every key and every
revision with it — and answers 204 with no body. 404 when the org has no
bucket of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket's name, from the path.
	@return PubsubAPIDeletePubsubKvByBucketRequest
*/
func (a *PubsubAPIService) DeletePubsubKvByBucket(ctx context.Context, bucket string) PubsubAPIDeletePubsubKvByBucketRequest {
	return PubsubAPIDeletePubsubKvByBucketRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
func (a *PubsubAPIService) DeletePubsubKvByBucketExecute(r PubsubAPIDeletePubsubKvByBucketRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.DeletePubsubKvByBucket")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PubsubAPIDeletePubsubKvByBucketByKeyRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	bucket     string
	key        string
}

func (r PubsubAPIDeletePubsubKvByBucketByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePubsubKvByBucketByKeyExecute(r)
}

/*
DeletePubsubKvByBucketByKey Delete removes one key — a delete marker in the key's history, so watchers see it and Get answers 404 — and answers 204 with no body.

Delete removes one key — a delete marker in the key's history, so watchers
see it and Get answers 404 — and answers 204 with no body. 404 when the
bucket does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket, from the path.
	@param key Key is the key, from the path.
	@return PubsubAPIDeletePubsubKvByBucketByKeyRequest
*/
func (a *PubsubAPIService) DeletePubsubKvByBucketByKey(ctx context.Context, bucket string, key string) PubsubAPIDeletePubsubKvByBucketByKeyRequest {
	return PubsubAPIDeletePubsubKvByBucketByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
		key:        key,
	}
}

// Execute executes the request
func (a *PubsubAPIService) DeletePubsubKvByBucketByKeyExecute(r PubsubAPIDeletePubsubKvByBucketByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.DeletePubsubKvByBucketByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PubsubAPIGetPubsubJetstreamStreamsRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
}

func (r PubsubAPIGetPubsubJetstreamStreamsRequest) Execute() (*StreamPage, *http.Response, error) {
	return r.ApiService.GetPubsubJetstreamStreamsExecute(r)
}

/*
GetPubsubJetstreamStreams Returns the org's streams, sorted by name.

Returns the org's streams, sorted by name.

A stream is the durable log: it captures every message published to its
subjects and retains them by its own limits, independent of any consumer.
The listing is org-scoped server-side — one org can never see another's
streams, and the platform's own planes never appear.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubsubAPIGetPubsubJetstreamStreamsRequest
*/
func (a *PubsubAPIService) GetPubsubJetstreamStreams(ctx context.Context) PubsubAPIGetPubsubJetstreamStreamsRequest {
	return PubsubAPIGetPubsubJetstreamStreamsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StreamPage
func (a *PubsubAPIService) GetPubsubJetstreamStreamsExecute(r PubsubAPIGetPubsubJetstreamStreamsRequest) (*StreamPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StreamPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.GetPubsubJetstreamStreams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIGetPubsubJetstreamStreamsByStreamRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	stream     string
}

func (r PubsubAPIGetPubsubJetstreamStreamsByStreamRequest) Execute() (*StreamRecord, *http.Response, error) {
	return r.ApiService.GetPubsubJetstreamStreamsByStreamExecute(r)
}

/*
GetPubsubJetstreamStreamsByStream Returns one stream of the caller's org — its configuration and its live state (messages, bytes, sequence range, consumer count).

Returns one stream of the caller's org — its configuration and its
live state (messages, bytes, sequence range, consumer count). 404 when the
org has no stream of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream's name, from the path.
	@return PubsubAPIGetPubsubJetstreamStreamsByStreamRequest
*/
func (a *PubsubAPIService) GetPubsubJetstreamStreamsByStream(ctx context.Context, stream string) PubsubAPIGetPubsubJetstreamStreamsByStreamRequest {
	return PubsubAPIGetPubsubJetstreamStreamsByStreamRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return StreamRecord
func (a *PubsubAPIService) GetPubsubJetstreamStreamsByStreamExecute(r PubsubAPIGetPubsubJetstreamStreamsByStreamRequest) (*StreamRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StreamRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.GetPubsubJetstreamStreamsByStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	stream     string
}

func (r PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersRequest) Execute() (*ConsumerPage, *http.Response, error) {
	return r.ApiService.GetPubsubJetstreamStreamsByStreamConsumersExecute(r)
}

/*
GetPubsubJetstreamStreamsByStreamConsumers Returns one stream's consumers, sorted by name.

Returns one stream's consumers, sorted by name. 404 when the
org has no stream of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream's name, from the path.
	@return PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersRequest
*/
func (a *PubsubAPIService) GetPubsubJetstreamStreamsByStreamConsumers(ctx context.Context, stream string) PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersRequest {
	return PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return ConsumerPage
func (a *PubsubAPIService) GetPubsubJetstreamStreamsByStreamConsumersExecute(r PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersRequest) (*ConsumerPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsumerPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.GetPubsubJetstreamStreamsByStreamConsumers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersByNameRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	stream     string
	name       string
}

func (r PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersByNameRequest) Execute() (*ConsumerRecord, *http.Response, error) {
	return r.ApiService.GetPubsubJetstreamStreamsByStreamConsumersByNameExecute(r)
}

/*
GetPubsubJetstreamStreamsByStreamConsumersByName Returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts.

Returns one consumer of one org stream — its configuration and
its cursor: delivered and acknowledged sequences, pending and redelivered
counts. 404 when the stream or the consumer does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream, from the path.
	@param name Name is the consumer, from the path.
	@return PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersByNameRequest
*/
func (a *PubsubAPIService) GetPubsubJetstreamStreamsByStreamConsumersByName(ctx context.Context, stream string, name string) PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersByNameRequest {
	return PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersByNameRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
//
//	@return ConsumerRecord
func (a *PubsubAPIService) GetPubsubJetstreamStreamsByStreamConsumersByNameExecute(r PubsubAPIGetPubsubJetstreamStreamsByStreamConsumersByNameRequest) (*ConsumerRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsumerRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.GetPubsubJetstreamStreamsByStreamConsumersByName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIGetPubsubKvByBucketByKeyRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	bucket     string
	key        string
}

func (r PubsubAPIGetPubsubKvByBucketByKeyRequest) Execute() (*KvEntry, *http.Response, error) {
	return r.ApiService.GetPubsubKvByBucketByKeyExecute(r)
}

/*
GetPubsubKvByBucketByKey Get returns one key's current value and revision.

Get returns one key's current value and revision. 404 when the bucket does
not exist, the key was never written, or its latest revision is a delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket, from the path.
	@param key Key is the key, from the path.
	@return PubsubAPIGetPubsubKvByBucketByKeyRequest
*/
func (a *PubsubAPIService) GetPubsubKvByBucketByKey(ctx context.Context, bucket string, key string) PubsubAPIGetPubsubKvByBucketByKeyRequest {
	return PubsubAPIGetPubsubKvByBucketByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
		key:        key,
	}
}

// Execute executes the request
//
//	@return KvEntry
func (a *PubsubAPIService) GetPubsubKvByBucketByKeyExecute(r PubsubAPIGetPubsubKvByBucketByKeyRequest) (*KvEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KvEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.GetPubsubKvByBucketByKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIGetPubsubKvByBucketByKeyHistoryRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	bucket     string
	key        string
}

func (r PubsubAPIGetPubsubKvByBucketByKeyHistoryRequest) Execute() (*KvPage, *http.Response, error) {
	return r.ApiService.GetPubsubKvByBucketByKeyHistoryExecute(r)
}

/*
GetPubsubKvByBucketByKeyHistory History returns one key's retained revisions, oldest first — every put and every delete marker up to the bucket's History depth.

History returns one key's retained revisions, oldest first — every put and
every delete marker up to the bucket's History depth. 404 when the bucket
does not exist or the key was never written.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket, from the path.
	@param key Key is the key, from the path.
	@return PubsubAPIGetPubsubKvByBucketByKeyHistoryRequest
*/
func (a *PubsubAPIService) GetPubsubKvByBucketByKeyHistory(ctx context.Context, bucket string, key string) PubsubAPIGetPubsubKvByBucketByKeyHistoryRequest {
	return PubsubAPIGetPubsubKvByBucketByKeyHistoryRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
		key:        key,
	}
}

// Execute executes the request
//
//	@return KvPage
func (a *PubsubAPIService) GetPubsubKvByBucketByKeyHistoryExecute(r PubsubAPIGetPubsubKvByBucketByKeyHistoryRequest) (*KvPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KvPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.GetPubsubKvByBucketByKeyHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}/{key}/history"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPostPubsubJetstreamStreamsRequest struct {
	ctx         context.Context
	ApiService  *PubsubAPIService
	streamWrite *StreamWrite
}

func (r PubsubAPIPostPubsubJetstreamStreamsRequest) StreamWrite(streamWrite StreamWrite) PubsubAPIPostPubsubJetstreamStreamsRequest {
	r.streamWrite = &streamWrite
	return r
}

func (r PubsubAPIPostPubsubJetstreamStreamsRequest) Execute() (*StreamRecord, *http.Response, error) {
	return r.ApiService.PostPubsubJetstreamStreamsExecute(r)
}

/*
PostPubsubJetstreamStreams Creates a durable stream capturing the given subjects and returns it.

Creates a durable stream capturing the given subjects and
returns it. 409 when the org already has a stream of that name; the subjects
are the org's own and cannot collide with another org's.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubsubAPIPostPubsubJetstreamStreamsRequest
*/
func (a *PubsubAPIService) PostPubsubJetstreamStreams(ctx context.Context) PubsubAPIPostPubsubJetstreamStreamsRequest {
	return PubsubAPIPostPubsubJetstreamStreamsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StreamRecord
func (a *PubsubAPIService) PostPubsubJetstreamStreamsExecute(r PubsubAPIPostPubsubJetstreamStreamsRequest) (*StreamRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StreamRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PostPubsubJetstreamStreams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.streamWrite == nil {
		return localVarReturnValue, nil, reportError("streamWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.streamWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersRequest struct {
	ctx           context.Context
	ApiService    *PubsubAPIService
	stream        string
	consumerWrite *ConsumerWrite
}

func (r PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersRequest) ConsumerWrite(consumerWrite ConsumerWrite) PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersRequest {
	r.consumerWrite = &consumerWrite
	return r
}

func (r PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersRequest) Execute() (*ConsumerRecord, *http.Response, error) {
	return r.ApiService.PostPubsubJetstreamStreamsByStreamConsumersExecute(r)
}

/*
PostPubsubJetstreamStreamsByStreamConsumers Creates a durable consumer on one stream and returns it.

Creates a durable consumer on one stream and returns it. A
consumer is a named cursor: it tracks what has been delivered and what is
acknowledged, so many workers can share it and none sees a message twice
outside redelivery. 409 when the stream already has a consumer of that name
with a different configuration.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream to consume, from the path.
	@return PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersRequest
*/
func (a *PubsubAPIService) PostPubsubJetstreamStreamsByStreamConsumers(ctx context.Context, stream string) PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersRequest {
	return PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return ConsumerRecord
func (a *PubsubAPIService) PostPubsubJetstreamStreamsByStreamConsumersExecute(r PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersRequest) (*ConsumerRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsumerRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PostPubsubJetstreamStreamsByStreamConsumers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consumerWrite == nil {
		return localVarReturnValue, nil, reportError("consumerWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consumerWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersByNameNextRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	stream     string
	name       string
	fetchQuery *FetchQuery
}

func (r PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersByNameNextRequest) FetchQuery(fetchQuery FetchQuery) PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersByNameNextRequest {
	r.fetchQuery = &fetchQuery
	return r
}

func (r PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersByNameNextRequest) Execute() (*MessagePage, *http.Response, error) {
	return r.ApiService.PostPubsubJetstreamStreamsByStreamConsumersByNameNextExecute(r)
}

/*
PostPubsubJetstreamStreamsByStreamConsumersByNameNext Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream.

Fetch pulls the next batch from a consumer and acknowledges it — the
request/response way to consume a stream. The hand-off is at-most-once: a
message returned here is acked here, so a caller that loses the response does
not see it again. Workers needing at-least-once delivery consume the same
consumer over the NATS port, where acks are theirs to send. An empty batch
after the wait is an empty page, not an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream, from the path.
	@param name Name is the consumer, from the path.
	@return PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersByNameNextRequest
*/
func (a *PubsubAPIService) PostPubsubJetstreamStreamsByStreamConsumersByNameNext(ctx context.Context, stream string, name string) PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersByNameNextRequest {
	return PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersByNameNextRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
//
//	@return MessagePage
func (a *PubsubAPIService) PostPubsubJetstreamStreamsByStreamConsumersByNameNextExecute(r PubsubAPIPostPubsubJetstreamStreamsByStreamConsumersByNameNextRequest) (*MessagePage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MessagePage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PostPubsubJetstreamStreamsByStreamConsumersByNameNext")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}/next"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fetchQuery == nil {
		return localVarReturnValue, nil, reportError("fetchQuery is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.fetchQuery
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPostPubsubKvByBucketRequest struct {
	ctx         context.Context
	ApiService  *PubsubAPIService
	bucket      string
	bucketWrite *BucketWrite
}

func (r PubsubAPIPostPubsubKvByBucketRequest) BucketWrite(bucketWrite BucketWrite) PubsubAPIPostPubsubKvByBucketRequest {
	r.bucketWrite = &bucketWrite
	return r
}

func (r PubsubAPIPostPubsubKvByBucketRequest) Execute() (*BucketRecord, *http.Response, error) {
	return r.ApiService.PostPubsubKvByBucketExecute(r)
}

/*
PostPubsubKvByBucket Creates a KV bucket and returns it.

Creates a KV bucket and returns it. A bucket is keyed state on
the same durable plane as the streams: each key holds up to History
revisions, entries can expire by TTL, and watchers on the NATS port see every
write. 409 when the org already has a bucket of that name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket's name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
	@return PubsubAPIPostPubsubKvByBucketRequest
*/
func (a *PubsubAPIService) PostPubsubKvByBucket(ctx context.Context, bucket string) PubsubAPIPostPubsubKvByBucketRequest {
	return PubsubAPIPostPubsubKvByBucketRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
//
//	@return BucketRecord
func (a *PubsubAPIService) PostPubsubKvByBucketExecute(r PubsubAPIPostPubsubKvByBucketRequest) (*BucketRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PostPubsubKvByBucket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bucketWrite == nil {
		return localVarReturnValue, nil, reportError("bucketWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bucketWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPostPubsubPublishRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	busPublish *BusPublish
}

func (r PubsubAPIPostPubsubPublishRequest) BusPublish(busPublish BusPublish) PubsubAPIPostPubsubPublishRequest {
	r.busPublish = &busPublish
	return r
}

func (r PubsubAPIPostPubsubPublishRequest) Execute() (*BusAck, *http.Response, error) {
	return r.ApiService.PostPubsubPublishExecute(r)
}

/*
PostPubsubPublish Publish puts one message on the org's bus.

Publish puts one message on the org's bus. When a stream captures the subject
the write is DURABLE — the receipt names the stream and sequence only after
JetStream has it on storage, and a repeated Nats-Msg-Id header within the
dedup window answers duplicate instead of storing twice. When nothing
captures it, the message goes out core NATS: delivered to current
subscribers, receipt {ok}, nothing retained.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubsubAPIPostPubsubPublishRequest
*/
func (a *PubsubAPIService) PostPubsubPublish(ctx context.Context) PubsubAPIPostPubsubPublishRequest {
	return PubsubAPIPostPubsubPublishRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BusAck
func (a *PubsubAPIService) PostPubsubPublishExecute(r PubsubAPIPostPubsubPublishRequest) (*BusAck, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusAck
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PostPubsubPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/publish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.busPublish == nil {
		return localVarReturnValue, nil, reportError("busPublish is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.busPublish
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPostPubsubRequestRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	busRequest *BusRequest
}

func (r PubsubAPIPostPubsubRequestRequest) BusRequest(busRequest BusRequest) PubsubAPIPostPubsubRequestRequest {
	r.busRequest = &busRequest
	return r
}

func (r PubsubAPIPostPubsubRequestRequest) Execute() (*BusMessage, *http.Response, error) {
	return r.ApiService.PostPubsubRequestExecute(r)
}

/*
PostPubsubRequest Request sends one request on the org's bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port.

Request sends one request on the org's bus and waits for one reply — the
synchronous half of pub/sub, for callers speaking to a responder subscribed
on the NATS port. 404 when nobody is listening on the subject; 408 when a
responder exists but no reply arrived within the timeout.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubsubAPIPostPubsubRequestRequest
*/
func (a *PubsubAPIService) PostPubsubRequest(ctx context.Context) PubsubAPIPostPubsubRequestRequest {
	return PubsubAPIPostPubsubRequestRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BusMessage
func (a *PubsubAPIService) PostPubsubRequestExecute(r PubsubAPIPostPubsubRequestRequest) (*BusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PostPubsubRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/request"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.busRequest == nil {
		return localVarReturnValue, nil, reportError("busRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.busRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPutPubsubJetstreamStreamsByStreamRequest struct {
	ctx          context.Context
	ApiService   *PubsubAPIService
	stream       string
	streamUpdate *StreamUpdate
}

func (r PubsubAPIPutPubsubJetstreamStreamsByStreamRequest) StreamUpdate(streamUpdate StreamUpdate) PubsubAPIPutPubsubJetstreamStreamsByStreamRequest {
	r.streamUpdate = &streamUpdate
	return r
}

func (r PubsubAPIPutPubsubJetstreamStreamsByStreamRequest) Execute() (*StreamRecord, *http.Response, error) {
	return r.ApiService.PutPubsubJetstreamStreamsByStreamExecute(r)
}

/*
PutPubsubJetstreamStreamsByStream Rewrites a stream's configuration — subjects, limits, discard — and returns the updated stream.

Rewrites a stream's configuration — subjects, limits, discard —
and returns the updated stream. It is a PUT: the spec sent replaces the spec
held, with one reading for the enums a caller omits — an empty storage,
retention or discard keeps the stream's current one, because JetStream holds
storage and retention immutable and refuses a change with a 400 rather than
this door pretending it took.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream to update, from the path.
	@return PubsubAPIPutPubsubJetstreamStreamsByStreamRequest
*/
func (a *PubsubAPIService) PutPubsubJetstreamStreamsByStream(ctx context.Context, stream string) PubsubAPIPutPubsubJetstreamStreamsByStreamRequest {
	return PubsubAPIPutPubsubJetstreamStreamsByStreamRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return StreamRecord
func (a *PubsubAPIService) PutPubsubJetstreamStreamsByStreamExecute(r PubsubAPIPutPubsubJetstreamStreamsByStreamRequest) (*StreamRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StreamRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PutPubsubJetstreamStreamsByStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/jetstream/streams/{stream}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.streamUpdate == nil {
		return localVarReturnValue, nil, reportError("streamUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.streamUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPutPubsubKvByBucketByKeyRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	bucket     string
	key        string
	kvWrite    *KvWrite
}

func (r PubsubAPIPutPubsubKvByBucketByKeyRequest) KvWrite(kvWrite KvWrite) PubsubAPIPutPubsubKvByBucketByKeyRequest {
	r.kvWrite = &kvWrite
	return r
}

func (r PubsubAPIPutPubsubKvByBucketByKeyRequest) Execute() (*KvAck, *http.Response, error) {
	return r.ApiService.PutPubsubKvByBucketByKeyExecute(r)
}

/*
PutPubsubKvByBucketByKey Put sets one key to one value and returns the revision the write created.

Put sets one key to one value and returns the revision the write created.
Writes are versioned: each put is a new revision and the bucket retains up to
its History of them per key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket, from the path.
	@param key Key is the key, from the path.
	@return PubsubAPIPutPubsubKvByBucketByKeyRequest
*/
func (a *PubsubAPIService) PutPubsubKvByBucketByKey(ctx context.Context, bucket string, key string) PubsubAPIPutPubsubKvByBucketByKeyRequest {
	return PubsubAPIPutPubsubKvByBucketByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
		key:        key,
	}
}

// Execute executes the request
//
//	@return KvAck
func (a *PubsubAPIService) PutPubsubKvByBucketByKeyExecute(r PubsubAPIPutPubsubKvByBucketByKeyRequest) (*KvAck, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KvAck
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PutPubsubKvByBucketByKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/kv/{bucket}/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kvWrite == nil {
		return localVarReturnValue, nil, reportError("kvWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kvWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
