/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// EventsAPIService EventsAPI service
type EventsAPIService service

type EventsAPIAnalyticsGetEventDataEventsRequest struct {
	ctx        context.Context
	ApiService *EventsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	event      *string
}

// Start timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataEventsRequest) StartAt(startAt int64) EventsAPIAnalyticsGetEventDataEventsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataEventsRequest) EndAt(endAt int64) EventsAPIAnalyticsGetEventDataEventsRequest {
	r.endAt = &endAt
	return r
}

func (r EventsAPIAnalyticsGetEventDataEventsRequest) Event(event string) EventsAPIAnalyticsGetEventDataEventsRequest {
	r.event = &event
	return r
}

func (r EventsAPIAnalyticsGetEventDataEventsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataEventsExecute(r)
}

/*
AnalyticsGetEventDataEvents Get event data grouped by event name

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return EventsAPIAnalyticsGetEventDataEventsRequest
*/
func (a *EventsAPIService) AnalyticsGetEventDataEvents(ctx context.Context, websiteId string) EventsAPIAnalyticsGetEventDataEventsRequest {
	return EventsAPIAnalyticsGetEventDataEventsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *EventsAPIService) AnalyticsGetEventDataEventsExecute(r EventsAPIAnalyticsGetEventDataEventsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.AnalyticsGetEventDataEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/events"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EventsAPIAnalyticsGetEventDataFieldsRequest struct {
	ctx        context.Context
	ApiService *EventsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
}

// Start timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataFieldsRequest) StartAt(startAt int64) EventsAPIAnalyticsGetEventDataFieldsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataFieldsRequest) EndAt(endAt int64) EventsAPIAnalyticsGetEventDataFieldsRequest {
	r.endAt = &endAt
	return r
}

func (r EventsAPIAnalyticsGetEventDataFieldsRequest) Execute() ([]AnalyticsGetEventDataFields200ResponseInner, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataFieldsExecute(r)
}

/*
AnalyticsGetEventDataFields Get event data fields

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return EventsAPIAnalyticsGetEventDataFieldsRequest
*/
func (a *EventsAPIService) AnalyticsGetEventDataFields(ctx context.Context, websiteId string) EventsAPIAnalyticsGetEventDataFieldsRequest {
	return EventsAPIAnalyticsGetEventDataFieldsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsGetEventDataFields200ResponseInner
func (a *EventsAPIService) AnalyticsGetEventDataFieldsExecute(r EventsAPIAnalyticsGetEventDataFieldsRequest) ([]AnalyticsGetEventDataFields200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsGetEventDataFields200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.AnalyticsGetEventDataFields")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/fields"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EventsAPIAnalyticsGetEventDataPropertiesRequest struct {
	ctx          context.Context
	ApiService   *EventsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	propertyName *string
}

// Start timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataPropertiesRequest) StartAt(startAt int64) EventsAPIAnalyticsGetEventDataPropertiesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataPropertiesRequest) EndAt(endAt int64) EventsAPIAnalyticsGetEventDataPropertiesRequest {
	r.endAt = &endAt
	return r
}

func (r EventsAPIAnalyticsGetEventDataPropertiesRequest) PropertyName(propertyName string) EventsAPIAnalyticsGetEventDataPropertiesRequest {
	r.propertyName = &propertyName
	return r
}

func (r EventsAPIAnalyticsGetEventDataPropertiesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataPropertiesExecute(r)
}

/*
AnalyticsGetEventDataProperties Get event data properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return EventsAPIAnalyticsGetEventDataPropertiesRequest
*/
func (a *EventsAPIService) AnalyticsGetEventDataProperties(ctx context.Context, websiteId string) EventsAPIAnalyticsGetEventDataPropertiesRequest {
	return EventsAPIAnalyticsGetEventDataPropertiesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *EventsAPIService) AnalyticsGetEventDataPropertiesExecute(r EventsAPIAnalyticsGetEventDataPropertiesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.AnalyticsGetEventDataProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EventsAPIAnalyticsGetEventDataStatsRequest struct {
	ctx          context.Context
	ApiService   *EventsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	propertyName *string
}

// Start timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataStatsRequest) StartAt(startAt int64) EventsAPIAnalyticsGetEventDataStatsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataStatsRequest) EndAt(endAt int64) EventsAPIAnalyticsGetEventDataStatsRequest {
	r.endAt = &endAt
	return r
}

func (r EventsAPIAnalyticsGetEventDataStatsRequest) PropertyName(propertyName string) EventsAPIAnalyticsGetEventDataStatsRequest {
	r.propertyName = &propertyName
	return r
}

func (r EventsAPIAnalyticsGetEventDataStatsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataStatsExecute(r)
}

/*
AnalyticsGetEventDataStats Get event data aggregate stats

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return EventsAPIAnalyticsGetEventDataStatsRequest
*/
func (a *EventsAPIService) AnalyticsGetEventDataStats(ctx context.Context, websiteId string) EventsAPIAnalyticsGetEventDataStatsRequest {
	return EventsAPIAnalyticsGetEventDataStatsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *EventsAPIService) AnalyticsGetEventDataStatsExecute(r EventsAPIAnalyticsGetEventDataStatsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.AnalyticsGetEventDataStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EventsAPIAnalyticsGetEventDataValuesRequest struct {
	ctx          context.Context
	ApiService   *EventsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	eventName    *string
	propertyName *string
}

// Start timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataValuesRequest) StartAt(startAt int64) EventsAPIAnalyticsGetEventDataValuesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventDataValuesRequest) EndAt(endAt int64) EventsAPIAnalyticsGetEventDataValuesRequest {
	r.endAt = &endAt
	return r
}

func (r EventsAPIAnalyticsGetEventDataValuesRequest) EventName(eventName string) EventsAPIAnalyticsGetEventDataValuesRequest {
	r.eventName = &eventName
	return r
}

func (r EventsAPIAnalyticsGetEventDataValuesRequest) PropertyName(propertyName string) EventsAPIAnalyticsGetEventDataValuesRequest {
	r.propertyName = &propertyName
	return r
}

func (r EventsAPIAnalyticsGetEventDataValuesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataValuesExecute(r)
}

/*
AnalyticsGetEventDataValues Get event data values for a property

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return EventsAPIAnalyticsGetEventDataValuesRequest
*/
func (a *EventsAPIService) AnalyticsGetEventDataValues(ctx context.Context, websiteId string) EventsAPIAnalyticsGetEventDataValuesRequest {
	return EventsAPIAnalyticsGetEventDataValuesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *EventsAPIService) AnalyticsGetEventDataValuesExecute(r EventsAPIAnalyticsGetEventDataValuesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.AnalyticsGetEventDataValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/values"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.eventName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventName", r.eventName, "form", "")
	}
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EventsAPIAnalyticsGetEventSeriesRequest struct {
	ctx        context.Context
	ApiService *EventsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	unit       *string
	timezone   *string
	url        *string
	referrer   *string
	title      *string
	os         *string
	browser    *string
	device     *string
	country    *string
	region     *string
	city       *string
	tag        *string
	host       *string
	language   *string
	event      *string
}

// Start timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventSeriesRequest) StartAt(startAt int64) EventsAPIAnalyticsGetEventSeriesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventSeriesRequest) EndAt(endAt int64) EventsAPIAnalyticsGetEventSeriesRequest {
	r.endAt = &endAt
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Unit(unit string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.unit = &unit
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Timezone(timezone string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.timezone = &timezone
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Url(url string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.url = &url
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Referrer(referrer string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.referrer = &referrer
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Title(title string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.title = &title
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Os(os string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.os = &os
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Browser(browser string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.browser = &browser
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Device(device string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.device = &device
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Country(country string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.country = &country
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Region(region string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.region = &region
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) City(city string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.city = &city
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Tag(tag string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.tag = &tag
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Host(host string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.host = &host
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Language(language string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.language = &language
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Event(event string) EventsAPIAnalyticsGetEventSeriesRequest {
	r.event = &event
	return r
}

func (r EventsAPIAnalyticsGetEventSeriesRequest) Execute() ([]AnalyticsPageviewSeries, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventSeriesExecute(r)
}

/*
AnalyticsGetEventSeries Get event metrics as a time series

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return EventsAPIAnalyticsGetEventSeriesRequest
*/
func (a *EventsAPIService) AnalyticsGetEventSeries(ctx context.Context, websiteId string) EventsAPIAnalyticsGetEventSeriesRequest {
	return EventsAPIAnalyticsGetEventSeriesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsPageviewSeries
func (a *EventsAPIService) AnalyticsGetEventSeriesExecute(r EventsAPIAnalyticsGetEventSeriesRequest) ([]AnalyticsPageviewSeries, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsPageviewSeries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.AnalyticsGetEventSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/events/series"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.unit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unit", r.unit, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.referrer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referrer", r.referrer, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EventsAPIAnalyticsGetEventsRequest struct {
	ctx        context.Context
	ApiService *EventsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

// Start timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventsRequest) StartAt(startAt int64) EventsAPIAnalyticsGetEventsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r EventsAPIAnalyticsGetEventsRequest) EndAt(endAt int64) EventsAPIAnalyticsGetEventsRequest {
	r.endAt = &endAt
	return r
}

func (r EventsAPIAnalyticsGetEventsRequest) Page(page int32) EventsAPIAnalyticsGetEventsRequest {
	r.page = &page
	return r
}

func (r EventsAPIAnalyticsGetEventsRequest) PageSize(pageSize int32) EventsAPIAnalyticsGetEventsRequest {
	r.pageSize = &pageSize
	return r
}

func (r EventsAPIAnalyticsGetEventsRequest) OrderBy(orderBy string) EventsAPIAnalyticsGetEventsRequest {
	r.orderBy = &orderBy
	return r
}

func (r EventsAPIAnalyticsGetEventsRequest) Search(search string) EventsAPIAnalyticsGetEventsRequest {
	r.search = &search
	return r
}

func (r EventsAPIAnalyticsGetEventsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventsExecute(r)
}

/*
AnalyticsGetEvents Get paginated list of events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return EventsAPIAnalyticsGetEventsRequest
*/
func (a *EventsAPIService) AnalyticsGetEvents(ctx context.Context, websiteId string) EventsAPIAnalyticsGetEventsRequest {
	return EventsAPIAnalyticsGetEventsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *EventsAPIService) AnalyticsGetEventsExecute(r EventsAPIAnalyticsGetEventsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.AnalyticsGetEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/events"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EventsAPIS3GetBucketNotificationRequest struct {
	ctx        context.Context
	ApiService *EventsAPIService
	bucket     string
}

func (r EventsAPIS3GetBucketNotificationRequest) Execute() (*S3GetBucketNotification200Response, *http.Response, error) {
	return r.ApiService.S3GetBucketNotificationExecute(r)
}

/*
S3GetBucketNotification Get event notification config

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket
	@return EventsAPIS3GetBucketNotificationRequest
*/
func (a *EventsAPIService) S3GetBucketNotification(ctx context.Context, bucket string) EventsAPIS3GetBucketNotificationRequest {
	return EventsAPIS3GetBucketNotificationRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
//
//	@return S3GetBucketNotification200Response
func (a *EventsAPIService) S3GetBucketNotificationExecute(r EventsAPIS3GetBucketNotificationRequest) (*S3GetBucketNotification200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *S3GetBucketNotification200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.S3GetBucketNotification")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/s3/{bucket}?notification"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EventsAPIS3PutBucketNotificationRequest struct {
	ctx                                context.Context
	ApiService                         *EventsAPIService
	bucket                             string
	s3GetBucketNotification200Response *S3GetBucketNotification200Response
}

func (r EventsAPIS3PutBucketNotificationRequest) S3GetBucketNotification200Response(s3GetBucketNotification200Response S3GetBucketNotification200Response) EventsAPIS3PutBucketNotificationRequest {
	r.s3GetBucketNotification200Response = &s3GetBucketNotification200Response
	return r
}

func (r EventsAPIS3PutBucketNotificationRequest) Execute() (*http.Response, error) {
	return r.ApiService.S3PutBucketNotificationExecute(r)
}

/*
S3PutBucketNotification Set event notification config

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket
	@return EventsAPIS3PutBucketNotificationRequest
*/
func (a *EventsAPIService) S3PutBucketNotification(ctx context.Context, bucket string) EventsAPIS3PutBucketNotificationRequest {
	return EventsAPIS3PutBucketNotificationRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
func (a *EventsAPIService) S3PutBucketNotificationExecute(r EventsAPIS3PutBucketNotificationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.S3PutBucketNotification")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/s3/{bucket}?notification"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.s3GetBucketNotification200Response == nil {
		return nil, reportError("s3GetBucketNotification200Response is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.s3GetBucketNotification200Response
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
