/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ChannelsAPIService ChannelsAPI service
type ChannelsAPIService service

type ChannelsAPICloudGetV1ChannelsRequest struct {
	ctx        context.Context
	ApiService *ChannelsAPIService
}

func (r ChannelsAPICloudGetV1ChannelsRequest) Execute() (*CloudChatChannels, *http.Response, error) {
	return r.ApiService.CloudGetV1ChannelsExecute(r)
}

/*
CloudGetV1Channels Returns every chat transport channels can talk to — Discord, Slack, Teams and Telegram — with the caller org's own facts on each: whether it is connected and to which account, what the transport supports, the org's DM and group access policies, and how many pairing requests are pending approval.

Returns every chat transport channels can talk to — Discord, Slack, Teams
and Telegram — with the caller org's own facts on each: whether it is
connected and to which account, what the transport supports, the org's DM and
group access policies, and how many pairing requests are pending approval. The
order is fixed, so a console can render the same rows every time. A policy that
cannot be read leaves that channel's policy fields empty rather than failing
the whole listing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChannelsAPICloudGetV1ChannelsRequest
*/
func (a *ChannelsAPIService) CloudGetV1Channels(ctx context.Context) ChannelsAPICloudGetV1ChannelsRequest {
	return ChannelsAPICloudGetV1ChannelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudChatChannels
func (a *ChannelsAPIService) CloudGetV1ChannelsExecute(r ChannelsAPICloudGetV1ChannelsRequest) (*CloudChatChannels, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudChatChannels
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelsAPIService.CloudGetV1Channels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/channels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelsAPICloudGetV1ChannelsAllowlistRequest struct {
	ctx        context.Context
	ApiService *ChannelsAPIService
	channel    *string
}

// Channel is the transport to read: discord, slack, teams or telegram. Required; an unknown value is a 404.
func (r ChannelsAPICloudGetV1ChannelsAllowlistRequest) Channel(channel string) ChannelsAPICloudGetV1ChannelsAllowlistRequest {
	r.channel = &channel
	return r
}

func (r ChannelsAPICloudGetV1ChannelsAllowlistRequest) Execute() (*CloudAllowlistView, *http.Response, error) {
	return r.ApiService.CloudGetV1ChannelsAllowlistExecute(r)
}

/*
CloudGetV1ChannelsAllowlist Returns the caller org's access policy for one channel: whether DMs are pairing-gated, allowlisted or open, whether group rooms are open, allowlisted or disabled, the config-managed DM and group allow entries, the senders approved through PAIRING (read-only here), and the org's named access groups.

Returns the caller org's access policy for one channel: whether
DMs are pairing-gated, allowlisted or open, whether group rooms are open,
allowlisted or disabled, the config-managed DM and group allow entries, the
senders approved through PAIRING (read-only here), and the org's named access
groups. An unknown channel is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChannelsAPICloudGetV1ChannelsAllowlistRequest
*/
func (a *ChannelsAPIService) CloudGetV1ChannelsAllowlist(ctx context.Context) ChannelsAPICloudGetV1ChannelsAllowlistRequest {
	return ChannelsAPICloudGetV1ChannelsAllowlistRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAllowlistView
func (a *ChannelsAPIService) CloudGetV1ChannelsAllowlistExecute(r ChannelsAPICloudGetV1ChannelsAllowlistRequest) (*CloudAllowlistView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAllowlistView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelsAPIService.CloudGetV1ChannelsAllowlist")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/channels/allowlist"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.channel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "channel", r.channel, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelsAPICloudGetV1ChannelsInboxRequest struct {
	ctx        context.Context
	ApiService *ChannelsAPIService
	since      *string
	limit      *string
}

// Since is the exclusive cursor: only messages with a higher row id come back. Empty starts at the beginning. Must parse as an integer.
func (r ChannelsAPICloudGetV1ChannelsInboxRequest) Since(since string) ChannelsAPICloudGetV1ChannelsInboxRequest {
	r.since = &since
	return r
}

// Limit caps how many messages come back. Empty or 0 uses the store&#39;s default page size. Must parse as an integer.
func (r ChannelsAPICloudGetV1ChannelsInboxRequest) Limit(limit string) ChannelsAPICloudGetV1ChannelsInboxRequest {
	r.limit = &limit
	return r
}

func (r ChannelsAPICloudGetV1ChannelsInboxRequest) Execute() (*CloudInboxPage, *http.Response, error) {
	return r.ApiService.CloudGetV1ChannelsInboxExecute(r)
}

/*
CloudGetV1ChannelsInbox Returns the messages people have sent to the caller org's connected chat bots, oldest first, in the portable envelope shape every transport normalises into.

Returns the messages people have sent to the caller org's connected chat
bots, oldest first, in the portable envelope shape every transport normalises
into. It is a CURSOR feed, not a search: pass the returned cursor back as
`since` to get only what has arrived since. Only this org's messages are
stored under this org, so the feed can never carry another tenant's chat.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChannelsAPICloudGetV1ChannelsInboxRequest
*/
func (a *ChannelsAPIService) CloudGetV1ChannelsInbox(ctx context.Context) ChannelsAPICloudGetV1ChannelsInboxRequest {
	return ChannelsAPICloudGetV1ChannelsInboxRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudInboxPage
func (a *ChannelsAPIService) CloudGetV1ChannelsInboxExecute(r ChannelsAPICloudGetV1ChannelsInboxRequest) (*CloudInboxPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudInboxPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelsAPIService.CloudGetV1ChannelsInbox")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/channels/inbox"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelsAPICloudGetV1ChannelsPairingRequest struct {
	ctx        context.Context
	ApiService *ChannelsAPIService
}

func (r ChannelsAPICloudGetV1ChannelsPairingRequest) Execute() (*CloudPairingQueue, *http.Response, error) {
	return r.ApiService.CloudGetV1ChannelsPairingExecute(r)
}

/*
CloudGetV1ChannelsPairing Returns the pairing requests waiting for the caller org to approve — one per person who messaged a connected bot on a channel whose DM policy is \"pairing\" and who is not allowed yet.

Returns the pairing requests waiting for the caller org to approve
— one per person who messaged a connected bot on a channel whose DM policy is
"pairing" and who is not allowed yet. Each row carries the CODE an org admin
passes to POST /v1/channels/pairing/approve. Expired requests are not
returned. Codes are capability strings: they are shown here, and never logged.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChannelsAPICloudGetV1ChannelsPairingRequest
*/
func (a *ChannelsAPIService) CloudGetV1ChannelsPairing(ctx context.Context) ChannelsAPICloudGetV1ChannelsPairingRequest {
	return ChannelsAPICloudGetV1ChannelsPairingRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPairingQueue
func (a *ChannelsAPIService) CloudGetV1ChannelsPairingExecute(r ChannelsAPICloudGetV1ChannelsPairingRequest) (*CloudPairingQueue, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPairingQueue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelsAPIService.CloudGetV1ChannelsPairing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/channels/pairing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelsAPICloudPostV1ChannelsByChannelSendRequest struct {
	ctx        context.Context
	ApiService *ChannelsAPIService
	channel    string
}

func (r ChannelsAPICloudPostV1ChannelsByChannelSendRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1ChannelsByChannelSendExecute(r)
}

/*
CloudPostV1ChannelsByChannelSend Method for CloudPostV1ChannelsByChannelSend

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param channel
	@return ChannelsAPICloudPostV1ChannelsByChannelSendRequest
*/
func (a *ChannelsAPIService) CloudPostV1ChannelsByChannelSend(ctx context.Context, channel string) ChannelsAPICloudPostV1ChannelsByChannelSendRequest {
	return ChannelsAPICloudPostV1ChannelsByChannelSendRequest{
		ApiService: a,
		ctx:        ctx,
		channel:    channel,
	}
}

// Execute executes the request
func (a *ChannelsAPIService) CloudPostV1ChannelsByChannelSendExecute(r ChannelsAPICloudPostV1ChannelsByChannelSendRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelsAPIService.CloudPostV1ChannelsByChannelSend")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/channels/{channel}/send"
	localVarPath = strings.Replace(localVarPath, "{"+"channel"+"}", url.PathEscape(parameterValueToString(r.channel, "channel")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ChannelsAPICloudPostV1ChannelsPairingApproveRequest struct {
	ctx                   context.Context
	ApiService            *ChannelsAPIService
	cloudApprovePairingIn *CloudApprovePairingIn
}

func (r ChannelsAPICloudPostV1ChannelsPairingApproveRequest) CloudApprovePairingIn(cloudApprovePairingIn CloudApprovePairingIn) ChannelsAPICloudPostV1ChannelsPairingApproveRequest {
	r.cloudApprovePairingIn = &cloudApprovePairingIn
	return r
}

func (r ChannelsAPICloudPostV1ChannelsPairingApproveRequest) Execute() (*CloudPairingApproved, *http.Response, error) {
	return r.ApiService.CloudPostV1ChannelsPairingApproveExecute(r)
}

/*
CloudPostV1ChannelsPairingApprove Turns one pending pairing code into a standing allow entry, so that person can DM the org's bot on that channel from now on.

Turns one pending pairing code into a standing allow entry, so
that person can DM the org's bot on that channel from now on. It requires ORG
ADMIN, not merely membership. The first approval an org makes on a channel also
bootstraps that sender as the channel's owner, which the answer reports. An
unknown or expired code is a 404, and a code always belongs to exactly one
org, so it can never approve someone into another tenant.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChannelsAPICloudPostV1ChannelsPairingApproveRequest
*/
func (a *ChannelsAPIService) CloudPostV1ChannelsPairingApprove(ctx context.Context) ChannelsAPICloudPostV1ChannelsPairingApproveRequest {
	return ChannelsAPICloudPostV1ChannelsPairingApproveRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPairingApproved
func (a *ChannelsAPIService) CloudPostV1ChannelsPairingApproveExecute(r ChannelsAPICloudPostV1ChannelsPairingApproveRequest) (*CloudPairingApproved, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPairingApproved
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelsAPIService.CloudPostV1ChannelsPairingApprove")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/channels/pairing/approve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudApprovePairingIn == nil {
		return localVarReturnValue, nil, reportError("cloudApprovePairingIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudApprovePairingIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChannelsAPICloudPutV1ChannelsAllowlistRequest struct {
	ctx                 context.Context
	ApiService          *ChannelsAPIService
	cloudAllowlistPutIn *CloudAllowlistPutIn
}

func (r ChannelsAPICloudPutV1ChannelsAllowlistRequest) CloudAllowlistPutIn(cloudAllowlistPutIn CloudAllowlistPutIn) ChannelsAPICloudPutV1ChannelsAllowlistRequest {
	r.cloudAllowlistPutIn = &cloudAllowlistPutIn
	return r
}

func (r ChannelsAPICloudPutV1ChannelsAllowlistRequest) Execute() (*CloudAllowlistView, *http.Response, error) {
	return r.ApiService.CloudPutV1ChannelsAllowlistExecute(r)
}

/*
CloudPutV1ChannelsAllowlist Edits the caller org's access policy for one channel and answers the policy as GET would, so both verbs return ONE shape.

Edits the caller org's access policy for one channel and answers
the policy as GET would, so both verbs return ONE shape. It requires ORG ADMIN.
Every field but `channel` is optional and applied only when provided: an empty
policy string leaves that policy alone, an absent or null list leaves that list
alone, and an EMPTY list clears it. It writes only CONFIG-sourced allow entries
— senders approved through pairing belong to the approval flow, so a policy
edit can never revoke one. An unknown channel is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ChannelsAPICloudPutV1ChannelsAllowlistRequest
*/
func (a *ChannelsAPIService) CloudPutV1ChannelsAllowlist(ctx context.Context) ChannelsAPICloudPutV1ChannelsAllowlistRequest {
	return ChannelsAPICloudPutV1ChannelsAllowlistRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAllowlistView
func (a *ChannelsAPIService) CloudPutV1ChannelsAllowlistExecute(r ChannelsAPICloudPutV1ChannelsAllowlistRequest) (*CloudAllowlistView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAllowlistView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChannelsAPIService.CloudPutV1ChannelsAllowlist")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/channels/allowlist"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudAllowlistPutIn == nil {
		return localVarReturnValue, nil, reportError("cloudAllowlistPutIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudAllowlistPutIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
