/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SentryAPIService SentryAPI service
type SentryAPIService service

type SentryAPIDeleteSentryByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentryAPIService
	wildcard1  string
}

func (r SentryAPIDeleteSentryByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSentryByWildcard1Execute(r)
}

/*
DeleteSentryByWildcard1 Delete a Sentry project

The one delete on the Sentry surface: removing a PROJECT, answering 204. Error issues, events and traces are not individually deletable — they are append-only telemetry, and their lifetime is retention's business, not an API call's.

Requires a validated, org-scoped principal with edit rights; a viewer is refused. The delete is confined to the org minted from that principal's claim, so a project id belonging to another tenant is not found rather than removed. Deleting a project retires the DSN that fed it, so any SDK still pointed at that key stops being accepted. Before the runtime is initialized, 503.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentryAPIDeleteSentryByWildcard1Request
*/
func (a *SentryAPIService) DeleteSentryByWildcard1(ctx context.Context, wildcard1 string) SentryAPIDeleteSentryByWildcard1Request {
	return SentryAPIDeleteSentryByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentryAPIService) DeleteSentryByWildcard1Execute(r SentryAPIDeleteSentryByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.DeleteSentryByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentryAPIDeleteSentryProjectsByIdRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	id         string
}

func (r SentryAPIDeleteSentryProjectsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSentryProjectsByIdExecute(r)
}

/*
DeleteSentryProjectsById Deletes one Sentry project of the caller's org.

Deletes one Sentry project of the caller's org. Its DSN
stops resolving immediately, so ingest for that id fails closed exactly as an
unknown project does; retained events are not touched. Answers 204.

Callers need the editor role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the project id.
	@return SentryAPIDeleteSentryProjectsByIdRequest
*/
func (a *SentryAPIService) DeleteSentryProjectsById(ctx context.Context, id string) SentryAPIDeleteSentryProjectsByIdRequest {
	return SentryAPIDeleteSentryProjectsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *SentryAPIService) DeleteSentryProjectsByIdExecute(r SentryAPIDeleteSentryProjectsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.DeleteSentryProjectsById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/projects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentryAPIGetSentryByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentryAPIService
	wildcard1  string
}

func (r SentryAPIGetSentryByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.GetSentryByWildcard1Execute(r)
}

/*
GetSentryByWildcard1 Read the caller org's errors on the Sentry surface

Serves the Sentry-compatible read surface — projects, error issues and one issue's occurrences, a single event, error logs, error-correlated traces and one trace's waterfall, and the event-rate stats — so a Sentry client or the error console reads its errors at the paths it already speaks.

It is the SAME runtime the observability surface serves, reached under a second path family, and there is NO rewrite: the runtime carries these routes literally. That is what makes this a product face rather than a translation layer. One runtime, two path families.

A validated principal is required and the read is scoped to that principal's own org. Errors are a tenant's OWN data, so org membership is the whole admission test and there is deliberately no admin term on it — gating the product on platform sudo would make the only way to see your own errors a scope that shows you everyone's. Before the runtime is initialized, 503.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentryAPIGetSentryByWildcard1Request
*/
func (a *SentryAPIService) GetSentryByWildcard1(ctx context.Context, wildcard1 string) SentryAPIGetSentryByWildcard1Request {
	return SentryAPIGetSentryByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentryAPIService) GetSentryByWildcard1Execute(r SentryAPIGetSentryByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentryAPIGetSentryEventsByIdRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	id         string
	project    *string
}

// Project is the project the event belongs to, by its id. Required.
func (r SentryAPIGetSentryEventsByIdRequest) Project(project string) SentryAPIGetSentryEventsByIdRequest {
	r.project = &project
	return r
}

func (r SentryAPIGetSentryEventsByIdRequest) Execute() (*O11yO11ySentryEventOut, *http.Response, error) {
	return r.ApiService.GetSentryEventsByIdExecute(r)
}

/*
GetSentryEventsById Returns one captured error event of a project, by its id.

Returns one captured error event of a project, by its id.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the event id.
	@return SentryAPIGetSentryEventsByIdRequest
*/
func (a *SentryAPIService) GetSentryEventsById(ctx context.Context, id string) SentryAPIGetSentryEventsByIdRequest {
	return SentryAPIGetSentryEventsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryEventOut
func (a *SentryAPIService) GetSentryEventsByIdExecute(r SentryAPIGetSentryEventsByIdRequest) (*O11yO11ySentryEventOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryEventOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryEventsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/events/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryIssuesRequest struct {
	ctx         context.Context
	ApiService  *SentryAPIService
	status      *string
	level       *string
	environment *string
	serviceName *string
	query       *string
	sort        *string
	offset      *int32
	limit       *int32
	project     *string
	period      *string
}

// Status narrows to one lifecycle state: unresolved, resolved or ignored.
func (r SentryAPIGetSentryIssuesRequest) Status(status string) SentryAPIGetSentryIssuesRequest {
	r.status = &status
	return r
}

// Level narrows to one severity, e.g. error, warning, info.
func (r SentryAPIGetSentryIssuesRequest) Level(level string) SentryAPIGetSentryIssuesRequest {
	r.level = &level
	return r
}

// Environment narrows to one deployment environment.
func (r SentryAPIGetSentryIssuesRequest) Environment(environment string) SentryAPIGetSentryIssuesRequest {
	r.environment = &environment
	return r
}

// ServiceName narrows to one reporting service.
func (r SentryAPIGetSentryIssuesRequest) ServiceName(serviceName string) SentryAPIGetSentryIssuesRequest {
	r.serviceName = &serviceName
	return r
}

// Query narrows to issues whose text contains it.
func (r SentryAPIGetSentryIssuesRequest) Query(query string) SentryAPIGetSentryIssuesRequest {
	r.query = &query
	return r
}

// Sort orders the page, e.g. lastSeen, firstSeen, count.
func (r SentryAPIGetSentryIssuesRequest) Sort(sort string) SentryAPIGetSentryIssuesRequest {
	r.sort = &sort
	return r
}

// Offset is how many issues to skip. Zero starts at the first.
func (r SentryAPIGetSentryIssuesRequest) Offset(offset int32) SentryAPIGetSentryIssuesRequest {
	r.offset = &offset
	return r
}

// Limit caps how many issues come back. Zero means the default.
func (r SentryAPIGetSentryIssuesRequest) Limit(limit int32) SentryAPIGetSentryIssuesRequest {
	r.limit = &limit
	return r
}

// Project narrows the org&#39;s issues to one project, by its id.
func (r SentryAPIGetSentryIssuesRequest) Project(project string) SentryAPIGetSentryIssuesRequest {
	r.project = &project
	return r
}

// Period is the window to read, relative to now — 1h, 24h, 7d, 14d, 30d.
func (r SentryAPIGetSentryIssuesRequest) Period(period string) SentryAPIGetSentryIssuesRequest {
	r.period = &period
	return r
}

func (r SentryAPIGetSentryIssuesRequest) Execute() (*O11yO11yErrorIssuesOut, *http.Response, error) {
	return r.ApiService.GetSentryIssuesExecute(r)
}

/*
GetSentryIssues Lists the caller's org's grouped error issues, optionally narrowed to one project and one time window, and filtered by status, level, environment, service, a free-text query and a sort.

Lists the caller's org's grouped error issues, optionally
narrowed to one project and one time window, and filtered by status, level,
environment, service, a free-text query and a sort.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentryAPIGetSentryIssuesRequest
*/
func (a *SentryAPIService) GetSentryIssues(ctx context.Context) SentryAPIGetSentryIssuesRequest {
	return SentryAPIGetSentryIssuesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yErrorIssuesOut
func (a *SentryAPIService) GetSentryIssuesExecute(r SentryAPIGetSentryIssuesRequest) (*O11yO11yErrorIssuesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yErrorIssuesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryIssues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/issues"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.level != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "level", r.level, "form", "")
	}
	if r.environment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "form", "")
	}
	if r.serviceName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serviceName", r.serviceName, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryIssuesByIdRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	id         string
}

func (r SentryAPIGetSentryIssuesByIdRequest) Execute() (*O11yO11yErrorGettableIssueOut, *http.Response, error) {
	return r.ApiService.GetSentryIssuesByIdExecute(r)
}

/*
GetSentryIssuesById Returns one grouped issue of the caller's org with its latest occurrence sample.

Returns one grouped issue of the caller's org with its latest
occurrence sample.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the issue id.
	@return SentryAPIGetSentryIssuesByIdRequest
*/
func (a *SentryAPIService) GetSentryIssuesById(ctx context.Context, id string) SentryAPIGetSentryIssuesByIdRequest {
	return SentryAPIGetSentryIssuesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11yErrorGettableIssueOut
func (a *SentryAPIService) GetSentryIssuesByIdExecute(r SentryAPIGetSentryIssuesByIdRequest) (*O11yO11yErrorGettableIssueOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yErrorGettableIssueOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryIssuesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/issues/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryIssuesByIdEventsRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	id         string
	project    *string
	limit      *int32
}

// Project is the project whose occurrences to read, by its id. Required.
func (r SentryAPIGetSentryIssuesByIdEventsRequest) Project(project string) SentryAPIGetSentryIssuesByIdEventsRequest {
	r.project = &project
	return r
}

// Limit caps how many occurrences come back. Zero means the default.
func (r SentryAPIGetSentryIssuesByIdEventsRequest) Limit(limit int32) SentryAPIGetSentryIssuesByIdEventsRequest {
	r.limit = &limit
	return r
}

func (r SentryAPIGetSentryIssuesByIdEventsRequest) Execute() (*O11yO11ySentryIssueEventsOut, *http.Response, error) {
	return r.ApiService.GetSentryIssuesByIdEventsExecute(r)
}

/*
GetSentryIssuesByIdEvents Lists one issue's captured occurrences, scoped to a project — a project is an isolation unit, so the caller declares which project's occurrences to read.

Lists one issue's captured occurrences, scoped to a project
— a project is an isolation unit, so the caller declares which project's
occurrences to read.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the issue id.
	@return SentryAPIGetSentryIssuesByIdEventsRequest
*/
func (a *SentryAPIService) GetSentryIssuesByIdEvents(ctx context.Context, id string) SentryAPIGetSentryIssuesByIdEventsRequest {
	return SentryAPIGetSentryIssuesByIdEventsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryIssueEventsOut
func (a *SentryAPIService) GetSentryIssuesByIdEventsExecute(r SentryAPIGetSentryIssuesByIdEventsRequest) (*O11yO11ySentryIssueEventsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryIssueEventsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryIssuesByIdEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/issues/{id}/events"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryLogsRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	project    *string
	query      *string
	period     *string
	limit      *int32
}

// Project is the project to read, as its id. Required.
func (r SentryAPIGetSentryLogsRequest) Project(project string) SentryAPIGetSentryLogsRequest {
	r.project = &project
	return r
}

// Query narrows the page to events whose text contains it.
func (r SentryAPIGetSentryLogsRequest) Query(query string) SentryAPIGetSentryLogsRequest {
	r.query = &query
	return r
}

// Period is the window to read, relative to now — 1h, 24h, 7d, 14d, 30d.
func (r SentryAPIGetSentryLogsRequest) Period(period string) SentryAPIGetSentryLogsRequest {
	r.period = &period
	return r
}

// Limit caps how many events come back.
func (r SentryAPIGetSentryLogsRequest) Limit(limit int32) SentryAPIGetSentryLogsRequest {
	r.limit = &limit
	return r
}

func (r SentryAPIGetSentryLogsRequest) Execute() (*O11yO11yLogsOut, *http.Response, error) {
	return r.ApiService.GetSentryLogsExecute(r)
}

/*
GetSentryLogs Lists a project's captured error events, newest first, optionally narrowed to those whose message or exception text contains a search string.

Lists a project's captured error events, newest first, optionally
narrowed to those whose message or exception text contains a search string.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentryAPIGetSentryLogsRequest
*/
func (a *SentryAPIService) GetSentryLogs(ctx context.Context) SentryAPIGetSentryLogsRequest {
	return SentryAPIGetSentryLogsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yLogsOut
func (a *SentryAPIService) GetSentryLogsExecute(r SentryAPIGetSentryLogsRequest) (*O11yO11yLogsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yLogsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryProjectsRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
}

func (r SentryAPIGetSentryProjectsRequest) Execute() (*O11yO11ySentryProjectsOut, *http.Response, error) {
	return r.ApiService.GetSentryProjectsExecute(r)
}

/*
GetSentryProjects Lists the caller's org's Sentry projects, each with its freshly-derived DSN.

Lists the caller's org's Sentry projects, each with its
freshly-derived DSN.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentryAPIGetSentryProjectsRequest
*/
func (a *SentryAPIService) GetSentryProjects(ctx context.Context) SentryAPIGetSentryProjectsRequest {
	return SentryAPIGetSentryProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryProjectsOut
func (a *SentryAPIService) GetSentryProjectsExecute(r SentryAPIGetSentryProjectsRequest) (*O11yO11ySentryProjectsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryProjectsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryProjectsByIdRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	id         string
}

func (r SentryAPIGetSentryProjectsByIdRequest) Execute() (*O11yO11ySentryProjectOut, *http.Response, error) {
	return r.ApiService.GetSentryProjectsByIdExecute(r)
}

/*
GetSentryProjectsById Returns one Sentry project of the caller's org, DSN included.

Returns one Sentry project of the caller's org, DSN included.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the project id.
	@return SentryAPIGetSentryProjectsByIdRequest
*/
func (a *SentryAPIService) GetSentryProjectsById(ctx context.Context, id string) SentryAPIGetSentryProjectsByIdRequest {
	return SentryAPIGetSentryProjectsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryProjectOut
func (a *SentryAPIService) GetSentryProjectsByIdExecute(r SentryAPIGetSentryProjectsByIdRequest) (*O11yO11ySentryProjectOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryProjectOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryProjectsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/projects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryStatsRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	project    *string
	field      *string
	period     *string
}

// Project is the project to read, as its id. Required.
func (r SentryAPIGetSentryStatsRequest) Project(project string) SentryAPIGetSentryStatsRequest {
	r.project = &project
	return r
}

// Field is the dimension to count over. Empty counts all events.
func (r SentryAPIGetSentryStatsRequest) Field(field string) SentryAPIGetSentryStatsRequest {
	r.field = &field
	return r
}

// Period is the window to read, relative to now — 1h, 24h, 7d, 14d, 30d.
func (r SentryAPIGetSentryStatsRequest) Period(period string) SentryAPIGetSentryStatsRequest {
	r.period = &period
	return r
}

func (r SentryAPIGetSentryStatsRequest) Execute() (*O11yO11yStatsOut, *http.Response, error) {
	return r.ApiService.GetSentryStatsExecute(r)
}

/*
GetSentryStats Returns a project's event-rate timeseries: one bucket per interval over the requested period, counting the events in it.

Returns a project's event-rate timeseries: one bucket per interval over
the requested period, counting the events in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentryAPIGetSentryStatsRequest
*/
func (a *SentryAPIService) GetSentryStats(ctx context.Context) SentryAPIGetSentryStatsRequest {
	return SentryAPIGetSentryStatsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yStatsOut
func (a *SentryAPIService) GetSentryStatsExecute(r SentryAPIGetSentryStatsRequest) (*O11yO11yStatsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yStatsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	if r.field != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "field", r.field, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryTracesRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	project    *string
	period     *string
	limit      *int32
}

// Project is the project to read, as its id. Required.
func (r SentryAPIGetSentryTracesRequest) Project(project string) SentryAPIGetSentryTracesRequest {
	r.project = &project
	return r
}

// Period is the window to read, relative to now — 1h, 24h, 7d, 14d, 30d.
func (r SentryAPIGetSentryTracesRequest) Period(period string) SentryAPIGetSentryTracesRequest {
	r.period = &period
	return r
}

// Limit caps how many traces come back.
func (r SentryAPIGetSentryTracesRequest) Limit(limit int32) SentryAPIGetSentryTracesRequest {
	r.limit = &limit
	return r
}

func (r SentryAPIGetSentryTracesRequest) Execute() (*O11yO11yTracesOut, *http.Response, error) {
	return r.ApiService.GetSentryTracesExecute(r)
}

/*
GetSentryTraces Lists the traces a project's captured errors reference, each with how many errors landed on it, when they started and stopped, and the latest message seen — the entry point for \"which requests are failing\".

Lists the traces a project's captured errors reference, each with how
many errors landed on it, when they started and stopped, and the latest
message seen — the entry point for "which requests are failing".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentryAPIGetSentryTracesRequest
*/
func (a *SentryAPIService) GetSentryTraces(ctx context.Context) SentryAPIGetSentryTracesRequest {
	return SentryAPIGetSentryTracesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yTracesOut
func (a *SentryAPIService) GetSentryTracesExecute(r SentryAPIGetSentryTracesRequest) (*O11yO11yTracesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yTracesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryTraces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/traces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIGetSentryTracesByIdRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	id         string
	project    *string
}

// Project is the project the trace&#39;s errors belong to. Required.
func (r SentryAPIGetSentryTracesByIdRequest) Project(project string) SentryAPIGetSentryTracesByIdRequest {
	r.project = &project
	return r
}

func (r SentryAPIGetSentryTracesByIdRequest) Execute() (*O11yO11yTraceOut, *http.Response, error) {
	return r.ApiService.GetSentryTracesByIdExecute(r)
}

/*
GetSentryTracesById Returns one trace's captured errors for a project — every error event that carried the trace id, in the order the events plane holds them.

Returns one trace's captured errors for a project — every error event
that carried the trace id, in the order the events plane holds them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the trace id.
	@return SentryAPIGetSentryTracesByIdRequest
*/
func (a *SentryAPIService) GetSentryTracesById(ctx context.Context, id string) SentryAPIGetSentryTracesByIdRequest {
	return SentryAPIGetSentryTracesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11yTraceOut
func (a *SentryAPIService) GetSentryTracesByIdExecute(r SentryAPIGetSentryTracesByIdRequest) (*O11yO11yTraceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yTraceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.GetSentryTracesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/traces/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIPatchSentryByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentryAPIService
	wildcard1  string
}

func (r SentryAPIPatchSentryByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.PatchSentryByWildcard1Execute(r)
}

/*
PatchSentryByWildcard1 Not served — the Sentry surface has no partial update

The Sentry face carries NO route for a partial update. The wildcard admits every method, so this operation exists as an address, but nothing behind it answers and a request lands on the runtime as an unrouted path.

It is documented rather than silently omitted because the useful thing to say is where to go instead: an issue's lifecycle — resolve, ignore, assign — is a REPLACE on that issue, not a patch, and it is the only mutable state on this surface. A client that reaches for a partial update here is looking for that call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentryAPIPatchSentryByWildcard1Request
*/
func (a *SentryAPIService) PatchSentryByWildcard1(ctx context.Context, wildcard1 string) SentryAPIPatchSentryByWildcard1Request {
	return SentryAPIPatchSentryByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentryAPIService) PatchSentryByWildcard1Execute(r SentryAPIPatchSentryByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PatchSentryByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentryAPIPostSentryByProjectEnvelopeRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	project    string
}

func (r SentryAPIPostSentryByProjectEnvelopeRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostSentryByProjectEnvelopeExecute(r)
}

/*
PostSentryByProjectEnvelope Receive a Sentry envelope on the clean root

The same envelope ingest as the DSN path, spelled the way this platform names things: one /v1/, the product, the project. Point an SDK's DSN here and the wire is identical.

AUTHENTICATED BY THE DSN PUBLIC KEY and exempt from the principal gate for the same reason — a Sentry SDK has no Hanzo session to present. The project segment is a UUID enforced by the route, and the exemption matches method plus prefix plus suffix, so every Sentry READ (issues, discover, events, logs, traces, stats) stays gated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project
	@return SentryAPIPostSentryByProjectEnvelopeRequest
*/
func (a *SentryAPIService) PostSentryByProjectEnvelope(ctx context.Context, project string) SentryAPIPostSentryByProjectEnvelopeRequest {
	return SentryAPIPostSentryByProjectEnvelopeRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
func (a *SentryAPIService) PostSentryByProjectEnvelopeExecute(r SentryAPIPostSentryByProjectEnvelopeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PostSentryByProjectEnvelope")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/{project}/envelope/"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentryAPIPostSentryByProjectStoreRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	project    string
}

func (r SentryAPIPostSentryByProjectStoreRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostSentryByProjectStoreExecute(r)
}

/*
PostSentryByProjectStore Receive a single Sentry event on the clean root

The legacy single-event ingest on the clean /v1/sentry root — one JSON event rather than a framed batch. Same DSN-key authentication, same gate exemption, same UUID-enforced project segment as the envelope route beside it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project
	@return SentryAPIPostSentryByProjectStoreRequest
*/
func (a *SentryAPIService) PostSentryByProjectStore(ctx context.Context, project string) SentryAPIPostSentryByProjectStoreRequest {
	return SentryAPIPostSentryByProjectStoreRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
func (a *SentryAPIService) PostSentryByProjectStoreExecute(r SentryAPIPostSentryByProjectStoreRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PostSentryByProjectStore")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/{project}/store/"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentryAPIPostSentryByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentryAPIService
	wildcard1  string
}

func (r SentryAPIPostSentryByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.PostSentryByWildcard1Execute(r)
}

/*
PostSentryByWildcard1 Send events to the Sentry surface, or write on it

Carries every write on the Sentry-compatible surface: the SDK's error ingest, and the authenticated writes the console makes — creating a project, rotating a project's DSN key, and running a discover query over the events plane.

THE TWO ARE AUTHENTICATED DIFFERENTLY, and that is the rule to get right. An envelope or store submission presents a DSN public key, never a Hanzo session, so it is exempt from the principal gate and verified by the ingest key check instead — which derives the org from the DSN and fails closed. A keyless submission is a 401 from that verifier, not a 403 from the gate, and telling those two apart is how you tell the hops apart. Every other write here needs a validated, org-scoped principal, and creating or rotating requires an editor rather than a viewer.

The ingest exemption is matched by method plus prefix plus suffix, never a bare prefix, and the project segment must be a UUID — so no read is reachable through it. Before the runtime is initialized, 503.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentryAPIPostSentryByWildcard1Request
*/
func (a *SentryAPIService) PostSentryByWildcard1(ctx context.Context, wildcard1 string) SentryAPIPostSentryByWildcard1Request {
	return SentryAPIPostSentryByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentryAPIService) PostSentryByWildcard1Execute(r SentryAPIPostSentryByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PostSentryByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentryAPIPostSentryDiscoverRequest struct {
	ctx                context.Context
	ApiService         *SentryAPIService
	o11yO11yDiscoverIn *O11yO11yDiscoverIn
}

func (r SentryAPIPostSentryDiscoverRequest) O11yO11yDiscoverIn(o11yO11yDiscoverIn O11yO11yDiscoverIn) SentryAPIPostSentryDiscoverRequest {
	r.o11yO11yDiscoverIn = &o11yO11yDiscoverIn
	return r
}

func (r SentryAPIPostSentryDiscoverRequest) Execute() (*O11yO11yDiscoverOut, *http.Response, error) {
	return r.ApiService.PostSentryDiscoverExecute(r)
}

/*
PostSentryDiscover Aggregates a project's captured errors into a table — the caller names the filters, the groupings and the aggregations, and gets back the columns and rows they asked for.

Aggregates a project's captured errors into a table — the caller
names the filters, the groupings and the aggregations, and gets back the
columns and rows they asked for.

The project is mandatory and is checked against the caller's own org before it
scopes anything, so a project id belonging to someone else reads as absent
rather than as data.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentryAPIPostSentryDiscoverRequest
*/
func (a *SentryAPIService) PostSentryDiscover(ctx context.Context) SentryAPIPostSentryDiscoverRequest {
	return SentryAPIPostSentryDiscoverRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yDiscoverOut
func (a *SentryAPIService) PostSentryDiscoverExecute(r SentryAPIPostSentryDiscoverRequest) (*O11yO11yDiscoverOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yDiscoverOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PostSentryDiscover")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/discover"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.o11yO11yDiscoverIn == nil {
		return localVarReturnValue, nil, reportError("o11yO11yDiscoverIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.o11yO11yDiscoverIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIPostSentryProjectsRequest struct {
	ctx                           context.Context
	ApiService                    *SentryAPIService
	o11yO11ySentryPostableProject *O11yO11ySentryPostableProject
}

func (r SentryAPIPostSentryProjectsRequest) O11yO11ySentryPostableProject(o11yO11ySentryPostableProject O11yO11ySentryPostableProject) SentryAPIPostSentryProjectsRequest {
	r.o11yO11ySentryPostableProject = &o11yO11ySentryPostableProject
	return r
}

func (r SentryAPIPostSentryProjectsRequest) Execute() (*O11yO11ySentryProjectOut, *http.Response, error) {
	return r.ApiService.PostSentryProjectsExecute(r)
}

/*
PostSentryProjects Creates a Sentry project under the caller's org and returns it, DSN included.

Creates a Sentry project under the caller's org and
returns it, DSN included. Only the name, and optionally a slug and platform,
are the caller's to set; the org, id and key are server-assigned.

Callers need the editor role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentryAPIPostSentryProjectsRequest
*/
func (a *SentryAPIService) PostSentryProjects(ctx context.Context) SentryAPIPostSentryProjectsRequest {
	return SentryAPIPostSentryProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryProjectOut
func (a *SentryAPIService) PostSentryProjectsExecute(r SentryAPIPostSentryProjectsRequest) (*O11yO11ySentryProjectOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryProjectOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PostSentryProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.o11yO11ySentryPostableProject == nil {
		return localVarReturnValue, nil, reportError("o11yO11ySentryPostableProject is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.o11yO11ySentryPostableProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIPostSentryProjectsByIdKeysRotateRequest struct {
	ctx        context.Context
	ApiService *SentryAPIService
	id         string
}

func (r SentryAPIPostSentryProjectsByIdKeysRotateRequest) Execute() (*O11yO11ySentryProjectOut, *http.Response, error) {
	return r.ApiService.PostSentryProjectsByIdKeysRotateExecute(r)
}

/*
PostSentryProjectsByIdKeysRotate Rotates a project's DSN key — bumping its rotation watermark so keys below it stop verifying — and returns the project with its new DSN.

Rotates a project's DSN key — bumping its rotation
watermark so keys below it stop verifying — and returns the project with its
new DSN.

Callers need the editor role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the project id.
	@return SentryAPIPostSentryProjectsByIdKeysRotateRequest
*/
func (a *SentryAPIService) PostSentryProjectsByIdKeysRotate(ctx context.Context, id string) SentryAPIPostSentryProjectsByIdKeysRotateRequest {
	return SentryAPIPostSentryProjectsByIdKeysRotateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryProjectOut
func (a *SentryAPIService) PostSentryProjectsByIdKeysRotateExecute(r SentryAPIPostSentryProjectsByIdKeysRotateRequest) (*O11yO11ySentryProjectOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryProjectOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PostSentryProjectsByIdKeysRotate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/projects/{id}/keys/rotate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentryAPIPutSentryByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentryAPIService
	wildcard1  string
}

func (r SentryAPIPutSentryByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.PutSentryByWildcard1Execute(r)
}

/*
PutSentryByWildcard1 Move an error issue through its lifecycle

The one replace on the Sentry surface: updating an error ISSUE — resolving it, ignoring it, or assigning it — and answering the updated issue.

Nothing else here takes a replace. A project is created and deleted but never replaced, and the event and trace planes are append-only telemetry, so an issue's lifecycle is the only mutable state this face exposes.

Requires a validated, org-scoped principal with edit rights; a viewer is refused. The write is confined to the org minted from that principal's claim, so an issue id belonging to another tenant is simply not found. Before the runtime is initialized, 503.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentryAPIPutSentryByWildcard1Request
*/
func (a *SentryAPIService) PutSentryByWildcard1(ctx context.Context, wildcard1 string) SentryAPIPutSentryByWildcard1Request {
	return SentryAPIPutSentryByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentryAPIService) PutSentryByWildcard1Execute(r SentryAPIPutSentryByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PutSentryByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentryAPIPutSentryIssuesByIdRequest struct {
	ctx                         context.Context
	ApiService                  *SentryAPIService
	id                          string
	o11yO11ySentryUpdateIssueIn *O11yO11ySentryUpdateIssueIn
}

func (r SentryAPIPutSentryIssuesByIdRequest) O11yO11ySentryUpdateIssueIn(o11yO11ySentryUpdateIssueIn O11yO11ySentryUpdateIssueIn) SentryAPIPutSentryIssuesByIdRequest {
	r.o11yO11ySentryUpdateIssueIn = &o11yO11ySentryUpdateIssueIn
	return r
}

func (r SentryAPIPutSentryIssuesByIdRequest) Execute() (*O11yO11yErrorIssueOut, *http.Response, error) {
	return r.ApiService.PutSentryIssuesByIdExecute(r)
}

/*
PutSentryIssuesById Changes an issue's lifecycle — resolve, ignore, reopen or assign — and returns the updated issue.

Changes an issue's lifecycle — resolve, ignore, reopen or
assign — and returns the updated issue. Fields left unset are left unchanged.

Callers need the editor role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the issue id.
	@return SentryAPIPutSentryIssuesByIdRequest
*/
func (a *SentryAPIService) PutSentryIssuesById(ctx context.Context, id string) SentryAPIPutSentryIssuesByIdRequest {
	return SentryAPIPutSentryIssuesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11yErrorIssueOut
func (a *SentryAPIService) PutSentryIssuesByIdExecute(r SentryAPIPutSentryIssuesByIdRequest) (*O11yO11yErrorIssueOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yErrorIssueOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentryAPIService.PutSentryIssuesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentry/issues/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.o11yO11ySentryUpdateIssueIn == nil {
		return localVarReturnValue, nil, reportError("o11yO11ySentryUpdateIssueIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.o11yO11ySentryUpdateIssueIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
