/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CloudflareAPIService CloudflareAPI service
type CloudflareAPIService service

type CloudflareAPIDeleteCloudflareD1DatabasesByDatabaseRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	database   string
}

func (r CloudflareAPIDeleteCloudflareD1DatabasesByDatabaseRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCloudflareD1DatabasesByDatabaseExecute(r)
}

/*
DeleteCloudflareD1DatabasesByDatabase Deletes a D1 database and everything stored in it.

Deletes a D1 database and everything stored in it. Requires
org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param database Database is the Cloudflare D1 database id or name.
	@return CloudflareAPIDeleteCloudflareD1DatabasesByDatabaseRequest
*/
func (a *CloudflareAPIService) DeleteCloudflareD1DatabasesByDatabase(ctx context.Context, database string) CloudflareAPIDeleteCloudflareD1DatabasesByDatabaseRequest {
	return CloudflareAPIDeleteCloudflareD1DatabasesByDatabaseRequest{
		ApiService: a,
		ctx:        ctx,
		database:   database,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) DeleteCloudflareD1DatabasesByDatabaseExecute(r CloudflareAPIDeleteCloudflareD1DatabasesByDatabaseRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.DeleteCloudflareD1DatabasesByDatabase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/d1/databases/{database}"
	localVarPath = strings.Replace(localVarPath, "{"+"database"+"}", url.PathEscape(parameterValueToString(r.database, "database")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	namespace  string
}

func (r CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCloudflareKvNamespacesByNamespaceExecute(r)
}

/*
DeleteCloudflareKvNamespacesByNamespace KVNamespaceDelete deletes a Workers KV namespace and every key in it.

KVNamespaceDelete deletes a Workers KV namespace and every key in it. Requires
org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Namespace is the Cloudflare KV namespace id.
	@return CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceRequest
*/
func (a *CloudflareAPIService) DeleteCloudflareKvNamespacesByNamespace(ctx context.Context, namespace string) CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceRequest {
	return CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) DeleteCloudflareKvNamespacesByNamespaceExecute(r CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.DeleteCloudflareKvNamespacesByNamespace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceValuesByKeyRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	namespace  string
	key        string
}

func (r CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceValuesByKeyRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCloudflareKvNamespacesByNamespaceValuesByKeyExecute(r)
}

/*
DeleteCloudflareKvNamespacesByNamespaceValuesByKey KVValueDelete removes one key from a Workers KV namespace.

KVValueDelete removes one key from a Workers KV namespace. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Namespace is the Cloudflare KV namespace id.
	@param key Key is the key within that namespace. KV keys are broad (up to 512 bytes), so this one is escaped rather than charset-restricted.
	@return CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceValuesByKeyRequest
*/
func (a *CloudflareAPIService) DeleteCloudflareKvNamespacesByNamespaceValuesByKey(ctx context.Context, namespace string, key string) CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceValuesByKeyRequest {
	return CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceValuesByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
		key:        key,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) DeleteCloudflareKvNamespacesByNamespaceValuesByKeyExecute(r CloudflareAPIDeleteCloudflareKvNamespacesByNamespaceValuesByKeyRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.DeleteCloudflareKvNamespacesByNamespaceValuesByKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces/{namespace}/values/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIDeleteCloudflarePagesProjectsByProjectRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	project    string
}

func (r CloudflareAPIDeleteCloudflarePagesProjectsByProjectRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCloudflarePagesProjectsByProjectExecute(r)
}

/*
DeleteCloudflarePagesProjectsByProject Deletes a Cloudflare Pages project, and with it every deployment it has ever made.

Deletes a Cloudflare Pages project, and with it every deployment it
has ever made. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the Pages project name.
	@return CloudflareAPIDeleteCloudflarePagesProjectsByProjectRequest
*/
func (a *CloudflareAPIService) DeleteCloudflarePagesProjectsByProject(ctx context.Context, project string) CloudflareAPIDeleteCloudflarePagesProjectsByProjectRequest {
	return CloudflareAPIDeleteCloudflarePagesProjectsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) DeleteCloudflarePagesProjectsByProjectExecute(r CloudflareAPIDeleteCloudflarePagesProjectsByProjectRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.DeleteCloudflarePagesProjectsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects/{project}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIDeleteCloudflarePagesProjectsByProjectDomainsByDomainRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	project    string
	domain     string
}

func (r CloudflareAPIDeleteCloudflarePagesProjectsByProjectDomainsByDomainRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCloudflarePagesProjectsByProjectDomainsByDomainExecute(r)
}

/*
DeleteCloudflarePagesProjectsByProjectDomainsByDomain Detaches a custom domain from a Cloudflare Pages project.

Detaches a custom domain from a Cloudflare Pages project.
Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the Pages project name.
	@param domain Domain is the attached custom domain to detach.
	@return CloudflareAPIDeleteCloudflarePagesProjectsByProjectDomainsByDomainRequest
*/
func (a *CloudflareAPIService) DeleteCloudflarePagesProjectsByProjectDomainsByDomain(ctx context.Context, project string, domain string) CloudflareAPIDeleteCloudflarePagesProjectsByProjectDomainsByDomainRequest {
	return CloudflareAPIDeleteCloudflarePagesProjectsByProjectDomainsByDomainRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		domain:     domain,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) DeleteCloudflarePagesProjectsByProjectDomainsByDomainExecute(r CloudflareAPIDeleteCloudflarePagesProjectsByProjectDomainsByDomainRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.DeleteCloudflarePagesProjectsByProjectDomainsByDomain")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects/{project}/domains/{domain}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"domain"+"}", url.PathEscape(parameterValueToString(r.domain, "domain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIDeleteCloudflareR2BucketsByBucketRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	bucket     string
}

func (r CloudflareAPIDeleteCloudflareR2BucketsByBucketRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCloudflareR2BucketsByBucketExecute(r)
}

/*
DeleteCloudflareR2BucketsByBucket Deletes an R2 bucket.

Deletes an R2 bucket. Requires org admin. Cloudflare refuses a
bucket that still holds objects, and that refusal is relayed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the R2 bucket name.
	@return CloudflareAPIDeleteCloudflareR2BucketsByBucketRequest
*/
func (a *CloudflareAPIService) DeleteCloudflareR2BucketsByBucket(ctx context.Context, bucket string) CloudflareAPIDeleteCloudflareR2BucketsByBucketRequest {
	return CloudflareAPIDeleteCloudflareR2BucketsByBucketRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) DeleteCloudflareR2BucketsByBucketExecute(r CloudflareAPIDeleteCloudflareR2BucketsByBucketRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.DeleteCloudflareR2BucketsByBucket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/r2/buckets/{bucket}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIDeleteCloudflareWorkersScriptsByScriptRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	script     string
}

func (r CloudflareAPIDeleteCloudflareWorkersScriptsByScriptRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCloudflareWorkersScriptsByScriptExecute(r)
}

/*
DeleteCloudflareWorkersScriptsByScript Removes a Worker script from the org's Cloudflare account.

Removes a Worker script from the org's Cloudflare account.
Requires org admin. Routes bound to the script stop serving it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param script Script is the Worker script name.
	@return CloudflareAPIDeleteCloudflareWorkersScriptsByScriptRequest
*/
func (a *CloudflareAPIService) DeleteCloudflareWorkersScriptsByScript(ctx context.Context, script string) CloudflareAPIDeleteCloudflareWorkersScriptsByScriptRequest {
	return CloudflareAPIDeleteCloudflareWorkersScriptsByScriptRequest{
		ApiService: a,
		ctx:        ctx,
		script:     script,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) DeleteCloudflareWorkersScriptsByScriptExecute(r CloudflareAPIDeleteCloudflareWorkersScriptsByScriptRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.DeleteCloudflareWorkersScriptsByScript")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/scripts/{script}"
	localVarPath = strings.Replace(localVarPath, "{"+"script"+"}", url.PathEscape(parameterValueToString(r.script, "script")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIDeleteCloudflareWorkersZonesByZoneRoutesByRouteRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	zone       string
	route      string
}

func (r CloudflareAPIDeleteCloudflareWorkersZonesByZoneRoutesByRouteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteCloudflareWorkersZonesByZoneRoutesByRouteExecute(r)
}

/*
DeleteCloudflareWorkersZonesByZoneRoutesByRoute Unbinds a Worker route, so its pattern stops dispatching to a script.

Unbinds a Worker route, so its pattern stops dispatching to a
script. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone Zone is the 32-hex Cloudflare zone id.
	@param route Route is the 32-hex Cloudflare route id.
	@return CloudflareAPIDeleteCloudflareWorkersZonesByZoneRoutesByRouteRequest
*/
func (a *CloudflareAPIService) DeleteCloudflareWorkersZonesByZoneRoutesByRoute(ctx context.Context, zone string, route string) CloudflareAPIDeleteCloudflareWorkersZonesByZoneRoutesByRouteRequest {
	return CloudflareAPIDeleteCloudflareWorkersZonesByZoneRoutesByRouteRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
		route:      route,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) DeleteCloudflareWorkersZonesByZoneRoutesByRouteExecute(r CloudflareAPIDeleteCloudflareWorkersZonesByZoneRoutesByRouteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.DeleteCloudflareWorkersZonesByZoneRoutesByRoute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/zones/{zone}/routes/{route}"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"route"+"}", url.PathEscape(parameterValueToString(r.route, "route")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareD1DatabasesRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	page       *string
	perPage    *string
	name       *string
}

// Page is the 1-based page of databases to return.
func (r CloudflareAPIGetCloudflareD1DatabasesRequest) Page(page string) CloudflareAPIGetCloudflareD1DatabasesRequest {
	r.page = &page
	return r
}

// PerPage is how many databases one page holds.
func (r CloudflareAPIGetCloudflareD1DatabasesRequest) PerPage(perPage string) CloudflareAPIGetCloudflareD1DatabasesRequest {
	r.perPage = &perPage
	return r
}

// Name filters to the database with this name.
func (r CloudflareAPIGetCloudflareD1DatabasesRequest) Name(name string) CloudflareAPIGetCloudflareD1DatabasesRequest {
	r.name = &name
	return r
}

func (r CloudflareAPIGetCloudflareD1DatabasesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareD1DatabasesExecute(r)
}

/*
GetCloudflareD1Databases Lists the D1 databases on the org's Cloudflare account.

Lists the D1 databases on the org's Cloudflare account. Any org
member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIGetCloudflareD1DatabasesRequest
*/
func (a *CloudflareAPIService) GetCloudflareD1Databases(ctx context.Context) CloudflareAPIGetCloudflareD1DatabasesRequest {
	return CloudflareAPIGetCloudflareD1DatabasesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareD1DatabasesExecute(r CloudflareAPIGetCloudflareD1DatabasesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareD1Databases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/d1/databases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareKvNamespacesRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	page       *string
	perPage    *string
	order      *string
	direction  *string
}

// Page is the 1-based page of namespaces to return.
func (r CloudflareAPIGetCloudflareKvNamespacesRequest) Page(page string) CloudflareAPIGetCloudflareKvNamespacesRequest {
	r.page = &page
	return r
}

// PerPage is how many namespaces one page holds.
func (r CloudflareAPIGetCloudflareKvNamespacesRequest) PerPage(perPage string) CloudflareAPIGetCloudflareKvNamespacesRequest {
	r.perPage = &perPage
	return r
}

// Order names the field to sort by, and Direction sorts asc or desc.
func (r CloudflareAPIGetCloudflareKvNamespacesRequest) Order(order string) CloudflareAPIGetCloudflareKvNamespacesRequest {
	r.order = &order
	return r
}

func (r CloudflareAPIGetCloudflareKvNamespacesRequest) Direction(direction string) CloudflareAPIGetCloudflareKvNamespacesRequest {
	r.direction = &direction
	return r
}

func (r CloudflareAPIGetCloudflareKvNamespacesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareKvNamespacesExecute(r)
}

/*
GetCloudflareKvNamespaces KVNamespaceList lists the Workers KV namespaces on the org's Cloudflare account.

KVNamespaceList lists the Workers KV namespaces on the org's Cloudflare
account. Any org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIGetCloudflareKvNamespacesRequest
*/
func (a *CloudflareAPIService) GetCloudflareKvNamespaces(ctx context.Context) CloudflareAPIGetCloudflareKvNamespacesRequest {
	return CloudflareAPIGetCloudflareKvNamespacesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareKvNamespacesExecute(r CloudflareAPIGetCloudflareKvNamespacesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareKvNamespaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareKvNamespacesByNamespaceValuesByKeyRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	namespace  string
	key        string
}

func (r CloudflareAPIGetCloudflareKvNamespacesByNamespaceValuesByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetCloudflareKvNamespacesByNamespaceValuesByKeyExecute(r)
}

/*
GetCloudflareKvNamespacesByNamespaceValuesByKey Read a Workers KV value as its stored bytes

Answers one KV key's value from the org's OWN Cloudflare account as RAW BYTES under the content type it was written with — not wrapped in a JSON envelope, which is why this is not a typed op. Any org member may read. A key that does not exist is Cloudflare's own 404; an invalid namespace, or a key that is empty, over 512 bytes, not valid UTF-8, or carries a control character, is 400; 503 if the org has never connected a Cloudflare token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace
	@param key
	@return CloudflareAPIGetCloudflareKvNamespacesByNamespaceValuesByKeyRequest
*/
func (a *CloudflareAPIService) GetCloudflareKvNamespacesByNamespaceValuesByKey(ctx context.Context, namespace string, key string) CloudflareAPIGetCloudflareKvNamespacesByNamespaceValuesByKeyRequest {
	return CloudflareAPIGetCloudflareKvNamespacesByNamespaceValuesByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
		key:        key,
	}
}

// Execute executes the request
func (a *CloudflareAPIService) GetCloudflareKvNamespacesByNamespaceValuesByKeyExecute(r CloudflareAPIGetCloudflareKvNamespacesByNamespaceValuesByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareKvNamespacesByNamespaceValuesByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces/{namespace}/values/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflarePagesProjectsRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
}

func (r CloudflareAPIGetCloudflarePagesProjectsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflarePagesProjectsExecute(r)
}

/*
GetCloudflarePagesProjects Lists the org's Cloudflare Pages projects.

Lists the org's Cloudflare Pages projects. Any org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIGetCloudflarePagesProjectsRequest
*/
func (a *CloudflareAPIService) GetCloudflarePagesProjects(ctx context.Context) CloudflareAPIGetCloudflarePagesProjectsRequest {
	return CloudflareAPIGetCloudflarePagesProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflarePagesProjectsExecute(r CloudflareAPIGetCloudflarePagesProjectsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflarePagesProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflarePagesProjectsByProjectRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	project    string
}

func (r CloudflareAPIGetCloudflarePagesProjectsByProjectRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflarePagesProjectsByProjectExecute(r)
}

/*
GetCloudflarePagesProjectsByProject Reads one Cloudflare Pages project — its build config, deployment configs and latest deployment.

Reads one Cloudflare Pages project — its build config, deployment
configs and latest deployment. Any org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the Pages project name.
	@return CloudflareAPIGetCloudflarePagesProjectsByProjectRequest
*/
func (a *CloudflareAPIService) GetCloudflarePagesProjectsByProject(ctx context.Context, project string) CloudflareAPIGetCloudflarePagesProjectsByProjectRequest {
	return CloudflareAPIGetCloudflarePagesProjectsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflarePagesProjectsByProjectExecute(r CloudflareAPIGetCloudflarePagesProjectsByProjectRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflarePagesProjectsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects/{project}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareR2BucketsRequest struct {
	ctx          context.Context
	ApiService   *CloudflareAPIService
	perPage      *string
	cursor       *string
	nameContains *string
	order        *string
	direction    *string
}

// PerPage is how many buckets one page holds.
func (r CloudflareAPIGetCloudflareR2BucketsRequest) PerPage(perPage string) CloudflareAPIGetCloudflareR2BucketsRequest {
	r.perPage = &perPage
	return r
}

// Cursor continues from the position a previous page returned.
func (r CloudflareAPIGetCloudflareR2BucketsRequest) Cursor(cursor string) CloudflareAPIGetCloudflareR2BucketsRequest {
	r.cursor = &cursor
	return r
}

// NameContains filters to buckets whose name contains this substring.
func (r CloudflareAPIGetCloudflareR2BucketsRequest) NameContains(nameContains string) CloudflareAPIGetCloudflareR2BucketsRequest {
	r.nameContains = &nameContains
	return r
}

// Order names the field to sort by, and Direction sorts asc or desc.
func (r CloudflareAPIGetCloudflareR2BucketsRequest) Order(order string) CloudflareAPIGetCloudflareR2BucketsRequest {
	r.order = &order
	return r
}

func (r CloudflareAPIGetCloudflareR2BucketsRequest) Direction(direction string) CloudflareAPIGetCloudflareR2BucketsRequest {
	r.direction = &direction
	return r
}

func (r CloudflareAPIGetCloudflareR2BucketsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareR2BucketsExecute(r)
}

/*
GetCloudflareR2Buckets Lists the R2 buckets on the org's Cloudflare account.

Lists the R2 buckets on the org's Cloudflare account. Any org
member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIGetCloudflareR2BucketsRequest
*/
func (a *CloudflareAPIService) GetCloudflareR2Buckets(ctx context.Context) CloudflareAPIGetCloudflareR2BucketsRequest {
	return CloudflareAPIGetCloudflareR2BucketsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareR2BucketsExecute(r CloudflareAPIGetCloudflareR2BucketsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareR2Buckets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/r2/buckets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name_contains", r.nameContains, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareWorkersScriptsRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
}

func (r CloudflareAPIGetCloudflareWorkersScriptsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareWorkersScriptsExecute(r)
}

/*
GetCloudflareWorkersScripts Lists the Worker scripts on the org's Cloudflare account.

Lists the Worker scripts on the org's Cloudflare account. Any
org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIGetCloudflareWorkersScriptsRequest
*/
func (a *CloudflareAPIService) GetCloudflareWorkersScripts(ctx context.Context) CloudflareAPIGetCloudflareWorkersScriptsRequest {
	return CloudflareAPIGetCloudflareWorkersScriptsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareWorkersScriptsExecute(r CloudflareAPIGetCloudflareWorkersScriptsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareWorkersScripts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/scripts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareWorkersSubdomainRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
}

func (r CloudflareAPIGetCloudflareWorkersSubdomainRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareWorkersSubdomainExecute(r)
}

/*
GetCloudflareWorkersSubdomain Reads the org account's workers.dev subdomain — the name under which every subdomain-enabled script is served.

Reads the org account's workers.dev subdomain — the name
under which every subdomain-enabled script is served. Any org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIGetCloudflareWorkersSubdomainRequest
*/
func (a *CloudflareAPIService) GetCloudflareWorkersSubdomain(ctx context.Context) CloudflareAPIGetCloudflareWorkersSubdomainRequest {
	return CloudflareAPIGetCloudflareWorkersSubdomainRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareWorkersSubdomainExecute(r CloudflareAPIGetCloudflareWorkersSubdomainRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareWorkersSubdomain")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/subdomain"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareWorkersZonesByZoneRoutesRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	zone       string
}

func (r CloudflareAPIGetCloudflareWorkersZonesByZoneRoutesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareWorkersZonesByZoneRoutesExecute(r)
}

/*
GetCloudflareWorkersZonesByZoneRoutes Lists the Worker routes bound within one zone — the URL patterns that dispatch to a script.

Lists the Worker routes bound within one zone — the URL
patterns that dispatch to a script. Any org member may read. Routes are
zone-scoped, so no account is resolved.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone Zone is the 32-hex Cloudflare zone id.
	@return CloudflareAPIGetCloudflareWorkersZonesByZoneRoutesRequest
*/
func (a *CloudflareAPIService) GetCloudflareWorkersZonesByZoneRoutes(ctx context.Context, zone string) CloudflareAPIGetCloudflareWorkersZonesByZoneRoutesRequest {
	return CloudflareAPIGetCloudflareWorkersZonesByZoneRoutesRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareWorkersZonesByZoneRoutesExecute(r CloudflareAPIGetCloudflareWorkersZonesByZoneRoutesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareWorkersZonesByZoneRoutes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/zones/{zone}/routes"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareZonesRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	page       *string
	perPage    *string
	name       *string
	status     *string
	order      *string
	direction  *string
}

// Page is the 1-based page of zones to return.
func (r CloudflareAPIGetCloudflareZonesRequest) Page(page string) CloudflareAPIGetCloudflareZonesRequest {
	r.page = &page
	return r
}

// PerPage is how many zones one page holds.
func (r CloudflareAPIGetCloudflareZonesRequest) PerPage(perPage string) CloudflareAPIGetCloudflareZonesRequest {
	r.perPage = &perPage
	return r
}

// Name filters to the zone with this domain name.
func (r CloudflareAPIGetCloudflareZonesRequest) Name(name string) CloudflareAPIGetCloudflareZonesRequest {
	r.name = &name
	return r
}

// Status filters by zone status (active, pending, initializing, …).
func (r CloudflareAPIGetCloudflareZonesRequest) Status(status string) CloudflareAPIGetCloudflareZonesRequest {
	r.status = &status
	return r
}

// Order names the field to sort by, and Direction sorts asc or desc.
func (r CloudflareAPIGetCloudflareZonesRequest) Order(order string) CloudflareAPIGetCloudflareZonesRequest {
	r.order = &order
	return r
}

func (r CloudflareAPIGetCloudflareZonesRequest) Direction(direction string) CloudflareAPIGetCloudflareZonesRequest {
	r.direction = &direction
	return r
}

func (r CloudflareAPIGetCloudflareZonesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareZonesExecute(r)
}

/*
GetCloudflareZones Lists the Cloudflare zones the org's connected API token can see, paged and filtered by the query parameters Cloudflare itself accepts.

Lists the Cloudflare zones the org's connected API token can see,
paged and filtered by the query parameters Cloudflare itself accepts. Zones are
token-scoped by Cloudflare, so no account is resolved. Any org member may read.

Zone and DNS-record MANAGEMENT is not here: it stays on the Hanzo DNS plane
(/v1/dns). This only surfaces the Cloudflare zone objects the asset plane needs
— a zone id is what addresses a Worker route or an analytics read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIGetCloudflareZonesRequest
*/
func (a *CloudflareAPIService) GetCloudflareZones(ctx context.Context) CloudflareAPIGetCloudflareZonesRequest {
	return CloudflareAPIGetCloudflareZonesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareZonesExecute(r CloudflareAPIGetCloudflareZonesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareZones")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/zones"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareZonesByZoneRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	zone       string
}

func (r CloudflareAPIGetCloudflareZonesByZoneRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareZonesByZoneExecute(r)
}

/*
GetCloudflareZonesByZone Reads one Cloudflare zone the org's token can see.

Reads one Cloudflare zone the org's token can see. Any org member may
read. A zone id the token cannot see is Cloudflare's own not-found, relayed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone Zone is the 32-hex Cloudflare zone id.
	@return CloudflareAPIGetCloudflareZonesByZoneRequest
*/
func (a *CloudflareAPIService) GetCloudflareZonesByZone(ctx context.Context, zone string) CloudflareAPIGetCloudflareZonesByZoneRequest {
	return CloudflareAPIGetCloudflareZonesByZoneRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareZonesByZoneExecute(r CloudflareAPIGetCloudflareZonesByZoneRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareZonesByZone")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/zones/{zone}"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	zone       string
	since      *string
	until      *string
	continuous *string
}

// Since and Until bound the window, in the form Cloudflare accepts — an RFC 3339 time or a negative number of minutes from now (\&quot;-1440\&quot; is the last day).
func (r CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest) Since(since string) CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest {
	r.since = &since
	return r
}

func (r CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest) Until(until string) CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest {
	r.until = &until
	return r
}

// Continuous asks Cloudflare for only fully-aggregated buckets.
func (r CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest) Continuous(continuous string) CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest {
	r.continuous = &continuous
	return r
}

func (r CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCloudflareZonesByZoneAnalyticsExecute(r)
}

/*
GetCloudflareZonesByZoneAnalytics Reads a zone's Cloudflare traffic dashboard — requests, bandwidth, threats and pageviews over the since/until window.

Reads a zone's Cloudflare traffic dashboard — requests, bandwidth,
threats and pageviews over the since/until window. Any org member may read.

A zone whose Cloudflare plan does not serve this endpoint yields Cloudflare's
OWN error, never a fabricated success.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone Zone is the 32-hex Cloudflare zone id.
	@return CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest
*/
func (a *CloudflareAPIService) GetCloudflareZonesByZoneAnalytics(ctx context.Context, zone string) CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest {
	return CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) GetCloudflareZonesByZoneAnalyticsExecute(r CloudflareAPIGetCloudflareZonesByZoneAnalyticsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.GetCloudflareZonesByZoneAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/zones/{zone}/analytics"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.continuous != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuous", r.continuous, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIPostCloudflareD1DatabasesRequest struct {
	ctx              context.Context
	ApiService       *CloudflareAPIService
	databaseCreateIn *DatabaseCreateIn
}

func (r CloudflareAPIPostCloudflareD1DatabasesRequest) DatabaseCreateIn(databaseCreateIn DatabaseCreateIn) CloudflareAPIPostCloudflareD1DatabasesRequest {
	r.databaseCreateIn = &databaseCreateIn
	return r
}

func (r CloudflareAPIPostCloudflareD1DatabasesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostCloudflareD1DatabasesExecute(r)
}

/*
PostCloudflareD1Databases Creates a D1 database on the org's Cloudflare account.

Creates a D1 database on the org's Cloudflare account.
Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIPostCloudflareD1DatabasesRequest
*/
func (a *CloudflareAPIService) PostCloudflareD1Databases(ctx context.Context) CloudflareAPIPostCloudflareD1DatabasesRequest {
	return CloudflareAPIPostCloudflareD1DatabasesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) PostCloudflareD1DatabasesExecute(r CloudflareAPIPostCloudflareD1DatabasesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.PostCloudflareD1Databases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/d1/databases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseCreateIn == nil {
		return localVarReturnValue, nil, reportError("databaseCreateIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.databaseCreateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIPostCloudflareD1DatabasesByDatabaseQueryRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	database   string
	d1Query    *D1Query
}

func (r CloudflareAPIPostCloudflareD1DatabasesByDatabaseQueryRequest) D1Query(d1Query D1Query) CloudflareAPIPostCloudflareD1DatabasesByDatabaseQueryRequest {
	r.d1Query = &d1Query
	return r
}

func (r CloudflareAPIPostCloudflareD1DatabasesByDatabaseQueryRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostCloudflareD1DatabasesByDatabaseQueryExecute(r)
}

/*
PostCloudflareD1DatabasesByDatabaseQuery Run a SQL statement against a D1 database

Executes a statement on one D1 database on the org's OWN Cloudflare account and relays D1's result set. `sql` is required and `params` carries the bound values in placeholder order — use them rather than interpolating values into the statement.

The body is checked for a non-empty `sql` and then forwarded VERBATIM, so every field D1 accepts reaches D1 even though only two are named here; the declared schema is open for that reason. That verbatim forward is why this is not a typed op — decoding and re-encoding the body would drop `params`, where the query's bound values live. Requires ORG ADMIN (403 otherwise); a malformed body or missing `sql` is 400; 503 if the org has never connected a Cloudflare token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param database
	@return CloudflareAPIPostCloudflareD1DatabasesByDatabaseQueryRequest
*/
func (a *CloudflareAPIService) PostCloudflareD1DatabasesByDatabaseQuery(ctx context.Context, database string) CloudflareAPIPostCloudflareD1DatabasesByDatabaseQueryRequest {
	return CloudflareAPIPostCloudflareD1DatabasesByDatabaseQueryRequest{
		ApiService: a,
		ctx:        ctx,
		database:   database,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) PostCloudflareD1DatabasesByDatabaseQueryExecute(r CloudflareAPIPostCloudflareD1DatabasesByDatabaseQueryRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.PostCloudflareD1DatabasesByDatabaseQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/d1/databases/{database}/query"
	localVarPath = strings.Replace(localVarPath, "{"+"database"+"}", url.PathEscape(parameterValueToString(r.database, "database")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.d1Query
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIPostCloudflareKvNamespacesRequest struct {
	ctx               context.Context
	ApiService        *CloudflareAPIService
	namespaceCreateIn *NamespaceCreateIn
}

func (r CloudflareAPIPostCloudflareKvNamespacesRequest) NamespaceCreateIn(namespaceCreateIn NamespaceCreateIn) CloudflareAPIPostCloudflareKvNamespacesRequest {
	r.namespaceCreateIn = &namespaceCreateIn
	return r
}

func (r CloudflareAPIPostCloudflareKvNamespacesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostCloudflareKvNamespacesExecute(r)
}

/*
PostCloudflareKvNamespaces KVNamespaceCreate creates a Workers KV namespace on the org's Cloudflare account.

KVNamespaceCreate creates a Workers KV namespace on the org's Cloudflare
account. Requires org admin. Cloudflare mints the namespace id the value routes
address.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIPostCloudflareKvNamespacesRequest
*/
func (a *CloudflareAPIService) PostCloudflareKvNamespaces(ctx context.Context) CloudflareAPIPostCloudflareKvNamespacesRequest {
	return CloudflareAPIPostCloudflareKvNamespacesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) PostCloudflareKvNamespacesExecute(r CloudflareAPIPostCloudflareKvNamespacesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.PostCloudflareKvNamespaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.namespaceCreateIn == nil {
		return localVarReturnValue, nil, reportError("namespaceCreateIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.namespaceCreateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIPostCloudflarePagesProjectsRequest struct {
	ctx                context.Context
	ApiService         *CloudflareAPIService
	pagesProjectCreate *PagesProjectCreate
}

func (r CloudflareAPIPostCloudflarePagesProjectsRequest) PagesProjectCreate(pagesProjectCreate PagesProjectCreate) CloudflareAPIPostCloudflarePagesProjectsRequest {
	r.pagesProjectCreate = &pagesProjectCreate
	return r
}

func (r CloudflareAPIPostCloudflarePagesProjectsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostCloudflarePagesProjectsExecute(r)
}

/*
PostCloudflarePagesProjects Creates a Cloudflare Pages project on the org's account.

Creates a Cloudflare Pages project on the org's account. Requires
org admin. Only the modeled fields reach Cloudflare, so an unmodeled key in the
request is dropped rather than forwarded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPIPostCloudflarePagesProjectsRequest
*/
func (a *CloudflareAPIService) PostCloudflarePagesProjects(ctx context.Context) CloudflareAPIPostCloudflarePagesProjectsRequest {
	return CloudflareAPIPostCloudflarePagesProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) PostCloudflarePagesProjectsExecute(r CloudflareAPIPostCloudflarePagesProjectsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.PostCloudflarePagesProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pagesProjectCreate == nil {
		return localVarReturnValue, nil, reportError("pagesProjectCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.pagesProjectCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPIPostCloudflarePagesProjectsByProjectDeploymentsRequest struct {
	ctx         context.Context
	ApiService  *CloudflareAPIService
	project     string
	pagesDeploy *PagesDeploy
}

[...]
