/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// KmsSecretsAPIService KmsSecretsAPI service
type KmsSecretsAPIService service

type KmsSecretsAPIKmsBatchSecretsRequest struct {
	ctx                   context.Context
	ApiService            *KmsSecretsAPIService
	workspaceId           *string
	kmsBatchSecretRequest *KmsBatchSecretRequest
}

func (r KmsSecretsAPIKmsBatchSecretsRequest) WorkspaceId(workspaceId string) KmsSecretsAPIKmsBatchSecretsRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r KmsSecretsAPIKmsBatchSecretsRequest) KmsBatchSecretRequest(kmsBatchSecretRequest KmsBatchSecretRequest) KmsSecretsAPIKmsBatchSecretsRequest {
	r.kmsBatchSecretRequest = &kmsBatchSecretRequest
	return r
}

func (r KmsSecretsAPIKmsBatchSecretsRequest) Execute() (*KmsBatchSecrets200Response, *http.Response, error) {
	return r.ApiService.KmsBatchSecretsExecute(r)
}

/*
KmsBatchSecrets Batch create, update, and delete secrets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KmsSecretsAPIKmsBatchSecretsRequest
*/
func (a *KmsSecretsAPIService) KmsBatchSecrets(ctx context.Context) KmsSecretsAPIKmsBatchSecretsRequest {
	return KmsSecretsAPIKmsBatchSecretsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KmsBatchSecrets200Response
func (a *KmsSecretsAPIService) KmsBatchSecretsExecute(r KmsSecretsAPIKmsBatchSecretsRequest) (*KmsBatchSecrets200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsBatchSecrets200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsBatchSecrets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/v4/secrets/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceId == nil {
		return localVarReturnValue, nil, reportError("workspaceId is required and must be specified")
	}
	if r.kmsBatchSecretRequest == nil {
		return localVarReturnValue, nil, reportError("kmsBatchSecretRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workspaceId", r.workspaceId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kmsBatchSecretRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsCreateSecretRequest struct {
	ctx                    context.Context
	ApiService             *KmsSecretsAPIService
	secretKey              string
	kmsCreateSecretRequest *KmsCreateSecretRequest
}

func (r KmsSecretsAPIKmsCreateSecretRequest) KmsCreateSecretRequest(kmsCreateSecretRequest KmsCreateSecretRequest) KmsSecretsAPIKmsCreateSecretRequest {
	r.kmsCreateSecretRequest = &kmsCreateSecretRequest
	return r
}

func (r KmsSecretsAPIKmsCreateSecretRequest) Execute() (*KmsGetSecret200Response, *http.Response, error) {
	return r.ApiService.KmsCreateSecretExecute(r)
}

/*
KmsCreateSecret Create a secret

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param secretKey
	@return KmsSecretsAPIKmsCreateSecretRequest
*/
func (a *KmsSecretsAPIService) KmsCreateSecret(ctx context.Context, secretKey string) KmsSecretsAPIKmsCreateSecretRequest {
	return KmsSecretsAPIKmsCreateSecretRequest{
		ApiService: a,
		ctx:        ctx,
		secretKey:  secretKey,
	}
}

// Execute executes the request
//
//	@return KmsGetSecret200Response
func (a *KmsSecretsAPIService) KmsCreateSecretExecute(r KmsSecretsAPIKmsCreateSecretRequest) (*KmsGetSecret200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsGetSecret200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsCreateSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/v4/secrets/{secretKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"secretKey"+"}", url.PathEscape(parameterValueToString(r.secretKey, "secretKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kmsCreateSecretRequest == nil {
		return localVarReturnValue, nil, reportError("kmsCreateSecretRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kmsCreateSecretRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsDeleteSecretRequest struct {
	ctx         context.Context
	ApiService  *KmsSecretsAPIService
	secretKey   string
	workspaceId *string
	environment *string
	secretPath  *string
}

func (r KmsSecretsAPIKmsDeleteSecretRequest) WorkspaceId(workspaceId string) KmsSecretsAPIKmsDeleteSecretRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r KmsSecretsAPIKmsDeleteSecretRequest) Environment(environment string) KmsSecretsAPIKmsDeleteSecretRequest {
	r.environment = &environment
	return r
}

func (r KmsSecretsAPIKmsDeleteSecretRequest) SecretPath(secretPath string) KmsSecretsAPIKmsDeleteSecretRequest {
	r.secretPath = &secretPath
	return r
}

func (r KmsSecretsAPIKmsDeleteSecretRequest) Execute() (*KmsGetSecret200Response, *http.Response, error) {
	return r.ApiService.KmsDeleteSecretExecute(r)
}

/*
KmsDeleteSecret Delete a secret

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param secretKey
	@return KmsSecretsAPIKmsDeleteSecretRequest
*/
func (a *KmsSecretsAPIService) KmsDeleteSecret(ctx context.Context, secretKey string) KmsSecretsAPIKmsDeleteSecretRequest {
	return KmsSecretsAPIKmsDeleteSecretRequest{
		ApiService: a,
		ctx:        ctx,
		secretKey:  secretKey,
	}
}

// Execute executes the request
//
//	@return KmsGetSecret200Response
func (a *KmsSecretsAPIService) KmsDeleteSecretExecute(r KmsSecretsAPIKmsDeleteSecretRequest) (*KmsGetSecret200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsGetSecret200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsDeleteSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/v4/secrets/{secretKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"secretKey"+"}", url.PathEscape(parameterValueToString(r.secretKey, "secretKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceId == nil {
		return localVarReturnValue, nil, reportError("workspaceId is required and must be specified")
	}
	if r.environment == nil {
		return localVarReturnValue, nil, reportError("environment is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workspaceId", r.workspaceId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "form", "")
	if r.secretPath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "secretPath", r.secretPath, "form", "")
	} else {
		var defaultValue string = "/"
		r.secretPath = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsGetSecretRequest struct {
	ctx                    context.Context
	ApiService             *KmsSecretsAPIService
	secretKey              string
	workspaceId            *string
	environment            *string
	secretPath             *string
	expandSecretReferences *bool
	version                *int32
}

func (r KmsSecretsAPIKmsGetSecretRequest) WorkspaceId(workspaceId string) KmsSecretsAPIKmsGetSecretRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r KmsSecretsAPIKmsGetSecretRequest) Environment(environment string) KmsSecretsAPIKmsGetSecretRequest {
	r.environment = &environment
	return r
}

func (r KmsSecretsAPIKmsGetSecretRequest) SecretPath(secretPath string) KmsSecretsAPIKmsGetSecretRequest {
	r.secretPath = &secretPath
	return r
}

func (r KmsSecretsAPIKmsGetSecretRequest) ExpandSecretReferences(expandSecretReferences bool) KmsSecretsAPIKmsGetSecretRequest {
	r.expandSecretReferences = &expandSecretReferences
	return r
}

func (r KmsSecretsAPIKmsGetSecretRequest) Version(version int32) KmsSecretsAPIKmsGetSecretRequest {
	r.version = &version
	return r
}

func (r KmsSecretsAPIKmsGetSecretRequest) Execute() (*KmsGetSecret200Response, *http.Response, error) {
	return r.ApiService.KmsGetSecretExecute(r)
}

/*
KmsGetSecret Get a secret by key

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param secretKey
	@return KmsSecretsAPIKmsGetSecretRequest
*/
func (a *KmsSecretsAPIService) KmsGetSecret(ctx context.Context, secretKey string) KmsSecretsAPIKmsGetSecretRequest {
	return KmsSecretsAPIKmsGetSecretRequest{
		ApiService: a,
		ctx:        ctx,
		secretKey:  secretKey,
	}
}

// Execute executes the request
//
//	@return KmsGetSecret200Response
func (a *KmsSecretsAPIService) KmsGetSecretExecute(r KmsSecretsAPIKmsGetSecretRequest) (*KmsGetSecret200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsGetSecret200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsGetSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/v4/secrets/{secretKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"secretKey"+"}", url.PathEscape(parameterValueToString(r.secretKey, "secretKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceId == nil {
		return localVarReturnValue, nil, reportError("workspaceId is required and must be specified")
	}
	if r.environment == nil {
		return localVarReturnValue, nil, reportError("environment is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workspaceId", r.workspaceId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "form", "")
	if r.secretPath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "secretPath", r.secretPath, "form", "")
	} else {
		var defaultValue string = "/"
		r.secretPath = &defaultValue
	}
	if r.expandSecretReferences != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expandSecretReferences", r.expandSecretReferences, "form", "")
	} else {
		var defaultValue bool = true
		r.expandSecretReferences = &defaultValue
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsKmsDeleteOrgSecretRequest struct {
	ctx        context.Context
	ApiService *KmsSecretsAPIService
	org        string
	rest       string
	env        *string
}

func (r KmsSecretsAPIKmsKmsDeleteOrgSecretRequest) Env(env string) KmsSecretsAPIKmsKmsDeleteOrgSecretRequest {
	r.env = &env
	return r
}

func (r KmsSecretsAPIKmsKmsDeleteOrgSecretRequest) Execute() (*AnalyticsHeartbeat200Response, *http.Response, error) {
	return r.ApiService.KmsKmsDeleteOrgSecretExecute(r)
}

/*
KmsKmsDeleteOrgSecret Delete a secret

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param rest The secret's path + name joined (a/b/c/name).
	@return KmsSecretsAPIKmsKmsDeleteOrgSecretRequest
*/
func (a *KmsSecretsAPIService) KmsKmsDeleteOrgSecret(ctx context.Context, org string, rest string) KmsSecretsAPIKmsKmsDeleteOrgSecretRequest {
	return KmsSecretsAPIKmsKmsDeleteOrgSecretRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		rest:       rest,
	}
}

// Execute executes the request
//
//	@return AnalyticsHeartbeat200Response
func (a *KmsSecretsAPIService) KmsKmsDeleteOrgSecretExecute(r KmsSecretsAPIKmsKmsDeleteOrgSecretRequest) (*AnalyticsHeartbeat200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsHeartbeat200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsKmsDeleteOrgSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/orgs/{org}/secrets/{rest}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"rest"+"}", url.PathEscape(parameterValueToString(r.rest, "rest")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.env != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "env", r.env, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsKmsGetOrgSecretRequest struct {
	ctx        context.Context
	ApiService *KmsSecretsAPIService
	org        string
	rest       string
	env        *string
}

func (r KmsSecretsAPIKmsKmsGetOrgSecretRequest) Env(env string) KmsSecretsAPIKmsKmsGetOrgSecretRequest {
	r.env = &env
	return r
}

func (r KmsSecretsAPIKmsKmsGetOrgSecretRequest) Execute() (*KmsKmsGetOrgSecret200Response, *http.Response, error) {
	return r.ApiService.KmsKmsGetOrgSecretExecute(r)
}

/*
KmsKmsGetOrgSecret Reveal one secret value

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param rest The secret's path + name joined (a/b/c/name).
	@return KmsSecretsAPIKmsKmsGetOrgSecretRequest
*/
func (a *KmsSecretsAPIService) KmsKmsGetOrgSecret(ctx context.Context, org string, rest string) KmsSecretsAPIKmsKmsGetOrgSecretRequest {
	return KmsSecretsAPIKmsKmsGetOrgSecretRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		rest:       rest,
	}
}

// Execute executes the request
//
//	@return KmsKmsGetOrgSecret200Response
func (a *KmsSecretsAPIService) KmsKmsGetOrgSecretExecute(r KmsSecretsAPIKmsKmsGetOrgSecretRequest) (*KmsKmsGetOrgSecret200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsKmsGetOrgSecret200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsKmsGetOrgSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/orgs/{org}/secrets/{rest}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"rest"+"}", url.PathEscape(parameterValueToString(r.rest, "rest")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.env != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "env", r.env, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsKmsListOrgSecretsRequest struct {
	ctx        context.Context
	ApiService *KmsSecretsAPIService
	org        string
	env        *string
	prefix     *string
}

// Environment slug (devnet, testnet, mainnet, production, …). Default \&quot;default\&quot;.
func (r KmsSecretsAPIKmsKmsListOrgSecretsRequest) Env(env string) KmsSecretsAPIKmsKmsListOrgSecretsRequest {
	r.env = &env
	return r
}

// Restrict the scan to a subpath within brand/{org}.
func (r KmsSecretsAPIKmsKmsListOrgSecretsRequest) Prefix(prefix string) KmsSecretsAPIKmsKmsListOrgSecretsRequest {
	r.prefix = &prefix
	return r
}

func (r KmsSecretsAPIKmsKmsListOrgSecretsRequest) Execute() (*KmsKmsListOrgSecrets200Response, *http.Response, error) {
	return r.ApiService.KmsKmsListOrgSecretsExecute(r)
}

/*
KmsKmsListOrgSecrets List an org's secret metadata (names only, never values)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@return KmsSecretsAPIKmsKmsListOrgSecretsRequest
*/
func (a *KmsSecretsAPIService) KmsKmsListOrgSecrets(ctx context.Context, org string) KmsSecretsAPIKmsKmsListOrgSecretsRequest {
	return KmsSecretsAPIKmsKmsListOrgSecretsRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return KmsKmsListOrgSecrets200Response
func (a *KmsSecretsAPIService) KmsKmsListOrgSecretsExecute(r KmsSecretsAPIKmsKmsListOrgSecretsRequest) (*KmsKmsListOrgSecrets200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsKmsListOrgSecrets200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsKmsListOrgSecrets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/orgs/{org}/secrets"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.env != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "env", r.env, "form", "")
	}
	if r.prefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsKmsPutOrgSecretRequest struct {
	ctx                       context.Context
	ApiService                *KmsSecretsAPIService
	org                       string
	kmsKmsPutOrgSecretRequest *KmsKmsPutOrgSecretRequest
}

func (r KmsSecretsAPIKmsKmsPutOrgSecretRequest) KmsKmsPutOrgSecretRequest(kmsKmsPutOrgSecretRequest KmsKmsPutOrgSecretRequest) KmsSecretsAPIKmsKmsPutOrgSecretRequest {
	r.kmsKmsPutOrgSecretRequest = &kmsKmsPutOrgSecretRequest
	return r
}

func (r KmsSecretsAPIKmsKmsPutOrgSecretRequest) Execute() (*KmsKmsPutOrgSecret200Response, *http.Response, error) {
	return r.ApiService.KmsKmsPutOrgSecretExecute(r)
}

/*
KmsKmsPutOrgSecret Create or upsert a secret (value write-only; version bumps)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@return KmsSecretsAPIKmsKmsPutOrgSecretRequest
*/
func (a *KmsSecretsAPIService) KmsKmsPutOrgSecret(ctx context.Context, org string) KmsSecretsAPIKmsKmsPutOrgSecretRequest {
	return KmsSecretsAPIKmsKmsPutOrgSecretRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return KmsKmsPutOrgSecret200Response
func (a *KmsSecretsAPIService) KmsKmsPutOrgSecretExecute(r KmsSecretsAPIKmsKmsPutOrgSecretRequest) (*KmsKmsPutOrgSecret200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsKmsPutOrgSecret200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsKmsPutOrgSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/orgs/{org}/secrets"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kmsKmsPutOrgSecretRequest == nil {
		return localVarReturnValue, nil, reportError("kmsKmsPutOrgSecretRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kmsKmsPutOrgSecretRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsKmsRotateOrgSecretRequest struct {
	ctx                          context.Context
	ApiService                   *KmsSecretsAPIService
	org                          string
	rest                         string
	kmsKmsRotateOrgSecretRequest *KmsKmsRotateOrgSecretRequest
	ifMatch                      *string
}

func (r KmsSecretsAPIKmsKmsRotateOrgSecretRequest) KmsKmsRotateOrgSecretRequest(kmsKmsRotateOrgSecretRequest KmsKmsRotateOrgSecretRequest) KmsSecretsAPIKmsKmsRotateOrgSecretRequest {
	r.kmsKmsRotateOrgSecretRequest = &kmsKmsRotateOrgSecretRequest
	return r
}

// Current version for the compare-and-set (replay protection).
func (r KmsSecretsAPIKmsKmsRotateOrgSecretRequest) IfMatch(ifMatch string) KmsSecretsAPIKmsKmsRotateOrgSecretRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r KmsSecretsAPIKmsKmsRotateOrgSecretRequest) Execute() (*KmsKmsPutOrgSecret200Response, *http.Response, error) {
	return r.ApiService.KmsKmsRotateOrgSecretExecute(r)
}

/*
KmsKmsRotateOrgSecret Rotate a secret (compare-and-set on version)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param rest The secret's path + name joined (a/b/c/name).
	@return KmsSecretsAPIKmsKmsRotateOrgSecretRequest
*/
func (a *KmsSecretsAPIService) KmsKmsRotateOrgSecret(ctx context.Context, org string, rest string) KmsSecretsAPIKmsKmsRotateOrgSecretRequest {
	return KmsSecretsAPIKmsKmsRotateOrgSecretRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		rest:       rest,
	}
}

// Execute executes the request
//
//	@return KmsKmsPutOrgSecret200Response
func (a *KmsSecretsAPIService) KmsKmsRotateOrgSecretExecute(r KmsSecretsAPIKmsKmsRotateOrgSecretRequest) (*KmsKmsPutOrgSecret200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsKmsPutOrgSecret200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsKmsRotateOrgSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/orgs/{org}/secrets/{rest}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"rest"+"}", url.PathEscape(parameterValueToString(r.rest, "rest")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kmsKmsRotateOrgSecretRequest == nil {
		return localVarReturnValue, nil, reportError("kmsKmsRotateOrgSecretRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	// body params
	localVarPostBody = r.kmsKmsRotateOrgSecretRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsListSecretsRequest struct {
	ctx                    context.Context
	ApiService             *KmsSecretsAPIService
	workspaceId            *string
	environment            *string
	secretPath             *string
	expandSecretReferences *bool
	recursive              *bool
	includeImports         *bool
	tagSlugs               *string
	metadataFilter         *string
}

func (r KmsSecretsAPIKmsListSecretsRequest) WorkspaceId(workspaceId string) KmsSecretsAPIKmsListSecretsRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r KmsSecretsAPIKmsListSecretsRequest) Environment(environment string) KmsSecretsAPIKmsListSecretsRequest {
	r.environment = &environment
	return r
}

func (r KmsSecretsAPIKmsListSecretsRequest) SecretPath(secretPath string) KmsSecretsAPIKmsListSecretsRequest {
	r.secretPath = &secretPath
	return r
}

func (r KmsSecretsAPIKmsListSecretsRequest) ExpandSecretReferences(expandSecretReferences bool) KmsSecretsAPIKmsListSecretsRequest {
	r.expandSecretReferences = &expandSecretReferences
	return r
}

func (r KmsSecretsAPIKmsListSecretsRequest) Recursive(recursive bool) KmsSecretsAPIKmsListSecretsRequest {
	r.recursive = &recursive
	return r
}

func (r KmsSecretsAPIKmsListSecretsRequest) IncludeImports(includeImports bool) KmsSecretsAPIKmsListSecretsRequest {
	r.includeImports = &includeImports
	return r
}

func (r KmsSecretsAPIKmsListSecretsRequest) TagSlugs(tagSlugs string) KmsSecretsAPIKmsListSecretsRequest {
	r.tagSlugs = &tagSlugs
	return r
}

func (r KmsSecretsAPIKmsListSecretsRequest) MetadataFilter(metadataFilter string) KmsSecretsAPIKmsListSecretsRequest {
	r.metadataFilter = &metadataFilter
	return r
}

func (r KmsSecretsAPIKmsListSecretsRequest) Execute() (*KmsListSecrets200Response, *http.Response, error) {
	return r.ApiService.KmsListSecretsExecute(r)
}

/*
KmsListSecrets List secrets

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KmsSecretsAPIKmsListSecretsRequest
*/
func (a *KmsSecretsAPIService) KmsListSecrets(ctx context.Context) KmsSecretsAPIKmsListSecretsRequest {
	return KmsSecretsAPIKmsListSecretsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KmsListSecrets200Response
func (a *KmsSecretsAPIService) KmsListSecretsExecute(r KmsSecretsAPIKmsListSecretsRequest) (*KmsListSecrets200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsListSecrets200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsListSecrets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/v4/secrets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceId == nil {
		return localVarReturnValue, nil, reportError("workspaceId is required and must be specified")
	}
	if r.environment == nil {
		return localVarReturnValue, nil, reportError("environment is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workspaceId", r.workspaceId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "form", "")
	if r.secretPath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "secretPath", r.secretPath, "form", "")
	} else {
		var defaultValue string = "/"
		r.secretPath = &defaultValue
	}
	if r.expandSecretReferences != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expandSecretReferences", r.expandSecretReferences, "form", "")
	} else {
		var defaultValue bool = true
		r.expandSecretReferences = &defaultValue
	}
	if r.recursive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recursive", r.recursive, "form", "")
	} else {
		var defaultValue bool = false
		r.recursive = &defaultValue
	}
	if r.includeImports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_imports", r.includeImports, "form", "")
	} else {
		var defaultValue bool = false
		r.includeImports = &defaultValue
	}
	if r.tagSlugs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagSlugs", r.tagSlugs, "form", "")
	}
	if r.metadataFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadataFilter", r.metadataFilter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsSecretsAPIKmsUpdateSecretRequest struct {
	ctx                    context.Context
	ApiService             *KmsSecretsAPIService
	secretKey              string
	kmsUpdateSecretRequest *KmsUpdateSecretRequest
}

func (r KmsSecretsAPIKmsUpdateSecretRequest) KmsUpdateSecretRequest(kmsUpdateSecretRequest KmsUpdateSecretRequest) KmsSecretsAPIKmsUpdateSecretRequest {
	r.kmsUpdateSecretRequest = &kmsUpdateSecretRequest
	return r
}

func (r KmsSecretsAPIKmsUpdateSecretRequest) Execute() (*KmsGetSecret200Response, *http.Response, error) {
	return r.ApiService.KmsUpdateSecretExecute(r)
}

/*
KmsUpdateSecret Update a secret

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param secretKey
	@return KmsSecretsAPIKmsUpdateSecretRequest
*/
func (a *KmsSecretsAPIService) KmsUpdateSecret(ctx context.Context, secretKey string) KmsSecretsAPIKmsUpdateSecretRequest {
	return KmsSecretsAPIKmsUpdateSecretRequest{
		ApiService: a,
		ctx:        ctx,
		secretKey:  secretKey,
	}
}

// Execute executes the request
//
//	@return KmsGetSecret200Response
func (a *KmsSecretsAPIService) KmsUpdateSecretExecute(r KmsSecretsAPIKmsUpdateSecretRequest) (*KmsGetSecret200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsGetSecret200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsSecretsAPIService.KmsUpdateSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/v4/secrets/{secretKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"secretKey"+"}", url.PathEscape(parameterValueToString(r.secretKey, "secretKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kmsUpdateSecretRequest == nil {
		return localVarReturnValue, nil, reportError("kmsUpdateSecretRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kmsUpdateSecretRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
