/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// FrameworkAPIService FrameworkAPI service
type FrameworkAPIService service

type FrameworkAPICloudDeleteV1FrameworkDoctypeNameRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	doctype    string
	name       string
}

func (r FrameworkAPICloudDeleteV1FrameworkDoctypeNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1FrameworkDoctypeNameExecute(r)
}

/*
CloudDeleteV1FrameworkDoctypeName Removes one document, after its on_trash hooks agree.

Removes one document, after its on_trash hooks agree. A
SUBMITTED document cannot be deleted — cancel it first. Answers 204.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param doctype DocType is the document's DocType, from the path.
	@param name Name is the document's name — its key within the DocType — from the path. A name containing a space arrives percent-encoded and is decoded before it is matched against the stored one.
	@return FrameworkAPICloudDeleteV1FrameworkDoctypeNameRequest
*/
func (a *FrameworkAPIService) CloudDeleteV1FrameworkDoctypeName(ctx context.Context, doctype string, name string) FrameworkAPICloudDeleteV1FrameworkDoctypeNameRequest {
	return FrameworkAPICloudDeleteV1FrameworkDoctypeNameRequest{
		ApiService: a,
		ctx:        ctx,
		doctype:    doctype,
		name:       name,
	}
}

// Execute executes the request
func (a *FrameworkAPIService) CloudDeleteV1FrameworkDoctypeNameExecute(r FrameworkAPICloudDeleteV1FrameworkDoctypeNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudDeleteV1FrameworkDoctypeName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/{doctype}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"doctype"+"}", url.PathEscape(parameterValueToString(r.doctype, "doctype")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FrameworkAPICloudDeleteV1FrameworkDoctypesNameRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	name       string
}

func (r FrameworkAPICloudDeleteV1FrameworkDoctypesNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1FrameworkDoctypesNameExecute(r)
}

/*
CloudDeleteV1FrameworkDoctypesName Removes a DocType and every document stored under it.

Removes a DocType and every document stored under it. The
definition and its data go together — a document with no schema can be neither
validated nor read back — so there is no undo. Manager-only. Answers 204.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the DocType's name, from the path. A name containing a space (\"Sales Invoice\") arrives percent-encoded and is decoded before it is matched against the stored one.
	@return FrameworkAPICloudDeleteV1FrameworkDoctypesNameRequest
*/
func (a *FrameworkAPIService) CloudDeleteV1FrameworkDoctypesName(ctx context.Context, name string) FrameworkAPICloudDeleteV1FrameworkDoctypesNameRequest {
	return FrameworkAPICloudDeleteV1FrameworkDoctypesNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
func (a *FrameworkAPIService) CloudDeleteV1FrameworkDoctypesNameExecute(r FrameworkAPICloudDeleteV1FrameworkDoctypesNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudDeleteV1FrameworkDoctypesName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/doctypes/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FrameworkAPICloudDeleteV1FrameworkRolesUserRoleRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	user       string
	role       string
}

func (r FrameworkAPICloudDeleteV1FrameworkRolesUserRoleRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1FrameworkRolesUserRoleExecute(r)
}

/*
CloudDeleteV1FrameworkRolesUserRole Removes one (user, role) grant in the caller's org.

Removes one (user, role) grant in the caller's org. Manager-only.
Answers 204; a grant that does not exist is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param user User is the assignee whose grant is being revoked, from the path.
	@param role Role is the role to revoke, from the path. A role name containing a space (\"System Manager\") arrives percent-encoded and is decoded before it is matched against the stored assignment.
	@return FrameworkAPICloudDeleteV1FrameworkRolesUserRoleRequest
*/
func (a *FrameworkAPIService) CloudDeleteV1FrameworkRolesUserRole(ctx context.Context, user string, role string) FrameworkAPICloudDeleteV1FrameworkRolesUserRoleRequest {
	return FrameworkAPICloudDeleteV1FrameworkRolesUserRoleRequest{
		ApiService: a,
		ctx:        ctx,
		user:       user,
		role:       role,
	}
}

// Execute executes the request
func (a *FrameworkAPIService) CloudDeleteV1FrameworkRolesUserRoleExecute(r FrameworkAPICloudDeleteV1FrameworkRolesUserRoleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudDeleteV1FrameworkRolesUserRole")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/roles/{user}/{role}"
	localVarPath = strings.Replace(localVarPath, "{"+"user"+"}", url.PathEscape(parameterValueToString(r.user, "user")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"role"+"}", url.PathEscape(parameterValueToString(r.role, "role")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FrameworkAPICloudGetV1FrameworkDoctypeRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	doctype    string
	filters    *string
	fields     *string
	orderBy    *string
	limit      *string
}

// Filters is a JSON object of equality matches, e.g. {\&quot;priority\&quot;:\&quot;High\&quot;}. Every key must be a field the DocType declares (or the managed name / docstatus); an undeclared one is refused rather than silently ignored.
func (r FrameworkAPICloudGetV1FrameworkDoctypeRequest) Filters(filters string) FrameworkAPICloudGetV1FrameworkDoctypeRequest {
	r.filters = &filters
	return r
}

// Fields projects the response to a subset — a JSON array [\&quot;a\&quot;,\&quot;b\&quot;] or a comma list \&quot;a,b\&quot;. The envelope keys are always returned.
func (r FrameworkAPICloudGetV1FrameworkDoctypeRequest) Fields(fields string) FrameworkAPICloudGetV1FrameworkDoctypeRequest {
	r.fields = &fields
	return r
}

// OrderBy is \&quot;&lt;field&gt; [asc|desc]\&quot;. Empty means most-recently-updated first.
func (r FrameworkAPICloudGetV1FrameworkDoctypeRequest) OrderBy(orderBy string) FrameworkAPICloudGetV1FrameworkDoctypeRequest {
	r.orderBy = &orderBy
	return r
}

// Limit caps the rows returned. Anything that is not a positive integer leaves the engine&#39;s default in place.
func (r FrameworkAPICloudGetV1FrameworkDoctypeRequest) Limit(limit string) FrameworkAPICloudGetV1FrameworkDoctypeRequest {
	r.limit = &limit
	return r
}

func (r FrameworkAPICloudGetV1FrameworkDoctypeRequest) Execute() (*CloudDocumentList, *http.Response, error) {
	return r.ApiService.CloudGetV1FrameworkDoctypeExecute(r)
}

/*
CloudGetV1FrameworkDoctype Returns the caller org's documents of one DocType, filtered, ordered and projected by the query.

Returns the caller org's documents of one DocType, filtered,
ordered and projected by the query. The DocType is resolved FIRST — through
the same permission gate the list itself uses — because the query is validated
against its schema: a filter, sort or field name the DocType does not declare
is refused rather than reaching the store.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param doctype DocType is the DocType to list, from the path.
	@return FrameworkAPICloudGetV1FrameworkDoctypeRequest
*/
func (a *FrameworkAPIService) CloudGetV1FrameworkDoctype(ctx context.Context, doctype string) FrameworkAPICloudGetV1FrameworkDoctypeRequest {
	return FrameworkAPICloudGetV1FrameworkDoctypeRequest{
		ApiService: a,
		ctx:        ctx,
		doctype:    doctype,
	}
}

// Execute executes the request
//
//	@return CloudDocumentList
func (a *FrameworkAPIService) CloudGetV1FrameworkDoctypeExecute(r FrameworkAPICloudGetV1FrameworkDoctypeRequest) (*CloudDocumentList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDocumentList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudGetV1FrameworkDoctype")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/{doctype}"
	localVarPath = strings.Replace(localVarPath, "{"+"doctype"+"}", url.PathEscape(parameterValueToString(r.doctype, "doctype")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudGetV1FrameworkDoctypeNameRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	doctype    string
	name       string
}

func (r FrameworkAPICloudGetV1FrameworkDoctypeNameRequest) Execute() (map[string]map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1FrameworkDoctypeNameExecute(r)
}

/*
CloudGetV1FrameworkDoctypeName Returns one document by name, with Password fields redacted.

Returns one document by name, with Password fields redacted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param doctype DocType is the document's DocType, from the path.
	@param name Name is the document's name — its key within the DocType — from the path. A name containing a space arrives percent-encoded and is decoded before it is matched against the stored one.
	@return FrameworkAPICloudGetV1FrameworkDoctypeNameRequest
*/
func (a *FrameworkAPIService) CloudGetV1FrameworkDoctypeName(ctx context.Context, doctype string, name string) FrameworkAPICloudGetV1FrameworkDoctypeNameRequest {
	return FrameworkAPICloudGetV1FrameworkDoctypeNameRequest{
		ApiService: a,
		ctx:        ctx,
		doctype:    doctype,
		name:       name,
	}
}

// Execute executes the request
//
//	@return map[string]map[string]interface{}
func (a *FrameworkAPIService) CloudGetV1FrameworkDoctypeNameExecute(r FrameworkAPICloudGetV1FrameworkDoctypeNameRequest) (map[string]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudGetV1FrameworkDoctypeName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/{doctype}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"doctype"+"}", url.PathEscape(parameterValueToString(r.doctype, "doctype")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudGetV1FrameworkDoctypesRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
}

func (r FrameworkAPICloudGetV1FrameworkDoctypesRequest) Execute() (*CloudDocTypeList, *http.Response, error) {
	return r.ApiService.CloudGetV1FrameworkDoctypesExecute(r)
}

/*
CloudGetV1FrameworkDoctypes Returns every DocType defined in the caller's org.

Returns every DocType defined in the caller's org. Another
tenant's definitions are never included: the org is part of the store key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FrameworkAPICloudGetV1FrameworkDoctypesRequest
*/
func (a *FrameworkAPIService) CloudGetV1FrameworkDoctypes(ctx context.Context) FrameworkAPICloudGetV1FrameworkDoctypesRequest {
	return FrameworkAPICloudGetV1FrameworkDoctypesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDocTypeList
func (a *FrameworkAPIService) CloudGetV1FrameworkDoctypesExecute(r FrameworkAPICloudGetV1FrameworkDoctypesRequest) (*CloudDocTypeList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDocTypeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudGetV1FrameworkDoctypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/doctypes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudGetV1FrameworkDoctypesNameRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	name       string
}

func (r FrameworkAPICloudGetV1FrameworkDoctypesNameRequest) Execute() (*CloudDocType, *http.Response, error) {
	return r.ApiService.CloudGetV1FrameworkDoctypesNameExecute(r)
}

/*
CloudGetV1FrameworkDoctypesName Returns one DocType definition — its fields, naming rule, permissions and lifecycle flags.

Returns one DocType definition — its fields, naming rule,
permissions and lifecycle flags. Scoped to the caller's org, so another
tenant's DocType of the same name is simply not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the DocType's name, from the path. A name containing a space (\"Sales Invoice\") arrives percent-encoded and is decoded before it is matched against the stored one.
	@return FrameworkAPICloudGetV1FrameworkDoctypesNameRequest
*/
func (a *FrameworkAPIService) CloudGetV1FrameworkDoctypesName(ctx context.Context, name string) FrameworkAPICloudGetV1FrameworkDoctypesNameRequest {
	return FrameworkAPICloudGetV1FrameworkDoctypesNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudDocType
func (a *FrameworkAPIService) CloudGetV1FrameworkDoctypesNameExecute(r FrameworkAPICloudGetV1FrameworkDoctypesNameRequest) (*CloudDocType, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDocType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudGetV1FrameworkDoctypesName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/doctypes/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudGetV1FrameworkModulesRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
}

func (r FrameworkAPICloudGetV1FrameworkModulesRequest) Execute() (*CloudModuleList, *http.Response, error) {
	return r.ApiService.CloudGetV1FrameworkModulesExecute(r)
}

/*
CloudGetV1FrameworkModules Returns every app lane compiled into this deployment and the DocTypes each one installs.

Returns every app lane compiled into this deployment and the
DocTypes each one installs. It describes the BINARY, not the org: what a given
org has actually installed is the per-module state below.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FrameworkAPICloudGetV1FrameworkModulesRequest
*/
func (a *FrameworkAPIService) CloudGetV1FrameworkModules(ctx context.Context) FrameworkAPICloudGetV1FrameworkModulesRequest {
	return FrameworkAPICloudGetV1FrameworkModulesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudModuleList
func (a *FrameworkAPIService) CloudGetV1FrameworkModulesExecute(r FrameworkAPICloudGetV1FrameworkModulesRequest) (*CloudModuleList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudModuleList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudGetV1FrameworkModules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/modules"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudGetV1FrameworkModulesModuleRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	module     string
}

func (r FrameworkAPICloudGetV1FrameworkModulesModuleRequest) Execute() (*CloudModuleState, *http.Response, error) {
	return r.ApiService.CloudGetV1FrameworkModulesModuleExecute(r)
}

/*
CloudGetV1FrameworkModulesModule Returns one app lane's install state for the caller's org: the DocTypes the lane declares, and which of them already exist in the org.

Returns one app lane's install state for the caller's org: the
DocTypes the lane declares, and which of them already exist in the org. That
is the honest "set up" versus "installed" answer a console renders.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param module Module is the lane's registered name (\"cms\", \"erp\"), from the path.
	@return FrameworkAPICloudGetV1FrameworkModulesModuleRequest
*/
func (a *FrameworkAPIService) CloudGetV1FrameworkModulesModule(ctx context.Context, module string) FrameworkAPICloudGetV1FrameworkModulesModuleRequest {
	return FrameworkAPICloudGetV1FrameworkModulesModuleRequest{
		ApiService: a,
		ctx:        ctx,
		module:     module,
	}
}

// Execute executes the request
//
//	@return CloudModuleState
func (a *FrameworkAPIService) CloudGetV1FrameworkModulesModuleExecute(r FrameworkAPICloudGetV1FrameworkModulesModuleRequest) (*CloudModuleState, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudModuleState
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudGetV1FrameworkModulesModule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/modules/{module}"
	localVarPath = strings.Replace(localVarPath, "{"+"module"+"}", url.PathEscape(parameterValueToString(r.module, "module")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudGetV1FrameworkRolesRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
}

func (r FrameworkAPICloudGetV1FrameworkRolesRequest) Execute() (*CloudRoleList, *http.Response, error) {
	return r.ApiService.CloudGetV1FrameworkRolesExecute(r)
}

/*
CloudGetV1FrameworkRoles Returns every (user, role) assignment in the caller's org.

Returns every (user, role) assignment in the caller's org. Roles are
what DocType permissions are written against, so this is the grant table the
permission calculus resolves a member's rights from.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FrameworkAPICloudGetV1FrameworkRolesRequest
*/
func (a *FrameworkAPIService) CloudGetV1FrameworkRoles(ctx context.Context) FrameworkAPICloudGetV1FrameworkRolesRequest {
	return FrameworkAPICloudGetV1FrameworkRolesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRoleList
func (a *FrameworkAPIService) CloudGetV1FrameworkRolesExecute(r FrameworkAPICloudGetV1FrameworkRolesRequest) (*CloudRoleList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRoleList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudGetV1FrameworkRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudGetV1FrameworkSummaryRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
}

func (r FrameworkAPICloudGetV1FrameworkSummaryRequest) Execute() (*CloudSummaryView, *http.Response, error) {
	return r.ApiService.CloudGetV1FrameworkSummaryExecute(r)
}

/*
CloudGetV1FrameworkSummary Reports how much of the DocType surface the caller's org uses: how many DocTypes it has defined, and how many documents exist across them.

Reports how much of the DocType surface the caller's org uses: how
many DocTypes it has defined, and how many documents exist across them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FrameworkAPICloudGetV1FrameworkSummaryRequest
*/
func (a *FrameworkAPIService) CloudGetV1FrameworkSummary(ctx context.Context) FrameworkAPICloudGetV1FrameworkSummaryRequest {
	return FrameworkAPICloudGetV1FrameworkSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSummaryView
func (a *FrameworkAPIService) CloudGetV1FrameworkSummaryExecute(r FrameworkAPICloudGetV1FrameworkSummaryRequest) (*CloudSummaryView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSummaryView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudGetV1FrameworkSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudPostV1FrameworkByDoctypeRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	doctype    string
}

func (r FrameworkAPICloudPostV1FrameworkByDoctypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1FrameworkByDoctypeExecute(r)
}

/*
CloudPostV1FrameworkByDoctype Method for CloudPostV1FrameworkByDoctype

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param doctype
	@return FrameworkAPICloudPostV1FrameworkByDoctypeRequest
*/
func (a *FrameworkAPIService) CloudPostV1FrameworkByDoctype(ctx context.Context, doctype string) FrameworkAPICloudPostV1FrameworkByDoctypeRequest {
	return FrameworkAPICloudPostV1FrameworkByDoctypeRequest{
		ApiService: a,
		ctx:        ctx,
		doctype:    doctype,
	}
}

// Execute executes the request
func (a *FrameworkAPIService) CloudPostV1FrameworkByDoctypeExecute(r FrameworkAPICloudPostV1FrameworkByDoctypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudPostV1FrameworkByDoctype")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/{doctype}"
	localVarPath = strings.Replace(localVarPath, "{"+"doctype"+"}", url.PathEscape(parameterValueToString(r.doctype, "doctype")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FrameworkAPICloudPostV1FrameworkDoctypeNameCancelRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	doctype    string
	name       string
}

func (r FrameworkAPICloudPostV1FrameworkDoctypeNameCancelRequest) Execute() (map[string]map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1FrameworkDoctypeNameCancelExecute(r)
}

/*
CloudPostV1FrameworkDoctypeNameCancel Moves a submitted document to cancelled (docstatus 1 → 2) after its on_cancel hooks agree.

Moves a submitted document to cancelled (docstatus 1 → 2) after
its on_cancel hooks agree. Cancelling is terminal — a cancelled document
cannot be re-submitted — but it CAN then be deleted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param doctype DocType is the document's DocType, from the path.
	@param name Name is the document's name — its key within the DocType — from the path. A name containing a space arrives percent-encoded and is decoded before it is matched against the stored one.
	@return FrameworkAPICloudPostV1FrameworkDoctypeNameCancelRequest
*/
func (a *FrameworkAPIService) CloudPostV1FrameworkDoctypeNameCancel(ctx context.Context, doctype string, name string) FrameworkAPICloudPostV1FrameworkDoctypeNameCancelRequest {
	return FrameworkAPICloudPostV1FrameworkDoctypeNameCancelRequest{
		ApiService: a,
		ctx:        ctx,
		doctype:    doctype,
		name:       name,
	}
}

// Execute executes the request
//
//	@return map[string]map[string]interface{}
func (a *FrameworkAPIService) CloudPostV1FrameworkDoctypeNameCancelExecute(r FrameworkAPICloudPostV1FrameworkDoctypeNameCancelRequest) (map[string]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudPostV1FrameworkDoctypeNameCancel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/{doctype}/{name}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"doctype"+"}", url.PathEscape(parameterValueToString(r.doctype, "doctype")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudPostV1FrameworkDoctypeNameSubmitRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	doctype    string
	name       string
}

func (r FrameworkAPICloudPostV1FrameworkDoctypeNameSubmitRequest) Execute() (map[string]map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1FrameworkDoctypeNameSubmitExecute(r)
}

/*
CloudPostV1FrameworkDoctypeNameSubmit Moves a draft to submitted (docstatus 0 → 1) after its on_submit hooks agree.

Moves a draft to submitted (docstatus 0 → 1) after its
on_submit hooks agree. A submitted document is IMMUTABLE: further writes and
deletes are refused until it is cancelled. Only a submittable DocType has this
lifecycle; any other docstatus is an illegal transition.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param doctype DocType is the document's DocType, from the path.
	@param name Name is the document's name — its key within the DocType — from the path. A name containing a space arrives percent-encoded and is decoded before it is matched against the stored one.
	@return FrameworkAPICloudPostV1FrameworkDoctypeNameSubmitRequest
*/
func (a *FrameworkAPIService) CloudPostV1FrameworkDoctypeNameSubmit(ctx context.Context, doctype string, name string) FrameworkAPICloudPostV1FrameworkDoctypeNameSubmitRequest {
	return FrameworkAPICloudPostV1FrameworkDoctypeNameSubmitRequest{
		ApiService: a,
		ctx:        ctx,
		doctype:    doctype,
		name:       name,
	}
}

// Execute executes the request
//
//	@return map[string]map[string]interface{}
func (a *FrameworkAPIService) CloudPostV1FrameworkDoctypeNameSubmitExecute(r FrameworkAPICloudPostV1FrameworkDoctypeNameSubmitRequest) (map[string]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudPostV1FrameworkDoctypeNameSubmit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/{doctype}/{name}/submit"
	localVarPath = strings.Replace(localVarPath, "{"+"doctype"+"}", url.PathEscape(parameterValueToString(r.doctype, "doctype")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudPostV1FrameworkDoctypesRequest struct {
	ctx          context.Context
	ApiService   *FrameworkAPIService
	cloudDocType *CloudDocType
}

func (r FrameworkAPICloudPostV1FrameworkDoctypesRequest) CloudDocType(cloudDocType CloudDocType) FrameworkAPICloudPostV1FrameworkDoctypesRequest {
	r.cloudDocType = &cloudDocType
	return r
}

func (r FrameworkAPICloudPostV1FrameworkDoctypesRequest) Execute() (*CloudDocType, *http.Response, error) {
	return r.ApiService.CloudPostV1FrameworkDoctypesExecute(r)
}

/*
CloudPostV1FrameworkDoctypes Defines a DocType in the caller's org: the metadata that gives a document surface its fields, its naming rule, whether it has a submit/cancel lifecycle, and which role may do what to it.

Defines a DocType in the caller's org: the metadata that gives a
document surface its fields, its naming rule, whether it has a submit/cancel
lifecycle, and which role may do what to it. Manager-only — on a fresh org the
first caller to administer it is seeded as its System Manager, after which
only a System Manager (or a platform admin) may define. Answers 201.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FrameworkAPICloudPostV1FrameworkDoctypesRequest
*/
func (a *FrameworkAPIService) CloudPostV1FrameworkDoctypes(ctx context.Context) FrameworkAPICloudPostV1FrameworkDoctypesRequest {
	return FrameworkAPICloudPostV1FrameworkDoctypesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDocType
func (a *FrameworkAPIService) CloudPostV1FrameworkDoctypesExecute(r FrameworkAPICloudPostV1FrameworkDoctypesRequest) (*CloudDocType, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDocType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudPostV1FrameworkDoctypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/doctypes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudDocType == nil {
		return localVarReturnValue, nil, reportError("cloudDocType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudDocType
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudPostV1FrameworkModulesModuleInstallRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	module     string
}

func (r FrameworkAPICloudPostV1FrameworkModulesModuleInstallRequest) Execute() (*CloudInstall, *http.Response, error) {
	return r.ApiService.CloudPostV1FrameworkModulesModuleInstallExecute(r)
}

/*
CloudPostV1FrameworkModulesModuleInstall Creates an app lane's DocTypes in the caller's org.

Creates an app lane's DocTypes in the caller's org. Idempotent
and create-if-absent: a DocType the org already has is reported as existing
and never replaced, so re-installing cannot clobber a definition the org has
since edited. Manager-only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param module Module is the lane's registered name (\"cms\", \"erp\"), from the path.
	@return FrameworkAPICloudPostV1FrameworkModulesModuleInstallRequest
*/
func (a *FrameworkAPIService) CloudPostV1FrameworkModulesModuleInstall(ctx context.Context, module string) FrameworkAPICloudPostV1FrameworkModulesModuleInstallRequest {
	return FrameworkAPICloudPostV1FrameworkModulesModuleInstallRequest{
		ApiService: a,
		ctx:        ctx,
		module:     module,
	}
}

// Execute executes the request
//
//	@return CloudInstall
func (a *FrameworkAPIService) CloudPostV1FrameworkModulesModuleInstallExecute(r FrameworkAPICloudPostV1FrameworkModulesModuleInstallRequest) (*CloudInstall, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudInstall
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudPostV1FrameworkModulesModuleInstall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/modules/{module}/install"
	localVarPath = strings.Replace(localVarPath, "{"+"module"+"}", url.PathEscape(parameterValueToString(r.module, "module")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudPostV1FrameworkRolesRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	cloudRole  *CloudRole
}

func (r FrameworkAPICloudPostV1FrameworkRolesRequest) CloudRole(cloudRole CloudRole) FrameworkAPICloudPostV1FrameworkRolesRequest {
	r.cloudRole = &cloudRole
	return r
}

func (r FrameworkAPICloudPostV1FrameworkRolesRequest) Execute() (*CloudRole, *http.Response, error) {
	return r.ApiService.CloudPostV1FrameworkRolesExecute(r)
}

/*
CloudPostV1FrameworkRoles Grants one user one role in the caller's org — how a member gains rights on a DocType, since permissions name roles and never users.

Grants one user one role in the caller's org — how a member gains
rights on a DocType, since permissions name roles and never users.
Manager-only. Answers 201.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FrameworkAPICloudPostV1FrameworkRolesRequest
*/
func (a *FrameworkAPIService) CloudPostV1FrameworkRoles(ctx context.Context) FrameworkAPICloudPostV1FrameworkRolesRequest {
	return FrameworkAPICloudPostV1FrameworkRolesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRole
func (a *FrameworkAPIService) CloudPostV1FrameworkRolesExecute(r FrameworkAPICloudPostV1FrameworkRolesRequest) (*CloudRole, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRole
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudPostV1FrameworkRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudRole == nil {
		return localVarReturnValue, nil, reportError("cloudRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FrameworkAPICloudPutV1FrameworkByDoctypeByNameRequest struct {
	ctx        context.Context
	ApiService *FrameworkAPIService
	doctype    string
	name       string
}

func (r FrameworkAPICloudPutV1FrameworkByDoctypeByNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPutV1FrameworkByDoctypeByNameExecute(r)
}

/*
CloudPutV1FrameworkByDoctypeByName Method for CloudPutV1FrameworkByDoctypeByName

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param doctype
	@param name
	@return FrameworkAPICloudPutV1FrameworkByDoctypeByNameRequest
*/
func (a *FrameworkAPIService) CloudPutV1FrameworkByDoctypeByName(ctx context.Context, doctype string, name string) FrameworkAPICloudPutV1FrameworkByDoctypeByNameRequest {
	return FrameworkAPICloudPutV1FrameworkByDoctypeByNameRequest{
		ApiService: a,
		ctx:        ctx,
		doctype:    doctype,
		name:       name,
	}
}

// Execute executes the request
func (a *FrameworkAPIService) CloudPutV1FrameworkByDoctypeByNameExecute(r FrameworkAPICloudPutV1FrameworkByDoctypeByNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudPutV1FrameworkByDoctypeByName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/{doctype}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"doctype"+"}", url.PathEscape(parameterValueToString(r.doctype, "doctype")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FrameworkAPICloudPutV1FrameworkDoctypesNameRequest struct {
	ctx          context.Context
	ApiService   *FrameworkAPIService
	name         string
	cloudDocType *CloudDocType
}

func (r FrameworkAPICloudPutV1FrameworkDoctypesNameRequest) CloudDocType(cloudDocType CloudDocType) FrameworkAPICloudPutV1FrameworkDoctypesNameRequest {
	r.cloudDocType = &cloudDocType
	return r
}

func (r FrameworkAPICloudPutV1FrameworkDoctypesNameRequest) Execute() (*CloudDocType, *http.Response, error) {
	return r.ApiService.CloudPutV1FrameworkDoctypesNameExecute(r)
}

/*
CloudPutV1FrameworkDoctypesName Replaces a DocType definition wholesale (PUT semantics): the stored definition becomes the body.

Replaces a DocType definition wholesale (PUT semantics): the
stored definition becomes the body. The name in the URL is authoritative over
the body's, and documents already stored under the DocType are left intact.
Manager-only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return FrameworkAPICloudPutV1FrameworkDoctypesNameRequest
*/
func (a *FrameworkAPIService) CloudPutV1FrameworkDoctypesName(ctx context.Context, name string) FrameworkAPICloudPutV1FrameworkDoctypesNameRequest {
	return FrameworkAPICloudPutV1FrameworkDoctypesNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudDocType
func (a *FrameworkAPIService) CloudPutV1FrameworkDoctypesNameExecute(r FrameworkAPICloudPutV1FrameworkDoctypesNameRequest) (*CloudDocType, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDocType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FrameworkAPIService.CloudPutV1FrameworkDoctypesName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/framework/doctypes/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudDocType == nil {
		return localVarReturnValue, nil, reportError("cloudDocType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudDocType
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
