/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CloudTTSAPIAPIService CloudTTSAPIAPI service
type CloudTTSAPIAPIService service

type CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioRequest struct {
	ctx        context.Context
	ApiService *CloudTTSAPIAPIService
	body       *map[string]interface{}
}

// The text to convert to speech
func (r CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioRequest) Body(body map[string]interface{}) CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioRequest {
	r.body = &body
	return r
}

func (r CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.CloudApiControllerGenerateTextToSpeechAudioExecute(r)
}

/*
CloudApiControllerGenerateTextToSpeechAudio Api Controller Generate Text To Speech Audio

convert text to speech

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioRequest
*/
func (a *CloudTTSAPIAPIService) CloudApiControllerGenerateTextToSpeechAudio(ctx context.Context) CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioRequest {
	return CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []string
func (a *CloudTTSAPIAPIService) CloudApiControllerGenerateTextToSpeechAudioExecute(r CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudTTSAPIAPIService.CloudApiControllerGenerateTextToSpeechAudio")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/generate-text-to-speech-audio"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest struct {
	ctx        context.Context
	ApiService *CloudTTSAPIAPIService
	storeId    *string
	messageId  *string
}

// The store ID
func (r CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest) StoreId(storeId string) CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest {
	r.storeId = &storeId
	return r
}

// The message ID
func (r CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest) MessageId(messageId string) CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest {
	r.messageId = &messageId
	return r
}

func (r CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGenerateTextToSpeechAudioStreamExecute(r)
}

/*
CloudApiControllerGenerateTextToSpeechAudioStream Api Controller Generate Text To Speech Audio Stream

convert text to speech with streaming

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest
*/
func (a *CloudTTSAPIAPIService) CloudApiControllerGenerateTextToSpeechAudioStream(ctx context.Context) CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest {
	return CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudTTSAPIAPIService) CloudApiControllerGenerateTextToSpeechAudioStreamExecute(r CloudTTSAPIAPICloudApiControllerGenerateTextToSpeechAudioStreamRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudTTSAPIAPIService.CloudApiControllerGenerateTextToSpeechAudioStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/generate-text-to-speech-audio-stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}
	if r.messageId == nil {
		return localVarReturnValue, nil, reportError("messageId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeId", r.storeId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "messageId", r.messageId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
