/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// RiskAPIService RiskAPI service
type RiskAPIService service

type RiskAPIGetRiskHealthRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
}

func (r RiskAPIGetRiskHealthRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetRiskHealthExecute(r)
}

/*
GetRiskHealth Whether the risk model plane can actually work right now

Reports whether the per-organisation model plane is genuinely usable: that the plane was built, that the per-organisation stores can be written, and whether the event surface the feature plane is rolled up from is reachable. It is a REAL probe, not status theatre.

200 only when the plane can work. Otherwise 503 CARRYING THE REPORT — which part failed and the real error — and that body is why this is not a typed op: a typed op reaches a non-2xx by returning an error, and the envelope that produces would drop exactly the detail the probe exists to deliver.

An unreachable event surface is REPORTED and is not a failure. Scoring reads in-memory aggregates and never the warehouse, so a warm that cannot run degrades how much history a model has seen and does not stop it deciding.

It also reports how many organisations' models are resident, how many have been evicted to hold that bound, and how many of the resident ones are at their own aggregate bound. Eviction is lossless — learned state is written to that organisation's own store first and its aggregates rebuild from its own record — so a climbing count is a capacity signal, not a loss. A STRAINED model is different: it has started forgetting its own least-recently-active subjects, and each forgotten subject reads as inactive until it is active again. That is a control degrading, and it is reported here because it is otherwise silent.

It answers about the process, not about a tenant: it takes no organisation and names none.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIGetRiskHealthRequest
*/
func (a *RiskAPIService) GetRiskHealth(ctx context.Context) RiskAPIGetRiskHealthRequest {
	return RiskAPIGetRiskHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RiskAPIService) GetRiskHealthExecute(r RiskAPIGetRiskHealthRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.GetRiskHealth")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type RiskAPIRiskAdoptModelRequest struct {
	ctx         context.Context
	ApiService  *RiskAPIService
	riskAdoptIn *RiskAdoptIn
}

func (r RiskAPIRiskAdoptModelRequest) RiskAdoptIn(riskAdoptIn RiskAdoptIn) RiskAPIRiskAdoptModelRequest {
	r.riskAdoptIn = &riskAdoptIn
	return r
}

func (r RiskAPIRiskAdoptModelRequest) Execute() (*RiskModelState, *http.Response, error) {
	return r.ApiService.RiskAdoptModelExecute(r)
}

/*
RiskAdoptModel Put one of your organisation's own published model values in force

Puts one of your organisation's OWN PUBLISHED VALUES in force, by name —
which is what an instant rollback is, what promoting a challenger is, and what
installing the shape a search found is.

IT TAKES AN ADDRESS AND NEVER STATE. The masses are read from your own store, so
nothing about your model has to be held by whatever is making this call. That
closes the sharpest edge the previous shape had: a body of counters is something
a caller can COMPOSE, and a region filled until activity inside it reads as
ordinary is a model that has been shaped rather than learned. The engine's mass
invariant was the only thing standing between a composed body and the model; with
an address there is no body to compose.

IT ADOPTS THE SHAPE, NOT ONLY THE MASSES. A value records the model space its
masses were taken in, and a value whose space differs from the one in force
REPLANTS your model into that space before restoring them. That is what makes
POST /v1/risk/search actionable: a search answers with the shape that fits your own
history best and publishes it fitted, and its address is what you name here. Before
this, a winning shape was advice nobody could take — the adoption path refused every
shape change, and a winner is a different shape by definition.

WHAT ADOPTING A SEARCHED SHAPE COSTS, SAID PLAINLY: the value a search fits has
learned the window the search replayed and nothing older, so installing it trades
history for fit. Your appetite is untouched — that is your policy record's, with its
own versions — and so is the geometry, which stays your own.

An address your organisation has not published is NOT FOUND. That includes one
another organisation published, and it is not a lookup that failed: the store is
per organisation and the address is a name, never an authority.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskAdoptModelRequest
*/
func (a *RiskAPIService) RiskAdoptModel(ctx context.Context) RiskAPIRiskAdoptModelRequest {
	return RiskAPIRiskAdoptModelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskModelState
func (a *RiskAPIService) RiskAdoptModelExecute(r RiskAPIRiskAdoptModelRequest) (*RiskModelState, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskModelState
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskAdoptModel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/state/model"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.riskAdoptIn == nil {
		return localVarReturnValue, nil, reportError("riskAdoptIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.riskAdoptIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskClearReferenceRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	set        string
	key        *string
}

func (r RiskAPIRiskClearReferenceRequest) Key(key string) RiskAPIRiskClearReferenceRequest {
	r.key = &key
	return r
}

func (r RiskAPIRiskClearReferenceRequest) Execute() (*ClearReferenceOut, *http.Response, error) {
	return r.ApiService.RiskClearReferenceExecute(r)
}

/*
RiskClearReference Removes one of your organisation's overrides.

Removes one of your organisation's overrides.

It removes an entry your organisation wrote, never a baseline member: the
published set is not writable from here, so a removal can only ever restore
the baseline's own answer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param set
	@return RiskAPIRiskClearReferenceRequest
*/
func (a *RiskAPIService) RiskClearReference(ctx context.Context, set string) RiskAPIRiskClearReferenceRequest {
	return RiskAPIRiskClearReferenceRequest{
		ApiService: a,
		ctx:        ctx,
		set:        set,
	}
}

// Execute executes the request
//
//	@return ClearReferenceOut
func (a *RiskAPIService) RiskClearReferenceExecute(r RiskAPIRiskClearReferenceRequest) (*ClearReferenceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClearReferenceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskClearReference")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/reference/{set}"
	localVarPath = strings.Replace(localVarPath, "{"+"set"+"}", url.PathEscape(parameterValueToString(r.set, "set")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.key != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskCreateDatasetRequest struct {
	ctx             context.Context
	ApiService      *RiskAPIService
	riskDatasetSpec *RiskDatasetSpec
}

func (r RiskAPIRiskCreateDatasetRequest) RiskDatasetSpec(riskDatasetSpec RiskDatasetSpec) RiskAPIRiskCreateDatasetRequest {
	r.riskDatasetSpec = &riskDatasetSpec
	return r
}

func (r RiskAPIRiskCreateDatasetRequest) Execute() (*RiskDataset, *http.Response, error) {
	return r.ApiService.RiskCreateDatasetExecute(r)
}

/*
RiskCreateDataset Declare the next version of a dataset

Declares the next version of a dataset from a bound query over
this org's own feature surface.

It mints a VERSION and writes no rows: a version is declared, then materialised
once, then never rewritten. Version numbers are monotone and never reused, so
"version 3 of signups" means one thing forever — which is the whole reason a
model can cite one.

The window is bounded by the source's retention, the horizon by a year, the
rows by the plane's cap, and the number of datasets and versions per org by
their own limits. Every refusal names which bound it hit.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskCreateDatasetRequest
*/
func (a *RiskAPIService) RiskCreateDataset(ctx context.Context) RiskAPIRiskCreateDatasetRequest {
	return RiskAPIRiskCreateDatasetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskDataset
func (a *RiskAPIService) RiskCreateDatasetExecute(r RiskAPIRiskCreateDatasetRequest) (*RiskDataset, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskDataset
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskCreateDataset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.riskDatasetSpec == nil {
		return localVarReturnValue, nil, reportError("riskDatasetSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.riskDatasetSpec
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskDatasetRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	name       string
}

func (r RiskAPIRiskDatasetRequest) Execute() (*RiskDatasetVersions, *http.Response, error) {
	return r.ApiService.RiskDatasetExecute(r)
}

/*
RiskDataset Describe every version of one dataset

Dataset describes every version of one dataset, newest first — the whole
history, because the point of a version is that the older ones are still there
and a model fitted last quarter cites one of them.

A name this org does not own answers 404, exactly as an unknown name does, so a
probe learns nothing about another tenant's datasets.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the dataset, from the path.
	@return RiskAPIRiskDatasetRequest
*/
func (a *RiskAPIService) RiskDataset(ctx context.Context, name string) RiskAPIRiskDatasetRequest {
	return RiskAPIRiskDatasetRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return RiskDatasetVersions
func (a *RiskAPIService) RiskDatasetExecute(r RiskAPIRiskDatasetRequest) (*RiskDatasetVersions, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskDatasetVersions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskDataset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/datasets/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskDatasetLineageRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	name       string
	version    *int32
}

// Version is the version to trace. Zero takes the newest published one.
func (r RiskAPIRiskDatasetLineageRequest) Version(version int32) RiskAPIRiskDatasetLineageRequest {
	r.version = &version
	return r
}

func (r RiskAPIRiskDatasetLineageRequest) Execute() (*RiskLineage, *http.Response, error) {
	return r.ApiService.RiskDatasetLineageExecute(r)
}

/*
RiskDatasetLineage Show where a version's rows came from, and whether that can still be demonstrated

Shows where a version's rows came from and whether that can
still be demonstrated.

The answer is MEASURED, not recalled: the plane asks the source the same
bounded question again and compares it to the fingerprint taken when the
version was built. Anything but exact agreement is reported as drift — the
source is fed by a rollup that runs behind the events, so "it holds more now"
is the ordinary case and it means re-running the spec would not reproduce this
version. An admitted gap is actionable; an unfalsifiable claim is not.

IT IS A PRICED, BOUNDED READ, because it is the same statement a
materialisation is charged for: an exact distinct-count over up to 400 days of
this org's feature surface. It takes the org's ONE source-scan slot, so a
tenant looping it spends one scan and not a thousand; it counts against the
plane's ceiling, so the fleet's warehouse is bounded too; and it runs under
this plane's own deadline rather than the caller's patience.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the dataset, from the path.
	@return RiskAPIRiskDatasetLineageRequest
*/
func (a *RiskAPIService) RiskDatasetLineage(ctx context.Context, name string) RiskAPIRiskDatasetLineageRequest {
	return RiskAPIRiskDatasetLineageRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return RiskLineage
func (a *RiskAPIService) RiskDatasetLineageExecute(r RiskAPIRiskDatasetLineageRequest) (*RiskLineage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskLineage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskDatasetLineage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/datasets/{name}/lineage"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskDatasetsRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
}

func (r RiskAPIRiskDatasetsRequest) Execute() (*RiskDatasetList, *http.Response, error) {
	return r.ApiService.RiskDatasetsExecute(r)
}

/*
RiskDatasets List this org's datasets

Datasets lists this org's datasets, each with its newest version. An org that
has declared none gets an empty list; a store that cannot be reached gets a
refusal, never an empty list, because the two read identically and only one of
them is true.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskDatasetsRequest
*/
func (a *RiskAPIService) RiskDatasets(ctx context.Context) RiskAPIRiskDatasetsRequest {
	return RiskAPIRiskDatasetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskDatasetList
func (a *RiskAPIService) RiskDatasetsExecute(r RiskAPIRiskDatasetsRequest) (*RiskDatasetList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskDatasetList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskDatasets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskDeleteDatasetRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	name       string
}

func (r RiskAPIRiskDeleteDatasetRequest) Execute() (*RiskDatasetDisposal, *http.Response, error) {
	return r.ApiService.RiskDeleteDatasetExecute(r)
}

/*
RiskDeleteDataset Dispose of one dataset and every version of it

Disposes of one dataset and every version of it: the rows are
dropped and the register is marked with what went.

This is the ONLY expiry in this plane. Neither table carries a TTL, deliberately:
a table TTL is a fleet-wide clock no tenant can hold longer or shorten, which is
the opposite of a retention decision belonging to the tenant whose records they
are. The drop is a partition drop on (org, dataset), so the tenant is the first
component of the thing being dropped and a disposal cannot be spelled across one.

The BYTES are what goes. The register keeps one `disposed` row per version — the
name, the number, the spec, the digest and who disposed of it when — for two
reasons: a retention obligation is answered by a record of the deletion, not by
silence; and version numbers must stay monotone, so that after `orders` is
disposed of and declared again the next version is 4 and not 1. A number that
could be reused would make every citation of `orders v3` ambiguous forever.

It is not reversible and there is no soft state in between. A version a model
cited has no rows once this returns, and every read of it says so.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the dataset, from the path.
	@return RiskAPIRiskDeleteDatasetRequest
*/
func (a *RiskAPIService) RiskDeleteDataset(ctx context.Context, name string) RiskAPIRiskDeleteDatasetRequest {
	return RiskAPIRiskDeleteDatasetRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return RiskDatasetDisposal
func (a *RiskAPIService) RiskDeleteDatasetExecute(r RiskAPIRiskDeleteDatasetRequest) (*RiskDatasetDisposal, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskDatasetDisposal
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskDeleteDataset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/datasets/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskDisposeLabelsRequest struct {
	ctx           context.Context
	ApiService    *RiskAPIService
	riskDisposeIn *RiskDisposeIn
}

func (r RiskAPIRiskDisposeLabelsRequest) RiskDisposeIn(riskDisposeIn RiskDisposeIn) RiskAPIRiskDisposeLabelsRequest {
	r.riskDisposeIn = &riskDisposeIn
	return r
}

func (r RiskAPIRiskDisposeLabelsRequest) Execute() (*RiskDisposeOut, *http.Response, error) {
	return r.ApiService.RiskDisposeLabelsExecute(r)
}

/*
RiskDisposeLabels Dispose of this tenant's expired assertions, whole records only

Applies this tenant's retention, and only this tenant's.

It is bounded three ways, each a compliance property rather than a
convenience. It refuses a boundary younger than the platform floor, because a
label can be the input to an adverse action and five years is what the
retention ledger holds such a record for. It never touches a record under
litigation hold. And it disposes of whole records rather than redacting
fields.

It removes the derived columnar copy BEFORE the record, and refuses the whole
disposal if the warehouse cannot be reached. The other order would leave rows
in the warehouse that nothing can identify any more, which is a disposal that
did not happen and says it did.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskDisposeLabelsRequest
*/
func (a *RiskAPIService) RiskDisposeLabels(ctx context.Context) RiskAPIRiskDisposeLabelsRequest {
	return RiskAPIRiskDisposeLabelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskDisposeOut
func (a *RiskAPIService) RiskDisposeLabelsExecute(r RiskAPIRiskDisposeLabelsRequest) (*RiskDisposeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskDisposeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskDisposeLabels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/labels/dispose"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.riskDisposeIn == nil {
		return localVarReturnValue, nil, reportError("riskDisposeIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.riskDisposeIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskExportDatasetRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	name       string
	version    *int32
	split      *string
	offset     *int32
	limit      *int32
}

// Version is the version to read. Zero takes the newest published one.
func (r RiskAPIRiskExportDatasetRequest) Version(version int32) RiskAPIRiskExportDatasetRequest {
	r.version = &version
	return r
}

// Split narrows to train, val or test. Empty reads every split.
func (r RiskAPIRiskExportDatasetRequest) Split(split string) RiskAPIRiskExportDatasetRequest {
	r.split = &split
	return r
}

// Offset is where the page starts, in the version&#39;s own row order (by id, which is derived from the row and therefore stable forever).
func (r RiskAPIRiskExportDatasetRequest) Offset(offset int32) RiskAPIRiskExportDatasetRequest {
	r.offset = &offset
	return r
}

// Limit is how many rows to return. Zero and anything above the plane&#39;s bound take the bound.
func (r RiskAPIRiskExportDatasetRequest) Limit(limit int32) RiskAPIRiskExportDatasetRequest {
	r.limit = &limit
	return r
}

func (r RiskAPIRiskExportDatasetRequest) Execute() (*RiskDatasetRows, *http.Response, error) {
	return r.ApiService.RiskExportDatasetExecute(r)
}

/*
RiskExportDataset Read a version's rows back, one page at a time

Reads a published version's rows back, one bounded page at a
time, in the version's own stable row order.

Only a published version can be exported. Rows written by an attempt that never
completed are inert — no register row names them — and they are disposed of with
the dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the dataset, from the path.
	@return RiskAPIRiskExportDatasetRequest
*/
func (a *RiskAPIService) RiskExportDataset(ctx context.Context, name string) RiskAPIRiskExportDatasetRequest {
	return RiskAPIRiskExportDatasetRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return RiskDatasetRows
func (a *RiskAPIService) RiskExportDatasetExecute(r RiskAPIRiskExportDatasetRequest) (*RiskDatasetRows, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskDatasetRows
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskExportDataset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/datasets/{name}/export"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.split != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "split", r.split, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskFeaturesRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	days       *int32
}

// Days is how far back to measure the organisation&#39;s own coverage, 1 to 400. Zero takes thirty.
func (r RiskAPIRiskFeaturesRequest) Days(days int32) RiskAPIRiskFeaturesRequest {
	r.days = &days
	return r
}

func (r RiskAPIRiskFeaturesRequest) Execute() (*RiskCatalog, *http.Response, error) {
	return r.ApiService.RiskFeaturesExecute(r)
}

/*
RiskFeatures The feature catalogue: what the model reads, and what your surface carries

Features is the feature catalogue in its two honest lenses.

The MODEL lens is the governed inventory: one entry per dimension of the model
space, each carrying the typology it serves, the supervisor's own words for the
indicator, and the published standard those words come from — so a coverage
claim is checkable rather than asserted. It is the same for every organisation.

The SURFACE lens is what THIS organisation's own event surface actually carries,
measured over the window: how many of its buckets carry each dimension at all,
and what the dimension reads where it is present. A dimension present in no
bucket is BLIND, and saying so is the difference between no risk and no data.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskFeaturesRequest
*/
func (a *RiskAPIService) RiskFeatures(ctx context.Context) RiskAPIRiskFeaturesRequest {
	return RiskAPIRiskFeaturesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskCatalog
func (a *RiskAPIService) RiskFeaturesExecute(r RiskAPIRiskFeaturesRequest) (*RiskCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskFeatures")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/features"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.days != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "days", r.days, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskHoldLabelsRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	riskHoldIn *RiskHoldIn
}

func (r RiskAPIRiskHoldLabelsRequest) RiskHoldIn(riskHoldIn RiskHoldIn) RiskAPIRiskHoldLabelsRequest {
	r.riskHoldIn = &riskHoldIn
	return r
}

func (r RiskAPIRiskHoldLabelsRequest) Execute() (*RiskHoldOut, *http.Response, error) {
	return r.ApiService.RiskHoldLabelsExecute(r)
}

/*
RiskHoldLabels Place or release a litigation hold on named records

Places or releases a litigation hold on named records.

A hold is a fact about the RECORD, not about the world: it says retention may
not dispose of this row, and it asserts nothing about what happened. So it is
not a field on an assertion and it is not folded into the content digest —
carried there it was silently a no-op on any record that already existed, since
re-filing the same assertion with a hold flag produced the same digest, the
insert was ignored, and the caller was answered `duplicate` while the hold it
asked for was never placed. This op is the one way a hold moves, in either
direction, and the move is written to the audit log.

Every named id is this tenant's or is nothing. The statement runs against the
tenant's own file, which holds no other tenant's rows and has no column that
could name one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskHoldLabelsRequest
*/
func (a *RiskAPIService) RiskHoldLabels(ctx context.Context) RiskAPIRiskHoldLabelsRequest {
	return RiskAPIRiskHoldLabelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskHoldOut
func (a *RiskAPIService) RiskHoldLabelsExecute(r RiskAPIRiskHoldLabelsRequest) (*RiskHoldOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskHoldOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskHoldLabels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/labels/hold"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.riskHoldIn == nil {
		return localVarReturnValue, nil, reportError("riskHoldIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.riskHoldIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskLabelRequest struct {
	ctx         context.Context
	ApiService  *RiskAPIService
	riskLabelIn *RiskLabelIn
}

func (r RiskAPIRiskLabelRequest) RiskLabelIn(riskLabelIn RiskLabelIn) RiskAPIRiskLabelRequest {
	r.riskLabelIn = &riskLabelIn
	return r
}

func (r RiskAPIRiskLabelRequest) Execute() (*RiskLabelOut, *http.Response, error) {
	return r.ApiService.RiskLabelExecute(r)
}

/*
RiskLabel Assert ground truth about events

Records a batch of ground truth against the entities it judges.

Each assertion carries TWO times — when the judged event happened, and when
the assertion became knowable — and both are required. The second is what
keeps a chargeback that landed in June out of a model that had to decide in
February.

It is idempotent on the CONTENT of an assertion, so a webhook that redelivers
is safe. It never overwrites: a source that corrects itself later files a NEW
assertion, which wins from the moment it became knowable and leaves every
earlier observation instant seeing exactly what it saw.

The asserter is stamped from the validated credential and is not a body field.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskLabelRequest
*/
func (a *RiskAPIService) RiskLabel(ctx context.Context) RiskAPIRiskLabelRequest {
	return RiskAPIRiskLabelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskLabelOut
func (a *RiskAPIService) RiskLabelExecute(r RiskAPIRiskLabelRequest) (*RiskLabelOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskLabelOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/labels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.riskLabelIn == nil {
		return localVarReturnValue, nil, reportError("riskLabelIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.riskLabelIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskLabelCoverageRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	from       *string
	to         *string
	horizon    *int32
}

// From and To bound the EVENT window, half-open, RFC 3339.  Unstated, the window is the 90 days ENDING where maturity begins — &#x60;to&#x60; is the horizon ago, not now. A default window running to now under a default horizon could not contain one matured event, so every count below it would be zero however much ground truth the tenant held.
func (r RiskAPIRiskLabelCoverageRequest) From(from string) RiskAPIRiskLabelCoverageRequest {
	r.from = &from
	return r
}

func (r RiskAPIRiskLabelCoverageRequest) To(to string) RiskAPIRiskLabelCoverageRequest {
	r.to = &to
	return r
}

// Horizon is the maturity horizon in days the coverage is measured under. Unstated takes 120. It also moves the default window, which ends where maturity begins.
func (r RiskAPIRiskLabelCoverageRequest) Horizon(horizon int32) RiskAPIRiskLabelCoverageRequest {
	r.horizon = &horizon
	return r
}

func (r RiskAPIRiskLabelCoverageRequest) Execute() (*RiskLabelCoverage, *http.Response, error) {
	return r.ApiService.RiskLabelCoverageExecute(r)
}

/*
RiskLabelCoverage How much of the window has matured, and how much of that is judged

Reports how much of a window has matured and how much of that is
judged, per source.

It is the gate on training. A supervised fit over a window whose judged count
is near zero produces a number, and the number is meaningless; this op is what
lets that be stated before the fit rather than discovered after it.

It reads the RECORD plane and folds every assertion at that event's OWN as-of,
so the counts obey exactly the leakage rule a materialisation would. It counts
only what was ASSERTED: what share of the whole event STREAM carries a label is
a question about the feature plane's denominator and is not answerable here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskLabelCoverageRequest
*/
func (a *RiskAPIService) RiskLabelCoverage(ctx context.Context) RiskAPIRiskLabelCoverageRequest {
	return RiskAPIRiskLabelCoverageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskLabelCoverage
func (a *RiskAPIService) RiskLabelCoverageExecute(r RiskAPIRiskLabelCoverageRequest) (*RiskLabelCoverage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskLabelCoverage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskLabelCoverage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/labels/coverage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.horizon != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "horizon", r.horizon, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskLabelVocabularyRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
}

func (r RiskAPIRiskLabelVocabularyRequest) Execute() (*RiskLabelVocabulary, *http.Response, error) {
	return r.ApiService.RiskLabelVocabularyExecute(r)
}

/*
RiskLabelVocabulary The closed vocabularies and the precedence rule that resolves a conflict

Publishes the closed vocabularies and the precedence rule that
resolves a conflict between two sources.

A precedence rule nobody can read is a rule nobody can audit or dispute, and
the whole defensibility of a contested label rests on being able to say why
one assertion beat another. The order returned here is derived from the same
declaration the resolver reads — it is not a description of it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskLabelVocabularyRequest
*/
func (a *RiskAPIService) RiskLabelVocabulary(ctx context.Context) RiskAPIRiskLabelVocabularyRequest {
	return RiskAPIRiskLabelVocabularyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskLabelVocabulary
func (a *RiskAPIService) RiskLabelVocabularyExecute(r RiskAPIRiskLabelVocabularyRequest) (*RiskLabelVocabulary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskLabelVocabulary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskLabelVocabulary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/labels/vocabulary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskLabelsRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	kind       *string
	subject    *string
	source     *string
	from       *string
	to         *string
	limit      *int32
}

// Kind and Subject narrow to one entity.
func (r RiskAPIRiskLabelsRequest) Kind(kind string) RiskAPIRiskLabelsRequest {
	r.kind = &kind
	return r
}

func (r RiskAPIRiskLabelsRequest) Subject(subject string) RiskAPIRiskLabelsRequest {
	r.subject = &subject
	return r
}

// Source narrows to one asserter — the read that answers \&quot;what has commerce told us\&quot;, separately from \&quot;what has an analyst told us\&quot;.
func (r RiskAPIRiskLabelsRequest) Source(source string) RiskAPIRiskLabelsRequest {
	r.source = &source
	return r
}

// From and To bound the EVENT time, half-open, RFC 3339.
func (r RiskAPIRiskLabelsRequest) From(from string) RiskAPIRiskLabelsRequest {
	r.from = &from
	return r
}

func (r RiskAPIRiskLabelsRequest) To(to string) RiskAPIRiskLabelsRequest {
	r.to = &to
	return r
}

// Limit caps the page. Out of range takes the plane&#39;s own bound.
func (r RiskAPIRiskLabelsRequest) Limit(limit int32) RiskAPIRiskLabelsRequest {
	r.limit = &limit
	return r
}

func (r RiskAPIRiskLabelsRequest) Execute() (*RiskLabelsOut, *http.Response, error) {
	return r.ApiService.RiskLabelsExecute(r)
}

/*
RiskLabels Read the assertions this tenant has recorded

Reads the assertions this tenant has recorded, newest event first.

It reads the RECORD — the tenant's own store — and not the columnar copy, so
what it returns is what would be produced in an audit. Narrow it by entity, by
asserter, or by event window.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskLabelsRequest
*/
func (a *RiskAPIService) RiskLabels(ctx context.Context) RiskAPIRiskLabelsRequest {
	return RiskAPIRiskLabelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskLabelsOut
func (a *RiskAPIService) RiskLabelsExecute(r RiskAPIRiskLabelsRequest) (*RiskLabelsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskLabelsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskLabels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/labels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.subject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject", r.subject, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskLearnRequest struct {
	ctx         context.Context
	ApiService  *RiskAPIService
	riskLearnIn *RiskLearnIn
}

func (r RiskAPIRiskLearnRequest) RiskLearnIn(riskLearnIn RiskLearnIn) RiskAPIRiskLearnRequest {
	r.riskLearnIn = &riskLearnIn
	return r
}

func (r RiskAPIRiskLearnRequest) Execute() (*RiskLearnOut, *http.Response, error) {
	return r.ApiService.RiskLearnExecute(r)
}

/*
RiskLearn Teach your organisation's own model from its own events

Learn records a batch of events into the caller organisation's own aggregates
and lets its model learn from them. It answers how many it learned from.

IT DOES NOT SCORE, AND THAT IS THE POINT. An observation is a value you record;
learning is a transformation over observations; a verdict is a query against the
result. This op is the first two. [ops.score] is the third, it is pure, and it
is the ONE door to a verdict. They were one call, which meant you could not
record without training and could not train without being answered — and the
model ran twice over every event to produce a verdict the response carried and
no caller read.

TO OBSERVE AND JUDGE, COMPOSE THE TWO, and mind the order. Score FIRST, then
learn: the score is then the model's opinion of an event it has not yet learned
from, which is the question worth asking. The other order answers for a model
that has already absorbed the event it is judging.

This is the training path, and there is no job behind it: the model IS a set of
mass counters over half-space trees, so learning is an increment and the model
is current the instant the last event lands. Nothing from any other
organisation is in it, and nothing from this organisation leaves it.

A RETRY IS INERT. The record deduplicates on the event id you send, and an event
already in it moves nothing, costs nothing and is not counted — so a client that
timed out can send the same batch again and its model holds what it holds.
Without an id of your own there is nothing to converge on: two identical bodies
are two events.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskLearnRequest
*/
func (a *RiskAPIService) RiskLearn(ctx context.Context) RiskAPIRiskLearnRequest {
	return RiskAPIRiskLearnRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskLearnOut
func (a *RiskAPIService) RiskLearnExecute(r RiskAPIRiskLearnRequest) (*RiskLearnOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskLearnOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskLearn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/learn"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.riskLearnIn == nil {
		return localVarReturnValue, nil, reportError("riskLearnIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.riskLearnIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskMaterializeDatasetRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	name       string
}

func (r RiskAPIRiskMaterializeDatasetRequest) Execute() (*RiskDataset, *http.Response, error) {
	return r.ApiService.RiskMaterializeDatasetExecute(r)
}

/*
RiskMaterializeDataset Materialise the declared version into immutable rows

Builds the declared version into immutable rows and answers
202 as soon as the attempt is on record.

It never holds the request open for the work: a materialisation is a bounded
warehouse scan, and letting an HTTP client's timeout be a data plane's timeout
is how one tenant's retry loop becomes everyone's outage. ONE materialisation
runs per org at a time; a second is refused rather than queued, because a queue
admits the same work later and the honest answer to "again" while one is
running is that one is running.

Only a DECLARED version is admitted. A published version is immutable, and a
version whose earlier attempt did not complete is never re-attempted — that
would union two runs' rows under one number and make the digest a lie. In both
cases the answer is to declare a new version, which is what a second run over a
moving source honestly is.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the dataset, from the path.
	@return RiskAPIRiskMaterializeDatasetRequest
*/
func (a *RiskAPIService) RiskMaterializeDataset(ctx context.Context, name string) RiskAPIRiskMaterializeDatasetRequest {
	return RiskAPIRiskMaterializeDatasetRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return RiskDataset
func (a *RiskAPIService) RiskMaterializeDatasetExecute(r RiskAPIRiskMaterializeDatasetRequest) (*RiskDataset, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskDataset
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskMaterializeDataset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/datasets/{name}/materialize"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskPolicyRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
}

func (r RiskAPIRiskPolicyRequest) Execute() (*RiskPolicyOut, *http.Response, error) {
	return r.ApiService.RiskPolicyExecute(r)
}

/*
RiskPolicy Your organisation's decision-regime history, and which version is in force

Policy reports the caller organisation's own decision-regime history: every
distinct regime it has adopted, which version is in force, and what retention
has taken.

WHY IT EXISTS. Every score cites the version it was decided under
([riskScoreOut.Policy]), and the threshold that score was measured against is
derived from the appetite that version states. Restate the appetite and, without
this record, every earlier decision becomes unreconstructible — the cut it was
judged by no longer exists anywhere. An adverse decision that cannot be
explained against the policy in force when it was taken cannot be defended.

It covers ONE organisation. The history is on that organisation's own shelf, so
another's versions are not filtered out of the answer — they are not in the file
the answer is read from.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskPolicyRequest
*/
func (a *RiskAPIService) RiskPolicy(ctx context.Context) RiskAPIRiskPolicyRequest {
	return RiskAPIRiskPolicyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskPolicyOut
func (a *RiskAPIService) RiskPolicyExecute(r RiskAPIRiskPolicyRequest) (*RiskPolicyOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskPolicyOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/policy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskPublishModelRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
}

func (r RiskAPIRiskPublishModelRequest) Execute() (*RiskPublishOut, *http.Response, error) {
	return r.ApiService.RiskPublishModelExecute(r)
}

/*
RiskPublishModel Publish your organisation's model as a named, immutable value

Publishes your organisation's model as a NAMED VALUE, so a decision
taken today can be reconstructed tomorrow and a change made today can be undone.

It answers with a NAME and not with the state. The masses stay on your
organisation's own encrypted store and are referred to by an address computed
from their own content: the shape, the geometry seed, the position in the window,
the threshold, the masses themselves as IEEE-754 bits, and the fold watermark
behind them. That is what makes the value nameable without making the caller its
custodian.

IT IS IDEMPOTENT ON THE VALUE. A model that has not changed publishes to the name
it already has and mints nothing, reporting minted=false — so publishing at every
boundary that matters is free. Ten values are retained per organisation, bounded
in BYTES rather than in rows, and the oldest is disposed of past that.

A model that has learned nothing is refused: planted is not learned, and a value
that reproduces nothing is not a value.

It is POST and PUT on one address because they are one plane's two verbs over one
kind of thing: POST mints a value from the model in force, PUT puts a value in
force. They were /v1/risk/state/snapshot and /v1/risk/state/restore — two addresses
named after the operation rather than after the thing, which is how a reader ends
up asking what the difference between a snapshot and a value is.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskPublishModelRequest
*/
func (a *RiskAPIService) RiskPublishModel(ctx context.Context) RiskAPIRiskPublishModelRequest {
	return RiskAPIRiskPublishModelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RiskPublishOut
func (a *RiskAPIService) RiskPublishModelExecute(r RiskAPIRiskPublishModelRequest) (*RiskPublishOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RiskPublishOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskPublishModel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/state/model"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskReferenceRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
	set        string
	after      *string
	limit      *int32
}

// After pages the override listing: the last key of the previous page.
func (r RiskAPIRiskReferenceRequest) After(after string) RiskAPIRiskReferenceRequest {
	r.after = &after
	return r
}

// Limit caps the override listing: default 200, maximum 1000.
func (r RiskAPIRiskReferenceRequest) Limit(limit int32) RiskAPIRiskReferenceRequest {
	r.limit = &limit
	return r
}

func (r RiskAPIRiskReferenceRequest) Execute() (*ReferenceOut, *http.Response, error) {
	return r.ApiService.RiskReferenceExecute(r)
}

/*
RiskReference Reference describes one set and lists your org's overrides in it.

Reference describes one set and lists your org's overrides in it.

The set half is public data about a published list — its version, its
publishers, their licences and how current each one is. The overrides half is
yours alone: it is read from your organisation's own store, and no other
organisation's entries can appear in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param set
	@return RiskAPIRiskReferenceRequest
*/
func (a *RiskAPIService) RiskReference(ctx context.Context, set string) RiskAPIRiskReferenceRequest {
	return RiskAPIRiskReferenceRequest{
		ApiService: a,
		ctx:        ctx,
		set:        set,
	}
}

// Execute executes the request
//
//	@return ReferenceOut
func (a *RiskAPIService) RiskReferenceExecute(r RiskAPIRiskReferenceRequest) (*ReferenceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReferenceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskReference")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/reference/{set}"
	localVarPath = strings.Replace(localVarPath, "{"+"set"+"}", url.PathEscape(parameterValueToString(r.set, "set")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskReferenceSetsRequest struct {
	ctx        context.Context
	ApiService *RiskAPIService
}

func (r RiskAPIRiskReferenceSetsRequest) Execute() (*ReferenceSetsOut, *http.Response, error) {
	return r.ApiService.RiskReferenceSetsExecute(r)
}

/*
RiskReferenceSets Lists every set this plane publishes, with its version and how fresh it is.

Lists every set this plane publishes, with its version and how
fresh it is.

Read the Stale and Refused lists first: they are the two ways this plane can
be quietly wrong, and they are reported rather than inferred. A set in
Refused answers nothing — it has never loaded, it is held by another
component, or it names a source we hold no licence for.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskReferenceSetsRequest
*/
func (a *RiskAPIService) RiskReferenceSets(ctx context.Context) RiskAPIRiskReferenceSetsRequest {
	return RiskAPIRiskReferenceSetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReferenceSetsOut
func (a *RiskAPIService) RiskReferenceSetsExecute(r RiskAPIRiskReferenceSetsRequest) (*ReferenceSetsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReferenceSetsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskReferenceSets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/reference"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RiskAPIRiskRefreshReferenceRequest struct {
	ctx                context.Context
	ApiService         *RiskAPIService
	refreshReferenceIn *RefreshReferenceIn
}

func (r RiskAPIRiskRefreshReferenceRequest) RefreshReferenceIn(refreshReferenceIn RefreshReferenceIn) RiskAPIRiskRefreshReferenceRequest {
	r.refreshReferenceIn = &refreshReferenceIn
	return r
}

func (r RiskAPIRiskRefreshReferenceRequest) Execute() (*RefreshReferenceOut, *http.Response, error) {
	return r.ApiService.RiskRefreshReferenceExecute(r)
}

/*
RiskRefreshReference Takes a new version of one set.

Takes a new version of one set. SuperAdmin only.

It is platform work, not tenant work: it writes the shared baseline every
organisation reads, so it is gated to the platform's own identity. Nothing
here can write an organisation's overrides, and nothing an organisation sends
can reach this route.

Idempotent. A version is the content digest of what was taken, so refreshing
an unchanged publisher writes no rows and reports unchanged. Resumable: a run
that died half-way is continued from where it stopped rather than restarted.

A set whose source needs a licence we do not hold is refused with the reason,
rather than being quietly skipped.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RiskAPIRiskRefreshReferenceRequest
*/
func (a *RiskAPIService) RiskRefreshReference(ctx context.Context) RiskAPIRiskRefreshReferenceRequest {
	return RiskAPIRiskRefreshReferenceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RefreshReferenceOut
func (a *RiskAPIService) RiskRefreshReferenceExecute(r RiskAPIRiskRefreshReferenceRequest) (*RefreshReferenceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RefreshReferenceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RiskAPIService.RiskRefreshReference")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/risk/reference/refresh"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.refreshReferenceIn == nil {
		return localVarReturnValue, nil, reportError("refreshReferenceIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.refreshReferenceIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

[...]
