/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CDNAPIService CDNAPI service
type CDNAPIService service

type CDNAPIGatewayGetCDNAnalyticsRequest struct {
	ctx         context.Context
	ApiService  *CDNAPIService
	startDate   *string
	endDate     *string
	granularity *string
}

func (r CDNAPIGatewayGetCDNAnalyticsRequest) StartDate(startDate string) CDNAPIGatewayGetCDNAnalyticsRequest {
	r.startDate = &startDate
	return r
}

func (r CDNAPIGatewayGetCDNAnalyticsRequest) EndDate(endDate string) CDNAPIGatewayGetCDNAnalyticsRequest {
	r.endDate = &endDate
	return r
}

func (r CDNAPIGatewayGetCDNAnalyticsRequest) Granularity(granularity string) CDNAPIGatewayGetCDNAnalyticsRequest {
	r.granularity = &granularity
	return r
}

func (r CDNAPIGatewayGetCDNAnalyticsRequest) Execute() (*GatewayGetCDNAnalytics200Response, *http.Response, error) {
	return r.ApiService.GatewayGetCDNAnalyticsExecute(r)
}

/*
GatewayGetCDNAnalytics CDN cache analytics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CDNAPIGatewayGetCDNAnalyticsRequest
*/
func (a *CDNAPIService) GatewayGetCDNAnalytics(ctx context.Context) CDNAPIGatewayGetCDNAnalyticsRequest {
	return CDNAPIGatewayGetCDNAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GatewayGetCDNAnalytics200Response
func (a *CDNAPIService) GatewayGetCDNAnalyticsExecute(r CDNAPIGatewayGetCDNAnalyticsRequest) (*GatewayGetCDNAnalytics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GatewayGetCDNAnalytics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CDNAPIService.GatewayGetCDNAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/cdn/analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "hour"
		r.granularity = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CDNAPIGatewayPurgeCDNCacheRequest struct {
	ctx                    context.Context
	ApiService             *CDNAPIService
	gatewayCDNPurgeRequest *GatewayCDNPurgeRequest
}

func (r CDNAPIGatewayPurgeCDNCacheRequest) GatewayCDNPurgeRequest(gatewayCDNPurgeRequest GatewayCDNPurgeRequest) CDNAPIGatewayPurgeCDNCacheRequest {
	r.gatewayCDNPurgeRequest = &gatewayCDNPurgeRequest
	return r
}

func (r CDNAPIGatewayPurgeCDNCacheRequest) Execute() (*GatewayPurgeCDNCache200Response, *http.Response, error) {
	return r.ApiService.GatewayPurgeCDNCacheExecute(r)
}

/*
GatewayPurgeCDNCache Purge CDN cache

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CDNAPIGatewayPurgeCDNCacheRequest
*/
func (a *CDNAPIService) GatewayPurgeCDNCache(ctx context.Context) CDNAPIGatewayPurgeCDNCacheRequest {
	return CDNAPIGatewayPurgeCDNCacheRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GatewayPurgeCDNCache200Response
func (a *CDNAPIService) GatewayPurgeCDNCacheExecute(r CDNAPIGatewayPurgeCDNCacheRequest) (*GatewayPurgeCDNCache200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GatewayPurgeCDNCache200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CDNAPIService.GatewayPurgeCDNCache")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/cdn/purge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gatewayCDNPurgeRequest == nil {
		return localVarReturnValue, nil, reportError("gatewayCDNPurgeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gatewayCDNPurgeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
