/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ConsoleCommentsAPIService ConsoleCommentsAPI service
type ConsoleCommentsAPIService service

type ConsoleCommentsAPIConsoleCreateCommentRequest struct {
	ctx                         context.Context
	ApiService                  *ConsoleCommentsAPIService
	consoleCreateCommentRequest *ConsoleCreateCommentRequest
}

func (r ConsoleCommentsAPIConsoleCreateCommentRequest) ConsoleCreateCommentRequest(consoleCreateCommentRequest ConsoleCreateCommentRequest) ConsoleCommentsAPIConsoleCreateCommentRequest {
	r.consoleCreateCommentRequest = &consoleCreateCommentRequest
	return r
}

func (r ConsoleCommentsAPIConsoleCreateCommentRequest) Execute() (*ConsoleCreateComment200Response, *http.Response, error) {
	return r.ApiService.ConsoleCreateCommentExecute(r)
}

/*
ConsoleCreateComment Create a comment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleCommentsAPIConsoleCreateCommentRequest
*/
func (a *ConsoleCommentsAPIService) ConsoleCreateComment(ctx context.Context) ConsoleCommentsAPIConsoleCreateCommentRequest {
	return ConsoleCommentsAPIConsoleCreateCommentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleCreateComment200Response
func (a *ConsoleCommentsAPIService) ConsoleCreateCommentExecute(r ConsoleCommentsAPIConsoleCreateCommentRequest) (*ConsoleCreateComment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleCreateComment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleCommentsAPIService.ConsoleCreateComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/comments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consoleCreateCommentRequest == nil {
		return localVarReturnValue, nil, reportError("consoleCreateCommentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consoleCreateCommentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleCommentsAPIConsoleGetCommentRequest struct {
	ctx        context.Context
	ApiService *ConsoleCommentsAPIService
	commentId  string
}

func (r ConsoleCommentsAPIConsoleGetCommentRequest) Execute() (*ConsoleComment, *http.Response, error) {
	return r.ApiService.ConsoleGetCommentExecute(r)
}

/*
ConsoleGetComment Get a comment by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param commentId
	@return ConsoleCommentsAPIConsoleGetCommentRequest
*/
func (a *ConsoleCommentsAPIService) ConsoleGetComment(ctx context.Context, commentId string) ConsoleCommentsAPIConsoleGetCommentRequest {
	return ConsoleCommentsAPIConsoleGetCommentRequest{
		ApiService: a,
		ctx:        ctx,
		commentId:  commentId,
	}
}

// Execute executes the request
//
//	@return ConsoleComment
func (a *ConsoleCommentsAPIService) ConsoleGetCommentExecute(r ConsoleCommentsAPIConsoleGetCommentRequest) (*ConsoleComment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleComment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleCommentsAPIService.ConsoleGetComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/comments/{commentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleCommentsAPIConsoleListCommentsRequest struct {
	ctx          context.Context
	ApiService   *ConsoleCommentsAPIService
	page         *int32
	limit        *int32
	objectType   *string
	objectId     *string
	authorUserId *string
}

func (r ConsoleCommentsAPIConsoleListCommentsRequest) Page(page int32) ConsoleCommentsAPIConsoleListCommentsRequest {
	r.page = &page
	return r
}

func (r ConsoleCommentsAPIConsoleListCommentsRequest) Limit(limit int32) ConsoleCommentsAPIConsoleListCommentsRequest {
	r.limit = &limit
	return r
}

// Filter by object type (trace, observation, session, prompt)
func (r ConsoleCommentsAPIConsoleListCommentsRequest) ObjectType(objectType string) ConsoleCommentsAPIConsoleListCommentsRequest {
	r.objectType = &objectType
	return r
}

func (r ConsoleCommentsAPIConsoleListCommentsRequest) ObjectId(objectId string) ConsoleCommentsAPIConsoleListCommentsRequest {
	r.objectId = &objectId
	return r
}

func (r ConsoleCommentsAPIConsoleListCommentsRequest) AuthorUserId(authorUserId string) ConsoleCommentsAPIConsoleListCommentsRequest {
	r.authorUserId = &authorUserId
	return r
}

func (r ConsoleCommentsAPIConsoleListCommentsRequest) Execute() (*ConsoleListComments200Response, *http.Response, error) {
	return r.ApiService.ConsoleListCommentsExecute(r)
}

/*
ConsoleListComments Get all comments

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleCommentsAPIConsoleListCommentsRequest
*/
func (a *ConsoleCommentsAPIService) ConsoleListComments(ctx context.Context) ConsoleCommentsAPIConsoleListCommentsRequest {
	return ConsoleCommentsAPIConsoleListCommentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleListComments200Response
func (a *ConsoleCommentsAPIService) ConsoleListCommentsExecute(r ConsoleCommentsAPIConsoleListCommentsRequest) (*ConsoleListComments200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleListComments200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleCommentsAPIService.ConsoleListComments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/comments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectType", r.objectType, "form", "")
	}
	if r.objectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectId", r.objectId, "form", "")
	}
	if r.authorUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "authorUserId", r.authorUserId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
