/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// EvalsAPIService EvalsAPI service
type EvalsAPIService service

type EvalsAPIDeleteEvalsDatasetsByNameRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	name       string
}

func (r EvalsAPIDeleteEvalsDatasetsByNameRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteEvalsDatasetsByNameExecute(r)
}

/*
DeleteEvalsDatasetsByName Removes the named dataset of the caller's org AND all of its examples, in one transaction.

Removes the named dataset of the caller's org AND all of its
examples, in one transaction.

This is not a detach: the examples are gone with the set, so a dataset cannot
be resurrected by re-creating the name. A name this org does not have is 404 —
never a silent success — and a name belonging to another tenant is the same
404, because the delete is predicated on the validated org. Requires a
validated principal; 403 without one. Runs and scores already recorded against
the dataset are telemetry events and are NOT deleted with it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the dataset the URL names.
	@return EvalsAPIDeleteEvalsDatasetsByNameRequest
*/
func (a *EvalsAPIService) DeleteEvalsDatasetsByName(ctx context.Context, name string) EvalsAPIDeleteEvalsDatasetsByNameRequest {
	return EvalsAPIDeleteEvalsDatasetsByNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *EvalsAPIService) DeleteEvalsDatasetsByNameExecute(r EvalsAPIDeleteEvalsDatasetsByNameRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.DeleteEvalsDatasetsByName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/datasets/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsDatasetsRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	limit      *int32
}

// Limit caps the rows returned. It defaults to 100 and is capped at 500; a non-positive or unparseable value falls back to the default rather than failing, because a typo about paging is not a reason to refuse a read.
func (r EvalsAPIGetEvalsDatasetsRequest) Limit(limit int32) EvalsAPIGetEvalsDatasetsRequest {
	r.limit = &limit
	return r
}

func (r EvalsAPIGetEvalsDatasetsRequest) Execute() (*DatasetList, *http.Response, error) {
	return r.ApiService.GetEvalsDatasetsExecute(r)
}

/*
GetEvalsDatasets Is the datasets your org has, each with its name, description, metadata and timestamps.

Is the datasets your org has, each with its name, description,
metadata and timestamps.

It is the only way to enumerate what an org holds. Requires a validated
principal; 403 without one. Every row is filtered on the validated org, so
there is no parameter that reaches another tenant's datasets. The item count is
NOT populated here — read one dataset to get it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIGetEvalsDatasetsRequest
*/
func (a *EvalsAPIService) GetEvalsDatasets(ctx context.Context) EvalsAPIGetEvalsDatasetsRequest {
	return EvalsAPIGetEvalsDatasetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DatasetList
func (a *EvalsAPIService) GetEvalsDatasetsExecute(r EvalsAPIGetEvalsDatasetsRequest) (*DatasetList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatasetList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsDatasets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsDatasetsByNameRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	name       string
}

func (r EvalsAPIGetEvalsDatasetsByNameRequest) Execute() (*DatasetView, *http.Response, error) {
	return r.ApiService.GetEvalsDatasetsByNameExecute(r)
}

/*
GetEvalsDatasetsByName Returns one dataset of the caller's org by name, together with its live item count — the one read that answers how big the set actually is.

Returns one dataset of the caller's org by name, together with its
live item count — the one read that answers how big the set actually is.

A name this org does not have is 404, which is also what another tenant's
dataset looks like from here. Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the dataset the URL names.
	@return EvalsAPIGetEvalsDatasetsByNameRequest
*/
func (a *EvalsAPIService) GetEvalsDatasetsByName(ctx context.Context, name string) EvalsAPIGetEvalsDatasetsByNameRequest {
	return EvalsAPIGetEvalsDatasetsByNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return DatasetView
func (a *EvalsAPIService) GetEvalsDatasetsByNameExecute(r EvalsAPIGetEvalsDatasetsByNameRequest) (*DatasetView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatasetView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsDatasetsByName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/datasets/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsDatasetsByNameItemsRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	name       string
	limit      *int32
}

func (r EvalsAPIGetEvalsDatasetsByNameItemsRequest) Limit(limit int32) EvalsAPIGetEvalsDatasetsByNameItemsRequest {
	r.limit = &limit
	return r
}

func (r EvalsAPIGetEvalsDatasetsByNameItemsRequest) Execute() (*ItemList, *http.Response, error) {
	return r.ApiService.GetEvalsDatasetsByNameItemsExecute(r)
}

/*
GetEvalsDatasetsByNameItems Is the examples in one of your datasets — the set is named in the path, because this collection only exists inside one.

Is the examples in one of your datasets — the set is named in the
path, because this collection only exists inside one.

Archived examples are included, so the caller sees the whole set rather than
only what a run would use. Requires a validated principal; 403 without one, and
the read is filtered on the validated org, so naming another tenant's dataset
returns nothing rather than its contents.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Dataset is the set to read, from the path — this collection only exists inside one.
	@return EvalsAPIGetEvalsDatasetsByNameItemsRequest
*/
func (a *EvalsAPIService) GetEvalsDatasetsByNameItems(ctx context.Context, name string) EvalsAPIGetEvalsDatasetsByNameItemsRequest {
	return EvalsAPIGetEvalsDatasetsByNameItemsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return ItemList
func (a *EvalsAPIService) GetEvalsDatasetsByNameItemsExecute(r EvalsAPIGetEvalsDatasetsByNameItemsRequest) (*ItemList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ItemList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsDatasetsByNameItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/datasets/{name}/items"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsEvaluatorsRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	limit      *int32
}

// Limit caps the rows returned. It defaults to 100 and is capped at 500; a non-positive or unparseable value falls back to the default rather than failing, because a typo about paging is not a reason to refuse a read.
func (r EvalsAPIGetEvalsEvaluatorsRequest) Limit(limit int32) EvalsAPIGetEvalsEvaluatorsRequest {
	r.limit = &limit
	return r
}

func (r EvalsAPIGetEvalsEvaluatorsRequest) Execute() (*EvaluatorList, *http.Response, error) {
	return r.ApiService.GetEvalsEvaluatorsExecute(r)
}

/*
GetEvalsEvaluators Is the judges your org has defined, each with its judge model, criteria and the score name it writes under.

Is the judges your org has defined, each with its judge model,
criteria and the score name it writes under.

Requires a validated principal; 403 without one, and the listing is filtered on
the validated org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIGetEvalsEvaluatorsRequest
*/
func (a *EvalsAPIService) GetEvalsEvaluators(ctx context.Context) EvalsAPIGetEvalsEvaluatorsRequest {
	return EvalsAPIGetEvalsEvaluatorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EvaluatorList
func (a *EvalsAPIService) GetEvalsEvaluatorsExecute(r EvalsAPIGetEvalsEvaluatorsRequest) (*EvaluatorList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluatorList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsEvaluators")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/evaluators"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsMetricsRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	range_     *string
	interval   *string
}

// Range is 24h (the default), 7d or 30d. Anything else normalises to 24h rather than failing, so the board always has a valid window.
func (r EvalsAPIGetEvalsMetricsRequest) Range_(range_ string) EvalsAPIGetEvalsMetricsRequest {
	r.range_ = &range_
	return r
}

// Interval overrides the bucket the series is grouped into: \&quot;hour\&quot; or \&quot;day\&quot;. Any other value leaves the range&#39;s own default in place.
func (r EvalsAPIGetEvalsMetricsRequest) Interval(interval string) EvalsAPIGetEvalsMetricsRequest {
	r.interval = &interval
	return r
}

func (r EvalsAPIGetEvalsMetricsRequest) Execute() (*Board, *http.Response, error) {
	return r.ApiService.GetEvalsMetricsExecute(r)
}

/*
GetEvalsMetrics Is your org's AI overview board over a window: totals (generations, prompt and completion tokens, cost in cents, errors, success rate, distinct models and users), a gap-filled time series, a per-model breakdown with the long tail folded into \"other\", and latency percentiles read from the GenAI spans.

Is your org's AI overview board over a window: totals
(generations, prompt and completion tokens, cost in cents, errors, success
rate, distinct models and users), a gap-filled time series, a per-model
breakdown with the long tail folded into "other", and latency percentiles read
from the GenAI spans.

The window the answer was actually computed over is echoed back, so a client
never has to infer it. A platform admin sees the board across ALL orgs;
everyone else sees their own.

The board is HONEST-EMPTY where it cannot be computed: with no datastore wired,
or under a named project scope the usage ledger does not yet carry, it answers a
valid board with zero totals and a flat series rather than a fabricated number
or a 500. Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIGetEvalsMetricsRequest
*/
func (a *EvalsAPIService) GetEvalsMetrics(ctx context.Context) EvalsAPIGetEvalsMetricsRequest {
	return EvalsAPIGetEvalsMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Board
func (a *EvalsAPIService) GetEvalsMetricsExecute(r EvalsAPIGetEvalsMetricsRequest) (*Board, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Board
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.interval != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "interval", r.interval, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsRubricsRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	limit      *int32
}

// Limit caps the rows returned. It defaults to 100 and is capped at 500; a non-positive or unparseable value falls back to the default rather than failing, because a typo about paging is not a reason to refuse a read.
func (r EvalsAPIGetEvalsRubricsRequest) Limit(limit int32) EvalsAPIGetEvalsRubricsRequest {
	r.limit = &limit
	return r
}

func (r EvalsAPIGetEvalsRubricsRequest) Execute() (*ScoreConfigList, *http.Response, error) {
	return r.ApiService.GetEvalsRubricsExecute(r)
}

/*
GetEvalsRubrics Is the score shapes your org has declared — each name's data type, its numeric bounds and its allowed categories.

Is the score shapes your org has declared — each name's data
type, its numeric bounds and its allowed categories.

Requires a validated principal; 403 without one, and the listing is filtered on
the validated org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIGetEvalsRubricsRequest
*/
func (a *EvalsAPIService) GetEvalsRubrics(ctx context.Context) EvalsAPIGetEvalsRubricsRequest {
	return EvalsAPIGetEvalsRubricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ScoreConfigList
func (a *EvalsAPIService) GetEvalsRubricsExecute(r EvalsAPIGetEvalsRubricsRequest) (*ScoreConfigList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScoreConfigList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsRubrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/rubrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsRunsRequest struct {
	ctx         context.Context
	ApiService  *EvalsAPIService
	datasetName *string
	limit       *int32
}

// Dataset narrows to the runs against one dataset.
func (r EvalsAPIGetEvalsRunsRequest) DatasetName(datasetName string) EvalsAPIGetEvalsRunsRequest {
	r.datasetName = &datasetName
	return r
}

func (r EvalsAPIGetEvalsRunsRequest) Limit(limit int32) EvalsAPIGetEvalsRunsRequest {
	r.limit = &limit
	return r
}

func (r EvalsAPIGetEvalsRunsRequest) Execute() (*Runs, *http.Response, error) {
	return r.ApiService.GetEvalsRunsExecute(r)
}

/*
GetEvalsRuns Is your past runs and how they scored — the dataset and model, the judge model, how many examples were attempted and how many scored, the average score, and when it happened.

Is your past runs and how they scored — the dataset and model, the
judge model, how many examples were attempted and how many scored, the average
score, and when it happened.

Requires a validated principal; 403 without one, and rows are filtered on the
validated org. These records come from the metastore rather than the datastore,
so they are readable on a deployment with no telemetry wired — but a run's
traces and scores are not.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIGetEvalsRunsRequest
*/
func (a *EvalsAPIService) GetEvalsRuns(ctx context.Context) EvalsAPIGetEvalsRunsRequest {
	return EvalsAPIGetEvalsRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Runs
func (a *EvalsAPIService) GetEvalsRunsExecute(r EvalsAPIGetEvalsRunsRequest) (*Runs, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Runs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.datasetName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datasetName", r.datasetName, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsScoresRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	name       *string
	runName    *string
	traceId    *string
	limit      *int32
}

// Name narrows to one score name.
func (r EvalsAPIGetEvalsScoresRequest) Name(name string) EvalsAPIGetEvalsScoresRequest {
	r.name = &name
	return r
}

// RunName narrows to the scores of one run.
func (r EvalsAPIGetEvalsScoresRequest) RunName(runName string) EvalsAPIGetEvalsScoresRequest {
	r.runName = &runName
	return r
}

// TraceID narrows to the scores on one model call.
func (r EvalsAPIGetEvalsScoresRequest) TraceId(traceId string) EvalsAPIGetEvalsScoresRequest {
	r.traceId = &traceId
	return r
}

func (r EvalsAPIGetEvalsScoresRequest) Limit(limit int32) EvalsAPIGetEvalsScoresRequest {
	r.limit = &limit
	return r
}

func (r EvalsAPIGetEvalsScoresRequest) Execute() (*ScoreList, *http.Response, error) {
	return r.ApiService.GetEvalsScoresExecute(r)
}

/*
GetEvalsScores Is the score events your org has recorded, narrowed by any of name, runName and traceId.

Is the score events your org has recorded, narrowed by any of name,
runName and traceId.

The org is bound as an authoritative predicate on the query, never taken from a
header, so a filter can narrow the caller's own scores but can never widen past
them. Requires a validated principal; 403 without one. Scores live in the
datastore, so a deployment with none wired answers 503 rather than an empty
page that would read as "no scores".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIGetEvalsScoresRequest
*/
func (a *EvalsAPIService) GetEvalsScores(ctx context.Context) EvalsAPIGetEvalsScoresRequest {
	return EvalsAPIGetEvalsScoresRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ScoreList
func (a *EvalsAPIService) GetEvalsScoresExecute(r EvalsAPIGetEvalsScoresRequest) (*ScoreList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScoreList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsScores")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/scores"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.runName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "runName", r.runName, "form", "")
	}
	if r.traceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceId", r.traceId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIGetEvalsTracesRequest struct {
	ctx         context.Context
	ApiService  *EvalsAPIService
	sessionId   *string
	runName     *string
	datasetName *string
	limit       *int32
}

// SessionID narrows to one session, which for an evaluation is one run.
func (r EvalsAPIGetEvalsTracesRequest) SessionId(sessionId string) EvalsAPIGetEvalsTracesRequest {
	r.sessionId = &sessionId
	return r
}

// RunName narrows to the calls one run made.
func (r EvalsAPIGetEvalsTracesRequest) RunName(runName string) EvalsAPIGetEvalsTracesRequest {
	r.runName = &runName
	return r
}

// Dataset narrows to the calls made against one dataset.
func (r EvalsAPIGetEvalsTracesRequest) DatasetName(datasetName string) EvalsAPIGetEvalsTracesRequest {
	r.datasetName = &datasetName
	return r
}

func (r EvalsAPIGetEvalsTracesRequest) Limit(limit int32) EvalsAPIGetEvalsTracesRequest {
	r.limit = &limit
	return r
}

func (r EvalsAPIGetEvalsTracesRequest) Execute() (*TraceList, *http.Response, error) {
	return r.ApiService.GetEvalsTracesExecute(r)
}

/*
GetEvalsTraces Is the traces behind your evaluations — one per model call an evaluation made, carrying its input, output, model and timing — narrowed by any of sessionId, runName and datasetName.

Is the traces behind your evaluations — one per model call an
evaluation made, carrying its input, output, model and timing — narrowed by any
of sessionId, runName and datasetName.

Scoped by org AND by project: the project is the caller's server-minted scope,
not a parameter, so it cannot be widened by asking. Requires a validated
principal; 403 without one. Traces live in the datastore, so a deployment with
none wired answers 503 rather than an empty page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIGetEvalsTracesRequest
*/
func (a *EvalsAPIService) GetEvalsTraces(ctx context.Context) EvalsAPIGetEvalsTracesRequest {
	return EvalsAPIGetEvalsTracesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TraceList
func (a *EvalsAPIService) GetEvalsTracesExecute(r EvalsAPIGetEvalsTracesRequest) (*TraceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TraceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.GetEvalsTraces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/traces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sessionId", r.sessionId, "form", "")
	}
	if r.runName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "runName", r.runName, "form", "")
	}
	if r.datasetName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "datasetName", r.datasetName, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIPostEvalsDatasetsRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	datasetReq *DatasetReq
}

func (r EvalsAPIPostEvalsDatasetsRequest) DatasetReq(datasetReq DatasetReq) EvalsAPIPostEvalsDatasetsRequest {
	r.datasetReq = &datasetReq
	return r
}

func (r EvalsAPIPostEvalsDatasetsRequest) Execute() (*DatasetView, *http.Response, error) {
	return r.ApiService.PostEvalsDatasetsExecute(r)
}

/*
PostEvalsDatasets Writes a dataset — the named set of graded examples a run scores a model against — under the caller's org and answers 201 with it.

Writes a dataset — the named set of graded examples a run scores
a model against — under the caller's org and answers 201 with it.

The NAME is the key, not an id: posting a name the org already has updates that
dataset's description and metadata and keeps its original creation time, so this
is create-or-edit and never a duplicate. Its items are untouched.

Requires a validated principal; 403 without one. The org comes from the
validated owner claim, never from a client X-Org-Id, so a dataset can only ever
be written under the caller's own tenant. A description over 64 KiB is 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIPostEvalsDatasetsRequest
*/
func (a *EvalsAPIService) PostEvalsDatasets(ctx context.Context) EvalsAPIPostEvalsDatasetsRequest {
	return EvalsAPIPostEvalsDatasetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DatasetView
func (a *EvalsAPIService) PostEvalsDatasetsExecute(r EvalsAPIPostEvalsDatasetsRequest) (*DatasetView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatasetView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.PostEvalsDatasets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.datasetReq == nil {
		return localVarReturnValue, nil, reportError("datasetReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.datasetReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIPostEvalsDatasetsByNameItemsRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	name       string
	itemReq    *ItemReq
}

func (r EvalsAPIPostEvalsDatasetsByNameItemsRequest) ItemReq(itemReq ItemReq) EvalsAPIPostEvalsDatasetsByNameItemsRequest {
	r.itemReq = &itemReq
	return r
}

func (r EvalsAPIPostEvalsDatasetsByNameItemsRequest) Execute() (*ItemView, *http.Response, error) {
	return r.ApiService.PostEvalsDatasetsByNameItemsExecute(r)
}

/*
PostEvalsDatasetsByNameItems Writes one graded example — its input, its expected output, free-form metadata and a status — into the dataset named in the path, and answers 201 with it.

Writes one graded example — its input, its expected output,
free-form metadata and a status — into the dataset named in the path, and
answers 201 with it.

That dataset MUST already exist for this org: an unknown one is 404, never a
silent create. Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return EvalsAPIPostEvalsDatasetsByNameItemsRequest
*/
func (a *EvalsAPIService) PostEvalsDatasetsByNameItems(ctx context.Context, name string) EvalsAPIPostEvalsDatasetsByNameItemsRequest {
	return EvalsAPIPostEvalsDatasetsByNameItemsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return ItemView
func (a *EvalsAPIService) PostEvalsDatasetsByNameItemsExecute(r EvalsAPIPostEvalsDatasetsByNameItemsRequest) (*ItemView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ItemView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.PostEvalsDatasetsByNameItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/datasets/{name}/items"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.itemReq == nil {
		return localVarReturnValue, nil, reportError("itemReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.itemReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIPostEvalsEvaluatorsRequest struct {
	ctx          context.Context
	ApiService   *EvalsAPIService
	evaluatorReq *EvaluatorReq
}

func (r EvalsAPIPostEvalsEvaluatorsRequest) EvaluatorReq(evaluatorReq EvaluatorReq) EvalsAPIPostEvalsEvaluatorsRequest {
	r.evaluatorReq = &evaluatorReq
	return r
}

func (r EvalsAPIPostEvalsEvaluatorsRequest) Execute() (*EvaluatorView, *http.Response, error) {
	return r.ApiService.PostEvalsEvaluatorsExecute(r)
}

/*
PostEvalsEvaluators Saves a reusable judge for the caller's org — the judge model and the written criteria it grades against — and answers 201 with it.

Saves a reusable judge for the caller's org — the judge model
and the written criteria it grades against — and answers 201 with it.

Like a dataset, the NAME is the key: re-posting a name edits that judge rather
than adding a second one. Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIPostEvalsEvaluatorsRequest
*/
func (a *EvalsAPIService) PostEvalsEvaluators(ctx context.Context) EvalsAPIPostEvalsEvaluatorsRequest {
	return EvalsAPIPostEvalsEvaluatorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EvaluatorView
func (a *EvalsAPIService) PostEvalsEvaluatorsExecute(r EvalsAPIPostEvalsEvaluatorsRequest) (*EvaluatorView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluatorView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.PostEvalsEvaluators")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/evaluators"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evaluatorReq == nil {
		return localVarReturnValue, nil, reportError("evaluatorReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evaluatorReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIPostEvalsRubricsRequest struct {
	ctx            context.Context
	ApiService     *EvalsAPIService
	scoreConfigReq *ScoreConfigReq
}

func (r EvalsAPIPostEvalsRubricsRequest) ScoreConfigReq(scoreConfigReq ScoreConfigReq) EvalsAPIPostEvalsRubricsRequest {
	r.scoreConfigReq = &scoreConfigReq
	return r
}

func (r EvalsAPIPostEvalsRubricsRequest) Execute() (*ScoreConfigView, *http.Response, error) {
	return r.ApiService.PostEvalsRubricsExecute(r)
}

/*
PostEvalsRubrics Defines the shape of one score name for the caller's org and answers 201 with it.

Defines the shape of one score name for the caller's org and
answers 201 with it.

This is the integrity contract, not documentation: once a rubric exists for a
name, every score recorded under that name is checked against it and the
rubric's data type is AUTHORITATIVE — a caller cannot claim a different one.
Out-of-range values, unlisted labels and non-finite numbers are refused at
write time.

A CATEGORICAL rubric with no categories is 400, as is a non-finite bound or a
minValue above maxValue. Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIPostEvalsRubricsRequest
*/
func (a *EvalsAPIService) PostEvalsRubrics(ctx context.Context) EvalsAPIPostEvalsRubricsRequest {
	return EvalsAPIPostEvalsRubricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ScoreConfigView
func (a *EvalsAPIService) PostEvalsRubricsExecute(r EvalsAPIPostEvalsRubricsRequest) (*ScoreConfigView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScoreConfigView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.PostEvalsRubrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/rubrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scoreConfigReq == nil {
		return localVarReturnValue, nil, reportError("scoreConfigReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.scoreConfigReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIPostEvalsRunsRequest struct {
	ctx           context.Context
	ApiService    *EvalsAPIService
	runRequest    *RunRequest
	authorization *string
}

func (r EvalsAPIPostEvalsRunsRequest) RunRequest(runRequest RunRequest) EvalsAPIPostEvalsRunsRequest {
	r.runRequest = &runRequest
	return r
}

func (r EvalsAPIPostEvalsRunsRequest) Authorization(authorization string) EvalsAPIPostEvalsRunsRequest {
	r.authorization = &authorization
	return r
}

func (r EvalsAPIPostEvalsRunsRequest) Execute() (*RunSummary, *http.Response, error) {
	return r.ApiService.PostEvalsRunsExecute(r)
}

/*
PostEvalsRuns Runs a real evaluation and answers the summary when it is finished — this is synchronous work, not a job id.

Runs a real evaluation and answers the summary when it is finished —
this is synchronous work, not a job id.

For each ACTIVE example in the dataset it calls the model under test, records a
trace, calls the LLM-as-judge, and records the judge's score with its
reasoning. The answer carries the per-item results (item id, trace id, score,
output or error) alongside items, scored and avgScore.

The dataset must belong to the caller's org (404 otherwise) and must have at
least one ACTIVE example (422 otherwise).

It runs as YOU: the caller's own Authorization bearer drives the model gateway,
so a request without one is 401 rather than a run made anonymously or under a
service identity. Only a non-reversible hash of that credential is recorded on
the traces.

Bounded and honest about it: an org may have at most 4 runs in flight and the
fifth is 429 rather than queued, and the whole run is capped at 10 minutes —
examples past the deadline come back with an error instead of a score, and
scored counts only real successes. A run where NOTHING scored answers 502, not
a 200 that looks like an evaluation. A run must be able to persist what it
produces, so a deployment with no datastore wired is 503 up front. Requires a
validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIPostEvalsRunsRequest
*/
func (a *EvalsAPIService) PostEvalsRuns(ctx context.Context) EvalsAPIPostEvalsRunsRequest {
	return EvalsAPIPostEvalsRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RunSummary
func (a *EvalsAPIService) PostEvalsRunsExecute(r EvalsAPIPostEvalsRunsRequest) (*RunSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RunSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.PostEvalsRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.runRequest == nil {
		return localVarReturnValue, nil, reportError("runRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.runRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v RunSummary
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvalsAPIPostEvalsScoresRequest struct {
	ctx        context.Context
	ApiService *EvalsAPIService
	scoreReq   *ScoreReq
}

func (r EvalsAPIPostEvalsScoresRequest) ScoreReq(scoreReq ScoreReq) EvalsAPIPostEvalsScoresRequest {
	r.scoreReq = &scoreReq
	return r
}

func (r EvalsAPIPostEvalsScoresRequest) Execute() (*ScoreView, *http.Response, error) {
	return r.ApiService.PostEvalsScoresExecute(r)
}

/*
PostEvalsScores Files one score event for the caller's org and answers 201 with it.

Files one score event for the caller's org and answers 201 with it.

This is how human review and out-of-band graders land beside the automatic
ones: name the score, give it a value (or a stringValue for a categorical
label), and attach it to a trace, a run, a dataset example, or any combination.

Scores are validated fail-closed. A value must be FINITE — NaN and Inf are 400
— and if the org has declared a rubric for this name, that rubric decides the
type and the value must satisfy it: inside the numeric bounds, or one of the
allowed categories. A caller cannot override the declared type by sending a
different dataType.

A score is TELEMETRY, not metadata, so it needs the datastore: a deployment
with none wired answers 503 rather than accepting a score it cannot persist.
Requires a validated principal; 403 without one, and the org is stamped from
the validated claim rather than read off the body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsAPIPostEvalsScoresRequest
*/
func (a *EvalsAPIService) PostEvalsScores(ctx context.Context) EvalsAPIPostEvalsScoresRequest {
	return EvalsAPIPostEvalsScoresRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ScoreView
func (a *EvalsAPIService) PostEvalsScoresExecute(r EvalsAPIPostEvalsScoresRequest) (*ScoreView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScoreView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsAPIService.PostEvalsScores")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/scores"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scoreReq == nil {
		return localVarReturnValue, nil, reportError("scoreReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.scoreReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
