/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// LegalAPIService LegalAPI service
type LegalAPIService service

type LegalAPIGetLegalDocumentsRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	limit      *int32
}

// Limit bounds the page. Absent or unparseable means the store&#39;s own default.
func (r LegalAPIGetLegalDocumentsRequest) Limit(limit int32) LegalAPIGetLegalDocumentsRequest {
	r.limit = &limit
	return r
}

func (r LegalAPIGetLegalDocumentsRequest) Execute() (*DocumentPage, *http.Response, error) {
	return r.ApiService.GetLegalDocumentsExecute(r)
}

/*
GetLegalDocuments Returns the org's generated documents, newest first, WITHOUT their rendered content — fetch one document to read its body.

Returns the org's generated documents, newest first, WITHOUT
their rendered content — fetch one document to read its body.

The response is marked no-store: these records name the counterparties an org is
contracting with, and must not sit in a shared cache.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPIGetLegalDocumentsRequest
*/
func (a *LegalAPIService) GetLegalDocuments(ctx context.Context) LegalAPIGetLegalDocumentsRequest {
	return LegalAPIGetLegalDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DocumentPage
func (a *LegalAPIService) GetLegalDocumentsExecute(r LegalAPIGetLegalDocumentsRequest) (*DocumentPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DocumentPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.GetLegalDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIGetLegalDocumentsByIdRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	id         string
}

func (r LegalAPIGetLegalDocumentsByIdRequest) Execute() (*DocumentReply, *http.Response, error) {
	return r.ApiService.GetLegalDocumentsByIdExecute(r)
}

/*
GetLegalDocumentsById Returns one of the org's documents WITH its rendered body.

Returns one of the org's documents WITH its rendered body. 404
when the org has no document with that id — a document is never readable across
orgs.

The response is marked no-store: the body is contract text, sealed at rest and
returned only to the owning org, and must not sit in a shared cache.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the document's server-minted handle, \"doc_\"-prefixed.
	@return LegalAPIGetLegalDocumentsByIdRequest
*/
func (a *LegalAPIService) GetLegalDocumentsById(ctx context.Context, id string) LegalAPIGetLegalDocumentsByIdRequest {
	return LegalAPIGetLegalDocumentsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return DocumentReply
func (a *LegalAPIService) GetLegalDocumentsByIdExecute(r LegalAPIGetLegalDocumentsByIdRequest) (*DocumentReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DocumentReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.GetLegalDocumentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIGetLegalFilingsRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	limit      *int32
}

// Limit bounds the page. Absent or unparseable means the store&#39;s own default.
func (r LegalAPIGetLegalFilingsRequest) Limit(limit int32) LegalAPIGetLegalFilingsRequest {
	r.limit = &limit
	return r
}

func (r LegalAPIGetLegalFilingsRequest) Execute() (*FilingPage, *http.Response, error) {
	return r.ApiService.GetLegalFilingsExecute(r)
}

/*
GetLegalFilings Returns the org's filing records, newest first — which documents were filed where, through which provider, and what the filing's honest status is.

Returns the org's filing records, newest first — which documents
were filed where, through which provider, and what the filing's honest status is.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPIGetLegalFilingsRequest
*/
func (a *LegalAPIService) GetLegalFilings(ctx context.Context) LegalAPIGetLegalFilingsRequest {
	return LegalAPIGetLegalFilingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FilingPage
func (a *LegalAPIService) GetLegalFilingsExecute(r LegalAPIGetLegalFilingsRequest) (*FilingPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FilingPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.GetLegalFilings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/filings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIGetLegalHealthRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
}

func (r LegalAPIGetLegalHealthRequest) Execute() (*LegalHealth, *http.Response, error) {
	return r.ApiService.GetLegalHealthExecute(r)
}

/*
GetLegalHealth Reports that the legal subsystem is serving and how many built-in templates its catalog carries.

Reports that the legal subsystem is serving and how many built-in
templates its catalog carries. It reads no tenant, so a liveness prober that
sends no principal is answered rather than refused.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPIGetLegalHealthRequest
*/
func (a *LegalAPIService) GetLegalHealth(ctx context.Context) LegalAPIGetLegalHealthRequest {
	return LegalAPIGetLegalHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LegalHealth
func (a *LegalAPIService) GetLegalHealthExecute(r LegalAPIGetLegalHealthRequest) (*LegalHealth, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LegalHealth
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.GetLegalHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIGetLegalTemplatesRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
}

func (r LegalAPIGetLegalTemplatesRequest) Execute() (*TemplateCatalog, *http.Response, error) {
	return r.ApiService.GetLegalTemplatesExecute(r)
}

/*
GetLegalTemplates Returns the org's effective template catalog: every built-in template, with any the org has overridden replaced by its own latest version.

Returns the org's effective template catalog: every built-in
template, with any the org has overridden replaced by its own latest version.

The listing carries each template's metadata and its declared MERGE FIELDS — the
keys a document generation must supply — but never the template bodies; fetch one
template to get its body. Templates in the formation and equity categories are
marked counselReview: every document rendered from them carries a counsel notice,
and that posture cannot be dropped by an override.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPIGetLegalTemplatesRequest
*/
func (a *LegalAPIService) GetLegalTemplates(ctx context.Context) LegalAPIGetLegalTemplatesRequest {
	return LegalAPIGetLegalTemplatesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TemplateCatalog
func (a *LegalAPIService) GetLegalTemplatesExecute(r LegalAPIGetLegalTemplatesRequest) (*TemplateCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.GetLegalTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIGetLegalTemplatesByIdRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	id         string
}

func (r LegalAPIGetLegalTemplatesByIdRequest) Execute() (*TemplateReply, *http.Response, error) {
	return r.ApiService.GetLegalTemplatesByIdExecute(r)
}

/*
GetLegalTemplatesById Returns one template resolved for the caller's org — the org's own override if it has saved one, else the built-in — with its full text/template body and its declared merge fields.

Returns one template resolved for the caller's org — the org's
own override if it has saved one, else the built-in — with its full text/template
body and its declared merge fields. 404 when neither exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the template's stable id, e.g. \"nda\" or \"safe\".
	@return LegalAPIGetLegalTemplatesByIdRequest
*/
func (a *LegalAPIService) GetLegalTemplatesById(ctx context.Context, id string) LegalAPIGetLegalTemplatesByIdRequest {
	return LegalAPIGetLegalTemplatesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return TemplateReply
func (a *LegalAPIService) GetLegalTemplatesByIdExecute(r LegalAPIGetLegalTemplatesByIdRequest) (*TemplateReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.GetLegalTemplatesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIPostLegalDocumentsRequest struct {
	ctx             context.Context
	ApiService      *LegalAPIService
	generateRequest *GenerateRequest
}

func (r LegalAPIPostLegalDocumentsRequest) GenerateRequest(generateRequest GenerateRequest) LegalAPIPostLegalDocumentsRequest {
	r.generateRequest = &generateRequest
	return r
}

func (r LegalAPIPostLegalDocumentsRequest) Execute() (*DocumentReply, *http.Response, error) {
	return r.ApiService.PostLegalDocumentsExecute(r)
}

/*
PostLegalDocuments Renders a document from a template and the caller's own merge data, seals it in the org's store, and returns it with its rendered body.

Renders a document from a template and the caller's own
merge data, seals it in the org's store, and returns it with its rendered body.

The render is PURE and deterministic — no clock, no I/O — so the same template
version and the same data always produce identical bytes, which is what makes a
generated contract reproducible. It fails CLOSED on a missing merge field: there
is no blank-filled contract, only a 400 naming the fields that were absent. When
the template is counsel-review the rendered body opens with the counsel notice,
which no caller can suppress.

The document is a DRAFT. Hanzo Legal manages documents; it does not give legal
advice and does not determine that a document is valid or sufficient.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPIPostLegalDocumentsRequest
*/
func (a *LegalAPIService) PostLegalDocuments(ctx context.Context) LegalAPIPostLegalDocumentsRequest {
	return LegalAPIPostLegalDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DocumentReply
func (a *LegalAPIService) PostLegalDocumentsExecute(r LegalAPIPostLegalDocumentsRequest) (*DocumentReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DocumentReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.PostLegalDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.generateRequest == nil {
		return localVarReturnValue, nil, reportError("generateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.generateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIPostLegalDocumentsByIdSignRequest struct {
	ctx         context.Context
	ApiService  *LegalAPIService
	id          string
	signRequest *SignRequest
}

func (r LegalAPIPostLegalDocumentsByIdSignRequest) SignRequest(signRequest SignRequest) LegalAPIPostLegalDocumentsByIdSignRequest {
	r.signRequest = &signRequest
	return r
}

func (r LegalAPIPostLegalDocumentsByIdSignRequest) Execute() (*SignReply, *http.Response, error) {
	return r.ApiService.PostLegalDocumentsByIdSignExecute(r)
}

/*
PostLegalDocumentsByIdSign Opens an e-signature request over one document and moves it to out_for_signature, returning the provider's reference for the request.

Opens an e-signature request over one document and moves it
to out_for_signature, returning the provider's reference for the request.

The provider is whatever this deployment has wired. The honest default is
"manual": the request is recorded and the org fulfils it out of band — nothing
here fabricates a signature, and the stub never reports itself complete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the document to send for signature, from the path.
	@return LegalAPIPostLegalDocumentsByIdSignRequest
*/
func (a *LegalAPIService) PostLegalDocumentsByIdSign(ctx context.Context, id string) LegalAPIPostLegalDocumentsByIdSignRequest {
	return LegalAPIPostLegalDocumentsByIdSignRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SignReply
func (a *LegalAPIService) PostLegalDocumentsByIdSignExecute(r LegalAPIPostLegalDocumentsByIdSignRequest) (*SignReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SignReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.PostLegalDocumentsByIdSign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents/{id}/sign"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.signRequest == nil {
		return localVarReturnValue, nil, reportError("signRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.signRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIPostLegalDocumentsByIdSignCompleteRequest struct {
	ctx        context.Context
	ApiService *LegalAPIService
	id         string
}

func (r LegalAPIPostLegalDocumentsByIdSignCompleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostLegalDocumentsByIdSignCompleteExecute(r)
}

/*
PostLegalDocumentsByIdSignComplete Record that a generated document's signature request completed

Records completion of the signature request opened over a generated document and answers the document with a `signed` flag.

The e-sign provider's own status is consulted FIRST and is the default answer; an explicit `signed` field in the body overrides it. That override is the whole point: the default `manual` provider never self-completes, so a reviewer (or a real provider's webhook) is what moves the document. A completion flips the document to `signed`, stamps `signedAt`, and writes a `legal.document.signed` audit event; a provider still reporting incomplete answers 200 with the document unchanged, so the call is safe to repeat and never fabricates a signature.

Org-scoped and fails closed: a validated principal is required (403 without one), the document is read under the caller's OWN org so another tenant's id is a 404, a document with no open signature request is a 400, and a provider whose status call errors is a 502.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return LegalAPIPostLegalDocumentsByIdSignCompleteRequest
*/
func (a *LegalAPIService) PostLegalDocumentsByIdSignComplete(ctx context.Context, id string) LegalAPIPostLegalDocumentsByIdSignCompleteRequest {
	return LegalAPIPostLegalDocumentsByIdSignCompleteRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *LegalAPIService) PostLegalDocumentsByIdSignCompleteExecute(r LegalAPIPostLegalDocumentsByIdSignCompleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.PostLegalDocumentsByIdSignComplete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/documents/{id}/sign/complete"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LegalAPIPostLegalFilingsRequest struct {
	ctx           context.Context
	ApiService    *LegalAPIService
	filingRequest *FilingRequest
}

func (r LegalAPIPostLegalFilingsRequest) FilingRequest(filingRequest FilingRequest) LegalAPIPostLegalFilingsRequest {
	r.filingRequest = &filingRequest
	return r
}

func (r LegalAPIPostLegalFilingsRequest) Execute() (*FilingReply, *http.Response, error) {
	return r.ApiService.PostLegalFilingsExecute(r)
}

/*
PostLegalFilings Records a filing of one or more of the org's documents with a state or agency, and returns the tracking record.

Records a filing of one or more of the org's documents with a
state or agency, and returns the tracking record.

It is a TRACKING record, not an autonomous filing. With no filing partner wired
the honest status is "manual" and the note says so: the documents were generated
for signature, and the org files them through its registered agent. Nothing here
invents a filing id it does not have.

Every document id must belong to the caller's org; one that does not is a 404
naming it, so a filing can never reach across tenants.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LegalAPIPostLegalFilingsRequest
*/
func (a *LegalAPIService) PostLegalFilings(ctx context.Context) LegalAPIPostLegalFilingsRequest {
	return LegalAPIPostLegalFilingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FilingReply
func (a *LegalAPIService) PostLegalFilingsExecute(r LegalAPIPostLegalFilingsRequest) (*FilingReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FilingReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.PostLegalFilings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/filings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filingRequest == nil {
		return localVarReturnValue, nil, reportError("filingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.filingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LegalAPIPutLegalTemplatesByIdRequest struct {
	ctx              context.Context
	ApiService       *LegalAPIService
	id               string
	templateOverride *TemplateOverride
}

func (r LegalAPIPutLegalTemplatesByIdRequest) TemplateOverride(templateOverride TemplateOverride) LegalAPIPutLegalTemplatesByIdRequest {
	r.templateOverride = &templateOverride
	return r
}

func (r LegalAPIPutLegalTemplatesByIdRequest) Execute() (*TemplateReply, *http.Response, error) {
	return r.ApiService.PutLegalTemplatesByIdExecute(r)
}

/*
PutLegalTemplatesById Saves the org's own version of a template — a custom NDA, a house MSA — and returns it with its new version number.

Saves the org's own version of a template — a custom
NDA, a house MSA — and returns it with its new version number. It takes effect
for that org only; other orgs keep the built-in.

Two boundaries cannot be crossed here. Overriding a built-in INHERITS its
category and its counsel-review posture, which can be raised but never dropped;
and a formation or equity template is counsel-review whatever the caller sends,
so no org can generate a securities-class document without the notice.

The body is validated on save, not at generation: a template that references an
UNDECLARED merge field is refused with 400 rather than stored and rendered blank
into a contract months later.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the template to override, from the path. Overriding a built-in id inherits that built-in's category, title and counsel-review posture.
	@return LegalAPIPutLegalTemplatesByIdRequest
*/
func (a *LegalAPIService) PutLegalTemplatesById(ctx context.Context, id string) LegalAPIPutLegalTemplatesByIdRequest {
	return LegalAPIPutLegalTemplatesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return TemplateReply
func (a *LegalAPIService) PutLegalTemplatesByIdExecute(r LegalAPIPutLegalTemplatesByIdRequest) (*TemplateReply, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LegalAPIService.PutLegalTemplatesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/legal/templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.templateOverride == nil {
		return localVarReturnValue, nil, reportError("templateOverride is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.templateOverride
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
