/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// FileAPIAPIService FileAPIAPI service
type FileAPIAPIService service

type FileAPIAPICloudApiControllerActivateFileRequest struct {
	ctx        context.Context
	ApiService *FileAPIAPIService
	key        *string
	filename   *string
}

// The key of the file
func (r FileAPIAPICloudApiControllerActivateFileRequest) Key(key string) FileAPIAPICloudApiControllerActivateFileRequest {
	r.key = &key
	return r
}

// The name of the file
func (r FileAPIAPICloudApiControllerActivateFileRequest) Filename(filename string) FileAPIAPICloudApiControllerActivateFileRequest {
	r.filename = &filename
	return r
}

func (r FileAPIAPICloudApiControllerActivateFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerActivateFileExecute(r)
}

/*
CloudApiControllerActivateFile Api Controller Activate File

activate file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FileAPIAPICloudApiControllerActivateFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerActivateFile(ctx context.Context) FileAPIAPICloudApiControllerActivateFileRequest {
	return FileAPIAPICloudApiControllerActivateFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerActivateFileExecute(r FileAPIAPICloudApiControllerActivateFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerActivateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/activate-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FileAPIAPICloudApiControllerAddFileRequest struct {
	ctx                  context.Context
	ApiService           *FileAPIAPIService
	store                *string
	key                  *string
	isLeaf               *string
	filename             *string
	cloudObjectFileInput *CloudObjectFileInput
}

// The store of the file
func (r FileAPIAPICloudApiControllerAddFileRequest) Store(store string) FileAPIAPICloudApiControllerAddFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r FileAPIAPICloudApiControllerAddFileRequest) Key(key string) FileAPIAPICloudApiControllerAddFileRequest {
	r.key = &key
	return r
}

// if is leaf
func (r FileAPIAPICloudApiControllerAddFileRequest) IsLeaf(isLeaf string) FileAPIAPICloudApiControllerAddFileRequest {
	r.isLeaf = &isLeaf
	return r
}

// The name of the file
func (r FileAPIAPICloudApiControllerAddFileRequest) Filename(filename string) FileAPIAPICloudApiControllerAddFileRequest {
	r.filename = &filename
	return r
}

// The file object to register. owner and name are required and identify the file.
func (r FileAPIAPICloudApiControllerAddFileRequest) CloudObjectFileInput(cloudObjectFileInput CloudObjectFileInput) FileAPIAPICloudApiControllerAddFileRequest {
	r.cloudObjectFileInput = &cloudObjectFileInput
	return r
}

func (r FileAPIAPICloudApiControllerAddFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddFileExecute(r)
}

/*
CloudApiControllerAddFile Api Controller Add File

add file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FileAPIAPICloudApiControllerAddFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerAddFile(ctx context.Context) FileAPIAPICloudApiControllerAddFileRequest {
	return FileAPIAPICloudApiControllerAddFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerAddFileExecute(r FileAPIAPICloudApiControllerAddFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerAddFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}
	if r.cloudObjectFileInput == nil {
		return localVarReturnValue, nil, reportError("cloudObjectFileInput is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectFileInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FileAPIAPICloudApiControllerDeleteFileRequest struct {
	ctx                  context.Context
	ApiService           *FileAPIAPIService
	store                *string
	key                  *string
	isLeaf               *string
	cloudObjectFileInput *CloudObjectFileInput
}

// The store of the file
func (r FileAPIAPICloudApiControllerDeleteFileRequest) Store(store string) FileAPIAPICloudApiControllerDeleteFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r FileAPIAPICloudApiControllerDeleteFileRequest) Key(key string) FileAPIAPICloudApiControllerDeleteFileRequest {
	r.key = &key
	return r
}

// if is leaf
func (r FileAPIAPICloudApiControllerDeleteFileRequest) IsLeaf(isLeaf string) FileAPIAPICloudApiControllerDeleteFileRequest {
	r.isLeaf = &isLeaf
	return r
}

// The file to delete. owner and name are required and identify the file.
func (r FileAPIAPICloudApiControllerDeleteFileRequest) CloudObjectFileInput(cloudObjectFileInput CloudObjectFileInput) FileAPIAPICloudApiControllerDeleteFileRequest {
	r.cloudObjectFileInput = &cloudObjectFileInput
	return r
}

func (r FileAPIAPICloudApiControllerDeleteFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerDeleteFileExecute(r)
}

/*
CloudApiControllerDeleteFile Api Controller Delete File

delete file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FileAPIAPICloudApiControllerDeleteFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerDeleteFile(ctx context.Context) FileAPIAPICloudApiControllerDeleteFileRequest {
	return FileAPIAPICloudApiControllerDeleteFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerDeleteFileExecute(r FileAPIAPICloudApiControllerDeleteFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerDeleteFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/delete-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}
	if r.cloudObjectFileInput == nil {
		return localVarReturnValue, nil, reportError("cloudObjectFileInput is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectFileInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FileAPIAPICloudApiControllerGetActiveFileRequest struct {
	ctx        context.Context
	ApiService *FileAPIAPIService
	prefix     *string
}

// The prefix of the file
func (r FileAPIAPICloudApiControllerGetActiveFileRequest) Prefix(prefix string) FileAPIAPICloudApiControllerGetActiveFileRequest {
	r.prefix = &prefix
	return r
}

func (r FileAPIAPICloudApiControllerGetActiveFileRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetActiveFileExecute(r)
}

/*
CloudApiControllerGetActiveFile Api Controller Get Active File

get active file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FileAPIAPICloudApiControllerGetActiveFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerGetActiveFile(ctx context.Context) FileAPIAPICloudApiControllerGetActiveFileRequest {
	return FileAPIAPICloudApiControllerGetActiveFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *FileAPIAPIService) CloudApiControllerGetActiveFileExecute(r FileAPIAPICloudApiControllerGetActiveFileRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerGetActiveFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-active-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.prefix == nil {
		return localVarReturnValue, nil, reportError("prefix is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FileAPIAPICloudApiControllerUpdateFileRequest struct {
	ctx             context.Context
	ApiService      *FileAPIAPIService
	storeId         *string
	key             *string
	cloudObjectFile *CloudObjectFile
}

// The store id of the file
func (r FileAPIAPICloudApiControllerUpdateFileRequest) StoreId(storeId string) FileAPIAPICloudApiControllerUpdateFileRequest {
	r.storeId = &storeId
	return r
}

// The key of the file
func (r FileAPIAPICloudApiControllerUpdateFileRequest) Key(key string) FileAPIAPICloudApiControllerUpdateFileRequest {
	r.key = &key
	return r
}

// The details of the File
func (r FileAPIAPICloudApiControllerUpdateFileRequest) CloudObjectFile(cloudObjectFile CloudObjectFile) FileAPIAPICloudApiControllerUpdateFileRequest {
	r.cloudObjectFile = &cloudObjectFile
	return r
}

func (r FileAPIAPICloudApiControllerUpdateFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUpdateFileExecute(r)
}

/*
CloudApiControllerUpdateFile Api Controller Update File

update file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FileAPIAPICloudApiControllerUpdateFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerUpdateFile(ctx context.Context) FileAPIAPICloudApiControllerUpdateFileRequest {
	return FileAPIAPICloudApiControllerUpdateFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerUpdateFileExecute(r FileAPIAPICloudApiControllerUpdateFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerUpdateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/update-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.cloudObjectFile == nil {
		return localVarReturnValue, nil, reportError("cloudObjectFile is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeId", r.storeId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectFile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FileAPIAPICloudApiControllerUploadFileRequest struct {
	ctx        context.Context
	ApiService *FileAPIAPIService
	file       *string
	type_      *string
	name       *string
}

// The base64 encoded file data
func (r FileAPIAPICloudApiControllerUploadFileRequest) File(file string) FileAPIAPICloudApiControllerUploadFileRequest {
	r.file = &file
	return r
}

// The file type/extension
func (r FileAPIAPICloudApiControllerUploadFileRequest) Type_(type_ string) FileAPIAPICloudApiControllerUploadFileRequest {
	r.type_ = &type_
	return r
}

// The file name
func (r FileAPIAPICloudApiControllerUploadFileRequest) Name(name string) FileAPIAPICloudApiControllerUploadFileRequest {
	r.name = &name
	return r
}

func (r FileAPIAPICloudApiControllerUploadFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUploadFileExecute(r)
}

/*
CloudApiControllerUploadFile Api Controller Upload File

upload file to IAM storage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FileAPIAPICloudApiControllerUploadFileRequest
*/
func (a *FileAPIAPIService) CloudApiControllerUploadFile(ctx context.Context) FileAPIAPICloudApiControllerUploadFileRequest {
	return FileAPIAPICloudApiControllerUploadFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *FileAPIAPIService) CloudApiControllerUploadFileExecute(r FileAPIAPICloudApiControllerUploadFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAPIAPIService.CloudApiControllerUploadFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/upload-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
