/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SentinelAPIService SentinelAPI service
type SentinelAPIService service

type SentinelAPIDeleteSentinelByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	wildcard1  string
}

func (r SentinelAPIDeleteSentinelByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSentinelByWildcard1Execute(r)
}

/*
DeleteSentinelByWildcard1 Delete a Sentry project

The one delete on the Sentry surface: removing a PROJECT, answering 204. Error issues, events and traces are not individually deletable — they are append-only telemetry, and their lifetime is retention's business, not an API call's.

Requires a validated, org-scoped principal with edit rights; a viewer is refused. The delete is confined to the org minted from that principal's claim, so a project id belonging to another tenant is not found rather than removed. Deleting a project retires the DSN that fed it, so any SDK still pointed at that key stops being accepted. Before the runtime is initialized, 503.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentinelAPIDeleteSentinelByWildcard1Request
*/
func (a *SentinelAPIService) DeleteSentinelByWildcard1(ctx context.Context, wildcard1 string) SentinelAPIDeleteSentinelByWildcard1Request {
	return SentinelAPIDeleteSentinelByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentinelAPIService) DeleteSentinelByWildcard1Execute(r SentinelAPIDeleteSentinelByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.DeleteSentinelByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentinelAPIDeleteSentinelProjectsByIdRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	id         string
}

func (r SentinelAPIDeleteSentinelProjectsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSentinelProjectsByIdExecute(r)
}

/*
DeleteSentinelProjectsById Deletes one Sentry project of the caller's org.

Deletes one Sentry project of the caller's org. Its DSN
stops resolving immediately, so ingest for that id fails closed exactly as an
unknown project does; retained events are not touched. Answers 204.

Callers need the editor role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the project id.
	@return SentinelAPIDeleteSentinelProjectsByIdRequest
*/
func (a *SentinelAPIService) DeleteSentinelProjectsById(ctx context.Context, id string) SentinelAPIDeleteSentinelProjectsByIdRequest {
	return SentinelAPIDeleteSentinelProjectsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *SentinelAPIService) DeleteSentinelProjectsByIdExecute(r SentinelAPIDeleteSentinelProjectsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.DeleteSentinelProjectsById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/projects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	wildcard1  string
}

func (r SentinelAPIGetSentinelByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.GetSentinelByWildcard1Execute(r)
}

/*
GetSentinelByWildcard1 Read the caller org's errors on the Sentry surface

Serves the Sentry-compatible read surface — projects, error issues and one issue's occurrences, a single event, error logs, error-correlated traces and one trace's waterfall, and the event-rate stats — so a Sentry client or the error console reads its errors at the paths it already speaks.

It is the SAME runtime the observability surface serves, reached under a second path family, and there is NO rewrite: the runtime carries these routes literally. That is what makes this a product face rather than a translation layer. One runtime, two path families.

A validated principal is required and the read is scoped to that principal's own org. Errors are a tenant's OWN data, so org membership is the whole admission test and there is deliberately no admin term on it — gating the product on platform sudo would make the only way to see your own errors a scope that shows you everyone's. Before the runtime is initialized, 503.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentinelAPIGetSentinelByWildcard1Request
*/
func (a *SentinelAPIService) GetSentinelByWildcard1(ctx context.Context, wildcard1 string) SentinelAPIGetSentinelByWildcard1Request {
	return SentinelAPIGetSentinelByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentinelAPIService) GetSentinelByWildcard1Execute(r SentinelAPIGetSentinelByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelEventsByIdRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	id         string
	project    *string
}

// Project is the project the event belongs to, by its id. Required.
func (r SentinelAPIGetSentinelEventsByIdRequest) Project(project string) SentinelAPIGetSentinelEventsByIdRequest {
	r.project = &project
	return r
}

func (r SentinelAPIGetSentinelEventsByIdRequest) Execute() (*O11yO11ySentryEventOut, *http.Response, error) {
	return r.ApiService.GetSentinelEventsByIdExecute(r)
}

/*
GetSentinelEventsById Returns one captured error event of a project, by its id.

Returns one captured error event of a project, by its id.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the event id.
	@return SentinelAPIGetSentinelEventsByIdRequest
*/
func (a *SentinelAPIService) GetSentinelEventsById(ctx context.Context, id string) SentinelAPIGetSentinelEventsByIdRequest {
	return SentinelAPIGetSentinelEventsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryEventOut
func (a *SentinelAPIService) GetSentinelEventsByIdExecute(r SentinelAPIGetSentinelEventsByIdRequest) (*O11yO11ySentryEventOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryEventOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelEventsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/events/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelIssuesRequest struct {
	ctx         context.Context
	ApiService  *SentinelAPIService
	status      *string
	level       *string
	environment *string
	serviceName *string
	query       *string
	sort        *string
	offset      *int32
	limit       *int32
	project     *string
	period      *string
}

// Status narrows to one lifecycle state: unresolved, resolved or ignored.
func (r SentinelAPIGetSentinelIssuesRequest) Status(status string) SentinelAPIGetSentinelIssuesRequest {
	r.status = &status
	return r
}

// Level narrows to one severity, e.g. error, warning, info.
func (r SentinelAPIGetSentinelIssuesRequest) Level(level string) SentinelAPIGetSentinelIssuesRequest {
	r.level = &level
	return r
}

// Environment narrows to one deployment environment.
func (r SentinelAPIGetSentinelIssuesRequest) Environment(environment string) SentinelAPIGetSentinelIssuesRequest {
	r.environment = &environment
	return r
}

// ServiceName narrows to one reporting service.
func (r SentinelAPIGetSentinelIssuesRequest) ServiceName(serviceName string) SentinelAPIGetSentinelIssuesRequest {
	r.serviceName = &serviceName
	return r
}

// Query narrows to issues whose text contains it.
func (r SentinelAPIGetSentinelIssuesRequest) Query(query string) SentinelAPIGetSentinelIssuesRequest {
	r.query = &query
	return r
}

// Sort orders the page, e.g. lastSeen, firstSeen, count.
func (r SentinelAPIGetSentinelIssuesRequest) Sort(sort string) SentinelAPIGetSentinelIssuesRequest {
	r.sort = &sort
	return r
}

// Offset is how many issues to skip. Zero starts at the first.
func (r SentinelAPIGetSentinelIssuesRequest) Offset(offset int32) SentinelAPIGetSentinelIssuesRequest {
	r.offset = &offset
	return r
}

// Limit caps how many issues come back. Zero means the default.
func (r SentinelAPIGetSentinelIssuesRequest) Limit(limit int32) SentinelAPIGetSentinelIssuesRequest {
	r.limit = &limit
	return r
}

// Project narrows the org&#39;s issues to one project, by its id.
func (r SentinelAPIGetSentinelIssuesRequest) Project(project string) SentinelAPIGetSentinelIssuesRequest {
	r.project = &project
	return r
}

// Period is the window to read, relative to now — 1h, 24h, 7d, 14d, 30d.
func (r SentinelAPIGetSentinelIssuesRequest) Period(period string) SentinelAPIGetSentinelIssuesRequest {
	r.period = &period
	return r
}

func (r SentinelAPIGetSentinelIssuesRequest) Execute() (*O11yO11yErrorIssuesOut, *http.Response, error) {
	return r.ApiService.GetSentinelIssuesExecute(r)
}

/*
GetSentinelIssues Lists the caller's org's grouped error issues, optionally narrowed to one project and one time window, and filtered by status, level, environment, service, a free-text query and a sort.

Lists the caller's org's grouped error issues, optionally
narrowed to one project and one time window, and filtered by status, level,
environment, service, a free-text query and a sort.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentinelAPIGetSentinelIssuesRequest
*/
func (a *SentinelAPIService) GetSentinelIssues(ctx context.Context) SentinelAPIGetSentinelIssuesRequest {
	return SentinelAPIGetSentinelIssuesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yErrorIssuesOut
func (a *SentinelAPIService) GetSentinelIssuesExecute(r SentinelAPIGetSentinelIssuesRequest) (*O11yO11yErrorIssuesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yErrorIssuesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelIssues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/issues"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.level != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "level", r.level, "form", "")
	}
	if r.environment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "form", "")
	}
	if r.serviceName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serviceName", r.serviceName, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelIssuesByIdRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	id         string
}

func (r SentinelAPIGetSentinelIssuesByIdRequest) Execute() (*O11yO11yErrorGettableIssueOut, *http.Response, error) {
	return r.ApiService.GetSentinelIssuesByIdExecute(r)
}

/*
GetSentinelIssuesById Returns one grouped issue of the caller's org with its latest occurrence sample.

Returns one grouped issue of the caller's org with its latest
occurrence sample.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the issue id.
	@return SentinelAPIGetSentinelIssuesByIdRequest
*/
func (a *SentinelAPIService) GetSentinelIssuesById(ctx context.Context, id string) SentinelAPIGetSentinelIssuesByIdRequest {
	return SentinelAPIGetSentinelIssuesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11yErrorGettableIssueOut
func (a *SentinelAPIService) GetSentinelIssuesByIdExecute(r SentinelAPIGetSentinelIssuesByIdRequest) (*O11yO11yErrorGettableIssueOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yErrorGettableIssueOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelIssuesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/issues/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelIssuesByIdEventsRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	id         string
	project    *string
	limit      *int32
}

// Project is the project whose occurrences to read, by its id. Required.
func (r SentinelAPIGetSentinelIssuesByIdEventsRequest) Project(project string) SentinelAPIGetSentinelIssuesByIdEventsRequest {
	r.project = &project
	return r
}

// Limit caps how many occurrences come back. Zero means the default.
func (r SentinelAPIGetSentinelIssuesByIdEventsRequest) Limit(limit int32) SentinelAPIGetSentinelIssuesByIdEventsRequest {
	r.limit = &limit
	return r
}

func (r SentinelAPIGetSentinelIssuesByIdEventsRequest) Execute() (*O11yO11ySentryIssueEventsOut, *http.Response, error) {
	return r.ApiService.GetSentinelIssuesByIdEventsExecute(r)
}

/*
GetSentinelIssuesByIdEvents Lists one issue's captured occurrences, scoped to a project — a project is an isolation unit, so the caller declares which project's occurrences to read.

Lists one issue's captured occurrences, scoped to a project
— a project is an isolation unit, so the caller declares which project's
occurrences to read.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the issue id.
	@return SentinelAPIGetSentinelIssuesByIdEventsRequest
*/
func (a *SentinelAPIService) GetSentinelIssuesByIdEvents(ctx context.Context, id string) SentinelAPIGetSentinelIssuesByIdEventsRequest {
	return SentinelAPIGetSentinelIssuesByIdEventsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryIssueEventsOut
func (a *SentinelAPIService) GetSentinelIssuesByIdEventsExecute(r SentinelAPIGetSentinelIssuesByIdEventsRequest) (*O11yO11ySentryIssueEventsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryIssueEventsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelIssuesByIdEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/issues/{id}/events"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelLogsRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	project    *string
	query      *string
	period     *string
	limit      *int32
}

// Project is the project to read, as its id. Required.
func (r SentinelAPIGetSentinelLogsRequest) Project(project string) SentinelAPIGetSentinelLogsRequest {
	r.project = &project
	return r
}

// Query narrows the page to events whose text contains it.
func (r SentinelAPIGetSentinelLogsRequest) Query(query string) SentinelAPIGetSentinelLogsRequest {
	r.query = &query
	return r
}

// Period is the window to read, relative to now — 1h, 24h, 7d, 14d, 30d.
func (r SentinelAPIGetSentinelLogsRequest) Period(period string) SentinelAPIGetSentinelLogsRequest {
	r.period = &period
	return r
}

// Limit caps how many events come back.
func (r SentinelAPIGetSentinelLogsRequest) Limit(limit int32) SentinelAPIGetSentinelLogsRequest {
	r.limit = &limit
	return r
}

func (r SentinelAPIGetSentinelLogsRequest) Execute() (*O11yO11yLogsOut, *http.Response, error) {
	return r.ApiService.GetSentinelLogsExecute(r)
}

/*
GetSentinelLogs Lists a project's captured error events, newest first, optionally narrowed to those whose message or exception text contains a search string.

Lists a project's captured error events, newest first, optionally
narrowed to those whose message or exception text contains a search string.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentinelAPIGetSentinelLogsRequest
*/
func (a *SentinelAPIService) GetSentinelLogs(ctx context.Context) SentinelAPIGetSentinelLogsRequest {
	return SentinelAPIGetSentinelLogsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yLogsOut
func (a *SentinelAPIService) GetSentinelLogsExecute(r SentinelAPIGetSentinelLogsRequest) (*O11yO11yLogsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yLogsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelProjectsRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
}

func (r SentinelAPIGetSentinelProjectsRequest) Execute() (*O11yO11ySentryProjectsOut, *http.Response, error) {
	return r.ApiService.GetSentinelProjectsExecute(r)
}

/*
GetSentinelProjects Lists the caller's org's Sentry projects, each with its freshly-derived DSN.

Lists the caller's org's Sentry projects, each with its
freshly-derived DSN.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentinelAPIGetSentinelProjectsRequest
*/
func (a *SentinelAPIService) GetSentinelProjects(ctx context.Context) SentinelAPIGetSentinelProjectsRequest {
	return SentinelAPIGetSentinelProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryProjectsOut
func (a *SentinelAPIService) GetSentinelProjectsExecute(r SentinelAPIGetSentinelProjectsRequest) (*O11yO11ySentryProjectsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryProjectsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelProjectsByIdRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	id         string
}

func (r SentinelAPIGetSentinelProjectsByIdRequest) Execute() (*O11yO11ySentryProjectOut, *http.Response, error) {
	return r.ApiService.GetSentinelProjectsByIdExecute(r)
}

/*
GetSentinelProjectsById Returns one Sentry project of the caller's org, DSN included.

Returns one Sentry project of the caller's org, DSN included.

Callers need the viewer role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the project id.
	@return SentinelAPIGetSentinelProjectsByIdRequest
*/
func (a *SentinelAPIService) GetSentinelProjectsById(ctx context.Context, id string) SentinelAPIGetSentinelProjectsByIdRequest {
	return SentinelAPIGetSentinelProjectsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryProjectOut
func (a *SentinelAPIService) GetSentinelProjectsByIdExecute(r SentinelAPIGetSentinelProjectsByIdRequest) (*O11yO11ySentryProjectOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryProjectOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelProjectsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/projects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelStatsRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	project    *string
	field      *string
	period     *string
}

// Project is the project to read, as its id. Required.
func (r SentinelAPIGetSentinelStatsRequest) Project(project string) SentinelAPIGetSentinelStatsRequest {
	r.project = &project
	return r
}

// Field is the dimension to count over. Empty counts all events.
func (r SentinelAPIGetSentinelStatsRequest) Field(field string) SentinelAPIGetSentinelStatsRequest {
	r.field = &field
	return r
}

// Period is the window to read, relative to now — 1h, 24h, 7d, 14d, 30d.
func (r SentinelAPIGetSentinelStatsRequest) Period(period string) SentinelAPIGetSentinelStatsRequest {
	r.period = &period
	return r
}

func (r SentinelAPIGetSentinelStatsRequest) Execute() (*O11yO11yStatsOut, *http.Response, error) {
	return r.ApiService.GetSentinelStatsExecute(r)
}

/*
GetSentinelStats Returns a project's event-rate timeseries: one bucket per interval over the requested period, counting the events in it.

Returns a project's event-rate timeseries: one bucket per interval over
the requested period, counting the events in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentinelAPIGetSentinelStatsRequest
*/
func (a *SentinelAPIService) GetSentinelStats(ctx context.Context) SentinelAPIGetSentinelStatsRequest {
	return SentinelAPIGetSentinelStatsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yStatsOut
func (a *SentinelAPIService) GetSentinelStatsExecute(r SentinelAPIGetSentinelStatsRequest) (*O11yO11yStatsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yStatsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	if r.field != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "field", r.field, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelTracesRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	project    *string
	period     *string
	limit      *int32
}

// Project is the project to read, as its id. Required.
func (r SentinelAPIGetSentinelTracesRequest) Project(project string) SentinelAPIGetSentinelTracesRequest {
	r.project = &project
	return r
}

// Period is the window to read, relative to now — 1h, 24h, 7d, 14d, 30d.
func (r SentinelAPIGetSentinelTracesRequest) Period(period string) SentinelAPIGetSentinelTracesRequest {
	r.period = &period
	return r
}

// Limit caps how many traces come back.
func (r SentinelAPIGetSentinelTracesRequest) Limit(limit int32) SentinelAPIGetSentinelTracesRequest {
	r.limit = &limit
	return r
}

func (r SentinelAPIGetSentinelTracesRequest) Execute() (*O11yO11yTracesOut, *http.Response, error) {
	return r.ApiService.GetSentinelTracesExecute(r)
}

/*
GetSentinelTraces Lists the traces a project's captured errors reference, each with how many errors landed on it, when they started and stopped, and the latest message seen — the entry point for \"which requests are failing\".

Lists the traces a project's captured errors reference, each with how
many errors landed on it, when they started and stopped, and the latest
message seen — the entry point for "which requests are failing".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentinelAPIGetSentinelTracesRequest
*/
func (a *SentinelAPIService) GetSentinelTraces(ctx context.Context) SentinelAPIGetSentinelTracesRequest {
	return SentinelAPIGetSentinelTracesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yTracesOut
func (a *SentinelAPIService) GetSentinelTracesExecute(r SentinelAPIGetSentinelTracesRequest) (*O11yO11yTracesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yTracesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelTraces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/traces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIGetSentinelTracesByIdRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	id         string
	project    *string
}

// Project is the project the trace&#39;s errors belong to. Required.
func (r SentinelAPIGetSentinelTracesByIdRequest) Project(project string) SentinelAPIGetSentinelTracesByIdRequest {
	r.project = &project
	return r
}

func (r SentinelAPIGetSentinelTracesByIdRequest) Execute() (*O11yO11yTraceOut, *http.Response, error) {
	return r.ApiService.GetSentinelTracesByIdExecute(r)
}

/*
GetSentinelTracesById Returns one trace's captured errors for a project — every error event that carried the trace id, in the order the events plane holds them.

Returns one trace's captured errors for a project — every error event
that carried the trace id, in the order the events plane holds them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the trace id.
	@return SentinelAPIGetSentinelTracesByIdRequest
*/
func (a *SentinelAPIService) GetSentinelTracesById(ctx context.Context, id string) SentinelAPIGetSentinelTracesByIdRequest {
	return SentinelAPIGetSentinelTracesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11yTraceOut
func (a *SentinelAPIService) GetSentinelTracesByIdExecute(r SentinelAPIGetSentinelTracesByIdRequest) (*O11yO11yTraceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yTraceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.GetSentinelTracesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/traces/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.project == nil {
		return localVarReturnValue, nil, reportError("project is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIPatchSentinelByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	wildcard1  string
}

func (r SentinelAPIPatchSentinelByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.PatchSentinelByWildcard1Execute(r)
}

/*
PatchSentinelByWildcard1 Not served — the Sentry surface has no partial update

The Sentry face carries NO route for a partial update. The wildcard admits every method, so this operation exists as an address, but nothing behind it answers and a request lands on the runtime as an unrouted path.

It is documented rather than silently omitted because the useful thing to say is where to go instead: an issue's lifecycle — resolve, ignore, assign — is a REPLACE on that issue, not a patch, and it is the only mutable state on this surface. A client that reaches for a partial update here is looking for that call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentinelAPIPatchSentinelByWildcard1Request
*/
func (a *SentinelAPIService) PatchSentinelByWildcard1(ctx context.Context, wildcard1 string) SentinelAPIPatchSentinelByWildcard1Request {
	return SentinelAPIPatchSentinelByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentinelAPIService) PatchSentinelByWildcard1Execute(r SentinelAPIPatchSentinelByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PatchSentinelByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentinelAPIPostSentinelByProjectEnvelopeRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	project    string
}

func (r SentinelAPIPostSentinelByProjectEnvelopeRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostSentinelByProjectEnvelopeExecute(r)
}

/*
PostSentinelByProjectEnvelope Receive a Sentry envelope on the runtime's ingest hatch

The runtime's own ingest address for a Sentry envelope frame, kept under this root because that is where the module registers it.

THE DOOR A CLIENT SHOULD USE IS /v1/event/{project}/envelope. That is what a minted DSN addresses and what @hanzo/event posts to, and it carries the same wire to the same sink. This address answers identically; it is the second spelling of one wire and it is on its way out.

AUTHENTICATED BY THE DSN PUBLIC KEY, never a Hanzo session, so it is exempt from the principal gate — a reporting SDK has no session to present. The project segment is a UUID enforced by the route, and the exemption matches method plus prefix plus suffix, so every Sentinel READ (issues, discover, events, logs, traces, stats) stays gated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project
	@return SentinelAPIPostSentinelByProjectEnvelopeRequest
*/
func (a *SentinelAPIService) PostSentinelByProjectEnvelope(ctx context.Context, project string) SentinelAPIPostSentinelByProjectEnvelopeRequest {
	return SentinelAPIPostSentinelByProjectEnvelopeRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
func (a *SentinelAPIService) PostSentinelByProjectEnvelopeExecute(r SentinelAPIPostSentinelByProjectEnvelopeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PostSentinelByProjectEnvelope")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/{project}/envelope/"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentinelAPIPostSentinelByProjectStoreRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	project    string
}

func (r SentinelAPIPostSentinelByProjectStoreRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostSentinelByProjectStoreExecute(r)
}

/*
PostSentinelByProjectStore Receive a single event on the runtime's ingest hatch

The legacy single-event form of the envelope ingest — one JSON event rather than a framed batch — kept because SDKs in the field still send it.

Same address ownership and same authentication as the envelope route beside it, and the same advice: point a client at /v1/event/{project}/store, which is the one door.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project
	@return SentinelAPIPostSentinelByProjectStoreRequest
*/
func (a *SentinelAPIService) PostSentinelByProjectStore(ctx context.Context, project string) SentinelAPIPostSentinelByProjectStoreRequest {
	return SentinelAPIPostSentinelByProjectStoreRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
func (a *SentinelAPIService) PostSentinelByProjectStoreExecute(r SentinelAPIPostSentinelByProjectStoreRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PostSentinelByProjectStore")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/{project}/store/"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentinelAPIPostSentinelByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	wildcard1  string
}

func (r SentinelAPIPostSentinelByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.PostSentinelByWildcard1Execute(r)
}

/*
PostSentinelByWildcard1 Send events to the Sentry surface, or write on it

Carries every write on the Sentry-compatible surface: the SDK's error ingest, and the authenticated writes the console makes — creating a project, rotating a project's DSN key, and running a discover query over the events plane.

THE TWO ARE AUTHENTICATED DIFFERENTLY, and that is the rule to get right. An envelope or store submission presents a DSN public key, never a Hanzo session, so it is exempt from the principal gate and verified by the ingest key check instead — which derives the org from the DSN and fails closed. A keyless submission is a 401 from that verifier, not a 403 from the gate, and telling those two apart is how you tell the hops apart. Every other write here needs a validated, org-scoped principal, and creating or rotating requires an editor rather than a viewer.

The ingest exemption is matched by method plus prefix plus suffix, never a bare prefix, and the project segment must be a UUID — so no read is reachable through it. Before the runtime is initialized, 503.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentinelAPIPostSentinelByWildcard1Request
*/
func (a *SentinelAPIService) PostSentinelByWildcard1(ctx context.Context, wildcard1 string) SentinelAPIPostSentinelByWildcard1Request {
	return SentinelAPIPostSentinelByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentinelAPIService) PostSentinelByWildcard1Execute(r SentinelAPIPostSentinelByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PostSentinelByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentinelAPIPostSentinelDiscoverRequest struct {
	ctx                context.Context
	ApiService         *SentinelAPIService
	o11yO11yDiscoverIn *O11yO11yDiscoverIn
}

func (r SentinelAPIPostSentinelDiscoverRequest) O11yO11yDiscoverIn(o11yO11yDiscoverIn O11yO11yDiscoverIn) SentinelAPIPostSentinelDiscoverRequest {
	r.o11yO11yDiscoverIn = &o11yO11yDiscoverIn
	return r
}

func (r SentinelAPIPostSentinelDiscoverRequest) Execute() (*O11yO11yDiscoverOut, *http.Response, error) {
	return r.ApiService.PostSentinelDiscoverExecute(r)
}

/*
PostSentinelDiscover Aggregates a project's captured errors into a table — the caller names the filters, the groupings and the aggregations, and gets back the columns and rows they asked for.

Aggregates a project's captured errors into a table — the caller
names the filters, the groupings and the aggregations, and gets back the
columns and rows they asked for.

The project is mandatory and is checked against the caller's own org before it
scopes anything, so a project id belonging to someone else reads as absent
rather than as data.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentinelAPIPostSentinelDiscoverRequest
*/
func (a *SentinelAPIService) PostSentinelDiscover(ctx context.Context) SentinelAPIPostSentinelDiscoverRequest {
	return SentinelAPIPostSentinelDiscoverRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11yDiscoverOut
func (a *SentinelAPIService) PostSentinelDiscoverExecute(r SentinelAPIPostSentinelDiscoverRequest) (*O11yO11yDiscoverOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yDiscoverOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PostSentinelDiscover")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/discover"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.o11yO11yDiscoverIn == nil {
		return localVarReturnValue, nil, reportError("o11yO11yDiscoverIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.o11yO11yDiscoverIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIPostSentinelProjectsRequest struct {
	ctx                           context.Context
	ApiService                    *SentinelAPIService
	o11yO11ySentryPostableProject *O11yO11ySentryPostableProject
}

func (r SentinelAPIPostSentinelProjectsRequest) O11yO11ySentryPostableProject(o11yO11ySentryPostableProject O11yO11ySentryPostableProject) SentinelAPIPostSentinelProjectsRequest {
	r.o11yO11ySentryPostableProject = &o11yO11ySentryPostableProject
	return r
}

func (r SentinelAPIPostSentinelProjectsRequest) Execute() (*O11yO11ySentryProjectOut, *http.Response, error) {
	return r.ApiService.PostSentinelProjectsExecute(r)
}

/*
PostSentinelProjects Creates a Sentry project under the caller's org and returns it, DSN included.

Creates a Sentry project under the caller's org and
returns it, DSN included. Only the name, and optionally a slug and platform,
are the caller's to set; the org, id and key are server-assigned.

Callers need the editor role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SentinelAPIPostSentinelProjectsRequest
*/
func (a *SentinelAPIService) PostSentinelProjects(ctx context.Context) SentinelAPIPostSentinelProjectsRequest {
	return SentinelAPIPostSentinelProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryProjectOut
func (a *SentinelAPIService) PostSentinelProjectsExecute(r SentinelAPIPostSentinelProjectsRequest) (*O11yO11ySentryProjectOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryProjectOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PostSentinelProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.o11yO11ySentryPostableProject == nil {
		return localVarReturnValue, nil, reportError("o11yO11ySentryPostableProject is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.o11yO11ySentryPostableProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIPostSentinelProjectsByIdKeysRotateRequest struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	id         string
}

func (r SentinelAPIPostSentinelProjectsByIdKeysRotateRequest) Execute() (*O11yO11ySentryProjectOut, *http.Response, error) {
	return r.ApiService.PostSentinelProjectsByIdKeysRotateExecute(r)
}

/*
PostSentinelProjectsByIdKeysRotate Rotates a project's DSN key — bumping its rotation watermark so keys below it stop verifying — and returns the project with its new DSN.

Rotates a project's DSN key — bumping its rotation
watermark so keys below it stop verifying — and returns the project with its
new DSN.

Callers need the editor role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the project id.
	@return SentinelAPIPostSentinelProjectsByIdKeysRotateRequest
*/
func (a *SentinelAPIService) PostSentinelProjectsByIdKeysRotate(ctx context.Context, id string) SentinelAPIPostSentinelProjectsByIdKeysRotateRequest {
	return SentinelAPIPostSentinelProjectsByIdKeysRotateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11ySentryProjectOut
func (a *SentinelAPIService) PostSentinelProjectsByIdKeysRotateExecute(r SentinelAPIPostSentinelProjectsByIdKeysRotateRequest) (*O11yO11ySentryProjectOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11ySentryProjectOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PostSentinelProjectsByIdKeysRotate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/projects/{id}/keys/rotate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentinelAPIPutSentinelByWildcard1Request struct {
	ctx        context.Context
	ApiService *SentinelAPIService
	wildcard1  string
}

func (r SentinelAPIPutSentinelByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.PutSentinelByWildcard1Execute(r)
}

/*
PutSentinelByWildcard1 Move an error issue through its lifecycle

The one replace on the Sentry surface: updating an error ISSUE — resolving it, ignoring it, or assigning it — and answering the updated issue.

Nothing else here takes a replace. A project is created and deleted but never replaced, and the event and trace planes are append-only telemetry, so an issue's lifecycle is the only mutable state this face exposes.

Requires a validated, org-scoped principal with edit rights; a viewer is refused. The write is confined to the org minted from that principal's claim, so an issue id belonging to another tenant is simply not found. Before the runtime is initialized, 503.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return SentinelAPIPutSentinelByWildcard1Request
*/
func (a *SentinelAPIService) PutSentinelByWildcard1(ctx context.Context, wildcard1 string) SentinelAPIPutSentinelByWildcard1Request {
	return SentinelAPIPutSentinelByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *SentinelAPIService) PutSentinelByWildcard1Execute(r SentinelAPIPutSentinelByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PutSentinelByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentinelAPIPutSentinelIssuesByIdRequest struct {
	ctx                         context.Context
	ApiService                  *SentinelAPIService
	id                          string
	o11yO11ySentryUpdateIssueIn *O11yO11ySentryUpdateIssueIn
}

func (r SentinelAPIPutSentinelIssuesByIdRequest) O11yO11ySentryUpdateIssueIn(o11yO11ySentryUpdateIssueIn O11yO11ySentryUpdateIssueIn) SentinelAPIPutSentinelIssuesByIdRequest {
	r.o11yO11ySentryUpdateIssueIn = &o11yO11ySentryUpdateIssueIn
	return r
}

func (r SentinelAPIPutSentinelIssuesByIdRequest) Execute() (*O11yO11yErrorIssueOut, *http.Response, error) {
	return r.ApiService.PutSentinelIssuesByIdExecute(r)
}

/*
PutSentinelIssuesById Changes an issue's lifecycle — resolve, ignore, reopen or assign — and returns the updated issue.

Changes an issue's lifecycle — resolve, ignore, reopen or
assign — and returns the updated issue. Fields left unset are left unchanged.

Callers need the editor role; the runtime's own gate enforces it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the issue id.
	@return SentinelAPIPutSentinelIssuesByIdRequest
*/
func (a *SentinelAPIService) PutSentinelIssuesById(ctx context.Context, id string) SentinelAPIPutSentinelIssuesByIdRequest {
	return SentinelAPIPutSentinelIssuesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return O11yO11yErrorIssueOut
func (a *SentinelAPIService) PutSentinelIssuesByIdExecute(r SentinelAPIPutSentinelIssuesByIdRequest) (*O11yO11yErrorIssueOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yO11yErrorIssueOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentinelAPIService.PutSentinelIssuesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sentinel/issues/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.o11yO11ySentryUpdateIssueIn == nil {
		return localVarReturnValue, nil, reportError("o11yO11ySentryUpdateIssueIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.o11yO11ySentryUpdateIssueIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
