/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CodingAPIService CodingAPI service
type CodingAPIService service

type CodingAPIPostCodingRequest struct {
	ctx           context.Context
	ApiService    *CodingAPIService
	codingStartIn *CodingStartIn
}

func (r CodingAPIPostCodingRequest) CodingStartIn(codingStartIn CodingStartIn) CodingAPIPostCodingRequest {
	r.codingStartIn = &codingStartIn
	return r
}

func (r CodingAPIPostCodingRequest) Execute() (*CodingStarted, *http.Response, error) {
	return r.ApiService.PostCodingExecute(r)
}

/*
PostCoding Start one autonomous coding run against a repo in the caller's org

Runs a coding task on a repository: clones it into a sandbox, lets a model read
and edit the code, run the tests, and push the work to a branch. Say the thing
you want done — "fix the failing auth test in hanzoai/cloud" — and the run
infers the repo, the branch and the plan. No prefix, no ceremony.

It answers 202 with the run's handle the moment the run is ADMITTED — not when
it finishes. A coding run takes minutes; holding a request open for one would
tie a connection to a model loop and give the caller nothing it cannot get
better from the session stream.

The handle is a session id, and that is deliberate: the session is already the
run's durable record and its live stream (/v1/agents/sessions/{id}/stream), so
this door does not grow a progress endpoint, a status endpoint or a cancel
endpoint of its own. One way to watch a run, whoever started it.

It is also how work CONTINUES. Pass an earlier run's session as `after` and
this one starts from where that one stopped, so "now add tests for it" builds
on the branch already pushed instead of a fresh clone. The follow-up still gets
its own branch and its own session — one run, one branch, always reviewable on
its own.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodingAPIPostCodingRequest
*/
func (a *CodingAPIService) PostCoding(ctx context.Context) CodingAPIPostCodingRequest {
	return CodingAPIPostCodingRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CodingStarted
func (a *CodingAPIService) PostCodingExecute(r CodingAPIPostCodingRequest) (*CodingStarted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CodingStarted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodingAPIService.PostCoding")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/coding"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.codingStartIn == nil {
		return localVarReturnValue, nil, reportError("codingStartIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.codingStartIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
