/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ReferralsAPIService ReferralsAPI service
type ReferralsAPIService service

type ReferralsAPIGetReferralsRequest struct {
	ctx        context.Context
	ApiService *ReferralsAPIService
}

func (r ReferralsAPIGetReferralsRequest) Execute() (*MyReferrals, *http.Response, error) {
	return r.ApiService.GetReferralsExecute(r)
}

/*
GetReferrals Returns the caller's referral code, share link and the referrals they have made.

Returns the caller's referral code, share link and the referrals they have made.

The code is a stable, deterministic function of the org, so the link in this
response is the same one every time. Each row carries the referee and the status
of that attribution.

IT IS A PURE READ. It advances no referral, grants nothing and deposits nothing
— a GET reports state, it never changes it. Qualification is the admin sweep's
job (POST /v1/admin/referrals/sweep). The one row this handler can write is the
caller's OWN code-directory entry (EnsureCode), which materialises a value
deriveCode already computes deterministically from the org id so the code has an
O(1) reverse lookup; it carries no money, no referral state and no other tenant.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ReferralsAPIGetReferralsRequest
*/
func (a *ReferralsAPIService) GetReferrals(ctx context.Context) ReferralsAPIGetReferralsRequest {
	return ReferralsAPIGetReferralsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MyReferrals
func (a *ReferralsAPIService) GetReferralsExecute(r ReferralsAPIGetReferralsRequest) (*MyReferrals, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MyReferrals
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferralsAPIService.GetReferrals")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/referrals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReferralsAPIPostReferralsClaimRequest struct {
	ctx          context.Context
	ApiService   *ReferralsAPIService
	claimRequest *ClaimRequest
}

func (r ReferralsAPIPostReferralsClaimRequest) ClaimRequest(claimRequest ClaimRequest) ReferralsAPIPostReferralsClaimRequest {
	r.claimRequest = &claimRequest
	return r
}

func (r ReferralsAPIPostReferralsClaimRequest) Execute() (*ClaimView, *http.Response, error) {
	return r.ApiService.PostReferralsClaimExecute(r)
}

/*
PostReferralsClaim Records that the caller's org signed up through a referral code.

Records that the caller's org signed up through a referral code.

The REFEREE is the validated caller, never a client field, and the referrer is
resolved from the code — so a caller can only ever attach THEMSELVES to someone
else's code. Referring yourself is 400 and an unknown code is 404.

It is idempotent and first-touch: an org can be referred once, ever. A repeat
call returns the referral already on file with created=false and 200, where the
first call answers 201.

Recording a referral grants nothing, and neither does anything downstream of it:
the edge later advances to qualified when the referee makes metered spend
(POST /v1/admin/referrals/sweep), and that is the end of it. No credit is ever
issued from this package.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ReferralsAPIPostReferralsClaimRequest
*/
func (a *ReferralsAPIService) PostReferralsClaim(ctx context.Context) ReferralsAPIPostReferralsClaimRequest {
	return ReferralsAPIPostReferralsClaimRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClaimView
func (a *ReferralsAPIService) PostReferralsClaimExecute(r ReferralsAPIPostReferralsClaimRequest) (*ClaimView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClaimView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferralsAPIService.PostReferralsClaim")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/referrals/claim"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.claimRequest == nil {
		return localVarReturnValue, nil, reportError("claimRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.claimRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
