/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AnalyticsWebsitesAPIService AnalyticsWebsitesAPI service
type AnalyticsWebsitesAPIService service

type AnalyticsWebsitesAPIAnalyticsCreateWebsiteRequest struct {
	ctx                           context.Context
	ApiService                    *AnalyticsWebsitesAPIService
	analyticsCreateWebsiteRequest *AnalyticsCreateWebsiteRequest
}

func (r AnalyticsWebsitesAPIAnalyticsCreateWebsiteRequest) AnalyticsCreateWebsiteRequest(analyticsCreateWebsiteRequest AnalyticsCreateWebsiteRequest) AnalyticsWebsitesAPIAnalyticsCreateWebsiteRequest {
	r.analyticsCreateWebsiteRequest = &analyticsCreateWebsiteRequest
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsCreateWebsiteRequest) Execute() (*AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsCreateWebsiteExecute(r)
}

/*
AnalyticsCreateWebsite Create a new website

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsWebsitesAPIAnalyticsCreateWebsiteRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsCreateWebsite(ctx context.Context) AnalyticsWebsitesAPIAnalyticsCreateWebsiteRequest {
	return AnalyticsWebsitesAPIAnalyticsCreateWebsiteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AnalyticsWebsite
func (a *AnalyticsWebsitesAPIService) AnalyticsCreateWebsiteExecute(r AnalyticsWebsitesAPIAnalyticsCreateWebsiteRequest) (*AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsCreateWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsCreateWebsiteRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsCreateWebsiteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsCreateWebsiteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsDeleteWebsiteRequest struct {
	ctx        context.Context
	ApiService *AnalyticsWebsitesAPIService
	websiteId  string
}

func (r AnalyticsWebsitesAPIAnalyticsDeleteWebsiteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsDeleteWebsiteExecute(r)
}

/*
AnalyticsDeleteWebsite Delete website

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsWebsitesAPIAnalyticsDeleteWebsiteRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsDeleteWebsite(ctx context.Context, websiteId string) AnalyticsWebsitesAPIAnalyticsDeleteWebsiteRequest {
	return AnalyticsWebsitesAPIAnalyticsDeleteWebsiteRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *AnalyticsWebsitesAPIService) AnalyticsDeleteWebsiteExecute(r AnalyticsWebsitesAPIAnalyticsDeleteWebsiteRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsDeleteWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsGetActiveVisitorsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsWebsitesAPIService
	websiteId  string
}

func (r AnalyticsWebsitesAPIAnalyticsGetActiveVisitorsRequest) Execute() (*AnalyticsGetActiveVisitors200Response, *http.Response, error) {
	return r.ApiService.AnalyticsGetActiveVisitorsExecute(r)
}

/*
AnalyticsGetActiveVisitors Get count of active visitors

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsWebsitesAPIAnalyticsGetActiveVisitorsRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsGetActiveVisitors(ctx context.Context, websiteId string) AnalyticsWebsitesAPIAnalyticsGetActiveVisitorsRequest {
	return AnalyticsWebsitesAPIAnalyticsGetActiveVisitorsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return AnalyticsGetActiveVisitors200Response
func (a *AnalyticsWebsitesAPIService) AnalyticsGetActiveVisitorsExecute(r AnalyticsWebsitesAPIAnalyticsGetActiveVisitorsRequest) (*AnalyticsGetActiveVisitors200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsGetActiveVisitors200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsGetActiveVisitors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/active"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsGetWebsiteRequest struct {
	ctx        context.Context
	ApiService *AnalyticsWebsitesAPIService
	websiteId  string
}

func (r AnalyticsWebsitesAPIAnalyticsGetWebsiteRequest) Execute() (*AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteExecute(r)
}

/*
AnalyticsGetWebsite Get website by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsWebsitesAPIAnalyticsGetWebsiteRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsGetWebsite(ctx context.Context, websiteId string) AnalyticsWebsitesAPIAnalyticsGetWebsiteRequest {
	return AnalyticsWebsitesAPIAnalyticsGetWebsiteRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return AnalyticsWebsite
func (a *AnalyticsWebsitesAPIService) AnalyticsGetWebsiteExecute(r AnalyticsWebsitesAPIAnalyticsGetWebsiteRequest) (*AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsGetWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsGetWebsiteDateRangeRequest struct {
	ctx        context.Context
	ApiService *AnalyticsWebsitesAPIService
	websiteId  string
}

func (r AnalyticsWebsitesAPIAnalyticsGetWebsiteDateRangeRequest) Execute() (*AnalyticsGetWebsiteDateRange200Response, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteDateRangeExecute(r)
}

/*
AnalyticsGetWebsiteDateRange Get the date range of data available for a website

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsWebsitesAPIAnalyticsGetWebsiteDateRangeRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsGetWebsiteDateRange(ctx context.Context, websiteId string) AnalyticsWebsitesAPIAnalyticsGetWebsiteDateRangeRequest {
	return AnalyticsWebsitesAPIAnalyticsGetWebsiteDateRangeRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return AnalyticsGetWebsiteDateRange200Response
func (a *AnalyticsWebsitesAPIService) AnalyticsGetWebsiteDateRangeExecute(r AnalyticsWebsitesAPIAnalyticsGetWebsiteDateRangeRequest) (*AnalyticsGetWebsiteDateRange200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsGetWebsiteDateRange200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsGetWebsiteDateRange")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/daterange"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest struct {
	ctx        context.Context
	ApiService *AnalyticsWebsitesAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	type_      *string
	search     *string
}

// Start timestamp in milliseconds
func (r AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest) StartAt(startAt int64) AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest) EndAt(endAt int64) AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest {
	r.endAt = &endAt
	return r
}

// Column type (e.g. browser, os, device, country, url, referrer, title, event, tag, language, region, city, host)
func (r AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest) Type_(type_ string) AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest {
	r.type_ = &type_
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest) Search(search string) AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest {
	r.search = &search
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteValuesExecute(r)
}

/*
AnalyticsGetWebsiteValues Get distinct values for a given column type

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsGetWebsiteValues(ctx context.Context, websiteId string) AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest {
	return AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []string
func (a *AnalyticsWebsitesAPIService) AnalyticsGetWebsiteValuesExecute(r AnalyticsWebsitesAPIAnalyticsGetWebsiteValuesRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsGetWebsiteValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/values"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsListWebsitesRequest struct {
	ctx        context.Context
	ApiService *AnalyticsWebsitesAPIService
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

func (r AnalyticsWebsitesAPIAnalyticsListWebsitesRequest) Page(page int32) AnalyticsWebsitesAPIAnalyticsListWebsitesRequest {
	r.page = &page
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsListWebsitesRequest) PageSize(pageSize int32) AnalyticsWebsitesAPIAnalyticsListWebsitesRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsListWebsitesRequest) OrderBy(orderBy string) AnalyticsWebsitesAPIAnalyticsListWebsitesRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsListWebsitesRequest) Search(search string) AnalyticsWebsitesAPIAnalyticsListWebsitesRequest {
	r.search = &search
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsListWebsitesRequest) Execute() ([]AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsListWebsitesExecute(r)
}

/*
AnalyticsListWebsites List websites owned by current user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsWebsitesAPIAnalyticsListWebsitesRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsListWebsites(ctx context.Context) AnalyticsWebsitesAPIAnalyticsListWebsitesRequest {
	return AnalyticsWebsitesAPIAnalyticsListWebsitesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AnalyticsWebsite
func (a *AnalyticsWebsitesAPIService) AnalyticsListWebsitesExecute(r AnalyticsWebsitesAPIAnalyticsListWebsitesRequest) ([]AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsListWebsites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsResetWebsiteRequest struct {
	ctx        context.Context
	ApiService *AnalyticsWebsitesAPIService
	websiteId  string
}

func (r AnalyticsWebsitesAPIAnalyticsResetWebsiteRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsResetWebsiteExecute(r)
}

/*
AnalyticsResetWebsite Reset all data for a website

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsWebsitesAPIAnalyticsResetWebsiteRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsResetWebsite(ctx context.Context, websiteId string) AnalyticsWebsitesAPIAnalyticsResetWebsiteRequest {
	return AnalyticsWebsitesAPIAnalyticsResetWebsiteRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *AnalyticsWebsitesAPIService) AnalyticsResetWebsiteExecute(r AnalyticsWebsitesAPIAnalyticsResetWebsiteRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsResetWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/reset"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsTransferWebsiteRequest struct {
	ctx                             context.Context
	ApiService                      *AnalyticsWebsitesAPIService
	websiteId                       string
	analyticsTransferWebsiteRequest *AnalyticsTransferWebsiteRequest
}

func (r AnalyticsWebsitesAPIAnalyticsTransferWebsiteRequest) AnalyticsTransferWebsiteRequest(analyticsTransferWebsiteRequest AnalyticsTransferWebsiteRequest) AnalyticsWebsitesAPIAnalyticsTransferWebsiteRequest {
	r.analyticsTransferWebsiteRequest = &analyticsTransferWebsiteRequest
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsTransferWebsiteRequest) Execute() (*AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsTransferWebsiteExecute(r)
}

/*
AnalyticsTransferWebsite Transfer website ownership to another user or team

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsWebsitesAPIAnalyticsTransferWebsiteRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsTransferWebsite(ctx context.Context, websiteId string) AnalyticsWebsitesAPIAnalyticsTransferWebsiteRequest {
	return AnalyticsWebsitesAPIAnalyticsTransferWebsiteRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return AnalyticsWebsite
func (a *AnalyticsWebsitesAPIService) AnalyticsTransferWebsiteExecute(r AnalyticsWebsitesAPIAnalyticsTransferWebsiteRequest) (*AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsTransferWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/transfer"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsTransferWebsiteRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsTransferWebsiteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsTransferWebsiteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsWebsitesAPIAnalyticsUpdateWebsiteRequest struct {
	ctx                           context.Context
	ApiService                    *AnalyticsWebsitesAPIService
	websiteId                     string
	analyticsUpdateWebsiteRequest *AnalyticsUpdateWebsiteRequest
}

func (r AnalyticsWebsitesAPIAnalyticsUpdateWebsiteRequest) AnalyticsUpdateWebsiteRequest(analyticsUpdateWebsiteRequest AnalyticsUpdateWebsiteRequest) AnalyticsWebsitesAPIAnalyticsUpdateWebsiteRequest {
	r.analyticsUpdateWebsiteRequest = &analyticsUpdateWebsiteRequest
	return r
}

func (r AnalyticsWebsitesAPIAnalyticsUpdateWebsiteRequest) Execute() (*AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsUpdateWebsiteExecute(r)
}

/*
AnalyticsUpdateWebsite Update website

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsWebsitesAPIAnalyticsUpdateWebsiteRequest
*/
func (a *AnalyticsWebsitesAPIService) AnalyticsUpdateWebsite(ctx context.Context, websiteId string) AnalyticsWebsitesAPIAnalyticsUpdateWebsiteRequest {
	return AnalyticsWebsitesAPIAnalyticsUpdateWebsiteRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return AnalyticsWebsite
func (a *AnalyticsWebsitesAPIService) AnalyticsUpdateWebsiteExecute(r AnalyticsWebsitesAPIAnalyticsUpdateWebsiteRequest) (*AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsWebsitesAPIService.AnalyticsUpdateWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsUpdateWebsiteRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsUpdateWebsiteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsUpdateWebsiteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
