/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// StreamMessagesAPIService StreamMessagesAPI service
type StreamMessagesAPIService service

type StreamMessagesAPIStreamConsumeMessagesRequest struct {
	ctx        context.Context
	ApiService *StreamMessagesAPIService
	topic      string
	partition  *int32
	offset     *string
	limit      *int32
	timeout    *int32
}

// Partition to consume from
func (r StreamMessagesAPIStreamConsumeMessagesRequest) Partition(partition int32) StreamMessagesAPIStreamConsumeMessagesRequest {
	r.partition = &partition
	return r
}

// Starting offset (earliest, latest, or numeric offset)
func (r StreamMessagesAPIStreamConsumeMessagesRequest) Offset(offset string) StreamMessagesAPIStreamConsumeMessagesRequest {
	r.offset = &offset
	return r
}

// Maximum records to return
func (r StreamMessagesAPIStreamConsumeMessagesRequest) Limit(limit int32) StreamMessagesAPIStreamConsumeMessagesRequest {
	r.limit = &limit
	return r
}

// Long-poll timeout in milliseconds
func (r StreamMessagesAPIStreamConsumeMessagesRequest) Timeout(timeout int32) StreamMessagesAPIStreamConsumeMessagesRequest {
	r.timeout = &timeout
	return r
}

func (r StreamMessagesAPIStreamConsumeMessagesRequest) Execute() (*StreamConsumeMessages200Response, *http.Response, error) {
	return r.ApiService.StreamConsumeMessagesExecute(r)
}

/*
StreamConsumeMessages Consume messages

Consume messages from a topic partition via REST API.
For persistent consumption, use the Kafka wire protocol with consumer groups.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param topic
	@return StreamMessagesAPIStreamConsumeMessagesRequest
*/
func (a *StreamMessagesAPIService) StreamConsumeMessages(ctx context.Context, topic string) StreamMessagesAPIStreamConsumeMessagesRequest {
	return StreamMessagesAPIStreamConsumeMessagesRequest{
		ApiService: a,
		ctx:        ctx,
		topic:      topic,
	}
}

// Execute executes the request
//
//	@return StreamConsumeMessages200Response
func (a *StreamMessagesAPIService) StreamConsumeMessagesExecute(r StreamMessagesAPIStreamConsumeMessagesRequest) (*StreamConsumeMessages200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StreamConsumeMessages200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StreamMessagesAPIService.StreamConsumeMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/stream/topics/{topic}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"topic"+"}", url.PathEscape(parameterValueToString(r.topic, "topic")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.partition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partition", r.partition, "form", "")
	} else {
		var defaultValue int32 = 0
		r.partition = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue string = "latest"
		r.offset = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.timeout != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeout", r.timeout, "form", "")
	} else {
		var defaultValue int32 = 5000
		r.timeout = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type StreamMessagesAPIStreamProduceMessagesRequest struct {
	ctx                  context.Context
	ApiService           *StreamMessagesAPIService
	topic                string
	streamProduceRequest *StreamProduceRequest
}

func (r StreamMessagesAPIStreamProduceMessagesRequest) StreamProduceRequest(streamProduceRequest StreamProduceRequest) StreamMessagesAPIStreamProduceMessagesRequest {
	r.streamProduceRequest = &streamProduceRequest
	return r
}

func (r StreamMessagesAPIStreamProduceMessagesRequest) Execute() (*StreamProduceResponse, *http.Response, error) {
	return r.ApiService.StreamProduceMessagesExecute(r)
}

/*
StreamProduceMessages Produce messages

Produce one or more messages to a topic via REST API.
For high throughput, use the Kafka wire protocol on port 9092.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param topic
	@return StreamMessagesAPIStreamProduceMessagesRequest
*/
func (a *StreamMessagesAPIService) StreamProduceMessages(ctx context.Context, topic string) StreamMessagesAPIStreamProduceMessagesRequest {
	return StreamMessagesAPIStreamProduceMessagesRequest{
		ApiService: a,
		ctx:        ctx,
		topic:      topic,
	}
}

// Execute executes the request
//
//	@return StreamProduceResponse
func (a *StreamMessagesAPIService) StreamProduceMessagesExecute(r StreamMessagesAPIStreamProduceMessagesRequest) (*StreamProduceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StreamProduceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StreamMessagesAPIService.StreamProduceMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/stream/topics/{topic}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"topic"+"}", url.PathEscape(parameterValueToString(r.topic, "topic")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.streamProduceRequest == nil {
		return localVarReturnValue, nil, reportError("streamProduceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.streamProduceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
