/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// LoadBalancersAPIService LoadBalancersAPI service
type LoadBalancersAPIService service

type LoadBalancersAPICloudDeleteV1LoadBalancersIdRequest struct {
	ctx        context.Context
	ApiService *LoadBalancersAPIService
	id         string
}

func (r LoadBalancersAPICloudDeleteV1LoadBalancersIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1LoadBalancersIdExecute(r)
}

/*
CloudDeleteV1LoadBalancersId DeleteLoadBalancer removes one of the caller org's load balancers and answers 204.

DeleteLoadBalancer removes one of the caller org's load balancers and answers
204. Ownership is confirmed by re-fetching the resource before anything is
deleted, so a cross-tenant id is a 404 rather than a delete of another org's
load balancer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DigitalOcean resource id (a UUID), from the path.
	@return LoadBalancersAPICloudDeleteV1LoadBalancersIdRequest
*/
func (a *LoadBalancersAPIService) CloudDeleteV1LoadBalancersId(ctx context.Context, id string) LoadBalancersAPICloudDeleteV1LoadBalancersIdRequest {
	return LoadBalancersAPICloudDeleteV1LoadBalancersIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *LoadBalancersAPIService) CloudDeleteV1LoadBalancersIdExecute(r LoadBalancersAPICloudDeleteV1LoadBalancersIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LoadBalancersAPIService.CloudDeleteV1LoadBalancersId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/load-balancers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LoadBalancersAPICloudGetV1LoadBalancersRequest struct {
	ctx        context.Context
	ApiService *LoadBalancersAPIService
}

func (r LoadBalancersAPICloudGetV1LoadBalancersRequest) Execute() (*CloudLbList, *http.Response, error) {
	return r.ApiService.CloudGetV1LoadBalancersExecute(r)
}

/*
CloudGetV1LoadBalancers ListLoadBalancers returns every load balancer the caller's org owns, under the friendly names the org created them with.

ListLoadBalancers returns every load balancer the caller's org owns, under the
friendly names the org created them with. Same account-wide filter as the VPC
listing: a load balancer outside the caller's "o"<orgHash>- namespace is never
in the answer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LoadBalancersAPICloudGetV1LoadBalancersRequest
*/
func (a *LoadBalancersAPIService) CloudGetV1LoadBalancers(ctx context.Context) LoadBalancersAPICloudGetV1LoadBalancersRequest {
	return LoadBalancersAPICloudGetV1LoadBalancersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudLbList
func (a *LoadBalancersAPIService) CloudGetV1LoadBalancersExecute(r LoadBalancersAPICloudGetV1LoadBalancersRequest) (*CloudLbList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudLbList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LoadBalancersAPIService.CloudGetV1LoadBalancers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/load-balancers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadBalancersAPICloudGetV1LoadBalancersIdRequest struct {
	ctx        context.Context
	ApiService *LoadBalancersAPIService
	id         string
}

func (r LoadBalancersAPICloudGetV1LoadBalancersIdRequest) Execute() (*CloudLbView, *http.Response, error) {
	return r.ApiService.CloudGetV1LoadBalancersIdExecute(r)
}

/*
CloudGetV1LoadBalancersId GetLoadBalancer returns one of the caller org's load balancers by id.

GetLoadBalancer returns one of the caller org's load balancers by id. One that
exists in another org's namespace is reported 404, never 403 — the same
existence-oracle guard the VPC read applies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DigitalOcean resource id (a UUID), from the path.
	@return LoadBalancersAPICloudGetV1LoadBalancersIdRequest
*/
func (a *LoadBalancersAPIService) CloudGetV1LoadBalancersId(ctx context.Context, id string) LoadBalancersAPICloudGetV1LoadBalancersIdRequest {
	return LoadBalancersAPICloudGetV1LoadBalancersIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudLbView
func (a *LoadBalancersAPIService) CloudGetV1LoadBalancersIdExecute(r LoadBalancersAPICloudGetV1LoadBalancersIdRequest) (*CloudLbView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudLbView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LoadBalancersAPIService.CloudGetV1LoadBalancersId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/load-balancers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LoadBalancersAPICloudPostV1LoadBalancersRequest struct {
	ctx              context.Context
	ApiService       *LoadBalancersAPIService
	cloudCreateLBReq *CloudCreateLBReq
}

func (r LoadBalancersAPICloudPostV1LoadBalancersRequest) CloudCreateLBReq(cloudCreateLBReq CloudCreateLBReq) LoadBalancersAPICloudPostV1LoadBalancersRequest {
	r.cloudCreateLBReq = &cloudCreateLBReq
	return r
}

func (r LoadBalancersAPICloudPostV1LoadBalancersRequest) Execute() (*CloudLbView, *http.Response, error) {
	return r.ApiService.CloudPostV1LoadBalancersExecute(r)
}

/*
CloudPostV1LoadBalancers CreateLoadBalancer creates a load balancer in the caller's org namespace and answers 201 with it.

CreateLoadBalancer creates a load balancer in the caller's org namespace and
answers 201 with it. The physical DigitalOcean name is derived server-side from
the validated org; a name that already exists there is a 409. Omitting
forwarding rules yields a usable HTTP 80→80 load balancer rather than a 422.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LoadBalancersAPICloudPostV1LoadBalancersRequest
*/
func (a *LoadBalancersAPIService) CloudPostV1LoadBalancers(ctx context.Context) LoadBalancersAPICloudPostV1LoadBalancersRequest {
	return LoadBalancersAPICloudPostV1LoadBalancersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudLbView
func (a *LoadBalancersAPIService) CloudPostV1LoadBalancersExecute(r LoadBalancersAPICloudPostV1LoadBalancersRequest) (*CloudLbView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudLbView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LoadBalancersAPIService.CloudPostV1LoadBalancers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/load-balancers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateLBReq == nil {
		return localVarReturnValue, nil, reportError("cloudCreateLBReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateLBReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
