/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// KmsApprovalPoliciesAPIService KmsApprovalPoliciesAPI service
type KmsApprovalPoliciesAPIService service

type KmsApprovalPoliciesAPIKmsCreateChangeApprovalPolicyRequest struct {
	ctx                                  context.Context
	ApiService                           *KmsApprovalPoliciesAPIService
	kmsCreateChangeApprovalPolicyRequest *KmsCreateChangeApprovalPolicyRequest
}

func (r KmsApprovalPoliciesAPIKmsCreateChangeApprovalPolicyRequest) KmsCreateChangeApprovalPolicyRequest(kmsCreateChangeApprovalPolicyRequest KmsCreateChangeApprovalPolicyRequest) KmsApprovalPoliciesAPIKmsCreateChangeApprovalPolicyRequest {
	r.kmsCreateChangeApprovalPolicyRequest = &kmsCreateChangeApprovalPolicyRequest
	return r
}

func (r KmsApprovalPoliciesAPIKmsCreateChangeApprovalPolicyRequest) Execute() (*KmsCreateChangeApprovalPolicy200Response, *http.Response, error) {
	return r.ApiService.KmsCreateChangeApprovalPolicyExecute(r)
}

/*
KmsCreateChangeApprovalPolicy Create a secret change approval policy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KmsApprovalPoliciesAPIKmsCreateChangeApprovalPolicyRequest
*/
func (a *KmsApprovalPoliciesAPIService) KmsCreateChangeApprovalPolicy(ctx context.Context) KmsApprovalPoliciesAPIKmsCreateChangeApprovalPolicyRequest {
	return KmsApprovalPoliciesAPIKmsCreateChangeApprovalPolicyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KmsCreateChangeApprovalPolicy200Response
func (a *KmsApprovalPoliciesAPIService) KmsCreateChangeApprovalPolicyExecute(r KmsApprovalPoliciesAPIKmsCreateChangeApprovalPolicyRequest) (*KmsCreateChangeApprovalPolicy200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsCreateChangeApprovalPolicy200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsApprovalPoliciesAPIService.KmsCreateChangeApprovalPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/approval-policies/change"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kmsCreateChangeApprovalPolicyRequest == nil {
		return localVarReturnValue, nil, reportError("kmsCreateChangeApprovalPolicyRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kmsCreateChangeApprovalPolicyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KmsApprovalPoliciesAPIKmsListChangeApprovalPoliciesRequest struct {
	ctx         context.Context
	ApiService  *KmsApprovalPoliciesAPIService
	workspaceId *string
}

func (r KmsApprovalPoliciesAPIKmsListChangeApprovalPoliciesRequest) WorkspaceId(workspaceId string) KmsApprovalPoliciesAPIKmsListChangeApprovalPoliciesRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r KmsApprovalPoliciesAPIKmsListChangeApprovalPoliciesRequest) Execute() (*KmsListChangeApprovalPolicies200Response, *http.Response, error) {
	return r.ApiService.KmsListChangeApprovalPoliciesExecute(r)
}

/*
KmsListChangeApprovalPolicies List secret change approval policies

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KmsApprovalPoliciesAPIKmsListChangeApprovalPoliciesRequest
*/
func (a *KmsApprovalPoliciesAPIService) KmsListChangeApprovalPolicies(ctx context.Context) KmsApprovalPoliciesAPIKmsListChangeApprovalPoliciesRequest {
	return KmsApprovalPoliciesAPIKmsListChangeApprovalPoliciesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KmsListChangeApprovalPolicies200Response
func (a *KmsApprovalPoliciesAPIService) KmsListChangeApprovalPoliciesExecute(r KmsApprovalPoliciesAPIKmsListChangeApprovalPoliciesRequest) (*KmsListChangeApprovalPolicies200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsListChangeApprovalPolicies200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsApprovalPoliciesAPIService.KmsListChangeApprovalPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/approval-policies/change"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceId == nil {
		return localVarReturnValue, nil, reportError("workspaceId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workspaceId", r.workspaceId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
