/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ToolsAPIService ToolsAPI service
type ToolsAPIService service

type ToolsAPICloudGetV1ToolsRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	source     *string
	activated  *string
}

// Source keeps only tools from one source — connector, function, zap-service, agent, skill or mcp. Empty keeps every source.
func (r ToolsAPICloudGetV1ToolsRequest) Source(source string) ToolsAPICloudGetV1ToolsRequest {
	r.source = &source
	return r
}

// Activated keeps only the tools activated for the caller&#39;s org and project, and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPICloudGetV1ToolsRequest) Activated(activated string) ToolsAPICloudGetV1ToolsRequest {
	r.activated = &activated
	return r
}

func (r ToolsAPICloudGetV1ToolsRequest) Execute() (*CloudToolList, *http.Response, error) {
	return r.ApiService.CloudGetV1ToolsExecute(r)
}

/*
CloudGetV1Tools ListTools lists every tool the caller's org and project can reach, from every source, each flagged with whether it is activated.

ListTools lists every tool the caller's org and project can reach, from every
source, each flagged with whether it is activated. This is the discovery
surface: one flat set of names spanning connector actions, user functions,
zap-service routes, agents, skills and the org's own external MCP servers,
deduplicated by name so the highest-precedence source wins a collision. It
lists; it does not call — dispatch is POST /v1/tools/call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPICloudGetV1ToolsRequest
*/
func (a *ToolsAPIService) CloudGetV1Tools(ctx context.Context) ToolsAPICloudGetV1ToolsRequest {
	return ToolsAPICloudGetV1ToolsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudToolList
func (a *ToolsAPIService) CloudGetV1ToolsExecute(r ToolsAPICloudGetV1ToolsRequest) (*CloudToolList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudToolList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.CloudGetV1Tools")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.activated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activated", r.activated, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPICloudGetV1ToolsActivationRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPICloudGetV1ToolsActivationRequest) Execute() (*CloudActivationSet, *http.Response, error) {
	return r.ApiService.CloudGetV1ToolsActivationExecute(r)
}

/*
CloudGetV1ToolsActivation GetActivation reports which tools are switched on for the caller's org and project.

GetActivation reports which tools are switched on for the caller's org and
project. Activation is what makes a tool dispatchable and what makes it visible
to an agent, so this is the set the MCP tool list is drawn from — every other
tool in the registry is discoverable but refused at call time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPICloudGetV1ToolsActivationRequest
*/
func (a *ToolsAPIService) CloudGetV1ToolsActivation(ctx context.Context) ToolsAPICloudGetV1ToolsActivationRequest {
	return ToolsAPICloudGetV1ToolsActivationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudActivationSet
func (a *ToolsAPIService) CloudGetV1ToolsActivationExecute(r ToolsAPICloudGetV1ToolsActivationRequest) (*CloudActivationSet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudActivationSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.CloudGetV1ToolsActivation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/activation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPICloudGetV1ToolsCatalogRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	q          *string
	featured   *string
	official   *string
	limit      *int32
	offset     *int32
}

// Q matches the name, title or description, case-insensitively.
func (r ToolsAPICloudGetV1ToolsCatalogRequest) Q(q string) ToolsAPICloudGetV1ToolsCatalogRequest {
	r.q = &q
	return r
}

// Featured keeps only the listings we put on the front of the shelf, and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPICloudGetV1ToolsCatalogRequest) Featured(featured string) ToolsAPICloudGetV1ToolsCatalogRequest {
	r.featured = &featured
	return r
}

// Official keeps only the vendors&#39; OWN servers — not third-party copies of them — and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPICloudGetV1ToolsCatalogRequest) Official(official string) ToolsAPICloudGetV1ToolsCatalogRequest {
	r.official = &official
	return r
}

// Limit bounds the page: default 50, maximum 200. A value that is not a positive integer reads as the default.
func (r ToolsAPICloudGetV1ToolsCatalogRequest) Limit(limit int32) ToolsAPICloudGetV1ToolsCatalogRequest {
	r.limit = &limit
	return r
}

// Offset skips that many listings.
func (r ToolsAPICloudGetV1ToolsCatalogRequest) Offset(offset int32) ToolsAPICloudGetV1ToolsCatalogRequest {
	r.offset = &offset
	return r
}

func (r ToolsAPICloudGetV1ToolsCatalogRequest) Execute() (*CloudMcpCatalog, *http.Response, error) {
	return r.ApiService.CloudGetV1ToolsCatalogExecute(r)
}

/*
CloudGetV1ToolsCatalog ListCatalog lists the MCP servers the public registries publish, as we hold them: our canonical copy of registry.modelcontextprotocol.io, plus what we decided about each entry.

ListCatalog lists the MCP servers the public registries publish, as we hold
them: our canonical copy of registry.modelcontextprotocol.io, plus what we
decided about each entry.

This is the SHELF an org picks from. A listing with a streamable-http endpoint
can be enabled as-is — POST /v1/mcp/servers with its id — and its tools then
join the org's tool plane and the fleet's MCP door. A listing that only ships a
stdio package needs a process to run it, which is why the transports are on
every entry rather than implied.

Hidden entries are absent: they are the ones we took off the shelf. A platform
SuperAdmin sees them, because the same query answers "what is on the shelf" and
"what is in the catalog" and two queries would drift apart.

It is PAGED — 50 by default, 200 at most. The public registry publishes tens of
thousands of servers, so an unbounded answer is a twenty-megabyte response and a
storefront that renders in a minute. total is the whole match, not the page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPICloudGetV1ToolsCatalogRequest
*/
func (a *ToolsAPIService) CloudGetV1ToolsCatalog(ctx context.Context) ToolsAPICloudGetV1ToolsCatalogRequest {
	return ToolsAPICloudGetV1ToolsCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMcpCatalog
func (a *ToolsAPIService) CloudGetV1ToolsCatalogExecute(r ToolsAPICloudGetV1ToolsCatalogRequest) (*CloudMcpCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMcpCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.CloudGetV1ToolsCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.featured != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "featured", r.featured, "form", "")
	}
	if r.official != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "official", r.official, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPICloudGetV1ToolsCatalogIdRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	id         string
}

func (r ToolsAPICloudGetV1ToolsCatalogIdRequest) Execute() (*CloudMCPListing, *http.Response, error) {
	return r.ApiService.CloudGetV1ToolsCatalogIdExecute(r)
}

/*
CloudGetV1ToolsCatalogId GetListing returns one catalog entry in full: the publisher's description, its repository and site, every package form with the runtime that launches it, and every hosted endpoint.

GetListing returns one catalog entry in full: the publisher's description, its
repository and site, every package form with the runtime that launches it, and
every hosted endpoint. It is what a branding page renders, and what tells a
caller whether the listing can be enabled here and now (a streamable-http
remote) or needs somewhere to run first (a stdio package).

A HIDDEN listing is not served to an org — a shelf that renders what it does
not list would be a way around the shelf — but is served to a SuperAdmin, who
is the one deciding whether to put it back.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the listing, from the path. It is the publisher's reverse-DNS name with its one slash written as an underscore — \"com.stripe_mcp\".
	@return ToolsAPICloudGetV1ToolsCatalogIdRequest
*/
func (a *ToolsAPIService) CloudGetV1ToolsCatalogId(ctx context.Context, id string) ToolsAPICloudGetV1ToolsCatalogIdRequest {
	return ToolsAPICloudGetV1ToolsCatalogIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudMCPListing
func (a *ToolsAPIService) CloudGetV1ToolsCatalogIdExecute(r ToolsAPICloudGetV1ToolsCatalogIdRequest) (*CloudMCPListing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMCPListing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.CloudGetV1ToolsCatalogId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPICloudPatchV1ToolsCatalogIdRequest struct {
	ctx            context.Context
	ApiService     *ToolsAPIService
	id             string
	cloudCurateReq *CloudCurateReq
}

func (r ToolsAPICloudPatchV1ToolsCatalogIdRequest) CloudCurateReq(cloudCurateReq CloudCurateReq) ToolsAPICloudPatchV1ToolsCatalogIdRequest {
	r.cloudCurateReq = &cloudCurateReq
	return r
}

func (r ToolsAPICloudPatchV1ToolsCatalogIdRequest) Execute() (*CloudMCPListing, *http.Response, error) {
	return r.ApiService.CloudPatchV1ToolsCatalogIdExecute(r)
}

/*
CloudPatchV1ToolsCatalogId CurateListing sets what WE say about one catalog entry — hidden, featured, official, logo — and answers with the stored listing.

CurateListing sets what WE say about one catalog entry — hidden, featured,
official, logo — and answers with the stored listing. SuperAdmin only; every
other caller is refused.

Curation is the half of a catalog row a sync cannot write, and this is the only
thing that writes it. The upstream half is never editable here: a description
that disagreed with the publisher's would be a fork of their listing, and the
next sync would silently undo it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the listing to curate, from the path.
	@return ToolsAPICloudPatchV1ToolsCatalogIdRequest
*/
func (a *ToolsAPIService) CloudPatchV1ToolsCatalogId(ctx context.Context, id string) ToolsAPICloudPatchV1ToolsCatalogIdRequest {
	return ToolsAPICloudPatchV1ToolsCatalogIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudMCPListing
func (a *ToolsAPIService) CloudPatchV1ToolsCatalogIdExecute(r ToolsAPICloudPatchV1ToolsCatalogIdRequest) (*CloudMCPListing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMCPListing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.CloudPatchV1ToolsCatalogId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCurateReq == nil {
		return localVarReturnValue, nil, reportError("cloudCurateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCurateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPICloudPostV1ToolsCallRequest struct {
	ctx           context.Context
	ApiService    *ToolsAPIService
	cloudToolCall *CloudToolCall
}

func (r ToolsAPICloudPostV1ToolsCallRequest) CloudToolCall(cloudToolCall CloudToolCall) ToolsAPICloudPostV1ToolsCallRequest {
	r.cloudToolCall = &cloudToolCall
	return r
}

func (r ToolsAPICloudPostV1ToolsCallRequest) Execute() (*CloudToolResult, *http.Response, error) {
	return r.ApiService.CloudPostV1ToolsCallExecute(r)
}

/*
CloudPostV1ToolsCall CallTool runs one of the caller's activated tools and answers with its output.

CallTool runs one of the caller's activated tools and answers with its output.

This is the door onto the tool plane's DYNAMIC half — the half no build-time
catalogue can hold, because it is per-tenant: an org's connected connector
actions, its authored skills, its agents and functions, and the tools of every
external MCP server it registered. A tool's existence, its price and its
activation are all rows, not code, so they cannot be known until the caller is.

One policy, the registry's: resolve by precedence, refuse an unactivated tool
403, settle a priced one through the x402 seam or fail closed 402, then
dispatch to the winning source bound to the caller's own (org, project). One
metered unit, one audit record. A caller can only ever dispatch its own tools.

Discovery is GET /v1/tools — ?activated=true for the callable set.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPICloudPostV1ToolsCallRequest
*/
func (a *ToolsAPIService) CloudPostV1ToolsCall(ctx context.Context) ToolsAPICloudPostV1ToolsCallRequest {
	return ToolsAPICloudPostV1ToolsCallRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudToolResult
func (a *ToolsAPIService) CloudPostV1ToolsCallExecute(r ToolsAPICloudPostV1ToolsCallRequest) (*CloudToolResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudToolResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.CloudPostV1ToolsCall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/call"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudToolCall == nil {
		return localVarReturnValue, nil, reportError("cloudToolCall is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudToolCall
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPICloudPostV1ToolsCatalogSyncRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPICloudPostV1ToolsCatalogSyncRequest) Execute() (*CloudMcpCatalogSync, *http.Response, error) {
	return r.ApiService.CloudPostV1ToolsCatalogSyncExecute(r)
}

/*
CloudPostV1ToolsCatalogSync SyncCatalog pulls the public MCP registry into our canonical copy and reports what changed.

SyncCatalog pulls the public MCP registry into our canonical copy and reports
what changed. SuperAdmin only; every other caller is refused.

It is IDEMPOTENT: a listing is keyed by the publisher's own reverse-DNS name,
so a second pass over an unchanged registry rewrites the same rows and reports
added=0, updated=0. It never deletes — a listing that vanishes upstream may be
one an org has already enabled, and dropping its description would not drop its
server. And it never touches CURATION: hidden, featured, an admin-set official
and a logo survive every sync, because the write does not name those columns.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPICloudPostV1ToolsCatalogSyncRequest
*/
func (a *ToolsAPIService) CloudPostV1ToolsCatalogSync(ctx context.Context) ToolsAPICloudPostV1ToolsCatalogSyncRequest {
	return ToolsAPICloudPostV1ToolsCatalogSyncRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMcpCatalogSync
func (a *ToolsAPIService) CloudPostV1ToolsCatalogSyncExecute(r ToolsAPICloudPostV1ToolsCatalogSyncRequest) (*CloudMcpCatalogSync, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMcpCatalogSync
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.CloudPostV1ToolsCatalogSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPICloudPutV1ToolsActivationRequest struct {
	ctx                context.Context
	ApiService         *ToolsAPIService
	cloudActivationReq *CloudActivationReq
}

func (r ToolsAPICloudPutV1ToolsActivationRequest) CloudActivationReq(cloudActivationReq CloudActivationReq) ToolsAPICloudPutV1ToolsActivationRequest {
	r.cloudActivationReq = &cloudActivationReq
	return r
}

func (r ToolsAPICloudPutV1ToolsActivationRequest) Execute() (*CloudActivationSet, *http.Response, error) {
	return r.ApiService.CloudPutV1ToolsActivationExecute(r)
}

/*
CloudPutV1ToolsActivation PutActivation switches tools on and off for the caller's org and project, and answers with the resulting activated set.

PutActivation switches tools on and off for the caller's org and project, and
answers with the resulting activated set. It is the ONE write path that turns
skills, plugins and connectors into callable tools — an unactivated tool is
listed by discovery but refused 403 at dispatch. Activate is applied before
Deactivate, so a name in both lists ends up off. More than 256 toggles in one
request is refused 413.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPICloudPutV1ToolsActivationRequest
*/
func (a *ToolsAPIService) CloudPutV1ToolsActivation(ctx context.Context) ToolsAPICloudPutV1ToolsActivationRequest {
	return ToolsAPICloudPutV1ToolsActivationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudActivationSet
func (a *ToolsAPIService) CloudPutV1ToolsActivationExecute(r ToolsAPICloudPutV1ToolsActivationRequest) (*CloudActivationSet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudActivationSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.CloudPutV1ToolsActivation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/activation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudActivationReq == nil {
		return localVarReturnValue, nil, reportError("cloudActivationReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudActivationReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
