/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MarketplaceAPIService MarketplaceAPI service
type MarketplaceAPIService service

type MarketplaceAPICloudDeleteV1MarketplaceListingsIdRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
	id         string
}

func (r MarketplaceAPICloudDeleteV1MarketplaceListingsIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1MarketplaceListingsIdExecute(r)
}

/*
CloudDeleteV1MarketplaceListingsId Unpublish withdraws one of the caller org's listings from the marketplace and answers 204.

Unpublish withdraws one of the caller org's listings from the marketplace and
answers 204. Only the publishing org can remove its own listing; an id that is
unknown, or belongs to another org, is the same 404, so a probe learns nothing
about what exists. Removing a listing removes its price from per-call enforcement;
it does not uninstall the tool for anyone who already installed it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the listing to unpublish, from the path.
	@return MarketplaceAPICloudDeleteV1MarketplaceListingsIdRequest
*/
func (a *MarketplaceAPIService) CloudDeleteV1MarketplaceListingsId(ctx context.Context, id string) MarketplaceAPICloudDeleteV1MarketplaceListingsIdRequest {
	return MarketplaceAPICloudDeleteV1MarketplaceListingsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MarketplaceAPIService) CloudDeleteV1MarketplaceListingsIdExecute(r MarketplaceAPICloudDeleteV1MarketplaceListingsIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.CloudDeleteV1MarketplaceListingsId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/listings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketplaceAPICloudGetV1MarketplaceRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
}

func (r MarketplaceAPICloudGetV1MarketplaceRequest) Execute() (*CloudMarketCatalog, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketplaceExecute(r)
}

/*
CloudGetV1Marketplace Discover lists every tool and agent the caller can reach in their own org and project, enriched with any public listing's title, category and price, and with installed=true on the ones already activated for that scope.

Discover lists every tool and agent the caller can reach in their own org and
project, enriched with any public listing's title, category and price, and with
installed=true on the ones already activated for that scope. It is the shop
window: one read that answers what exists, what it costs and what is already on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPICloudGetV1MarketplaceRequest
*/
func (a *MarketplaceAPIService) CloudGetV1Marketplace(ctx context.Context) MarketplaceAPICloudGetV1MarketplaceRequest {
	return MarketplaceAPICloudGetV1MarketplaceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMarketCatalog
func (a *MarketplaceAPIService) CloudGetV1MarketplaceExecute(r MarketplaceAPICloudGetV1MarketplaceRequest) (*CloudMarketCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMarketCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.CloudGetV1Marketplace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketplaceAPICloudGetV1MarketplaceListingsRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
}

func (r MarketplaceAPICloudGetV1MarketplaceListingsRequest) Execute() (*CloudListingPage, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketplaceListingsExecute(r)
}

/*
CloudGetV1MarketplaceListings ListListings returns the listings the caller's own org has published — what this org is offering, not what it can buy.

ListListings returns the listings the caller's own org has published — what this
org is offering, not what it can buy. A publisher only ever sees its own rows.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPICloudGetV1MarketplaceListingsRequest
*/
func (a *MarketplaceAPIService) CloudGetV1MarketplaceListings(ctx context.Context) MarketplaceAPICloudGetV1MarketplaceListingsRequest {
	return MarketplaceAPICloudGetV1MarketplaceListingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudListingPage
func (a *MarketplaceAPIService) CloudGetV1MarketplaceListingsExecute(r MarketplaceAPICloudGetV1MarketplaceListingsRequest) (*CloudListingPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudListingPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.CloudGetV1MarketplaceListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/listings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketplaceAPICloudPostV1MarketplaceInstallRequest struct {
	ctx             context.Context
	ApiService      *MarketplaceAPIService
	cloudInstallReq *CloudInstallReq
}

func (r MarketplaceAPICloudPostV1MarketplaceInstallRequest) CloudInstallReq(cloudInstallReq CloudInstallReq) MarketplaceAPICloudPostV1MarketplaceInstallRequest {
	r.cloudInstallReq = &cloudInstallReq
	return r
}

func (r MarketplaceAPICloudPostV1MarketplaceInstallRequest) Execute() (*CloudInstallState, *http.Response, error) {
	return r.ApiService.CloudPostV1MarketplaceInstallExecute(r)
}

/*
CloudPostV1MarketplaceInstall Install activates one tool for the caller's own org and project.

Install activates one tool for the caller's own org and project. A marketplace
install IS the tool plane's activation write — one store, one truth — so an
installed capability is immediately dispatchable and a monetized one is priced
from its listing at every call. The tool must resolve in the caller's scope, so
installing something that does not exist is refused rather than recorded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPICloudPostV1MarketplaceInstallRequest
*/
func (a *MarketplaceAPIService) CloudPostV1MarketplaceInstall(ctx context.Context) MarketplaceAPICloudPostV1MarketplaceInstallRequest {
	return MarketplaceAPICloudPostV1MarketplaceInstallRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudInstallState
func (a *MarketplaceAPIService) CloudPostV1MarketplaceInstallExecute(r MarketplaceAPICloudPostV1MarketplaceInstallRequest) (*CloudInstallState, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudInstallState
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.CloudPostV1MarketplaceInstall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/install"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudInstallReq == nil {
		return localVarReturnValue, nil, reportError("cloudInstallReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudInstallReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketplaceAPICloudPostV1MarketplaceListingsRequest struct {
	ctx             context.Context
	ApiService      *MarketplaceAPIService
	cloudPublishReq *CloudPublishReq
}

func (r MarketplaceAPICloudPostV1MarketplaceListingsRequest) CloudPublishReq(cloudPublishReq CloudPublishReq) MarketplaceAPICloudPostV1MarketplaceListingsRequest {
	r.cloudPublishReq = &cloudPublishReq
	return r
}

func (r MarketplaceAPICloudPostV1MarketplaceListingsRequest) Execute() (*CloudListing, *http.Response, error) {
	return r.ApiService.CloudPostV1MarketplaceListingsExecute(r)
}

/*
CloudPostV1MarketplaceListings Publish offers one tool on the marketplace, optionally monetized.

Publish offers one tool on the marketplace, optionally monetized. The tool must
already resolve in the publisher's own scope, so a listing can never advertise a
capability that does not exist; a listing with a price must name the payout wallet
the x402 seam settles to, so a monetized offer is never unpayable. The price is
exact to 18 decimal places, so a per-call price below a cent is a real price and
not a rounded-away zero. The listing is owned by the publishing org, paid into a
wallet of that same org, and answers 201 with the created row.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPICloudPostV1MarketplaceListingsRequest
*/
func (a *MarketplaceAPIService) CloudPostV1MarketplaceListings(ctx context.Context) MarketplaceAPICloudPostV1MarketplaceListingsRequest {
	return MarketplaceAPICloudPostV1MarketplaceListingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudListing
func (a *MarketplaceAPIService) CloudPostV1MarketplaceListingsExecute(r MarketplaceAPICloudPostV1MarketplaceListingsRequest) (*CloudListing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudListing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.CloudPostV1MarketplaceListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/listings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPublishReq == nil {
		return localVarReturnValue, nil, reportError("cloudPublishReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPublishReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketplaceAPICloudPostV1MarketplaceUninstallRequest struct {
	ctx             context.Context
	ApiService      *MarketplaceAPIService
	cloudInstallReq *CloudInstallReq
}

func (r MarketplaceAPICloudPostV1MarketplaceUninstallRequest) CloudInstallReq(cloudInstallReq CloudInstallReq) MarketplaceAPICloudPostV1MarketplaceUninstallRequest {
	r.cloudInstallReq = &cloudInstallReq
	return r
}

func (r MarketplaceAPICloudPostV1MarketplaceUninstallRequest) Execute() (*CloudInstallState, *http.Response, error) {
	return r.ApiService.CloudPostV1MarketplaceUninstallExecute(r)
}

/*
CloudPostV1MarketplaceUninstall Uninstall deactivates one tool for the caller's own org and project, so it stops being dispatchable there.

Uninstall deactivates one tool for the caller's own org and project, so it stops
being dispatchable there. It is the exact inverse of install and touches the same
activation record; deactivating something that was never active is not an error.
The listing itself is untouched — this withdraws the caller's use of a capability,
not anyone's offer of it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPICloudPostV1MarketplaceUninstallRequest
*/
func (a *MarketplaceAPIService) CloudPostV1MarketplaceUninstall(ctx context.Context) MarketplaceAPICloudPostV1MarketplaceUninstallRequest {
	return MarketplaceAPICloudPostV1MarketplaceUninstallRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudInstallState
func (a *MarketplaceAPIService) CloudPostV1MarketplaceUninstallExecute(r MarketplaceAPICloudPostV1MarketplaceUninstallRequest) (*CloudInstallState, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudInstallState
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.CloudPostV1MarketplaceUninstall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/uninstall"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudInstallReq == nil {
		return localVarReturnValue, nil, reportError("cloudInstallReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudInstallReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
