/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// PubsubSubscribeAPIService PubsubSubscribeAPI service
type PubsubSubscribeAPIService service

type PubsubSubscribeAPIPubsubSubscribeRequest struct {
	ctx        context.Context
	ApiService *PubsubSubscribeAPIService
	subject    *string
	queue      *string
}

// Subject to subscribe to (supports wildcards)
func (r PubsubSubscribeAPIPubsubSubscribeRequest) Subject(subject string) PubsubSubscribeAPIPubsubSubscribeRequest {
	r.subject = &subject
	return r
}

// Queue group name for load-balanced delivery
func (r PubsubSubscribeAPIPubsubSubscribeRequest) Queue(queue string) PubsubSubscribeAPIPubsubSubscribeRequest {
	r.queue = &queue
	return r
}

func (r PubsubSubscribeAPIPubsubSubscribeRequest) Execute() (*PubsubMessage, *http.Response, error) {
	return r.ApiService.PubsubSubscribeExecute(r)
}

/*
PubsubSubscribe Subscribe to a subject (SSE)

Subscribe to messages on a subject using Server-Sent Events.
Supports wildcard subscriptions (`>` for multi-level, `*` for single-level).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubsubSubscribeAPIPubsubSubscribeRequest
*/
func (a *PubsubSubscribeAPIService) PubsubSubscribe(ctx context.Context) PubsubSubscribeAPIPubsubSubscribeRequest {
	return PubsubSubscribeAPIPubsubSubscribeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PubsubMessage
func (a *PubsubSubscribeAPIService) PubsubSubscribeExecute(r PubsubSubscribeAPIPubsubSubscribeRequest) (*PubsubMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PubsubMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubSubscribeAPIService.PubsubSubscribe")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/subscribe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.subject == nil {
		return localVarReturnValue, nil, reportError("subject is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "subject", r.subject, "form", "")
	if r.queue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "queue", r.queue, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
