/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// EntitlementAPIService EntitlementAPI service
type EntitlementAPIService service

type EntitlementAPIGetEntitlementRequest struct {
	ctx        context.Context
	ApiService *EntitlementAPIService
}

func (r EntitlementAPIGetEntitlementRequest) Execute() (*ProjectionView, *http.Response, error) {
	return r.ApiService.GetEntitlementExecute(r)
}

/*
GetEntitlement Projection reports which console apps the CALLER's org may open, and the plan slug that decides it.

Projection reports which console apps the CALLER's org may open, and the plan slug
that decides it. It is the READ side of the unified paywall: the org's plan tier
resolved from commerce, which is a different authority from the enablement store
behind GET /v1/entitlement/orgs/{org} (that one is the org's own on/off intent).

It fails SAFE-TO-LOCKED, never 500: an unvalidated principal is a 403, but a
commerce outage reports every app locked at 200 rather than breaking the shell.
The ENFORCEMENT path still fails open, so functionality survives the same outage
even while the UI conservatively shows locked.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EntitlementAPIGetEntitlementRequest
*/
func (a *EntitlementAPIService) GetEntitlement(ctx context.Context) EntitlementAPIGetEntitlementRequest {
	return EntitlementAPIGetEntitlementRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectionView
func (a *EntitlementAPIService) GetEntitlementExecute(r EntitlementAPIGetEntitlementRequest) (*ProjectionView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectionView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EntitlementAPIService.GetEntitlement")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/entitlement"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EntitlementAPIGetEntitlementOrgsByOrgRequest struct {
	ctx        context.Context
	ApiService *EntitlementAPIService
	org        string
}

func (r EntitlementAPIGetEntitlementOrgsByOrgRequest) Execute() (*EntitlementsView, *http.Response, error) {
	return r.ApiService.GetEntitlementOrgsByOrgExecute(r)
}

/*
GetEntitlementOrgsByOrg Get lists the products an org has ENABLED — its own intent, which the console's paid-product sidebar reads to decide what to show.

Get lists the products an org has ENABLED — its own intent, which the console's
paid-product sidebar reads to decide what to show. It is distinct from what the
org's plan ENTITLES it to (that is GET /v1/entitlement, resolved from commerce).

A caller may only read its OWN org's row; a platform super admin may read any.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@return EntitlementAPIGetEntitlementOrgsByOrgRequest
*/
func (a *EntitlementAPIService) GetEntitlementOrgsByOrg(ctx context.Context, org string) EntitlementAPIGetEntitlementOrgsByOrgRequest {
	return EntitlementAPIGetEntitlementOrgsByOrgRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return EntitlementsView
func (a *EntitlementAPIService) GetEntitlementOrgsByOrgExecute(r EntitlementAPIGetEntitlementOrgsByOrgRequest) (*EntitlementsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EntitlementsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EntitlementAPIService.GetEntitlementOrgsByOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/entitlement/orgs/{org}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EntitlementAPIPostEntitlementOrgsByOrgRequest struct {
	ctx        context.Context
	ApiService *EntitlementAPIService
	org        string
	mutateReq  *MutateReq
}

func (r EntitlementAPIPostEntitlementOrgsByOrgRequest) MutateReq(mutateReq MutateReq) EntitlementAPIPostEntitlementOrgsByOrgRequest {
	r.mutateReq = &mutateReq
	return r
}

func (r EntitlementAPIPostEntitlementOrgsByOrgRequest) Execute() (*EntitlementsView, *http.Response, error) {
	return r.ApiService.PostEntitlementOrgsByOrgExecute(r)
}

/*
PostEntitlementOrgsByOrg Post turns products on or off for an org and returns the enabled set afterwards.

Post turns products on or off for an org and returns the enabled set afterwards.

A product may only be ENABLED if the org's plan already ENTITLES it, so enabling
never spends new money — a product the plan does not grant answers 402 and the
console routes that to an upgrade prompt. DISABLING is never gated. A platform
super admin bypasses the plan check (operator comp/grant) and may target any org;
everyone else may only change their own. Commerce unreachable is a 503, never an
implicit yes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@return EntitlementAPIPostEntitlementOrgsByOrgRequest
*/
func (a *EntitlementAPIService) PostEntitlementOrgsByOrg(ctx context.Context, org string) EntitlementAPIPostEntitlementOrgsByOrgRequest {
	return EntitlementAPIPostEntitlementOrgsByOrgRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return EntitlementsView
func (a *EntitlementAPIService) PostEntitlementOrgsByOrgExecute(r EntitlementAPIPostEntitlementOrgsByOrgRequest) (*EntitlementsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EntitlementsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EntitlementAPIService.PostEntitlementOrgsByOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/entitlement/orgs/{org}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mutateReq == nil {
		return localVarReturnValue, nil, reportError("mutateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mutateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
