/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// OperativeComputerAPIService OperativeComputerAPI service
type OperativeComputerAPIService service

type OperativeComputerAPIOperativeComputerActionRequest struct {
	ctx                            context.Context
	ApiService                     *OperativeComputerAPIService
	sessionId                      string
	operativeComputerActionRequest *OperativeComputerActionRequest
}

func (r OperativeComputerAPIOperativeComputerActionRequest) OperativeComputerActionRequest(operativeComputerActionRequest OperativeComputerActionRequest) OperativeComputerAPIOperativeComputerActionRequest {
	r.operativeComputerActionRequest = &operativeComputerActionRequest
	return r
}

func (r OperativeComputerAPIOperativeComputerActionRequest) Execute() (*OperativeToolResult, *http.Response, error) {
	return r.ApiService.OperativeComputerActionExecute(r)
}

/*
OperativeComputerAction Execute a computer action

Execute a direct computer interaction action such as mouse clicks,
keyboard input, scrolling, or taking a screenshot.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sessionId Unique session identifier
	@return OperativeComputerAPIOperativeComputerActionRequest
*/
func (a *OperativeComputerAPIService) OperativeComputerAction(ctx context.Context, sessionId string) OperativeComputerAPIOperativeComputerActionRequest {
	return OperativeComputerAPIOperativeComputerActionRequest{
		ApiService: a,
		ctx:        ctx,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return OperativeToolResult
func (a *OperativeComputerAPIService) OperativeComputerActionExecute(r OperativeComputerAPIOperativeComputerActionRequest) (*OperativeToolResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OperativeToolResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperativeComputerAPIService.OperativeComputerAction")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/operative/sessions/{sessionId}/computer"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.operativeComputerActionRequest == nil {
		return localVarReturnValue, nil, reportError("operativeComputerActionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.operativeComputerActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OperativeComputerAPIOperativeTakeScreenshotRequest struct {
	ctx        context.Context
	ApiService *OperativeComputerAPIService
	sessionId  string
}

func (r OperativeComputerAPIOperativeTakeScreenshotRequest) Execute() (*OperativeScreenshotResult, *http.Response, error) {
	return r.ApiService.OperativeTakeScreenshotExecute(r)
}

/*
OperativeTakeScreenshot Take a screenshot of the current desktop

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sessionId Unique session identifier
	@return OperativeComputerAPIOperativeTakeScreenshotRequest
*/
func (a *OperativeComputerAPIService) OperativeTakeScreenshot(ctx context.Context, sessionId string) OperativeComputerAPIOperativeTakeScreenshotRequest {
	return OperativeComputerAPIOperativeTakeScreenshotRequest{
		ApiService: a,
		ctx:        ctx,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return OperativeScreenshotResult
func (a *OperativeComputerAPIService) OperativeTakeScreenshotExecute(r OperativeComputerAPIOperativeTakeScreenshotRequest) (*OperativeScreenshotResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OperativeScreenshotResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperativeComputerAPIService.OperativeTakeScreenshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/operative/sessions/{sessionId}/screenshot"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "image/png"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
