/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// FleetAPIService FleetAPI service
type FleetAPIService service

type FleetAPICloudCancelFleetJobRequest struct {
	ctx            context.Context
	ApiService     *FleetAPIService
	id             string
	cloudJobCancel *CloudJobCancel
}

func (r FleetAPICloudCancelFleetJobRequest) CloudJobCancel(cloudJobCancel CloudJobCancel) FleetAPICloudCancelFleetJobRequest {
	r.cloudJobCancel = &cloudJobCancel
	return r
}

func (r FleetAPICloudCancelFleetJobRequest) Execute() (*CloudJobCanceled, *http.Response, error) {
	return r.ApiService.CloudCancelFleetJobExecute(r)
}

/*
CloudCancelFleetJob Cancels a queued or running render in the caller's org.

Cancels a queued or running render in the caller's org. The engine
cancel is org-scoped, so a tenant can only ever cancel its OWN job: a job in
another tenant's shard is 404, exactly like one that never existed. An
already-finished job is 409.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the job (activity) id, from the URL path.
	@return FleetAPICloudCancelFleetJobRequest
*/
func (a *FleetAPIService) CloudCancelFleetJob(ctx context.Context, id string) FleetAPICloudCancelFleetJobRequest {
	return FleetAPICloudCancelFleetJobRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudJobCanceled
func (a *FleetAPIService) CloudCancelFleetJobExecute(r FleetAPICloudCancelFleetJobRequest) (*CloudJobCanceled, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudJobCanceled
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FleetAPIService.CloudCancelFleetJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/fleet/jobs/{id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudJobCancel == nil {
		return localVarReturnValue, nil, reportError("cloudJobCancel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudJobCancel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FleetAPICloudListFleetRequest struct {
	ctx        context.Context
	ApiService *FleetAPIService
}

func (r FleetAPICloudListFleetRequest) Execute() (*CloudFleetBoard, *http.Response, error) {
	return r.ApiService.CloudListFleetExecute(r)
}

/*
CloudListFleet Returns every compute unit the caller's org has, from every source, each carrying its latest utilization: agent run-targets, the BYO machines that dialed in, attached BYO clusters and Visor-provisioned machines.

Returns every compute unit the caller's org has, from every source, each
carrying its latest utilization: agent run-targets, the BYO machines that dialed
in, attached BYO clusters and Visor-provisioned machines.

A unit with a live snapshot of its own keeps it; the rest are overlaid from the
utilization series, and only when the sample agrees about the SOURCE — two planes
could mint the same unit id, and a board must never show one machine's load on
another's row. BYO GPU units also carry their gpu-jobs queue depth. Every source
is folded in independently: a broken one costs its own rows and nothing else.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FleetAPICloudListFleetRequest
*/
func (a *FleetAPIService) CloudListFleet(ctx context.Context) FleetAPICloudListFleetRequest {
	return FleetAPICloudListFleetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFleetBoard
func (a *FleetAPIService) CloudListFleetExecute(r FleetAPICloudListFleetRequest) (*CloudFleetBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFleetBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FleetAPIService.CloudListFleet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/fleet"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FleetAPICloudListFleetJobsRequest struct {
	ctx        context.Context
	ApiService *FleetAPIService
	gpu        *string
	status     *string
}

// GPU selects one node&#39;s lane: jobs TARGETED at it (gpu:&lt;node&gt;) or CLAIMED by it. The literal \&quot;shared\&quot; selects the any-GPU lane — no target, no claimant. Matched case-insensitively.
func (r FleetAPICloudListFleetJobsRequest) Gpu(gpu string) FleetAPICloudListFleetJobsRequest {
	r.gpu = &gpu
	return r
}

// Status selects one lifecycle state: queued, running, stalled, completed, failed or canceled.
func (r FleetAPICloudListFleetJobsRequest) Status(status string) FleetAPICloudListFleetJobsRequest {
	r.status = &status
	return r
}

func (r FleetAPICloudListFleetJobsRequest) Execute() (*CloudJobList, *http.Response, error) {
	return r.ApiService.CloudListFleetJobsExecute(r)
}

/*
CloudListFleetJobs Returns the caller org's gpu-jobs render queue, each row tagged with the GPU it targets (empty = the shared any-GPU lane) and the node claiming it, optionally narrowed to one GPU's queue and/or one status.

Returns the caller org's gpu-jobs render queue, each row tagged with
the GPU it targets (empty = the shared any-GPU lane) and the node claiming it,
optionally narrowed to one GPU's queue and/or one status.

A job whose worker died — STARTED with an elapsed lease and not yet reclaimed —
reads "stalled", not "running". Fail-soft: an unavailable tasks engine yields an
empty queue rather than an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FleetAPICloudListFleetJobsRequest
*/
func (a *FleetAPIService) CloudListFleetJobs(ctx context.Context) FleetAPICloudListFleetJobsRequest {
	return FleetAPICloudListFleetJobsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudJobList
func (a *FleetAPIService) CloudListFleetJobsExecute(r FleetAPICloudListFleetJobsRequest) (*CloudJobList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudJobList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FleetAPIService.CloudListFleetJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/fleet/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.gpu != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu", r.gpu, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FleetAPICloudListFleetSamplesRequest struct {
	ctx        context.Context
	ApiService *FleetAPIService
	unit       *string
	source     *string
	range_     *string
}

// Unit selects one compute unit&#39;s series by its source-local id.
func (r FleetAPICloudListFleetSamplesRequest) Unit(unit string) FleetAPICloudListFleetSamplesRequest {
	r.unit = &unit
	return r
}

// Source selects one plane: \&quot;agent\&quot;, \&quot;byo\&quot; or \&quot;visor\&quot;.
func (r FleetAPICloudListFleetSamplesRequest) Source(source string) FleetAPICloudListFleetSamplesRequest {
	r.source = &source
	return r
}

// Range is the lookback window (e.g. \&quot;1h\&quot;, \&quot;24h\&quot;, \&quot;7d\&quot;); empty takes the warehouse default.
func (r FleetAPICloudListFleetSamplesRequest) Range_(range_ string) FleetAPICloudListFleetSamplesRequest {
	r.range_ = &range_
	return r
}

func (r FleetAPICloudListFleetSamplesRequest) Execute() (*CloudSampleList, *http.Response, error) {
	return r.ApiService.CloudListFleetSamplesExecute(r)
}

/*
CloudListFleetSamples Returns the caller org's utilization series, oldest first.

Returns the caller org's utilization series, oldest first.

A rejected narrower is a 400 carrying its own reason (the vocabulary is ours and
safe to echo); a warehouse failure is logged and answered 503 "unavailable",
because a chart that silently reads "no load" when the truth is "we cannot tell"
is worse than one that says so. An ABSENT warehouse is different again: it returns
an empty series, which renders honestly as "no samples yet".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FleetAPICloudListFleetSamplesRequest
*/
func (a *FleetAPIService) CloudListFleetSamples(ctx context.Context) FleetAPICloudListFleetSamplesRequest {
	return FleetAPICloudListFleetSamplesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSampleList
func (a *FleetAPIService) CloudListFleetSamplesExecute(r FleetAPICloudListFleetSamplesRequest) (*CloudSampleList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSampleList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FleetAPIService.CloudListFleetSamples")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/fleet/samples"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.unit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unit", r.unit, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FleetAPICloudListFleetWorkersRequest struct {
	ctx        context.Context
	ApiService *FleetAPIService
}

func (r FleetAPICloudListFleetWorkersRequest) Execute() (*CloudWorkerList, *http.Response, error) {
	return r.ApiService.CloudListFleetWorkersExecute(r)
}

/*
CloudListFleetWorkers Returns the caller org's BYO machines — the ones that dialed in via `hanzo link` — with everything each host reported about itself.

Returns the caller org's BYO machines — the ones that dialed in
via `hanzo link` — with everything each host reported about itself. The Machines
and GPUs pages fold the same data into their normalized shapes; this is the
canonical raw list a fleet view (or the CLI's `status`) reads.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FleetAPICloudListFleetWorkersRequest
*/
func (a *FleetAPIService) CloudListFleetWorkers(ctx context.Context) FleetAPICloudListFleetWorkersRequest {
	return FleetAPICloudListFleetWorkersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudWorkerList
func (a *FleetAPIService) CloudListFleetWorkersExecute(r FleetAPICloudListFleetWorkersRequest) (*CloudWorkerList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudWorkerList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FleetAPIService.CloudListFleetWorkers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/fleet/workers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FleetAPICloudRecordFleetSampleRequest struct {
	ctx               context.Context
	ApiService        *FleetAPIService
	cloudSampleIngest *CloudSampleIngest
}

func (r FleetAPICloudRecordFleetSampleRequest) CloudSampleIngest(cloudSampleIngest CloudSampleIngest) FleetAPICloudRecordFleetSampleRequest {
	r.cloudSampleIngest = &cloudSampleIngest
	return r
}

func (r FleetAPICloudRecordFleetSampleRequest) Execute() (*CloudSampleAccepted, *http.Response, error) {
	return r.ApiService.CloudRecordFleetSampleExecute(r)
}

/*
CloudRecordFleetSample Records a BYO worker's live GPU utilization into the SAME series the fleet board overlays.

Records a BYO worker's live GPU utilization into the SAME series the
fleet board overlays. The org is the validated principal and source/kind are fixed
server-side, so a worker names only its own metrics — never another tenant or
another source. Answers 202: the warehouse write is DETACHED (its own bounded
context, never in the response path), so a slow or absent warehouse cannot stall a
heartbeat.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FleetAPICloudRecordFleetSampleRequest
*/
func (a *FleetAPIService) CloudRecordFleetSample(ctx context.Context) FleetAPICloudRecordFleetSampleRequest {
	return FleetAPICloudRecordFleetSampleRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSampleAccepted
func (a *FleetAPIService) CloudRecordFleetSampleExecute(r FleetAPICloudRecordFleetSampleRequest) (*CloudSampleAccepted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSampleAccepted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FleetAPIService.CloudRecordFleetSample")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/fleet/samples"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudSampleIngest == nil {
		return localVarReturnValue, nil, reportError("cloudSampleIngest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudSampleIngest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
