/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CaptableAPIService CaptableAPI service
type CaptableAPIService service

type CaptableAPICloudDeleteV1CaptableConvertiblesIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPICloudDeleteV1CaptableConvertiblesIdRequest) Execute() (*CloudCaptableDeleted, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CaptableConvertiblesIdExecute(r)
}

/*
CloudDeleteV1CaptableConvertiblesId DeleteConvertible removes one of the caller org's convertible notes, taking its principal out of the cap table's unconverted-instrument totals.

DeleteConvertible removes one of the caller org's convertible notes, taking its
principal out of the cap table's unconverted-instrument totals. An id this org
does not hold is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the convertible note to delete.
	@return CaptableAPICloudDeleteV1CaptableConvertiblesIdRequest
*/
func (a *CaptableAPIService) CloudDeleteV1CaptableConvertiblesId(ctx context.Context, id string) CaptableAPICloudDeleteV1CaptableConvertiblesIdRequest {
	return CaptableAPICloudDeleteV1CaptableConvertiblesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCaptableDeleted
func (a *CaptableAPIService) CloudDeleteV1CaptableConvertiblesIdExecute(r CaptableAPICloudDeleteV1CaptableConvertiblesIdRequest) (*CloudCaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudDeleteV1CaptableConvertiblesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/convertibles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudDeleteV1CaptableOptionsIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPICloudDeleteV1CaptableOptionsIdRequest) Execute() (*CloudCaptableDeleted, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CaptableOptionsIdExecute(r)
}

/*
CloudDeleteV1CaptableOptionsId DeleteOption removes one of the caller org's option grants, taking its shares out of the cap table's granted-options and fully-diluted counts.

DeleteOption removes one of the caller org's option grants, taking its shares
out of the cap table's granted-options and fully-diluted counts. An id this org
does not hold is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the option grant to delete.
	@return CaptableAPICloudDeleteV1CaptableOptionsIdRequest
*/
func (a *CaptableAPIService) CloudDeleteV1CaptableOptionsId(ctx context.Context, id string) CaptableAPICloudDeleteV1CaptableOptionsIdRequest {
	return CaptableAPICloudDeleteV1CaptableOptionsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCaptableDeleted
func (a *CaptableAPIService) CloudDeleteV1CaptableOptionsIdExecute(r CaptableAPICloudDeleteV1CaptableOptionsIdRequest) (*CloudCaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudDeleteV1CaptableOptionsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/options/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudDeleteV1CaptableSafesIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPICloudDeleteV1CaptableSafesIdRequest) Execute() (*CloudCaptableDeleted, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CaptableSafesIdExecute(r)
}

/*
CloudDeleteV1CaptableSafesId DeleteSafe removes one of the caller org's SAFEs, taking its capital out of the cap table's unconverted-instrument totals.

DeleteSafe removes one of the caller org's SAFEs, taking its capital out of the
cap table's unconverted-instrument totals. An id this org does not hold is not
found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the SAFE to delete.
	@return CaptableAPICloudDeleteV1CaptableSafesIdRequest
*/
func (a *CaptableAPIService) CloudDeleteV1CaptableSafesId(ctx context.Context, id string) CaptableAPICloudDeleteV1CaptableSafesIdRequest {
	return CaptableAPICloudDeleteV1CaptableSafesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCaptableDeleted
func (a *CaptableAPIService) CloudDeleteV1CaptableSafesIdExecute(r CaptableAPICloudDeleteV1CaptableSafesIdRequest) (*CloudCaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudDeleteV1CaptableSafesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/safes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudDeleteV1CaptableSharesIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPICloudDeleteV1CaptableSharesIdRequest) Execute() (*CloudCaptableDeleted, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CaptableSharesIdExecute(r)
}

/*
CloudDeleteV1CaptableSharesId DeleteShare removes one of the caller org's share certificates, taking its shares out of the cap table's outstanding and fully-diluted counts.

DeleteShare removes one of the caller org's share certificates, taking its
shares out of the cap table's outstanding and fully-diluted counts. An id this
org does not hold is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the share certificate to delete.
	@return CaptableAPICloudDeleteV1CaptableSharesIdRequest
*/
func (a *CaptableAPIService) CloudDeleteV1CaptableSharesId(ctx context.Context, id string) CaptableAPICloudDeleteV1CaptableSharesIdRequest {
	return CaptableAPICloudDeleteV1CaptableSharesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCaptableDeleted
func (a *CaptableAPIService) CloudDeleteV1CaptableSharesIdExecute(r CaptableAPICloudDeleteV1CaptableSharesIdRequest) (*CloudCaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudDeleteV1CaptableSharesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/shares/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudDeleteV1CaptableStakeholdersIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPICloudDeleteV1CaptableStakeholdersIdRequest) Execute() (*CloudCaptableDeleted, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CaptableStakeholdersIdExecute(r)
}

/*
CloudDeleteV1CaptableStakeholdersId DeleteStakeholder removes one of the caller org's stakeholders.

DeleteStakeholder removes one of the caller org's stakeholders. It REFUSES to
orphan issued equity: a holder that still holds share certificates or option
grants cannot be deleted, and answers 400 saying so — release or transfer the
holdings first. An id this org does not hold is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the stakeholder to delete.
	@return CaptableAPICloudDeleteV1CaptableStakeholdersIdRequest
*/
func (a *CaptableAPIService) CloudDeleteV1CaptableStakeholdersId(ctx context.Context, id string) CaptableAPICloudDeleteV1CaptableStakeholdersIdRequest {
	return CaptableAPICloudDeleteV1CaptableStakeholdersIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCaptableDeleted
func (a *CaptableAPIService) CloudDeleteV1CaptableStakeholdersIdExecute(r CaptableAPICloudDeleteV1CaptableStakeholdersIdRequest) (*CloudCaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudDeleteV1CaptableStakeholdersId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/stakeholders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableCompanyRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableCompanyRequest) Execute() (*CloudCaptableCompany, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableCompanyExecute(r)
}

/*
CloudGetV1CaptableCompany GetCompany returns the caller org's cap-table company record.

GetCompany returns the caller org's cap-table company record. The row is
seeded when the tenant's store first opens, so it always exists; its name and
incorporation details are set with PUT /v1/captable/company.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableCompanyRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableCompany(ctx context.Context) CaptableAPICloudGetV1CaptableCompanyRequest {
	return CaptableAPICloudGetV1CaptableCompanyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableCompany
func (a *CaptableAPIService) CloudGetV1CaptableCompanyExecute(r CaptableAPICloudGetV1CaptableCompanyRequest) (*CloudCaptableCompany, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableCompany
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableCompany")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/company"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableConvertiblesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableConvertiblesRequest) Execute() (*CloudCaptableNotes, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableConvertiblesExecute(r)
}

/*
CloudGetV1CaptableConvertibles ListConvertibles returns the caller org's convertible notes, newest first.

ListConvertibles returns the caller org's convertible notes, newest first. A
note's principal sits OUTSIDE issued equity until it converts, so it is not
part of the share counts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableConvertiblesRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableConvertibles(ctx context.Context) CaptableAPICloudGetV1CaptableConvertiblesRequest {
	return CaptableAPICloudGetV1CaptableConvertiblesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableNotes
func (a *CaptableAPIService) CloudGetV1CaptableConvertiblesExecute(r CaptableAPICloudGetV1CaptableConvertiblesRequest) (*CloudCaptableNotes, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableNotes
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableConvertibles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/convertibles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableEquityPlansRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableEquityPlansRequest) Execute() (*CloudCaptableEquityPlans, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableEquityPlansExecute(r)
}

/*
CloudGetV1CaptableEquityPlans ListEquityPlans returns the caller org's equity plans, newest first.

ListEquityPlans returns the caller org's equity plans, newest first. An equity
plan is an option pool: a reserve of shares, drawn from one share class, that
option grants are written against.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableEquityPlansRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableEquityPlans(ctx context.Context) CaptableAPICloudGetV1CaptableEquityPlansRequest {
	return CaptableAPICloudGetV1CaptableEquityPlansRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableEquityPlans
func (a *CaptableAPIService) CloudGetV1CaptableEquityPlansExecute(r CaptableAPICloudGetV1CaptableEquityPlansRequest) (*CloudCaptableEquityPlans, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableEquityPlans
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableEquityPlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/equity-plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableInvestmentsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableInvestmentsRequest) Execute() (*CloudCaptableInvestments, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableInvestmentsExecute(r)
}

/*
CloudGetV1CaptableInvestments ListInvestments returns the caller org's investments, newest first.

ListInvestments returns the caller org's investments, newest first. It spans
every round, so it is the flat ledger of cheques written into the company,
each naming its investor and the round it went into.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableInvestmentsRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableInvestments(ctx context.Context) CaptableAPICloudGetV1CaptableInvestmentsRequest {
	return CaptableAPICloudGetV1CaptableInvestmentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableInvestments
func (a *CaptableAPIService) CloudGetV1CaptableInvestmentsExecute(r CaptableAPICloudGetV1CaptableInvestmentsRequest) (*CloudCaptableInvestments, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableInvestments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableInvestments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/investments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableOptionsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableOptionsRequest) Execute() (*CloudCaptableOptions, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableOptionsExecute(r)
}

/*
CloudGetV1CaptableOptions ListOptions returns the caller org's option grants, newest first.

ListOptions returns the caller org's option grants, newest first. Each row is
joined to its grantee and its equity plan. Grants that are EXERCISED, EXPIRED
or CANCELLED are listed here but do not dilute the cap table.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableOptionsRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableOptions(ctx context.Context) CaptableAPICloudGetV1CaptableOptionsRequest {
	return CaptableAPICloudGetV1CaptableOptionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableOptions
func (a *CaptableAPIService) CloudGetV1CaptableOptionsExecute(r CaptableAPICloudGetV1CaptableOptionsRequest) (*CloudCaptableOptions, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableOptions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/options"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableRoundsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableRoundsRequest) Execute() (*CloudCaptableRounds, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableRoundsExecute(r)
}

/*
CloudGetV1CaptableRounds ListRounds returns the caller org's fundraising rounds, newest first.

ListRounds returns the caller org's fundraising rounds, newest first. A round
groups a fundraising event; a PRICED round also carries the share class and
price per share it issues at.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableRoundsRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableRounds(ctx context.Context) CaptableAPICloudGetV1CaptableRoundsRequest {
	return CaptableAPICloudGetV1CaptableRoundsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableRounds
func (a *CaptableAPIService) CloudGetV1CaptableRoundsExecute(r CaptableAPICloudGetV1CaptableRoundsRequest) (*CloudCaptableRounds, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableRounds
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableRounds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableRoundsIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPICloudGetV1CaptableRoundsIdRequest) Execute() (*CloudCaptableRoundDetail, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableRoundsIdExecute(r)
}

/*
CloudGetV1CaptableRoundsId GetRound returns one of the caller org's fundraising rounds together with every investment written into it, oldest first.

GetRound returns one of the caller org's fundraising rounds together with every
investment written into it, oldest first. A round id that does not exist in the
caller's org is not found — including one that exists in another tenant, since
the org comes from the caller's principal and is part of the lookup.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the round to read. It is the path segment: the URL is the addressing authority, and the org it is resolved in comes from the caller's principal, so an id from another tenant is simply not found.
	@return CaptableAPICloudGetV1CaptableRoundsIdRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableRoundsId(ctx context.Context, id string) CaptableAPICloudGetV1CaptableRoundsIdRequest {
	return CaptableAPICloudGetV1CaptableRoundsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCaptableRoundDetail
func (a *CaptableAPIService) CloudGetV1CaptableRoundsIdExecute(r CaptableAPICloudGetV1CaptableRoundsIdRequest) (*CloudCaptableRoundDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableRoundDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableRoundsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableSafesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableSafesRequest) Execute() (*CloudCaptableSafes, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableSafesExecute(r)
}

/*
CloudGetV1CaptableSafes ListSafes returns the caller org's SAFEs, newest first.

ListSafes returns the caller org's SAFEs, newest first. A SAFE is a simple
agreement for future equity: its capital sits OUTSIDE issued equity until it
converts, so it is not part of the share counts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableSafesRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableSafes(ctx context.Context) CaptableAPICloudGetV1CaptableSafesRequest {
	return CaptableAPICloudGetV1CaptableSafesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableSafes
func (a *CaptableAPIService) CloudGetV1CaptableSafesExecute(r CaptableAPICloudGetV1CaptableSafesRequest) (*CloudCaptableSafes, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableSafes
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableSafes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/safes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableShareClassesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableShareClassesRequest) Execute() ([]CloudCaptableShareClass, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableShareClassesExecute(r)
}

/*
CloudGetV1CaptableShareClasses ListShareClasses returns the caller org's share classes, in creation order.

ListShareClasses returns the caller org's share classes, in creation order. A
share class is what a certificate is issued in, and every class the company
has authorized appears. The response is a bare JSON array, not an envelope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableShareClassesRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableShareClasses(ctx context.Context) CaptableAPICloudGetV1CaptableShareClassesRequest {
	return CaptableAPICloudGetV1CaptableShareClassesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudCaptableShareClass
func (a *CaptableAPIService) CloudGetV1CaptableShareClassesExecute(r CaptableAPICloudGetV1CaptableShareClassesRequest) ([]CloudCaptableShareClass, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudCaptableShareClass
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableShareClasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/share-classes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableSharesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableSharesRequest) Execute() (*CloudCaptableShares, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableSharesExecute(r)
}

/*
CloudGetV1CaptableShares ListShares returns the caller org's share certificates, newest first.

ListShares returns the caller org's share certificates, newest first. Each row
is joined to its holder and its share class, so a certificate names who holds
it and what class it is in without a second call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableSharesRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableShares(ctx context.Context) CaptableAPICloudGetV1CaptableSharesRequest {
	return CaptableAPICloudGetV1CaptableSharesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableShares
func (a *CaptableAPIService) CloudGetV1CaptableSharesExecute(r CaptableAPICloudGetV1CaptableSharesRequest) (*CloudCaptableShares, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableShares
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableShares")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/shares"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableStakeholdersRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableStakeholdersRequest) Execute() ([]CloudCaptableStakeholder, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableStakeholdersExecute(r)
}

/*
CloudGetV1CaptableStakeholders ListStakeholders returns the caller org's stakeholders, newest first.

ListStakeholders returns the caller org's stakeholders, newest first. The
response is a bare JSON array, not an envelope. Each row carries the holder's
contact and address fields alongside the company's name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableStakeholdersRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableStakeholders(ctx context.Context) CaptableAPICloudGetV1CaptableStakeholdersRequest {
	return CaptableAPICloudGetV1CaptableStakeholdersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudCaptableStakeholder
func (a *CaptableAPIService) CloudGetV1CaptableStakeholdersExecute(r CaptableAPICloudGetV1CaptableStakeholdersRequest) ([]CloudCaptableStakeholder, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudCaptableStakeholder
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableStakeholders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/stakeholders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudGetV1CaptableSummaryRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudGetV1CaptableSummaryRequest) Execute() (*CloudCaptableSummary, *http.Response, error) {
	return r.ApiService.CloudGetV1CaptableSummaryExecute(r)
}

/*
CloudGetV1CaptableSummary GetSummary computes the caller org's cap table.

GetSummary computes the caller org's cap table. It answers who owns what on a
fully-diluted basis: outstanding shares, granted options, per-stakeholder
ownership percentages, each share class's authorized versus issued position,
and the capital sitting on SAFEs and convertible notes that have not yet
converted. Only non-terminal option grants dilute — EXERCISED, EXPIRED and
CANCELLED grants are excluded, so equity issued through an exercised option is
never counted twice.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudGetV1CaptableSummaryRequest
*/
func (a *CaptableAPIService) CloudGetV1CaptableSummary(ctx context.Context) CaptableAPICloudGetV1CaptableSummaryRequest {
	return CaptableAPICloudGetV1CaptableSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCaptableSummary
func (a *CaptableAPIService) CloudGetV1CaptableSummaryExecute(r CaptableAPICloudGetV1CaptableSummaryRequest) (*CloudCaptableSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudGetV1CaptableSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudPatchV1CaptableShareClassesByIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPICloudPatchV1CaptableShareClassesByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPatchV1CaptableShareClassesByIdExecute(r)
}

/*
CloudPatchV1CaptableShareClassesById Method for CloudPatchV1CaptableShareClassesById

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return CaptableAPICloudPatchV1CaptableShareClassesByIdRequest
*/
func (a *CaptableAPIService) CloudPatchV1CaptableShareClassesById(ctx context.Context, id string) CaptableAPICloudPatchV1CaptableShareClassesByIdRequest {
	return CaptableAPICloudPatchV1CaptableShareClassesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPatchV1CaptableShareClassesByIdExecute(r CaptableAPICloudPatchV1CaptableShareClassesByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPatchV1CaptableShareClassesById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/share-classes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPatchV1CaptableStakeholdersIdRequest struct {
	ctx                           context.Context
	ApiService                    *CaptableAPIService
	id                            string
	cloudCaptableStakeholderPatch *CloudCaptableStakeholderPatch
}

func (r CaptableAPICloudPatchV1CaptableStakeholdersIdRequest) CloudCaptableStakeholderPatch(cloudCaptableStakeholderPatch CloudCaptableStakeholderPatch) CaptableAPICloudPatchV1CaptableStakeholdersIdRequest {
	r.cloudCaptableStakeholderPatch = &cloudCaptableStakeholderPatch
	return r
}

func (r CaptableAPICloudPatchV1CaptableStakeholdersIdRequest) Execute() (*CloudCaptableUpdated, *http.Response, error) {
	return r.ApiService.CloudPatchV1CaptableStakeholdersIdExecute(r)
}

/*
CloudPatchV1CaptableStakeholdersId UpdateStakeholder changes one of the caller org's stakeholders.

UpdateStakeholder changes one of the caller org's stakeholders. It is a
PARTIAL update: only the fields the request names are written, and a field
sent as null clears that column. A request that names no updatable field is
refused, and an id this org does not hold is not found.

The values are stored as sent. Unlike adding a stakeholder, this route does
not check the email's shape or the type and relationship vocabularies, so it
can record a value that adding one would have rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the stakeholder to update. It is the path segment: the URL is the addressing authority, and the org it is resolved in comes from the caller's principal, so an id from another tenant is simply not found.
	@return CaptableAPICloudPatchV1CaptableStakeholdersIdRequest
*/
func (a *CaptableAPIService) CloudPatchV1CaptableStakeholdersId(ctx context.Context, id string) CaptableAPICloudPatchV1CaptableStakeholdersIdRequest {
	return CaptableAPICloudPatchV1CaptableStakeholdersIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCaptableUpdated
func (a *CaptableAPIService) CloudPatchV1CaptableStakeholdersIdExecute(r CaptableAPICloudPatchV1CaptableStakeholdersIdRequest) (*CloudCaptableUpdated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableUpdated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPatchV1CaptableStakeholdersId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/stakeholders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCaptableStakeholderPatch == nil {
		return localVarReturnValue, nil, reportError("cloudCaptableStakeholderPatch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCaptableStakeholderPatch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableConvertiblesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudPostV1CaptableConvertiblesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableConvertiblesExecute(r)
}

/*
CloudPostV1CaptableConvertibles Method for CloudPostV1CaptableConvertibles

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudPostV1CaptableConvertiblesRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableConvertibles(ctx context.Context) CaptableAPICloudPostV1CaptableConvertiblesRequest {
	return CaptableAPICloudPostV1CaptableConvertiblesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPostV1CaptableConvertiblesExecute(r CaptableAPICloudPostV1CaptableConvertiblesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableConvertibles")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/convertibles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableEquityPlansRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudPostV1CaptableEquityPlansRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableEquityPlansExecute(r)
}

/*
CloudPostV1CaptableEquityPlans Method for CloudPostV1CaptableEquityPlans

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudPostV1CaptableEquityPlansRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableEquityPlans(ctx context.Context) CaptableAPICloudPostV1CaptableEquityPlansRequest {
	return CaptableAPICloudPostV1CaptableEquityPlansRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPostV1CaptableEquityPlansExecute(r CaptableAPICloudPostV1CaptableEquityPlansRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableEquityPlans")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/equity-plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableOptionsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudPostV1CaptableOptionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableOptionsExecute(r)
}

/*
CloudPostV1CaptableOptions Method for CloudPostV1CaptableOptions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudPostV1CaptableOptionsRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableOptions(ctx context.Context) CaptableAPICloudPostV1CaptableOptionsRequest {
	return CaptableAPICloudPostV1CaptableOptionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPostV1CaptableOptionsExecute(r CaptableAPICloudPostV1CaptableOptionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableOptions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/options"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableRoundsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudPostV1CaptableRoundsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableRoundsExecute(r)
}

/*
CloudPostV1CaptableRounds Method for CloudPostV1CaptableRounds

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudPostV1CaptableRoundsRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableRounds(ctx context.Context) CaptableAPICloudPostV1CaptableRoundsRequest {
	return CaptableAPICloudPostV1CaptableRoundsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPostV1CaptableRoundsExecute(r CaptableAPICloudPostV1CaptableRoundsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableRounds")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableRoundsByIdInvestmentsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPICloudPostV1CaptableRoundsByIdInvestmentsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableRoundsByIdInvestmentsExecute(r)
}

/*
CloudPostV1CaptableRoundsByIdInvestments Method for CloudPostV1CaptableRoundsByIdInvestments

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return CaptableAPICloudPostV1CaptableRoundsByIdInvestmentsRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableRoundsByIdInvestments(ctx context.Context, id string) CaptableAPICloudPostV1CaptableRoundsByIdInvestmentsRequest {
	return CaptableAPICloudPostV1CaptableRoundsByIdInvestmentsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPostV1CaptableRoundsByIdInvestmentsExecute(r CaptableAPICloudPostV1CaptableRoundsByIdInvestmentsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableRoundsByIdInvestments")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds/{id}/investments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableRoundsIdCloseRequest struct {
	ctx                            context.Context
	ApiService                     *CaptableAPIService
	id                             string
	cloudCaptableRoundCloseRequest *CloudCaptableRoundCloseRequest
}

func (r CaptableAPICloudPostV1CaptableRoundsIdCloseRequest) CloudCaptableRoundCloseRequest(cloudCaptableRoundCloseRequest CloudCaptableRoundCloseRequest) CaptableAPICloudPostV1CaptableRoundsIdCloseRequest {
	r.cloudCaptableRoundCloseRequest = &cloudCaptableRoundCloseRequest
	return r
}

func (r CaptableAPICloudPostV1CaptableRoundsIdCloseRequest) Execute() (*CloudCaptableUpdated, *http.Response, error) {
	return r.ApiService.CloudPostV1CaptableRoundsIdCloseExecute(r)
}

/*
CloudPostV1CaptableRoundsIdClose CloseRound closes one of the caller org's fundraising rounds, recording the close date and moving its status to CLOSED.

CloseRound closes one of the caller org's fundraising rounds, recording the
close date and moving its status to CLOSED. Only an OPEN round can be closed:
a round that is already closed — like an id this org does not hold — is not
found. Closing a round does not change what was invested in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the round to close. It is the path segment: the URL is the addressing authority, and the org it is resolved in comes from the caller's principal, so an id from another tenant is simply not found.
	@return CaptableAPICloudPostV1CaptableRoundsIdCloseRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableRoundsIdClose(ctx context.Context, id string) CaptableAPICloudPostV1CaptableRoundsIdCloseRequest {
	return CaptableAPICloudPostV1CaptableRoundsIdCloseRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCaptableUpdated
func (a *CaptableAPIService) CloudPostV1CaptableRoundsIdCloseExecute(r CaptableAPICloudPostV1CaptableRoundsIdCloseRequest) (*CloudCaptableUpdated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCaptableUpdated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableRoundsIdClose")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds/{id}/close"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCaptableRoundCloseRequest == nil {
		return localVarReturnValue, nil, reportError("cloudCaptableRoundCloseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCaptableRoundCloseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableSafesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudPostV1CaptableSafesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableSafesExecute(r)
}

/*
CloudPostV1CaptableSafes Method for CloudPostV1CaptableSafes

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudPostV1CaptableSafesRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableSafes(ctx context.Context) CaptableAPICloudPostV1CaptableSafesRequest {
	return CaptableAPICloudPostV1CaptableSafesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPostV1CaptableSafesExecute(r CaptableAPICloudPostV1CaptableSafesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableSafes")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/safes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableShareClassesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudPostV1CaptableShareClassesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableShareClassesExecute(r)
}

/*
CloudPostV1CaptableShareClasses Method for CloudPostV1CaptableShareClasses

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudPostV1CaptableShareClassesRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableShareClasses(ctx context.Context) CaptableAPICloudPostV1CaptableShareClassesRequest {
	return CaptableAPICloudPostV1CaptableShareClassesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPostV1CaptableShareClassesExecute(r CaptableAPICloudPostV1CaptableShareClassesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableShareClasses")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/share-classes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableSharesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudPostV1CaptableSharesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableSharesExecute(r)
}

/*
CloudPostV1CaptableShares Method for CloudPostV1CaptableShares

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPICloudPostV1CaptableSharesRequest
*/
func (a *CaptableAPIService) CloudPostV1CaptableShares(ctx context.Context) CaptableAPICloudPostV1CaptableSharesRequest {
	return CaptableAPICloudPostV1CaptableSharesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CaptableAPIService) CloudPostV1CaptableSharesExecute(r CaptableAPICloudPostV1CaptableSharesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.CloudPostV1CaptableShares")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/shares"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CaptableAPICloudPostV1CaptableSharesTransferRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPICloudPostV1CaptableSharesTransferRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CaptableSharesTransferExecute(r)
}

/*
[...]
