/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// NexusFileAPIAPIService NexusFileAPIAPI service
type NexusFileAPIAPIService service

type NexusFileAPIAPINexusActivateFileRequest struct {
	ctx        context.Context
	ApiService *NexusFileAPIAPIService
	key        *string
	filename   *string
}

// The key of the file
func (r NexusFileAPIAPINexusActivateFileRequest) Key(key string) NexusFileAPIAPINexusActivateFileRequest {
	r.key = &key
	return r
}

// The name of the file
func (r NexusFileAPIAPINexusActivateFileRequest) Filename(filename string) NexusFileAPIAPINexusActivateFileRequest {
	r.filename = &filename
	return r
}

func (r NexusFileAPIAPINexusActivateFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusActivateFileExecute(r)
}

/*
NexusActivateFile activate File

Activate a file for processing

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusFileAPIAPINexusActivateFileRequest
*/
func (a *NexusFileAPIAPIService) NexusActivateFile(ctx context.Context) NexusFileAPIAPINexusActivateFileRequest {
	return NexusFileAPIAPINexusActivateFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusResponse
func (a *NexusFileAPIAPIService) NexusActivateFileExecute(r NexusFileAPIAPINexusActivateFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusFileAPIAPIService.NexusActivateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/activate-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusFileAPIAPINexusAddFileRequest struct {
	ctx        context.Context
	ApiService *NexusFileAPIAPIService
	store      *string
	key        *string
	isLeaf     *string
	filename   *string
}

// The store of the file
func (r NexusFileAPIAPINexusAddFileRequest) Store(store string) NexusFileAPIAPINexusAddFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r NexusFileAPIAPINexusAddFileRequest) Key(key string) NexusFileAPIAPINexusAddFileRequest {
	r.key = &key
	return r
}

// Whether the file is a leaf node
func (r NexusFileAPIAPINexusAddFileRequest) IsLeaf(isLeaf string) NexusFileAPIAPINexusAddFileRequest {
	r.isLeaf = &isLeaf
	return r
}

// The name of the file
func (r NexusFileAPIAPINexusAddFileRequest) Filename(filename string) NexusFileAPIAPINexusAddFileRequest {
	r.filename = &filename
	return r
}

func (r NexusFileAPIAPINexusAddFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusAddFileExecute(r)
}

/*
NexusAddFile add File

Add a file to a knowledge store

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusFileAPIAPINexusAddFileRequest
*/
func (a *NexusFileAPIAPIService) NexusAddFile(ctx context.Context) NexusFileAPIAPINexusAddFileRequest {
	return NexusFileAPIAPINexusAddFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusResponse
func (a *NexusFileAPIAPIService) NexusAddFileExecute(r NexusFileAPIAPINexusAddFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusFileAPIAPIService.NexusAddFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/add-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusFileAPIAPINexusDeleteFileRequest struct {
	ctx        context.Context
	ApiService *NexusFileAPIAPIService
	store      *string
	key        *string
	isLeaf     *string
}

// The store of the file
func (r NexusFileAPIAPINexusDeleteFileRequest) Store(store string) NexusFileAPIAPINexusDeleteFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r NexusFileAPIAPINexusDeleteFileRequest) Key(key string) NexusFileAPIAPINexusDeleteFileRequest {
	r.key = &key
	return r
}

// Whether the file is a leaf node
func (r NexusFileAPIAPINexusDeleteFileRequest) IsLeaf(isLeaf string) NexusFileAPIAPINexusDeleteFileRequest {
	r.isLeaf = &isLeaf
	return r
}

func (r NexusFileAPIAPINexusDeleteFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusDeleteFileExecute(r)
}

/*
NexusDeleteFile delete File

Delete a file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusFileAPIAPINexusDeleteFileRequest
*/
func (a *NexusFileAPIAPIService) NexusDeleteFile(ctx context.Context) NexusFileAPIAPINexusDeleteFileRequest {
	return NexusFileAPIAPINexusDeleteFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusResponse
func (a *NexusFileAPIAPIService) NexusDeleteFileExecute(r NexusFileAPIAPINexusDeleteFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusFileAPIAPIService.NexusDeleteFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/delete-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusFileAPIAPINexusGetActiveFileRequest struct {
	ctx        context.Context
	ApiService *NexusFileAPIAPIService
	prefix     *string
}

// The prefix of the file
func (r NexusFileAPIAPINexusGetActiveFileRequest) Prefix(prefix string) NexusFileAPIAPINexusGetActiveFileRequest {
	r.prefix = &prefix
	return r
}

func (r NexusFileAPIAPINexusGetActiveFileRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.NexusGetActiveFileExecute(r)
}

/*
NexusGetActiveFile get Active File

Get the active file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusFileAPIAPINexusGetActiveFileRequest
*/
func (a *NexusFileAPIAPIService) NexusGetActiveFile(ctx context.Context) NexusFileAPIAPINexusGetActiveFileRequest {
	return NexusFileAPIAPINexusGetActiveFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *NexusFileAPIAPIService) NexusGetActiveFileExecute(r NexusFileAPIAPINexusGetActiveFileRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusFileAPIAPIService.NexusGetActiveFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-active-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.prefix == nil {
		return localVarReturnValue, nil, reportError("prefix is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusFileAPIAPINexusUpdateFileRequest struct {
	ctx        context.Context
	ApiService *NexusFileAPIAPIService
	storeId    *string
	key        *string
	nexusFile  *NexusFile
}

// The store id of the file
func (r NexusFileAPIAPINexusUpdateFileRequest) StoreId(storeId string) NexusFileAPIAPINexusUpdateFileRequest {
	r.storeId = &storeId
	return r
}

// The key of the file
func (r NexusFileAPIAPINexusUpdateFileRequest) Key(key string) NexusFileAPIAPINexusUpdateFileRequest {
	r.key = &key
	return r
}

// The details of the file
func (r NexusFileAPIAPINexusUpdateFileRequest) NexusFile(nexusFile NexusFile) NexusFileAPIAPINexusUpdateFileRequest {
	r.nexusFile = &nexusFile
	return r
}

func (r NexusFileAPIAPINexusUpdateFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusUpdateFileExecute(r)
}

/*
NexusUpdateFile update File

Update a file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusFileAPIAPINexusUpdateFileRequest
*/
func (a *NexusFileAPIAPIService) NexusUpdateFile(ctx context.Context) NexusFileAPIAPINexusUpdateFileRequest {
	return NexusFileAPIAPINexusUpdateFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusResponse
func (a *NexusFileAPIAPIService) NexusUpdateFileExecute(r NexusFileAPIAPINexusUpdateFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusFileAPIAPIService.NexusUpdateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/update-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.nexusFile == nil {
		return localVarReturnValue, nil, reportError("nexusFile is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeId", r.storeId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusFile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusFileAPIAPINexusUploadFileRequest struct {
	ctx        context.Context
	ApiService *NexusFileAPIAPIService
	file       *string
	type_      *string
	name       *string
}

// The base64 encoded file data
func (r NexusFileAPIAPINexusUploadFileRequest) File(file string) NexusFileAPIAPINexusUploadFileRequest {
	r.file = &file
	return r
}

// The file type/extension
func (r NexusFileAPIAPINexusUploadFileRequest) Type_(type_ string) NexusFileAPIAPINexusUploadFileRequest {
	r.type_ = &type_
	return r
}

// The file name
func (r NexusFileAPIAPINexusUploadFileRequest) Name(name string) NexusFileAPIAPINexusUploadFileRequest {
	r.name = &name
	return r
}

func (r NexusFileAPIAPINexusUploadFileRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusUploadFileExecute(r)
}

/*
NexusUploadFile upload File

Upload a file to storage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusFileAPIAPINexusUploadFileRequest
*/
func (a *NexusFileAPIAPIService) NexusUploadFile(ctx context.Context) NexusFileAPIAPINexusUploadFileRequest {
	return NexusFileAPIAPINexusUploadFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusResponse
func (a *NexusFileAPIAPIService) NexusUploadFileExecute(r NexusFileAPIAPINexusUploadFileRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusFileAPIAPIService.NexusUploadFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/upload-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
