/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MarketingAPIService MarketingAPI service
type MarketingAPIService service

type MarketingAPIDeleteMarketingAudiencesByIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIDeleteMarketingAudiencesByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMarketingAudiencesByIdExecute(r)
}

/*
DeleteMarketingAudiencesById Removes one of the caller org's audiences and answers 204.

Removes one of the caller org's audiences and answers 204. It
deletes the saved filter only — no customer, event or enrollment is touched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the audience id from the path, as returned by create.
	@return MarketingAPIDeleteMarketingAudiencesByIdRequest
*/
func (a *MarketingAPIService) DeleteMarketingAudiencesById(ctx context.Context, id string) MarketingAPIDeleteMarketingAudiencesByIdRequest {
	return MarketingAPIDeleteMarketingAudiencesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MarketingAPIService) DeleteMarketingAudiencesByIdExecute(r MarketingAPIDeleteMarketingAudiencesByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.DeleteMarketingAudiencesById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketingAPIDeleteMarketingCalendarByIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIDeleteMarketingCalendarByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMarketingCalendarByIdExecute(r)
}

/*
DeleteMarketingCalendarById Removes one of the caller org's posts and answers 204.

Removes one of the caller org's posts and answers 204. A
post already published is deleted from the calendar only — nothing is
retracted from the network it went out on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the post id from the path, as returned by create.
	@return MarketingAPIDeleteMarketingCalendarByIdRequest
*/
func (a *MarketingAPIService) DeleteMarketingCalendarById(ctx context.Context, id string) MarketingAPIDeleteMarketingCalendarByIdRequest {
	return MarketingAPIDeleteMarketingCalendarByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MarketingAPIService) DeleteMarketingCalendarByIdExecute(r MarketingAPIDeleteMarketingCalendarByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.DeleteMarketingCalendarById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketingAPIDeleteMarketingCampaignsByIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIDeleteMarketingCampaignsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMarketingCampaignsByIdExecute(r)
}

/*
DeleteMarketingCampaignsById Removes one of the caller org's campaigns and answers 204.

Removes one of the caller org's campaigns and answers 204. A
campaign belonging to another org reads as not found and is left untouched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign id from the path, as returned by create.
	@return MarketingAPIDeleteMarketingCampaignsByIdRequest
*/
func (a *MarketingAPIService) DeleteMarketingCampaignsById(ctx context.Context, id string) MarketingAPIDeleteMarketingCampaignsByIdRequest {
	return MarketingAPIDeleteMarketingCampaignsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MarketingAPIService) DeleteMarketingCampaignsByIdExecute(r MarketingAPIDeleteMarketingCampaignsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.DeleteMarketingCampaignsById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketingAPIDeleteMarketingSuppressionsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	channel    *string
	address    *string
	reason     *string
	createdAt  *int64
}

// Channel is the surface opted out of: email, sms, social, meta, google or tiktok. Empty means email. Opting out of one leaves the others reachable.
func (r MarketingAPIDeleteMarketingSuppressionsRequest) Channel(channel string) MarketingAPIDeleteMarketingSuppressionsRequest {
	r.channel = &channel
	return r
}

// Address is the recipient, normalized (lower-cased, trimmed) so an opt-out cannot be slipped past on a case or whitespace difference. Required.
func (r MarketingAPIDeleteMarketingSuppressionsRequest) Address(address string) MarketingAPIDeleteMarketingSuppressionsRequest {
	r.address = &address
	return r
}

// Reason is a free-text note, capped at 1024 bytes. The public one-click endpoint records \&quot;one-click unsubscribe\&quot;.
func (r MarketingAPIDeleteMarketingSuppressionsRequest) Reason(reason string) MarketingAPIDeleteMarketingSuppressionsRequest {
	r.reason = &reason
	return r
}

// CreatedAt is unix seconds, server-assigned.
func (r MarketingAPIDeleteMarketingSuppressionsRequest) CreatedAt(createdAt int64) MarketingAPIDeleteMarketingSuppressionsRequest {
	r.createdAt = &createdAt
	return r
}

func (r MarketingAPIDeleteMarketingSuppressionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMarketingSuppressionsExecute(r)
}

/*
DeleteMarketingSuppressions Re-subscribes an address on one channel and answers 204.

Re-subscribes an address on one channel and answers 204. An
address that is not on the list reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIDeleteMarketingSuppressionsRequest
*/
func (a *MarketingAPIService) DeleteMarketingSuppressions(ctx context.Context) MarketingAPIDeleteMarketingSuppressionsRequest {
	return MarketingAPIDeleteMarketingSuppressionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *MarketingAPIService) DeleteMarketingSuppressionsExecute(r MarketingAPIDeleteMarketingSuppressionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.DeleteMarketingSuppressions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/suppressions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.channel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "channel", r.channel, "form", "")
	}
	if r.address != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address", r.address, "form", "")
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	}
	if r.createdAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdAt", r.createdAt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingAudiencesRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	limit      *int64
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPIGetMarketingAudiencesRequest) Limit(limit int64) MarketingAPIGetMarketingAudiencesRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPIGetMarketingAudiencesRequest) Execute() (*AudienceList, *http.Response, error) {
	return r.ApiService.GetMarketingAudiencesExecute(r)
}

/*
GetMarketingAudiences Returns the org's saved audiences, most recently updated first.

Returns the org's saved audiences, most recently updated first.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIGetMarketingAudiencesRequest
*/
func (a *MarketingAPIService) GetMarketingAudiences(ctx context.Context) MarketingAPIGetMarketingAudiencesRequest {
	return MarketingAPIGetMarketingAudiencesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AudienceList
func (a *MarketingAPIService) GetMarketingAudiencesExecute(r MarketingAPIGetMarketingAudiencesRequest) (*AudienceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AudienceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingAudiences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingAudiencesByIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIGetMarketingAudiencesByIdRequest) Execute() (*Audience, *http.Response, error) {
	return r.ApiService.GetMarketingAudiencesByIdExecute(r)
}

/*
GetMarketingAudiencesById Returns one of the caller org's saved audiences.

Returns one of the caller org's saved audiences. An audience
belonging to another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the audience id from the path, as returned by create.
	@return MarketingAPIGetMarketingAudiencesByIdRequest
*/
func (a *MarketingAPIService) GetMarketingAudiencesById(ctx context.Context, id string) MarketingAPIGetMarketingAudiencesByIdRequest {
	return MarketingAPIGetMarketingAudiencesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Audience
func (a *MarketingAPIService) GetMarketingAudiencesByIdExecute(r MarketingAPIGetMarketingAudiencesByIdRequest) (*Audience, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Audience
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingAudiencesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingAudiencesByIdPreviewRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIGetMarketingAudiencesByIdPreviewRequest) Execute() (*AudiencePreview, *http.Response, error) {
	return r.ApiService.GetMarketingAudiencesByIdPreviewExecute(r)
}

/*
GetMarketingAudiencesByIdPreview Evaluates the cohort LIVE — the same resolution an enrollment would run — and reports how big it is and how many real mailboxes it reaches.

Evaluates the cohort LIVE — the same resolution an enrollment
would run — and reports how big it is and how many real mailboxes it reaches.
It is the honest answer to "is this send worth making": a cohort of 500 that
mails 3 says so, in deliverable and unmatched. Nothing is sent.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the audience id from the path, as returned by create.
	@return MarketingAPIGetMarketingAudiencesByIdPreviewRequest
*/
func (a *MarketingAPIService) GetMarketingAudiencesByIdPreview(ctx context.Context, id string) MarketingAPIGetMarketingAudiencesByIdPreviewRequest {
	return MarketingAPIGetMarketingAudiencesByIdPreviewRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return AudiencePreview
func (a *MarketingAPIService) GetMarketingAudiencesByIdPreviewExecute(r MarketingAPIGetMarketingAudiencesByIdPreviewRequest) (*AudiencePreview, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AudiencePreview
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingAudiencesByIdPreview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences/{id}/preview"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingCalendarRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	status     *string
	limit      *int64
}

// Status keeps only posts in that state (draft, scheduled, published, failed, canceled). Empty means every post.
func (r MarketingAPIGetMarketingCalendarRequest) Status(status string) MarketingAPIGetMarketingCalendarRequest {
	r.status = &status
	return r
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPIGetMarketingCalendarRequest) Limit(limit int64) MarketingAPIGetMarketingCalendarRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPIGetMarketingCalendarRequest) Execute() (*PostList, *http.Response, error) {
	return r.ApiService.GetMarketingCalendarExecute(r)
}

/*
GetMarketingCalendar Returns the org's calendar, latest scheduled first, optionally narrowed to one status.

Returns the org's calendar, latest scheduled first,
optionally narrowed to one status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIGetMarketingCalendarRequest
*/
func (a *MarketingAPIService) GetMarketingCalendar(ctx context.Context) MarketingAPIGetMarketingCalendarRequest {
	return MarketingAPIGetMarketingCalendarRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PostList
func (a *MarketingAPIService) GetMarketingCalendarExecute(r MarketingAPIGetMarketingCalendarRequest) (*PostList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PostList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingCalendar")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingCalendarByIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIGetMarketingCalendarByIdRequest) Execute() (*CalendarPost, *http.Response, error) {
	return r.ApiService.GetMarketingCalendarByIdExecute(r)
}

/*
GetMarketingCalendarById Returns one of the caller org's posts, including the exact error behind a failed publish.

Returns one of the caller org's posts, including the exact
error behind a failed publish. A post belonging to another org reads as not
found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the post id from the path, as returned by create.
	@return MarketingAPIGetMarketingCalendarByIdRequest
*/
func (a *MarketingAPIService) GetMarketingCalendarById(ctx context.Context, id string) MarketingAPIGetMarketingCalendarByIdRequest {
	return MarketingAPIGetMarketingCalendarByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CalendarPost
func (a *MarketingAPIService) GetMarketingCalendarByIdExecute(r MarketingAPIGetMarketingCalendarByIdRequest) (*CalendarPost, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CalendarPost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingCalendarById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingCampaignsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	status     *string
	limit      *int64
}

// Status keeps only campaigns in that lifecycle state (draft, scheduled, active, paused, completed). Empty means every campaign.
func (r MarketingAPIGetMarketingCampaignsRequest) Status(status string) MarketingAPIGetMarketingCampaignsRequest {
	r.status = &status
	return r
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPIGetMarketingCampaignsRequest) Limit(limit int64) MarketingAPIGetMarketingCampaignsRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPIGetMarketingCampaignsRequest) Execute() (*CampaignList, *http.Response, error) {
	return r.ApiService.GetMarketingCampaignsExecute(r)
}

/*
GetMarketingCampaigns Returns the org's campaigns, most recently updated first, optionally narrowed to one lifecycle status.

Returns the org's campaigns, most recently updated first,
optionally narrowed to one lifecycle status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIGetMarketingCampaignsRequest
*/
func (a *MarketingAPIService) GetMarketingCampaigns(ctx context.Context) MarketingAPIGetMarketingCampaignsRequest {
	return MarketingAPIGetMarketingCampaignsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CampaignList
func (a *MarketingAPIService) GetMarketingCampaignsExecute(r MarketingAPIGetMarketingCampaignsRequest) (*CampaignList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CampaignList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingCampaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingCampaignsByIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIGetMarketingCampaignsByIdRequest) Execute() (*Campaign, *http.Response, error) {
	return r.ApiService.GetMarketingCampaignsByIdExecute(r)
}

/*
GetMarketingCampaignsById Returns one of the caller org's campaigns.

Returns one of the caller org's campaigns. A campaign belonging to
another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign id from the path, as returned by create.
	@return MarketingAPIGetMarketingCampaignsByIdRequest
*/
func (a *MarketingAPIService) GetMarketingCampaignsById(ctx context.Context, id string) MarketingAPIGetMarketingCampaignsByIdRequest {
	return MarketingAPIGetMarketingCampaignsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Campaign
func (a *MarketingAPIService) GetMarketingCampaignsByIdExecute(r MarketingAPIGetMarketingCampaignsByIdRequest) (*Campaign, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Campaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingCampaignsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingPromosRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
}

func (r MarketingAPIGetMarketingPromosRequest) Execute() (*PromoList, *http.Response, error) {
	return r.ApiService.GetMarketingPromosExecute(r)
}

/*
GetMarketingPromos Returns every promo the deployment offers with its live counters: how many orgs have redeemed it and how many redemptions remain under the cap.

Returns every promo the deployment offers with its live counters:
how many orgs have redeemed it and how many redemptions remain under the cap.
The promos are fleet-wide, not per-org — only the counters move.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIGetMarketingPromosRequest
*/
func (a *MarketingAPIService) GetMarketingPromos(ctx context.Context) MarketingAPIGetMarketingPromosRequest {
	return MarketingAPIGetMarketingPromosRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PromoList
func (a *MarketingAPIService) GetMarketingPromosExecute(r MarketingAPIGetMarketingPromosRequest) (*PromoList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PromoList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingPromos")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/promos"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingPromosByCodeEligibilityRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	code       string
	plan       *string
	seats      *int64
}

// Plan is the plan being priced: pro, max or team. Anything else (including the free Developer plan) has no list price and so nothing to discount.
func (r MarketingAPIGetMarketingPromosByCodeEligibilityRequest) Plan(plan string) MarketingAPIGetMarketingPromosByCodeEligibilityRequest {
	r.plan = &plan
	return r
}

// Seats is the Team seat count; 0 means 1, and it is ignored for the single-seat plans.
func (r MarketingAPIGetMarketingPromosByCodeEligibilityRequest) Seats(seats int64) MarketingAPIGetMarketingPromosByCodeEligibilityRequest {
	r.seats = &seats
	return r
}

func (r MarketingAPIGetMarketingPromosByCodeEligibilityRequest) Execute() (*Quote, *http.Response, error) {
	return r.ApiService.GetMarketingPromosByCodeEligibilityExecute(r)
}

/*
GetMarketingPromosByCodeEligibility Prices a promo against a plan and seat count.

Prices a promo against a plan and seat count. It is PURE: nothing
is redeemed, credited or counted, so it is safe to call from a pricing page on
every keystroke. An inactive promo or an exhausted cap quotes ineligible with
the reason rather than erroring.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param code Code is the promo code from the path.
	@return MarketingAPIGetMarketingPromosByCodeEligibilityRequest
*/
func (a *MarketingAPIService) GetMarketingPromosByCodeEligibility(ctx context.Context, code string) MarketingAPIGetMarketingPromosByCodeEligibilityRequest {
	return MarketingAPIGetMarketingPromosByCodeEligibilityRequest{
		ApiService: a,
		ctx:        ctx,
		code:       code,
	}
}

// Execute executes the request
//
//	@return Quote
func (a *MarketingAPIService) GetMarketingPromosByCodeEligibilityExecute(r MarketingAPIGetMarketingPromosByCodeEligibilityRequest) (*Quote, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Quote
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingPromosByCodeEligibility")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/promos/{code}/eligibility"
	localVarPath = strings.Replace(localVarPath, "{"+"code"+"}", url.PathEscape(parameterValueToString(r.code, "code")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.plan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plan", r.plan, "form", "")
	}
	if r.seats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "seats", r.seats, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingPromosByCodeRedemptionRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	code       string
}

func (r MarketingAPIGetMarketingPromosByCodeRedemptionRequest) Execute() (*Redemption, *http.Response, error) {
	return r.ApiService.GetMarketingPromosByCodeRedemptionExecute(r)
}

/*
GetMarketingPromosByCodeRedemption Returns the caller org's OWN redemption of a promo — an org-scoped read, so it can never surface another tenant's.

Returns the caller org's OWN redemption of a promo — an
org-scoped read, so it can never surface another tenant's. Not found when this
org has not redeemed it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param code Code is the promo code from the path, e.g. \"first1000\".
	@return MarketingAPIGetMarketingPromosByCodeRedemptionRequest
*/
func (a *MarketingAPIService) GetMarketingPromosByCodeRedemption(ctx context.Context, code string) MarketingAPIGetMarketingPromosByCodeRedemptionRequest {
	return MarketingAPIGetMarketingPromosByCodeRedemptionRequest{
		ApiService: a,
		ctx:        ctx,
		code:       code,
	}
}

// Execute executes the request
//
//	@return Redemption
func (a *MarketingAPIService) GetMarketingPromosByCodeRedemptionExecute(r MarketingAPIGetMarketingPromosByCodeRedemptionRequest) (*Redemption, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Redemption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingPromosByCodeRedemption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/promos/{code}/redemption"
	localVarPath = strings.Replace(localVarPath, "{"+"code"+"}", url.PathEscape(parameterValueToString(r.code, "code")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingSequencesRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	limit      *int64
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPIGetMarketingSequencesRequest) Limit(limit int64) MarketingAPIGetMarketingSequencesRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPIGetMarketingSequencesRequest) Execute() (*SequenceList, *http.Response, error) {
	return r.ApiService.GetMarketingSequencesExecute(r)
}

/*
GetMarketingSequences Returns the org's drip sequences, most recently updated first.

Returns the org's drip sequences, most recently updated first.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIGetMarketingSequencesRequest
*/
func (a *MarketingAPIService) GetMarketingSequences(ctx context.Context) MarketingAPIGetMarketingSequencesRequest {
	return MarketingAPIGetMarketingSequencesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SequenceList
func (a *MarketingAPIService) GetMarketingSequencesExecute(r MarketingAPIGetMarketingSequencesRequest) (*SequenceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SequenceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingSequences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/sequences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingSequencesByIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIGetMarketingSequencesByIdRequest) Execute() (*SequenceView, *http.Response, error) {
	return r.ApiService.GetMarketingSequencesByIdExecute(r)
}

/*
GetMarketingSequencesById Returns one of the caller org's sequences together with its steps in send order.

Returns one of the caller org's sequences together with its steps
in send order. A sequence belonging to another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the sequence id from the path, as returned by create.
	@return MarketingAPIGetMarketingSequencesByIdRequest
*/
func (a *MarketingAPIService) GetMarketingSequencesById(ctx context.Context, id string) MarketingAPIGetMarketingSequencesByIdRequest {
	return MarketingAPIGetMarketingSequencesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SequenceView
func (a *MarketingAPIService) GetMarketingSequencesByIdExecute(r MarketingAPIGetMarketingSequencesByIdRequest) (*SequenceView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SequenceView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingSequencesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/sequences/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingSequencesByIdEnrollmentsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
	limit      *int64
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPIGetMarketingSequencesByIdEnrollmentsRequest) Limit(limit int64) MarketingAPIGetMarketingSequencesByIdEnrollmentsRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPIGetMarketingSequencesByIdEnrollmentsRequest) Execute() (*EnrollmentList, *http.Response, error) {
	return r.ApiService.GetMarketingSequencesByIdEnrollmentsExecute(r)
}

/*
GetMarketingSequencesByIdEnrollments Returns who is walking one sequence, most recently enrolled first, with each walk's current step and next due time.

Returns who is walking one sequence, most recently enrolled
first, with each walk's current step and next due time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the sequence id from the path.
	@return MarketingAPIGetMarketingSequencesByIdEnrollmentsRequest
*/
func (a *MarketingAPIService) GetMarketingSequencesByIdEnrollments(ctx context.Context, id string) MarketingAPIGetMarketingSequencesByIdEnrollmentsRequest {
	return MarketingAPIGetMarketingSequencesByIdEnrollmentsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return EnrollmentList
func (a *MarketingAPIService) GetMarketingSequencesByIdEnrollmentsExecute(r MarketingAPIGetMarketingSequencesByIdEnrollmentsRequest) (*EnrollmentList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnrollmentList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingSequencesByIdEnrollments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/sequences/{id}/enrollments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingSequencesByIdStepsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIGetMarketingSequencesByIdStepsRequest) Execute() (*StepList, *http.Response, error) {
	return r.ApiService.GetMarketingSequencesByIdStepsExecute(r)
}

/*
GetMarketingSequencesByIdSteps Returns one sequence's steps in send order.

Returns one sequence's steps in send order.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the sequence id from the path, as returned by create.
	@return MarketingAPIGetMarketingSequencesByIdStepsRequest
*/
func (a *MarketingAPIService) GetMarketingSequencesByIdSteps(ctx context.Context, id string) MarketingAPIGetMarketingSequencesByIdStepsRequest {
	return MarketingAPIGetMarketingSequencesByIdStepsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return StepList
func (a *MarketingAPIService) GetMarketingSequencesByIdStepsExecute(r MarketingAPIGetMarketingSequencesByIdStepsRequest) (*StepList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StepList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingSequencesByIdSteps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/sequences/{id}/steps"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingSummaryRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
}

func (r MarketingAPIGetMarketingSummaryRequest) Execute() (*Summary, *http.Response, error) {
	return r.ApiService.GetMarketingSummaryExecute(r)
}

/*
GetMarketingSummary Rolls up the caller org's campaigns: how many there are, how many are active, and the summed budget and spend in cents.

Rolls up the caller org's campaigns: how many there are, how many are
active, and the summed budget and spend in cents.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIGetMarketingSummaryRequest
*/
func (a *MarketingAPIService) GetMarketingSummary(ctx context.Context) MarketingAPIGetMarketingSummaryRequest {
	return MarketingAPIGetMarketingSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Summary
func (a *MarketingAPIService) GetMarketingSummaryExecute(r MarketingAPIGetMarketingSummaryRequest) (*Summary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Summary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingSuppressionsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	limit      *int64
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPIGetMarketingSuppressionsRequest) Limit(limit int64) MarketingAPIGetMarketingSuppressionsRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPIGetMarketingSuppressionsRequest) Execute() (*SuppressionList, *http.Response, error) {
	return r.ApiService.GetMarketingSuppressionsExecute(r)
}

/*
GetMarketingSuppressions Returns the org's opt-out list, newest first — everyone the send gate will refuse to deliver to.

Returns the org's opt-out list, newest first — everyone the
send gate will refuse to deliver to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIGetMarketingSuppressionsRequest
*/
func (a *MarketingAPIService) GetMarketingSuppressions(ctx context.Context) MarketingAPIGetMarketingSuppressionsRequest {
	return MarketingAPIGetMarketingSuppressionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuppressionList
func (a *MarketingAPIService) GetMarketingSuppressionsExecute(r MarketingAPIGetMarketingSuppressionsRequest) (*SuppressionList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuppressionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingSuppressions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/suppressions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIGetMarketingUnsubscribeRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	org        *string
	channel    *string
	address    *string
	token      *string
}

// Org is the org the link was minted for.
func (r MarketingAPIGetMarketingUnsubscribeRequest) Org(org string) MarketingAPIGetMarketingUnsubscribeRequest {
	r.org = &org
	return r
}

// Channel is the surface to opt out of.
func (r MarketingAPIGetMarketingUnsubscribeRequest) Channel(channel string) MarketingAPIGetMarketingUnsubscribeRequest {
	r.channel = &channel
	return r
}

// Address is the recipient to opt out.
func (r MarketingAPIGetMarketingUnsubscribeRequest) Address(address string) MarketingAPIGetMarketingUnsubscribeRequest {
	r.address = &address
	return r
}

// Token is the HMAC over (org, channel, address). It is the ONLY authority here — there is no principal — so it binds the request to one tuple and nothing else.
func (r MarketingAPIGetMarketingUnsubscribeRequest) Token(token string) MarketingAPIGetMarketingUnsubscribeRequest {
	r.token = &token
	return r
}

func (r MarketingAPIGetMarketingUnsubscribeRequest) Execute() (*Unsubscribed, *http.Response, error) {
	return r.ApiService.GetMarketingUnsubscribeExecute(r)
}

/*
GetMarketingUnsubscribe Is the PUBLIC one-click endpoint (no principal): a recipient clicks the signed link in an email footer.

Is the PUBLIC one-click endpoint (no principal): a recipient
clicks the signed link in an email footer. The token binds (org, channel,
address), so a caller can only opt OUT exactly the tuple it was minted for —
never another address and never another org. An invalid token is refused, and
a deployment with no KMS-sealed key refuses rather than accepting anything.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIGetMarketingUnsubscribeRequest
*/
func (a *MarketingAPIService) GetMarketingUnsubscribe(ctx context.Context) MarketingAPIGetMarketingUnsubscribeRequest {
	return MarketingAPIGetMarketingUnsubscribeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Unsubscribed
func (a *MarketingAPIService) GetMarketingUnsubscribeExecute(r MarketingAPIGetMarketingUnsubscribeRequest) (*Unsubscribed, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Unsubscribed
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.GetMarketingUnsubscribe")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/unsubscribe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.channel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "channel", r.channel, "form", "")
	}
	if r.address != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address", r.address, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIPostMarketingAudiencesRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	audience   *Audience
}

func (r MarketingAPIPostMarketingAudiencesRequest) Audience(audience Audience) MarketingAPIPostMarketingAudiencesRequest {
	r.audience = &audience
	return r
}

func (r MarketingAPIPostMarketingAudiencesRequest) Execute() (*Audience, *http.Response, error) {
	return r.ApiService.PostMarketingAudiencesExecute(r)
}

/*
PostMarketingAudiences Saves a cohort filter for the caller's org.

Saves a cohort filter for the caller's org. Name is required.
Omitting event saves the WHOLE-ORG audience — every mailable customer — which
needs no analytics warehouse; naming one narrows that roster to the customers
who fired it within windowDays.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIPostMarketingAudiencesRequest
*/
func (a *MarketingAPIService) PostMarketingAudiences(ctx context.Context) MarketingAPIPostMarketingAudiencesRequest {
	return MarketingAPIPostMarketingAudiencesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Audience
func (a *MarketingAPIService) PostMarketingAudiencesExecute(r MarketingAPIPostMarketingAudiencesRequest) (*Audience, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Audience
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.PostMarketingAudiences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.audience == nil {
		return localVarReturnValue, nil, reportError("audience is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.audience
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIPostMarketingCalendarRequest struct {
	ctx          context.Context
	ApiService   *MarketingAPIService
	calendarPost *CalendarPost
}

func (r MarketingAPIPostMarketingCalendarRequest) CalendarPost(calendarPost CalendarPost) MarketingAPIPostMarketingCalendarRequest {
	r.calendarPost = &calendarPost
	return r
}

func (r MarketingAPIPostMarketingCalendarRequest) Execute() (*CalendarPost, *http.Response, error) {
	return r.ApiService.PostMarketingCalendarExecute(r)
}

/*
PostMarketingCalendar Adds a post to the content calendar.

Adds a post to the content calendar. Channel and body are
required. A scheduledAt in the future makes the post "scheduled" and the
durable sweep publishes it when it comes due — claimed once, so a post
publishes at most once; without one it stays a draft.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIPostMarketingCalendarRequest
*/
func (a *MarketingAPIService) PostMarketingCalendar(ctx context.Context) MarketingAPIPostMarketingCalendarRequest {
	return MarketingAPIPostMarketingCalendarRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CalendarPost
func (a *MarketingAPIService) PostMarketingCalendarExecute(r MarketingAPIPostMarketingCalendarRequest) (*CalendarPost, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CalendarPost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.PostMarketingCalendar")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.calendarPost == nil {
		return localVarReturnValue, nil, reportError("calendarPost is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.calendarPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIPostMarketingCalendarByIdPublishRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPIPostMarketingCalendarByIdPublishRequest) Execute() (*CalendarPost, *http.Response, error) {
	return r.ApiService.PostMarketingCalendarByIdPublishExecute(r)
}

/*
PostMarketingCalendarByIdPublish Publishes a post NOW, synchronously, whatever its schedule.

Publishes a post NOW, synchronously, whatever its
schedule. No social connector is wired today, so every channel answers an
honest 501 naming the client a real one would plug into, and the post is
recorded failed with that exact reason — never a faked "published".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the post id from the path, as returned by create.
	@return MarketingAPIPostMarketingCalendarByIdPublishRequest
*/
func (a *MarketingAPIService) PostMarketingCalendarByIdPublish(ctx context.Context, id string) MarketingAPIPostMarketingCalendarByIdPublishRequest {
	return MarketingAPIPostMarketingCalendarByIdPublishRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CalendarPost
func (a *MarketingAPIService) PostMarketingCalendarByIdPublishExecute(r MarketingAPIPostMarketingCalendarByIdPublishRequest) (*CalendarPost, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CalendarPost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.PostMarketingCalendarByIdPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar/{id}/publish"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIPostMarketingCampaignsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	campaign   *Campaign
}

func (r MarketingAPIPostMarketingCampaignsRequest) Campaign(campaign Campaign) MarketingAPIPostMarketingCampaignsRequest {
	r.campaign = &campaign
	return r
}

func (r MarketingAPIPostMarketingCampaignsRequest) Execute() (*Campaign, *http.Response, error) {
	return r.ApiService.PostMarketingCampaignsExecute(r)
}

/*
PostMarketingCampaigns Registers a campaign in the caller's org.

Registers a campaign in the caller's org. Name is required;
channel defaults to email and status to draft, and a future scheduledAt with
no explicit status makes the campaign "scheduled". Budget and spend are cents
and are clamped to >= 0. The id, createdAt and updatedAt of the input are
ignored — the server assigns them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPIPostMarketingCampaignsRequest
*/
func (a *MarketingAPIService) PostMarketingCampaigns(ctx context.Context) MarketingAPIPostMarketingCampaignsRequest {
	return MarketingAPIPostMarketingCampaignsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Campaign
func (a *MarketingAPIService) PostMarketingCampaignsExecute(r MarketingAPIPostMarketingCampaignsRequest) (*Campaign, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Campaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.PostMarketingCampaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.campaign == nil {
		return localVarReturnValue, nil, reportError("campaign is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.campaign
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPIPostMarketingCampaignsByIdScheduleRequest struct {
	ctx           context.Context
	ApiService    *MarketingAPIService
	id            string
	scheduleInput *ScheduleInput
}

func (r MarketingAPIPostMarketingCampaignsByIdScheduleRequest) ScheduleInput(scheduleInput ScheduleInput) MarketingAPIPostMarketingCampaignsByIdScheduleRequest {
	r.scheduleInput = &scheduleInput
	return r
}

func (r MarketingAPIPostMarketingCampaignsByIdScheduleRequest) Execute() (*Campaign, *http.Response, error) {
	return r.ApiService.PostMarketingCampaignsByIdScheduleExecute(r)
}

/*
PostMarketingCampaignsByIdSchedule Sets a campaign's send time and moves it to \"scheduled\".

Sets a campaign's send time and moves it to "scheduled". A
scheduledAt of 0 clears the schedule and returns it to "draft".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign id from the path.
	@return MarketingAPIPostMarketingCampaignsByIdScheduleRequest
*/
func (a *MarketingAPIService) PostMarketingCampaignsByIdSchedule(ctx context.Context, id string) MarketingAPIPostMarketingCampaignsByIdScheduleRequest {
	return MarketingAPIPostMarketingCampaignsByIdScheduleRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Campaign
func (a *MarketingAPIService) PostMarketingCampaignsByIdScheduleExecute(r MarketingAPIPostMarketingCampaignsByIdScheduleRequest) (*Campaign, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Campaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.PostMarketingCampaignsByIdSchedule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns/{id}/schedule"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scheduleInput == nil {
		return localVarReturnValue, nil, reportError("scheduleInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
[...]
