/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// Web3APIService Web3API service
type Web3APIService service

type Web3APIGetWeb3ChainsRequest struct {
	ctx        context.Context
	ApiService *Web3APIService
}

func (r Web3APIGetWeb3ChainsRequest) Execute() (*ChainList, *http.Response, error) {
	return r.ApiService.GetWeb3ChainsExecute(r)
}

/*
GetWeb3Chains Reports the chains this deployment can reach.

Reports the chains this deployment can reach. The list is the
declared registry, so it is exactly what /v1/web3/rpc will accept — a chain that
appears here is one this deployment actually has an upstream for.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Web3APIGetWeb3ChainsRequest
*/
func (a *Web3APIService) GetWeb3Chains(ctx context.Context) Web3APIGetWeb3ChainsRequest {
	return Web3APIGetWeb3ChainsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ChainList
func (a *Web3APIService) GetWeb3ChainsExecute(r Web3APIGetWeb3ChainsRequest) (*ChainList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChainList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Web3APIService.GetWeb3Chains")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/web3/chains"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Web3APIGetWeb3ChainsByChainRequest struct {
	ctx        context.Context
	ApiService *Web3APIService
	chain      string
}

func (r Web3APIGetWeb3ChainsByChainRequest) Execute() (*ChainStatus, *http.Response, error) {
	return r.ApiService.GetWeb3ChainsByChainExecute(r)
}

/*
GetWeb3ChainsByChain Reports one chain and whether its upstream is answering.

Reports one chain and whether its upstream is answering. An
unreachable chain is still a 200 with live:false — the chain is configured,
which is a different fact from the chain being up, and a 502 here would make
a console page error rather than show the outage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param chain Chain is the registry id, as in /v1/web3/chains/lux.
	@return Web3APIGetWeb3ChainsByChainRequest
*/
func (a *Web3APIService) GetWeb3ChainsByChain(ctx context.Context, chain string) Web3APIGetWeb3ChainsByChainRequest {
	return Web3APIGetWeb3ChainsByChainRequest{
		ApiService: a,
		ctx:        ctx,
		chain:      chain,
	}
}

// Execute executes the request
//
//	@return ChainStatus
func (a *Web3APIService) GetWeb3ChainsByChainExecute(r Web3APIGetWeb3ChainsByChainRequest) (*ChainStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ChainStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Web3APIService.GetWeb3ChainsByChain")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/web3/chains/{chain}"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Web3APIGetWeb3TokensByChainByAddressRequest struct {
	ctx        context.Context
	ApiService *Web3APIService
	chain      string
	address    string
}

func (r Web3APIGetWeb3TokensByChainByAddressRequest) Execute() (*Balances, *http.Response, error) {
	return r.ApiService.GetWeb3TokensByChainByAddressExecute(r)
}

/*
GetWeb3TokensByChainByAddress Reads an address's native balance on a chain.

Reads an address's native balance on a chain.

ERC-20 positions are NOT enumerated here: eth_getBalance answers the native
one, but "every token this address holds" is an indexer question — there is no
RPC call that answers it, and walking a token list would return a number that
silently omits whatever the list missed. explorer owns the indexer
relationship; this returns the balance the chain itself can prove.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param chain Chain is the registry id.
	@param address Address is the account, 0x-prefixed.
	@return Web3APIGetWeb3TokensByChainByAddressRequest
*/
func (a *Web3APIService) GetWeb3TokensByChainByAddress(ctx context.Context, chain string, address string) Web3APIGetWeb3TokensByChainByAddressRequest {
	return Web3APIGetWeb3TokensByChainByAddressRequest{
		ApiService: a,
		ctx:        ctx,
		chain:      chain,
		address:    address,
	}
}

// Execute executes the request
//
//	@return Balances
func (a *Web3APIService) GetWeb3TokensByChainByAddressExecute(r Web3APIGetWeb3TokensByChainByAddressRequest) (*Balances, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Balances
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Web3APIService.GetWeb3TokensByChainByAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/web3/tokens/{chain}/{address}"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"address"+"}", url.PathEscape(parameterValueToString(r.address, "address")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Web3APIPostWeb3RpcByChainRequest struct {
	ctx        context.Context
	ApiService *Web3APIService
	chain      string
	rpcIn      *RpcIn
}

func (r Web3APIPostWeb3RpcByChainRequest) RpcIn(rpcIn RpcIn) Web3APIPostWeb3RpcByChainRequest {
	r.rpcIn = &rpcIn
	return r
}

func (r Web3APIPostWeb3RpcByChainRequest) Execute() (*RpcOut, *http.Response, error) {
	return r.ApiService.PostWeb3RpcByChainExecute(r)
}

/*
PostWeb3RpcByChain Forwards a JSON-RPC call to the named chain and returns its answer unchanged.

Forwards a JSON-RPC call to the named chain and returns its answer
unchanged. Only declared chains are reachable, and only to a caller with a
validated principal — this is the deployment's upstream, not an open relay.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param chain Chain is the registry id, from the URL.
	@return Web3APIPostWeb3RpcByChainRequest
*/
func (a *Web3APIService) PostWeb3RpcByChain(ctx context.Context, chain string) Web3APIPostWeb3RpcByChainRequest {
	return Web3APIPostWeb3RpcByChainRequest{
		ApiService: a,
		ctx:        ctx,
		chain:      chain,
	}
}

// Execute executes the request
//
//	@return RpcOut
func (a *Web3APIService) PostWeb3RpcByChainExecute(r Web3APIPostWeb3RpcByChainRequest) (*RpcOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RpcOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Web3APIService.PostWeb3RpcByChain")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/web3/rpc/{chain}"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rpcIn == nil {
		return localVarReturnValue, nil, reportError("rpcIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rpcIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
