/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// SlackAPIService SlackAPI service
type SlackAPIService service

type SlackAPIIntegrationsSlackCommandsRequest struct {
	ctx         context.Context
	ApiService  *SlackAPIService
	command     *string
	text        *string
	teamId      *string
	userId      *string
	channelId   *string
	responseUrl *string
}

func (r SlackAPIIntegrationsSlackCommandsRequest) Command(command string) SlackAPIIntegrationsSlackCommandsRequest {
	r.command = &command
	return r
}

func (r SlackAPIIntegrationsSlackCommandsRequest) Text(text string) SlackAPIIntegrationsSlackCommandsRequest {
	r.text = &text
	return r
}

func (r SlackAPIIntegrationsSlackCommandsRequest) TeamId(teamId string) SlackAPIIntegrationsSlackCommandsRequest {
	r.teamId = &teamId
	return r
}

func (r SlackAPIIntegrationsSlackCommandsRequest) UserId(userId string) SlackAPIIntegrationsSlackCommandsRequest {
	r.userId = &userId
	return r
}

func (r SlackAPIIntegrationsSlackCommandsRequest) ChannelId(channelId string) SlackAPIIntegrationsSlackCommandsRequest {
	r.channelId = &channelId
	return r
}

func (r SlackAPIIntegrationsSlackCommandsRequest) ResponseUrl(responseUrl string) SlackAPIIntegrationsSlackCommandsRequest {
	r.responseUrl = &responseUrl
	return r
}

func (r SlackAPIIntegrationsSlackCommandsRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackCommandsExecute(r)
}

/*
IntegrationsSlackCommands Slack slash command webhook

Public at the JWT layer; HMAC-verified inside the handler. Accepts the Slack `application/x-www-form-urlencoded` slash-command payload.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SlackAPIIntegrationsSlackCommandsRequest
*/
func (a *SlackAPIService) IntegrationsSlackCommands(ctx context.Context) SlackAPIIntegrationsSlackCommandsRequest {
	return SlackAPIIntegrationsSlackCommandsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *SlackAPIService) IntegrationsSlackCommandsExecute(r SlackAPIIntegrationsSlackCommandsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackCommands")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/commands"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.command != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "command", r.command, "", "")
	}
	if r.text != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "text", r.text, "", "")
	}
	if r.teamId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "team_id", r.teamId, "", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "user_id", r.userId, "", "")
	}
	if r.channelId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "channel_id", r.channelId, "", "")
	}
	if r.responseUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "response_url", r.responseUrl, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SlackAPIIntegrationsSlackEventsRequest struct {
	ctx                            context.Context
	ApiService                     *SlackAPIService
	integrationsSlackEventEnvelope *IntegrationsSlackEventEnvelope
}

func (r SlackAPIIntegrationsSlackEventsRequest) IntegrationsSlackEventEnvelope(integrationsSlackEventEnvelope IntegrationsSlackEventEnvelope) SlackAPIIntegrationsSlackEventsRequest {
	r.integrationsSlackEventEnvelope = &integrationsSlackEventEnvelope
	return r
}

func (r SlackAPIIntegrationsSlackEventsRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackEventsExecute(r)
}

/*
IntegrationsSlackEvents Slack Events API webhook

Public at the JWT layer; authenticated inside the handler by HMAC-SHA256 over the raw body with the Slack signing secret. Handles the `url_verification` challenge and routes `app_mention`/`message` events to an on-behalf-of agent run.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SlackAPIIntegrationsSlackEventsRequest
*/
func (a *SlackAPIService) IntegrationsSlackEvents(ctx context.Context) SlackAPIIntegrationsSlackEventsRequest {
	return SlackAPIIntegrationsSlackEventsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *SlackAPIService) IntegrationsSlackEventsExecute(r SlackAPIIntegrationsSlackEventsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackEvents")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.integrationsSlackEventEnvelope == nil {
		return nil, reportError("integrationsSlackEventEnvelope is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.integrationsSlackEventEnvelope
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SlackAPIIntegrationsSlackLinkCallbackRequest struct {
	ctx        context.Context
	ApiService *SlackAPIService
	code       *string
	state      *string
	error_     *string
}

func (r SlackAPIIntegrationsSlackLinkCallbackRequest) Code(code string) SlackAPIIntegrationsSlackLinkCallbackRequest {
	r.code = &code
	return r
}

func (r SlackAPIIntegrationsSlackLinkCallbackRequest) State(state string) SlackAPIIntegrationsSlackLinkCallbackRequest {
	r.state = &state
	return r
}

func (r SlackAPIIntegrationsSlackLinkCallbackRequest) Error_(error_ string) SlackAPIIntegrationsSlackLinkCallbackRequest {
	r.error_ = &error_
	return r
}

func (r SlackAPIIntegrationsSlackLinkCallbackRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkCallbackExecute(r)
}

/*
IntegrationsSlackLinkCallback hanzo.id OIDC callback — bind Slack↔Hanzo (leg 3)

Reads the Slack-verified (team,user) from the `__Host-` link cookie, exchanges the OIDC code, and seals the refresh token into the workspace org's KMS namespace. Returns an HTML confirmation page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SlackAPIIntegrationsSlackLinkCallbackRequest
*/
func (a *SlackAPIService) IntegrationsSlackLinkCallback(ctx context.Context) SlackAPIIntegrationsSlackLinkCallbackRequest {
	return SlackAPIIntegrationsSlackLinkCallbackRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *SlackAPIService) IntegrationsSlackLinkCallbackExecute(r SlackAPIIntegrationsSlackLinkCallbackRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackLinkCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link/callback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SlackAPIIntegrationsSlackLinkSlackRequest struct {
	ctx        context.Context
	ApiService *SlackAPIService
	code       *string
	state      *string
	error_     *string
}

func (r SlackAPIIntegrationsSlackLinkSlackRequest) Code(code string) SlackAPIIntegrationsSlackLinkSlackRequest {
	r.code = &code
	return r
}

func (r SlackAPIIntegrationsSlackLinkSlackRequest) State(state string) SlackAPIIntegrationsSlackLinkSlackRequest {
	r.state = &state
	return r
}

func (r SlackAPIIntegrationsSlackLinkSlackRequest) Error_(error_ string) SlackAPIIntegrationsSlackLinkSlackRequest {
	r.error_ = &error_
	return r
}

func (r SlackAPIIntegrationsSlackLinkSlackRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkSlackExecute(r)
}

/*
IntegrationsSlackLinkSlack Slack sign-in callback (leg 2)

Requires the leg-1 init cookie to match the sign-in state before exchanging the code; sets the `__Host-` link cookie and redirects to hanzo.id OIDC.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SlackAPIIntegrationsSlackLinkSlackRequest
*/
func (a *SlackAPIService) IntegrationsSlackLinkSlack(ctx context.Context) SlackAPIIntegrationsSlackLinkSlackRequest {
	return SlackAPIIntegrationsSlackLinkSlackRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *SlackAPIService) IntegrationsSlackLinkSlackExecute(r SlackAPIIntegrationsSlackLinkSlackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackLinkSlack")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link/slack"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SlackAPIIntegrationsSlackLinkStartRequest struct {
	ctx        context.Context
	ApiService *SlackAPIService
	state      *string
}

// Signed, single-use link state
func (r SlackAPIIntegrationsSlackLinkStartRequest) State(state string) SlackAPIIntegrationsSlackLinkStartRequest {
	r.state = &state
	return r
}

func (r SlackAPIIntegrationsSlackLinkStartRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkStartExecute(r)
}

/*
IntegrationsSlackLinkStart Begin the per-user account link (leg 1 — Slack sign-in)

Sets a `__Host-` init cookie and redirects to Slack sign-in. State-authed (no bearer).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SlackAPIIntegrationsSlackLinkStartRequest
*/
func (a *SlackAPIService) IntegrationsSlackLinkStart(ctx context.Context) SlackAPIIntegrationsSlackLinkStartRequest {
	return SlackAPIIntegrationsSlackLinkStartRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *SlackAPIService) IntegrationsSlackLinkStartExecute(r SlackAPIIntegrationsSlackLinkStartRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SlackAPIService.IntegrationsSlackLinkStart")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.state == nil {
		return nil, reportError("state is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
