/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ResearchAPIService ResearchAPI service
type ResearchAPIService service

type ResearchAPIGetResearchArtifactsRequest struct {
	ctx        context.Context
	ApiService *ResearchAPIService
	project    *string
	run        *string
	since      *int32
}

// Project narrows to one project. Empty takes the caller&#39;s project scope.
func (r ResearchAPIGetResearchArtifactsRequest) Project(project string) ResearchAPIGetResearchArtifactsRequest {
	r.project = &project
	return r
}

// Run narrows to one run&#39;s artifacts by its stable id.
func (r ResearchAPIGetResearchArtifactsRequest) Run(run string) ResearchAPIGetResearchArtifactsRequest {
	r.run = &run
	return r
}

// Since bounds the feed to artifacts recorded at or after this unix second.
func (r ResearchAPIGetResearchArtifactsRequest) Since(since int32) ResearchAPIGetResearchArtifactsRequest {
	r.since = &since
	return r
}

func (r ResearchAPIGetResearchArtifactsRequest) Execute() (*ArtifactsOut, *http.Response, error) {
	return r.ApiService.GetResearchArtifactsExecute(r)
}

/*
GetResearchArtifacts Returns the caller org's research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash.

Returns the caller org's research-diary feed newest-first —
the snapshots and reports tied to its runs, as metadata and content addresses;
the bytes themselves are fetched by hash. ?run= narrows to one run, ?project=
to one project (default the caller's project scope), and ?since= to a unix second.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPIGetResearchArtifactsRequest
*/
func (a *ResearchAPIService) GetResearchArtifacts(ctx context.Context) ResearchAPIGetResearchArtifactsRequest {
	return ResearchAPIGetResearchArtifactsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ArtifactsOut
func (a *ResearchAPIService) GetResearchArtifactsExecute(r ResearchAPIGetResearchArtifactsRequest) (*ArtifactsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ArtifactsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.GetResearchArtifacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/artifacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.run != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "run", r.run, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPIGetResearchArtifactsBySha256Request struct {
	ctx        context.Context
	ApiService *ResearchAPIService
	sha256     string
}

func (r ResearchAPIGetResearchArtifactsBySha256Request) Execute() (*http.Response, error) {
	return r.ApiService.GetResearchArtifactsBySha256Execute(r)
}

/*
GetResearchArtifactsBySha256 Fetch one recorded artifact's bytes by its content hash.

Streams the artifact's stored bytes — the retrieval half of hash-addressing, where the diary feed hands out hashes and this hands back what they name. The Content-Type is image/png when the artifact was recorded as a snapshot and application/octet-stream otherwise; it comes from the recorded KIND, not from sniffing the bytes, so an artifact filed as a report always arrives as opaque bytes.

The hash is an address, and the read is NOT global. The store file IS the org, so the same bytes recorded by two tenants are two artifacts, and a hash that exists but belongs to somebody else is a 404 exactly like one that was never recorded — knowing a content hash is never enough to read it. A caller with no validated org is refused 403 outright.

Project narrows further INSIDE that org: the artifact's project must equal the caller's, which is `?project=` when given and otherwise the caller's own project scope, defaulting to the default project. So an artifact filed under a named project is not found until the caller names that project — a mismatch is the same 404 an unknown hash gets, never a distinguishable refusal.

The address can be trusted because the WRITE derived it: the server hashes the bytes it stores, inside the trust boundary, and refuses a client-supplied sha256 that disagrees with them, so poisoning a first write would take a preimage. This read does not re-hash — it looks the hash up as a key.

One shape to expect: this route writes its errors IN-BAND as {"error": …} at the real status code, not the {status, error} envelope the typed ops beside it return. It is mounted under an error-flattening filter that would otherwise rewrite its 4xx, so the body is written before that filter runs. A store that cannot be opened is a 500.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sha256
	@return ResearchAPIGetResearchArtifactsBySha256Request
*/
func (a *ResearchAPIService) GetResearchArtifactsBySha256(ctx context.Context, sha256 string) ResearchAPIGetResearchArtifactsBySha256Request {
	return ResearchAPIGetResearchArtifactsBySha256Request{
		ApiService: a,
		ctx:        ctx,
		sha256:     sha256,
	}
}

// Execute executes the request
func (a *ResearchAPIService) GetResearchArtifactsBySha256Execute(r ResearchAPIGetResearchArtifactsBySha256Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.GetResearchArtifactsBySha256")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/artifacts/{sha256}"
	localVarPath = strings.Replace(localVarPath, "{"+"sha256"+"}", url.PathEscape(parameterValueToString(r.sha256, "sha256")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ResearchAPIGetResearchExperimentsRequest struct {
	ctx        context.Context
	ApiService *ResearchAPIService
	project    *string
	kind       *string
}

// Project narrows to one project. Empty reads the org&#39;s whole set across projects.
func (r ResearchAPIGetResearchExperimentsRequest) Project(project string) ResearchAPIGetResearchExperimentsRequest {
	r.project = &project
	return r
}

// Kind narrows to one discriminator: benchmark, kernel-perf, training, ablation or policy-eval.
func (r ResearchAPIGetResearchExperimentsRequest) Kind(kind string) ResearchAPIGetResearchExperimentsRequest {
	r.kind = &kind
	return r
}

func (r ResearchAPIGetResearchExperimentsRequest) Execute() (*ExperimentsOut, *http.Response, error) {
	return r.ApiService.GetResearchExperimentsExecute(r)
}

/*
GetResearchExperiments Returns the caller org's CANONICAL experiments — the deterministic deduped view over the versioned history.

Returns the caller org's CANONICAL experiments — the deterministic
deduped view over the versioned history. With no ?project= it reads the org's
whole set across projects (the ops board's cross-project view, since a project is
a sub-scope of the one tenant); ?project= narrows to one and ?kind= to one
discriminator.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPIGetResearchExperimentsRequest
*/
func (a *ResearchAPIService) GetResearchExperiments(ctx context.Context) ResearchAPIGetResearchExperimentsRequest {
	return ResearchAPIGetResearchExperimentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ExperimentsOut
func (a *ResearchAPIService) GetResearchExperimentsExecute(r ResearchAPIGetResearchExperimentsRequest) (*ExperimentsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExperimentsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.GetResearchExperiments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/experiments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPIGetResearchProjectsRequest struct {
	ctx        context.Context
	ApiService *ResearchAPIService
}

func (r ResearchAPIGetResearchProjectsRequest) Execute() (*ProjectsOut, *http.Response, error) {
	return r.ApiService.GetResearchProjectsExecute(r)
}

/*
GetResearchProjects Returns every research project in the caller's org with its real totals — canonical and retained side by side — which is the ops board's \"every project + real totals\" view.

Returns every research project in the caller's org with its
real totals — canonical and retained side by side — which is the ops board's
"every project + real totals" view.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPIGetResearchProjectsRequest
*/
func (a *ResearchAPIService) GetResearchProjects(ctx context.Context) ResearchAPIGetResearchProjectsRequest {
	return ResearchAPIGetResearchProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectsOut
func (a *ResearchAPIService) GetResearchProjectsExecute(r ResearchAPIGetResearchProjectsRequest) (*ProjectsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.GetResearchProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPIGetResearchTotalsRequest struct {
	ctx        context.Context
	ApiService *ResearchAPIService
	project    *string
}

// Project narrows the aggregate to one project. Empty aggregates the whole org.
func (r ResearchAPIGetResearchTotalsRequest) Project(project string) ResearchAPIGetResearchTotalsRequest {
	r.project = &project
	return r
}

func (r ResearchAPIGetResearchTotalsRequest) Execute() (*ResearchTotals, *http.Response, error) {
	return r.ApiService.GetResearchTotalsExecute(r)
}

/*
GetResearchTotals Returns the caller org's headline aggregate plus a per-kind breakdown — the observatory's poll target.

Returns the caller org's headline aggregate plus a per-kind
breakdown — the observatory's poll target. Canonical and retained counts travel
together, so a deduped view never reads as loss. ?project= narrows to one project.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPIGetResearchTotalsRequest
*/
func (a *ResearchAPIService) GetResearchTotals(ctx context.Context) ResearchAPIGetResearchTotalsRequest {
	return ResearchAPIGetResearchTotalsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ResearchTotals
func (a *ResearchAPIService) GetResearchTotalsExecute(r ResearchAPIGetResearchTotalsRequest) (*ResearchTotals, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResearchTotals
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.GetResearchTotals")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/totals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPIPostResearchArtifactsRequest struct {
	ctx              context.Context
	ApiService       *ResearchAPIService
	researchArtifact *ResearchArtifact
}

func (r ResearchAPIPostResearchArtifactsRequest) ResearchArtifact(researchArtifact ResearchArtifact) ResearchAPIPostResearchArtifactsRequest {
	r.researchArtifact = &researchArtifact
	return r
}

func (r ResearchAPIPostResearchArtifactsRequest) Execute() (*ArtifactOut, *http.Response, error) {
	return r.ApiService.PostResearchArtifactsExecute(r)
}

/*
PostResearchArtifacts Records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary.

Records one research-diary artifact — a board snapshot or a
generated report — CONTENT-ADDRESSED inside the trust boundary. The caller submits
the bytes as base64 `content`; the SERVER hashes them and THAT hash is the identity
and the ref, so the address can never be poisoned by a client-asserted one. A
client-supplied sha256, if present, must match the bytes. The project is the
SERVER's value and visibility is forced private. Re-posting the same bytes is a
no-op that reports created=false.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPIPostResearchArtifactsRequest
*/
func (a *ResearchAPIService) PostResearchArtifacts(ctx context.Context) ResearchAPIPostResearchArtifactsRequest {
	return ResearchAPIPostResearchArtifactsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ArtifactOut
func (a *ResearchAPIService) PostResearchArtifactsExecute(r ResearchAPIPostResearchArtifactsRequest) (*ArtifactOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ArtifactOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.PostResearchArtifacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/artifacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.researchArtifact == nil {
		return localVarReturnValue, nil, reportError("researchArtifact is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.researchArtifact
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPIPostResearchExperimentsRequest struct {
	ctx           context.Context
	ApiService    *ResearchAPIService
	ingestRequest *IngestRequest
}

func (r ResearchAPIPostResearchExperimentsRequest) IngestRequest(ingestRequest IngestRequest) ResearchAPIPostResearchExperimentsRequest {
	r.ingestRequest = &ingestRequest
	return r
}

func (r ResearchAPIPostResearchExperimentsRequest) Execute() (*IngestOut, *http.Response, error) {
	return r.ApiService.PostResearchExperimentsExecute(r)
}

/*
PostResearchExperiments Appends one batch of experiment and attempt versions to the caller org's evidence store, idempotently by content, then rolls it up to the analytics plane best-effort.

Appends one batch of experiment and attempt versions to the
caller org's evidence store, idempotently by content, then rolls it up to the
analytics plane best-effort. The project is the SERVER's value and visibility is
forced private — an upload grants no training or publication right, which is a
separate call. A run carrying a BYO endpoint is SSRF-checked before the store is
touched. The answer carries BOTH the canonical (deduped) and retained (full
history) counts, so a caller sees the versioned truth rather than a dedup that
reads as loss.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPIPostResearchExperimentsRequest
*/
func (a *ResearchAPIService) PostResearchExperiments(ctx context.Context) ResearchAPIPostResearchExperimentsRequest {
	return ResearchAPIPostResearchExperimentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IngestOut
func (a *ResearchAPIService) PostResearchExperimentsExecute(r ResearchAPIPostResearchExperimentsRequest) (*IngestOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IngestOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.PostResearchExperiments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/experiments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ingestRequest == nil {
		return localVarReturnValue, nil, reportError("ingestRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ingestRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPIPostResearchGrantsRequest struct {
	ctx          context.Context
	ApiService   *ResearchAPIService
	grantRequest *GrantRequest
}

func (r ResearchAPIPostResearchGrantsRequest) GrantRequest(grantRequest GrantRequest) ResearchAPIPostResearchGrantsRequest {
	r.grantRequest = &grantRequest
	return r
}

func (r ResearchAPIPostResearchGrantsRequest) Execute() (*GrantOut, *http.Response, error) {
	return r.ApiService.PostResearchGrantsExecute(r)
}

/*
PostResearchGrants Records the SEPARATE authorization an upload never implies: a record's visibility (private, org or public) and, for a run, its training and commons-publication consent.

Records the SEPARATE authorization an upload never
implies: a record's visibility (private, org or public) and, for a run, its
training and commons-publication consent. Address a run by its stable id or an
artifact by its sha256; an artifact grant sets visibility only. The ORG is the
tenant boundary and comes from the validated principal, so a caller can only ever
grant within its own org; `project` locates WHICH record inside it and defaults to
the caller's project scope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPIPostResearchGrantsRequest
*/
func (a *ResearchAPIService) PostResearchGrants(ctx context.Context) ResearchAPIPostResearchGrantsRequest {
	return ResearchAPIPostResearchGrantsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GrantOut
func (a *ResearchAPIService) PostResearchGrantsExecute(r ResearchAPIPostResearchGrantsRequest) (*GrantOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GrantOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.PostResearchGrants")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/grants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.grantRequest == nil {
		return localVarReturnValue, nil, reportError("grantRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.grantRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
