/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// WalletsAPIService WalletsAPI service
type WalletsAPIService service

type WalletsAPICloudGetV1WalletsRequest struct {
	ctx        context.Context
	ApiService *WalletsAPIService
	project    *string
	agent      *string
	account    *string
}

// Project narrows to wallets scoped to one project. Must be a url-safe segment.
func (r WalletsAPICloudGetV1WalletsRequest) Project(project string) WalletsAPICloudGetV1WalletsRequest {
	r.project = &project
	return r
}

// Agent narrows to wallets scoped to one agent. Must be a url-safe segment.
func (r WalletsAPICloudGetV1WalletsRequest) Agent(agent string) WalletsAPICloudGetV1WalletsRequest {
	r.agent = &agent
	return r
}

// Account narrows to wallets under one account id. Must be a url-safe segment.
func (r WalletsAPICloudGetV1WalletsRequest) Account(account string) WalletsAPICloudGetV1WalletsRequest {
	r.account = &account
	return r
}

func (r WalletsAPICloudGetV1WalletsRequest) Execute() (*CloudWalletList, *http.Response, error) {
	return r.ApiService.CloudGetV1WalletsExecute(r)
}

/*
CloudGetV1Wallets Returns the caller org's wallets, newest first, optionally NARROWED within the org by project, agent or account.

Returns the caller org's wallets, newest first, optionally NARROWED
within the org by project, agent or account. The org is always the bound
isolation boundary — the filters only ever narrow inside it, so a caller can
never widen past its own org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WalletsAPICloudGetV1WalletsRequest
*/
func (a *WalletsAPIService) CloudGetV1Wallets(ctx context.Context) WalletsAPICloudGetV1WalletsRequest {
	return WalletsAPICloudGetV1WalletsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudWalletList
func (a *WalletsAPIService) CloudGetV1WalletsExecute(r WalletsAPICloudGetV1WalletsRequest) (*CloudWalletList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudWalletList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAPIService.CloudGetV1Wallets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.agent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent", r.agent, "form", "")
	}
	if r.account != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account", r.account, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WalletsAPICloudGetV1WalletsAccountsRequest struct {
	ctx        context.Context
	ApiService *WalletsAPIService
}

func (r WalletsAPICloudGetV1WalletsAccountsRequest) Execute() (*CloudAccountList, *http.Response, error) {
	return r.ApiService.CloudGetV1WalletsAccountsExecute(r)
}

/*
CloudGetV1WalletsAccounts Returns the caller org's wallet accounts, newest first.

Returns the caller org's wallet accounts, newest first. Accounts
are physically org-scoped, so another tenant's are not reachable from here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WalletsAPICloudGetV1WalletsAccountsRequest
*/
func (a *WalletsAPIService) CloudGetV1WalletsAccounts(ctx context.Context) WalletsAPICloudGetV1WalletsAccountsRequest {
	return WalletsAPICloudGetV1WalletsAccountsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAccountList
func (a *WalletsAPIService) CloudGetV1WalletsAccountsExecute(r WalletsAPICloudGetV1WalletsAccountsRequest) (*CloudAccountList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAccountList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAPIService.CloudGetV1WalletsAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WalletsAPICloudGetV1WalletsIdRequest struct {
	ctx        context.Context
	ApiService *WalletsAPIService
	id         string
}

func (r WalletsAPICloudGetV1WalletsIdRequest) Execute() (*CloudWallet, *http.Response, error) {
	return r.ApiService.CloudGetV1WalletsIdExecute(r)
}

/*
CloudGetV1WalletsId Returns one of the caller org's wallets: its scope, custody kind, tier, chain and on-chain address.

Returns one of the caller org's wallets: its scope, custody kind,
tier, chain and on-chain address. The custody handle to the signing material is
never part of the answer. A wallet id another org owns reads as not found, so
the response cannot confirm that it exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return WalletsAPICloudGetV1WalletsIdRequest
*/
func (a *WalletsAPIService) CloudGetV1WalletsId(ctx context.Context, id string) WalletsAPICloudGetV1WalletsIdRequest {
	return WalletsAPICloudGetV1WalletsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudWallet
func (a *WalletsAPIService) CloudGetV1WalletsIdExecute(r WalletsAPICloudGetV1WalletsIdRequest) (*CloudWallet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudWallet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAPIService.CloudGetV1WalletsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WalletsAPICloudPostV1WalletsRequest struct {
	ctx                 context.Context
	ApiService          *WalletsAPIService
	cloudCreateWalletIn *CloudCreateWalletIn
}

func (r WalletsAPICloudPostV1WalletsRequest) CloudCreateWalletIn(cloudCreateWalletIn CloudCreateWalletIn) WalletsAPICloudPostV1WalletsRequest {
	r.cloudCreateWalletIn = &cloudCreateWalletIn
	return r
}

func (r WalletsAPICloudPostV1WalletsRequest) Execute() (*CloudWallet, *http.Response, error) {
	return r.ApiService.CloudPostV1WalletsExecute(r)
}

/*
CloudPostV1Wallets Provisions a new signing identity under one of the caller org's accounts and answers the stored wallet including its on-chain address.

Provisions a new signing identity under one of the caller org's
accounts and answers the stored wallet including its on-chain address. The
custody backend generates the key material — a KMS-sealed secp256k1 key, an
MPC threshold key on the ring, or a Safe smart wallet owned by one — and the
HANDLE to it is kept server-side and never returned. A custody kind the
deployment has not wired fails CLOSED with 503: a signature is never
fabricated. The wallet is scoped to the org, the caller's ambient project, and
optionally an agent and the named account; those narrowings are what its key
ref is derived from, so each must be a url-safe segment.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WalletsAPICloudPostV1WalletsRequest
*/
func (a *WalletsAPIService) CloudPostV1Wallets(ctx context.Context) WalletsAPICloudPostV1WalletsRequest {
	return WalletsAPICloudPostV1WalletsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudWallet
func (a *WalletsAPIService) CloudPostV1WalletsExecute(r WalletsAPICloudPostV1WalletsRequest) (*CloudWallet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudWallet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAPIService.CloudPostV1Wallets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateWalletIn == nil {
		return localVarReturnValue, nil, reportError("cloudCreateWalletIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateWalletIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WalletsAPICloudPostV1WalletsAccountsRequest struct {
	ctx                  context.Context
	ApiService           *WalletsAPIService
	cloudCreateAccountIn *CloudCreateAccountIn
}

func (r WalletsAPICloudPostV1WalletsAccountsRequest) CloudCreateAccountIn(cloudCreateAccountIn CloudCreateAccountIn) WalletsAPICloudPostV1WalletsAccountsRequest {
	r.cloudCreateAccountIn = &cloudCreateAccountIn
	return r
}

func (r WalletsAPICloudPostV1WalletsAccountsRequest) Execute() (*CloudWalletAccount, *http.Response, error) {
	return r.ApiService.CloudPostV1WalletsAccountsExecute(r)
}

/*
CloudPostV1WalletsAccounts Opens a named wallet account for the caller's org.

Opens a named wallet account for the caller's org. An account is
a GROUPING of wallets, not a key or a balance: wallets are created under one
and can be listed by it. The org is stamped by the server from the validated
principal, so a request can never open an account in another tenant.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WalletsAPICloudPostV1WalletsAccountsRequest
*/
func (a *WalletsAPIService) CloudPostV1WalletsAccounts(ctx context.Context) WalletsAPICloudPostV1WalletsAccountsRequest {
	return WalletsAPICloudPostV1WalletsAccountsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudWalletAccount
func (a *WalletsAPIService) CloudPostV1WalletsAccountsExecute(r WalletsAPICloudPostV1WalletsAccountsRequest) (*CloudWalletAccount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudWalletAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAPIService.CloudPostV1WalletsAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateAccountIn == nil {
		return localVarReturnValue, nil, reportError("cloudCreateAccountIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateAccountIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WalletsAPICloudPostV1WalletsIdKeysRequest struct {
	ctx        context.Context
	ApiService *WalletsAPIService
	id         string
}

func (r WalletsAPICloudPostV1WalletsIdKeysRequest) Execute() (*CloudWallet, *http.Response, error) {
	return r.ApiService.CloudPostV1WalletsIdKeysExecute(r)
}

/*
CloudPostV1WalletsIdKeys Rolls one wallet's signing material through its own custody backend and answers the wallet with whatever address that produced.

Rolls one wallet's signing material through its own custody backend
and answers the wallet with whatever address that produced. For KMS custody a
fresh secp256k1 key is generated and sealed, which CHANGES the address — funds
and approvals at the old address do not move. For a Safe the address is
counterfactual and the owner shares are ring-managed, so rotation is a no-op
and the address is unchanged. A backend that is not configured fails closed
with 503 rather than leaving the wallet half-rotated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return WalletsAPICloudPostV1WalletsIdKeysRequest
*/
func (a *WalletsAPIService) CloudPostV1WalletsIdKeys(ctx context.Context, id string) WalletsAPICloudPostV1WalletsIdKeysRequest {
	return WalletsAPICloudPostV1WalletsIdKeysRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudWallet
func (a *WalletsAPIService) CloudPostV1WalletsIdKeysExecute(r WalletsAPICloudPostV1WalletsIdKeysRequest) (*CloudWallet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudWallet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAPIService.CloudPostV1WalletsIdKeys")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets/{id}/keys"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WalletsAPICloudPostV1WalletsIdSafeTxRequest struct {
	ctx           context.Context
	ApiService    *WalletsAPIService
	id            string
	cloudSafeTxIn *CloudSafeTxIn
}

func (r WalletsAPICloudPostV1WalletsIdSafeTxRequest) CloudSafeTxIn(cloudSafeTxIn CloudSafeTxIn) WalletsAPICloudPostV1WalletsIdSafeTxRequest {
	r.cloudSafeTxIn = &cloudSafeTxIn
	return r
}

func (r WalletsAPICloudPostV1WalletsIdSafeTxRequest) Execute() (*CloudSafeProposal, *http.Response, error) {
	return r.ApiService.CloudPostV1WalletsIdSafeTxExecute(r)
}

/*
CloudPostV1WalletsIdSafeTx Composes a Safe transaction on the MPC ring and answers its EIP-712 hash together with the owner approval the ring's threshold signature produced.

Composes a Safe transaction on the MPC ring and answers its
EIP-712 hash together with the owner approval the ring's threshold signature
produced. Only a wallet whose custody is "safe" can do this — any other custody
is a 400, because the backend itself is asked whether it can propose rather
than the kind being switched on. The ring computes the Safe-tx hash bound to
the Safe contract and the chain id, so the hash a caller gets back is the one
the Safe will verify. This PROPOSES: it does not execute the transaction.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return WalletsAPICloudPostV1WalletsIdSafeTxRequest
*/
func (a *WalletsAPIService) CloudPostV1WalletsIdSafeTx(ctx context.Context, id string) WalletsAPICloudPostV1WalletsIdSafeTxRequest {
	return WalletsAPICloudPostV1WalletsIdSafeTxRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudSafeProposal
func (a *WalletsAPIService) CloudPostV1WalletsIdSafeTxExecute(r WalletsAPICloudPostV1WalletsIdSafeTxRequest) (*CloudSafeProposal, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSafeProposal
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAPIService.CloudPostV1WalletsIdSafeTx")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets/{id}/safe-tx"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudSafeTxIn == nil {
		return localVarReturnValue, nil, reportError("cloudSafeTxIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudSafeTxIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WalletsAPICloudPostV1WalletsIdSignRequest struct {
	ctx         context.Context
	ApiService  *WalletsAPIService
	id          string
	cloudSignIn *CloudSignIn
}

func (r WalletsAPICloudPostV1WalletsIdSignRequest) CloudSignIn(cloudSignIn CloudSignIn) WalletsAPICloudPostV1WalletsIdSignRequest {
	r.cloudSignIn = &cloudSignIn
	return r
}

func (r WalletsAPICloudPostV1WalletsIdSignRequest) Execute() (*CloudSignature, *http.Response, error) {
	return r.ApiService.CloudPostV1WalletsIdSignExecute(r)
}

/*
CloudPostV1WalletsIdSign Produces a secp256k1 signature from one of the caller org's wallets over a 32-byte digest, through whichever custody backend that wallet uses.

Produces a secp256k1 signature from one of the caller org's wallets over
a 32-byte digest, through whichever custody backend that wallet uses. Give it
either a `digest` (32 bytes as hex, signed verbatim) or a `message` (hashed
with Keccak256 first) — exactly one is required. The private key never leaves
its backend: KMS custody opens the sealed key in-process, MPC custody produces
a threshold signature on the ring. The answer carries the digest that was
signed alongside the signature, so a caller can verify what it got.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return WalletsAPICloudPostV1WalletsIdSignRequest
*/
func (a *WalletsAPIService) CloudPostV1WalletsIdSign(ctx context.Context, id string) WalletsAPICloudPostV1WalletsIdSignRequest {
	return WalletsAPICloudPostV1WalletsIdSignRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudSignature
func (a *WalletsAPIService) CloudPostV1WalletsIdSignExecute(r WalletsAPICloudPostV1WalletsIdSignRequest) (*CloudSignature, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSignature
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAPIService.CloudPostV1WalletsIdSign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets/{id}/sign"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudSignIn == nil {
		return localVarReturnValue, nil, reportError("cloudSignIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudSignIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
