/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ResearchAPIService ResearchAPI service
type ResearchAPIService service

type ResearchAPICloudGetV1ResearchArtifactsRequest struct {
	ctx        context.Context
	ApiService *ResearchAPIService
	project    *string
	run        *string
	since      *int32
}

// Project narrows to one project. Empty takes the caller&#39;s project scope.
func (r ResearchAPICloudGetV1ResearchArtifactsRequest) Project(project string) ResearchAPICloudGetV1ResearchArtifactsRequest {
	r.project = &project
	return r
}

// Run narrows to one run&#39;s artifacts by its stable id.
func (r ResearchAPICloudGetV1ResearchArtifactsRequest) Run(run string) ResearchAPICloudGetV1ResearchArtifactsRequest {
	r.run = &run
	return r
}

// Since bounds the feed to artifacts recorded at or after this unix second.
func (r ResearchAPICloudGetV1ResearchArtifactsRequest) Since(since int32) ResearchAPICloudGetV1ResearchArtifactsRequest {
	r.since = &since
	return r
}

func (r ResearchAPICloudGetV1ResearchArtifactsRequest) Execute() (*CloudArtifactsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1ResearchArtifactsExecute(r)
}

/*
CloudGetV1ResearchArtifacts ListResearchArtifacts returns the caller org's research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash.

ListResearchArtifacts returns the caller org's research-diary feed newest-first —
the snapshots and reports tied to its runs, as metadata and content addresses;
the bytes themselves are fetched by hash. ?run= narrows to one run, ?project=
to one project (default the caller's project scope), and ?since= to a unix second.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPICloudGetV1ResearchArtifactsRequest
*/
func (a *ResearchAPIService) CloudGetV1ResearchArtifacts(ctx context.Context) ResearchAPICloudGetV1ResearchArtifactsRequest {
	return ResearchAPICloudGetV1ResearchArtifactsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudArtifactsOut
func (a *ResearchAPIService) CloudGetV1ResearchArtifactsExecute(r ResearchAPICloudGetV1ResearchArtifactsRequest) (*CloudArtifactsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArtifactsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.CloudGetV1ResearchArtifacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/artifacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.run != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "run", r.run, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPICloudGetV1ResearchArtifactsBySha256Request struct {
	ctx        context.Context
	ApiService *ResearchAPIService
	sha256     string
}

func (r ResearchAPICloudGetV1ResearchArtifactsBySha256Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1ResearchArtifactsBySha256Execute(r)
}

/*
CloudGetV1ResearchArtifactsBySha256 Method for CloudGetV1ResearchArtifactsBySha256

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param sha256
	@return ResearchAPICloudGetV1ResearchArtifactsBySha256Request
*/
func (a *ResearchAPIService) CloudGetV1ResearchArtifactsBySha256(ctx context.Context, sha256 string) ResearchAPICloudGetV1ResearchArtifactsBySha256Request {
	return ResearchAPICloudGetV1ResearchArtifactsBySha256Request{
		ApiService: a,
		ctx:        ctx,
		sha256:     sha256,
	}
}

// Execute executes the request
func (a *ResearchAPIService) CloudGetV1ResearchArtifactsBySha256Execute(r ResearchAPICloudGetV1ResearchArtifactsBySha256Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.CloudGetV1ResearchArtifactsBySha256")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/artifacts/{sha256}"
	localVarPath = strings.Replace(localVarPath, "{"+"sha256"+"}", url.PathEscape(parameterValueToString(r.sha256, "sha256")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ResearchAPICloudGetV1ResearchExperimentsRequest struct {
	ctx        context.Context
	ApiService *ResearchAPIService
	project    *string
	kind       *string
}

// Project narrows to one project. Empty reads the org&#39;s whole set across projects.
func (r ResearchAPICloudGetV1ResearchExperimentsRequest) Project(project string) ResearchAPICloudGetV1ResearchExperimentsRequest {
	r.project = &project
	return r
}

// Kind narrows to one discriminator: benchmark, kernel-perf, training, ablation or policy-eval.
func (r ResearchAPICloudGetV1ResearchExperimentsRequest) Kind(kind string) ResearchAPICloudGetV1ResearchExperimentsRequest {
	r.kind = &kind
	return r
}

func (r ResearchAPICloudGetV1ResearchExperimentsRequest) Execute() (*CloudExperimentsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1ResearchExperimentsExecute(r)
}

/*
CloudGetV1ResearchExperiments ListExperiments returns the caller org's CANONICAL experiments — the deterministic deduped view over the versioned history.

ListExperiments returns the caller org's CANONICAL experiments — the deterministic
deduped view over the versioned history. With no ?project= it reads the org's
whole set across projects (the ops board's cross-project view, since a project is
a sub-scope of the one tenant); ?project= narrows to one and ?kind= to one
discriminator.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPICloudGetV1ResearchExperimentsRequest
*/
func (a *ResearchAPIService) CloudGetV1ResearchExperiments(ctx context.Context) ResearchAPICloudGetV1ResearchExperimentsRequest {
	return ResearchAPICloudGetV1ResearchExperimentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudExperimentsOut
func (a *ResearchAPIService) CloudGetV1ResearchExperimentsExecute(r ResearchAPICloudGetV1ResearchExperimentsRequest) (*CloudExperimentsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudExperimentsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.CloudGetV1ResearchExperiments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/experiments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPICloudGetV1ResearchProjectsRequest struct {
	ctx        context.Context
	ApiService *ResearchAPIService
}

func (r ResearchAPICloudGetV1ResearchProjectsRequest) Execute() (*CloudProjectsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1ResearchProjectsExecute(r)
}

/*
CloudGetV1ResearchProjects ListResearchProjects returns every research project in the caller's org with its real totals — canonical and retained side by side — which is the ops board's \"every project + real totals\" view.

ListResearchProjects returns every research project in the caller's org with its
real totals — canonical and retained side by side — which is the ops board's
"every project + real totals" view.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPICloudGetV1ResearchProjectsRequest
*/
func (a *ResearchAPIService) CloudGetV1ResearchProjects(ctx context.Context) ResearchAPICloudGetV1ResearchProjectsRequest {
	return ResearchAPICloudGetV1ResearchProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudProjectsOut
func (a *ResearchAPIService) CloudGetV1ResearchProjectsExecute(r ResearchAPICloudGetV1ResearchProjectsRequest) (*CloudProjectsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudProjectsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.CloudGetV1ResearchProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPICloudGetV1ResearchTotalsRequest struct {
	ctx        context.Context
	ApiService *ResearchAPIService
	project    *string
}

// Project narrows the aggregate to one project. Empty aggregates the whole org.
func (r ResearchAPICloudGetV1ResearchTotalsRequest) Project(project string) ResearchAPICloudGetV1ResearchTotalsRequest {
	r.project = &project
	return r
}

func (r ResearchAPICloudGetV1ResearchTotalsRequest) Execute() (*CloudResearchTotals, *http.Response, error) {
	return r.ApiService.CloudGetV1ResearchTotalsExecute(r)
}

/*
CloudGetV1ResearchTotals GetResearchTotals returns the caller org's headline aggregate plus a per-kind breakdown — the observatory's poll target.

GetResearchTotals returns the caller org's headline aggregate plus a per-kind
breakdown — the observatory's poll target. Canonical and retained counts travel
together, so a deduped view never reads as loss. ?project= narrows to one project.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPICloudGetV1ResearchTotalsRequest
*/
func (a *ResearchAPIService) CloudGetV1ResearchTotals(ctx context.Context) ResearchAPICloudGetV1ResearchTotalsRequest {
	return ResearchAPICloudGetV1ResearchTotalsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudResearchTotals
func (a *ResearchAPIService) CloudGetV1ResearchTotalsExecute(r ResearchAPICloudGetV1ResearchTotalsRequest) (*CloudResearchTotals, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudResearchTotals
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.CloudGetV1ResearchTotals")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/totals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPICloudPostV1ResearchArtifactsRequest struct {
	ctx           context.Context
	ApiService    *ResearchAPIService
	cloudArtifact *CloudArtifact
}

func (r ResearchAPICloudPostV1ResearchArtifactsRequest) CloudArtifact(cloudArtifact CloudArtifact) ResearchAPICloudPostV1ResearchArtifactsRequest {
	r.cloudArtifact = &cloudArtifact
	return r
}

func (r ResearchAPICloudPostV1ResearchArtifactsRequest) Execute() (*CloudArtifactOut, *http.Response, error) {
	return r.ApiService.CloudPostV1ResearchArtifactsExecute(r)
}

/*
CloudPostV1ResearchArtifacts RecordResearchArtifact records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary.

RecordResearchArtifact records one research-diary artifact — a board snapshot or a
generated report — CONTENT-ADDRESSED inside the trust boundary. The caller submits
the bytes as base64 `content`; the SERVER hashes them and THAT hash is the identity
and the ref, so the address can never be poisoned by a client-asserted one. A
client-supplied sha256, if present, must match the bytes. The project is the
SERVER's value and visibility is forced private. Re-posting the same bytes is a
no-op that reports created=false.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPICloudPostV1ResearchArtifactsRequest
*/
func (a *ResearchAPIService) CloudPostV1ResearchArtifacts(ctx context.Context) ResearchAPICloudPostV1ResearchArtifactsRequest {
	return ResearchAPICloudPostV1ResearchArtifactsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudArtifactOut
func (a *ResearchAPIService) CloudPostV1ResearchArtifactsExecute(r ResearchAPICloudPostV1ResearchArtifactsRequest) (*CloudArtifactOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArtifactOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.CloudPostV1ResearchArtifacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/artifacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudArtifact == nil {
		return localVarReturnValue, nil, reportError("cloudArtifact is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudArtifact
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPICloudPostV1ResearchExperimentsRequest struct {
	ctx                context.Context
	ApiService         *ResearchAPIService
	cloudIngestRequest *CloudIngestRequest
}

func (r ResearchAPICloudPostV1ResearchExperimentsRequest) CloudIngestRequest(cloudIngestRequest CloudIngestRequest) ResearchAPICloudPostV1ResearchExperimentsRequest {
	r.cloudIngestRequest = &cloudIngestRequest
	return r
}

func (r ResearchAPICloudPostV1ResearchExperimentsRequest) Execute() (*CloudIngestOut, *http.Response, error) {
	return r.ApiService.CloudPostV1ResearchExperimentsExecute(r)
}

/*
CloudPostV1ResearchExperiments IngestExperiments appends one batch of experiment and attempt versions to the caller org's evidence store, idempotently by content, then rolls it up to the analytics plane best-effort.

IngestExperiments appends one batch of experiment and attempt versions to the
caller org's evidence store, idempotently by content, then rolls it up to the
analytics plane best-effort. The project is the SERVER's value and visibility is
forced private — an upload grants no training or publication right, which is a
separate call. A run carrying a BYO endpoint is SSRF-checked before the store is
touched. The answer carries BOTH the canonical (deduped) and retained (full
history) counts, so a caller sees the versioned truth rather than a dedup that
reads as loss.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPICloudPostV1ResearchExperimentsRequest
*/
func (a *ResearchAPIService) CloudPostV1ResearchExperiments(ctx context.Context) ResearchAPICloudPostV1ResearchExperimentsRequest {
	return ResearchAPICloudPostV1ResearchExperimentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudIngestOut
func (a *ResearchAPIService) CloudPostV1ResearchExperimentsExecute(r ResearchAPICloudPostV1ResearchExperimentsRequest) (*CloudIngestOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIngestOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.CloudPostV1ResearchExperiments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/experiments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudIngestRequest == nil {
		return localVarReturnValue, nil, reportError("cloudIngestRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudIngestRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResearchAPICloudPostV1ResearchGrantsRequest struct {
	ctx               context.Context
	ApiService        *ResearchAPIService
	cloudGrantRequest *CloudGrantRequest
}

func (r ResearchAPICloudPostV1ResearchGrantsRequest) CloudGrantRequest(cloudGrantRequest CloudGrantRequest) ResearchAPICloudPostV1ResearchGrantsRequest {
	r.cloudGrantRequest = &cloudGrantRequest
	return r
}

func (r ResearchAPICloudPostV1ResearchGrantsRequest) Execute() (*CloudGrantOut, *http.Response, error) {
	return r.ApiService.CloudPostV1ResearchGrantsExecute(r)
}

/*
CloudPostV1ResearchGrants GrantResearchVisibility records the SEPARATE authorization an upload never implies: a record's visibility (private, org or public) and, for a run, its training and commons-publication consent.

GrantResearchVisibility records the SEPARATE authorization an upload never
implies: a record's visibility (private, org or public) and, for a run, its
training and commons-publication consent. Address a run by its stable id or an
artifact by its sha256; an artifact grant sets visibility only. The ORG is the
tenant boundary and comes from the validated principal, so a caller can only ever
grant within its own org; `project` locates WHICH record inside it and defaults to
the caller's project scope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResearchAPICloudPostV1ResearchGrantsRequest
*/
func (a *ResearchAPIService) CloudPostV1ResearchGrants(ctx context.Context) ResearchAPICloudPostV1ResearchGrantsRequest {
	return ResearchAPICloudPostV1ResearchGrantsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudGrantOut
func (a *ResearchAPIService) CloudPostV1ResearchGrantsExecute(r ResearchAPICloudPostV1ResearchGrantsRequest) (*CloudGrantOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudGrantOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResearchAPIService.CloudPostV1ResearchGrants")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/research/grants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudGrantRequest == nil {
		return localVarReturnValue, nil, reportError("cloudGrantRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudGrantRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
