/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SpaceAPIService SpaceAPI service
type SpaceAPIService service

type SpaceAPIDeleteSpaceBySpaceDrivesByDriveRequest struct {
	ctx        context.Context
	ApiService *SpaceAPIService
	space      string
	drive      string
}

func (r SpaceAPIDeleteSpaceBySpaceDrivesByDriveRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteSpaceBySpaceDrivesByDriveExecute(r)
}

/*
DeleteSpaceBySpaceDrivesByDrive Removes an EMPTY drive and answers 204.

Removes an EMPTY drive and answers 204.

A drive holding files is 409 rather than a cascade: deleting an org's files
behind a single drive call is not a thing this surface will do silently. A
drive or space the caller's org does not own is the same 404 an unknown name
gives.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing deleted, and the debit lands only once the
drive is gone.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param space Space is the space's name, from the path.
	@param drive Drive is the drive's name, from the path.
	@return SpaceAPIDeleteSpaceBySpaceDrivesByDriveRequest
*/
func (a *SpaceAPIService) DeleteSpaceBySpaceDrivesByDrive(ctx context.Context, space string, drive string) SpaceAPIDeleteSpaceBySpaceDrivesByDriveRequest {
	return SpaceAPIDeleteSpaceBySpaceDrivesByDriveRequest{
		ApiService: a,
		ctx:        ctx,
		space:      space,
		drive:      drive,
	}
}

// Execute executes the request
func (a *SpaceAPIService) DeleteSpaceBySpaceDrivesByDriveExecute(r SpaceAPIDeleteSpaceBySpaceDrivesByDriveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpaceAPIService.DeleteSpaceBySpaceDrivesByDrive")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/space/{space}/drives/{drive}"
	localVarPath = strings.Replace(localVarPath, "{"+"space"+"}", url.PathEscape(parameterValueToString(r.space, "space")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"drive"+"}", url.PathEscape(parameterValueToString(r.drive, "drive")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SpaceAPIGetSpaceBySpaceDrivesRequest struct {
	ctx        context.Context
	ApiService *SpaceAPIService
	space      string
}

func (r SpaceAPIGetSpaceBySpaceDrivesRequest) Execute() (*DriveList, *http.Response, error) {
	return r.ApiService.GetSpaceBySpaceDrivesExecute(r)
}

/*
GetSpaceBySpaceDrives Lists a space's drives.

Lists a space's drives.

Listing the drives IS listing the space's root folder, because a drive is the
first segment of a key and nothing else — so the two can never disagree the way
a drives table and the keys under it would. A space the caller's org does not
own is the same 404 an unknown name gives.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing read, and the debit lands only once the
listing has succeeded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param space Space is the space's name, from the path.
	@return SpaceAPIGetSpaceBySpaceDrivesRequest
*/
func (a *SpaceAPIService) GetSpaceBySpaceDrives(ctx context.Context, space string) SpaceAPIGetSpaceBySpaceDrivesRequest {
	return SpaceAPIGetSpaceBySpaceDrivesRequest{
		ApiService: a,
		ctx:        ctx,
		space:      space,
	}
}

// Execute executes the request
//
//	@return DriveList
func (a *SpaceAPIService) GetSpaceBySpaceDrivesExecute(r SpaceAPIGetSpaceBySpaceDrivesRequest) (*DriveList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DriveList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpaceAPIService.GetSpaceBySpaceDrives")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/space/{space}/drives"
	localVarPath = strings.Replace(localVarPath, "{"+"space"+"}", url.PathEscape(parameterValueToString(r.space, "space")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest struct {
	ctx        context.Context
	ApiService *SpaceAPIService
	space      string
	drive      string
	folder     *string
	recursive  *string
}

func (r SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest) Folder(folder string) SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest {
	r.folder = &folder
	return r
}

func (r SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest) Recursive(recursive string) SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest {
	r.recursive = &recursive
	return r
}

func (r SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest) Execute() (*FileList, *http.Response, error) {
	return r.ApiService.GetSpaceBySpaceDrivesByDriveFilesExecute(r)
}

/*
GetSpaceBySpaceDrivesByDriveFiles Lists one folder level of a drive.

Lists one folder level of a drive.

Folder-style by default: sub-folders come back as folder entries, which is the
file-manager view. `?recursive=true` lists every file flat under the folder
instead. Names are RELATIVE to `?folder=`, and the listing is bounded so a huge
drive cannot exhaust memory — Total is what came back, not what the drive holds.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing read, and the debit lands only once the
listing has succeeded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param space Space is the space to list in, from the path.
	@param drive Drive is the drive to list, from the path.
	@return SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest
*/
func (a *SpaceAPIService) GetSpaceBySpaceDrivesByDriveFiles(ctx context.Context, space string, drive string) SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest {
	return SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest{
		ApiService: a,
		ctx:        ctx,
		space:      space,
		drive:      drive,
	}
}

// Execute executes the request
//
//	@return FileList
func (a *SpaceAPIService) GetSpaceBySpaceDrivesByDriveFilesExecute(r SpaceAPIGetSpaceBySpaceDrivesByDriveFilesRequest) (*FileList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpaceAPIService.GetSpaceBySpaceDrivesByDriveFiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/space/{space}/drives/{drive}/files"
	localVarPath = strings.Replace(localVarPath, "{"+"space"+"}", url.PathEscape(parameterValueToString(r.space, "space")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"drive"+"}", url.PathEscape(parameterValueToString(r.drive, "drive")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.folder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "folder", r.folder, "form", "")
	}
	if r.recursive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recursive", r.recursive, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpaceAPIGetSpaceHealthRequest struct {
	ctx        context.Context
	ApiService *SpaceAPIService
}

func (r SpaceAPIGetSpaceHealthRequest) Execute() (*SpaceHealth, *http.Response, error) {
	return r.ApiService.GetSpaceHealthExecute(r)
}

/*
GetSpaceHealth Health reports whether this deployment can serve spaces, drives and files.

Health reports whether this deployment can serve spaces, drives and files.

It is a REAL probe rather than a constant: 200 when object-store credentials
are present, so the store is reachable in principle, and 503 with the reason
when they are not. It is deliberately NOT gated — liveness has to be probe-able
without a token — so it is the one operation here that names no space and bills
nothing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SpaceAPIGetSpaceHealthRequest
*/
func (a *SpaceAPIService) GetSpaceHealth(ctx context.Context) SpaceAPIGetSpaceHealthRequest {
	return SpaceAPIGetSpaceHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SpaceHealth
func (a *SpaceAPIService) GetSpaceHealthExecute(r SpaceAPIGetSpaceHealthRequest) (*SpaceHealth, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SpaceHealth
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpaceAPIService.GetSpaceHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/space/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v SpaceHealth
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpaceAPIGetSpaceSpacesRequest struct {
	ctx        context.Context
	ApiService *SpaceAPIService
}

func (r SpaceAPIGetSpaceSpacesRequest) Execute() (*SpaceList, *http.Response, error) {
	return r.ApiService.GetSpaceSpacesExecute(r)
}

/*
GetSpaceSpaces Lists the caller org's own spaces.

Lists the caller org's own spaces.

Only the caller's: every space is physically named under a per-org prefix and
the listing strips that prefix, so another org's spaces are not in the answer at
all. Another org's space is not refused but INVISIBLE, so this cannot be used to
learn that a name is taken elsewhere.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing done, and the debit lands only once the
work has succeeded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SpaceAPIGetSpaceSpacesRequest
*/
func (a *SpaceAPIService) GetSpaceSpaces(ctx context.Context) SpaceAPIGetSpaceSpacesRequest {
	return SpaceAPIGetSpaceSpacesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SpaceList
func (a *SpaceAPIService) GetSpaceSpacesExecute(r SpaceAPIGetSpaceSpacesRequest) (*SpaceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SpaceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpaceAPIService.GetSpaceSpaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/space/spaces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpaceAPIPostSpaceBySpaceDrivesRequest struct {
	ctx        context.Context
	ApiService *SpaceAPIService
	space      string
	driveIn    *DriveIn
}

func (r SpaceAPIPostSpaceBySpaceDrivesRequest) DriveIn(driveIn DriveIn) SpaceAPIPostSpaceBySpaceDrivesRequest {
	r.driveIn = &driveIn
	return r
}

func (r SpaceAPIPostSpaceBySpaceDrivesRequest) Execute() (*DriveItem, *http.Response, error) {
	return r.ApiService.PostSpaceBySpaceDrivesExecute(r)
}

/*
PostSpaceBySpaceDrives Makes a new drive in a space and answers 201 with it.

Makes a new drive in a space and answers 201 with it.

A drive is a PREFIX and not a bucket, so making one writes a zero-byte marker
at "<name>/" — which is what makes an empty drive visible to a listing that has
no other key to find. A name already taken in the space is 409.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing created, and the debit lands only once the
drive exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param space Space is the space to create the drive in, from the path. It carries NO `url:\"-\"`, unlike the field below it, and the difference is the whole reason both tags are written out: zip's binder skips a field tagged \"-\" for EVERY URL source, path params included, so a path-borne value that carried it would arrive empty and the create would refuse a perfectly good address.
	@return SpaceAPIPostSpaceBySpaceDrivesRequest
*/
func (a *SpaceAPIService) PostSpaceBySpaceDrives(ctx context.Context, space string) SpaceAPIPostSpaceBySpaceDrivesRequest {
	return SpaceAPIPostSpaceBySpaceDrivesRequest{
		ApiService: a,
		ctx:        ctx,
		space:      space,
	}
}

// Execute executes the request
//
//	@return DriveItem
func (a *SpaceAPIService) PostSpaceBySpaceDrivesExecute(r SpaceAPIPostSpaceBySpaceDrivesRequest) (*DriveItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DriveItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpaceAPIService.PostSpaceBySpaceDrives")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/space/{space}/drives"
	localVarPath = strings.Replace(localVarPath, "{"+"space"+"}", url.PathEscape(parameterValueToString(r.space, "space")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.driveIn == nil {
		return localVarReturnValue, nil, reportError("driveIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.driveIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpaceAPIPostSpaceSpacesRequest struct {
	ctx        context.Context
	ApiService *SpaceAPIService
	spaceIn    *SpaceIn
}

func (r SpaceAPIPostSpaceSpacesRequest) SpaceIn(spaceIn SpaceIn) SpaceAPIPostSpaceSpacesRequest {
	r.spaceIn = &spaceIn
	return r
}

func (r SpaceAPIPostSpaceSpacesRequest) Execute() (*SpaceItem, *http.Response, error) {
	return r.ApiService.PostSpaceSpacesExecute(r)
}

/*
PostSpaceSpaces Makes a new space for the caller's org and answers 201 with it.

Makes a new space for the caller's org and answers 201 with it.

The one bucket a space's files live in is derived from the caller's VALIDATED
org, so an org can only ever create inside its own namespace and no request
field can redirect that. A name already taken in the org is 409.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing created, and the debit lands only once the
space exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SpaceAPIPostSpaceSpacesRequest
*/
func (a *SpaceAPIService) PostSpaceSpaces(ctx context.Context) SpaceAPIPostSpaceSpacesRequest {
	return SpaceAPIPostSpaceSpacesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SpaceItem
func (a *SpaceAPIService) PostSpaceSpacesExecute(r SpaceAPIPostSpaceSpacesRequest) (*SpaceItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SpaceItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpaceAPIService.PostSpaceSpaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/space/spaces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.spaceIn == nil {
		return localVarReturnValue, nil, reportError("spaceIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.spaceIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
