/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// PrincipalAPIService PrincipalAPI service
type PrincipalAPIService service

type PrincipalAPIGetPrincipalRequest struct {
	ctx        context.Context
	ApiService *PrincipalAPIService
}

func (r PrincipalAPIGetPrincipalRequest) Execute() (*PrincipalView, *http.Response, error) {
	return r.ApiService.GetPrincipalExecute(r)
}

/*
GetPrincipal Returns the caller's org as an economic principal, composed from the apps that own each fact: its legal entity and founders' identity verification (company), the W-9 or W-8 it certified (tax), its wallets (wallet), the agents that answer to it — spawned ones with the agent that spawned them — (agents), its screening against the OFAC, UN, EU and UK sanctions lists and the embargoed jurisdictions, run now, and what it still lacks to pay and be paid.

Returns the caller's org as an economic principal, composed from the apps that
own each fact: its legal entity and founders' identity verification (company),
the W-9 or W-8 it certified (tax), its wallets (wallet), the agents that answer
to it — spawned ones with the agent that spawned them — (agents), its screening
against the OFAC, UN, EU and UK sanctions lists and the embargoed jurisdictions,
run now, and what it still lacks to pay and be paid. The read changes nothing:
a possible match it finds is recorded for a platform reviewer when a payment to
or from the org is cleared.

Any member reads it. The detail behind a verdict — founders' names and
statuses, masked tax numbers, treaty claims, sanctions matches — is answered to
the org's admins only. An owning app this deployment does not run is named in
sources as absent rather than read as empty.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PrincipalAPIGetPrincipalRequest
*/
func (a *PrincipalAPIService) GetPrincipal(ctx context.Context) PrincipalAPIGetPrincipalRequest {
	return PrincipalAPIGetPrincipalRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PrincipalView
func (a *PrincipalAPIService) GetPrincipalExecute(r PrincipalAPIGetPrincipalRequest) (*PrincipalView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrincipalView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrincipalAPIService.GetPrincipal")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/principal"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PrincipalAPIGetPrincipalAgentsByRefRequest struct {
	ctx        context.Context
	ApiService *PrincipalAPIService
	ref        string
}

func (r PrincipalAPIGetPrincipalAgentsByRefRequest) Execute() (*PrincipalAttestation, *http.Response, error) {
	return r.ApiService.GetPrincipalAgentsByRefExecute(r)
}

/*
GetPrincipalAgentsByRef Attests which principal one of the caller's agents answers to: the org, the chain of agents that spawned it, and the same signed with the platform's key as a JWS (EdDSA) a verifier checks offline against GET /v1/principal/keys.

Attests which principal one of the caller's agents answers to: the org, the
chain of agents that spawned it, and the same signed with the platform's key as
a JWS (EdDSA) a verifier checks offline against GET /v1/principal/keys. Any
member of the agent's org.

An agent of another org is not found. A spawned agent answers to its parent's
org, which is its own: a parent is resolved only in the org the agent is created
in. The statement is valid for 24 hours.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param ref Ref is the agent's id or its name in the caller's org.
	@return PrincipalAPIGetPrincipalAgentsByRefRequest
*/
func (a *PrincipalAPIService) GetPrincipalAgentsByRef(ctx context.Context, ref string) PrincipalAPIGetPrincipalAgentsByRefRequest {
	return PrincipalAPIGetPrincipalAgentsByRefRequest{
		ApiService: a,
		ctx:        ctx,
		ref:        ref,
	}
}

// Execute executes the request
//
//	@return PrincipalAttestation
func (a *PrincipalAPIService) GetPrincipalAgentsByRefExecute(r PrincipalAPIGetPrincipalAgentsByRefRequest) (*PrincipalAttestation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrincipalAttestation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrincipalAPIService.GetPrincipalAgentsByRef")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/principal/agents/{ref}"
	localVarPath = strings.Replace(localVarPath, "{"+"ref"+"}", url.PathEscape(parameterValueToString(r.ref, "ref")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PrincipalAPIGetPrincipalClearanceRequest struct {
	ctx        context.Context
	ApiService *PrincipalAPIService
	payee      *string
}

// Payee narrows to one payee.
func (r PrincipalAPIGetPrincipalClearanceRequest) Payee(payee string) PrincipalAPIGetPrincipalClearanceRequest {
	r.payee = &payee
	return r
}

func (r PrincipalAPIGetPrincipalClearanceRequest) Execute() (*PrincipalClearanceList, *http.Response, error) {
	return r.ApiService.GetPrincipalClearanceExecute(r)
}

/*
GetPrincipalClearance Lists the caller org's clearances, newest first, 200 at most; a payee narrows them.

Lists the caller org's clearances, newest first, 200 at most; a payee narrows
them. Any member of the paying org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PrincipalAPIGetPrincipalClearanceRequest
*/
func (a *PrincipalAPIService) GetPrincipalClearance(ctx context.Context) PrincipalAPIGetPrincipalClearanceRequest {
	return PrincipalAPIGetPrincipalClearanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PrincipalClearanceList
func (a *PrincipalAPIService) GetPrincipalClearanceExecute(r PrincipalAPIGetPrincipalClearanceRequest) (*PrincipalClearanceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrincipalClearanceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrincipalAPIService.GetPrincipalClearance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/principal/clearance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.payee != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "payee", r.payee, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PrincipalAPIGetPrincipalClearanceByIdRequest struct {
	ctx        context.Context
	ApiService *PrincipalAPIService
	id         string
}

func (r PrincipalAPIGetPrincipalClearanceByIdRequest) Execute() (*PrincipalClearance, *http.Response, error) {
	return r.ApiService.GetPrincipalClearanceByIdExecute(r)
}

/*
GetPrincipalClearanceById Reads one of the caller org's clearances, as it was decided.

Reads one of the caller org's clearances, as it was decided. Any member of the
paying org; another org's clearance is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the clearance, \"clr_\"-prefixed.
	@return PrincipalAPIGetPrincipalClearanceByIdRequest
*/
func (a *PrincipalAPIService) GetPrincipalClearanceById(ctx context.Context, id string) PrincipalAPIGetPrincipalClearanceByIdRequest {
	return PrincipalAPIGetPrincipalClearanceByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PrincipalClearance
func (a *PrincipalAPIService) GetPrincipalClearanceByIdExecute(r PrincipalAPIGetPrincipalClearanceByIdRequest) (*PrincipalClearance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrincipalClearance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrincipalAPIService.GetPrincipalClearanceById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/principal/clearance/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PrincipalAPIGetPrincipalKeysRequest struct {
	ctx        context.Context
	ApiService *PrincipalAPIService
}

func (r PrincipalAPIGetPrincipalKeysRequest) Execute() (*PrincipalJWKS, *http.Response, error) {
	return r.ApiService.GetPrincipalKeysExecute(r)
}

/*
GetPrincipalKeys Publishes the keys attestations are signed with, as a JSON Web Key Set (RFC 7517; Ed25519 keys as RFC 8037 writes them).

Publishes the keys attestations are signed with, as a JSON Web Key Set (RFC
7517; Ed25519 keys as RFC 8037 writes them). Open to anyone: a verifier
verifying an agent's statement fetches this once and verifies offline.

A key a rotation retired stays here and signs nothing, so a statement signed
before the rotation verifies until it expires.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PrincipalAPIGetPrincipalKeysRequest
*/
func (a *PrincipalAPIService) GetPrincipalKeys(ctx context.Context) PrincipalAPIGetPrincipalKeysRequest {
	return PrincipalAPIGetPrincipalKeysRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PrincipalJWKS
func (a *PrincipalAPIService) GetPrincipalKeysExecute(r PrincipalAPIGetPrincipalKeysRequest) (*PrincipalJWKS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrincipalJWKS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrincipalAPIService.GetPrincipalKeys")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/principal/keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PrincipalAPIGetPrincipalStatementsByIdRequest struct {
	ctx        context.Context
	ApiService *PrincipalAPIService
	id         string
}

func (r PrincipalAPIGetPrincipalStatementsByIdRequest) Execute() (*PrincipalStatement, *http.Response, error) {
	return r.ApiService.GetPrincipalStatementsByIdExecute(r)
}

/*
GetPrincipalStatementsById Reads whether one statement the platform signed about an agent still stands: live, expired, or revoked and when.

Reads whether one statement the platform signed about an agent still stands:
live, expired, or revoked and when. Open to anyone — a verifier holding a
TaxPrincipalCredential checks it here after checking its signature offline
against GET /v1/principal/keys. The answer names nothing the statement itself
does not.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the statement's jti, as its JWS carries it.
	@return PrincipalAPIGetPrincipalStatementsByIdRequest
*/
func (a *PrincipalAPIService) GetPrincipalStatementsById(ctx context.Context, id string) PrincipalAPIGetPrincipalStatementsByIdRequest {
	return PrincipalAPIGetPrincipalStatementsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PrincipalStatement
func (a *PrincipalAPIService) GetPrincipalStatementsByIdExecute(r PrincipalAPIGetPrincipalStatementsByIdRequest) (*PrincipalStatement, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrincipalStatement
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrincipalAPIService.GetPrincipalStatementsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/principal/statements/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PrincipalAPIPostPrincipalClearanceRequest struct {
	ctx              context.Context
	ApiService       *PrincipalAPIService
	principalClearIn *PrincipalClearIn
}

func (r PrincipalAPIPostPrincipalClearanceRequest) PrincipalClearIn(principalClearIn PrincipalClearIn) PrincipalAPIPostPrincipalClearanceRequest {
	r.principalClearIn = &principalClearIn
	return r
}

func (r PrincipalAPIPostPrincipalClearanceRequest) Execute() (*PrincipalClearance, *http.Response, error) {
	return r.ApiService.PostPrincipalClearanceExecute(r)
}

/*
PostPrincipalClearance Decides whether the caller's org may pay another org, BEFORE the payment: what must happen first, what must be withheld and why, what must be reported, by whom and when, and how the payment may settle net of withholding.

Decides whether the caller's org may pay another org, BEFORE the payment: what
must happen first, what must be withheld and why, what must be reported, by
whom and when, and how the payment may settle net of withholding. Any member of
the paying org; the decision is recorded and on the audit trail in one
transaction.

The rules, each cited on the answer: payer's and payee's founders identity-verified
(Hanzo policy); payer and payee screened clear of the OFAC, UN, EU and UK lists
and the embargoed jurisdictions — a confirmed match blocks, a possible one waits
on a Hanzo platform reviewer, and lists that are not loaded and fresh clear
nobody; the payee's status is what the form the payee granted the payer says,
and until it grants one the payee furnishes it; a U.S. payee with no TIN on
file owes its W-9, and paid without one 24% backup withholding applies (IRC
§3406); a foreign payee on a valid W-8BEN or W-8BEN-E is withheld on at 30% on
U.S.-source income (IRC §1441, §1442), reduced by a treaty rate the form
claims; a service performed outside the United States is foreign-source and
not withheld on; Form 1099 by the payer for a reportable U.S. payee at the
year's threshold, Forms 1042-S and 1042 for U.S.-source income to a foreign
person, and platform-operator reports (EU DAC7, UK, Canada, Australia) where
the payer is the payee's platform. Every filer named is an org, never Hanzo.

Nothing of the payee is answered but what the payer must know to act: that the
payment clears, what the payee must furnish, or that it cannot clear and the
payer should contact support — never why, and never the payee's status before
the payee grants its form. A payer asks about at most 50 new payees a day and
120 payments an hour.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PrincipalAPIPostPrincipalClearanceRequest
*/
func (a *PrincipalAPIService) PostPrincipalClearance(ctx context.Context) PrincipalAPIPostPrincipalClearanceRequest {
	return PrincipalAPIPostPrincipalClearanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PrincipalClearance
func (a *PrincipalAPIService) PostPrincipalClearanceExecute(r PrincipalAPIPostPrincipalClearanceRequest) (*PrincipalClearance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PrincipalClearance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrincipalAPIService.PostPrincipalClearance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/principal/clearance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.principalClearIn == nil {
		return localVarReturnValue, nil, reportError("principalClearIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.principalClearIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v ProblemDetails
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
