/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// AnalyticsAdminAPIService AnalyticsAdminAPI service
type AnalyticsAdminAPIService service

type AnalyticsAdminAPIAnalyticsAdminListUsersRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAdminAPIService
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

func (r AnalyticsAdminAPIAnalyticsAdminListUsersRequest) Page(page int32) AnalyticsAdminAPIAnalyticsAdminListUsersRequest {
	r.page = &page
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListUsersRequest) PageSize(pageSize int32) AnalyticsAdminAPIAnalyticsAdminListUsersRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListUsersRequest) OrderBy(orderBy string) AnalyticsAdminAPIAnalyticsAdminListUsersRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListUsersRequest) Search(search string) AnalyticsAdminAPIAnalyticsAdminListUsersRequest {
	r.search = &search
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListUsersRequest) Execute() ([]AnalyticsAdminListUsers200ResponseInner, *http.Response, error) {
	return r.ApiService.AnalyticsAdminListUsersExecute(r)
}

/*
AnalyticsAdminListUsers List all users (admin only)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAdminAPIAnalyticsAdminListUsersRequest
*/
func (a *AnalyticsAdminAPIService) AnalyticsAdminListUsers(ctx context.Context) AnalyticsAdminAPIAnalyticsAdminListUsersRequest {
	return AnalyticsAdminAPIAnalyticsAdminListUsersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AnalyticsAdminListUsers200ResponseInner
func (a *AnalyticsAdminAPIService) AnalyticsAdminListUsersExecute(r AnalyticsAdminAPIAnalyticsAdminListUsersRequest) ([]AnalyticsAdminListUsers200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsAdminListUsers200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAdminAPIService.AnalyticsAdminListUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/admin/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest struct {
	ctx               context.Context
	ApiService        *AnalyticsAdminAPIService
	userId            *string
	includeOwnedTeams *string
	includeAllTeams   *string
	page              *int32
	pageSize          *int32
	orderBy           *string
	search            *string
}

func (r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) UserId(userId string) AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest {
	r.userId = &userId
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) IncludeOwnedTeams(includeOwnedTeams string) AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest {
	r.includeOwnedTeams = &includeOwnedTeams
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) IncludeAllTeams(includeAllTeams string) AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest {
	r.includeAllTeams = &includeAllTeams
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) Page(page int32) AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest {
	r.page = &page
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) PageSize(pageSize int32) AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) OrderBy(orderBy string) AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) Search(search string) AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest {
	r.search = &search
	return r
}

func (r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) Execute() ([]AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsAdminListWebsitesExecute(r)
}

/*
AnalyticsAdminListWebsites List all websites for a user (admin only)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest
*/
func (a *AnalyticsAdminAPIService) AnalyticsAdminListWebsites(ctx context.Context) AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest {
	return AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AnalyticsWebsite
func (a *AnalyticsAdminAPIService) AnalyticsAdminListWebsitesExecute(r AnalyticsAdminAPIAnalyticsAdminListWebsitesRequest) ([]AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAdminAPIService.AnalyticsAdminListWebsites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/admin/websites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	if r.includeOwnedTeams != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeOwnedTeams", r.includeOwnedTeams, "form", "")
	}
	if r.includeAllTeams != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeAllTeams", r.includeAllTeams, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
