/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// AuthorsAPIService AuthorsAPI service
type AuthorsAPIService service

type AuthorsAPICloudGetV1AuthorsRequest struct {
	ctx        context.Context
	ApiService *AuthorsAPIService
}

func (r AuthorsAPICloudGetV1AuthorsRequest) Execute() (map[string]map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1AuthorsExecute(r)
}

/*
CloudGetV1Authors MyAuthorProgram returns the caller's author-program dashboard: enrolment status, linked forge login, verified repositories and owner-wide claims, recorded deploys, accrued / pending / paid royalty, and the payout history.

MyAuthorProgram returns the caller's author-program dashboard: enrolment status,
linked forge login, verified repositories and owner-wide claims, recorded deploys,
accrued / pending / paid royalty, and the payout history.

It answers ONE OF TWO SHAPES from this address. An org that has never connected
gets {"isAuthor": false, "defaultShareBps", "badgeBase"} — an honest "not enrolled"
rather than a 404, so the console can render the connect form. An enrolled org gets
the dashboard: isAuthor, id, status, githubLogin, verified, verifyCode, verifyFile,
verifySnippet, shareBps, badgeBase, repos, orgs, deploys, accruedCents,
pendingCents, paidCents, payouts and ledger.

For an APPROVED author this read ALSO runs the accrual sweep opportunistically, so
the dashboard is self-updating. That is why the royalty AUDIT lives at its own
address: an audit must not move the money it is auditing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AuthorsAPICloudGetV1AuthorsRequest
*/
func (a *AuthorsAPIService) CloudGetV1Authors(ctx context.Context) AuthorsAPICloudGetV1AuthorsRequest {
	return AuthorsAPICloudGetV1AuthorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]map[string]interface{}
func (a *AuthorsAPIService) CloudGetV1AuthorsExecute(r AuthorsAPICloudGetV1AuthorsRequest) (map[string]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorsAPIService.CloudGetV1Authors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuthorsAPICloudGetV1AuthorsBasisRequest struct {
	ctx        context.Context
	ApiService *AuthorsAPIService
	period     *string
}

// Period is the UTC accrual month, YYYY-MM. Empty means every period; any other shape is refused with 400, because the period is echoed back and used as a SQL filter and is only ever accepted in the one form the accrual latch mints.
func (r AuthorsAPICloudGetV1AuthorsBasisRequest) Period(period string) AuthorsAPICloudGetV1AuthorsBasisRequest {
	r.period = &period
	return r
}

func (r AuthorsAPICloudGetV1AuthorsBasisRequest) Execute() (map[string]map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1AuthorsBasisExecute(r)
}

/*
CloudGetV1AuthorsBasis MyRoyaltyBasis returns the AUDIT TRAIL behind the caller's own royalty: every ledger row with the spend it was computed from, the share applied at the time, the platform's matching half, whether each row satisfies the formula, and the attribution edges that already existed when the row was written.

MyRoyaltyBasis returns the AUDIT TRAIL behind the caller's own royalty: every
ledger row with the spend it was computed from, the share applied at the time, the
platform's matching half, whether each row satisfies the formula, and the
attribution edges that already existed when the row was written.

It answers ONE OF TWO SHAPES. An org that has never connected gets
{"isAuthor": false, "defaultShareBps"} — never a 404, which would answer "is this
org an author?" for anyone who asked. An enrolled org gets the basis: isAuthor, id,
status, asOf, shareBps, platformShareBps, defaultShareBps, shareSource, settlesTo,
method (the formula, the rate card and the sizing), ledger, reconciliation, window,
and period when one was requested.

This read NEVER sweeps, and that is the point of it being a separate address from
the dashboard: an audit must not move the money it is auditing, so calling it N
times leaves the balances and the ledger byte-identical.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AuthorsAPICloudGetV1AuthorsBasisRequest
*/
func (a *AuthorsAPIService) CloudGetV1AuthorsBasis(ctx context.Context) AuthorsAPICloudGetV1AuthorsBasisRequest {
	return AuthorsAPICloudGetV1AuthorsBasisRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]map[string]interface{}
func (a *AuthorsAPIService) CloudGetV1AuthorsBasisExecute(r AuthorsAPICloudGetV1AuthorsBasisRequest) (map[string]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorsAPIService.CloudGetV1AuthorsBasis")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authors/basis"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuthorsAPICloudPostV1AuthorsConnectRequest struct {
	ctx                 context.Context
	ApiService          *AuthorsAPIService
	cloudConnectRequest *CloudConnectRequest
}

func (r AuthorsAPICloudPostV1AuthorsConnectRequest) CloudConnectRequest(cloudConnectRequest CloudConnectRequest) AuthorsAPICloudPostV1AuthorsConnectRequest {
	r.cloudConnectRequest = &cloudConnectRequest
	return r
}

func (r AuthorsAPICloudPostV1AuthorsConnectRequest) Execute() (*CloudEnrolment, *http.Response, error) {
	return r.ApiService.CloudPostV1AuthorsConnectExecute(r)
}

/*
CloudPostV1AuthorsConnect ConnectAuthor enrols the caller's org in the author program at status \"connected\" and returns its enrolment, including the verify code the file method needs.

ConnectAuthor enrols the caller's org in the author program at status "connected"
and returns its enrolment, including the verify code the file method needs. It is
IDEMPOTENT: a second call returns the same enrolment rather than a conflict.

The forge login is taken from IAM's LINKED account for the provider when there is
one — that is identity proof, not a claim — and only otherwise from the login in
the body, which then has to be proven per repository. Connecting does not admit an
org to earning: a platform reviewer approves that separately.

Answers 201 when it enrolled the org and 200 when it found an existing enrolment.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AuthorsAPICloudPostV1AuthorsConnectRequest
*/
func (a *AuthorsAPIService) CloudPostV1AuthorsConnect(ctx context.Context) AuthorsAPICloudPostV1AuthorsConnectRequest {
	return AuthorsAPICloudPostV1AuthorsConnectRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudEnrolment
func (a *AuthorsAPIService) CloudPostV1AuthorsConnectExecute(r AuthorsAPICloudPostV1AuthorsConnectRequest) (*CloudEnrolment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudEnrolment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorsAPIService.CloudPostV1AuthorsConnect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authors/connect"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudConnectRequest == nil {
		return localVarReturnValue, nil, reportError("cloudConnectRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudConnectRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuthorsAPICloudPostV1AuthorsDeploysRecordRequest struct {
	ctx                context.Context
	ApiService         *AuthorsAPIService
	cloudDeployRequest *CloudDeployRequest
}

func (r AuthorsAPICloudPostV1AuthorsDeploysRecordRequest) CloudDeployRequest(cloudDeployRequest CloudDeployRequest) AuthorsAPICloudPostV1AuthorsDeploysRecordRequest {
	r.cloudDeployRequest = &cloudDeployRequest
	return r
}

func (r AuthorsAPICloudPostV1AuthorsDeploysRecordRequest) Execute() (*CloudDeployRecord, *http.Response, error) {
	return r.ApiService.CloudPostV1AuthorsDeploysRecordExecute(r)
}

/*
CloudPostV1AuthorsDeploysRecord RecordAuthorDeploy records that the caller's org deployed a project built from a source repository, which is the edge that makes an author's work earn royalty.

RecordAuthorDeploy records that the caller's org deployed a project built from a
source repository, which is the edge that makes an author's work earn royalty.

It is deliberately NOT an error for a deploy to attribute to nobody: a project
built from no repository, or from one no author has verified, answers
{"recorded": false, "reason"} so a deploy pipeline can fire this on every deploy
without branching. Attribution resolves per-repository first, then owner-wide, so a
repository with its own claim always earns for its own author.

A deploy of a Hanzo-maintained template attributes to the platform treasury, and a
self-deploy (the author's own org deploying its own repository) is recorded for
provenance but excluded from accrual. The edge is idempotent per
repository+project+org.

Answers 201 when it recorded a new edge and 200 otherwise.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AuthorsAPICloudPostV1AuthorsDeploysRecordRequest
*/
func (a *AuthorsAPIService) CloudPostV1AuthorsDeploysRecord(ctx context.Context) AuthorsAPICloudPostV1AuthorsDeploysRecordRequest {
	return AuthorsAPICloudPostV1AuthorsDeploysRecordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDeployRecord
func (a *AuthorsAPIService) CloudPostV1AuthorsDeploysRecordExecute(r AuthorsAPICloudPostV1AuthorsDeploysRecordRequest) (*CloudDeployRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDeployRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorsAPIService.CloudPostV1AuthorsDeploysRecord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authors/deploys/record"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudDeployRequest == nil {
		return localVarReturnValue, nil, reportError("cloudDeployRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudDeployRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AuthorsAPICloudPostV1AuthorsReposVerifyRequest struct {
	ctx                context.Context
	ApiService         *AuthorsAPIService
	cloudVerifyRequest *CloudVerifyRequest
}

func (r AuthorsAPICloudPostV1AuthorsReposVerifyRequest) CloudVerifyRequest(cloudVerifyRequest CloudVerifyRequest) AuthorsAPICloudPostV1AuthorsReposVerifyRequest {
	r.cloudVerifyRequest = &cloudVerifyRequest
	return r
}

func (r AuthorsAPICloudPostV1AuthorsReposVerifyRequest) Execute() (*CloudClaim, *http.Response, error) {
	return r.ApiService.CloudPostV1AuthorsReposVerifyExecute(r)
}

/*
CloudPostV1AuthorsReposVerify VerifyAuthorRepo proves that the caller owns a repository — or a whole OWNER — and records the claim, which is what makes deploys of that code earn royalty.

VerifyAuthorRepo proves that the caller owns a repository — or a whole OWNER — and
records the claim, which is what makes deploys of that code earn royalty.

Ownership is proven the SAME two ways in both cases, tried in order: an IAM-linked
forge token with admin or push permission, or a hanzo.json on the default branch
carrying the author's verify code. Claiming an OWNER proves it against that
owner's ".github" control repository, and is exactly as strong as a per-repository
claim — an owner the caller cannot prove is refused with 422, never assumed.

A per-repository claim wins over an owner-wide one, so a specifically-claimed
repository always earns for its own author. A repository another author has
already verified is a 409. The org must have connected first.

Answers 201 when it recorded a new claim and 200 when the claim already existed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AuthorsAPICloudPostV1AuthorsReposVerifyRequest
*/
func (a *AuthorsAPIService) CloudPostV1AuthorsReposVerify(ctx context.Context) AuthorsAPICloudPostV1AuthorsReposVerifyRequest {
	return AuthorsAPICloudPostV1AuthorsReposVerifyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudClaim
func (a *AuthorsAPIService) CloudPostV1AuthorsReposVerifyExecute(r AuthorsAPICloudPostV1AuthorsReposVerifyRequest) (*CloudClaim, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudClaim
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorsAPIService.CloudPostV1AuthorsReposVerify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authors/repos/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudVerifyRequest == nil {
		return localVarReturnValue, nil, reportError("cloudVerifyRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudVerifyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
