/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// ConsolePromptsAPIService ConsolePromptsAPI service
type ConsolePromptsAPIService service

type ConsolePromptsAPIConsoleCreatePromptRequest struct {
	ctx                        context.Context
	ApiService                 *ConsolePromptsAPIService
	consoleCreatePromptRequest *ConsoleCreatePromptRequest
}

func (r ConsolePromptsAPIConsoleCreatePromptRequest) ConsoleCreatePromptRequest(consoleCreatePromptRequest ConsoleCreatePromptRequest) ConsolePromptsAPIConsoleCreatePromptRequest {
	r.consoleCreatePromptRequest = &consoleCreatePromptRequest
	return r
}

func (r ConsolePromptsAPIConsoleCreatePromptRequest) Execute() (*ConsolePrompt, *http.Response, error) {
	return r.ApiService.ConsoleCreatePromptExecute(r)
}

/*
ConsoleCreatePrompt Create a new prompt version

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsolePromptsAPIConsoleCreatePromptRequest
*/
func (a *ConsolePromptsAPIService) ConsoleCreatePrompt(ctx context.Context) ConsolePromptsAPIConsoleCreatePromptRequest {
	return ConsolePromptsAPIConsoleCreatePromptRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsolePrompt
func (a *ConsolePromptsAPIService) ConsoleCreatePromptExecute(r ConsolePromptsAPIConsoleCreatePromptRequest) (*ConsolePrompt, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsolePrompt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsolePromptsAPIService.ConsoleCreatePrompt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/prompts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consoleCreatePromptRequest == nil {
		return localVarReturnValue, nil, reportError("consoleCreatePromptRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consoleCreatePromptRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsolePromptsAPIConsoleDeletePromptRequest struct {
	ctx        context.Context
	ApiService *ConsolePromptsAPIService
	promptName string
	label      *string
	version    *int32
}

func (r ConsolePromptsAPIConsoleDeletePromptRequest) Label(label string) ConsolePromptsAPIConsoleDeletePromptRequest {
	r.label = &label
	return r
}

func (r ConsolePromptsAPIConsoleDeletePromptRequest) Version(version int32) ConsolePromptsAPIConsoleDeletePromptRequest {
	r.version = &version
	return r
}

func (r ConsolePromptsAPIConsoleDeletePromptRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ConsoleDeletePromptExecute(r)
}

/*
ConsoleDeletePrompt Delete prompt versions

If neither version nor label is specified, all versions are deleted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptName
	@return ConsolePromptsAPIConsoleDeletePromptRequest
*/
func (a *ConsolePromptsAPIService) ConsoleDeletePrompt(ctx context.Context, promptName string) ConsolePromptsAPIConsoleDeletePromptRequest {
	return ConsolePromptsAPIConsoleDeletePromptRequest{
		ApiService: a,
		ctx:        ctx,
		promptName: promptName,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ConsolePromptsAPIService) ConsoleDeletePromptExecute(r ConsolePromptsAPIConsoleDeletePromptRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsolePromptsAPIService.ConsoleDeletePrompt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/prompts/{promptName}"
	localVarPath = strings.Replace(localVarPath, "{"+"promptName"+"}", url.PathEscape(parameterValueToString(r.promptName, "promptName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsolePromptsAPIConsoleGetPromptRequest struct {
	ctx        context.Context
	ApiService *ConsolePromptsAPIService
	promptName string
	version    *int32
	label      *string
}

func (r ConsolePromptsAPIConsoleGetPromptRequest) Version(version int32) ConsolePromptsAPIConsoleGetPromptRequest {
	r.version = &version
	return r
}

// Defaults to \&quot;production\&quot; if no label or version is set
func (r ConsolePromptsAPIConsoleGetPromptRequest) Label(label string) ConsolePromptsAPIConsoleGetPromptRequest {
	r.label = &label
	return r
}

func (r ConsolePromptsAPIConsoleGetPromptRequest) Execute() (*ConsolePrompt, *http.Response, error) {
	return r.ApiService.ConsoleGetPromptExecute(r)
}

/*
ConsoleGetPrompt Get a prompt by name

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptName
	@return ConsolePromptsAPIConsoleGetPromptRequest
*/
func (a *ConsolePromptsAPIService) ConsoleGetPrompt(ctx context.Context, promptName string) ConsolePromptsAPIConsoleGetPromptRequest {
	return ConsolePromptsAPIConsoleGetPromptRequest{
		ApiService: a,
		ctx:        ctx,
		promptName: promptName,
	}
}

// Execute executes the request
//
//	@return ConsolePrompt
func (a *ConsolePromptsAPIService) ConsoleGetPromptExecute(r ConsolePromptsAPIConsoleGetPromptRequest) (*ConsolePrompt, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsolePrompt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsolePromptsAPIService.ConsoleGetPrompt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/prompts/{promptName}"
	localVarPath = strings.Replace(localVarPath, "{"+"promptName"+"}", url.PathEscape(parameterValueToString(r.promptName, "promptName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsolePromptsAPIConsoleGetPromptVersionRequest struct {
	ctx           context.Context
	ApiService    *ConsolePromptsAPIService
	promptName    string
	promptVersion int32
}

func (r ConsolePromptsAPIConsoleGetPromptVersionRequest) Execute() (*ConsolePrompt, *http.Response, error) {
	return r.ApiService.ConsoleGetPromptVersionExecute(r)
}

/*
ConsoleGetPromptVersion Get a specific prompt version

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param promptName
	@param promptVersion
	@return ConsolePromptsAPIConsoleGetPromptVersionRequest
*/
func (a *ConsolePromptsAPIService) ConsoleGetPromptVersion(ctx context.Context, promptName string, promptVersion int32) ConsolePromptsAPIConsoleGetPromptVersionRequest {
	return ConsolePromptsAPIConsoleGetPromptVersionRequest{
		ApiService:    a,
		ctx:           ctx,
		promptName:    promptName,
		promptVersion: promptVersion,
	}
}

// Execute executes the request
//
//	@return ConsolePrompt
func (a *ConsolePromptsAPIService) ConsoleGetPromptVersionExecute(r ConsolePromptsAPIConsoleGetPromptVersionRequest) (*ConsolePrompt, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsolePrompt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsolePromptsAPIService.ConsoleGetPromptVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/prompts/{promptName}/versions/{promptVersion}"
	localVarPath = strings.Replace(localVarPath, "{"+"promptName"+"}", url.PathEscape(parameterValueToString(r.promptName, "promptName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"promptVersion"+"}", url.PathEscape(parameterValueToString(r.promptVersion, "promptVersion")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsolePromptsAPIConsoleListPromptsRequest struct {
	ctx           context.Context
	ApiService    *ConsolePromptsAPIService
	name          *string
	label         *string
	tag           *string
	page          *int32
	limit         *int32
	fromUpdatedAt *time.Time
	toUpdatedAt   *time.Time
}

func (r ConsolePromptsAPIConsoleListPromptsRequest) Name(name string) ConsolePromptsAPIConsoleListPromptsRequest {
	r.name = &name
	return r
}

func (r ConsolePromptsAPIConsoleListPromptsRequest) Label(label string) ConsolePromptsAPIConsoleListPromptsRequest {
	r.label = &label
	return r
}

func (r ConsolePromptsAPIConsoleListPromptsRequest) Tag(tag string) ConsolePromptsAPIConsoleListPromptsRequest {
	r.tag = &tag
	return r
}

func (r ConsolePromptsAPIConsoleListPromptsRequest) Page(page int32) ConsolePromptsAPIConsoleListPromptsRequest {
	r.page = &page
	return r
}

func (r ConsolePromptsAPIConsoleListPromptsRequest) Limit(limit int32) ConsolePromptsAPIConsoleListPromptsRequest {
	r.limit = &limit
	return r
}

func (r ConsolePromptsAPIConsoleListPromptsRequest) FromUpdatedAt(fromUpdatedAt time.Time) ConsolePromptsAPIConsoleListPromptsRequest {
	r.fromUpdatedAt = &fromUpdatedAt
	return r
}

func (r ConsolePromptsAPIConsoleListPromptsRequest) ToUpdatedAt(toUpdatedAt time.Time) ConsolePromptsAPIConsoleListPromptsRequest {
	r.toUpdatedAt = &toUpdatedAt
	return r
}

func (r ConsolePromptsAPIConsoleListPromptsRequest) Execute() (*ConsoleListPrompts200Response, *http.Response, error) {
	return r.ApiService.ConsoleListPromptsExecute(r)
}

/*
ConsoleListPrompts Get a list of prompt names with versions and labels

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsolePromptsAPIConsoleListPromptsRequest
*/
func (a *ConsolePromptsAPIService) ConsoleListPrompts(ctx context.Context) ConsolePromptsAPIConsoleListPromptsRequest {
	return ConsolePromptsAPIConsoleListPromptsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleListPrompts200Response
func (a *ConsolePromptsAPIService) ConsoleListPromptsExecute(r ConsolePromptsAPIConsoleListPromptsRequest) (*ConsoleListPrompts200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleListPrompts200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsolePromptsAPIService.ConsoleListPrompts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/prompts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.fromUpdatedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromUpdatedAt", r.fromUpdatedAt, "form", "")
	}
	if r.toUpdatedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toUpdatedAt", r.toUpdatedAt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
