/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CrmAPIService CrmAPI service
type CrmAPIService service

type CrmAPICloudDeleteV1CrmCompaniesIdRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	id         string
}

func (r CrmAPICloudDeleteV1CrmCompaniesIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1CrmCompaniesIdExecute(r)
}

/*
CloudDeleteV1CrmCompaniesId DeleteCompany removes one of the caller org's companies and answers 204.

DeleteCompany removes one of the caller org's companies and answers 204. Any
contact or opportunity in the org that referenced it keeps existing with the
reference cleared, so nothing is left pointing at a company that is gone.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the record to act on, from the path.
	@return CrmAPICloudDeleteV1CrmCompaniesIdRequest
*/
func (a *CrmAPIService) CloudDeleteV1CrmCompaniesId(ctx context.Context, id string) CrmAPICloudDeleteV1CrmCompaniesIdRequest {
	return CrmAPICloudDeleteV1CrmCompaniesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CrmAPIService) CloudDeleteV1CrmCompaniesIdExecute(r CrmAPICloudDeleteV1CrmCompaniesIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudDeleteV1CrmCompaniesId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/companies/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CrmAPICloudDeleteV1CrmContactsIdRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	id         string
}

func (r CrmAPICloudDeleteV1CrmContactsIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1CrmContactsIdExecute(r)
}

/*
CloudDeleteV1CrmContactsId DeleteContact removes one of the caller org's contacts and answers 204.

DeleteContact removes one of the caller org's contacts and answers 204. Any
opportunity in the org that named it point of contact keeps existing with
that reference cleared.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the record to act on, from the path.
	@return CrmAPICloudDeleteV1CrmContactsIdRequest
*/
func (a *CrmAPIService) CloudDeleteV1CrmContactsId(ctx context.Context, id string) CrmAPICloudDeleteV1CrmContactsIdRequest {
	return CrmAPICloudDeleteV1CrmContactsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CrmAPIService) CloudDeleteV1CrmContactsIdExecute(r CrmAPICloudDeleteV1CrmContactsIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudDeleteV1CrmContactsId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/contacts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CrmAPICloudDeleteV1CrmOpportunitiesIdRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	id         string
}

func (r CrmAPICloudDeleteV1CrmOpportunitiesIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1CrmOpportunitiesIdExecute(r)
}

/*
CloudDeleteV1CrmOpportunitiesId DeleteOpportunity removes one of the caller org's deals and answers 204.

DeleteOpportunity removes one of the caller org's deals and answers 204.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the record to act on, from the path.
	@return CrmAPICloudDeleteV1CrmOpportunitiesIdRequest
*/
func (a *CrmAPIService) CloudDeleteV1CrmOpportunitiesId(ctx context.Context, id string) CrmAPICloudDeleteV1CrmOpportunitiesIdRequest {
	return CrmAPICloudDeleteV1CrmOpportunitiesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CrmAPIService) CloudDeleteV1CrmOpportunitiesIdExecute(r CrmAPICloudDeleteV1CrmOpportunitiesIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudDeleteV1CrmOpportunitiesId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/opportunities/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmApplicationsRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	stage      *string
	limit      *int32
}

// Stage returns only the applications at that pipeline stage when set: applied, screened, qualified, credits-offered, onboarded or rejected.
func (r CrmAPICloudGetV1CrmApplicationsRequest) Stage(stage string) CrmAPICloudGetV1CrmApplicationsRequest {
	r.stage = &stage
	return r
}

// Limit caps the rows returned: 200 by default, 1000 at most.
func (r CrmAPICloudGetV1CrmApplicationsRequest) Limit(limit int32) CrmAPICloudGetV1CrmApplicationsRequest {
	r.limit = &limit
	return r
}

func (r CrmAPICloudGetV1CrmApplicationsRequest) Execute() (*CloudApplicationList, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmApplicationsExecute(r)
}

/*
CloudGetV1CrmApplications ListApplications returns the org's Startup Program applications, newest first.

ListApplications returns the org's Startup Program applications, newest first.
Each carries its AI screen and its stage history; a stage narrows the page to
one pipeline stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudGetV1CrmApplicationsRequest
*/
func (a *CrmAPIService) CloudGetV1CrmApplications(ctx context.Context) CrmAPICloudGetV1CrmApplicationsRequest {
	return CrmAPICloudGetV1CrmApplicationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudApplicationList
func (a *CrmAPIService) CloudGetV1CrmApplicationsExecute(r CrmAPICloudGetV1CrmApplicationsRequest) (*CloudApplicationList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudApplicationList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmApplications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.stage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stage", r.stage, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmApplicationsIdRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	id         string
}

func (r CrmAPICloudGetV1CrmApplicationsIdRequest) Execute() (*CloudApplication, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmApplicationsIdExecute(r)
}

/*
CloudGetV1CrmApplicationsId GetApplication returns one Startup Program application with its AI screen and stage history.

GetApplication returns one Startup Program application with its AI screen and stage history.
An id belonging to another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the record to act on, from the path.
	@return CrmAPICloudGetV1CrmApplicationsIdRequest
*/
func (a *CrmAPIService) CloudGetV1CrmApplicationsId(ctx context.Context, id string) CrmAPICloudGetV1CrmApplicationsIdRequest {
	return CrmAPICloudGetV1CrmApplicationsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudApplication
func (a *CrmAPIService) CloudGetV1CrmApplicationsIdExecute(r CrmAPICloudGetV1CrmApplicationsIdRequest) (*CloudApplication, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudApplication
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmApplicationsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/applications/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmCompaniesRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	limit      *int32
}

// Limit caps the rows returned: 200 by default, 1000 at most.
func (r CrmAPICloudGetV1CrmCompaniesRequest) Limit(limit int32) CrmAPICloudGetV1CrmCompaniesRequest {
	r.limit = &limit
	return r
}

func (r CrmAPICloudGetV1CrmCompaniesRequest) Execute() (*CloudCompanyList, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmCompaniesExecute(r)
}

/*
CloudGetV1CrmCompanies ListCompanies returns the caller org's companies, most recently updated first.

ListCompanies returns the caller org's companies, most recently updated first.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudGetV1CrmCompaniesRequest
*/
func (a *CrmAPIService) CloudGetV1CrmCompanies(ctx context.Context) CrmAPICloudGetV1CrmCompaniesRequest {
	return CrmAPICloudGetV1CrmCompaniesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCompanyList
func (a *CrmAPIService) CloudGetV1CrmCompaniesExecute(r CrmAPICloudGetV1CrmCompaniesRequest) (*CloudCompanyList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCompanyList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmCompanies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/companies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmCompaniesIdRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	id         string
}

func (r CrmAPICloudGetV1CrmCompaniesIdRequest) Execute() (*CloudCompany, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmCompaniesIdExecute(r)
}

/*
CloudGetV1CrmCompaniesId GetCompany returns one of the caller org's companies.

GetCompany returns one of the caller org's companies. An id belonging to
another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the record to act on, from the path.
	@return CrmAPICloudGetV1CrmCompaniesIdRequest
*/
func (a *CrmAPIService) CloudGetV1CrmCompaniesId(ctx context.Context, id string) CrmAPICloudGetV1CrmCompaniesIdRequest {
	return CrmAPICloudGetV1CrmCompaniesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCompany
func (a *CrmAPIService) CloudGetV1CrmCompaniesIdExecute(r CrmAPICloudGetV1CrmCompaniesIdRequest) (*CloudCompany, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCompany
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmCompaniesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/companies/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmContactsRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	companyId  *string
	limit      *int32
}

// CompanyID returns only the contacts at that company when set.
func (r CrmAPICloudGetV1CrmContactsRequest) CompanyId(companyId string) CrmAPICloudGetV1CrmContactsRequest {
	r.companyId = &companyId
	return r
}

// Limit caps the rows returned: 200 by default, 1000 at most.
func (r CrmAPICloudGetV1CrmContactsRequest) Limit(limit int32) CrmAPICloudGetV1CrmContactsRequest {
	r.limit = &limit
	return r
}

func (r CrmAPICloudGetV1CrmContactsRequest) Execute() (*CloudContactList, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmContactsExecute(r)
}

/*
CloudGetV1CrmContacts ListContacts returns the caller org's contacts, most recently updated first.

ListContacts returns the caller org's contacts, most recently updated first.
A companyId narrows the page to the people at that company.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudGetV1CrmContactsRequest
*/
func (a *CrmAPIService) CloudGetV1CrmContacts(ctx context.Context) CrmAPICloudGetV1CrmContactsRequest {
	return CrmAPICloudGetV1CrmContactsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudContactList
func (a *CrmAPIService) CloudGetV1CrmContactsExecute(r CrmAPICloudGetV1CrmContactsRequest) (*CloudContactList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudContactList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmContacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/contacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.companyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "companyId", r.companyId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmContactsIdRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	id         string
}

func (r CrmAPICloudGetV1CrmContactsIdRequest) Execute() (*CloudContact, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmContactsIdExecute(r)
}

/*
CloudGetV1CrmContactsId GetContact returns one of the caller org's contacts.

GetContact returns one of the caller org's contacts. An id belonging to
another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the record to act on, from the path.
	@return CrmAPICloudGetV1CrmContactsIdRequest
*/
func (a *CrmAPIService) CloudGetV1CrmContactsId(ctx context.Context, id string) CrmAPICloudGetV1CrmContactsIdRequest {
	return CrmAPICloudGetV1CrmContactsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudContact
func (a *CrmAPIService) CloudGetV1CrmContactsIdExecute(r CrmAPICloudGetV1CrmContactsIdRequest) (*CloudContact, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudContact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmContactsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/contacts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmOpportunitiesRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	stage      *string
	limit      *int32
}

// Stage returns only the opportunities at that pipeline stage when set (NEW, SCREENING, MEETING, PROPOSAL or CUSTOMER; case-insensitive).
func (r CrmAPICloudGetV1CrmOpportunitiesRequest) Stage(stage string) CrmAPICloudGetV1CrmOpportunitiesRequest {
	r.stage = &stage
	return r
}

// Limit caps the rows returned: 200 by default, 1000 at most.
func (r CrmAPICloudGetV1CrmOpportunitiesRequest) Limit(limit int32) CrmAPICloudGetV1CrmOpportunitiesRequest {
	r.limit = &limit
	return r
}

func (r CrmAPICloudGetV1CrmOpportunitiesRequest) Execute() (*CloudOppList, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmOpportunitiesExecute(r)
}

/*
CloudGetV1CrmOpportunities ListOpportunities returns the caller org's deals, most recently updated first.

ListOpportunities returns the caller org's deals, most recently updated first.
A stage narrows the page to one pipeline stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudGetV1CrmOpportunitiesRequest
*/
func (a *CrmAPIService) CloudGetV1CrmOpportunities(ctx context.Context) CrmAPICloudGetV1CrmOpportunitiesRequest {
	return CrmAPICloudGetV1CrmOpportunitiesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudOppList
func (a *CrmAPIService) CloudGetV1CrmOpportunitiesExecute(r CrmAPICloudGetV1CrmOpportunitiesRequest) (*CloudOppList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOppList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmOpportunities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/opportunities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.stage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stage", r.stage, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmOpportunitiesIdRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
	id         string
}

func (r CrmAPICloudGetV1CrmOpportunitiesIdRequest) Execute() (*CloudOpportunity, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmOpportunitiesIdExecute(r)
}

/*
CloudGetV1CrmOpportunitiesId GetOpportunity returns one of the caller org's deals.

GetOpportunity returns one of the caller org's deals. An id belonging to
another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the record to act on, from the path.
	@return CrmAPICloudGetV1CrmOpportunitiesIdRequest
*/
func (a *CrmAPIService) CloudGetV1CrmOpportunitiesId(ctx context.Context, id string) CrmAPICloudGetV1CrmOpportunitiesIdRequest {
	return CrmAPICloudGetV1CrmOpportunitiesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudOpportunity
func (a *CrmAPIService) CloudGetV1CrmOpportunitiesIdExecute(r CrmAPICloudGetV1CrmOpportunitiesIdRequest) (*CloudOpportunity, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOpportunity
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmOpportunitiesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/opportunities/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudGetV1CrmSummaryRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
}

func (r CrmAPICloudGetV1CrmSummaryRequest) Execute() (*CloudCrmSummary, *http.Response, error) {
	return r.ApiService.CloudGetV1CrmSummaryExecute(r)
}

/*
CloudGetV1CrmSummary Summary counts the caller org's CRM records: companies, contacts, opportunities.

Summary counts the caller org's CRM records: companies, contacts, opportunities.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudGetV1CrmSummaryRequest
*/
func (a *CrmAPIService) CloudGetV1CrmSummary(ctx context.Context) CrmAPICloudGetV1CrmSummaryRequest {
	return CrmAPICloudGetV1CrmSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCrmSummary
func (a *CrmAPIService) CloudGetV1CrmSummaryExecute(r CrmAPICloudGetV1CrmSummaryRequest) (*CloudCrmSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCrmSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudGetV1CrmSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudPatchV1CrmApplicationsIdRequest struct {
	ctx                     context.Context
	ApiService              *CrmAPIService
	id                      string
	cloudPatchApplicationIn *CloudPatchApplicationIn
}

func (r CrmAPICloudPatchV1CrmApplicationsIdRequest) CloudPatchApplicationIn(cloudPatchApplicationIn CloudPatchApplicationIn) CrmAPICloudPatchV1CrmApplicationsIdRequest {
	r.cloudPatchApplicationIn = &cloudPatchApplicationIn
	return r
}

func (r CrmAPICloudPatchV1CrmApplicationsIdRequest) Execute() (*CloudApplication, *http.Response, error) {
	return r.ApiService.CloudPatchV1CrmApplicationsIdExecute(r)
}

/*
CloudPatchV1CrmApplicationsId PatchApplication moves one Startup Program application through the pipeline.

PatchApplication moves one Startup Program application through the pipeline. The
move is recorded on the application's timeline, attributed to the calling
staff user: it may advance exactly one stage, go back to any earlier stage,
reject from any non-rejected stage, or reopen a rejected application to
`applied`; anything else is refused. Rejecting requires a reason. A note with
no stage change is still recorded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the application to move, from the path.
	@return CrmAPICloudPatchV1CrmApplicationsIdRequest
*/
func (a *CrmAPIService) CloudPatchV1CrmApplicationsId(ctx context.Context, id string) CrmAPICloudPatchV1CrmApplicationsIdRequest {
	return CrmAPICloudPatchV1CrmApplicationsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudApplication
func (a *CrmAPIService) CloudPatchV1CrmApplicationsIdExecute(r CrmAPICloudPatchV1CrmApplicationsIdRequest) (*CloudApplication, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudApplication
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudPatchV1CrmApplicationsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/applications/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPatchApplicationIn == nil {
		return localVarReturnValue, nil, reportError("cloudPatchApplicationIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPatchApplicationIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudPostV1CrmApplicationsRequest struct {
	ctx        context.Context
	ApiService *CrmAPIService
}

func (r CrmAPICloudPostV1CrmApplicationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CrmApplicationsExecute(r)
}

/*
CloudPostV1CrmApplications Method for CloudPostV1CrmApplications

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudPostV1CrmApplicationsRequest
*/
func (a *CrmAPIService) CloudPostV1CrmApplications(ctx context.Context) CrmAPICloudPostV1CrmApplicationsRequest {
	return CrmAPICloudPostV1CrmApplicationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CrmAPIService) CloudPostV1CrmApplicationsExecute(r CrmAPICloudPostV1CrmApplicationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudPostV1CrmApplications")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CrmAPICloudPostV1CrmCompaniesRequest struct {
	ctx             context.Context
	ApiService      *CrmAPIService
	cloudCompanyReq *CloudCompanyReq
}

func (r CrmAPICloudPostV1CrmCompaniesRequest) CloudCompanyReq(cloudCompanyReq CloudCompanyReq) CrmAPICloudPostV1CrmCompaniesRequest {
	r.cloudCompanyReq = &cloudCompanyReq
	return r
}

func (r CrmAPICloudPostV1CrmCompaniesRequest) Execute() (*CloudCompany, *http.Response, error) {
	return r.ApiService.CloudPostV1CrmCompaniesExecute(r)
}

/*
CloudPostV1CrmCompanies CreateCompany adds a company to the caller's org and answers 201 with the stored record.

CreateCompany adds a company to the caller's org and answers 201 with the stored record.
A name is required; an empty currency defaults to USD.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudPostV1CrmCompaniesRequest
*/
func (a *CrmAPIService) CloudPostV1CrmCompanies(ctx context.Context) CrmAPICloudPostV1CrmCompaniesRequest {
	return CrmAPICloudPostV1CrmCompaniesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCompany
func (a *CrmAPIService) CloudPostV1CrmCompaniesExecute(r CrmAPICloudPostV1CrmCompaniesRequest) (*CloudCompany, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCompany
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudPostV1CrmCompanies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/companies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCompanyReq == nil {
		return localVarReturnValue, nil, reportError("cloudCompanyReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCompanyReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudPostV1CrmContactsRequest struct {
	ctx             context.Context
	ApiService      *CrmAPIService
	cloudContactReq *CloudContactReq
}

func (r CrmAPICloudPostV1CrmContactsRequest) CloudContactReq(cloudContactReq CloudContactReq) CrmAPICloudPostV1CrmContactsRequest {
	r.cloudContactReq = &cloudContactReq
	return r
}

func (r CrmAPICloudPostV1CrmContactsRequest) Execute() (*CloudContact, *http.Response, error) {
	return r.ApiService.CloudPostV1CrmContactsExecute(r)
}

/*
CloudPostV1CrmContacts CreateContact adds a person to the caller's org and answers 201 with the stored record.

CreateContact adds a person to the caller's org and answers 201 with the stored record.
One of firstName, lastName or email is required, and a companyId must name a
company in the same org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudPostV1CrmContactsRequest
*/
func (a *CrmAPIService) CloudPostV1CrmContacts(ctx context.Context) CrmAPICloudPostV1CrmContactsRequest {
	return CrmAPICloudPostV1CrmContactsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudContact
func (a *CrmAPIService) CloudPostV1CrmContactsExecute(r CrmAPICloudPostV1CrmContactsRequest) (*CloudContact, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudContact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudPostV1CrmContacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/contacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudContactReq == nil {
		return localVarReturnValue, nil, reportError("cloudContactReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudContactReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudPostV1CrmOpportunitiesRequest struct {
	ctx         context.Context
	ApiService  *CrmAPIService
	cloudOppReq *CloudOppReq
}

func (r CrmAPICloudPostV1CrmOpportunitiesRequest) CloudOppReq(cloudOppReq CloudOppReq) CrmAPICloudPostV1CrmOpportunitiesRequest {
	r.cloudOppReq = &cloudOppReq
	return r
}

func (r CrmAPICloudPostV1CrmOpportunitiesRequest) Execute() (*CloudOpportunity, *http.Response, error) {
	return r.ApiService.CloudPostV1CrmOpportunitiesExecute(r)
}

/*
CloudPostV1CrmOpportunities CreateOpportunity adds a deal to the caller's org and answers 201 with the stored record.

CreateOpportunity adds a deal to the caller's org and answers 201 with the stored record.
A name is required; the stage defaults to NEW; companyId and pointOfContactId
must name records in the same org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CrmAPICloudPostV1CrmOpportunitiesRequest
*/
func (a *CrmAPIService) CloudPostV1CrmOpportunities(ctx context.Context) CrmAPICloudPostV1CrmOpportunitiesRequest {
	return CrmAPICloudPostV1CrmOpportunitiesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudOpportunity
func (a *CrmAPIService) CloudPostV1CrmOpportunitiesExecute(r CrmAPICloudPostV1CrmOpportunitiesRequest) (*CloudOpportunity, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOpportunity
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudPostV1CrmOpportunities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/opportunities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudOppReq == nil {
		return localVarReturnValue, nil, reportError("cloudOppReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudOppReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudPutV1CrmCompaniesIdRequest struct {
	ctx             context.Context
	ApiService      *CrmAPIService
	id              string
	cloudCompanyReq *CloudCompanyReq
}

func (r CrmAPICloudPutV1CrmCompaniesIdRequest) CloudCompanyReq(cloudCompanyReq CloudCompanyReq) CrmAPICloudPutV1CrmCompaniesIdRequest {
	r.cloudCompanyReq = &cloudCompanyReq
	return r
}

func (r CrmAPICloudPutV1CrmCompaniesIdRequest) Execute() (*CloudCompany, *http.Response, error) {
	return r.ApiService.CloudPutV1CrmCompaniesIdExecute(r)
}

/*
CloudPutV1CrmCompaniesId UpdateCompany replaces one of the caller org's companies.

UpdateCompany replaces one of the caller org's companies. Every writable
field is taken from the request, so a field the request omits is CLEARED —
send the whole record. A name is required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID names the company to update and comes from the path. A create ignores it: the server mints the id.
	@return CrmAPICloudPutV1CrmCompaniesIdRequest
*/
func (a *CrmAPIService) CloudPutV1CrmCompaniesId(ctx context.Context, id string) CrmAPICloudPutV1CrmCompaniesIdRequest {
	return CrmAPICloudPutV1CrmCompaniesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCompany
func (a *CrmAPIService) CloudPutV1CrmCompaniesIdExecute(r CrmAPICloudPutV1CrmCompaniesIdRequest) (*CloudCompany, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCompany
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudPutV1CrmCompaniesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/companies/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCompanyReq == nil {
		return localVarReturnValue, nil, reportError("cloudCompanyReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCompanyReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudPutV1CrmContactsIdRequest struct {
	ctx             context.Context
	ApiService      *CrmAPIService
	id              string
	cloudContactReq *CloudContactReq
}

func (r CrmAPICloudPutV1CrmContactsIdRequest) CloudContactReq(cloudContactReq CloudContactReq) CrmAPICloudPutV1CrmContactsIdRequest {
	r.cloudContactReq = &cloudContactReq
	return r
}

func (r CrmAPICloudPutV1CrmContactsIdRequest) Execute() (*CloudContact, *http.Response, error) {
	return r.ApiService.CloudPutV1CrmContactsIdExecute(r)
}

/*
CloudPutV1CrmContactsId UpdateContact replaces one of the caller org's contacts.

UpdateContact replaces one of the caller org's contacts. Every writable field
is taken from the request, so a field the request omits is CLEARED — send the
whole record. One of firstName, lastName or email is required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID names the contact to update and comes from the path. A create ignores it: the server mints the id.
	@return CrmAPICloudPutV1CrmContactsIdRequest
*/
func (a *CrmAPIService) CloudPutV1CrmContactsId(ctx context.Context, id string) CrmAPICloudPutV1CrmContactsIdRequest {
	return CrmAPICloudPutV1CrmContactsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudContact
func (a *CrmAPIService) CloudPutV1CrmContactsIdExecute(r CrmAPICloudPutV1CrmContactsIdRequest) (*CloudContact, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudContact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudPutV1CrmContactsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/contacts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudContactReq == nil {
		return localVarReturnValue, nil, reportError("cloudContactReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudContactReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CrmAPICloudPutV1CrmOpportunitiesIdRequest struct {
	ctx         context.Context
	ApiService  *CrmAPIService
	id          string
	cloudOppReq *CloudOppReq
}

func (r CrmAPICloudPutV1CrmOpportunitiesIdRequest) CloudOppReq(cloudOppReq CloudOppReq) CrmAPICloudPutV1CrmOpportunitiesIdRequest {
	r.cloudOppReq = &cloudOppReq
	return r
}

func (r CrmAPICloudPutV1CrmOpportunitiesIdRequest) Execute() (*CloudOpportunity, *http.Response, error) {
	return r.ApiService.CloudPutV1CrmOpportunitiesIdExecute(r)
}

/*
CloudPutV1CrmOpportunitiesId UpdateOpportunity replaces one of the caller org's deals.

UpdateOpportunity replaces one of the caller org's deals. Every writable
field is taken from the request, so a field the request omits is CLEARED —
send the whole record. A name is required and the stage must be a pipeline
stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID names the opportunity to update and comes from the path. A create ignores it: the server mints the id.
	@return CrmAPICloudPutV1CrmOpportunitiesIdRequest
*/
func (a *CrmAPIService) CloudPutV1CrmOpportunitiesId(ctx context.Context, id string) CrmAPICloudPutV1CrmOpportunitiesIdRequest {
	return CrmAPICloudPutV1CrmOpportunitiesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudOpportunity
func (a *CrmAPIService) CloudPutV1CrmOpportunitiesIdExecute(r CrmAPICloudPutV1CrmOpportunitiesIdRequest) (*CloudOpportunity, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOpportunity
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrmAPIService.CloudPutV1CrmOpportunitiesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crm/opportunities/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudOppReq == nil {
		return localVarReturnValue, nil, reportError("cloudOppReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudOppReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
