/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// KbAPIService KbAPI service
type KbAPIService service

type KbAPICloudDeleteV1KbConnectorsProviderRequest struct {
	ctx        context.Context
	ApiService *KbAPIService
	provider   string
}

func (r KbAPICloudDeleteV1KbConnectorsProviderRequest) Execute() (*CloudConnectionOut, *http.Response, error) {
	return r.ApiService.CloudDeleteV1KbConnectorsProviderExecute(r)
}

/*
CloudDeleteV1KbConnectorsProvider DisconnectConnector revokes a connection: it tombstones the stored credential so a later sync cannot reuse it, purges this provider's points from the org's vector namespace, and marks the connector disconnected.

DisconnectConnector revokes a connection: it tombstones the stored credential
so a later sync cannot reuse it, purges this provider's points from the org's
vector namespace, and marks the connector disconnected. The documents already
ingested stay in the org's store — they are the org's own data — but stop being
retrievable by search; a caller deletes them through the document surface.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the connector to act on: github, slack, google or notion.
	@return KbAPICloudDeleteV1KbConnectorsProviderRequest
*/
func (a *KbAPIService) CloudDeleteV1KbConnectorsProvider(ctx context.Context, provider string) KbAPICloudDeleteV1KbConnectorsProviderRequest {
	return KbAPICloudDeleteV1KbConnectorsProviderRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return CloudConnectionOut
func (a *KbAPIService) CloudDeleteV1KbConnectorsProviderExecute(r KbAPICloudDeleteV1KbConnectorsProviderRequest) (*CloudConnectionOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConnectionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudDeleteV1KbConnectorsProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/connectors/{provider}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KbAPICloudGetV1KbConnectorsRequest struct {
	ctx        context.Context
	ApiService *KbAPIService
}

func (r KbAPICloudGetV1KbConnectorsRequest) Execute() (*CloudKbConnectorsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1KbConnectorsExecute(r)
}

/*
CloudGetV1KbConnectors ListConnectors returns every supported knowledge connector with THIS org's connection state and the REAL number of documents each has ingested into the org's store.

ListConnectors returns every supported knowledge connector with THIS org's
connection state and the REAL number of documents each has ingested into the
org's store. A provider that is configured for the deployment but not yet
connected appears as disconnected, so the console can offer a Connect button.
No secret is ever returned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KbAPICloudGetV1KbConnectorsRequest
*/
func (a *KbAPIService) CloudGetV1KbConnectors(ctx context.Context) KbAPICloudGetV1KbConnectorsRequest {
	return KbAPICloudGetV1KbConnectorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudKbConnectorsOut
func (a *KbAPIService) CloudGetV1KbConnectorsExecute(r KbAPICloudGetV1KbConnectorsRequest) (*CloudKbConnectorsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKbConnectorsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudGetV1KbConnectors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KbAPICloudGetV1KbConnectorsCatalogRequest struct {
	ctx        context.Context
	ApiService *KbAPIService
}

func (r KbAPICloudGetV1KbConnectorsCatalogRequest) Execute() (*CloudCatalogOut, *http.Response, error) {
	return r.ApiService.CloudGetV1KbConnectorsCatalogExecute(r)
}

/*
CloudGetV1KbConnectorsCatalog ListConnectorCatalog returns the ONE catalog of everything a caller can connect: every first-party connector and every long-tail one, in a single list sorted by provider.

ListConnectorCatalog returns the ONE catalog of everything a caller can
connect: every first-party connector and every long-tail one, in a single list
sorted by provider. `configured` reports whether this deployment holds OAuth
credentials for a source, so the console can show Connect rather than a dead
button, and `kind` is a badge only — the connect and sync lifecycle is
identical for both. The catalog itself is org-independent; a validated
principal is still required. It is metadata only: no secret is ever returned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KbAPICloudGetV1KbConnectorsCatalogRequest
*/
func (a *KbAPIService) CloudGetV1KbConnectorsCatalog(ctx context.Context) KbAPICloudGetV1KbConnectorsCatalogRequest {
	return KbAPICloudGetV1KbConnectorsCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCatalogOut
func (a *KbAPIService) CloudGetV1KbConnectorsCatalogExecute(r KbAPICloudGetV1KbConnectorsCatalogRequest) (*CloudCatalogOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCatalogOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudGetV1KbConnectorsCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/connectors/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KbAPICloudGetV1KbConnectorsProviderCallbackRequest struct {
	ctx        context.Context
	ApiService *KbAPIService
	provider   string
	code       *string
	state      *string
	error_     *string
}

// Code is the provider&#39;s authorization code, exchanged for a token.
func (r KbAPICloudGetV1KbConnectorsProviderCallbackRequest) Code(code string) KbAPICloudGetV1KbConnectorsProviderCallbackRequest {
	r.code = &code
	return r
}

// State is the org-bound value this server signed at connect time.
func (r KbAPICloudGetV1KbConnectorsProviderCallbackRequest) State(state string) KbAPICloudGetV1KbConnectorsProviderCallbackRequest {
	r.state = &state
	return r
}

// Error is the provider&#39;s denial reason when the user refused consent.
func (r KbAPICloudGetV1KbConnectorsProviderCallbackRequest) Error_(error_ string) KbAPICloudGetV1KbConnectorsProviderCallbackRequest {
	r.error_ = &error_
	return r
}

func (r KbAPICloudGetV1KbConnectorsProviderCallbackRequest) Execute() (*CloudConnectionOut, *http.Response, error) {
	return r.ApiService.CloudGetV1KbConnectorsProviderCallbackExecute(r)
}

/*
CloudGetV1KbConnectorsProviderCallback CompleteConnectorOAuth finishes an OAuth connection: it exchanges the provider's code for a token, seals that token in KMS, and records the connection.

CompleteConnectorOAuth finishes an OAuth connection: it exchanges the
provider's code for a token, seals that token in KMS, and records the
connection. THE ORG COMES FROM THE SIGNED STATE, not from a header and not from
the provider, so an attacker cannot bind their own account to someone else's
org — a tampered, expired or foreign-provider state is refused outright. The
token itself is never returned, never written into the document, and never
logged; the document holds only its KMS path.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the connector completing its flow, from the path.
	@return KbAPICloudGetV1KbConnectorsProviderCallbackRequest
*/
func (a *KbAPIService) CloudGetV1KbConnectorsProviderCallback(ctx context.Context, provider string) KbAPICloudGetV1KbConnectorsProviderCallbackRequest {
	return KbAPICloudGetV1KbConnectorsProviderCallbackRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return CloudConnectionOut
func (a *KbAPIService) CloudGetV1KbConnectorsProviderCallbackExecute(r KbAPICloudGetV1KbConnectorsProviderCallbackRequest) (*CloudConnectionOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConnectionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudGetV1KbConnectorsProviderCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/connectors/{provider}/callback"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KbAPICloudGetV1KbConnectorsProviderConnectRequest struct {
	ctx        context.Context
	ApiService *KbAPIService
	provider   string
}

func (r KbAPICloudGetV1KbConnectorsProviderConnectRequest) Execute() (*CloudKbAuthorizeOut, *http.Response, error) {
	return r.ApiService.CloudGetV1KbConnectorsProviderConnectExecute(r)
}

/*
CloudGetV1KbConnectorsProviderConnect StartConnectorOAuth returns the provider authorize URL the console opens to connect this org's account.

StartConnectorOAuth returns the provider authorize URL the console opens to
connect this org's account. There is no server-side redirect — the console
stays in control of the navigation. The URL carries a state this server SIGNED
over the caller's validated org, so the connection the callback completes can
only ever land in that org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the connector to act on: github, slack, google or notion.
	@return KbAPICloudGetV1KbConnectorsProviderConnectRequest
*/
func (a *KbAPIService) CloudGetV1KbConnectorsProviderConnect(ctx context.Context, provider string) KbAPICloudGetV1KbConnectorsProviderConnectRequest {
	return KbAPICloudGetV1KbConnectorsProviderConnectRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return CloudKbAuthorizeOut
func (a *KbAPIService) CloudGetV1KbConnectorsProviderConnectExecute(r KbAPICloudGetV1KbConnectorsProviderConnectRequest) (*CloudKbAuthorizeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKbAuthorizeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudGetV1KbConnectorsProviderConnect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/connectors/{provider}/connect"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KbAPICloudGetV1KbGraphRequest struct {
	ctx        context.Context
	ApiService *KbAPIService
	project    *string
}

// Project narrows the graph to one project scope. Empty reads the whole org.
func (r KbAPICloudGetV1KbGraphRequest) Project(project string) KbAPICloudGetV1KbGraphRequest {
	r.project = &project
	return r
}

func (r KbAPICloudGetV1KbGraphRequest) Execute() (*CloudGraphOut, *http.Response, error) {
	return r.ApiService.CloudGetV1KbGraphExecute(r)
}

/*
CloudGetV1KbGraph GetKnowledgeGraph returns the caller org's knowledge as a node/edge graph shaped for a force-directed renderer: pages, memories and synced sources as nodes; the page parent tree, the wikilinks between pages, and each source's connector provenance as edges.

GetKnowledgeGraph returns the caller org's knowledge as a node/edge graph
shaped for a force-directed renderer: pages, memories and synced sources as
nodes; the page parent tree, the wikilinks between pages, and each source's
connector provenance as edges. Wikilink targets are resolved HERE by title or
slug, so a rename never needs an edge rewrite and a link that matches no page
renders as its own "unresolved" node instead of vanishing. ?project= narrows
it. A store outage degrades to an honest empty graph, never a 5xx.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KbAPICloudGetV1KbGraphRequest
*/
func (a *KbAPIService) CloudGetV1KbGraph(ctx context.Context) KbAPICloudGetV1KbGraphRequest {
	return KbAPICloudGetV1KbGraphRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudGraphOut
func (a *KbAPIService) CloudGetV1KbGraphExecute(r KbAPICloudGetV1KbGraphRequest) (*CloudGraphOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudGraphOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudGetV1KbGraph")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/graph"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KbAPICloudPostV1KbConnectorsProviderSyncRequest struct {
	ctx        context.Context
	ApiService *KbAPIService
	provider   string
}

func (r KbAPICloudPostV1KbConnectorsProviderSyncRequest) Execute() (*CloudKbSyncOut, *http.Response, error) {
	return r.ApiService.CloudPostV1KbConnectorsProviderSyncExecute(r)
}

/*
CloudPostV1KbConnectorsProviderSync SyncConnector pulls the provider's documents for the caller's org and files them as knowledge sources, which the store's own hook then indexes — so a synced document is retrievable exactly like a hand-written page.

SyncConnector pulls the provider's documents for the caller's org and files
them as knowledge sources, which the store's own hook then indexes — so a
synced document is retrievable exactly like a hand-written page. The org is the
validated tenant and the credential is read from KMS, so an org can only ever
sync its own connection. A provider failure is reported honestly (502) and
recorded on the connector rather than silently swallowed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the connector to act on: github, slack, google or notion.
	@return KbAPICloudPostV1KbConnectorsProviderSyncRequest
*/
func (a *KbAPIService) CloudPostV1KbConnectorsProviderSync(ctx context.Context, provider string) KbAPICloudPostV1KbConnectorsProviderSyncRequest {
	return KbAPICloudPostV1KbConnectorsProviderSyncRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return CloudKbSyncOut
func (a *KbAPIService) CloudPostV1KbConnectorsProviderSyncExecute(r KbAPICloudPostV1KbConnectorsProviderSyncRequest) (*CloudKbSyncOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKbSyncOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudPostV1KbConnectorsProviderSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/connectors/{provider}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KbAPICloudPostV1KbImportRequest struct {
	ctx        context.Context
	ApiService *KbAPIService
}

func (r KbAPICloudPostV1KbImportRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1KbImportExecute(r)
}

/*
CloudPostV1KbImport Method for CloudPostV1KbImport

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KbAPICloudPostV1KbImportRequest
*/
func (a *KbAPIService) CloudPostV1KbImport(ctx context.Context) KbAPICloudPostV1KbImportRequest {
	return KbAPICloudPostV1KbImportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *KbAPIService) CloudPostV1KbImportExecute(r KbAPICloudPostV1KbImportRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudPostV1KbImport")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/import"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type KbAPICloudPostV1KbSearchRequest struct {
	ctx           context.Context
	ApiService    *KbAPIService
	cloudSearchIn *CloudSearchIn
}

func (r KbAPICloudPostV1KbSearchRequest) CloudSearchIn(cloudSearchIn CloudSearchIn) KbAPICloudPostV1KbSearchRequest {
	r.cloudSearchIn = &cloudSearchIn
	return r
}

func (r KbAPICloudPostV1KbSearchRequest) Execute() (*CloudSearchOut, *http.Response, error) {
	return r.ApiService.CloudPostV1KbSearchExecute(r)
}

/*
CloudPostV1KbSearch SearchKnowledge runs a semantic search over the caller org's own knowledge — its wiki pages, its agent memories and everything its connectors have synced — and returns the matching passages.

SearchKnowledge runs a semantic search over the caller org's own knowledge —
its wiki pages, its agent memories and everything its connectors have synced —
and returns the matching passages. This is the RAG entry point: an agent asks
"what does this org know about X" and the org's OWN vector namespace answers.
The org comes from the validated principal, and both the collection and the
payload filter are pinned to it, so cross-tenant retrieval is impossible. An
unreachable index returns an honest empty result set with degraded=true, never
a 5xx.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KbAPICloudPostV1KbSearchRequest
*/
func (a *KbAPIService) CloudPostV1KbSearch(ctx context.Context) KbAPICloudPostV1KbSearchRequest {
	return KbAPICloudPostV1KbSearchRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSearchOut
func (a *KbAPIService) CloudPostV1KbSearchExecute(r KbAPICloudPostV1KbSearchRequest) (*CloudSearchOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSearchOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KbAPIService.CloudPostV1KbSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kb/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudSearchIn == nil {
		return localVarReturnValue, nil, reportError("cloudSearchIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudSearchIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
