/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DeployAPIService DeployAPI service
type DeployAPIService service

type DeployAPICloudGetV1DeployAccountCanIByWildcard1Request struct {
	ctx        context.Context
	ApiService *DeployAPIService
	wildcard1  string
}

func (r DeployAPICloudGetV1DeployAccountCanIByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1DeployAccountCanIByWildcard1Execute(r)
}

/*
CloudGetV1DeployAccountCanIByWildcard1 Method for CloudGetV1DeployAccountCanIByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return DeployAPICloudGetV1DeployAccountCanIByWildcard1Request
*/
func (a *DeployAPIService) CloudGetV1DeployAccountCanIByWildcard1(ctx context.Context, wildcard1 string) DeployAPICloudGetV1DeployAccountCanIByWildcard1Request {
	return DeployAPICloudGetV1DeployAccountCanIByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudGetV1DeployAccountCanIByWildcard1Execute(r DeployAPICloudGetV1DeployAccountCanIByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployAccountCanIByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/account/can-i/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployApplicationsRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployApplicationsRequest) Execute() (*CloudArgoAppList, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployApplicationsExecute(r)
}

/*
CloudGetV1DeployApplications ListDeployApplications returns the fleet as an argocd ApplicationList: one projected Application per operator App CR, carrying the image tag the CR DECLARES, the tag actually RUNNING in the cluster's Deployment, the reconciled health, and the sync verdict those two produce (declared == running ⇒ Synced, both known and different ⇒ OutOfSync, either unknown ⇒ Unknown).

ListDeployApplications returns the fleet as an argocd ApplicationList: one
projected Application per operator App CR, carrying the image tag the CR
DECLARES, the tag actually RUNNING in the cluster's Deployment, the reconciled
health, and the sync verdict those two produce (declared == running ⇒ Synced,
both known and different ⇒ OutOfSync, either unknown ⇒ Unknown).

It is TENANT-SCOPED: a platform SuperAdmin reads every platform namespace, a
validated org member reads only its own org's tenant namespace and only the App
CRs labelled with its org, and anyone else is refused. A cross-tenant CR is
never projected into an answer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployApplicationsRequest
*/
func (a *DeployAPIService) CloudGetV1DeployApplications(ctx context.Context) DeployAPICloudGetV1DeployApplicationsRequest {
	return DeployAPICloudGetV1DeployApplicationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudArgoAppList
func (a *DeployAPIService) CloudGetV1DeployApplicationsExecute(r DeployAPICloudGetV1DeployApplicationsRequest) (*CloudArgoAppList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArgoAppList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployApplications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployApplicationsNameRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
	name       string
}

func (r DeployAPICloudGetV1DeployApplicationsNameRequest) Execute() (*CloudArgoApp, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployApplicationsNameExecute(r)
}

/*
CloudGetV1DeployApplicationsName GetDeployApplication returns ONE projected argocd Application by name, with status.resources filled in from its reconciled resource tree — which is what makes it the detail view rather than a row of the list.

GetDeployApplication returns ONE projected argocd Application by name, with
status.resources filled in from its reconciled resource tree — which is what
makes it the detail view rather than a row of the list.

It is TENANT-SCOPED, and a name that belongs to another org is reported NOT
FOUND rather than refused: a 403 would confirm the application exists, so the
route would become a cross-tenant existence oracle. A name that is not a
DNS-1123 label is a 400 before any cluster read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the application to read, from the path. It must be a DNS-1123 label (lowercase alphanumerics and hyphens, starting and ending alphanumeric) — every operator App CR's metadata.name satisfies that, and anything else is a 400 rather than a lookup.
	@return DeployAPICloudGetV1DeployApplicationsNameRequest
*/
func (a *DeployAPIService) CloudGetV1DeployApplicationsName(ctx context.Context, name string) DeployAPICloudGetV1DeployApplicationsNameRequest {
	return DeployAPICloudGetV1DeployApplicationsNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudArgoApp
func (a *DeployAPIService) CloudGetV1DeployApplicationsNameExecute(r DeployAPICloudGetV1DeployApplicationsNameRequest) (*CloudArgoApp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArgoApp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployApplicationsName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/applications/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployApplicationsNameResourceTreeRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
	name       string
}

func (r DeployAPICloudGetV1DeployApplicationsNameResourceTreeRequest) Execute() (*CloudArgoTree, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployApplicationsNameResourceTreeExecute(r)
}

/*
CloudGetV1DeployApplicationsNameResourceTree GetDeployResourceTree returns one application's argocd ApplicationTree: the objects the operator reconciled from its App CR, reached by ownerRef — the Deployment and, under it, the ReplicaSet and Pods, plus the Service, Ingress, HorizontalPodAutoscaler, PodDisruptionBudget and ConfigMaps it owns — each node carrying its parent edges and its health.

GetDeployResourceTree returns one application's argocd ApplicationTree: the
objects the operator reconciled from its App CR, reached by ownerRef — the
Deployment and, under it, the ReplicaSet and Pods, plus the Service, Ingress,
HorizontalPodAutoscaler, PodDisruptionBudget and ConfigMaps it owns — each node
carrying its parent edges and its health.

Secrets are DELIBERATELY not walked, so no materialized environment can ever
appear in the tree. Tenant-scoped exactly like the application read: another
org's name is not found, a malformed name is a 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the application to read, from the path. It must be a DNS-1123 label (lowercase alphanumerics and hyphens, starting and ending alphanumeric) — every operator App CR's metadata.name satisfies that, and anything else is a 400 rather than a lookup.
	@return DeployAPICloudGetV1DeployApplicationsNameResourceTreeRequest
*/
func (a *DeployAPIService) CloudGetV1DeployApplicationsNameResourceTree(ctx context.Context, name string) DeployAPICloudGetV1DeployApplicationsNameResourceTreeRequest {
	return DeployAPICloudGetV1DeployApplicationsNameResourceTreeRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudArgoTree
func (a *DeployAPIService) CloudGetV1DeployApplicationsNameResourceTreeExecute(r DeployAPICloudGetV1DeployApplicationsNameResourceTreeRequest) (*CloudArgoTree, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArgoTree
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployApplicationsNameResourceTree")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/applications/{name}/resource-tree"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployApplicationsNameRevisionsRevisionMetadataRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
	name       string
	revision   string
}

func (r DeployAPICloudGetV1DeployApplicationsNameRevisionsRevisionMetadataRequest) Execute() (*CloudArgoRevisionMetadata, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployApplicationsNameRevisionsRevisionMetadataExecute(r)
}

/*
CloudGetV1DeployApplicationsNameRevisionsRevisionMetadata GetDeployRevisionMetadata returns the argocd RevisionMetadata for one revision of one application — what the detail view shows beside a revision.

GetDeployRevisionMetadata returns the argocd RevisionMetadata for one revision
of one application — what the detail view shows beside a revision.

An App CR is IMAGE-pinned rather than commit-pinned: the deploy names an image
tag, and the git source this projection reports is the display-only manifest
repo, not the application's own source. Nothing in this process can read a
commit's author or message for an arbitrary revision. So rather than 404 (which
the SPA turns into an error toast) or invent a git author, it answers the
HONEST minimum: date is when the App CR was created, message is the revision
asked for — with the empty revision and "HEAD" resolving to the image tag the
CR declares — and author is empty. An over-long revision is truncated before it
is echoed back.

Tenant-scoped exactly like the application read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the application to read, from the path. It must be a DNS-1123 label.
	@param revision Revision is the revision to describe, from the path. The empty revision and \"HEAD\" both mean \"whatever this application currently declares\".
	@return DeployAPICloudGetV1DeployApplicationsNameRevisionsRevisionMetadataRequest
*/
func (a *DeployAPIService) CloudGetV1DeployApplicationsNameRevisionsRevisionMetadata(ctx context.Context, name string, revision string) DeployAPICloudGetV1DeployApplicationsNameRevisionsRevisionMetadataRequest {
	return DeployAPICloudGetV1DeployApplicationsNameRevisionsRevisionMetadataRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		revision:   revision,
	}
}

// Execute executes the request
//
//	@return CloudArgoRevisionMetadata
func (a *DeployAPIService) CloudGetV1DeployApplicationsNameRevisionsRevisionMetadataExecute(r DeployAPICloudGetV1DeployApplicationsNameRevisionsRevisionMetadataRequest) (*CloudArgoRevisionMetadata, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArgoRevisionMetadata
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployApplicationsNameRevisionsRevisionMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/applications/{name}/revisions/{revision}/metadata"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision"+"}", url.PathEscape(parameterValueToString(r.revision, "revision")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployApplicationsNameSyncwindowsRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
	name       string
}

func (r DeployAPICloudGetV1DeployApplicationsNameSyncwindowsRequest) Execute() (*CloudArgoSyncWindows, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployApplicationsNameSyncwindowsExecute(r)
}

/*
CloudGetV1DeployApplicationsNameSyncwindows GetDeploySyncWindows returns one application's argocd ApplicationSyncWindowState — the answer to \"is anything blocking a sync of this application right now?\".

GetDeploySyncWindows returns one application's argocd
ApplicationSyncWindowState — the answer to "is anything blocking a sync of this
application right now?".

This platform runs NO sync windows, so the answer is always the permissive
empty one: canSync true, with no active and no assigned windows. The
application is still resolved first, so a name that is not the caller's is not
found rather than handed the static body — the endpoint discloses nothing about
another tenant's fleet.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the application to read, from the path. It must be a DNS-1123 label (lowercase alphanumerics and hyphens, starting and ending alphanumeric) — every operator App CR's metadata.name satisfies that, and anything else is a 400 rather than a lookup.
	@return DeployAPICloudGetV1DeployApplicationsNameSyncwindowsRequest
*/
func (a *DeployAPIService) CloudGetV1DeployApplicationsNameSyncwindows(ctx context.Context, name string) DeployAPICloudGetV1DeployApplicationsNameSyncwindowsRequest {
	return DeployAPICloudGetV1DeployApplicationsNameSyncwindowsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudArgoSyncWindows
func (a *DeployAPIService) CloudGetV1DeployApplicationsNameSyncwindowsExecute(r DeployAPICloudGetV1DeployApplicationsNameSyncwindowsRequest) (*CloudArgoSyncWindows, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArgoSyncWindows
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployApplicationsNameSyncwindows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/applications/{name}/syncwindows"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployCallbackRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployCallbackRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1DeployCallbackExecute(r)
}

/*
CloudGetV1DeployCallback Method for CloudGetV1DeployCallback

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployCallbackRequest
*/
func (a *DeployAPIService) CloudGetV1DeployCallback(ctx context.Context) DeployAPICloudGetV1DeployCallbackRequest {
	return DeployAPICloudGetV1DeployCallbackRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudGetV1DeployCallbackExecute(r DeployAPICloudGetV1DeployCallbackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployCallback")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/callback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployClustersRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployClustersRequest) Execute() (*CloudArgoClusterList, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployClustersExecute(r)
}

/*
CloudGetV1DeployClusters ListDeployClusters returns the argocd ClusterList of the destinations the caller's applications reconcile into: one entry per distinct destination server, carrying the count of applications reconciling into it.

ListDeployClusters returns the argocd ClusterList of the destinations the
caller's applications reconcile into: one entry per distinct destination
server, carrying the count of applications reconciling into it. The in-cluster
destination is always present, so an empty fleet still answers one cluster, and
no cluster credential can appear — the projected type physically has no config
field.

It is TENANT-SCOPED and reads the SAME App CRs the applications list reads: a
platform SuperAdmin counts the whole fleet, a validated org member counts only
its own org's applications, anyone else is refused.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployClustersRequest
*/
func (a *DeployAPIService) CloudGetV1DeployClusters(ctx context.Context) DeployAPICloudGetV1DeployClustersRequest {
	return DeployAPICloudGetV1DeployClustersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudArgoClusterList
func (a *DeployAPIService) CloudGetV1DeployClustersExecute(r DeployAPICloudGetV1DeployClustersRequest) (*CloudArgoClusterList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArgoClusterList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployClusters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/clusters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployGitopsRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployGitopsRequest) Execute() (*CloudGitOpsPlane, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployGitopsExecute(r)
}

/*
CloudGetV1DeployGitops GetDeployGitOps lists every Hanzo CD Application in the cluster: the git source each one polls, the commit it last APPLIED, how its last sync operation ended, and its recent deploy history — newest deploy first, ordered by namespace then name.

GetDeployGitOps lists every Hanzo CD Application in the cluster: the git source
each one polls, the commit it last APPLIED, how its last sync operation ended,
and its recent deploy history — newest deploy first, ordered by namespace then
name.

This is the layer ABOVE the application board, and the two disagree in exactly
the case an operator most needs to see: main carries a new image pin, CD has
not applied that commit yet, so every App CR still declares the old tag and the
application board is legitimately "Synced" while the deploy has not landed.
Only the applied revision here can show that.

installed is false — with a reason and an empty list — when the CD CRD is not
served in this cluster. That is a FACT about the cluster rather than a failure
of the request, so the caller can say "no CD plane here" instead of rendering
an error it cannot act on; a genuine transport or RBAC failure still errors.

Read-only, and platform SuperAdmin only: the CD plane is fleet infrastructure
with no tenant dimension. This view observes CD and never drives it — the sync
policy is automated with self-heal, and the actionable verb an operator has is
the per-application reconcile at POST /v1/deploy/applications/{name}/sync.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployGitopsRequest
*/
func (a *DeployAPIService) CloudGetV1DeployGitops(ctx context.Context) DeployAPICloudGetV1DeployGitopsRequest {
	return DeployAPICloudGetV1DeployGitopsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudGitOpsPlane
func (a *DeployAPIService) CloudGetV1DeployGitopsExecute(r DeployAPICloudGetV1DeployGitopsRequest) (*CloudGitOpsPlane, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudGitOpsPlane
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployGitops")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/gitops"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployHealthRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployHealthRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1DeployHealthExecute(r)
}

/*
CloudGetV1DeployHealth Method for CloudGetV1DeployHealth

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployHealthRequest
*/
func (a *DeployAPIService) CloudGetV1DeployHealth(ctx context.Context) DeployAPICloudGetV1DeployHealthRequest {
	return DeployAPICloudGetV1DeployHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudGetV1DeployHealthExecute(r DeployAPICloudGetV1DeployHealthRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployHealth")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployLoginRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployLoginRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1DeployLoginExecute(r)
}

/*
CloudGetV1DeployLogin Method for CloudGetV1DeployLogin

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployLoginRequest
*/
func (a *DeployAPIService) CloudGetV1DeployLogin(ctx context.Context) DeployAPICloudGetV1DeployLoginRequest {
	return DeployAPICloudGetV1DeployLoginRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudGetV1DeployLoginExecute(r DeployAPICloudGetV1DeployLoginRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployLogin")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployProjectsRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployProjectsRequest) Execute() (*CloudArgoProjectList, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployProjectsExecute(r)
}

/*
CloudGetV1DeployProjects ListDeployProjects returns the argocd AppProjectList this console groups and filters applications by.

ListDeployProjects returns the argocd AppProjectList this console groups and
filters applications by. Projects are owned by Hanzo IAM rather than by argocd,
so they are REFLECTED read-only from the IAM project store and nothing is
persisted here: a validated org member gets its own organization's projects and
a platform SuperAdmin gets every organization's.

A SuperAdmin whose IAM store is not reachable falls back to the real
argoproj.io AppProject CRs when that CRD is served, and otherwise to one
permissive synthesized project per distinct project name the App CRs declare.
A project named "default" is always present, because that is what an App CR
carrying no project label projects to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployProjectsRequest
*/
func (a *DeployAPIService) CloudGetV1DeployProjects(ctx context.Context) DeployAPICloudGetV1DeployProjectsRequest {
	return DeployAPICloudGetV1DeployProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudArgoProjectList
func (a *DeployAPIService) CloudGetV1DeployProjectsExecute(r DeployAPICloudGetV1DeployProjectsRequest) (*CloudArgoProjectList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudArgoProjectList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeploySessionUserinfoRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeploySessionUserinfoRequest) Execute() (*CloudSessionUser, *http.Response, error) {
	return r.ApiService.CloudGetV1DeploySessionUserinfoExecute(r)
}

/*
CloudGetV1DeploySessionUserinfo GetDeploySession answers \"is this browser signed in, and if not where does it sign in?\" — the dashboard SPA's bootstrap question, and the only route on this plane that answers for an anonymous caller.

GetDeploySession answers "is this browser signed in, and if not where does it
sign in?" — the dashboard SPA's bootstrap question, and the only route on this
plane that answers for an anonymous caller.

The anonymous answer carries loggedIn:false and a URL and NOTHING else: no
username, no org, no groups, no issuer, no hint about who the caller might be or
what exists in the cluster. Answering it costs nothing (the caller already knows
whether it holds a cookie) and withholding it costs the whole sign-in journey.

The predicate is the platform SuperAdmin fact — the SAME one every other route
here gates on, minted from a validated principal whose org is the reserved admin
org — so a validated-but-not-SuperAdmin caller is reported as NOT signed in,
which is the truth as this console defines it: they cannot use it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeploySessionUserinfoRequest
*/
func (a *DeployAPIService) CloudGetV1DeploySessionUserinfo(ctx context.Context) DeployAPICloudGetV1DeploySessionUserinfoRequest {
	return DeployAPICloudGetV1DeploySessionUserinfoRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSessionUser
func (a *DeployAPIService) CloudGetV1DeploySessionUserinfoExecute(r DeployAPICloudGetV1DeploySessionUserinfoRequest) (*CloudSessionUser, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSessionUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeploySessionUserinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/session/userinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeploySettingsRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeploySettingsRequest) Execute() (*CloudConsoleSettings, *http.Response, error) {
	return r.ApiService.CloudGetV1DeploySettingsExecute(r)
}

/*
CloudGetV1DeploySettings GetDeploySettings returns the argocd AuthSettings object the dashboard SPA awaits before its first render.

GetDeploySettings returns the argocd AuthSettings object the dashboard SPA
awaits before its first render.

Every value is a CONSTANT of this projection rather than configuration read
from anywhere: the SPA's own login form is reported disabled and its OIDC
config null because Hanzo IAM owns identity at the edge and this console's
sign-in is GET /v1/deploy/login, and every argocd feature the projection does
not implement — status badges, Dex connectors, config-management plugins,
kustomize versions, the exec terminal, apps-in-any-namespace, the hydrator,
sync-with-replace — is reported off. Platform SuperAdmin only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeploySettingsRequest
*/
func (a *DeployAPIService) CloudGetV1DeploySettings(ctx context.Context) DeployAPICloudGetV1DeploySettingsRequest {
	return DeployAPICloudGetV1DeploySettingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudConsoleSettings
func (a *DeployAPIService) CloudGetV1DeploySettingsExecute(r DeployAPICloudGetV1DeploySettingsRequest) (*CloudConsoleSettings, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudConsoleSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeploySettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployStreamApplicationsRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployStreamApplicationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1DeployStreamApplicationsExecute(r)
}

/*
CloudGetV1DeployStreamApplications Method for CloudGetV1DeployStreamApplications

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployStreamApplicationsRequest
*/
func (a *DeployAPIService) CloudGetV1DeployStreamApplications(ctx context.Context) DeployAPICloudGetV1DeployStreamApplicationsRequest {
	return DeployAPICloudGetV1DeployStreamApplicationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudGetV1DeployStreamApplicationsExecute(r DeployAPICloudGetV1DeployStreamApplicationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployStreamApplications")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/stream/applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployStreamApplicationsByNameResourceTreeRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
	name       string
}

func (r DeployAPICloudGetV1DeployStreamApplicationsByNameResourceTreeRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1DeployStreamApplicationsByNameResourceTreeExecute(r)
}

/*
CloudGetV1DeployStreamApplicationsByNameResourceTree Method for CloudGetV1DeployStreamApplicationsByNameResourceTree

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return DeployAPICloudGetV1DeployStreamApplicationsByNameResourceTreeRequest
*/
func (a *DeployAPIService) CloudGetV1DeployStreamApplicationsByNameResourceTree(ctx context.Context, name string) DeployAPICloudGetV1DeployStreamApplicationsByNameResourceTreeRequest {
	return DeployAPICloudGetV1DeployStreamApplicationsByNameResourceTreeRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudGetV1DeployStreamApplicationsByNameResourceTreeExecute(r DeployAPICloudGetV1DeployStreamApplicationsByNameResourceTreeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployStreamApplicationsByNameResourceTree")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/stream/applications/{name}/resource-tree"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudGetV1DeployVersionRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudGetV1DeployVersionRequest) Execute() (*CloudVersionMessage, *http.Response, error) {
	return r.ApiService.CloudGetV1DeployVersionExecute(r)
}

/*
CloudGetV1DeployVersion GetDeployVersion returns the argocd VersionMessage the dashboard SPA reads at bootstrap.

GetDeployVersion returns the argocd VersionMessage the dashboard SPA reads at
bootstrap. There is no argocd binary behind this plane — it is a projection
over operator App CRs — so the fields say so rather than describing a build:
Version names the projection, BuildDate is the moment this response was
generated, and Compiler/Platform/GoVersion are the constants the SPA tolerates
rather than facts about this process. Platform SuperAdmin only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudGetV1DeployVersionRequest
*/
func (a *DeployAPIService) CloudGetV1DeployVersion(ctx context.Context) DeployAPICloudGetV1DeployVersionRequest {
	return DeployAPICloudGetV1DeployVersionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudVersionMessage
func (a *DeployAPIService) CloudGetV1DeployVersionExecute(r DeployAPICloudGetV1DeployVersionRequest) (*CloudVersionMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudVersionMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudGetV1DeployVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/version"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeployAPICloudPostV1DeployApplicationsByNameRollbackRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
	name       string
}

func (r DeployAPICloudPostV1DeployApplicationsByNameRollbackRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1DeployApplicationsByNameRollbackExecute(r)
}

/*
CloudPostV1DeployApplicationsByNameRollback Method for CloudPostV1DeployApplicationsByNameRollback

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return DeployAPICloudPostV1DeployApplicationsByNameRollbackRequest
*/
func (a *DeployAPIService) CloudPostV1DeployApplicationsByNameRollback(ctx context.Context, name string) DeployAPICloudPostV1DeployApplicationsByNameRollbackRequest {
	return DeployAPICloudPostV1DeployApplicationsByNameRollbackRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudPostV1DeployApplicationsByNameRollbackExecute(r DeployAPICloudPostV1DeployApplicationsByNameRollbackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudPostV1DeployApplicationsByNameRollback")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/applications/{name}/rollback"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudPostV1DeployApplicationsByNameSyncRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
	name       string
}

func (r DeployAPICloudPostV1DeployApplicationsByNameSyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1DeployApplicationsByNameSyncExecute(r)
}

/*
CloudPostV1DeployApplicationsByNameSync Method for CloudPostV1DeployApplicationsByNameSync

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return DeployAPICloudPostV1DeployApplicationsByNameSyncRequest
*/
func (a *DeployAPIService) CloudPostV1DeployApplicationsByNameSync(ctx context.Context, name string) DeployAPICloudPostV1DeployApplicationsByNameSyncRequest {
	return DeployAPICloudPostV1DeployApplicationsByNameSyncRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudPostV1DeployApplicationsByNameSyncExecute(r DeployAPICloudPostV1DeployApplicationsByNameSyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudPostV1DeployApplicationsByNameSync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/applications/{name}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudPostV1DeployLogoutRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudPostV1DeployLogoutRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1DeployLogoutExecute(r)
}

/*
CloudPostV1DeployLogout Method for CloudPostV1DeployLogout

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudPostV1DeployLogoutRequest
*/
func (a *DeployAPIService) CloudPostV1DeployLogout(ctx context.Context) DeployAPICloudPostV1DeployLogoutRequest {
	return DeployAPICloudPostV1DeployLogoutRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudPostV1DeployLogoutExecute(r DeployAPICloudPostV1DeployLogoutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudPostV1DeployLogout")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/logout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DeployAPICloudPostV1DeployReconcileRequest struct {
	ctx        context.Context
	ApiService *DeployAPIService
}

func (r DeployAPICloudPostV1DeployReconcileRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1DeployReconcileExecute(r)
}

/*
CloudPostV1DeployReconcile Method for CloudPostV1DeployReconcile

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DeployAPICloudPostV1DeployReconcileRequest
*/
func (a *DeployAPIService) CloudPostV1DeployReconcile(ctx context.Context) DeployAPICloudPostV1DeployReconcileRequest {
	return DeployAPICloudPostV1DeployReconcileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DeployAPIService) CloudPostV1DeployReconcileExecute(r DeployAPICloudPostV1DeployReconcileRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeployAPIService.CloudPostV1DeployReconcile")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/deploy/reconcile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
