/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)

// NexusTTSAPIAPIService NexusTTSAPIAPI service
type NexusTTSAPIAPIService service

type NexusTTSAPIAPINexusGenerateTextToSpeechAudioRequest struct {
	ctx        context.Context
	ApiService *NexusTTSAPIAPIService
	body       *map[string]interface{}
}

// The text to convert to speech
func (r NexusTTSAPIAPINexusGenerateTextToSpeechAudioRequest) Body(body map[string]interface{}) NexusTTSAPIAPINexusGenerateTextToSpeechAudioRequest {
	r.body = &body
	return r
}

func (r NexusTTSAPIAPINexusGenerateTextToSpeechAudioRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.NexusGenerateTextToSpeechAudioExecute(r)
}

/*
NexusGenerateTextToSpeechAudio generate Text To Speech Audio

Convert text to speech

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusTTSAPIAPINexusGenerateTextToSpeechAudioRequest
*/
func (a *NexusTTSAPIAPIService) NexusGenerateTextToSpeechAudio(ctx context.Context) NexusTTSAPIAPINexusGenerateTextToSpeechAudioRequest {
	return NexusTTSAPIAPINexusGenerateTextToSpeechAudioRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *NexusTTSAPIAPIService) NexusGenerateTextToSpeechAudioExecute(r NexusTTSAPIAPINexusGenerateTextToSpeechAudioRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusTTSAPIAPIService.NexusGenerateTextToSpeechAudio")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/generate-text-to-speech-audio"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest struct {
	ctx        context.Context
	ApiService *NexusTTSAPIAPIService
	storeId    *string
	messageId  *string
}

// The store ID
func (r NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest) StoreId(storeId string) NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest {
	r.storeId = &storeId
	return r
}

// The message ID
func (r NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest) MessageId(messageId string) NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest {
	r.messageId = &messageId
	return r
}

func (r NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.NexusGenerateTextToSpeechAudioStreamExecute(r)
}

/*
NexusGenerateTextToSpeechAudioStream generate Text To Speech Audio Stream

Convert text to speech with streaming

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest
*/
func (a *NexusTTSAPIAPIService) NexusGenerateTextToSpeechAudioStream(ctx context.Context) NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest {
	return NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *NexusTTSAPIAPIService) NexusGenerateTextToSpeechAudioStreamExecute(r NexusTTSAPIAPINexusGenerateTextToSpeechAudioStreamRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusTTSAPIAPIService.NexusGenerateTextToSpeechAudioStream")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/generate-text-to-speech-audio-stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}
	if r.messageId == nil {
		return localVarReturnValue, nil, reportError("messageId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeId", r.storeId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "messageId", r.messageId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
