/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)

// CompanyAPIService CompanyAPI service
type CompanyAPIService service

type CompanyAPIGetCompanyRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIGetCompanyRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.GetCompanyExecute(r)
}

/*
GetCompany Get returns the caller org's formation and the stages reachable from it, or 404 when the org has not begun one.

Get returns the caller org's formation and the stages reachable from it, or 404
when the org has not begun one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIGetCompanyRequest
*/
func (a *CompanyAPIService) GetCompany(ctx context.Context) CompanyAPIGetCompanyRequest {
	return CompanyAPIGetCompanyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) GetCompanyExecute(r CompanyAPIGetCompanyRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.GetCompany")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIGetCompanyRegisterRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	stage      *string
	structure  *string
	limit      *int32
	offset     *int32
}

// Stage keeps only formations at that stage. Empty means any.
func (r CompanyAPIGetCompanyRegisterRequest) Stage(stage string) CompanyAPIGetCompanyRegisterRequest {
	r.stage = &stage
	return r
}

// Structure keeps only formations of that entity kind. Empty means any.
func (r CompanyAPIGetCompanyRegisterRequest) Structure(structure string) CompanyAPIGetCompanyRegisterRequest {
	r.structure = &structure
	return r
}

// Limit bounds the page; 0 or less means the default of 200.
func (r CompanyAPIGetCompanyRegisterRequest) Limit(limit int32) CompanyAPIGetCompanyRegisterRequest {
	r.limit = &limit
	return r
}

// Offset skips that many rows.
func (r CompanyAPIGetCompanyRegisterRequest) Offset(offset int32) CompanyAPIGetCompanyRegisterRequest {
	r.offset = &offset
	return r
}

func (r CompanyAPIGetCompanyRegisterRequest) Execute() (*RegisterPage, *http.Response, error) {
	return r.ApiService.GetCompanyRegisterExecute(r)
}

/*
GetCompanyRegister Returns the platform's whole formation register, newest activity first — every org's formation, not the caller's.

Returns the platform's whole formation register, newest activity
first — every org's formation, not the caller's. It is a Hanzo platform
operation: a caller who is not a platform reviewer gets 403.

Filter by stage and structure, page with limit and offset. An unknown stage is
refused with 400 rather than returning a silently empty page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIGetCompanyRegisterRequest
*/
func (a *CompanyAPIService) GetCompanyRegister(ctx context.Context) CompanyAPIGetCompanyRegisterRequest {
	return CompanyAPIGetCompanyRegisterRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RegisterPage
func (a *CompanyAPIService) GetCompanyRegisterExecute(r CompanyAPIGetCompanyRegisterRequest) (*RegisterPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RegisterPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.GetCompanyRegister")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/register"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.stage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stage", r.stage, "form", "")
	}
	if r.structure != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "structure", r.structure, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIGetCompanyRegisterSummaryRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIGetCompanyRegisterSummaryRequest) Execute() (*RegisterCounts, *http.Response, error) {
	return r.ApiService.GetCompanyRegisterSummaryExecute(r)
}

/*
GetCompanyRegisterSummary Counts the platform's formations by stage — the register's shape in one read, so a queue that is growing is visible as a number rather than inferred by paging the list.

Counts the platform's formations by stage — the register's
shape in one read, so a queue that is growing is visible as a number rather
than inferred by paging the list. A Hanzo platform operation: a caller who is
not a platform reviewer gets 403.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIGetCompanyRegisterSummaryRequest
*/
func (a *CompanyAPIService) GetCompanyRegisterSummary(ctx context.Context) CompanyAPIGetCompanyRegisterSummaryRequest {
	return CompanyAPIGetCompanyRegisterSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RegisterCounts
func (a *CompanyAPIService) GetCompanyRegisterSummaryExecute(r CompanyAPIGetCompanyRegisterSummaryRequest) (*RegisterCounts, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RegisterCounts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.GetCompanyRegisterSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/register/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIGetCompanyReviewRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	limit      *int32
}

// Limit bounds how many formations are scanned; 0 or less means the default of 200.
func (r CompanyAPIGetCompanyReviewRequest) Limit(limit int32) CompanyAPIGetCompanyReviewRequest {
	r.limit = &limit
	return r
}

func (r CompanyAPIGetCompanyReviewRequest) Execute() (*ReviewQueue, *http.Response, error) {
	return r.ApiService.GetCompanyReviewExecute(r)
}

/*
GetCompanyReview Reports the founders whose KYC is not yet settled, oldest formation first, so the queue drains in the order founders have been waiting.

Reports the founders whose KYC is not yet settled, oldest formation
first, so the queue drains in the order founders have been waiting. A Hanzo
platform operation: a caller who is not a platform reviewer gets 403.

It only says who is waiting; the decision itself is POST
/v1/company/kyc/decision.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIGetCompanyReviewRequest
*/
func (a *CompanyAPIService) GetCompanyReview(ctx context.Context) CompanyAPIGetCompanyReviewRequest {
	return CompanyAPIGetCompanyReviewRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReviewQueue
func (a *CompanyAPIService) GetCompanyReviewExecute(r CompanyAPIGetCompanyReviewRequest) (*ReviewQueue, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReviewQueue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.GetCompanyReview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/review"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	beginIn    *BeginIn
}

func (r CompanyAPIPostCompanyRequest) BeginIn(beginIn BeginIn) CompanyAPIPostCompanyRequest {
	r.beginIn = &beginIn
	return r
}

func (r CompanyAPIPostCompanyRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanyExecute(r)
}

/*
PostCompany Begin starts the org's one formation and returns it with the stages reachable from it.

Begin starts the org's one formation and returns it with the stages reachable
from it. It is idempotent: an org that already has a formation gets that one
back with 200, while a first call creates it and answers 201.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyRequest
*/
func (a *CompanyAPIService) PostCompany(ctx context.Context) CompanyAPIPostCompanyRequest {
	return CompanyAPIPostCompanyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanyExecute(r CompanyAPIPostCompanyRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompany")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.beginIn == nil {
		return localVarReturnValue, nil, reportError("beginIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.beginIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyAdvanceRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	advanceIn  *AdvanceIn
}

func (r CompanyAPIPostCompanyAdvanceRequest) AdvanceIn(advanceIn AdvanceIn) CompanyAPIPostCompanyAdvanceRequest {
	r.advanceIn = &advanceIn
	return r
}

func (r CompanyAPIPostCompanyAdvanceRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanyAdvanceExecute(r)
}

/*
PostCompanyAdvance Advance runs the ONE guarded transition of the formation machine.

Advance runs the ONE guarded transition of the formation machine. It is the
only door between stages: the actions populate data, this decides ordering.

An edge the machine does not define answers 409; an edge whose guard is not yet
satisfied answers 422 naming what is missing. Reaching the terminal `company`
stage also records the incorporation on the canonical cap table, and that must
succeed before the transition is persisted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyAdvanceRequest
*/
func (a *CompanyAPIService) PostCompanyAdvance(ctx context.Context) CompanyAPIPostCompanyAdvanceRequest {
	return CompanyAPIPostCompanyAdvanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanyAdvanceExecute(r CompanyAPIPostCompanyAdvanceRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyAdvance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/advance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advanceIn == nil {
		return localVarReturnValue, nil, reportError("advanceIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.advanceIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyDocumentsRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIPostCompanyDocumentsRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanyDocumentsExecute(r)
}

/*
PostCompanyDocuments Renders the formation documents for the chosen structure and jurisdiction, ingests each into the org's data room, and submits the state filing through the filing seam.

Renders the formation documents for the chosen structure and
jurisdiction, ingests each into the org's data room, and submits the state
filing through the filing seam.

With no filing partner wired the filing is recorded honestly as "manual" — no
filing id is fabricated. Available only at the documents stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyDocumentsRequest
*/
func (a *CompanyAPIService) PostCompanyDocuments(ctx context.Context) CompanyAPIPostCompanyDocumentsRequest {
	return CompanyAPIPostCompanyDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanyDocumentsExecute(r CompanyAPIPostCompanyDocumentsRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyEsignRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIPostCompanyEsignRequest) Execute() (*EsignOut, *http.Response, error) {
	return r.ApiService.PostCompanyEsignExecute(r)
}

/*
PostCompanyEsign Sends the generated formation documents for signature by every founder and records the provider's reference on the formation.

Sends the generated formation documents for signature by every
founder and records the provider's reference on the formation. Available only
at the esign stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyEsignRequest
*/
func (a *CompanyAPIService) PostCompanyEsign(ctx context.Context) CompanyAPIPostCompanyEsignRequest {
	return CompanyAPIPostCompanyEsignRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EsignOut
func (a *CompanyAPIService) PostCompanyEsignExecute(r CompanyAPIPostCompanyEsignRequest) (*EsignOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EsignOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyEsign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/esign"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyEsignCompleteRequest struct {
	ctx             context.Context
	ApiService      *CompanyAPIService
	esignCompleteIn *EsignCompleteIn
}

func (r CompanyAPIPostCompanyEsignCompleteRequest) EsignCompleteIn(esignCompleteIn EsignCompleteIn) CompanyAPIPostCompanyEsignCompleteRequest {
	r.esignCompleteIn = &esignCompleteIn
	return r
}

func (r CompanyAPIPostCompanyEsignCompleteRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanyEsignCompleteExecute(r)
}

/*
PostCompanyEsignComplete Records whether the formation documents have been signed.

Records whether the formation documents have been signed. It
consults the e-signature provider, which a real provider's webhook drives; the
signal is idempotent.

An explicit `signed` in the request overrides the provider's answer, which is
the manual path for the stub provider that never self-completes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyEsignCompleteRequest
*/
func (a *CompanyAPIService) PostCompanyEsignComplete(ctx context.Context) CompanyAPIPostCompanyEsignCompleteRequest {
	return CompanyAPIPostCompanyEsignCompleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanyEsignCompleteExecute(r CompanyAPIPostCompanyEsignCompleteRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyEsignComplete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/esign/complete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.esignCompleteIn == nil {
		return localVarReturnValue, nil, reportError("esignCompleteIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.esignCompleteIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyFoundersRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	foundersIn *FoundersIn
}

func (r CompanyAPIPostCompanyFoundersRequest) FoundersIn(foundersIn FoundersIn) CompanyAPIPostCompanyFoundersRequest {
	r.foundersIn = &foundersIn
	return r
}

func (r CompanyAPIPostCompanyFoundersRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanyFoundersExecute(r)
}

/*
PostCompanyFounders Replaces the formation's founders.

Replaces the formation's founders. Each founder needs a name, an
email and an equity share in basis points; every founder is (re)set to pending
KYC, so a previously settled decision does not survive a change of the list.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyFoundersRequest
*/
func (a *CompanyAPIService) PostCompanyFounders(ctx context.Context) CompanyAPIPostCompanyFoundersRequest {
	return CompanyAPIPostCompanyFoundersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanyFoundersExecute(r CompanyAPIPostCompanyFoundersRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyFounders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/founders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.foundersIn == nil {
		return localVarReturnValue, nil, reportError("foundersIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.foundersIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyFundraiseDeckRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	body       *os.File
}

func (r CompanyAPIPostCompanyFundraiseDeckRequest) Body(body *os.File) CompanyAPIPostCompanyFundraiseDeckRequest {
	r.body = body
	return r
}

func (r CompanyAPIPostCompanyFundraiseDeckRequest) Execute() (*DeckOut, *http.Response, error) {
	return r.ApiService.PostCompanyFundraiseDeckExecute(r)
}

/*
PostCompanyFundraiseDeck Share a pitch deck in the org's data room

Stores the request body as a document in the caller org's data room and answers with the data room id to reference it by. The deck is RAW BYTES of whatever content type is sent — a PDF, a slide export — not a JSON document: the Content-Type header is carried through to the data room as given, and `?name=` names the document, defaulting to `pitch-deck`.

Scoped to the caller's validated org, and only after incorporation: a formation still short of stage `company` is refused 409 and an org that never began one is 404. The route is registered AHEAD of the surface's JSON body cap deliberately, so a deck's size ceiling is the edge's rather than the cap meant for small structured records. An empty body is 400; a data room that will not take the bytes is 502.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyFundraiseDeckRequest
*/
func (a *CompanyAPIService) PostCompanyFundraiseDeck(ctx context.Context) CompanyAPIPostCompanyFundraiseDeckRequest {
	return CompanyAPIPostCompanyFundraiseDeckRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DeckOut
func (a *CompanyAPIService) PostCompanyFundraiseDeckExecute(r CompanyAPIPostCompanyFundraiseDeckRequest) (*DeckOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DeckOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyFundraiseDeck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/fundraise/deck"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyFundraiseRoundRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	roundInput *RoundInput
}

func (r CompanyAPIPostCompanyFundraiseRoundRequest) RoundInput(roundInput RoundInput) CompanyAPIPostCompanyFundraiseRoundRequest {
	r.roundInput = &roundInput
	return r
}

func (r CompanyAPIPostCompanyFundraiseRoundRequest) Execute() (*RoundOut, *http.Response, error) {
	return r.ApiService.PostCompanyFundraiseRoundExecute(r)
}

/*
PostCompanyFundraiseRound Records a fundraising round on the org's canonical cap table.

Records a fundraising round on the org's canonical cap table.
Available only after incorporation (stage company); roundType defaults to
PRICED.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyFundraiseRoundRequest
*/
func (a *CompanyAPIService) PostCompanyFundraiseRound(ctx context.Context) CompanyAPIPostCompanyFundraiseRoundRequest {
	return CompanyAPIPostCompanyFundraiseRoundRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RoundOut
func (a *CompanyAPIService) PostCompanyFundraiseRoundExecute(r CompanyAPIPostCompanyFundraiseRoundRequest) (*RoundOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RoundOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyFundraiseRound")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/fundraise/round"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.roundInput == nil {
		return localVarReturnValue, nil, reportError("roundInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.roundInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyFundraiseSafeRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	safeIn     *SafeIn
}

func (r CompanyAPIPostCompanyFundraiseSafeRequest) SafeIn(safeIn SafeIn) CompanyAPIPostCompanyFundraiseSafeRequest {
	r.safeIn = &safeIn
	return r
}

func (r CompanyAPIPostCompanyFundraiseSafeRequest) Execute() (*SafeOut, *http.Response, error) {
	return r.ApiService.PostCompanyFundraiseSafeExecute(r)
}

/*
PostCompanyFundraiseSafe Raises an e-signature request over documents already in the org's data room — a SAFE, a convertible note, or any other fundraising paper.

Raises an e-signature request over documents already in the org's
data room — a SAFE, a convertible note, or any other fundraising paper.
Available only after incorporation (stage company).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyFundraiseSafeRequest
*/
func (a *CompanyAPIService) PostCompanyFundraiseSafe(ctx context.Context) CompanyAPIPostCompanyFundraiseSafeRequest {
	return CompanyAPIPostCompanyFundraiseSafeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SafeOut
func (a *CompanyAPIService) PostCompanyFundraiseSafeExecute(r CompanyAPIPostCompanyFundraiseSafeRequest) (*SafeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SafeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyFundraiseSafe")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/fundraise/safe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.safeIn == nil {
		return localVarReturnValue, nil, reportError("safeIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.safeIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyGenesisRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIPostCompanyGenesisRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanyGenesisExecute(r)
}

/*
PostCompanyGenesis Seeds the canonical cap table with the founding allocation (stakeholders, a common share class, issued shares) and anchors the deterministic equity-genesis root on-chain.

Seeds the canonical cap table with the founding allocation
(stakeholders, a common share class, issued shares) and anchors the
deterministic equity-genesis root on-chain.

It is idempotent: once a root is recorded the cap table is NOT re-seeded, which
would double-issue founder share certificates. The root is persisted even when
the on-chain submit fails, because the root is the tamper-evident witness and
must not be recomputed on retry. Available only at the genesis stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyGenesisRequest
*/
func (a *CompanyAPIService) PostCompanyGenesis(ctx context.Context) CompanyAPIPostCompanyGenesisRequest {
	return CompanyAPIPostCompanyGenesisRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanyGenesisExecute(r CompanyAPIPostCompanyGenesisRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyGenesis")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/genesis"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyImportCaptableRequest struct {
	ctx              context.Context
	ApiService       *CompanyAPIService
	importCapTableIn *ImportCapTableIn
}

func (r CompanyAPIPostCompanyImportCaptableRequest) ImportCapTableIn(importCapTableIn ImportCapTableIn) CompanyAPIPostCompanyImportCaptableRequest {
	r.importCapTableIn = &importCapTableIn
	return r
}

func (r CompanyAPIPostCompanyImportCaptableRequest) Execute() (*ImportCapTableOut, *http.Response, error) {
	return r.ApiService.PostCompanyImportCaptableExecute(r)
}

/*
PostCompanyImportCaptable Reads an existing company's cap table from a Google Sheet and adds its stakeholders to the canonical cap table.

Reads an existing company's cap table from a Google Sheet and
adds its stakeholders to the canonical cap table.

The first row is a header and columns are matched by name (case-insensitive):
name and email are required, type/relationship/institution optional. A sheet
without name and email columns, or with no usable data rows, is refused with
400. Available only at the import stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyImportCaptableRequest
*/
func (a *CompanyAPIService) PostCompanyImportCaptable(ctx context.Context) CompanyAPIPostCompanyImportCaptableRequest {
	return CompanyAPIPostCompanyImportCaptableRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ImportCapTableOut
func (a *CompanyAPIService) PostCompanyImportCaptableExecute(r CompanyAPIPostCompanyImportCaptableRequest) (*ImportCapTableOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ImportCapTableOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyImportCaptable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/import/captable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.importCapTableIn == nil {
		return localVarReturnValue, nil, reportError("importCapTableIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.importCapTableIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyImportDocumentsRequest struct {
	ctx               context.Context
	ApiService        *CompanyAPIService
	importDocumentsIn *ImportDocumentsIn
}

func (r CompanyAPIPostCompanyImportDocumentsRequest) ImportDocumentsIn(importDocumentsIn ImportDocumentsIn) CompanyAPIPostCompanyImportDocumentsRequest {
	r.importDocumentsIn = &importDocumentsIn
	return r
}

func (r CompanyAPIPostCompanyImportDocumentsRequest) Execute() (*ImportDocumentsOut, *http.Response, error) {
	return r.ApiService.PostCompanyImportDocumentsExecute(r)
}

/*
PostCompanyImportDocuments Ingests an existing company's corporate documents from a Google Drive folder into the org's data room.

Ingests an existing company's corporate documents from a Google
Drive folder into the org's data room. The import is shallow — sub-folders are
skipped, not walked — and available only at the import stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyImportDocumentsRequest
*/
func (a *CompanyAPIService) PostCompanyImportDocuments(ctx context.Context) CompanyAPIPostCompanyImportDocumentsRequest {
	return CompanyAPIPostCompanyImportDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ImportDocumentsOut
func (a *CompanyAPIService) PostCompanyImportDocumentsExecute(r CompanyAPIPostCompanyImportDocumentsRequest) (*ImportDocumentsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ImportDocumentsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyImportDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/import/documents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.importDocumentsIn == nil {
		return localVarReturnValue, nil, reportError("importDocumentsIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.importDocumentsIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyKycRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIPostCompanyKycRequest) Execute() (*KycStartOut, *http.Response, error) {
	return r.ApiService.PostCompanyKycExecute(r)
}

/*
PostCompanyKyc StartKYC opens an identity-verification session for every founder with the wired provider and records each session's reference on the formation.

StartKYC opens an identity-verification session for every founder with the
wired provider and records each session's reference on the formation.

A start is never a decision: any terminal status the provider reports at
inquiry time is clamped back to pending, so the payment gate can never open
here. A terminal status arrives only from POST /v1/company/kyc/refresh (the
provider) or POST /v1/company/kyc/decision (a Hanzo platform reviewer).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyKycRequest
*/
func (a *CompanyAPIService) PostCompanyKyc(ctx context.Context) CompanyAPIPostCompanyKycRequest {
	return CompanyAPIPostCompanyKycRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KycStartOut
func (a *CompanyAPIService) PostCompanyKycExecute(r CompanyAPIPostCompanyKycRequest) (*KycStartOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KycStartOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyKyc")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/kyc"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyKycDecisionRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
	decisionIn *DecisionIn
}

func (r CompanyAPIPostCompanyKycDecisionRequest) DecisionIn(decisionIn DecisionIn) CompanyAPIPostCompanyKycDecisionRequest {
	r.decisionIn = &decisionIn
	return r
}

func (r CompanyAPIPostCompanyKycDecisionRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanyKycDecisionExecute(r)
}

/*
PostCompanyKycDecision DecideKYC records a privileged reviewer's MANUAL decision on a founder's KYC — the human-in-the-loop path, and the ONLY route to a pass when no real provider is wired.

DecideKYC records a privileged reviewer's MANUAL decision on a founder's KYC —
the human-in-the-loop path, and the ONLY route to a pass when no real provider
is wired. It produces a DISTINCT reviewer_confirmed, never a provider
"verified".

Because Hanzo forms the entity and carries the formation KYC/AML obligation,
the reviewer is a HANZO platform reviewer (SuperAdmin), and the decision is
ATTRIBUTED to them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyKycDecisionRequest
*/
func (a *CompanyAPIService) PostCompanyKycDecision(ctx context.Context) CompanyAPIPostCompanyKycDecisionRequest {
	return CompanyAPIPostCompanyKycDecisionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanyKycDecisionExecute(r CompanyAPIPostCompanyKycDecisionRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyKycDecision")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/kyc/decision"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.decisionIn == nil {
		return localVarReturnValue, nil, reportError("decisionIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.decisionIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyKycRefreshRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIPostCompanyKycRefreshRequest) Execute() (*KycRefreshOut, *http.Response, error) {
	return r.ApiService.PostCompanyKycRefreshExecute(r)
}

/*
PostCompanyKycRefresh RefreshKYC reconciles each pending founder's KYC with the WIRED provider — the PULL path to a provider-reported terminal status.

RefreshKYC reconciles each pending founder's KYC with the WIRED provider — the
PULL path to a provider-reported terminal status. For the manual provider the
check stays pending; for a real provider it reflects the settled decision,
ATTRIBUTED to the provider.

It NEVER trusts a client-asserted status — the status comes from the provider
seam — so a client cannot force a pass here, and an already-passing founder
(e.g. a reviewer confirmation) is left untouched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyKycRefreshRequest
*/
func (a *CompanyAPIService) PostCompanyKycRefresh(ctx context.Context) CompanyAPIPostCompanyKycRefreshRequest {
	return CompanyAPIPostCompanyKycRefreshRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KycRefreshOut
func (a *CompanyAPIService) PostCompanyKycRefreshExecute(r CompanyAPIPostCompanyKycRefreshRequest) (*KycRefreshOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KycRefreshOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyKycRefresh")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/kyc/refresh"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanyPaymentRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIPostCompanyPaymentRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanyPaymentExecute(r)
}

/*
PostCompanyPayment Charge the one-time formation fee and mark the formation paid

Bills the caller's own org the one-time Hanzo Company formation fee — $999 unless the deployment sets another — and answers with the formation record carrying its paid flag and the charge reference. Takes no body: the org is the validated tenant and the amount is the platform's, never the caller's to assert.

IDEMPOTENT on the formation rather than on the request: an already-paid formation answers 200 with the same record and is not charged again, so a retry or a double-clicked button costs nothing. Available only at the `payment` stage (409 anywhere else) and only for an org that has begun a formation (404 otherwise).

A refused charge answers the fleet-wide billing contract, not a formation error — 402 when the org cannot pay, 503 when metering is unavailable — which is exactly why this route is not a typed op.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanyPaymentRequest
*/
func (a *CompanyAPIService) PostCompanyPayment(ctx context.Context) CompanyAPIPostCompanyPaymentRequest {
	return CompanyAPIPostCompanyPaymentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanyPaymentExecute(r CompanyAPIPostCompanyPaymentRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanyPayment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/payment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPostCompanySkipRequest struct {
	ctx        context.Context
	ApiService *CompanyAPIService
}

func (r CompanyAPIPostCompanySkipRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PostCompanySkipExecute(r)
}

/*
PostCompanySkip Skip marks the org as already incorporated and moves it onto the import path, so an existing company brings its documents and cap table in instead of forming a new entity.

Skip marks the org as already incorporated and moves it onto the import path,
so an existing company brings its documents and cap table in instead of forming
a new entity. Available only at the structure stage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPostCompanySkipRequest
*/
func (a *CompanyAPIService) PostCompanySkip(ctx context.Context) CompanyAPIPostCompanySkipRequest {
	return CompanyAPIPostCompanySkipRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PostCompanySkipExecute(r CompanyAPIPostCompanySkipRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PostCompanySkip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/skip"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CompanyAPIPutCompanyStructureRequest struct {
	ctx         context.Context
	ApiService  *CompanyAPIService
	structureIn *StructureIn
}

func (r CompanyAPIPutCompanyStructureRequest) StructureIn(structureIn StructureIn) CompanyAPIPutCompanyStructureRequest {
	r.structureIn = &structureIn
	return r
}

func (r CompanyAPIPutCompanyStructureRequest) Execute() (*FormationView, *http.Response, error) {
	return r.ApiService.PutCompanyStructureExecute(r)
}

/*
PutCompanyStructure Records the entity kind, the state of formation and the proposed name.

Records the entity kind, the state of formation and the proposed
name. Available only at the structure stage; an unknown structure or
jurisdiction, or an empty name, is refused with 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CompanyAPIPutCompanyStructureRequest
*/
func (a *CompanyAPIService) PutCompanyStructure(ctx context.Context) CompanyAPIPutCompanyStructureRequest {
	return CompanyAPIPutCompanyStructureRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FormationView
func (a *CompanyAPIService) PutCompanyStructureExecute(r CompanyAPIPutCompanyStructureRequest) (*FormationView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FormationView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CompanyAPIService.PutCompanyStructure")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/company/structure"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.structureIn == nil {
		return localVarReturnValue, nil, reportError("structureIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.structureIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
