/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// McpAPIService McpAPI service
type McpAPIService service

type McpAPIDeleteMcpServersByIdRequest struct {
	ctx        context.Context
	ApiService *McpAPIService
	id         string
}

func (r McpAPIDeleteMcpServersByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMcpServersByIdExecute(r)
}

/*
DeleteMcpServersById Deregisters one of the caller org's external MCP servers, so its tools leave the registry.

Deregisters one of the caller org's external MCP servers, so its
tools leave the registry. Scoped to the caller's org, so an id belonging to
another tenant is a 404 and not a delete. Answers 204 with no body; a server
this org does not have is 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the server to deregister, from the path.
	@return McpAPIDeleteMcpServersByIdRequest
*/
func (a *McpAPIService) DeleteMcpServersById(ctx context.Context, id string) McpAPIDeleteMcpServersByIdRequest {
	return McpAPIDeleteMcpServersByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *McpAPIService) DeleteMcpServersByIdExecute(r McpAPIDeleteMcpServersByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "McpAPIService.DeleteMcpServersById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mcp/servers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type McpAPIGetMcpServersRequest struct {
	ctx        context.Context
	ApiService *McpAPIService
}

func (r McpAPIGetMcpServersRequest) Execute() (*McpServerList, *http.Response, error) {
	return r.ApiService.GetMcpServersExecute(r)
}

/*
GetMcpServers Lists the external MCP servers the caller's org has registered.

Lists the external MCP servers the caller's org has registered.
Each record carries the URL and the name of the header its credential is
injected into; the credential VALUE lives only in KMS and is never returned,
so hasSecret is the whole of what this surface says about it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return McpAPIGetMcpServersRequest
*/
func (a *McpAPIService) GetMcpServers(ctx context.Context) McpAPIGetMcpServersRequest {
	return McpAPIGetMcpServersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return McpServerList
func (a *McpAPIService) GetMcpServersExecute(r McpAPIGetMcpServersRequest) (*McpServerList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *McpServerList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "McpAPIService.GetMcpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mcp/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type McpAPIPostMcpServersRequest struct {
	ctx             context.Context
	ApiService      *McpAPIService
	createServerReq *CreateServerReq
}

func (r McpAPIPostMcpServersRequest) CreateServerReq(createServerReq CreateServerReq) McpAPIPostMcpServersRequest {
	r.createServerReq = &createServerReq
	return r
}

func (r McpAPIPostMcpServersRequest) Execute() (*MCPServer, *http.Response, error) {
	return r.ApiService.PostMcpServersExecute(r)
}

/*
PostMcpServers Gives the caller's org one more external MCP server, so its tools join the org's tool plane and the fleet's MCP door.

Gives the caller's org one more external MCP server, so its tools
join the org's tool plane and the fleet's MCP door. It is the ONE way an org
gains a server, whether it typed the URL in or enabled a catalog listing: both
write the SAME record, and `source` says which it was. A second registration
path would be a second place for a server to exist, and then a second place to
forget to check the credential.

The credential VALUE is sealed in KMS under a per-org ref; the row keeps only
the URL, the header name to inject it into, and a has-secret flag — so a secret
with no KMS configured is refused 503 rather than stored in the clear. The URL
is SSRF-validated here and re-checked by the dialer at connect time, which is
the DNS-rebinding defense.

Enabling a listing the org already enabled REVISES that server rather than
adding a near-duplicate beside it, so a retried enable is the same one server.
Answers 201 with the stored record.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return McpAPIPostMcpServersRequest
*/
func (a *McpAPIService) PostMcpServers(ctx context.Context) McpAPIPostMcpServersRequest {
	return McpAPIPostMcpServersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MCPServer
func (a *McpAPIService) PostMcpServersExecute(r McpAPIPostMcpServersRequest) (*MCPServer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MCPServer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "McpAPIService.PostMcpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mcp/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createServerReq == nil {
		return localVarReturnValue, nil, reportError("createServerReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createServerReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
