/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// GuardSanitizeAPIService GuardSanitizeAPI service
type GuardSanitizeAPIService service

type GuardSanitizeAPIGuardSanitizeInputRequest struct {
	ctx                  context.Context
	ApiService           *GuardSanitizeAPIService
	guardSanitizeRequest *GuardSanitizeRequest
}

func (r GuardSanitizeAPIGuardSanitizeInputRequest) GuardSanitizeRequest(guardSanitizeRequest GuardSanitizeRequest) GuardSanitizeAPIGuardSanitizeInputRequest {
	r.guardSanitizeRequest = &guardSanitizeRequest
	return r
}

func (r GuardSanitizeAPIGuardSanitizeInputRequest) Execute() (*GuardSanitizeResult, *http.Response, error) {
	return r.ApiService.GuardSanitizeInputExecute(r)
}

/*
GuardSanitizeInput Sanitize user input

Sanitize user input before sending to an LLM. Runs all 5 stages:
rate limiting → injection detection → PII redaction → content filtering → audit logging.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuardSanitizeAPIGuardSanitizeInputRequest
*/
func (a *GuardSanitizeAPIService) GuardSanitizeInput(ctx context.Context) GuardSanitizeAPIGuardSanitizeInputRequest {
	return GuardSanitizeAPIGuardSanitizeInputRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GuardSanitizeResult
func (a *GuardSanitizeAPIService) GuardSanitizeInputExecute(r GuardSanitizeAPIGuardSanitizeInputRequest) (*GuardSanitizeResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GuardSanitizeResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuardSanitizeAPIService.GuardSanitizeInput")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guard/sanitize/input"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.guardSanitizeRequest == nil {
		return localVarReturnValue, nil, reportError("guardSanitizeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.guardSanitizeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v GuardError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuardSanitizeAPIGuardSanitizeOutputRequest struct {
	ctx                  context.Context
	ApiService           *GuardSanitizeAPIService
	guardSanitizeRequest *GuardSanitizeRequest
}

func (r GuardSanitizeAPIGuardSanitizeOutputRequest) GuardSanitizeRequest(guardSanitizeRequest GuardSanitizeRequest) GuardSanitizeAPIGuardSanitizeOutputRequest {
	r.guardSanitizeRequest = &guardSanitizeRequest
	return r
}

func (r GuardSanitizeAPIGuardSanitizeOutputRequest) Execute() (*GuardSanitizeResult, *http.Response, error) {
	return r.ApiService.GuardSanitizeOutputExecute(r)
}

/*
GuardSanitizeOutput Sanitize LLM output

Sanitize LLM output before returning to the user.
Runs PII redaction and content filtering stages.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuardSanitizeAPIGuardSanitizeOutputRequest
*/
func (a *GuardSanitizeAPIService) GuardSanitizeOutput(ctx context.Context) GuardSanitizeAPIGuardSanitizeOutputRequest {
	return GuardSanitizeAPIGuardSanitizeOutputRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GuardSanitizeResult
func (a *GuardSanitizeAPIService) GuardSanitizeOutputExecute(r GuardSanitizeAPIGuardSanitizeOutputRequest) (*GuardSanitizeResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GuardSanitizeResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuardSanitizeAPIService.GuardSanitizeOutput")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guard/sanitize/output"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.guardSanitizeRequest == nil {
		return localVarReturnValue, nil, reportError("guardSanitizeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.guardSanitizeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
