/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SearchDocumentsAPIService SearchDocumentsAPI service
type SearchDocumentsAPIService service

type SearchDocumentsAPISearchAddOrReplaceDocumentsRequest struct {
	ctx         context.Context
	ApiService  *SearchDocumentsAPIService
	indexUid    string
	requestBody *[]map[string]interface{}
	primaryKey  *string
}

func (r SearchDocumentsAPISearchAddOrReplaceDocumentsRequest) RequestBody(requestBody []map[string]interface{}) SearchDocumentsAPISearchAddOrReplaceDocumentsRequest {
	r.requestBody = &requestBody
	return r
}

// Primary key field name
func (r SearchDocumentsAPISearchAddOrReplaceDocumentsRequest) PrimaryKey(primaryKey string) SearchDocumentsAPISearchAddOrReplaceDocumentsRequest {
	r.primaryKey = &primaryKey
	return r
}

func (r SearchDocumentsAPISearchAddOrReplaceDocumentsRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchAddOrReplaceDocumentsExecute(r)
}

/*
SearchAddOrReplaceDocuments Add or replace documents

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchDocumentsAPISearchAddOrReplaceDocumentsRequest
*/
func (a *SearchDocumentsAPIService) SearchAddOrReplaceDocuments(ctx context.Context, indexUid string) SearchDocumentsAPISearchAddOrReplaceDocumentsRequest {
	return SearchDocumentsAPISearchAddOrReplaceDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchDocumentsAPIService) SearchAddOrReplaceDocumentsExecute(r SearchDocumentsAPISearchAddOrReplaceDocumentsRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchAddOrReplaceDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	if r.primaryKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "primaryKey", r.primaryKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-ndjson"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocumentsAPISearchAddOrUpdateDocumentsRequest struct {
	ctx         context.Context
	ApiService  *SearchDocumentsAPIService
	indexUid    string
	requestBody *[]map[string]interface{}
	primaryKey  *string
}

func (r SearchDocumentsAPISearchAddOrUpdateDocumentsRequest) RequestBody(requestBody []map[string]interface{}) SearchDocumentsAPISearchAddOrUpdateDocumentsRequest {
	r.requestBody = &requestBody
	return r
}

func (r SearchDocumentsAPISearchAddOrUpdateDocumentsRequest) PrimaryKey(primaryKey string) SearchDocumentsAPISearchAddOrUpdateDocumentsRequest {
	r.primaryKey = &primaryKey
	return r
}

func (r SearchDocumentsAPISearchAddOrUpdateDocumentsRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchAddOrUpdateDocumentsExecute(r)
}

/*
SearchAddOrUpdateDocuments Add or update documents (partial)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchDocumentsAPISearchAddOrUpdateDocumentsRequest
*/
func (a *SearchDocumentsAPIService) SearchAddOrUpdateDocuments(ctx context.Context, indexUid string) SearchDocumentsAPISearchAddOrUpdateDocumentsRequest {
	return SearchDocumentsAPISearchAddOrUpdateDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchDocumentsAPIService) SearchAddOrUpdateDocumentsExecute(r SearchDocumentsAPISearchAddOrUpdateDocumentsRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchAddOrUpdateDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	if r.primaryKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "primaryKey", r.primaryKey, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-ndjson"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocumentsAPISearchDeleteAllDocumentsRequest struct {
	ctx        context.Context
	ApiService *SearchDocumentsAPIService
	indexUid   string
}

func (r SearchDocumentsAPISearchDeleteAllDocumentsRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchDeleteAllDocumentsExecute(r)
}

/*
SearchDeleteAllDocuments Delete all documents in the index

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchDocumentsAPISearchDeleteAllDocumentsRequest
*/
func (a *SearchDocumentsAPIService) SearchDeleteAllDocuments(ctx context.Context, indexUid string) SearchDocumentsAPISearchDeleteAllDocumentsRequest {
	return SearchDocumentsAPISearchDeleteAllDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchDocumentsAPIService) SearchDeleteAllDocumentsExecute(r SearchDocumentsAPISearchDeleteAllDocumentsRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchDeleteAllDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocumentsAPISearchDeleteDocumentRequest struct {
	ctx        context.Context
	ApiService *SearchDocumentsAPIService
	indexUid   string
	documentId string
}

func (r SearchDocumentsAPISearchDeleteDocumentRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchDeleteDocumentExecute(r)
}

/*
SearchDeleteDocument Delete a single document

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@param documentId
	@return SearchDocumentsAPISearchDeleteDocumentRequest
*/
func (a *SearchDocumentsAPIService) SearchDeleteDocument(ctx context.Context, indexUid string, documentId string) SearchDocumentsAPISearchDeleteDocumentRequest {
	return SearchDocumentsAPISearchDeleteDocumentRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
		documentId: documentId,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchDocumentsAPIService) SearchDeleteDocumentExecute(r SearchDocumentsAPISearchDeleteDocumentRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchDeleteDocument")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents/{documentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"documentId"+"}", url.PathEscape(parameterValueToString(r.documentId, "documentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocumentsAPISearchDeleteDocumentsBatchRequest struct {
	ctx         context.Context
	ApiService  *SearchDocumentsAPIService
	indexUid    string
	requestBody *[]string
}

func (r SearchDocumentsAPISearchDeleteDocumentsBatchRequest) RequestBody(requestBody []string) SearchDocumentsAPISearchDeleteDocumentsBatchRequest {
	r.requestBody = &requestBody
	return r
}

func (r SearchDocumentsAPISearchDeleteDocumentsBatchRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchDeleteDocumentsBatchExecute(r)
}

/*
SearchDeleteDocumentsBatch Delete documents by IDs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchDocumentsAPISearchDeleteDocumentsBatchRequest
*/
func (a *SearchDocumentsAPIService) SearchDeleteDocumentsBatch(ctx context.Context, indexUid string) SearchDocumentsAPISearchDeleteDocumentsBatchRequest {
	return SearchDocumentsAPISearchDeleteDocumentsBatchRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchDocumentsAPIService) SearchDeleteDocumentsBatchExecute(r SearchDocumentsAPISearchDeleteDocumentsBatchRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchDeleteDocumentsBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents/delete-batch"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocumentsAPISearchDeleteDocumentsByFilterRequest struct {
	ctx                                  context.Context
	ApiService                           *SearchDocumentsAPIService
	indexUid                             string
	searchDeleteDocumentsByFilterRequest *SearchDeleteDocumentsByFilterRequest
}

func (r SearchDocumentsAPISearchDeleteDocumentsByFilterRequest) SearchDeleteDocumentsByFilterRequest(searchDeleteDocumentsByFilterRequest SearchDeleteDocumentsByFilterRequest) SearchDocumentsAPISearchDeleteDocumentsByFilterRequest {
	r.searchDeleteDocumentsByFilterRequest = &searchDeleteDocumentsByFilterRequest
	return r
}

func (r SearchDocumentsAPISearchDeleteDocumentsByFilterRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchDeleteDocumentsByFilterExecute(r)
}

/*
SearchDeleteDocumentsByFilter Delete documents by filter

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchDocumentsAPISearchDeleteDocumentsByFilterRequest
*/
func (a *SearchDocumentsAPIService) SearchDeleteDocumentsByFilter(ctx context.Context, indexUid string) SearchDocumentsAPISearchDeleteDocumentsByFilterRequest {
	return SearchDocumentsAPISearchDeleteDocumentsByFilterRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchDocumentsAPIService) SearchDeleteDocumentsByFilterExecute(r SearchDocumentsAPISearchDeleteDocumentsByFilterRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchDeleteDocumentsByFilter")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchDeleteDocumentsByFilterRequest == nil {
		return localVarReturnValue, nil, reportError("searchDeleteDocumentsByFilterRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchDeleteDocumentsByFilterRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocumentsAPISearchEditDocumentsByFunctionRequest struct {
	ctx                                  context.Context
	ApiService                           *SearchDocumentsAPIService
	indexUid                             string
	searchEditDocumentsByFunctionRequest *SearchEditDocumentsByFunctionRequest
}

func (r SearchDocumentsAPISearchEditDocumentsByFunctionRequest) SearchEditDocumentsByFunctionRequest(searchEditDocumentsByFunctionRequest SearchEditDocumentsByFunctionRequest) SearchDocumentsAPISearchEditDocumentsByFunctionRequest {
	r.searchEditDocumentsByFunctionRequest = &searchEditDocumentsByFunctionRequest
	return r
}

func (r SearchDocumentsAPISearchEditDocumentsByFunctionRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchEditDocumentsByFunctionExecute(r)
}

/*
SearchEditDocumentsByFunction Edit documents using a function

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchDocumentsAPISearchEditDocumentsByFunctionRequest
*/
func (a *SearchDocumentsAPIService) SearchEditDocumentsByFunction(ctx context.Context, indexUid string) SearchDocumentsAPISearchEditDocumentsByFunctionRequest {
	return SearchDocumentsAPISearchEditDocumentsByFunctionRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchDocumentsAPIService) SearchEditDocumentsByFunctionExecute(r SearchDocumentsAPISearchEditDocumentsByFunctionRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchEditDocumentsByFunction")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents/edit"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchEditDocumentsByFunctionRequest == nil {
		return localVarReturnValue, nil, reportError("searchEditDocumentsByFunctionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchEditDocumentsByFunctionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocumentsAPISearchGetDocumentRequest struct {
	ctx        context.Context
	ApiService *SearchDocumentsAPIService
	indexUid   string
	documentId string
	fields     *string
}

func (r SearchDocumentsAPISearchGetDocumentRequest) Fields(fields string) SearchDocumentsAPISearchGetDocumentRequest {
	r.fields = &fields
	return r
}

func (r SearchDocumentsAPISearchGetDocumentRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.SearchGetDocumentExecute(r)
}

/*
SearchGetDocument Get a single document

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@param documentId
	@return SearchDocumentsAPISearchGetDocumentRequest
*/
func (a *SearchDocumentsAPIService) SearchGetDocument(ctx context.Context, indexUid string, documentId string) SearchDocumentsAPISearchGetDocumentRequest {
	return SearchDocumentsAPISearchGetDocumentRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
		documentId: documentId,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *SearchDocumentsAPIService) SearchGetDocumentExecute(r SearchDocumentsAPISearchGetDocumentRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchGetDocument")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents/{documentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"documentId"+"}", url.PathEscape(parameterValueToString(r.documentId, "documentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v SearchResponseError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocumentsAPISearchGetDocumentsRequest struct {
	ctx        context.Context
	ApiService *SearchDocumentsAPIService
	indexUid   string
	offset     *int32
	limit      *int32
	fields     *string
	filter     *string
}

func (r SearchDocumentsAPISearchGetDocumentsRequest) Offset(offset int32) SearchDocumentsAPISearchGetDocumentsRequest {
	r.offset = &offset
	return r
}

func (r SearchDocumentsAPISearchGetDocumentsRequest) Limit(limit int32) SearchDocumentsAPISearchGetDocumentsRequest {
	r.limit = &limit
	return r
}

// Comma-separated fields to return
func (r SearchDocumentsAPISearchGetDocumentsRequest) Fields(fields string) SearchDocumentsAPISearchGetDocumentsRequest {
	r.fields = &fields
	return r
}

func (r SearchDocumentsAPISearchGetDocumentsRequest) Filter(filter string) SearchDocumentsAPISearchGetDocumentsRequest {
	r.filter = &filter
	return r
}

func (r SearchDocumentsAPISearchGetDocumentsRequest) Execute() (*SearchPaginatedDocuments, *http.Response, error) {
	return r.ApiService.SearchGetDocumentsExecute(r)
}

/*
SearchGetDocuments Browse documents

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SearchDocumentsAPISearchGetDocumentsRequest
*/
func (a *SearchDocumentsAPIService) SearchGetDocuments(ctx context.Context, indexUid string) SearchDocumentsAPISearchGetDocumentsRequest {
	return SearchDocumentsAPISearchGetDocumentsRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchPaginatedDocuments
func (a *SearchDocumentsAPIService) SearchGetDocumentsExecute(r SearchDocumentsAPISearchGetDocumentsRequest) (*SearchPaginatedDocuments, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchPaginatedDocuments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocumentsAPIService.SearchGetDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/documents"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
