/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// NexusMessageAPIAPIService NexusMessageAPIAPI service
type NexusMessageAPIAPIService service

type NexusMessageAPIAPINexusAddMessageRequest struct {
	ctx          context.Context
	ApiService   *NexusMessageAPIAPIService
	nexusMessage *NexusMessage
}

// The details of the message
func (r NexusMessageAPIAPINexusAddMessageRequest) NexusMessage(nexusMessage NexusMessage) NexusMessageAPIAPINexusAddMessageRequest {
	r.nexusMessage = &nexusMessage
	return r
}

func (r NexusMessageAPIAPINexusAddMessageRequest) Execute() (*NexusChat, *http.Response, error) {
	return r.ApiService.NexusAddMessageExecute(r)
}

/*
NexusAddMessage add Message

Add a message to a chat

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusMessageAPIAPINexusAddMessageRequest
*/
func (a *NexusMessageAPIAPIService) NexusAddMessage(ctx context.Context) NexusMessageAPIAPINexusAddMessageRequest {
	return NexusMessageAPIAPINexusAddMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusChat
func (a *NexusMessageAPIAPIService) NexusAddMessageExecute(r NexusMessageAPIAPINexusAddMessageRequest) (*NexusChat, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusChat
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusMessageAPIAPIService.NexusAddMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/add-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nexusMessage == nil {
		return localVarReturnValue, nil, reportError("nexusMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusMessageAPIAPINexusDeleteMessageRequest struct {
	ctx          context.Context
	ApiService   *NexusMessageAPIAPIService
	nexusMessage *NexusMessage
}

// The details of the message
func (r NexusMessageAPIAPINexusDeleteMessageRequest) NexusMessage(nexusMessage NexusMessage) NexusMessageAPIAPINexusDeleteMessageRequest {
	r.nexusMessage = &nexusMessage
	return r
}

func (r NexusMessageAPIAPINexusDeleteMessageRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusDeleteMessageExecute(r)
}

/*
NexusDeleteMessage delete Message

Delete a message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusMessageAPIAPINexusDeleteMessageRequest
*/
func (a *NexusMessageAPIAPIService) NexusDeleteMessage(ctx context.Context) NexusMessageAPIAPINexusDeleteMessageRequest {
	return NexusMessageAPIAPINexusDeleteMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusResponse
func (a *NexusMessageAPIAPIService) NexusDeleteMessageExecute(r NexusMessageAPIAPINexusDeleteMessageRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusMessageAPIAPIService.NexusDeleteMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/delete-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nexusMessage == nil {
		return localVarReturnValue, nil, reportError("nexusMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusMessageAPIAPINexusGetAnswerRequest struct {
	ctx        context.Context
	ApiService *NexusMessageAPIAPIService
	provider   *string
	question   *string
	framework  *string
	video      *string
}

// The provider
func (r NexusMessageAPIAPINexusGetAnswerRequest) Provider(provider string) NexusMessageAPIAPINexusGetAnswerRequest {
	r.provider = &provider
	return r
}

// The question
func (r NexusMessageAPIAPINexusGetAnswerRequest) Question(question string) NexusMessageAPIAPINexusGetAnswerRequest {
	r.question = &question
	return r
}

// The framework
func (r NexusMessageAPIAPINexusGetAnswerRequest) Framework(framework string) NexusMessageAPIAPINexusGetAnswerRequest {
	r.framework = &framework
	return r
}

// The video
func (r NexusMessageAPIAPINexusGetAnswerRequest) Video(video string) NexusMessageAPIAPINexusGetAnswerRequest {
	r.video = &video
	return r
}

func (r NexusMessageAPIAPINexusGetAnswerRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.NexusGetAnswerExecute(r)
}

/*
NexusGetAnswer get Answer

Get an AI-generated answer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusMessageAPIAPINexusGetAnswerRequest
*/
func (a *NexusMessageAPIAPIService) NexusGetAnswer(ctx context.Context) NexusMessageAPIAPINexusGetAnswerRequest {
	return NexusMessageAPIAPINexusGetAnswerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *NexusMessageAPIAPIService) NexusGetAnswerExecute(r NexusMessageAPIAPINexusGetAnswerRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusMessageAPIAPIService.NexusGetAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.provider == nil {
		return localVarReturnValue, nil, reportError("provider is required and must be specified")
	}
	if r.question == nil {
		return localVarReturnValue, nil, reportError("question is required and must be specified")
	}
	if r.framework == nil {
		return localVarReturnValue, nil, reportError("framework is required and must be specified")
	}
	if r.video == nil {
		return localVarReturnValue, nil, reportError("video is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "question", r.question, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "framework", r.framework, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "video", r.video, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusMessageAPIAPINexusGetGlobalMessagesRequest struct {
	ctx        context.Context
	ApiService *NexusMessageAPIAPIService
}

func (r NexusMessageAPIAPINexusGetGlobalMessagesRequest) Execute() ([]NexusMessage, *http.Response, error) {
	return r.ApiService.NexusGetGlobalMessagesExecute(r)
}

/*
NexusGetGlobalMessages get Global Messages

Get global messages

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusMessageAPIAPINexusGetGlobalMessagesRequest
*/
func (a *NexusMessageAPIAPIService) NexusGetGlobalMessages(ctx context.Context) NexusMessageAPIAPINexusGetGlobalMessagesRequest {
	return NexusMessageAPIAPINexusGetGlobalMessagesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []NexusMessage
func (a *NexusMessageAPIAPIService) NexusGetGlobalMessagesExecute(r NexusMessageAPIAPINexusGetGlobalMessagesRequest) ([]NexusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []NexusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusMessageAPIAPIService.NexusGetGlobalMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-global-messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusMessageAPIAPINexusGetMessageRequest struct {
	ctx        context.Context
	ApiService *NexusMessageAPIAPIService
	id         *string
}

// The id of the message
func (r NexusMessageAPIAPINexusGetMessageRequest) Id(id string) NexusMessageAPIAPINexusGetMessageRequest {
	r.id = &id
	return r
}

func (r NexusMessageAPIAPINexusGetMessageRequest) Execute() (*NexusMessage, *http.Response, error) {
	return r.ApiService.NexusGetMessageExecute(r)
}

/*
NexusGetMessage get Message

Get a message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusMessageAPIAPINexusGetMessageRequest
*/
func (a *NexusMessageAPIAPIService) NexusGetMessage(ctx context.Context) NexusMessageAPIAPINexusGetMessageRequest {
	return NexusMessageAPIAPINexusGetMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusMessage
func (a *NexusMessageAPIAPIService) NexusGetMessageExecute(r NexusMessageAPIAPINexusGetMessageRequest) (*NexusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusMessageAPIAPIService.NexusGetMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusMessageAPIAPINexusGetMessageAnswerRequest struct {
	ctx        context.Context
	ApiService *NexusMessageAPIAPIService
	id         *string
}

// The id of the message
func (r NexusMessageAPIAPINexusGetMessageAnswerRequest) Id(id string) NexusMessageAPIAPINexusGetMessageAnswerRequest {
	r.id = &id
	return r
}

func (r NexusMessageAPIAPINexusGetMessageAnswerRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.NexusGetMessageAnswerExecute(r)
}

/*
NexusGetMessageAnswer get Message Answer

Get a streamed AI answer for a message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusMessageAPIAPINexusGetMessageAnswerRequest
*/
func (a *NexusMessageAPIAPIService) NexusGetMessageAnswer(ctx context.Context) NexusMessageAPIAPINexusGetMessageAnswerRequest {
	return NexusMessageAPIAPINexusGetMessageAnswerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *NexusMessageAPIAPIService) NexusGetMessageAnswerExecute(r NexusMessageAPIAPINexusGetMessageAnswerRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusMessageAPIAPIService.NexusGetMessageAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-message-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusMessageAPIAPINexusGetMessagesRequest struct {
	ctx        context.Context
	ApiService *NexusMessageAPIAPIService
	user       *string
	chat       *string
}

// The user of the messages
func (r NexusMessageAPIAPINexusGetMessagesRequest) User(user string) NexusMessageAPIAPINexusGetMessagesRequest {
	r.user = &user
	return r
}

// The chat of the messages
func (r NexusMessageAPIAPINexusGetMessagesRequest) Chat(chat string) NexusMessageAPIAPINexusGetMessagesRequest {
	r.chat = &chat
	return r
}

func (r NexusMessageAPIAPINexusGetMessagesRequest) Execute() ([]NexusMessage, *http.Response, error) {
	return r.ApiService.NexusGetMessagesExecute(r)
}

/*
NexusGetMessages get Messages

Get messages for a chat

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusMessageAPIAPINexusGetMessagesRequest
*/
func (a *NexusMessageAPIAPIService) NexusGetMessages(ctx context.Context) NexusMessageAPIAPINexusGetMessagesRequest {
	return NexusMessageAPIAPINexusGetMessagesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []NexusMessage
func (a *NexusMessageAPIAPIService) NexusGetMessagesExecute(r NexusMessageAPIAPINexusGetMessagesRequest) ([]NexusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []NexusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusMessageAPIAPIService.NexusGetMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-Messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}
	if r.chat == nil {
		return localVarReturnValue, nil, reportError("chat is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "chat", r.chat, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusMessageAPIAPINexusUpdateMessageRequest struct {
	ctx          context.Context
	ApiService   *NexusMessageAPIAPIService
	id           *string
	nexusMessage *NexusMessage
}

// The id (owner/name) of the message
func (r NexusMessageAPIAPINexusUpdateMessageRequest) Id(id string) NexusMessageAPIAPINexusUpdateMessageRequest {
	r.id = &id
	return r
}

// The details of the message
func (r NexusMessageAPIAPINexusUpdateMessageRequest) NexusMessage(nexusMessage NexusMessage) NexusMessageAPIAPINexusUpdateMessageRequest {
	r.nexusMessage = &nexusMessage
	return r
}

func (r NexusMessageAPIAPINexusUpdateMessageRequest) Execute() (*NexusResponse, *http.Response, error) {
	return r.ApiService.NexusUpdateMessageExecute(r)
}

/*
NexusUpdateMessage update Message

Update a message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusMessageAPIAPINexusUpdateMessageRequest
*/
func (a *NexusMessageAPIAPIService) NexusUpdateMessage(ctx context.Context) NexusMessageAPIAPINexusUpdateMessageRequest {
	return NexusMessageAPIAPINexusUpdateMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusResponse
func (a *NexusMessageAPIAPIService) NexusUpdateMessageExecute(r NexusMessageAPIAPINexusUpdateMessageRequest) (*NexusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusMessageAPIAPIService.NexusUpdateMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/update-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.nexusMessage == nil {
		return localVarReturnValue, nil, reportError("nexusMessage is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
