/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// OrgsAPIService OrgsAPI service
type OrgsAPIService service

type OrgsAPICloudGetV1OrgsOrgEntitlementsRequest struct {
	ctx        context.Context
	ApiService *OrgsAPIService
	org        string
}

func (r OrgsAPICloudGetV1OrgsOrgEntitlementsRequest) Execute() (*CloudEntitlementsView, *http.Response, error) {
	return r.ApiService.CloudGetV1OrgsOrgEntitlementsExecute(r)
}

/*
CloudGetV1OrgsOrgEntitlements Get lists the products an org has ENABLED — its own intent, which the console's paid-product sidebar reads to decide what to show.

Get lists the products an org has ENABLED — its own intent, which the console's
paid-product sidebar reads to decide what to show. It is distinct from what the
org's plan ENTITLES it to (that is GET /v1/entitlements, resolved from commerce).

A caller may only read its OWN org's row; a platform super admin may read any.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@return OrgsAPICloudGetV1OrgsOrgEntitlementsRequest
*/
func (a *OrgsAPIService) CloudGetV1OrgsOrgEntitlements(ctx context.Context, org string) OrgsAPICloudGetV1OrgsOrgEntitlementsRequest {
	return OrgsAPICloudGetV1OrgsOrgEntitlementsRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return CloudEntitlementsView
func (a *OrgsAPIService) CloudGetV1OrgsOrgEntitlementsExecute(r OrgsAPICloudGetV1OrgsOrgEntitlementsRequest) (*CloudEntitlementsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudEntitlementsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsAPIService.CloudGetV1OrgsOrgEntitlements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/orgs/{org}/entitlements"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrgsAPICloudPostV1OrgsOrgEntitlementsRequest struct {
	ctx            context.Context
	ApiService     *OrgsAPIService
	org            string
	cloudMutateReq *CloudMutateReq
}

func (r OrgsAPICloudPostV1OrgsOrgEntitlementsRequest) CloudMutateReq(cloudMutateReq CloudMutateReq) OrgsAPICloudPostV1OrgsOrgEntitlementsRequest {
	r.cloudMutateReq = &cloudMutateReq
	return r
}

func (r OrgsAPICloudPostV1OrgsOrgEntitlementsRequest) Execute() (*CloudEntitlementsView, *http.Response, error) {
	return r.ApiService.CloudPostV1OrgsOrgEntitlementsExecute(r)
}

/*
CloudPostV1OrgsOrgEntitlements Post turns products on or off for an org and returns the enabled set afterwards.

Post turns products on or off for an org and returns the enabled set afterwards.

A product may only be ENABLED if the org's plan already ENTITLES it, so enabling
never spends new money — a product the plan does not grant answers 402 and the
console routes that to an upgrade prompt. DISABLING is never gated. A platform
super admin bypasses the plan check (operator comp/grant) and may target any org;
everyone else may only change their own. Commerce unreachable is a 503, never an
implicit yes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@return OrgsAPICloudPostV1OrgsOrgEntitlementsRequest
*/
func (a *OrgsAPIService) CloudPostV1OrgsOrgEntitlements(ctx context.Context, org string) OrgsAPICloudPostV1OrgsOrgEntitlementsRequest {
	return OrgsAPICloudPostV1OrgsOrgEntitlementsRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return CloudEntitlementsView
func (a *OrgsAPIService) CloudPostV1OrgsOrgEntitlementsExecute(r OrgsAPICloudPostV1OrgsOrgEntitlementsRequest) (*CloudEntitlementsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudEntitlementsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsAPIService.CloudPostV1OrgsOrgEntitlements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/orgs/{org}/entitlements"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudMutateReq == nil {
		return localVarReturnValue, nil, reportError("cloudMutateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudMutateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
