/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MqAPIService MqAPI service
type MqAPIService service

type MqAPIDeleteMqStreamsByNameRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	name       string
}

func (r MqAPIDeleteMqStreamsByNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMqStreamsByNameExecute(r)
}

/*
DeleteMqStreamsByName Removes a stream with all its messages and consumers.

Removes a stream with all its messages and consumers. Irreversible.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@return MqAPIDeleteMqStreamsByNameRequest
*/
func (a *MqAPIService) DeleteMqStreamsByName(ctx context.Context, name string) MqAPIDeleteMqStreamsByNameRequest {
	return MqAPIDeleteMqStreamsByNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
func (a *MqAPIService) DeleteMqStreamsByNameExecute(r MqAPIDeleteMqStreamsByNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.DeleteMqStreamsByName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MqAPIDeleteMqStreamsByNameMessagesBySeqRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	name       string
	seq        int32
}

func (r MqAPIDeleteMqStreamsByNameMessagesBySeqRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMqStreamsByNameMessagesBySeqExecute(r)
}

/*
DeleteMqStreamsByNameMessagesBySeq Erases one message by sequence; the sequence gap remains.

Erases one message by sequence; the sequence gap remains.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@param seq Seq is the message's stream sequence, from the path.
	@return MqAPIDeleteMqStreamsByNameMessagesBySeqRequest
*/
func (a *MqAPIService) DeleteMqStreamsByNameMessagesBySeq(ctx context.Context, name string, seq int32) MqAPIDeleteMqStreamsByNameMessagesBySeqRequest {
	return MqAPIDeleteMqStreamsByNameMessagesBySeqRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		seq:        seq,
	}
}

// Execute executes the request
func (a *MqAPIService) DeleteMqStreamsByNameMessagesBySeqExecute(r MqAPIDeleteMqStreamsByNameMessagesBySeqRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.DeleteMqStreamsByNameMessagesBySeq")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}/messages/{seq}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"seq"+"}", url.PathEscape(parameterValueToString(r.seq, "seq")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MqAPIDeleteMqStreamsByStreamConsumersByNameRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	stream     string
	name       string
}

func (r MqAPIDeleteMqStreamsByStreamConsumersByNameRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMqStreamsByStreamConsumersByNameExecute(r)
}

/*
DeleteMqStreamsByStreamConsumersByName Removes a consumer and its delivery state; unacknowledged messages stay in the stream.

Removes a consumer and its delivery state; unacknowledged messages
stay in the stream.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@param name Name is the consumer name, from the path.
	@return MqAPIDeleteMqStreamsByStreamConsumersByNameRequest
*/
func (a *MqAPIService) DeleteMqStreamsByStreamConsumersByName(ctx context.Context, stream string, name string) MqAPIDeleteMqStreamsByStreamConsumersByNameRequest {
	return MqAPIDeleteMqStreamsByStreamConsumersByNameRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
func (a *MqAPIService) DeleteMqStreamsByStreamConsumersByNameExecute(r MqAPIDeleteMqStreamsByStreamConsumersByNameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.DeleteMqStreamsByStreamConsumersByName")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MqAPIGetMqHealthRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
}

func (r MqAPIGetMqHealthRequest) Execute() (*Health, *http.Response, error) {
	return r.ApiService.GetMqHealthExecute(r)
}

/*
GetMqHealth Reports whether the message plane behind this surface answers.

Reports whether the message plane behind this surface answers.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MqAPIGetMqHealthRequest
*/
func (a *MqAPIService) GetMqHealth(ctx context.Context) MqAPIGetMqHealthRequest {
	return MqAPIGetMqHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Health
func (a *MqAPIService) GetMqHealthExecute(r MqAPIGetMqHealthRequest) (*Health, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Health
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.GetMqHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIGetMqInfoRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
}

func (r MqAPIGetMqInfoRequest) Execute() (*InfoOut, *http.Response, error) {
	return r.ApiService.GetMqInfoExecute(r)
}

/*
GetMqInfo Returns the broker's identity and the org's stream count.

Returns the broker's identity and the org's stream count.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MqAPIGetMqInfoRequest
*/
func (a *MqAPIService) GetMqInfo(ctx context.Context) MqAPIGetMqInfoRequest {
	return MqAPIGetMqInfoRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InfoOut
func (a *MqAPIService) GetMqInfoExecute(r MqAPIGetMqInfoRequest) (*InfoOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InfoOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.GetMqInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIGetMqStreamsRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	limit      *int32
	offset     *int32
}

// Limit caps the streams returned (1–1000, default 100).
func (r MqAPIGetMqStreamsRequest) Limit(limit int32) MqAPIGetMqStreamsRequest {
	r.limit = &limit
	return r
}

// Offset skips that many streams, name-ordered.
func (r MqAPIGetMqStreamsRequest) Offset(offset int32) MqAPIGetMqStreamsRequest {
	r.offset = &offset
	return r
}

func (r MqAPIGetMqStreamsRequest) Execute() (*Streams, *http.Response, error) {
	return r.ApiService.GetMqStreamsExecute(r)
}

/*
GetMqStreams Returns the org's streams, name-ordered, with their live state.

Returns the org's streams, name-ordered, with their live state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MqAPIGetMqStreamsRequest
*/
func (a *MqAPIService) GetMqStreams(ctx context.Context) MqAPIGetMqStreamsRequest {
	return MqAPIGetMqStreamsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Streams
func (a *MqAPIService) GetMqStreamsExecute(r MqAPIGetMqStreamsRequest) (*Streams, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Streams
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.GetMqStreams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIGetMqStreamsByNameRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	name       string
}

func (r MqAPIGetMqStreamsByNameRequest) Execute() (*Stream, *http.Response, error) {
	return r.ApiService.GetMqStreamsByNameExecute(r)
}

/*
GetMqStreamsByName Returns one stream's configuration and live state.

Returns one stream's configuration and live state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@return MqAPIGetMqStreamsByNameRequest
*/
func (a *MqAPIService) GetMqStreamsByName(ctx context.Context, name string) MqAPIGetMqStreamsByNameRequest {
	return MqAPIGetMqStreamsByNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return Stream
func (a *MqAPIService) GetMqStreamsByNameExecute(r MqAPIGetMqStreamsByNameRequest) (*Stream, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Stream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.GetMqStreamsByName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIGetMqStreamsByNameMessagesRequest struct {
	ctx           context.Context
	ApiService    *MqAPIService
	name          string
	seq           *int32
	lastBySubject *string
	nextBySubject *string
	limit         *int32
}

// Seq reads the message at this sequence (with next_by_subject: the walk&#39;s start).
func (r MqAPIGetMqStreamsByNameMessagesRequest) Seq(seq int32) MqAPIGetMqStreamsByNameMessagesRequest {
	r.seq = &seq
	return r
}

// LastBySubject reads the newest message on this org-relative subject.
func (r MqAPIGetMqStreamsByNameMessagesRequest) LastBySubject(lastBySubject string) MqAPIGetMqStreamsByNameMessagesRequest {
	r.lastBySubject = &lastBySubject
	return r
}

// NextBySubject walks forward from seq collecting messages on this org-relative subject (wildcards supported).
func (r MqAPIGetMqStreamsByNameMessagesRequest) NextBySubject(nextBySubject string) MqAPIGetMqStreamsByNameMessagesRequest {
	r.nextBySubject = &nextBySubject
	return r
}

// Limit caps a next_by_subject walk (1–1000, default 100).
func (r MqAPIGetMqStreamsByNameMessagesRequest) Limit(limit int32) MqAPIGetMqStreamsByNameMessagesRequest {
	r.limit = &limit
	return r
}

func (r MqAPIGetMqStreamsByNameMessagesRequest) Execute() (*ReadOut, *http.Response, error) {
	return r.ApiService.GetMqStreamsByNameMessagesExecute(r)
}

/*
GetMqStreamsByNameMessages Reads stored messages without a consumer: by sequence, by newest on a subject, or walking a subject forward from a sequence.

Reads stored messages without a consumer: by sequence, by newest on a
subject, or walking a subject forward from a sequence.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@return MqAPIGetMqStreamsByNameMessagesRequest
*/
func (a *MqAPIService) GetMqStreamsByNameMessages(ctx context.Context, name string) MqAPIGetMqStreamsByNameMessagesRequest {
	return MqAPIGetMqStreamsByNameMessagesRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return ReadOut
func (a *MqAPIService) GetMqStreamsByNameMessagesExecute(r MqAPIGetMqStreamsByNameMessagesRequest) (*ReadOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReadOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.GetMqStreamsByNameMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}/messages"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.seq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "seq", r.seq, "form", "")
	}
	if r.lastBySubject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_by_subject", r.lastBySubject, "form", "")
	}
	if r.nextBySubject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_by_subject", r.nextBySubject, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIGetMqStreamsByStreamConsumersRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	stream     string
	limit      *int32
	offset     *int32
}

// Limit caps the consumers returned (1–1000, default 100).
func (r MqAPIGetMqStreamsByStreamConsumersRequest) Limit(limit int32) MqAPIGetMqStreamsByStreamConsumersRequest {
	r.limit = &limit
	return r
}

// Offset skips that many consumers, name-ordered.
func (r MqAPIGetMqStreamsByStreamConsumersRequest) Offset(offset int32) MqAPIGetMqStreamsByStreamConsumersRequest {
	r.offset = &offset
	return r
}

func (r MqAPIGetMqStreamsByStreamConsumersRequest) Execute() (*PickOut, *http.Response, error) {
	return r.ApiService.GetMqStreamsByStreamConsumersExecute(r)
}

/*
GetMqStreamsByStreamConsumers Returns a stream's consumers, name-ordered, with delivery state.

Returns a stream's consumers, name-ordered, with delivery state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@return MqAPIGetMqStreamsByStreamConsumersRequest
*/
func (a *MqAPIService) GetMqStreamsByStreamConsumers(ctx context.Context, stream string) MqAPIGetMqStreamsByStreamConsumersRequest {
	return MqAPIGetMqStreamsByStreamConsumersRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return PickOut
func (a *MqAPIService) GetMqStreamsByStreamConsumersExecute(r MqAPIGetMqStreamsByStreamConsumersRequest) (*PickOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PickOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.GetMqStreamsByStreamConsumers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIGetMqStreamsByStreamConsumersByNameRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	stream     string
	name       string
}

func (r MqAPIGetMqStreamsByStreamConsumersByNameRequest) Execute() (*Consumer, *http.Response, error) {
	return r.ApiService.GetMqStreamsByStreamConsumersByNameExecute(r)
}

/*
GetMqStreamsByStreamConsumersByName Returns one consumer's configuration and delivery state.

Returns one consumer's configuration and delivery state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@param name Name is the consumer name, from the path.
	@return MqAPIGetMqStreamsByStreamConsumersByNameRequest
*/
func (a *MqAPIService) GetMqStreamsByStreamConsumersByName(ctx context.Context, stream string, name string) MqAPIGetMqStreamsByStreamConsumersByNameRequest {
	return MqAPIGetMqStreamsByStreamConsumersByNameRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
//
//	@return Consumer
func (a *MqAPIService) GetMqStreamsByStreamConsumersByNameExecute(r MqAPIGetMqStreamsByStreamConsumersByNameRequest) (*Consumer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Consumer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.GetMqStreamsByStreamConsumersByName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIPostMqStreamsRequest struct {
	ctx          context.Context
	ApiService   *MqAPIService
	streamConfig *StreamConfig
}

func (r MqAPIPostMqStreamsRequest) StreamConfig(streamConfig StreamConfig) MqAPIPostMqStreamsRequest {
	r.streamConfig = &streamConfig
	return r
}

func (r MqAPIPostMqStreamsRequest) Execute() (*Stream, *http.Response, error) {
	return r.ApiService.PostMqStreamsExecute(r)
}

/*
PostMqStreams Creates a durable stream in the org's namespace and returns it.

Creates a durable stream in the org's namespace and returns it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MqAPIPostMqStreamsRequest
*/
func (a *MqAPIService) PostMqStreams(ctx context.Context) MqAPIPostMqStreamsRequest {
	return MqAPIPostMqStreamsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Stream
func (a *MqAPIService) PostMqStreamsExecute(r MqAPIPostMqStreamsRequest) (*Stream, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Stream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.PostMqStreams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.streamConfig == nil {
		return localVarReturnValue, nil, reportError("streamConfig is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.streamConfig
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIPostMqStreamsByNamePurgeRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	name       string
	purge      *Purge
}

func (r MqAPIPostMqStreamsByNamePurgeRequest) Purge(purge Purge) MqAPIPostMqStreamsByNamePurgeRequest {
	r.purge = &purge
	return r
}

func (r MqAPIPostMqStreamsByNamePurgeRequest) Execute() (*PurgeOut, *http.Response, error) {
	return r.ApiService.PostMqStreamsByNamePurgeExecute(r)
}

/*
PostMqStreamsByNamePurge Removes messages from a stream, leaving its consumers in place.

Removes messages from a stream, leaving its consumers in place.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, from the path.
	@return MqAPIPostMqStreamsByNamePurgeRequest
*/
func (a *MqAPIService) PostMqStreamsByNamePurge(ctx context.Context, name string) MqAPIPostMqStreamsByNamePurgeRequest {
	return MqAPIPostMqStreamsByNamePurgeRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return PurgeOut
func (a *MqAPIService) PostMqStreamsByNamePurgeExecute(r MqAPIPostMqStreamsByNamePurgeRequest) (*PurgeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PurgeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.PostMqStreamsByNamePurge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}/purge"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purge == nil {
		return localVarReturnValue, nil, reportError("purge is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.purge
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIPostMqStreamsByStreamConsumersRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	stream     string
	makeIn     *MakeIn
}

func (r MqAPIPostMqStreamsByStreamConsumersRequest) MakeIn(makeIn MakeIn) MqAPIPostMqStreamsByStreamConsumersRequest {
	r.makeIn = &makeIn
	return r
}

func (r MqAPIPostMqStreamsByStreamConsumersRequest) Execute() (*Consumer, *http.Response, error) {
	return r.ApiService.PostMqStreamsByStreamConsumersExecute(r)
}

/*
PostMqStreamsByStreamConsumers Creates a durable pull consumer on a stream and returns it.

Creates a durable pull consumer on a stream and returns it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@return MqAPIPostMqStreamsByStreamConsumersRequest
*/
func (a *MqAPIService) PostMqStreamsByStreamConsumers(ctx context.Context, stream string) MqAPIPostMqStreamsByStreamConsumersRequest {
	return MqAPIPostMqStreamsByStreamConsumersRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
	}
}

// Execute executes the request
//
//	@return Consumer
func (a *MqAPIService) PostMqStreamsByStreamConsumersExecute(r MqAPIPostMqStreamsByStreamConsumersRequest) (*Consumer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Consumer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.PostMqStreamsByStreamConsumers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.makeIn == nil {
		return localVarReturnValue, nil, reportError("makeIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.makeIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIPostMqStreamsByStreamConsumersByNameNextRequest struct {
	ctx        context.Context
	ApiService *MqAPIService
	stream     string
	name       string
	nextIn     *NextIn
}

func (r MqAPIPostMqStreamsByStreamConsumersByNameNextRequest) NextIn(nextIn NextIn) MqAPIPostMqStreamsByStreamConsumersByNameNextRequest {
	r.nextIn = &nextIn
	return r
}

func (r MqAPIPostMqStreamsByStreamConsumersByNameNextRequest) Execute() (*ReadOut, *http.Response, error) {
	return r.ApiService.PostMqStreamsByStreamConsumersByNameNextExecute(r)
}

/*
PostMqStreamsByStreamConsumersByNameNext Pulls the consumer's next batch.

Pulls the consumer's next batch. Delivered messages are acknowledged on
delivery — the broker will not redeliver what this call returns; an empty
wait answers 408.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param stream Stream is the stream name, from the path.
	@param name Name is the consumer name, from the path.
	@return MqAPIPostMqStreamsByStreamConsumersByNameNextRequest
*/
func (a *MqAPIService) PostMqStreamsByStreamConsumersByNameNext(ctx context.Context, stream string, name string) MqAPIPostMqStreamsByStreamConsumersByNameNextRequest {
	return MqAPIPostMqStreamsByStreamConsumersByNameNextRequest{
		ApiService: a,
		ctx:        ctx,
		stream:     stream,
		name:       name,
	}
}

// Execute executes the request
//
//	@return ReadOut
func (a *MqAPIService) PostMqStreamsByStreamConsumersByNameNextExecute(r MqAPIPostMqStreamsByStreamConsumersByNameNextRequest) (*ReadOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReadOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.PostMqStreamsByStreamConsumersByNameNext")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{stream}/consumers/{name}/next"
	localVarPath = strings.Replace(localVarPath, "{"+"stream"+"}", url.PathEscape(parameterValueToString(r.stream, "stream")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nextIn == nil {
		return localVarReturnValue, nil, reportError("nextIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nextIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MqAPIPutMqStreamsByNameRequest struct {
	ctx          context.Context
	ApiService   *MqAPIService
	name         string
	streamConfig *StreamConfig
}

func (r MqAPIPutMqStreamsByNameRequest) StreamConfig(streamConfig StreamConfig) MqAPIPutMqStreamsByNameRequest {
	r.streamConfig = &streamConfig
	return r
}

func (r MqAPIPutMqStreamsByNameRequest) Execute() (*Stream, *http.Response, error) {
	return r.ApiService.PutMqStreamsByNameExecute(r)
}

/*
PutMqStreamsByName Reconfigures an existing stream; the path names the stream, and the immutable fields (storage, retention) must restate what they are.

Reconfigures an existing stream; the path names the stream, and the
immutable fields (storage, retention) must restate what they are.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the stream name, unique within the org (alphanumeric, hyphens, underscores).
	@return MqAPIPutMqStreamsByNameRequest
*/
func (a *MqAPIService) PutMqStreamsByName(ctx context.Context, name string) MqAPIPutMqStreamsByNameRequest {
	return MqAPIPutMqStreamsByNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return Stream
func (a *MqAPIService) PutMqStreamsByNameExecute(r MqAPIPutMqStreamsByNameRequest) (*Stream, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Stream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MqAPIService.PutMqStreamsByName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mq/streams/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.streamConfig == nil {
		return localVarReturnValue, nil, reportError("streamConfig is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.streamConfig
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
