/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CloudAPIService CloudAPI service
type CloudAPIService service

type CloudAPIDeleteCloudByProviderAccountsByLabelRequest struct {
	ctx        context.Context
	ApiService *CloudAPIService
	provider   string
	label      string
}

func (r CloudAPIDeleteCloudByProviderAccountsByLabelRequest) Execute() (*UnlinkedView, *http.Response, error) {
	return r.ApiService.DeleteCloudByProviderAccountsByLabelExecute(r)
}

/*
DeleteCloudByProviderAccountsByLabel Forgets one linked cloud account: it detaches every fleet cluster THIS account folded (its own names, in its own shard — a neighbour's cluster of the same name is untouched), deletes the sealed credential, and drops the index row.

Forgets one linked cloud account: it detaches every fleet cluster
THIS account folded (its own names, in its own shard — a neighbour's cluster of
the same name is untouched), deletes the sealed credential, and drops the index
row.

It is idempotent and deliberately not an existence oracle: an account this org
does not hold answers exactly the same as one it just removed. A cluster that
fails to detach is logged and the unlink continues, so a dead provider cannot
strand a credential. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the cloud the account belongs to: digitalocean, aws, gcp or azure. An unknown provider is not found.
	@param label Label is the org-chosen name of the account within that provider. Empty means \"default\"; anything outside 1–64 of [A-Za-z0-9._-] is refused.
	@return CloudAPIDeleteCloudByProviderAccountsByLabelRequest
*/
func (a *CloudAPIService) DeleteCloudByProviderAccountsByLabel(ctx context.Context, provider string, label string) CloudAPIDeleteCloudByProviderAccountsByLabelRequest {
	return CloudAPIDeleteCloudByProviderAccountsByLabelRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
		label:      label,
	}
}

// Execute executes the request
//
//	@return UnlinkedView
func (a *CloudAPIService) DeleteCloudByProviderAccountsByLabelExecute(r CloudAPIDeleteCloudByProviderAccountsByLabelRequest) (*UnlinkedView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UnlinkedView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudAPIService.DeleteCloudByProviderAccountsByLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/{provider}/accounts/{label}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"label"+"}", url.PathEscape(parameterValueToString(r.label, "label")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudAPIGetCloudRequest struct {
	ctx        context.Context
	ApiService *CloudAPIService
}

func (r CloudAPIGetCloudRequest) Execute() (*ProvidersView, *http.Response, error) {
	return r.ApiService.GetCloudExecute(r)
}

/*
GetCloud Returns the clouds this deployment can link and what linking each one needs — the DigitalOcean token, the AWS role and external id, the GCP credential JSON, the Azure app — plus whether the provider can be linked without storing any long-lived secret.

Returns the clouds this deployment can link and what linking each
one needs — the DigitalOcean token, the AWS role and external id, the GCP
credential JSON, the Azure app — plus whether the provider can be linked without
storing any long-lived secret. It is the catalog a "connect a cloud" screen
renders; it reports no account and no credential.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudAPIGetCloudRequest
*/
func (a *CloudAPIService) GetCloud(ctx context.Context) CloudAPIGetCloudRequest {
	return CloudAPIGetCloudRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProvidersView
func (a *CloudAPIService) GetCloudExecute(r CloudAPIGetCloudRequest) (*ProvidersView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProvidersView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudAPIService.GetCloud")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudAPIGetCloudAccountsRequest struct {
	ctx        context.Context
	ApiService *CloudAPIService
}

func (r CloudAPIGetCloudAccountsRequest) Execute() (*CloudAccountsView, *http.Response, error) {
	return r.ApiService.GetCloudAccountsExecute(r)
}

/*
GetCloudAccounts Lists the caller org's linked cloud accounts across every provider: which account each one is at the provider, which fleet clusters it folded, and when it was last discovered.

Lists the caller org's linked cloud accounts across every provider:
which account each one is at the provider, which fleet clusters it folded, and
when it was last discovered. Metadata only — a sealed credential never appears in
a response. Another org's accounts are not visible and not countable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudAPIGetCloudAccountsRequest
*/
func (a *CloudAPIService) GetCloudAccounts(ctx context.Context) CloudAPIGetCloudAccountsRequest {
	return CloudAPIGetCloudAccountsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAccountsView
func (a *CloudAPIService) GetCloudAccountsExecute(r CloudAPIGetCloudAccountsRequest) (*CloudAccountsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAccountsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudAPIService.GetCloudAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudAPIPostCloudByProviderAccountsRequest struct {
	ctx              context.Context
	ApiService       *CloudAPIService
	provider         string
	venueLinkRequest *VenueLinkRequest
}

func (r CloudAPIPostCloudByProviderAccountsRequest) VenueLinkRequest(venueLinkRequest VenueLinkRequest) CloudAPIPostCloudByProviderAccountsRequest {
	r.venueLinkRequest = &venueLinkRequest
	return r
}

func (r CloudAPIPostCloudByProviderAccountsRequest) Execute() (*AccountFoldView, *http.Response, error) {
	return r.ApiService.PostCloudByProviderAccountsExecute(r)
}

/*
PostCloudByProviderAccounts Links one of the caller org's cloud accounts and folds the Kubernetes clusters it finds there into the ONE Hanzo fleet, so they appear at /v1/clusters and can run work like any managed or bring-your-own cluster.

Links one of the caller org's cloud accounts and folds the Kubernetes
clusters it finds there into the ONE Hanzo fleet, so they appear at /v1/clusters
and can run work like any managed or bring-your-own cluster. Answers 201.

The credential is verified LIVE against the provider BEFORE anything is stored,
so a bad one is refused and nothing is written; it is then sealed in the org's own
KMS namespace and never appears in a response, the account index, or a log line.
Discovery follows, and a cluster that fails to fold is reported as DATA in the
clusters list rather than failing the link.

Re-linking a label that already exists re-seals its credential and re-folds it, so
this is how a rotated token is replaced. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the cloud being linked, from the path: digitalocean, aws, gcp or azure.
	@return CloudAPIPostCloudByProviderAccountsRequest
*/
func (a *CloudAPIService) PostCloudByProviderAccounts(ctx context.Context, provider string) CloudAPIPostCloudByProviderAccountsRequest {
	return CloudAPIPostCloudByProviderAccountsRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return AccountFoldView
func (a *CloudAPIService) PostCloudByProviderAccountsExecute(r CloudAPIPostCloudByProviderAccountsRequest) (*AccountFoldView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccountFoldView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudAPIService.PostCloudByProviderAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/{provider}/accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.venueLinkRequest == nil {
		return localVarReturnValue, nil, reportError("venueLinkRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.venueLinkRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudAPIPostCloudByProviderAccountsByLabelSyncRequest struct {
	ctx        context.Context
	ApiService *CloudAPIService
	provider   string
	label      string
}

func (r CloudAPIPostCloudByProviderAccountsByLabelSyncRequest) Execute() (*AccountFoldView, *http.Response, error) {
	return r.ApiService.PostCloudByProviderAccountsByLabelSyncExecute(r)
}

/*
PostCloudByProviderAccountsByLabelSync Re-discovers one already-linked cloud account and reconciles what it folded: kubeconfigs are refreshed, clusters that appeared since the last sync are folded, and clusters this account folded that the provider no longer returns are detached — only this account's own, in the fleet shard it was linked into.

Re-discovers one already-linked cloud account and reconciles what it
folded: kubeconfigs are refreshed, clusters that appeared since the last sync are
folded, and clusters this account folded that the provider no longer returns are
detached — only this account's own, in the fleet shard it was linked into.

It is idempotent, it reads the credential already sealed at link time, and a
discovery failure leaves the existing fold set alone rather than mass-detaching
it. An account this org has not linked is not found. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the cloud the account belongs to: digitalocean, aws, gcp or azure. An unknown provider is not found.
	@param label Label is the org-chosen name of the account within that provider. Empty means \"default\"; anything outside 1–64 of [A-Za-z0-9._-] is refused.
	@return CloudAPIPostCloudByProviderAccountsByLabelSyncRequest
*/
func (a *CloudAPIService) PostCloudByProviderAccountsByLabelSync(ctx context.Context, provider string, label string) CloudAPIPostCloudByProviderAccountsByLabelSyncRequest {
	return CloudAPIPostCloudByProviderAccountsByLabelSyncRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
		label:      label,
	}
}

// Execute executes the request
//
//	@return AccountFoldView
func (a *CloudAPIService) PostCloudByProviderAccountsByLabelSyncExecute(r CloudAPIPostCloudByProviderAccountsByLabelSyncRequest) (*AccountFoldView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccountFoldView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudAPIService.PostCloudByProviderAccountsByLabelSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/{provider}/accounts/{label}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"label"+"}", url.PathEscape(parameterValueToString(r.label, "label")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
