/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// SearchDocsAPIService SearchDocsAPI service
type SearchDocsAPIService service

type SearchDocsAPICloudGetV1SearchDocsIndexesRequest struct {
	ctx        context.Context
	ApiService *SearchDocsAPIService
}

func (r SearchDocsAPICloudGetV1SearchDocsIndexesRequest) Execute() (*CloudSearchIndexList, *http.Response, error) {
	return r.ApiService.CloudGetV1SearchDocsIndexesExecute(r)
}

/*
CloudGetV1SearchDocsIndexes Lists the search indexes with their document counts and timestamps.

Lists the search indexes with their document counts and timestamps.

It reads the in-cluster Meilisearch service and reshapes its /stats and
/indexes replies into the rows the console's Search panel renders. The read is
degrade-friendly by design: an unreachable Meilisearch answers 200 with an
EMPTY list, so the panel shows an honest empty state instead of an error.
createdAt falls back to now and lastIndexedAt to null when the index list is
unavailable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SearchDocsAPICloudGetV1SearchDocsIndexesRequest
*/
func (a *SearchDocsAPIService) CloudGetV1SearchDocsIndexes(ctx context.Context) SearchDocsAPICloudGetV1SearchDocsIndexesRequest {
	return SearchDocsAPICloudGetV1SearchDocsIndexesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSearchIndexList
func (a *SearchDocsAPIService) CloudGetV1SearchDocsIndexesExecute(r SearchDocsAPICloudGetV1SearchDocsIndexesRequest) (*CloudSearchIndexList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSearchIndexList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocsAPIService.CloudGetV1SearchDocsIndexes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search-docs/indexes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchDocsAPICloudGetV1SearchDocsStatsRequest struct {
	ctx        context.Context
	ApiService *SearchDocsAPIService
}

func (r SearchDocsAPICloudGetV1SearchDocsStatsRequest) Execute() (*CloudSearchStats, *http.Response, error) {
	return r.ApiService.CloudGetV1SearchDocsStatsExecute(r)
}

/*
CloudGetV1SearchDocsStats Totals the documents across every search index.

Totals the documents across every search index.

totalDocuments is summed from Meilisearch's own per-index counts. The other
three fields are structurally zero rather than estimated: Meilisearch keeps no
query-history counters, so searches, sessions and the per-day series are not
derivable from the index and this surface reports the honest zero instead of a
fabricated number. An unreachable Meilisearch answers 200 with all zeros.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SearchDocsAPICloudGetV1SearchDocsStatsRequest
*/
func (a *SearchDocsAPIService) CloudGetV1SearchDocsStats(ctx context.Context) SearchDocsAPICloudGetV1SearchDocsStatsRequest {
	return SearchDocsAPICloudGetV1SearchDocsStatsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSearchStats
func (a *SearchDocsAPIService) CloudGetV1SearchDocsStatsExecute(r SearchDocsAPICloudGetV1SearchDocsStatsRequest) (*CloudSearchStats, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSearchStats
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDocsAPIService.CloudGetV1SearchDocsStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search-docs/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
