/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// HelpAPIService HelpAPI service
type HelpAPIService service

type HelpAPIGetHelpArticlesRequest struct {
	ctx        context.Context
	ApiService *HelpAPIService
	category   *string
	limit      *int32
}

// Category narrows the list to one knowledge-base section, matched against the article&#39;s category by exact name. Empty lists every section.
func (r HelpAPIGetHelpArticlesRequest) Category(category string) HelpAPIGetHelpArticlesRequest {
	r.category = &category
	return r
}

// Limit caps how many articles are returned. Anything that is not a positive integer uses 50, and values above 200 are clamped to 200.
func (r HelpAPIGetHelpArticlesRequest) Limit(limit int32) HelpAPIGetHelpArticlesRequest {
	r.limit = &limit
	return r
}

func (r HelpAPIGetHelpArticlesRequest) Execute() (*HelpArticleList, *http.Response, error) {
	return r.ApiService.GetHelpArticlesExecute(r)
}

/*
GetHelpArticles Returns the public knowledge base: the help center's Published, publicly-visible articles as cards.

Returns the public knowledge base: the help center's Published,
publicly-visible articles as cards. The org is server-fixed and the
status/is_public filter is server-set, so neither the tenant nor the visibility
can be widened by the caller. A deployment with no help center answers 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return HelpAPIGetHelpArticlesRequest
*/
func (a *HelpAPIService) GetHelpArticles(ctx context.Context) HelpAPIGetHelpArticlesRequest {
	return HelpAPIGetHelpArticlesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HelpArticleList
func (a *HelpAPIService) GetHelpArticlesExecute(r HelpAPIGetHelpArticlesRequest) (*HelpArticleList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HelpArticleList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelpAPIService.GetHelpArticles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/help/articles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HelpAPIGetHelpArticlesBySlugRequest struct {
	ctx        context.Context
	ApiService *HelpAPIService
	slug       string
}

func (r HelpAPIGetHelpArticlesBySlugRequest) Execute() (*HelpArticle, *http.Response, error) {
	return r.ApiService.GetHelpArticlesBySlugExecute(r)
}

/*
GetHelpArticlesBySlug Returns one public article by slug, with its body.

Returns one public article by slug, with its body. A missing, Draft,
or internal (non-public) article is 404 — fail-closed, so this route is no
existence oracle for anything beyond "published and public".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the article's public identifier, from the path. It IS the document name in the help center's store.
	@return HelpAPIGetHelpArticlesBySlugRequest
*/
func (a *HelpAPIService) GetHelpArticlesBySlug(ctx context.Context, slug string) HelpAPIGetHelpArticlesBySlugRequest {
	return HelpAPIGetHelpArticlesBySlugRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return HelpArticle
func (a *HelpAPIService) GetHelpArticlesBySlugExecute(r HelpAPIGetHelpArticlesBySlugRequest) (*HelpArticle, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HelpArticle
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelpAPIService.GetHelpArticlesBySlug")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/help/articles/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HelpAPIGetHelpCategoriesRequest struct {
	ctx        context.Context
	ApiService *HelpAPIService
}

func (r HelpAPIGetHelpCategoriesRequest) Execute() (*HelpCategoryList, *http.Response, error) {
	return r.ApiService.GetHelpCategoriesExecute(r)
}

/*
GetHelpCategories Returns the knowledge-base sections for the public center's navigation — but ONLY the sections that front at least one Published, public article, so an internal (agent-only) category name or description never leaks.

Returns the knowledge-base sections for the public center's
navigation — but ONLY the sections that front at least one Published, public
article, so an internal (agent-only) category name or description never leaks. A
section with no public article is invisible; a center with no public articles has
no sections, which is an empty list rather than an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return HelpAPIGetHelpCategoriesRequest
*/
func (a *HelpAPIService) GetHelpCategories(ctx context.Context) HelpAPIGetHelpCategoriesRequest {
	return HelpAPIGetHelpCategoriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HelpCategoryList
func (a *HelpAPIService) GetHelpCategoriesExecute(r HelpAPIGetHelpCategoriesRequest) (*HelpCategoryList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HelpCategoryList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelpAPIService.GetHelpCategories")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/help/categories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HelpAPIPostHelpTicketsRequest struct {
	ctx              context.Context
	ApiService       *HelpAPIService
	helpTicketIntake *HelpTicketIntake
}

func (r HelpAPIPostHelpTicketsRequest) HelpTicketIntake(helpTicketIntake HelpTicketIntake) HelpAPIPostHelpTicketsRequest {
	r.helpTicketIntake = &helpTicketIntake
	return r
}

func (r HelpAPIPostHelpTicketsRequest) Execute() (*HelpTicketFiled, *http.Response, error) {
	return r.ApiService.PostHelpTicketsExecute(r)
}

/*
PostHelpTickets Files a customer support ticket into the public help center.

Files a customer support ticket into the public help center. It
creates the ticket (status Open, source portal) with the customer's message on
the description, then records that same message as the opening entry of the
ticket's conversation thread; the description carries it regardless, so failing
to write that entry loses nothing. Answers 201 with an opaque reference.

A deployment with no help center answers 404, one whose center has not installed
the Help model answers 503, and a body over 64 KiB answers 413 — in that order,
which is the order the route has always decided them in.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return HelpAPIPostHelpTicketsRequest
*/
func (a *HelpAPIService) PostHelpTickets(ctx context.Context) HelpAPIPostHelpTicketsRequest {
	return HelpAPIPostHelpTicketsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HelpTicketFiled
func (a *HelpAPIService) PostHelpTicketsExecute(r HelpAPIPostHelpTicketsRequest) (*HelpTicketFiled, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HelpTicketFiled
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HelpAPIService.PostHelpTickets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/help/tickets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.helpTicketIntake == nil {
		return localVarReturnValue, nil, reportError("helpTicketIntake is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.helpTicketIntake
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
