/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// AnalyticsAPIService AnalyticsAPI service
type AnalyticsAPIService service

type AnalyticsAPICloudGetV1AnalyticsHealthRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
}

func (r AnalyticsAPICloudGetV1AnalyticsHealthRequest) Execute() (*CloudHealthReport, *http.Response, error) {
	return r.ApiService.CloudGetV1AnalyticsHealthExecute(r)
}

/*
CloudGetV1AnalyticsHealth Method for CloudGetV1AnalyticsHealth

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPICloudGetV1AnalyticsHealthRequest
*/
func (a *AnalyticsAPIService) CloudGetV1AnalyticsHealth(ctx context.Context) AnalyticsAPICloudGetV1AnalyticsHealthRequest {
	return AnalyticsAPICloudGetV1AnalyticsHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudHealthReport
func (a *AnalyticsAPIService) CloudGetV1AnalyticsHealthExecute(r AnalyticsAPICloudGetV1AnalyticsHealthRequest) (*CloudHealthReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudHealthReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.CloudGetV1AnalyticsHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPICloudGetV1AnalyticsOverviewRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	range_     *string
	start      *string
	end        *string
}

// Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both start and end are given. An unknown value is a 400.
func (r AnalyticsAPICloudGetV1AnalyticsOverviewRequest) Range_(range_ string) AnalyticsAPICloudGetV1AnalyticsOverviewRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive lower bound of a custom window, RFC3339. Requires end.
func (r AnalyticsAPICloudGetV1AnalyticsOverviewRequest) Start(start string) AnalyticsAPICloudGetV1AnalyticsOverviewRequest {
	r.start = &start
	return r
}

// End is the exclusive upper bound of a custom window, RFC3339. Requires start.
func (r AnalyticsAPICloudGetV1AnalyticsOverviewRequest) End(end string) AnalyticsAPICloudGetV1AnalyticsOverviewRequest {
	r.end = &end
	return r
}

func (r AnalyticsAPICloudGetV1AnalyticsOverviewRequest) Execute() (*CloudOverview, *http.Response, error) {
	return r.ApiService.CloudGetV1AnalyticsOverviewExecute(r)
}

/*
CloudGetV1AnalyticsOverview Overview returns the caller org's analytics KPIs for one time window.

Overview returns the caller org's analytics KPIs for one time window. Three lenses
over one warehouse: llm is the live per-org LLM usage ledger (requests, tokens,
spend, models, providers, errors) and is always real; web (pageviews, visitors,
sessions) and commerce (orders, revenue, AOV) read the product-event table and
report available=false rather than fabricating zeros when it holds nothing yet.

The org is the validated principal's — never a parameter — so a caller can only
ever read its own tenant. 403 without a validated bearer, 400 on an unknown range,
503 when the warehouse is unreachable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPICloudGetV1AnalyticsOverviewRequest
*/
func (a *AnalyticsAPIService) CloudGetV1AnalyticsOverview(ctx context.Context) AnalyticsAPICloudGetV1AnalyticsOverviewRequest {
	return AnalyticsAPICloudGetV1AnalyticsOverviewRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudOverview
func (a *AnalyticsAPIService) CloudGetV1AnalyticsOverviewExecute(r AnalyticsAPICloudGetV1AnalyticsOverviewRequest) (*CloudOverview, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOverview
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.CloudGetV1AnalyticsOverview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/overview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	range_     *string
	start      *string
	end        *string
}

// Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both start and end are given. An unknown value is a 400.
func (r AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest) Range_(range_ string) AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive lower bound of a custom window, RFC3339. Requires end.
func (r AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest) Start(start string) AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest {
	r.start = &start
	return r
}

// End is the exclusive upper bound of a custom window, RFC3339. Requires start.
func (r AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest) End(end string) AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest {
	r.end = &end
	return r
}

func (r AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest) Execute() (*CloudTimeseries, *http.Response, error) {
	return r.ApiService.CloudGetV1AnalyticsTimeseriesExecute(r)
}

/*
CloudGetV1AnalyticsTimeseries Timeseries returns the caller org's LLM usage over time as an evenly-spaced series.

Timeseries returns the caller org's LLM usage over time as an evenly-spaced series.
One point per hour or per day — the bucket the window implies, 24h giving hours and
7d/30d giving days — carrying requests, total tokens and spend in cents. Empty
buckets are filled with zeros so a client charts a continuous line.

The org is the validated principal's — never a parameter. 403 without a validated
bearer, 400 on an unknown range, 503 when the warehouse is unreachable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest
*/
func (a *AnalyticsAPIService) CloudGetV1AnalyticsTimeseries(ctx context.Context) AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest {
	return AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudTimeseries
func (a *AnalyticsAPIService) CloudGetV1AnalyticsTimeseriesExecute(r AnalyticsAPICloudGetV1AnalyticsTimeseriesRequest) (*CloudTimeseries, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTimeseries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.CloudGetV1AnalyticsTimeseries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/timeseries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPICloudGetV1AnalyticsTopRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	range_     *string
	start      *string
	end        *string
	limit      *int32
}

// Range is a relative window: 24h, 7d or 30d. Default 24h. Ignored when both start and end are given. An unknown value is a 400.
func (r AnalyticsAPICloudGetV1AnalyticsTopRequest) Range_(range_ string) AnalyticsAPICloudGetV1AnalyticsTopRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive lower bound of a custom window, RFC3339. Requires end.
func (r AnalyticsAPICloudGetV1AnalyticsTopRequest) Start(start string) AnalyticsAPICloudGetV1AnalyticsTopRequest {
	r.start = &start
	return r
}

// End is the exclusive upper bound of a custom window, RFC3339. Requires start.
func (r AnalyticsAPICloudGetV1AnalyticsTopRequest) End(end string) AnalyticsAPICloudGetV1AnalyticsTopRequest {
	r.end = &end
	return r
}

// Limit bounds every ranked lens in the response. Default 10, maximum 100; a value at or below zero, or one that is not a number, takes the default.
func (r AnalyticsAPICloudGetV1AnalyticsTopRequest) Limit(limit int32) AnalyticsAPICloudGetV1AnalyticsTopRequest {
	r.limit = &limit
	return r
}

func (r AnalyticsAPICloudGetV1AnalyticsTopRequest) Execute() (*CloudTop, *http.Response, error) {
	return r.ApiService.CloudGetV1AnalyticsTopExecute(r)
}

/*
CloudGetV1AnalyticsTop Top returns the caller org's ranked lenses for one window, five of them at once.

Top returns the caller org's ranked lenses for one window, five of them at once.
models ranks LLM models by spend and is always real; products ranks commerce orders
by revenue; topPages ranks requested paths, topReferrers the external referrer
domains ("(direct)" for a missing or same-origin one) and topSources the utm_source
campaigns ("(none)" when absent), each by pageviews. Every lens carries each row's
share of the in-window total, so a top-N honestly shows the long tail.

The four event lenses report available=false rather than fabricating zeros when the
product-event table holds nothing yet. The org is the validated principal's — never
a parameter. 403 without a validated bearer, 400 on an unknown range, 503 when the
warehouse is unreachable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPICloudGetV1AnalyticsTopRequest
*/
func (a *AnalyticsAPIService) CloudGetV1AnalyticsTop(ctx context.Context) AnalyticsAPICloudGetV1AnalyticsTopRequest {
	return AnalyticsAPICloudGetV1AnalyticsTopRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudTop
func (a *AnalyticsAPIService) CloudGetV1AnalyticsTopExecute(r AnalyticsAPICloudGetV1AnalyticsTopRequest) (*CloudTop, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTop
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.CloudGetV1AnalyticsTop")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/top"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIDnsGetZoneAnalyticsRequest struct {
	ctx         context.Context
	ApiService  *AnalyticsAPIService
	zone        string
	from        *time.Time
	to          *time.Time
	granularity *string
}

func (r AnalyticsAPIDnsGetZoneAnalyticsRequest) From(from time.Time) AnalyticsAPIDnsGetZoneAnalyticsRequest {
	r.from = &from
	return r
}

func (r AnalyticsAPIDnsGetZoneAnalyticsRequest) To(to time.Time) AnalyticsAPIDnsGetZoneAnalyticsRequest {
	r.to = &to
	return r
}

func (r AnalyticsAPIDnsGetZoneAnalyticsRequest) Granularity(granularity string) AnalyticsAPIDnsGetZoneAnalyticsRequest {
	r.granularity = &granularity
	return r
}

func (r AnalyticsAPIDnsGetZoneAnalyticsRequest) Execute() (*DnsQueryAnalytics, *http.Response, error) {
	return r.ApiService.DnsGetZoneAnalyticsExecute(r)
}

/*
DnsGetZoneAnalytics Get query analytics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone
	@return AnalyticsAPIDnsGetZoneAnalyticsRequest
*/
func (a *AnalyticsAPIService) DnsGetZoneAnalytics(ctx context.Context, zone string) AnalyticsAPIDnsGetZoneAnalyticsRequest {
	return AnalyticsAPIDnsGetZoneAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
	}
}

// Execute executes the request
//
//	@return DnsQueryAnalytics
func (a *AnalyticsAPIService) DnsGetZoneAnalyticsExecute(r AnalyticsAPIDnsGetZoneAnalyticsRequest) (*DnsQueryAnalytics, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsQueryAnalytics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.DnsGetZoneAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dns/zones/{zone}/analytics"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "day"
		r.granularity = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v DnsError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
