/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AnalyticsSessionsAPIService AnalyticsSessionsAPI service
type AnalyticsSessionsAPIService service

type AnalyticsSessionsAPIAnalyticsGetSessionRequest struct {
	ctx        context.Context
	ApiService *AnalyticsSessionsAPIService
	websiteId  string
	sessionId  string
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionRequest) Execute() (*AnalyticsSession, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionExecute(r)
}

/*
AnalyticsGetSession Get a single session by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@param sessionId
	@return AnalyticsSessionsAPIAnalyticsGetSessionRequest
*/
func (a *AnalyticsSessionsAPIService) AnalyticsGetSession(ctx context.Context, websiteId string, sessionId string) AnalyticsSessionsAPIAnalyticsGetSessionRequest {
	return AnalyticsSessionsAPIAnalyticsGetSessionRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return AnalyticsSession
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionExecute(r AnalyticsSessionsAPIAnalyticsGetSessionRequest) (*AnalyticsSession, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsSession
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsSessionsAPIService.AnalyticsGetSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest struct {
	ctx        context.Context
	ApiService *AnalyticsSessionsAPIService
	websiteId  string
	sessionId  string
	startAt    *int64
	endAt      *int64
}

// Start timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest) StartAt(startAt int64) AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest) EndAt(endAt int64) AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest) Execute() ([]AnalyticsGetSessionActivity200ResponseInner, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionActivityExecute(r)
}

/*
AnalyticsGetSessionActivity Get activity log for a session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@param sessionId
	@return AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest
*/
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionActivity(ctx context.Context, websiteId string, sessionId string) AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest {
	return AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsGetSessionActivity200ResponseInner
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionActivityExecute(r AnalyticsSessionsAPIAnalyticsGetSessionActivityRequest) ([]AnalyticsGetSessionActivity200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsGetSessionActivity200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsSessionsAPIService.AnalyticsGetSessionActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/{sessionId}/activity"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest struct {
	ctx          context.Context
	ApiService   *AnalyticsSessionsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	propertyName *string
}

// Start timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest) StartAt(startAt int64) AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest) EndAt(endAt int64) AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest) PropertyName(propertyName string) AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest {
	r.propertyName = &propertyName
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionDataPropertiesExecute(r)
}

/*
AnalyticsGetSessionDataProperties Get distinct session data property names

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest
*/
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionDataProperties(ctx context.Context, websiteId string) AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest {
	return AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionDataPropertiesExecute(r AnalyticsSessionsAPIAnalyticsGetSessionDataPropertiesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsSessionsAPIService.AnalyticsGetSessionDataProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/session-data/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest struct {
	ctx          context.Context
	ApiService   *AnalyticsSessionsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	propertyName *string
}

// Start timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest) StartAt(startAt int64) AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest) EndAt(endAt int64) AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest) PropertyName(propertyName string) AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest {
	r.propertyName = &propertyName
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionDataValuesExecute(r)
}

/*
AnalyticsGetSessionDataValues Get session data values for a property

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest
*/
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionDataValues(ctx context.Context, websiteId string) AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest {
	return AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionDataValuesExecute(r AnalyticsSessionsAPIAnalyticsGetSessionDataValuesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsSessionsAPIService.AnalyticsGetSessionDataValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/session-data/values"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsSessionsAPIAnalyticsGetSessionPropertiesRequest struct {
	ctx        context.Context
	ApiService *AnalyticsSessionsAPIService
	websiteId  string
	sessionId  string
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionPropertiesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionPropertiesExecute(r)
}

/*
AnalyticsGetSessionProperties Get custom session data properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@param sessionId
	@return AnalyticsSessionsAPIAnalyticsGetSessionPropertiesRequest
*/
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionProperties(ctx context.Context, websiteId string, sessionId string) AnalyticsSessionsAPIAnalyticsGetSessionPropertiesRequest {
	return AnalyticsSessionsAPIAnalyticsGetSessionPropertiesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionPropertiesExecute(r AnalyticsSessionsAPIAnalyticsGetSessionPropertiesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsSessionsAPIService.AnalyticsGetSessionProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/{sessionId}/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsSessionsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	url        *string
	referrer   *string
	title      *string
	os         *string
	browser    *string
	device     *string
	country    *string
	region     *string
	city       *string
	tag        *string
	host       *string
	language   *string
	event      *string
}

// Start timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) StartAt(startAt int64) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) EndAt(endAt int64) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Url(url string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.url = &url
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Referrer(referrer string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.referrer = &referrer
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Title(title string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.title = &title
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Os(os string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.os = &os
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Browser(browser string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.browser = &browser
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Device(device string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.device = &device
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Country(country string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.country = &country
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Region(region string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.region = &region
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) City(city string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.city = &city
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Tag(tag string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.tag = &tag
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Host(host string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.host = &host
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Language(language string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.language = &language
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Event(event string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	r.event = &event
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) Execute() (*map[string]AnalyticsGetSessionStats200ResponseValue, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionStatsExecute(r)
}

/*
AnalyticsGetSessionStats Get aggregate session statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest
*/
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionStats(ctx context.Context, websiteId string) AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest {
	return AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return map[string]AnalyticsGetSessionStats200ResponseValue
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionStatsExecute(r AnalyticsSessionsAPIAnalyticsGetSessionStatsRequest) (*map[string]AnalyticsGetSessionStats200ResponseValue, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *map[string]AnalyticsGetSessionStats200ResponseValue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsSessionsAPIService.AnalyticsGetSessionStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.referrer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referrer", r.referrer, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsSessionsAPIAnalyticsGetSessionsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsSessionsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

// Start timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionsRequest) StartAt(startAt int64) AnalyticsSessionsAPIAnalyticsGetSessionsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionsRequest) EndAt(endAt int64) AnalyticsSessionsAPIAnalyticsGetSessionsRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsRequest) Page(page int32) AnalyticsSessionsAPIAnalyticsGetSessionsRequest {
	r.page = &page
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsRequest) PageSize(pageSize int32) AnalyticsSessionsAPIAnalyticsGetSessionsRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsRequest) OrderBy(orderBy string) AnalyticsSessionsAPIAnalyticsGetSessionsRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsRequest) Search(search string) AnalyticsSessionsAPIAnalyticsGetSessionsRequest {
	r.search = &search
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsRequest) Execute() ([]AnalyticsSession, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionsExecute(r)
}

/*
AnalyticsGetSessions Get paginated list of sessions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsSessionsAPIAnalyticsGetSessionsRequest
*/
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessions(ctx context.Context, websiteId string) AnalyticsSessionsAPIAnalyticsGetSessionsRequest {
	return AnalyticsSessionsAPIAnalyticsGetSessionsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsSession
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionsExecute(r AnalyticsSessionsAPIAnalyticsGetSessionsRequest) ([]AnalyticsSession, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsSession
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsSessionsAPIService.AnalyticsGetSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest struct {
	ctx        context.Context
	ApiService *AnalyticsSessionsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	timezone   *string
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

// Start timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) StartAt(startAt int64) AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) EndAt(endAt int64) AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) Timezone(timezone string) AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.timezone = &timezone
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) Page(page int32) AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.page = &page
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) PageSize(pageSize int32) AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) OrderBy(orderBy string) AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) Search(search string) AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.search = &search
	return r
}

func (r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionsWeeklyExecute(r)
}

/*
AnalyticsGetSessionsWeekly Get weekly session breakdown

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest
*/
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionsWeekly(ctx context.Context, websiteId string) AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest {
	return AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsSessionsAPIService) AnalyticsGetSessionsWeeklyExecute(r AnalyticsSessionsAPIAnalyticsGetSessionsWeeklyRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsSessionsAPIService.AnalyticsGetSessionsWeekly")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/weekly"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
