/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// SpendAPIService SpendAPI service
type SpendAPIService service

type SpendAPIGatewayCalculateSpendRequest struct {
	ctx                          context.Context
	ApiService                   *SpendAPIService
	gatewayCalculateSpendRequest *GatewayCalculateSpendRequest
}

func (r SpendAPIGatewayCalculateSpendRequest) GatewayCalculateSpendRequest(gatewayCalculateSpendRequest GatewayCalculateSpendRequest) SpendAPIGatewayCalculateSpendRequest {
	r.gatewayCalculateSpendRequest = &gatewayCalculateSpendRequest
	return r
}

func (r SpendAPIGatewayCalculateSpendRequest) Execute() (*GatewayCalculateSpend200Response, *http.Response, error) {
	return r.ApiService.GatewayCalculateSpendExecute(r)
}

/*
GatewayCalculateSpend Calculate spend for request

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SpendAPIGatewayCalculateSpendRequest
*/
func (a *SpendAPIService) GatewayCalculateSpend(ctx context.Context) SpendAPIGatewayCalculateSpendRequest {
	return SpendAPIGatewayCalculateSpendRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GatewayCalculateSpend200Response
func (a *SpendAPIService) GatewayCalculateSpendExecute(r SpendAPIGatewayCalculateSpendRequest) (*GatewayCalculateSpend200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GatewayCalculateSpend200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpendAPIService.GatewayCalculateSpend")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/spend/calculate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gatewayCalculateSpendRequest == nil {
		return localVarReturnValue, nil, reportError("gatewayCalculateSpendRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gatewayCalculateSpendRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpendAPIGatewayGetSpendLogsRequest struct {
	ctx        context.Context
	ApiService *SpendAPIService
	userId     *string
	teamId     *string
	startDate  *string
	endDate    *string
}

func (r SpendAPIGatewayGetSpendLogsRequest) UserId(userId string) SpendAPIGatewayGetSpendLogsRequest {
	r.userId = &userId
	return r
}

func (r SpendAPIGatewayGetSpendLogsRequest) TeamId(teamId string) SpendAPIGatewayGetSpendLogsRequest {
	r.teamId = &teamId
	return r
}

func (r SpendAPIGatewayGetSpendLogsRequest) StartDate(startDate string) SpendAPIGatewayGetSpendLogsRequest {
	r.startDate = &startDate
	return r
}

func (r SpendAPIGatewayGetSpendLogsRequest) EndDate(endDate string) SpendAPIGatewayGetSpendLogsRequest {
	r.endDate = &endDate
	return r
}

func (r SpendAPIGatewayGetSpendLogsRequest) Execute() ([]GatewayGetSpendLogs200ResponseInner, *http.Response, error) {
	return r.ApiService.GatewayGetSpendLogsExecute(r)
}

/*
GatewayGetSpendLogs Get spend logs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SpendAPIGatewayGetSpendLogsRequest
*/
func (a *SpendAPIService) GatewayGetSpendLogs(ctx context.Context) SpendAPIGatewayGetSpendLogsRequest {
	return SpendAPIGatewayGetSpendLogsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []GatewayGetSpendLogs200ResponseInner
func (a *SpendAPIService) GatewayGetSpendLogsExecute(r SpendAPIGatewayGetSpendLogsRequest) ([]GatewayGetSpendLogs200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []GatewayGetSpendLogs200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpendAPIService.GatewayGetSpendLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/spend/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.teamId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "team_id", r.teamId, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
