/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// DatasetsAPIService DatasetsAPI service
type DatasetsAPIService service

type DatasetsAPIEvalsPostV1EvalsDatasetItemsRequest struct {
	ctx                    context.Context
	ApiService             *DatasetsAPIService
	evalsDatasetItemCreate *EvalsDatasetItemCreate
}

func (r DatasetsAPIEvalsPostV1EvalsDatasetItemsRequest) EvalsDatasetItemCreate(evalsDatasetItemCreate EvalsDatasetItemCreate) DatasetsAPIEvalsPostV1EvalsDatasetItemsRequest {
	r.evalsDatasetItemCreate = &evalsDatasetItemCreate
	return r
}

func (r DatasetsAPIEvalsPostV1EvalsDatasetItemsRequest) Execute() (*EvalsDatasetItem, *http.Response, error) {
	return r.ApiService.EvalsPostV1EvalsDatasetItemsExecute(r)
}

/*
EvalsPostV1EvalsDatasetItems Add an item (input + optional expected output) to a dataset

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DatasetsAPIEvalsPostV1EvalsDatasetItemsRequest
*/
func (a *DatasetsAPIService) EvalsPostV1EvalsDatasetItems(ctx context.Context) DatasetsAPIEvalsPostV1EvalsDatasetItemsRequest {
	return DatasetsAPIEvalsPostV1EvalsDatasetItemsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EvalsDatasetItem
func (a *DatasetsAPIService) EvalsPostV1EvalsDatasetItemsExecute(r DatasetsAPIEvalsPostV1EvalsDatasetItemsRequest) (*EvalsDatasetItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvalsDatasetItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatasetsAPIService.EvalsPostV1EvalsDatasetItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/dataset-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evalsDatasetItemCreate == nil {
		return localVarReturnValue, nil, reportError("evalsDatasetItemCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evalsDatasetItemCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DatasetsAPIEvalsPostV1EvalsDatasetsRequest struct {
	ctx                context.Context
	ApiService         *DatasetsAPIService
	evalsDatasetCreate *EvalsDatasetCreate
}

func (r DatasetsAPIEvalsPostV1EvalsDatasetsRequest) EvalsDatasetCreate(evalsDatasetCreate EvalsDatasetCreate) DatasetsAPIEvalsPostV1EvalsDatasetsRequest {
	r.evalsDatasetCreate = &evalsDatasetCreate
	return r
}

func (r DatasetsAPIEvalsPostV1EvalsDatasetsRequest) Execute() (*EvalsDataset, *http.Response, error) {
	return r.ApiService.EvalsPostV1EvalsDatasetsExecute(r)
}

/*
EvalsPostV1EvalsDatasets Create a dataset

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DatasetsAPIEvalsPostV1EvalsDatasetsRequest
*/
func (a *DatasetsAPIService) EvalsPostV1EvalsDatasets(ctx context.Context) DatasetsAPIEvalsPostV1EvalsDatasetsRequest {
	return DatasetsAPIEvalsPostV1EvalsDatasetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EvalsDataset
func (a *DatasetsAPIService) EvalsPostV1EvalsDatasetsExecute(r DatasetsAPIEvalsPostV1EvalsDatasetsRequest) (*EvalsDataset, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvalsDataset
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatasetsAPIService.EvalsPostV1EvalsDatasets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evalsDatasetCreate == nil {
		return localVarReturnValue, nil, reportError("evalsDatasetCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evalsDatasetCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
