/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// SearchAPIAPIService SearchAPIAPI service
type SearchAPIAPIService service

type SearchAPIAPICloudProductControllerSearchDocsRequest struct {
	ctx                                     context.Context
	ApiService                              *SearchAPIAPIService
	cloudProductControllerSearchDocsRequest *CloudProductControllerSearchDocsRequest
	store                                   *string
}

func (r SearchAPIAPICloudProductControllerSearchDocsRequest) CloudProductControllerSearchDocsRequest(cloudProductControllerSearchDocsRequest CloudProductControllerSearchDocsRequest) SearchAPIAPICloudProductControllerSearchDocsRequest {
	r.cloudProductControllerSearchDocsRequest = &cloudProductControllerSearchDocsRequest
	return r
}

// Optional store/index selector (e.g. bot-docs).
func (r SearchAPIAPICloudProductControllerSearchDocsRequest) Store(store string) SearchAPIAPICloudProductControllerSearchDocsRequest {
	r.store = &store
	return r
}

func (r SearchAPIAPICloudProductControllerSearchDocsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudProductControllerSearchDocsExecute(r)
}

/*
CloudProductControllerSearchDocs Method for CloudProductControllerSearchDocs

Hybrid full-text + vector search over an indexed document store.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SearchAPIAPICloudProductControllerSearchDocsRequest
*/
func (a *SearchAPIAPIService) CloudProductControllerSearchDocs(ctx context.Context) SearchAPIAPICloudProductControllerSearchDocsRequest {
	return SearchAPIAPICloudProductControllerSearchDocsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *SearchAPIAPIService) CloudProductControllerSearchDocsExecute(r SearchAPIAPICloudProductControllerSearchDocsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIAPIService.CloudProductControllerSearchDocs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search-docs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudProductControllerSearchDocsRequest == nil {
		return localVarReturnValue, nil, reportError("cloudProductControllerSearchDocsRequest is required and must be specified")
	}

	if r.store != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudProductControllerSearchDocsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
