/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// EmbedStatusAPIService EmbedStatusAPI service
type EmbedStatusAPIService service

type EmbedStatusAPICloudGetV1EmbedStatusRequest struct {
	ctx        context.Context
	ApiService *EmbedStatusAPIService
	app        *string
}

// App is the embedded app to report on: cms (Content Studio), erp or help.
func (r EmbedStatusAPICloudGetV1EmbedStatusRequest) App(app string) EmbedStatusAPICloudGetV1EmbedStatusRequest {
	r.app = &app
	return r
}

func (r EmbedStatusAPICloudGetV1EmbedStatusRequest) Execute() (*CloudEmbedStatusResp, *http.Response, error) {
	return r.ApiService.CloudGetV1EmbedStatusExecute(r)
}

/*
CloudGetV1EmbedStatus EmbedStatus reports whether one of this brand's shared embedded apps (cms, erp, help) may be framed by the caller and is actually running, so a console module can choose between the embed and the provision panel.

EmbedStatus reports whether one of this brand's shared embedded apps (cms, erp,
help) may be framed by the caller and is actually running, so a console module
can choose between the embed and the provision panel.

It answers two questions the browser cannot answer for itself. ENTITLEMENT is
server-authoritative: each app is a single shared per-BRAND instance, so only a
member of the owning brand org — or a SuperAdmin — is given the embed URL; every
other caller gets phase "not-entitled" and no URL. REACHABILITY is a probe of
that origin, which a cross-origin page cannot read for itself.

The probed host is always <app>.<this deployment's own brand domain>: no part of
it comes from the request, so this can never be steered into probing an
arbitrary origin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EmbedStatusAPICloudGetV1EmbedStatusRequest
*/
func (a *EmbedStatusAPIService) CloudGetV1EmbedStatus(ctx context.Context) EmbedStatusAPICloudGetV1EmbedStatusRequest {
	return EmbedStatusAPICloudGetV1EmbedStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudEmbedStatusResp
func (a *EmbedStatusAPIService) CloudGetV1EmbedStatusExecute(r EmbedStatusAPICloudGetV1EmbedStatusRequest) (*CloudEmbedStatusResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudEmbedStatusResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmbedStatusAPIService.CloudGetV1EmbedStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/embed-status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.app != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app", r.app, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
