/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// TeamAPIService TeamAPI service
type TeamAPIService service

type TeamAPICloudDeleteV1TeamAccountCookieRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
}

func (r TeamAPICloudDeleteV1TeamAccountCookieRequest) Execute() (*CloudCookieAck, *http.Response, error) {
	return r.ApiService.CloudDeleteV1TeamAccountCookieExecute(r)
}

/*
CloudDeleteV1TeamAccountCookie ClearCookie signs this browser out of team by expiring the HttpOnly account-token cookie the OAuth callback set.

ClearCookie signs this browser out of team by expiring the HttpOnly
account-token cookie the OAuth callback set. It is the counterpart of the
cookie PUT, it takes nothing — the cookie it clears is named by this service,
never by the caller — and it is unconditional: a caller with no cookie, an
expired one or a forged one all get the same acknowledgement, because clearing
something that is not there is the same outcome as clearing something that is.

It clears ONLY the team session cookie. The IAM access-token cookie the same
callback set is a different credential with a different lifetime and is left
alone, so this is a team sign-out, not a platform one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudDeleteV1TeamAccountCookieRequest
*/
func (a *TeamAPIService) CloudDeleteV1TeamAccountCookie(ctx context.Context) TeamAPICloudDeleteV1TeamAccountCookieRequest {
	return TeamAPICloudDeleteV1TeamAccountCookieRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCookieAck
func (a *TeamAPIService) CloudDeleteV1TeamAccountCookieExecute(r TeamAPICloudDeleteV1TeamAccountCookieRequest) (*CloudCookieAck, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCookieAck
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudDeleteV1TeamAccountCookie")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/account/cookie"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TeamAPICloudDeleteV1TeamFilesWorkspaceFilenameRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
	workspace  string
	filename   string
	file       *string
}

// File is the blob id, and wins over the path segment when both are present.
func (r TeamAPICloudDeleteV1TeamFilesWorkspaceFilenameRequest) File(file string) TeamAPICloudDeleteV1TeamFilesWorkspaceFilenameRequest {
	r.file = &file
	return r
}

func (r TeamAPICloudDeleteV1TeamFilesWorkspaceFilenameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1TeamFilesWorkspaceFilenameExecute(r)
}

/*
CloudDeleteV1TeamFilesWorkspaceFilename DeleteBlob removes one blob from a workspace's file store.

DeleteBlob removes one blob from a workspace's file store. The caller must
hold a verified session AND be a member of the workspace; anything else — an
unknown workspace, another tenant's workspace, a workspace the caller is not
in — answers the same 404, so a probe learns nothing about what exists.

It is IDEMPOTENT: deleting a present or an absent blob both answer 204, so a
delete never confirms a blob's existence and a foreign blob id (a physical key
the caller can never name into another tenant's box) is a harmless no-op. A
storage backend that is unavailable fails closed with 502 rather than lying
about success.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspace Workspace is the workspace uuid the blob belongs to, from the path.
	@param filename Filename is the last path segment, which the front sets to the blob id when it sends no explicit `file`.
	@return TeamAPICloudDeleteV1TeamFilesWorkspaceFilenameRequest
*/
func (a *TeamAPIService) CloudDeleteV1TeamFilesWorkspaceFilename(ctx context.Context, workspace string, filename string) TeamAPICloudDeleteV1TeamFilesWorkspaceFilenameRequest {
	return TeamAPICloudDeleteV1TeamFilesWorkspaceFilenameRequest{
		ApiService: a,
		ctx:        ctx,
		workspace:  workspace,
		filename:   filename,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudDeleteV1TeamFilesWorkspaceFilenameExecute(r TeamAPICloudDeleteV1TeamFilesWorkspaceFilenameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudDeleteV1TeamFilesWorkspaceFilename")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/files/{workspace}/{filename}"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace"+"}", url.PathEscape(parameterValueToString(r.workspace, "workspace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"filename"+"}", url.PathEscape(parameterValueToString(r.filename, "filename")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.file != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file", r.file, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamAccountAuthByProviderRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
	provider   string
}

func (r TeamAPICloudGetV1TeamAccountAuthByProviderRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1TeamAccountAuthByProviderExecute(r)
}

/*
CloudGetV1TeamAccountAuthByProvider Method for CloudGetV1TeamAccountAuthByProvider

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider
	@return TeamAPICloudGetV1TeamAccountAuthByProviderRequest
*/
func (a *TeamAPIService) CloudGetV1TeamAccountAuthByProvider(ctx context.Context, provider string) TeamAPICloudGetV1TeamAccountAuthByProviderRequest {
	return TeamAPICloudGetV1TeamAccountAuthByProviderRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudGetV1TeamAccountAuthByProviderExecute(r TeamAPICloudGetV1TeamAccountAuthByProviderRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamAccountAuthByProvider")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/account/auth/{provider}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamAccountAuthByProviderCallbackRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
	provider   string
}

func (r TeamAPICloudGetV1TeamAccountAuthByProviderCallbackRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1TeamAccountAuthByProviderCallbackExecute(r)
}

/*
CloudGetV1TeamAccountAuthByProviderCallback Method for CloudGetV1TeamAccountAuthByProviderCallback

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider
	@return TeamAPICloudGetV1TeamAccountAuthByProviderCallbackRequest
*/
func (a *TeamAPIService) CloudGetV1TeamAccountAuthByProviderCallback(ctx context.Context, provider string) TeamAPICloudGetV1TeamAccountAuthByProviderCallbackRequest {
	return TeamAPICloudGetV1TeamAccountAuthByProviderCallbackRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudGetV1TeamAccountAuthByProviderCallbackExecute(r TeamAPICloudGetV1TeamAccountAuthByProviderCallbackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamAccountAuthByProviderCallback")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/account/auth/{provider}/callback"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamAccountProvidersRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
}

func (r TeamAPICloudGetV1TeamAccountProvidersRequest) Execute() ([]CloudProviderInfo, *http.Response, error) {
	return r.ApiService.CloudGetV1TeamAccountProvidersExecute(r)
}

/*
CloudGetV1TeamAccountProviders ListProviders returns the identity providers this deployment starts a login with.

ListProviders returns the identity providers this deployment starts a login
with. It is always exactly one — hanzo.id. Which identities that door accepts
(Google, GitHub, passkey, password) is IAM's question, answered on IAM's own
page next to the identity check and the training-data consent that must
precede a first session; listing them here would be a second place holding
that answer, and the two drift the moment IAM gains or drops one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudGetV1TeamAccountProvidersRequest
*/
func (a *TeamAPIService) CloudGetV1TeamAccountProviders(ctx context.Context) TeamAPICloudGetV1TeamAccountProvidersRequest {
	return TeamAPICloudGetV1TeamAccountProvidersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudProviderInfo
func (a *TeamAPIService) CloudGetV1TeamAccountProvidersExecute(r TeamAPICloudGetV1TeamAccountProvidersRequest) ([]CloudProviderInfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudProviderInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamAccountProviders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/account/providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamBillingPlanRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
}

func (r TeamAPICloudGetV1TeamBillingPlanRequest) Execute() (*CloudPlanInfo, *http.Response, error) {
	return r.ApiService.CloudGetV1TeamBillingPlanExecute(r)
}

/*
CloudGetV1TeamBillingPlan ReadPlan returns the plan and seat counts for the caller's OWN org, resolved from the VERIFIED team session token — never a client header.

ReadPlan returns the plan and seat counts for the caller's OWN org, resolved
from the VERIFIED team session token — never a client header. Seats and guests
are the org's distinct active human members (a bot member is not a seat); the
plan comes from the licensing entitlement and is empty when that read is
unavailable, so the page shows an honest dash rather than a fabricated tier. A
caller with no verified session gets 401, and a real seat-read failure is a
502 rather than a false "0 members".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudGetV1TeamBillingPlanRequest
*/
func (a *TeamAPIService) CloudGetV1TeamBillingPlan(ctx context.Context) TeamAPICloudGetV1TeamBillingPlanRequest {
	return TeamAPICloudGetV1TeamBillingPlanRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPlanInfo
func (a *TeamAPIService) CloudGetV1TeamBillingPlanExecute(r TeamAPICloudGetV1TeamBillingPlanRequest) (*CloudPlanInfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPlanInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamBillingPlan")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/billing/plan"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamBillingUiRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
}

func (r TeamAPICloudGetV1TeamBillingUiRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1TeamBillingUiExecute(r)
}

/*
CloudGetV1TeamBillingUi Method for CloudGetV1TeamBillingUi

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudGetV1TeamBillingUiRequest
*/
func (a *TeamAPIService) CloudGetV1TeamBillingUi(ctx context.Context) TeamAPICloudGetV1TeamBillingUiRequest {
	return TeamAPICloudGetV1TeamBillingUiRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudGetV1TeamBillingUiExecute(r TeamAPICloudGetV1TeamBillingUiRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamBillingUi")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/billing/ui"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamBillingUiByWildcard1Request struct {
	ctx        context.Context
	ApiService *TeamAPIService
	wildcard1  string
}

func (r TeamAPICloudGetV1TeamBillingUiByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1TeamBillingUiByWildcard1Execute(r)
}

/*
CloudGetV1TeamBillingUiByWildcard1 Method for CloudGetV1TeamBillingUiByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return TeamAPICloudGetV1TeamBillingUiByWildcard1Request
*/
func (a *TeamAPIService) CloudGetV1TeamBillingUiByWildcard1(ctx context.Context, wildcard1 string) TeamAPICloudGetV1TeamBillingUiByWildcard1Request {
	return TeamAPICloudGetV1TeamBillingUiByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudGetV1TeamBillingUiByWildcard1Execute(r TeamAPICloudGetV1TeamBillingUiByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamBillingUiByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/billing/ui/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamBotsRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
}

func (r TeamAPICloudGetV1TeamBotsRequest) Execute() (*CloudBotRoster, *http.Response, error) {
	return r.ApiService.CloudGetV1TeamBotsExecute(r)
}

/*
CloudGetV1TeamBots ListBots returns the caller org's bot members — the org's agents projected as the workspace Employees they become, each with the member account uuid and Person reference the roster addresses it by.

ListBots returns the caller org's bot members — the org's agents projected as
the workspace Employees they become, each with the member account uuid and
Person reference the roster addresses it by. An agents subsystem that is not
mounted answers an empty list, never an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudGetV1TeamBotsRequest
*/
func (a *TeamAPIService) CloudGetV1TeamBots(ctx context.Context) TeamAPICloudGetV1TeamBotsRequest {
	return TeamAPICloudGetV1TeamBotsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBotRoster
func (a *TeamAPIService) CloudGetV1TeamBotsExecute(r TeamAPICloudGetV1TeamBotsRequest) (*CloudBotRoster, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBotRoster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamBots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/bots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamFilesByWorkspaceByFilenameRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
	workspace  string
	filename   string
}

func (r TeamAPICloudGetV1TeamFilesByWorkspaceByFilenameRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1TeamFilesByWorkspaceByFilenameExecute(r)
}

/*
CloudGetV1TeamFilesByWorkspaceByFilename Method for CloudGetV1TeamFilesByWorkspaceByFilename

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspace
	@param filename
	@return TeamAPICloudGetV1TeamFilesByWorkspaceByFilenameRequest
*/
func (a *TeamAPIService) CloudGetV1TeamFilesByWorkspaceByFilename(ctx context.Context, workspace string, filename string) TeamAPICloudGetV1TeamFilesByWorkspaceByFilenameRequest {
	return TeamAPICloudGetV1TeamFilesByWorkspaceByFilenameRequest{
		ApiService: a,
		ctx:        ctx,
		workspace:  workspace,
		filename:   filename,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudGetV1TeamFilesByWorkspaceByFilenameExecute(r TeamAPICloudGetV1TeamFilesByWorkspaceByFilenameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamFilesByWorkspaceByFilename")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/files/{workspace}/{filename}"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace"+"}", url.PathEscape(parameterValueToString(r.workspace, "workspace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"filename"+"}", url.PathEscape(parameterValueToString(r.filename, "filename")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamTransactorApiV1StatisticsRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
	token      *string
}

// Token is the workspace token minted by selectWorkspace.
func (r TeamAPICloudGetV1TeamTransactorApiV1StatisticsRequest) Token(token string) TeamAPICloudGetV1TeamTransactorApiV1StatisticsRequest {
	r.token = &token
	return r
}

func (r TeamAPICloudGetV1TeamTransactorApiV1StatisticsRequest) Execute() (*CloudStatsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1TeamTransactorApiV1StatisticsExecute(r)
}

/*
CloudGetV1TeamTransactorApiV1Statistics Statistics returns the transactor's live sessions for the workspace the caller's token names — the endpoint the front's workspace switcher and server panel poll on the transactor base.

Statistics returns the transactor's live sessions for the workspace the
caller's token names — the endpoint the front's workspace switcher and server
panel poll on the transactor base. The token is verified exactly like the
WebSocket upgrade is, and activeSessions carries ONLY that token's own
workspace, never another tenant's sessions. An invalid or expired token is
401.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudGetV1TeamTransactorApiV1StatisticsRequest
*/
func (a *TeamAPIService) CloudGetV1TeamTransactorApiV1Statistics(ctx context.Context) TeamAPICloudGetV1TeamTransactorApiV1StatisticsRequest {
	return TeamAPICloudGetV1TeamTransactorApiV1StatisticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStatsOut
func (a *TeamAPIService) CloudGetV1TeamTransactorApiV1StatisticsExecute(r TeamAPICloudGetV1TeamTransactorApiV1StatisticsRequest) (*CloudStatsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStatsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamTransactorApiV1Statistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/transactor/api/v1/statistics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamTransactorByTokenRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
	token      string
}

func (r TeamAPICloudGetV1TeamTransactorByTokenRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1TeamTransactorByTokenExecute(r)
}

/*
CloudGetV1TeamTransactorByToken Method for CloudGetV1TeamTransactorByToken

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param token
	@return TeamAPICloudGetV1TeamTransactorByTokenRequest
*/
func (a *TeamAPIService) CloudGetV1TeamTransactorByToken(ctx context.Context, token string) TeamAPICloudGetV1TeamTransactorByTokenRequest {
	return TeamAPICloudGetV1TeamTransactorByTokenRequest{
		ApiService: a,
		ctx:        ctx,
		token:      token,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudGetV1TeamTransactorByTokenExecute(r TeamAPICloudGetV1TeamTransactorByTokenRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamTransactorByToken")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/transactor/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudGetV1TeamTransactorStatisticsRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
	token      *string
}

// Token is the workspace token minted by selectWorkspace.
func (r TeamAPICloudGetV1TeamTransactorStatisticsRequest) Token(token string) TeamAPICloudGetV1TeamTransactorStatisticsRequest {
	r.token = &token
	return r
}

func (r TeamAPICloudGetV1TeamTransactorStatisticsRequest) Execute() (*CloudStatsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1TeamTransactorStatisticsExecute(r)
}

/*
CloudGetV1TeamTransactorStatistics Statistics returns the transactor's live sessions for the workspace the caller's token names — the endpoint the front's workspace switcher and server panel poll on the transactor base.

Statistics returns the transactor's live sessions for the workspace the
caller's token names — the endpoint the front's workspace switcher and server
panel poll on the transactor base. The token is verified exactly like the
WebSocket upgrade is, and activeSessions carries ONLY that token's own
workspace, never another tenant's sessions. An invalid or expired token is
401.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudGetV1TeamTransactorStatisticsRequest
*/
func (a *TeamAPIService) CloudGetV1TeamTransactorStatistics(ctx context.Context) TeamAPICloudGetV1TeamTransactorStatisticsRequest {
	return TeamAPICloudGetV1TeamTransactorStatisticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStatsOut
func (a *TeamAPIService) CloudGetV1TeamTransactorStatisticsExecute(r TeamAPICloudGetV1TeamTransactorStatisticsRequest) (*CloudStatsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStatsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudGetV1TeamTransactorStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/transactor/statistics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TeamAPICloudPostV1TeamAccountRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
}

func (r TeamAPICloudPostV1TeamAccountRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1TeamAccountExecute(r)
}

/*
CloudPostV1TeamAccount Method for CloudPostV1TeamAccount

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudPostV1TeamAccountRequest
*/
func (a *TeamAPIService) CloudPostV1TeamAccount(ctx context.Context) TeamAPICloudPostV1TeamAccountRequest {
	return TeamAPICloudPostV1TeamAccountRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudPostV1TeamAccountExecute(r TeamAPICloudPostV1TeamAccountRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudPostV1TeamAccount")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/account"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudPostV1TeamBotsSyncRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
}

func (r TeamAPICloudPostV1TeamBotsSyncRequest) Execute() (*CloudBotSync, *http.Response, error) {
	return r.ApiService.CloudPostV1TeamBotsSyncExecute(r)
}

/*
CloudPostV1TeamBotsSync SyncBots re-projects the caller org's agents as workspace members into EVERY workspace of the org, and removes the ones whose agent is gone.

SyncBots re-projects the caller org's agents as workspace members into EVERY
workspace of the org, and removes the ones whose agent is gone. It is
idempotent, and admin only: mutating a workspace's roster requires the
gateway-minted admin flag, which a client can never forge. It answers how many
roster entries the reconcile touched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudPostV1TeamBotsSyncRequest
*/
func (a *TeamAPIService) CloudPostV1TeamBotsSync(ctx context.Context) TeamAPICloudPostV1TeamBotsSyncRequest {
	return TeamAPICloudPostV1TeamBotsSyncRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBotSync
func (a *TeamAPIService) CloudPostV1TeamBotsSyncExecute(r TeamAPICloudPostV1TeamBotsSyncRequest) (*CloudBotSync, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBotSync
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudPostV1TeamBotsSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/bots/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TeamAPICloudPostV1TeamFilesByWorkspaceRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
	workspace  string
}

func (r TeamAPICloudPostV1TeamFilesByWorkspaceRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1TeamFilesByWorkspaceExecute(r)
}

/*
CloudPostV1TeamFilesByWorkspace Method for CloudPostV1TeamFilesByWorkspace

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspace
	@return TeamAPICloudPostV1TeamFilesByWorkspaceRequest
*/
func (a *TeamAPIService) CloudPostV1TeamFilesByWorkspace(ctx context.Context, workspace string) TeamAPICloudPostV1TeamFilesByWorkspaceRequest {
	return TeamAPICloudPostV1TeamFilesByWorkspaceRequest{
		ApiService: a,
		ctx:        ctx,
		workspace:  workspace,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudPostV1TeamFilesByWorkspaceExecute(r TeamAPICloudPostV1TeamFilesByWorkspaceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudPostV1TeamFilesByWorkspace")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/files/{workspace}"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace"+"}", url.PathEscape(parameterValueToString(r.workspace, "workspace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TeamAPICloudPutV1TeamAccountCookieRequest struct {
	ctx        context.Context
	ApiService *TeamAPIService
}

func (r TeamAPICloudPutV1TeamAccountCookieRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPutV1TeamAccountCookieExecute(r)
}

/*
CloudPutV1TeamAccountCookie Method for CloudPutV1TeamAccountCookie

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TeamAPICloudPutV1TeamAccountCookieRequest
*/
func (a *TeamAPIService) CloudPutV1TeamAccountCookie(ctx context.Context) TeamAPICloudPutV1TeamAccountCookieRequest {
	return TeamAPICloudPutV1TeamAccountCookieRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *TeamAPIService) CloudPutV1TeamAccountCookieExecute(r TeamAPICloudPutV1TeamAccountCookieRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamAPIService.CloudPutV1TeamAccountCookie")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/team/account/cookie"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
