/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SettingsAPIService SettingsAPI service
type SettingsAPIService service

type SettingsAPICloudGetV1SettingsProductRequest struct {
	ctx        context.Context
	ApiService *SettingsAPIService
	product    string
}

func (r SettingsAPICloudGetV1SettingsProductRequest) Execute() (*CloudSettingsView, *http.Response, error) {
	return r.ApiService.CloudGetV1SettingsProductExecute(r)
}

/*
CloudGetV1SettingsProduct GetSettings reads the caller org's configuration for one product, with every secret field MASKED — only the names of the set secrets come back, never their values, which live in KMS.

GetSettings reads the caller org's configuration for one product, with every
secret field MASKED — only the names of the set secrets come back, never their
values, which live in KMS. A product the org has never configured is not a 404:
it answers 200 with an empty config object, so the console's Settings tab always
renders and merges its own display defaults on top.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param product Product is the catalog slug, from the path. Must match ^[a-z0-9][a-z0-9._-]{0,62}$.
	@return SettingsAPICloudGetV1SettingsProductRequest
*/
func (a *SettingsAPIService) CloudGetV1SettingsProduct(ctx context.Context, product string) SettingsAPICloudGetV1SettingsProductRequest {
	return SettingsAPICloudGetV1SettingsProductRequest{
		ApiService: a,
		ctx:        ctx,
		product:    product,
	}
}

// Execute executes the request
//
//	@return CloudSettingsView
func (a *SettingsAPIService) CloudGetV1SettingsProductExecute(r SettingsAPICloudGetV1SettingsProductRequest) (*CloudSettingsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSettingsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsAPIService.CloudGetV1SettingsProduct")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/settings/{product}"
	localVarPath = strings.Replace(localVarPath, "{"+"product"+"}", url.PathEscape(parameterValueToString(r.product, "product")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SettingsAPICloudPutV1SettingsProductRequest struct {
	ctx              context.Context
	ApiService       *SettingsAPIService
	product          string
	cloudSettingsReq *CloudSettingsReq
}

func (r SettingsAPICloudPutV1SettingsProductRequest) CloudSettingsReq(cloudSettingsReq CloudSettingsReq) SettingsAPICloudPutV1SettingsProductRequest {
	r.cloudSettingsReq = &cloudSettingsReq
	return r
}

func (r SettingsAPICloudPutV1SettingsProductRequest) Execute() (*CloudSettingsView, *http.Response, error) {
	return r.ApiService.CloudPutV1SettingsProductExecute(r)
}

/*
CloudPutV1SettingsProduct PutSettings writes the caller org's configuration for one product and answers the stored result, secrets masked.

PutSettings writes the caller org's configuration for one product and answers the
stored result, secrets masked. Secret VALUES are sealed into KMS under
orgs/{org}/settings/{product}/{key} and never touch this deployment's database;
with no KMS configured a write that carries any secret is refused whole (503)
rather than dropping it or persisting it in the clear. A secret the body omits
keeps its stored value, so a partial write never silently clears one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param product Product is the catalog slug, from the PATH. zip binds the path last, so the URL names the product being written whatever a body field claims.
	@return SettingsAPICloudPutV1SettingsProductRequest
*/
func (a *SettingsAPIService) CloudPutV1SettingsProduct(ctx context.Context, product string) SettingsAPICloudPutV1SettingsProductRequest {
	return SettingsAPICloudPutV1SettingsProductRequest{
		ApiService: a,
		ctx:        ctx,
		product:    product,
	}
}

// Execute executes the request
//
//	@return CloudSettingsView
func (a *SettingsAPIService) CloudPutV1SettingsProductExecute(r SettingsAPICloudPutV1SettingsProductRequest) (*CloudSettingsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSettingsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsAPIService.CloudPutV1SettingsProduct")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/settings/{product}"
	localVarPath = strings.Replace(localVarPath, "{"+"product"+"}", url.PathEscape(parameterValueToString(r.product, "product")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudSettingsReq == nil {
		return localVarReturnValue, nil, reportError("cloudSettingsReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudSettingsReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SettingsAPISearchGetSettingsRequest struct {
	ctx        context.Context
	ApiService *SettingsAPIService
	indexUid   string
}

func (r SettingsAPISearchGetSettingsRequest) Execute() (*SearchSettings, *http.Response, error) {
	return r.ApiService.SearchGetSettingsExecute(r)
}

/*
SearchGetSettings Get all index settings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SettingsAPISearchGetSettingsRequest
*/
func (a *SettingsAPIService) SearchGetSettings(ctx context.Context, indexUid string) SettingsAPISearchGetSettingsRequest {
	return SettingsAPISearchGetSettingsRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSettings
func (a *SettingsAPIService) SearchGetSettingsExecute(r SettingsAPISearchGetSettingsRequest) (*SearchSettings, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsAPIService.SearchGetSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/settings"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SettingsAPISearchResetSettingsRequest struct {
	ctx        context.Context
	ApiService *SettingsAPIService
	indexUid   string
}

func (r SettingsAPISearchResetSettingsRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchResetSettingsExecute(r)
}

/*
SearchResetSettings Reset all settings to defaults

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SettingsAPISearchResetSettingsRequest
*/
func (a *SettingsAPIService) SearchResetSettings(ctx context.Context, indexUid string) SettingsAPISearchResetSettingsRequest {
	return SettingsAPISearchResetSettingsRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SettingsAPIService) SearchResetSettingsExecute(r SettingsAPISearchResetSettingsRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsAPIService.SearchResetSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/settings"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SettingsAPISearchUpdateSettingsRequest struct {
	ctx            context.Context
	ApiService     *SettingsAPIService
	indexUid       string
	searchSettings *SearchSettings
}

func (r SettingsAPISearchUpdateSettingsRequest) SearchSettings(searchSettings SearchSettings) SettingsAPISearchUpdateSettingsRequest {
	r.searchSettings = &searchSettings
	return r
}

func (r SettingsAPISearchUpdateSettingsRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchUpdateSettingsExecute(r)
}

/*
SearchUpdateSettings Update index settings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return SettingsAPISearchUpdateSettingsRequest
*/
func (a *SettingsAPIService) SearchUpdateSettings(ctx context.Context, indexUid string) SettingsAPISearchUpdateSettingsRequest {
	return SettingsAPISearchUpdateSettingsRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SettingsAPIService) SearchUpdateSettingsExecute(r SettingsAPISearchUpdateSettingsRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsAPIService.SearchUpdateSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/settings"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchSettings == nil {
		return localVarReturnValue, nil, reportError("searchSettings is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchSettings
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
