/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// EvalsEvaluatorsAPIService EvalsEvaluatorsAPI service
type EvalsEvaluatorsAPIService service

type EvalsEvaluatorsAPIV1EvalsEvaluatorsPostRequest struct {
	ctx            context.Context
	ApiService     *EvalsEvaluatorsAPIService
	evalsEvaluator *EvalsEvaluator
}

func (r EvalsEvaluatorsAPIV1EvalsEvaluatorsPostRequest) EvalsEvaluator(evalsEvaluator EvalsEvaluator) EvalsEvaluatorsAPIV1EvalsEvaluatorsPostRequest {
	r.evalsEvaluator = &evalsEvaluator
	return r
}

func (r EvalsEvaluatorsAPIV1EvalsEvaluatorsPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1EvalsEvaluatorsPostExecute(r)
}

/*
V1EvalsEvaluatorsPost Register an evaluator (pre-built metric or custom rubric)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvalsEvaluatorsAPIV1EvalsEvaluatorsPostRequest
*/
func (a *EvalsEvaluatorsAPIService) V1EvalsEvaluatorsPost(ctx context.Context) EvalsEvaluatorsAPIV1EvalsEvaluatorsPostRequest {
	return EvalsEvaluatorsAPIV1EvalsEvaluatorsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *EvalsEvaluatorsAPIService) V1EvalsEvaluatorsPostExecute(r EvalsEvaluatorsAPIV1EvalsEvaluatorsPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvalsEvaluatorsAPIService.V1EvalsEvaluatorsPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evals/evaluators"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evalsEvaluator == nil {
		return nil, reportError("evalsEvaluator is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evalsEvaluator
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
