/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)

// CloudSTTAPIAPIService CloudSTTAPIAPI service
type CloudSTTAPIAPIService service

type CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest struct {
	ctx        context.Context
	ApiService *CloudSTTAPIAPIService
	audio      *os.File
	storeId    *string
}

// The audio file to convert to text
func (r CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest) Audio(audio *os.File) CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest {
	r.audio = audio
	return r
}

// The store ID
func (r CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest) StoreId(storeId string) CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest {
	r.storeId = &storeId
	return r
}

func (r CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerProcessSpeechToTextExecute(r)
}

/*
CloudApiControllerProcessSpeechToText Api Controller Process Speech To Text

convert speech to text

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest
*/
func (a *CloudSTTAPIAPIService) CloudApiControllerProcessSpeechToText(ctx context.Context) CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest {
	return CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudSTTAPIAPIService) CloudApiControllerProcessSpeechToTextExecute(r CloudSTTAPIAPICloudApiControllerProcessSpeechToTextRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudSTTAPIAPIService.CloudApiControllerProcessSpeechToText")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/process-speech-to-text"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.audio == nil {
		return localVarReturnValue, nil, reportError("audio is required and must be specified")
	}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var audioLocalVarFormFileName string
	var audioLocalVarFileName string
	var audioLocalVarFileBytes []byte

	audioLocalVarFormFileName = "audio"
	audioLocalVarFile := r.audio

	if audioLocalVarFile != nil {
		fbs, _ := io.ReadAll(audioLocalVarFile)

		audioLocalVarFileBytes = fbs
		audioLocalVarFileName = audioLocalVarFile.Name()
		audioLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: audioLocalVarFileBytes, fileName: audioLocalVarFileName, formFileName: audioLocalVarFormFileName})
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "storeId", r.storeId, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
