/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// O11yMetricsAPIService O11yMetricsAPI service
type O11yMetricsAPIService service

type O11yMetricsAPIO11yPromLabelValuesRequest struct {
	ctx        context.Context
	ApiService *O11yMetricsAPIService
	name       string
	start      *string
	end        *string
	match      *[]string
}

func (r O11yMetricsAPIO11yPromLabelValuesRequest) Start(start string) O11yMetricsAPIO11yPromLabelValuesRequest {
	r.start = &start
	return r
}

func (r O11yMetricsAPIO11yPromLabelValuesRequest) End(end string) O11yMetricsAPIO11yPromLabelValuesRequest {
	r.end = &end
	return r
}

func (r O11yMetricsAPIO11yPromLabelValuesRequest) Match(match []string) O11yMetricsAPIO11yPromLabelValuesRequest {
	r.match = &match
	return r
}

func (r O11yMetricsAPIO11yPromLabelValuesRequest) Execute() (*O11yPromLabelValues200Response, *http.Response, error) {
	return r.ApiService.O11yPromLabelValuesExecute(r)
}

/*
O11yPromLabelValues Get metric label values

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return O11yMetricsAPIO11yPromLabelValuesRequest
*/
func (a *O11yMetricsAPIService) O11yPromLabelValues(ctx context.Context, name string) O11yMetricsAPIO11yPromLabelValuesRequest {
	return O11yMetricsAPIO11yPromLabelValuesRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return O11yPromLabelValues200Response
func (a *O11yMetricsAPIService) O11yPromLabelValuesExecute(r O11yMetricsAPIO11yPromLabelValuesRequest) (*O11yPromLabelValues200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yPromLabelValues200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yMetricsAPIService.O11yPromLabelValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/label/{name}/values"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.match != nil {
		t := *r.match
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "match[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "match[]", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yMetricsAPIO11yPromLabelsRequest struct {
	ctx        context.Context
	ApiService *O11yMetricsAPIService
	start      *string
	end        *string
	match      *[]string
}

func (r O11yMetricsAPIO11yPromLabelsRequest) Start(start string) O11yMetricsAPIO11yPromLabelsRequest {
	r.start = &start
	return r
}

func (r O11yMetricsAPIO11yPromLabelsRequest) End(end string) O11yMetricsAPIO11yPromLabelsRequest {
	r.end = &end
	return r
}

func (r O11yMetricsAPIO11yPromLabelsRequest) Match(match []string) O11yMetricsAPIO11yPromLabelsRequest {
	r.match = &match
	return r
}

func (r O11yMetricsAPIO11yPromLabelsRequest) Execute() (*O11yPromLabelValues200Response, *http.Response, error) {
	return r.ApiService.O11yPromLabelsExecute(r)
}

/*
O11yPromLabels List metric label names

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yMetricsAPIO11yPromLabelsRequest
*/
func (a *O11yMetricsAPIService) O11yPromLabels(ctx context.Context) O11yMetricsAPIO11yPromLabelsRequest {
	return O11yMetricsAPIO11yPromLabelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yPromLabelValues200Response
func (a *O11yMetricsAPIService) O11yPromLabelsExecute(r O11yMetricsAPIO11yPromLabelsRequest) (*O11yPromLabelValues200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yPromLabelValues200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yMetricsAPIService.O11yPromLabels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/labels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.match != nil {
		t := *r.match
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "match[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "match[]", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yMetricsAPIO11yPromQueryRequest struct {
	ctx        context.Context
	ApiService *O11yMetricsAPIService
	query      *string
	time       *string
	timeout    *string
}

// PromQL expression
func (r O11yMetricsAPIO11yPromQueryRequest) Query(query string) O11yMetricsAPIO11yPromQueryRequest {
	r.query = &query
	return r
}

// Evaluation timestamp
func (r O11yMetricsAPIO11yPromQueryRequest) Time(time string) O11yMetricsAPIO11yPromQueryRequest {
	r.time = &time
	return r
}

// Evaluation timeout (e.g. 30s)
func (r O11yMetricsAPIO11yPromQueryRequest) Timeout(timeout string) O11yMetricsAPIO11yPromQueryRequest {
	r.timeout = &timeout
	return r
}

func (r O11yMetricsAPIO11yPromQueryRequest) Execute() (*O11yMetricQueryResult, *http.Response, error) {
	return r.ApiService.O11yPromQueryExecute(r)
}

/*
O11yPromQuery Instant PromQL query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yMetricsAPIO11yPromQueryRequest
*/
func (a *O11yMetricsAPIService) O11yPromQuery(ctx context.Context) O11yMetricsAPIO11yPromQueryRequest {
	return O11yMetricsAPIO11yPromQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yMetricQueryResult
func (a *O11yMetricsAPIService) O11yPromQueryExecute(r O11yMetricsAPIO11yPromQueryRequest) (*O11yMetricQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yMetricQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yMetricsAPIService.O11yPromQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	if r.timeout != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeout", r.timeout, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v O11yError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yMetricsAPIO11yPromQueryRangeRequest struct {
	ctx        context.Context
	ApiService *O11yMetricsAPIService
	query      *string
	start      *string
	end        *string
	step       *string
	timeout    *string
}

func (r O11yMetricsAPIO11yPromQueryRangeRequest) Query(query string) O11yMetricsAPIO11yPromQueryRangeRequest {
	r.query = &query
	return r
}

func (r O11yMetricsAPIO11yPromQueryRangeRequest) Start(start string) O11yMetricsAPIO11yPromQueryRangeRequest {
	r.start = &start
	return r
}

func (r O11yMetricsAPIO11yPromQueryRangeRequest) End(end string) O11yMetricsAPIO11yPromQueryRangeRequest {
	r.end = &end
	return r
}

// Query resolution step (e.g. 15s, 1m)
func (r O11yMetricsAPIO11yPromQueryRangeRequest) Step(step string) O11yMetricsAPIO11yPromQueryRangeRequest {
	r.step = &step
	return r
}

func (r O11yMetricsAPIO11yPromQueryRangeRequest) Timeout(timeout string) O11yMetricsAPIO11yPromQueryRangeRequest {
	r.timeout = &timeout
	return r
}

func (r O11yMetricsAPIO11yPromQueryRangeRequest) Execute() (*O11yMetricQueryResult, *http.Response, error) {
	return r.ApiService.O11yPromQueryRangeExecute(r)
}

/*
O11yPromQueryRange Range PromQL query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yMetricsAPIO11yPromQueryRangeRequest
*/
func (a *O11yMetricsAPIService) O11yPromQueryRange(ctx context.Context) O11yMetricsAPIO11yPromQueryRangeRequest {
	return O11yMetricsAPIO11yPromQueryRangeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yMetricQueryResult
func (a *O11yMetricsAPIService) O11yPromQueryRangeExecute(r O11yMetricsAPIO11yPromQueryRangeRequest) (*O11yMetricQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yMetricQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yMetricsAPIService.O11yPromQueryRange")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/query_range"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.end == nil {
		return localVarReturnValue, nil, reportError("end is required and must be specified")
	}
	if r.step == nil {
		return localVarReturnValue, nil, reportError("step is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "step", r.step, "form", "")
	if r.timeout != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeout", r.timeout, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v O11yError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yMetricsAPIO11yPromSeriesRequest struct {
	ctx        context.Context
	ApiService *O11yMetricsAPIService
	match      *[]string
	start      *string
	end        *string
}

// Series selector (at least one required)
func (r O11yMetricsAPIO11yPromSeriesRequest) Match(match []string) O11yMetricsAPIO11yPromSeriesRequest {
	r.match = &match
	return r
}

func (r O11yMetricsAPIO11yPromSeriesRequest) Start(start string) O11yMetricsAPIO11yPromSeriesRequest {
	r.start = &start
	return r
}

func (r O11yMetricsAPIO11yPromSeriesRequest) End(end string) O11yMetricsAPIO11yPromSeriesRequest {
	r.end = &end
	return r
}

func (r O11yMetricsAPIO11yPromSeriesRequest) Execute() (*O11ySeriesResult, *http.Response, error) {
	return r.ApiService.O11yPromSeriesExecute(r)
}

/*
O11yPromSeries Find series by label matchers

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yMetricsAPIO11yPromSeriesRequest
*/
func (a *O11yMetricsAPIService) O11yPromSeries(ctx context.Context) O11yMetricsAPIO11yPromSeriesRequest {
	return O11yMetricsAPIO11yPromSeriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11ySeriesResult
func (a *O11yMetricsAPIService) O11yPromSeriesExecute(r O11yMetricsAPIO11yPromSeriesRequest) (*O11ySeriesResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11ySeriesResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yMetricsAPIService.O11yPromSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/series"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.match == nil {
		return localVarReturnValue, nil, reportError("match is required and must be specified")
	}

	{
		t := *r.match
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "match[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "match[]", t, "form", "multi")
		}
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
