/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CloudFileAPIAPIService CloudFileAPIAPI service
type CloudFileAPIAPIService service

type CloudFileAPIAPICloudApiControllerActivateFileRequest struct {
	ctx        context.Context
	ApiService *CloudFileAPIAPIService
	key        *string
	filename   *string
}

// The key of the file
func (r CloudFileAPIAPICloudApiControllerActivateFileRequest) Key(key string) CloudFileAPIAPICloudApiControllerActivateFileRequest {
	r.key = &key
	return r
}

// The name of the file
func (r CloudFileAPIAPICloudApiControllerActivateFileRequest) Filename(filename string) CloudFileAPIAPICloudApiControllerActivateFileRequest {
	r.filename = &filename
	return r
}

func (r CloudFileAPIAPICloudApiControllerActivateFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerActivateFileExecute(r)
}

/*
CloudApiControllerActivateFile Api Controller Activate File

activate file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudFileAPIAPICloudApiControllerActivateFileRequest
*/
func (a *CloudFileAPIAPIService) CloudApiControllerActivateFile(ctx context.Context) CloudFileAPIAPICloudApiControllerActivateFileRequest {
	return CloudFileAPIAPICloudApiControllerActivateFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *CloudFileAPIAPIService) CloudApiControllerActivateFileExecute(r CloudFileAPIAPICloudApiControllerActivateFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudFileAPIAPIService.CloudApiControllerActivateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/activate-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudFileAPIAPICloudApiControllerAddFileRequest struct {
	ctx        context.Context
	ApiService *CloudFileAPIAPIService
	store      *string
	key        *string
	isLeaf     *string
	filename   *string
}

// The store of the file
func (r CloudFileAPIAPICloudApiControllerAddFileRequest) Store(store string) CloudFileAPIAPICloudApiControllerAddFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r CloudFileAPIAPICloudApiControllerAddFileRequest) Key(key string) CloudFileAPIAPICloudApiControllerAddFileRequest {
	r.key = &key
	return r
}

// if is leaf
func (r CloudFileAPIAPICloudApiControllerAddFileRequest) IsLeaf(isLeaf string) CloudFileAPIAPICloudApiControllerAddFileRequest {
	r.isLeaf = &isLeaf
	return r
}

// The name of the file
func (r CloudFileAPIAPICloudApiControllerAddFileRequest) Filename(filename string) CloudFileAPIAPICloudApiControllerAddFileRequest {
	r.filename = &filename
	return r
}

func (r CloudFileAPIAPICloudApiControllerAddFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddFileExecute(r)
}

/*
CloudApiControllerAddFile Api Controller Add File

add file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudFileAPIAPICloudApiControllerAddFileRequest
*/
func (a *CloudFileAPIAPIService) CloudApiControllerAddFile(ctx context.Context) CloudFileAPIAPICloudApiControllerAddFileRequest {
	return CloudFileAPIAPICloudApiControllerAddFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *CloudFileAPIAPIService) CloudApiControllerAddFileExecute(r CloudFileAPIAPICloudApiControllerAddFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudFileAPIAPIService.CloudApiControllerAddFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudFileAPIAPICloudApiControllerDeleteFileRequest struct {
	ctx        context.Context
	ApiService *CloudFileAPIAPIService
	store      *string
	key        *string
	isLeaf     *string
}

// The store of the file
func (r CloudFileAPIAPICloudApiControllerDeleteFileRequest) Store(store string) CloudFileAPIAPICloudApiControllerDeleteFileRequest {
	r.store = &store
	return r
}

// The key of the file
func (r CloudFileAPIAPICloudApiControllerDeleteFileRequest) Key(key string) CloudFileAPIAPICloudApiControllerDeleteFileRequest {
	r.key = &key
	return r
}

// if is leaf
func (r CloudFileAPIAPICloudApiControllerDeleteFileRequest) IsLeaf(isLeaf string) CloudFileAPIAPICloudApiControllerDeleteFileRequest {
	r.isLeaf = &isLeaf
	return r
}

func (r CloudFileAPIAPICloudApiControllerDeleteFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerDeleteFileExecute(r)
}

/*
CloudApiControllerDeleteFile Api Controller Delete File

delete file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudFileAPIAPICloudApiControllerDeleteFileRequest
*/
func (a *CloudFileAPIAPIService) CloudApiControllerDeleteFile(ctx context.Context) CloudFileAPIAPICloudApiControllerDeleteFileRequest {
	return CloudFileAPIAPICloudApiControllerDeleteFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *CloudFileAPIAPIService) CloudApiControllerDeleteFileExecute(r CloudFileAPIAPICloudApiControllerDeleteFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudFileAPIAPIService.CloudApiControllerDeleteFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/delete-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.store == nil {
		return localVarReturnValue, nil, reportError("store is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.isLeaf == nil {
		return localVarReturnValue, nil, reportError("isLeaf is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "store", r.store, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isLeaf", r.isLeaf, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudFileAPIAPICloudApiControllerGetActiveFileRequest struct {
	ctx        context.Context
	ApiService *CloudFileAPIAPIService
	prefix     *string
}

// The prefix of the file
func (r CloudFileAPIAPICloudApiControllerGetActiveFileRequest) Prefix(prefix string) CloudFileAPIAPICloudApiControllerGetActiveFileRequest {
	r.prefix = &prefix
	return r
}

func (r CloudFileAPIAPICloudApiControllerGetActiveFileRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetActiveFileExecute(r)
}

/*
CloudApiControllerGetActiveFile Api Controller Get Active File

get active file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudFileAPIAPICloudApiControllerGetActiveFileRequest
*/
func (a *CloudFileAPIAPIService) CloudApiControllerGetActiveFile(ctx context.Context) CloudFileAPIAPICloudApiControllerGetActiveFileRequest {
	return CloudFileAPIAPICloudApiControllerGetActiveFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudFileAPIAPIService) CloudApiControllerGetActiveFileExecute(r CloudFileAPIAPICloudApiControllerGetActiveFileRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudFileAPIAPIService.CloudApiControllerGetActiveFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-active-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.prefix == nil {
		return localVarReturnValue, nil, reportError("prefix is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudFileAPIAPICloudApiControllerUpdateFileRequest struct {
	ctx             context.Context
	ApiService      *CloudFileAPIAPIService
	storeId         *string
	key             *string
	cloudObjectFile *CloudObjectFile
}

// The store id of the file
func (r CloudFileAPIAPICloudApiControllerUpdateFileRequest) StoreId(storeId string) CloudFileAPIAPICloudApiControllerUpdateFileRequest {
	r.storeId = &storeId
	return r
}

// The key of the file
func (r CloudFileAPIAPICloudApiControllerUpdateFileRequest) Key(key string) CloudFileAPIAPICloudApiControllerUpdateFileRequest {
	r.key = &key
	return r
}

// The details of the File
func (r CloudFileAPIAPICloudApiControllerUpdateFileRequest) CloudObjectFile(cloudObjectFile CloudObjectFile) CloudFileAPIAPICloudApiControllerUpdateFileRequest {
	r.cloudObjectFile = &cloudObjectFile
	return r
}

func (r CloudFileAPIAPICloudApiControllerUpdateFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUpdateFileExecute(r)
}

/*
CloudApiControllerUpdateFile Api Controller Update File

update file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudFileAPIAPICloudApiControllerUpdateFileRequest
*/
func (a *CloudFileAPIAPIService) CloudApiControllerUpdateFile(ctx context.Context) CloudFileAPIAPICloudApiControllerUpdateFileRequest {
	return CloudFileAPIAPICloudApiControllerUpdateFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *CloudFileAPIAPIService) CloudApiControllerUpdateFileExecute(r CloudFileAPIAPICloudApiControllerUpdateFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudFileAPIAPIService.CloudApiControllerUpdateFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/update-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeId == nil {
		return localVarReturnValue, nil, reportError("storeId is required and must be specified")
	}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.cloudObjectFile == nil {
		return localVarReturnValue, nil, reportError("cloudObjectFile is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "storeId", r.storeId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectFile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudFileAPIAPICloudApiControllerUploadFileRequest struct {
	ctx        context.Context
	ApiService *CloudFileAPIAPIService
	file       *string
	type_      *string
	name       *string
}

// The base64 encoded file data
func (r CloudFileAPIAPICloudApiControllerUploadFileRequest) File(file string) CloudFileAPIAPICloudApiControllerUploadFileRequest {
	r.file = &file
	return r
}

// The file type/extension
func (r CloudFileAPIAPICloudApiControllerUploadFileRequest) Type_(type_ string) CloudFileAPIAPICloudApiControllerUploadFileRequest {
	r.type_ = &type_
	return r
}

// The file name
func (r CloudFileAPIAPICloudApiControllerUploadFileRequest) Name(name string) CloudFileAPIAPICloudApiControllerUploadFileRequest {
	r.name = &name
	return r
}

func (r CloudFileAPIAPICloudApiControllerUploadFileRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUploadFileExecute(r)
}

/*
CloudApiControllerUploadFile Api Controller Upload File

upload file to IAM storage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudFileAPIAPICloudApiControllerUploadFileRequest
*/
func (a *CloudFileAPIAPIService) CloudApiControllerUploadFile(ctx context.Context) CloudFileAPIAPICloudApiControllerUploadFileRequest {
	return CloudFileAPIAPICloudApiControllerUploadFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *CloudFileAPIAPIService) CloudApiControllerUploadFileExecute(r CloudFileAPIAPICloudApiControllerUploadFileRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudFileAPIAPIService.CloudApiControllerUploadFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/upload-file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
