/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// TreasuryAPIService TreasuryAPI service
type TreasuryAPIService service

type TreasuryAPIGetTreasuryRequest struct {
	ctx        context.Context
	ApiService *TreasuryAPIService
}

func (r TreasuryAPIGetTreasuryRequest) Execute() (*TreasuryReport, *http.Response, error) {
	return r.ApiService.GetTreasuryExecute(r)
}

/*
GetTreasury Returns the reserve fund's health and the current revenue-share policy for any validated caller.

Returns the reserve fund's health and the current revenue-share
policy for any validated caller. It is a TRANSPARENCY view — a partner or
author can see that the pool backing their payouts is solvent — and NOT per-org
money, which is the customer's own commerce balance at /v1/billing/balance. The
policy is read-only here; only a SuperAdmin sets it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TreasuryAPIGetTreasuryRequest
*/
func (a *TreasuryAPIService) GetTreasury(ctx context.Context) TreasuryAPIGetTreasuryRequest {
	return TreasuryAPIGetTreasuryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TreasuryReport
func (a *TreasuryAPIService) GetTreasuryExecute(r TreasuryAPIGetTreasuryRequest) (*TreasuryReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TreasuryReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TreasuryAPIService.GetTreasury")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/treasury"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TreasuryAPIGetTreasuryAccountsRequest struct {
	ctx        context.Context
	ApiService *TreasuryAPIService
	scope      *string
	org        *string
}

// Scope is \&quot;house\&quot; to read the reserve/revenue/payout house accounts. SuperAdmin only.
func (r TreasuryAPIGetTreasuryAccountsRequest) Scope(scope string) TreasuryAPIGetTreasuryAccountsRequest {
	r.scope = &scope
	return r
}

// Org names another tenant to read. SuperAdmin only; ignored when scope&#x3D;house.
func (r TreasuryAPIGetTreasuryAccountsRequest) Org(org string) TreasuryAPIGetTreasuryAccountsRequest {
	r.org = &org
	return r
}

func (r TreasuryAPIGetTreasuryAccountsRequest) Execute() (*AccountsOut, *http.Response, error) {
	return r.ApiService.GetTreasuryAccountsExecute(r)
}

/*
GetTreasuryAccounts Returns the ledger accounts the caller may see, with their balances.

Returns the ledger accounts the caller may see, with their
balances. It is tenant-isolated SERVER-SIDE: an ordinary caller sees ONLY
accounts under its own "org:<tenant>:" prefix, never house accounts and never
another tenant's. A SuperAdmin may widen with ?scope=house (the reserve,
revenue and payout house accounts) or ?org=<tenant> — the only way to cross the
tenant boundary, and only for platform sudo. The answer is honestly empty until
a tenant has ledger postings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TreasuryAPIGetTreasuryAccountsRequest
*/
func (a *TreasuryAPIService) GetTreasuryAccounts(ctx context.Context) TreasuryAPIGetTreasuryAccountsRequest {
	return TreasuryAPIGetTreasuryAccountsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AccountsOut
func (a *TreasuryAPIService) GetTreasuryAccountsExecute(r TreasuryAPIGetTreasuryAccountsRequest) (*AccountsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccountsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TreasuryAPIService.GetTreasuryAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/treasury/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
