/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// IamUsersAPIService IamUsersAPI service
type IamUsersAPIService service

type IamUsersAPIIamApiControllerAddLdapRequest struct {
	ctx           context.Context
	ApiService    *IamUsersAPIService
	iamObjectLdap *IamObjectLdap
}

// The details of the ldap
func (r IamUsersAPIIamApiControllerAddLdapRequest) IamObjectLdap(iamObjectLdap IamObjectLdap) IamUsersAPIIamApiControllerAddLdapRequest {
	r.iamObjectLdap = &iamObjectLdap
	return r
}

func (r IamUsersAPIIamApiControllerAddLdapRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerAddLdapExecute(r)
}

/*
IamApiControllerAddLdap Api Controller Add Ldap

add ldap

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerAddLdapRequest
*/
func (a *IamUsersAPIService) IamApiControllerAddLdap(ctx context.Context) IamUsersAPIIamApiControllerAddLdapRequest {
	return IamUsersAPIIamApiControllerAddLdapRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerAddLdapExecute(r IamUsersAPIIamApiControllerAddLdapRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerAddLdap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/ldaps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectLdap == nil {
		return localVarReturnValue, nil, reportError("iamObjectLdap is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectLdap
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerAddUserRequest struct {
	ctx           context.Context
	ApiService    *IamUsersAPIService
	iamObjectUser *IamObjectUser
}

// The details of the user
func (r IamUsersAPIIamApiControllerAddUserRequest) IamObjectUser(iamObjectUser IamObjectUser) IamUsersAPIIamApiControllerAddUserRequest {
	r.iamObjectUser = &iamObjectUser
	return r
}

func (r IamUsersAPIIamApiControllerAddUserRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerAddUserExecute(r)
}

/*
IamApiControllerAddUser Api Controller Add User

add user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerAddUserRequest
*/
func (a *IamUsersAPIService) IamApiControllerAddUser(ctx context.Context) IamUsersAPIIamApiControllerAddUserRequest {
	return IamUsersAPIIamApiControllerAddUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerAddUserExecute(r IamUsersAPIIamApiControllerAddUserRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerAddUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectUser == nil {
		return localVarReturnValue, nil, reportError("iamObjectUser is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectUser
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerAddUserKeysRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
}

func (r IamUsersAPIIamApiControllerAddUserKeysRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerAddUserKeysExecute(r)
}

/*
IamApiControllerAddUserKeys Api Controller Add User Keys

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerAddUserKeysRequest
*/
func (a *IamUsersAPIService) IamApiControllerAddUserKeys(ctx context.Context) IamUsersAPIIamApiControllerAddUserKeysRequest {
	return IamUsersAPIIamApiControllerAddUserKeysRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *IamUsersAPIService) IamApiControllerAddUserKeysExecute(r IamUsersAPIIamApiControllerAddUserKeysRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerAddUserKeys")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/user-keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerCheckUserPasswordRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
}

func (r IamUsersAPIIamApiControllerCheckUserPasswordRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerCheckUserPasswordExecute(r)
}

/*
IamApiControllerCheckUserPassword Api Controller Check User Password

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerCheckUserPasswordRequest
*/
func (a *IamUsersAPIService) IamApiControllerCheckUserPassword(ctx context.Context) IamUsersAPIIamApiControllerCheckUserPasswordRequest {
	return IamUsersAPIIamApiControllerCheckUserPasswordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *IamUsersAPIService) IamApiControllerCheckUserPasswordExecute(r IamUsersAPIIamApiControllerCheckUserPasswordRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerCheckUserPassword")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/check-password"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerDeleteLdapRequest struct {
	ctx           context.Context
	ApiService    *IamUsersAPIService
	id            string
	iamObjectLdap *IamObjectLdap
}

// The details of the ldap
func (r IamUsersAPIIamApiControllerDeleteLdapRequest) IamObjectLdap(iamObjectLdap IamObjectLdap) IamUsersAPIIamApiControllerDeleteLdapRequest {
	r.iamObjectLdap = &iamObjectLdap
	return r
}

func (r IamUsersAPIIamApiControllerDeleteLdapRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteLdapExecute(r)
}

/*
IamApiControllerDeleteLdap Api Controller Delete Ldap

delete ldap

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamUsersAPIIamApiControllerDeleteLdapRequest
*/
func (a *IamUsersAPIService) IamApiControllerDeleteLdap(ctx context.Context, id string) IamUsersAPIIamApiControllerDeleteLdapRequest {
	return IamUsersAPIIamApiControllerDeleteLdapRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerDeleteLdapExecute(r IamUsersAPIIamApiControllerDeleteLdapRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerDeleteLdap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/ldaps/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectLdap == nil {
		return localVarReturnValue, nil, reportError("iamObjectLdap is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectLdap
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerDeleteUserRequest struct {
	ctx           context.Context
	ApiService    *IamUsersAPIService
	id            string
	iamObjectUser *IamObjectUser
}

// The details of the user
func (r IamUsersAPIIamApiControllerDeleteUserRequest) IamObjectUser(iamObjectUser IamObjectUser) IamUsersAPIIamApiControllerDeleteUserRequest {
	r.iamObjectUser = &iamObjectUser
	return r
}

func (r IamUsersAPIIamApiControllerDeleteUserRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteUserExecute(r)
}

/*
IamApiControllerDeleteUser Api Controller Delete User

delete user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamUsersAPIIamApiControllerDeleteUserRequest
*/
func (a *IamUsersAPIService) IamApiControllerDeleteUser(ctx context.Context, id string) IamUsersAPIIamApiControllerDeleteUserRequest {
	return IamUsersAPIIamApiControllerDeleteUserRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerDeleteUserExecute(r IamUsersAPIIamApiControllerDeleteUserRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerDeleteUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/users/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectUser == nil {
		return localVarReturnValue, nil, reportError("iamObjectUser is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectUser
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerExitImpersonateUserRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
}

func (r IamUsersAPIIamApiControllerExitImpersonateUserRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerExitImpersonateUserExecute(r)
}

/*
IamApiControllerExitImpersonateUser Api Controller Exit Impersonate User

clear impersonation info for current session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerExitImpersonateUserRequest
*/
func (a *IamUsersAPIService) IamApiControllerExitImpersonateUser(ctx context.Context) IamUsersAPIIamApiControllerExitImpersonateUserRequest {
	return IamUsersAPIIamApiControllerExitImpersonateUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerExitImpersonateUserExecute(r IamUsersAPIIamApiControllerExitImpersonateUserRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerExitImpersonateUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/impersonation/exit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetAccountRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	id         string
}

func (r IamUsersAPIIamApiControllerGetAccountRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerGetAccountExecute(r)
}

/*
IamApiControllerGetAccount Api Controller Get Account

get the details of the current account

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamUsersAPIIamApiControllerGetAccountRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetAccount(ctx context.Context, id string) IamUsersAPIIamApiControllerGetAccountRequest {
	return IamUsersAPIIamApiControllerGetAccountRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerGetAccountExecute(r IamUsersAPIIamApiControllerGetAccountRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/accounts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetEmailAndPhoneRequest struct {
	ctx          context.Context
	ApiService   *IamUsersAPIService
	username     *string
	organization *string
}

// The username of the user
func (r IamUsersAPIIamApiControllerGetEmailAndPhoneRequest) Username(username string) IamUsersAPIIamApiControllerGetEmailAndPhoneRequest {
	r.username = &username
	return r
}

// The organization of the user
func (r IamUsersAPIIamApiControllerGetEmailAndPhoneRequest) Organization(organization string) IamUsersAPIIamApiControllerGetEmailAndPhoneRequest {
	r.organization = &organization
	return r
}

func (r IamUsersAPIIamApiControllerGetEmailAndPhoneRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerGetEmailAndPhoneExecute(r)
}

/*
IamApiControllerGetEmailAndPhone Api Controller Get Email And Phone

get email and phone by username

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerGetEmailAndPhoneRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetEmailAndPhone(ctx context.Context) IamUsersAPIIamApiControllerGetEmailAndPhoneRequest {
	return IamUsersAPIIamApiControllerGetEmailAndPhoneRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerGetEmailAndPhoneExecute(r IamUsersAPIIamApiControllerGetEmailAndPhoneRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetEmailAndPhone")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/contact"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.username == nil {
		return localVarReturnValue, nil, reportError("username is required and must be specified")
	}
	if r.organization == nil {
		return localVarReturnValue, nil, reportError("organization is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "username", r.username, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "organization", r.organization, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetGlobalUsersRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
}

func (r IamUsersAPIIamApiControllerGetGlobalUsersRequest) Execute() ([]IamObjectUser, *http.Response, error) {
	return r.ApiService.IamApiControllerGetGlobalUsersExecute(r)
}

/*
IamApiControllerGetGlobalUsers Api Controller Get Global Users

get global users

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerGetGlobalUsersRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetGlobalUsers(ctx context.Context) IamUsersAPIIamApiControllerGetGlobalUsersRequest {
	return IamUsersAPIIamApiControllerGetGlobalUsersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectUser
func (a *IamUsersAPIService) IamApiControllerGetGlobalUsersExecute(r IamUsersAPIIamApiControllerGetGlobalUsersRequest) ([]IamObjectUser, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetGlobalUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/global-users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetLdapRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	id         string
}

func (r IamUsersAPIIamApiControllerGetLdapRequest) Execute() (*IamObjectLdap, *http.Response, error) {
	return r.ApiService.IamApiControllerGetLdapExecute(r)
}

/*
IamApiControllerGetLdap Api Controller Get Ldap

get ldap

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id
	@return IamUsersAPIIamApiControllerGetLdapRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetLdap(ctx context.Context, id string) IamUsersAPIIamApiControllerGetLdapRequest {
	return IamUsersAPIIamApiControllerGetLdapRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectLdap
func (a *IamUsersAPIService) IamApiControllerGetLdapExecute(r IamUsersAPIIamApiControllerGetLdapRequest) (*IamObjectLdap, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectLdap
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetLdap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/ldaps/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetLdapsRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	owner      *string
}

// owner
func (r IamUsersAPIIamApiControllerGetLdapsRequest) Owner(owner string) IamUsersAPIIamApiControllerGetLdapsRequest {
	r.owner = &owner
	return r
}

func (r IamUsersAPIIamApiControllerGetLdapsRequest) Execute() ([]IamObjectLdap, *http.Response, error) {
	return r.ApiService.IamApiControllerGetLdapsExecute(r)
}

/*
IamApiControllerGetLdaps Api Controller Get Ldaps

get ldaps

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerGetLdapsRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetLdaps(ctx context.Context) IamUsersAPIIamApiControllerGetLdapsRequest {
	return IamUsersAPIIamApiControllerGetLdapsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectLdap
func (a *IamUsersAPIService) IamApiControllerGetLdapsExecute(r IamUsersAPIIamApiControllerGetLdapsRequest) ([]IamObjectLdap, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectLdap
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetLdaps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/ldaps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetLdapserRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
}

func (r IamUsersAPIIamApiControllerGetLdapserRequest) Execute() (*IamControllersLdapResp, *http.Response, error) {
	return r.ApiService.IamApiControllerGetLdapserExecute(r)
}

/*
IamApiControllerGetLdapser Api Controller Get Ldapser

get ldap users

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerGetLdapserRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetLdapser(ctx context.Context) IamUsersAPIIamApiControllerGetLdapserRequest {
	return IamUsersAPIIamApiControllerGetLdapserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersLdapResp
func (a *IamUsersAPIService) IamApiControllerGetLdapserExecute(r IamUsersAPIIamApiControllerGetLdapserRequest) (*IamControllersLdapResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersLdapResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetLdapser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/ldap-users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetSortedUsersRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	owner      *string
	sorter     *string
	limit      *string
}

// The owner of users
func (r IamUsersAPIIamApiControllerGetSortedUsersRequest) Owner(owner string) IamUsersAPIIamApiControllerGetSortedUsersRequest {
	r.owner = &owner
	return r
}

// The DB column name to sort by, e.g., created_time
func (r IamUsersAPIIamApiControllerGetSortedUsersRequest) Sorter(sorter string) IamUsersAPIIamApiControllerGetSortedUsersRequest {
	r.sorter = &sorter
	return r
}

// The count of users to return, e.g., 25
func (r IamUsersAPIIamApiControllerGetSortedUsersRequest) Limit(limit string) IamUsersAPIIamApiControllerGetSortedUsersRequest {
	r.limit = &limit
	return r
}

func (r IamUsersAPIIamApiControllerGetSortedUsersRequest) Execute() ([]IamObjectUser, *http.Response, error) {
	return r.ApiService.IamApiControllerGetSortedUsersExecute(r)
}

/*
IamApiControllerGetSortedUsers Api Controller Get Sorted Users

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerGetSortedUsersRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetSortedUsers(ctx context.Context) IamUsersAPIIamApiControllerGetSortedUsersRequest {
	return IamUsersAPIIamApiControllerGetSortedUsersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectUser
func (a *IamUsersAPIService) IamApiControllerGetSortedUsersExecute(r IamUsersAPIIamApiControllerGetSortedUsersRequest) ([]IamObjectUser, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetSortedUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sorted-users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.sorter == nil {
		return localVarReturnValue, nil, reportError("sorter is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "sorter", r.sorter, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetUserRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	id         string
	owner      *string
	email      *string
	phone      *string
	userId     *string
}

// The owner of the user
func (r IamUsersAPIIamApiControllerGetUserRequest) Owner(owner string) IamUsersAPIIamApiControllerGetUserRequest {
	r.owner = &owner
	return r
}

// The email of the user
func (r IamUsersAPIIamApiControllerGetUserRequest) Email(email string) IamUsersAPIIamApiControllerGetUserRequest {
	r.email = &email
	return r
}

// The phone of the user
func (r IamUsersAPIIamApiControllerGetUserRequest) Phone(phone string) IamUsersAPIIamApiControllerGetUserRequest {
	r.phone = &phone
	return r
}

// The userId of the user
func (r IamUsersAPIIamApiControllerGetUserRequest) UserId(userId string) IamUsersAPIIamApiControllerGetUserRequest {
	r.userId = &userId
	return r
}

func (r IamUsersAPIIamApiControllerGetUserRequest) Execute() (*IamObjectUser, *http.Response, error) {
	return r.ApiService.IamApiControllerGetUserExecute(r)
}

/*
IamApiControllerGetUser Api Controller Get User

get user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of the user
	@return IamUsersAPIIamApiControllerGetUserRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetUser(ctx context.Context, id string) IamUsersAPIIamApiControllerGetUserRequest {
	return IamUsersAPIIamApiControllerGetUserRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectUser
func (a *IamUsersAPIService) IamApiControllerGetUserExecute(r IamUsersAPIIamApiControllerGetUserRequest) (*IamObjectUser, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/users/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	if r.phone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phone", r.phone, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetUserCountRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	owner      *string
	isOnline   *string
	id         string
}

// The owner of users
func (r IamUsersAPIIamApiControllerGetUserCountRequest) Owner(owner string) IamUsersAPIIamApiControllerGetUserCountRequest {
	r.owner = &owner
	return r
}

// The filter for query, 1 for online, 0 for offline, empty string for all users
func (r IamUsersAPIIamApiControllerGetUserCountRequest) IsOnline(isOnline string) IamUsersAPIIamApiControllerGetUserCountRequest {
	r.isOnline = &isOnline
	return r
}

func (r IamUsersAPIIamApiControllerGetUserCountRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerGetUserCountExecute(r)
}

/*
IamApiControllerGetUserCount Api Controller Get User Count

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamUsersAPIIamApiControllerGetUserCountRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetUserCount(ctx context.Context, id string) IamUsersAPIIamApiControllerGetUserCountRequest {
	return IamUsersAPIIamApiControllerGetUserCountRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *IamUsersAPIService) IamApiControllerGetUserCountExecute(r IamUsersAPIIamApiControllerGetUserCountRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetUserCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/user-counts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.isOnline == nil {
		return localVarReturnValue, nil, reportError("isOnline is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "isOnline", r.isOnline, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerGetUsersRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	owner      *string
}

// The owner of users
func (r IamUsersAPIIamApiControllerGetUsersRequest) Owner(owner string) IamUsersAPIIamApiControllerGetUsersRequest {
	r.owner = &owner
	return r
}

func (r IamUsersAPIIamApiControllerGetUsersRequest) Execute() ([]IamObjectUser, *http.Response, error) {
	return r.ApiService.IamApiControllerGetUsersExecute(r)
}

/*
IamApiControllerGetUsers Api Controller Get Users

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerGetUsersRequest
*/
func (a *IamUsersAPIService) IamApiControllerGetUsers(ctx context.Context) IamUsersAPIIamApiControllerGetUsersRequest {
	return IamUsersAPIIamApiControllerGetUsersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectUser
func (a *IamUsersAPIService) IamApiControllerGetUsersExecute(r IamUsersAPIIamApiControllerGetUsersRequest) ([]IamObjectUser, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerGetUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerImpersonateUserRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	username   *string
}

// The username to impersonate (owner/name)
func (r IamUsersAPIIamApiControllerImpersonateUserRequest) Username(username string) IamUsersAPIIamApiControllerImpersonateUserRequest {
	r.username = &username
	return r
}

func (r IamUsersAPIIamApiControllerImpersonateUserRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerImpersonateUserExecute(r)
}

/*
IamApiControllerImpersonateUser Api Controller Impersonate User

set impersonation user for current admin session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerImpersonateUserRequest
*/
func (a *IamUsersAPIService) IamApiControllerImpersonateUser(ctx context.Context) IamUsersAPIIamApiControllerImpersonateUserRequest {
	return IamUsersAPIIamApiControllerImpersonateUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerImpersonateUserExecute(r IamUsersAPIIamApiControllerImpersonateUserRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerImpersonateUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/impersonation-user"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.username == nil {
		return localVarReturnValue, nil, reportError("username is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "username", r.username, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerResetEmailOrPhoneRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
}

func (r IamUsersAPIIamApiControllerResetEmailOrPhoneRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerResetEmailOrPhoneExecute(r)
}

/*
IamApiControllerResetEmailOrPhone Api Controller Reset Email Or Phone

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerResetEmailOrPhoneRequest
*/
func (a *IamUsersAPIService) IamApiControllerResetEmailOrPhone(ctx context.Context) IamUsersAPIIamApiControllerResetEmailOrPhoneRequest {
	return IamUsersAPIIamApiControllerResetEmailOrPhoneRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *IamUsersAPIService) IamApiControllerResetEmailOrPhoneExecute(r IamUsersAPIIamApiControllerResetEmailOrPhoneRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerResetEmailOrPhone")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/reset-contact"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerSetPasswordRequest struct {
	ctx         context.Context
	ApiService  *IamUsersAPIService
	userOwner   *string
	userName    *string
	oldPassword *string
	newPassword *string
}

// The owner of the user
func (r IamUsersAPIIamApiControllerSetPasswordRequest) UserOwner(userOwner string) IamUsersAPIIamApiControllerSetPasswordRequest {
	r.userOwner = &userOwner
	return r
}

// The name of the user
func (r IamUsersAPIIamApiControllerSetPasswordRequest) UserName(userName string) IamUsersAPIIamApiControllerSetPasswordRequest {
	r.userName = &userName
	return r
}

// The old password of the user
func (r IamUsersAPIIamApiControllerSetPasswordRequest) OldPassword(oldPassword string) IamUsersAPIIamApiControllerSetPasswordRequest {
	r.oldPassword = &oldPassword
	return r
}

// The new password of the user
func (r IamUsersAPIIamApiControllerSetPasswordRequest) NewPassword(newPassword string) IamUsersAPIIamApiControllerSetPasswordRequest {
	r.newPassword = &newPassword
	return r
}

func (r IamUsersAPIIamApiControllerSetPasswordRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerSetPasswordExecute(r)
}

/*
IamApiControllerSetPassword Api Controller Set Password

set password

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerSetPasswordRequest
*/
func (a *IamUsersAPIService) IamApiControllerSetPassword(ctx context.Context) IamUsersAPIIamApiControllerSetPasswordRequest {
	return IamUsersAPIIamApiControllerSetPasswordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerSetPasswordExecute(r IamUsersAPIIamApiControllerSetPasswordRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerSetPassword")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/set-password"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userOwner == nil {
		return localVarReturnValue, nil, reportError("userOwner is required and must be specified")
	}
	if r.userName == nil {
		return localVarReturnValue, nil, reportError("userName is required and must be specified")
	}
	if r.oldPassword == nil {
		return localVarReturnValue, nil, reportError("oldPassword is required and must be specified")
	}
	if r.newPassword == nil {
		return localVarReturnValue, nil, reportError("newPassword is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "userOwner", r.userOwner, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "userName", r.userName, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "oldPassword", r.oldPassword, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "newPassword", r.newPassword, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerSyncLdapUsersRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	id         *string
}

// id
func (r IamUsersAPIIamApiControllerSyncLdapUsersRequest) Id(id string) IamUsersAPIIamApiControllerSyncLdapUsersRequest {
	r.id = &id
	return r
}

func (r IamUsersAPIIamApiControllerSyncLdapUsersRequest) Execute() (*IamControllersLdapSyncResp, *http.Response, error) {
	return r.ApiService.IamApiControllerSyncLdapUsersExecute(r)
}

/*
IamApiControllerSyncLdapUsers Api Controller Sync Ldap Users

sync ldap users

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerSyncLdapUsersRequest
*/
func (a *IamUsersAPIService) IamApiControllerSyncLdapUsers(ctx context.Context) IamUsersAPIIamApiControllerSyncLdapUsersRequest {
	return IamUsersAPIIamApiControllerSyncLdapUsersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersLdapSyncResp
func (a *IamUsersAPIService) IamApiControllerSyncLdapUsersExecute(r IamUsersAPIIamApiControllerSyncLdapUsersRequest) (*IamControllersLdapSyncResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersLdapSyncResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerSyncLdapUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/ldap/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerUpdateLdapRequest struct {
	ctx           context.Context
	ApiService    *IamUsersAPIService
	id            string
	iamObjectLdap *IamObjectLdap
}

// The details of the ldap
func (r IamUsersAPIIamApiControllerUpdateLdapRequest) IamObjectLdap(iamObjectLdap IamObjectLdap) IamUsersAPIIamApiControllerUpdateLdapRequest {
	r.iamObjectLdap = &iamObjectLdap
	return r
}

func (r IamUsersAPIIamApiControllerUpdateLdapRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerUpdateLdapExecute(r)
}

/*
IamApiControllerUpdateLdap Api Controller Update Ldap

update ldap

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamUsersAPIIamApiControllerUpdateLdapRequest
*/
func (a *IamUsersAPIService) IamApiControllerUpdateLdap(ctx context.Context, id string) IamUsersAPIIamApiControllerUpdateLdapRequest {
	return IamUsersAPIIamApiControllerUpdateLdapRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerUpdateLdapExecute(r IamUsersAPIIamApiControllerUpdateLdapRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerUpdateLdap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/ldaps/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectLdap == nil {
		return localVarReturnValue, nil, reportError("iamObjectLdap is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectLdap
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerUpdateUserRequest struct {
	ctx           context.Context
	ApiService    *IamUsersAPIService
	id            string
	iamObjectUser *IamObjectUser
	userId        *string
	owner         *string
}

// The details of the user
func (r IamUsersAPIIamApiControllerUpdateUserRequest) IamObjectUser(iamObjectUser IamObjectUser) IamUsersAPIIamApiControllerUpdateUserRequest {
	r.iamObjectUser = &iamObjectUser
	return r
}

// The userId (UUID) of the user
func (r IamUsersAPIIamApiControllerUpdateUserRequest) UserId(userId string) IamUsersAPIIamApiControllerUpdateUserRequest {
	r.userId = &userId
	return r
}

// The owner of the user (required when using userId)
func (r IamUsersAPIIamApiControllerUpdateUserRequest) Owner(owner string) IamUsersAPIIamApiControllerUpdateUserRequest {
	r.owner = &owner
	return r
}

func (r IamUsersAPIIamApiControllerUpdateUserRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerUpdateUserExecute(r)
}

/*
IamApiControllerUpdateUser Api Controller Update User

update user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of the user
	@return IamUsersAPIIamApiControllerUpdateUserRequest
*/
func (a *IamUsersAPIService) IamApiControllerUpdateUser(ctx context.Context, id string) IamUsersAPIIamApiControllerUpdateUserRequest {
	return IamUsersAPIIamApiControllerUpdateUserRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerUpdateUserExecute(r IamUsersAPIIamApiControllerUpdateUserRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerUpdateUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/users/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectUser == nil {
		return localVarReturnValue, nil, reportError("iamObjectUser is required and must be specified")
	}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectUser
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerUserInfoRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
}

func (r IamUsersAPIIamApiControllerUserInfoRequest) Execute() (*IamObjectUserinfo, *http.Response, error) {
	return r.ApiService.IamApiControllerUserInfoExecute(r)
}

/*
IamApiControllerUserInfo Api Controller User Info

return user information according to OIDC standards

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerUserInfoRequest
*/
func (a *IamUsersAPIService) IamApiControllerUserInfo(ctx context.Context) IamUsersAPIIamApiControllerUserInfoRequest {
	return IamUsersAPIIamApiControllerUserInfoRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectUserinfo
func (a *IamUsersAPIService) IamApiControllerUserInfoExecute(r IamUsersAPIIamApiControllerUserInfoRequest) (*IamObjectUserinfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectUserinfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerUserInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/userinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerUserInfo2Request struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
}

func (r IamUsersAPIIamApiControllerUserInfo2Request) Execute() (*IamControllersLaravelResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerUserInfo2Execute(r)
}

/*
IamApiControllerUserInfo2 Api Controller User Info2

return Laravel compatible user information according to OAuth 2.0

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerUserInfo2Request
*/
func (a *IamUsersAPIService) IamApiControllerUserInfo2(ctx context.Context) IamUsersAPIIamApiControllerUserInfo2Request {
	return IamUsersAPIIamApiControllerUserInfo2Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersLaravelResponse
func (a *IamUsersAPIService) IamApiControllerUserInfo2Execute(r IamUsersAPIIamApiControllerUserInfo2Request) (*IamControllersLaravelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersLaravelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerUserInfo2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/user"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamUsersAPIIamApiControllerVerifyIdentificationRequest struct {
	ctx        context.Context
	ApiService *IamUsersAPIService
	owner      *string
	name       *string
	provider   *string
}

// The owner of the user (optional, defaults to logged-in user)
func (r IamUsersAPIIamApiControllerVerifyIdentificationRequest) Owner(owner string) IamUsersAPIIamApiControllerVerifyIdentificationRequest {
	r.owner = &owner
	return r
}

// The name of the user (optional, defaults to logged-in user)
func (r IamUsersAPIIamApiControllerVerifyIdentificationRequest) Name(name string) IamUsersAPIIamApiControllerVerifyIdentificationRequest {
	r.name = &name
	return r
}

// The name of the ID Verification provider (optional, auto-selected if not provided)
func (r IamUsersAPIIamApiControllerVerifyIdentificationRequest) Provider(provider string) IamUsersAPIIamApiControllerVerifyIdentificationRequest {
	r.provider = &provider
	return r
}

func (r IamUsersAPIIamApiControllerVerifyIdentificationRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerVerifyIdentificationExecute(r)
}

/*
IamApiControllerVerifyIdentification Api Controller Verify Identification

verify user's real identity using ID Verification provider

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamUsersAPIIamApiControllerVerifyIdentificationRequest
*/
func (a *IamUsersAPIService) IamApiControllerVerifyIdentification(ctx context.Context) IamUsersAPIIamApiControllerVerifyIdentificationRequest {
	return IamUsersAPIIamApiControllerVerifyIdentificationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamUsersAPIService) IamApiControllerVerifyIdentificationExecute(r IamUsersAPIIamApiControllerVerifyIdentificationRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamUsersAPIService.IamApiControllerVerifyIdentification")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/auth/identification/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
[...]
