/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// PlatformRedisAPIService PlatformRedisAPI service
type PlatformRedisAPIService service

type PlatformRedisAPIPlatformRedisCreateRequest struct {
	ctx                          context.Context
	ApiService                   *PlatformRedisAPIService
	platformMariadbCreateRequest *PlatformMariadbCreateRequest
}

func (r PlatformRedisAPIPlatformRedisCreateRequest) PlatformMariadbCreateRequest(platformMariadbCreateRequest PlatformMariadbCreateRequest) PlatformRedisAPIPlatformRedisCreateRequest {
	r.platformMariadbCreateRequest = &platformMariadbCreateRequest
	return r
}

func (r PlatformRedisAPIPlatformRedisCreateRequest) Execute() (*PlatformTRPCResult, *http.Response, error) {
	return r.ApiService.PlatformRedisCreateExecute(r)
}

/*
PlatformRedisCreate Create a Redis service

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformRedisAPIPlatformRedisCreateRequest
*/
func (a *PlatformRedisAPIService) PlatformRedisCreate(ctx context.Context) PlatformRedisAPIPlatformRedisCreateRequest {
	return PlatformRedisAPIPlatformRedisCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformTRPCResult
func (a *PlatformRedisAPIService) PlatformRedisCreateExecute(r PlatformRedisAPIPlatformRedisCreateRequest) (*PlatformTRPCResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformTRPCResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformRedisAPIService.PlatformRedisCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/redis/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.platformMariadbCreateRequest == nil {
		return localVarReturnValue, nil, reportError("platformMariadbCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.platformMariadbCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformRedisAPIPlatformRedisOneRequest struct {
	ctx        context.Context
	ApiService *PlatformRedisAPIService
	input      *string
}

// URL-encoded JSON input for tRPC queries
func (r PlatformRedisAPIPlatformRedisOneRequest) Input(input string) PlatformRedisAPIPlatformRedisOneRequest {
	r.input = &input
	return r
}

func (r PlatformRedisAPIPlatformRedisOneRequest) Execute() (*PlatformTRPCResult, *http.Response, error) {
	return r.ApiService.PlatformRedisOneExecute(r)
}

/*
PlatformRedisOne Get Redis details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformRedisAPIPlatformRedisOneRequest
*/
func (a *PlatformRedisAPIService) PlatformRedisOne(ctx context.Context) PlatformRedisAPIPlatformRedisOneRequest {
	return PlatformRedisAPIPlatformRedisOneRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PlatformTRPCResult
func (a *PlatformRedisAPIService) PlatformRedisOneExecute(r PlatformRedisAPIPlatformRedisOneRequest) (*PlatformTRPCResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PlatformTRPCResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformRedisAPIService.PlatformRedisOne")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/redis/one"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.input != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "input", r.input, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
