/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// AnalyticsAPIService AnalyticsAPI service
type AnalyticsAPIService service

type AnalyticsAPIGetAnalyticsHealthRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
}

func (r AnalyticsAPIGetAnalyticsHealthRequest) Execute() (*HealthReport, *http.Response, error) {
	return r.ApiService.GetAnalyticsHealthExecute(r)
}

/*
GetAnalyticsHealth Health reports whether the event plane can take a write and the warehouse can answer a read.

Health reports whether the event plane can take a write and the warehouse can
answer a read.

It reports the analytics subsystem's own liveness in BOTH directions: plane is
the event plane it WRITES (the bus and the JetStream stream every accepted
event is published to, both named in the report), and datastore is the
warehouse it READS, with each read lens's table reported as it is provisioned
(the LLM usage ledger and the product-event table).

EITHER ONE DOWN IS A 503, and the report says WHICH — they are probed
independently and never collapse into a single bit. This endpoint used to
report the read half only, and answered 200/ok while every POST /v1/event
failed on a stream that could not bind: a total ingest outage behind a green
probe. A readiness gate here now gates on the write path too.

plane.ready IS A REAL PROBE and walks the ingest path itself — the same
connection and the same stream a publish uses — so it cannot answer ready while
a publish would 503. plane.reason carries the plane's own error text when it is
false.

datastore IS NOT PROBED WITH A QUERY. It is the state of the process's own
shared client — established, and not since closed — so a warehouse accepting
connections and failing reads still reports true. Degraded CARRIES the report
(status, the failing half, reason) as its body rather than an error envelope,
so a gate reads the cause off the same object it got at 200.

A MISSING LENS TABLE IS NOT A FAILURE and never moves the status: a lens
reported available:false answers honest-empty rather than erroring, so a fresh
deployment whose collector has not emitted yet is legitimately 200 with the
product-event lens unavailable. The lens block is reported whenever the
warehouse is REACHABLE — including on a report degraded by the plane, where the
tables genuinely were probed — and is absent only when the warehouse is not,
having nothing to say about tables it could not reach.

Unauthenticated on purpose — liveness has to be probe-able — and it reads NO
tenant data: table existence and stream presence only, never a row and never an
event.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetAnalyticsHealthRequest
*/
func (a *AnalyticsAPIService) GetAnalyticsHealth(ctx context.Context) AnalyticsAPIGetAnalyticsHealthRequest {
	return AnalyticsAPIGetAnalyticsHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HealthReport
func (a *AnalyticsAPIService) GetAnalyticsHealthExecute(r AnalyticsAPIGetAnalyticsHealthRequest) (*HealthReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HealthReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetAnalyticsHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v HealthReport
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetAnalyticsOverviewRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	range_     *string
	start      *string
	end        *string
}

// Range is a relative window: a count and a unit — 24h, 7d, 90d, any &lt;N&gt;h or &lt;N&gt;d — or day, week, month, all. Default 24h. Ignored when both start and end are given. An unknown value, or one past the 730-day horizon, is a 400.
func (r AnalyticsAPIGetAnalyticsOverviewRequest) Range_(range_ string) AnalyticsAPIGetAnalyticsOverviewRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive lower bound of a custom window, RFC3339. Requires end.
func (r AnalyticsAPIGetAnalyticsOverviewRequest) Start(start string) AnalyticsAPIGetAnalyticsOverviewRequest {
	r.start = &start
	return r
}

// End is the exclusive upper bound of a custom window, RFC3339. Requires start.
func (r AnalyticsAPIGetAnalyticsOverviewRequest) End(end string) AnalyticsAPIGetAnalyticsOverviewRequest {
	r.end = &end
	return r
}

func (r AnalyticsAPIGetAnalyticsOverviewRequest) Execute() (*Overview, *http.Response, error) {
	return r.ApiService.GetAnalyticsOverviewExecute(r)
}

/*
GetAnalyticsOverview Overview returns the caller org's analytics KPIs for one time window.

Overview returns the caller org's analytics KPIs for one time window. Three lenses
over one warehouse: llm is the live per-org LLM usage ledger (requests, tokens,
spend, models, providers, errors) and is always real; web (pageviews, visitors,
sessions) and commerce (orders, revenue, AOV) read the product-event table and
report available=false rather than fabricating zeros when it holds nothing yet.

The org is the validated principal's — never a parameter — so a caller can only
ever read its own tenant. 403 without a validated bearer, 400 on an unknown range,
503 when the warehouse is unreachable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetAnalyticsOverviewRequest
*/
func (a *AnalyticsAPIService) GetAnalyticsOverview(ctx context.Context) AnalyticsAPIGetAnalyticsOverviewRequest {
	return AnalyticsAPIGetAnalyticsOverviewRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Overview
func (a *AnalyticsAPIService) GetAnalyticsOverviewExecute(r AnalyticsAPIGetAnalyticsOverviewRequest) (*Overview, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Overview
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetAnalyticsOverview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/overview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetAnalyticsTimeseriesRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	range_     *string
	start      *string
	end        *string
}

// Range is a relative window: a count and a unit — 24h, 7d, 90d, any &lt;N&gt;h or &lt;N&gt;d — or day, week, month, all. Default 24h. Ignored when both start and end are given. An unknown value, or one past the 730-day horizon, is a 400.
func (r AnalyticsAPIGetAnalyticsTimeseriesRequest) Range_(range_ string) AnalyticsAPIGetAnalyticsTimeseriesRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive lower bound of a custom window, RFC3339. Requires end.
func (r AnalyticsAPIGetAnalyticsTimeseriesRequest) Start(start string) AnalyticsAPIGetAnalyticsTimeseriesRequest {
	r.start = &start
	return r
}

// End is the exclusive upper bound of a custom window, RFC3339. Requires start.
func (r AnalyticsAPIGetAnalyticsTimeseriesRequest) End(end string) AnalyticsAPIGetAnalyticsTimeseriesRequest {
	r.end = &end
	return r
}

func (r AnalyticsAPIGetAnalyticsTimeseriesRequest) Execute() (*Timeseries, *http.Response, error) {
	return r.ApiService.GetAnalyticsTimeseriesExecute(r)
}

/*
GetAnalyticsTimeseries Timeseries returns the caller org's LLM usage over time as an evenly-spaced series.

Timeseries returns the caller org's LLM usage over time as an evenly-spaced series.
One point per hour or per day — the bucket the window implies, 24h giving hours and
7d/30d giving days — carrying requests, total tokens and spend in cents. Empty
buckets are filled with zeros so a client charts a continuous line.

The org is the validated principal's — never a parameter. 403 without a validated
bearer, 400 on an unknown range, 503 when the warehouse is unreachable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetAnalyticsTimeseriesRequest
*/
func (a *AnalyticsAPIService) GetAnalyticsTimeseries(ctx context.Context) AnalyticsAPIGetAnalyticsTimeseriesRequest {
	return AnalyticsAPIGetAnalyticsTimeseriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Timeseries
func (a *AnalyticsAPIService) GetAnalyticsTimeseriesExecute(r AnalyticsAPIGetAnalyticsTimeseriesRequest) (*Timeseries, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Timeseries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetAnalyticsTimeseries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/timeseries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsAPIGetAnalyticsTopRequest struct {
	ctx        context.Context
	ApiService *AnalyticsAPIService
	range_     *string
	start      *string
	end        *string
	limit      *int32
}

// Range is a relative window: a count and a unit — 24h, 7d, 90d, any &lt;N&gt;h or &lt;N&gt;d — or day, week, month, all. Default 24h. Ignored when both start and end are given. An unknown value, or one past the 730-day horizon, is a 400.
func (r AnalyticsAPIGetAnalyticsTopRequest) Range_(range_ string) AnalyticsAPIGetAnalyticsTopRequest {
	r.range_ = &range_
	return r
}

// Start is the inclusive lower bound of a custom window, RFC3339. Requires end.
func (r AnalyticsAPIGetAnalyticsTopRequest) Start(start string) AnalyticsAPIGetAnalyticsTopRequest {
	r.start = &start
	return r
}

// End is the exclusive upper bound of a custom window, RFC3339. Requires start.
func (r AnalyticsAPIGetAnalyticsTopRequest) End(end string) AnalyticsAPIGetAnalyticsTopRequest {
	r.end = &end
	return r
}

// Limit bounds every ranked lens in the response. Default 10, maximum 100; a value at or below zero, or one that is not a number, takes the default.
func (r AnalyticsAPIGetAnalyticsTopRequest) Limit(limit int32) AnalyticsAPIGetAnalyticsTopRequest {
	r.limit = &limit
	return r
}

func (r AnalyticsAPIGetAnalyticsTopRequest) Execute() (*Top, *http.Response, error) {
	return r.ApiService.GetAnalyticsTopExecute(r)
}

/*
GetAnalyticsTop Top returns the caller org's ranked lenses for one window, five of them at once.

Top returns the caller org's ranked lenses for one window, five of them at once.
models ranks LLM models by spend and is always real; products ranks commerce orders
by revenue; topPages ranks requested paths, topReferrers the external referrer
domains ("(direct)" for a missing or same-origin one) and topSources the utm_source
campaigns ("(none)" when absent), each by pageviews. Every lens carries each row's
share of the in-window total, so a top-N honestly shows the long tail.

The four event lenses report available=false rather than fabricating zeros when the
product-event table holds nothing yet. The org is the validated principal's — never
a parameter. 403 without a validated bearer, 400 on an unknown range, 503 when the
warehouse is unreachable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsAPIGetAnalyticsTopRequest
*/
func (a *AnalyticsAPIService) GetAnalyticsTop(ctx context.Context) AnalyticsAPIGetAnalyticsTopRequest {
	return AnalyticsAPIGetAnalyticsTopRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Top
func (a *AnalyticsAPIService) GetAnalyticsTopExecute(r AnalyticsAPIGetAnalyticsTopRequest) (*Top, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Top
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.GetAnalyticsTop")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/top"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
