/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// FlowAPIService FlowAPI service
type FlowAPIService service

type FlowAPIDeleteFlowWorkflowsByWorkflowRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	workflow   string
}

func (r FlowAPIDeleteFlowWorkflowsByWorkflowRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteFlowWorkflowsByWorkflowExecute(r)
}

/*
DeleteFlowWorkflowsByWorkflow Deletes one of the caller's workflows and its runs.

Deletes one of the caller's workflows and its runs. Ownership
is verified first; a foreign id answers 404 and deletes nothing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflow Workflow is the workflow's UUID, taken from the path.
	@return FlowAPIDeleteFlowWorkflowsByWorkflowRequest
*/
func (a *FlowAPIService) DeleteFlowWorkflowsByWorkflow(ctx context.Context, workflow string) FlowAPIDeleteFlowWorkflowsByWorkflowRequest {
	return FlowAPIDeleteFlowWorkflowsByWorkflowRequest{
		ApiService: a,
		ctx:        ctx,
		workflow:   workflow,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) DeleteFlowWorkflowsByWorkflowExecute(r FlowAPIDeleteFlowWorkflowsByWorkflowRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.DeleteFlowWorkflowsByWorkflow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows/{workflow}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow"+"}", url.PathEscape(parameterValueToString(r.workflow, "workflow")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPIGetFlowRunsRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	workflow   *string
}

// Workflow is the UUID of the workflow whose run records to read. It rides the query string.
func (r FlowAPIGetFlowRunsRequest) Workflow(workflow string) FlowAPIGetFlowRunsRequest {
	r.workflow = &workflow
	return r
}

func (r FlowAPIGetFlowRunsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetFlowRunsExecute(r)
}

/*
GetFlowRuns Runs reads one workflow's recorded runs: every component build with its result, keyed by component.

Runs reads one workflow's recorded runs: every component build with its
result, keyed by component. Ownership is verified first — run records never
cross the org boundary.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPIGetFlowRunsRequest
*/
func (a *FlowAPIService) GetFlowRuns(ctx context.Context) FlowAPIGetFlowRunsRequest {
	return FlowAPIGetFlowRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) GetFlowRunsExecute(r FlowAPIGetFlowRunsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.GetFlowRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.workflow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow", r.workflow, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPIGetFlowStatusRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
}

func (r FlowAPIGetFlowStatusRequest) Execute() (*FlowStatus, *http.Response, error) {
	return r.ApiService.GetFlowStatusExecute(r)
}

/*
GetFlowStatus Status reports whether the flow service is reachable and which version it runs.

Status reports whether the flow service is reachable and which version it
runs. It is the product's own /health and /v1/version composed — an honest
lens for "is the workflow plane up", never a fabricated ok.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPIGetFlowStatusRequest
*/
func (a *FlowAPIService) GetFlowStatus(ctx context.Context) FlowAPIGetFlowStatusRequest {
	return FlowAPIGetFlowStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FlowStatus
func (a *FlowAPIService) GetFlowStatusExecute(r FlowAPIGetFlowStatusRequest) (*FlowStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.GetFlowStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPIGetFlowWorkflowsRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	page       *string
	size       *string
}

// Page is the 1-based page of workflows to return.
func (r FlowAPIGetFlowWorkflowsRequest) Page(page string) FlowAPIGetFlowWorkflowsRequest {
	r.page = &page
	return r
}

// Size is how many workflows one page holds (the product caps it at 100).
func (r FlowAPIGetFlowWorkflowsRequest) Size(size string) FlowAPIGetFlowWorkflowsRequest {
	r.size = &size
	return r
}

func (r FlowAPIGetFlowWorkflowsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetFlowWorkflowsExecute(r)
}

/*
GetFlowWorkflows Workflows lists the caller's workflows, paged.

Workflows lists the caller's workflows, paged. The list is scoped
server-side to the org's project — the page can only ever hold the caller's
own workflows.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPIGetFlowWorkflowsRequest
*/
func (a *FlowAPIService) GetFlowWorkflows(ctx context.Context) FlowAPIGetFlowWorkflowsRequest {
	return FlowAPIGetFlowWorkflowsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) GetFlowWorkflowsExecute(r FlowAPIGetFlowWorkflowsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.GetFlowWorkflows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPIGetFlowWorkflowsByWorkflowRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	workflow   string
}

func (r FlowAPIGetFlowWorkflowsByWorkflowRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetFlowWorkflowsByWorkflowExecute(r)
}

/*
GetFlowWorkflowsByWorkflow Workflow reads one of the caller's workflows — the full record, graph included.

Workflow reads one of the caller's workflows — the full record, graph
included. A workflow outside the caller's org answers 404, indistinguishable
from one that does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflow Workflow is the workflow's UUID, taken from the path.
	@return FlowAPIGetFlowWorkflowsByWorkflowRequest
*/
func (a *FlowAPIService) GetFlowWorkflowsByWorkflow(ctx context.Context, workflow string) FlowAPIGetFlowWorkflowsByWorkflowRequest {
	return FlowAPIGetFlowWorkflowsByWorkflowRequest{
		ApiService: a,
		ctx:        ctx,
		workflow:   workflow,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) GetFlowWorkflowsByWorkflowExecute(r FlowAPIGetFlowWorkflowsByWorkflowRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.GetFlowWorkflowsByWorkflow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows/{workflow}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow"+"}", url.PathEscape(parameterValueToString(r.workflow, "workflow")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPIPatchFlowWorkflowsByWorkflowRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	workflow   string
	flowUpdate *FlowUpdate
}

func (r FlowAPIPatchFlowWorkflowsByWorkflowRequest) FlowUpdate(flowUpdate FlowUpdate) FlowAPIPatchFlowWorkflowsByWorkflowRequest {
	r.flowUpdate = &flowUpdate
	return r
}

func (r FlowAPIPatchFlowWorkflowsByWorkflowRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PatchFlowWorkflowsByWorkflowExecute(r)
}

/*
PatchFlowWorkflowsByWorkflow Patches one of the caller's workflows: name, description, graph, or the locked flag — only the stated fields move.

Patches one of the caller's workflows: name, description,
graph, or the locked flag — only the stated fields move. Ownership is
verified before the patch reaches the product.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflow Workflow is the workflow's UUID, taken from the path.
	@return FlowAPIPatchFlowWorkflowsByWorkflowRequest
*/
func (a *FlowAPIService) PatchFlowWorkflowsByWorkflow(ctx context.Context, workflow string) FlowAPIPatchFlowWorkflowsByWorkflowRequest {
	return FlowAPIPatchFlowWorkflowsByWorkflowRequest{
		ApiService: a,
		ctx:        ctx,
		workflow:   workflow,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) PatchFlowWorkflowsByWorkflowExecute(r FlowAPIPatchFlowWorkflowsByWorkflowRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.PatchFlowWorkflowsByWorkflow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows/{workflow}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow"+"}", url.PathEscape(parameterValueToString(r.workflow, "workflow")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowUpdate == nil {
		return localVarReturnValue, nil, reportError("flowUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPIPostFlowRunsRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	flowRun    *FlowRun
}

func (r FlowAPIPostFlowRunsRequest) FlowRun(flowRun FlowRun) FlowAPIPostFlowRunsRequest {
	r.flowRun = &flowRun
	return r
}

func (r FlowAPIPostFlowRunsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostFlowRunsExecute(r)
}

/*
PostFlowRuns Run executes one of the caller's workflows synchronously: the graph runs in the flow service and the response carries the run's session and outputs.

Run executes one of the caller's workflows synchronously: the graph runs in
the flow service and the response carries the run's session and outputs. A
graph whose components fail reports the product's own error. Runs are
bounded by the product's five-minute sync ceiling.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPIPostFlowRunsRequest
*/
func (a *FlowAPIService) PostFlowRuns(ctx context.Context) FlowAPIPostFlowRunsRequest {
	return FlowAPIPostFlowRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) PostFlowRunsExecute(r FlowAPIPostFlowRunsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.PostFlowRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowRun == nil {
		return localVarReturnValue, nil, reportError("flowRun is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowRun
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPIPostFlowWorkflowsRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	flowCreate *FlowCreate
}

func (r FlowAPIPostFlowWorkflowsRequest) FlowCreate(flowCreate FlowCreate) FlowAPIPostFlowWorkflowsRequest {
	r.flowCreate = &flowCreate
	return r
}

func (r FlowAPIPostFlowWorkflowsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostFlowWorkflowsExecute(r)
}

/*
PostFlowWorkflows Creates a workflow in the caller's org.

Creates a workflow in the caller's org. The org's project id
is pinned server-side from the validated principal — there is no field by
which a caller could place a workflow in another org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPIPostFlowWorkflowsRequest
*/
func (a *FlowAPIService) PostFlowWorkflows(ctx context.Context) FlowAPIPostFlowWorkflowsRequest {
	return FlowAPIPostFlowWorkflowsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) PostFlowWorkflowsExecute(r FlowAPIPostFlowWorkflowsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.PostFlowWorkflows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowCreate == nil {
		return localVarReturnValue, nil, reportError("flowCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
