/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// FlagsAPIService FlagsAPI service
type FlagsAPIService service

type FlagsAPICloudDeleteV1FlagsDefsKeyRequest struct {
	ctx        context.Context
	ApiService *FlagsAPIService
	key        string
}

func (r FlagsAPICloudDeleteV1FlagsDefsKeyRequest) Execute() (*CloudDeletedOut, *http.Response, error) {
	return r.ApiService.CloudDeleteV1FlagsDefsKeyExecute(r)
}

/*
CloudDeleteV1FlagsDefsKey DeleteFlagDefinition removes one flag definition by key and records the deletion in the change log.

DeleteFlagDefinition removes one flag definition by key and records the
deletion in the change log. A key the caller's store does not hold is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the flag key to act on, from the path.
	@return FlagsAPICloudDeleteV1FlagsDefsKeyRequest
*/
func (a *FlagsAPIService) CloudDeleteV1FlagsDefsKey(ctx context.Context, key string) FlagsAPICloudDeleteV1FlagsDefsKeyRequest {
	return FlagsAPICloudDeleteV1FlagsDefsKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return CloudDeletedOut
func (a *FlagsAPIService) CloudDeleteV1FlagsDefsKeyExecute(r FlagsAPICloudDeleteV1FlagsDefsKeyRequest) (*CloudDeletedOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDeletedOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudDeleteV1FlagsDefsKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags/defs/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlagsAPICloudGetV1FlagsActivityRequest struct {
	ctx        context.Context
	ApiService *FlagsAPIService
	limit      *int32
}

// Limit caps the rows returned. 1–500; anything else takes the default 100.
func (r FlagsAPICloudGetV1FlagsActivityRequest) Limit(limit int32) FlagsAPICloudGetV1FlagsActivityRequest {
	r.limit = &limit
	return r
}

func (r FlagsAPICloudGetV1FlagsActivityRequest) Execute() (*CloudActivityOut, *http.Response, error) {
	return r.ApiService.CloudGetV1FlagsActivityExecute(r)
}

/*
CloudGetV1FlagsActivity ListFlagActivity returns the caller's flag change log newest-first: every create, update and delete, with the actor and the time.

ListFlagActivity returns the caller's flag change log newest-first: every
create, update and delete, with the actor and the time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlagsAPICloudGetV1FlagsActivityRequest
*/
func (a *FlagsAPIService) CloudGetV1FlagsActivity(ctx context.Context) FlagsAPICloudGetV1FlagsActivityRequest {
	return FlagsAPICloudGetV1FlagsActivityRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudActivityOut
func (a *FlagsAPIService) CloudGetV1FlagsActivityExecute(r FlagsAPICloudGetV1FlagsActivityRequest) (*CloudActivityOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudActivityOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudGetV1FlagsActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags/activity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlagsAPICloudGetV1FlagsDefsRequest struct {
	ctx        context.Context
	ApiService *FlagsAPIService
}

func (r FlagsAPICloudGetV1FlagsDefsRequest) Execute() (*CloudDefsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1FlagsDefsExecute(r)
}

/*
CloudGetV1FlagsDefs ListFlagDefinitions returns every flag definition in the caller's (org, project) store, by key, with its version and who last changed it.

ListFlagDefinitions returns every flag definition in the caller's (org,
project) store, by key, with its version and who last changed it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlagsAPICloudGetV1FlagsDefsRequest
*/
func (a *FlagsAPIService) CloudGetV1FlagsDefs(ctx context.Context) FlagsAPICloudGetV1FlagsDefsRequest {
	return FlagsAPICloudGetV1FlagsDefsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDefsOut
func (a *FlagsAPIService) CloudGetV1FlagsDefsExecute(r FlagsAPICloudGetV1FlagsDefsRequest) (*CloudDefsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDefsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudGetV1FlagsDefs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags/defs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlagsAPICloudGetV1FlagsDefsKeyRequest struct {
	ctx        context.Context
	ApiService *FlagsAPIService
	key        string
}

func (r FlagsAPICloudGetV1FlagsDefsKeyRequest) Execute() (*CloudDefRow, *http.Response, error) {
	return r.ApiService.CloudGetV1FlagsDefsKeyExecute(r)
}

/*
CloudGetV1FlagsDefsKey GetFlagDefinition returns one flag definition by key, or 404 when the caller's store has none under that key.

GetFlagDefinition returns one flag definition by key, or 404 when the caller's
store has none under that key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the flag key to act on, from the path.
	@return FlagsAPICloudGetV1FlagsDefsKeyRequest
*/
func (a *FlagsAPIService) CloudGetV1FlagsDefsKey(ctx context.Context, key string) FlagsAPICloudGetV1FlagsDefsKeyRequest {
	return FlagsAPICloudGetV1FlagsDefsKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return CloudDefRow
func (a *FlagsAPIService) CloudGetV1FlagsDefsKeyExecute(r FlagsAPICloudGetV1FlagsDefsKeyRequest) (*CloudDefRow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDefRow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudGetV1FlagsDefsKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags/defs/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlagsAPICloudGetV1FlagsHealthRequest struct {
	ctx        context.Context
	ApiService *FlagsAPIService
}

func (r FlagsAPICloudGetV1FlagsHealthRequest) Execute() (*CloudHealthOut, *http.Response, error) {
	return r.ApiService.CloudGetV1FlagsHealthExecute(r)
}

/*
CloudGetV1FlagsHealth Health reports that the flag engine is serving.

Health reports that the flag engine is serving. It is not gated: liveness must
be probe-able without a token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlagsAPICloudGetV1FlagsHealthRequest
*/
func (a *FlagsAPIService) CloudGetV1FlagsHealth(ctx context.Context) FlagsAPICloudGetV1FlagsHealthRequest {
	return FlagsAPICloudGetV1FlagsHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudHealthOut
func (a *FlagsAPIService) CloudGetV1FlagsHealthExecute(r FlagsAPICloudGetV1FlagsHealthRequest) (*CloudHealthOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudHealthOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudGetV1FlagsHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlagsAPICloudGetV1FlagsWaitlistRequest struct {
	ctx        context.Context
	ApiService *FlagsAPIService
	host       *string
}

// Host is the host to resolve, e.g. \&quot;chat.hanzo.ai\&quot;. Defaults to the request&#39;s own Host header when omitted, which is what lets a guard running on the governed host ask about itself with no argument.
func (r FlagsAPICloudGetV1FlagsWaitlistRequest) Host(host string) FlagsAPICloudGetV1FlagsWaitlistRequest {
	r.host = &host
	return r
}

func (r FlagsAPICloudGetV1FlagsWaitlistRequest) Execute() (*CloudWaitlistModeView, *http.Response, error) {
	return r.ApiService.CloudGetV1FlagsWaitlistExecute(r)
}

/*
CloudGetV1FlagsWaitlist WaitlistMode reports whether ONE host is currently gated by the launch waitlist.

WaitlistMode reports whether ONE host is currently gated by the launch waitlist.
It resolves the host to the service that governs it and reads that service's
waitlist switch, so a guard sitting in front of a hosted surface can decide in one
call whether to show the waitlist or the product. It answers for the ONE host
asked about and never enumerates the registry, which is why it needs no
credential. It FAILS OPEN: an unregistered host, an unmounted registry and a store
fault all answer known=false with mode=false, so a request is never gated pre-boot
or on a registry fault.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlagsAPICloudGetV1FlagsWaitlistRequest
*/
func (a *FlagsAPIService) CloudGetV1FlagsWaitlist(ctx context.Context) FlagsAPICloudGetV1FlagsWaitlistRequest {
	return FlagsAPICloudGetV1FlagsWaitlistRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudWaitlistModeView
func (a *FlagsAPIService) CloudGetV1FlagsWaitlistExecute(r FlagsAPICloudGetV1FlagsWaitlistRequest) (*CloudWaitlistModeView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudWaitlistModeView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudGetV1FlagsWaitlist")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags/waitlist"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlagsAPICloudPostV1FlagsRequest struct {
	ctx             context.Context
	ApiService      *FlagsAPIService
	cloudEvaluateIn *CloudEvaluateIn
}

func (r FlagsAPICloudPostV1FlagsRequest) CloudEvaluateIn(cloudEvaluateIn CloudEvaluateIn) FlagsAPICloudPostV1FlagsRequest {
	r.cloudEvaluateIn = &cloudEvaluateIn
	return r
}

func (r FlagsAPICloudPostV1FlagsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1FlagsExecute(r)
}

/*
CloudPostV1Flags Evaluate runs the caller's flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute.

Evaluate runs the caller's flag definitions for one identity and returns the
PostHog-shaped verdict: which flags are on (or which variant), their payloads,
and whether any definition failed to compute. Evaluation is in-process over the
caller's own (org, project) definitions — no network hop, no shared KV — so a
tenant can only ever evaluate its own flags.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlagsAPICloudPostV1FlagsRequest
*/
func (a *FlagsAPIService) CloudPostV1Flags(ctx context.Context) FlagsAPICloudPostV1FlagsRequest {
	return FlagsAPICloudPostV1FlagsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlagsAPIService) CloudPostV1FlagsExecute(r FlagsAPICloudPostV1FlagsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudPostV1Flags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudEvaluateIn == nil {
		return localVarReturnValue, nil, reportError("cloudEvaluateIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudEvaluateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlagsAPICloudPostV1FlagsDecideRequest struct {
	ctx             context.Context
	ApiService      *FlagsAPIService
	cloudEvaluateIn *CloudEvaluateIn
}

func (r FlagsAPICloudPostV1FlagsDecideRequest) CloudEvaluateIn(cloudEvaluateIn CloudEvaluateIn) FlagsAPICloudPostV1FlagsDecideRequest {
	r.cloudEvaluateIn = &cloudEvaluateIn
	return r
}

func (r FlagsAPICloudPostV1FlagsDecideRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1FlagsDecideExecute(r)
}

/*
CloudPostV1FlagsDecide Evaluate runs the caller's flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute.

Evaluate runs the caller's flag definitions for one identity and returns the
PostHog-shaped verdict: which flags are on (or which variant), their payloads,
and whether any definition failed to compute. Evaluation is in-process over the
caller's own (org, project) definitions — no network hop, no shared KV — so a
tenant can only ever evaluate its own flags.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlagsAPICloudPostV1FlagsDecideRequest
*/
func (a *FlagsAPIService) CloudPostV1FlagsDecide(ctx context.Context) FlagsAPICloudPostV1FlagsDecideRequest {
	return FlagsAPICloudPostV1FlagsDecideRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlagsAPIService) CloudPostV1FlagsDecideExecute(r FlagsAPICloudPostV1FlagsDecideRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudPostV1FlagsDecide")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags/decide"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudEvaluateIn == nil {
		return localVarReturnValue, nil, reportError("cloudEvaluateIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudEvaluateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlagsAPICloudPutV1FlagsDefsKeyRequest struct {
	ctx        context.Context
	ApiService *FlagsAPIService
	key        string
	body       *interface{}
}

func (r FlagsAPICloudPutV1FlagsDefsKeyRequest) Body(body interface{}) FlagsAPICloudPutV1FlagsDefsKeyRequest {
	r.body = &body
	return r
}

func (r FlagsAPICloudPutV1FlagsDefsKeyRequest) Execute() (*CloudDefRow, *http.Response, error) {
	return r.ApiService.CloudPutV1FlagsDefsKeyExecute(r)
}

/*
CloudPutV1FlagsDefsKey PutFlagDefinition creates or replaces the flag definition at the path's key and returns the stored row.

PutFlagDefinition creates or replaces the flag definition at the path's key and
returns the stored row. The BODY IS THE DEFINITION DOCUMENT — the PostHog-shaped
JSON object the evaluator consumes — and it is stored verbatim except that its
"key" is forced to the key in the URL, so a document can never be filed under a
name other than the one it was addressed by. Every write bumps the version and
appends to the change log under the caller's identity.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the flag key to write, from the path.
	@return FlagsAPICloudPutV1FlagsDefsKeyRequest
*/
func (a *FlagsAPIService) CloudPutV1FlagsDefsKey(ctx context.Context, key string) FlagsAPICloudPutV1FlagsDefsKeyRequest {
	return FlagsAPICloudPutV1FlagsDefsKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return CloudDefRow
func (a *FlagsAPIService) CloudPutV1FlagsDefsKeyExecute(r FlagsAPICloudPutV1FlagsDefsKeyRequest) (*CloudDefRow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDefRow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagsAPIService.CloudPutV1FlagsDefsKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flags/defs/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
