/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ContentAPIService ContentAPI service
type ContentAPIService service

type ContentAPICloudGetV1ContentBoardRequest struct {
	ctx        context.Context
	ApiService *ContentAPIService
	status     *string
	project    *string
	doctype    *string
	limit      *int32
}

// Status keeps only items in one lifecycle state (draft, in_review, approved, queued, published, archived). An undefined state is refused.
func (r ContentAPICloudGetV1ContentBoardRequest) Status(status string) ContentAPICloudGetV1ContentBoardRequest {
	r.status = &status
	return r
}

// Project keeps only items in one brand/site sub-scope.
func (r ContentAPICloudGetV1ContentBoardRequest) Project(project string) ContentAPICloudGetV1ContentBoardRequest {
	r.project = &project
	return r
}

// DocType keeps only one content type; omitted, the board spans every publishable type. An unknown type is refused.
func (r ContentAPICloudGetV1ContentBoardRequest) Doctype(doctype string) ContentAPICloudGetV1ContentBoardRequest {
	r.doctype = &doctype
	return r
}

// Limit caps the rows returned, clamped to 1000. Defaults to 200, which is also what a non-positive or unparseable value takes.
func (r ContentAPICloudGetV1ContentBoardRequest) Limit(limit int32) ContentAPICloudGetV1ContentBoardRequest {
	r.limit = &limit
	return r
}

func (r ContentAPICloudGetV1ContentBoardRequest) Execute() (*CloudBoardPage, *http.Response, error) {
	return r.ApiService.CloudGetV1ContentBoardExecute(r)
}

/*
CloudGetV1ContentBoard GetBoard aggregates the caller org's marketing content across every publishable content type into ONE queue board — the cross-type read the framework's per-DocType list cannot give.

GetBoard aggregates the caller org's marketing content across every publishable
content type into ONE queue board — the cross-type read the framework's
per-DocType list cannot give. It never fails on a partial outage: a content type
the org has not installed, or one whose search errors, is skipped and logged
rather than failing the whole board.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ContentAPICloudGetV1ContentBoardRequest
*/
func (a *ContentAPIService) CloudGetV1ContentBoard(ctx context.Context) ContentAPICloudGetV1ContentBoardRequest {
	return ContentAPICloudGetV1ContentBoardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBoardPage
func (a *ContentAPIService) CloudGetV1ContentBoardExecute(r ContentAPICloudGetV1ContentBoardRequest) (*CloudBoardPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBoardPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.CloudGetV1ContentBoard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/content/board"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.doctype != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "doctype", r.doctype, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentAPICloudGetV1ContentChannelsRequest struct {
	ctx        context.Context
	ApiService *ContentAPIService
}

func (r ContentAPICloudGetV1ContentChannelsRequest) Execute() (*CloudChannelList, *http.Response, error) {
	return r.ApiService.CloudGetV1ContentChannelsExecute(r)
}

/*
CloudGetV1ContentChannels GetChannels lists the distribution channels the caller's org has connected — the social integrations a publish can target.

GetChannels lists the distribution channels the caller's org has connected — the
social integrations a publish can target. A deployment with no distribution edge
wired answers 503 rather than an empty list that would read as "no channels".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ContentAPICloudGetV1ContentChannelsRequest
*/
func (a *ContentAPIService) CloudGetV1ContentChannels(ctx context.Context) ContentAPICloudGetV1ContentChannelsRequest {
	return ContentAPICloudGetV1ContentChannelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudChannelList
func (a *ContentAPIService) CloudGetV1ContentChannelsExecute(r ContentAPICloudGetV1ContentChannelsRequest) (*CloudChannelList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudChannelList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.CloudGetV1ContentChannels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/content/channels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentAPICloudGetV1ContentLifecycleRequest struct {
	ctx        context.Context
	ApiService *ContentAPIService
}

func (r ContentAPICloudGetV1ContentLifecycleRequest) Execute() (*CloudStateGraph, *http.Response, error) {
	return r.ApiService.CloudGetV1ContentLifecycleExecute(r)
}

/*
CloudGetV1ContentLifecycle GetLifecycle returns the ONE marketing-content state machine: the ordered lifecycle states, which state a fresh document starts in, which one is publicly live, and the legal successors of every state.

GetLifecycle returns the ONE marketing-content state machine: the ordered
lifecycle states, which state a fresh document starts in, which one is publicly
live, and the legal successors of every state. The console builds its board
columns and its per-item action buttons from this single answer, so the UI and
the write-time enforcement hook can never disagree about what is legal.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ContentAPICloudGetV1ContentLifecycleRequest
*/
func (a *ContentAPIService) CloudGetV1ContentLifecycle(ctx context.Context) ContentAPICloudGetV1ContentLifecycleRequest {
	return ContentAPICloudGetV1ContentLifecycleRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStateGraph
func (a *ContentAPIService) CloudGetV1ContentLifecycleExecute(r ContentAPICloudGetV1ContentLifecycleRequest) (*CloudStateGraph, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStateGraph
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.CloudGetV1ContentLifecycle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/content/lifecycle"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentAPICloudPostV1ContentDoctypeNameTransitionRequest struct {
	ctx               context.Context
	ApiService        *ContentAPIService
	doctype           string
	name              string
	cloudTransitionIn *CloudTransitionIn
}

func (r ContentAPICloudPostV1ContentDoctypeNameTransitionRequest) CloudTransitionIn(cloudTransitionIn CloudTransitionIn) ContentAPICloudPostV1ContentDoctypeNameTransitionRequest {
	r.cloudTransitionIn = &cloudTransitionIn
	return r
}

func (r ContentAPICloudPostV1ContentDoctypeNameTransitionRequest) Execute() (*CloudTransitionResult, *http.Response, error) {
	return r.ApiService.CloudPostV1ContentDoctypeNameTransitionExecute(r)
}

/*
CloudPostV1ContentDoctypeNameTransition PostTransition moves one content item to a new lifecycle state and, on the move to published, fans it out to the item's channels.

PostTransition moves one content item to a new lifecycle state and, on the move to
published, fans it out to the item's channels. The edge must be legal for the
item's current state — an illegal move is refused with 409 — and the status write
re-validates it at the storage boundary. Distribution is best effort: its honest
state is reported on the result and a distribution failure never rolls the status
change back.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param doctype DocType is the content type to act on, from the path.
	@param name Name is the document to act on, from the path.
	@return ContentAPICloudPostV1ContentDoctypeNameTransitionRequest
*/
func (a *ContentAPIService) CloudPostV1ContentDoctypeNameTransition(ctx context.Context, doctype string, name string) ContentAPICloudPostV1ContentDoctypeNameTransitionRequest {
	return ContentAPICloudPostV1ContentDoctypeNameTransitionRequest{
		ApiService: a,
		ctx:        ctx,
		doctype:    doctype,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudTransitionResult
func (a *ContentAPIService) CloudPostV1ContentDoctypeNameTransitionExecute(r ContentAPICloudPostV1ContentDoctypeNameTransitionRequest) (*CloudTransitionResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTransitionResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.CloudPostV1ContentDoctypeNameTransition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/content/{doctype}/{name}/transition"
	localVarPath = strings.Replace(localVarPath, "{"+"doctype"+"}", url.PathEscape(parameterValueToString(r.doctype, "doctype")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudTransitionIn == nil {
		return localVarReturnValue, nil, reportError("cloudTransitionIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudTransitionIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentAPICloudPostV1ContentGenerateRequest struct {
	ctx        context.Context
	ApiService *ContentAPIService
}

func (r ContentAPICloudPostV1ContentGenerateRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1ContentGenerateExecute(r)
}

/*
CloudPostV1ContentGenerate Method for CloudPostV1ContentGenerate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ContentAPICloudPostV1ContentGenerateRequest
*/
func (a *ContentAPIService) CloudPostV1ContentGenerate(ctx context.Context) ContentAPICloudPostV1ContentGenerateRequest {
	return ContentAPICloudPostV1ContentGenerateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ContentAPIService) CloudPostV1ContentGenerateExecute(r ContentAPICloudPostV1ContentGenerateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.CloudPostV1ContentGenerate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/content/generate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ContentAPICloudPostV1ContentPublishRequest struct {
	ctx               context.Context
	ApiService        *ContentAPIService
	cloudPublishInput *CloudPublishInput
}

func (r ContentAPICloudPostV1ContentPublishRequest) CloudPublishInput(cloudPublishInput CloudPublishInput) ContentAPICloudPostV1ContentPublishRequest {
	r.cloudPublishInput = &cloudPublishInput
	return r
}

func (r ContentAPICloudPostV1ContentPublishRequest) Execute() (*CloudPublishResult, *http.Response, error) {
	return r.ApiService.CloudPostV1ContentPublishExecute(r)
}

/*
CloudPostV1ContentPublish Publish distributes one CMS content item to the channels recorded on it and returns the honest per-channel outcome.

Publish distributes one CMS content item to the channels recorded on it and
returns the honest per-channel outcome. The item names itself — its caption,
media and channel list are read from the stored document, not from this request.
It is idempotent per channel (a channel already posted for this item is skipped),
and a publish that loses the per-item lease to a live publisher answers status
"in_progress" having posted nothing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ContentAPICloudPostV1ContentPublishRequest
*/
func (a *ContentAPIService) CloudPostV1ContentPublish(ctx context.Context) ContentAPICloudPostV1ContentPublishRequest {
	return ContentAPICloudPostV1ContentPublishRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPublishResult
func (a *ContentAPIService) CloudPostV1ContentPublishExecute(r ContentAPICloudPostV1ContentPublishRequest) (*CloudPublishResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPublishResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentAPIService.CloudPostV1ContentPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/content/publish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPublishInput == nil {
		return localVarReturnValue, nil, reportError("cloudPublishInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPublishInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
