/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// RegistryArtifactsAPIService RegistryArtifactsAPI service
type RegistryArtifactsAPIService service

type RegistryArtifactsAPIRegistryCreateTagRequest struct {
	ctx        context.Context
	ApiService *RegistryArtifactsAPIService
	name       string
	repo       string
	digest     string
	tag        string
}

func (r RegistryArtifactsAPIRegistryCreateTagRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.RegistryCreateTagExecute(r)
}

/*
RegistryCreateTag Create tag

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@param repo
	@param digest
	@param tag
	@return RegistryArtifactsAPIRegistryCreateTagRequest
*/
func (a *RegistryArtifactsAPIService) RegistryCreateTag(ctx context.Context, name string, repo string, digest string, tag string) RegistryArtifactsAPIRegistryCreateTagRequest {
	return RegistryArtifactsAPIRegistryCreateTagRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		repo:       repo,
		digest:     digest,
		tag:        tag,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *RegistryArtifactsAPIService) RegistryCreateTagExecute(r RegistryArtifactsAPIRegistryCreateTagRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryArtifactsAPIService.RegistryCreateTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"digest"+"}", url.PathEscape(parameterValueToString(r.digest, "digest")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tag"+"}", url.PathEscape(parameterValueToString(r.tag, "tag")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RegistryError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v RegistryError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RegistryArtifactsAPIRegistryDeleteArtifactRequest struct {
	ctx        context.Context
	ApiService *RegistryArtifactsAPIService
	name       string
	repo       string
	digest     string
}

func (r RegistryArtifactsAPIRegistryDeleteArtifactRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.RegistryDeleteArtifactExecute(r)
}

/*
RegistryDeleteArtifact Delete artifact

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@param repo
	@param digest
	@return RegistryArtifactsAPIRegistryDeleteArtifactRequest
*/
func (a *RegistryArtifactsAPIService) RegistryDeleteArtifact(ctx context.Context, name string, repo string, digest string) RegistryArtifactsAPIRegistryDeleteArtifactRequest {
	return RegistryArtifactsAPIRegistryDeleteArtifactRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		repo:       repo,
		digest:     digest,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *RegistryArtifactsAPIService) RegistryDeleteArtifactExecute(r RegistryArtifactsAPIRegistryDeleteArtifactRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryArtifactsAPIService.RegistryDeleteArtifact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"digest"+"}", url.PathEscape(parameterValueToString(r.digest, "digest")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v RegistryError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RegistryArtifactsAPIRegistryDeleteTagRequest struct {
	ctx        context.Context
	ApiService *RegistryArtifactsAPIService
	name       string
	repo       string
	digest     string
	tag        string
}

func (r RegistryArtifactsAPIRegistryDeleteTagRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.RegistryDeleteTagExecute(r)
}

/*
RegistryDeleteTag Delete tag

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@param repo
	@param digest
	@param tag
	@return RegistryArtifactsAPIRegistryDeleteTagRequest
*/
func (a *RegistryArtifactsAPIService) RegistryDeleteTag(ctx context.Context, name string, repo string, digest string, tag string) RegistryArtifactsAPIRegistryDeleteTagRequest {
	return RegistryArtifactsAPIRegistryDeleteTagRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		repo:       repo,
		digest:     digest,
		tag:        tag,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *RegistryArtifactsAPIService) RegistryDeleteTagExecute(r RegistryArtifactsAPIRegistryDeleteTagRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryArtifactsAPIService.RegistryDeleteTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"digest"+"}", url.PathEscape(parameterValueToString(r.digest, "digest")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tag"+"}", url.PathEscape(parameterValueToString(r.tag, "tag")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v RegistryError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RegistryArtifactsAPIRegistryGetArtifactRequest struct {
	ctx              context.Context
	ApiService       *RegistryArtifactsAPIService
	name             string
	repo             string
	digest           string
	withScanOverview *bool
}

func (r RegistryArtifactsAPIRegistryGetArtifactRequest) WithScanOverview(withScanOverview bool) RegistryArtifactsAPIRegistryGetArtifactRequest {
	r.withScanOverview = &withScanOverview
	return r
}

func (r RegistryArtifactsAPIRegistryGetArtifactRequest) Execute() (*RegistryArtifact, *http.Response, error) {
	return r.ApiService.RegistryGetArtifactExecute(r)
}

/*
RegistryGetArtifact Get artifact

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@param repo
	@param digest Artifact digest (sha256:...)
	@return RegistryArtifactsAPIRegistryGetArtifactRequest
*/
func (a *RegistryArtifactsAPIService) RegistryGetArtifact(ctx context.Context, name string, repo string, digest string) RegistryArtifactsAPIRegistryGetArtifactRequest {
	return RegistryArtifactsAPIRegistryGetArtifactRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		repo:       repo,
		digest:     digest,
	}
}

// Execute executes the request
//
//	@return RegistryArtifact
func (a *RegistryArtifactsAPIService) RegistryGetArtifactExecute(r RegistryArtifactsAPIRegistryGetArtifactRequest) (*RegistryArtifact, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RegistryArtifact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryArtifactsAPIService.RegistryGetArtifact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"digest"+"}", url.PathEscape(parameterValueToString(r.digest, "digest")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.withScanOverview != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_scan_overview", r.withScanOverview, "form", "")
	} else {
		var defaultValue bool = false
		r.withScanOverview = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v RegistryError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RegistryArtifactsAPIRegistryListArtifactsRequest struct {
	ctx              context.Context
	ApiService       *RegistryArtifactsAPIService
	name             string
	repo             string
	type_            *string
	withTag          *bool
	withScanOverview *bool
	page             *int32
	pageSize         *int32
}

// Filter by artifact type
func (r RegistryArtifactsAPIRegistryListArtifactsRequest) Type_(type_ string) RegistryArtifactsAPIRegistryListArtifactsRequest {
	r.type_ = &type_
	return r
}

func (r RegistryArtifactsAPIRegistryListArtifactsRequest) WithTag(withTag bool) RegistryArtifactsAPIRegistryListArtifactsRequest {
	r.withTag = &withTag
	return r
}

func (r RegistryArtifactsAPIRegistryListArtifactsRequest) WithScanOverview(withScanOverview bool) RegistryArtifactsAPIRegistryListArtifactsRequest {
	r.withScanOverview = &withScanOverview
	return r
}

func (r RegistryArtifactsAPIRegistryListArtifactsRequest) Page(page int32) RegistryArtifactsAPIRegistryListArtifactsRequest {
	r.page = &page
	return r
}

func (r RegistryArtifactsAPIRegistryListArtifactsRequest) PageSize(pageSize int32) RegistryArtifactsAPIRegistryListArtifactsRequest {
	r.pageSize = &pageSize
	return r
}

func (r RegistryArtifactsAPIRegistryListArtifactsRequest) Execute() ([]RegistryArtifact, *http.Response, error) {
	return r.ApiService.RegistryListArtifactsExecute(r)
}

/*
RegistryListArtifacts List artifacts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@param repo
	@return RegistryArtifactsAPIRegistryListArtifactsRequest
*/
func (a *RegistryArtifactsAPIService) RegistryListArtifacts(ctx context.Context, name string, repo string) RegistryArtifactsAPIRegistryListArtifactsRequest {
	return RegistryArtifactsAPIRegistryListArtifactsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		repo:       repo,
	}
}

// Execute executes the request
//
//	@return []RegistryArtifact
func (a *RegistryArtifactsAPIService) RegistryListArtifactsExecute(r RegistryArtifactsAPIRegistryListArtifactsRequest) ([]RegistryArtifact, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []RegistryArtifact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryArtifactsAPIService.RegistryListArtifacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/registry/projects/{name}/repositories/{repo}/artifacts"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.withTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_tag", r.withTag, "form", "")
	} else {
		var defaultValue bool = true
		r.withTag = &defaultValue
	}
	if r.withScanOverview != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_scan_overview", r.withScanOverview, "form", "")
	} else {
		var defaultValue bool = false
		r.withScanOverview = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 10
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v RegistryError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RegistryArtifactsAPIRegistryListTagsRequest struct {
	ctx        context.Context
	ApiService *RegistryArtifactsAPIService
	name       string
	repo       string
	digest     string
	page       *int32
	pageSize   *int32
}

func (r RegistryArtifactsAPIRegistryListTagsRequest) Page(page int32) RegistryArtifactsAPIRegistryListTagsRequest {
	r.page = &page
	return r
}

func (r RegistryArtifactsAPIRegistryListTagsRequest) PageSize(pageSize int32) RegistryArtifactsAPIRegistryListTagsRequest {
	r.pageSize = &pageSize
	return r
}

func (r RegistryArtifactsAPIRegistryListTagsRequest) Execute() ([]RegistryTag, *http.Response, error) {
	return r.ApiService.RegistryListTagsExecute(r)
}

/*
RegistryListTags List tags

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@param repo
	@param digest
	@return RegistryArtifactsAPIRegistryListTagsRequest
*/
func (a *RegistryArtifactsAPIService) RegistryListTags(ctx context.Context, name string, repo string, digest string) RegistryArtifactsAPIRegistryListTagsRequest {
	return RegistryArtifactsAPIRegistryListTagsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		repo:       repo,
		digest:     digest,
	}
}

// Execute executes the request
//
//	@return []RegistryTag
func (a *RegistryArtifactsAPIService) RegistryListTagsExecute(r RegistryArtifactsAPIRegistryListTagsRequest) ([]RegistryTag, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []RegistryTag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryArtifactsAPIService.RegistryListTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/registry/projects/{name}/repositories/{repo}/artifacts/{digest}/tags"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"digest"+"}", url.PathEscape(parameterValueToString(r.digest, "digest")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 10
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
