/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MarketingAPIService MarketingAPI service
type MarketingAPIService service

type MarketingAPICloudDeleteV1MarketingAudiencesIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudDeleteV1MarketingAudiencesIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1MarketingAudiencesIdExecute(r)
}

/*
CloudDeleteV1MarketingAudiencesId Removes one of the caller org's audiences and answers 204.

Removes one of the caller org's audiences and answers 204. It
deletes the saved filter only — no customer, event or enrollment is touched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the audience id from the path, as returned by create.
	@return MarketingAPICloudDeleteV1MarketingAudiencesIdRequest
*/
func (a *MarketingAPIService) CloudDeleteV1MarketingAudiencesId(ctx context.Context, id string) MarketingAPICloudDeleteV1MarketingAudiencesIdRequest {
	return MarketingAPICloudDeleteV1MarketingAudiencesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MarketingAPIService) CloudDeleteV1MarketingAudiencesIdExecute(r MarketingAPICloudDeleteV1MarketingAudiencesIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudDeleteV1MarketingAudiencesId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketingAPICloudDeleteV1MarketingCalendarIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudDeleteV1MarketingCalendarIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1MarketingCalendarIdExecute(r)
}

/*
CloudDeleteV1MarketingCalendarId Removes one of the caller org's posts and answers 204.

Removes one of the caller org's posts and answers 204. A
post already published is deleted from the calendar only — nothing is
retracted from the network it went out on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the post id from the path, as returned by create.
	@return MarketingAPICloudDeleteV1MarketingCalendarIdRequest
*/
func (a *MarketingAPIService) CloudDeleteV1MarketingCalendarId(ctx context.Context, id string) MarketingAPICloudDeleteV1MarketingCalendarIdRequest {
	return MarketingAPICloudDeleteV1MarketingCalendarIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MarketingAPIService) CloudDeleteV1MarketingCalendarIdExecute(r MarketingAPICloudDeleteV1MarketingCalendarIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudDeleteV1MarketingCalendarId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketingAPICloudDeleteV1MarketingCampaignsIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudDeleteV1MarketingCampaignsIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1MarketingCampaignsIdExecute(r)
}

/*
CloudDeleteV1MarketingCampaignsId Removes one of the caller org's campaigns and answers 204.

Removes one of the caller org's campaigns and answers 204. A
campaign belonging to another org reads as not found and is left untouched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign id from the path, as returned by create.
	@return MarketingAPICloudDeleteV1MarketingCampaignsIdRequest
*/
func (a *MarketingAPIService) CloudDeleteV1MarketingCampaignsId(ctx context.Context, id string) MarketingAPICloudDeleteV1MarketingCampaignsIdRequest {
	return MarketingAPICloudDeleteV1MarketingCampaignsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MarketingAPIService) CloudDeleteV1MarketingCampaignsIdExecute(r MarketingAPICloudDeleteV1MarketingCampaignsIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudDeleteV1MarketingCampaignsId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketingAPICloudDeleteV1MarketingSuppressionsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	channel    *string
	address    *string
	reason     *string
	createdAt  *int32
}

// Channel is the surface opted out of: email, sms, social, meta, google or tiktok. Empty means email. Opting out of one leaves the others reachable.
func (r MarketingAPICloudDeleteV1MarketingSuppressionsRequest) Channel(channel string) MarketingAPICloudDeleteV1MarketingSuppressionsRequest {
	r.channel = &channel
	return r
}

// Address is the recipient, normalized (lower-cased, trimmed) so an opt-out cannot be slipped past on a case or whitespace difference. Required.
func (r MarketingAPICloudDeleteV1MarketingSuppressionsRequest) Address(address string) MarketingAPICloudDeleteV1MarketingSuppressionsRequest {
	r.address = &address
	return r
}

// Reason is a free-text note, capped at 1024 bytes. The public one-click endpoint records \&quot;one-click unsubscribe\&quot;.
func (r MarketingAPICloudDeleteV1MarketingSuppressionsRequest) Reason(reason string) MarketingAPICloudDeleteV1MarketingSuppressionsRequest {
	r.reason = &reason
	return r
}

// CreatedAt is unix seconds, server-assigned.
func (r MarketingAPICloudDeleteV1MarketingSuppressionsRequest) CreatedAt(createdAt int32) MarketingAPICloudDeleteV1MarketingSuppressionsRequest {
	r.createdAt = &createdAt
	return r
}

func (r MarketingAPICloudDeleteV1MarketingSuppressionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1MarketingSuppressionsExecute(r)
}

/*
CloudDeleteV1MarketingSuppressions Re-subscribes an address on one channel and answers 204.

Re-subscribes an address on one channel and answers 204. An
address that is not on the list reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudDeleteV1MarketingSuppressionsRequest
*/
func (a *MarketingAPIService) CloudDeleteV1MarketingSuppressions(ctx context.Context) MarketingAPICloudDeleteV1MarketingSuppressionsRequest {
	return MarketingAPICloudDeleteV1MarketingSuppressionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *MarketingAPIService) CloudDeleteV1MarketingSuppressionsExecute(r MarketingAPICloudDeleteV1MarketingSuppressionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudDeleteV1MarketingSuppressions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/suppressions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.channel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "channel", r.channel, "form", "")
	}
	if r.address != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address", r.address, "form", "")
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	}
	if r.createdAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdAt", r.createdAt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingAudiencesRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	limit      *int32
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPICloudGetV1MarketingAudiencesRequest) Limit(limit int32) MarketingAPICloudGetV1MarketingAudiencesRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPICloudGetV1MarketingAudiencesRequest) Execute() (*CloudAudienceList, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingAudiencesExecute(r)
}

/*
CloudGetV1MarketingAudiences Returns the org's saved audiences, most recently updated first.

Returns the org's saved audiences, most recently updated first.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudGetV1MarketingAudiencesRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingAudiences(ctx context.Context) MarketingAPICloudGetV1MarketingAudiencesRequest {
	return MarketingAPICloudGetV1MarketingAudiencesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAudienceList
func (a *MarketingAPIService) CloudGetV1MarketingAudiencesExecute(r MarketingAPICloudGetV1MarketingAudiencesRequest) (*CloudAudienceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAudienceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingAudiences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingAudiencesIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudGetV1MarketingAudiencesIdRequest) Execute() (*CloudAudience, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingAudiencesIdExecute(r)
}

/*
CloudGetV1MarketingAudiencesId Returns one of the caller org's saved audiences.

Returns one of the caller org's saved audiences. An audience
belonging to another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the audience id from the path, as returned by create.
	@return MarketingAPICloudGetV1MarketingAudiencesIdRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingAudiencesId(ctx context.Context, id string) MarketingAPICloudGetV1MarketingAudiencesIdRequest {
	return MarketingAPICloudGetV1MarketingAudiencesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAudience
func (a *MarketingAPIService) CloudGetV1MarketingAudiencesIdExecute(r MarketingAPICloudGetV1MarketingAudiencesIdRequest) (*CloudAudience, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAudience
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingAudiencesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingAudiencesIdPreviewRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudGetV1MarketingAudiencesIdPreviewRequest) Execute() (*CloudAudiencePreview, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingAudiencesIdPreviewExecute(r)
}

/*
CloudGetV1MarketingAudiencesIdPreview Evaluates the cohort LIVE — the same resolution an enrollment would run — and reports how big it is and how many real mailboxes it reaches.

Evaluates the cohort LIVE — the same resolution an enrollment
would run — and reports how big it is and how many real mailboxes it reaches.
It is the honest answer to "is this send worth making": a cohort of 500 that
mails 3 says so, in deliverable and unmatched. Nothing is sent.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the audience id from the path, as returned by create.
	@return MarketingAPICloudGetV1MarketingAudiencesIdPreviewRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingAudiencesIdPreview(ctx context.Context, id string) MarketingAPICloudGetV1MarketingAudiencesIdPreviewRequest {
	return MarketingAPICloudGetV1MarketingAudiencesIdPreviewRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAudiencePreview
func (a *MarketingAPIService) CloudGetV1MarketingAudiencesIdPreviewExecute(r MarketingAPICloudGetV1MarketingAudiencesIdPreviewRequest) (*CloudAudiencePreview, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAudiencePreview
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingAudiencesIdPreview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences/{id}/preview"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingCalendarRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	status     *string
	limit      *int32
}

// Status keeps only posts in that state (draft, scheduled, published, failed, canceled). Empty means every post.
func (r MarketingAPICloudGetV1MarketingCalendarRequest) Status(status string) MarketingAPICloudGetV1MarketingCalendarRequest {
	r.status = &status
	return r
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPICloudGetV1MarketingCalendarRequest) Limit(limit int32) MarketingAPICloudGetV1MarketingCalendarRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPICloudGetV1MarketingCalendarRequest) Execute() (*CloudPostList, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingCalendarExecute(r)
}

/*
CloudGetV1MarketingCalendar Returns the org's calendar, soonest scheduled first, optionally narrowed to one status.

Returns the org's calendar, soonest scheduled first,
optionally narrowed to one status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudGetV1MarketingCalendarRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingCalendar(ctx context.Context) MarketingAPICloudGetV1MarketingCalendarRequest {
	return MarketingAPICloudGetV1MarketingCalendarRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPostList
func (a *MarketingAPIService) CloudGetV1MarketingCalendarExecute(r MarketingAPICloudGetV1MarketingCalendarRequest) (*CloudPostList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPostList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingCalendar")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingCalendarIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudGetV1MarketingCalendarIdRequest) Execute() (*CloudCalendarPost, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingCalendarIdExecute(r)
}

/*
CloudGetV1MarketingCalendarId Returns one of the caller org's posts, including the exact error behind a failed publish.

Returns one of the caller org's posts, including the exact
error behind a failed publish. A post belonging to another org reads as not
found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the post id from the path, as returned by create.
	@return MarketingAPICloudGetV1MarketingCalendarIdRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingCalendarId(ctx context.Context, id string) MarketingAPICloudGetV1MarketingCalendarIdRequest {
	return MarketingAPICloudGetV1MarketingCalendarIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCalendarPost
func (a *MarketingAPIService) CloudGetV1MarketingCalendarIdExecute(r MarketingAPICloudGetV1MarketingCalendarIdRequest) (*CloudCalendarPost, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCalendarPost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingCalendarId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingCampaignsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	status     *string
	limit      *int32
}

// Status keeps only campaigns in that lifecycle state (draft, scheduled, active, paused, completed). Empty means every campaign.
func (r MarketingAPICloudGetV1MarketingCampaignsRequest) Status(status string) MarketingAPICloudGetV1MarketingCampaignsRequest {
	r.status = &status
	return r
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPICloudGetV1MarketingCampaignsRequest) Limit(limit int32) MarketingAPICloudGetV1MarketingCampaignsRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPICloudGetV1MarketingCampaignsRequest) Execute() (*CloudCampaignList, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingCampaignsExecute(r)
}

/*
CloudGetV1MarketingCampaigns Returns the org's campaigns, most recently updated first, optionally narrowed to one lifecycle status.

Returns the org's campaigns, most recently updated first,
optionally narrowed to one lifecycle status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudGetV1MarketingCampaignsRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingCampaigns(ctx context.Context) MarketingAPICloudGetV1MarketingCampaignsRequest {
	return MarketingAPICloudGetV1MarketingCampaignsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCampaignList
func (a *MarketingAPIService) CloudGetV1MarketingCampaignsExecute(r MarketingAPICloudGetV1MarketingCampaignsRequest) (*CloudCampaignList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaignList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingCampaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingCampaignsIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudGetV1MarketingCampaignsIdRequest) Execute() (*CloudCampaign, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingCampaignsIdExecute(r)
}

/*
CloudGetV1MarketingCampaignsId Returns one of the caller org's campaigns.

Returns one of the caller org's campaigns. A campaign belonging to
another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the campaign id from the path, as returned by create.
	@return MarketingAPICloudGetV1MarketingCampaignsIdRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingCampaignsId(ctx context.Context, id string) MarketingAPICloudGetV1MarketingCampaignsIdRequest {
	return MarketingAPICloudGetV1MarketingCampaignsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCampaign
func (a *MarketingAPIService) CloudGetV1MarketingCampaignsIdExecute(r MarketingAPICloudGetV1MarketingCampaignsIdRequest) (*CloudCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingCampaignsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingPromosRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
}

func (r MarketingAPICloudGetV1MarketingPromosRequest) Execute() (*CloudPromoList, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingPromosExecute(r)
}

/*
CloudGetV1MarketingPromos Returns every promo the deployment offers with its live counters: how many orgs have redeemed it and how many redemptions remain under the cap.

Returns every promo the deployment offers with its live counters:
how many orgs have redeemed it and how many redemptions remain under the cap.
The promos are fleet-wide, not per-org — only the counters move.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudGetV1MarketingPromosRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingPromos(ctx context.Context) MarketingAPICloudGetV1MarketingPromosRequest {
	return MarketingAPICloudGetV1MarketingPromosRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPromoList
func (a *MarketingAPIService) CloudGetV1MarketingPromosExecute(r MarketingAPICloudGetV1MarketingPromosRequest) (*CloudPromoList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPromoList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingPromos")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/promos"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	code       string
	plan       *string
	seats      *int32
}

// Plan is the plan being priced: pro, max or team. Anything else (including the free Developer plan) has no list price and so nothing to discount.
func (r MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest) Plan(plan string) MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest {
	r.plan = &plan
	return r
}

// Seats is the Team seat count; 0 means 1, and it is ignored for the single-seat plans.
func (r MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest) Seats(seats int32) MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest {
	r.seats = &seats
	return r
}

func (r MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest) Execute() (*CloudQuote, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingPromosCodeEligibilityExecute(r)
}

/*
CloudGetV1MarketingPromosCodeEligibility Prices a promo against a plan and seat count.

Prices a promo against a plan and seat count. It is PURE: nothing
is redeemed, credited or counted, so it is safe to call from a pricing page on
every keystroke. An inactive promo or an exhausted cap quotes ineligible with
the reason rather than erroring.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param code Code is the promo code from the path.
	@return MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingPromosCodeEligibility(ctx context.Context, code string) MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest {
	return MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest{
		ApiService: a,
		ctx:        ctx,
		code:       code,
	}
}

// Execute executes the request
//
//	@return CloudQuote
func (a *MarketingAPIService) CloudGetV1MarketingPromosCodeEligibilityExecute(r MarketingAPICloudGetV1MarketingPromosCodeEligibilityRequest) (*CloudQuote, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudQuote
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingPromosCodeEligibility")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/promos/{code}/eligibility"
	localVarPath = strings.Replace(localVarPath, "{"+"code"+"}", url.PathEscape(parameterValueToString(r.code, "code")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.plan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plan", r.plan, "form", "")
	}
	if r.seats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "seats", r.seats, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingPromosCodeRedemptionRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	code       string
}

func (r MarketingAPICloudGetV1MarketingPromosCodeRedemptionRequest) Execute() (*CloudRedemption, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingPromosCodeRedemptionExecute(r)
}

/*
CloudGetV1MarketingPromosCodeRedemption Returns the caller org's OWN redemption of a promo — an org-scoped read, so it can never surface another tenant's.

Returns the caller org's OWN redemption of a promo — an
org-scoped read, so it can never surface another tenant's. Not found when this
org has not redeemed it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param code Code is the promo code from the path, e.g. \"first1000\".
	@return MarketingAPICloudGetV1MarketingPromosCodeRedemptionRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingPromosCodeRedemption(ctx context.Context, code string) MarketingAPICloudGetV1MarketingPromosCodeRedemptionRequest {
	return MarketingAPICloudGetV1MarketingPromosCodeRedemptionRequest{
		ApiService: a,
		ctx:        ctx,
		code:       code,
	}
}

// Execute executes the request
//
//	@return CloudRedemption
func (a *MarketingAPIService) CloudGetV1MarketingPromosCodeRedemptionExecute(r MarketingAPICloudGetV1MarketingPromosCodeRedemptionRequest) (*CloudRedemption, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRedemption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingPromosCodeRedemption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/promos/{code}/redemption"
	localVarPath = strings.Replace(localVarPath, "{"+"code"+"}", url.PathEscape(parameterValueToString(r.code, "code")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingSequencesRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	limit      *int32
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPICloudGetV1MarketingSequencesRequest) Limit(limit int32) MarketingAPICloudGetV1MarketingSequencesRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPICloudGetV1MarketingSequencesRequest) Execute() (*CloudSequenceList, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingSequencesExecute(r)
}

/*
CloudGetV1MarketingSequences Returns the org's drip sequences, most recently updated first.

Returns the org's drip sequences, most recently updated first.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudGetV1MarketingSequencesRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingSequences(ctx context.Context) MarketingAPICloudGetV1MarketingSequencesRequest {
	return MarketingAPICloudGetV1MarketingSequencesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSequenceList
func (a *MarketingAPIService) CloudGetV1MarketingSequencesExecute(r MarketingAPICloudGetV1MarketingSequencesRequest) (*CloudSequenceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSequenceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingSequences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/sequences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingSequencesIdRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudGetV1MarketingSequencesIdRequest) Execute() (*CloudSequenceView, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingSequencesIdExecute(r)
}

/*
CloudGetV1MarketingSequencesId Returns one of the caller org's sequences together with its steps in send order.

Returns one of the caller org's sequences together with its steps
in send order. A sequence belonging to another org reads as not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the sequence id from the path, as returned by create.
	@return MarketingAPICloudGetV1MarketingSequencesIdRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingSequencesId(ctx context.Context, id string) MarketingAPICloudGetV1MarketingSequencesIdRequest {
	return MarketingAPICloudGetV1MarketingSequencesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudSequenceView
func (a *MarketingAPIService) CloudGetV1MarketingSequencesIdExecute(r MarketingAPICloudGetV1MarketingSequencesIdRequest) (*CloudSequenceView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSequenceView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingSequencesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/sequences/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingSequencesIdEnrollmentsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
	limit      *int32
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPICloudGetV1MarketingSequencesIdEnrollmentsRequest) Limit(limit int32) MarketingAPICloudGetV1MarketingSequencesIdEnrollmentsRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPICloudGetV1MarketingSequencesIdEnrollmentsRequest) Execute() (*CloudEnrollmentList, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingSequencesIdEnrollmentsExecute(r)
}

/*
CloudGetV1MarketingSequencesIdEnrollments Returns who is walking one sequence, most recently enrolled first, with each walk's current step and next due time.

Returns who is walking one sequence, most recently enrolled
first, with each walk's current step and next due time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the sequence id from the path.
	@return MarketingAPICloudGetV1MarketingSequencesIdEnrollmentsRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingSequencesIdEnrollments(ctx context.Context, id string) MarketingAPICloudGetV1MarketingSequencesIdEnrollmentsRequest {
	return MarketingAPICloudGetV1MarketingSequencesIdEnrollmentsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudEnrollmentList
func (a *MarketingAPIService) CloudGetV1MarketingSequencesIdEnrollmentsExecute(r MarketingAPICloudGetV1MarketingSequencesIdEnrollmentsRequest) (*CloudEnrollmentList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudEnrollmentList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingSequencesIdEnrollments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/sequences/{id}/enrollments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingSequencesIdStepsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudGetV1MarketingSequencesIdStepsRequest) Execute() (*CloudStepList, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingSequencesIdStepsExecute(r)
}

/*
CloudGetV1MarketingSequencesIdSteps Returns one sequence's steps in send order.

Returns one sequence's steps in send order.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the sequence id from the path, as returned by create.
	@return MarketingAPICloudGetV1MarketingSequencesIdStepsRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingSequencesIdSteps(ctx context.Context, id string) MarketingAPICloudGetV1MarketingSequencesIdStepsRequest {
	return MarketingAPICloudGetV1MarketingSequencesIdStepsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudStepList
func (a *MarketingAPIService) CloudGetV1MarketingSequencesIdStepsExecute(r MarketingAPICloudGetV1MarketingSequencesIdStepsRequest) (*CloudStepList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStepList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingSequencesIdSteps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/sequences/{id}/steps"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingSummaryRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
}

func (r MarketingAPICloudGetV1MarketingSummaryRequest) Execute() (*CloudSummary, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingSummaryExecute(r)
}

/*
CloudGetV1MarketingSummary Rolls up the caller org's campaigns: how many there are, how many are active, and the summed budget and spend in cents.

Rolls up the caller org's campaigns: how many there are, how many are
active, and the summed budget and spend in cents.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudGetV1MarketingSummaryRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingSummary(ctx context.Context) MarketingAPICloudGetV1MarketingSummaryRequest {
	return MarketingAPICloudGetV1MarketingSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSummary
func (a *MarketingAPIService) CloudGetV1MarketingSummaryExecute(r MarketingAPICloudGetV1MarketingSummaryRequest) (*CloudSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingSuppressionsRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	limit      *int32
}

// Limit caps the rows returned; 0 means 200 and nothing above 1000 is honoured.
func (r MarketingAPICloudGetV1MarketingSuppressionsRequest) Limit(limit int32) MarketingAPICloudGetV1MarketingSuppressionsRequest {
	r.limit = &limit
	return r
}

func (r MarketingAPICloudGetV1MarketingSuppressionsRequest) Execute() (*CloudSuppressionList, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingSuppressionsExecute(r)
}

/*
CloudGetV1MarketingSuppressions Returns the org's opt-out list, newest first — everyone the send gate will refuse to deliver to.

Returns the org's opt-out list, newest first — everyone the
send gate will refuse to deliver to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudGetV1MarketingSuppressionsRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingSuppressions(ctx context.Context) MarketingAPICloudGetV1MarketingSuppressionsRequest {
	return MarketingAPICloudGetV1MarketingSuppressionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSuppressionList
func (a *MarketingAPIService) CloudGetV1MarketingSuppressionsExecute(r MarketingAPICloudGetV1MarketingSuppressionsRequest) (*CloudSuppressionList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSuppressionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingSuppressions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/suppressions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudGetV1MarketingUnsubscribeRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	org        *string
	channel    *string
	address    *string
	token      *string
}

// Org is the org the link was minted for.
func (r MarketingAPICloudGetV1MarketingUnsubscribeRequest) Org(org string) MarketingAPICloudGetV1MarketingUnsubscribeRequest {
	r.org = &org
	return r
}

// Channel is the surface to opt out of.
func (r MarketingAPICloudGetV1MarketingUnsubscribeRequest) Channel(channel string) MarketingAPICloudGetV1MarketingUnsubscribeRequest {
	r.channel = &channel
	return r
}

// Address is the recipient to opt out.
func (r MarketingAPICloudGetV1MarketingUnsubscribeRequest) Address(address string) MarketingAPICloudGetV1MarketingUnsubscribeRequest {
	r.address = &address
	return r
}

// Token is the HMAC over (org, channel, address). It is the ONLY authority here — there is no principal — so it binds the request to one tuple and nothing else.
func (r MarketingAPICloudGetV1MarketingUnsubscribeRequest) Token(token string) MarketingAPICloudGetV1MarketingUnsubscribeRequest {
	r.token = &token
	return r
}

func (r MarketingAPICloudGetV1MarketingUnsubscribeRequest) Execute() (*CloudUnsubscribed, *http.Response, error) {
	return r.ApiService.CloudGetV1MarketingUnsubscribeExecute(r)
}

/*
CloudGetV1MarketingUnsubscribe Is the PUBLIC one-click endpoint (no principal): a recipient clicks the signed link in an email footer.

Is the PUBLIC one-click endpoint (no principal): a recipient
clicks the signed link in an email footer. The token binds (org, channel,
address), so a caller can only opt OUT exactly the tuple it was minted for —
never another address and never another org. An invalid token is refused, and
a deployment with no KMS-sealed key refuses rather than accepting anything.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudGetV1MarketingUnsubscribeRequest
*/
func (a *MarketingAPIService) CloudGetV1MarketingUnsubscribe(ctx context.Context) MarketingAPICloudGetV1MarketingUnsubscribeRequest {
	return MarketingAPICloudGetV1MarketingUnsubscribeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUnsubscribed
func (a *MarketingAPIService) CloudGetV1MarketingUnsubscribeExecute(r MarketingAPICloudGetV1MarketingUnsubscribeRequest) (*CloudUnsubscribed, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUnsubscribed
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudGetV1MarketingUnsubscribe")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/unsubscribe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.channel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "channel", r.channel, "form", "")
	}
	if r.address != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "address", r.address, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudPostV1MarketingAudiencesRequest struct {
	ctx           context.Context
	ApiService    *MarketingAPIService
	cloudAudience *CloudAudience
}

func (r MarketingAPICloudPostV1MarketingAudiencesRequest) CloudAudience(cloudAudience CloudAudience) MarketingAPICloudPostV1MarketingAudiencesRequest {
	r.cloudAudience = &cloudAudience
	return r
}

func (r MarketingAPICloudPostV1MarketingAudiencesRequest) Execute() (*CloudAudience, *http.Response, error) {
	return r.ApiService.CloudPostV1MarketingAudiencesExecute(r)
}

/*
CloudPostV1MarketingAudiences Saves a cohort filter for the caller's org.

Saves a cohort filter for the caller's org. Name is required.
Omitting event saves the WHOLE-ORG audience — every mailable customer — which
needs no analytics warehouse; naming one narrows that roster to the customers
who fired it within windowDays.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudPostV1MarketingAudiencesRequest
*/
func (a *MarketingAPIService) CloudPostV1MarketingAudiences(ctx context.Context) MarketingAPICloudPostV1MarketingAudiencesRequest {
	return MarketingAPICloudPostV1MarketingAudiencesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAudience
func (a *MarketingAPIService) CloudPostV1MarketingAudiencesExecute(r MarketingAPICloudPostV1MarketingAudiencesRequest) (*CloudAudience, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAudience
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudPostV1MarketingAudiences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/audiences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudAudience == nil {
		return localVarReturnValue, nil, reportError("cloudAudience is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudAudience
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudPostV1MarketingCalendarRequest struct {
	ctx               context.Context
	ApiService        *MarketingAPIService
	cloudCalendarPost *CloudCalendarPost
}

func (r MarketingAPICloudPostV1MarketingCalendarRequest) CloudCalendarPost(cloudCalendarPost CloudCalendarPost) MarketingAPICloudPostV1MarketingCalendarRequest {
	r.cloudCalendarPost = &cloudCalendarPost
	return r
}

func (r MarketingAPICloudPostV1MarketingCalendarRequest) Execute() (*CloudCalendarPost, *http.Response, error) {
	return r.ApiService.CloudPostV1MarketingCalendarExecute(r)
}

/*
CloudPostV1MarketingCalendar Adds a post to the content calendar.

Adds a post to the content calendar. Channel and body are
required. A scheduledAt in the future makes the post "scheduled" and the
durable sweep publishes it when it comes due — claimed once, so a post
publishes at most once; without one it stays a draft.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudPostV1MarketingCalendarRequest
*/
func (a *MarketingAPIService) CloudPostV1MarketingCalendar(ctx context.Context) MarketingAPICloudPostV1MarketingCalendarRequest {
	return MarketingAPICloudPostV1MarketingCalendarRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCalendarPost
func (a *MarketingAPIService) CloudPostV1MarketingCalendarExecute(r MarketingAPICloudPostV1MarketingCalendarRequest) (*CloudCalendarPost, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCalendarPost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudPostV1MarketingCalendar")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCalendarPost == nil {
		return localVarReturnValue, nil, reportError("cloudCalendarPost is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCalendarPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudPostV1MarketingCalendarIdPublishRequest struct {
	ctx        context.Context
	ApiService *MarketingAPIService
	id         string
}

func (r MarketingAPICloudPostV1MarketingCalendarIdPublishRequest) Execute() (*CloudCalendarPost, *http.Response, error) {
	return r.ApiService.CloudPostV1MarketingCalendarIdPublishExecute(r)
}

/*
CloudPostV1MarketingCalendarIdPublish Publishes a post NOW, synchronously, whatever its schedule.

Publishes a post NOW, synchronously, whatever its
schedule. No social connector is wired today, so every channel answers an
honest 501 naming the seam a real one would plug into, and the post is
recorded failed with that exact reason — never a faked "published".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the post id from the path, as returned by create.
	@return MarketingAPICloudPostV1MarketingCalendarIdPublishRequest
*/
func (a *MarketingAPIService) CloudPostV1MarketingCalendarIdPublish(ctx context.Context, id string) MarketingAPICloudPostV1MarketingCalendarIdPublishRequest {
	return MarketingAPICloudPostV1MarketingCalendarIdPublishRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudCalendarPost
func (a *MarketingAPIService) CloudPostV1MarketingCalendarIdPublishExecute(r MarketingAPICloudPostV1MarketingCalendarIdPublishRequest) (*CloudCalendarPost, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCalendarPost
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudPostV1MarketingCalendarIdPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/calendar/{id}/publish"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketingAPICloudPostV1MarketingCampaignsRequest struct {
	ctx           context.Context
	ApiService    *MarketingAPIService
	cloudCampaign *CloudCampaign
}

func (r MarketingAPICloudPostV1MarketingCampaignsRequest) CloudCampaign(cloudCampaign CloudCampaign) MarketingAPICloudPostV1MarketingCampaignsRequest {
	r.cloudCampaign = &cloudCampaign
	return r
}

func (r MarketingAPICloudPostV1MarketingCampaignsRequest) Execute() (*CloudCampaign, *http.Response, error) {
	return r.ApiService.CloudPostV1MarketingCampaignsExecute(r)
}

/*
CloudPostV1MarketingCampaigns Registers a campaign in the caller's org.

Registers a campaign in the caller's org. Name is required;
channel defaults to email and status to draft, and a future scheduledAt with
no explicit status makes the campaign "scheduled". Budget and spend are cents
and are clamped to >= 0. The id, createdAt and updatedAt of the input are
ignored — the server assigns them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketingAPICloudPostV1MarketingCampaignsRequest
*/
func (a *MarketingAPIService) CloudPostV1MarketingCampaigns(ctx context.Context) MarketingAPICloudPostV1MarketingCampaignsRequest {
	return MarketingAPICloudPostV1MarketingCampaignsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCampaign
func (a *MarketingAPIService) CloudPostV1MarketingCampaignsExecute(r MarketingAPICloudPostV1MarketingCampaignsRequest) (*CloudCampaign, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCampaign
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketingAPIService.CloudPostV1MarketingCampaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketing/campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCampaign == nil {
		return localVarReturnValue, nil, reportError("cloudCampaign is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCampaign
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

[...]
