/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// WecomBotAPIService WecomBotAPI service
type WecomBotAPIService service

type WecomBotAPIGetWecomBotCallbackByBotidRequest struct {
	ctx        context.Context
	ApiService *WecomBotAPIService
}

func (r WecomBotAPIGetWecomBotCallbackByBotidRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetWecomBotCallbackByBotidExecute(r)
}

/*
GetWecomBotCallbackByBotid Verify WeChat work bot callback URL

Verify WeChat work bot callback URL

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WecomBotAPIGetWecomBotCallbackByBotidRequest
*/
func (a *WecomBotAPIService) GetWecomBotCallbackByBotid(ctx context.Context) WecomBotAPIGetWecomBotCallbackByBotidRequest {
	return WecomBotAPIGetWecomBotCallbackByBotidRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *WecomBotAPIService) GetWecomBotCallbackByBotidExecute(r WecomBotAPIGetWecomBotCallbackByBotidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WecomBotAPIService.GetWecomBotCallbackByBotid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wecom-bot/callback/{botId}"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type WecomBotAPIPostWecomBotCallbackByBotidRequest struct {
	ctx        context.Context
	ApiService *WecomBotAPIService
}

func (r WecomBotAPIPostWecomBotCallbackByBotidRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostWecomBotCallbackByBotidExecute(r)
}

/*
PostWecomBotCallbackByBotid Process WeChat work bot messages

Process WeChat work bot messages

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WecomBotAPIPostWecomBotCallbackByBotidRequest
*/
func (a *WecomBotAPIService) PostWecomBotCallbackByBotid(ctx context.Context) WecomBotAPIPostWecomBotCallbackByBotidRequest {
	return WecomBotAPIPostWecomBotCallbackByBotidRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *WecomBotAPIService) PostWecomBotCallbackByBotidExecute(r WecomBotAPIPostWecomBotCallbackByBotidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WecomBotAPIService.PostWecomBotCallbackByBotid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wecom-bot/callback/{botId}"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
