/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ExplorerAPIService ExplorerAPI service
type ExplorerAPIService service

type ExplorerAPIGetExplorerIndexersRequest struct {
	ctx        context.Context
	ApiService *ExplorerAPIService
}

func (r ExplorerAPIGetExplorerIndexersRequest) Execute() (*IndexersOut, *http.Response, error) {
	return r.ApiService.GetExplorerIndexersExecute(r)
}

/*
GetExplorerIndexers Reports the deployment's chain indexer(s) and how far each has indexed.

Reports the deployment's chain indexer(s) and how far each has
indexed. Identity and health come from the indexer's /health; the latest indexed
block (height + time) from its /v1/explorer/blocks. The row EXISTS if EITHER call
reaches the indexer; when the indexer is entirely unreachable the answer degrades
to an honest-EMPTY list at 200, not a 502. No chain HEAD is exposed by the indexer
REST, so `lag` is honestly omitted rather than fabricated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ExplorerAPIGetExplorerIndexersRequest
*/
func (a *ExplorerAPIService) GetExplorerIndexers(ctx context.Context) ExplorerAPIGetExplorerIndexersRequest {
	return ExplorerAPIGetExplorerIndexersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IndexersOut
func (a *ExplorerAPIService) GetExplorerIndexersExecute(r ExplorerAPIGetExplorerIndexersRequest) (*IndexersOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IndexersOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExplorerAPIService.GetExplorerIndexers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/explorer/indexers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ExplorerAPIGetExplorerOraclesRequest struct {
	ctx        context.Context
	ApiService *ExplorerAPIService
}

func (r ExplorerAPIGetExplorerOraclesRequest) Execute() (*OraclesOut, *http.Response, error) {
	return r.ApiService.GetExplorerOraclesExecute(r)
}

/*
GetExplorerOracles Reports the on-chain price/data oracles from the graph's O-Chain PriceFeed registry.

Reports the on-chain price/data oracles from the graph's O-Chain
PriceFeed registry. A reachable graph with no feeds answers an honest empty list;
an unreachable or erroring graph likewise degrades to an empty list at 200 rather
than a 502, so the console never error-toasts. No feed is ever fabricated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ExplorerAPIGetExplorerOraclesRequest
*/
func (a *ExplorerAPIService) GetExplorerOracles(ctx context.Context) ExplorerAPIGetExplorerOraclesRequest {
	return ExplorerAPIGetExplorerOraclesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OraclesOut
func (a *ExplorerAPIService) GetExplorerOraclesExecute(r ExplorerAPIGetExplorerOraclesRequest) (*OraclesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OraclesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExplorerAPIService.GetExplorerOracles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/explorer/oracles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
