/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// IamRolesPermissionsAPIService IamRolesPermissionsAPI service
type IamRolesPermissionsAPIService service

type IamRolesPermissionsAPIIamApiControllerAddEnforcerRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	body       *map[string]interface{}
}

// The enforcer object
func (r IamRolesPermissionsAPIIamApiControllerAddEnforcerRequest) Body(body map[string]interface{}) IamRolesPermissionsAPIIamApiControllerAddEnforcerRequest {
	r.body = &body
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerAddEnforcerRequest) Execute() (*IamObjectEnforcer, *http.Response, error) {
	return r.ApiService.IamApiControllerAddEnforcerExecute(r)
}

/*
IamApiControllerAddEnforcer Api Controller Add Enforcer

add enforcer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerAddEnforcerRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerAddEnforcer(ctx context.Context) IamRolesPermissionsAPIIamApiControllerAddEnforcerRequest {
	return IamRolesPermissionsAPIIamApiControllerAddEnforcerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectEnforcer
func (a *IamRolesPermissionsAPIService) IamApiControllerAddEnforcerExecute(r IamRolesPermissionsAPIIamApiControllerAddEnforcerRequest) (*IamObjectEnforcer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectEnforcer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerAddEnforcer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/enforcers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerAddModelRequest struct {
	ctx            context.Context
	ApiService     *IamRolesPermissionsAPIService
	iamObjectModel *IamObjectModel
}

// The details of the model
func (r IamRolesPermissionsAPIIamApiControllerAddModelRequest) IamObjectModel(iamObjectModel IamObjectModel) IamRolesPermissionsAPIIamApiControllerAddModelRequest {
	r.iamObjectModel = &iamObjectModel
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerAddModelRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerAddModelExecute(r)
}

/*
IamApiControllerAddModel Api Controller Add Model

add model

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerAddModelRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerAddModel(ctx context.Context) IamRolesPermissionsAPIIamApiControllerAddModelRequest {
	return IamRolesPermissionsAPIIamApiControllerAddModelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerAddModelExecute(r IamRolesPermissionsAPIIamApiControllerAddModelRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerAddModel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/models"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectModel == nil {
		return localVarReturnValue, nil, reportError("iamObjectModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerAddPermissionRequest struct {
	ctx                 context.Context
	ApiService          *IamRolesPermissionsAPIService
	iamObjectPermission *IamObjectPermission
}

// The details of the permission
func (r IamRolesPermissionsAPIIamApiControllerAddPermissionRequest) IamObjectPermission(iamObjectPermission IamObjectPermission) IamRolesPermissionsAPIIamApiControllerAddPermissionRequest {
	r.iamObjectPermission = &iamObjectPermission
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerAddPermissionRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerAddPermissionExecute(r)
}

/*
IamApiControllerAddPermission Api Controller Add Permission

add permission

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerAddPermissionRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerAddPermission(ctx context.Context) IamRolesPermissionsAPIIamApiControllerAddPermissionRequest {
	return IamRolesPermissionsAPIIamApiControllerAddPermissionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerAddPermissionExecute(r IamRolesPermissionsAPIIamApiControllerAddPermissionRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerAddPermission")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/permissions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectPermission == nil {
		return localVarReturnValue, nil, reportError("iamObjectPermission is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectPermission
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerAddPolicyRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	id         *string
	body       *map[string]interface{}
}

// The id ( owner/name )  of enforcer
func (r IamRolesPermissionsAPIIamApiControllerAddPolicyRequest) Id(id string) IamRolesPermissionsAPIIamApiControllerAddPolicyRequest {
	r.id = &id
	return r
}

// The policy to add
func (r IamRolesPermissionsAPIIamApiControllerAddPolicyRequest) Body(body map[string]interface{}) IamRolesPermissionsAPIIamApiControllerAddPolicyRequest {
	r.body = &body
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerAddPolicyRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerAddPolicyExecute(r)
}

/*
IamApiControllerAddPolicy Api Controller Add Policy

add policy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerAddPolicyRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerAddPolicy(ctx context.Context) IamRolesPermissionsAPIIamApiControllerAddPolicyRequest {
	return IamRolesPermissionsAPIIamApiControllerAddPolicyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *IamRolesPermissionsAPIService) IamApiControllerAddPolicyExecute(r IamRolesPermissionsAPIIamApiControllerAddPolicyRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerAddPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerAddRoleRequest struct {
	ctx           context.Context
	ApiService    *IamRolesPermissionsAPIService
	iamObjectRole *IamObjectRole
}

// The details of the role
func (r IamRolesPermissionsAPIIamApiControllerAddRoleRequest) IamObjectRole(iamObjectRole IamObjectRole) IamRolesPermissionsAPIIamApiControllerAddRoleRequest {
	r.iamObjectRole = &iamObjectRole
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerAddRoleRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerAddRoleExecute(r)
}

/*
IamApiControllerAddRole Api Controller Add Role

add role

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerAddRoleRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerAddRole(ctx context.Context) IamRolesPermissionsAPIIamApiControllerAddRoleRequest {
	return IamRolesPermissionsAPIIamApiControllerAddRoleRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerAddRoleExecute(r IamRolesPermissionsAPIIamApiControllerAddRoleRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerAddRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectRole == nil {
		return localVarReturnValue, nil, reportError("iamObjectRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest struct {
	ctx          context.Context
	ApiService   *IamRolesPermissionsAPIService
	requestBody  *[]string
	permissionId *string
	modelId      *string
	owner        *string
}

// array of casbin requests
func (r IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest) RequestBody(requestBody []string) IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest {
	r.requestBody = &requestBody
	return r
}

// permission id
func (r IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest) PermissionId(permissionId string) IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest {
	r.permissionId = &permissionId
	return r
}

// model id
func (r IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest) ModelId(modelId string) IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest {
	r.modelId = &modelId
	return r
}

// owner
func (r IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest) Owner(owner string) IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest {
	r.owner = &owner
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerBatchEnforceExecute(r)
}

/*
IamApiControllerBatchEnforce Api Controller Batch Enforce

Call Casbin BatchEnforce API

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerBatchEnforce(ctx context.Context) IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest {
	return IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerBatchEnforceExecute(r IamRolesPermissionsAPIIamApiControllerBatchEnforceRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerBatchEnforce")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/enforce/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	if r.permissionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permissionId", r.permissionId, "form", "")
	}
	if r.modelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modelId", r.modelId, "form", "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerDeleteEnforcerRequest struct {
	ctx               context.Context
	ApiService        *IamRolesPermissionsAPIService
	id                string
	iamObjectEnforcer *IamObjectEnforcer
}

// The enforcer object
func (r IamRolesPermissionsAPIIamApiControllerDeleteEnforcerRequest) IamObjectEnforcer(iamObjectEnforcer IamObjectEnforcer) IamRolesPermissionsAPIIamApiControllerDeleteEnforcerRequest {
	r.iamObjectEnforcer = &iamObjectEnforcer
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerDeleteEnforcerRequest) Execute() (*IamObjectEnforcer, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteEnforcerExecute(r)
}

/*
IamApiControllerDeleteEnforcer Api Controller Delete Enforcer

delete enforcer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamRolesPermissionsAPIIamApiControllerDeleteEnforcerRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerDeleteEnforcer(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerDeleteEnforcerRequest {
	return IamRolesPermissionsAPIIamApiControllerDeleteEnforcerRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectEnforcer
func (a *IamRolesPermissionsAPIService) IamApiControllerDeleteEnforcerExecute(r IamRolesPermissionsAPIIamApiControllerDeleteEnforcerRequest) (*IamObjectEnforcer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectEnforcer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerDeleteEnforcer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/enforcers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectEnforcer == nil {
		return localVarReturnValue, nil, reportError("iamObjectEnforcer is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectEnforcer
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerDeleteModelRequest struct {
	ctx            context.Context
	ApiService     *IamRolesPermissionsAPIService
	id             string
	iamObjectModel *IamObjectModel
}

// The details of the model
func (r IamRolesPermissionsAPIIamApiControllerDeleteModelRequest) IamObjectModel(iamObjectModel IamObjectModel) IamRolesPermissionsAPIIamApiControllerDeleteModelRequest {
	r.iamObjectModel = &iamObjectModel
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerDeleteModelRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteModelExecute(r)
}

/*
IamApiControllerDeleteModel Api Controller Delete Model

delete model

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamRolesPermissionsAPIIamApiControllerDeleteModelRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerDeleteModel(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerDeleteModelRequest {
	return IamRolesPermissionsAPIIamApiControllerDeleteModelRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerDeleteModelExecute(r IamRolesPermissionsAPIIamApiControllerDeleteModelRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerDeleteModel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/models/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectModel == nil {
		return localVarReturnValue, nil, reportError("iamObjectModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerDeletePermissionRequest struct {
	ctx                 context.Context
	ApiService          *IamRolesPermissionsAPIService
	id                  string
	iamObjectPermission *IamObjectPermission
}

// The details of the permission
func (r IamRolesPermissionsAPIIamApiControllerDeletePermissionRequest) IamObjectPermission(iamObjectPermission IamObjectPermission) IamRolesPermissionsAPIIamApiControllerDeletePermissionRequest {
	r.iamObjectPermission = &iamObjectPermission
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerDeletePermissionRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeletePermissionExecute(r)
}

/*
IamApiControllerDeletePermission Api Controller Delete Permission

delete permission

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamRolesPermissionsAPIIamApiControllerDeletePermissionRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerDeletePermission(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerDeletePermissionRequest {
	return IamRolesPermissionsAPIIamApiControllerDeletePermissionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerDeletePermissionExecute(r IamRolesPermissionsAPIIamApiControllerDeletePermissionRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerDeletePermission")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/permissions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectPermission == nil {
		return localVarReturnValue, nil, reportError("iamObjectPermission is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectPermission
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerDeleteRoleRequest struct {
	ctx           context.Context
	ApiService    *IamRolesPermissionsAPIService
	id            string
	iamObjectRole *IamObjectRole
}

// The details of the role
func (r IamRolesPermissionsAPIIamApiControllerDeleteRoleRequest) IamObjectRole(iamObjectRole IamObjectRole) IamRolesPermissionsAPIIamApiControllerDeleteRoleRequest {
	r.iamObjectRole = &iamObjectRole
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerDeleteRoleRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteRoleExecute(r)
}

/*
IamApiControllerDeleteRole Api Controller Delete Role

delete role

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamRolesPermissionsAPIIamApiControllerDeleteRoleRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerDeleteRole(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerDeleteRoleRequest {
	return IamRolesPermissionsAPIIamApiControllerDeleteRoleRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerDeleteRoleExecute(r IamRolesPermissionsAPIIamApiControllerDeleteRoleRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerDeleteRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/roles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectRole == nil {
		return localVarReturnValue, nil, reportError("iamObjectRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerEnforceRequest struct {
	ctx          context.Context
	ApiService   *IamRolesPermissionsAPIService
	requestBody  *[]string
	permissionId *string
	modelId      *string
	resourceId   *string
	owner        *string
}

// Casbin request
func (r IamRolesPermissionsAPIIamApiControllerEnforceRequest) RequestBody(requestBody []string) IamRolesPermissionsAPIIamApiControllerEnforceRequest {
	r.requestBody = &requestBody
	return r
}

// permission id
func (r IamRolesPermissionsAPIIamApiControllerEnforceRequest) PermissionId(permissionId string) IamRolesPermissionsAPIIamApiControllerEnforceRequest {
	r.permissionId = &permissionId
	return r
}

// model id
func (r IamRolesPermissionsAPIIamApiControllerEnforceRequest) ModelId(modelId string) IamRolesPermissionsAPIIamApiControllerEnforceRequest {
	r.modelId = &modelId
	return r
}

// resource id
func (r IamRolesPermissionsAPIIamApiControllerEnforceRequest) ResourceId(resourceId string) IamRolesPermissionsAPIIamApiControllerEnforceRequest {
	r.resourceId = &resourceId
	return r
}

// owner
func (r IamRolesPermissionsAPIIamApiControllerEnforceRequest) Owner(owner string) IamRolesPermissionsAPIIamApiControllerEnforceRequest {
	r.owner = &owner
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerEnforceRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerEnforceExecute(r)
}

/*
IamApiControllerEnforce Api Controller Enforce

Call Casbin Enforce API

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerEnforceRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerEnforce(ctx context.Context) IamRolesPermissionsAPIIamApiControllerEnforceRequest {
	return IamRolesPermissionsAPIIamApiControllerEnforceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerEnforceExecute(r IamRolesPermissionsAPIIamApiControllerEnforceRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerEnforce")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/enforce"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	if r.permissionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permissionId", r.permissionId, "form", "")
	}
	if r.modelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modelId", r.modelId, "form", "")
	}
	if r.resourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceId", r.resourceId, "form", "")
	}
	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetAllActionsRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	userId     *string
}

// user id like built-in/admin
func (r IamRolesPermissionsAPIIamApiControllerGetAllActionsRequest) UserId(userId string) IamRolesPermissionsAPIIamApiControllerGetAllActionsRequest {
	r.userId = &userId
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerGetAllActionsRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerGetAllActionsExecute(r)
}

/*
IamApiControllerGetAllActions Api Controller Get All Actions

Get all actions for a user (Casbin API)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerGetAllActionsRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetAllActions(ctx context.Context) IamRolesPermissionsAPIIamApiControllerGetAllActionsRequest {
	return IamRolesPermissionsAPIIamApiControllerGetAllActionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerGetAllActionsExecute(r IamRolesPermissionsAPIIamApiControllerGetAllActionsRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetAllActions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/all-actions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetAllObjectsRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	userId     *string
}

// user id like built-in/admin
func (r IamRolesPermissionsAPIIamApiControllerGetAllObjectsRequest) UserId(userId string) IamRolesPermissionsAPIIamApiControllerGetAllObjectsRequest {
	r.userId = &userId
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerGetAllObjectsRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerGetAllObjectsExecute(r)
}

/*
IamApiControllerGetAllObjects Api Controller Get All Objects

Get all objects for a user (Casbin API)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerGetAllObjectsRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetAllObjects(ctx context.Context) IamRolesPermissionsAPIIamApiControllerGetAllObjectsRequest {
	return IamRolesPermissionsAPIIamApiControllerGetAllObjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerGetAllObjectsExecute(r IamRolesPermissionsAPIIamApiControllerGetAllObjectsRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetAllObjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/all-objects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetAllRolesRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	userId     *string
}

// user id like built-in/admin
func (r IamRolesPermissionsAPIIamApiControllerGetAllRolesRequest) UserId(userId string) IamRolesPermissionsAPIIamApiControllerGetAllRolesRequest {
	r.userId = &userId
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerGetAllRolesRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerGetAllRolesExecute(r)
}

/*
IamApiControllerGetAllRoles Api Controller Get All Roles

Get all roles for a user (Casbin API)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerGetAllRolesRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetAllRoles(ctx context.Context) IamRolesPermissionsAPIIamApiControllerGetAllRolesRequest {
	return IamRolesPermissionsAPIIamApiControllerGetAllRolesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamRolesPermissionsAPIService) IamApiControllerGetAllRolesExecute(r IamRolesPermissionsAPIIamApiControllerGetAllRolesRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetAllRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/all-roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetEnforcerRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	id         string
}

func (r IamRolesPermissionsAPIIamApiControllerGetEnforcerRequest) Execute() (*IamObjectEnforcer, *http.Response, error) {
	return r.ApiService.IamApiControllerGetEnforcerExecute(r)
}

/*
IamApiControllerGetEnforcer Api Controller Get Enforcer

get enforcer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name )  of enforcer
	@return IamRolesPermissionsAPIIamApiControllerGetEnforcerRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetEnforcer(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerGetEnforcerRequest {
	return IamRolesPermissionsAPIIamApiControllerGetEnforcerRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectEnforcer
func (a *IamRolesPermissionsAPIService) IamApiControllerGetEnforcerExecute(r IamRolesPermissionsAPIIamApiControllerGetEnforcerRequest) (*IamObjectEnforcer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectEnforcer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetEnforcer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/enforcers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetEnforcersRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	owner      *string
}

// The owner of enforcers
func (r IamRolesPermissionsAPIIamApiControllerGetEnforcersRequest) Owner(owner string) IamRolesPermissionsAPIIamApiControllerGetEnforcersRequest {
	r.owner = &owner
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerGetEnforcersRequest) Execute() ([]IamObjectEnforcer, *http.Response, error) {
	return r.ApiService.IamApiControllerGetEnforcersExecute(r)
}

/*
IamApiControllerGetEnforcers Api Controller Get Enforcers

get enforcers

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerGetEnforcersRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetEnforcers(ctx context.Context) IamRolesPermissionsAPIIamApiControllerGetEnforcersRequest {
	return IamRolesPermissionsAPIIamApiControllerGetEnforcersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectEnforcer
func (a *IamRolesPermissionsAPIService) IamApiControllerGetEnforcersExecute(r IamRolesPermissionsAPIIamApiControllerGetEnforcersRequest) ([]IamObjectEnforcer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectEnforcer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetEnforcers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/enforcers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest struct {
	ctx             context.Context
	ApiService      *IamRolesPermissionsAPIService
	id              *string
	iamObjectFilter *[]IamObjectFilter
}

// The id ( owner/name )  of enforcer
func (r IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest) Id(id string) IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest {
	r.id = &id
	return r
}

// Array of filter objects for multiple filters
func (r IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest) IamObjectFilter(iamObjectFilter []IamObjectFilter) IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest {
	r.iamObjectFilter = &iamObjectFilter
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerGetFilteredPoliciesExecute(r)
}

/*
IamApiControllerGetFilteredPolicies Api Controller Get Filtered Policies

get filtered policies with support for multiple filters via POST body

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetFilteredPolicies(ctx context.Context) IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest {
	return IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *IamRolesPermissionsAPIService) IamApiControllerGetFilteredPoliciesExecute(r IamRolesPermissionsAPIIamApiControllerGetFilteredPoliciesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetFilteredPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/filtered-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.iamObjectFilter == nil {
		return localVarReturnValue, nil, reportError("iamObjectFilter is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectFilter
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetModelRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	id         string
}

func (r IamRolesPermissionsAPIIamApiControllerGetModelRequest) Execute() (*IamObjectModel, *http.Response, error) {
	return r.ApiService.IamApiControllerGetModelExecute(r)
}

/*
IamApiControllerGetModel Api Controller Get Model

get model

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of the model
	@return IamRolesPermissionsAPIIamApiControllerGetModelRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetModel(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerGetModelRequest {
	return IamRolesPermissionsAPIIamApiControllerGetModelRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectModel
func (a *IamRolesPermissionsAPIService) IamApiControllerGetModelExecute(r IamRolesPermissionsAPIIamApiControllerGetModelRequest) (*IamObjectModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetModel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/models/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetModelsRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	owner      *string
}

// The owner of models
func (r IamRolesPermissionsAPIIamApiControllerGetModelsRequest) Owner(owner string) IamRolesPermissionsAPIIamApiControllerGetModelsRequest {
	r.owner = &owner
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerGetModelsRequest) Execute() ([]IamObjectModel, *http.Response, error) {
	return r.ApiService.IamApiControllerGetModelsExecute(r)
}

/*
IamApiControllerGetModels Api Controller Get Models

get models

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerGetModelsRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetModels(ctx context.Context) IamRolesPermissionsAPIIamApiControllerGetModelsRequest {
	return IamRolesPermissionsAPIIamApiControllerGetModelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectModel
func (a *IamRolesPermissionsAPIService) IamApiControllerGetModelsExecute(r IamRolesPermissionsAPIIamApiControllerGetModelsRequest) ([]IamObjectModel, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetModels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/models"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetPermissionRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	id         string
}

func (r IamRolesPermissionsAPIIamApiControllerGetPermissionRequest) Execute() (*IamObjectPermission, *http.Response, error) {
	return r.ApiService.IamApiControllerGetPermissionExecute(r)
}

/*
IamApiControllerGetPermission Api Controller Get Permission

get permission

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of the permission
	@return IamRolesPermissionsAPIIamApiControllerGetPermissionRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPermission(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerGetPermissionRequest {
	return IamRolesPermissionsAPIIamApiControllerGetPermissionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectPermission
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPermissionExecute(r IamRolesPermissionsAPIIamApiControllerGetPermissionRequest) (*IamObjectPermission, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectPermission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetPermission")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/permissions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetPermissionsRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	owner      *string
}

// The owner of permissions
func (r IamRolesPermissionsAPIIamApiControllerGetPermissionsRequest) Owner(owner string) IamRolesPermissionsAPIIamApiControllerGetPermissionsRequest {
	r.owner = &owner
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerGetPermissionsRequest) Execute() ([]IamObjectPermission, *http.Response, error) {
	return r.ApiService.IamApiControllerGetPermissionsExecute(r)
}

/*
IamApiControllerGetPermissions Api Controller Get Permissions

get permissions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerGetPermissionsRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPermissions(ctx context.Context) IamRolesPermissionsAPIIamApiControllerGetPermissionsRequest {
	return IamRolesPermissionsAPIIamApiControllerGetPermissionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectPermission
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPermissionsExecute(r IamRolesPermissionsAPIIamApiControllerGetPermissionsRequest) ([]IamObjectPermission, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectPermission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetPermissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/permissions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetPermissionsByRoleRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	id         string
}

func (r IamRolesPermissionsAPIIamApiControllerGetPermissionsByRoleRequest) Execute() ([]IamObjectPermission, *http.Response, error) {
	return r.ApiService.IamApiControllerGetPermissionsByRoleExecute(r)
}

/*
IamApiControllerGetPermissionsByRole Api Controller Get Permissions By Role

get permissions by role

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of the role
	@return IamRolesPermissionsAPIIamApiControllerGetPermissionsByRoleRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPermissionsByRole(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerGetPermissionsByRoleRequest {
	return IamRolesPermissionsAPIIamApiControllerGetPermissionsByRoleRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return []IamObjectPermission
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPermissionsByRoleExecute(r IamRolesPermissionsAPIIamApiControllerGetPermissionsByRoleRequest) ([]IamObjectPermission, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectPermission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetPermissionsByRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/permissions-by-roles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetPermissionsBySubmitterRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	id         string
}

func (r IamRolesPermissionsAPIIamApiControllerGetPermissionsBySubmitterRequest) Execute() ([]IamObjectPermission, *http.Response, error) {
	return r.ApiService.IamApiControllerGetPermissionsBySubmitterExecute(r)
}

/*
IamApiControllerGetPermissionsBySubmitter Api Controller Get Permissions By Submitter

get permissions by submitter

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamRolesPermissionsAPIIamApiControllerGetPermissionsBySubmitterRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPermissionsBySubmitter(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerGetPermissionsBySubmitterRequest {
	return IamRolesPermissionsAPIIamApiControllerGetPermissionsBySubmitterRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return []IamObjectPermission
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPermissionsBySubmitterExecute(r IamRolesPermissionsAPIIamApiControllerGetPermissionsBySubmitterRequest) ([]IamObjectPermission, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectPermission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetPermissionsBySubmitter")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/permissions-by-submitters/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	id         *string
	adapterId  *string
}

// The id ( owner/name )  of enforcer
func (r IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest) Id(id string) IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest {
	r.id = &id
	return r
}

// The adapter id
func (r IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest) AdapterId(adapterId string) IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest {
	r.adapterId = &adapterId
	return r
}

func (r IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.IamApiControllerGetPoliciesExecute(r)
}

/*
IamApiControllerGetPolicies Api Controller Get Policies

get policies

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPolicies(ctx context.Context) IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest {
	return IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *IamRolesPermissionsAPIService) IamApiControllerGetPoliciesExecute(r IamRolesPermissionsAPIIamApiControllerGetPoliciesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.adapterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adapterId", r.adapterId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamRolesPermissionsAPIIamApiControllerGetRoleRequest struct {
	ctx        context.Context
	ApiService *IamRolesPermissionsAPIService
	id         string
}

func (r IamRolesPermissionsAPIIamApiControllerGetRoleRequest) Execute() (*IamObjectRole, *http.Response, error) {
	return r.ApiService.IamApiControllerGetRoleExecute(r)
}

/*
IamApiControllerGetRole Api Controller Get Role

get role

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of the role
	@return IamRolesPermissionsAPIIamApiControllerGetRoleRequest
*/
func (a *IamRolesPermissionsAPIService) IamApiControllerGetRole(ctx context.Context, id string) IamRolesPermissionsAPIIamApiControllerGetRoleRequest {
	return IamRolesPermissionsAPIIamApiControllerGetRoleRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectRole
func (a *IamRolesPermissionsAPIService) IamApiControllerGetRoleExecute(r IamRolesPermissionsAPIIamApiControllerGetRoleRequest) (*IamObjectRole, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectRole
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamRolesPermissionsAPIService.IamApiControllerGetRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/roles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
[...]
