/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// TranslateAPIService TranslateAPI service
type TranslateAPIService service

type TranslateAPICloudGetV1TranslateMemoryRequest struct {
	ctx        context.Context
	ApiService *TranslateAPIService
	target     *string
	state      *string
	limit      *int32
}

// Target narrows to one target language tag (BCP-47, e.g. \&quot;es\&quot; or \&quot;pt-BR\&quot;).
func (r TranslateAPICloudGetV1TranslateMemoryRequest) Target(target string) TranslateAPICloudGetV1TranslateMemoryRequest {
	r.target = &target
	return r
}

// State narrows to one position on the review ladder: machine, suggested, approved or published.
func (r TranslateAPICloudGetV1TranslateMemoryRequest) State(state string) TranslateAPICloudGetV1TranslateMemoryRequest {
	r.state = &state
	return r
}

// Limit caps the rows returned. Non-positive or unparseable means the server default (200); the ceiling is 1000.
func (r TranslateAPICloudGetV1TranslateMemoryRequest) Limit(limit int32) TranslateAPICloudGetV1TranslateMemoryRequest {
	r.limit = &limit
	return r
}

func (r TranslateAPICloudGetV1TranslateMemoryRequest) Execute() (*CloudMemoryPage, *http.Response, error) {
	return r.ApiService.CloudGetV1TranslateMemoryExecute(r)
}

/*
CloudGetV1TranslateMemory List returns the org's own translation-memory entries, newest first, optionally narrowed to one target language and/or one position on the review ladder.

List returns the org's own translation-memory entries, newest first, optionally
narrowed to one target language and/or one position on the review ladder. It is
the review lane's read: what a human reviewer works through.

The org is ALWAYS the validated principal's org, never a request field, so one
tenant can never read another's memory — the entries hold customer source text.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TranslateAPICloudGetV1TranslateMemoryRequest
*/
func (a *TranslateAPIService) CloudGetV1TranslateMemory(ctx context.Context) TranslateAPICloudGetV1TranslateMemoryRequest {
	return TranslateAPICloudGetV1TranslateMemoryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMemoryPage
func (a *TranslateAPIService) CloudGetV1TranslateMemoryExecute(r TranslateAPICloudGetV1TranslateMemoryRequest) (*CloudMemoryPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMemoryPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TranslateAPIService.CloudGetV1TranslateMemory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/translate/memory"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.target != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target", r.target, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TranslateAPICloudPostV1TranslateRequest struct {
	ctx        context.Context
	ApiService *TranslateAPIService
}

func (r TranslateAPICloudPostV1TranslateRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1TranslateExecute(r)
}

/*
CloudPostV1Translate Method for CloudPostV1Translate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TranslateAPICloudPostV1TranslateRequest
*/
func (a *TranslateAPIService) CloudPostV1Translate(ctx context.Context) TranslateAPICloudPostV1TranslateRequest {
	return TranslateAPICloudPostV1TranslateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *TranslateAPIService) CloudPostV1TranslateExecute(r TranslateAPICloudPostV1TranslateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TranslateAPIService.CloudPostV1Translate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/translate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TranslateAPICloudPutV1TranslateMemoryRequest struct {
	ctx                context.Context
	ApiService         *TranslateAPIService
	cloudReviewRequest *CloudReviewRequest
}

func (r TranslateAPICloudPutV1TranslateMemoryRequest) CloudReviewRequest(cloudReviewRequest CloudReviewRequest) TranslateAPICloudPutV1TranslateMemoryRequest {
	r.cloudReviewRequest = &cloudReviewRequest
	return r
}

func (r TranslateAPICloudPutV1TranslateMemoryRequest) Execute() (*CloudMemoryEntry, *http.Response, error) {
	return r.ApiService.CloudPutV1TranslateMemoryExecute(r)
}

/*
CloudPutV1TranslateMemory Review records a human decision on one translation-memory entry, and returns the entry as stored.

Review records a human decision on one translation-memory entry, and returns the
entry as stored. A human write always wins over the stored value, and once it lands
at approved or published no machine write can move it again — which is what makes a
locale rebuild safe to run against reviewed work.

The org is ALWAYS the validated principal's org, never a request field, so a review
can only ever land in the caller's own memory.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TranslateAPICloudPutV1TranslateMemoryRequest
*/
func (a *TranslateAPIService) CloudPutV1TranslateMemory(ctx context.Context) TranslateAPICloudPutV1TranslateMemoryRequest {
	return TranslateAPICloudPutV1TranslateMemoryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMemoryEntry
func (a *TranslateAPIService) CloudPutV1TranslateMemoryExecute(r TranslateAPICloudPutV1TranslateMemoryRequest) (*CloudMemoryEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMemoryEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TranslateAPIService.CloudPutV1TranslateMemory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/translate/memory"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudReviewRequest == nil {
		return localVarReturnValue, nil, reportError("cloudReviewRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudReviewRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
