/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// AudioAPIService AudioAPI service
type AudioAPIService service

type AudioAPIPostAudioFoleyRequest struct {
	ctx        context.Context
	ApiService *AudioAPIService
}

func (r AudioAPIPostAudioFoleyRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostAudioFoleyExecute(r)
}

/*
PostAudioFoley Serves the generative audio verbs — /v1/audio/voice (TTS), /music, /foley — that the Zen family serves natively.

Serves the generative audio verbs — /v1/audio/voice (TTS), /music,
/foley — that the Zen family serves natively. It resolves the SKU and, for a Zen
model, forwards to zen's matching verb billed per call at the discovered price.
These verbs are Zen-native; a non-Zen model is rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AudioAPIPostAudioFoleyRequest
*/
func (a *AudioAPIService) PostAudioFoley(ctx context.Context) AudioAPIPostAudioFoleyRequest {
	return AudioAPIPostAudioFoleyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *AudioAPIService) PostAudioFoleyExecute(r AudioAPIPostAudioFoleyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioAPIService.PostAudioFoley")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/foley"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AudioAPIPostAudioMusicRequest struct {
	ctx        context.Context
	ApiService *AudioAPIService
}

func (r AudioAPIPostAudioMusicRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostAudioMusicExecute(r)
}

/*
PostAudioMusic Serves the generative audio verbs — /v1/audio/voice (TTS), /music, /foley — that the Zen family serves natively.

Serves the generative audio verbs — /v1/audio/voice (TTS), /music,
/foley — that the Zen family serves natively. It resolves the SKU and, for a Zen
model, forwards to zen's matching verb billed per call at the discovered price.
These verbs are Zen-native; a non-Zen model is rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AudioAPIPostAudioMusicRequest
*/
func (a *AudioAPIService) PostAudioMusic(ctx context.Context) AudioAPIPostAudioMusicRequest {
	return AudioAPIPostAudioMusicRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *AudioAPIService) PostAudioMusicExecute(r AudioAPIPostAudioMusicRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioAPIService.PostAudioMusic")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/music"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AudioAPIPostAudioSpeechRequest struct {
	ctx        context.Context
	ApiService *AudioAPIService
}

func (r AudioAPIPostAudioSpeechRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostAudioSpeechExecute(r)
}

/*
PostAudioSpeech The OpenAI-compatible TTS endpoint (POST /v1/audio/speech).

The OpenAI-compatible TTS endpoint (POST /v1/audio/speech). It
authenticates the caller, resolves `model` to its TTS provider (the SAME model-route
resolution the chat/images/video endpoints use — so a BYO node registered as a TTS
provider works transparently), synthesizes the audio, and streams the bytes back.
One code path, OpenAI-shaped, no store/message coupling (unlike the legacy
/v1/generate-text-to-speech-audio which is bound to a chat store).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AudioAPIPostAudioSpeechRequest
*/
func (a *AudioAPIService) PostAudioSpeech(ctx context.Context) AudioAPIPostAudioSpeechRequest {
	return AudioAPIPostAudioSpeechRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *AudioAPIService) PostAudioSpeechExecute(r AudioAPIPostAudioSpeechRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioAPIService.PostAudioSpeech")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/speech"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AudioAPIPostAudioTranscriptionsRequest struct {
	ctx        context.Context
	ApiService *AudioAPIService
}

func (r AudioAPIPostAudioTranscriptionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostAudioTranscriptionsExecute(r)
}

/*
PostAudioTranscriptions The OpenAI-compatible STT endpoint (POST /v1/audio/transcriptions, multipart: file + model [+ language + response_format]).

The OpenAI-compatible STT endpoint
(POST /v1/audio/transcriptions, multipart: file + model [+ language +
response_format]). It mirrors AudioSpeech exactly: authenticate the caller,
resolve `model` to its STT provider through the SAME model-route resolution
(so the in-cluster speech service — or any BYO node registered as an STT
provider — works transparently), transcribe, and return the OpenAI body.
One code path, OpenAI-shaped, no store coupling (unlike the legacy
/v1/process-speech-to-text, which is bound to a chat store).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AudioAPIPostAudioTranscriptionsRequest
*/
func (a *AudioAPIService) PostAudioTranscriptions(ctx context.Context) AudioAPIPostAudioTranscriptionsRequest {
	return AudioAPIPostAudioTranscriptionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *AudioAPIService) PostAudioTranscriptionsExecute(r AudioAPIPostAudioTranscriptionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioAPIService.PostAudioTranscriptions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/transcriptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AudioAPIPostAudioVoiceRequest struct {
	ctx        context.Context
	ApiService *AudioAPIService
}

func (r AudioAPIPostAudioVoiceRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostAudioVoiceExecute(r)
}

/*
PostAudioVoice Serves the generative audio verbs — /v1/audio/voice (TTS), /music, /foley — that the Zen family serves natively.

Serves the generative audio verbs — /v1/audio/voice (TTS), /music,
/foley — that the Zen family serves natively. It resolves the SKU and, for a Zen
model, forwards to zen's matching verb billed per call at the discovered price.
These verbs are Zen-native; a non-Zen model is rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AudioAPIPostAudioVoiceRequest
*/
func (a *AudioAPIService) PostAudioVoice(ctx context.Context) AudioAPIPostAudioVoiceRequest {
	return AudioAPIPostAudioVoiceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *AudioAPIService) PostAudioVoiceExecute(r AudioAPIPostAudioVoiceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioAPIService.PostAudioVoice")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/voice"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
