/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AdminAPIService AdminAPI service
type AdminAPIService service

type AdminAPIAnalyticsAdminListUsersRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

func (r AdminAPIAnalyticsAdminListUsersRequest) Page(page int32) AdminAPIAnalyticsAdminListUsersRequest {
	r.page = &page
	return r
}

func (r AdminAPIAnalyticsAdminListUsersRequest) PageSize(pageSize int32) AdminAPIAnalyticsAdminListUsersRequest {
	r.pageSize = &pageSize
	return r
}

func (r AdminAPIAnalyticsAdminListUsersRequest) OrderBy(orderBy string) AdminAPIAnalyticsAdminListUsersRequest {
	r.orderBy = &orderBy
	return r
}

func (r AdminAPIAnalyticsAdminListUsersRequest) Search(search string) AdminAPIAnalyticsAdminListUsersRequest {
	r.search = &search
	return r
}

func (r AdminAPIAnalyticsAdminListUsersRequest) Execute() ([]AnalyticsAdminListUsers200ResponseInner, *http.Response, error) {
	return r.ApiService.AnalyticsAdminListUsersExecute(r)
}

/*
AnalyticsAdminListUsers List all users (admin only)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAnalyticsAdminListUsersRequest
*/
func (a *AdminAPIService) AnalyticsAdminListUsers(ctx context.Context) AdminAPIAnalyticsAdminListUsersRequest {
	return AdminAPIAnalyticsAdminListUsersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AnalyticsAdminListUsers200ResponseInner
func (a *AdminAPIService) AnalyticsAdminListUsersExecute(r AdminAPIAnalyticsAdminListUsersRequest) ([]AnalyticsAdminListUsers200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsAdminListUsers200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AnalyticsAdminListUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/admin/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAnalyticsAdminListWebsitesRequest struct {
	ctx               context.Context
	ApiService        *AdminAPIService
	userId            *string
	includeOwnedTeams *string
	includeAllTeams   *string
	page              *int32
	pageSize          *int32
	orderBy           *string
	search            *string
}

func (r AdminAPIAnalyticsAdminListWebsitesRequest) UserId(userId string) AdminAPIAnalyticsAdminListWebsitesRequest {
	r.userId = &userId
	return r
}

func (r AdminAPIAnalyticsAdminListWebsitesRequest) IncludeOwnedTeams(includeOwnedTeams string) AdminAPIAnalyticsAdminListWebsitesRequest {
	r.includeOwnedTeams = &includeOwnedTeams
	return r
}

func (r AdminAPIAnalyticsAdminListWebsitesRequest) IncludeAllTeams(includeAllTeams string) AdminAPIAnalyticsAdminListWebsitesRequest {
	r.includeAllTeams = &includeAllTeams
	return r
}

func (r AdminAPIAnalyticsAdminListWebsitesRequest) Page(page int32) AdminAPIAnalyticsAdminListWebsitesRequest {
	r.page = &page
	return r
}

func (r AdminAPIAnalyticsAdminListWebsitesRequest) PageSize(pageSize int32) AdminAPIAnalyticsAdminListWebsitesRequest {
	r.pageSize = &pageSize
	return r
}

func (r AdminAPIAnalyticsAdminListWebsitesRequest) OrderBy(orderBy string) AdminAPIAnalyticsAdminListWebsitesRequest {
	r.orderBy = &orderBy
	return r
}

func (r AdminAPIAnalyticsAdminListWebsitesRequest) Search(search string) AdminAPIAnalyticsAdminListWebsitesRequest {
	r.search = &search
	return r
}

func (r AdminAPIAnalyticsAdminListWebsitesRequest) Execute() ([]AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsAdminListWebsitesExecute(r)
}

/*
AnalyticsAdminListWebsites List all websites for a user (admin only)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAnalyticsAdminListWebsitesRequest
*/
func (a *AdminAPIService) AnalyticsAdminListWebsites(ctx context.Context) AdminAPIAnalyticsAdminListWebsitesRequest {
	return AdminAPIAnalyticsAdminListWebsitesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AnalyticsWebsite
func (a *AdminAPIService) AnalyticsAdminListWebsitesExecute(r AdminAPIAnalyticsAdminListWebsitesRequest) ([]AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AnalyticsAdminListWebsites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/admin/websites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	if r.includeOwnedTeams != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeOwnedTeams", r.includeOwnedTeams, "form", "")
	}
	if r.includeAllTeams != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeAllTeams", r.includeAllTeams, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminAIMetricsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	range_     *string
}

// Range is the lower time bound: 24h, 7d or 30d. Anything else reads as the board&#39;s own default.
func (r AdminAPICloudAdminAIMetricsRequest) Range_(range_ string) AdminAPICloudAdminAIMetricsRequest {
	r.range_ = &range_
	return r
}

func (r AdminAPICloudAdminAIMetricsRequest) Execute() (*CloudAimetricsOut, *http.Response, error) {
	return r.ApiService.CloudAdminAIMetricsExecute(r)
}

/*
CloudAdminAIMetrics Is the fleet AI board: O11yAI generations (count, cost, avg/p95 latency, per-model), per-model usage from the live cloud_usage ledger, and the eval plane (traces, scores, score names, runs, and the average-score trend).

Is the fleet AI board: O11yAI generations (count, cost, avg/p95 latency,
per-model), per-model usage from the live cloud_usage ledger, and the eval plane
(traces, scores, score names, runs, and the average-score trend).

Every signal degrades INDEPENDENTLY — a table that is absent or errors contributes its
zero value and the read still succeeds. O11yAI latency is a SEPARATE query from
generations and cost on purpose: a Nullable end_time or a column mismatch there must
not zero the two numbers that did read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminAIMetricsRequest
*/
func (a *AdminAPIService) CloudAdminAIMetrics(ctx context.Context) AdminAPICloudAdminAIMetricsRequest {
	return AdminAPICloudAdminAIMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAimetricsOut
func (a *AdminAPIService) CloudAdminAIMetricsExecute(r AdminAPICloudAdminAIMetricsRequest) (*CloudAimetricsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAimetricsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminAIMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/aimetrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminAnalyticsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	range_     *string
}

// Range is the lower time bound: 24h, 7d or 30d. Anything else reads as the board&#39;s own default.
func (r AdminAPICloudAdminAnalyticsRequest) Range_(range_ string) AdminAPICloudAdminAnalyticsRequest {
	r.range_ = &range_
	return r
}

func (r AdminAPICloudAdminAnalyticsRequest) Execute() (*CloudAnalyticsOut, *http.Response, error) {
	return r.ApiService.CloudAdminAnalyticsExecute(r)
}

/*
CloudAdminAnalytics Is the SaaS product-analytics board over the caller's tenant window: active customers, new and churned, retention, MRR, ARPU, the usage trend and the top customers by spend — every number folded from the commerce ledger, not sampled.

Is the SaaS product-analytics board over the caller's tenant window: active
customers, new and churned, retention, MRR, ARPU, the usage trend and the top
customers by spend — every number folded from the commerce ledger, not sampled.

The window is the caller's, not the fleet's: a SuperAdmin gets every org, a
white-label admin only their own subtree (core.ScopedOrgs, the one scope predicate).

sources[] carries each upstream's freshness so a partial read is VISIBLE rather than
silently low: a ledger that answered for only some orgs marks commerce-ledger degraded
instead of publishing an undercount as healthy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminAnalyticsRequest
*/
func (a *AdminAPIService) CloudAdminAnalytics(ctx context.Context) AdminAPICloudAdminAnalyticsRequest {
	return AdminAPICloudAdminAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAnalyticsOut
func (a *AdminAPIService) CloudAdminAnalyticsExecute(r AdminAPICloudAdminAnalyticsRequest) (*CloudAnalyticsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnalyticsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminApplicationsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	owner      *string
	p          *string
	pageSize   *string
}

// Owner is the org whose rows to read. Defaults to the admin org, which owns the platform&#39;s roles and applications.
func (r AdminAPICloudAdminApplicationsRequest) Owner(owner string) AdminAPICloudAdminApplicationsRequest {
	r.owner = &owner
	return r
}

// Page is the 1-based page number. Forwarded only when set — IAM applies its own default otherwise.
func (r AdminAPICloudAdminApplicationsRequest) P(p string) AdminAPICloudAdminApplicationsRequest {
	r.p = &p
	return r
}

// PageSize is rows per page. Forwarded only when set.
func (r AdminAPICloudAdminApplicationsRequest) PageSize(pageSize string) AdminAPICloudAdminApplicationsRequest {
	r.pageSize = &pageSize
	return r
}

func (r AdminAPICloudAdminApplicationsRequest) Execute() (*CloudIamRowsOut, *http.Response, error) {
	return r.ApiService.CloudAdminApplicationsExecute(r)
}

/*
CloudAdminApplications Lists IAM applications for one owner org, forwarded VERBATIM from IAM's get-applications.

Lists IAM applications for one owner org, forwarded VERBATIM from IAM's
get-applications. These are the platform's OIDC clients — the console reads clientId
off each row.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminApplicationsRequest
*/
func (a *AdminAPIService) CloudAdminApplications(ctx context.Context) AdminAPICloudAdminApplicationsRequest {
	return AdminAPICloudAdminApplicationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudIamRowsOut
func (a *AdminAPIService) CloudAdminApplicationsExecute(r AdminAPICloudAdminApplicationsRequest) (*CloudIamRowsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIamRowsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminApplications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminAuditRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	org        *string
	sub        *string
	action     *string
	resource   *string
	resourceId *string
	result     *string
	since      *string
	until      *string
	pageSize   *string
	p          *string
}

// Org restricts the trail to one tenant.
func (r AdminAPICloudAdminAuditRequest) Org(org string) AdminAPICloudAdminAuditRequest {
	r.org = &org
	return r
}

// Sub restricts it to one actor (the validated subject that made the request).
func (r AdminAPICloudAdminAuditRequest) Sub(sub string) AdminAPICloudAdminAuditRequest {
	r.sub = &sub
	return r
}

// Action restricts it to one action name, e.g. \&quot;admin.waitlist.grant\&quot;.
func (r AdminAPICloudAdminAuditRequest) Action(action string) AdminAPICloudAdminAuditRequest {
	r.action = &action
	return r
}

// Resource restricts it to one resource kind, e.g. \&quot;credit-grant\&quot;.
func (r AdminAPICloudAdminAuditRequest) Resource(resource string) AdminAPICloudAdminAuditRequest {
	r.resource = &resource
	return r
}

// ResourceID restricts it to one resource instance.
func (r AdminAPICloudAdminAuditRequest) ResourceId(resourceId string) AdminAPICloudAdminAuditRequest {
	r.resourceId = &resourceId
	return r
}

// Result restricts it to \&quot;success\&quot; or \&quot;error\&quot;.
func (r AdminAPICloudAdminAuditRequest) Result(result string) AdminAPICloudAdminAuditRequest {
	r.result = &result
	return r
}

// Since is the inclusive lower time bound, RFC3339. An unparseable value is ignored rather than refused — one malformed filter must not hide the trail.
func (r AdminAPICloudAdminAuditRequest) Since(since string) AdminAPICloudAdminAuditRequest {
	r.since = &since
	return r
}

// Until is the upper time bound, RFC3339, with the same tolerance.
func (r AdminAPICloudAdminAuditRequest) Until(until string) AdminAPICloudAdminAuditRequest {
	r.until = &until
	return r
}

// PageSize is rows per page, default 100.
func (r AdminAPICloudAdminAuditRequest) PageSize(pageSize string) AdminAPICloudAdminAuditRequest {
	r.pageSize = &pageSize
	return r
}

// Page is the 1-based page number, driving the offset.
func (r AdminAPICloudAdminAuditRequest) P(p string) AdminAPICloudAdminAuditRequest {
	r.p = &p
	return r
}

func (r AdminAPICloudAdminAuditRequest) Execute() (*CloudRecordsOut, *http.Response, error) {
	return r.ApiService.CloudAdminAuditExecute(r)
}

/*
CloudAdminAudit Reads cloud's tamper-evident audit trail, newest first, with the chain's live integrity attached so a listing can be badged as verified.

Reads cloud's tamper-evident audit trail, newest first, with the chain's live
integrity attached so a listing can be badged as verified.

When cloud has no local store configured it falls back to forwarding IAM's own
get-records trail verbatim — a DIFFERENT trail, federated so the endpoint never
regresses to an empty list. Those rows carry no integrity of ours, so the field is
null there.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminAuditRequest
*/
func (a *AdminAPIService) CloudAdminAudit(ctx context.Context) AdminAPICloudAdminAuditRequest {
	return AdminAPICloudAdminAuditRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRecordsOut
func (a *AdminAPIService) CloudAdminAuditExecute(r AdminAPICloudAdminAuditRequest) (*CloudRecordsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRecordsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.sub != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sub", r.sub, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.resource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "form", "")
	}
	if r.resourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceId", r.resourceId, "form", "")
	}
	if r.result != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "result", r.result, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminAuditVerifyRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPICloudAdminAuditVerifyRequest) Execute() (*CloudVerifyOut, *http.Response, error) {
	return r.ApiService.CloudAdminAuditVerifyExecute(r)
}

/*
CloudAdminAuditVerify Walks the WHOLE hash chain and reports whether it is intact: how many records were checked, the head hash to pin externally against tail-truncation, and — when the chain is broken — the seq of the first bad record and why.

Walks the WHOLE hash chain and reports whether it is intact: how many records
were checked, the head hash to pin externally against tail-truncation, and — when the
chain is broken — the seq of the first bad record and why.

brokenAt is -1 exactly when ok is true. An unconfigured store is an honest failure
here rather than a fabricated pass.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminAuditVerifyRequest
*/
func (a *AdminAPIService) CloudAdminAuditVerify(ctx context.Context) AdminAPICloudAdminAuditVerifyRequest {
	return AdminAPICloudAdminAuditVerifyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudVerifyOut
func (a *AdminAPIService) CloudAdminAuditVerifyExecute(r AdminAPICloudAdminAuditVerifyRequest) (*CloudVerifyOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudVerifyOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminAuditVerify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminBasesRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPICloudAdminBasesRequest) Execute() (*CloudBasesOut, *http.Response, error) {
	return r.ApiService.CloudAdminBasesExecute(r)
}

/*
CloudAdminBases Lists the tenant Base instances in the caller's window — a SuperAdmin sees every tenant's, anyone else only their own subtree's.

Lists the tenant Base instances in the caller's window — a SuperAdmin sees every
tenant's, anyone else only their own subtree's.

The scope is enforced TWICE: the upstream is asked for the caller's org, AND every row
it returns is re-checked against the resolved scope. An upstream that ignored the
filter therefore degrades to empty, never to a cross-tenant leak.

The Base engine is being embedded into cloud; until it lands this proxies
BASE_ADMIN_URL and, when that is unset, answers 200 with an empty list and msg saying
so — the honest not-yet state, never fabricated instances.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminBasesRequest
*/
func (a *AdminAPIService) CloudAdminBases(ctx context.Context) AdminAPICloudAdminBasesRequest {
	return AdminAPICloudAdminBasesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBasesOut
func (a *AdminAPIService) CloudAdminBasesExecute(r AdminAPICloudAdminBasesRequest) (*CloudBasesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBasesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminBases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/bases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminBlockStorageRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPICloudAdminBlockStorageRequest) Execute() (*CloudBlockStorageOut, *http.Response, error) {
	return r.ApiService.CloudAdminBlockStorageExecute(r)
}

/*
CloudAdminBlockStorage Is the realtime block-storage board: the DigitalOcean volume fleet (count, capacity, monthly list cost, per-volume region and attachment) plus the analytics datastore's OWN fill, read from its system.disks.

Is the realtime block-storage board: the DigitalOcean volume fleet
(count, capacity, monthly list cost, per-volume region and attachment) plus the
analytics datastore's OWN fill, read from its system.disks.

A volume's usedGiB and pct are null, always: DO exposes capacity and attachment but no
fill, so the console renders "—" rather than a number nobody measured. The datastore
card is the one real fill here, and it is the number to scale on.

The two sources degrade independently — a DO outage still returns the datastore fill,
and a disconnected datastore still returns the DO fleet.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminBlockStorageRequest
*/
func (a *AdminAPIService) CloudAdminBlockStorage(ctx context.Context) AdminAPICloudAdminBlockStorageRequest {
	return AdminAPICloudAdminBlockStorageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBlockStorageOut
func (a *AdminAPIService) CloudAdminBlockStorageExecute(r AdminAPICloudAdminBlockStorageRequest) (*CloudBlockStorageOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBlockStorageOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminBlockStorage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/block-storage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminComputeRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	kind       *string
	org        *string
	range_     *string
}

// Kind narrows to one workload class (bot | machine | cluster | nodepool | container | function | …). An OPEN spectrum matched as a plain string, lowercased to the warehouse&#39;s convention; empty means every kind.
func (r AdminAPICloudAdminComputeRequest) Kind(kind string) AdminAPICloudAdminComputeRequest {
	r.kind = &kind
	return r
}

// Org narrows to one tenant. Empty means every tenant — this board is cross-tenant by nature.
func (r AdminAPICloudAdminComputeRequest) Org(org string) AdminAPICloudAdminComputeRequest {
	r.org = &org
	return r
}

// Range is the lower time bound: 24h, 7d or 30d. Anything else reads as 30d.
func (r AdminAPICloudAdminComputeRequest) Range_(range_ string) AdminAPICloudAdminComputeRequest {
	r.range_ = &range_
	return r
}

func (r AdminAPICloudAdminComputeRequest) Execute() (*CloudComputeOut, *http.Response, error) {
	return r.ApiService.CloudAdminComputeExecute(r)
}

/*
CloudAdminCompute Rolls the fleet's compute usage up to one row per (org, app, project, kind): how many distinct machines ran in the window, how many are still active, what they billed, and when each group last emitted an event.

Rolls the fleet's compute usage up to one row per (org, app, project, kind):
how many distinct machines ran in the window, how many are still active, what they
billed, and when each group last emitted an event. The console folds these into its
org → app → project tree.

A machine counts as ACTIVE when its LATEST lifecycle event is not a terminal one
(stop/destroy/terminate/delete/off/shutdown/expire and their past tenses) — the same
fold the console applies, done in the warehouse so the count is over every machine and
not just the page.

Honest-empty when the warehouse is not connected or hanzo.compute_usage is not
provisioned yet: an empty list, never a fabricated fleet.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminComputeRequest
*/
func (a *AdminAPIService) CloudAdminCompute(ctx context.Context) AdminAPICloudAdminComputeRequest {
	return AdminAPICloudAdminComputeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudComputeOut
func (a *AdminAPIService) CloudAdminComputeExecute(r AdminAPICloudAdminComputeRequest) (*CloudComputeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudComputeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminCompute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/compute"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminCordonNodeRequest struct {
	ctx           context.Context
	ApiService    *AdminAPIService
	id            string
	cloudCordonIn *CloudCordonIn
}

func (r AdminAPICloudAdminCordonNodeRequest) CloudCordonIn(cloudCordonIn CloudCordonIn) AdminAPICloudAdminCordonNodeRequest {
	r.cloudCordonIn = &cloudCordonIn
	return r
}

func (r AdminAPICloudAdminCordonNodeRequest) Execute() (*CloudMutationOut, *http.Response, error) {
	return r.ApiService.CloudAdminCordonNodeExecute(r)
}

/*
CloudAdminCordonNode Marks one cluster node unschedulable — or schedulable again — and can drain the pods already on it.

Marks one cluster node unschedulable — or schedulable again — and can drain
the pods already on it.

It is the ONE infra change that does not go through the run discipline, because there
is no destructive verdict to check: cordoning is reversible and evicting respects the
cluster's own PodDisruptionBudgets. It reads the cached board for the same reason.
The outcome is audited either way, and the result reports how many pods were evicted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the node's droplet id, from the path.
	@return AdminAPICloudAdminCordonNodeRequest
*/
func (a *AdminAPIService) CloudAdminCordonNode(ctx context.Context, id string) AdminAPICloudAdminCordonNodeRequest {
	return AdminAPICloudAdminCordonNodeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudMutationOut
func (a *AdminAPIService) CloudAdminCordonNodeExecute(r AdminAPICloudAdminCordonNodeRequest) (*CloudMutationOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMutationOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminCordonNode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra/nodes/{id}/cordon"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCordonIn == nil {
		return localVarReturnValue, nil, reportError("cloudCordonIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCordonIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminCreateCreditGrantRequest struct {
	ctx         context.Context
	ApiService  *AdminAPIService
	requestBody *map[string]map[string]interface{}
}

func (r AdminAPICloudAdminCreateCreditGrantRequest) RequestBody(requestBody map[string]map[string]interface{}) AdminAPICloudAdminCreateCreditGrantRequest {
	r.requestBody = &requestBody
	return r
}

func (r AdminAPICloudAdminCreateCreditGrantRequest) Execute() (*CloudRawOut, *http.Response, error) {
	return r.ApiService.CloudAdminCreateCreditGrantExecute(r)
}

/*
CloudAdminCreateCreditGrant Mints credit for one org.

Mints credit for one org. It is the ONE admin mint surface, and it
does NOT mint in-process: it forwards the request to commerce's already-mint-gated
POST /v1/billing/credit-grants, authenticated by the service token and scoped to the
target org, then writes one tamper-evident compliance record. Commerce stays the sole
credit ledger; this is a thin, audited relay so there is exactly one place credit is
created.

The body is commerce's OWN CreateCreditGrant contract, forwarded whole — every field
it carries reaches commerce. The only two this layer reads are the target org (`org`,
or `user` as the org-pool alias), which selects the namespace commerce's EdgeAuth
trusts, and `idempotencyKey`, which makes a double-clicked grant credit once.

A FAILED grant is audited too, with the request body attached: an attempted mint is
exactly as interesting to a compliance auditor as a successful one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminCreateCreditGrantRequest
*/
func (a *AdminAPIService) CloudAdminCreateCreditGrant(ctx context.Context) AdminAPICloudAdminCreateCreditGrantRequest {
	return AdminAPICloudAdminCreateCreditGrantRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRawOut
func (a *AdminAPIService) CloudAdminCreateCreditGrantExecute(r AdminAPICloudAdminCreateCreditGrantRequest) (*CloudRawOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRawOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminCreateCreditGrant")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/credit-grants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminCreateSpendCapRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	cloudCapIn *CloudCapIn
}

func (r AdminAPICloudAdminCreateSpendCapRequest) CloudCapIn(cloudCapIn CloudCapIn) AdminAPICloudAdminCreateSpendCapRequest {
	r.cloudCapIn = &cloudCapIn
	return r
}

func (r AdminAPICloudAdminCreateSpendCapRequest) Execute() (*CloudRawOut, *http.Response, error) {
	return r.ApiService.CloudAdminCreateSpendCapExecute(r)
}

/*
CloudAdminCreateSpendCap Sets a usage cap on one org — a platform override of a customer budget, written to the customer's own spend-alert rows.

Sets a usage cap on one org — a platform override of a customer budget,
written to the customer's own spend-alert rows. The body is commerce's spend-alert
contract, forwarded byte-for-byte.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminCreateSpendCapRequest
*/
func (a *AdminAPIService) CloudAdminCreateSpendCap(ctx context.Context) AdminAPICloudAdminCreateSpendCapRequest {
	return AdminAPICloudAdminCreateSpendCapRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRawOut
func (a *AdminAPIService) CloudAdminCreateSpendCapExecute(r AdminAPICloudAdminCreateSpendCapRequest) (*CloudRawOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRawOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminCreateSpendCap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/spend-caps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCapIn == nil {
		return localVarReturnValue, nil, reportError("cloudCapIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCapIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminCustomerRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	org        string
}

func (r AdminAPICloudAdminCustomerRequest) Execute() (*CloudCustomerDetailOut, *http.Response, error) {
	return r.ApiService.CloudAdminCustomerExecute(r)
}

/*
CloudAdminCustomer Answers GET /v1/admin/customers/:org.

Answers GET /v1/admin/customers/:org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org Org is the tenant slug from the path.
	@return AdminAPICloudAdminCustomerRequest
*/
func (a *AdminAPIService) CloudAdminCustomer(ctx context.Context, org string) AdminAPICloudAdminCustomerRequest {
	return AdminAPICloudAdminCustomerRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return CloudCustomerDetailOut
func (a *AdminAPIService) CloudAdminCustomerExecute(r AdminAPICloudAdminCustomerRequest) (*CloudCustomerDetailOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCustomerDetailOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminCustomer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/customers/{org}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminCustomersRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPICloudAdminCustomersRequest) Execute() (*CloudCustomersOut, *http.Response, error) {
	return r.ApiService.CloudAdminCustomersExecute(r)
}

/*
CloudAdminCustomers Lists every customer org at a glance, sorted by slug: owner email, plan, suspend status, member count, balance, month-to-date spend and MRR.

Lists every customer org at a glance, sorted by slug: owner email, plan,
suspend status, member count, balance, month-to-date spend and MRR.

Each row costs one IAM read plus the org's money reads, fanned out under a fixed
concurrency ceiling so a large fleet cannot stampede the upstreams. Every read is
best-effort per row: an upstream miss degrades THAT field to its honest zero rather
than failing the fleet.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminCustomersRequest
*/
func (a *AdminAPIService) CloudAdminCustomers(ctx context.Context) AdminAPICloudAdminCustomersRequest {
	return AdminAPICloudAdminCustomersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCustomersOut
func (a *AdminAPIService) CloudAdminCustomersExecute(r AdminAPICloudAdminCustomersRequest) (*CloudCustomersOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCustomersOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminCustomers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/customers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminDeleteDropletRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
	size       *string
	disk       *bool
}

// Size is the target DigitalOcean size slug on resize, e.g. \&quot;s-4vcpu-8gb\&quot;.
func (r AdminAPICloudAdminDeleteDropletRequest) Size(size string) AdminAPICloudAdminDeleteDropletRequest {
	r.size = &size
	return r
}

// Disk requests a PERMANENT resize that grows the disk. DO can never resize such a droplet down again, so it defaults false — a CPU/RAM-only change, reversible.
func (r AdminAPICloudAdminDeleteDropletRequest) Disk(disk bool) AdminAPICloudAdminDeleteDropletRequest {
	r.disk = &disk
	return r
}

func (r AdminAPICloudAdminDeleteDropletRequest) Execute() (*CloudMutationOut, *http.Response, error) {
	return r.ApiService.CloudAdminDeleteDropletExecute(r)
}

/*
CloudAdminDeleteDroplet Destroys a droplet the board has just proven is NOT a DOKS node.

Destroys a droplet the board has just proven is NOT a DOKS node. There
is no snapshot-first undo for a droplet the way there is for a volume: the local disk
goes with it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DO droplet id, from the path. Numeric.
	@return AdminAPICloudAdminDeleteDropletRequest
*/
func (a *AdminAPIService) CloudAdminDeleteDroplet(ctx context.Context, id string) AdminAPICloudAdminDeleteDropletRequest {
	return AdminAPICloudAdminDeleteDropletRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudMutationOut
func (a *AdminAPIService) CloudAdminDeleteDropletExecute(r AdminAPICloudAdminDeleteDropletRequest) (*CloudMutationOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMutationOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminDeleteDroplet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra/droplets/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.disk != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "disk", r.disk, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminDeleteLoadBalancerRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
}

func (r AdminAPICloudAdminDeleteLoadBalancerRequest) Execute() (*CloudMutationOut, *http.Response, error) {
	return r.ApiService.CloudAdminDeleteLoadBalancerExecute(r)
}

/*
CloudAdminDeleteLoadBalancer Destroys a load balancer the board has just proven no live type=LoadBalancer Service in any cluster targets.

Destroys a load balancer the board has just proven no live
type=LoadBalancer Service in any cluster targets.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DO load balancer id, from the path.
	@return AdminAPICloudAdminDeleteLoadBalancerRequest
*/
func (a *AdminAPIService) CloudAdminDeleteLoadBalancer(ctx context.Context, id string) AdminAPICloudAdminDeleteLoadBalancerRequest {
	return AdminAPICloudAdminDeleteLoadBalancerRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudMutationOut
func (a *AdminAPIService) CloudAdminDeleteLoadBalancerExecute(r AdminAPICloudAdminDeleteLoadBalancerRequest) (*CloudMutationOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMutationOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminDeleteLoadBalancer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra/loadbalancers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminDeleteSpendCapRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
	org        *string
}

// Org is the tenant to act on. Required for a SuperAdmin — they must name their target; ignored for a white-label admin, who always acts on their own org.
func (r AdminAPICloudAdminDeleteSpendCapRequest) Org(org string) AdminAPICloudAdminDeleteSpendCapRequest {
	r.org = &org
	return r
}

func (r AdminAPICloudAdminDeleteSpendCapRequest) Execute() (*CloudRawOut, *http.Response, error) {
	return r.ApiService.CloudAdminDeleteSpendCapExecute(r)
}

/*
CloudAdminDeleteSpendCap Removes one cap by id, lifting the ceiling entirely.

Removes one cap by id, lifting the ceiling entirely.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the cap to edit or remove, from the path. Unused by the list and create ops.
	@return AdminAPICloudAdminDeleteSpendCapRequest
*/
func (a *AdminAPIService) CloudAdminDeleteSpendCap(ctx context.Context, id string) AdminAPICloudAdminDeleteSpendCapRequest {
	return AdminAPICloudAdminDeleteSpendCapRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudRawOut
func (a *AdminAPIService) CloudAdminDeleteSpendCapExecute(r AdminAPICloudAdminDeleteSpendCapRequest) (*CloudRawOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRawOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminDeleteSpendCap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/spend-caps/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminDeleteVolumeRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
	snapshot   *string
	name       *string
	sizeGiB    *int32
}

// Snapshot is the snapshot-first switch on DELETE. Anything other than the literal \&quot;false\&quot; snapshots before destroying — the snapshot IS the undo, so waiving it is deliberate and explicit.
func (r AdminAPICloudAdminDeleteVolumeRequest) Snapshot(snapshot string) AdminAPICloudAdminDeleteVolumeRequest {
	r.snapshot = &snapshot
	return r
}

// Name is the snapshot name on the snapshot action. Blank gets a deterministic \&quot;&lt;volume&gt;-predelete-&lt;unix&gt;\&quot; so the undo is findable in the DO console.
func (r AdminAPICloudAdminDeleteVolumeRequest) Name(name string) AdminAPICloudAdminDeleteVolumeRequest {
	r.name = &name
	return r
}

// SizeGiB is the target size on the resize action. A volume only ever grows — ExpandTo is the verdict that refuses a shrink, so this is not validated here.
func (r AdminAPICloudAdminDeleteVolumeRequest) SizeGiB(sizeGiB int32) AdminAPICloudAdminDeleteVolumeRequest {
	r.sizeGiB = &sizeGiB
	return r
}

func (r AdminAPICloudAdminDeleteVolumeRequest) Execute() (*CloudMutationOut, *http.Response, error) {
	return r.ApiService.CloudAdminDeleteVolumeExecute(r)
}

/*
CloudAdminDeleteVolume Destroys a volume the board has just proven no PersistentVolume in any cluster references.

Destroys a volume the board has just proven no PersistentVolume in any
cluster references. Irreversible, so it snapshots first unless explicitly waived —
the snapshot IS the undo.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DO volume id, from the path.
	@return AdminAPICloudAdminDeleteVolumeRequest
*/
func (a *AdminAPIService) CloudAdminDeleteVolume(ctx context.Context, id string) AdminAPICloudAdminDeleteVolumeRequest {
	return AdminAPICloudAdminDeleteVolumeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudMutationOut
func (a *AdminAPIService) CloudAdminDeleteVolumeExecute(r AdminAPICloudAdminDeleteVolumeRequest) (*CloudMutationOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMutationOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminDeleteVolume")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra/volumes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.snapshot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "snapshot", r.snapshot, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.sizeGiB != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sizeGiB", r.sizeGiB, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminDisablePluginRequest struct {
	ctx         context.Context
	ApiService  *AdminAPIService
	name        string
	cloudNameIn *CloudNameIn
}

func (r AdminAPICloudAdminDisablePluginRequest) CloudNameIn(cloudNameIn CloudNameIn) AdminAPICloudAdminDisablePluginRequest {
	r.cloudNameIn = &cloudNameIn
	return r
}

func (r AdminAPICloudAdminDisablePluginRequest) Execute() (*CloudActionOut, *http.Response, error) {
	return r.ApiService.CloudAdminDisablePluginExecute(r)
}

/*
CloudAdminDisablePlugin Stops the plugin.

Stops the plugin. Its routes STAY REGISTERED and answer 503 — not 404.

That is zip's choice and this keeps it. Removing the routes would mutate the
route table, and re-adding them on enable would grow it without bound across
repeated cycles, which is the invariant that makes reloads flat in memory. It
is also the better answer: 404 says "no such API" and a client may cache it
and stop retrying, while 503 says "this API exists and is down right now",
which is true and retryable. Which of the two 503s this is — deliberate stop
or crash — is what the status's disabled flag reports.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the app, from the path.
	@return AdminAPICloudAdminDisablePluginRequest
*/
func (a *AdminAPIService) CloudAdminDisablePlugin(ctx context.Context, name string) AdminAPICloudAdminDisablePluginRequest {
	return AdminAPICloudAdminDisablePluginRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudActionOut
func (a *AdminAPIService) CloudAdminDisablePluginExecute(r AdminAPICloudAdminDisablePluginRequest) (*CloudActionOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudActionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminDisablePlugin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/plugins/{name}/disable"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudNameIn == nil {
		return localVarReturnValue, nil, reportError("cloudNameIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudNameIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminEnablePluginRequest struct {
	ctx         context.Context
	ApiService  *AdminAPIService
	name        string
	cloudNameIn *CloudNameIn
}

func (r AdminAPICloudAdminEnablePluginRequest) CloudNameIn(cloudNameIn CloudNameIn) AdminAPICloudAdminEnablePluginRequest {
	r.cloudNameIn = &cloudNameIn
	return r
}

func (r AdminAPICloudAdminEnablePluginRequest) Execute() (*CloudActionOut, *http.Response, error) {
	return r.ApiService.CloudAdminEnablePluginExecute(r)
}

/*
CloudAdminEnablePlugin Brings a stopped or disabled plugin back on the artifact it already has: the zero Plugin names no new artifact, so Reload reuses the loaded spec and clears the disabled flag.

Brings a stopped or disabled plugin back on the artifact it already
has: the zero Plugin names no new artifact, so Reload reuses the loaded spec
and clears the disabled flag. Named for what an operator means by it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the app, from the path.
	@return AdminAPICloudAdminEnablePluginRequest
*/
func (a *AdminAPIService) CloudAdminEnablePlugin(ctx context.Context, name string) AdminAPICloudAdminEnablePluginRequest {
	return AdminAPICloudAdminEnablePluginRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudActionOut
func (a *AdminAPIService) CloudAdminEnablePluginExecute(r AdminAPICloudAdminEnablePluginRequest) (*CloudActionOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudActionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminEnablePlugin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/plugins/{name}/enable"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudNameIn == nil {
		return localVarReturnValue, nil, reportError("cloudNameIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudNameIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminFinanceRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPICloudAdminFinanceRequest) Execute() (*CloudFinanceOut, *http.Response, error) {
	return r.ApiService.CloudAdminFinanceExecute(r)
}

/*
CloudAdminFinance Answers GET /v1/admin/finance.

Answers GET /v1/admin/finance. It reads the multi-vendor COGS from commerce
/v1/costs, the DO promo-credit/burn-down treasury view, and the fleet commerce revenue,
then hands them to ComputeFinance. SuperAdmin only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminFinanceRequest
*/
func (a *AdminAPIService) CloudAdminFinance(ctx context.Context) AdminAPICloudAdminFinanceRequest {
	return AdminAPICloudAdminFinanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFinanceOut
func (a *AdminAPIService) CloudAdminFinanceExecute(r AdminAPICloudAdminFinanceRequest) (*CloudFinanceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFinanceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminFinance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/finance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPICloudAdminFinanceBackfillRequest struct {
	ctx             context.Context
	ApiService      *AdminAPIService
	cloudBackfillIn *CloudBackfillIn
}

func (r AdminAPICloudAdminFinanceBackfillRequest) CloudBackfillIn(cloudBackfillIn CloudBackfillIn) AdminAPICloudAdminFinanceBackfillRequest {
	r.cloudBackfillIn = &cloudBackfillIn
	return r
}

func (r AdminAPICloudAdminFinanceBackfillRequest) Execute() (*CloudBackfillOut, *http.Response, error) {
	return r.ApiService.CloudAdminFinanceBackfillExecute(r)
}

/*
CloudAdminFinanceBackfill Carries ONE org's current commerce prepaid balance into the native finance wallet — the one-time cutover between the two ledgers.

Carries ONE org's current commerce prepaid balance into the native finance
wallet — the one-time cutover between the two ledgers.

It is IDEMPOTENT: the deposit uses the fixed ref "backfill:<org>", so re-running it
credits the wallet at most once. Safe to retry.

The pre-migration balance is read from the CO-RESIDENT commerce ledger, not over HTTP:
the admin HTTP client dials an unroutable in-process address and would read $0, and a
phantom zero would silently carry nothing while reporting success. When commerce is
not co-resident this fails rather than migrating nothing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPICloudAdminFinanceBackfillRequest
*/
func (a *AdminAPIService) CloudAdminFinanceBackfill(ctx context.Context) AdminAPICloudAdminFinanceBackfillRequest {
	return AdminAPICloudAdminFinanceBackfillRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBackfillOut
func (a *AdminAPIService) CloudAdminFinanceBackfillExecute(r AdminAPICloudAdminFinanceBackfillRequest) (*CloudBackfillOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBackfillOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.CloudAdminFinanceBackfill")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/finance/backfill"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudBackfillIn == nil {
		return localVarReturnValue, nil, reportError("cloudBackfillIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
[...]
