/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SpendCapsAPIService SpendCapsAPI service
type SpendCapsAPIService service

type SpendCapsAPIBillingBillingAuthorizeSpendCapRequest struct {
	ctx        context.Context
	ApiService *SpendCapsAPIService
	user       *string
	project    *string
	service    *string
	amount     *int64
	pv         *string
	currency   *string
}

// Org billing key (equals the org slug).
func (r SpendCapsAPIBillingBillingAuthorizeSpendCapRequest) User(user string) SpendCapsAPIBillingBillingAuthorizeSpendCapRequest {
	r.user = &user
	return r
}

// Scope project axis; \&quot;\&quot; or \&quot;default\&quot; &#x3D; the org-wide default scope.
func (r SpendCapsAPIBillingBillingAuthorizeSpendCapRequest) Project(project string) SpendCapsAPIBillingBillingAuthorizeSpendCapRequest {
	r.project = &project
	return r
}

// Scope service axis (server-derived route/provider).
func (r SpendCapsAPIBillingBillingAuthorizeSpendCapRequest) Service(service string) SpendCapsAPIBillingBillingAuthorizeSpendCapRequest {
	r.service = &service
	return r
}

// Proposed charge in USD cents to test against the cap (0 &#x3D; a pure \&quot;already over?\&quot; check).
func (r SpendCapsAPIBillingBillingAuthorizeSpendCapRequest) Amount(amount int64) SpendCapsAPIBillingBillingAuthorizeSpendCapRequest {
	r.amount = &amount
	return r
}

// 1 &#x3D; the project axis is bound to a VALIDATED claim (hardens project-scoped caps); otherwise a project-scoped cap degrades to a soft warn (anti-spoof).
func (r SpendCapsAPIBillingBillingAuthorizeSpendCapRequest) Pv(pv string) SpendCapsAPIBillingBillingAuthorizeSpendCapRequest {
	r.pv = &pv
	return r
}

func (r SpendCapsAPIBillingBillingAuthorizeSpendCapRequest) Currency(currency string) SpendCapsAPIBillingBillingAuthorizeSpendCapRequest {
	r.currency = &currency
	return r
}

func (r SpendCapsAPIBillingBillingAuthorizeSpendCapRequest) Execute() (*BillingCapVerdict, *http.Response, error) {
	return r.ApiService.BillingBillingAuthorizeSpendCapExecute(r)
}

/*
BillingBillingAuthorizeSpendCap Per-request spend-cap verdict

The per-request cap verdict the cloud metering gate consumes (service-to-service).
Evaluates EVERY covering spend-alert row for the (project, service) scope over the
current UTC month (most-restrictive-wins) and denies with reason `spend_cap` when a
hard-enforced cap would be exceeded; fails CLOSED if a hard row's spend is unknown.
Balance is NOT checked here — the DISTINCT `insufficient_balance` reason is layered
by the cloud money-path composite, not this endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SpendCapsAPIBillingBillingAuthorizeSpendCapRequest
*/
func (a *SpendCapsAPIService) BillingBillingAuthorizeSpendCap(ctx context.Context) SpendCapsAPIBillingBillingAuthorizeSpendCapRequest {
	return SpendCapsAPIBillingBillingAuthorizeSpendCapRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BillingCapVerdict
func (a *SpendCapsAPIService) BillingBillingAuthorizeSpendCapExecute(r SpendCapsAPIBillingBillingAuthorizeSpendCapRequest) (*BillingCapVerdict, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BillingCapVerdict
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpendCapsAPIService.BillingBillingAuthorizeSpendCap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/billing/spend-alerts/authorize"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.user != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	}
	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.service != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "service", r.service, "form", "")
	}
	if r.amount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "form", "")
	}
	if r.pv != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pv", r.pv, "form", "")
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	} else {
		var defaultValue string = "usd"
		r.currency = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpendCapsAPIBillingBillingCreateSpendAlertRequest struct {
	ctx                     context.Context
	ApiService              *SpendCapsAPIService
	billingSpendAlertCreate *BillingSpendAlertCreate
}

func (r SpendCapsAPIBillingBillingCreateSpendAlertRequest) BillingSpendAlertCreate(billingSpendAlertCreate BillingSpendAlertCreate) SpendCapsAPIBillingBillingCreateSpendAlertRequest {
	r.billingSpendAlertCreate = &billingSpendAlertCreate
	return r
}

func (r SpendCapsAPIBillingBillingCreateSpendAlertRequest) Execute() (*BillingSpendAlert, *http.Response, error) {
	return r.ApiService.BillingBillingCreateSpendAlertExecute(r)
}

/*
BillingBillingCreateSpendAlert Create a spend alert / cap

Create a soft alert or, with `enforce: true`, a HARD per-scope spend cap. The
owning org is pinned server-side from the validated token (never a body/query
field). At least one of `threshold` (> 0) or `rateLimitRpm` (> 0) is required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SpendCapsAPIBillingBillingCreateSpendAlertRequest
*/
func (a *SpendCapsAPIService) BillingBillingCreateSpendAlert(ctx context.Context) SpendCapsAPIBillingBillingCreateSpendAlertRequest {
	return SpendCapsAPIBillingBillingCreateSpendAlertRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BillingSpendAlert
func (a *SpendCapsAPIService) BillingBillingCreateSpendAlertExecute(r SpendCapsAPIBillingBillingCreateSpendAlertRequest) (*BillingSpendAlert, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BillingSpendAlert
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpendCapsAPIService.BillingBillingCreateSpendAlert")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/billing/spend-alerts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.billingSpendAlertCreate == nil {
		return localVarReturnValue, nil, reportError("billingSpendAlertCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.billingSpendAlertCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpendCapsAPIBillingBillingDeleteSpendAlertRequest struct {
	ctx        context.Context
	ApiService *SpendCapsAPIService
	id         string
}

func (r SpendCapsAPIBillingBillingDeleteSpendAlertRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingBillingDeleteSpendAlertExecute(r)
}

/*
BillingBillingDeleteSpendAlert Delete a spend alert / cap

Delete a spend-alert row the caller's org owns. A foreign id 404s.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return SpendCapsAPIBillingBillingDeleteSpendAlertRequest
*/
func (a *SpendCapsAPIService) BillingBillingDeleteSpendAlert(ctx context.Context, id string) SpendCapsAPIBillingBillingDeleteSpendAlertRequest {
	return SpendCapsAPIBillingBillingDeleteSpendAlertRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *SpendCapsAPIService) BillingBillingDeleteSpendAlertExecute(r SpendCapsAPIBillingBillingDeleteSpendAlertRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpendCapsAPIService.BillingBillingDeleteSpendAlert")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/billing/spend-alerts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SpendCapsAPIBillingBillingListSpendAlertsRequest struct {
	ctx        context.Context
	ApiService *SpendCapsAPIService
}

func (r SpendCapsAPIBillingBillingListSpendAlertsRequest) Execute() ([]BillingSpendAlert, *http.Response, error) {
	return r.ApiService.BillingBillingListSpendAlertsExecute(r)
}

/*
BillingBillingListSpendAlerts List spend alerts / caps

The caller org's spend-alert rows (soft budgets, hard caps, rate limits) with DERIVED period spend and over/warn flags for the current UTC month. Org-scoped from the validated token — never another tenant's rows.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SpendCapsAPIBillingBillingListSpendAlertsRequest
*/
func (a *SpendCapsAPIService) BillingBillingListSpendAlerts(ctx context.Context) SpendCapsAPIBillingBillingListSpendAlertsRequest {
	return SpendCapsAPIBillingBillingListSpendAlertsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []BillingSpendAlert
func (a *SpendCapsAPIService) BillingBillingListSpendAlertsExecute(r SpendCapsAPIBillingBillingListSpendAlertsRequest) ([]BillingSpendAlert, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []BillingSpendAlert
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpendCapsAPIService.BillingBillingListSpendAlerts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/billing/spend-alerts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SpendCapsAPIBillingBillingUpdateSpendAlertRequest struct {
	ctx                     context.Context
	ApiService              *SpendCapsAPIService
	id                      string
	billingSpendAlertUpdate *BillingSpendAlertUpdate
}

func (r SpendCapsAPIBillingBillingUpdateSpendAlertRequest) BillingSpendAlertUpdate(billingSpendAlertUpdate BillingSpendAlertUpdate) SpendCapsAPIBillingBillingUpdateSpendAlertRequest {
	r.billingSpendAlertUpdate = &billingSpendAlertUpdate
	return r
}

func (r SpendCapsAPIBillingBillingUpdateSpendAlertRequest) Execute() (*BillingSpendAlert, *http.Response, error) {
	return r.ApiService.BillingBillingUpdateSpendAlertExecute(r)
}

/*
BillingBillingUpdateSpendAlert Update a spend alert / cap

Partial update of a spend-alert row the caller's org owns — only fields present in the body change; the rest are preserved. A foreign id 404s (tenant-isolated).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return SpendCapsAPIBillingBillingUpdateSpendAlertRequest
*/
func (a *SpendCapsAPIService) BillingBillingUpdateSpendAlert(ctx context.Context, id string) SpendCapsAPIBillingBillingUpdateSpendAlertRequest {
	return SpendCapsAPIBillingBillingUpdateSpendAlertRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return BillingSpendAlert
func (a *SpendCapsAPIService) BillingBillingUpdateSpendAlertExecute(r SpendCapsAPIBillingBillingUpdateSpendAlertRequest) (*BillingSpendAlert, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BillingSpendAlert
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpendCapsAPIService.BillingBillingUpdateSpendAlert")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/billing/spend-alerts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.billingSpendAlertUpdate == nil {
		return localVarReturnValue, nil, reportError("billingSpendAlertUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.billingSpendAlertUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AdminAdminCreatePromo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
