/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
	"time"
)

// ConsoleObservationsAPIService ConsoleObservationsAPI service
type ConsoleObservationsAPIService service

type ConsoleObservationsAPIConsoleGetObservationRequest struct {
	ctx           context.Context
	ApiService    *ConsoleObservationsAPIService
	observationId string
}

func (r ConsoleObservationsAPIConsoleGetObservationRequest) Execute() (*ConsoleObservation, *http.Response, error) {
	return r.ApiService.ConsoleGetObservationExecute(r)
}

/*
ConsoleGetObservation Get an observation by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param observationId
	@return ConsoleObservationsAPIConsoleGetObservationRequest
*/
func (a *ConsoleObservationsAPIService) ConsoleGetObservation(ctx context.Context, observationId string) ConsoleObservationsAPIConsoleGetObservationRequest {
	return ConsoleObservationsAPIConsoleGetObservationRequest{
		ApiService:    a,
		ctx:           ctx,
		observationId: observationId,
	}
}

// Execute executes the request
//
//	@return ConsoleObservation
func (a *ConsoleObservationsAPIService) ConsoleGetObservationExecute(r ConsoleObservationsAPIConsoleGetObservationRequest) (*ConsoleObservation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleObservation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleObservationsAPIService.ConsoleGetObservation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/observations/{observationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"observationId"+"}", url.PathEscape(parameterValueToString(r.observationId, "observationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleObservationsAPIConsoleListObservationsRequest struct {
	ctx                 context.Context
	ApiService          *ConsoleObservationsAPIService
	page                *int32
	limit               *int32
	name                *string
	userId              *string
	type_               *string
	traceId             *string
	level               *string
	parentObservationId *string
	environment         *[]string
	fromStartTime       *time.Time
	toStartTime         *time.Time
	version             *string
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) Page(page int32) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.page = &page
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) Limit(limit int32) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.limit = &limit
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) Name(name string) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.name = &name
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) UserId(userId string) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.userId = &userId
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) Type_(type_ string) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.type_ = &type_
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) TraceId(traceId string) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.traceId = &traceId
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) Level(level string) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.level = &level
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) ParentObservationId(parentObservationId string) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.parentObservationId = &parentObservationId
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) Environment(environment []string) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.environment = &environment
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) FromStartTime(fromStartTime time.Time) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.fromStartTime = &fromStartTime
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) ToStartTime(toStartTime time.Time) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.toStartTime = &toStartTime
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) Version(version string) ConsoleObservationsAPIConsoleListObservationsRequest {
	r.version = &version
	return r
}

func (r ConsoleObservationsAPIConsoleListObservationsRequest) Execute() (*ConsoleListObservations200Response, *http.Response, error) {
	return r.ApiService.ConsoleListObservationsExecute(r)
}

/*
ConsoleListObservations Get a list of observations

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleObservationsAPIConsoleListObservationsRequest
*/
func (a *ConsoleObservationsAPIService) ConsoleListObservations(ctx context.Context) ConsoleObservationsAPIConsoleListObservationsRequest {
	return ConsoleObservationsAPIConsoleListObservationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleListObservations200Response
func (a *ConsoleObservationsAPIService) ConsoleListObservationsExecute(r ConsoleObservationsAPIConsoleListObservationsRequest) (*ConsoleListObservations200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleListObservations200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleObservationsAPIService.ConsoleListObservations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/observations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.traceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceId", r.traceId, "form", "")
	}
	if r.level != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "level", r.level, "form", "")
	}
	if r.parentObservationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parentObservationId", r.parentObservationId, "form", "")
	}
	if r.environment != nil {
		t := *r.environment
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "environment", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "environment", t, "form", "multi")
		}
	}
	if r.fromStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromStartTime", r.fromStartTime, "form", "")
	}
	if r.toStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toStartTime", r.toStartTime, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
