/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CloudConnectionAPIAPIService CloudConnectionAPIAPI service
type CloudConnectionAPIAPIService service

type CloudConnectionAPIAPICloudApiControllerAddConnectionRequest struct {
	ctx                   context.Context
	ApiService            *CloudConnectionAPIAPIService
	cloudObjectConnection *CloudObjectConnection
}

// The connection object
func (r CloudConnectionAPIAPICloudApiControllerAddConnectionRequest) CloudObjectConnection(cloudObjectConnection CloudObjectConnection) CloudConnectionAPIAPICloudApiControllerAddConnectionRequest {
	r.cloudObjectConnection = &cloudObjectConnection
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerAddConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddConnectionExecute(r)
}

/*
CloudApiControllerAddConnection Api Controller Add Connection

add connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerAddConnectionRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerAddConnection(ctx context.Context) CloudConnectionAPIAPICloudApiControllerAddConnectionRequest {
	return CloudConnectionAPIAPICloudApiControllerAddConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudConnectionAPIAPIService) CloudApiControllerAddConnectionExecute(r CloudConnectionAPIAPICloudApiControllerAddConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerAddConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudObjectConnection == nil {
		return localVarReturnValue, nil, reportError("cloudObjectConnection is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectConnection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudConnectionAPIAPICloudApiControllerAddNodeTunnelRequest struct {
	ctx        context.Context
	ApiService *CloudConnectionAPIAPIService
	nodeId     *string
}

// The id of node
func (r CloudConnectionAPIAPICloudApiControllerAddNodeTunnelRequest) NodeId(nodeId string) CloudConnectionAPIAPICloudApiControllerAddNodeTunnelRequest {
	r.nodeId = &nodeId
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerAddNodeTunnelRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddNodeTunnelExecute(r)
}

/*
CloudApiControllerAddNodeTunnel Api Controller Add Node Tunnel

add node tunnel session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerAddNodeTunnelRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerAddNodeTunnel(ctx context.Context) CloudConnectionAPIAPICloudApiControllerAddNodeTunnelRequest {
	return CloudConnectionAPIAPICloudApiControllerAddNodeTunnelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudConnectionAPIAPIService) CloudApiControllerAddNodeTunnelExecute(r CloudConnectionAPIAPICloudApiControllerAddNodeTunnelRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerAddNodeTunnel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-node-tunnel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nodeId == nil {
		return localVarReturnValue, nil, reportError("nodeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "nodeId", r.nodeId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudConnectionAPIAPICloudApiControllerDeleteConnectionRequest struct {
	ctx        context.Context
	ApiService *CloudConnectionAPIAPIService
	id         *string
}

// The id of connection
func (r CloudConnectionAPIAPICloudApiControllerDeleteConnectionRequest) Id(id string) CloudConnectionAPIAPICloudApiControllerDeleteConnectionRequest {
	r.id = &id
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerDeleteConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerDeleteConnectionExecute(r)
}

/*
CloudApiControllerDeleteConnection Api Controller Delete Connection

delete connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerDeleteConnectionRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerDeleteConnection(ctx context.Context) CloudConnectionAPIAPICloudApiControllerDeleteConnectionRequest {
	return CloudConnectionAPIAPICloudApiControllerDeleteConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudConnectionAPIAPIService) CloudApiControllerDeleteConnectionExecute(r CloudConnectionAPIAPICloudApiControllerDeleteConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerDeleteConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/delete-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudConnectionAPIAPICloudApiControllerGetConnectionRequest struct {
	ctx        context.Context
	ApiService *CloudConnectionAPIAPIService
	id         *string
}

// The id of connection
func (r CloudConnectionAPIAPICloudApiControllerGetConnectionRequest) Id(id string) CloudConnectionAPIAPICloudApiControllerGetConnectionRequest {
	r.id = &id
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerGetConnectionRequest) Execute() (*CloudObjectConnection, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetConnectionExecute(r)
}

/*
CloudApiControllerGetConnection Api Controller Get Connection

get connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerGetConnectionRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerGetConnection(ctx context.Context) CloudConnectionAPIAPICloudApiControllerGetConnectionRequest {
	return CloudConnectionAPIAPICloudApiControllerGetConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudObjectConnection
func (a *CloudConnectionAPIAPIService) CloudApiControllerGetConnectionExecute(r CloudConnectionAPIAPICloudApiControllerGetConnectionRequest) (*CloudObjectConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudObjectConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerGetConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest struct {
	ctx        context.Context
	ApiService *CloudConnectionAPIAPIService
	pageSize   *string
	p          *string
}

// The size of each page
func (r CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest) PageSize(pageSize string) CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest {
	r.pageSize = &pageSize
	return r
}

// The number of the page
func (r CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest) P(p string) CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest {
	r.p = &p
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest) Execute() (*CloudObjectConnection, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetConnectionsExecute(r)
}

/*
CloudApiControllerGetConnections Api Controller Get Connections

get all connections

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerGetConnections(ctx context.Context) CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest {
	return CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudObjectConnection
func (a *CloudConnectionAPIAPIService) CloudApiControllerGetConnectionsExecute(r CloudConnectionAPIAPICloudApiControllerGetConnectionsRequest) (*CloudObjectConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudObjectConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerGetConnections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-connections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}
	if r.p == nil {
		return localVarReturnValue, nil, reportError("p is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest struct {
	ctx          context.Context
	ApiService   *CloudConnectionAPIAPIService
	width        *string
	height       *string
	dpi          *string
	connectionId *string
	username     *string
	password     *string
}

// The width of the tunnel
func (r CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Width(width string) CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.width = &width
	return r
}

// The height of the tunnel
func (r CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Height(height string) CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.height = &height
	return r
}

// The dpi of the tunnel
func (r CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Dpi(dpi string) CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.dpi = &dpi
	return r
}

// The id of the connectionId
func (r CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) ConnectionId(connectionId string) CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.connectionId = &connectionId
	return r
}

// The username for the tunnel
func (r CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Username(username string) CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.username = &username
	return r
}

// The password for the tunnel
func (r CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Password(password string) CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.password = &password
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetNodeTunnelExecute(r)
}

/*
CloudApiControllerGetNodeTunnel Api Controller Get Node Tunnel

get node tunnel session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerGetNodeTunnel(ctx context.Context) CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	return CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudConnectionAPIAPIService) CloudApiControllerGetNodeTunnelExecute(r CloudConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerGetNodeTunnel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-node-tunnel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.width == nil {
		return localVarReturnValue, nil, reportError("width is required and must be specified")
	}
	if r.height == nil {
		return localVarReturnValue, nil, reportError("height is required and must be specified")
	}
	if r.dpi == nil {
		return localVarReturnValue, nil, reportError("dpi is required and must be specified")
	}
	if r.connectionId == nil {
		return localVarReturnValue, nil, reportError("connectionId is required and must be specified")
	}
	if r.username == nil {
		return localVarReturnValue, nil, reportError("username is required and must be specified")
	}
	if r.password == nil {
		return localVarReturnValue, nil, reportError("password is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "height", r.height, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dpi", r.dpi, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "connectionId", r.connectionId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "username", r.username, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "password", r.password, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudConnectionAPIAPICloudApiControllerStartConnectionRequest struct {
	ctx        context.Context
	ApiService *CloudConnectionAPIAPIService
	id         *string
}

// The id of connection
func (r CloudConnectionAPIAPICloudApiControllerStartConnectionRequest) Id(id string) CloudConnectionAPIAPICloudApiControllerStartConnectionRequest {
	r.id = &id
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerStartConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerStartConnectionExecute(r)
}

/*
CloudApiControllerStartConnection Api Controller Start Connection

start connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerStartConnectionRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerStartConnection(ctx context.Context) CloudConnectionAPIAPICloudApiControllerStartConnectionRequest {
	return CloudConnectionAPIAPICloudApiControllerStartConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudConnectionAPIAPIService) CloudApiControllerStartConnectionExecute(r CloudConnectionAPIAPICloudApiControllerStartConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerStartConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/start-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudConnectionAPIAPICloudApiControllerStopConnectionRequest struct {
	ctx        context.Context
	ApiService *CloudConnectionAPIAPIService
	id         *string
}

// The id of connection
func (r CloudConnectionAPIAPICloudApiControllerStopConnectionRequest) Id(id string) CloudConnectionAPIAPICloudApiControllerStopConnectionRequest {
	r.id = &id
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerStopConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerStopConnectionExecute(r)
}

/*
CloudApiControllerStopConnection Api Controller Stop Connection

stop connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerStopConnectionRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerStopConnection(ctx context.Context) CloudConnectionAPIAPICloudApiControllerStopConnectionRequest {
	return CloudConnectionAPIAPICloudApiControllerStopConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudConnectionAPIAPIService) CloudApiControllerStopConnectionExecute(r CloudConnectionAPIAPICloudApiControllerStopConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerStopConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/stop-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest struct {
	ctx                   context.Context
	ApiService            *CloudConnectionAPIAPIService
	id                    *string
	cloudObjectConnection *CloudObjectConnection
}

// The id of connection
func (r CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest) Id(id string) CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest {
	r.id = &id
	return r
}

// The connection object
func (r CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest) CloudObjectConnection(cloudObjectConnection CloudObjectConnection) CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest {
	r.cloudObjectConnection = &cloudObjectConnection
	return r
}

func (r CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerUpdateConnectionExecute(r)
}

/*
CloudApiControllerUpdateConnection Api Controller Update Connection

update connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest
*/
func (a *CloudConnectionAPIAPIService) CloudApiControllerUpdateConnection(ctx context.Context) CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest {
	return CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudConnectionAPIAPIService) CloudApiControllerUpdateConnectionExecute(r CloudConnectionAPIAPICloudApiControllerUpdateConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudConnectionAPIAPIService.CloudApiControllerUpdateConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/update-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.cloudObjectConnection == nil {
		return localVarReturnValue, nil, reportError("cloudObjectConnection is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectConnection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
