/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ToolsAPIService ToolsAPI service
type ToolsAPIService service

type ToolsAPIGetToolsRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	source     *string
	activated  *string
}

// Source keeps only tools from one source — connector, function, zap-service, agent, skill or mcp. Empty keeps every source.
func (r ToolsAPIGetToolsRequest) Source(source string) ToolsAPIGetToolsRequest {
	r.source = &source
	return r
}

// Activated keeps only the tools activated for the caller&#39;s org and project, and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPIGetToolsRequest) Activated(activated string) ToolsAPIGetToolsRequest {
	r.activated = &activated
	return r
}

func (r ToolsAPIGetToolsRequest) Execute() (*ToolList, *http.Response, error) {
	return r.ApiService.GetToolsExecute(r)
}

/*
GetTools Lists every tool the caller's org and project can reach, from every source, each flagged with whether it is activated.

Lists every tool the caller's org and project can reach, from every
source, each flagged with whether it is activated. This is the discovery
surface: one flat set of names spanning connector actions, user functions,
zap-service routes, agents, skills and the org's own external MCP servers,
deduplicated by name so the highest-precedence source wins a collision. It
lists; it does not call — dispatch is POST /v1/tools/call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsRequest
*/
func (a *ToolsAPIService) GetTools(ctx context.Context) ToolsAPIGetToolsRequest {
	return ToolsAPIGetToolsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolList
func (a *ToolsAPIService) GetToolsExecute(r ToolsAPIGetToolsRequest) (*ToolList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ToolList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetTools")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.activated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activated", r.activated, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsActivationRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPIGetToolsActivationRequest) Execute() (*ActivationSet, *http.Response, error) {
	return r.ApiService.GetToolsActivationExecute(r)
}

/*
GetToolsActivation Reports which tools are switched on for the caller's org and project.

Reports which tools are switched on for the caller's org and
project. Activation is what makes a tool dispatchable and what makes it visible
to an agent, so this is the set the MCP tool list is drawn from — every other
tool in the registry is discoverable but refused at call time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsActivationRequest
*/
func (a *ToolsAPIService) GetToolsActivation(ctx context.Context) ToolsAPIGetToolsActivationRequest {
	return ToolsAPIGetToolsActivationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ActivationSet
func (a *ToolsAPIService) GetToolsActivationExecute(r ToolsAPIGetToolsActivationRequest) (*ActivationSet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ActivationSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsActivation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/activation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsCatalogRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	q          *string
	featured   *string
	official   *string
	limit      *int32
	offset     *int32
}

// Q matches the name, title or description, case-insensitively.
func (r ToolsAPIGetToolsCatalogRequest) Q(q string) ToolsAPIGetToolsCatalogRequest {
	r.q = &q
	return r
}

// Featured keeps only the listings we put on the front of the shelf, and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPIGetToolsCatalogRequest) Featured(featured string) ToolsAPIGetToolsCatalogRequest {
	r.featured = &featured
	return r
}

// Official keeps only the vendors&#39; OWN servers — not third-party copies of them — and only when it is exactly the string \&quot;true\&quot;.
func (r ToolsAPIGetToolsCatalogRequest) Official(official string) ToolsAPIGetToolsCatalogRequest {
	r.official = &official
	return r
}

// Limit bounds the page: default 50, maximum 200. A value that is not a positive integer reads as the default.
func (r ToolsAPIGetToolsCatalogRequest) Limit(limit int32) ToolsAPIGetToolsCatalogRequest {
	r.limit = &limit
	return r
}

// Offset skips that many listings.
func (r ToolsAPIGetToolsCatalogRequest) Offset(offset int32) ToolsAPIGetToolsCatalogRequest {
	r.offset = &offset
	return r
}

func (r ToolsAPIGetToolsCatalogRequest) Execute() (*McpCatalog, *http.Response, error) {
	return r.ApiService.GetToolsCatalogExecute(r)
}

/*
GetToolsCatalog Lists the MCP servers the public registries publish, as we hold them: our canonical copy of registry.modelcontextprotocol.io, plus what we decided about each entry.

Lists the MCP servers the public registries publish, as we hold
them: our canonical copy of registry.modelcontextprotocol.io, plus what we
decided about each entry.

This is the SHELF an org picks from. A listing with a streamable-http endpoint
can be enabled as-is — POST /v1/mcp/servers with its id — and its tools then
join the org's tool plane and the fleet's MCP door. A listing that only ships a
stdio package needs a process to run it, which is why the transports are on
every entry rather than implied.

Hidden entries are absent: they are the ones we took off the shelf. A platform
SuperAdmin sees them, because the same query answers "what is on the shelf" and
"what is in the catalog" and two queries would drift apart.

It is PAGED — 50 by default, 200 at most. The public registry publishes tens of
thousands of servers, so an unbounded answer is a twenty-megabyte response and a
storefront that renders in a minute. total is the whole match, not the page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIGetToolsCatalogRequest
*/
func (a *ToolsAPIService) GetToolsCatalog(ctx context.Context) ToolsAPIGetToolsCatalogRequest {
	return ToolsAPIGetToolsCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return McpCatalog
func (a *ToolsAPIService) GetToolsCatalogExecute(r ToolsAPIGetToolsCatalogRequest) (*McpCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *McpCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.featured != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "featured", r.featured, "form", "")
	}
	if r.official != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "official", r.official, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIGetToolsCatalogByIdRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	id         string
}

func (r ToolsAPIGetToolsCatalogByIdRequest) Execute() (*MCPListing, *http.Response, error) {
	return r.ApiService.GetToolsCatalogByIdExecute(r)
}

/*
GetToolsCatalogById Returns one catalog entry in full: the publisher's description, its repository and site, every package form with the runtime that launches it, and every hosted endpoint.

Returns one catalog entry in full: the publisher's description, its
repository and site, every package form with the runtime that launches it, and
every hosted endpoint. It is what a branding page renders, and what tells a
caller whether the listing can be enabled here and now (a streamable-http
remote) or needs somewhere to run first (a stdio package).

A HIDDEN listing is not served to an org — a shelf that renders what it does
not list would be a way around the shelf — but is served to a SuperAdmin, who
is the one deciding whether to put it back.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the listing, from the path. It is the publisher's reverse-DNS name with its one slash written as an underscore — \"com.stripe_mcp\".
	@return ToolsAPIGetToolsCatalogByIdRequest
*/
func (a *ToolsAPIService) GetToolsCatalogById(ctx context.Context, id string) ToolsAPIGetToolsCatalogByIdRequest {
	return ToolsAPIGetToolsCatalogByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return MCPListing
func (a *ToolsAPIService) GetToolsCatalogByIdExecute(r ToolsAPIGetToolsCatalogByIdRequest) (*MCPListing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MCPListing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.GetToolsCatalogById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPatchToolsCatalogByIdRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	id         string
	curateReq  *CurateReq
}

func (r ToolsAPIPatchToolsCatalogByIdRequest) CurateReq(curateReq CurateReq) ToolsAPIPatchToolsCatalogByIdRequest {
	r.curateReq = &curateReq
	return r
}

func (r ToolsAPIPatchToolsCatalogByIdRequest) Execute() (*MCPListing, *http.Response, error) {
	return r.ApiService.PatchToolsCatalogByIdExecute(r)
}

/*
PatchToolsCatalogById Sets what WE say about one catalog entry — hidden, featured, official, logo — and answers with the stored listing.

Sets what WE say about one catalog entry — hidden, featured,
official, logo — and answers with the stored listing. SuperAdmin only; every
other caller is refused.

Curation is the half of a catalog row a sync cannot write, and this is the only
thing that writes it. The upstream half is never editable here: a description
that disagreed with the publisher's would be a fork of their listing, and the
next sync would silently undo it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the listing to curate, from the path.
	@return ToolsAPIPatchToolsCatalogByIdRequest
*/
func (a *ToolsAPIService) PatchToolsCatalogById(ctx context.Context, id string) ToolsAPIPatchToolsCatalogByIdRequest {
	return ToolsAPIPatchToolsCatalogByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return MCPListing
func (a *ToolsAPIService) PatchToolsCatalogByIdExecute(r ToolsAPIPatchToolsCatalogByIdRequest) (*MCPListing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MCPListing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PatchToolsCatalogById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.curateReq == nil {
		return localVarReturnValue, nil, reportError("curateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.curateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPostToolsCallRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
	toolCall   *ToolCall
}

func (r ToolsAPIPostToolsCallRequest) ToolCall(toolCall ToolCall) ToolsAPIPostToolsCallRequest {
	r.toolCall = &toolCall
	return r
}

func (r ToolsAPIPostToolsCallRequest) Execute() (*ToolResult, *http.Response, error) {
	return r.ApiService.PostToolsCallExecute(r)
}

/*
PostToolsCall Runs one of the caller's activated tools and answers with its output.

Runs one of the caller's activated tools and answers with its output.

This is the door onto the tool plane's DYNAMIC half — the half no build-time
catalogue can hold, because it is per-tenant: an org's connected connector
actions, its authored skills, its agents and functions, and the tools of every
external MCP server it registered. A tool's existence, its price and its
activation are all rows, not code, so they cannot be known until the caller is.

One policy, the registry's: resolve by precedence, refuse an unactivated tool
403, settle a priced one through the x402 seam or fail closed 402, then
dispatch to the winning source bound to the caller's own (org, project). One
metered unit, one audit record. A caller can only ever dispatch its own tools.

Discovery is GET /v1/tools — ?activated=true for the callable set.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPostToolsCallRequest
*/
func (a *ToolsAPIService) PostToolsCall(ctx context.Context) ToolsAPIPostToolsCallRequest {
	return ToolsAPIPostToolsCallRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolResult
func (a *ToolsAPIService) PostToolsCallExecute(r ToolsAPIPostToolsCallRequest) (*ToolResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ToolResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PostToolsCall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/call"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.toolCall == nil {
		return localVarReturnValue, nil, reportError("toolCall is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.toolCall
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPostToolsCatalogSyncRequest struct {
	ctx        context.Context
	ApiService *ToolsAPIService
}

func (r ToolsAPIPostToolsCatalogSyncRequest) Execute() (*McpCatalogSync, *http.Response, error) {
	return r.ApiService.PostToolsCatalogSyncExecute(r)
}

/*
PostToolsCatalogSync Pulls the public MCP registry into our canonical copy and reports what changed.

Pulls the public MCP registry into our canonical copy and reports
what changed. SuperAdmin only; every other caller is refused.

It is IDEMPOTENT: a listing is keyed by the publisher's own reverse-DNS name,
so a second pass over an unchanged registry rewrites the same rows and reports
added=0, updated=0. It never deletes — a listing that vanishes upstream may be
one an org has already enabled, and dropping its description would not drop its
server. And it never touches CURATION: hidden, featured, an admin-set official
and a logo survive every sync, because the write does not name those columns.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPostToolsCatalogSyncRequest
*/
func (a *ToolsAPIService) PostToolsCatalogSync(ctx context.Context) ToolsAPIPostToolsCatalogSyncRequest {
	return ToolsAPIPostToolsCatalogSyncRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return McpCatalogSync
func (a *ToolsAPIService) PostToolsCatalogSyncExecute(r ToolsAPIPostToolsCatalogSyncRequest) (*McpCatalogSync, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *McpCatalogSync
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PostToolsCatalogSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/catalog/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ToolsAPIPutToolsActivationRequest struct {
	ctx           context.Context
	ApiService    *ToolsAPIService
	activationReq *ActivationReq
}

func (r ToolsAPIPutToolsActivationRequest) ActivationReq(activationReq ActivationReq) ToolsAPIPutToolsActivationRequest {
	r.activationReq = &activationReq
	return r
}

func (r ToolsAPIPutToolsActivationRequest) Execute() (*ActivationSet, *http.Response, error) {
	return r.ApiService.PutToolsActivationExecute(r)
}

/*
PutToolsActivation Switches tools on and off for the caller's org and project, and answers with the resulting activated set.

Switches tools on and off for the caller's org and project, and
answers with the resulting activated set. It is the ONE write path that turns
skills, plugins and connectors into callable tools — an unactivated tool is
listed by discovery but refused 403 at dispatch. Activate is applied before
Deactivate, so a name in both lists ends up off. More than 256 toggles in one
request is refused 413.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ToolsAPIPutToolsActivationRequest
*/
func (a *ToolsAPIService) PutToolsActivation(ctx context.Context) ToolsAPIPutToolsActivationRequest {
	return ToolsAPIPutToolsActivationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ActivationSet
func (a *ToolsAPIService) PutToolsActivationExecute(r ToolsAPIPutToolsActivationRequest) (*ActivationSet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ActivationSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolsAPIService.PutToolsActivation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tools/activation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.activationReq == nil {
		return localVarReturnValue, nil, reportError("activationReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.activationReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
