/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)

// BooksAPIService BooksAPI service
type BooksAPIService service

type BooksAPICloudGetV1BooksAccountsRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;; anything else reads the live one.
func (r BooksAPICloudGetV1BooksAccountsRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksAccountsRequest {
	r.sandbox = &sandbox
	return r
}

func (r BooksAPICloudGetV1BooksAccountsRequest) Execute() ([]CloudAccount, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksAccountsExecute(r)
}

/*
CloudGetV1BooksAccounts ListAccounts returns the org's chart of accounts — the seeded fixed chart every posting key in the ledger refers to.

ListAccounts returns the org's chart of accounts — the seeded fixed chart every
posting key in the ledger refers to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksAccountsRequest
*/
func (a *BooksAPIService) CloudGetV1BooksAccounts(ctx context.Context) BooksAPICloudGetV1BooksAccountsRequest {
	return BooksAPICloudGetV1BooksAccountsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudAccount
func (a *BooksAPIService) CloudGetV1BooksAccountsExecute(r BooksAPICloudGetV1BooksAccountsRequest) ([]CloudAccount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksBalanceSheetRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
	to         *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;.
func (r BooksAPICloudGetV1BooksBalanceSheetRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksBalanceSheetRequest {
	r.sandbox = &sandbox
	return r
}

// To is the RFC3339 instant the statement is struck as of. Empty means all time.
func (r BooksAPICloudGetV1BooksBalanceSheetRequest) To(to string) BooksAPICloudGetV1BooksBalanceSheetRequest {
	r.to = &to
	return r
}

func (r BooksAPICloudGetV1BooksBalanceSheetRequest) Execute() (*CloudBalanceSheet, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksBalanceSheetExecute(r)
}

/*
CloudGetV1BooksBalanceSheet BalanceSheet returns the org's Balance Sheet as of `to` (empty = all time), with the Assets == Liabilities + Equity equation proof.

BalanceSheet returns the org's Balance Sheet as of `to` (empty = all time), with the
Assets == Liabilities + Equity equation proof.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksBalanceSheetRequest
*/
func (a *BooksAPIService) CloudGetV1BooksBalanceSheet(ctx context.Context) BooksAPICloudGetV1BooksBalanceSheetRequest {
	return BooksAPICloudGetV1BooksBalanceSheetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBalanceSheet
func (a *BooksAPIService) CloudGetV1BooksBalanceSheetExecute(r BooksAPICloudGetV1BooksBalanceSheetRequest) (*CloudBalanceSheet, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBalanceSheet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksBalanceSheet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/balance-sheet"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksBankTransactionsRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
	limit      *int32
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;.
func (r BooksAPICloudGetV1BooksBankTransactionsRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksBankTransactionsRequest {
	r.sandbox = &sandbox
	return r
}

// Limit caps how many rows come back; 500 when absent or not positive.
func (r BooksAPICloudGetV1BooksBankTransactionsRequest) Limit(limit int32) BooksAPICloudGetV1BooksBankTransactionsRequest {
	r.limit = &limit
	return r
}

func (r BooksAPICloudGetV1BooksBankTransactionsRequest) Execute() ([]CloudBankTxnRow, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksBankTransactionsExecute(r)
}

/*
CloudGetV1BooksBankTransactions ListBankTransactions returns the org's normalized bank transactions, newest first — every row the import and connector paths have ingested, with its amount in exact cents, its direction, and whether it has been matched to a voucher yet.

ListBankTransactions returns the org's normalized bank transactions, newest first —
every row the import and connector paths have ingested, with its amount in exact cents,
its direction, and whether it has been matched to a voucher yet.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksBankTransactionsRequest
*/
func (a *BooksAPIService) CloudGetV1BooksBankTransactions(ctx context.Context) BooksAPICloudGetV1BooksBankTransactionsRequest {
	return BooksAPICloudGetV1BooksBankTransactionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudBankTxnRow
func (a *BooksAPIService) CloudGetV1BooksBankTransactionsExecute(r BooksAPICloudGetV1BooksBankTransactionsRequest) ([]CloudBankTxnRow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudBankTxnRow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksBankTransactions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/bank/transactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksBankUnreconciledRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;; anything else reads the live one.
func (r BooksAPICloudGetV1BooksBankUnreconciledRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksBankUnreconciledRequest {
	r.sandbox = &sandbox
	return r
}

func (r BooksAPICloudGetV1BooksBankUnreconciledRequest) Execute() (*CloudUnreconciledOut, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksBankUnreconciledExecute(r)
}

/*
CloudGetV1BooksBankUnreconciled ListUnreconciled returns the org's unmatched bank inflows and their open clarifying questions — the queue a human answers so an unexplained deposit is never guessed into revenue.

ListUnreconciled returns the org's unmatched bank inflows and their open clarifying
questions — the queue a human answers so an unexplained deposit is never guessed into
revenue.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksBankUnreconciledRequest
*/
func (a *BooksAPIService) CloudGetV1BooksBankUnreconciled(ctx context.Context) BooksAPICloudGetV1BooksBankUnreconciledRequest {
	return BooksAPICloudGetV1BooksBankUnreconciledRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUnreconciledOut
func (a *BooksAPIService) CloudGetV1BooksBankUnreconciledExecute(r BooksAPICloudGetV1BooksBankUnreconciledRequest) (*CloudUnreconciledOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUnreconciledOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksBankUnreconciled")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/bank/unreconciled"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksExportRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
	from       *string
	to         *string
	format     *string
	limit      *int32
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;.
func (r BooksAPICloudGetV1BooksExportRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksExportRequest {
	r.sandbox = &sandbox
	return r
}

// From is the RFC3339 start of the window, exclusive. Empty means all time.
func (r BooksAPICloudGetV1BooksExportRequest) From(from string) BooksAPICloudGetV1BooksExportRequest {
	r.from = &from
	return r
}

// To is the RFC3339 end of the window, inclusive. Empty means up to now.
func (r BooksAPICloudGetV1BooksExportRequest) To(to string) BooksAPICloudGetV1BooksExportRequest {
	r.to = &to
	return r
}

// Format is the export encoding. Only \&quot;json\&quot; is supported; empty means json.
func (r BooksAPICloudGetV1BooksExportRequest) Format(format string) BooksAPICloudGetV1BooksExportRequest {
	r.format = &format
	return r
}

// Limit caps the GL detail rows included as the audit trail; 5000 when absent or not positive.
func (r BooksAPICloudGetV1BooksExportRequest) Limit(limit int32) BooksAPICloudGetV1BooksExportRequest {
	r.limit = &limit
	return r
}

func (r BooksAPICloudGetV1BooksExportRequest) Execute() (*CloudFinancialPackage, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksExportExecute(r)
}

/*
CloudGetV1BooksExport ExportPackage returns the complete financial package for the caller's org over (from, to]: the trial balance, the P&L, the balance sheet, and the GL detail behind them — the four statements a tax preparer or an investor asks for, assembled from the one ledger in a single read so they cannot disagree with each other.

ExportPackage returns the complete financial package for the caller's org over
(from, to]: the trial balance, the P&L, the balance sheet, and the GL detail behind
them — the four statements a tax preparer or an investor asks for, assembled from the
one ledger in a single read so they cannot disagree with each other.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksExportRequest
*/
func (a *BooksAPIService) CloudGetV1BooksExport(ctx context.Context) BooksAPICloudGetV1BooksExportRequest {
	return BooksAPICloudGetV1BooksExportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFinancialPackage
func (a *BooksAPIService) CloudGetV1BooksExportExecute(r BooksAPICloudGetV1BooksExportRequest) (*CloudFinancialPackage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFinancialPackage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksExport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksGlRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
	limit      *int32
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;.
func (r BooksAPICloudGetV1BooksGlRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksGlRequest {
	r.sandbox = &sandbox
	return r
}

// Limit caps how many rows come back; 500 when absent or not positive.
func (r BooksAPICloudGetV1BooksGlRequest) Limit(limit int32) BooksAPICloudGetV1BooksGlRequest {
	r.limit = &limit
	return r
}

func (r BooksAPICloudGetV1BooksGlRequest) Execute() ([]CloudGLRow, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksGlExecute(r)
}

/*
CloudGetV1BooksGl ListGL returns the org's most recent GL Entry rows, newest first.

ListGL returns the org's most recent GL Entry rows, newest first. This is the raw
double-entry detail behind every statement: one row per leg, with its debit, credit,
posting time and the source that booked it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksGlRequest
*/
func (a *BooksAPIService) CloudGetV1BooksGl(ctx context.Context) BooksAPICloudGetV1BooksGlRequest {
	return BooksAPICloudGetV1BooksGlRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudGLRow
func (a *BooksAPIService) CloudGetV1BooksGlExecute(r BooksAPICloudGetV1BooksGlRequest) ([]CloudGLRow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudGLRow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksGl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/gl"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksInboxRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;; anything else reads the live one.
func (r BooksAPICloudGetV1BooksInboxRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksInboxRequest {
	r.sandbox = &sandbox
	return r
}

func (r BooksAPICloudGetV1BooksInboxRequest) Execute() (*CloudInboxOut, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksInboxExecute(r)
}

/*
CloudGetV1BooksInbox ListInbox returns the org's open document queue — everything uploaded but not yet booked, newest first, each with its extracted summary and the confidence the scanner resolved its category at.

ListInbox returns the org's open document queue — everything uploaded but not yet
booked, newest first, each with its extracted summary and the confidence the scanner
resolved its category at. A booked document drops out of the queue.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksInboxRequest
*/
func (a *BooksAPIService) CloudGetV1BooksInbox(ctx context.Context) BooksAPICloudGetV1BooksInboxRequest {
	return BooksAPICloudGetV1BooksInboxRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudInboxOut
func (a *BooksAPIService) CloudGetV1BooksInboxExecute(r BooksAPICloudGetV1BooksInboxRequest) (*CloudInboxOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudInboxOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksInbox")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/inbox"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksMetricsRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
	from       *string
	to         *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;.
func (r BooksAPICloudGetV1BooksMetricsRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksMetricsRequest {
	r.sandbox = &sandbox
	return r
}

// From is the RFC3339 start of the window, exclusive. Empty means all time.
func (r BooksAPICloudGetV1BooksMetricsRequest) From(from string) BooksAPICloudGetV1BooksMetricsRequest {
	r.from = &from
	return r
}

// To is the RFC3339 end of the window, inclusive. Empty means up to now.
func (r BooksAPICloudGetV1BooksMetricsRequest) To(to string) BooksAPICloudGetV1BooksMetricsRequest {
	r.to = &to
	return r
}

func (r BooksAPICloudGetV1BooksMetricsRequest) Execute() (*CloudMetricsResponse, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksMetricsExecute(r)
}

/*
CloudGetV1BooksMetrics Metrics returns the org's deterministic SaaS-metrics snapshot over an optional (from, to] window — MRR, ARR, revenue, COGS, burn, gross margin, net income, cash, deferred revenue, monthly burn and runway — as raw int64-cent figures AND the same figures already formatted.

Metrics returns the org's deterministic SaaS-metrics snapshot over an optional
(from, to] window — MRR, ARR, revenue, COGS, burn, gross margin, net income, cash,
deferred revenue, monthly burn and runway — as raw int64-cent figures AND the same
figures already formatted. Every number is the ledger, aggregated the one way the books
define it, never a guess; it is the grounded read the unified /v1/ask advisor replays.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksMetricsRequest
*/
func (a *BooksAPIService) CloudGetV1BooksMetrics(ctx context.Context) BooksAPICloudGetV1BooksMetricsRequest {
	return BooksAPICloudGetV1BooksMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMetricsResponse
func (a *BooksAPIService) CloudGetV1BooksMetricsExecute(r BooksAPICloudGetV1BooksMetricsRequest) (*CloudMetricsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMetricsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksPnlRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
	from       *string
	to         *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;.
func (r BooksAPICloudGetV1BooksPnlRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksPnlRequest {
	r.sandbox = &sandbox
	return r
}

// From is the RFC3339 start of the window, exclusive. Empty means all time.
func (r BooksAPICloudGetV1BooksPnlRequest) From(from string) BooksAPICloudGetV1BooksPnlRequest {
	r.from = &from
	return r
}

// To is the RFC3339 end of the window, inclusive. Empty means up to now.
func (r BooksAPICloudGetV1BooksPnlRequest) To(to string) BooksAPICloudGetV1BooksPnlRequest {
	r.to = &to
	return r
}

func (r BooksAPICloudGetV1BooksPnlRequest) Execute() (*CloudPnL, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksPnlExecute(r)
}

/*
CloudGetV1BooksPnl ProfitAndLoss returns the org's accrual-basis Profit & Loss over an optional (from, to] window of RFC3339 posting times: recognized revenue, matched cost, and the net.

ProfitAndLoss returns the org's accrual-basis Profit & Loss over an optional (from, to]
window of RFC3339 posting times: recognized revenue, matched cost, and the net.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksPnlRequest
*/
func (a *BooksAPIService) CloudGetV1BooksPnl(ctx context.Context) BooksAPICloudGetV1BooksPnlRequest {
	return BooksAPICloudGetV1BooksPnlRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPnL
func (a *BooksAPIService) CloudGetV1BooksPnlExecute(r BooksAPICloudGetV1BooksPnlRequest) (*CloudPnL, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPnL
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksPnl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/pnl"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksQuestionsRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;; anything else reads the live one.
func (r BooksAPICloudGetV1BooksQuestionsRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksQuestionsRequest {
	r.sandbox = &sandbox
	return r
}

func (r BooksAPICloudGetV1BooksQuestionsRequest) Execute() (*CloudQuestionsResponse, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksQuestionsExecute(r)
}

/*
CloudGetV1BooksQuestions ListQuestions returns the clarifying questions the caller's own recent GL raises — the unusual postings a founder should look at (outliers, reversals, round-offs, uncosted revenue, an overdrawn wallet), sharpest first.

ListQuestions returns the clarifying questions the caller's own recent GL raises — the
unusual postings a founder should look at (outliers, reversals, round-offs, uncosted
revenue, an overdrawn wallet), sharpest first. An empty list means the books look clean;
the detector is deterministic over the ledger and invents nothing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksQuestionsRequest
*/
func (a *BooksAPIService) CloudGetV1BooksQuestions(ctx context.Context) BooksAPICloudGetV1BooksQuestionsRequest {
	return BooksAPICloudGetV1BooksQuestionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudQuestionsResponse
func (a *BooksAPIService) CloudGetV1BooksQuestionsExecute(r BooksAPICloudGetV1BooksQuestionsRequest) (*CloudQuestionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudQuestionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksQuestions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/questions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksRulesRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;; anything else reads the live one.
func (r BooksAPICloudGetV1BooksRulesRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksRulesRequest {
	r.sandbox = &sandbox
	return r
}

func (r BooksAPICloudGetV1BooksRulesRequest) Execute() (*CloudRulesOut, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksRulesExecute(r)
}

/*
CloudGetV1BooksRules ListRules returns the org's auto-categorization rules, highest priority first.

ListRules returns the org's auto-categorization rules, highest priority first. A rule
is a standing instruction — "anything whose merchant contains X books to category Y" —
and it overrides a vendor's default category, so this is the list that decides how a
future bill classifies itself.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksRulesRequest
*/
func (a *BooksAPIService) CloudGetV1BooksRules(ctx context.Context) BooksAPICloudGetV1BooksRulesRequest {
	return BooksAPICloudGetV1BooksRulesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRulesOut
func (a *BooksAPIService) CloudGetV1BooksRulesExecute(r BooksAPICloudGetV1BooksRulesRequest) (*CloudRulesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRulesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksRules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/rules"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksTransactionsRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
	from       *string
	to         *string
	category   *string
	vendor     *string
	limit      *int32
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;.
func (r BooksAPICloudGetV1BooksTransactionsRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksTransactionsRequest {
	r.sandbox = &sandbox
	return r
}

// From is the RFC3339 start of the posting-time window, inclusive.
func (r BooksAPICloudGetV1BooksTransactionsRequest) From(from string) BooksAPICloudGetV1BooksTransactionsRequest {
	r.from = &from
	return r
}

// To is the RFC3339 end of the posting-time window, inclusive.
func (r BooksAPICloudGetV1BooksTransactionsRequest) To(to string) BooksAPICloudGetV1BooksTransactionsRequest {
	r.to = &to
	return r
}

// Category filters to one COA account, named by number (\&quot;5300\&quot;) or by category slug (\&quot;software\&quot;).
func (r BooksAPICloudGetV1BooksTransactionsRequest) Category(category string) BooksAPICloudGetV1BooksTransactionsRequest {
	r.category = &category
	return r
}

// Vendor filters to rows whose vendor or description contains this text, case-insensitively.
func (r BooksAPICloudGetV1BooksTransactionsRequest) Vendor(vendor string) BooksAPICloudGetV1BooksTransactionsRequest {
	r.vendor = &vendor
	return r
}

// Limit caps how many rows come back; 200 when absent or not positive.
func (r BooksAPICloudGetV1BooksTransactionsRequest) Limit(limit int32) BooksAPICloudGetV1BooksTransactionsRequest {
	r.limit = &limit
	return r
}

func (r BooksAPICloudGetV1BooksTransactionsRequest) Execute() (*CloudTransactionsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksTransactionsExecute(r)
}

/*
CloudGetV1BooksTransactions ListTransactions returns the org's booked ledger as a single-line register, newest first: one row per voucher, with its date, description, vendor, category, source and amount in exact cents.

ListTransactions returns the org's booked ledger as a single-line register, newest
first: one row per voucher, with its date, description, vendor, category, source and
amount in exact cents. It is the double-entry ledger projected to the register a human
reads, filterable by posting-time window, category and vendor. Strictly read-only — it
restates the books, it never moves them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksTransactionsRequest
*/
func (a *BooksAPIService) CloudGetV1BooksTransactions(ctx context.Context) BooksAPICloudGetV1BooksTransactionsRequest {
	return BooksAPICloudGetV1BooksTransactionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudTransactionsOut
func (a *BooksAPIService) CloudGetV1BooksTransactionsExecute(r BooksAPICloudGetV1BooksTransactionsRequest) (*CloudTransactionsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTransactionsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksTransactions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/transactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.vendor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vendor", r.vendor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksTrialBalanceRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
	from       *string
	to         *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;.
func (r BooksAPICloudGetV1BooksTrialBalanceRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksTrialBalanceRequest {
	r.sandbox = &sandbox
	return r
}

// From is the RFC3339 start of the window, exclusive. Empty means all time.
func (r BooksAPICloudGetV1BooksTrialBalanceRequest) From(from string) BooksAPICloudGetV1BooksTrialBalanceRequest {
	r.from = &from
	return r
}

// To is the RFC3339 end of the window, inclusive. Empty means up to now.
func (r BooksAPICloudGetV1BooksTrialBalanceRequest) To(to string) BooksAPICloudGetV1BooksTrialBalanceRequest {
	r.to = &to
	return r
}

func (r BooksAPICloudGetV1BooksTrialBalanceRequest) Execute() (*CloudTrialBalance, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksTrialBalanceExecute(r)
}

/*
CloudGetV1BooksTrialBalance TrialBalance returns the org's trial balance over an optional [from, to] window of RFC3339 posting times, including the opening/closing columns and the TotalDebit == TotalCredit proof that the books balance.

TrialBalance returns the org's trial balance over an optional [from, to] window of
RFC3339 posting times, including the opening/closing columns and the
TotalDebit == TotalCredit proof that the books balance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksTrialBalanceRequest
*/
func (a *BooksAPIService) CloudGetV1BooksTrialBalance(ctx context.Context) BooksAPICloudGetV1BooksTrialBalanceRequest {
	return BooksAPICloudGetV1BooksTrialBalanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudTrialBalance
func (a *BooksAPIService) CloudGetV1BooksTrialBalanceExecute(r BooksAPICloudGetV1BooksTrialBalanceRequest) (*CloudTrialBalance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTrialBalance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksTrialBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/trial-balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudGetV1BooksVendorsRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	sandbox    *string
}

// Sandbox reads the org&#39;s SANDBOX ledger when it is exactly \&quot;true\&quot;; anything else reads the live one.
func (r BooksAPICloudGetV1BooksVendorsRequest) Sandbox(sandbox string) BooksAPICloudGetV1BooksVendorsRequest {
	r.sandbox = &sandbox
	return r
}

func (r BooksAPICloudGetV1BooksVendorsRequest) Execute() (*CloudVendorsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1BooksVendorsExecute(r)
}

/*
CloudGetV1BooksVendors ListVendors returns the org's vendor book: each canonical vendor, the alias spellings a receipt may print it under, and the expense account new bills from it default to.

ListVendors returns the org's vendor book: each canonical vendor, the alias spellings a
receipt may print it under, and the expense account new bills from it default to. A
vendor here is what makes a scanned bill self-classify instead of asking again.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudGetV1BooksVendorsRequest
*/
func (a *BooksAPIService) CloudGetV1BooksVendors(ctx context.Context) BooksAPICloudGetV1BooksVendorsRequest {
	return BooksAPICloudGetV1BooksVendorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudVendorsOut
func (a *BooksAPIService) CloudGetV1BooksVendorsExecute(r BooksAPICloudGetV1BooksVendorsRequest) (*CloudVendorsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudVendorsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudGetV1BooksVendors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/vendors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sandbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sandbox", r.sandbox, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksAskRequest struct {
	ctx             context.Context
	ApiService      *BooksAPIService
	cloudAskRequest *CloudAskRequest
}

func (r BooksAPICloudPostV1BooksAskRequest) CloudAskRequest(cloudAskRequest CloudAskRequest) BooksAPICloudPostV1BooksAskRequest {
	r.cloudAskRequest = &cloudAskRequest
	return r
}

func (r BooksAPICloudPostV1BooksAskRequest) Execute() (*CloudAskResponse, *http.Response, error) {
	return r.ApiService.CloudPostV1BooksAskExecute(r)
}

/*
CloudPostV1BooksAsk AskBooks answers a plain-language question about the caller's own books — \"what is my MRR?\", \"how long is my runway?\" — with figures taken from their ledger, never a guessed number.

AskBooks answers a plain-language question about the caller's own books — "what is my
MRR?", "how long is my runway?" — with figures taken from their ledger, never a guessed
number. A deterministic keyword router picks the intent and reads the real metrics, and
those figures, followups and report sources are computed BEFORE any model call and are
never altered by one: the optional narration seam only rephrases the sentence, and it
degrades silently to the templated answer when no AI plane is wired. It is strictly
read-only — it restates the books, it never posts to them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksAskRequest
*/
func (a *BooksAPIService) CloudPostV1BooksAsk(ctx context.Context) BooksAPICloudPostV1BooksAskRequest {
	return BooksAPICloudPostV1BooksAskRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAskResponse
func (a *BooksAPIService) CloudPostV1BooksAskExecute(r BooksAPICloudPostV1BooksAskRequest) (*CloudAskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksAsk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/ask"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudAskRequest == nil {
		return localVarReturnValue, nil, reportError("cloudAskRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudAskRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksBankExchangeRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
}

func (r BooksAPICloudPostV1BooksBankExchangeRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1BooksBankExchangeExecute(r)
}

/*
CloudPostV1BooksBankExchange Method for CloudPostV1BooksBankExchange

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksBankExchangeRequest
*/
func (a *BooksAPIService) CloudPostV1BooksBankExchange(ctx context.Context) BooksAPICloudPostV1BooksBankExchangeRequest {
	return BooksAPICloudPostV1BooksBankExchangeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BooksAPIService) CloudPostV1BooksBankExchangeExecute(r BooksAPICloudPostV1BooksBankExchangeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksBankExchange")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/bank/exchange"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksBankImportRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	body       *os.File
}

func (r BooksAPICloudPostV1BooksBankImportRequest) Body(body *os.File) BooksAPICloudPostV1BooksBankImportRequest {
	r.body = body
	return r
}

func (r BooksAPICloudPostV1BooksBankImportRequest) Execute() (*CloudBankTally, *http.Response, error) {
	return r.ApiService.CloudPostV1BooksBankImportExecute(r)
}

/*
CloudPostV1BooksBankImport Method for CloudPostV1BooksBankImport

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksBankImportRequest
*/
func (a *BooksAPIService) CloudPostV1BooksBankImport(ctx context.Context) BooksAPICloudPostV1BooksBankImportRequest {
	return BooksAPICloudPostV1BooksBankImportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBankTally
func (a *BooksAPIService) CloudPostV1BooksBankImportExecute(r BooksAPICloudPostV1BooksBankImportRequest) (*CloudBankTally, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBankTally
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksBankImport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/bank/import"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksBankLinkTokenRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
}

func (r BooksAPICloudPostV1BooksBankLinkTokenRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1BooksBankLinkTokenExecute(r)
}

/*
CloudPostV1BooksBankLinkToken Method for CloudPostV1BooksBankLinkToken

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksBankLinkTokenRequest
*/
func (a *BooksAPIService) CloudPostV1BooksBankLinkToken(ctx context.Context) BooksAPICloudPostV1BooksBankLinkTokenRequest {
	return BooksAPICloudPostV1BooksBankLinkTokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BooksAPIService) CloudPostV1BooksBankLinkTokenExecute(r BooksAPICloudPostV1BooksBankLinkTokenRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksBankLinkToken")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/bank/link-token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksBankSyncRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
}

func (r BooksAPICloudPostV1BooksBankSyncRequest) Execute() (*CloudBankTally, *http.Response, error) {
	return r.ApiService.CloudPostV1BooksBankSyncExecute(r)
}

/*
CloudPostV1BooksBankSync SyncBank pulls every connected bank (Plaid/Teller) for the caller's org, maps each fetched transaction to a posting and books it idempotently, then advances that connector's cursor so the next sync resumes where this one stopped.

SyncBank pulls every connected bank (Plaid/Teller) for the caller's org, maps each
fetched transaction to a posting and books it idempotently, then advances that
connector's cursor so the next sync resumes where this one stopped. One connector's
outage is skipped rather than failing the whole sync. It reports the batch: how many
transactions were seen, how many vouchers posted, how many inflows reconciled against
the processor clearing account, how many raised a question, how many were own-account
transfers, and how many were already-processed no-ops. It is READ-ONLY against the
bank — it ingests, it never sends money.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksBankSyncRequest
*/
func (a *BooksAPIService) CloudPostV1BooksBankSync(ctx context.Context) BooksAPICloudPostV1BooksBankSyncRequest {
	return BooksAPICloudPostV1BooksBankSyncRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBankTally
func (a *BooksAPIService) CloudPostV1BooksBankSyncExecute(r BooksAPICloudPostV1BooksBankSyncRequest) (*CloudBankTally, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBankTally
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksBankSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/bank/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksInboxRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	body       *os.File
}

func (r BooksAPICloudPostV1BooksInboxRequest) Body(body *os.File) BooksAPICloudPostV1BooksInboxRequest {
	r.body = body
	return r
}

func (r BooksAPICloudPostV1BooksInboxRequest) Execute() (*CloudInboxItem, *http.Response, error) {
	return r.ApiService.CloudPostV1BooksInboxExecute(r)
}

/*
CloudPostV1BooksInbox Method for CloudPostV1BooksInbox

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksInboxRequest
*/
func (a *BooksAPIService) CloudPostV1BooksInbox(ctx context.Context) BooksAPICloudPostV1BooksInboxRequest {
	return BooksAPICloudPostV1BooksInboxRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudInboxItem
func (a *BooksAPIService) CloudPostV1BooksInboxExecute(r BooksAPICloudPostV1BooksInboxRequest) (*CloudInboxItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudInboxItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksInbox")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/inbox"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksRulesRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	cloudRule  *CloudRule
}

func (r BooksAPICloudPostV1BooksRulesRequest) CloudRule(cloudRule CloudRule) BooksAPICloudPostV1BooksRulesRequest {
	r.cloudRule = &cloudRule
	return r
}

func (r BooksAPICloudPostV1BooksRulesRequest) Execute() (*CloudRule, *http.Response, error) {
	return r.ApiService.CloudPostV1BooksRulesExecute(r)
}

/*
CloudPostV1BooksRules UpsertRule creates or updates one auto-categorization rule, keyed by its pattern — writing a pattern that already exists REPLACES that row's category and priority.

UpsertRule creates or updates one auto-categorization rule, keyed by its pattern —
writing a pattern that already exists REPLACES that row's category and priority. The
category is normalized to a real COA expense account, and anything unrecognized becomes
5900 Uncategorized rather than a guessed real account. It answers the row exactly as
stored, so the caller sees the normalization. A rule overrides a vendor's default
category, so this is the standing instruction that decides how a future bill classifies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksRulesRequest
*/
func (a *BooksAPIService) CloudPostV1BooksRules(ctx context.Context) BooksAPICloudPostV1BooksRulesRequest {
	return BooksAPICloudPostV1BooksRulesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRule
func (a *BooksAPIService) CloudPostV1BooksRulesExecute(r BooksAPICloudPostV1BooksRulesRequest) (*CloudRule, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksRules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/rules"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudRule == nil {
		return localVarReturnValue, nil, reportError("cloudRule is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudRule
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksScanRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
	body       *os.File
}

func (r BooksAPICloudPostV1BooksScanRequest) Body(body *os.File) BooksAPICloudPostV1BooksScanRequest {
	r.body = body
	return r
}

func (r BooksAPICloudPostV1BooksScanRequest) Execute() (*CloudScanDraft, *http.Response, error) {
	return r.ApiService.CloudPostV1BooksScanExecute(r)
}

/*
CloudPostV1BooksScan Method for CloudPostV1BooksScan

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksScanRequest
*/
func (a *BooksAPIService) CloudPostV1BooksScan(ctx context.Context) BooksAPICloudPostV1BooksScanRequest {
	return BooksAPICloudPostV1BooksScanRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudScanDraft
func (a *BooksAPIService) CloudPostV1BooksScanExecute(r BooksAPICloudPostV1BooksScanRequest) (*CloudScanDraft, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudScanDraft
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksScan")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/scan"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksScanBookRequest struct {
	ctx              context.Context
	ApiService       *BooksAPIService
	cloudBookRequest *CloudBookRequest
}

func (r BooksAPICloudPostV1BooksScanBookRequest) CloudBookRequest(cloudBookRequest CloudBookRequest) BooksAPICloudPostV1BooksScanBookRequest {
	r.cloudBookRequest = &cloudBookRequest
	return r
}

func (r BooksAPICloudPostV1BooksScanBookRequest) Execute() (*CloudBookResponse, *http.Response, error) {
	return r.ApiService.CloudPostV1BooksScanBookExecute(r)
}

/*
CloudPostV1BooksScanBook BookScan posts a reviewed scanned bill to the ledger.

BookScan posts a reviewed scanned bill to the ledger. It is the scanner's ONLY write:
the voucher goes through the same post() choke point every other source uses, so it is
checked to balance (Σdebit == Σcredit) and is idempotent by (scan, scanId) — re-booking
the same scan answers posted=false and writes nothing. A bill whose economic identity
(vendor, total, issue date) already posted under a DIFFERENT scan is refused 409 unless
override is set, which is what stops the same receipt re-scanned into a new file hash
from double-booking. An unbalanced voucher is refused 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksScanBookRequest
*/
func (a *BooksAPIService) CloudPostV1BooksScanBook(ctx context.Context) BooksAPICloudPostV1BooksScanBookRequest {
	return BooksAPICloudPostV1BooksScanBookRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBookResponse
func (a *BooksAPIService) CloudPostV1BooksScanBookExecute(r BooksAPICloudPostV1BooksScanBookRequest) (*CloudBookResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBookResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksScanBook")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/scan/book"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudBookRequest == nil {
		return localVarReturnValue, nil, reportError("cloudBookRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudBookRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksSyncRequest struct {
	ctx        context.Context
	ApiService *BooksAPIService
}

func (r BooksAPICloudPostV1BooksSyncRequest) Execute() (*CloudSyncTally, *http.Response, error) {
	return r.ApiService.CloudPostV1BooksSyncExecute(r)
}

/*
CloudPostV1BooksSync Sync ingests the caller's OWN org from commerce into BOTH ledgers (live and sandbox) and reports how many new vouchers posted to each.

Sync ingests the caller's OWN org from commerce into BOTH ledgers (live and sandbox)
and reports how many new vouchers posted to each. It is idempotent — money that has
already been booked posts nothing on a repeat — and it is read-only against commerce:
it never mints a deposit, a credit or a payout, only the accounting twin of money that
already moved.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BooksAPICloudPostV1BooksSyncRequest
*/
func (a *BooksAPIService) CloudPostV1BooksSync(ctx context.Context) BooksAPICloudPostV1BooksSyncRequest {
	return BooksAPICloudPostV1BooksSyncRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSyncTally
func (a *BooksAPIService) CloudPostV1BooksSyncExecute(r BooksAPICloudPostV1BooksSyncRequest) (*CloudSyncTally, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSyncTally
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BooksAPIService.CloudPostV1BooksSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/books/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BooksAPICloudPostV1BooksVendorsRequest struct {
	ctx            context.Context
	ApiService     *BooksAPIService
[...]
