/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ShareAPIService ShareAPI service
type ShareAPIService service

type ShareAPIAnalyticsGetSharedWebsiteRequest struct {
	ctx        context.Context
	ApiService *ShareAPIService
	shareId    string
}

func (r ShareAPIAnalyticsGetSharedWebsiteRequest) Execute() (*AnalyticsGetSharedWebsite200Response, *http.Response, error) {
	return r.ApiService.AnalyticsGetSharedWebsiteExecute(r)
}

/*
AnalyticsGetSharedWebsite Get a shared website by share ID (no auth required)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param shareId
	@return ShareAPIAnalyticsGetSharedWebsiteRequest
*/
func (a *ShareAPIService) AnalyticsGetSharedWebsite(ctx context.Context, shareId string) ShareAPIAnalyticsGetSharedWebsiteRequest {
	return ShareAPIAnalyticsGetSharedWebsiteRequest{
		ApiService: a,
		ctx:        ctx,
		shareId:    shareId,
	}
}

// Execute executes the request
//
//	@return AnalyticsGetSharedWebsite200Response
func (a *ShareAPIService) AnalyticsGetSharedWebsiteExecute(r ShareAPIAnalyticsGetSharedWebsiteRequest) (*AnalyticsGetSharedWebsite200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsGetSharedWebsite200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShareAPIService.AnalyticsGetSharedWebsite")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/share/{shareId}"
	localVarPath = strings.Replace(localVarPath, "{"+"shareId"+"}", url.PathEscape(parameterValueToString(r.shareId, "shareId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ShareAPICloudGetV1ShareRequest struct {
	ctx        context.Context
	ApiService *ShareAPIService
}

func (r ShareAPICloudGetV1ShareRequest) Execute() (*CloudSharesOut, *http.Response, error) {
	return r.ApiService.CloudGetV1ShareExecute(r)
}

/*
CloudGetV1Share ListShares returns the tunnel shares the caller's org currently has open, across every environment that org has enabled.

ListShares returns the tunnel shares the caller's org currently has open, across
every environment that org has enabled. It is a READ and it degrades honestly: an
unconfigured deployment, an org that has not provisioned yet, and an unreachable
controller all answer an EMPTY list at 200 rather than an error, so the console
never error-toasts on load.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ShareAPICloudGetV1ShareRequest
*/
func (a *ShareAPIService) CloudGetV1Share(ctx context.Context) ShareAPICloudGetV1ShareRequest {
	return ShareAPICloudGetV1ShareRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSharesOut
func (a *ShareAPIService) CloudGetV1ShareExecute(r ShareAPICloudGetV1ShareRequest) (*CloudSharesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSharesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShareAPIService.CloudGetV1Share")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/share"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ShareAPICloudPostV1ShareEnableRequest struct {
	ctx        context.Context
	ApiService *ShareAPIService
}

func (r ShareAPICloudPostV1ShareEnableRequest) Execute() (*CloudEnableResp, *http.Response, error) {
	return r.ApiService.CloudPostV1ShareEnableExecute(r)
}

/*
CloudPostV1ShareEnable Enable provisions the caller org's tunnel account and returns the credential the `hanzo share` CLI needs to run a tunnel.

Enable provisions the caller org's tunnel account and returns the credential the
`hanzo share` CLI needs to run a tunnel. It is idempotent: the account is keyed
deterministically off the VALIDATED org, so a repeat call hands back the same
account rather than creating a second one, and a caller can only ever provision
their OWN org's account. 503 when the deployment has no share controller
configured; 502 when that controller is unreachable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ShareAPICloudPostV1ShareEnableRequest
*/
func (a *ShareAPIService) CloudPostV1ShareEnable(ctx context.Context) ShareAPICloudPostV1ShareEnableRequest {
	return ShareAPICloudPostV1ShareEnableRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudEnableResp
func (a *ShareAPIService) CloudPostV1ShareEnableExecute(r ShareAPICloudPostV1ShareEnableRequest) (*CloudEnableResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudEnableResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShareAPIService.CloudPostV1ShareEnable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/share/enable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
