/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"time"
)

// ConsoleMetricsAPIService ConsoleMetricsAPI service
type ConsoleMetricsAPIService service

type ConsoleMetricsAPIConsoleGetDailyMetricsRequest struct {
	ctx           context.Context
	ApiService    *ConsoleMetricsAPIService
	page          *int32
	limit         *int32
	traceName     *string
	userId        *string
	tags          *[]string
	fromTimestamp *time.Time
	toTimestamp   *time.Time
	environment   *[]string
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) Page(page int32) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	r.page = &page
	return r
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) Limit(limit int32) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	r.limit = &limit
	return r
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) TraceName(traceName string) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	r.traceName = &traceName
	return r
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) UserId(userId string) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	r.userId = &userId
	return r
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) Tags(tags []string) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	r.tags = &tags
	return r
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) FromTimestamp(fromTimestamp time.Time) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	r.fromTimestamp = &fromTimestamp
	return r
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) ToTimestamp(toTimestamp time.Time) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	r.toTimestamp = &toTimestamp
	return r
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) Environment(environment []string) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	r.environment = &environment
	return r
}

func (r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) Execute() (*ConsoleGetDailyMetrics200Response, *http.Response, error) {
	return r.ApiService.ConsoleGetDailyMetricsExecute(r)
}

/*
ConsoleGetDailyMetrics Get daily metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleMetricsAPIConsoleGetDailyMetricsRequest
*/
func (a *ConsoleMetricsAPIService) ConsoleGetDailyMetrics(ctx context.Context) ConsoleMetricsAPIConsoleGetDailyMetricsRequest {
	return ConsoleMetricsAPIConsoleGetDailyMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleGetDailyMetrics200Response
func (a *ConsoleMetricsAPIService) ConsoleGetDailyMetricsExecute(r ConsoleMetricsAPIConsoleGetDailyMetricsRequest) (*ConsoleGetDailyMetrics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleGetDailyMetrics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleMetricsAPIService.ConsoleGetDailyMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/metrics/daily"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.traceName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceName", r.traceName, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.tags != nil {
		t := *r.tags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tags", t, "form", "multi")
		}
	}
	if r.fromTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromTimestamp", r.fromTimestamp, "form", "")
	}
	if r.toTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toTimestamp", r.toTimestamp, "form", "")
	}
	if r.environment != nil {
		t := *r.environment
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "environment", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "environment", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleMetricsAPIConsoleGetMetricsRequest struct {
	ctx        context.Context
	ApiService *ConsoleMetricsAPIService
	query      *string
}

// JSON string containing the query parameters (view, dimensions, metrics, filters, timeDimension, fromTimestamp, toTimestamp)
func (r ConsoleMetricsAPIConsoleGetMetricsRequest) Query(query string) ConsoleMetricsAPIConsoleGetMetricsRequest {
	r.query = &query
	return r
}

func (r ConsoleMetricsAPIConsoleGetMetricsRequest) Execute() (*ConsoleGetMetrics200Response, *http.Response, error) {
	return r.ApiService.ConsoleGetMetricsExecute(r)
}

/*
ConsoleGetMetrics Get metrics from the project

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleMetricsAPIConsoleGetMetricsRequest
*/
func (a *ConsoleMetricsAPIService) ConsoleGetMetrics(ctx context.Context) ConsoleMetricsAPIConsoleGetMetricsRequest {
	return ConsoleMetricsAPIConsoleGetMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleGetMetrics200Response
func (a *ConsoleMetricsAPIService) ConsoleGetMetricsExecute(r ConsoleMetricsAPIConsoleGetMetricsRequest) (*ConsoleGetMetrics200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleGetMetrics200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleMetricsAPIService.ConsoleGetMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
