/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// TodoAPIService TodoAPI service
type TodoAPIService service

type TodoAPIDeleteTodoProjectsByKeyRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        string
}

func (r TodoAPIDeleteTodoProjectsByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteTodoProjectsByKeyExecute(r)
}

/*
DeleteTodoProjectsByKey Refused — a board is a repository on the forge

Answers 405. A todo board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.

Offering it here would put a second endpoint on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: "not this service's job" and "no such thing" are different facts, and the body names the forge so a caller knows where the job IS done.

What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and read the schedule a milestone is. Those are the routes beside this one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key
	@return TodoAPIDeleteTodoProjectsByKeyRequest
*/
func (a *TodoAPIService) DeleteTodoProjectsByKey(ctx context.Context, key string) TodoAPIDeleteTodoProjectsByKeyRequest {
	return TodoAPIDeleteTodoProjectsByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
func (a *TodoAPIService) DeleteTodoProjectsByKeyExecute(r TodoAPIDeleteTodoProjectsByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.DeleteTodoProjectsByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TodoAPIGetTodoBoardRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        *string
	status     *string
	kind       *string
	repo       *string
	label      *string
	source     *string
	scheduled  *bool
}

// Key is the project whose issues to list, from the path. EMPTY means every project in the org — the global board. It is a filter like the rest of this struct rather than an address, which is what lets one op answer both \&quot;this board\&quot; and \&quot;all the work\&quot; without a second surface disagreeing with the first about what a column is.
func (r TodoAPIGetTodoBoardRequest) Key(key string) TodoAPIGetTodoBoardRequest {
	r.key = &key
	return r
}

// Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400.
func (r TodoAPIGetTodoBoardRequest) Status(status string) TodoAPIGetTodoBoardRequest {
	r.status = &status
	return r
}

// Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400.
func (r TodoAPIGetTodoBoardRequest) Kind(kind string) TodoAPIGetTodoBoardRequest {
	r.kind = &kind
	return r
}

// Repo keeps only issues bound to that git repository.
func (r TodoAPIGetTodoBoardRequest) Repo(repo string) TodoAPIGetTodoBoardRequest {
	r.repo = &repo
	return r
}

// Label keeps only issues carrying that label, compared case-insensitively.  This is how a board narrows to something SMALLER than a repository — the one mechanism for it. An estate whose apps are directories inside one repository (hanzoai/cloud carries ~140 of them) has no repository per app to address, so the app is a label: &#x60;label&#x3D;app/meet&#x60; is the meet board. Nothing is provisioned to make one exist; a board is the query.
func (r TodoAPIGetTodoBoardRequest) Label(label string) TodoAPIGetTodoBoardRequest {
	r.label = &label
	return r
}

// Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400.
func (r TodoAPIGetTodoBoardRequest) Source(source string) TodoAPIGetTodoBoardRequest {
	r.source = &source
	return r
}

// Scheduled keeps only issues that carry a date — a start, a due date or both. This is the timeline&#39;s slice of the board: pass scheduled&#x3D;true to get exactly the rows a gantt has somewhere to draw, instead of fetching every issue and discarding the undated ones client-side.
func (r TodoAPIGetTodoBoardRequest) Scheduled(scheduled bool) TodoAPIGetTodoBoardRequest {
	r.scheduled = &scheduled
	return r
}

func (r TodoAPIGetTodoBoardRequest) Execute() ([]IssueView, *http.Response, error) {
	return r.ApiService.GetTodoBoardExecute(r)
}

/*
GetTodoBoard Returns a board's issues — work items with their column, priority, assignee, labels and schedule.

Returns a board's issues — work items with their column, priority,
assignee, labels and schedule.

WHICH board is a filter, not an address. Bound to a repository (the key from
the path) it is that project's board; left unbound it is the org's whole
board; narrowed by label it is a board smaller than any repository — which is
the only way an app that lives as a directory inside a shared repository can
have one. Every combination is the same rows through the same projection, so
no two boards can disagree about what a column means.

The column is a LABEL on the forge, so the board and the forge web UI are the
same object seen twice: relabelling in either moves the card in both. A closed
issue reads as done whatever its labels say.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TodoAPIGetTodoBoardRequest
*/
func (a *TodoAPIService) GetTodoBoard(ctx context.Context) TodoAPIGetTodoBoardRequest {
	return TodoAPIGetTodoBoardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IssueView
func (a *TodoAPIService) GetTodoBoardExecute(r TodoAPIGetTodoBoardRequest) ([]IssueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IssueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.GetTodoBoard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/board"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.key != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.scheduled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduled", r.scheduled, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIGetTodoIssuesRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	q          *string
	project    *string
	status     *string
	kind       *string
	repo       *string
	room       *string
	source     *string
	assignee   *string
	limit      *int64
}

// Q matches an issue&#39;s title or description. A word from the issue, which is what someone remembers — not its number, which is what they are looking up.
func (r TodoAPIGetTodoIssuesRequest) Q(q string) TodoAPIGetTodoIssuesRequest {
	r.q = &q
	return r
}

// Project narrows to one team key; \&quot;\&quot; searches every project in the org, which is the point of this op.
func (r TodoAPIGetTodoIssuesRequest) Project(project string) TodoAPIGetTodoIssuesRequest {
	r.project = &project
	return r
}

// Status keeps one board column: backlog, todo, in_progress, done, canceled.
func (r TodoAPIGetTodoIssuesRequest) Status(status string) TodoAPIGetTodoIssuesRequest {
	r.status = &status
	return r
}

// Kind keeps one shape: issue, pr, epic.
func (r TodoAPIGetTodoIssuesRequest) Kind(kind string) TodoAPIGetTodoIssuesRequest {
	r.kind = &kind
	return r
}

// Repo keeps issues bound to one git repository.
func (r TodoAPIGetTodoIssuesRequest) Repo(repo string) TodoAPIGetTodoIssuesRequest {
	r.repo = &repo
	return r
}

// Room keeps issues bound to one collaboration room, spelled \&quot;&lt;space&gt;_&lt;room&gt;\&quot; — the exact value GET /v1/meet/call answers with, so a channel&#39;s call and its todo list name the room the same way. This is the read a channel view runs to draw its own list; it spans every board of the org, because the work a channel is about is not confined to one board.
func (r TodoAPIGetTodoIssuesRequest) Room(room string) TodoAPIGetTodoIssuesRequest {
	r.room = &room
	return r
}

// Source keeps one origin: team, git, crm, helpdesk, cms, agent. \&quot;git\&quot; is how you ask for the mirrored GitHub issues specifically.
func (r TodoAPIGetTodoIssuesRequest) Source(source string) TodoAPIGetTodoIssuesRequest {
	r.source = &source
	return r
}

// Assignee keeps issues held by one person. Pass \&quot;me\&quot; for yourself.
func (r TodoAPIGetTodoIssuesRequest) Assignee(assignee string) TodoAPIGetTodoIssuesRequest {
	r.assignee = &assignee
	return r
}

// Limit caps the answer; 0 means the default, and anything above the ceiling is clamped rather than refused — a search that errors on being too broad teaches people to guess.
func (r TodoAPIGetTodoIssuesRequest) Limit(limit int64) TodoAPIGetTodoIssuesRequest {
	r.limit = &limit
	return r
}

func (r TodoAPIGetTodoIssuesRequest) Execute() (*IssueHits, *http.Response, error) {
	return r.ApiService.GetTodoIssuesExecute(r)
}

/*
GetTodoIssues Answers across every project in the org.

Answers across every project in the org.

The org comes from the validated principal and never from the request: a
caller able to name the org could read another tenant's backlog, and a search
is exactly the shape that would quietly return it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TodoAPIGetTodoIssuesRequest
*/
func (a *TodoAPIService) GetTodoIssues(ctx context.Context) TodoAPIGetTodoIssuesRequest {
	return TodoAPIGetTodoIssuesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IssueHits
func (a *TodoAPIService) GetTodoIssuesExecute(r TodoAPIGetTodoIssuesRequest) (*IssueHits, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IssueHits
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.GetTodoIssues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/issues"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	if r.room != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "room", r.room, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.assignee != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assignee", r.assignee, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIGetTodoProjectsRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
}

func (r TodoAPIGetTodoProjectsRequest) Execute() ([]TodoProject, *http.Response, error) {
	return r.ApiService.GetTodoProjectsExecute(r)
}

/*
GetTodoProjects Returns the boards of your org — the places your work actually is.

Returns the boards of your org — the places your work actually
is. The key addresses the board's issues.

A BOARD IS A PLACE WORK IS, not an object somebody provisioned. So the list is
assembled from the work itself: the repositories your org has filed issues on,
plus the boards the index holds. A repository with nothing on it is not in the
list and is still perfectly addressable — GET /projects/<name> reads it and a
create files into it — so nothing is lost by leaving it out.

Measured, which is why: reading the forge's whole repository inventory put 745
boards here, of which all but a handful were vendored forks and mirrors
(.github, .profile, DOMPurify, BoatAttack) that will never carry this org's
work. A list that long is not a list — the estate's real roadmap was in it
somewhere and no one could see it.

The forge half is the FORGE's answer for your own account, so two people in
one org can legitimately see different boards.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TodoAPIGetTodoProjectsRequest
*/
func (a *TodoAPIService) GetTodoProjects(ctx context.Context) TodoAPIGetTodoProjectsRequest {
	return TodoAPIGetTodoProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []TodoProject
func (a *TodoAPIService) GetTodoProjectsExecute(r TodoAPIGetTodoProjectsRequest) ([]TodoProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TodoProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.GetTodoProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIGetTodoProjectsByKeyRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        string
}

func (r TodoAPIGetTodoProjectsByKeyRequest) Execute() (*TodoProject, *http.Response, error) {
	return r.ApiService.GetTodoProjectsByKeyExecute(r)
}

/*
GetTodoProjectsByKey Returns one board of your org by its key — the repository name.

Returns one board of your org by its key — the repository name.
404 when your org has no repository under that key, or when your own forge
account cannot see it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the project's org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\"ENG\", \"OPS2\"). Matched case-insensitively.
	@return TodoAPIGetTodoProjectsByKeyRequest
*/
func (a *TodoAPIService) GetTodoProjectsByKey(ctx context.Context, key string) TodoAPIGetTodoProjectsByKeyRequest {
	return TodoAPIGetTodoProjectsByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return TodoProject
func (a *TodoAPIService) GetTodoProjectsByKeyExecute(r TodoAPIGetTodoProjectsByKeyRequest) (*TodoProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TodoProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.GetTodoProjectsByKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIGetTodoProjectsByKeyIssuesRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        string
	status     *string
	kind       *string
	repo       *string
	label      *string
	source     *string
	scheduled  *bool
}

// Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400.
func (r TodoAPIGetTodoProjectsByKeyIssuesRequest) Status(status string) TodoAPIGetTodoProjectsByKeyIssuesRequest {
	r.status = &status
	return r
}

// Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400.
func (r TodoAPIGetTodoProjectsByKeyIssuesRequest) Kind(kind string) TodoAPIGetTodoProjectsByKeyIssuesRequest {
	r.kind = &kind
	return r
}

// Repo keeps only issues bound to that git repository.
func (r TodoAPIGetTodoProjectsByKeyIssuesRequest) Repo(repo string) TodoAPIGetTodoProjectsByKeyIssuesRequest {
	r.repo = &repo
	return r
}

// Label keeps only issues carrying that label, compared case-insensitively.  This is how a board narrows to something SMALLER than a repository — the one mechanism for it. An estate whose apps are directories inside one repository (hanzoai/cloud carries ~140 of them) has no repository per app to address, so the app is a label: &#x60;label&#x3D;app/meet&#x60; is the meet board. Nothing is provisioned to make one exist; a board is the query.
func (r TodoAPIGetTodoProjectsByKeyIssuesRequest) Label(label string) TodoAPIGetTodoProjectsByKeyIssuesRequest {
	r.label = &label
	return r
}

// Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400.
func (r TodoAPIGetTodoProjectsByKeyIssuesRequest) Source(source string) TodoAPIGetTodoProjectsByKeyIssuesRequest {
	r.source = &source
	return r
}

// Scheduled keeps only issues that carry a date — a start, a due date or both. This is the timeline&#39;s slice of the board: pass scheduled&#x3D;true to get exactly the rows a gantt has somewhere to draw, instead of fetching every issue and discarding the undated ones client-side.
func (r TodoAPIGetTodoProjectsByKeyIssuesRequest) Scheduled(scheduled bool) TodoAPIGetTodoProjectsByKeyIssuesRequest {
	r.scheduled = &scheduled
	return r
}

func (r TodoAPIGetTodoProjectsByKeyIssuesRequest) Execute() ([]IssueView, *http.Response, error) {
	return r.ApiService.GetTodoProjectsByKeyIssuesExecute(r)
}

/*
GetTodoProjectsByKeyIssues Returns a board's issues — work items with their column, priority, assignee, labels and schedule.

Returns a board's issues — work items with their column, priority,
assignee, labels and schedule.

WHICH board is a filter, not an address. Bound to a repository (the key from
the path) it is that project's board; left unbound it is the org's whole
board; narrowed by label it is a board smaller than any repository — which is
the only way an app that lives as a directory inside a shared repository can
have one. Every combination is the same rows through the same projection, so
no two boards can disagree about what a column means.

The column is a LABEL on the forge, so the board and the forge web UI are the
same object seen twice: relabelling in either moves the card in both. A closed
issue reads as done whatever its labels say.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the project whose issues to list, from the path. EMPTY means every project in the org — the global board. It is a filter like the rest of this struct rather than an address, which is what lets one op answer both \"this board\" and \"all the work\" without a second surface disagreeing with the first about what a column is.
	@return TodoAPIGetTodoProjectsByKeyIssuesRequest
*/
func (a *TodoAPIService) GetTodoProjectsByKeyIssues(ctx context.Context, key string) TodoAPIGetTodoProjectsByKeyIssuesRequest {
	return TodoAPIGetTodoProjectsByKeyIssuesRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return []IssueView
func (a *TodoAPIService) GetTodoProjectsByKeyIssuesExecute(r TodoAPIGetTodoProjectsByKeyIssuesRequest) ([]IssueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IssueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.GetTodoProjectsByKeyIssues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects/{key}/issues"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.scheduled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduled", r.scheduled, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIGetTodoProjectsByKeyIssuesByNumRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        string
	num        int64
}

func (r TodoAPIGetTodoProjectsByKeyIssuesByNumRequest) Execute() (*IssueView, *http.Response, error) {
	return r.ApiService.GetTodoProjectsByKeyIssuesByNumExecute(r)
}

/*
GetTodoProjectsByKeyIssuesByNum Returns ONE work item in full — its description included.

Returns ONE work item in full — its description included.

The list reads answer a board, and a board is a summary: the description is
where the actual content of a work item lives — what an issue asks for, what
an epic's acceptance criteria are — and no read on this surface returned it.
The address is the one PATCH already accepts, so an item you can move is now
an item you can read.

It reads the forge directly rather than filtering the org fan-out, then falls
back to the index for a board the forge has never heard of — the same order,
and the same reason, as GetProject: a row is one kind of thing however it came
to exist, so a caller does not have to know which store it is in to fetch it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the board — the repository name, or an index board's key.
	@param num Num is the issue's number on that board.
	@return TodoAPIGetTodoProjectsByKeyIssuesByNumRequest
*/
func (a *TodoAPIService) GetTodoProjectsByKeyIssuesByNum(ctx context.Context, key string, num int64) TodoAPIGetTodoProjectsByKeyIssuesByNumRequest {
	return TodoAPIGetTodoProjectsByKeyIssuesByNumRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
		num:        num,
	}
}

// Execute executes the request
//
//	@return IssueView
func (a *TodoAPIService) GetTodoProjectsByKeyIssuesByNumExecute(r TodoAPIGetTodoProjectsByKeyIssuesByNumRequest) (*IssueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IssueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.GetTodoProjectsByKeyIssuesByNum")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects/{key}/issues/{num}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"num"+"}", url.PathEscape(parameterValueToString(r.num, "num")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIGetTodoRoomsByRoomRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	room       string
}

func (r TodoAPIGetTodoRoomsByRoomRequest) Execute() (*RoomWork, *http.Response, error) {
	return r.ApiService.GetTodoRoomsByRoomExecute(r)
}

/*
GetTodoRoomsByRoom Summarises one room's work.

Summarises one room's work.

The room is opaque here and is deliberately not resolved: this package cannot
say whether a room exists — apps/team owns that document — so an unknown room
answers an EMPTY board rather than a 404. That is the honest answer and the
useful one: a channel that has never had an item filed in it and a channel id
that was mistyped both have no work, and inventing a distinction would require
this surface to hold a second copy of the room list (HIP-0523 §2 forbids it,
and it would drift the first time a room was renamed).

Tenancy is the validated principal's org and nothing else, so a caller cannot
read another tenant's channel by naming its room.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param room Room is the room, spelled \"<space>_<room>\" — the same value GET /v1/meet/call answers with, so a channel's call and its work name the room identically. From the path.
	@return TodoAPIGetTodoRoomsByRoomRequest
*/
func (a *TodoAPIService) GetTodoRoomsByRoom(ctx context.Context, room string) TodoAPIGetTodoRoomsByRoomRequest {
	return TodoAPIGetTodoRoomsByRoomRequest{
		ApiService: a,
		ctx:        ctx,
		room:       room,
	}
}

// Execute executes the request
//
//	@return RoomWork
func (a *TodoAPIService) GetTodoRoomsByRoomExecute(r TodoAPIGetTodoRoomsByRoomRequest) (*RoomWork, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RoomWork
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.GetTodoRoomsByRoom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/rooms/{room}"
	localVarPath = strings.Replace(localVarPath, "{"+"room"+"}", url.PathEscape(parameterValueToString(r.room, "room")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIPatchTodoProjectsByKeyRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        string
}

func (r TodoAPIPatchTodoProjectsByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.PatchTodoProjectsByKeyExecute(r)
}

/*
PatchTodoProjectsByKey Refused — a board is a repository on the forge

Answers 405. A todo board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.

Offering it here would put a second endpoint on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: "not this service's job" and "no such thing" are different facts, and the body names the forge so a caller knows where the job IS done.

What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and read the schedule a milestone is. Those are the routes beside this one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key
	@return TodoAPIPatchTodoProjectsByKeyRequest
*/
func (a *TodoAPIService) PatchTodoProjectsByKey(ctx context.Context, key string) TodoAPIPatchTodoProjectsByKeyRequest {
	return TodoAPIPatchTodoProjectsByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
func (a *TodoAPIService) PatchTodoProjectsByKeyExecute(r TodoAPIPatchTodoProjectsByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.PatchTodoProjectsByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TodoAPIPatchTodoProjectsByKeyIssuesByNumRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        string
	num        int64
	issueEdit  *IssueEdit
}

func (r TodoAPIPatchTodoProjectsByKeyIssuesByNumRequest) IssueEdit(issueEdit IssueEdit) TodoAPIPatchTodoProjectsByKeyIssuesByNumRequest {
	r.issueEdit = &issueEdit
	return r
}

func (r TodoAPIPatchTodoProjectsByKeyIssuesByNumRequest) Execute() (*IssueView, *http.Response, error) {
	return r.ApiService.PatchTodoProjectsByKeyIssuesByNumExecute(r)
}

/*
PatchTodoProjectsByKeyIssuesByNum Edits a work item — rename it, rewrite it, move it to another column, or re-prioritise it.

Edits a work item — rename it, rewrite it, move it to another
column, or re-prioritise it. Absent fields are left alone.

MOVING A CARD IS A RELABEL. The column lives in the forge's label set, so the
move replaces that set rather than writing a status column here that a
forge-side change could contradict. Moving to `done` also CLOSES the issue on
the forge, because a done card and an open issue are a contradiction.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the board — the repository name, from the path.
	@param num Num is the issue number on that repository, from the path.
	@return TodoAPIPatchTodoProjectsByKeyIssuesByNumRequest
*/
func (a *TodoAPIService) PatchTodoProjectsByKeyIssuesByNum(ctx context.Context, key string, num int64) TodoAPIPatchTodoProjectsByKeyIssuesByNumRequest {
	return TodoAPIPatchTodoProjectsByKeyIssuesByNumRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
		num:        num,
	}
}

// Execute executes the request
//
//	@return IssueView
func (a *TodoAPIService) PatchTodoProjectsByKeyIssuesByNumExecute(r TodoAPIPatchTodoProjectsByKeyIssuesByNumRequest) (*IssueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IssueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.PatchTodoProjectsByKeyIssuesByNum")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects/{key}/issues/{num}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"num"+"}", url.PathEscape(parameterValueToString(r.num, "num")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.issueEdit == nil {
		return localVarReturnValue, nil, reportError("issueEdit is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.issueEdit
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIPostTodoProjectsRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
}

func (r TodoAPIPostTodoProjectsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostTodoProjectsExecute(r)
}

/*
PostTodoProjects Refused — a board is a repository on the forge

Answers 405. A todo board IS a repository on this deployment's forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.

Offering it here would put a second endpoint on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: "not this service's job" and "no such thing" are different facts, and the body names the forge so a caller knows where the job IS done.

What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and read the schedule a milestone is. Those are the routes beside this one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TodoAPIPostTodoProjectsRequest
*/
func (a *TodoAPIService) PostTodoProjects(ctx context.Context) TodoAPIPostTodoProjectsRequest {
	return TodoAPIPostTodoProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *TodoAPIService) PostTodoProjectsExecute(r TodoAPIPostTodoProjectsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.PostTodoProjects")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TodoAPIPostTodoProjectsByKeyIssuesRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        string
	newIssue   *NewIssue
}

func (r TodoAPIPostTodoProjectsByKeyIssuesRequest) NewIssue(newIssue NewIssue) TodoAPIPostTodoProjectsByKeyIssuesRequest {
	r.newIssue = &newIssue
	return r
}

func (r TodoAPIPostTodoProjectsByKeyIssuesRequest) Execute() (*IssueView, *http.Response, error) {
	return r.ApiService.PostTodoProjectsByKeyIssuesExecute(r)
}

/*
PostTodoProjectsByKeyIssues Opens a work item on the board — an issue on that repository on the deployment's forge, filed as YOU.

Opens a work item on the board — an issue on that repository on
the deployment's forge, filed as YOU.

The column and priority are written as LABELS, which is what makes the card
and the forge issue the same object: someone relabelling in the forge web UI
has moved your card.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the board — the repository name, from the path.
	@return TodoAPIPostTodoProjectsByKeyIssuesRequest
*/
func (a *TodoAPIService) PostTodoProjectsByKeyIssues(ctx context.Context, key string) TodoAPIPostTodoProjectsByKeyIssuesRequest {
	return TodoAPIPostTodoProjectsByKeyIssuesRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return IssueView
func (a *TodoAPIService) PostTodoProjectsByKeyIssuesExecute(r TodoAPIPostTodoProjectsByKeyIssuesRequest) (*IssueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IssueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.PostTodoProjectsByKeyIssues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects/{key}/issues"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.newIssue == nil {
		return localVarReturnValue, nil, reportError("newIssue is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.newIssue
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TodoAPIPostTodoProjectsByKeyIssuesByNumClaimRequest struct {
	ctx        context.Context
	ApiService *TodoAPIService
	key        string
	num        int64
}

func (r TodoAPIPostTodoProjectsByKeyIssuesByNumClaimRequest) Execute() (*IssueHit, *http.Response, error) {
	return r.ApiService.PostTodoProjectsByKeyIssuesByNumClaimExecute(r)
}

/*
PostTodoProjectsByKeyIssuesByNumClaim Takes an issue: it becomes yours and it moves to in_progress.

Takes an issue: it becomes yours and it moves to in_progress.

The holder is the CALLER, never an argument. "Assign this to someone else" is
a different act with different authority, and it already exists as a PATCH;
conflating them would let anyone hand work to anyone by naming them.

Claiming something already held by someone else is refused rather than
silently taken — two agents on one issue is the failure this prevents, and a
claim that quietly wins a race is worse than one that says no.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key
	@param num
	@return TodoAPIPostTodoProjectsByKeyIssuesByNumClaimRequest
*/
func (a *TodoAPIService) PostTodoProjectsByKeyIssuesByNumClaim(ctx context.Context, key string, num int64) TodoAPIPostTodoProjectsByKeyIssuesByNumClaimRequest {
	return TodoAPIPostTodoProjectsByKeyIssuesByNumClaimRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
		num:        num,
	}
}

// Execute executes the request
//
//	@return IssueHit
func (a *TodoAPIService) PostTodoProjectsByKeyIssuesByNumClaimExecute(r TodoAPIPostTodoProjectsByKeyIssuesByNumClaimRequest) (*IssueHit, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IssueHit
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TodoAPIService.PostTodoProjectsByKeyIssuesByNumClaim")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/todo/projects/{key}/issues/{num}/claim"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"num"+"}", url.PathEscape(parameterValueToString(r.num, "num")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
