/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// TrackerAPIService TrackerAPI service
type TrackerAPIService service

type TrackerAPICloudDeleteV1TrackerProjectsKeyRequest struct {
	ctx        context.Context
	ApiService *TrackerAPIService
	key        string
}

func (r TrackerAPICloudDeleteV1TrackerProjectsKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1TrackerProjectsKeyExecute(r)
}

/*
CloudDeleteV1TrackerProjectsKey DeleteProject removes one tracker project of the caller's org AND every issue filed under it, and answers 204 with no body.

DeleteProject removes one tracker project of the caller's org AND every issue
filed under it, and answers 204 with no body. 404 when the org has no project
under that key.

The cascade is the point: an issue has no meaning without the board whose key
names it, so deleting the board deletes them together rather than leaving
orphans addressable by an identifier that no longer resolves.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the project's org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\"ENG\", \"OPS2\"). Matched case-insensitively.
	@return TrackerAPICloudDeleteV1TrackerProjectsKeyRequest
*/
func (a *TrackerAPIService) CloudDeleteV1TrackerProjectsKey(ctx context.Context, key string) TrackerAPICloudDeleteV1TrackerProjectsKeyRequest {
	return TrackerAPICloudDeleteV1TrackerProjectsKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
func (a *TrackerAPIService) CloudDeleteV1TrackerProjectsKeyExecute(r TrackerAPICloudDeleteV1TrackerProjectsKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudDeleteV1TrackerProjectsKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TrackerAPICloudDeleteV1TrackerProjectsKeyIssuesNumRequest struct {
	ctx        context.Context
	ApiService *TrackerAPIService
	key        string
	num        int32
}

func (r TrackerAPICloudDeleteV1TrackerProjectsKeyIssuesNumRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1TrackerProjectsKeyIssuesNumExecute(r)
}

/*
CloudDeleteV1TrackerProjectsKeyIssuesNum DeleteIssue removes one issue from a tracker project and answers 204 with no body.

DeleteIssue removes one issue from a tracker project and answers 204 with no
body. 404 when the project or the issue does not exist in the caller's org.

The issue's number is NOT reused: the next issue on the board takes the next
number, so a deleted identifier stays retired rather than silently pointing at
different work.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the issue's project, from the path.
	@param num Num is the issue's number within that project — the digits of KEY-14. Positive; anything else is refused with 400.
	@return TrackerAPICloudDeleteV1TrackerProjectsKeyIssuesNumRequest
*/
func (a *TrackerAPIService) CloudDeleteV1TrackerProjectsKeyIssuesNum(ctx context.Context, key string, num int32) TrackerAPICloudDeleteV1TrackerProjectsKeyIssuesNumRequest {
	return TrackerAPICloudDeleteV1TrackerProjectsKeyIssuesNumRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
		num:        num,
	}
}

// Execute executes the request
func (a *TrackerAPIService) CloudDeleteV1TrackerProjectsKeyIssuesNumExecute(r TrackerAPICloudDeleteV1TrackerProjectsKeyIssuesNumRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudDeleteV1TrackerProjectsKeyIssuesNum")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects/{key}/issues/{num}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"num"+"}", url.PathEscape(parameterValueToString(r.num, "num")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TrackerAPICloudGetV1TrackerProjectsRequest struct {
	ctx        context.Context
	ApiService *TrackerAPIService
}

func (r TrackerAPICloudGetV1TrackerProjectsRequest) Execute() ([]CloudTrackerProject, *http.Response, error) {
	return r.ApiService.CloudGetV1TrackerProjectsExecute(r)
}

/*
CloudGetV1TrackerProjects ListProjects returns every tracker project in the caller's org, newest first.

ListProjects returns every tracker project in the caller's org, newest first.

A project is the board: it owns a KEY (the uppercase handle that prefixes every
issue identifier, "ENG-14") and the issues filed under it. The listing is
org-scoped server-side — the org is the validated bearer claim, never a
client-supplied header — so one org can never see another's boards.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TrackerAPICloudGetV1TrackerProjectsRequest
*/
func (a *TrackerAPIService) CloudGetV1TrackerProjects(ctx context.Context) TrackerAPICloudGetV1TrackerProjectsRequest {
	return TrackerAPICloudGetV1TrackerProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudTrackerProject
func (a *TrackerAPIService) CloudGetV1TrackerProjectsExecute(r TrackerAPICloudGetV1TrackerProjectsRequest) ([]CloudTrackerProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudTrackerProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudGetV1TrackerProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackerAPICloudGetV1TrackerProjectsKeyRequest struct {
	ctx        context.Context
	ApiService *TrackerAPIService
	key        string
}

func (r TrackerAPICloudGetV1TrackerProjectsKeyRequest) Execute() (*CloudTrackerProject, *http.Response, error) {
	return r.ApiService.CloudGetV1TrackerProjectsKeyExecute(r)
}

/*
CloudGetV1TrackerProjectsKey GetProject returns one tracker project of the caller's org by its key — its name, description and timestamps.

GetProject returns one tracker project of the caller's org by its key —
its name, description and timestamps. 404 when the org has no project
under that key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the project's org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\"ENG\", \"OPS2\"). Matched case-insensitively.
	@return TrackerAPICloudGetV1TrackerProjectsKeyRequest
*/
func (a *TrackerAPIService) CloudGetV1TrackerProjectsKey(ctx context.Context, key string) TrackerAPICloudGetV1TrackerProjectsKeyRequest {
	return TrackerAPICloudGetV1TrackerProjectsKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return CloudTrackerProject
func (a *TrackerAPIService) CloudGetV1TrackerProjectsKeyExecute(r TrackerAPICloudGetV1TrackerProjectsKeyRequest) (*CloudTrackerProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTrackerProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudGetV1TrackerProjectsKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest struct {
	ctx        context.Context
	ApiService *TrackerAPIService
	key        string
	status     *string
	kind       *string
	repo       *string
	source     *string
}

// Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400.
func (r TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest) Status(status string) TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest {
	r.status = &status
	return r
}

// Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400.
func (r TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest) Kind(kind string) TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest {
	r.kind = &kind
	return r
}

// Repo keeps only issues bound to that git repository.
func (r TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest) Repo(repo string) TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest {
	r.repo = &repo
	return r
}

// Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400.
func (r TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest) Source(source string) TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest {
	r.source = &source
	return r
}

func (r TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest) Execute() ([]CloudIssueView, *http.Response, error) {
	return r.ApiService.CloudGetV1TrackerProjectsKeyIssuesExecute(r)
}

/*
CloudGetV1TrackerProjectsKeyIssues ListIssues returns the issues of one tracker project, optionally filtered by status, kind, repo and source.

ListIssues returns the issues of one tracker project, optionally filtered by
status, kind, repo and source.

This is the ONE place a surface takes its slice of the shared issue table:
hanzo.team passes no filter or a status, a git repository's Issues tab passes
kind=issue&repo=<r> and its Pull Requests tab kind=pr&repo=<r>. A filter value
outside its closed set is refused with 400 rather than silently returning an
empty board.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the project whose issues to list, from the path.
	@return TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest
*/
func (a *TrackerAPIService) CloudGetV1TrackerProjectsKeyIssues(ctx context.Context, key string) TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest {
	return TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return []CloudIssueView
func (a *TrackerAPIService) CloudGetV1TrackerProjectsKeyIssuesExecute(r TrackerAPICloudGetV1TrackerProjectsKeyIssuesRequest) ([]CloudIssueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudIssueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudGetV1TrackerProjectsKeyIssues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects/{key}/issues"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackerAPICloudGetV1TrackerProjectsKeyIssuesNumRequest struct {
	ctx        context.Context
	ApiService *TrackerAPIService
	key        string
	num        int32
}

func (r TrackerAPICloudGetV1TrackerProjectsKeyIssuesNumRequest) Execute() (*CloudIssueView, *http.Response, error) {
	return r.ApiService.CloudGetV1TrackerProjectsKeyIssuesNumExecute(r)
}

/*
CloudGetV1TrackerProjectsKeyIssuesNum GetIssue returns one issue of one tracker project by its per-project number — title, description, status, priority, assignee, labels, kind, source and its git bindings.

GetIssue returns one issue of one tracker project by its per-project number —
title, description, status, priority, assignee, labels, kind, source and its
git bindings. 404 when the project or the issue does not exist in the caller's
org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the issue's project, from the path.
	@param num Num is the issue's number within that project — the digits of KEY-14. Positive; anything else is refused with 400.
	@return TrackerAPICloudGetV1TrackerProjectsKeyIssuesNumRequest
*/
func (a *TrackerAPIService) CloudGetV1TrackerProjectsKeyIssuesNum(ctx context.Context, key string, num int32) TrackerAPICloudGetV1TrackerProjectsKeyIssuesNumRequest {
	return TrackerAPICloudGetV1TrackerProjectsKeyIssuesNumRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
		num:        num,
	}
}

// Execute executes the request
//
//	@return CloudIssueView
func (a *TrackerAPIService) CloudGetV1TrackerProjectsKeyIssuesNumExecute(r TrackerAPICloudGetV1TrackerProjectsKeyIssuesNumRequest) (*CloudIssueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIssueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudGetV1TrackerProjectsKeyIssuesNum")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects/{key}/issues/{num}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"num"+"}", url.PathEscape(parameterValueToString(r.num, "num")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackerAPICloudPatchV1TrackerProjectsKeyRequest struct {
	ctx               context.Context
	ApiService        *TrackerAPIService
	key               string
	cloudProjectPatch *CloudProjectPatch
}

func (r TrackerAPICloudPatchV1TrackerProjectsKeyRequest) CloudProjectPatch(cloudProjectPatch CloudProjectPatch) TrackerAPICloudPatchV1TrackerProjectsKeyRequest {
	r.cloudProjectPatch = &cloudProjectPatch
	return r
}

func (r TrackerAPICloudPatchV1TrackerProjectsKeyRequest) Execute() (*CloudTrackerProject, *http.Response, error) {
	return r.ApiService.CloudPatchV1TrackerProjectsKeyExecute(r)
}

/*
CloudPatchV1TrackerProjectsKey UpdateProject renames a tracker project or rewrites its description, and returns the updated project.

UpdateProject renames a tracker project or rewrites its description, and
returns the updated project. Both fields are optional: one the caller omits
keeps its stored value.

The project KEY is never editable — it prefixes every issue identifier already
filed under the board, so changing it would rewrite the human handle of every
issue in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the project to update, from the path.
	@return TrackerAPICloudPatchV1TrackerProjectsKeyRequest
*/
func (a *TrackerAPIService) CloudPatchV1TrackerProjectsKey(ctx context.Context, key string) TrackerAPICloudPatchV1TrackerProjectsKeyRequest {
	return TrackerAPICloudPatchV1TrackerProjectsKeyRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
//
//	@return CloudTrackerProject
func (a *TrackerAPIService) CloudPatchV1TrackerProjectsKeyExecute(r TrackerAPICloudPatchV1TrackerProjectsKeyRequest) (*CloudTrackerProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTrackerProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudPatchV1TrackerProjectsKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudProjectPatch == nil {
		return localVarReturnValue, nil, reportError("cloudProjectPatch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudProjectPatch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackerAPICloudPatchV1TrackerProjectsKeyIssuesNumRequest struct {
	ctx             context.Context
	ApiService      *TrackerAPIService
	key             string
	num             int32
	cloudIssuePatch *CloudIssuePatch
}

func (r TrackerAPICloudPatchV1TrackerProjectsKeyIssuesNumRequest) CloudIssuePatch(cloudIssuePatch CloudIssuePatch) TrackerAPICloudPatchV1TrackerProjectsKeyIssuesNumRequest {
	r.cloudIssuePatch = &cloudIssuePatch
	return r
}

func (r TrackerAPICloudPatchV1TrackerProjectsKeyIssuesNumRequest) Execute() (*CloudIssueView, *http.Response, error) {
	return r.ApiService.CloudPatchV1TrackerProjectsKeyIssuesNumExecute(r)
}

/*
CloudPatchV1TrackerProjectsKeyIssuesNum UpdateIssue edits one issue in place and returns it — retitle it, rewrite its body, move it between board columns, reprioritize, reassign, or replace its labels.

UpdateIssue edits one issue in place and returns it — retitle it, rewrite its
body, move it between board columns, reprioritize, reassign, or replace its
labels. Every field is optional: one the caller omits keeps its stored value,
and `labels` REPLACES the set rather than adding to it.

The issue's kind, source and git bindings are not editable here: they record
where the work item came FROM, which is a fact about its origin rather than
its current state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key Key is the issue's project, from the path.
	@param num Num is the issue's number within that project, from the path.
	@return TrackerAPICloudPatchV1TrackerProjectsKeyIssuesNumRequest
*/
func (a *TrackerAPIService) CloudPatchV1TrackerProjectsKeyIssuesNum(ctx context.Context, key string, num int32) TrackerAPICloudPatchV1TrackerProjectsKeyIssuesNumRequest {
	return TrackerAPICloudPatchV1TrackerProjectsKeyIssuesNumRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
		num:        num,
	}
}

// Execute executes the request
//
//	@return CloudIssueView
func (a *TrackerAPIService) CloudPatchV1TrackerProjectsKeyIssuesNumExecute(r TrackerAPICloudPatchV1TrackerProjectsKeyIssuesNumRequest) (*CloudIssueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIssueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudPatchV1TrackerProjectsKeyIssuesNum")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects/{key}/issues/{num}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"num"+"}", url.PathEscape(parameterValueToString(r.num, "num")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudIssuePatch == nil {
		return localVarReturnValue, nil, reportError("cloudIssuePatch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudIssuePatch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TrackerAPICloudPostV1TrackerProjectsRequest struct {
	ctx        context.Context
	ApiService *TrackerAPIService
}

func (r TrackerAPICloudPostV1TrackerProjectsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1TrackerProjectsExecute(r)
}

/*
CloudPostV1TrackerProjects Method for CloudPostV1TrackerProjects

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TrackerAPICloudPostV1TrackerProjectsRequest
*/
func (a *TrackerAPIService) CloudPostV1TrackerProjects(ctx context.Context) TrackerAPICloudPostV1TrackerProjectsRequest {
	return TrackerAPICloudPostV1TrackerProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *TrackerAPIService) CloudPostV1TrackerProjectsExecute(r TrackerAPICloudPostV1TrackerProjectsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudPostV1TrackerProjects")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TrackerAPICloudPostV1TrackerProjectsByKeyIssuesRequest struct {
	ctx        context.Context
	ApiService *TrackerAPIService
	key        string
}

func (r TrackerAPICloudPostV1TrackerProjectsByKeyIssuesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1TrackerProjectsByKeyIssuesExecute(r)
}

/*
CloudPostV1TrackerProjectsByKeyIssues Method for CloudPostV1TrackerProjectsByKeyIssues

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key
	@return TrackerAPICloudPostV1TrackerProjectsByKeyIssuesRequest
*/
func (a *TrackerAPIService) CloudPostV1TrackerProjectsByKeyIssues(ctx context.Context, key string) TrackerAPICloudPostV1TrackerProjectsByKeyIssuesRequest {
	return TrackerAPICloudPostV1TrackerProjectsByKeyIssuesRequest{
		ApiService: a,
		ctx:        ctx,
		key:        key,
	}
}

// Execute executes the request
func (a *TrackerAPIService) CloudPostV1TrackerProjectsByKeyIssuesExecute(r TrackerAPICloudPostV1TrackerProjectsByKeyIssuesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackerAPIService.CloudPostV1TrackerProjectsByKeyIssues")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tracker/projects/{key}/issues"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
