/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// FinanceAPIService FinanceAPI service
type FinanceAPIService service

type FinanceAPICloudGetV1FinanceAccountsRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
	scope      *string
	org        *string
}

// Scope is \&quot;house\&quot; to read the reserve/revenue/payout house accounts. SuperAdmin only.
func (r FinanceAPICloudGetV1FinanceAccountsRequest) Scope(scope string) FinanceAPICloudGetV1FinanceAccountsRequest {
	r.scope = &scope
	return r
}

// Org names another tenant to read. SuperAdmin only; ignored when scope&#x3D;house.
func (r FinanceAPICloudGetV1FinanceAccountsRequest) Org(org string) FinanceAPICloudGetV1FinanceAccountsRequest {
	r.org = &org
	return r
}

func (r FinanceAPICloudGetV1FinanceAccountsRequest) Execute() (*CloudAccountsOut, *http.Response, error) {
	return r.ApiService.CloudGetV1FinanceAccountsExecute(r)
}

/*
CloudGetV1FinanceAccounts ListFinanceAccounts returns the ledger accounts the caller may see, with their balances.

ListFinanceAccounts returns the ledger accounts the caller may see, with their
balances. It is tenant-isolated SERVER-SIDE: an ordinary caller sees ONLY
accounts under its own "org:<tenant>:" prefix, never house accounts and never
another tenant's. A SuperAdmin may widen with ?scope=house (the reserve,
revenue and payout house accounts) or ?org=<tenant> — the only way to cross the
tenant boundary, and only for platform sudo. The answer is honestly empty until
a tenant has ledger postings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPICloudGetV1FinanceAccountsRequest
*/
func (a *FinanceAPIService) CloudGetV1FinanceAccounts(ctx context.Context) FinanceAPICloudGetV1FinanceAccountsRequest {
	return FinanceAPICloudGetV1FinanceAccountsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAccountsOut
func (a *FinanceAPIService) CloudGetV1FinanceAccountsExecute(r FinanceAPICloudGetV1FinanceAccountsRequest) (*CloudAccountsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAccountsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.CloudGetV1FinanceAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPICloudGetV1FinanceBalanceRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPICloudGetV1FinanceBalanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1FinanceBalanceExecute(r)
}

/*
CloudGetV1FinanceBalance Method for CloudGetV1FinanceBalance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPICloudGetV1FinanceBalanceRequest
*/
func (a *FinanceAPIService) CloudGetV1FinanceBalance(ctx context.Context) FinanceAPICloudGetV1FinanceBalanceRequest {
	return FinanceAPICloudGetV1FinanceBalanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FinanceAPIService) CloudGetV1FinanceBalanceExecute(r FinanceAPICloudGetV1FinanceBalanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.CloudGetV1FinanceBalance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FinanceAPICloudGetV1FinanceCreditsRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPICloudGetV1FinanceCreditsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1FinanceCreditsExecute(r)
}

/*
CloudGetV1FinanceCredits Method for CloudGetV1FinanceCredits

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPICloudGetV1FinanceCreditsRequest
*/
func (a *FinanceAPIService) CloudGetV1FinanceCredits(ctx context.Context) FinanceAPICloudGetV1FinanceCreditsRequest {
	return FinanceAPICloudGetV1FinanceCreditsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FinanceAPIService) CloudGetV1FinanceCreditsExecute(r FinanceAPICloudGetV1FinanceCreditsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.CloudGetV1FinanceCredits")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/credits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FinanceAPICloudGetV1FinanceInvoicesRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPICloudGetV1FinanceInvoicesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1FinanceInvoicesExecute(r)
}

/*
CloudGetV1FinanceInvoices Method for CloudGetV1FinanceInvoices

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPICloudGetV1FinanceInvoicesRequest
*/
func (a *FinanceAPIService) CloudGetV1FinanceInvoices(ctx context.Context) FinanceAPICloudGetV1FinanceInvoicesRequest {
	return FinanceAPICloudGetV1FinanceInvoicesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FinanceAPIService) CloudGetV1FinanceInvoicesExecute(r FinanceAPICloudGetV1FinanceInvoicesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.CloudGetV1FinanceInvoices")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FinanceAPICloudGetV1FinanceLedgerRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPICloudGetV1FinanceLedgerRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1FinanceLedgerExecute(r)
}

/*
CloudGetV1FinanceLedger Method for CloudGetV1FinanceLedger

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPICloudGetV1FinanceLedgerRequest
*/
func (a *FinanceAPIService) CloudGetV1FinanceLedger(ctx context.Context) FinanceAPICloudGetV1FinanceLedgerRequest {
	return FinanceAPICloudGetV1FinanceLedgerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FinanceAPIService) CloudGetV1FinanceLedgerExecute(r FinanceAPICloudGetV1FinanceLedgerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.CloudGetV1FinanceLedger")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/ledger"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FinanceAPICloudGetV1FinancePaymentMethodsRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPICloudGetV1FinancePaymentMethodsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1FinancePaymentMethodsExecute(r)
}

/*
CloudGetV1FinancePaymentMethods Method for CloudGetV1FinancePaymentMethods

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPICloudGetV1FinancePaymentMethodsRequest
*/
func (a *FinanceAPIService) CloudGetV1FinancePaymentMethods(ctx context.Context) FinanceAPICloudGetV1FinancePaymentMethodsRequest {
	return FinanceAPICloudGetV1FinancePaymentMethodsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FinanceAPIService) CloudGetV1FinancePaymentMethodsExecute(r FinanceAPICloudGetV1FinancePaymentMethodsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.CloudGetV1FinancePaymentMethods")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/payment-methods"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FinanceAPICloudGetV1FinanceTreasuryRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPICloudGetV1FinanceTreasuryRequest) Execute() (*CloudTreasuryReport, *http.Response, error) {
	return r.ApiService.CloudGetV1FinanceTreasuryExecute(r)
}

/*
CloudGetV1FinanceTreasury GetTreasury returns the reserve fund's health and the current revenue-share policy for any validated caller.

GetTreasury returns the reserve fund's health and the current revenue-share
policy for any validated caller. It is a TRANSPARENCY view — a partner or
author can see that the pool backing their payouts is solvent — and NOT per-org
money, which is the customer's own commerce balance at /v1/billing/balance. The
policy is read-only here; only a SuperAdmin sets it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPICloudGetV1FinanceTreasuryRequest
*/
func (a *FinanceAPIService) CloudGetV1FinanceTreasury(ctx context.Context) FinanceAPICloudGetV1FinanceTreasuryRequest {
	return FinanceAPICloudGetV1FinanceTreasuryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudTreasuryReport
func (a *FinanceAPIService) CloudGetV1FinanceTreasuryExecute(r FinanceAPICloudGetV1FinanceTreasuryRequest) (*CloudTreasuryReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTreasuryReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.CloudGetV1FinanceTreasury")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/treasury"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPICloudGetV1FinanceUsageRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPICloudGetV1FinanceUsageRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1FinanceUsageExecute(r)
}

/*
CloudGetV1FinanceUsage Method for CloudGetV1FinanceUsage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPICloudGetV1FinanceUsageRequest
*/
func (a *FinanceAPIService) CloudGetV1FinanceUsage(ctx context.Context) FinanceAPICloudGetV1FinanceUsageRequest {
	return FinanceAPICloudGetV1FinanceUsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FinanceAPIService) CloudGetV1FinanceUsageExecute(r FinanceAPICloudGetV1FinanceUsageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.CloudGetV1FinanceUsage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
