/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// AutoAppConnectionsAPIService AutoAppConnectionsAPI service
type AutoAppConnectionsAPIService service

type AutoAppConnectionsAPIAutoDeleteAppConnectionRequest struct {
	ctx        context.Context
	ApiService *AutoAppConnectionsAPIService
	id         string
}

func (r AutoAppConnectionsAPIAutoDeleteAppConnectionRequest) Execute() (*http.Response, error) {
	return r.ApiService.AutoDeleteAppConnectionExecute(r)
}

/*
AutoDeleteAppConnection Delete an app connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return AutoAppConnectionsAPIAutoDeleteAppConnectionRequest
*/
func (a *AutoAppConnectionsAPIService) AutoDeleteAppConnection(ctx context.Context, id string) AutoAppConnectionsAPIAutoDeleteAppConnectionRequest {
	return AutoAppConnectionsAPIAutoDeleteAppConnectionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AutoAppConnectionsAPIService) AutoDeleteAppConnectionExecute(r AutoAppConnectionsAPIAutoDeleteAppConnectionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutoAppConnectionsAPIService.AutoDeleteAppConnection")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/auto/app-connections/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AutoAppConnectionsAPIAutoListAppConnectionsRequest struct {
	ctx         context.Context
	ApiService  *AutoAppConnectionsAPIService
	pieceName   *string
	displayName *string
	status      *[]string
	cursor      *string
	limit       *int32
}

func (r AutoAppConnectionsAPIAutoListAppConnectionsRequest) PieceName(pieceName string) AutoAppConnectionsAPIAutoListAppConnectionsRequest {
	r.pieceName = &pieceName
	return r
}

func (r AutoAppConnectionsAPIAutoListAppConnectionsRequest) DisplayName(displayName string) AutoAppConnectionsAPIAutoListAppConnectionsRequest {
	r.displayName = &displayName
	return r
}

func (r AutoAppConnectionsAPIAutoListAppConnectionsRequest) Status(status []string) AutoAppConnectionsAPIAutoListAppConnectionsRequest {
	r.status = &status
	return r
}

func (r AutoAppConnectionsAPIAutoListAppConnectionsRequest) Cursor(cursor string) AutoAppConnectionsAPIAutoListAppConnectionsRequest {
	r.cursor = &cursor
	return r
}

func (r AutoAppConnectionsAPIAutoListAppConnectionsRequest) Limit(limit int32) AutoAppConnectionsAPIAutoListAppConnectionsRequest {
	r.limit = &limit
	return r
}

func (r AutoAppConnectionsAPIAutoListAppConnectionsRequest) Execute() (*AutoListAppConnections200Response, *http.Response, error) {
	return r.ApiService.AutoListAppConnectionsExecute(r)
}

/*
AutoListAppConnections List app connections

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AutoAppConnectionsAPIAutoListAppConnectionsRequest
*/
func (a *AutoAppConnectionsAPIService) AutoListAppConnections(ctx context.Context) AutoAppConnectionsAPIAutoListAppConnectionsRequest {
	return AutoAppConnectionsAPIAutoListAppConnectionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AutoListAppConnections200Response
func (a *AutoAppConnectionsAPIService) AutoListAppConnectionsExecute(r AutoAppConnectionsAPIAutoListAppConnectionsRequest) (*AutoListAppConnections200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AutoListAppConnections200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutoAppConnectionsAPIService.AutoListAppConnections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/auto/app-connections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pieceName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pieceName", r.pieceName, "form", "")
	}
	if r.displayName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "displayName", r.displayName, "form", "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutoAppConnectionsAPIAutoUpdateAppConnectionRequest struct {
	ctx                            context.Context
	ApiService                     *AutoAppConnectionsAPIService
	id                             string
	autoUpdateAppConnectionRequest *AutoUpdateAppConnectionRequest
}

func (r AutoAppConnectionsAPIAutoUpdateAppConnectionRequest) AutoUpdateAppConnectionRequest(autoUpdateAppConnectionRequest AutoUpdateAppConnectionRequest) AutoAppConnectionsAPIAutoUpdateAppConnectionRequest {
	r.autoUpdateAppConnectionRequest = &autoUpdateAppConnectionRequest
	return r
}

func (r AutoAppConnectionsAPIAutoUpdateAppConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AutoUpdateAppConnectionExecute(r)
}

/*
AutoUpdateAppConnection Update an app connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return AutoAppConnectionsAPIAutoUpdateAppConnectionRequest
*/
func (a *AutoAppConnectionsAPIService) AutoUpdateAppConnection(ctx context.Context, id string) AutoAppConnectionsAPIAutoUpdateAppConnectionRequest {
	return AutoAppConnectionsAPIAutoUpdateAppConnectionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *AutoAppConnectionsAPIService) AutoUpdateAppConnectionExecute(r AutoAppConnectionsAPIAutoUpdateAppConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutoAppConnectionsAPIService.AutoUpdateAppConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/auto/app-connections/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoUpdateAppConnectionRequest == nil {
		return localVarReturnValue, nil, reportError("autoUpdateAppConnectionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoUpdateAppConnectionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutoAppConnectionsAPIAutoUpsertAppConnectionRequest struct {
	ctx                            context.Context
	ApiService                     *AutoAppConnectionsAPIService
	autoUpsertAppConnectionRequest *AutoUpsertAppConnectionRequest
}

func (r AutoAppConnectionsAPIAutoUpsertAppConnectionRequest) AutoUpsertAppConnectionRequest(autoUpsertAppConnectionRequest AutoUpsertAppConnectionRequest) AutoAppConnectionsAPIAutoUpsertAppConnectionRequest {
	r.autoUpsertAppConnectionRequest = &autoUpsertAppConnectionRequest
	return r
}

func (r AutoAppConnectionsAPIAutoUpsertAppConnectionRequest) Execute() (*AutoAppConnection, *http.Response, error) {
	return r.ApiService.AutoUpsertAppConnectionExecute(r)
}

/*
AutoUpsertAppConnection Upsert an app connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AutoAppConnectionsAPIAutoUpsertAppConnectionRequest
*/
func (a *AutoAppConnectionsAPIService) AutoUpsertAppConnection(ctx context.Context) AutoAppConnectionsAPIAutoUpsertAppConnectionRequest {
	return AutoAppConnectionsAPIAutoUpsertAppConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AutoAppConnection
func (a *AutoAppConnectionsAPIService) AutoUpsertAppConnectionExecute(r AutoAppConnectionsAPIAutoUpsertAppConnectionRequest) (*AutoAppConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AutoAppConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutoAppConnectionsAPIService.AutoUpsertAppConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/auto/app-connections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.autoUpsertAppConnectionRequest == nil {
		return localVarReturnValue, nil, reportError("autoUpsertAppConnectionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.autoUpsertAppConnectionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
