/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// NotifyAPIService NotifyAPI service
type NotifyAPIService service

type NotifyAPIGetNotifyHealthRequest struct {
	ctx        context.Context
	ApiService *NotifyAPIService
}

func (r NotifyAPIGetNotifyHealthRequest) Execute() (*NotifyHealth, *http.Response, error) {
	return r.ApiService.GetNotifyHealthExecute(r)
}

/*
GetNotifyHealth Reports that the notify send surface is mounted.

Reports that the notify send surface is mounted.

It is a pure liveness probe: it answers 200 whenever this subsystem is mounted
and checks nothing downstream, so an "ok" here says the routes are reachable, not
that any provider credential is configured. The body is notifyd's verbatim, so
probes and clients that keyed on the standalone service keep working unchanged.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NotifyAPIGetNotifyHealthRequest
*/
func (a *NotifyAPIService) GetNotifyHealth(ctx context.Context) NotifyAPIGetNotifyHealthRequest {
	return NotifyAPIGetNotifyHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NotifyHealth
func (a *NotifyAPIService) GetNotifyHealthExecute(r NotifyAPIGetNotifyHealthRequest) (*NotifyHealth, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NotifyHealth
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotifyAPIService.GetNotifyHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/notify/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NotifyAPIPostNotifySendRequest struct {
	ctx        context.Context
	ApiService *NotifyAPIService
	notifySend *NotifySend
}

func (r NotifyAPIPostNotifySendRequest) NotifySend(notifySend NotifySend) NotifyAPIPostNotifySendRequest {
	r.notifySend = &notifySend
	return r
}

func (r NotifyAPIPostNotifySendRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostNotifySendExecute(r)
}

/*
PostNotifySend Delivers one transactional message by email or SMS through the caller org's own provider credential.

Delivers one transactional message by email or SMS through the caller
org's own provider credential.

The channel comes from the body — sms or email — and the provider credential is
read from KMS at orgs/<org>/notify/<service>/<key>, never from the environment.
The org is the validated principal's, never a client-supplied value, so a caller
can only ever send as their own tenant; an unauthenticated caller gets 401.
Naming no provider picks the one whose credentials are actually configured
(Twilio, then Plivo for SMS; Twilio Email, then SMTP for email) and fails closed
when none is. Delivery is synchronous and per recipient: one recipient answers
the bare {message_id,status} outcome, several answer the {items:[…]} envelope. A
terminal provider failure is a 200 whose status is failed with the reason in
error, never a transport error. sync=true is REQUIRED — an async dispatch
answers 503, because the queue plane that would run it is owned elsewhere. The
message body wins verbatim when present; otherwise template_id (or the event
name) selects a built-in template rendered against template_vars.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NotifyAPIPostNotifySendRequest
*/
func (a *NotifyAPIService) PostNotifySend(ctx context.Context) NotifyAPIPostNotifySendRequest {
	return NotifyAPIPostNotifySendRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *NotifyAPIService) PostNotifySendExecute(r NotifyAPIPostNotifySendRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotifyAPIService.PostNotifySend")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/notify/send"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.notifySend == nil {
		return localVarReturnValue, nil, reportError("notifySend is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notifySend
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NotifyAPIPostNotifySendEmailRequest struct {
	ctx        context.Context
	ApiService *NotifyAPIService
	notifySend *NotifySend
}

func (r NotifyAPIPostNotifySendEmailRequest) NotifySend(notifySend NotifySend) NotifyAPIPostNotifySendEmailRequest {
	r.notifySend = &notifySend
	return r
}

func (r NotifyAPIPostNotifySendEmailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostNotifySendEmailExecute(r)
}

/*
PostNotifySendEmail Delivers one transactional email through the caller org's own provider credential.

Delivers one transactional email through the caller org's own
provider credential.

It is the channel-pinned form of the generic send: identical in every respect
except that the channel is fixed to email, OVERRIDING whatever the body names —
so a body that says sms still goes out as mail. The provider is the org's own
email credential from KMS (Twilio Email, then SMTP), resolved for the validated
principal's org; an unauthenticated caller gets 401. Subject is carried on the
email channel only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NotifyAPIPostNotifySendEmailRequest
*/
func (a *NotifyAPIService) PostNotifySendEmail(ctx context.Context) NotifyAPIPostNotifySendEmailRequest {
	return NotifyAPIPostNotifySendEmailRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *NotifyAPIService) PostNotifySendEmailExecute(r NotifyAPIPostNotifySendEmailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotifyAPIService.PostNotifySendEmail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/notify/send/email"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.notifySend == nil {
		return localVarReturnValue, nil, reportError("notifySend is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notifySend
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NotifyAPIPostNotifySendSmsRequest struct {
	ctx        context.Context
	ApiService *NotifyAPIService
	notifySend *NotifySend
}

func (r NotifyAPIPostNotifySendSmsRequest) NotifySend(notifySend NotifySend) NotifyAPIPostNotifySendSmsRequest {
	r.notifySend = &notifySend
	return r
}

func (r NotifyAPIPostNotifySendSmsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.PostNotifySendSmsExecute(r)
}

/*
PostNotifySendSms Delivers one transactional SMS through the caller org's own provider credential.

Delivers one transactional SMS through the caller org's own provider
credential.

It is the channel-pinned form of the generic send: identical in every respect
except that the channel is fixed to sms, OVERRIDING whatever the body names —
so a body that says email still goes out as a text message. The provider is the
org's own SMS credential from KMS (Twilio, then Plivo), resolved for the
validated principal's org; an unauthenticated caller gets 401.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NotifyAPIPostNotifySendSmsRequest
*/
func (a *NotifyAPIService) PostNotifySendSms(ctx context.Context) NotifyAPIPostNotifySendSmsRequest {
	return NotifyAPIPostNotifySendSmsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *NotifyAPIService) PostNotifySendSmsExecute(r NotifyAPIPostNotifySendSmsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NotifyAPIService.PostNotifySendSms")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/notify/send/sms"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.notifySend == nil {
		return localVarReturnValue, nil, reportError("notifySend is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.notifySend
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
