/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CloudflareAPIService CloudflareAPI service
type CloudflareAPIService service

type CloudflareAPICloudDeleteV1CloudflareD1DatabasesDatabaseRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	database   string
}

func (r CloudflareAPICloudDeleteV1CloudflareD1DatabasesDatabaseRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CloudflareD1DatabasesDatabaseExecute(r)
}

/*
CloudDeleteV1CloudflareD1DatabasesDatabase D1DatabaseDelete deletes a D1 database and everything stored in it.

D1DatabaseDelete deletes a D1 database and everything stored in it. Requires
org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param database Database is the Cloudflare D1 database id or name.
	@return CloudflareAPICloudDeleteV1CloudflareD1DatabasesDatabaseRequest
*/
func (a *CloudflareAPIService) CloudDeleteV1CloudflareD1DatabasesDatabase(ctx context.Context, database string) CloudflareAPICloudDeleteV1CloudflareD1DatabasesDatabaseRequest {
	return CloudflareAPICloudDeleteV1CloudflareD1DatabasesDatabaseRequest{
		ApiService: a,
		ctx:        ctx,
		database:   database,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudDeleteV1CloudflareD1DatabasesDatabaseExecute(r CloudflareAPICloudDeleteV1CloudflareD1DatabasesDatabaseRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudDeleteV1CloudflareD1DatabasesDatabase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/d1/databases/{database}"
	localVarPath = strings.Replace(localVarPath, "{"+"database"+"}", url.PathEscape(parameterValueToString(r.database, "database")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	namespace  string
}

func (r CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CloudflareKvNamespacesNamespaceExecute(r)
}

/*
CloudDeleteV1CloudflareKvNamespacesNamespace KVNamespaceDelete deletes a Workers KV namespace and every key in it.

KVNamespaceDelete deletes a Workers KV namespace and every key in it. Requires
org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Namespace is the Cloudflare KV namespace id.
	@return CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceRequest
*/
func (a *CloudflareAPIService) CloudDeleteV1CloudflareKvNamespacesNamespace(ctx context.Context, namespace string) CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceRequest {
	return CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudDeleteV1CloudflareKvNamespacesNamespaceExecute(r CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudDeleteV1CloudflareKvNamespacesNamespace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceValuesKeyRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	namespace  string
	key        string
}

func (r CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceValuesKeyRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CloudflareKvNamespacesNamespaceValuesKeyExecute(r)
}

/*
CloudDeleteV1CloudflareKvNamespacesNamespaceValuesKey KVValueDelete removes one key from a Workers KV namespace.

KVValueDelete removes one key from a Workers KV namespace. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace Namespace is the Cloudflare KV namespace id.
	@param key Key is the key within that namespace. KV keys are broad (up to 512 bytes), so this one is escaped rather than charset-restricted.
	@return CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceValuesKeyRequest
*/
func (a *CloudflareAPIService) CloudDeleteV1CloudflareKvNamespacesNamespaceValuesKey(ctx context.Context, namespace string, key string) CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceValuesKeyRequest {
	return CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceValuesKeyRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
		key:        key,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudDeleteV1CloudflareKvNamespacesNamespaceValuesKeyExecute(r CloudflareAPICloudDeleteV1CloudflareKvNamespacesNamespaceValuesKeyRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudDeleteV1CloudflareKvNamespacesNamespaceValuesKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces/{namespace}/values/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	project    string
}

func (r CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CloudflarePagesProjectsProjectExecute(r)
}

/*
CloudDeleteV1CloudflarePagesProjectsProject PagesDelete deletes a Cloudflare Pages project, and with it every deployment it has ever made.

PagesDelete deletes a Cloudflare Pages project, and with it every deployment it
has ever made. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the Pages project name.
	@return CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectRequest
*/
func (a *CloudflareAPIService) CloudDeleteV1CloudflarePagesProjectsProject(ctx context.Context, project string) CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectRequest {
	return CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudDeleteV1CloudflarePagesProjectsProjectExecute(r CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudDeleteV1CloudflarePagesProjectsProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects/{project}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectDomainsDomainRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	project    string
	domain     string
}

func (r CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectDomainsDomainRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CloudflarePagesProjectsProjectDomainsDomainExecute(r)
}

/*
CloudDeleteV1CloudflarePagesProjectsProjectDomainsDomain PagesDomainDelete detaches a custom domain from a Cloudflare Pages project.

PagesDomainDelete detaches a custom domain from a Cloudflare Pages project.
Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the Pages project name.
	@param domain Domain is the attached custom domain to detach.
	@return CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectDomainsDomainRequest
*/
func (a *CloudflareAPIService) CloudDeleteV1CloudflarePagesProjectsProjectDomainsDomain(ctx context.Context, project string, domain string) CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectDomainsDomainRequest {
	return CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectDomainsDomainRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		domain:     domain,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudDeleteV1CloudflarePagesProjectsProjectDomainsDomainExecute(r CloudflareAPICloudDeleteV1CloudflarePagesProjectsProjectDomainsDomainRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudDeleteV1CloudflarePagesProjectsProjectDomainsDomain")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects/{project}/domains/{domain}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"domain"+"}", url.PathEscape(parameterValueToString(r.domain, "domain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudDeleteV1CloudflareR2BucketsBucketRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	bucket     string
}

func (r CloudflareAPICloudDeleteV1CloudflareR2BucketsBucketRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CloudflareR2BucketsBucketExecute(r)
}

/*
CloudDeleteV1CloudflareR2BucketsBucket R2BucketDelete deletes an R2 bucket.

R2BucketDelete deletes an R2 bucket. Requires org admin. Cloudflare refuses a
bucket that still holds objects, and that refusal is relayed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the R2 bucket name.
	@return CloudflareAPICloudDeleteV1CloudflareR2BucketsBucketRequest
*/
func (a *CloudflareAPIService) CloudDeleteV1CloudflareR2BucketsBucket(ctx context.Context, bucket string) CloudflareAPICloudDeleteV1CloudflareR2BucketsBucketRequest {
	return CloudflareAPICloudDeleteV1CloudflareR2BucketsBucketRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudDeleteV1CloudflareR2BucketsBucketExecute(r CloudflareAPICloudDeleteV1CloudflareR2BucketsBucketRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudDeleteV1CloudflareR2BucketsBucket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/r2/buckets/{bucket}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudDeleteV1CloudflareWorkersScriptsScriptRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	script     string
}

func (r CloudflareAPICloudDeleteV1CloudflareWorkersScriptsScriptRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CloudflareWorkersScriptsScriptExecute(r)
}

/*
CloudDeleteV1CloudflareWorkersScriptsScript WorkersScriptDelete removes a Worker script from the org's Cloudflare account.

WorkersScriptDelete removes a Worker script from the org's Cloudflare account.
Requires org admin. Routes bound to the script stop serving it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param script Script is the Worker script name.
	@return CloudflareAPICloudDeleteV1CloudflareWorkersScriptsScriptRequest
*/
func (a *CloudflareAPIService) CloudDeleteV1CloudflareWorkersScriptsScript(ctx context.Context, script string) CloudflareAPICloudDeleteV1CloudflareWorkersScriptsScriptRequest {
	return CloudflareAPICloudDeleteV1CloudflareWorkersScriptsScriptRequest{
		ApiService: a,
		ctx:        ctx,
		script:     script,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudDeleteV1CloudflareWorkersScriptsScriptExecute(r CloudflareAPICloudDeleteV1CloudflareWorkersScriptsScriptRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudDeleteV1CloudflareWorkersScriptsScript")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/scripts/{script}"
	localVarPath = strings.Replace(localVarPath, "{"+"script"+"}", url.PathEscape(parameterValueToString(r.script, "script")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudDeleteV1CloudflareWorkersZonesZoneRoutesRouteRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	zone       string
	route      string
}

func (r CloudflareAPICloudDeleteV1CloudflareWorkersZonesZoneRoutesRouteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1CloudflareWorkersZonesZoneRoutesRouteExecute(r)
}

/*
CloudDeleteV1CloudflareWorkersZonesZoneRoutesRoute WorkersRouteDelete unbinds a Worker route, so its pattern stops dispatching to a script.

WorkersRouteDelete unbinds a Worker route, so its pattern stops dispatching to a
script. Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone Zone is the 32-hex Cloudflare zone id.
	@param route Route is the 32-hex Cloudflare route id.
	@return CloudflareAPICloudDeleteV1CloudflareWorkersZonesZoneRoutesRouteRequest
*/
func (a *CloudflareAPIService) CloudDeleteV1CloudflareWorkersZonesZoneRoutesRoute(ctx context.Context, zone string, route string) CloudflareAPICloudDeleteV1CloudflareWorkersZonesZoneRoutesRouteRequest {
	return CloudflareAPICloudDeleteV1CloudflareWorkersZonesZoneRoutesRouteRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
		route:      route,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudDeleteV1CloudflareWorkersZonesZoneRoutesRouteExecute(r CloudflareAPICloudDeleteV1CloudflareWorkersZonesZoneRoutesRouteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudDeleteV1CloudflareWorkersZonesZoneRoutesRoute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/zones/{zone}/routes/{route}"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"route"+"}", url.PathEscape(parameterValueToString(r.route, "route")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareD1DatabasesRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	page       *string
	perPage    *string
	name       *string
}

// Page is the 1-based page of databases to return.
func (r CloudflareAPICloudGetV1CloudflareD1DatabasesRequest) Page(page string) CloudflareAPICloudGetV1CloudflareD1DatabasesRequest {
	r.page = &page
	return r
}

// PerPage is how many databases one page holds.
func (r CloudflareAPICloudGetV1CloudflareD1DatabasesRequest) PerPage(perPage string) CloudflareAPICloudGetV1CloudflareD1DatabasesRequest {
	r.perPage = &perPage
	return r
}

// Name filters to the database with this name.
func (r CloudflareAPICloudGetV1CloudflareD1DatabasesRequest) Name(name string) CloudflareAPICloudGetV1CloudflareD1DatabasesRequest {
	r.name = &name
	return r
}

func (r CloudflareAPICloudGetV1CloudflareD1DatabasesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareD1DatabasesExecute(r)
}

/*
CloudGetV1CloudflareD1Databases D1DatabaseList lists the D1 databases on the org's Cloudflare account.

D1DatabaseList lists the D1 databases on the org's Cloudflare account. Any org
member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudGetV1CloudflareD1DatabasesRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareD1Databases(ctx context.Context) CloudflareAPICloudGetV1CloudflareD1DatabasesRequest {
	return CloudflareAPICloudGetV1CloudflareD1DatabasesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareD1DatabasesExecute(r CloudflareAPICloudGetV1CloudflareD1DatabasesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareD1Databases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/d1/databases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareKvNamespacesRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	page       *string
	perPage    *string
	order      *string
	direction  *string
}

// Page is the 1-based page of namespaces to return.
func (r CloudflareAPICloudGetV1CloudflareKvNamespacesRequest) Page(page string) CloudflareAPICloudGetV1CloudflareKvNamespacesRequest {
	r.page = &page
	return r
}

// PerPage is how many namespaces one page holds.
func (r CloudflareAPICloudGetV1CloudflareKvNamespacesRequest) PerPage(perPage string) CloudflareAPICloudGetV1CloudflareKvNamespacesRequest {
	r.perPage = &perPage
	return r
}

// Order names the field to sort by, and Direction sorts asc or desc.
func (r CloudflareAPICloudGetV1CloudflareKvNamespacesRequest) Order(order string) CloudflareAPICloudGetV1CloudflareKvNamespacesRequest {
	r.order = &order
	return r
}

func (r CloudflareAPICloudGetV1CloudflareKvNamespacesRequest) Direction(direction string) CloudflareAPICloudGetV1CloudflareKvNamespacesRequest {
	r.direction = &direction
	return r
}

func (r CloudflareAPICloudGetV1CloudflareKvNamespacesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareKvNamespacesExecute(r)
}

/*
CloudGetV1CloudflareKvNamespaces KVNamespaceList lists the Workers KV namespaces on the org's Cloudflare account.

KVNamespaceList lists the Workers KV namespaces on the org's Cloudflare
account. Any org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudGetV1CloudflareKvNamespacesRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareKvNamespaces(ctx context.Context) CloudflareAPICloudGetV1CloudflareKvNamespacesRequest {
	return CloudflareAPICloudGetV1CloudflareKvNamespacesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareKvNamespacesExecute(r CloudflareAPICloudGetV1CloudflareKvNamespacesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareKvNamespaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareKvNamespacesByNamespaceValuesByKeyRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	namespace  string
	key        string
}

func (r CloudflareAPICloudGetV1CloudflareKvNamespacesByNamespaceValuesByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareKvNamespacesByNamespaceValuesByKeyExecute(r)
}

/*
CloudGetV1CloudflareKvNamespacesByNamespaceValuesByKey Method for CloudGetV1CloudflareKvNamespacesByNamespaceValuesByKey

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace
	@param key
	@return CloudflareAPICloudGetV1CloudflareKvNamespacesByNamespaceValuesByKeyRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareKvNamespacesByNamespaceValuesByKey(ctx context.Context, namespace string, key string) CloudflareAPICloudGetV1CloudflareKvNamespacesByNamespaceValuesByKeyRequest {
	return CloudflareAPICloudGetV1CloudflareKvNamespacesByNamespaceValuesByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
		key:        key,
	}
}

// Execute executes the request
func (a *CloudflareAPIService) CloudGetV1CloudflareKvNamespacesByNamespaceValuesByKeyExecute(r CloudflareAPICloudGetV1CloudflareKvNamespacesByNamespaceValuesByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareKvNamespacesByNamespaceValuesByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces/{namespace}/values/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflarePagesProjectsRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
}

func (r CloudflareAPICloudGetV1CloudflarePagesProjectsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflarePagesProjectsExecute(r)
}

/*
CloudGetV1CloudflarePagesProjects PagesList lists the org's Cloudflare Pages projects.

PagesList lists the org's Cloudflare Pages projects. Any org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudGetV1CloudflarePagesProjectsRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflarePagesProjects(ctx context.Context) CloudflareAPICloudGetV1CloudflarePagesProjectsRequest {
	return CloudflareAPICloudGetV1CloudflarePagesProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflarePagesProjectsExecute(r CloudflareAPICloudGetV1CloudflarePagesProjectsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflarePagesProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflarePagesProjectsProjectRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	project    string
}

func (r CloudflareAPICloudGetV1CloudflarePagesProjectsProjectRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflarePagesProjectsProjectExecute(r)
}

/*
CloudGetV1CloudflarePagesProjectsProject PagesGet reads one Cloudflare Pages project — its build config, deployment configs and latest deployment.

PagesGet reads one Cloudflare Pages project — its build config, deployment
configs and latest deployment. Any org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the Pages project name.
	@return CloudflareAPICloudGetV1CloudflarePagesProjectsProjectRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflarePagesProjectsProject(ctx context.Context, project string) CloudflareAPICloudGetV1CloudflarePagesProjectsProjectRequest {
	return CloudflareAPICloudGetV1CloudflarePagesProjectsProjectRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflarePagesProjectsProjectExecute(r CloudflareAPICloudGetV1CloudflarePagesProjectsProjectRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflarePagesProjectsProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/pages/projects/{project}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareR2BucketsRequest struct {
	ctx          context.Context
	ApiService   *CloudflareAPIService
	perPage      *string
	cursor       *string
	nameContains *string
	order        *string
	direction    *string
}

// PerPage is how many buckets one page holds.
func (r CloudflareAPICloudGetV1CloudflareR2BucketsRequest) PerPage(perPage string) CloudflareAPICloudGetV1CloudflareR2BucketsRequest {
	r.perPage = &perPage
	return r
}

// Cursor continues from the position a previous page returned.
func (r CloudflareAPICloudGetV1CloudflareR2BucketsRequest) Cursor(cursor string) CloudflareAPICloudGetV1CloudflareR2BucketsRequest {
	r.cursor = &cursor
	return r
}

// NameContains filters to buckets whose name contains this substring.
func (r CloudflareAPICloudGetV1CloudflareR2BucketsRequest) NameContains(nameContains string) CloudflareAPICloudGetV1CloudflareR2BucketsRequest {
	r.nameContains = &nameContains
	return r
}

// Order names the field to sort by, and Direction sorts asc or desc.
func (r CloudflareAPICloudGetV1CloudflareR2BucketsRequest) Order(order string) CloudflareAPICloudGetV1CloudflareR2BucketsRequest {
	r.order = &order
	return r
}

func (r CloudflareAPICloudGetV1CloudflareR2BucketsRequest) Direction(direction string) CloudflareAPICloudGetV1CloudflareR2BucketsRequest {
	r.direction = &direction
	return r
}

func (r CloudflareAPICloudGetV1CloudflareR2BucketsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareR2BucketsExecute(r)
}

/*
CloudGetV1CloudflareR2Buckets R2BucketList lists the R2 buckets on the org's Cloudflare account.

R2BucketList lists the R2 buckets on the org's Cloudflare account. Any org
member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudGetV1CloudflareR2BucketsRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareR2Buckets(ctx context.Context) CloudflareAPICloudGetV1CloudflareR2BucketsRequest {
	return CloudflareAPICloudGetV1CloudflareR2BucketsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareR2BucketsExecute(r CloudflareAPICloudGetV1CloudflareR2BucketsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareR2Buckets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/r2/buckets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name_contains", r.nameContains, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareWorkersScriptsRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
}

func (r CloudflareAPICloudGetV1CloudflareWorkersScriptsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareWorkersScriptsExecute(r)
}

/*
CloudGetV1CloudflareWorkersScripts WorkersScriptList lists the Worker scripts on the org's Cloudflare account.

WorkersScriptList lists the Worker scripts on the org's Cloudflare account. Any
org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudGetV1CloudflareWorkersScriptsRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareWorkersScripts(ctx context.Context) CloudflareAPICloudGetV1CloudflareWorkersScriptsRequest {
	return CloudflareAPICloudGetV1CloudflareWorkersScriptsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareWorkersScriptsExecute(r CloudflareAPICloudGetV1CloudflareWorkersScriptsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareWorkersScripts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/scripts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareWorkersSubdomainRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
}

func (r CloudflareAPICloudGetV1CloudflareWorkersSubdomainRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareWorkersSubdomainExecute(r)
}

/*
CloudGetV1CloudflareWorkersSubdomain WorkersSubdomainGet reads the org account's workers.dev subdomain — the name under which every subdomain-enabled script is served.

WorkersSubdomainGet reads the org account's workers.dev subdomain — the name
under which every subdomain-enabled script is served. Any org member may read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudGetV1CloudflareWorkersSubdomainRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareWorkersSubdomain(ctx context.Context) CloudflareAPICloudGetV1CloudflareWorkersSubdomainRequest {
	return CloudflareAPICloudGetV1CloudflareWorkersSubdomainRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareWorkersSubdomainExecute(r CloudflareAPICloudGetV1CloudflareWorkersSubdomainRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareWorkersSubdomain")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/subdomain"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareWorkersZonesZoneRoutesRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	zone       string
}

func (r CloudflareAPICloudGetV1CloudflareWorkersZonesZoneRoutesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareWorkersZonesZoneRoutesExecute(r)
}

/*
CloudGetV1CloudflareWorkersZonesZoneRoutes WorkersRouteList lists the Worker routes bound within one zone — the URL patterns that dispatch to a script.

WorkersRouteList lists the Worker routes bound within one zone — the URL
patterns that dispatch to a script. Any org member may read. Routes are
zone-scoped, so no account is resolved.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone Zone is the 32-hex Cloudflare zone id.
	@return CloudflareAPICloudGetV1CloudflareWorkersZonesZoneRoutesRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareWorkersZonesZoneRoutes(ctx context.Context, zone string) CloudflareAPICloudGetV1CloudflareWorkersZonesZoneRoutesRequest {
	return CloudflareAPICloudGetV1CloudflareWorkersZonesZoneRoutesRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareWorkersZonesZoneRoutesExecute(r CloudflareAPICloudGetV1CloudflareWorkersZonesZoneRoutesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareWorkersZonesZoneRoutes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/workers/zones/{zone}/routes"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareZonesRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	page       *string
	perPage    *string
	name       *string
	status     *string
	order      *string
	direction  *string
}

// Page is the 1-based page of zones to return.
func (r CloudflareAPICloudGetV1CloudflareZonesRequest) Page(page string) CloudflareAPICloudGetV1CloudflareZonesRequest {
	r.page = &page
	return r
}

// PerPage is how many zones one page holds.
func (r CloudflareAPICloudGetV1CloudflareZonesRequest) PerPage(perPage string) CloudflareAPICloudGetV1CloudflareZonesRequest {
	r.perPage = &perPage
	return r
}

// Name filters to the zone with this domain name.
func (r CloudflareAPICloudGetV1CloudflareZonesRequest) Name(name string) CloudflareAPICloudGetV1CloudflareZonesRequest {
	r.name = &name
	return r
}

// Status filters by zone status (active, pending, initializing, …).
func (r CloudflareAPICloudGetV1CloudflareZonesRequest) Status(status string) CloudflareAPICloudGetV1CloudflareZonesRequest {
	r.status = &status
	return r
}

// Order names the field to sort by, and Direction sorts asc or desc.
func (r CloudflareAPICloudGetV1CloudflareZonesRequest) Order(order string) CloudflareAPICloudGetV1CloudflareZonesRequest {
	r.order = &order
	return r
}

func (r CloudflareAPICloudGetV1CloudflareZonesRequest) Direction(direction string) CloudflareAPICloudGetV1CloudflareZonesRequest {
	r.direction = &direction
	return r
}

func (r CloudflareAPICloudGetV1CloudflareZonesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareZonesExecute(r)
}

/*
CloudGetV1CloudflareZones ZonesList lists the Cloudflare zones the org's connected API token can see, paged and filtered by the query parameters Cloudflare itself accepts.

ZonesList lists the Cloudflare zones the org's connected API token can see,
paged and filtered by the query parameters Cloudflare itself accepts. Zones are
token-scoped by Cloudflare, so no account is resolved. Any org member may read.

Zone and DNS-record MANAGEMENT is not here: it stays on the Hanzo DNS plane
(/v1/dns). This only surfaces the Cloudflare zone objects the asset plane needs
— a zone id is what addresses a Worker route or an analytics read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudGetV1CloudflareZonesRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareZones(ctx context.Context) CloudflareAPICloudGetV1CloudflareZonesRequest {
	return CloudflareAPICloudGetV1CloudflareZonesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareZonesExecute(r CloudflareAPICloudGetV1CloudflareZonesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareZones")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/zones"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareZonesZoneRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	zone       string
}

func (r CloudflareAPICloudGetV1CloudflareZonesZoneRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareZonesZoneExecute(r)
}

/*
CloudGetV1CloudflareZonesZone ZoneGet reads one Cloudflare zone the org's token can see.

ZoneGet reads one Cloudflare zone the org's token can see. Any org member may
read. A zone id the token cannot see is Cloudflare's own not-found, relayed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone Zone is the 32-hex Cloudflare zone id.
	@return CloudflareAPICloudGetV1CloudflareZonesZoneRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareZonesZone(ctx context.Context, zone string) CloudflareAPICloudGetV1CloudflareZonesZoneRequest {
	return CloudflareAPICloudGetV1CloudflareZonesZoneRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareZonesZoneExecute(r CloudflareAPICloudGetV1CloudflareZonesZoneRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareZonesZone")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/zones/{zone}"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	zone       string
	since      *string
	until      *string
	continuous *string
}

// Since and Until bound the window, in the form Cloudflare accepts — an RFC 3339 time or a negative number of minutes from now (\&quot;-1440\&quot; is the last day).
func (r CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest) Since(since string) CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest {
	r.since = &since
	return r
}

func (r CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest) Until(until string) CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest {
	r.until = &until
	return r
}

// Continuous asks Cloudflare for only fully-aggregated buckets.
func (r CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest) Continuous(continuous string) CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest {
	r.continuous = &continuous
	return r
}

func (r CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1CloudflareZonesZoneAnalyticsExecute(r)
}

/*
CloudGetV1CloudflareZonesZoneAnalytics ZoneAnalytics reads a zone's Cloudflare traffic dashboard — requests, bandwidth, threats and pageviews over the since/until window.

ZoneAnalytics reads a zone's Cloudflare traffic dashboard — requests, bandwidth,
threats and pageviews over the since/until window. Any org member may read.

A zone whose Cloudflare plan does not serve this endpoint yields Cloudflare's
OWN error, never a fabricated success.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone Zone is the 32-hex Cloudflare zone id.
	@return CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest
*/
func (a *CloudflareAPIService) CloudGetV1CloudflareZonesZoneAnalytics(ctx context.Context, zone string) CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest {
	return CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudGetV1CloudflareZonesZoneAnalyticsExecute(r CloudflareAPICloudGetV1CloudflareZonesZoneAnalyticsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudGetV1CloudflareZonesZoneAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/zones/{zone}/analytics"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.continuous != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuous", r.continuous, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudPostV1CloudflareAiRunByWildcard1Request struct {
	ctx        context.Context
	ApiService *CloudflareAPIService
	wildcard1  string
}

func (r CloudflareAPICloudPostV1CloudflareAiRunByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CloudflareAiRunByWildcard1Execute(r)
}

/*
CloudPostV1CloudflareAiRunByWildcard1 Method for CloudPostV1CloudflareAiRunByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return CloudflareAPICloudPostV1CloudflareAiRunByWildcard1Request
*/
func (a *CloudflareAPIService) CloudPostV1CloudflareAiRunByWildcard1(ctx context.Context, wildcard1 string) CloudflareAPICloudPostV1CloudflareAiRunByWildcard1Request {
	return CloudflareAPICloudPostV1CloudflareAiRunByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *CloudflareAPIService) CloudPostV1CloudflareAiRunByWildcard1Execute(r CloudflareAPICloudPostV1CloudflareAiRunByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudPostV1CloudflareAiRunByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/ai/run/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CloudflareAPICloudPostV1CloudflareD1DatabasesRequest struct {
	ctx                   context.Context
	ApiService            *CloudflareAPIService
	cloudDatabaseCreateIn *CloudDatabaseCreateIn
}

func (r CloudflareAPICloudPostV1CloudflareD1DatabasesRequest) CloudDatabaseCreateIn(cloudDatabaseCreateIn CloudDatabaseCreateIn) CloudflareAPICloudPostV1CloudflareD1DatabasesRequest {
	r.cloudDatabaseCreateIn = &cloudDatabaseCreateIn
	return r
}

func (r CloudflareAPICloudPostV1CloudflareD1DatabasesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1CloudflareD1DatabasesExecute(r)
}

/*
CloudPostV1CloudflareD1Databases D1DatabaseCreate creates a D1 database on the org's Cloudflare account.

D1DatabaseCreate creates a D1 database on the org's Cloudflare account.
Requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudPostV1CloudflareD1DatabasesRequest
*/
func (a *CloudflareAPIService) CloudPostV1CloudflareD1Databases(ctx context.Context) CloudflareAPICloudPostV1CloudflareD1DatabasesRequest {
	return CloudflareAPICloudPostV1CloudflareD1DatabasesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudPostV1CloudflareD1DatabasesExecute(r CloudflareAPICloudPostV1CloudflareD1DatabasesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudPostV1CloudflareD1Databases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/d1/databases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudDatabaseCreateIn == nil {
		return localVarReturnValue, nil, reportError("cloudDatabaseCreateIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudDatabaseCreateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudPostV1CloudflareD1DatabasesByDatabaseQueryRequest struct {
	ctx          context.Context
	ApiService   *CloudflareAPIService
	database     string
	cloudD1Query *CloudD1Query
}

func (r CloudflareAPICloudPostV1CloudflareD1DatabasesByDatabaseQueryRequest) CloudD1Query(cloudD1Query CloudD1Query) CloudflareAPICloudPostV1CloudflareD1DatabasesByDatabaseQueryRequest {
	r.cloudD1Query = &cloudD1Query
	return r
}

func (r CloudflareAPICloudPostV1CloudflareD1DatabasesByDatabaseQueryRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1CloudflareD1DatabasesByDatabaseQueryExecute(r)
}

/*
CloudPostV1CloudflareD1DatabasesByDatabaseQuery Method for CloudPostV1CloudflareD1DatabasesByDatabaseQuery

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param database
	@return CloudflareAPICloudPostV1CloudflareD1DatabasesByDatabaseQueryRequest
*/
func (a *CloudflareAPIService) CloudPostV1CloudflareD1DatabasesByDatabaseQuery(ctx context.Context, database string) CloudflareAPICloudPostV1CloudflareD1DatabasesByDatabaseQueryRequest {
	return CloudflareAPICloudPostV1CloudflareD1DatabasesByDatabaseQueryRequest{
		ApiService: a,
		ctx:        ctx,
		database:   database,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudPostV1CloudflareD1DatabasesByDatabaseQueryExecute(r CloudflareAPICloudPostV1CloudflareD1DatabasesByDatabaseQueryRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudPostV1CloudflareD1DatabasesByDatabaseQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/d1/databases/{database}/query"
	localVarPath = strings.Replace(localVarPath, "{"+"database"+"}", url.PathEscape(parameterValueToString(r.database, "database")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudD1Query
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudflareAPICloudPostV1CloudflareKvNamespacesRequest struct {
	ctx                    context.Context
	ApiService             *CloudflareAPIService
	cloudNamespaceCreateIn *CloudNamespaceCreateIn
}

func (r CloudflareAPICloudPostV1CloudflareKvNamespacesRequest) CloudNamespaceCreateIn(cloudNamespaceCreateIn CloudNamespaceCreateIn) CloudflareAPICloudPostV1CloudflareKvNamespacesRequest {
	r.cloudNamespaceCreateIn = &cloudNamespaceCreateIn
	return r
}

func (r CloudflareAPICloudPostV1CloudflareKvNamespacesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1CloudflareKvNamespacesExecute(r)
}

/*
CloudPostV1CloudflareKvNamespaces KVNamespaceCreate creates a Workers KV namespace on the org's Cloudflare account.

KVNamespaceCreate creates a Workers KV namespace on the org's Cloudflare
account. Requires org admin. Cloudflare mints the namespace id the value routes
address.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudflareAPICloudPostV1CloudflareKvNamespacesRequest
*/
func (a *CloudflareAPIService) CloudPostV1CloudflareKvNamespaces(ctx context.Context) CloudflareAPICloudPostV1CloudflareKvNamespacesRequest {
	return CloudflareAPICloudPostV1CloudflareKvNamespacesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *CloudflareAPIService) CloudPostV1CloudflareKvNamespacesExecute(r CloudflareAPICloudPostV1CloudflareKvNamespacesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudflareAPIService.CloudPostV1CloudflareKvNamespaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloudflare/kv/namespaces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudNamespaceCreateIn == nil {
		return localVarReturnValue, nil, reportError("cloudNamespaceCreateIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudNamespaceCreateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
[...]
