/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CodeAPIService CodeAPI service
type CodeAPIService service

type CodeAPICloudGetV1CodeAskRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	q          *string
	repo       *string
}

// Q is the question to answer. Required, max 4000 bytes.
func (r CodeAPICloudGetV1CodeAskRequest) Q(q string) CodeAPICloudGetV1CodeAskRequest {
	r.q = &q
	return r
}

// Repo narrows retrieval to one repository. Empty searches every repo the org has indexed.
func (r CodeAPICloudGetV1CodeAskRequest) Repo(repo string) CodeAPICloudGetV1CodeAskRequest {
	r.repo = &repo
	return r
}

func (r CodeAPICloudGetV1CodeAskRequest) Execute() (*CloudAskAnswer, *http.Response, error) {
	return r.ApiService.CloudGetV1CodeAskExecute(r)
}

/*
CloudGetV1CodeAsk Answers a question about the caller org's code with a CITED answer: retrieval packs grounding context, then the synthesizer writes the answer over exactly those spans, which come back alongside it.

Answers a question about the caller org's code with a CITED answer:
retrieval packs grounding context, then the synthesizer writes the answer over
exactly those spans, which come back alongside it. It never answers without
grounding — with no matched code the answer is empty and says so, and with no
synthesizer available the citations still come back with "degraded": true so
the caller can reason over the spans itself.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPICloudGetV1CodeAskRequest
*/
func (a *CodeAPIService) CloudGetV1CodeAsk(ctx context.Context) CodeAPICloudGetV1CodeAskRequest {
	return CodeAPICloudGetV1CodeAskRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAskAnswer
func (a *CodeAPIService) CloudGetV1CodeAskExecute(r CodeAPICloudGetV1CodeAskRequest) (*CloudAskAnswer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAskAnswer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.CloudGetV1CodeAsk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/ask"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPICloudGetV1CodeFileRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	path       *string
	repo       *string
}

// Path is the file&#39;s repo-relative path. Required.
func (r CodeAPICloudGetV1CodeFileRequest) Path(path string) CodeAPICloudGetV1CodeFileRequest {
	r.path = &path
	return r
}

// Repo is the repository the file belongs to. REQUIRED.
func (r CodeAPICloudGetV1CodeFileRequest) Repo(repo string) CodeAPICloudGetV1CodeFileRequest {
	r.repo = &repo
	return r
}

func (r CodeAPICloudGetV1CodeFileRequest) Execute() (*CloudFileContent, *http.Response, error) {
	return r.ApiService.CloudGetV1CodeFileExecute(r)
}

/*
CloudGetV1CodeFile Returns the INDEXED content of one file — read_file over the chunks the search tiers hold, for pulling up code an agent just found.

Returns the INDEXED content of one file — read_file over the chunks the
search tiers hold, for pulling up code an agent just found. It is NOT
byte-verbatim: the git object plane is the source of record for exact bytes,
history and blame. A file absent from the index is a 404, so an agent can tell
"not indexed" from "empty file".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPICloudGetV1CodeFileRequest
*/
func (a *CodeAPIService) CloudGetV1CodeFile(ctx context.Context) CodeAPICloudGetV1CodeFileRequest {
	return CodeAPICloudGetV1CodeFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFileContent
func (a *CodeAPIService) CloudGetV1CodeFileExecute(r CodeAPICloudGetV1CodeFileRequest) (*CloudFileContent, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFileContent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.CloudGetV1CodeFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPICloudGetV1CodeSearchRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	q          *string
	type_      *string
	repo       *string
	limit      *int32
}

// Q is the search query. Required, max 4000 bytes. For type&#x3D;regex it is a regular expression; for type&#x3D;symbol it is a symbol name.
func (r CodeAPICloudGetV1CodeSearchRequest) Q(q string) CodeAPICloudGetV1CodeSearchRequest {
	r.q = &q
	return r
}

// Type selects the retrieval tier: \&quot;text\&quot; (FTS5 trigram), \&quot;regex\&quot;, \&quot;symbol\&quot; (definitions), \&quot;semantic\&quot; (embeddings) or \&quot;hybrid\&quot;. Anything else — including empty — reads as hybrid.
func (r CodeAPICloudGetV1CodeSearchRequest) Type_(type_ string) CodeAPICloudGetV1CodeSearchRequest {
	r.type_ = &type_
	return r
}

// Repo narrows to one repository. Empty searches every repo the org has indexed.
func (r CodeAPICloudGetV1CodeSearchRequest) Repo(repo string) CodeAPICloudGetV1CodeSearchRequest {
	r.repo = &repo
	return r
}

// Limit caps how many spans come back: default 20, maximum 100. A value that is not a positive integer reads as the default.
func (r CodeAPICloudGetV1CodeSearchRequest) Limit(limit int32) CodeAPICloudGetV1CodeSearchRequest {
	r.limit = &limit
	return r
}

func (r CodeAPICloudGetV1CodeSearchRequest) Execute() (*CloudSearchResults, *http.Response, error) {
	return r.ApiService.CloudGetV1CodeSearchExecute(r)
}

/*
CloudGetV1CodeSearch Finds code in the caller org's index across three orthogonal retrieval tiers fused by reciprocal-rank fusion: lexical (FTS5 trigram over code-tokenized text), symbolic (real definition and reference edges), and semantic (embedding cosine over AST-boundary chunks).

Finds code in the caller org's index across three orthogonal retrieval
tiers fused by reciprocal-rank fusion: lexical (FTS5 trigram over
code-tokenized text), symbolic (real definition and reference edges), and
semantic (embedding cosine over AST-boundary chunks). Pick one tier with
`type`, or leave it to run all three as hybrid, which is what a coding agent
usually wants. It is FAIL-HONEST: a retrieval outage answers 200 with an empty
result set and "degraded": true rather than a 5xx, so an agent degrades instead
of stalling. A malformed regex is a 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPICloudGetV1CodeSearchRequest
*/
func (a *CodeAPIService) CloudGetV1CodeSearch(ctx context.Context) CodeAPICloudGetV1CodeSearchRequest {
	return CodeAPICloudGetV1CodeSearchRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSearchResults
func (a *CodeAPIService) CloudGetV1CodeSearchExecute(r CodeAPICloudGetV1CodeSearchRequest) (*CloudSearchResults, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSearchResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.CloudGetV1CodeSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPICloudGetV1CodeTreeRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	repo       *string
}

// Repo is the repository to walk. REQUIRED — a tree is repo-scoped.
func (r CodeAPICloudGetV1CodeTreeRequest) Repo(repo string) CodeAPICloudGetV1CodeTreeRequest {
	r.repo = &repo
	return r
}

func (r CodeAPICloudGetV1CodeTreeRequest) Execute() (*CloudRepoTree, *http.Response, error) {
	return r.ApiService.CloudGetV1CodeTreeExecute(r)
}

/*
CloudGetV1CodeTree Returns one repository's file structure with a per-file symbol count — get_repo_structure over the org's own index, with no git checkout involved.

Returns one repository's file structure with a per-file symbol count —
get_repo_structure over the org's own index, with no git checkout involved. A
repository that has not been indexed answers an empty tree rather than an
error, so an agent can tell "nothing here" without handling a failure.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPICloudGetV1CodeTreeRequest
*/
func (a *CodeAPIService) CloudGetV1CodeTree(ctx context.Context) CodeAPICloudGetV1CodeTreeRequest {
	return CodeAPICloudGetV1CodeTreeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRepoTree
func (a *CodeAPIService) CloudGetV1CodeTreeExecute(r CodeAPICloudGetV1CodeTreeRequest) (*CloudRepoTree, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRepoTree
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.CloudGetV1CodeTree")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/tree"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPICloudPostV1CodeAskRequest struct {
	ctx            context.Context
	ApiService     *CodeAPIService
	cloudAskPostIn *CloudAskPostIn
}

func (r CodeAPICloudPostV1CodeAskRequest) CloudAskPostIn(cloudAskPostIn CloudAskPostIn) CodeAPICloudPostV1CodeAskRequest {
	r.cloudAskPostIn = &cloudAskPostIn
	return r
}

func (r CodeAPICloudPostV1CodeAskRequest) Execute() (*CloudAskAnswer, *http.Response, error) {
	return r.ApiService.CloudPostV1CodeAskExecute(r)
}

/*
CloudPostV1CodeAsk Is askGet with the question in the request BODY, for a question too long or too awkward to put in a URL.

Is askGet with the question in the request BODY, for a question too
long or too awkward to put in a URL. `query` and `repo` in the body take
precedence over `?q=` and `?repo=`; either source works alone.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPICloudPostV1CodeAskRequest
*/
func (a *CodeAPIService) CloudPostV1CodeAsk(ctx context.Context) CodeAPICloudPostV1CodeAskRequest {
	return CodeAPICloudPostV1CodeAskRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAskAnswer
func (a *CodeAPIService) CloudPostV1CodeAskExecute(r CodeAPICloudPostV1CodeAskRequest) (*CloudAskAnswer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAskAnswer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.CloudPostV1CodeAsk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/ask"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudAskPostIn == nil {
		return localVarReturnValue, nil, reportError("cloudAskPostIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudAskPostIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPICloudPostV1CodeContextRequest struct {
	ctx            context.Context
	ApiService     *CodeAPIService
	cloudContextIn *CloudContextIn
}

func (r CodeAPICloudPostV1CodeContextRequest) CloudContextIn(cloudContextIn CloudContextIn) CodeAPICloudPostV1CodeContextRequest {
	r.cloudContextIn = &cloudContextIn
	return r
}

func (r CodeAPICloudPostV1CodeContextRequest) Execute() (*CloudContextBundle, *http.Response, error) {
	return r.ApiService.CloudPostV1CodeContextExecute(r)
}

/*
CloudPostV1CodeContext Packs the most relevant code for a query into a token budget — THE primitive for a coding agent that has to decide what to put in a prompt.

Packs the most relevant code for a query into a token budget — THE
primitive for a coding agent that has to decide what to put in a prompt. It
retrieves seed spans, expands each with the definitions it calls and its key
callers, then greedily fills the budget, so the answer is a coherent slice of
the codebase rather than a list of disconnected matches. The top match is
always included, truncated if it alone overflows, so a matched query never
comes back empty. A retrieval outage answers 200 with an empty bundle rather
than a 5xx.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPICloudPostV1CodeContextRequest
*/
func (a *CodeAPIService) CloudPostV1CodeContext(ctx context.Context) CodeAPICloudPostV1CodeContextRequest {
	return CodeAPICloudPostV1CodeContextRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudContextBundle
func (a *CodeAPIService) CloudPostV1CodeContextExecute(r CodeAPICloudPostV1CodeContextRequest) (*CloudContextBundle, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudContextBundle
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.CloudPostV1CodeContext")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/context"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudContextIn == nil {
		return localVarReturnValue, nil, reportError("cloudContextIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudContextIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPICloudPostV1CodeIndexRequest struct {
	ctx          context.Context
	ApiService   *CodeAPIService
	cloudIndexIn *CloudIndexIn
}

func (r CodeAPICloudPostV1CodeIndexRequest) CloudIndexIn(cloudIndexIn CloudIndexIn) CodeAPICloudPostV1CodeIndexRequest {
	r.cloudIndexIn = &cloudIndexIn
	return r
}

func (r CodeAPICloudPostV1CodeIndexRequest) Execute() (*CloudIndexResult, *http.Response, error) {
	return r.ApiService.CloudPostV1CodeIndexExecute(r)
}

/*
CloudPostV1CodeIndex (re)indexes a repository for the caller's org, incrementally: files whose content hash is unchanged are skipped, so re-sending a whole tree is cheap.

(re)indexes a repository for the caller's org, incrementally: files whose
content hash is unchanged are skipped, so re-sending a whole tree is cheap.
Each file is parsed for symbols, split at AST boundaries and — when the
semantic tier is available — embedded, which is what makes it searchable across
all three retrieval tiers. Pass `prune` to also DELETE indexed files absent
from the request, which turns the call into a full sync; without it the call is
an upsert. The index is written to the caller org's own physically separate
database.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPICloudPostV1CodeIndexRequest
*/
func (a *CodeAPIService) CloudPostV1CodeIndex(ctx context.Context) CodeAPICloudPostV1CodeIndexRequest {
	return CodeAPICloudPostV1CodeIndexRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudIndexResult
func (a *CodeAPIService) CloudPostV1CodeIndexExecute(r CodeAPICloudPostV1CodeIndexRequest) (*CloudIndexResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudIndexResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.CloudPostV1CodeIndex")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/index"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudIndexIn == nil {
		return localVarReturnValue, nil, reportError("cloudIndexIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudIndexIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
