/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// GitAPIService GitAPI service
type GitAPIService service

type GitAPICloudDeleteV1GitKeysIdRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	id         string
}

func (r GitAPICloudDeleteV1GitKeysIdRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1GitKeysIdExecute(r)
}

/*
CloudDeleteV1GitKeysId Removes a registered SSH key, scoped to the caller's org: an org can only delete its own, and a key id it does not own is not found.

Removes a registered SSH key, scoped to the caller's org: an org can
only delete its own, and a key id it does not own is not found. Answers 204
with no body. Once removed the key no longer authenticates any SSH git access.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the key's identifier (\"gitkey_…\"), from the :id path segment.
	@return GitAPICloudDeleteV1GitKeysIdRequest
*/
func (a *GitAPIService) CloudDeleteV1GitKeysId(ctx context.Context, id string) GitAPICloudDeleteV1GitKeysIdRequest {
	return GitAPICloudDeleteV1GitKeysIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *GitAPIService) CloudDeleteV1GitKeysIdExecute(r GitAPICloudDeleteV1GitKeysIdRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudDeleteV1GitKeysId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/keys/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudDeleteV1GitReposNameRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
}

func (r GitAPICloudDeleteV1GitReposNameRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1GitReposNameExecute(r)
}

/*
CloudDeleteV1GitReposName Removes a repo's metadata and purges its storage.

Removes a repo's metadata and purges its storage. Answers 204 with
no body. The metadata row is the source of truth for existence, so a storage
purge that fails is logged and the delete still succeeds — and a second call
is a 404, not a second delete.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo's org-unique handle, from the :name path segment. A trailing \".git\" is stripped.
	@return GitAPICloudDeleteV1GitReposNameRequest
*/
func (a *GitAPIService) CloudDeleteV1GitReposName(ctx context.Context, name string) GitAPICloudDeleteV1GitReposNameRequest {
	return GitAPICloudDeleteV1GitReposNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *GitAPIService) CloudDeleteV1GitReposNameExecute(r GitAPICloudDeleteV1GitReposNameRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudDeleteV1GitReposName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudDeleteV1GitReposNameMirrorsIdRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
	id         string
}

func (r GitAPICloudDeleteV1GitReposNameMirrorsIdRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1GitReposNameMirrorsIdExecute(r)
}

/*
CloudDeleteV1GitReposNameMirrorsId Removes one outbound mirror target; later pushes stop being forwarded to it.

Removes one outbound mirror target; later pushes stop being
forwarded to it. Answers 204 with no body. Nothing is done to the downstream
remote itself — only this repo's intent to push there is dropped.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo, from the :name path segment.
	@param id ID is the row to remove, from the :id path segment.
	@return GitAPICloudDeleteV1GitReposNameMirrorsIdRequest
*/
func (a *GitAPIService) CloudDeleteV1GitReposNameMirrorsId(ctx context.Context, name string, id string) GitAPICloudDeleteV1GitReposNameMirrorsIdRequest {
	return GitAPICloudDeleteV1GitReposNameMirrorsIdRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		id:         id,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *GitAPIService) CloudDeleteV1GitReposNameMirrorsIdExecute(r GitAPICloudDeleteV1GitReposNameMirrorsIdRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudDeleteV1GitReposNameMirrorsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/mirrors/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudDeleteV1GitReposNameSubscriptionsIdRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
	id         string
}

func (r GitAPICloudDeleteV1GitReposNameSubscriptionsIdRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1GitReposNameSubscriptionsIdExecute(r)
}

/*
CloudDeleteV1GitReposNameSubscriptionsId Removes one Slack subscription from a repo; the notifier stops posting that repo's events to that channel.

Removes one Slack subscription from a repo; the notifier stops
posting that repo's events to that channel. Answers 204 with no body. An id
that is not this repo's subscription is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo, from the :name path segment.
	@param id ID is the row to remove, from the :id path segment.
	@return GitAPICloudDeleteV1GitReposNameSubscriptionsIdRequest
*/
func (a *GitAPIService) CloudDeleteV1GitReposNameSubscriptionsId(ctx context.Context, name string, id string) GitAPICloudDeleteV1GitReposNameSubscriptionsIdRequest {
	return GitAPICloudDeleteV1GitReposNameSubscriptionsIdRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
		id:         id,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *GitAPIService) CloudDeleteV1GitReposNameSubscriptionsIdExecute(r GitAPICloudDeleteV1GitReposNameSubscriptionsIdRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudDeleteV1GitReposNameSubscriptionsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/subscriptions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitByOrgByProjectByRepoInfoRefsRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	org        string
	project    string
	repo       string
}

func (r GitAPICloudGetV1GitByOrgByProjectByRepoInfoRefsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1GitByOrgByProjectByRepoInfoRefsExecute(r)
}

/*
CloudGetV1GitByOrgByProjectByRepoInfoRefs Method for CloudGetV1GitByOrgByProjectByRepoInfoRefs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param project
	@param repo
	@return GitAPICloudGetV1GitByOrgByProjectByRepoInfoRefsRequest
*/
func (a *GitAPIService) CloudGetV1GitByOrgByProjectByRepoInfoRefs(ctx context.Context, org string, project string, repo string) GitAPICloudGetV1GitByOrgByProjectByRepoInfoRefsRequest {
	return GitAPICloudGetV1GitByOrgByProjectByRepoInfoRefsRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		project:    project,
		repo:       repo,
	}
}

// Execute executes the request
func (a *GitAPIService) CloudGetV1GitByOrgByProjectByRepoInfoRefsExecute(r GitAPICloudGetV1GitByOrgByProjectByRepoInfoRefsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitByOrgByProjectByRepoInfoRefs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/{org}/{project}/{repo}/info/refs"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitByOrgByRepoInfoRefsRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	org        string
	repo       string
}

func (r GitAPICloudGetV1GitByOrgByRepoInfoRefsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1GitByOrgByRepoInfoRefsExecute(r)
}

/*
CloudGetV1GitByOrgByRepoInfoRefs Method for CloudGetV1GitByOrgByRepoInfoRefs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param repo
	@return GitAPICloudGetV1GitByOrgByRepoInfoRefsRequest
*/
func (a *GitAPIService) CloudGetV1GitByOrgByRepoInfoRefs(ctx context.Context, org string, repo string) GitAPICloudGetV1GitByOrgByRepoInfoRefsRequest {
	return GitAPICloudGetV1GitByOrgByRepoInfoRefsRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		repo:       repo,
	}
}

// Execute executes the request
func (a *GitAPIService) CloudGetV1GitByOrgByRepoInfoRefsExecute(r GitAPICloudGetV1GitByOrgByRepoInfoRefsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitByOrgByRepoInfoRefs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/{org}/{repo}/info/refs"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitKeysRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
}

func (r GitAPICloudGetV1GitKeysRequest) Execute() (*CloudKeyList, *http.Response, error) {
	return r.ApiService.CloudGetV1GitKeysExecute(r)
}

/*
CloudGetV1GitKeys Returns the SSH public keys registered to the caller's org — the keys that authenticate `git clone git@<host>:<org>/<repo>.git`.

Returns the SSH public keys registered to the caller's org — the keys
that authenticate `git clone git@<host>:<org>/<repo>.git`. Keys are org-scoped
on read even though the fingerprint index is global, so one org never sees
another's.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GitAPICloudGetV1GitKeysRequest
*/
func (a *GitAPIService) CloudGetV1GitKeys(ctx context.Context) GitAPICloudGetV1GitKeysRequest {
	return GitAPICloudGetV1GitKeysRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudKeyList
func (a *GitAPIService) CloudGetV1GitKeysExecute(r GitAPICloudGetV1GitKeysRequest) (*CloudKeyList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKeyList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitKeys")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
}

func (r GitAPICloudGetV1GitReposRequest) Execute() (*CloudRepoList, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposExecute(r)
}

/*
CloudGetV1GitRepos Returns the repos in the caller's scope, most recently updated first.

Returns the repos in the caller's scope, most recently updated
first. The scope is the request principal's — the gateway-minted org and its
optional project — never anything off the wire, so a caller only ever sees its
own. Rows carry no branches or HEAD; read one repo for those.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GitAPICloudGetV1GitReposRequest
*/
func (a *GitAPIService) CloudGetV1GitRepos(ctx context.Context) GitAPICloudGetV1GitReposRequest {
	return GitAPICloudGetV1GitReposRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRepoList
func (a *GitAPIService) CloudGetV1GitReposExecute(r GitAPICloudGetV1GitReposRequest) (*CloudRepoList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRepoList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitRepos")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
}

func (r GitAPICloudGetV1GitReposNameRequest) Execute() (*CloudRepoView, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameExecute(r)
}

/*
CloudGetV1GitReposName Returns one repo with its live ref state: every branch name and the resolved HEAD commit.

Returns one repo with its live ref state: every branch name and the
resolved HEAD commit. Both are read from the object store on each call, so an
empty repo reports no branches and an empty head rather than failing. A repo
outside the caller's scope is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo's org-unique handle, from the :name path segment. A trailing \".git\" is stripped.
	@return GitAPICloudGetV1GitReposNameRequest
*/
func (a *GitAPIService) CloudGetV1GitReposName(ctx context.Context, name string) GitAPICloudGetV1GitReposNameRequest {
	return GitAPICloudGetV1GitReposNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudRepoView
func (a *GitAPIService) CloudGetV1GitReposNameExecute(r GitAPICloudGetV1GitReposNameRequest) (*CloudRepoView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRepoView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameBlobRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
	ref        *string
	path       *string
}

// Ref is a branch, tag or commit; empty means the repo&#39;s HEAD.
func (r GitAPICloudGetV1GitReposNameBlobRequest) Ref(ref string) GitAPICloudGetV1GitReposNameBlobRequest {
	r.ref = &ref
	return r
}

// Path is repo-relative; empty is the tree root. Traversal is stripped.
func (r GitAPICloudGetV1GitReposNameBlobRequest) Path(path string) GitAPICloudGetV1GitReposNameBlobRequest {
	r.path = &path
	return r
}

func (r GitAPICloudGetV1GitReposNameBlobRequest) Execute() (*CloudBlobJSON, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameBlobExecute(r)
}

/*
CloudGetV1GitReposNameBlob Returns one file's bytes at one revision.

Returns one file's bytes at one revision. Text comes back verbatim,
binary comes back base64, and a file past the 1 MiB view cap comes back marked
truncated with NO content — the client is expected to clone instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo to read, from the :name path segment.
	@return GitAPICloudGetV1GitReposNameBlobRequest
*/
func (a *GitAPIService) CloudGetV1GitReposNameBlob(ctx context.Context, name string) GitAPICloudGetV1GitReposNameBlobRequest {
	return GitAPICloudGetV1GitReposNameBlobRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudBlobJSON
func (a *GitAPIService) CloudGetV1GitReposNameBlobExecute(r GitAPICloudGetV1GitReposNameBlobRequest) (*CloudBlobJSON, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBlobJSON
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposNameBlob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/blob"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ref != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ref", r.ref, "form", "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameCommitsRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
	ref        *string
	path       *string
	limit      *int32
}

// Ref is the branch, tag or commit to walk back from; empty means HEAD.
func (r GitAPICloudGetV1GitReposNameCommitsRequest) Ref(ref string) GitAPICloudGetV1GitReposNameCommitsRequest {
	r.ref = &ref
	return r
}

// Path narrows the history to commits touching it; empty walks the whole ref.
func (r GitAPICloudGetV1GitReposNameCommitsRequest) Path(path string) GitAPICloudGetV1GitReposNameCommitsRequest {
	r.path = &path
	return r
}

// Limit caps the page. Anything not positive means 50; the cap is 100.
func (r GitAPICloudGetV1GitReposNameCommitsRequest) Limit(limit int32) GitAPICloudGetV1GitReposNameCommitsRequest {
	r.limit = &limit
	return r
}

func (r GitAPICloudGetV1GitReposNameCommitsRequest) Execute() (*CloudCommitsJSON, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameCommitsExecute(r)
}

/*
CloudGetV1GitReposNameCommits Walks a ref's history newest first, or one path's history when a path is given.

Walks a ref's history newest first, or one path's history when a
path is given. There is no cursor: the page is the newest `limit` commits.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo to read, from the :name path segment.
	@return GitAPICloudGetV1GitReposNameCommitsRequest
*/
func (a *GitAPIService) CloudGetV1GitReposNameCommits(ctx context.Context, name string) GitAPICloudGetV1GitReposNameCommitsRequest {
	return GitAPICloudGetV1GitReposNameCommitsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudCommitsJSON
func (a *GitAPIService) CloudGetV1GitReposNameCommitsExecute(r GitAPICloudGetV1GitReposNameCommitsRequest) (*CloudCommitsJSON, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCommitsJSON
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposNameCommits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/commits"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ref != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ref", r.ref, "form", "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameFilesRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
	ref        *string
	glob       *string
}

// Ref is a branch, tag or commit; empty means the repo&#39;s HEAD.
func (r GitAPICloudGetV1GitReposNameFilesRequest) Ref(ref string) GitAPICloudGetV1GitReposNameFilesRequest {
	r.ref = &ref
	return r
}

// Glob selects files, matched segment by segment so &#x60;*&#x60; never crosses a &#x60;/&#x60;. &#x60;**&#x60; matches zero or more whole segments.
func (r GitAPICloudGetV1GitReposNameFilesRequest) Glob(glob string) GitAPICloudGetV1GitReposNameFilesRequest {
	r.glob = &glob
	return r
}

func (r GitAPICloudGetV1GitReposNameFilesRequest) Execute() (*CloudFilesJSON, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameFilesExecute(r)
}

/*
CloudGetV1GitReposNameFiles Returns every file a glob selects at one revision, WITH its bytes and the revision they came from.

Returns every file a glob selects at one revision, WITH its bytes
and the revision they came from. It is the read a delivery generator makes:
one call answers "what is the inventory at this commit, and what does it say",
where listing and then fetching would be a request per file.

Returning the resolved revision matters as much as the bytes. A generator that
lists at `main` and then reads at `main` can straddle a push and assemble half
its inventory from one commit and half from the next; resolving once makes the
whole read consistent by construction.

A file past the read cap comes back Truncated with no content rather than
being dropped. A caller building a desired set has to know the difference
between "this file is empty" and "this file was not read" — silently omitting
it is how a pruning reconcile deletes what the missing file declared.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo to read, from the :name path segment.
	@return GitAPICloudGetV1GitReposNameFilesRequest
*/
func (a *GitAPIService) CloudGetV1GitReposNameFiles(ctx context.Context, name string) GitAPICloudGetV1GitReposNameFilesRequest {
	return GitAPICloudGetV1GitReposNameFilesRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudFilesJSON
func (a *GitAPIService) CloudGetV1GitReposNameFilesExecute(r GitAPICloudGetV1GitReposNameFilesRequest) (*CloudFilesJSON, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFilesJSON
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposNameFiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/files"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ref != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ref", r.ref, "form", "")
	}
	if r.glob != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "glob", r.glob, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameMirrorsRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
}

func (r GitAPICloudGetV1GitReposNameMirrorsRequest) Execute() (*CloudMirrorList, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameMirrorsExecute(r)
}

/*
CloudGetV1GitReposNameMirrors Returns a repo's outbound mirror targets — the downstream remotes the mirror reactor pushes to whenever a push lands here.

Returns a repo's outbound mirror targets — the downstream remotes
the mirror reactor pushes to whenever a push lands here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo's org-unique handle, from the :name path segment. A trailing \".git\" is stripped.
	@return GitAPICloudGetV1GitReposNameMirrorsRequest
*/
func (a *GitAPIService) CloudGetV1GitReposNameMirrors(ctx context.Context, name string) GitAPICloudGetV1GitReposNameMirrorsRequest {
	return GitAPICloudGetV1GitReposNameMirrorsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudMirrorList
func (a *GitAPIService) CloudGetV1GitReposNameMirrorsExecute(r GitAPICloudGetV1GitReposNameMirrorsRequest) (*CloudMirrorList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMirrorList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposNameMirrors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/mirrors"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameReadmeRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
	ref        *string
}

// Ref is a branch, tag or commit; empty means the repo&#39;s HEAD.
func (r GitAPICloudGetV1GitReposNameReadmeRequest) Ref(ref string) GitAPICloudGetV1GitReposNameReadmeRequest {
	r.ref = &ref
	return r
}

func (r GitAPICloudGetV1GitReposNameReadmeRequest) Execute() (*CloudReadmeJSON, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameReadmeExecute(r)
}

/*
CloudGetV1GitReposNameReadme Returns the README at the tree root as plain text — unrendered, so the caller decides how to present it.

Returns the README at the tree root as plain text — unrendered, so
the caller decides how to present it. A repo with no README is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo to read, from the :name path segment.
	@return GitAPICloudGetV1GitReposNameReadmeRequest
*/
func (a *GitAPIService) CloudGetV1GitReposNameReadme(ctx context.Context, name string) GitAPICloudGetV1GitReposNameReadmeRequest {
	return GitAPICloudGetV1GitReposNameReadmeRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudReadmeJSON
func (a *GitAPIService) CloudGetV1GitReposNameReadmeExecute(r GitAPICloudGetV1GitReposNameReadmeRequest) (*CloudReadmeJSON, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudReadmeJSON
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposNameReadme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/readme"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ref != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ref", r.ref, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameRefsRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
}

func (r GitAPICloudGetV1GitReposNameRefsRequest) Execute() (*CloudRefsJSON, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameRefsExecute(r)
}

/*
CloudGetV1GitReposNameRefs Lists a repo's branches, tags and default branch — what a branch picker needs in one call.

Lists a repo's branches, tags and default branch — what a branch
picker needs in one call. Unlike the other read ops it tolerates a repo with no
commits: the ref sets come back empty and the default branch is still named.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo's org-unique handle, from the :name path segment. A trailing \".git\" is stripped.
	@return GitAPICloudGetV1GitReposNameRefsRequest
*/
func (a *GitAPIService) CloudGetV1GitReposNameRefs(ctx context.Context, name string) GitAPICloudGetV1GitReposNameRefsRequest {
	return GitAPICloudGetV1GitReposNameRefsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudRefsJSON
func (a *GitAPIService) CloudGetV1GitReposNameRefsExecute(r GitAPICloudGetV1GitReposNameRefsRequest) (*CloudRefsJSON, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRefsJSON
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposNameRefs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/refs"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameSubscriptionsRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
}

func (r GitAPICloudGetV1GitReposNameSubscriptionsRequest) Execute() (*CloudSubscriptionList, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameSubscriptionsExecute(r)
}

/*
CloudGetV1GitReposNameSubscriptions Returns a repo's Slack subscriptions — which channels the lifecycle notifier posts this repo's push and deploy events to.

Returns a repo's Slack subscriptions — which channels the
lifecycle notifier posts this repo's push and deploy events to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo's org-unique handle, from the :name path segment. A trailing \".git\" is stripped.
	@return GitAPICloudGetV1GitReposNameSubscriptionsRequest
*/
func (a *GitAPIService) CloudGetV1GitReposNameSubscriptions(ctx context.Context, name string) GitAPICloudGetV1GitReposNameSubscriptionsRequest {
	return GitAPICloudGetV1GitReposNameSubscriptionsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudSubscriptionList
func (a *GitAPIService) CloudGetV1GitReposNameSubscriptionsExecute(r GitAPICloudGetV1GitReposNameSubscriptionsRequest) (*CloudSubscriptionList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSubscriptionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposNameSubscriptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/subscriptions"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitReposNameTreeRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
	ref        *string
	path       *string
}

// Ref is a branch, tag or commit; empty means the repo&#39;s HEAD.
func (r GitAPICloudGetV1GitReposNameTreeRequest) Ref(ref string) GitAPICloudGetV1GitReposNameTreeRequest {
	r.ref = &ref
	return r
}

// Path is repo-relative; empty is the tree root. Traversal is stripped.
func (r GitAPICloudGetV1GitReposNameTreeRequest) Path(path string) GitAPICloudGetV1GitReposNameTreeRequest {
	r.path = &path
	return r
}

func (r GitAPICloudGetV1GitReposNameTreeRequest) Execute() (*CloudTreeJSON, *http.Response, error) {
	return r.ApiService.CloudGetV1GitReposNameTreeExecute(r)
}

/*
CloudGetV1GitReposNameTree Lists the immediate children of one directory at one revision, directories before files.

Lists the immediate children of one directory at one revision,
directories before files. It does not recurse — walk down a level at a time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo to read, from the :name path segment.
	@return GitAPICloudGetV1GitReposNameTreeRequest
*/
func (a *GitAPIService) CloudGetV1GitReposNameTree(ctx context.Context, name string) GitAPICloudGetV1GitReposNameTreeRequest {
	return GitAPICloudGetV1GitReposNameTreeRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudTreeJSON
func (a *GitAPIService) CloudGetV1GitReposNameTreeExecute(r GitAPICloudGetV1GitReposNameTreeRequest) (*CloudTreeJSON, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudTreeJSON
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitReposNameTree")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}/tree"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ref != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ref", r.ref, "form", "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudGetV1GitUsageRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
}

func (r GitAPICloudGetV1GitUsageRequest) Execute() (*CloudUsageView, *http.Response, error) {
	return r.ApiService.CloudGetV1GitUsageExecute(r)
}

/*
CloudGetV1GitUsage Returns per-repo and total storage bytes for the caller's org — the queryable, per-tenant number commerce and o11y meter on.

Returns per-repo and total storage bytes for the caller's org — the
queryable, per-tenant number commerce and o11y meter on. It spans EVERY
project sub-scope, unlike the repo list, so a billing consumer sees the whole
tenant footprint in one call. Sizes are last-measured values (create, push,
mirror and gc each re-measure), not a live walk of the disk.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GitAPICloudGetV1GitUsageRequest
*/
func (a *GitAPIService) CloudGetV1GitUsage(ctx context.Context) GitAPICloudGetV1GitUsageRequest {
	return GitAPICloudGetV1GitUsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudUsageView
func (a *GitAPIService) CloudGetV1GitUsageExecute(r GitAPICloudGetV1GitUsageRequest) (*CloudUsageView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudUsageView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudGetV1GitUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudPatchV1GitReposNameRequest struct {
	ctx          context.Context
	ApiService   *GitAPIService
	name         string
	cloudPatchIn *CloudPatchIn
}

func (r GitAPICloudPatchV1GitReposNameRequest) CloudPatchIn(cloudPatchIn CloudPatchIn) GitAPICloudPatchV1GitReposNameRequest {
	r.cloudPatchIn = &cloudPatchIn
	return r
}

func (r GitAPICloudPatchV1GitReposNameRequest) Execute() (*CloudRepoView, *http.Response, error) {
	return r.ApiService.CloudPatchV1GitReposNameExecute(r)
}

/*
CloudPatchV1GitReposName Flips a repo's public bit, the one mutable repo setting today.

Flips a repo's public bit, the one mutable repo setting today.
Public grants ANONYMOUS fetch only; push and the whole control plane stay
org-authed. Returns the updated repo.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the repo to update, from the :name path segment.
	@return GitAPICloudPatchV1GitReposNameRequest
*/
func (a *GitAPIService) CloudPatchV1GitReposName(ctx context.Context, name string) GitAPICloudPatchV1GitReposNameRequest {
	return GitAPICloudPatchV1GitReposNameRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return CloudRepoView
func (a *GitAPIService) CloudPatchV1GitReposNameExecute(r GitAPICloudPatchV1GitReposNameRequest) (*CloudRepoView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRepoView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudPatchV1GitReposName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPatchIn == nil {
		return localVarReturnValue, nil, reportError("cloudPatchIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPatchIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudPostV1GitByOrgByProjectByRepoGitReceivePackRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	org        string
	project    string
	repo       string
	body       *os.File
}

func (r GitAPICloudPostV1GitByOrgByProjectByRepoGitReceivePackRequest) Body(body *os.File) GitAPICloudPostV1GitByOrgByProjectByRepoGitReceivePackRequest {
	r.body = body
	return r
}

func (r GitAPICloudPostV1GitByOrgByProjectByRepoGitReceivePackRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1GitByOrgByProjectByRepoGitReceivePackExecute(r)
}

/*
CloudPostV1GitByOrgByProjectByRepoGitReceivePack Method for CloudPostV1GitByOrgByProjectByRepoGitReceivePack

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param project
	@param repo
	@return GitAPICloudPostV1GitByOrgByProjectByRepoGitReceivePackRequest
*/
func (a *GitAPIService) CloudPostV1GitByOrgByProjectByRepoGitReceivePack(ctx context.Context, org string, project string, repo string) GitAPICloudPostV1GitByOrgByProjectByRepoGitReceivePackRequest {
	return GitAPICloudPostV1GitByOrgByProjectByRepoGitReceivePackRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		project:    project,
		repo:       repo,
	}
}

// Execute executes the request
func (a *GitAPIService) CloudPostV1GitByOrgByProjectByRepoGitReceivePackExecute(r GitAPICloudPostV1GitByOrgByProjectByRepoGitReceivePackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudPostV1GitByOrgByProjectByRepoGitReceivePack")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/{org}/{project}/{repo}/git-receive-pack"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GitAPICloudPostV1GitByOrgByProjectByRepoGitUploadPackRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	org        string
	project    string
	repo       string
	body       *os.File
}

func (r GitAPICloudPostV1GitByOrgByProjectByRepoGitUploadPackRequest) Body(body *os.File) GitAPICloudPostV1GitByOrgByProjectByRepoGitUploadPackRequest {
	r.body = body
	return r
}

func (r GitAPICloudPostV1GitByOrgByProjectByRepoGitUploadPackRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1GitByOrgByProjectByRepoGitUploadPackExecute(r)
}

/*
CloudPostV1GitByOrgByProjectByRepoGitUploadPack Method for CloudPostV1GitByOrgByProjectByRepoGitUploadPack

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param project
	@param repo
	@return GitAPICloudPostV1GitByOrgByProjectByRepoGitUploadPackRequest
*/
func (a *GitAPIService) CloudPostV1GitByOrgByProjectByRepoGitUploadPack(ctx context.Context, org string, project string, repo string) GitAPICloudPostV1GitByOrgByProjectByRepoGitUploadPackRequest {
	return GitAPICloudPostV1GitByOrgByProjectByRepoGitUploadPackRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		project:    project,
		repo:       repo,
	}
}

// Execute executes the request
func (a *GitAPIService) CloudPostV1GitByOrgByProjectByRepoGitUploadPackExecute(r GitAPICloudPostV1GitByOrgByProjectByRepoGitUploadPackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudPostV1GitByOrgByProjectByRepoGitUploadPack")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/{org}/{project}/{repo}/git-upload-pack"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GitAPICloudPostV1GitByOrgByRepoGitReceivePackRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	org        string
	repo       string
	body       *os.File
}

func (r GitAPICloudPostV1GitByOrgByRepoGitReceivePackRequest) Body(body *os.File) GitAPICloudPostV1GitByOrgByRepoGitReceivePackRequest {
	r.body = body
	return r
}

func (r GitAPICloudPostV1GitByOrgByRepoGitReceivePackRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1GitByOrgByRepoGitReceivePackExecute(r)
}

/*
CloudPostV1GitByOrgByRepoGitReceivePack Method for CloudPostV1GitByOrgByRepoGitReceivePack

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param repo
	@return GitAPICloudPostV1GitByOrgByRepoGitReceivePackRequest
*/
func (a *GitAPIService) CloudPostV1GitByOrgByRepoGitReceivePack(ctx context.Context, org string, repo string) GitAPICloudPostV1GitByOrgByRepoGitReceivePackRequest {
	return GitAPICloudPostV1GitByOrgByRepoGitReceivePackRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		repo:       repo,
	}
}

// Execute executes the request
func (a *GitAPIService) CloudPostV1GitByOrgByRepoGitReceivePackExecute(r GitAPICloudPostV1GitByOrgByRepoGitReceivePackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudPostV1GitByOrgByRepoGitReceivePack")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/{org}/{repo}/git-receive-pack"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GitAPICloudPostV1GitByOrgByRepoGitUploadPackRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	org        string
	repo       string
	body       *os.File
}

func (r GitAPICloudPostV1GitByOrgByRepoGitUploadPackRequest) Body(body *os.File) GitAPICloudPostV1GitByOrgByRepoGitUploadPackRequest {
	r.body = body
	return r
}

func (r GitAPICloudPostV1GitByOrgByRepoGitUploadPackRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1GitByOrgByRepoGitUploadPackExecute(r)
}

/*
CloudPostV1GitByOrgByRepoGitUploadPack Method for CloudPostV1GitByOrgByRepoGitUploadPack

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@param repo
	@return GitAPICloudPostV1GitByOrgByRepoGitUploadPackRequest
*/
func (a *GitAPIService) CloudPostV1GitByOrgByRepoGitUploadPack(ctx context.Context, org string, repo string) GitAPICloudPostV1GitByOrgByRepoGitUploadPackRequest {
	return GitAPICloudPostV1GitByOrgByRepoGitUploadPackRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
		repo:       repo,
	}
}

// Execute executes the request
func (a *GitAPIService) CloudPostV1GitByOrgByRepoGitUploadPackExecute(r GitAPICloudPostV1GitByOrgByRepoGitUploadPackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudPostV1GitByOrgByRepoGitUploadPack")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/{org}/{repo}/git-upload-pack"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterValueToString(r.repo, "repo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GitAPICloudPostV1GitKeysRequest struct {
	ctx                 context.Context
	ApiService          *GitAPIService
	cloudRegisterKeyReq *CloudRegisterKeyReq
}

func (r GitAPICloudPostV1GitKeysRequest) CloudRegisterKeyReq(cloudRegisterKeyReq CloudRegisterKeyReq) GitAPICloudPostV1GitKeysRequest {
	r.cloudRegisterKeyReq = &cloudRegisterKeyReq
	return r
}

func (r GitAPICloudPostV1GitKeysRequest) Execute() (*CloudKeyView, *http.Response, error) {
	return r.ApiService.CloudPostV1GitKeysExecute(r)
}

/*
CloudPostV1GitKeys Registers an SSH public key so it can authenticate `git clone git@<host>:<org>/<repo>.git` for the caller's org.

Registers an SSH public key so it can authenticate `git clone
git@<host>:<org>/<repo>.git` for the caller's org. The key line is parsed and
canonicalized before storage, its SHA256 fingerprint becomes the auth lookup
handle, and the full public key round-trips (it is public). Answers 201.
Fingerprints are globally unique, so a key already registered — to this org or
any other — is a 409: one key belongs to exactly one org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GitAPICloudPostV1GitKeysRequest
*/
func (a *GitAPIService) CloudPostV1GitKeys(ctx context.Context) GitAPICloudPostV1GitKeysRequest {
	return GitAPICloudPostV1GitKeysRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudKeyView
func (a *GitAPIService) CloudPostV1GitKeysExecute(r GitAPICloudPostV1GitKeysRequest) (*CloudKeyView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudKeyView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudPostV1GitKeys")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudRegisterKeyReq == nil {
		return localVarReturnValue, nil, reportError("cloudRegisterKeyReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudRegisterKeyReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudPostV1GitReposRequest struct {
	ctx            context.Context
	ApiService     *GitAPIService
	cloudCreateReq *CloudCreateReq
}

func (r GitAPICloudPostV1GitReposRequest) CloudCreateReq(cloudCreateReq CloudCreateReq) GitAPICloudPostV1GitReposRequest {
	r.cloudCreateReq = &cloudCreateReq
	return r
}

func (r GitAPICloudPostV1GitReposRequest) Execute() (*CloudRepoView, *http.Response, error) {
	return r.ApiService.CloudPostV1GitReposExecute(r)
}

/*
CloudPostV1GitRepos Provisions an empty bare repository in the caller's scope and returns it with its clone URLs.

Provisions an empty bare repository in the caller's scope and
returns it with its clone URLs. Answers 201. The name must be unique within
the scope — a repeat is a 409, never a silent overwrite of an existing repo.
The org comes from the validated principal, so a repo is always born owned by
the caller's own tenant.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GitAPICloudPostV1GitReposRequest
*/
func (a *GitAPIService) CloudPostV1GitRepos(ctx context.Context) GitAPICloudPostV1GitReposRequest {
	return GitAPICloudPostV1GitReposRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRepoView
func (a *GitAPIService) CloudPostV1GitReposExecute(r GitAPICloudPostV1GitReposRequest) (*CloudRepoView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRepoView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitAPIService.CloudPostV1GitRepos")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/git/repos"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateReq == nil {
		return localVarReturnValue, nil, reportError("cloudCreateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GitAPICloudPostV1GitReposNameGcRequest struct {
	ctx        context.Context
	ApiService *GitAPIService
	name       string
}

func (r GitAPICloudPostV1GitReposNameGcRequest) Execute() (*CloudGcOut, *http.Response, error) {
	return r.ApiService.CloudPostV1GitReposNameGcExecute(r)
}

/*
CloudPostV1GitReposNameGc Repacks a repo into one bitmapped pack and rewrites its commit-graph, so the next clone reuses the bitmap instead of walking the whole object graph.

Repacks a repo into one bitmapped pack and rewrites its commit-graph, so
the next clone reuses the bitmap instead of walking the whole object graph.
Idempotent, and safe to interrupt — git swaps both artifacts atomically. It
runs under one pack slot with the same memory bounds as a clone, so it can
block behind heavy pack traffic rather than compete with it. Storage usage is
re-measured afterwards, since a repack reclaims space.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
[...]
