/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// FinanceAPIService FinanceAPI service
type FinanceAPIService service

type FinanceAPIGetFinanceAccountsRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
	scope      *string
	org        *string
}

// Scope is \&quot;house\&quot; to read the reserve/revenue/payout house accounts. SuperAdmin only.
func (r FinanceAPIGetFinanceAccountsRequest) Scope(scope string) FinanceAPIGetFinanceAccountsRequest {
	r.scope = &scope
	return r
}

// Org names another tenant to read. SuperAdmin only; ignored when scope&#x3D;house.
func (r FinanceAPIGetFinanceAccountsRequest) Org(org string) FinanceAPIGetFinanceAccountsRequest {
	r.org = &org
	return r
}

func (r FinanceAPIGetFinanceAccountsRequest) Execute() (*AccountsOut, *http.Response, error) {
	return r.ApiService.GetFinanceAccountsExecute(r)
}

/*
GetFinanceAccounts Returns the ledger accounts the caller may see, with their balances.

Returns the ledger accounts the caller may see, with their
balances. It is tenant-isolated SERVER-SIDE: an ordinary caller sees ONLY
accounts under its own "org:<tenant>:" prefix, never house accounts and never
another tenant's. A SuperAdmin may widen with ?scope=house (the reserve,
revenue and payout house accounts) or ?org=<tenant> — the only way to cross the
tenant boundary, and only for platform sudo. The answer is honestly empty until
a tenant has ledger postings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPIGetFinanceAccountsRequest
*/
func (a *FinanceAPIService) GetFinanceAccounts(ctx context.Context) FinanceAPIGetFinanceAccountsRequest {
	return FinanceAPIGetFinanceAccountsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AccountsOut
func (a *FinanceAPIService) GetFinanceAccountsExecute(r FinanceAPIGetFinanceAccountsRequest) (*AccountsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccountsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.GetFinanceAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPIGetFinanceBalanceRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPIGetFinanceBalanceRequest) Execute() (*FinanceBalanceView, *http.Response, error) {
	return r.ApiService.GetFinanceBalanceExecute(r)
}

/*
GetFinanceBalance Answers the org's spendable prepaid balance typed for the finance surfaces: `availableCents`, `pendingCents`, `dueCents` and the `asOf` instant it was read.

Answers the org's spendable prepaid balance typed for the
finance surfaces: `availableCents`, `pendingCents`, `dueCents` and the `asOf`
instant it was read.

It is the SAME wallet read /v1/billing/balance answers — one function, called
by both, so the two surfaces cannot drift into disagreeing about a customer's
money. Reshaped, never re-metered. Co-resident the number comes straight out
of the org's own double-entry ledger file.

`dueCents` is a structural 0: this is a PREPAID wallet with no open-invoice
debt, so nothing is ever owed and a non-zero value here would be an invention.
`pendingCents` is 0 on the co-resident ledger, where authorization holds are
never posted; only a split-deploy upstream reports holds, and there spendable
is the balance NET of them, floored at 0 — a fully-held wallet reports 0
rather than money the gate would refuse.

Cents are ROUNDED from the ledger's exact 18-decimal USD. Scoped to the
caller's own org from the validated IAM owner claim; 401 without a validated
principal, and a balance that cannot be read is 502 — never 0, because unknown
is not broke.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPIGetFinanceBalanceRequest
*/
func (a *FinanceAPIService) GetFinanceBalance(ctx context.Context) FinanceAPIGetFinanceBalanceRequest {
	return FinanceAPIGetFinanceBalanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FinanceBalanceView
func (a *FinanceAPIService) GetFinanceBalanceExecute(r FinanceAPIGetFinanceBalanceRequest) (*FinanceBalanceView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FinanceBalanceView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.GetFinanceBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPIGetFinanceCreditsRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPIGetFinanceCreditsRequest) Execute() ([]FinanceCredit, *http.Response, error) {
	return r.ApiService.GetFinanceCreditsExecute(r)
}

/*
GetFinanceCredits Answers the money PUT IN to the org's wallet — each staff grant, promo and settled top-up as a positive row with its id, label, cents and grant time.

Answers the money PUT IN to the org's wallet — each staff
grant, promo and settled top-up as a positive row with its id, label, cents
and grant time.

Spend is not a credit. A posting counts here only when it moved money IN;
debits belong to /v1/finance/usage (aggregated) and /v1/finance/ledger
(signed). All three project ONE read of the same ledger through ONE vocabulary
for what a posting means, so they cannot disagree about a row — nor silently
drop one, which is what an empty credits page against a funded wallet was.

`label` falls back through the posting's notes, then its tags, then a bare
Credit — it is a description, never an identifier. `remainingCents` is
OMITTED: the wallet is one running balance, not per-grant buckets, so no grant
has a remainder to report and spend cannot be attributed to the credit that
funded it.

Cents are ROUNDED from the ledger's exact 18-decimal USD. Scoped to the
caller's own org; 401 without a validated principal. An org with no grants
gets an empty array — honest, never a fabricated figure.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPIGetFinanceCreditsRequest
*/
func (a *FinanceAPIService) GetFinanceCredits(ctx context.Context) FinanceAPIGetFinanceCreditsRequest {
	return FinanceAPIGetFinanceCreditsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []FinanceCredit
func (a *FinanceAPIService) GetFinanceCreditsExecute(r FinanceAPIGetFinanceCreditsRequest) ([]FinanceCredit, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []FinanceCredit
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.GetFinanceCredits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/credits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPIGetFinanceInvoicesRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPIGetFinanceInvoicesRequest) Execute() ([]FinanceInvoice, *http.Response, error) {
	return r.ApiService.GetFinanceInvoicesExecute(r)
}

/*
GetFinanceInvoices Answers an empty typed array, always.

Answers an empty typed array, always. The fleet bills a
PREPAID wallet — money in, metered debits out — and issues no customer
invoices, so there is no invoice ledger to project. Nothing here is a
fabricated figure and nothing is hidden behind a filter.

The shape is fixed, so the finance UI renders this lane today and the day an
invoice ledger exists it fills with ZERO client change. Spend that actually
happened is /v1/finance/usage; money in and out is /v1/finance/ledger; what is
left to spend is /v1/finance/balance.

The gate is real even though the body is empty: 401 without a validated
principal. It is the only finance read that touches no store, so it is also
the only one that cannot 502.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPIGetFinanceInvoicesRequest
*/
func (a *FinanceAPIService) GetFinanceInvoices(ctx context.Context) FinanceAPIGetFinanceInvoicesRequest {
	return FinanceAPIGetFinanceInvoicesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []FinanceInvoice
func (a *FinanceAPIService) GetFinanceInvoicesExecute(r FinanceAPIGetFinanceInvoicesRequest) ([]FinanceInvoice, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []FinanceInvoice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.GetFinanceInvoices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPIGetFinanceLedgerRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
	range_     *string
}

// Range is the window: 24h, 7d, 30d or 90d. Anything else — including absent — is 30d, so a typo silently widens the window to a month rather than failing.
func (r FinanceAPIGetFinanceLedgerRequest) Range_(range_ string) FinanceAPIGetFinanceLedgerRequest {
	r.range_ = &range_
	return r
}

func (r FinanceAPIGetFinanceLedgerRequest) Execute() ([]FinanceLedgerEntry, *http.Response, error) {
	return r.ApiService.GetFinanceLedgerExecute(r)
}

/*
GetFinanceLedger Answers the org's own postings inside `range=`, each as a signed entry: a DEPOSIT CREDITS the wallet (positive, account `credits:<org>`) and every other posting DEBITS it (negative, account `usage:<org>`), described by its notes or its tags.

Answers the org's own postings inside `range=`, each as a signed
entry: a DEPOSIT CREDITS the wallet (positive, account `credits:<org>`) and
every other posting DEBITS it (negative, account `usage:<org>`), described by
its notes or its tags. The sign is the posting's own meaning, read through ONE
vocabulary shared with the ledger that wrote it — a reader with its own
spelling for `deposit` rendered a customer's grant as a charge.

This is the closest projection of the truth. The org's double-entry postings
are the source of record — balanced, only ever appended, one file per org —
and this lane is that list, widest of the three: /v1/finance/credits is its
deposit half and /v1/finance/usage is its withdrawal half rolled up. All three
come from ONE read, which is why they cannot contradict each other, and all
three answer 501 where no commerce link is configured rather than reporting an
empty wallet.

A row whose timestamp will not parse is KEPT rather than dropped — a malformed
date must show up in a money list, not vanish from it. `balanceCents` is
omitted: these are MOVEMENTS, and the standing balance is /v1/finance/balance.

Cents are ROUNDED from the ledger's exact 18-decimal USD. Scoped to the
caller's own org, where the org's ledger file is the tenant boundary; 401
without a validated principal.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPIGetFinanceLedgerRequest
*/
func (a *FinanceAPIService) GetFinanceLedger(ctx context.Context) FinanceAPIGetFinanceLedgerRequest {
	return FinanceAPIGetFinanceLedgerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []FinanceLedgerEntry
func (a *FinanceAPIService) GetFinanceLedgerExecute(r FinanceAPIGetFinanceLedgerRequest) ([]FinanceLedgerEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []FinanceLedgerEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.GetFinanceLedger")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/ledger"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPIGetFinancePaymentMethodsRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPIGetFinancePaymentMethodsRequest) Execute() ([]FinancePaymentMethod, *http.Response, error) {
	return r.ApiService.GetFinancePaymentMethodsExecute(r)
}

/*
GetFinancePaymentMethods Answers the masked card descriptors for the caller's resolved WALLET — id, brand, last four, expiry, default flag — reshaped into the finance contract.

Answers the masked card descriptors for the caller's resolved
WALLET — id, brand, last four, expiry, default flag — reshaped into the
finance contract.

It re-masks defensively: whatever the upstream sends, at most the trailing
four DIGITS survive into `last4`. No card number, no security code and no
processor token exists in this shape at all, so an over-returning upstream
still cannot leak one through this lane.

Read the sibling difference before trusting a mismatch. This keys the store on
the resolved wallet; /v1/billing/methods keys it on the org SLUG, which is
also the key a card is SAVED under — identical for an org paying from its
shared pool, different wherever the payer is a person. When the two lists
disagree, the billing one is what was saved.

401 without a validated principal. An upstream that answers non-2xx or cannot
be reached is 502 — never an empty list, because no cards and could not ask
must not look alike.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPIGetFinancePaymentMethodsRequest
*/
func (a *FinanceAPIService) GetFinancePaymentMethods(ctx context.Context) FinanceAPIGetFinancePaymentMethodsRequest {
	return FinanceAPIGetFinancePaymentMethodsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []FinancePaymentMethod
func (a *FinanceAPIService) GetFinancePaymentMethodsExecute(r FinanceAPIGetFinancePaymentMethodsRequest) ([]FinancePaymentMethod, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []FinancePaymentMethod
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.GetFinancePaymentMethods")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/payment-methods"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPIGetFinanceTreasuryRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
}

func (r FinanceAPIGetFinanceTreasuryRequest) Execute() (*TreasuryReport, *http.Response, error) {
	return r.ApiService.GetFinanceTreasuryExecute(r)
}

/*
GetFinanceTreasury Returns the reserve fund's health and the current revenue-share policy for any validated caller.

Returns the reserve fund's health and the current revenue-share
policy for any validated caller. It is a TRANSPARENCY view — a partner or
author can see that the pool backing their payouts is solvent — and NOT per-org
money, which is the customer's own commerce balance at /v1/billing/balance. The
policy is read-only here; only a SuperAdmin sets it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPIGetFinanceTreasuryRequest
*/
func (a *FinanceAPIService) GetFinanceTreasury(ctx context.Context) FinanceAPIGetFinanceTreasuryRequest {
	return FinanceAPIGetFinanceTreasuryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TreasuryReport
func (a *FinanceAPIService) GetFinanceTreasuryExecute(r FinanceAPIGetFinanceTreasuryRequest) (*TreasuryReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TreasuryReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.GetFinanceTreasury")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/treasury"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FinanceAPIGetFinanceUsageRequest struct {
	ctx        context.Context
	ApiService *FinanceAPIService
	range_     *string
}

// Range is the window: 24h, 7d, 30d or 90d. Anything else — including absent — is 30d, so a typo silently widens the window to a month rather than failing.
func (r FinanceAPIGetFinanceUsageRequest) Range_(range_ string) FinanceAPIGetFinanceUsageRequest {
	r.range_ = &range_
	return r
}

func (r FinanceAPIGetFinanceUsageRequest) Execute() (*FinanceUsageView, *http.Response, error) {
	return r.ApiService.GetFinanceUsageExecute(r)
}

/*
GetFinanceUsage Answers metered spend inside `range=`: the window total, a time series to plot, and one line per usage TAG.

Answers metered spend inside `range=`: the window total, a time
series to plot, and one line per usage TAG. Aggregated from the same charged
ledger the balance comes off — projected, never re-metered.

Only DEBIT postings count; deposits are credits and are excluded. Buckets are
hourly at 24h and daily otherwise, in UTC; a posting whose timestamp will not
parse is dropped rather than mis-bucketed.

Lines group by the posting's tag (`Usage` where it carries none) and `units`
counts POSTINGS, not tokens. The dimensions here are time and tag. For
per-request rows and a per-PRODUCT breakdown, read /v1/billing/usage instead —
the same money, cut a different way.

Cents are ROUNDED from the ledger's exact 18-decimal USD, so a window made of
sub-cent token calls totals LOW here. Scoped to the caller's own org; 401
without a validated principal.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FinanceAPIGetFinanceUsageRequest
*/
func (a *FinanceAPIService) GetFinanceUsage(ctx context.Context) FinanceAPIGetFinanceUsageRequest {
	return FinanceAPIGetFinanceUsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FinanceUsageView
func (a *FinanceAPIService) GetFinanceUsageExecute(r FinanceAPIGetFinanceUsageRequest) (*FinanceUsageView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FinanceUsageView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinanceAPIService.GetFinanceUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
