/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// FlowAPIService FlowAPI service
type FlowAPIService service

type FlowAPICloudDeleteV1FlowWorkflowsWorkflowRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	workflow   string
}

func (r FlowAPICloudDeleteV1FlowWorkflowsWorkflowRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudDeleteV1FlowWorkflowsWorkflowExecute(r)
}

/*
CloudDeleteV1FlowWorkflowsWorkflow WorkflowDelete deletes one of the caller's workflows and its runs.

WorkflowDelete deletes one of the caller's workflows and its runs. Ownership
is verified first; a foreign id answers 404 and deletes nothing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflow Workflow is the workflow's UUID, taken from the path.
	@return FlowAPICloudDeleteV1FlowWorkflowsWorkflowRequest
*/
func (a *FlowAPIService) CloudDeleteV1FlowWorkflowsWorkflow(ctx context.Context, workflow string) FlowAPICloudDeleteV1FlowWorkflowsWorkflowRequest {
	return FlowAPICloudDeleteV1FlowWorkflowsWorkflowRequest{
		ApiService: a,
		ctx:        ctx,
		workflow:   workflow,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) CloudDeleteV1FlowWorkflowsWorkflowExecute(r FlowAPICloudDeleteV1FlowWorkflowsWorkflowRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.CloudDeleteV1FlowWorkflowsWorkflow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows/{workflow}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow"+"}", url.PathEscape(parameterValueToString(r.workflow, "workflow")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPICloudGetV1FlowRunsRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	workflow   *string
}

// Workflow is the UUID of the workflow whose run records to read. It rides the query string.
func (r FlowAPICloudGetV1FlowRunsRequest) Workflow(workflow string) FlowAPICloudGetV1FlowRunsRequest {
	r.workflow = &workflow
	return r
}

func (r FlowAPICloudGetV1FlowRunsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1FlowRunsExecute(r)
}

/*
CloudGetV1FlowRuns Runs reads one workflow's recorded runs: every component build with its result, keyed by component.

Runs reads one workflow's recorded runs: every component build with its
result, keyed by component. Ownership is verified first — run records never
cross the org boundary.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPICloudGetV1FlowRunsRequest
*/
func (a *FlowAPIService) CloudGetV1FlowRuns(ctx context.Context) FlowAPICloudGetV1FlowRunsRequest {
	return FlowAPICloudGetV1FlowRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) CloudGetV1FlowRunsExecute(r FlowAPICloudGetV1FlowRunsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.CloudGetV1FlowRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.workflow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow", r.workflow, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPICloudGetV1FlowStatusRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
}

func (r FlowAPICloudGetV1FlowStatusRequest) Execute() (*CloudFlowStatus, *http.Response, error) {
	return r.ApiService.CloudGetV1FlowStatusExecute(r)
}

/*
CloudGetV1FlowStatus Status reports whether the flow service is reachable and which version it runs.

Status reports whether the flow service is reachable and which version it
runs. It is the product's own /health and /v1/version composed — an honest
lens for "is the workflow plane up", never a fabricated ok.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPICloudGetV1FlowStatusRequest
*/
func (a *FlowAPIService) CloudGetV1FlowStatus(ctx context.Context) FlowAPICloudGetV1FlowStatusRequest {
	return FlowAPICloudGetV1FlowStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFlowStatus
func (a *FlowAPIService) CloudGetV1FlowStatusExecute(r FlowAPICloudGetV1FlowStatusRequest) (*CloudFlowStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFlowStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.CloudGetV1FlowStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPICloudGetV1FlowWorkflowsRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	page       *string
	size       *string
}

// Page is the 1-based page of workflows to return.
func (r FlowAPICloudGetV1FlowWorkflowsRequest) Page(page string) FlowAPICloudGetV1FlowWorkflowsRequest {
	r.page = &page
	return r
}

// Size is how many workflows one page holds (the product caps it at 100).
func (r FlowAPICloudGetV1FlowWorkflowsRequest) Size(size string) FlowAPICloudGetV1FlowWorkflowsRequest {
	r.size = &size
	return r
}

func (r FlowAPICloudGetV1FlowWorkflowsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1FlowWorkflowsExecute(r)
}

/*
CloudGetV1FlowWorkflows Workflows lists the caller's workflows, paged.

Workflows lists the caller's workflows, paged. The list is scoped
server-side to the org's project — the page can only ever hold the caller's
own workflows.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPICloudGetV1FlowWorkflowsRequest
*/
func (a *FlowAPIService) CloudGetV1FlowWorkflows(ctx context.Context) FlowAPICloudGetV1FlowWorkflowsRequest {
	return FlowAPICloudGetV1FlowWorkflowsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) CloudGetV1FlowWorkflowsExecute(r FlowAPICloudGetV1FlowWorkflowsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.CloudGetV1FlowWorkflows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPICloudGetV1FlowWorkflowsWorkflowRequest struct {
	ctx        context.Context
	ApiService *FlowAPIService
	workflow   string
}

func (r FlowAPICloudGetV1FlowWorkflowsWorkflowRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudGetV1FlowWorkflowsWorkflowExecute(r)
}

/*
CloudGetV1FlowWorkflowsWorkflow Workflow reads one of the caller's workflows — the full record, graph included.

Workflow reads one of the caller's workflows — the full record, graph
included. A workflow outside the caller's org answers 404, indistinguishable
from one that does not exist.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflow Workflow is the workflow's UUID, taken from the path.
	@return FlowAPICloudGetV1FlowWorkflowsWorkflowRequest
*/
func (a *FlowAPIService) CloudGetV1FlowWorkflowsWorkflow(ctx context.Context, workflow string) FlowAPICloudGetV1FlowWorkflowsWorkflowRequest {
	return FlowAPICloudGetV1FlowWorkflowsWorkflowRequest{
		ApiService: a,
		ctx:        ctx,
		workflow:   workflow,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) CloudGetV1FlowWorkflowsWorkflowExecute(r FlowAPICloudGetV1FlowWorkflowsWorkflowRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.CloudGetV1FlowWorkflowsWorkflow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows/{workflow}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow"+"}", url.PathEscape(parameterValueToString(r.workflow, "workflow")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPICloudPatchV1FlowWorkflowsWorkflowRequest struct {
	ctx             context.Context
	ApiService      *FlowAPIService
	workflow        string
	cloudFlowUpdate *CloudFlowUpdate
}

func (r FlowAPICloudPatchV1FlowWorkflowsWorkflowRequest) CloudFlowUpdate(cloudFlowUpdate CloudFlowUpdate) FlowAPICloudPatchV1FlowWorkflowsWorkflowRequest {
	r.cloudFlowUpdate = &cloudFlowUpdate
	return r
}

func (r FlowAPICloudPatchV1FlowWorkflowsWorkflowRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudPatchV1FlowWorkflowsWorkflowExecute(r)
}

/*
CloudPatchV1FlowWorkflowsWorkflow WorkflowUpdate patches one of the caller's workflows: name, description, graph, or the locked flag — only the stated fields move.

WorkflowUpdate patches one of the caller's workflows: name, description,
graph, or the locked flag — only the stated fields move. Ownership is
verified before the patch reaches the product.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflow Workflow is the workflow's UUID, taken from the path.
	@return FlowAPICloudPatchV1FlowWorkflowsWorkflowRequest
*/
func (a *FlowAPIService) CloudPatchV1FlowWorkflowsWorkflow(ctx context.Context, workflow string) FlowAPICloudPatchV1FlowWorkflowsWorkflowRequest {
	return FlowAPICloudPatchV1FlowWorkflowsWorkflowRequest{
		ApiService: a,
		ctx:        ctx,
		workflow:   workflow,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) CloudPatchV1FlowWorkflowsWorkflowExecute(r FlowAPICloudPatchV1FlowWorkflowsWorkflowRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.CloudPatchV1FlowWorkflowsWorkflow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows/{workflow}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow"+"}", url.PathEscape(parameterValueToString(r.workflow, "workflow")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudFlowUpdate == nil {
		return localVarReturnValue, nil, reportError("cloudFlowUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudFlowUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPICloudPostV1FlowRunsRequest struct {
	ctx          context.Context
	ApiService   *FlowAPIService
	cloudFlowRun *CloudFlowRun
}

func (r FlowAPICloudPostV1FlowRunsRequest) CloudFlowRun(cloudFlowRun CloudFlowRun) FlowAPICloudPostV1FlowRunsRequest {
	r.cloudFlowRun = &cloudFlowRun
	return r
}

func (r FlowAPICloudPostV1FlowRunsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1FlowRunsExecute(r)
}

/*
CloudPostV1FlowRuns Run executes one of the caller's workflows synchronously: the graph runs in the flow service and the response carries the run's session and outputs.

Run executes one of the caller's workflows synchronously: the graph runs in
the flow service and the response carries the run's session and outputs. A
graph whose components fail reports the product's own error. Runs are
bounded by the product's five-minute sync ceiling.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPICloudPostV1FlowRunsRequest
*/
func (a *FlowAPIService) CloudPostV1FlowRuns(ctx context.Context) FlowAPICloudPostV1FlowRunsRequest {
	return FlowAPICloudPostV1FlowRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) CloudPostV1FlowRunsExecute(r FlowAPICloudPostV1FlowRunsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.CloudPostV1FlowRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudFlowRun == nil {
		return localVarReturnValue, nil, reportError("cloudFlowRun is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudFlowRun
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowAPICloudPostV1FlowWorkflowsRequest struct {
	ctx             context.Context
	ApiService      *FlowAPIService
	cloudFlowCreate *CloudFlowCreate
}

func (r FlowAPICloudPostV1FlowWorkflowsRequest) CloudFlowCreate(cloudFlowCreate CloudFlowCreate) FlowAPICloudPostV1FlowWorkflowsRequest {
	r.cloudFlowCreate = &cloudFlowCreate
	return r
}

func (r FlowAPICloudPostV1FlowWorkflowsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CloudPostV1FlowWorkflowsExecute(r)
}

/*
CloudPostV1FlowWorkflows WorkflowCreate creates a workflow in the caller's org.

WorkflowCreate creates a workflow in the caller's org. The org's project id
is pinned server-side from the validated principal — there is no field by
which a caller could place a workflow in another org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowAPICloudPostV1FlowWorkflowsRequest
*/
func (a *FlowAPIService) CloudPostV1FlowWorkflows(ctx context.Context) FlowAPICloudPostV1FlowWorkflowsRequest {
	return FlowAPICloudPostV1FlowWorkflowsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *FlowAPIService) CloudPostV1FlowWorkflowsExecute(r FlowAPICloudPostV1FlowWorkflowsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowAPIService.CloudPostV1FlowWorkflows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/workflows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudFlowCreate == nil {
		return localVarReturnValue, nil, reportError("cloudFlowCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudFlowCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
