/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// MarketplaceAPIService MarketplaceAPI service
type MarketplaceAPIService service

type MarketplaceAPIDeleteMarketplaceListingsByIdRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
	id         string
}

func (r MarketplaceAPIDeleteMarketplaceListingsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMarketplaceListingsByIdExecute(r)
}

/*
DeleteMarketplaceListingsById Unpublish withdraws one of the caller org's listings from the marketplace and answers 204.

Unpublish withdraws one of the caller org's listings from the marketplace and
answers 204. Only the publishing org can remove its own listing; an id that is
unknown, or belongs to another org, is the same 404, so a probe learns nothing
about what exists. Removing a listing removes its price from per-call enforcement;
it does not uninstall the tool for anyone who already installed it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the listing to unpublish, from the path.
	@return MarketplaceAPIDeleteMarketplaceListingsByIdRequest
*/
func (a *MarketplaceAPIService) DeleteMarketplaceListingsById(ctx context.Context, id string) MarketplaceAPIDeleteMarketplaceListingsByIdRequest {
	return MarketplaceAPIDeleteMarketplaceListingsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *MarketplaceAPIService) DeleteMarketplaceListingsByIdExecute(r MarketplaceAPIDeleteMarketplaceListingsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.DeleteMarketplaceListingsById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/listings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MarketplaceAPIGetMarketplaceRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
}

func (r MarketplaceAPIGetMarketplaceRequest) Execute() (*MarketCatalog, *http.Response, error) {
	return r.ApiService.GetMarketplaceExecute(r)
}

/*
GetMarketplace Discover lists every tool and agent the caller can reach in their own org and project, enriched with any public listing's title, category and price, and with installed=true on the ones already activated for that scope.

Discover lists every tool and agent the caller can reach in their own org and
project, enriched with any public listing's title, category and price, and with
installed=true on the ones already activated for that scope. It is the shop
window: one read that answers what exists, what it costs and what is already on.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPIGetMarketplaceRequest
*/
func (a *MarketplaceAPIService) GetMarketplace(ctx context.Context) MarketplaceAPIGetMarketplaceRequest {
	return MarketplaceAPIGetMarketplaceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MarketCatalog
func (a *MarketplaceAPIService) GetMarketplaceExecute(r MarketplaceAPIGetMarketplaceRequest) (*MarketCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MarketCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.GetMarketplace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketplaceAPIGetMarketplaceListingsRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
}

func (r MarketplaceAPIGetMarketplaceListingsRequest) Execute() (*ListingPage, *http.Response, error) {
	return r.ApiService.GetMarketplaceListingsExecute(r)
}

/*
GetMarketplaceListings Returns the listings the caller's own org has published — what this org is offering, not what it can buy.

Returns the listings the caller's own org has published — what this
org is offering, not what it can buy. A publisher only ever sees its own rows.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPIGetMarketplaceListingsRequest
*/
func (a *MarketplaceAPIService) GetMarketplaceListings(ctx context.Context) MarketplaceAPIGetMarketplaceListingsRequest {
	return MarketplaceAPIGetMarketplaceListingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListingPage
func (a *MarketplaceAPIService) GetMarketplaceListingsExecute(r MarketplaceAPIGetMarketplaceListingsRequest) (*ListingPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListingPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.GetMarketplaceListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/listings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketplaceAPIPostMarketplaceInstallRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
	installReq *InstallReq
}

func (r MarketplaceAPIPostMarketplaceInstallRequest) InstallReq(installReq InstallReq) MarketplaceAPIPostMarketplaceInstallRequest {
	r.installReq = &installReq
	return r
}

func (r MarketplaceAPIPostMarketplaceInstallRequest) Execute() (*InstallState, *http.Response, error) {
	return r.ApiService.PostMarketplaceInstallExecute(r)
}

/*
PostMarketplaceInstall Install activates one tool for the caller's own org and project.

Install activates one tool for the caller's own org and project. A marketplace
install IS the tool plane's activation write — one store, one truth — so an
installed capability is immediately dispatchable and a monetized one is priced
from its listing at every call. The tool must resolve in the caller's scope, so
installing something that does not exist is refused rather than recorded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPIPostMarketplaceInstallRequest
*/
func (a *MarketplaceAPIService) PostMarketplaceInstall(ctx context.Context) MarketplaceAPIPostMarketplaceInstallRequest {
	return MarketplaceAPIPostMarketplaceInstallRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InstallState
func (a *MarketplaceAPIService) PostMarketplaceInstallExecute(r MarketplaceAPIPostMarketplaceInstallRequest) (*InstallState, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InstallState
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.PostMarketplaceInstall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/install"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.installReq == nil {
		return localVarReturnValue, nil, reportError("installReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.installReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketplaceAPIPostMarketplaceListingsRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
	publishReq *PublishReq
}

func (r MarketplaceAPIPostMarketplaceListingsRequest) PublishReq(publishReq PublishReq) MarketplaceAPIPostMarketplaceListingsRequest {
	r.publishReq = &publishReq
	return r
}

func (r MarketplaceAPIPostMarketplaceListingsRequest) Execute() (*Listing, *http.Response, error) {
	return r.ApiService.PostMarketplaceListingsExecute(r)
}

/*
PostMarketplaceListings Publish offers one tool on the marketplace, optionally monetized.

Publish offers one tool on the marketplace, optionally monetized. The tool must
already resolve in the publisher's own scope, so a listing can never advertise a
capability that does not exist; a listing with a price must name the payout wallet
the x402 client settles to, so a monetized offer is never unpayable. The price is
exact to 18 decimal places, so a per-call price below a cent is a real price and
not a rounded-away zero. The listing is owned by the publishing org, paid into a
wallet of that same org, and answers 201 with the created row.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPIPostMarketplaceListingsRequest
*/
func (a *MarketplaceAPIService) PostMarketplaceListings(ctx context.Context) MarketplaceAPIPostMarketplaceListingsRequest {
	return MarketplaceAPIPostMarketplaceListingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Listing
func (a *MarketplaceAPIService) PostMarketplaceListingsExecute(r MarketplaceAPIPostMarketplaceListingsRequest) (*Listing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Listing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.PostMarketplaceListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/listings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.publishReq == nil {
		return localVarReturnValue, nil, reportError("publishReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.publishReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MarketplaceAPIPostMarketplaceUninstallRequest struct {
	ctx        context.Context
	ApiService *MarketplaceAPIService
	installReq *InstallReq
}

func (r MarketplaceAPIPostMarketplaceUninstallRequest) InstallReq(installReq InstallReq) MarketplaceAPIPostMarketplaceUninstallRequest {
	r.installReq = &installReq
	return r
}

func (r MarketplaceAPIPostMarketplaceUninstallRequest) Execute() (*InstallState, *http.Response, error) {
	return r.ApiService.PostMarketplaceUninstallExecute(r)
}

/*
PostMarketplaceUninstall Uninstall deactivates one tool for the caller's own org and project, so it stops being dispatchable there.

Uninstall deactivates one tool for the caller's own org and project, so it stops
being dispatchable there. It is the exact inverse of install and touches the same
activation record; deactivating something that was never active is not an error.
The listing itself is untouched — this withdraws the caller's use of a capability,
not anyone's offer of it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MarketplaceAPIPostMarketplaceUninstallRequest
*/
func (a *MarketplaceAPIService) PostMarketplaceUninstall(ctx context.Context) MarketplaceAPIPostMarketplaceUninstallRequest {
	return MarketplaceAPIPostMarketplaceUninstallRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InstallState
func (a *MarketplaceAPIService) PostMarketplaceUninstallExecute(r MarketplaceAPIPostMarketplaceUninstallRequest) (*InstallState, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InstallState
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.PostMarketplaceUninstall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/marketplace/uninstall"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.installReq == nil {
		return localVarReturnValue, nil, reportError("installReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.installReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
