/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CodeAPIService CodeAPI service
type CodeAPIService service

type CodeAPIGetCodeAskRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	q          *string
	repo       *string
}

// Q is the question to answer. Required, max 4000 bytes.
func (r CodeAPIGetCodeAskRequest) Q(q string) CodeAPIGetCodeAskRequest {
	r.q = &q
	return r
}

// Repo narrows retrieval to one repository. Empty searches every repo the org has indexed.
func (r CodeAPIGetCodeAskRequest) Repo(repo string) CodeAPIGetCodeAskRequest {
	r.repo = &repo
	return r
}

func (r CodeAPIGetCodeAskRequest) Execute() (*AskAnswer, *http.Response, error) {
	return r.ApiService.GetCodeAskExecute(r)
}

/*
GetCodeAsk Answers a question about the caller org's code with a CITED answer: retrieval packs grounding context, then the synthesizer writes the answer over exactly those spans, which come back alongside it.

Answers a question about the caller org's code with a CITED answer:
retrieval packs grounding context, then the synthesizer writes the answer over
exactly those spans, which come back alongside it. It never answers without
grounding — with no matched code the answer is empty and says so, and with no
synthesizer available the citations still come back with "degraded": true so
the caller can reason over the spans itself.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIGetCodeAskRequest
*/
func (a *CodeAPIService) GetCodeAsk(ctx context.Context) CodeAPIGetCodeAskRequest {
	return CodeAPIGetCodeAskRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AskAnswer
func (a *CodeAPIService) GetCodeAskExecute(r CodeAPIGetCodeAskRequest) (*AskAnswer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AskAnswer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.GetCodeAsk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/ask"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIGetCodeFileRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	path       *string
	repo       *string
}

// Path is the file&#39;s repo-relative path. Required.
func (r CodeAPIGetCodeFileRequest) Path(path string) CodeAPIGetCodeFileRequest {
	r.path = &path
	return r
}

// Repo is the repository the file belongs to. REQUIRED.
func (r CodeAPIGetCodeFileRequest) Repo(repo string) CodeAPIGetCodeFileRequest {
	r.repo = &repo
	return r
}

func (r CodeAPIGetCodeFileRequest) Execute() (*FileContent, *http.Response, error) {
	return r.ApiService.GetCodeFileExecute(r)
}

/*
GetCodeFile Returns the INDEXED content of one file — read_file over the chunks the search tiers hold, for pulling up code an agent just found.

Returns the INDEXED content of one file — read_file over the chunks the
search tiers hold, for pulling up code an agent just found. It is NOT
byte-verbatim: the git object plane is the source of record for exact bytes,
history and blame. A file absent from the index is a 404, so an agent can tell
"not indexed" from "empty file".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIGetCodeFileRequest
*/
func (a *CodeAPIService) GetCodeFile(ctx context.Context) CodeAPIGetCodeFileRequest {
	return CodeAPIGetCodeFileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileContent
func (a *CodeAPIService) GetCodeFileExecute(r CodeAPIGetCodeFileRequest) (*FileContent, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileContent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.GetCodeFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIGetCodeSearchRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	q          *string
	type_      *string
	repo       *string
	limit      *int32
}

// Q is the search query. Required, max 4000 bytes. For type&#x3D;regex it is a regular expression; for type&#x3D;symbol it is a symbol name.
func (r CodeAPIGetCodeSearchRequest) Q(q string) CodeAPIGetCodeSearchRequest {
	r.q = &q
	return r
}

// Type selects the retrieval tier: \&quot;text\&quot; (FTS5 trigram), \&quot;regex\&quot;, \&quot;symbol\&quot; (definitions), \&quot;semantic\&quot; (embeddings) or \&quot;hybrid\&quot;. Anything else — including empty — reads as hybrid.
func (r CodeAPIGetCodeSearchRequest) Type_(type_ string) CodeAPIGetCodeSearchRequest {
	r.type_ = &type_
	return r
}

// Repo narrows to one repository. Empty searches every repo the org has indexed.
func (r CodeAPIGetCodeSearchRequest) Repo(repo string) CodeAPIGetCodeSearchRequest {
	r.repo = &repo
	return r
}

// Limit caps how many spans come back: default 20, maximum 100. A value that is not a positive integer reads as the default.
func (r CodeAPIGetCodeSearchRequest) Limit(limit int32) CodeAPIGetCodeSearchRequest {
	r.limit = &limit
	return r
}

func (r CodeAPIGetCodeSearchRequest) Execute() (*SearchResults, *http.Response, error) {
	return r.ApiService.GetCodeSearchExecute(r)
}

/*
GetCodeSearch Finds code in the caller org's index across three orthogonal retrieval tiers fused by reciprocal-rank fusion: lexical (FTS5 trigram over code-tokenized text), symbolic (real definition and reference edges), and semantic (embedding cosine over AST-boundary chunks).

Finds code in the caller org's index across three orthogonal retrieval
tiers fused by reciprocal-rank fusion: lexical (FTS5 trigram over
code-tokenized text), symbolic (real definition and reference edges), and
semantic (embedding cosine over AST-boundary chunks). Pick one tier with
`type`, or leave it to run all three as hybrid, which is what a coding agent
usually wants. It is FAIL-HONEST: a retrieval outage answers 200 with an empty
result set and "degraded": true rather than a 5xx, so an agent degrades instead
of stalling. A malformed regex is a 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIGetCodeSearchRequest
*/
func (a *CodeAPIService) GetCodeSearch(ctx context.Context) CodeAPIGetCodeSearchRequest {
	return CodeAPIGetCodeSearchRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchResults
func (a *CodeAPIService) GetCodeSearchExecute(r CodeAPIGetCodeSearchRequest) (*SearchResults, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchResults
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.GetCodeSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIGetCodeTreeRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	repo       *string
}

// Repo is the repository to walk. REQUIRED — a tree is repo-scoped.
func (r CodeAPIGetCodeTreeRequest) Repo(repo string) CodeAPIGetCodeTreeRequest {
	r.repo = &repo
	return r
}

func (r CodeAPIGetCodeTreeRequest) Execute() (*RepoTree, *http.Response, error) {
	return r.ApiService.GetCodeTreeExecute(r)
}

/*
GetCodeTree Returns one repository's file structure with a per-file symbol count — get_repo_structure over the org's own index, with no git checkout involved.

Returns one repository's file structure with a per-file symbol count —
get_repo_structure over the org's own index, with no git checkout involved. A
repository that has not been indexed answers an empty tree rather than an
error, so an agent can tell "nothing here" without handling a failure.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIGetCodeTreeRequest
*/
func (a *CodeAPIService) GetCodeTree(ctx context.Context) CodeAPIGetCodeTreeRequest {
	return CodeAPIGetCodeTreeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RepoTree
func (a *CodeAPIService) GetCodeTreeExecute(r CodeAPIGetCodeTreeRequest) (*RepoTree, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RepoTree
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.GetCodeTree")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/tree"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.repo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIPostCodeAskRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	askPostIn  *AskPostIn
}

func (r CodeAPIPostCodeAskRequest) AskPostIn(askPostIn AskPostIn) CodeAPIPostCodeAskRequest {
	r.askPostIn = &askPostIn
	return r
}

func (r CodeAPIPostCodeAskRequest) Execute() (*AskAnswer, *http.Response, error) {
	return r.ApiService.PostCodeAskExecute(r)
}

/*
PostCodeAsk Is askGet with the question in the request BODY, for a question too long or too awkward to put in a URL.

Is askGet with the question in the request BODY, for a question too
long or too awkward to put in a URL. `query` and `repo` in the body take
precedence over `?q=` and `?repo=`; either source works alone.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIPostCodeAskRequest
*/
func (a *CodeAPIService) PostCodeAsk(ctx context.Context) CodeAPIPostCodeAskRequest {
	return CodeAPIPostCodeAskRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AskAnswer
func (a *CodeAPIService) PostCodeAskExecute(r CodeAPIPostCodeAskRequest) (*AskAnswer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AskAnswer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.PostCodeAsk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/ask"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.askPostIn == nil {
		return localVarReturnValue, nil, reportError("askPostIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.askPostIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIPostCodeContextRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	contextIn  *ContextIn
}

func (r CodeAPIPostCodeContextRequest) ContextIn(contextIn ContextIn) CodeAPIPostCodeContextRequest {
	r.contextIn = &contextIn
	return r
}

func (r CodeAPIPostCodeContextRequest) Execute() (*ContextBundle, *http.Response, error) {
	return r.ApiService.PostCodeContextExecute(r)
}

/*
PostCodeContext Packs the most relevant code for a query into a token budget — THE primitive for a coding agent that has to decide what to put in a prompt.

Packs the most relevant code for a query into a token budget — THE
primitive for a coding agent that has to decide what to put in a prompt. It
retrieves seed spans, expands each with the definitions it calls and its key
callers, then greedily fills the budget, so the answer is a coherent slice of
the codebase rather than a list of disconnected matches. The top match is
always included, truncated if it alone overflows, so a matched query never
comes back empty. A retrieval outage answers 200 with an empty bundle rather
than a 5xx.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIPostCodeContextRequest
*/
func (a *CodeAPIService) PostCodeContext(ctx context.Context) CodeAPIPostCodeContextRequest {
	return CodeAPIPostCodeContextRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ContextBundle
func (a *CodeAPIService) PostCodeContextExecute(r CodeAPIPostCodeContextRequest) (*ContextBundle, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ContextBundle
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.PostCodeContext")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/context"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contextIn == nil {
		return localVarReturnValue, nil, reportError("contextIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.contextIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIPostCodeIndexRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	indexIn    *IndexIn
}

func (r CodeAPIPostCodeIndexRequest) IndexIn(indexIn IndexIn) CodeAPIPostCodeIndexRequest {
	r.indexIn = &indexIn
	return r
}

func (r CodeAPIPostCodeIndexRequest) Execute() (*IndexResult, *http.Response, error) {
	return r.ApiService.PostCodeIndexExecute(r)
}

/*
PostCodeIndex (re)indexes a repository for the caller's org, incrementally: files whose content hash is unchanged are skipped, so re-sending a whole tree is cheap.

(re)indexes a repository for the caller's org, incrementally: files whose
content hash is unchanged are skipped, so re-sending a whole tree is cheap.
Each file is parsed for symbols, split at AST boundaries and — when the
semantic tier is available — embedded, which is what makes it searchable across
all three retrieval tiers. Pass `prune` to also DELETE indexed files absent
from the request, which turns the call into a full sync; without it the call is
an upsert. The index is written to the caller org's own physically separate
database.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIPostCodeIndexRequest
*/
func (a *CodeAPIService) PostCodeIndex(ctx context.Context) CodeAPIPostCodeIndexRequest {
	return CodeAPIPostCodeIndexRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IndexResult
func (a *CodeAPIService) PostCodeIndexExecute(r CodeAPIPostCodeIndexRequest) (*IndexResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IndexResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.PostCodeIndex")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/index"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.indexIn == nil {
		return localVarReturnValue, nil, reportError("indexIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.indexIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIPostCodeLspCompleteRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	query      *Query
}

func (r CodeAPIPostCodeLspCompleteRequest) Query(query Query) CodeAPIPostCodeLspCompleteRequest {
	r.query = &query
	return r
}

func (r CodeAPIPostCodeLspCompleteRequest) Execute() (*Answer, *http.Response, error) {
	return r.ApiService.PostCodeLspCompleteExecute(r)
}

/*
PostCodeLspComplete Offers the candidates a language server has at a position, typed and resolved through the repository's dependencies rather than guessed from text.

Offers the candidates a language server has at a position, typed and
resolved through the repository's dependencies rather than guessed from text.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIPostCodeLspCompleteRequest
*/
func (a *CodeAPIService) PostCodeLspComplete(ctx context.Context) CodeAPIPostCodeLspCompleteRequest {
	return CodeAPIPostCodeLspCompleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Answer
func (a *CodeAPIService) PostCodeLspCompleteExecute(r CodeAPIPostCodeLspCompleteRequest) (*Answer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Answer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.PostCodeLspComplete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/lsp/complete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.query
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIPostCodeLspDiagnosticsRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	query      *Query
}

func (r CodeAPIPostCodeLspDiagnosticsRequest) Query(query Query) CodeAPIPostCodeLspDiagnosticsRequest {
	r.query = &query
	return r
}

func (r CodeAPIPostCodeLspDiagnosticsRequest) Execute() (*Answer, *http.Response, error) {
	return r.ApiService.PostCodeLspDiagnosticsExecute(r)
}

/*
PostCodeLspDiagnostics Reports every problem the language server finds in one file — compile errors, type errors and lints, each with its span and its severity (1 error, 2 warning, 3 information, 4 hint).

Reports every problem the language server finds in one file —
compile errors, type errors and lints, each with its span and its severity (1
error, 2 warning, 3 information, 4 hint). The position is ignored.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIPostCodeLspDiagnosticsRequest
*/
func (a *CodeAPIService) PostCodeLspDiagnostics(ctx context.Context) CodeAPIPostCodeLspDiagnosticsRequest {
	return CodeAPIPostCodeLspDiagnosticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Answer
func (a *CodeAPIService) PostCodeLspDiagnosticsExecute(r CodeAPIPostCodeLspDiagnosticsRequest) (*Answer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Answer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.PostCodeLspDiagnostics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/lsp/diagnostics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.query
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIPostCodeLspHoverRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	query      *Query
}

func (r CodeAPIPostCodeLspHoverRequest) Query(query Query) CodeAPIPostCodeLspHoverRequest {
	r.query = &query
	return r
}

func (r CodeAPIPostCodeLspHoverRequest) Execute() (*Answer, *http.Response, error) {
	return r.ApiService.PostCodeLspHoverExecute(r)
}

/*
PostCodeLspHover Renders the type and documentation of the symbol at a position, as the language server itself renders it.

Renders the type and documentation of the symbol at a position, as the
language server itself renders it.

Positions are the LSP's: line and character are 0-BASED and character counts
UTF-16 code units, so an editor's 1-based line must have 1 subtracted before it
is sent. The repository is named by slug and is always one in the caller's own
org; rev pins a branch, tag or commit sha, and empty means the default branch.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIPostCodeLspHoverRequest
*/
func (a *CodeAPIService) PostCodeLspHover(ctx context.Context) CodeAPIPostCodeLspHoverRequest {
	return CodeAPIPostCodeLspHoverRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Answer
func (a *CodeAPIService) PostCodeLspHoverExecute(r CodeAPIPostCodeLspHoverRequest) (*Answer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Answer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.PostCodeLspHover")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/lsp/hover"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.query
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIPostCodeLspLocateRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	query      *Query
}

func (r CodeAPIPostCodeLspLocateRequest) Query(query Query) CodeAPIPostCodeLspLocateRequest {
	r.query = &query
	return r
}

func (r CodeAPIPostCodeLspLocateRequest) Execute() (*Answer, *http.Response, error) {
	return r.ApiService.PostCodeLspLocateExecute(r)
}

/*
PostCodeLspLocate Finds where a symbol lives: its definition, its references, its type or its implementations, chosen by relation (definition, reference, type, implementation — empty means definition).

Finds where a symbol lives: its definition, its references, its type or
its implementations, chosen by relation (definition, reference, type,
implementation — empty means definition).

It resolves THROUGH dependencies. An answer whose external flag is set left the
repository, and its path is then the module coordinate it landed in — which is
the question a static index cannot answer and this service exists for.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIPostCodeLspLocateRequest
*/
func (a *CodeAPIService) PostCodeLspLocate(ctx context.Context) CodeAPIPostCodeLspLocateRequest {
	return CodeAPIPostCodeLspLocateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Answer
func (a *CodeAPIService) PostCodeLspLocateExecute(r CodeAPIPostCodeLspLocateRequest) (*Answer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Answer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.PostCodeLspLocate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/lsp/locate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.query
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CodeAPIPostCodeLspSymbolsRequest struct {
	ctx        context.Context
	ApiService *CodeAPIService
	query      *Query
}

func (r CodeAPIPostCodeLspSymbolsRequest) Query(query Query) CodeAPIPostCodeLspSymbolsRequest {
	r.query = &query
	return r
}

func (r CodeAPIPostCodeLspSymbolsRequest) Execute() (*Answer, *http.Response, error) {
	return r.ApiService.PostCodeLspSymbolsExecute(r)
}

/*
PostCodeLspSymbols Outlines one file: every declaration in it, with its kind and its span.

Outlines one file: every declaration in it, with its kind and its span.
The position is ignored — the answer is the whole file.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CodeAPIPostCodeLspSymbolsRequest
*/
func (a *CodeAPIService) PostCodeLspSymbols(ctx context.Context) CodeAPIPostCodeLspSymbolsRequest {
	return CodeAPIPostCodeLspSymbolsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Answer
func (a *CodeAPIService) PostCodeLspSymbolsExecute(r CodeAPIPostCodeLspSymbolsRequest) (*Answer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Answer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodeAPIService.PostCodeLspSymbols")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/code/lsp/symbols"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.query
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
