/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// O11yLogsAPIService O11yLogsAPI service
type O11yLogsAPIService service

type O11yLogsAPIO11yLokiLabelValuesRequest struct {
	ctx        context.Context
	ApiService *O11yLogsAPIService
	name       string
	start      *string
	end        *string
	query      *string
}

func (r O11yLogsAPIO11yLokiLabelValuesRequest) Start(start string) O11yLogsAPIO11yLokiLabelValuesRequest {
	r.start = &start
	return r
}

func (r O11yLogsAPIO11yLokiLabelValuesRequest) End(end string) O11yLogsAPIO11yLokiLabelValuesRequest {
	r.end = &end
	return r
}

// LogQL stream selector to filter
func (r O11yLogsAPIO11yLokiLabelValuesRequest) Query(query string) O11yLogsAPIO11yLokiLabelValuesRequest {
	r.query = &query
	return r
}

func (r O11yLogsAPIO11yLokiLabelValuesRequest) Execute() (*O11yPromLabelValues200Response, *http.Response, error) {
	return r.ApiService.O11yLokiLabelValuesExecute(r)
}

/*
O11yLokiLabelValues Get label values

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return O11yLogsAPIO11yLokiLabelValuesRequest
*/
func (a *O11yLogsAPIService) O11yLokiLabelValues(ctx context.Context, name string) O11yLogsAPIO11yLokiLabelValuesRequest {
	return O11yLogsAPIO11yLokiLabelValuesRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return O11yPromLabelValues200Response
func (a *O11yLogsAPIService) O11yLokiLabelValuesExecute(r O11yLogsAPIO11yLokiLabelValuesRequest) (*O11yPromLabelValues200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yPromLabelValues200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yLogsAPIService.O11yLokiLabelValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/logs/labels/{name}/values"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yLogsAPIO11yLokiLabelsRequest struct {
	ctx        context.Context
	ApiService *O11yLogsAPIService
	start      *string
	end        *string
}

func (r O11yLogsAPIO11yLokiLabelsRequest) Start(start string) O11yLogsAPIO11yLokiLabelsRequest {
	r.start = &start
	return r
}

func (r O11yLogsAPIO11yLokiLabelsRequest) End(end string) O11yLogsAPIO11yLokiLabelsRequest {
	r.end = &end
	return r
}

func (r O11yLogsAPIO11yLokiLabelsRequest) Execute() (*O11yPromLabelValues200Response, *http.Response, error) {
	return r.ApiService.O11yLokiLabelsExecute(r)
}

/*
O11yLokiLabels List log labels

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yLogsAPIO11yLokiLabelsRequest
*/
func (a *O11yLogsAPIService) O11yLokiLabels(ctx context.Context) O11yLogsAPIO11yLokiLabelsRequest {
	return O11yLogsAPIO11yLokiLabelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yPromLabelValues200Response
func (a *O11yLogsAPIService) O11yLokiLabelsExecute(r O11yLogsAPIO11yLokiLabelsRequest) (*O11yPromLabelValues200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yPromLabelValues200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yLogsAPIService.O11yLokiLabels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/logs/labels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yLogsAPIO11yLokiPushRequest struct {
	ctx                context.Context
	ApiService         *O11yLogsAPIService
	o11yLogPushRequest *O11yLogPushRequest
}

func (r O11yLogsAPIO11yLokiPushRequest) O11yLogPushRequest(o11yLogPushRequest O11yLogPushRequest) O11yLogsAPIO11yLokiPushRequest {
	r.o11yLogPushRequest = &o11yLogPushRequest
	return r
}

func (r O11yLogsAPIO11yLokiPushRequest) Execute() (*http.Response, error) {
	return r.ApiService.O11yLokiPushExecute(r)
}

/*
O11yLokiPush Push log entries

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yLogsAPIO11yLokiPushRequest
*/
func (a *O11yLogsAPIService) O11yLokiPush(ctx context.Context) O11yLogsAPIO11yLokiPushRequest {
	return O11yLogsAPIO11yLokiPushRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yLogsAPIService) O11yLokiPushExecute(r O11yLogsAPIO11yLokiPushRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yLogsAPIService.O11yLokiPush")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/logs/push"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.o11yLogPushRequest == nil {
		return nil, reportError("o11yLogPushRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.o11yLogPushRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v O11yError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yLogsAPIO11yLokiQueryRequest struct {
	ctx        context.Context
	ApiService *O11yLogsAPIService
	query      *string
	time       *string
	limit      *int32
	direction  *string
}

// LogQL query expression
func (r O11yLogsAPIO11yLokiQueryRequest) Query(query string) O11yLogsAPIO11yLokiQueryRequest {
	r.query = &query
	return r
}

// Evaluation timestamp (Unix epoch or RFC3339, default now)
func (r O11yLogsAPIO11yLokiQueryRequest) Time(time string) O11yLogsAPIO11yLokiQueryRequest {
	r.time = &time
	return r
}

func (r O11yLogsAPIO11yLokiQueryRequest) Limit(limit int32) O11yLogsAPIO11yLokiQueryRequest {
	r.limit = &limit
	return r
}

func (r O11yLogsAPIO11yLokiQueryRequest) Direction(direction string) O11yLogsAPIO11yLokiQueryRequest {
	r.direction = &direction
	return r
}

func (r O11yLogsAPIO11yLokiQueryRequest) Execute() (*O11yLogQueryResult, *http.Response, error) {
	return r.ApiService.O11yLokiQueryExecute(r)
}

/*
O11yLokiQuery Instant LogQL query

Evaluate a LogQL expression at a single point in time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yLogsAPIO11yLokiQueryRequest
*/
func (a *O11yLogsAPIService) O11yLokiQuery(ctx context.Context) O11yLogsAPIO11yLokiQueryRequest {
	return O11yLogsAPIO11yLokiQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yLogQueryResult
func (a *O11yLogsAPIService) O11yLokiQueryExecute(r O11yLogsAPIO11yLokiQueryRequest) (*O11yLogQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yLogQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yLogsAPIService.O11yLokiQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/logs/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.time != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time", r.time, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	} else {
		var defaultValue string = "backward"
		r.direction = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v O11yError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yLogsAPIO11yLokiQueryRangeRequest struct {
	ctx        context.Context
	ApiService *O11yLogsAPIService
	query      *string
	start      *string
	end        *string
	step       *string
	limit      *int32
	direction  *string
}

func (r O11yLogsAPIO11yLokiQueryRangeRequest) Query(query string) O11yLogsAPIO11yLokiQueryRangeRequest {
	r.query = &query
	return r
}

// Start timestamp (Unix epoch or RFC3339)
func (r O11yLogsAPIO11yLokiQueryRangeRequest) Start(start string) O11yLogsAPIO11yLokiQueryRangeRequest {
	r.start = &start
	return r
}

// End timestamp (Unix epoch or RFC3339)
func (r O11yLogsAPIO11yLokiQueryRangeRequest) End(end string) O11yLogsAPIO11yLokiQueryRangeRequest {
	r.end = &end
	return r
}

// Query step (e.g. 15s, 1m, 5m)
func (r O11yLogsAPIO11yLokiQueryRangeRequest) Step(step string) O11yLogsAPIO11yLokiQueryRangeRequest {
	r.step = &step
	return r
}

func (r O11yLogsAPIO11yLokiQueryRangeRequest) Limit(limit int32) O11yLogsAPIO11yLokiQueryRangeRequest {
	r.limit = &limit
	return r
}

func (r O11yLogsAPIO11yLokiQueryRangeRequest) Direction(direction string) O11yLogsAPIO11yLokiQueryRangeRequest {
	r.direction = &direction
	return r
}

func (r O11yLogsAPIO11yLokiQueryRangeRequest) Execute() (*O11yLogQueryResult, *http.Response, error) {
	return r.ApiService.O11yLokiQueryRangeExecute(r)
}

/*
O11yLokiQueryRange Range LogQL query

Evaluate a LogQL expression over a range of time.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yLogsAPIO11yLokiQueryRangeRequest
*/
func (a *O11yLogsAPIService) O11yLokiQueryRange(ctx context.Context) O11yLogsAPIO11yLokiQueryRangeRequest {
	return O11yLogsAPIO11yLokiQueryRangeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yLogQueryResult
func (a *O11yLogsAPIService) O11yLokiQueryRangeExecute(r O11yLogsAPIO11yLokiQueryRangeRequest) (*O11yLogQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yLogQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yLogsAPIService.O11yLokiQueryRange")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/logs/query_range"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.step != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "step", r.step, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	} else {
		var defaultValue string = "backward"
		r.direction = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v O11yError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yLogsAPIO11yLokiTailRequest struct {
	ctx        context.Context
	ApiService *O11yLogsAPIService
	query      *string
	delayFor   *int32
	limit      *int32
}

// LogQL query expression
func (r O11yLogsAPIO11yLokiTailRequest) Query(query string) O11yLogsAPIO11yLokiTailRequest {
	r.query = &query
	return r
}

// Seconds to delay entries for deduplication
func (r O11yLogsAPIO11yLokiTailRequest) DelayFor(delayFor int32) O11yLogsAPIO11yLokiTailRequest {
	r.delayFor = &delayFor
	return r
}

func (r O11yLogsAPIO11yLokiTailRequest) Limit(limit int32) O11yLogsAPIO11yLokiTailRequest {
	r.limit = &limit
	return r
}

func (r O11yLogsAPIO11yLokiTailRequest) Execute() (*http.Response, error) {
	return r.ApiService.O11yLokiTailExecute(r)
}

/*
O11yLokiTail Live tail logs (WebSocket)

WebSocket endpoint for live log tailing. Upgrade connection
to WebSocket to receive real-time log entries matching the query.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yLogsAPIO11yLokiTailRequest
*/
func (a *O11yLogsAPIService) O11yLokiTail(ctx context.Context) O11yLogsAPIO11yLokiTailRequest {
	return O11yLogsAPIO11yLokiTailRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yLogsAPIService) O11yLokiTailExecute(r O11yLogsAPIO11yLokiTailRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yLogsAPIService.O11yLokiTail")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/logs/tail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.delayFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delay_for", r.delayFor, "form", "")
	} else {
		var defaultValue int32 = 0
		r.delayFor = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v O11yError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
