/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)

// GuardAuditAPIService GuardAuditAPI service
type GuardAuditAPIService service

type GuardAuditAPIGuardGetAuditLogRequest struct {
	ctx        context.Context
	ApiService *GuardAuditAPIService
	userId     *string
	sessionId  *string
	result     *string
	since      *time.Time
	until      *time.Time
	limit      *int32
}

// Filter by user ID
func (r GuardAuditAPIGuardGetAuditLogRequest) UserId(userId string) GuardAuditAPIGuardGetAuditLogRequest {
	r.userId = &userId
	return r
}

// Filter by session ID
func (r GuardAuditAPIGuardGetAuditLogRequest) SessionId(sessionId string) GuardAuditAPIGuardGetAuditLogRequest {
	r.sessionId = &sessionId
	return r
}

// Filter by result type
func (r GuardAuditAPIGuardGetAuditLogRequest) Result(result string) GuardAuditAPIGuardGetAuditLogRequest {
	r.result = &result
	return r
}

// Entries after this timestamp
func (r GuardAuditAPIGuardGetAuditLogRequest) Since(since time.Time) GuardAuditAPIGuardGetAuditLogRequest {
	r.since = &since
	return r
}

// Entries before this timestamp
func (r GuardAuditAPIGuardGetAuditLogRequest) Until(until time.Time) GuardAuditAPIGuardGetAuditLogRequest {
	r.until = &until
	return r
}

func (r GuardAuditAPIGuardGetAuditLogRequest) Limit(limit int32) GuardAuditAPIGuardGetAuditLogRequest {
	r.limit = &limit
	return r
}

func (r GuardAuditAPIGuardGetAuditLogRequest) Execute() (*GuardGetAuditLog200Response, *http.Response, error) {
	return r.ApiService.GuardGetAuditLogExecute(r)
}

/*
GuardGetAuditLog Get audit log

Retrieve audit log entries in JSONL format.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuardAuditAPIGuardGetAuditLogRequest
*/
func (a *GuardAuditAPIService) GuardGetAuditLog(ctx context.Context) GuardAuditAPIGuardGetAuditLogRequest {
	return GuardAuditAPIGuardGetAuditLogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GuardGetAuditLog200Response
func (a *GuardAuditAPIService) GuardGetAuditLogExecute(r GuardAuditAPIGuardGetAuditLogRequest) (*GuardGetAuditLog200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GuardGetAuditLog200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuardAuditAPIService.GuardGetAuditLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guard/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "form", "")
	}
	if r.result != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "result", r.result, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
