/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// FlowSampleDataAPIService FlowSampleDataAPI service
type FlowSampleDataAPIService service

type FlowSampleDataAPIFlowGetSampleDataRequest struct {
	ctx           context.Context
	ApiService    *FlowSampleDataAPIService
	flowId        *string
	flowVersionId *string
	stepName      *string
}

func (r FlowSampleDataAPIFlowGetSampleDataRequest) FlowId(flowId string) FlowSampleDataAPIFlowGetSampleDataRequest {
	r.flowId = &flowId
	return r
}

func (r FlowSampleDataAPIFlowGetSampleDataRequest) FlowVersionId(flowVersionId string) FlowSampleDataAPIFlowGetSampleDataRequest {
	r.flowVersionId = &flowVersionId
	return r
}

func (r FlowSampleDataAPIFlowGetSampleDataRequest) StepName(stepName string) FlowSampleDataAPIFlowGetSampleDataRequest {
	r.stepName = &stepName
	return r
}

func (r FlowSampleDataAPIFlowGetSampleDataRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FlowGetSampleDataExecute(r)
}

/*
FlowGetSampleData Get sample data for a flow step

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowSampleDataAPIFlowGetSampleDataRequest
*/
func (a *FlowSampleDataAPIService) FlowGetSampleData(ctx context.Context) FlowSampleDataAPIFlowGetSampleDataRequest {
	return FlowSampleDataAPIFlowGetSampleDataRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *FlowSampleDataAPIService) FlowGetSampleDataExecute(r FlowSampleDataAPIFlowGetSampleDataRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowSampleDataAPIService.FlowGetSampleData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/sample-data"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowId == nil {
		return localVarReturnValue, nil, reportError("flowId is required and must be specified")
	}
	if r.flowVersionId == nil {
		return localVarReturnValue, nil, reportError("flowVersionId is required and must be specified")
	}
	if r.stepName == nil {
		return localVarReturnValue, nil, reportError("stepName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", r.flowId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "flowVersionId", r.flowVersionId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "stepName", r.stepName, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FlowSampleDataAPIFlowSaveSampleDataRequest struct {
	ctx                       context.Context
	ApiService                *FlowSampleDataAPIService
	flowSaveSampleDataRequest *FlowSaveSampleDataRequest
}

func (r FlowSampleDataAPIFlowSaveSampleDataRequest) FlowSaveSampleDataRequest(flowSaveSampleDataRequest FlowSaveSampleDataRequest) FlowSampleDataAPIFlowSaveSampleDataRequest {
	r.flowSaveSampleDataRequest = &flowSaveSampleDataRequest
	return r
}

func (r FlowSampleDataAPIFlowSaveSampleDataRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.FlowSaveSampleDataExecute(r)
}

/*
FlowSaveSampleData Save sample data for a flow step

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FlowSampleDataAPIFlowSaveSampleDataRequest
*/
func (a *FlowSampleDataAPIService) FlowSaveSampleData(ctx context.Context) FlowSampleDataAPIFlowSaveSampleDataRequest {
	return FlowSampleDataAPIFlowSaveSampleDataRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *FlowSampleDataAPIService) FlowSaveSampleDataExecute(r FlowSampleDataAPIFlowSaveSampleDataRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowSampleDataAPIService.FlowSaveSampleData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/flow/sample-data"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowSaveSampleDataRequest == nil {
		return localVarReturnValue, nil, reportError("flowSaveSampleDataRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.flowSaveSampleDataRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
