/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SearchTasksAPIService SearchTasksAPI service
type SearchTasksAPIService service

type SearchTasksAPISearchCancelTasksRequest struct {
	ctx        context.Context
	ApiService *SearchTasksAPIService
	uids       *string
	statuses   *string
	types      *string
	indexUids  *string
}

func (r SearchTasksAPISearchCancelTasksRequest) Uids(uids string) SearchTasksAPISearchCancelTasksRequest {
	r.uids = &uids
	return r
}

func (r SearchTasksAPISearchCancelTasksRequest) Statuses(statuses string) SearchTasksAPISearchCancelTasksRequest {
	r.statuses = &statuses
	return r
}

func (r SearchTasksAPISearchCancelTasksRequest) Types(types string) SearchTasksAPISearchCancelTasksRequest {
	r.types = &types
	return r
}

func (r SearchTasksAPISearchCancelTasksRequest) IndexUids(indexUids string) SearchTasksAPISearchCancelTasksRequest {
	r.indexUids = &indexUids
	return r
}

func (r SearchTasksAPISearchCancelTasksRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchCancelTasksExecute(r)
}

/*
SearchCancelTasks Cancel enqueued or processing tasks

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SearchTasksAPISearchCancelTasksRequest
*/
func (a *SearchTasksAPIService) SearchCancelTasks(ctx context.Context) SearchTasksAPISearchCancelTasksRequest {
	return SearchTasksAPISearchCancelTasksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchTasksAPIService) SearchCancelTasksExecute(r SearchTasksAPISearchCancelTasksRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchTasksAPIService.SearchCancelTasks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/tasks/cancel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.uids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uids", r.uids, "form", "")
	}
	if r.statuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", r.statuses, "form", "")
	}
	if r.types != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "types", r.types, "form", "")
	}
	if r.indexUids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "indexUids", r.indexUids, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchTasksAPISearchDeleteTasksRequest struct {
	ctx        context.Context
	ApiService *SearchTasksAPIService
	uids       *string
	statuses   *string
	types      *string
	indexUids  *string
}

func (r SearchTasksAPISearchDeleteTasksRequest) Uids(uids string) SearchTasksAPISearchDeleteTasksRequest {
	r.uids = &uids
	return r
}

func (r SearchTasksAPISearchDeleteTasksRequest) Statuses(statuses string) SearchTasksAPISearchDeleteTasksRequest {
	r.statuses = &statuses
	return r
}

func (r SearchTasksAPISearchDeleteTasksRequest) Types(types string) SearchTasksAPISearchDeleteTasksRequest {
	r.types = &types
	return r
}

func (r SearchTasksAPISearchDeleteTasksRequest) IndexUids(indexUids string) SearchTasksAPISearchDeleteTasksRequest {
	r.indexUids = &indexUids
	return r
}

func (r SearchTasksAPISearchDeleteTasksRequest) Execute() (*SearchSummarizedTaskView, *http.Response, error) {
	return r.ApiService.SearchDeleteTasksExecute(r)
}

/*
SearchDeleteTasks Delete completed tasks

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SearchTasksAPISearchDeleteTasksRequest
*/
func (a *SearchTasksAPIService) SearchDeleteTasks(ctx context.Context) SearchTasksAPISearchDeleteTasksRequest {
	return SearchTasksAPISearchDeleteTasksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchSummarizedTaskView
func (a *SearchTasksAPIService) SearchDeleteTasksExecute(r SearchTasksAPISearchDeleteTasksRequest) (*SearchSummarizedTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchSummarizedTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchTasksAPIService.SearchDeleteTasks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/tasks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.uids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uids", r.uids, "form", "")
	}
	if r.statuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", r.statuses, "form", "")
	}
	if r.types != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "types", r.types, "form", "")
	}
	if r.indexUids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "indexUids", r.indexUids, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchTasksAPISearchGetTaskRequest struct {
	ctx        context.Context
	ApiService *SearchTasksAPIService
	taskUid    int32
}

func (r SearchTasksAPISearchGetTaskRequest) Execute() (*SearchTaskView, *http.Response, error) {
	return r.ApiService.SearchGetTaskExecute(r)
}

/*
SearchGetTask Get task details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param taskUid
	@return SearchTasksAPISearchGetTaskRequest
*/
func (a *SearchTasksAPIService) SearchGetTask(ctx context.Context, taskUid int32) SearchTasksAPISearchGetTaskRequest {
	return SearchTasksAPISearchGetTaskRequest{
		ApiService: a,
		ctx:        ctx,
		taskUid:    taskUid,
	}
}

// Execute executes the request
//
//	@return SearchTaskView
func (a *SearchTasksAPIService) SearchGetTaskExecute(r SearchTasksAPISearchGetTaskRequest) (*SearchTaskView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchTaskView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchTasksAPIService.SearchGetTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/tasks/{taskUid}"
	localVarPath = strings.Replace(localVarPath, "{"+"taskUid"+"}", url.PathEscape(parameterValueToString(r.taskUid, "taskUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v SearchResponseError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SearchTasksAPISearchListTasksRequest struct {
	ctx        context.Context
	ApiService *SearchTasksAPIService
	limit      *int32
	from       *int32
	uids       *string
	statuses   *string
	types      *string
	indexUids  *string
}

func (r SearchTasksAPISearchListTasksRequest) Limit(limit int32) SearchTasksAPISearchListTasksRequest {
	r.limit = &limit
	return r
}

// Task UID to start from
func (r SearchTasksAPISearchListTasksRequest) From(from int32) SearchTasksAPISearchListTasksRequest {
	r.from = &from
	return r
}

// Comma-separated task UIDs
func (r SearchTasksAPISearchListTasksRequest) Uids(uids string) SearchTasksAPISearchListTasksRequest {
	r.uids = &uids
	return r
}

// Comma-separated statuses (enqueued, processing, succeeded, failed, canceled)
func (r SearchTasksAPISearchListTasksRequest) Statuses(statuses string) SearchTasksAPISearchListTasksRequest {
	r.statuses = &statuses
	return r
}

// Comma-separated task types
func (r SearchTasksAPISearchListTasksRequest) Types(types string) SearchTasksAPISearchListTasksRequest {
	r.types = &types
	return r
}

// Comma-separated index UIDs
func (r SearchTasksAPISearchListTasksRequest) IndexUids(indexUids string) SearchTasksAPISearchListTasksRequest {
	r.indexUids = &indexUids
	return r
}

func (r SearchTasksAPISearchListTasksRequest) Execute() (*SearchListTasks200Response, *http.Response, error) {
	return r.ApiService.SearchListTasksExecute(r)
}

/*
SearchListTasks List all tasks

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SearchTasksAPISearchListTasksRequest
*/
func (a *SearchTasksAPIService) SearchListTasks(ctx context.Context) SearchTasksAPISearchListTasksRequest {
	return SearchTasksAPISearchListTasksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchListTasks200Response
func (a *SearchTasksAPIService) SearchListTasksExecute(r SearchTasksAPISearchListTasksRequest) (*SearchListTasks200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchListTasks200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchTasksAPIService.SearchListTasks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/tasks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.uids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uids", r.uids, "form", "")
	}
	if r.statuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", r.statuses, "form", "")
	}
	if r.types != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "types", r.types, "form", "")
	}
	if r.indexUids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "indexUids", r.indexUids, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
