/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SessionsAPIService SessionsAPI service
type SessionsAPIService service

type SessionsAPIAiAddSessionRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	body       *map[string]interface{}
}

func (r SessionsAPIAiAddSessionRequest) Body(body map[string]interface{}) SessionsAPIAiAddSessionRequest {
	r.body = &body
	return r
}

func (r SessionsAPIAiAddSessionRequest) Execute() (*AiEnvelope, *http.Response, error) {
	return r.ApiService.AiAddSessionExecute(r)
}

/*
AiAddSession Create a session

Create one session.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SessionsAPIAiAddSessionRequest
*/
func (a *SessionsAPIService) AiAddSession(ctx context.Context) SessionsAPIAiAddSessionRequest {
	return SessionsAPIAiAddSessionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AiEnvelope
func (a *SessionsAPIService) AiAddSessionExecute(r SessionsAPIAiAddSessionRequest) (*AiEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AiEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AiAddSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ai/sessions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAiDeleteSessionRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	owner      string
	name       string
}

func (r SessionsAPIAiDeleteSessionRequest) Execute() (*AiEnvelope, *http.Response, error) {
	return r.ApiService.AiDeleteSessionExecute(r)
}

/*
AiDeleteSession Delete a session

Delete one session.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param owner Owning organization.
	@param name Resource name, unique within the owner.
	@return SessionsAPIAiDeleteSessionRequest
*/
func (a *SessionsAPIService) AiDeleteSession(ctx context.Context, owner string, name string) SessionsAPIAiDeleteSessionRequest {
	return SessionsAPIAiDeleteSessionRequest{
		ApiService: a,
		ctx:        ctx,
		owner:      owner,
		name:       name,
	}
}

// Execute executes the request
//
//	@return AiEnvelope
func (a *SessionsAPIService) AiDeleteSessionExecute(r SessionsAPIAiDeleteSessionRequest) (*AiEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AiEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AiDeleteSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ai/sessions/{owner}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"owner"+"}", url.PathEscape(parameterValueToString(r.owner, "owner")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAiGetSessionRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	owner      string
	name       string
}

func (r SessionsAPIAiGetSessionRequest) Execute() (*AiEnvelope, *http.Response, error) {
	return r.ApiService.AiGetSessionExecute(r)
}

/*
AiGetSession Retrieve a session

Read one session by its (owner, name) key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param owner Owning organization.
	@param name Resource name, unique within the owner.
	@return SessionsAPIAiGetSessionRequest
*/
func (a *SessionsAPIService) AiGetSession(ctx context.Context, owner string, name string) SessionsAPIAiGetSessionRequest {
	return SessionsAPIAiGetSessionRequest{
		ApiService: a,
		ctx:        ctx,
		owner:      owner,
		name:       name,
	}
}

// Execute executes the request
//
//	@return AiEnvelope
func (a *SessionsAPIService) AiGetSessionExecute(r SessionsAPIAiGetSessionRequest) (*AiEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AiEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AiGetSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ai/sessions/{owner}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"owner"+"}", url.PathEscape(parameterValueToString(r.owner, "owner")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAiGetSessionsRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
}

func (r SessionsAPIAiGetSessionsRequest) Execute() (*AiEnvelope, *http.Response, error) {
	return r.ApiService.AiGetSessionsExecute(r)
}

/*
AiGetSessions List sessions

List the caller's sessions.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SessionsAPIAiGetSessionsRequest
*/
func (a *SessionsAPIService) AiGetSessions(ctx context.Context) SessionsAPIAiGetSessionsRequest {
	return SessionsAPIAiGetSessionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AiEnvelope
func (a *SessionsAPIService) AiGetSessionsExecute(r SessionsAPIAiGetSessionsRequest) (*AiEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AiEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AiGetSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ai/sessions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAiIsSessionDuplicatedRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
}

func (r SessionsAPIAiIsSessionDuplicatedRequest) Execute() (*AiEnvelope, *http.Response, error) {
	return r.ApiService.AiIsSessionDuplicatedExecute(r)
}

/*
AiIsSessionDuplicated Duplicated (session)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SessionsAPIAiIsSessionDuplicatedRequest
*/
func (a *SessionsAPIService) AiIsSessionDuplicated(ctx context.Context) SessionsAPIAiIsSessionDuplicatedRequest {
	return SessionsAPIAiIsSessionDuplicatedRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AiEnvelope
func (a *SessionsAPIService) AiIsSessionDuplicatedExecute(r SessionsAPIAiIsSessionDuplicatedRequest) (*AiEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AiEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AiIsSessionDuplicated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ai/sessions/duplicated"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAiReplaceSessionRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	owner      string
	name       string
	body       *map[string]interface{}
}

func (r SessionsAPIAiReplaceSessionRequest) Body(body map[string]interface{}) SessionsAPIAiReplaceSessionRequest {
	r.body = &body
	return r
}

func (r SessionsAPIAiReplaceSessionRequest) Execute() (*AiEnvelope, *http.Response, error) {
	return r.ApiService.AiReplaceSessionExecute(r)
}

/*
AiReplaceSession Replace a session

Identical to PATCH — the handler takes a whole object either way.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param owner Owning organization.
	@param name Resource name, unique within the owner.
	@return SessionsAPIAiReplaceSessionRequest
*/
func (a *SessionsAPIService) AiReplaceSession(ctx context.Context, owner string, name string) SessionsAPIAiReplaceSessionRequest {
	return SessionsAPIAiReplaceSessionRequest{
		ApiService: a,
		ctx:        ctx,
		owner:      owner,
		name:       name,
	}
}

// Execute executes the request
//
//	@return AiEnvelope
func (a *SessionsAPIService) AiReplaceSessionExecute(r SessionsAPIAiReplaceSessionRequest) (*AiEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AiEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AiReplaceSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ai/sessions/{owner}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"owner"+"}", url.PathEscape(parameterValueToString(r.owner, "owner")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAiUpdateSessionRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	owner      string
	name       string
	body       *map[string]interface{}
}

func (r SessionsAPIAiUpdateSessionRequest) Body(body map[string]interface{}) SessionsAPIAiUpdateSessionRequest {
	r.body = &body
	return r
}

func (r SessionsAPIAiUpdateSessionRequest) Execute() (*AiEnvelope, *http.Response, error) {
	return r.ApiService.AiUpdateSessionExecute(r)
}

/*
AiUpdateSession Update a session

Update one session. PATCH and PUT reach the same handler, which has always taken a whole object.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param owner Owning organization.
	@param name Resource name, unique within the owner.
	@return SessionsAPIAiUpdateSessionRequest
*/
func (a *SessionsAPIService) AiUpdateSession(ctx context.Context, owner string, name string) SessionsAPIAiUpdateSessionRequest {
	return SessionsAPIAiUpdateSessionRequest{
		ApiService: a,
		ctx:        ctx,
		owner:      owner,
		name:       name,
	}
}

// Execute executes the request
//
//	@return AiEnvelope
func (a *SessionsAPIService) AiUpdateSessionExecute(r SessionsAPIAiUpdateSessionRequest) (*AiEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AiEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AiUpdateSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ai/sessions/{owner}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"owner"+"}", url.PathEscape(parameterValueToString(r.owner, "owner")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAnalyticsGetSessionRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	websiteId  string
	sessionId  string
}

func (r SessionsAPIAnalyticsGetSessionRequest) Execute() (*AnalyticsSession, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionExecute(r)
}

/*
AnalyticsGetSession Get a single session by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@param sessionId
	@return SessionsAPIAnalyticsGetSessionRequest
*/
func (a *SessionsAPIService) AnalyticsGetSession(ctx context.Context, websiteId string, sessionId string) SessionsAPIAnalyticsGetSessionRequest {
	return SessionsAPIAnalyticsGetSessionRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return AnalyticsSession
func (a *SessionsAPIService) AnalyticsGetSessionExecute(r SessionsAPIAnalyticsGetSessionRequest) (*AnalyticsSession, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsSession
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AnalyticsGetSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAnalyticsGetSessionActivityRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	websiteId  string
	sessionId  string
	startAt    *int64
	endAt      *int64
}

// Start timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionActivityRequest) StartAt(startAt int64) SessionsAPIAnalyticsGetSessionActivityRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionActivityRequest) EndAt(endAt int64) SessionsAPIAnalyticsGetSessionActivityRequest {
	r.endAt = &endAt
	return r
}

func (r SessionsAPIAnalyticsGetSessionActivityRequest) Execute() ([]AnalyticsGetSessionActivity200ResponseInner, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionActivityExecute(r)
}

/*
AnalyticsGetSessionActivity Get activity log for a session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@param sessionId
	@return SessionsAPIAnalyticsGetSessionActivityRequest
*/
func (a *SessionsAPIService) AnalyticsGetSessionActivity(ctx context.Context, websiteId string, sessionId string) SessionsAPIAnalyticsGetSessionActivityRequest {
	return SessionsAPIAnalyticsGetSessionActivityRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsGetSessionActivity200ResponseInner
func (a *SessionsAPIService) AnalyticsGetSessionActivityExecute(r SessionsAPIAnalyticsGetSessionActivityRequest) ([]AnalyticsGetSessionActivity200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsGetSessionActivity200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AnalyticsGetSessionActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/{sessionId}/activity"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAnalyticsGetSessionDataPropertiesRequest struct {
	ctx          context.Context
	ApiService   *SessionsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	propertyName *string
}

// Start timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionDataPropertiesRequest) StartAt(startAt int64) SessionsAPIAnalyticsGetSessionDataPropertiesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionDataPropertiesRequest) EndAt(endAt int64) SessionsAPIAnalyticsGetSessionDataPropertiesRequest {
	r.endAt = &endAt
	return r
}

func (r SessionsAPIAnalyticsGetSessionDataPropertiesRequest) PropertyName(propertyName string) SessionsAPIAnalyticsGetSessionDataPropertiesRequest {
	r.propertyName = &propertyName
	return r
}

func (r SessionsAPIAnalyticsGetSessionDataPropertiesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionDataPropertiesExecute(r)
}

/*
AnalyticsGetSessionDataProperties Get distinct session data property names

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return SessionsAPIAnalyticsGetSessionDataPropertiesRequest
*/
func (a *SessionsAPIService) AnalyticsGetSessionDataProperties(ctx context.Context, websiteId string) SessionsAPIAnalyticsGetSessionDataPropertiesRequest {
	return SessionsAPIAnalyticsGetSessionDataPropertiesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *SessionsAPIService) AnalyticsGetSessionDataPropertiesExecute(r SessionsAPIAnalyticsGetSessionDataPropertiesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AnalyticsGetSessionDataProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/session-data/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAnalyticsGetSessionDataValuesRequest struct {
	ctx          context.Context
	ApiService   *SessionsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	propertyName *string
}

// Start timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionDataValuesRequest) StartAt(startAt int64) SessionsAPIAnalyticsGetSessionDataValuesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionDataValuesRequest) EndAt(endAt int64) SessionsAPIAnalyticsGetSessionDataValuesRequest {
	r.endAt = &endAt
	return r
}

func (r SessionsAPIAnalyticsGetSessionDataValuesRequest) PropertyName(propertyName string) SessionsAPIAnalyticsGetSessionDataValuesRequest {
	r.propertyName = &propertyName
	return r
}

func (r SessionsAPIAnalyticsGetSessionDataValuesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionDataValuesExecute(r)
}

/*
AnalyticsGetSessionDataValues Get session data values for a property

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return SessionsAPIAnalyticsGetSessionDataValuesRequest
*/
func (a *SessionsAPIService) AnalyticsGetSessionDataValues(ctx context.Context, websiteId string) SessionsAPIAnalyticsGetSessionDataValuesRequest {
	return SessionsAPIAnalyticsGetSessionDataValuesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *SessionsAPIService) AnalyticsGetSessionDataValuesExecute(r SessionsAPIAnalyticsGetSessionDataValuesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AnalyticsGetSessionDataValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/session-data/values"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAnalyticsGetSessionPropertiesRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	websiteId  string
	sessionId  string
}

func (r SessionsAPIAnalyticsGetSessionPropertiesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionPropertiesExecute(r)
}

/*
AnalyticsGetSessionProperties Get custom session data properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@param sessionId
	@return SessionsAPIAnalyticsGetSessionPropertiesRequest
*/
func (a *SessionsAPIService) AnalyticsGetSessionProperties(ctx context.Context, websiteId string, sessionId string) SessionsAPIAnalyticsGetSessionPropertiesRequest {
	return SessionsAPIAnalyticsGetSessionPropertiesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *SessionsAPIService) AnalyticsGetSessionPropertiesExecute(r SessionsAPIAnalyticsGetSessionPropertiesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AnalyticsGetSessionProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/{sessionId}/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAnalyticsGetSessionStatsRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	url        *string
	referrer   *string
	title      *string
	os         *string
	browser    *string
	device     *string
	country    *string
	region     *string
	city       *string
	tag        *string
	host       *string
	language   *string
	event      *string
}

// Start timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionStatsRequest) StartAt(startAt int64) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionStatsRequest) EndAt(endAt int64) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.endAt = &endAt
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Url(url string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.url = &url
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Referrer(referrer string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.referrer = &referrer
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Title(title string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.title = &title
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Os(os string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.os = &os
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Browser(browser string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.browser = &browser
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Device(device string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.device = &device
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Country(country string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.country = &country
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Region(region string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.region = &region
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) City(city string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.city = &city
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Tag(tag string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.tag = &tag
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Host(host string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.host = &host
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Language(language string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.language = &language
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Event(event string) SessionsAPIAnalyticsGetSessionStatsRequest {
	r.event = &event
	return r
}

func (r SessionsAPIAnalyticsGetSessionStatsRequest) Execute() (*map[string]AnalyticsGetSessionStats200ResponseValue, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionStatsExecute(r)
}

/*
AnalyticsGetSessionStats Get aggregate session statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return SessionsAPIAnalyticsGetSessionStatsRequest
*/
func (a *SessionsAPIService) AnalyticsGetSessionStats(ctx context.Context, websiteId string) SessionsAPIAnalyticsGetSessionStatsRequest {
	return SessionsAPIAnalyticsGetSessionStatsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return map[string]AnalyticsGetSessionStats200ResponseValue
func (a *SessionsAPIService) AnalyticsGetSessionStatsExecute(r SessionsAPIAnalyticsGetSessionStatsRequest) (*map[string]AnalyticsGetSessionStats200ResponseValue, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *map[string]AnalyticsGetSessionStats200ResponseValue
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AnalyticsGetSessionStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.referrer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referrer", r.referrer, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAnalyticsGetSessionsRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

// Start timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionsRequest) StartAt(startAt int64) SessionsAPIAnalyticsGetSessionsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionsRequest) EndAt(endAt int64) SessionsAPIAnalyticsGetSessionsRequest {
	r.endAt = &endAt
	return r
}

func (r SessionsAPIAnalyticsGetSessionsRequest) Page(page int32) SessionsAPIAnalyticsGetSessionsRequest {
	r.page = &page
	return r
}

func (r SessionsAPIAnalyticsGetSessionsRequest) PageSize(pageSize int32) SessionsAPIAnalyticsGetSessionsRequest {
	r.pageSize = &pageSize
	return r
}

func (r SessionsAPIAnalyticsGetSessionsRequest) OrderBy(orderBy string) SessionsAPIAnalyticsGetSessionsRequest {
	r.orderBy = &orderBy
	return r
}

func (r SessionsAPIAnalyticsGetSessionsRequest) Search(search string) SessionsAPIAnalyticsGetSessionsRequest {
	r.search = &search
	return r
}

func (r SessionsAPIAnalyticsGetSessionsRequest) Execute() ([]AnalyticsSession, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionsExecute(r)
}

/*
AnalyticsGetSessions Get paginated list of sessions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return SessionsAPIAnalyticsGetSessionsRequest
*/
func (a *SessionsAPIService) AnalyticsGetSessions(ctx context.Context, websiteId string) SessionsAPIAnalyticsGetSessionsRequest {
	return SessionsAPIAnalyticsGetSessionsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsSession
func (a *SessionsAPIService) AnalyticsGetSessionsExecute(r SessionsAPIAnalyticsGetSessionsRequest) ([]AnalyticsSession, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsSession
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AnalyticsGetSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIAnalyticsGetSessionsWeeklyRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	timezone   *string
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

// Start timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionsWeeklyRequest) StartAt(startAt int64) SessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r SessionsAPIAnalyticsGetSessionsWeeklyRequest) EndAt(endAt int64) SessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.endAt = &endAt
	return r
}

func (r SessionsAPIAnalyticsGetSessionsWeeklyRequest) Timezone(timezone string) SessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.timezone = &timezone
	return r
}

func (r SessionsAPIAnalyticsGetSessionsWeeklyRequest) Page(page int32) SessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.page = &page
	return r
}

func (r SessionsAPIAnalyticsGetSessionsWeeklyRequest) PageSize(pageSize int32) SessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.pageSize = &pageSize
	return r
}

func (r SessionsAPIAnalyticsGetSessionsWeeklyRequest) OrderBy(orderBy string) SessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.orderBy = &orderBy
	return r
}

func (r SessionsAPIAnalyticsGetSessionsWeeklyRequest) Search(search string) SessionsAPIAnalyticsGetSessionsWeeklyRequest {
	r.search = &search
	return r
}

func (r SessionsAPIAnalyticsGetSessionsWeeklyRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetSessionsWeeklyExecute(r)
}

/*
AnalyticsGetSessionsWeekly Get weekly session breakdown

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return SessionsAPIAnalyticsGetSessionsWeeklyRequest
*/
func (a *SessionsAPIService) AnalyticsGetSessionsWeekly(ctx context.Context, websiteId string) SessionsAPIAnalyticsGetSessionsWeeklyRequest {
	return SessionsAPIAnalyticsGetSessionsWeeklyRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *SessionsAPIService) AnalyticsGetSessionsWeeklyExecute(r SessionsAPIAnalyticsGetSessionsWeeklyRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.AnalyticsGetSessionsWeekly")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/sessions/weekly"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIIamApiControllerAddSessionRequest struct {
	ctx              context.Context
	ApiService       *SessionsAPIService
	iamObjectSession *IamObjectSession
}

// The session object to add
func (r SessionsAPIIamApiControllerAddSessionRequest) IamObjectSession(iamObjectSession IamObjectSession) SessionsAPIIamApiControllerAddSessionRequest {
	r.iamObjectSession = &iamObjectSession
	return r
}

func (r SessionsAPIIamApiControllerAddSessionRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerAddSessionExecute(r)
}

/*
IamApiControllerAddSession Api Controller Add Session

Add session for one user in one application. If there are other existing sessions, join the session into the list.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SessionsAPIIamApiControllerAddSessionRequest
*/
func (a *SessionsAPIService) IamApiControllerAddSession(ctx context.Context) SessionsAPIIamApiControllerAddSessionRequest {
	return SessionsAPIIamApiControllerAddSessionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *SessionsAPIService) IamApiControllerAddSessionExecute(r SessionsAPIIamApiControllerAddSessionRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.IamApiControllerAddSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sessions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectSession == nil {
		return localVarReturnValue, nil, reportError("iamObjectSession is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectSession
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIIamApiControllerDeleteSessionRequest struct {
	ctx              context.Context
	ApiService       *SessionsAPIService
	id               string
	iamObjectSession *IamObjectSession
}

// The session object to delete
func (r SessionsAPIIamApiControllerDeleteSessionRequest) IamObjectSession(iamObjectSession IamObjectSession) SessionsAPIIamApiControllerDeleteSessionRequest {
	r.iamObjectSession = &iamObjectSession
	return r
}

func (r SessionsAPIIamApiControllerDeleteSessionRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteSessionExecute(r)
}

/*
IamApiControllerDeleteSession Api Controller Delete Session

Delete session for one user in one application.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return SessionsAPIIamApiControllerDeleteSessionRequest
*/
func (a *SessionsAPIService) IamApiControllerDeleteSession(ctx context.Context, id string) SessionsAPIIamApiControllerDeleteSessionRequest {
	return SessionsAPIIamApiControllerDeleteSessionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *SessionsAPIService) IamApiControllerDeleteSessionExecute(r SessionsAPIIamApiControllerDeleteSessionRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.IamApiControllerDeleteSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sessions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectSession == nil {
		return localVarReturnValue, nil, reportError("iamObjectSession is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectSession
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIIamApiControllerGetSessionsRequest struct {
	ctx        context.Context
	ApiService *SessionsAPIService
	owner      *string
}

// The organization name
func (r SessionsAPIIamApiControllerGetSessionsRequest) Owner(owner string) SessionsAPIIamApiControllerGetSessionsRequest {
	r.owner = &owner
	return r
}

func (r SessionsAPIIamApiControllerGetSessionsRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.IamApiControllerGetSessionsExecute(r)
}

/*
IamApiControllerGetSessions Api Controller Get Sessions

Get organization user sessions.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SessionsAPIIamApiControllerGetSessionsRequest
*/
func (a *SessionsAPIService) IamApiControllerGetSessions(ctx context.Context) SessionsAPIIamApiControllerGetSessionsRequest {
	return SessionsAPIIamApiControllerGetSessionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []string
func (a *SessionsAPIService) IamApiControllerGetSessionsExecute(r SessionsAPIIamApiControllerGetSessionsRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.IamApiControllerGetSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sessions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIIamApiControllerGetSingleSessionRequest struct {
	ctx         context.Context
	ApiService  *SessionsAPIService
	sessionPkId *string
	id          string
}

// The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)
func (r SessionsAPIIamApiControllerGetSingleSessionRequest) SessionPkId(sessionPkId string) SessionsAPIIamApiControllerGetSingleSessionRequest {
	r.sessionPkId = &sessionPkId
	return r
}

func (r SessionsAPIIamApiControllerGetSingleSessionRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.IamApiControllerGetSingleSessionExecute(r)
}

/*
IamApiControllerGetSingleSession Api Controller Get Single Session

Get session for one user in one application.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return SessionsAPIIamApiControllerGetSingleSessionRequest
*/
func (a *SessionsAPIService) IamApiControllerGetSingleSession(ctx context.Context, id string) SessionsAPIIamApiControllerGetSingleSessionRequest {
	return SessionsAPIIamApiControllerGetSingleSessionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return []string
func (a *SessionsAPIService) IamApiControllerGetSingleSessionExecute(r SessionsAPIIamApiControllerGetSingleSessionRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.IamApiControllerGetSingleSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sessions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sessionPkId == nil {
		return localVarReturnValue, nil, reportError("sessionPkId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "sessionPkId", r.sessionPkId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIIamApiControllerIsSessionDuplicatedRequest struct {
	ctx         context.Context
	ApiService  *SessionsAPIService
	sessionPkId *string
	sessionId   *string
}

// The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)
func (r SessionsAPIIamApiControllerIsSessionDuplicatedRequest) SessionPkId(sessionPkId string) SessionsAPIIamApiControllerIsSessionDuplicatedRequest {
	r.sessionPkId = &sessionPkId
	return r
}

// The specific session ID to check
func (r SessionsAPIIamApiControllerIsSessionDuplicatedRequest) SessionId(sessionId string) SessionsAPIIamApiControllerIsSessionDuplicatedRequest {
	r.sessionId = &sessionId
	return r
}

func (r SessionsAPIIamApiControllerIsSessionDuplicatedRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.IamApiControllerIsSessionDuplicatedExecute(r)
}

/*
IamApiControllerIsSessionDuplicated Api Controller Is Session Duplicated

Check if there are other different sessions for one user in one application.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SessionsAPIIamApiControllerIsSessionDuplicatedRequest
*/
func (a *SessionsAPIService) IamApiControllerIsSessionDuplicated(ctx context.Context) SessionsAPIIamApiControllerIsSessionDuplicatedRequest {
	return SessionsAPIIamApiControllerIsSessionDuplicatedRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []string
func (a *SessionsAPIService) IamApiControllerIsSessionDuplicatedExecute(r SessionsAPIIamApiControllerIsSessionDuplicatedRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.IamApiControllerIsSessionDuplicated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/is-session-duplicated"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sessionPkId == nil {
		return localVarReturnValue, nil, reportError("sessionPkId is required and must be specified")
	}
	if r.sessionId == nil {
		return localVarReturnValue, nil, reportError("sessionId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "sessionPkId", r.sessionPkId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "sessionId", r.sessionId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionsAPIIamApiControllerUpdateSessionRequest struct {
	ctx              context.Context
	ApiService       *SessionsAPIService
	id               string
	iamObjectSession *IamObjectSession
}

// The session object to update
func (r SessionsAPIIamApiControllerUpdateSessionRequest) IamObjectSession(iamObjectSession IamObjectSession) SessionsAPIIamApiControllerUpdateSessionRequest {
	r.iamObjectSession = &iamObjectSession
	return r
}

func (r SessionsAPIIamApiControllerUpdateSessionRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerUpdateSessionExecute(r)
}

/*
IamApiControllerUpdateSession Api Controller Update Session

Update session for one user in one application.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return SessionsAPIIamApiControllerUpdateSessionRequest
*/
func (a *SessionsAPIService) IamApiControllerUpdateSession(ctx context.Context, id string) SessionsAPIIamApiControllerUpdateSessionRequest {
	return SessionsAPIIamApiControllerUpdateSessionRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *SessionsAPIService) IamApiControllerUpdateSessionExecute(r SessionsAPIIamApiControllerUpdateSessionRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionsAPIService.IamApiControllerUpdateSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/sessions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectSession == nil {
		return localVarReturnValue, nil, reportError("iamObjectSession is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectSession
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
