/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// BotAPIService BotAPI service
type BotAPIService service

type BotAPIGetBotRunsRequest struct {
	ctx        context.Context
	ApiService *BotAPIService
}

func (r BotAPIGetBotRunsRequest) Execute() (*BotRuns, *http.Response, error) {
	return r.ApiService.GetBotRunsExecute(r)
}

/*
GetBotRuns List returns the caller org's live bot runs, read from the bot runtime and projected into the console contract with each run's live session URL derived here.

List returns the caller org's live bot runs, read from the bot runtime and projected
into the console contract with each run's live session URL derived here.

The org is ALWAYS the validated principal's org, NEVER a request field, and it is
what scopes the runtime's answer — so one tenant can never enumerate another's
runs. A runtime that cannot answer is an error, not an empty list: [] would tell
the caller "your org has no runs", which is a different claim from "we could not
ask", and the difference is the whole reason this endpoint exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BotAPIGetBotRunsRequest
*/
func (a *BotAPIService) GetBotRuns(ctx context.Context) BotAPIGetBotRunsRequest {
	return BotAPIGetBotRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BotRuns
func (a *BotAPIService) GetBotRunsExecute(r BotAPIGetBotRunsRequest) (*BotRuns, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BotRuns
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BotAPIService.GetBotRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bot/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BotAPIPostBotRunsRequest struct {
	ctx        context.Context
	ApiService *BotAPIService
}

func (r BotAPIPostBotRunsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostBotRunsExecute(r)
}

/*
PostBotRuns Answers 501 to every call: launching a bot run is not implemented.

Answers 501 to every call: launching a bot run is not implemented.

The bot runtime exposes no launch operation, so nothing here can start a sandbox.
This address is published rather than dropped because it is the collection every
run is created in: GET lists them, POST would launch one.

The refusal is total and takes no input. No run id is minted, no session URL is
handed back, and no per-run fee is charged. That is the point: the earlier version
minted an id the runtime had never heard of, pointed it at a VNC node that did not
exist, and took real money for it. 501 is the truth, and the truth is cheaper than
a plausible lie.

Listing and stopping runs are live and org-scoped. Only the launch is missing, and
it returns in the same change that can prove a bot boots — a runtime-side launch
operation first (TS, cross-repo), with the entitlement gate and the meter beside
it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BotAPIPostBotRunsRequest
*/
func (a *BotAPIService) PostBotRuns(ctx context.Context) BotAPIPostBotRunsRequest {
	return BotAPIPostBotRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BotAPIService) PostBotRunsExecute(r BotAPIPostBotRunsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BotAPIService.PostBotRuns")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bot/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BotAPIPostBotRunsByRunidStopRequest struct {
	ctx        context.Context
	ApiService *BotAPIService
	runId      string
}

func (r BotAPIPostBotRunsByRunidStopRequest) Execute() (*BotStopped, *http.Response, error) {
	return r.ApiService.PostBotRunsByRunidStopExecute(r)
}

/*
PostBotRunsByRunidStop Stop terminates one of the caller org's own bot runs and reports its terminal state.

Stop terminates one of the caller org's own bot runs and reports its terminal state.

The own-key guard is the org: it is the caller's validated org, never theirs to
choose, and the runtime resolves the run id UNDER it. A run belonging to another
tenant is not among this org's runs, so it answers absent — the same 404 a
nonexistent id gets, which is what keeps this from being an oracle.

Absence is honoured ONLY when the runtime answers it. A runtime that does not
serve stop reports nothing about the run, and reporting "stopped" on that basis
would be a stop that cannot fail — so it is a 502.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param runId RunID is the run to stop, as the bot runtime named it. It is read from the URL — the `{runId}` segment the router matched on — and a body carrying a different id cannot redirect the stop.
	@return BotAPIPostBotRunsByRunidStopRequest
*/
func (a *BotAPIService) PostBotRunsByRunidStop(ctx context.Context, runId string) BotAPIPostBotRunsByRunidStopRequest {
	return BotAPIPostBotRunsByRunidStopRequest{
		ApiService: a,
		ctx:        ctx,
		runId:      runId,
	}
}

// Execute executes the request
//
//	@return BotStopped
func (a *BotAPIService) PostBotRunsByRunidStopExecute(r BotAPIPostBotRunsByRunidStopRequest) (*BotStopped, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BotStopped
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BotAPIService.PostBotRunsByRunidStop")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bot/runs/{runId}/stop"
	localVarPath = strings.Replace(localVarPath, "{"+"runId"+"}", url.PathEscape(parameterValueToString(r.runId, "runId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
