/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// ResourcesAPIService ResourcesAPI service
type ResourcesAPIService service

type ResourcesAPIIamApiControllerAddResourceRequest struct {
	ctx               context.Context
	ApiService        *ResourcesAPIService
	iamObjectResource *IamObjectResource
}

// Resource object
func (r ResourcesAPIIamApiControllerAddResourceRequest) IamObjectResource(iamObjectResource IamObjectResource) ResourcesAPIIamApiControllerAddResourceRequest {
	r.iamObjectResource = &iamObjectResource
	return r
}

func (r ResourcesAPIIamApiControllerAddResourceRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerAddResourceExecute(r)
}

/*
IamApiControllerAddResource Api Controller Add Resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResourcesAPIIamApiControllerAddResourceRequest
*/
func (a *ResourcesAPIService) IamApiControllerAddResource(ctx context.Context) ResourcesAPIIamApiControllerAddResourceRequest {
	return ResourcesAPIIamApiControllerAddResourceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *ResourcesAPIService) IamApiControllerAddResourceExecute(r ResourcesAPIIamApiControllerAddResourceRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcesAPIService.IamApiControllerAddResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectResource == nil {
		return localVarReturnValue, nil, reportError("iamObjectResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourcesAPIIamApiControllerDeleteResourceRequest struct {
	ctx               context.Context
	ApiService        *ResourcesAPIService
	id                string
	iamObjectResource *IamObjectResource
}

// Resource object
func (r ResourcesAPIIamApiControllerDeleteResourceRequest) IamObjectResource(iamObjectResource IamObjectResource) ResourcesAPIIamApiControllerDeleteResourceRequest {
	r.iamObjectResource = &iamObjectResource
	return r
}

func (r ResourcesAPIIamApiControllerDeleteResourceRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteResourceExecute(r)
}

/*
IamApiControllerDeleteResource Api Controller Delete Resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return ResourcesAPIIamApiControllerDeleteResourceRequest
*/
func (a *ResourcesAPIService) IamApiControllerDeleteResource(ctx context.Context, id string) ResourcesAPIIamApiControllerDeleteResourceRequest {
	return ResourcesAPIIamApiControllerDeleteResourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *ResourcesAPIService) IamApiControllerDeleteResourceExecute(r ResourcesAPIIamApiControllerDeleteResourceRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcesAPIService.IamApiControllerDeleteResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectResource == nil {
		return localVarReturnValue, nil, reportError("iamObjectResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourcesAPIIamApiControllerGetResourceRequest struct {
	ctx        context.Context
	ApiService *ResourcesAPIService
	id         string
}

func (r ResourcesAPIIamApiControllerGetResourceRequest) Execute() (*IamObjectResource, *http.Response, error) {
	return r.ApiService.IamApiControllerGetResourceExecute(r)
}

/*
IamApiControllerGetResource Api Controller Get Resource

get resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of resource
	@return ResourcesAPIIamApiControllerGetResourceRequest
*/
func (a *ResourcesAPIService) IamApiControllerGetResource(ctx context.Context, id string) ResourcesAPIIamApiControllerGetResourceRequest {
	return ResourcesAPIIamApiControllerGetResourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectResource
func (a *ResourcesAPIService) IamApiControllerGetResourceExecute(r ResourcesAPIIamApiControllerGetResourceRequest) (*IamObjectResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcesAPIService.IamApiControllerGetResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourcesAPIIamApiControllerGetResourcesRequest struct {
	ctx        context.Context
	ApiService *ResourcesAPIService
	owner      *string
	user       *string
	pageSize   *int32
	p          *int32
	field      *string
	value      *string
	sortField  *string
	sortOrder  *string
}

// Owner
func (r ResourcesAPIIamApiControllerGetResourcesRequest) Owner(owner string) ResourcesAPIIamApiControllerGetResourcesRequest {
	r.owner = &owner
	return r
}

// User
func (r ResourcesAPIIamApiControllerGetResourcesRequest) User(user string) ResourcesAPIIamApiControllerGetResourcesRequest {
	r.user = &user
	return r
}

// Page Size
func (r ResourcesAPIIamApiControllerGetResourcesRequest) PageSize(pageSize int32) ResourcesAPIIamApiControllerGetResourcesRequest {
	r.pageSize = &pageSize
	return r
}

// Page Number
func (r ResourcesAPIIamApiControllerGetResourcesRequest) P(p int32) ResourcesAPIIamApiControllerGetResourcesRequest {
	r.p = &p
	return r
}

// Field
func (r ResourcesAPIIamApiControllerGetResourcesRequest) Field(field string) ResourcesAPIIamApiControllerGetResourcesRequest {
	r.field = &field
	return r
}

// Value
func (r ResourcesAPIIamApiControllerGetResourcesRequest) Value(value string) ResourcesAPIIamApiControllerGetResourcesRequest {
	r.value = &value
	return r
}

// Sort Field
func (r ResourcesAPIIamApiControllerGetResourcesRequest) SortField(sortField string) ResourcesAPIIamApiControllerGetResourcesRequest {
	r.sortField = &sortField
	return r
}

// Sort Order
func (r ResourcesAPIIamApiControllerGetResourcesRequest) SortOrder(sortOrder string) ResourcesAPIIamApiControllerGetResourcesRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ResourcesAPIIamApiControllerGetResourcesRequest) Execute() ([]IamObjectResource, *http.Response, error) {
	return r.ApiService.IamApiControllerGetResourcesExecute(r)
}

/*
IamApiControllerGetResources Api Controller Get Resources

get resources

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResourcesAPIIamApiControllerGetResourcesRequest
*/
func (a *ResourcesAPIService) IamApiControllerGetResources(ctx context.Context) ResourcesAPIIamApiControllerGetResourcesRequest {
	return ResourcesAPIIamApiControllerGetResourcesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectResource
func (a *ResourcesAPIService) IamApiControllerGetResourcesExecute(r ResourcesAPIIamApiControllerGetResourcesRequest) ([]IamObjectResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcesAPIService.IamApiControllerGetResources")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	}
	if r.field != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "field", r.field, "form", "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourcesAPIIamApiControllerUpdateResourceRequest struct {
	ctx               context.Context
	ApiService        *ResourcesAPIService
	id                string
	iamObjectResource *IamObjectResource
}

// The resource object
func (r ResourcesAPIIamApiControllerUpdateResourceRequest) IamObjectResource(iamObjectResource IamObjectResource) ResourcesAPIIamApiControllerUpdateResourceRequest {
	r.iamObjectResource = &iamObjectResource
	return r
}

func (r ResourcesAPIIamApiControllerUpdateResourceRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerUpdateResourceExecute(r)
}

/*
IamApiControllerUpdateResource Api Controller Update Resource

get resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of resource
	@return ResourcesAPIIamApiControllerUpdateResourceRequest
*/
func (a *ResourcesAPIService) IamApiControllerUpdateResource(ctx context.Context, id string) ResourcesAPIIamApiControllerUpdateResourceRequest {
	return ResourcesAPIIamApiControllerUpdateResourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *ResourcesAPIService) IamApiControllerUpdateResourceExecute(r ResourcesAPIIamApiControllerUpdateResourceRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcesAPIService.IamApiControllerUpdateResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectResource == nil {
		return localVarReturnValue, nil, reportError("iamObjectResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourcesAPIIamApiControllerUploadResourceRequest struct {
	ctx          context.Context
	ApiService   *ResourcesAPIService
	owner        *string
	user         *string
	application  *string
	fullFilePath *string
	file         *os.File
	tag          *string
	parent       *string
	createdTime  *string
	description  *string
}

// Owner
func (r ResourcesAPIIamApiControllerUploadResourceRequest) Owner(owner string) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.owner = &owner
	return r
}

// User
func (r ResourcesAPIIamApiControllerUploadResourceRequest) User(user string) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.user = &user
	return r
}

// Application
func (r ResourcesAPIIamApiControllerUploadResourceRequest) Application(application string) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.application = &application
	return r
}

// Full File Path
func (r ResourcesAPIIamApiControllerUploadResourceRequest) FullFilePath(fullFilePath string) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.fullFilePath = &fullFilePath
	return r
}

// Resource file
func (r ResourcesAPIIamApiControllerUploadResourceRequest) File(file *os.File) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.file = file
	return r
}

// Tag
func (r ResourcesAPIIamApiControllerUploadResourceRequest) Tag(tag string) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.tag = &tag
	return r
}

// Parent
func (r ResourcesAPIIamApiControllerUploadResourceRequest) Parent(parent string) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.parent = &parent
	return r
}

// Created Time
func (r ResourcesAPIIamApiControllerUploadResourceRequest) CreatedTime(createdTime string) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.createdTime = &createdTime
	return r
}

// Description
func (r ResourcesAPIIamApiControllerUploadResourceRequest) Description(description string) ResourcesAPIIamApiControllerUploadResourceRequest {
	r.description = &description
	return r
}

func (r ResourcesAPIIamApiControllerUploadResourceRequest) Execute() (*IamObjectResource, *http.Response, error) {
	return r.ApiService.IamApiControllerUploadResourceExecute(r)
}

/*
IamApiControllerUploadResource Api Controller Upload Resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ResourcesAPIIamApiControllerUploadResourceRequest
*/
func (a *ResourcesAPIService) IamApiControllerUploadResource(ctx context.Context) ResourcesAPIIamApiControllerUploadResourceRequest {
	return ResourcesAPIIamApiControllerUploadResourceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectResource
func (a *ResourcesAPIService) IamApiControllerUploadResourceExecute(r ResourcesAPIIamApiControllerUploadResourceRequest) (*IamObjectResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcesAPIService.IamApiControllerUploadResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources/upload"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}
	if r.application == nil {
		return localVarReturnValue, nil, reportError("application is required and must be specified")
	}
	if r.fullFilePath == nil {
		return localVarReturnValue, nil, reportError("fullFilePath is required and must be specified")
	}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "application", r.application, "form", "")
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.parent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent", r.parent, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "fullFilePath", r.fullFilePath, "form", "")
	if r.createdTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdTime", r.createdTime, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName string
	var fileLocalVarFileBytes []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
