/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// RerankAPIService RerankAPI service
type RerankAPIService service

type RerankAPIPostRerankRequest struct {
	ctx        context.Context
	ApiService *RerankAPIService
}

func (r RerankAPIPostRerankRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostRerankExecute(r)
}

/*
PostRerank Implements POST /v1/rerank (Cohere/Jina-compatible).

Implements POST /v1/rerank (Cohere/Jina-compatible).

Body: {"model": "...", "query": "...", "documents": ["...", ...]|[{"text":"..."}],

	"top_n"?: int, "return_documents"?: bool}

Response: {"object":"list","model":...,"results":[{"index","relevance_score","document"?}],"usage":{...}}

Backend selection is provider-driven (one endpoint, one contract):

  - If the model routes to a native rerank provider (Jina/Cohere/Voyage) the
    request is proxied to that provider's /rerank endpoint.

  - Otherwise scores are computed as a real bi-encoder ranking: embed the
    query and documents through the resolved embedding model and rank by
    cosine similarity. No rerank-specific key required.

    @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
    @return RerankAPIPostRerankRequest
*/
func (a *RerankAPIService) PostRerank(ctx context.Context) RerankAPIPostRerankRequest {
	return RerankAPIPostRerankRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RerankAPIService) PostRerankExecute(r RerankAPIPostRerankRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RerankAPIService.PostRerank")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/rerank"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
