/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// StoreAPIService StoreAPI service
type StoreAPIService service

type StoreAPIDeleteStoreByStoreidRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIDeleteStoreByStoreidRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteStoreByStoreidExecute(r)
}

/*
DeleteStoreByStoreid Delete a storefront, keeping a recoverable copy

Removes the addressed store and answers 204 with no body. Before the live row goes, the entity is written once more under a tombstone kind, so the deletion leaves a recoverable copy rather than destroying the record outright; the store's listing overrides live inside that row and go with it. The id is resolved inside the caller org's own namespace, so an unknown or foreign id is 404. Requires an admin or store-write token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIDeleteStoreByStoreidRequest
*/
func (a *StoreAPIService) DeleteStoreByStoreid(ctx context.Context, storeid string) StoreAPIDeleteStoreByStoreidRequest {
	return StoreAPIDeleteStoreByStoreidRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) DeleteStoreByStoreidExecute(r StoreAPIDeleteStoreByStoreidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.DeleteStoreByStoreid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIDeleteStoreByStoreidListingByKeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	key        string
}

func (r StoreAPIDeleteStoreByStoreidListingByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteStoreByStoreidListingByKeyExecute(r)
}

/*
DeleteStoreByStoreidListingByKey Remove a listing override

Drops the key from the store's listing map and re-saves the store, answering 204 with no body. It UN-OVERRIDES rather than deletes: the product, variant or bundle itself is untouched and simply reverts to its catalog values on this storefront. A key that is not present is 404, and so is a store id outside the caller org's namespace. Admin-gated.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param key
	@return StoreAPIDeleteStoreByStoreidListingByKeyRequest
*/
func (a *StoreAPIService) DeleteStoreByStoreidListingByKey(ctx context.Context, storeid string, key string) StoreAPIDeleteStoreByStoreidListingByKeyRequest {
	return StoreAPIDeleteStoreByStoreidListingByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		key:        key,
	}
}

// Execute executes the request
func (a *StoreAPIService) DeleteStoreByStoreidListingByKeyExecute(r StoreAPIDeleteStoreByStoreidListingByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.DeleteStoreByStoreidListingByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/listing/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
}

func (r StoreAPIGetStoreRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreExecute(r)
}

/*
GetStore List your org's storefronts as a page

Answers a pagination envelope — page, display, the rows, and a total count — read from the caller org's OWN namespaced database, so one tenant can never list another's stores. Sorting defaults to the store slug and is overridable with sort; display is the page size and page applies only alongside it, and either one that is not a positive integer is refused rather than silently ignored. The limit query overrides the reported COUNT only and never the rows returned. A request that resolves no org namespace is served an empty page, never an unscoped scan. Readable with an admin token, a store-scoped token, or the anonymous published storefront key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return StoreAPIGetStoreRequest
*/
func (a *StoreAPIService) GetStore(ctx context.Context) StoreAPIGetStoreRequest {
	return StoreAPIGetStoreRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreExecute(r StoreAPIGetStoreRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStore")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreAccessRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
}

func (r StoreAPIGetStoreAccessRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreAccessExecute(r)
}

/*
GetStoreAccess Whether a store is entitled to trade, and why

Answers allowed, the store id, and a status of trial, active, payment_required, store_required or unavailable — the entitlement check a merchant surface gates on. The rule that surprises people is that entitlement is PER STORE, not per org: the store needs its own current subscription on the entry plan, either trialing with a trial end still ahead or active with a period end still ahead, so an org-wide balance or a sibling store's plan unlocks nothing here. The store comes from the X-Store-Id header and otherwise falls back to the org's first store; neither resolving is store_required with allowed false, and a backing-store failure is 503 with status unavailable — a retry signal, not a denial.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return StoreAPIGetStoreAccessRequest
*/
func (a *StoreAPIService) GetStoreAccess(ctx context.Context) StoreAPIGetStoreAccessRequest {
	return StoreAPIGetStoreAccessRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreAccessExecute(r StoreAPIGetStoreAccessRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStoreAccess")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/access"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreByStoreidRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIGetStoreByStoreidRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreByStoreidExecute(r)
}

/*
GetStoreByStoreid Fetch one storefront

Reads the addressed store from the caller org's own namespaced database, so an id belonging to another tenant is simply absent there and answers 404 rather than leaking its existence. The body is the stored entity including its embedded listing override map. Readable with an admin or store-read token and also with the anonymous published storefront key, which is what lets a logged-out storefront resolve the store it is rendering.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIGetStoreByStoreidRequest
*/
func (a *StoreAPIService) GetStoreByStoreid(ctx context.Context, storeid string) StoreAPIGetStoreByStoreidRequest {
	return StoreAPIGetStoreByStoreidRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreByStoreidExecute(r StoreAPIGetStoreByStoreidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStoreByStoreid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreByStoreidBundleByKeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	key        string
}

func (r StoreAPIGetStoreByStoreidBundleByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreByStoreidBundleByKeyExecute(r)
}

/*
GetStoreByStoreidBundleByKey Fetch a bundle as this storefront sells it

Returns the stored bundle with the store's listing for it laid over the top — every non-empty listing field wins, and the currency is forced to the store's own — so the caller reads what this storefront actually sells rather than the catalog-wide record. The overlay is keyed by the item's ID: a listing filed only under a slug or SKU does not reach it, unlike the listing reads, which do fall back to those. An unknown store or key is 404. Readable with an admin token or the anonymous published storefront key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param key
	@return StoreAPIGetStoreByStoreidBundleByKeyRequest
*/
func (a *StoreAPIService) GetStoreByStoreidBundleByKey(ctx context.Context, storeid string, key string) StoreAPIGetStoreByStoreidBundleByKeyRequest {
	return StoreAPIGetStoreByStoreidBundleByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		key:        key,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreByStoreidBundleByKeyExecute(r StoreAPIGetStoreByStoreidBundleByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStoreByStoreidBundleByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/bundle/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreByStoreidListingRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIGetStoreByStoreidListingRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreByStoreidListingExecute(r)
}

/*
GetStoreByStoreidListing The storefront's whole listing override map

Returns every override this store applies to catalog items — name, price, list price, media, availability and the hidden flag — keyed by product or variant id, in one read. A listing is an OVERRIDE, not a product: the catalog item exists independently and this map only says how this storefront presents it. Read from the caller org's own namespaced database, so a store id belonging to another tenant is 404. Readable with an admin token or the anonymous published storefront key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIGetStoreByStoreidListingRequest
*/
func (a *StoreAPIService) GetStoreByStoreidListing(ctx context.Context, storeid string) StoreAPIGetStoreByStoreidListingRequest {
	return StoreAPIGetStoreByStoreidListingRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreByStoreidListingExecute(r StoreAPIGetStoreByStoreidListingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStoreByStoreidListing")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/listing"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreByStoreidListingByKeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	key        string
}

func (r StoreAPIGetStoreByStoreidListingByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreByStoreidListingByKeyExecute(r)
}

/*
GetStoreByStoreidListingByKey Fetch one listing override, by item id or by its slug or SKU

Looks the key up in the store's listing map first and, failing that, matches it against each listing's slug and then its SKU — so a storefront holding only a product's URL slug can still resolve the override. That fallback is unique to the listing reads; the item overlay routes match by id alone. A key matching none of the three is 404, as is a store id outside the caller org's namespace. Readable with an admin token or the anonymous published storefront key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param key
	@return StoreAPIGetStoreByStoreidListingByKeyRequest
*/
func (a *StoreAPIService) GetStoreByStoreidListingByKey(ctx context.Context, storeid string, key string) StoreAPIGetStoreByStoreidListingByKeyRequest {
	return StoreAPIGetStoreByStoreidListingByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		key:        key,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreByStoreidListingByKeyExecute(r StoreAPIGetStoreByStoreidListingByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStoreByStoreidListingByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/listing/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreByStoreidProductByKeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	key        string
}

func (r StoreAPIGetStoreByStoreidProductByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreByStoreidProductByKeyExecute(r)
}

/*
GetStoreByStoreidProductByKey Fetch a product as this storefront sells it

Returns the stored product with the store's listing for it laid over the top — non-empty listing fields replace the catalog values and the currency is forced to the store's own — which is what lets two storefronts sell the same catalog product at their own price, name and media. The overlay is keyed by the product's ID, so a listing filed only under a slug or SKU does not apply here. An unknown store or key is 404. Readable with an admin token or the anonymous published storefront key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param key
	@return StoreAPIGetStoreByStoreidProductByKeyRequest
*/
func (a *StoreAPIService) GetStoreByStoreidProductByKey(ctx context.Context, storeid string, key string) StoreAPIGetStoreByStoreidProductByKeyRequest {
	return StoreAPIGetStoreByStoreidProductByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		key:        key,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreByStoreidProductByKeyExecute(r StoreAPIGetStoreByStoreidProductByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStoreByStoreidProductByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/product/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreByStoreidVariantByKeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	key        string
}

func (r StoreAPIGetStoreByStoreidVariantByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreByStoreidVariantByKeyExecute(r)
}

/*
GetStoreByStoreidVariantByKey Fetch a variant as this storefront sells it

Returns the stored variant with the store's listing for it overlaid — non-empty listing fields replace the catalog values and the currency is forced to the store's own — which is what makes per-storefront pricing of a shared variant possible. The overlay is keyed by the variant's ID, never by its slug or SKU. An unknown store or key is 404. Readable with an admin token or the anonymous published storefront key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param key
	@return StoreAPIGetStoreByStoreidVariantByKeyRequest
*/
func (a *StoreAPIService) GetStoreByStoreidVariantByKey(ctx context.Context, storeid string, key string) StoreAPIGetStoreByStoreidVariantByKeyRequest {
	return StoreAPIGetStoreByStoreidVariantByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		key:        key,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreByStoreidVariantByKeyExecute(r StoreAPIGetStoreByStoreidVariantByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStoreByStoreidVariantByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/variant/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIGetStoreCurrentRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
}

func (r StoreAPIGetStoreCurrentRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetStoreCurrentExecute(r)
}

/*
GetStoreCurrent Resolve your org's active storefront without naming an id

Returns the caller org's store resolved FROM THE AUTHENTICATED ORG rather than from a path id — which is how an admin dashboard or a storefront edge learns the store id it should then read and write against. An X-Store-Id header selects a specific store, resolved only inside the caller's own namespace, so a foreign id cannot cross the tenant boundary and answers 404 instead. With no header the org's first store is returned, and an org that has none yet has its canonical default provisioned lazily and idempotently, carrying no payment credentials. Only when there is no org in context, or provisioning fails, does it fall back to a placeholder store literally named default, which a storefront edge should treat as unconfigured.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return StoreAPIGetStoreCurrentRequest
*/
func (a *StoreAPIService) GetStoreCurrent(ctx context.Context) StoreAPIGetStoreCurrentRequest {
	return StoreAPIGetStoreCurrentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *StoreAPIService) GetStoreCurrentExecute(r StoreAPIGetStoreCurrentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.GetStoreCurrent")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPatchStoreByStoreidRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIPatchStoreByStoreidRequest) Execute() (*http.Response, error) {
	return r.ApiService.PatchStoreByStoreidExecute(r)
}

/*
PatchStoreByStoreid Change part of a storefront

Loads the stored store and decodes the body over it, so only the fields the body names change and everything else keeps its stored value — the difference from the full replace, which clears what it is not told. Answers the merged entity. The id is resolved inside the caller org's own namespace, so an unknown or foreign id is 404. Requires an admin token, or one holding both store read and store write.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIPatchStoreByStoreidRequest
*/
func (a *StoreAPIService) PatchStoreByStoreid(ctx context.Context, storeid string) StoreAPIPatchStoreByStoreidRequest {
	return StoreAPIPatchStoreByStoreidRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PatchStoreByStoreidExecute(r StoreAPIPatchStoreByStoreidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PatchStoreByStoreid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPatchStoreByStoreidListingByKeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	key        string
}

func (r StoreAPIPatchStoreByStoreidListingByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.PatchStoreByStoreidListingByKeyExecute(r)
}

/*
PatchStoreByStoreidListingByKey Confirm a listing override exists and re-save the store

Requires the key to already be present — an absent one is 404 — and answers the store's listing map at 200. Read the behaviour before relying on it: the decoded body is applied to a COPY taken out of the map and is never assigned back, so the stored listing is unchanged and the map returned is exactly the map that was already there. An actual edit to an existing listing has to go through the upsert, which does write its result back into the store. A body that fails to decode is still 400. Admin-gated and namespaced to the caller's org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param key
	@return StoreAPIPatchStoreByStoreidListingByKeyRequest
*/
func (a *StoreAPIService) PatchStoreByStoreidListingByKey(ctx context.Context, storeid string, key string) StoreAPIPatchStoreByStoreidListingByKeyRequest {
	return StoreAPIPatchStoreByStoreidListingByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		key:        key,
	}
}

// Execute executes the request
func (a *StoreAPIService) PatchStoreByStoreidListingByKeyExecute(r StoreAPIPatchStoreByStoreidListingByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PatchStoreByStoreidListingByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/listing/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
}

func (r StoreAPIPostStoreRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreExecute(r)
}

/*
PostStore Create a storefront

Creates a store from the body inside the caller org's own namespaced database, so the row is physically isolated to that tenant from its first write, and answers it at 201 with a Location header naming its id. Requires an admin or store-write token: the anonymous published storefront key may READ stores but never create one. A body that fails to decode is 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return StoreAPIPostStoreRequest
*/
func (a *StoreAPIService) PostStore(ctx context.Context) StoreAPIPostStoreRequest {
	return StoreAPIPostStoreRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreExecute(r StoreAPIPostStoreRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStore")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIPostStoreByStoreidRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidExecute(r)
}

/*
PostStoreByStoreid Method-override tunnel for clients that cannot send PUT, PATCH or DELETE

Re-dispatches the request into the handler the intended verb would have reached, taking that verb from a _method form value or query parameter and then from the X-HTTP-Method-Override header, the header winning when both are present. Only PUT, PATCH and DELETE are accepted; anything else resolves to 405. The trap is the default: naming NO override at all is treated as a partial update, never as a create. Authorization is whatever the underlying operation requires, since the real handler runs.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIPostStoreByStoreidRequest
*/
func (a *StoreAPIService) PostStoreByStoreid(ctx context.Context, storeid string) StoreAPIPostStoreByStoreidRequest {
	return StoreAPIPostStoreByStoreidRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidExecute(r StoreAPIPostStoreByStoreidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidAuthorizeRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIPostStoreByStoreidAuthorizeRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidAuthorizeExecute(r)
}

/*
PostStoreByStoreidAuthorize Authorize a new order against a storefront, holding the funds without settling them

Tallies a new order for the addressed store from the user, payment and order body, reserves its items, runs the processor authorization and answers the saved order with a Location header pointing at it. The gate is a token carrying admin or published scope, so a published storefront key is enough; no token is 401 and a token with neither bit is 403. The store is loaded BEFORE any payment work and its currency OVERRIDES whatever the body asked for, so a store that will not load ends the call with 500 and nothing is charged. On any authorization failure the reservations are released and the order and payment are persisted as cancelled, so a failed attempt still leaves a durable record. Capture is a separate call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIPostStoreByStoreidAuthorizeRequest
*/
func (a *StoreAPIService) PostStoreByStoreidAuthorize(ctx context.Context, storeid string) StoreAPIPostStoreByStoreidAuthorizeRequest {
	return StoreAPIPostStoreByStoreidAuthorizeRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidAuthorizeExecute(r StoreAPIPostStoreByStoreidAuthorizeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidAuthorize")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/authorize"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidAuthorizeByOrderidRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	orderid    string
}

func (r StoreAPIPostStoreByStoreidAuthorizeByOrderidRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidAuthorizeByOrderidExecute(r)
}

/*
PostStoreByStoreidAuthorizeByOrderid Authorize an order that already exists, holding the funds without settling them

Continues the order named in the path rather than minting a new one, holding funds for it. The order is loaded from the caller org's own store, so an id belonging to another tenant is a 404. The rule most callers get wrong is that the body's order object is MERGED onto the loaded order before the tally — this is not a read-only reference, and a field sent here overwrites what is stored. The gate, the store resolution and the currency override behave exactly as on the bodiless-id sibling, and settling is still the capture call's job.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param orderid
	@return StoreAPIPostStoreByStoreidAuthorizeByOrderidRequest
*/
func (a *StoreAPIService) PostStoreByStoreidAuthorizeByOrderid(ctx context.Context, storeid string, orderid string) StoreAPIPostStoreByStoreidAuthorizeByOrderidRequest {
	return StoreAPIPostStoreByStoreidAuthorizeByOrderidRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		orderid:    orderid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidAuthorizeByOrderidExecute(r StoreAPIPostStoreByStoreidAuthorizeByOrderidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidAuthorizeByOrderid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/authorize/{orderid}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"orderid"+"}", url.PathEscape(parameterValueToString(r.orderid, "orderid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidCaptureByOrderidRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	orderid    string
}

func (r StoreAPIPostStoreByStoreidCaptureByOrderidRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidCaptureByOrderidExecute(r)
}

/*
PostStoreByStoreidCaptureByOrderid Capture a previously authorized order and settle the payment

Settles the order named in the path — the second half of the two-step flow — and answers the updated order with a Location header. Dispatch follows the order's STORED payment type, and a successful capture is the moment the rest of the system learns about the sale: order and payment rows are updated, coupon redemptions, referral, cart and stats are written, the confirmation email goes out, and the paid and completed events are emitted. A capture failure releases the order's inventory reservations and answers 400, so a failed settlement never leaves items held.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param orderid
	@return StoreAPIPostStoreByStoreidCaptureByOrderidRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCaptureByOrderid(ctx context.Context, storeid string, orderid string) StoreAPIPostStoreByStoreidCaptureByOrderidRequest {
	return StoreAPIPostStoreByStoreidCaptureByOrderidRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		orderid:    orderid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidCaptureByOrderidExecute(r StoreAPIPostStoreByStoreidCaptureByOrderidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCaptureByOrderid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/capture/{orderid}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"orderid"+"}", url.PathEscape(parameterValueToString(r.orderid, "orderid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidChargeRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIPostStoreByStoreidChargeRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidChargeExecute(r)
}

/*
PostStoreByStoreidCharge Authorize and capture a new order in one call

Runs authorization and capture back to back against a freshly created order — the one-step flow for callers with no reason to hold funds. It takes the authorize body and inherits every authorize rule: the store's currency wins over the body, the items are reserved before the processor is called, and the amount bounds the processor enforces still apply. There is no order id on this address, so it can never continue an existing order. Either half failing answers 400, and the capture side effects — confirmation email, redemptions, stats, the paid and completed events — run only when both halves succeed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIPostStoreByStoreidChargeRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCharge(ctx context.Context, storeid string) StoreAPIPostStoreByStoreidChargeRequest {
	return StoreAPIPostStoreByStoreidChargeRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidChargeExecute(r StoreAPIPostStoreByStoreidChargeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCharge")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/charge"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidCheckoutAuthorizeRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIPostStoreByStoreidCheckoutAuthorizeRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidCheckoutAuthorizeExecute(r)
}

/*
PostStoreByStoreidCheckoutAuthorize Authorize a new order against a storefront, holding the funds — the checkout spelling

Authorizes a new order for the addressed store and holds the funds, answering the saved order with a Location header. It binds the identical handler as the shorter authorize address, so the two are ONE operation at two spellings and not two behaviours; the checkout prefix is the newer one. Every rule carries over: admin or published scope on the token, the store loaded first with its currency overriding the body, items reserved before the processor call, and reservations released with the order persisted cancelled on failure. Nothing is settled here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIPostStoreByStoreidCheckoutAuthorizeRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCheckoutAuthorize(ctx context.Context, storeid string) StoreAPIPostStoreByStoreidCheckoutAuthorizeRequest {
	return StoreAPIPostStoreByStoreidCheckoutAuthorizeRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidCheckoutAuthorizeExecute(r StoreAPIPostStoreByStoreidCheckoutAuthorizeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCheckoutAuthorize")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/checkout/authorize"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidCheckoutAuthorizeByOrderidRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	orderid    string
}

func (r StoreAPIPostStoreByStoreidCheckoutAuthorizeByOrderidRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidCheckoutAuthorizeByOrderidExecute(r)
}

/*
PostStoreByStoreidCheckoutAuthorizeByOrderid Authorize an existing order, holding the funds — the checkout spelling

Continues the order named in the path rather than minting one, and shares its handler byte for byte with the unprefixed authorize-by-id address. The order is loaded from the caller org's own store, so another tenant's id is a 404, and the body's order object is merged onto the loaded row before the tally — a field sent here overwrites what is stored. Store resolution, the token gate and the currency override behave as on every other authorize address; settle with the capture address and the same order id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param orderid
	@return StoreAPIPostStoreByStoreidCheckoutAuthorizeByOrderidRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCheckoutAuthorizeByOrderid(ctx context.Context, storeid string, orderid string) StoreAPIPostStoreByStoreidCheckoutAuthorizeByOrderidRequest {
	return StoreAPIPostStoreByStoreidCheckoutAuthorizeByOrderidRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		orderid:    orderid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidCheckoutAuthorizeByOrderidExecute(r StoreAPIPostStoreByStoreidCheckoutAuthorizeByOrderidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCheckoutAuthorizeByOrderid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/checkout/authorize/{orderid}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"orderid"+"}", url.PathEscape(parameterValueToString(r.orderid, "orderid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidCheckoutCaptureByOrderidRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	orderid    string
}

func (r StoreAPIPostStoreByStoreidCheckoutCaptureByOrderidRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidCheckoutCaptureByOrderidExecute(r)
}

/*
PostStoreByStoreidCheckoutCaptureByOrderid Capture a previously authorized order and settle it — the checkout spelling

Settles the authorized order named in the path and answers the updated order with a Location header, running the same handler as the unprefixed capture address. Dispatch follows the order's stored payment type. Success is what triggers the downstream work — order and payment updates, redemptions, referral, cart and stats, the confirmation email, and the paid and completed events — while a failure releases the order's inventory reservations and answers 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param orderid
	@return StoreAPIPostStoreByStoreidCheckoutCaptureByOrderidRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCheckoutCaptureByOrderid(ctx context.Context, storeid string, orderid string) StoreAPIPostStoreByStoreidCheckoutCaptureByOrderidRequest {
	return StoreAPIPostStoreByStoreidCheckoutCaptureByOrderidRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		orderid:    orderid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidCheckoutCaptureByOrderidExecute(r StoreAPIPostStoreByStoreidCheckoutCaptureByOrderidRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCheckoutCaptureByOrderid")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/checkout/capture/{orderid}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"orderid"+"}", url.PathEscape(parameterValueToString(r.orderid, "orderid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidCheckoutChargeRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIPostStoreByStoreidCheckoutChargeRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidCheckoutChargeExecute(r)
}

/*
PostStoreByStoreidCheckoutCharge Authorize and capture a new order in one call — the checkout spelling

Performs authorization and capture back to back against a newly created order for the addressed store, on the same handler as the unprefixed charge address. It takes the authorize body and inherits every authorize rule, including the store's currency winning over the body and the items being reserved before the processor is called. There is no order id on this address, so it can never continue an existing order. Either half failing answers 400, and the capture side effects run only when both succeed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIPostStoreByStoreidCheckoutChargeRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCheckoutCharge(ctx context.Context, storeid string) StoreAPIPostStoreByStoreidCheckoutChargeRequest {
	return StoreAPIPostStoreByStoreidCheckoutChargeRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidCheckoutChargeExecute(r StoreAPIPostStoreByStoreidCheckoutChargeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCheckoutCharge")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/checkout/charge"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidCheckoutPaypalCancelByPaykeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	payKey     string
}

func (r StoreAPIPostStoreByStoreidCheckoutPaypalCancelByPaykeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidCheckoutPaypalCancelByPaykeyExecute(r)
}

/*
PostStoreByStoreidCheckoutPaypalCancelByPaykey PayPal cancel by pay key — refuses, exactly as the unprefixed address does

Meant to void the payments carrying the given pay key, stamp them cancelled and cancel the order, but the shared checkout handler resolves its order from an ORDER ID path parameter this route does not carry. The result is an untyped order and a cancel dispatch that refuses with 400 before the pay key lookup ever runs. Token gate, namespacing and store resolution happen first, so a missing token is still 401 and an unloadable store still 500. It is the same handler as the unprefixed cancel address, with the same outcome.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param payKey
	@return StoreAPIPostStoreByStoreidCheckoutPaypalCancelByPaykeyRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCheckoutPaypalCancelByPaykey(ctx context.Context, storeid string, payKey string) StoreAPIPostStoreByStoreidCheckoutPaypalCancelByPaykeyRequest {
	return StoreAPIPostStoreByStoreidCheckoutPaypalCancelByPaykeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		payKey:     payKey,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidCheckoutPaypalCancelByPaykeyExecute(r StoreAPIPostStoreByStoreidCheckoutPaypalCancelByPaykeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCheckoutPaypalCancelByPaykey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/checkout/paypal/cancel/{payKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"payKey"+"}", url.PathEscape(parameterValueToString(r.payKey, "payKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidCheckoutPaypalConfirmByPaykeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	payKey     string
}

func (r StoreAPIPostStoreByStoreidCheckoutPaypalConfirmByPaykeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidCheckoutPaypalConfirmByPaykeyExecute(r)
}

/*
PostStoreByStoreidCheckoutPaypalConfirmByPaykey PayPal confirm by pay key — refuses, exactly as the unprefixed address does

Meant to mark the payments carrying the given pay key as paid and set the order to paid, it cannot reach that work from this address: the shared checkout handler takes its order from an ORDER ID path parameter this route does not carry, so the order is always fresh and untyped and the confirm dispatch refuses with 400 before the pay key is queried. The token gate, the namespace middleware and the store lookup all run ahead of that, so authentication and store failures surface first. Behaviour is identical to the unprefixed confirm address; the checkout prefix changes nothing here.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param payKey
	@return StoreAPIPostStoreByStoreidCheckoutPaypalConfirmByPaykeyRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCheckoutPaypalConfirmByPaykey(ctx context.Context, storeid string, payKey string) StoreAPIPostStoreByStoreidCheckoutPaypalConfirmByPaykeyRequest {
	return StoreAPIPostStoreByStoreidCheckoutPaypalConfirmByPaykeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		payKey:     payKey,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidCheckoutPaypalConfirmByPaykeyExecute(r StoreAPIPostStoreByStoreidCheckoutPaypalConfirmByPaykeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCheckoutPaypalConfirmByPaykey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/checkout/paypal/confirm/{payKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"payKey"+"}", url.PathEscape(parameterValueToString(r.payKey, "payKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidCheckoutPaypalPayRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
}

func (r StoreAPIPostStoreByStoreidCheckoutPaypalPayRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidCheckoutPaypalPayExecute(r)
}

/*
PostStoreByStoreidCheckoutPaypalPay Start a PayPal authorization for a new order — the checkout spelling

Begins a PayPal authorization by running the ordinary store authorize flow, since the route binds that exact handler — body, store resolution, tally, reservations and failure behaviour are the authorize address's, unchanged. The processor is chosen from the body's payment type, so this path reaches PayPal only when that type says so. A successful PayPal authorization stamps a pay key onto the payment, which is the key the confirm and cancel addresses filter on. Build against the plain authorize address instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@return StoreAPIPostStoreByStoreidCheckoutPaypalPayRequest
*/
func (a *StoreAPIService) PostStoreByStoreidCheckoutPaypalPay(ctx context.Context, storeid string) StoreAPIPostStoreByStoreidCheckoutPaypalPayRequest {
	return StoreAPIPostStoreByStoreidCheckoutPaypalPayRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidCheckoutPaypalPayExecute(r StoreAPIPostStoreByStoreidCheckoutPaypalPayRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidCheckoutPaypalPay")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/checkout/paypal/pay"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidListingByKeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	key        string
}

func (r StoreAPIPostStoreByStoreidListingByKeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidListingByKeyExecute(r)
}

/*
PostStoreByStoreidListingByKey Add a listing override under a new key

Creates the override and answers the store's ENTIRE listing map at 201 with a Location header — not just the entry that was added. A key already present is refused 400: creation never silently overwrites, so changing an existing listing has to be an explicit replace. The stored listing has its currency stamped from the store's own, which the replace path does not do. The key is matched exactly here, with none of the slug or SKU fallback the read allows. Admin-gated and resolved inside the caller org's namespace.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param key
	@return StoreAPIPostStoreByStoreidListingByKeyRequest
*/
func (a *StoreAPIService) PostStoreByStoreidListingByKey(ctx context.Context, storeid string, key string) StoreAPIPostStoreByStoreidListingByKeyRequest {
	return StoreAPIPostStoreByStoreidListingByKeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		key:        key,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidListingByKeyExecute(r StoreAPIPostStoreByStoreidListingByKeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidListingByKey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/listing/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type StoreAPIPostStoreByStoreidPaypalCancelByPaykeyRequest struct {
	ctx        context.Context
	ApiService *StoreAPIService
	storeid    string
	payKey     string
}

func (r StoreAPIPostStoreByStoreidPaypalCancelByPaykeyRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostStoreByStoreidPaypalCancelByPaykeyExecute(r)
}

/*
PostStoreByStoreidPaypalCancelByPaykey PayPal cancel by pay key — refuses, because a pay key alone does not identify the order

Intended to void the payments carrying the given pay key, stamp them cancelled and cancel the order, it never reaches that work: the shared checkout handler reads its order from an ORDER ID path parameter this route does not carry, leaving an untyped order that the cancel dispatch refuses with 400 before the pay key lookup runs. Authentication, namespacing and store resolution happen ahead of the refusal, so a missing token is 401 and an unloadable store 500. Cancelling a real PayPal authorization needs an address that carries the order id.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param storeid
	@param payKey
	@return StoreAPIPostStoreByStoreidPaypalCancelByPaykeyRequest
*/
func (a *StoreAPIService) PostStoreByStoreidPaypalCancelByPaykey(ctx context.Context, storeid string, payKey string) StoreAPIPostStoreByStoreidPaypalCancelByPaykeyRequest {
	return StoreAPIPostStoreByStoreidPaypalCancelByPaykeyRequest{
		ApiService: a,
		ctx:        ctx,
		storeid:    storeid,
		payKey:     payKey,
	}
}

// Execute executes the request
func (a *StoreAPIService) PostStoreByStoreidPaypalCancelByPaykeyExecute(r StoreAPIPostStoreByStoreidPaypalCancelByPaykeyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StoreAPIService.PostStoreByStoreidPaypalCancelByPaykey")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/store/{storeid}/paypal/cancel/{payKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"storeid"+"}", url.PathEscape(parameterValueToString(r.storeid, "storeid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"payKey"+"}", url.PathEscape(parameterValueToString(r.payKey, "payKey")), -1)

	localVarHeaderParams := make(map[string]string)
[...]
