/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// S3APIService S3API service
type S3APIService service

type S3APIDeleteS3BucketsByBucketRequest struct {
	ctx        context.Context
	ApiService *S3APIService
	bucket     string
}

func (r S3APIDeleteS3BucketsByBucketRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteS3BucketsByBucketExecute(r)
}

/*
DeleteS3BucketsByBucket Removes an EMPTY bucket and answers 204.

Removes an EMPTY bucket and answers 204.

A non-empty bucket is 409 rather than a cascade: deleting a tenant's objects
behind a single bucket call is not a thing this surface will do silently. A
bucket the caller's org does not own is the same 404 an unknown name gives.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing deleted, and the debit lands only once the
bucket is gone.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket's friendly name, from the path.
	@return S3APIDeleteS3BucketsByBucketRequest
*/
func (a *S3APIService) DeleteS3BucketsByBucket(ctx context.Context, bucket string) S3APIDeleteS3BucketsByBucketRequest {
	return S3APIDeleteS3BucketsByBucketRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
func (a *S3APIService) DeleteS3BucketsByBucketExecute(r S3APIDeleteS3BucketsByBucketRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3APIService.DeleteS3BucketsByBucket")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/s3/buckets/{bucket}"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type S3APIGetS3BucketsRequest struct {
	ctx        context.Context
	ApiService *S3APIService
}

func (r S3APIGetS3BucketsRequest) Execute() (*BucketList, *http.Response, error) {
	return r.ApiService.GetS3BucketsExecute(r)
}

/*
GetS3Buckets Lists the caller org's own buckets.

Lists the caller org's own buckets.

Only the caller's: every bucket is physically named under a per-org prefix and
the listing strips that prefix, so a tenant sees friendly names and another
tenant's buckets are not in the answer at all. Another org's bucket is not
refused but INVISIBLE, so this cannot be used to learn that a name is taken
elsewhere.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing done, and the debit lands only once the
work has succeeded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return S3APIGetS3BucketsRequest
*/
func (a *S3APIService) GetS3Buckets(ctx context.Context) S3APIGetS3BucketsRequest {
	return S3APIGetS3BucketsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketList
func (a *S3APIService) GetS3BucketsExecute(r S3APIGetS3BucketsRequest) (*BucketList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3APIService.GetS3Buckets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/s3/buckets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type S3APIGetS3BucketsByBucketObjectsRequest struct {
	ctx        context.Context
	ApiService *S3APIService
	bucket     string
	prefix     *string
	recursive  *string
}

func (r S3APIGetS3BucketsByBucketObjectsRequest) Prefix(prefix string) S3APIGetS3BucketsByBucketObjectsRequest {
	r.prefix = &prefix
	return r
}

func (r S3APIGetS3BucketsByBucketObjectsRequest) Recursive(recursive string) S3APIGetS3BucketsByBucketObjectsRequest {
	r.recursive = &recursive
	return r
}

func (r S3APIGetS3BucketsByBucketObjectsRequest) Execute() (*ObjectList, *http.Response, error) {
	return r.ApiService.GetS3BucketsByBucketObjectsExecute(r)
}

/*
GetS3BucketsByBucketObjects Lists one folder level of a bucket.

Lists one folder level of a bucket.

Folder-style by default: sub-prefixes come back as directory entries, which is
the file-manager view. `?recursive=true` lists every key flat under the prefix
instead. Keys are RELATIVE to `?prefix=`, and the listing is bounded so a huge
bucket cannot exhaust memory — Total is what came back, not what the bucket
holds.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing read, and the debit lands only once the
listing has succeeded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket to list, from the path.
	@return S3APIGetS3BucketsByBucketObjectsRequest
*/
func (a *S3APIService) GetS3BucketsByBucketObjects(ctx context.Context, bucket string) S3APIGetS3BucketsByBucketObjectsRequest {
	return S3APIGetS3BucketsByBucketObjectsRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
//
//	@return ObjectList
func (a *S3APIService) GetS3BucketsByBucketObjectsExecute(r S3APIGetS3BucketsByBucketObjectsRequest) (*ObjectList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ObjectList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3APIService.GetS3BucketsByBucketObjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/s3/buckets/{bucket}/objects"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.prefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prefix", r.prefix, "form", "")
	}
	if r.recursive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recursive", r.recursive, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type S3APIGetS3HealthRequest struct {
	ctx        context.Context
	ApiService *S3APIService
}

func (r S3APIGetS3HealthRequest) Execute() (*S3Health, *http.Response, error) {
	return r.ApiService.GetS3HealthExecute(r)
}

/*
GetS3Health Health reports whether this deployment can serve object storage.

Health reports whether this deployment can serve object storage.

It is a REAL probe rather than a constant: 200 when admin credentials are
present, so the store is reachable in principle, and 503 with the reason when
they are not. It is deliberately NOT gated — liveness has to be probe-able
without a token — so it is the one operation here that names no bucket and
bills nothing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return S3APIGetS3HealthRequest
*/
func (a *S3APIService) GetS3Health(ctx context.Context) S3APIGetS3HealthRequest {
	return S3APIGetS3HealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return S3Health
func (a *S3APIService) GetS3HealthExecute(r S3APIGetS3HealthRequest) (*S3Health, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *S3Health
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3APIService.GetS3Health")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/s3/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v S3Health
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type S3APIPostS3BucketsRequest struct {
	ctx        context.Context
	ApiService *S3APIService
	bucketIn   *BucketIn
}

func (r S3APIPostS3BucketsRequest) BucketIn(bucketIn BucketIn) S3APIPostS3BucketsRequest {
	r.bucketIn = &bucketIn
	return r
}

func (r S3APIPostS3BucketsRequest) Execute() (*BucketItem, *http.Response, error) {
	return r.ApiService.PostS3BucketsExecute(r)
}

/*
PostS3Buckets Makes a new bucket for the caller's org and answers 201 with it.

Makes a new bucket for the caller's org and answers 201 with it.

The physical name is derived from the caller's validated org, so a tenant can
only ever create inside its own namespace and no request field can redirect
that. A name already taken in the org is 409.

Billed per call: the balance is checked BEFORE anything is touched, so an
unfunded org is refused with nothing created, and the debit lands only once the
bucket exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return S3APIPostS3BucketsRequest
*/
func (a *S3APIService) PostS3Buckets(ctx context.Context) S3APIPostS3BucketsRequest {
	return S3APIPostS3BucketsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketItem
func (a *S3APIService) PostS3BucketsExecute(r S3APIPostS3BucketsRequest) (*BucketItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3APIService.PostS3Buckets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/s3/buckets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bucketIn == nil {
		return localVarReturnValue, nil, reportError("bucketIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bucketIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type S3APIPostS3BucketsByBucketObjectsRequest struct {
	ctx        context.Context
	ApiService *S3APIService
	bucket     string
	uploadIn   *UploadIn
}

func (r S3APIPostS3BucketsByBucketObjectsRequest) UploadIn(uploadIn UploadIn) S3APIPostS3BucketsByBucketObjectsRequest {
	r.uploadIn = &uploadIn
	return r
}

func (r S3APIPostS3BucketsByBucketObjectsRequest) Execute() (*PresignResponse, *http.Response, error) {
	return r.ApiService.PostS3BucketsByBucketObjectsExecute(r)
}

/*
PostS3BucketsByBucketObjects Mints a presigned PUT URL the caller uploads to DIRECTLY.

Mints a presigned PUT URL the caller uploads to DIRECTLY.

The bytes never pass through this binary and the admin credential never leaves
the server: the URL is signed against the PUBLIC host, scoped to exactly this
bucket and key, and expires. A deployment with no public endpoint configured
cannot mint one and answers 503 rather than a URL that will not work.

Billed per call — for MINTING the URL, which is the work this operation does;
the upload that follows it goes straight to the store and is not seen here. The
balance is checked BEFORE anything is touched, so an unfunded org is refused
with no URL issued.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param bucket Bucket is the bucket to upload into, from the path.
	@return S3APIPostS3BucketsByBucketObjectsRequest
*/
func (a *S3APIService) PostS3BucketsByBucketObjects(ctx context.Context, bucket string) S3APIPostS3BucketsByBucketObjectsRequest {
	return S3APIPostS3BucketsByBucketObjectsRequest{
		ApiService: a,
		ctx:        ctx,
		bucket:     bucket,
	}
}

// Execute executes the request
//
//	@return PresignResponse
func (a *S3APIService) PostS3BucketsByBucketObjectsExecute(r S3APIPostS3BucketsByBucketObjectsRequest) (*PresignResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PresignResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3APIService.PostS3BucketsByBucketObjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/s3/buckets/{bucket}/objects"
	localVarPath = strings.Replace(localVarPath, "{"+"bucket"+"}", url.PathEscape(parameterValueToString(r.bucket, "bucket")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uploadIn == nil {
		return localVarReturnValue, nil, reportError("uploadIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.uploadIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
