/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// PlatformAPIService PlatformAPI service
type PlatformAPIService service

type PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
}

func (r PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePlatformProjectsByProjectAppsByAppExecute(r)
}

/*
DeletePlatformProjectsByProjectAppsByApp Deletes an application and tears down what it runs.

Deletes an application and tears down what it runs.

It removes the application record and tears down what it owns in the org's
tenant namespace — its operator Service CR and its KMSSecret — then answers 204.
An app this org and project do not have is 404, never a silent success.

Teardown is best-effort by design: a cluster that refuses or is unreachable does
not block the delete, so the record cannot be left orphaned behind a broken
cluster; the failure is logged for operators and the orphan reaper reconciles
it. Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@return PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest
*/
func (a *PlatformAPIService) DeletePlatformProjectsByProjectAppsByApp(ctx context.Context, project string, app string) PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest {
	return PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
	}
}

// Execute executes the request
func (a *PlatformAPIService) DeletePlatformProjectsByProjectAppsByAppExecute(r PlatformAPIDeletePlatformProjectsByProjectAppsByAppRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.DeletePlatformProjectsByProjectAppsByApp")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
	host       string
}

func (r PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePlatformProjectsByProjectAppsByAppDomainsByHostExecute(r)
}

/*
DeletePlatformProjectsByProjectAppsByAppDomainsByHost Detaches a hostname and releases the claim.

Detaches a hostname and releases the claim.

It drops the host from the app's ingress and releases any custom claim on it, so
the name becomes claimable again — by this org or any other. Answers 204.

The default host is permanent and cannot be removed: that is 400, not 404. A host
that is neither attached nor claimed here is 404. Requires a validated principal;
403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@param host Host is the hostname, from the path.
	@return PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest
*/
func (a *PlatformAPIService) DeletePlatformProjectsByProjectAppsByAppDomainsByHost(ctx context.Context, project string, app string, host string) PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest {
	return PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
		host:       host,
	}
}

// Execute executes the request
func (a *PlatformAPIService) DeletePlatformProjectsByProjectAppsByAppDomainsByHostExecute(r PlatformAPIDeletePlatformProjectsByProjectAppsByAppDomainsByHostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.DeletePlatformProjectsByProjectAppsByAppDomainsByHost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/domains/{host}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"host"+"}", url.PathEscape(parameterValueToString(r.host, "host")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIDeletePlatformSitesBySlugRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	slug       string
}

func (r PlatformAPIDeletePlatformSitesBySlugRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePlatformSitesBySlugExecute(r)
}

/*
DeletePlatformSitesBySlug Deletes a project and takes its site off the internet.

Deletes a project and takes its site off the internet.

The metadata delete is authoritative and everything after it is best-effort,
in this order: the public `<slug>` subdomain binding is released so the slug is
free to reclaim, the release rows are dropped so a reclaimed slug never
inherits the previous owner's rollback menu, the git source is retired on
every copy it has so a reclaimed slug never adopts a repository left behind
(visibility.go), the S3 origin is purged under BOTH `<org>/<slug>/` and the
site's sibling release space, and the edge cache-tag is flushed. A failure in
any of those is logged and the delete still answers 204 — resurrecting a
project because a purge missed would be worse than a leaked prefix.

Scope: a validated principal is required (403 without one) and the project is
resolved within that principal's org, so another tenant's slug is a 404 and
nothing of theirs is touched.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return PlatformAPIDeletePlatformSitesBySlugRequest
*/
func (a *PlatformAPIService) DeletePlatformSitesBySlug(ctx context.Context, slug string) PlatformAPIDeletePlatformSitesBySlugRequest {
	return PlatformAPIDeletePlatformSitesBySlugRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
func (a *PlatformAPIService) DeletePlatformSitesBySlugExecute(r PlatformAPIDeletePlatformSitesBySlugRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.DeletePlatformSitesBySlug")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/sites/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIDeletePlatformSitesBySlugDomainsByHostRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	slug       string
	host       string
}

func (r PlatformAPIDeletePlatformSitesBySlugDomainsByHostRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePlatformSitesBySlugDomainsByHostExecute(r)
}

/*
DeletePlatformSitesBySlugDomainsByHost Gives a custom hostname back, so the name is free to reuse.

Gives a custom hostname back, so the name is free to reuse.

A claim is FIRST-COME and global, so an add-only surface was not ownership but
a leak: a customer who mistyped a domain, or claimed one they later moved
elsewhere, could neither reuse it nor let anyone else. This is the third
writer that closes it. The release is scoped to (host, org, slug), so it can
only ever drop THIS tenant's own claim, and it is IDEMPOTENT: releasing a host
we do not hold is a clean 204, never a 404 that would let a caller probe which
hosts other tenants hold. The edge cache-tag is flushed, since the host stops
routing here.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project the host is attached to, from the path.
	@param host Host is the custom hostname, from the path. It is cleaned to its canonical form (lowercased, trailing dot dropped) before anything is looked up.
	@return PlatformAPIDeletePlatformSitesBySlugDomainsByHostRequest
*/
func (a *PlatformAPIService) DeletePlatformSitesBySlugDomainsByHost(ctx context.Context, slug string, host string) PlatformAPIDeletePlatformSitesBySlugDomainsByHostRequest {
	return PlatformAPIDeletePlatformSitesBySlugDomainsByHostRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		host:       host,
	}
}

// Execute executes the request
func (a *PlatformAPIService) DeletePlatformSitesBySlugDomainsByHostExecute(r PlatformAPIDeletePlatformSitesBySlugDomainsByHostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.DeletePlatformSitesBySlugDomainsByHost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/sites/{slug}/domains/{host}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"host"+"}", url.PathEscape(parameterValueToString(r.host, "host")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformAppsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformAppsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetPlatformAppsExecute(r)
}

/*
GetPlatformApps What this organization has declared, and what CD did with it

Returns the declarations in the caller's own org directory, each joined with the Hanzo CD Application reconciling it — sync verdict, health, the universe commit last applied. `cd` is null for a declaration the delivery plane has no Application for, which is the normal state of one that exists only on a branch.

If the delivery plane cannot be read, the declarations are still returned and `cdUnavailable` says why. An unreadable plane never renders as "nothing has been reconciled".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformAppsRequest
*/
func (a *PlatformAPIService) GetPlatformApps(ctx context.Context) PlatformAPIGetPlatformAppsRequest {
	return PlatformAPIGetPlatformAppsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PlatformAPIService) GetPlatformAppsExecute(r PlatformAPIGetPlatformAppsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformApps")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/apps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformAppsByAppRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	app        string
}

func (r PlatformAPIGetPlatformAppsByAppRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetPlatformAppsByAppExecute(r)
}

/*
GetPlatformAppsByApp One declaration

The values file for one app as git declares it: image repository and tag, hosts, replicas, and whether CD is automated on it. 404 when this organization declares no such app.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param app
	@return PlatformAPIGetPlatformAppsByAppRequest
*/
func (a *PlatformAPIService) GetPlatformAppsByApp(ctx context.Context, app string) PlatformAPIGetPlatformAppsByAppRequest {
	return PlatformAPIGetPlatformAppsByAppRequest{
		ApiService: a,
		ctx:        ctx,
		app:        app,
	}
}

// Execute executes the request
func (a *PlatformAPIService) GetPlatformAppsByAppExecute(r PlatformAPIGetPlatformAppsByAppRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformAppsByApp")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/apps/{app}"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformAppsByAppCdRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	app        string
}

func (r PlatformAPIGetPlatformAppsByAppCdRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetPlatformAppsByAppCdExecute(r)
}

/*
GetPlatformAppsByAppCd One app's reconciliation

The Hanzo CD Application for one declaration, on its own — the poll a deploy view makes while it waits, without re-reading the whole inventory. 404 while the declaration exists only on a branch, because the generator reads main.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param app
	@return PlatformAPIGetPlatformAppsByAppCdRequest
*/
func (a *PlatformAPIService) GetPlatformAppsByAppCd(ctx context.Context, app string) PlatformAPIGetPlatformAppsByAppCdRequest {
	return PlatformAPIGetPlatformAppsByAppCdRequest{
		ApiService: a,
		ctx:        ctx,
		app:        app,
	}
}

// Execute executes the request
func (a *PlatformAPIService) GetPlatformAppsByAppCdExecute(r PlatformAPIGetPlatformAppsByAppCdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformAppsByAppCd")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/apps/{app}/cd"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformCdRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformCdRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetPlatformCdExecute(r)
}

/*
GetPlatformCd The delivery plane

Every Hanzo CD Application this caller may observe, with its sync verdict, health, the universe revision last applied, and whether automation and self-heal are on. A SuperAdmin sees the fleet; an org admin sees only Applications whose destination namespace IS its own organization, and never a reserved one.

A cluster with no CD installed answers an empty plane. A plane that cannot be READ answers 503 and says why — the two are opposite facts and never share a shape.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformCdRequest
*/
func (a *PlatformAPIService) GetPlatformCd(ctx context.Context) PlatformAPIGetPlatformCdRequest {
	return PlatformAPIGetPlatformCdRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PlatformAPIService) GetPlatformCdExecute(r PlatformAPIGetPlatformCdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformCd")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/cd"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformCiRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformCiRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetPlatformCiExecute(r)
}

/*
GetPlatformCi Continuous integration (not wired)

Answers 501. The forge's Actions runs need a Forgejo API client and this deployment has none; an empty run list would be indistinguishable from a forge with no runs.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformCiRequest
*/
func (a *PlatformAPIService) GetPlatformCi(ctx context.Context) PlatformAPIGetPlatformCiRequest {
	return PlatformAPIGetPlatformCiRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PlatformAPIService) GetPlatformCiExecute(r PlatformAPIGetPlatformCiRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformCi")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/ci"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformFleetRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	env        *string
	health     *string
	org        *string
	drift      *string
}

// Env narrows to one lifecycle env: main, test or dev.
func (r PlatformAPIGetPlatformFleetRequest) Env(env string) PlatformAPIGetPlatformFleetRequest {
	r.env = &env
	return r
}

// Health narrows to one health colour: green, yellow or red.
func (r PlatformAPIGetPlatformFleetRequest) Health(health string) PlatformAPIGetPlatformFleetRequest {
	r.health = &health
	return r
}

// Org narrows to one image namespace.
func (r PlatformAPIGetPlatformFleetRequest) Org(org string) PlatformAPIGetPlatformFleetRequest {
	r.org = &org
	return r
}

// Drift is &#x60;1&#x60; or &#x60;true&#x60; to show only rows that have actually drifted. It is a STRING and not a bool because those two spellings are exactly what the board has always accepted, and a bool would silently widen that to &#x60;?drift&#x60; alone and to &#x60;TRUE&#x60; — a behaviour change wearing a type change&#39;s clothes.
func (r PlatformAPIGetPlatformFleetRequest) Drift(drift string) PlatformAPIGetPlatformFleetRequest {
	r.drift = &drift
	return r
}

func (r PlatformAPIGetPlatformFleetRequest) Execute() (*DriftBoard, *http.Response, error) {
	return r.ApiService.GetPlatformFleetExecute(r)
}

/*
GetPlatformFleet Returns the platform's own service tier, and where it has drifted.

Returns the platform's own service tier, and where it has drifted.

It returns the board for the services the PLATFORM itself runs — iam, kms,
gateway and the rest — as `{apps, summary}`: per service its environment, health,
phase, the image tag its CR DECLARES, the tag actually running, and the drift
between them, plus a summary counting the board green, yellow and red.

This is not a customer surface. `/v1/platform/projects/:project/apps` is a
tenant's apps; this is the tier those tenants run ON, which is why the two are
named differently rather than sharing a prefix.

Admission is scoped at the SCAN, before any CR is read: a platform SuperAdmin
observes the whole fleet, an org admin observes only their own org's namespaces,
and an org that owns none gets an empty board — a non-super caller never even
lists another org's services. Narrow further with `env`, `health`, `org`, or
`drift=1` for only what has drifted.

It degrades honestly rather than failing whole: a namespace that does not exist
is skipped, and a running-state read the caller cannot make leaves the running
tag empty — an unknown, never a guess — while the declared, health and phase
columns still render.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformFleetRequest
*/
func (a *PlatformAPIService) GetPlatformFleet(ctx context.Context) PlatformAPIGetPlatformFleetRequest {
	return PlatformAPIGetPlatformFleetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DriftBoard
func (a *PlatformAPIService) GetPlatformFleetExecute(r PlatformAPIGetPlatformFleetRequest) (*DriftBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DriftBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformFleet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/fleet"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.env != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "env", r.env, "form", "")
	}
	if r.health != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "health", r.health, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.drift != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "drift", r.drift, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformFleetByAppRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	app        string
	env        *string
}

// Env narrows the scan to one lifecycle env: main, test or dev. Omitted, the namespaces are scanned in lifecycle order and the first match wins, so a bare name resolves to PRODUCTION.
func (r PlatformAPIGetPlatformFleetByAppRequest) Env(env string) PlatformAPIGetPlatformFleetByAppRequest {
	r.env = &env
	return r
}

func (r PlatformAPIGetPlatformFleetByAppRequest) Execute() (*AppView, *http.Response, error) {
	return r.ApiService.GetPlatformFleetByAppExecute(r)
}

/*
GetPlatformFleetByApp Returns one platform service, resolved to production by default.

Returns one platform service, resolved to production by default.

It returns a single platform service by its CR name, with the same
declared-versus-running and drift facts the board carries. The name must be a
DNS-1123 label; anything else is 400.

Namespaces are scanned in lifecycle order — main, then test, then dev — and the
first match wins, so a bare name resolves to PRODUCTION. The scan covers only the
namespaces the caller is authorized for, so an org admin can never read a service
outside their own org, and a name found in none of them is 404 rather than a leak.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param app App is the service's CR name, from the path. It must be a DNS-1123 label.
	@return PlatformAPIGetPlatformFleetByAppRequest
*/
func (a *PlatformAPIService) GetPlatformFleetByApp(ctx context.Context, app string) PlatformAPIGetPlatformFleetByAppRequest {
	return PlatformAPIGetPlatformFleetByAppRequest{
		ApiService: a,
		ctx:        ctx,
		app:        app,
	}
}

// Execute executes the request
//
//	@return AppView
func (a *PlatformAPIService) GetPlatformFleetByAppExecute(r PlatformAPIGetPlatformFleetByAppRequest) (*AppView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AppView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformFleetByApp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/fleet/{app}"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.env != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "env", r.env, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformHealthRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformHealthRequest) Execute() (*Readiness, *http.Response, error) {
	return r.ApiService.GetPlatformHealthExecute(r)
}

/*
GetPlatformHealth Reports whether this control plane can actually deploy anything.

Reports whether this control plane can actually deploy anything.

A real probe, not a status page. It answers 200 only when the metadata store is
open AND the cluster is genuinely reachable — proved by LISTING the operator App
CRD, which settles reachability and CRD presence in one bounded call, and which
is the exact question every deploy depends on. Anything else is 503 carrying the
real reason and whether the CRD was found.

A constructed cluster client proves nothing — it is built from a kubeconfig, not
from a reachable apiserver — so this deliberately spends a round trip rather than
reporting `ok` while every deploy fails. Not admin-gated: liveness has to be
probe-able without a credential.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformHealthRequest
*/
func (a *PlatformAPIService) GetPlatformHealth(ctx context.Context) PlatformAPIGetPlatformHealthRequest {
	return PlatformAPIGetPlatformHealthRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Readiness
func (a *PlatformAPIService) GetPlatformHealthExecute(r PlatformAPIGetPlatformHealthRequest) (*Readiness, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Readiness
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformHealth")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v Readiness
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformProjectsRequest) Execute() ([]ProjectView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsExecute(r)
}

/*
GetPlatformProjects Returns your org's projects, each with how many apps live under it.

Returns your org's projects, each with how many apps live under it.

It lists the caller org's projects with the number of platform applications in
each. A project is IAM's resource — it is created and deleted at
/v1/iam/projects, never here — so this is the ONE projection IAM cannot serve:
the project plus what the platform has put under it.

Requires a validated principal; 403 without one, and the org comes from that
validated identity rather than a request header. This is the console's first
authenticated read, so a project store that is not yet initialised degrades to
an EMPTY list rather than a 500 — a new org genuinely has zero projects — and
the real cause is surfaced to operators instead of to the caller.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformProjectsRequest
*/
func (a *PlatformAPIService) GetPlatformProjects(ctx context.Context) PlatformAPIGetPlatformProjectsRequest {
	return PlatformAPIGetPlatformProjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ProjectView
func (a *PlatformAPIService) GetPlatformProjectsExecute(r PlatformAPIGetPlatformProjectsRequest) ([]ProjectView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
}

func (r PlatformAPIGetPlatformProjectsByProjectRequest) Execute() (*ProjectView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectExecute(r)
}

/*
GetPlatformProjectsByProject Returns one project and its app count.

Returns one project and its app count.

It returns a single project of the caller's org with the number of platform
applications under it. A project this org does not have is 404, which is also
what another tenant's project looks like from here. Requires a validated
principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project's name, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProject(ctx context.Context, project string) PlatformAPIGetPlatformProjectsByProjectRequest {
	return PlatformAPIGetPlatformProjectsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return ProjectView
func (a *PlatformAPIService) GetPlatformProjectsByProjectExecute(r PlatformAPIGetPlatformProjectsByProjectRequest) (*ProjectView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsRequest) Execute() ([]AppView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsExecute(r)
}

/*
GetPlatformProjectsByProjectApps Returns the applications in one project, with what the cluster says about them.

Returns the applications in one project, with what the cluster says
about them.

It lists the caller org's applications under one project. Each row carries the
stored record and, for an app that is live or deploying, the LIVE phase and
health read from its operator Service CR; an app with sealed env also carries
its secret-sync state. Those cluster reads are best-effort — an unreachable
cluster leaves those fields empty and never blocks the listing.

The project must exist in IAM for this org, or the answer is 404; the `default`
project is implicit and always accepted, because it is part of what an org IS.
Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project's name, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectApps(ctx context.Context, project string) PlatformAPIGetPlatformProjectsByProjectAppsRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
	}
}

// Execute executes the request
//
//	@return []AppView
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsExecute(r PlatformAPIGetPlatformProjectsByProjectAppsRequest) ([]AppView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AppView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectApps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest) Execute() (*AppView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByApp Returns one application, with its live phase, health and secret sync.

Returns one application, with its live phase, health and secret sync.

It returns a single application of the caller's org together with what the
cluster currently reports for it: the operator Service CR's phase and health,
and whether its sealed env has synced. An app this org and project do not have
is 404. Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByApp(ctx context.Context, project string, app string) PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
	}
}

// Execute executes the request
//
//	@return AppView
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppRequest) (*AppView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AppView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByApp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest) Execute() ([]DeploymentView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppDeploymentsExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByAppDeployments Returns an app's deployment history.

Returns an app's deployment history.

It lists every deployment recorded for one of the caller org's applications,
newest version first, each with its version, status, source, commit and image.
Failed and superseded attempts are included — that is the point of a history.
Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeployments(ctx context.Context, project string, app string) PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
	}
}

// Execute executes the request
//
//	@return []DeploymentView
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsRequest) ([]DeploymentView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DeploymentView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByAppDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
	id         string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest) Execute() (*DeploymentView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppDeploymentsByIdExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByAppDeploymentsById Returns one deployment of one app.

Returns one deployment of one app.

It returns a single deployment by id, scoped to the named application of the
caller's org — so an id belonging to another app or another tenant is 404, not a
read. Requires a validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@param id ID is the deployment's id, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsById(ctx context.Context, project string, app string, id string) PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
		id:         id,
	}
}

// Execute executes the request
//
//	@return DeploymentView
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsByIdExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdRequest) (*DeploymentView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DeploymentView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByAppDeploymentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/deployments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
	id         string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest) Execute() (*DeployLogs, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogs Returns real logs for a deployment — the build's, then the app's.

Returns real logs for a deployment — the build's, then the app's.

It returns the deployment's recorded status timeline together with LIVE pod logs
pulled from the cluster: the build pod's output while a git build is running, and
the running app's output once it is deployed. The `source` field says which of
the two the body is — `build`, `app` or `none` — so a console can label the pane
honestly.

It never fabricates log content. When no pod exists yet, or the cluster is
unreachable, it degrades to the recorded timeline and says so. Every cluster read
is confined to the caller org's own namespaces and time-boxed. Requires a
validated principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@param id ID is the deployment's id, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogs(ctx context.Context, project string, app string, id string) PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
		id:         id,
	}
}

// Execute executes the request
//
//	@return DeployLogs
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequest) (*DeployLogs, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DeployLogs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByAppDeploymentsByIdLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformProjectsByProjectAppsByAppDomainsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	project    string
	app        string
}

func (r PlatformAPIGetPlatformProjectsByProjectAppsByAppDomainsRequest) Execute() ([]DomainView, *http.Response, error) {
	return r.ApiService.GetPlatformProjectsByProjectAppsByAppDomainsExecute(r)
}

/*
GetPlatformProjectsByProjectAppsByAppDomains Returns every hostname this app answers on.

Returns every hostname this app answers on.

It lists the app's hosts: the permanent default host it was born with, any
org-subtree hosts attached to it, and every custom host claimed for it with its
verification state and, while pending, the DNS challenge records to publish. Live
endpoint status for each host is observed from the cluster. Requires a validated
principal; 403 without one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param project Project is the project the application lives under, from the path.
	@param app App is the application's slug, from the path.
	@return PlatformAPIGetPlatformProjectsByProjectAppsByAppDomainsRequest
*/
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDomains(ctx context.Context, project string, app string) PlatformAPIGetPlatformProjectsByProjectAppsByAppDomainsRequest {
	return PlatformAPIGetPlatformProjectsByProjectAppsByAppDomainsRequest{
		ApiService: a,
		ctx:        ctx,
		project:    project,
		app:        app,
	}
}

// Execute executes the request
//
//	@return []DomainView
func (a *PlatformAPIService) GetPlatformProjectsByProjectAppsByAppDomainsExecute(r PlatformAPIGetPlatformProjectsByProjectAppsByAppDomainsRequest) ([]DomainView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DomainView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformProjectsByProjectAppsByAppDomains")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/projects/{project}/apps/{app}/domains"
	localVarPath = strings.Replace(localVarPath, "{"+"project"+"}", url.PathEscape(parameterValueToString(r.project, "project")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformSitesRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
}

func (r PlatformAPIGetPlatformSitesRequest) Execute() ([]ProjectsProject, *http.Response, error) {
	return r.ApiService.GetPlatformSitesExecute(r)
}

/*
GetPlatformSites Returns every project your org owns.

Returns every project your org owns.

Each row carries the slug, name, framework, visibility, status and live URL —
the same rows console and the builder render, because there is only one store
behind both. It requires a validated principal (403 without one) and is keyed
by that principal's org, so it never contains another tenant's project.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PlatformAPIGetPlatformSitesRequest
*/
func (a *PlatformAPIService) GetPlatformSites(ctx context.Context) PlatformAPIGetPlatformSitesRequest {
	return PlatformAPIGetPlatformSitesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ProjectsProject
func (a *PlatformAPIService) GetPlatformSitesExecute(r PlatformAPIGetPlatformSitesRequest) ([]ProjectsProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectsProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformSites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/sites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformSitesBySlugRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	slug       string
}

func (r PlatformAPIGetPlatformSitesBySlugRequest) Execute() (*ProjectsProject, *http.Response, error) {
	return r.ApiService.GetPlatformSitesBySlugExecute(r)
}

/*
GetPlatformSitesBySlug Returns one project of yours by slug — its settings, its live URL and the deployment currently serving it.

Returns one project of yours by slug — its settings, its live URL
and the deployment currently serving it.

Scope: a validated principal is required (403 without one) and the lookup is
keyed by (org, slug), so another tenant's slug is a 404 exactly like a
nonexistent one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return PlatformAPIGetPlatformSitesBySlugRequest
*/
func (a *PlatformAPIService) GetPlatformSitesBySlug(ctx context.Context, slug string) PlatformAPIGetPlatformSitesBySlugRequest {
	return PlatformAPIGetPlatformSitesBySlugRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsProject
func (a *PlatformAPIService) GetPlatformSitesBySlugExecute(r PlatformAPIGetPlatformSitesBySlugRequest) (*ProjectsProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformSitesBySlug")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/sites/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformSitesBySlugDeploymentsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	slug       string
}

func (r PlatformAPIGetPlatformSitesBySlugDeploymentsRequest) Execute() ([]ProjectsDeployment, *http.Response, error) {
	return r.ApiService.GetPlatformSitesBySlugDeploymentsExecute(r)
}

/*
GetPlatformSitesBySlugDeployments Returns a project's deploy history, newest version first.

Returns a project's deploy history, newest version first.

Every deploy of the project is a row — uploads, generated sites, and git/CI
builds alike — carrying its version, status, source, commit, live URL, file
count and byte count. The short-lived upload grant a queued git deployment was
handed is NOT replayed here: it exists only on the 202 that minted it, so a
grant cannot outlive its build by being fetched again.

Scope: a validated principal is required (403 without one) and the project is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return PlatformAPIGetPlatformSitesBySlugDeploymentsRequest
*/
func (a *PlatformAPIService) GetPlatformSitesBySlugDeployments(ctx context.Context, slug string) PlatformAPIGetPlatformSitesBySlugDeploymentsRequest {
	return PlatformAPIGetPlatformSitesBySlugDeploymentsRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return []ProjectsDeployment
func (a *PlatformAPIService) GetPlatformSitesBySlugDeploymentsExecute(r PlatformAPIGetPlatformSitesBySlugDeploymentsRequest) ([]ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformSitesBySlugDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/sites/{slug}/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformSitesBySlugDeploymentsByIdRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	slug       string
	id         string
}

func (r PlatformAPIGetPlatformSitesBySlugDeploymentsByIdRequest) Execute() (*ProjectsDeployment, *http.Response, error) {
	return r.ApiService.GetPlatformSitesBySlugDeploymentsByIdExecute(r)
}

/*
GetPlatformSitesBySlugDeploymentsById Returns one deployment of a project by id.

Returns one deployment of a project by id.

It is how a console follows a build: the status (`queued`, `uploading`,
`live`, `error`), the message a failure left, and the URL and prefix it went
live at. Like the history, it never replays the upload grant.

Scope: a validated principal is required (403 without one). Both the project
and the deployment are resolved within that principal's org, so a deployment
of another project — or of another tenant — is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project the deployment belongs to, from the path.
	@param id ID is the deployment id, from the path. A deployment of another project — or of another tenant's project — is not found.
	@return PlatformAPIGetPlatformSitesBySlugDeploymentsByIdRequest
*/
func (a *PlatformAPIService) GetPlatformSitesBySlugDeploymentsById(ctx context.Context, slug string, id string) PlatformAPIGetPlatformSitesBySlugDeploymentsByIdRequest {
	return PlatformAPIGetPlatformSitesBySlugDeploymentsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ProjectsDeployment
func (a *PlatformAPIService) GetPlatformSitesBySlugDeploymentsByIdExecute(r PlatformAPIGetPlatformSitesBySlugDeploymentsByIdRequest) (*ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.GetPlatformSitesBySlugDeploymentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/platform/sites/{slug}/deployments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PlatformAPIGetPlatformSitesBySlugDomainsRequest struct {
	ctx        context.Context
	ApiService *PlatformAPIService
	slug       string
}

func (r PlatformAPIGetPlatformSitesBySlugDomainsRequest) Execute() (*ProjectsDomains, *http.Response, error) {
	return r.ApiService.GetPlatformSitesBySlugDomainsExecute(r)
}

/*
GetPlatformSitesBySlugDomains Returns every custom hostname this site holds: the live ones, plus any pending claim with the DNS records it still owes.

Returns every custom hostname this site holds: the live ones, plus
any pending claim with the DNS records it still owes.

`domains` is the routing answer — the hosts that are verified right now —
while `claims` is the full panel, one row per host, each saying whether it is
live or pending and, if pending, exactly what to publish.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return PlatformAPIGetPlatformSitesBySlugDomainsRequest
*/
func (a *PlatformAPIService) GetPlatformSitesBySlugDomains(ctx context.Context, slug string) PlatformAPIGetPlatformSitesBySlugDomainsRequest {
	return PlatformAPIGetPlatformSitesBySlugDomainsRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
[...]
