/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// O11yTracesAPIService O11yTracesAPI service
type O11yTracesAPIService service

type O11yTracesAPIO11yGetDependenciesRequest struct {
	ctx        context.Context
	ApiService *O11yTracesAPIService
	start      *time.Time
	end        *time.Time
}

func (r O11yTracesAPIO11yGetDependenciesRequest) Start(start time.Time) O11yTracesAPIO11yGetDependenciesRequest {
	r.start = &start
	return r
}

func (r O11yTracesAPIO11yGetDependenciesRequest) End(end time.Time) O11yTracesAPIO11yGetDependenciesRequest {
	r.end = &end
	return r
}

func (r O11yTracesAPIO11yGetDependenciesRequest) Execute() (*O11yGetDependencies200Response, *http.Response, error) {
	return r.ApiService.O11yGetDependenciesExecute(r)
}

/*
O11yGetDependencies Get service dependency graph

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yTracesAPIO11yGetDependenciesRequest
*/
func (a *O11yTracesAPIService) O11yGetDependencies(ctx context.Context) O11yTracesAPIO11yGetDependenciesRequest {
	return O11yTracesAPIO11yGetDependenciesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yGetDependencies200Response
func (a *O11yTracesAPIService) O11yGetDependenciesExecute(r O11yTracesAPIO11yGetDependenciesRequest) (*O11yGetDependencies200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yGetDependencies200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yTracesAPIService.O11yGetDependencies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/dependencies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.end == nil {
		return localVarReturnValue, nil, reportError("end is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yTracesAPIO11yGetTraceRequest struct {
	ctx        context.Context
	ApiService *O11yTracesAPIService
	traceId    string
}

func (r O11yTracesAPIO11yGetTraceRequest) Execute() (*O11yTrace, *http.Response, error) {
	return r.ApiService.O11yGetTraceExecute(r)
}

/*
O11yGetTrace Get trace by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param traceId
	@return O11yTracesAPIO11yGetTraceRequest
*/
func (a *O11yTracesAPIService) O11yGetTrace(ctx context.Context, traceId string) O11yTracesAPIO11yGetTraceRequest {
	return O11yTracesAPIO11yGetTraceRequest{
		ApiService: a,
		ctx:        ctx,
		traceId:    traceId,
	}
}

// Execute executes the request
//
//	@return O11yTrace
func (a *O11yTracesAPIService) O11yGetTraceExecute(r O11yTracesAPIO11yGetTraceRequest) (*O11yTrace, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yTrace
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yTracesAPIService.O11yGetTrace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/traces/{traceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"traceId"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v O11yError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yTracesAPIO11yListServiceOperationsRequest struct {
	ctx        context.Context
	ApiService *O11yTracesAPIService
	name       string
	spanKind   *string
}

func (r O11yTracesAPIO11yListServiceOperationsRequest) SpanKind(spanKind string) O11yTracesAPIO11yListServiceOperationsRequest {
	r.spanKind = &spanKind
	return r
}

func (r O11yTracesAPIO11yListServiceOperationsRequest) Execute() (*O11yListServiceOperations200Response, *http.Response, error) {
	return r.ApiService.O11yListServiceOperationsExecute(r)
}

/*
O11yListServiceOperations List service operations

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return O11yTracesAPIO11yListServiceOperationsRequest
*/
func (a *O11yTracesAPIService) O11yListServiceOperations(ctx context.Context, name string) O11yTracesAPIO11yListServiceOperationsRequest {
	return O11yTracesAPIO11yListServiceOperationsRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return O11yListServiceOperations200Response
func (a *O11yTracesAPIService) O11yListServiceOperationsExecute(r O11yTracesAPIO11yListServiceOperationsRequest) (*O11yListServiceOperations200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yListServiceOperations200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yTracesAPIService.O11yListServiceOperations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/services/{name}/operations"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.spanKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "span_kind", r.spanKind, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yTracesAPIO11yListServicesRequest struct {
	ctx        context.Context
	ApiService *O11yTracesAPIService
}

func (r O11yTracesAPIO11yListServicesRequest) Execute() (*O11yListServices200Response, *http.Response, error) {
	return r.ApiService.O11yListServicesExecute(r)
}

/*
O11yListServices List traced services

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yTracesAPIO11yListServicesRequest
*/
func (a *O11yTracesAPIService) O11yListServices(ctx context.Context) O11yTracesAPIO11yListServicesRequest {
	return O11yTracesAPIO11yListServicesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11yListServices200Response
func (a *O11yTracesAPIService) O11yListServicesExecute(r O11yTracesAPIO11yListServicesRequest) (*O11yListServices200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11yListServices200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yTracesAPIService.O11yListServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/services"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yTracesAPIO11ySearchTracesRequest struct {
	ctx         context.Context
	ApiService  *O11yTracesAPIService
	service     *string
	operation   *string
	tags        *string
	minDuration *string
	maxDuration *string
	start       *time.Time
	end         *time.Time
	limit       *int32
}

// Filter by service name
func (r O11yTracesAPIO11ySearchTracesRequest) Service(service string) O11yTracesAPIO11ySearchTracesRequest {
	r.service = &service
	return r
}

// Filter by operation name
func (r O11yTracesAPIO11ySearchTracesRequest) Operation(operation string) O11yTracesAPIO11ySearchTracesRequest {
	r.operation = &operation
	return r
}

// Key-value tag filter (e.g. http.status_code&#x3D;500)
func (r O11yTracesAPIO11ySearchTracesRequest) Tags(tags string) O11yTracesAPIO11ySearchTracesRequest {
	r.tags = &tags
	return r
}

// Minimum trace duration (e.g. 100ms, 1s)
func (r O11yTracesAPIO11ySearchTracesRequest) MinDuration(minDuration string) O11yTracesAPIO11ySearchTracesRequest {
	r.minDuration = &minDuration
	return r
}

func (r O11yTracesAPIO11ySearchTracesRequest) MaxDuration(maxDuration string) O11yTracesAPIO11ySearchTracesRequest {
	r.maxDuration = &maxDuration
	return r
}

func (r O11yTracesAPIO11ySearchTracesRequest) Start(start time.Time) O11yTracesAPIO11ySearchTracesRequest {
	r.start = &start
	return r
}

func (r O11yTracesAPIO11ySearchTracesRequest) End(end time.Time) O11yTracesAPIO11ySearchTracesRequest {
	r.end = &end
	return r
}

func (r O11yTracesAPIO11ySearchTracesRequest) Limit(limit int32) O11yTracesAPIO11ySearchTracesRequest {
	r.limit = &limit
	return r
}

func (r O11yTracesAPIO11ySearchTracesRequest) Execute() (*O11ySearchTraces200Response, *http.Response, error) {
	return r.ApiService.O11ySearchTracesExecute(r)
}

/*
O11ySearchTraces Search traces

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yTracesAPIO11ySearchTracesRequest
*/
func (a *O11yTracesAPIService) O11ySearchTraces(ctx context.Context) O11yTracesAPIO11ySearchTracesRequest {
	return O11yTracesAPIO11ySearchTracesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return O11ySearchTraces200Response
func (a *O11yTracesAPIService) O11ySearchTracesExecute(r O11yTracesAPIO11ySearchTracesRequest) (*O11ySearchTraces200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *O11ySearchTraces200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yTracesAPIService.O11ySearchTraces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/traces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.service != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "service", r.service, "form", "")
	}
	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	}
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags", r.tags, "form", "")
	}
	if r.minDuration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_duration", r.minDuration, "form", "")
	}
	if r.maxDuration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_duration", r.maxDuration, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v O11yError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
