/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// PubsubAPIService PubsubAPI service
type PubsubAPIService service

type PubsubAPIPostPubsubPublishRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	busPublish *BusPublish
}

func (r PubsubAPIPostPubsubPublishRequest) BusPublish(busPublish BusPublish) PubsubAPIPostPubsubPublishRequest {
	r.busPublish = &busPublish
	return r
}

func (r PubsubAPIPostPubsubPublishRequest) Execute() (*BusAck, *http.Response, error) {
	return r.ApiService.PostPubsubPublishExecute(r)
}

/*
PostPubsubPublish Publish puts one message on the org's bus.

Publish puts one message on the org's bus. When a stream captures the subject
the write is DURABLE — the receipt names the stream and sequence only after
JetStream has it on storage, and a repeated Nats-Msg-Id header within the
dedup window answers duplicate instead of storing twice. When nothing
captures it, the message goes out core NATS: delivered to current
subscribers, receipt {ok}, nothing retained.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubsubAPIPostPubsubPublishRequest
*/
func (a *PubsubAPIService) PostPubsubPublish(ctx context.Context) PubsubAPIPostPubsubPublishRequest {
	return PubsubAPIPostPubsubPublishRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BusAck
func (a *PubsubAPIService) PostPubsubPublishExecute(r PubsubAPIPostPubsubPublishRequest) (*BusAck, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusAck
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PostPubsubPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/publish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.busPublish == nil {
		return localVarReturnValue, nil, reportError("busPublish is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.busPublish
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PubsubAPIPostPubsubRequestRequest struct {
	ctx        context.Context
	ApiService *PubsubAPIService
	busRequest *BusRequest
}

func (r PubsubAPIPostPubsubRequestRequest) BusRequest(busRequest BusRequest) PubsubAPIPostPubsubRequestRequest {
	r.busRequest = &busRequest
	return r
}

func (r PubsubAPIPostPubsubRequestRequest) Execute() (*BusMessage, *http.Response, error) {
	return r.ApiService.PostPubsubRequestExecute(r)
}

/*
PostPubsubRequest Request sends one request on the org's bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port.

Request sends one request on the org's bus and waits for one reply — the
synchronous half of pub/sub, for callers speaking to a responder subscribed
on the NATS port. 404 when nobody is listening on the subject; 408 when a
responder exists but no reply arrived within the timeout.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PubsubAPIPostPubsubRequestRequest
*/
func (a *PubsubAPIService) PostPubsubRequest(ctx context.Context) PubsubAPIPostPubsubRequestRequest {
	return PubsubAPIPostPubsubRequestRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BusMessage
func (a *PubsubAPIService) PostPubsubRequestExecute(r PubsubAPIPostPubsubRequestRequest) (*BusMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubsubAPIService.PostPubsubRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pubsub/request"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.busRequest == nil {
		return localVarReturnValue, nil, reportError("busRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.busRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
