/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DidProfilesAPIService DidProfilesAPI service
type DidProfilesAPIService service

type DidProfilesAPIDidGetProfileRequest struct {
	ctx        context.Context
	ApiService *DidProfilesAPIService
	profileId  string
}

func (r DidProfilesAPIDidGetProfileRequest) Execute() (*DidProfile, *http.Response, error) {
	return r.ApiService.DidGetProfileExecute(r)
}

/*
DidGetProfile Get a profile

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param profileId
	@return DidProfilesAPIDidGetProfileRequest
*/
func (a *DidProfilesAPIService) DidGetProfile(ctx context.Context, profileId string) DidProfilesAPIDidGetProfileRequest {
	return DidProfilesAPIDidGetProfileRequest{
		ApiService: a,
		ctx:        ctx,
		profileId:  profileId,
	}
}

// Execute executes the request
//
//	@return DidProfile
func (a *DidProfilesAPIService) DidGetProfileExecute(r DidProfilesAPIDidGetProfileRequest) (*DidProfile, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DidProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DidProfilesAPIService.DidGetProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/did/profiles/{profile_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"profile_id"+"}", url.PathEscape(parameterValueToString(r.profileId, "profileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DidProfilesAPIDidGetProfileHistoryRequest struct {
	ctx        context.Context
	ApiService *DidProfilesAPIService
	profileId  string
	limit      *int32
}

func (r DidProfilesAPIDidGetProfileHistoryRequest) Limit(limit int32) DidProfilesAPIDidGetProfileHistoryRequest {
	r.limit = &limit
	return r
}

func (r DidProfilesAPIDidGetProfileHistoryRequest) Execute() (*DidGetProfileHistory200Response, *http.Response, error) {
	return r.ApiService.DidGetProfileHistoryExecute(r)
}

/*
DidGetProfileHistory Get profile change history

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param profileId
	@return DidProfilesAPIDidGetProfileHistoryRequest
*/
func (a *DidProfilesAPIService) DidGetProfileHistory(ctx context.Context, profileId string) DidProfilesAPIDidGetProfileHistoryRequest {
	return DidProfilesAPIDidGetProfileHistoryRequest{
		ApiService: a,
		ctx:        ctx,
		profileId:  profileId,
	}
}

// Execute executes the request
//
//	@return DidGetProfileHistory200Response
func (a *DidProfilesAPIService) DidGetProfileHistoryExecute(r DidProfilesAPIDidGetProfileHistoryRequest) (*DidGetProfileHistory200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DidGetProfileHistory200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DidProfilesAPIService.DidGetProfileHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/did/profiles/{profile_id}/history"
	localVarPath = strings.Replace(localVarPath, "{"+"profile_id"+"}", url.PathEscape(parameterValueToString(r.profileId, "profileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DidProfilesAPIDidListProfilesRequest struct {
	ctx          context.Context
	ApiService   *DidProfilesAPIService
	organization *string
	type_        *string
	team         *string
	status       *string
	search       *string
	limit        *int32
	cursor       *string
}

// Organization to list profiles for
func (r DidProfilesAPIDidListProfilesRequest) Organization(organization string) DidProfilesAPIDidListProfilesRequest {
	r.organization = &organization
	return r
}

// Filter by profile type
func (r DidProfilesAPIDidListProfilesRequest) Type_(type_ string) DidProfilesAPIDidListProfilesRequest {
	r.type_ = &type_
	return r
}

// Filter by team membership
func (r DidProfilesAPIDidListProfilesRequest) Team(team string) DidProfilesAPIDidListProfilesRequest {
	r.team = &team
	return r
}

// Filter by status
func (r DidProfilesAPIDidListProfilesRequest) Status(status string) DidProfilesAPIDidListProfilesRequest {
	r.status = &status
	return r
}

// Search by name or email
func (r DidProfilesAPIDidListProfilesRequest) Search(search string) DidProfilesAPIDidListProfilesRequest {
	r.search = &search
	return r
}

func (r DidProfilesAPIDidListProfilesRequest) Limit(limit int32) DidProfilesAPIDidListProfilesRequest {
	r.limit = &limit
	return r
}

func (r DidProfilesAPIDidListProfilesRequest) Cursor(cursor string) DidProfilesAPIDidListProfilesRequest {
	r.cursor = &cursor
	return r
}

func (r DidProfilesAPIDidListProfilesRequest) Execute() (*DidListProfiles200Response, *http.Response, error) {
	return r.ApiService.DidListProfilesExecute(r)
}

/*
DidListProfiles List profiles

List all profiles in an organization, with optional filtering.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DidProfilesAPIDidListProfilesRequest
*/
func (a *DidProfilesAPIService) DidListProfiles(ctx context.Context) DidProfilesAPIDidListProfilesRequest {
	return DidProfilesAPIDidListProfilesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DidListProfiles200Response
func (a *DidProfilesAPIService) DidListProfilesExecute(r DidProfilesAPIDidListProfilesRequest) (*DidListProfiles200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DidListProfiles200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DidProfilesAPIService.DidListProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/did/profiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organization == nil {
		return localVarReturnValue, nil, reportError("organization is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "organization", r.organization, "form", "")
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.team != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "team", r.team, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DidProfilesAPIDidUpdateProfileRequest struct {
	ctx                     context.Context
	ApiService              *DidProfilesAPIService
	profileId               string
	didUpdateProfileRequest *DidUpdateProfileRequest
}

func (r DidProfilesAPIDidUpdateProfileRequest) DidUpdateProfileRequest(didUpdateProfileRequest DidUpdateProfileRequest) DidProfilesAPIDidUpdateProfileRequest {
	r.didUpdateProfileRequest = &didUpdateProfileRequest
	return r
}

func (r DidProfilesAPIDidUpdateProfileRequest) Execute() (*DidProfile, *http.Response, error) {
	return r.ApiService.DidUpdateProfileExecute(r)
}

/*
DidUpdateProfile Update a profile

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param profileId
	@return DidProfilesAPIDidUpdateProfileRequest
*/
func (a *DidProfilesAPIService) DidUpdateProfile(ctx context.Context, profileId string) DidProfilesAPIDidUpdateProfileRequest {
	return DidProfilesAPIDidUpdateProfileRequest{
		ApiService: a,
		ctx:        ctx,
		profileId:  profileId,
	}
}

// Execute executes the request
//
//	@return DidProfile
func (a *DidProfilesAPIService) DidUpdateProfileExecute(r DidProfilesAPIDidUpdateProfileRequest) (*DidProfile, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DidProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DidProfilesAPIService.DidUpdateProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/did/profiles/{profile_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"profile_id"+"}", url.PathEscape(parameterValueToString(r.profileId, "profileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.didUpdateProfileRequest == nil {
		return localVarReturnValue, nil, reportError("didUpdateProfileRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.didUpdateProfileRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
