/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AutomationsAPIService AutomationsAPI service
type AutomationsAPIService service

type AutomationsAPICloudDeleteV1AutomationsFlowsIdRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
}

func (r AutomationsAPICloudDeleteV1AutomationsFlowsIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1AutomationsFlowsIdExecute(r)
}

/*
CloudDeleteV1AutomationsFlowsId DeleteFlow deletes one automation, its versions and its run history.

DeleteFlow deletes one automation, its versions and its run history. It answers
no content, and a flow of another org answers not-found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the flow to act on, from the path.
	@return AutomationsAPICloudDeleteV1AutomationsFlowsIdRequest
*/
func (a *AutomationsAPIService) CloudDeleteV1AutomationsFlowsId(ctx context.Context, id string) AutomationsAPICloudDeleteV1AutomationsFlowsIdRequest {
	return AutomationsAPICloudDeleteV1AutomationsFlowsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AutomationsAPIService) CloudDeleteV1AutomationsFlowsIdExecute(r AutomationsAPICloudDeleteV1AutomationsFlowsIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudDeleteV1AutomationsFlowsId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AutomationsAPICloudGetV1AutomationsConnectorsRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
}

func (r AutomationsAPICloudGetV1AutomationsConnectorsRequest) Execute() (*CloudCatalog, *http.Response, error) {
	return r.ApiService.CloudGetV1AutomationsConnectorsExecute(r)
}

/*
CloudGetV1AutomationsConnectors Connectors returns the connector catalogue.

Connectors returns the connector catalogue. Each entry is an external service a
flow step can invoke, carrying its auth descriptor and the input properties of its
actions and triggers. The catalogue is the same for every tenant, so the gate is a
validated principal rather than a per-org view.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AutomationsAPICloudGetV1AutomationsConnectorsRequest
*/
func (a *AutomationsAPIService) CloudGetV1AutomationsConnectors(ctx context.Context) AutomationsAPICloudGetV1AutomationsConnectorsRequest {
	return AutomationsAPICloudGetV1AutomationsConnectorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCatalog
func (a *AutomationsAPIService) CloudGetV1AutomationsConnectorsExecute(r AutomationsAPICloudGetV1AutomationsConnectorsRequest) (*CloudCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudGetV1AutomationsConnectors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudGetV1AutomationsFlowsRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	limit      *int32
}

// Limit bounds the page (default 200, maximum 1000).
func (r AutomationsAPICloudGetV1AutomationsFlowsRequest) Limit(limit int32) AutomationsAPICloudGetV1AutomationsFlowsRequest {
	r.limit = &limit
	return r
}

func (r AutomationsAPICloudGetV1AutomationsFlowsRequest) Execute() (*CloudFlowPage, *http.Response, error) {
	return r.ApiService.CloudGetV1AutomationsFlowsExecute(r)
}

/*
CloudGetV1AutomationsFlows ListFlows returns the caller org's automations, most-recently-updated first.

ListFlows returns the caller org's automations, most-recently-updated first. The
optional `limit` query bounds the page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AutomationsAPICloudGetV1AutomationsFlowsRequest
*/
func (a *AutomationsAPIService) CloudGetV1AutomationsFlows(ctx context.Context) AutomationsAPICloudGetV1AutomationsFlowsRequest {
	return AutomationsAPICloudGetV1AutomationsFlowsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudFlowPage
func (a *AutomationsAPIService) CloudGetV1AutomationsFlowsExecute(r AutomationsAPICloudGetV1AutomationsFlowsRequest) (*CloudFlowPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFlowPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudGetV1AutomationsFlows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudGetV1AutomationsFlowsIdRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
}

func (r AutomationsAPICloudGetV1AutomationsFlowsIdRequest) Execute() (*CloudPopulatedFlow, *http.Response, error) {
	return r.ApiService.CloudGetV1AutomationsFlowsIdExecute(r)
}

/*
CloudGetV1AutomationsFlowsId GetFlow returns one automation and its latest version.

GetFlow returns one automation and its latest version. That is the flow record
plus the step tree the builder edits; a flow of another org answers not-found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the flow to act on, from the path.
	@return AutomationsAPICloudGetV1AutomationsFlowsIdRequest
*/
func (a *AutomationsAPIService) CloudGetV1AutomationsFlowsId(ctx context.Context, id string) AutomationsAPICloudGetV1AutomationsFlowsIdRequest {
	return AutomationsAPICloudGetV1AutomationsFlowsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudPopulatedFlow
func (a *AutomationsAPIService) CloudGetV1AutomationsFlowsIdExecute(r AutomationsAPICloudGetV1AutomationsFlowsIdRequest) (*CloudPopulatedFlow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPopulatedFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudGetV1AutomationsFlowsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudGetV1AutomationsFlowsIdVersionsRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
	limit      *int32
}

// Limit bounds the page (default 200, maximum 1000).
func (r AutomationsAPICloudGetV1AutomationsFlowsIdVersionsRequest) Limit(limit int32) AutomationsAPICloudGetV1AutomationsFlowsIdVersionsRequest {
	r.limit = &limit
	return r
}

func (r AutomationsAPICloudGetV1AutomationsFlowsIdVersionsRequest) Execute() (*CloudVersionPage, *http.Response, error) {
	return r.ApiService.CloudGetV1AutomationsFlowsIdVersionsExecute(r)
}

/*
CloudGetV1AutomationsFlowsIdVersions ListVersions returns one flow's versions, newest first.

ListVersions returns one flow's versions, newest first. The optional `limit`
query bounds the page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the flow whose versions to list, from the path.
	@return AutomationsAPICloudGetV1AutomationsFlowsIdVersionsRequest
*/
func (a *AutomationsAPIService) CloudGetV1AutomationsFlowsIdVersions(ctx context.Context, id string) AutomationsAPICloudGetV1AutomationsFlowsIdVersionsRequest {
	return AutomationsAPICloudGetV1AutomationsFlowsIdVersionsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudVersionPage
func (a *AutomationsAPIService) CloudGetV1AutomationsFlowsIdVersionsExecute(r AutomationsAPICloudGetV1AutomationsFlowsIdVersionsRequest) (*CloudVersionPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudVersionPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudGetV1AutomationsFlowsIdVersions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudGetV1AutomationsPiecesRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
}

func (r AutomationsAPICloudGetV1AutomationsPiecesRequest) Execute() (*CloudCatalog, *http.Response, error) {
	return r.ApiService.CloudGetV1AutomationsPiecesExecute(r)
}

/*
CloudGetV1AutomationsPieces Pieces is the retired-name alias of the connector catalogue.

Pieces is the retired-name alias of the connector catalogue. It serves exactly
what GET /v1/automations/connectors serves, under the name this surface used
before "piece" (the ActivePieces term) became "connector", and stays valid for
clients pinned to the old path. Prefer /connectors.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AutomationsAPICloudGetV1AutomationsPiecesRequest
*/
func (a *AutomationsAPIService) CloudGetV1AutomationsPieces(ctx context.Context) AutomationsAPICloudGetV1AutomationsPiecesRequest {
	return AutomationsAPICloudGetV1AutomationsPiecesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCatalog
func (a *AutomationsAPIService) CloudGetV1AutomationsPiecesExecute(r AutomationsAPICloudGetV1AutomationsPiecesRequest) (*CloudCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudGetV1AutomationsPieces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/pieces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudGetV1AutomationsRunsRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	flowId     *string
	limit      *int32
}

// FlowID narrows the history to one flow. Omit it for the whole org&#39;s runs.
func (r AutomationsAPICloudGetV1AutomationsRunsRequest) FlowId(flowId string) AutomationsAPICloudGetV1AutomationsRunsRequest {
	r.flowId = &flowId
	return r
}

// Limit bounds the page (default 200, maximum 1000).
func (r AutomationsAPICloudGetV1AutomationsRunsRequest) Limit(limit int32) AutomationsAPICloudGetV1AutomationsRunsRequest {
	r.limit = &limit
	return r
}

func (r AutomationsAPICloudGetV1AutomationsRunsRequest) Execute() (*CloudRunPage, *http.Response, error) {
	return r.ApiService.CloudGetV1AutomationsRunsExecute(r)
}

/*
CloudGetV1AutomationsRuns ListRuns returns the caller org's run history, newest first.

ListRuns returns the caller org's run history, newest first. The optional
`flowId` query narrows it to one flow and `limit` bounds the page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AutomationsAPICloudGetV1AutomationsRunsRequest
*/
func (a *AutomationsAPIService) CloudGetV1AutomationsRuns(ctx context.Context) AutomationsAPICloudGetV1AutomationsRunsRequest {
	return AutomationsAPICloudGetV1AutomationsRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRunPage
func (a *AutomationsAPIService) CloudGetV1AutomationsRunsExecute(r AutomationsAPICloudGetV1AutomationsRunsRequest) (*CloudRunPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRunPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudGetV1AutomationsRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.flowId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", r.flowId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudGetV1AutomationsRunsIdRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
}

func (r AutomationsAPICloudGetV1AutomationsRunsIdRequest) Execute() (*CloudFlowRun, *http.Response, error) {
	return r.ApiService.CloudGetV1AutomationsRunsIdExecute(r)
}

/*
CloudGetV1AutomationsRunsId GetRun returns one run.

GetRun returns one run. A run that has not reached a terminal status is refreshed
from the durable engine first — scoped to the org's own namespace — so the caller
sees live progress rather than the last status that happened to be persisted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the run to read, from the path.
	@return AutomationsAPICloudGetV1AutomationsRunsIdRequest
*/
func (a *AutomationsAPIService) CloudGetV1AutomationsRunsId(ctx context.Context, id string) AutomationsAPICloudGetV1AutomationsRunsIdRequest {
	return AutomationsAPICloudGetV1AutomationsRunsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudFlowRun
func (a *AutomationsAPIService) CloudGetV1AutomationsRunsIdExecute(r AutomationsAPICloudGetV1AutomationsRunsIdRequest) (*CloudFlowRun, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFlowRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudGetV1AutomationsRunsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/runs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudPatchV1AutomationsFlowsIdRequest struct {
	ctx              context.Context
	ApiService       *AutomationsAPIService
	id               string
	cloudPatchFlowIn *CloudPatchFlowIn
}

func (r AutomationsAPICloudPatchV1AutomationsFlowsIdRequest) CloudPatchFlowIn(cloudPatchFlowIn CloudPatchFlowIn) AutomationsAPICloudPatchV1AutomationsFlowsIdRequest {
	r.cloudPatchFlowIn = &cloudPatchFlowIn
	return r
}

func (r AutomationsAPICloudPatchV1AutomationsFlowsIdRequest) Execute() (*CloudFlow, *http.Response, error) {
	return r.ApiService.CloudPatchV1AutomationsFlowsIdExecute(r)
}

/*
CloudPatchV1AutomationsFlowsId UpdateFlow updates one automation's metadata in place.

UpdateFlow updates one automation's metadata in place. Every field is optional; a
field the request omits is left alone. Publishing a version pins which one runs,
and is refused unless that version belongs to this flow.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the flow to update, from the path.
	@return AutomationsAPICloudPatchV1AutomationsFlowsIdRequest
*/
func (a *AutomationsAPIService) CloudPatchV1AutomationsFlowsId(ctx context.Context, id string) AutomationsAPICloudPatchV1AutomationsFlowsIdRequest {
	return AutomationsAPICloudPatchV1AutomationsFlowsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudFlow
func (a *AutomationsAPIService) CloudPatchV1AutomationsFlowsIdExecute(r AutomationsAPICloudPatchV1AutomationsFlowsIdRequest) (*CloudFlow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPatchV1AutomationsFlowsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPatchFlowIn == nil {
		return localVarReturnValue, nil, reportError("cloudPatchFlowIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPatchFlowIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsConnectorsIdRunRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
	cloudRunIn *CloudRunIn
}

func (r AutomationsAPICloudPostV1AutomationsConnectorsIdRunRequest) CloudRunIn(cloudRunIn CloudRunIn) AutomationsAPICloudPostV1AutomationsConnectorsIdRunRequest {
	r.cloudRunIn = &cloudRunIn
	return r
}

func (r AutomationsAPICloudPostV1AutomationsConnectorsIdRunRequest) Execute() (*CloudRunResp, *http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsConnectorsIdRunExecute(r)
}

/*
CloudPostV1AutomationsConnectorsIdRun Run executes one connector action in-process and answers the outcome.

Run executes one connector action in-process and answers the outcome. The
caller's resolved credential travels in `auth`, delivered to the action
verbatim — the runtime resolves no credential itself. An action that ran and
failed (or an action name the connector does not have) answers ok:false with
the failure message, not an HTTP error; an unknown connector is 404 and a
missing action 422.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the connector to run, from the path.
	@return AutomationsAPICloudPostV1AutomationsConnectorsIdRunRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsConnectorsIdRun(ctx context.Context, id string) AutomationsAPICloudPostV1AutomationsConnectorsIdRunRequest {
	return AutomationsAPICloudPostV1AutomationsConnectorsIdRunRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudRunResp
func (a *AutomationsAPIService) CloudPostV1AutomationsConnectorsIdRunExecute(r AutomationsAPICloudPostV1AutomationsConnectorsIdRunRequest) (*CloudRunResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRunResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsConnectorsIdRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/connectors/{id}/run"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudRunIn == nil {
		return localVarReturnValue, nil, reportError("cloudRunIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudRunIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsFlowsRequest struct {
	ctx                context.Context
	ApiService         *AutomationsAPIService
	cloudCreateFlowReq *CloudCreateFlowReq
}

func (r AutomationsAPICloudPostV1AutomationsFlowsRequest) CloudCreateFlowReq(cloudCreateFlowReq CloudCreateFlowReq) AutomationsAPICloudPostV1AutomationsFlowsRequest {
	r.cloudCreateFlowReq = &cloudCreateFlowReq
	return r
}

func (r AutomationsAPICloudPostV1AutomationsFlowsRequest) Execute() (*CloudPopulatedFlow, *http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsFlowsExecute(r)
}

/*
CloudPostV1AutomationsFlows CreateFlow creates an automation and its initial DRAFT version in one call.

CreateFlow creates an automation and its initial DRAFT version in one call. The
new flow is DISABLED — creating it does not arm its trigger; POST
/v1/automations/flows/{id}/enable does that.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AutomationsAPICloudPostV1AutomationsFlowsRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsFlows(ctx context.Context) AutomationsAPICloudPostV1AutomationsFlowsRequest {
	return AutomationsAPICloudPostV1AutomationsFlowsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPopulatedFlow
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsExecute(r AutomationsAPICloudPostV1AutomationsFlowsRequest) (*CloudPopulatedFlow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPopulatedFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsFlows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateFlowReq == nil {
		return localVarReturnValue, nil, reportError("cloudCreateFlowReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateFlowReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsFlowsByIdOperationsRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
}

func (r AutomationsAPICloudPostV1AutomationsFlowsByIdOperationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsFlowsByIdOperationsExecute(r)
}

/*
CloudPostV1AutomationsFlowsByIdOperations Method for CloudPostV1AutomationsFlowsByIdOperations

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return AutomationsAPICloudPostV1AutomationsFlowsByIdOperationsRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsByIdOperations(ctx context.Context, id string) AutomationsAPICloudPostV1AutomationsFlowsByIdOperationsRequest {
	return AutomationsAPICloudPostV1AutomationsFlowsByIdOperationsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsByIdOperationsExecute(r AutomationsAPICloudPostV1AutomationsFlowsByIdOperationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsFlowsByIdOperations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}/operations"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsFlowsIdDisableRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
}

func (r AutomationsAPICloudPostV1AutomationsFlowsIdDisableRequest) Execute() (*CloudFlow, *http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsFlowsIdDisableExecute(r)
}

/*
CloudPostV1AutomationsFlowsIdDisable DisableFlow disarms a flow's trigger and marks it DISABLED.

DisableFlow disarms a flow's trigger and marks it DISABLED. Its schedule and its
event subscriptions are dropped, so a disabled flow is never a live target; runs
already in flight are unaffected, and it can still be started on demand.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the flow to act on, from the path.
	@return AutomationsAPICloudPostV1AutomationsFlowsIdDisableRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsIdDisable(ctx context.Context, id string) AutomationsAPICloudPostV1AutomationsFlowsIdDisableRequest {
	return AutomationsAPICloudPostV1AutomationsFlowsIdDisableRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudFlow
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsIdDisableExecute(r AutomationsAPICloudPostV1AutomationsFlowsIdDisableRequest) (*CloudFlow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsFlowsIdDisable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}/disable"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsFlowsIdEnableRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
}

func (r AutomationsAPICloudPostV1AutomationsFlowsIdEnableRequest) Execute() (*CloudFlow, *http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsFlowsIdEnableExecute(r)
}

/*
CloudPostV1AutomationsFlowsIdEnable EnableFlow arms a flow's trigger and marks it ENABLED.

EnableFlow arms a flow's trigger and marks it ENABLED. A POLLING trigger gets a
cron schedule on the durable engine; a WEBHOOK trigger gets a subscription in the
routing index, so an inbound event starts it; a MANUAL trigger arms nothing and
still runs on demand.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the flow to act on, from the path.
	@return AutomationsAPICloudPostV1AutomationsFlowsIdEnableRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsIdEnable(ctx context.Context, id string) AutomationsAPICloudPostV1AutomationsFlowsIdEnableRequest {
	return AutomationsAPICloudPostV1AutomationsFlowsIdEnableRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudFlow
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsIdEnableExecute(r AutomationsAPICloudPostV1AutomationsFlowsIdEnableRequest) (*CloudFlow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsFlowsIdEnable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}/enable"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsFlowsIdRunRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
}

func (r AutomationsAPICloudPostV1AutomationsFlowsIdRunRequest) Execute() (*CloudFlowRun, *http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsFlowsIdRunExecute(r)
}

/*
CloudPostV1AutomationsFlowsIdRun RunFlow starts one durable run of a flow now.

RunFlow starts one durable run of a flow now. It runs the flow's published
version if one is pinned, else its latest, and answers the run record it created.
The run is bounded by the org's per-minute run-start budget and its in-flight
concurrency ceiling; over either, or with the engine not ready, no run is started
and no run id is burned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the flow to act on, from the path.
	@return AutomationsAPICloudPostV1AutomationsFlowsIdRunRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsIdRun(ctx context.Context, id string) AutomationsAPICloudPostV1AutomationsFlowsIdRunRequest {
	return AutomationsAPICloudPostV1AutomationsFlowsIdRunRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudFlowRun
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsIdRunExecute(r AutomationsAPICloudPostV1AutomationsFlowsIdRunRequest) (*CloudFlowRun, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFlowRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsFlowsIdRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}/run"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsFlowsIdVersionsRequest struct {
	ctx                  context.Context
	ApiService           *AutomationsAPIService
	id                   string
	cloudCreateVersionIn *CloudCreateVersionIn
}

func (r AutomationsAPICloudPostV1AutomationsFlowsIdVersionsRequest) CloudCreateVersionIn(cloudCreateVersionIn CloudCreateVersionIn) AutomationsAPICloudPostV1AutomationsFlowsIdVersionsRequest {
	r.cloudCreateVersionIn = &cloudCreateVersionIn
	return r
}

func (r AutomationsAPICloudPostV1AutomationsFlowsIdVersionsRequest) Execute() (*CloudFlowVersion, *http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsFlowsIdVersionsExecute(r)
}

/*
CloudPostV1AutomationsFlowsIdVersions CreateVersion adds a new DRAFT version to a flow.

CreateVersion adds a new DRAFT version to a flow. The version is created invalid
unless it carries a trigger, and it does not become the running version until it
is published (PATCH the flow's publishedVersionId) or becomes the latest.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the flow to add a version to, from the path.
	@return AutomationsAPICloudPostV1AutomationsFlowsIdVersionsRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsIdVersions(ctx context.Context, id string) AutomationsAPICloudPostV1AutomationsFlowsIdVersionsRequest {
	return AutomationsAPICloudPostV1AutomationsFlowsIdVersionsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudFlowVersion
func (a *AutomationsAPIService) CloudPostV1AutomationsFlowsIdVersionsExecute(r AutomationsAPICloudPostV1AutomationsFlowsIdVersionsRequest) (*CloudFlowVersion, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudFlowVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsFlowsIdVersions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/flows/{id}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateVersionIn == nil {
		return localVarReturnValue, nil, reportError("cloudCreateVersionIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateVersionIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsHooksBySourceByEventRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	source     string
	event      string
}

func (r AutomationsAPICloudPostV1AutomationsHooksBySourceByEventRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsHooksBySourceByEventExecute(r)
}

/*
CloudPostV1AutomationsHooksBySourceByEvent Method for CloudPostV1AutomationsHooksBySourceByEvent

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param source
	@param event
	@return AutomationsAPICloudPostV1AutomationsHooksBySourceByEventRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsHooksBySourceByEvent(ctx context.Context, source string, event string) AutomationsAPICloudPostV1AutomationsHooksBySourceByEventRequest {
	return AutomationsAPICloudPostV1AutomationsHooksBySourceByEventRequest{
		ApiService: a,
		ctx:        ctx,
		source:     source,
		event:      event,
	}
}

// Execute executes the request
func (a *AutomationsAPIService) CloudPostV1AutomationsHooksBySourceByEventExecute(r AutomationsAPICloudPostV1AutomationsHooksBySourceByEventRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsHooksBySourceByEvent")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/hooks/{source}/{event}"
	localVarPath = strings.Replace(localVarPath, "{"+"source"+"}", url.PathEscape(parameterValueToString(r.source, "source")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"event"+"}", url.PathEscape(parameterValueToString(r.event, "event")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AutomationsAPICloudPostV1AutomationsRunsByIdResumeRequest struct {
	ctx        context.Context
	ApiService *AutomationsAPIService
	id         string
}

func (r AutomationsAPICloudPostV1AutomationsRunsByIdResumeRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1AutomationsRunsByIdResumeExecute(r)
}

/*
CloudPostV1AutomationsRunsByIdResume Method for CloudPostV1AutomationsRunsByIdResume

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return AutomationsAPICloudPostV1AutomationsRunsByIdResumeRequest
*/
func (a *AutomationsAPIService) CloudPostV1AutomationsRunsByIdResume(ctx context.Context, id string) AutomationsAPICloudPostV1AutomationsRunsByIdResumeRequest {
	return AutomationsAPICloudPostV1AutomationsRunsByIdResumeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AutomationsAPIService) CloudPostV1AutomationsRunsByIdResumeExecute(r AutomationsAPICloudPostV1AutomationsRunsByIdResumeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AutomationsAPIService.CloudPostV1AutomationsRunsByIdResume")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/automations/runs/{id}/resume"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
