/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// PaasLogsAPIService PaasLogsAPI service
type PaasLogsAPIService service

type PaasLogsAPIPaasGetContainerLogsRequest struct {
	ctx         context.Context
	ApiService  *PaasLogsAPIService
	orgId       string
	projectId   string
	envId       string
	containerId string
	tail        *int32
	follow      *bool
}

func (r PaasLogsAPIPaasGetContainerLogsRequest) Tail(tail int32) PaasLogsAPIPaasGetContainerLogsRequest {
	r.tail = &tail
	return r
}

func (r PaasLogsAPIPaasGetContainerLogsRequest) Follow(follow bool) PaasLogsAPIPaasGetContainerLogsRequest {
	r.follow = &follow
	return r
}

func (r PaasLogsAPIPaasGetContainerLogsRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.PaasGetContainerLogsExecute(r)
}

/*
PaasGetContainerLogs Get container logs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param orgId
	@param projectId
	@param envId
	@param containerId
	@return PaasLogsAPIPaasGetContainerLogsRequest
*/
func (a *PaasLogsAPIService) PaasGetContainerLogs(ctx context.Context, orgId string, projectId string, envId string, containerId string) PaasLogsAPIPaasGetContainerLogsRequest {
	return PaasLogsAPIPaasGetContainerLogsRequest{
		ApiService:  a,
		ctx:         ctx,
		orgId:       orgId,
		projectId:   projectId,
		envId:       envId,
		containerId: containerId,
	}
}

// Execute executes the request
//
//	@return string
func (a *PaasLogsAPIService) PaasGetContainerLogsExecute(r PaasLogsAPIPaasGetContainerLogsRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaasLogsAPIService.PaasGetContainerLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/paas/org/{orgId}/project/{projectId}/env/{envId}/containers/{containerId}/logs"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"containerId"+"}", url.PathEscape(parameterValueToString(r.containerId, "containerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tail != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tail", r.tail, "form", "")
	} else {
		var defaultValue int32 = 100
		r.tail = &defaultValue
	}
	if r.follow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "follow", r.follow, "form", "")
	} else {
		var defaultValue bool = false
		r.follow = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
