/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// O11yAPIService O11yAPI service
type O11yAPIService service

type O11yAPICloudDeleteV1O11yAnnotationQueuesIdRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
	id         string
}

func (r O11yAPICloudDeleteV1O11yAnnotationQueuesIdRequest) Execute() (*CloudAnnQueueDeleted, *http.Response, error) {
	return r.ApiService.CloudDeleteV1O11yAnnotationQueuesIdExecute(r)
}

/*
CloudDeleteV1O11yAnnotationQueuesId DeleteAnnotationQueue removes one review queue and every item in it.

DeleteAnnotationQueue removes one review queue and every item in it. A queue
id belonging to another org answers the same 404 an unknown id does, so a
probe learns nothing about what exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the annotation queue to act on, from the path.
	@return O11yAPICloudDeleteV1O11yAnnotationQueuesIdRequest
*/
func (a *O11yAPIService) CloudDeleteV1O11yAnnotationQueuesId(ctx context.Context, id string) O11yAPICloudDeleteV1O11yAnnotationQueuesIdRequest {
	return O11yAPICloudDeleteV1O11yAnnotationQueuesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAnnQueueDeleted
func (a *O11yAPIService) CloudDeleteV1O11yAnnotationQueuesIdExecute(r O11yAPICloudDeleteV1O11yAnnotationQueuesIdRequest) (*CloudAnnQueueDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnnQueueDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudDeleteV1O11yAnnotationQueuesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/annotation-queues/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudDeleteV1O11yByWildcard1Request struct {
	ctx        context.Context
	ApiService *O11yAPIService
	wildcard1  string
}

func (r O11yAPICloudDeleteV1O11yByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1O11yByWildcard1Execute(r)
}

/*
CloudDeleteV1O11yByWildcard1 Method for CloudDeleteV1O11yByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return O11yAPICloudDeleteV1O11yByWildcard1Request
*/
func (a *O11yAPIService) CloudDeleteV1O11yByWildcard1(ctx context.Context, wildcard1 string) O11yAPICloudDeleteV1O11yByWildcard1Request {
	return O11yAPICloudDeleteV1O11yByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudDeleteV1O11yByWildcard1Execute(r O11yAPICloudDeleteV1O11yByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudDeleteV1O11yByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yAlertsLastRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudGetV1O11yAlertsLastRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1O11yAlertsLastExecute(r)
}

/*
CloudGetV1O11yAlertsLast Method for CloudGetV1O11yAlertsLast

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yAlertsLastRequest
*/
func (a *O11yAPIService) CloudGetV1O11yAlertsLast(ctx context.Context) O11yAPICloudGetV1O11yAlertsLastRequest {
	return O11yAPICloudGetV1O11yAlertsLastRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudGetV1O11yAlertsLastExecute(r O11yAPICloudGetV1O11yAlertsLastRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yAlertsLast")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/alerts/last"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yAnnotationQueuesRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
	page       *int32
	limit      *int32
}

// Page is the 1-based page to read. Default 1.
func (r O11yAPICloudGetV1O11yAnnotationQueuesRequest) Page(page int32) O11yAPICloudGetV1O11yAnnotationQueuesRequest {
	r.page = &page
	return r
}

// Limit is how many rows to return. Default 20, capped at 100.
func (r O11yAPICloudGetV1O11yAnnotationQueuesRequest) Limit(limit int32) O11yAPICloudGetV1O11yAnnotationQueuesRequest {
	r.limit = &limit
	return r
}

func (r O11yAPICloudGetV1O11yAnnotationQueuesRequest) Execute() (*CloudAnnQueueList, *http.Response, error) {
	return r.ApiService.CloudGetV1O11yAnnotationQueuesExecute(r)
}

/*
CloudGetV1O11yAnnotationQueues ListAnnotationQueues returns a page of the caller org's human-review queues, newest first, narrowed to the caller's project.

ListAnnotationQueues returns a page of the caller org's human-review queues,
newest first, narrowed to the caller's project. Another org's queues are never
visible.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yAnnotationQueuesRequest
*/
func (a *O11yAPIService) CloudGetV1O11yAnnotationQueues(ctx context.Context) O11yAPICloudGetV1O11yAnnotationQueuesRequest {
	return O11yAPICloudGetV1O11yAnnotationQueuesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAnnQueueList
func (a *O11yAPIService) CloudGetV1O11yAnnotationQueuesExecute(r O11yAPICloudGetV1O11yAnnotationQueuesRequest) (*CloudAnnQueueList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnnQueueList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yAnnotationQueues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/annotation-queues"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yAnnotationQueuesIdRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
	id         string
}

func (r O11yAPICloudGetV1O11yAnnotationQueuesIdRequest) Execute() (*CloudAnnQueueDetailView, *http.Response, error) {
	return r.ApiService.CloudGetV1O11yAnnotationQueuesIdExecute(r)
}

/*
CloudGetV1O11yAnnotationQueuesId GetAnnotationQueue returns one review queue with its pending and completed counts and its first page of items.

GetAnnotationQueue returns one review queue with its pending and completed
counts and its first page of items. A queue id belonging to another org is a
404, never a cross-tenant read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the annotation queue to act on, from the path.
	@return O11yAPICloudGetV1O11yAnnotationQueuesIdRequest
*/
func (a *O11yAPIService) CloudGetV1O11yAnnotationQueuesId(ctx context.Context, id string) O11yAPICloudGetV1O11yAnnotationQueuesIdRequest {
	return O11yAPICloudGetV1O11yAnnotationQueuesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAnnQueueDetailView
func (a *O11yAPIService) CloudGetV1O11yAnnotationQueuesIdExecute(r O11yAPICloudGetV1O11yAnnotationQueuesIdRequest) (*CloudAnnQueueDetailView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnnQueueDetailView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yAnnotationQueuesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/annotation-queues/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
	id         string
	status     *string
	page       *int32
	limit      *int32
}

// Status filters to PENDING or COMPLETED items. Absent returns both.
func (r O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest) Status(status string) O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest {
	r.status = &status
	return r
}

// Page is the 1-based page to read. Default 1.
func (r O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest) Page(page int32) O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest {
	r.page = &page
	return r
}

// Limit is how many rows to return. Default 20, capped at 100.
func (r O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest) Limit(limit int32) O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest {
	r.limit = &limit
	return r
}

func (r O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest) Execute() (*CloudAnnItemList, *http.Response, error) {
	return r.ApiService.CloudGetV1O11yAnnotationQueuesIdItemsExecute(r)
}

/*
CloudGetV1O11yAnnotationQueuesIdItems ListAnnotationQueueItems returns a page of one review queue's items, newest first, optionally filtered to PENDING or COMPLETED.

ListAnnotationQueueItems returns a page of one review queue's items, newest
first, optionally filtered to PENDING or COMPLETED. A queue id belonging to
another org is a 404, never a cross-tenant list.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the annotation queue whose items to list, from the path.
	@return O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest
*/
func (a *O11yAPIService) CloudGetV1O11yAnnotationQueuesIdItems(ctx context.Context, id string) O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest {
	return O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAnnItemList
func (a *O11yAPIService) CloudGetV1O11yAnnotationQueuesIdItemsExecute(r O11yAPICloudGetV1O11yAnnotationQueuesIdItemsRequest) (*CloudAnnItemList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnnItemList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yAnnotationQueuesIdItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/annotation-queues/{id}/items"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yApiV2HealthzRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudGetV1O11yApiV2HealthzRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1O11yApiV2HealthzExecute(r)
}

/*
CloudGetV1O11yApiV2Healthz Method for CloudGetV1O11yApiV2Healthz

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yApiV2HealthzRequest
*/
func (a *O11yAPIService) CloudGetV1O11yApiV2Healthz(ctx context.Context) O11yAPICloudGetV1O11yApiV2HealthzRequest {
	return O11yAPICloudGetV1O11yApiV2HealthzRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudGetV1O11yApiV2HealthzExecute(r O11yAPICloudGetV1O11yApiV2HealthzRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yApiV2Healthz")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/api/v2/healthz"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yApiV2LivezRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudGetV1O11yApiV2LivezRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1O11yApiV2LivezExecute(r)
}

/*
CloudGetV1O11yApiV2Livez Method for CloudGetV1O11yApiV2Livez

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yApiV2LivezRequest
*/
func (a *O11yAPIService) CloudGetV1O11yApiV2Livez(ctx context.Context) O11yAPICloudGetV1O11yApiV2LivezRequest {
	return O11yAPICloudGetV1O11yApiV2LivezRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudGetV1O11yApiV2LivezExecute(r O11yAPICloudGetV1O11yApiV2LivezRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yApiV2Livez")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/api/v2/livez"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yApiV2ReadyzRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudGetV1O11yApiV2ReadyzRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1O11yApiV2ReadyzExecute(r)
}

/*
CloudGetV1O11yApiV2Readyz Method for CloudGetV1O11yApiV2Readyz

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yApiV2ReadyzRequest
*/
func (a *O11yAPIService) CloudGetV1O11yApiV2Readyz(ctx context.Context) O11yAPICloudGetV1O11yApiV2ReadyzRequest {
	return O11yAPICloudGetV1O11yApiV2ReadyzRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudGetV1O11yApiV2ReadyzExecute(r O11yAPICloudGetV1O11yApiV2ReadyzRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yApiV2Readyz")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/api/v2/readyz"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yByWildcard1Request struct {
	ctx        context.Context
	ApiService *O11yAPIService
	wildcard1  string
}

func (r O11yAPICloudGetV1O11yByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1O11yByWildcard1Execute(r)
}

/*
CloudGetV1O11yByWildcard1 Method for CloudGetV1O11yByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return O11yAPICloudGetV1O11yByWildcard1Request
*/
func (a *O11yAPIService) CloudGetV1O11yByWildcard1(ctx context.Context, wildcard1 string) O11yAPICloudGetV1O11yByWildcard1Request {
	return O11yAPICloudGetV1O11yByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudGetV1O11yByWildcard1Execute(r O11yAPICloudGetV1O11yByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yLogsRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
	product    *string
	sinceNs    *int32
	window     *int32
	limit      *int32
}

// Product is the console product slug whose logs to read, e.g. \&quot;kms\&quot;. Required.
func (r O11yAPICloudGetV1O11yLogsRequest) Product(product string) O11yAPICloudGetV1O11yLogsRequest {
	r.product = &product
	return r
}

// SinceNs is the nanosecond cursor from a previous response&#39;s nextCursor. Absent (0) reads the last &#x60;window&#x60; seconds instead.
func (r O11yAPICloudGetV1O11yLogsRequest) SinceNs(sinceNs int32) O11yAPICloudGetV1O11yLogsRequest {
	r.sinceNs = &sinceNs
	return r
}

// Window is how many seconds back to read when there is no cursor. Default 900, capped at 86400.
func (r O11yAPICloudGetV1O11yLogsRequest) Window(window int32) O11yAPICloudGetV1O11yLogsRequest {
	r.window = &window
	return r
}

// Limit caps the returned lines. Default 200, capped at 1000.
func (r O11yAPICloudGetV1O11yLogsRequest) Limit(limit int32) O11yAPICloudGetV1O11yLogsRequest {
	r.limit = &limit
	return r
}

func (r O11yAPICloudGetV1O11yLogsRequest) Execute() (*CloudLogsResponse, *http.Response, error) {
	return r.ApiService.CloudGetV1O11yLogsExecute(r)
}

/*
CloudGetV1O11yLogs GetO11yLogs returns a page of one product's logs for the caller's org.

GetO11yLogs returns a page of one product's logs for the caller's org. A
normal caller sees its OWN request stream, derived from org-tagged spans; a
validated platform SuperAdmin sees the product's raw infra stdout stream
instead. Poll for a live tail by passing the previous response's nextCursor
back as sinceNs. A well-formed product with no backing workload answers an
empty page rather than an error; a malformed slug is a 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yLogsRequest
*/
func (a *O11yAPIService) CloudGetV1O11yLogs(ctx context.Context) O11yAPICloudGetV1O11yLogsRequest {
	return O11yAPICloudGetV1O11yLogsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudLogsResponse
func (a *O11yAPIService) CloudGetV1O11yLogsExecute(r O11yAPICloudGetV1O11yLogsRequest) (*CloudLogsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudLogsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.product != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product", r.product, "form", "")
	}
	if r.sinceNs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sinceNs", r.sinceNs, "form", "")
	}
	if r.window != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "window", r.window, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yMetricsRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
	product    *string
	range_     *int32
	stepSec    *int32
}

// Product is the console product slug to read, e.g. \&quot;kms\&quot;. Required.
func (r O11yAPICloudGetV1O11yMetricsRequest) Product(product string) O11yAPICloudGetV1O11yMetricsRequest {
	r.product = &product
	return r
}

// Range is the window in seconds. Default 3600, capped at 604800 (7d).
func (r O11yAPICloudGetV1O11yMetricsRequest) Range_(range_ int32) O11yAPICloudGetV1O11yMetricsRequest {
	r.range_ = &range_
	return r
}

// StepSec is the bucket width in seconds, clamped to [30, 3600]. Absent picks ~60 buckets across the range.
func (r O11yAPICloudGetV1O11yMetricsRequest) StepSec(stepSec int32) O11yAPICloudGetV1O11yMetricsRequest {
	r.stepSec = &stepSec
	return r
}

func (r O11yAPICloudGetV1O11yMetricsRequest) Execute() (*CloudMetricsResponse, *http.Response, error) {
	return r.ApiService.CloudGetV1O11yMetricsExecute(r)
}

/*
CloudGetV1O11yMetrics GetO11yMetrics returns one product's RED series — request rate, errors, p50 and p95 latency — for the caller's org, plus that org's LLM usage rollup over the same window.

GetO11yMetrics returns one product's RED series — request rate, errors, p50
and p95 latency — for the caller's org, plus that org's LLM usage rollup over
the same window. The series come from org-tagged request spans, so a tenant
only ever aggregates its own traffic; a validated platform SuperAdmin sees the
whole product's RED, while usage stays the caller's own org either way. A
well-formed product with no backing workload answers empty series; a malformed
slug is a 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yMetricsRequest
*/
func (a *O11yAPIService) CloudGetV1O11yMetrics(ctx context.Context) O11yAPICloudGetV1O11yMetricsRequest {
	return O11yAPICloudGetV1O11yMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMetricsResponse
func (a *O11yAPIService) CloudGetV1O11yMetricsExecute(r O11yAPICloudGetV1O11yMetricsRequest) (*CloudMetricsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMetricsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.product != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product", r.product, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	if r.stepSec != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stepSec", r.stepSec, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11ySessionsRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudGetV1O11ySessionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1O11ySessionsExecute(r)
}

/*
CloudGetV1O11ySessions Method for CloudGetV1O11ySessions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11ySessionsRequest
*/
func (a *O11yAPIService) CloudGetV1O11ySessions(ctx context.Context) O11yAPICloudGetV1O11ySessionsRequest {
	return O11yAPICloudGetV1O11ySessionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudGetV1O11ySessionsExecute(r O11yAPICloudGetV1O11ySessionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11ySessions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/sessions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yStatusRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
	product    *string
}

// Product is the console product slug to probe, e.g. \&quot;kms\&quot;. Required.
func (r O11yAPICloudGetV1O11yStatusRequest) Product(product string) O11yAPICloudGetV1O11yStatusRequest {
	r.product = &product
	return r
}

func (r O11yAPICloudGetV1O11yStatusRequest) Execute() (*CloudStatusResult, *http.Response, error) {
	return r.ApiService.CloudGetV1O11yStatusExecute(r)
}

/*
CloudGetV1O11yStatus GetO11yStatus reports whether a product's service is live: an in-cluster health probe with its measured latency, fused with the per-replica up inventory.

GetO11yStatus reports whether a product's service is live: an in-cluster
health probe with its measured latency, fused with the per-replica up
inventory. Infra health is not tenant-partitioned — a service is up or down
for everyone — so any validated caller is served, but an unvalidated one is
refused. A product with no backing workload answers down/unknown-service
without probing anything; a malformed slug is a 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yStatusRequest
*/
func (a *O11yAPIService) CloudGetV1O11yStatus(ctx context.Context) O11yAPICloudGetV1O11yStatusRequest {
	return O11yAPICloudGetV1O11yStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudStatusResult
func (a *O11yAPIService) CloudGetV1O11yStatusExecute(r O11yAPICloudGetV1O11yStatusRequest) (*CloudStatusResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudStatusResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.product != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product", r.product, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yVmQueryRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudGetV1O11yVmQueryRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1O11yVmQueryExecute(r)
}

/*
CloudGetV1O11yVmQuery Method for CloudGetV1O11yVmQuery

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yVmQueryRequest
*/
func (a *O11yAPIService) CloudGetV1O11yVmQuery(ctx context.Context) O11yAPICloudGetV1O11yVmQueryRequest {
	return O11yAPICloudGetV1O11yVmQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudGetV1O11yVmQueryExecute(r O11yAPICloudGetV1O11yVmQueryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yVmQuery")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/vm/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudGetV1O11yVmQueryRangeRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudGetV1O11yVmQueryRangeRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1O11yVmQueryRangeExecute(r)
}

/*
CloudGetV1O11yVmQueryRange Method for CloudGetV1O11yVmQueryRange

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudGetV1O11yVmQueryRangeRequest
*/
func (a *O11yAPIService) CloudGetV1O11yVmQueryRange(ctx context.Context) O11yAPICloudGetV1O11yVmQueryRangeRequest {
	return O11yAPICloudGetV1O11yVmQueryRangeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudGetV1O11yVmQueryRangeExecute(r O11yAPICloudGetV1O11yVmQueryRangeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudGetV1O11yVmQueryRange")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/vm/query_range"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudOptionsV1O11yByWildcard1Request struct {
	ctx        context.Context
	ApiService *O11yAPIService
	wildcard1  string
}

func (r O11yAPICloudOptionsV1O11yByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudOptionsV1O11yByWildcard1Execute(r)
}

/*
CloudOptionsV1O11yByWildcard1 Method for CloudOptionsV1O11yByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return O11yAPICloudOptionsV1O11yByWildcard1Request
*/
func (a *O11yAPIService) CloudOptionsV1O11yByWildcard1(ctx context.Context, wildcard1 string) O11yAPICloudOptionsV1O11yByWildcard1Request {
	return O11yAPICloudOptionsV1O11yByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudOptionsV1O11yByWildcard1Execute(r O11yAPICloudOptionsV1O11yByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodOptions
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudOptionsV1O11yByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudPatchV1O11yAnnotationQueuesIdRequest struct {
	ctx                context.Context
	ApiService         *O11yAPIService
	id                 string
	cloudUpdateQueueIn *CloudUpdateQueueIn
}

func (r O11yAPICloudPatchV1O11yAnnotationQueuesIdRequest) CloudUpdateQueueIn(cloudUpdateQueueIn CloudUpdateQueueIn) O11yAPICloudPatchV1O11yAnnotationQueuesIdRequest {
	r.cloudUpdateQueueIn = &cloudUpdateQueueIn
	return r
}

func (r O11yAPICloudPatchV1O11yAnnotationQueuesIdRequest) Execute() (*CloudAnnQueueView, *http.Response, error) {
	return r.ApiService.CloudPatchV1O11yAnnotationQueuesIdExecute(r)
}

/*
CloudPatchV1O11yAnnotationQueuesId UpdateAnnotationQueue changes a review queue's name, description or score-config set.

UpdateAnnotationQueue changes a review queue's name, description or
score-config set. A field the request omits is left alone. A name another
queue in the same project already uses is a 409; a queue id belonging to
another org is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the annotation queue to update, from the path.
	@return O11yAPICloudPatchV1O11yAnnotationQueuesIdRequest
*/
func (a *O11yAPIService) CloudPatchV1O11yAnnotationQueuesId(ctx context.Context, id string) O11yAPICloudPatchV1O11yAnnotationQueuesIdRequest {
	return O11yAPICloudPatchV1O11yAnnotationQueuesIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAnnQueueView
func (a *O11yAPIService) CloudPatchV1O11yAnnotationQueuesIdExecute(r O11yAPICloudPatchV1O11yAnnotationQueuesIdRequest) (*CloudAnnQueueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnnQueueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPatchV1O11yAnnotationQueuesId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/annotation-queues/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudUpdateQueueIn == nil {
		return localVarReturnValue, nil, reportError("cloudUpdateQueueIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudUpdateQueueIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudPatchV1O11yAnnotationQueuesIdItemsItemIdRequest struct {
	ctx               context.Context
	ApiService        *O11yAPIService
	id                string
	itemId            string
	cloudUpdateItemIn *CloudUpdateItemIn
}

func (r O11yAPICloudPatchV1O11yAnnotationQueuesIdItemsItemIdRequest) CloudUpdateItemIn(cloudUpdateItemIn CloudUpdateItemIn) O11yAPICloudPatchV1O11yAnnotationQueuesIdItemsItemIdRequest {
	r.cloudUpdateItemIn = &cloudUpdateItemIn
	return r
}

func (r O11yAPICloudPatchV1O11yAnnotationQueuesIdItemsItemIdRequest) Execute() (*CloudAnnItemView, *http.Response, error) {
	return r.ApiService.CloudPatchV1O11yAnnotationQueuesIdItemsItemIdExecute(r)
}

/*
CloudPatchV1O11yAnnotationQueuesIdItemsItemId UpdateAnnotationQueueItem moves one queue item between PENDING and COMPLETED and sets its assignee.

UpdateAnnotationQueueItem moves one queue item between PENDING and COMPLETED
and sets its assignee. Completing an item stamps its completedAt. An item that
exists under a different queue answers the same 404 an unknown item does, and
so does a queue belonging to another org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the annotation queue the item belongs to, from the path.
	@param itemId ItemID is the item to update, from the path.
	@return O11yAPICloudPatchV1O11yAnnotationQueuesIdItemsItemIdRequest
*/
func (a *O11yAPIService) CloudPatchV1O11yAnnotationQueuesIdItemsItemId(ctx context.Context, id string, itemId string) O11yAPICloudPatchV1O11yAnnotationQueuesIdItemsItemIdRequest {
	return O11yAPICloudPatchV1O11yAnnotationQueuesIdItemsItemIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		itemId:     itemId,
	}
}

// Execute executes the request
//
//	@return CloudAnnItemView
func (a *O11yAPIService) CloudPatchV1O11yAnnotationQueuesIdItemsItemIdExecute(r O11yAPICloudPatchV1O11yAnnotationQueuesIdItemsItemIdRequest) (*CloudAnnItemView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnnItemView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPatchV1O11yAnnotationQueuesIdItemsItemId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/annotation-queues/{id}/items/{itemId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"itemId"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudUpdateItemIn == nil {
		return localVarReturnValue, nil, reportError("cloudUpdateItemIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudUpdateItemIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudPatchV1O11yByWildcard1Request struct {
	ctx        context.Context
	ApiService *O11yAPIService
	wildcard1  string
}

func (r O11yAPICloudPatchV1O11yByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudPatchV1O11yByWildcard1Execute(r)
}

/*
CloudPatchV1O11yByWildcard1 Method for CloudPatchV1O11yByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return O11yAPICloudPatchV1O11yByWildcard1Request
*/
func (a *O11yAPIService) CloudPatchV1O11yByWildcard1(ctx context.Context, wildcard1 string) O11yAPICloudPatchV1O11yByWildcard1Request {
	return O11yAPICloudPatchV1O11yByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudPatchV1O11yByWildcard1Execute(r O11yAPICloudPatchV1O11yByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPatchV1O11yByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudPostV1O11yAlertsByReceiverRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
	receiver   string
}

func (r O11yAPICloudPostV1O11yAlertsByReceiverRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1O11yAlertsByReceiverExecute(r)
}

/*
CloudPostV1O11yAlertsByReceiver Method for CloudPostV1O11yAlertsByReceiver

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param receiver
	@return O11yAPICloudPostV1O11yAlertsByReceiverRequest
*/
func (a *O11yAPIService) CloudPostV1O11yAlertsByReceiver(ctx context.Context, receiver string) O11yAPICloudPostV1O11yAlertsByReceiverRequest {
	return O11yAPICloudPostV1O11yAlertsByReceiverRequest{
		ApiService: a,
		ctx:        ctx,
		receiver:   receiver,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudPostV1O11yAlertsByReceiverExecute(r O11yAPICloudPostV1O11yAlertsByReceiverRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPostV1O11yAlertsByReceiver")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/alerts/{receiver}"
	localVarPath = strings.Replace(localVarPath, "{"+"receiver"+"}", url.PathEscape(parameterValueToString(r.receiver, "receiver")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudPostV1O11yAnnotationQueuesRequest struct {
	ctx                 context.Context
	ApiService          *O11yAPIService
	cloudCreateQueueReq *CloudCreateQueueReq
}

func (r O11yAPICloudPostV1O11yAnnotationQueuesRequest) CloudCreateQueueReq(cloudCreateQueueReq CloudCreateQueueReq) O11yAPICloudPostV1O11yAnnotationQueuesRequest {
	r.cloudCreateQueueReq = &cloudCreateQueueReq
	return r
}

func (r O11yAPICloudPostV1O11yAnnotationQueuesRequest) Execute() (*CloudAnnQueueView, *http.Response, error) {
	return r.ApiService.CloudPostV1O11yAnnotationQueuesExecute(r)
}

/*
CloudPostV1O11yAnnotationQueues CreateAnnotationQueue creates a human-review queue in the caller's org and project.

CreateAnnotationQueue creates a human-review queue in the caller's org and
project. A name already used by another queue in the same project is a 409.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudPostV1O11yAnnotationQueuesRequest
*/
func (a *O11yAPIService) CloudPostV1O11yAnnotationQueues(ctx context.Context) O11yAPICloudPostV1O11yAnnotationQueuesRequest {
	return O11yAPICloudPostV1O11yAnnotationQueuesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAnnQueueView
func (a *O11yAPIService) CloudPostV1O11yAnnotationQueuesExecute(r O11yAPICloudPostV1O11yAnnotationQueuesRequest) (*CloudAnnQueueView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnnQueueView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPostV1O11yAnnotationQueues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/annotation-queues"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateQueueReq == nil {
		return localVarReturnValue, nil, reportError("cloudCreateQueueReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateQueueReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudPostV1O11yAnnotationQueuesIdItemsRequest struct {
	ctx             context.Context
	ApiService      *O11yAPIService
	id              string
	cloudAddItemsIn *CloudAddItemsIn
}

func (r O11yAPICloudPostV1O11yAnnotationQueuesIdItemsRequest) CloudAddItemsIn(cloudAddItemsIn CloudAddItemsIn) O11yAPICloudPostV1O11yAnnotationQueuesIdItemsRequest {
	r.cloudAddItemsIn = &cloudAddItemsIn
	return r
}

func (r O11yAPICloudPostV1O11yAnnotationQueuesIdItemsRequest) Execute() (*CloudAnnItemsCreated, *http.Response, error) {
	return r.ApiService.CloudPostV1O11yAnnotationQueuesIdItemsExecute(r)
}

/*
CloudPostV1O11yAnnotationQueuesIdItems AddAnnotationQueueItems enqueues traces, observations or sessions on a review queue.

AddAnnotationQueueItems enqueues traces, observations or sessions on a review
queue. Each item names exactly one object, either by traceId / observationId /
sessionId or by objectType plus objectId; every item enters PENDING. A queue
id belonging to another org is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the annotation queue to add to, from the path.
	@return O11yAPICloudPostV1O11yAnnotationQueuesIdItemsRequest
*/
func (a *O11yAPIService) CloudPostV1O11yAnnotationQueuesIdItems(ctx context.Context, id string) O11yAPICloudPostV1O11yAnnotationQueuesIdItemsRequest {
	return O11yAPICloudPostV1O11yAnnotationQueuesIdItemsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudAnnItemsCreated
func (a *O11yAPIService) CloudPostV1O11yAnnotationQueuesIdItemsExecute(r O11yAPICloudPostV1O11yAnnotationQueuesIdItemsRequest) (*CloudAnnItemsCreated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnnItemsCreated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPostV1O11yAnnotationQueuesIdItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/annotation-queues/{id}/items"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudAddItemsIn == nil {
		return localVarReturnValue, nil, reportError("cloudAddItemsIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudAddItemsIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type O11yAPICloudPostV1O11yByWildcard1Request struct {
	ctx        context.Context
	ApiService *O11yAPIService
	wildcard1  string
}

func (r O11yAPICloudPostV1O11yByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1O11yByWildcard1Execute(r)
}

/*
CloudPostV1O11yByWildcard1 Method for CloudPostV1O11yByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return O11yAPICloudPostV1O11yByWildcard1Request
*/
func (a *O11yAPIService) CloudPostV1O11yByWildcard1(ctx context.Context, wildcard1 string) O11yAPICloudPostV1O11yByWildcard1Request {
	return O11yAPICloudPostV1O11yByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudPostV1O11yByWildcard1Execute(r O11yAPICloudPostV1O11yByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPostV1O11yByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudPostV1O11yQueryRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudPostV1O11yQueryRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1O11yQueryExecute(r)
}

/*
CloudPostV1O11yQuery Method for CloudPostV1O11yQuery

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudPostV1O11yQueryRequest
*/
func (a *O11yAPIService) CloudPostV1O11yQuery(ctx context.Context) O11yAPICloudPostV1O11yQueryRequest {
	return O11yAPICloudPostV1O11yQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudPostV1O11yQueryExecute(r O11yAPICloudPostV1O11yQueryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPostV1O11yQuery")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudPostV1O11yQueryRangeRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPICloudPostV1O11yQueryRangeRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1O11yQueryRangeExecute(r)
}

/*
CloudPostV1O11yQueryRange Method for CloudPostV1O11yQueryRange

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPICloudPostV1O11yQueryRangeRequest
*/
func (a *O11yAPIService) CloudPostV1O11yQueryRange(ctx context.Context) O11yAPICloudPostV1O11yQueryRangeRequest {
	return O11yAPICloudPostV1O11yQueryRangeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudPostV1O11yQueryRangeExecute(r O11yAPICloudPostV1O11yQueryRangeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPostV1O11yQueryRange")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/query_range"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudPutV1O11yByWildcard1Request struct {
	ctx        context.Context
	ApiService *O11yAPIService
	wildcard1  string
}

func (r O11yAPICloudPutV1O11yByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudPutV1O11yByWildcard1Execute(r)
}

/*
CloudPutV1O11yByWildcard1 Method for CloudPutV1O11yByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return O11yAPICloudPutV1O11yByWildcard1Request
*/
func (a *O11yAPIService) CloudPutV1O11yByWildcard1(ctx context.Context, wildcard1 string) O11yAPICloudPutV1O11yByWildcard1Request {
	return O11yAPICloudPutV1O11yByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudPutV1O11yByWildcard1Execute(r O11yAPICloudPutV1O11yByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudPutV1O11yByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPICloudTraceV1O11yByWildcard1Request struct {
	ctx        context.Context
	ApiService *O11yAPIService
	wildcard1  string
}

func (r O11yAPICloudTraceV1O11yByWildcard1Request) Execute() (*http.Response, error) {
	return r.ApiService.CloudTraceV1O11yByWildcard1Execute(r)
}

/*
CloudTraceV1O11yByWildcard1 Method for CloudTraceV1O11yByWildcard1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param wildcard1
	@return O11yAPICloudTraceV1O11yByWildcard1Request
*/
func (a *O11yAPIService) CloudTraceV1O11yByWildcard1(ctx context.Context, wildcard1 string) O11yAPICloudTraceV1O11yByWildcard1Request {
	return O11yAPICloudTraceV1O11yByWildcard1Request{
		ApiService: a,
		ctx:        ctx,
		wildcard1:  wildcard1,
	}
}

// Execute executes the request
func (a *O11yAPIService) CloudTraceV1O11yByWildcard1Execute(r O11yAPICloudTraceV1O11yByWildcard1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodTrace
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.CloudTraceV1O11yByWildcard1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/{wildcard1}"
	localVarPath = strings.Replace(localVarPath, "{"+"wildcard1"+"}", url.PathEscape(parameterValueToString(r.wildcard1, "wildcard1")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type O11yAPIO11yO11yDashboardsRequest struct {
	ctx        context.Context
	ApiService *O11yAPIService
}

func (r O11yAPIO11yO11yDashboardsRequest) Execute() ([]O11yDashboardSummary, *http.Response, error) {
	return r.ApiService.O11yO11yDashboardsExecute(r)
}

/*
O11yO11yDashboards List dashboards

List dashboards from the o11y runtime.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return O11yAPIO11yO11yDashboardsRequest
*/
func (a *O11yAPIService) O11yO11yDashboards(ctx context.Context) O11yAPIO11yO11yDashboardsRequest {
	return O11yAPIO11yO11yDashboardsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []O11yDashboardSummary
func (a *O11yAPIService) O11yO11yDashboardsExecute(r O11yAPIO11yO11yDashboardsRequest) ([]O11yDashboardSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []O11yDashboardSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "O11yAPIService.O11yO11yDashboards")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/o11y/dashboards"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
[...]
