/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// GatewayAPIService GatewayAPI service
type GatewayAPIService service

type GatewayAPICloudGetV1GatewayConfigRequest struct {
	ctx        context.Context
	ApiService *GatewayAPIService
}

func (r GatewayAPICloudGetV1GatewayConfigRequest) Execute() (*CloudPolicy, *http.Response, error) {
	return r.ApiService.CloudGetV1GatewayConfigExecute(r)
}

/*
CloudGetV1GatewayConfig Read returns the EFFECTIVE edge policy the caller is subject to: the platform CORS allowlist and pre-auth per-IP flood cap in force, plus the caller's own authenticated rate ceiling, edge-cache TTLs and accepted-method allowlist.

Read returns the EFFECTIVE edge policy the caller is subject to: the platform CORS
allowlist and pre-auth per-IP flood cap in force, plus the caller's own authenticated
rate ceiling, edge-cache TTLs and accepted-method allowlist. A SuperAdmin may inspect
a specific tenant's effective policy with ?org=<slug>.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GatewayAPICloudGetV1GatewayConfigRequest
*/
func (a *GatewayAPIService) CloudGetV1GatewayConfig(ctx context.Context) GatewayAPICloudGetV1GatewayConfigRequest {
	return GatewayAPICloudGetV1GatewayConfigRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPolicy
func (a *GatewayAPIService) CloudGetV1GatewayConfigExecute(r GatewayAPICloudGetV1GatewayConfigRequest) (*CloudPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GatewayAPIService.CloudGetV1GatewayConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GatewayAPICloudPutV1GatewayConfigRequest struct {
	ctx         context.Context
	ApiService  *GatewayAPIService
	cloudPolicy *CloudPolicy
}

func (r GatewayAPICloudPutV1GatewayConfigRequest) CloudPolicy(cloudPolicy CloudPolicy) GatewayAPICloudPutV1GatewayConfigRequest {
	r.cloudPolicy = &cloudPolicy
	return r
}

func (r GatewayAPICloudPutV1GatewayConfigRequest) Execute() (*CloudPolicy, *http.Response, error) {
	return r.ApiService.CloudPutV1GatewayConfigExecute(r)
}

/*
CloudPutV1GatewayConfig Write updates one policy scope and returns the policy in force after the write.

Write updates one policy scope and returns the policy in force after the write.
A body carrying any PLATFORM field (cors_origins, per_ip_rpm, window_sec) is a
platform write and requires SuperAdmin; otherwise it is a per-org write (org_rpm,
cache_ttl_sec, cache_paths, methods) scoped to the caller's own org — or, for a
SuperAdmin, the tenant named by ?org=<slug>. A body that sets nothing is a 400.
updated_at and updated_by are server-stamped; a client-supplied value is ignored.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GatewayAPICloudPutV1GatewayConfigRequest
*/
func (a *GatewayAPIService) CloudPutV1GatewayConfig(ctx context.Context) GatewayAPICloudPutV1GatewayConfigRequest {
	return GatewayAPICloudPutV1GatewayConfigRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudPolicy
func (a *GatewayAPIService) CloudPutV1GatewayConfigExecute(r GatewayAPICloudPutV1GatewayConfigRequest) (*CloudPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GatewayAPIService.CloudPutV1GatewayConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudPolicy == nil {
		return localVarReturnValue, nil, reportError("cloudPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
