/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// KnowledgeAPIService KnowledgeAPI service
type KnowledgeAPIService service

type KnowledgeAPIDeleteKnowledgeConnectorsByProviderRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
	provider   string
}

func (r KnowledgeAPIDeleteKnowledgeConnectorsByProviderRequest) Execute() (*ConnectionOut, *http.Response, error) {
	return r.ApiService.DeleteKnowledgeConnectorsByProviderExecute(r)
}

/*
DeleteKnowledgeConnectorsByProvider Revokes a connection: it tombstones the stored credential so a later sync cannot reuse it, purges this provider's points from the org's vector namespace, and marks the connector disconnected.

Revokes a connection: it tombstones the stored credential
so a later sync cannot reuse it, purges this provider's points from the org's
vector namespace, and marks the connector disconnected. The documents already
ingested stay in the org's store — they are the org's own data — but stop being
retrievable by search; a caller deletes them through the document surface.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the connector to act on: github, slack, google or notion.
	@return KnowledgeAPIDeleteKnowledgeConnectorsByProviderRequest
*/
func (a *KnowledgeAPIService) DeleteKnowledgeConnectorsByProvider(ctx context.Context, provider string) KnowledgeAPIDeleteKnowledgeConnectorsByProviderRequest {
	return KnowledgeAPIDeleteKnowledgeConnectorsByProviderRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return ConnectionOut
func (a *KnowledgeAPIService) DeleteKnowledgeConnectorsByProviderExecute(r KnowledgeAPIDeleteKnowledgeConnectorsByProviderRequest) (*ConnectionOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.DeleteKnowledgeConnectorsByProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/connectors/{provider}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KnowledgeAPIGetKnowledgeConnectorsRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
}

func (r KnowledgeAPIGetKnowledgeConnectorsRequest) Execute() (*KbConnectorsOut, *http.Response, error) {
	return r.ApiService.GetKnowledgeConnectorsExecute(r)
}

/*
GetKnowledgeConnectors Returns every supported knowledge connector with THIS org's connection state and the REAL number of documents each has ingested into the org's store.

Returns every supported knowledge connector with THIS org's
connection state and the REAL number of documents each has ingested into the
org's store. A provider that is configured for the deployment but not yet
connected appears as disconnected, so the console can offer a Connect button.
No secret is ever returned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KnowledgeAPIGetKnowledgeConnectorsRequest
*/
func (a *KnowledgeAPIService) GetKnowledgeConnectors(ctx context.Context) KnowledgeAPIGetKnowledgeConnectorsRequest {
	return KnowledgeAPIGetKnowledgeConnectorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KbConnectorsOut
func (a *KnowledgeAPIService) GetKnowledgeConnectorsExecute(r KnowledgeAPIGetKnowledgeConnectorsRequest) (*KbConnectorsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KbConnectorsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.GetKnowledgeConnectors")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
	provider   string
	code       *string
	state      *string
	error_     *string
}

// Code is the provider&#39;s authorization code, exchanged for a token.
func (r KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest) Code(code string) KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest {
	r.code = &code
	return r
}

// State is the org-bound value this server signed at connect time.
func (r KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest) State(state string) KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest {
	r.state = &state
	return r
}

// Error is the provider&#39;s denial reason when the user refused consent.
func (r KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest) Error_(error_ string) KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest {
	r.error_ = &error_
	return r
}

func (r KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest) Execute() (*ConnectionOut, *http.Response, error) {
	return r.ApiService.GetKnowledgeConnectorsByProviderCallbackExecute(r)
}

/*
GetKnowledgeConnectorsByProviderCallback CompleteConnectorOAuth finishes an OAuth connection: it exchanges the provider's code for a token, seals that token in KMS, and records the connection.

CompleteConnectorOAuth finishes an OAuth connection: it exchanges the
provider's code for a token, seals that token in KMS, and records the
connection. THE ORG COMES FROM THE SIGNED STATE, not from a header and not from
the provider, so an attacker cannot bind their own account to someone else's
org — a tampered, expired or foreign-provider state is refused outright. The
token itself is never returned, never written into the document, and never
logged; the document holds only its KMS path.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the connector completing its flow, from the path.
	@return KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest
*/
func (a *KnowledgeAPIService) GetKnowledgeConnectorsByProviderCallback(ctx context.Context, provider string) KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest {
	return KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return ConnectionOut
func (a *KnowledgeAPIService) GetKnowledgeConnectorsByProviderCallbackExecute(r KnowledgeAPIGetKnowledgeConnectorsByProviderCallbackRequest) (*ConnectionOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.GetKnowledgeConnectorsByProviderCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/connectors/{provider}/callback"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KnowledgeAPIGetKnowledgeConnectorsByProviderConnectRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
	provider   string
}

func (r KnowledgeAPIGetKnowledgeConnectorsByProviderConnectRequest) Execute() (*KbAuthorizeOut, *http.Response, error) {
	return r.ApiService.GetKnowledgeConnectorsByProviderConnectExecute(r)
}

/*
GetKnowledgeConnectorsByProviderConnect StartConnectorOAuth returns the provider authorize URL the console opens to connect this org's account.

StartConnectorOAuth returns the provider authorize URL the console opens to
connect this org's account. There is no server-side redirect — the console
stays in control of the navigation. The URL carries a state this server SIGNED
over the caller's validated org, so the connection the callback completes can
only ever land in that org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the connector to act on: github, slack, google or notion.
	@return KnowledgeAPIGetKnowledgeConnectorsByProviderConnectRequest
*/
func (a *KnowledgeAPIService) GetKnowledgeConnectorsByProviderConnect(ctx context.Context, provider string) KnowledgeAPIGetKnowledgeConnectorsByProviderConnectRequest {
	return KnowledgeAPIGetKnowledgeConnectorsByProviderConnectRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return KbAuthorizeOut
func (a *KnowledgeAPIService) GetKnowledgeConnectorsByProviderConnectExecute(r KnowledgeAPIGetKnowledgeConnectorsByProviderConnectRequest) (*KbAuthorizeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KbAuthorizeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.GetKnowledgeConnectorsByProviderConnect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/connectors/{provider}/connect"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KnowledgeAPIGetKnowledgeConnectorsCatalogRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
}

func (r KnowledgeAPIGetKnowledgeConnectorsCatalogRequest) Execute() (*CatalogOut, *http.Response, error) {
	return r.ApiService.GetKnowledgeConnectorsCatalogExecute(r)
}

/*
GetKnowledgeConnectorsCatalog Returns the ONE catalog of everything a caller can connect: every first-party connector and every long-tail one, in a single list sorted by provider.

Returns the ONE catalog of everything a caller can
connect: every first-party connector and every long-tail one, in a single list
sorted by provider. `configured` reports whether this deployment holds OAuth
credentials for a source, so the console can show Connect rather than a dead
button, and `kind` is a badge only — the connect and sync lifecycle is
identical for both. The catalog itself is org-independent; a validated
principal is still required. It is metadata only: no secret is ever returned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KnowledgeAPIGetKnowledgeConnectorsCatalogRequest
*/
func (a *KnowledgeAPIService) GetKnowledgeConnectorsCatalog(ctx context.Context) KnowledgeAPIGetKnowledgeConnectorsCatalogRequest {
	return KnowledgeAPIGetKnowledgeConnectorsCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CatalogOut
func (a *KnowledgeAPIService) GetKnowledgeConnectorsCatalogExecute(r KnowledgeAPIGetKnowledgeConnectorsCatalogRequest) (*CatalogOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.GetKnowledgeConnectorsCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/connectors/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KnowledgeAPIGetKnowledgeGraphRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
	project    *string
}

// Project narrows the graph to one project scope. Empty reads the whole org.
func (r KnowledgeAPIGetKnowledgeGraphRequest) Project(project string) KnowledgeAPIGetKnowledgeGraphRequest {
	r.project = &project
	return r
}

func (r KnowledgeAPIGetKnowledgeGraphRequest) Execute() (*GraphOut, *http.Response, error) {
	return r.ApiService.GetKnowledgeGraphExecute(r)
}

/*
GetKnowledgeGraph Returns the caller org's knowledge as a node/edge graph shaped for a force-directed renderer: pages, memories and synced sources as nodes; the page parent tree, the wikilinks between pages, and each source's connector provenance as edges.

Returns the caller org's knowledge as a node/edge graph
shaped for a force-directed renderer: pages, memories and synced sources as
nodes; the page parent tree, the wikilinks between pages, and each source's
connector provenance as edges. Wikilink targets are resolved HERE by title or
slug, so a rename never needs an edge rewrite and a link that matches no page
renders as its own "unresolved" node instead of vanishing. ?project= narrows
it. A store outage degrades to an honest empty graph, never a 5xx.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KnowledgeAPIGetKnowledgeGraphRequest
*/
func (a *KnowledgeAPIService) GetKnowledgeGraph(ctx context.Context) KnowledgeAPIGetKnowledgeGraphRequest {
	return KnowledgeAPIGetKnowledgeGraphRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GraphOut
func (a *KnowledgeAPIService) GetKnowledgeGraphExecute(r KnowledgeAPIGetKnowledgeGraphRequest) (*GraphOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GraphOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.GetKnowledgeGraph")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/graph"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project", r.project, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KnowledgeAPIPostKnowledgeConnectorsByProviderSyncRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
	provider   string
}

func (r KnowledgeAPIPostKnowledgeConnectorsByProviderSyncRequest) Execute() (*KbSyncOut, *http.Response, error) {
	return r.ApiService.PostKnowledgeConnectorsByProviderSyncExecute(r)
}

/*
PostKnowledgeConnectorsByProviderSync Pulls the provider's documents for the caller's org and files them as knowledge sources, which the store's own hook then indexes — so a synced document is retrievable exactly like a hand-written page.

Pulls the provider's documents for the caller's org and files
them as knowledge sources, which the store's own hook then indexes — so a
synced document is retrievable exactly like a hand-written page. The org is the
validated tenant and the credential is read from KMS, so an org can only ever
sync its own connection. A provider failure is reported honestly (502) and
recorded on the connector rather than silently swallowed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider is the connector to act on: github, slack, google or notion.
	@return KnowledgeAPIPostKnowledgeConnectorsByProviderSyncRequest
*/
func (a *KnowledgeAPIService) PostKnowledgeConnectorsByProviderSync(ctx context.Context, provider string) KnowledgeAPIPostKnowledgeConnectorsByProviderSyncRequest {
	return KnowledgeAPIPostKnowledgeConnectorsByProviderSyncRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
//
//	@return KbSyncOut
func (a *KnowledgeAPIService) PostKnowledgeConnectorsByProviderSyncExecute(r KnowledgeAPIPostKnowledgeConnectorsByProviderSyncRequest) (*KbSyncOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KbSyncOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.PostKnowledgeConnectorsByProviderSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/connectors/{provider}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type KnowledgeAPIPostKnowledgeImportRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
}

func (r KnowledgeAPIPostKnowledgeImportRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostKnowledgeImportExecute(r)
}

/*
PostKnowledgeImport Import an Obsidian, Notion, Roam or Evernote export into the org's knowledge base

Ingests an uploaded export as a tree of kb-page documents with its link structure intact. `?format=` picks the normalizer — obsidian, notion, roam or evernote — and the export arrives as a multipart `file` part, or as the raw request body when there is no multipart part: an Obsidian or Notion vault zip, a Roam JSON (raw or inside the zip Roam downloads), or an Evernote .enex.

The pages are filed through the SAME ingest path a connector sync uses, so the kb-page hook indexes each one for retrieval AND extracts its `[[wikilinks]]` into kb-link edges — the imported vault is searchable and its graph is navigable without a second pass. Parents are filed before their children, and each page takes a slug unique within the org (suffixed -2, -3, … on collision), so a re-import adds pages rather than overwriting the ones already there.

Scoped to the caller's validated org; `?project=` narrows every imported page to one project. No validated principal is 403, and an org that has not installed the kb module is refused with the install call to make first. The bounds are 64 MB per upload, 5000 pages and 8 MB per archive entry: pages past the five-thousandth are dropped and a larger entry is truncated at its bound, and a page the store rejects is skipped — so the answer's `imported` count is what was actually filed, not what was sent.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KnowledgeAPIPostKnowledgeImportRequest
*/
func (a *KnowledgeAPIService) PostKnowledgeImport(ctx context.Context) KnowledgeAPIPostKnowledgeImportRequest {
	return KnowledgeAPIPostKnowledgeImportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *KnowledgeAPIService) PostKnowledgeImportExecute(r KnowledgeAPIPostKnowledgeImportRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.PostKnowledgeImport")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/import"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type KnowledgeAPIPostKnowledgeSearchRequest struct {
	ctx        context.Context
	ApiService *KnowledgeAPIService
	searchIn   *SearchIn
}

func (r KnowledgeAPIPostKnowledgeSearchRequest) SearchIn(searchIn SearchIn) KnowledgeAPIPostKnowledgeSearchRequest {
	r.searchIn = &searchIn
	return r
}

func (r KnowledgeAPIPostKnowledgeSearchRequest) Execute() (*SearchOut, *http.Response, error) {
	return r.ApiService.PostKnowledgeSearchExecute(r)
}

/*
PostKnowledgeSearch Runs a semantic search over the caller org's own knowledge — its wiki pages, its agent memories and everything its connectors have synced — and returns the matching passages.

Runs a semantic search over the caller org's own knowledge —
its wiki pages, its agent memories and everything its connectors have synced —
and returns the matching passages. This is the RAG entry point: an agent asks
"what does this org know about X" and the org's OWN vector namespace answers.
The org comes from the validated principal, and both the collection and the
payload filter are pinned to it, so cross-tenant retrieval is impossible. An
unreachable index returns an honest empty result set with degraded=true, never
a 5xx.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KnowledgeAPIPostKnowledgeSearchRequest
*/
func (a *KnowledgeAPIService) PostKnowledgeSearch(ctx context.Context) KnowledgeAPIPostKnowledgeSearchRequest {
	return KnowledgeAPIPostKnowledgeSearchRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchOut
func (a *KnowledgeAPIService) PostKnowledgeSearchExecute(r KnowledgeAPIPostKnowledgeSearchRequest) (*SearchOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeAPIService.PostKnowledgeSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/knowledge/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchIn == nil {
		return localVarReturnValue, nil, reportError("searchIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
