/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay routes, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CaptableAPIService CaptableAPI service
type CaptableAPIService service

type CaptableAPIDeleteCaptableConvertiblesByIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPIDeleteCaptableConvertiblesByIdRequest) Execute() (*CaptableDeleted, *http.Response, error) {
	return r.ApiService.DeleteCaptableConvertiblesByIdExecute(r)
}

/*
DeleteCaptableConvertiblesById Removes one of the caller org's convertible notes, taking its principal out of the cap table's unconverted-instrument totals.

Removes one of the caller org's convertible notes, taking its
principal out of the cap table's unconverted-instrument totals. An id this org
does not hold is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the convertible note to delete.
	@return CaptableAPIDeleteCaptableConvertiblesByIdRequest
*/
func (a *CaptableAPIService) DeleteCaptableConvertiblesById(ctx context.Context, id string) CaptableAPIDeleteCaptableConvertiblesByIdRequest {
	return CaptableAPIDeleteCaptableConvertiblesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableDeleted
func (a *CaptableAPIService) DeleteCaptableConvertiblesByIdExecute(r CaptableAPIDeleteCaptableConvertiblesByIdRequest) (*CaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.DeleteCaptableConvertiblesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/convertibles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIDeleteCaptableOptionsByIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPIDeleteCaptableOptionsByIdRequest) Execute() (*CaptableDeleted, *http.Response, error) {
	return r.ApiService.DeleteCaptableOptionsByIdExecute(r)
}

/*
DeleteCaptableOptionsById Removes one of the caller org's option grants, taking its shares out of the cap table's granted-options and fully-diluted counts.

Removes one of the caller org's option grants, taking its shares
out of the cap table's granted-options and fully-diluted counts. An id this org
does not hold is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the option grant to delete.
	@return CaptableAPIDeleteCaptableOptionsByIdRequest
*/
func (a *CaptableAPIService) DeleteCaptableOptionsById(ctx context.Context, id string) CaptableAPIDeleteCaptableOptionsByIdRequest {
	return CaptableAPIDeleteCaptableOptionsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableDeleted
func (a *CaptableAPIService) DeleteCaptableOptionsByIdExecute(r CaptableAPIDeleteCaptableOptionsByIdRequest) (*CaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.DeleteCaptableOptionsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/options/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIDeleteCaptableSafesByIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPIDeleteCaptableSafesByIdRequest) Execute() (*CaptableDeleted, *http.Response, error) {
	return r.ApiService.DeleteCaptableSafesByIdExecute(r)
}

/*
DeleteCaptableSafesById Removes one of the caller org's SAFEs, taking its capital out of the cap table's unconverted-instrument totals.

Removes one of the caller org's SAFEs, taking its capital out of the
cap table's unconverted-instrument totals. An id this org does not hold is not
found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the SAFE to delete.
	@return CaptableAPIDeleteCaptableSafesByIdRequest
*/
func (a *CaptableAPIService) DeleteCaptableSafesById(ctx context.Context, id string) CaptableAPIDeleteCaptableSafesByIdRequest {
	return CaptableAPIDeleteCaptableSafesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableDeleted
func (a *CaptableAPIService) DeleteCaptableSafesByIdExecute(r CaptableAPIDeleteCaptableSafesByIdRequest) (*CaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.DeleteCaptableSafesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/safes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIDeleteCaptableSharesByIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPIDeleteCaptableSharesByIdRequest) Execute() (*CaptableDeleted, *http.Response, error) {
	return r.ApiService.DeleteCaptableSharesByIdExecute(r)
}

/*
DeleteCaptableSharesById Removes one of the caller org's share certificates, taking its shares out of the cap table's outstanding and fully-diluted counts.

Removes one of the caller org's share certificates, taking its
shares out of the cap table's outstanding and fully-diluted counts. An id this
org does not hold is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the share certificate to delete.
	@return CaptableAPIDeleteCaptableSharesByIdRequest
*/
func (a *CaptableAPIService) DeleteCaptableSharesById(ctx context.Context, id string) CaptableAPIDeleteCaptableSharesByIdRequest {
	return CaptableAPIDeleteCaptableSharesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableDeleted
func (a *CaptableAPIService) DeleteCaptableSharesByIdExecute(r CaptableAPIDeleteCaptableSharesByIdRequest) (*CaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.DeleteCaptableSharesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/shares/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIDeleteCaptableStakeholdersByIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPIDeleteCaptableStakeholdersByIdRequest) Execute() (*CaptableDeleted, *http.Response, error) {
	return r.ApiService.DeleteCaptableStakeholdersByIdExecute(r)
}

/*
DeleteCaptableStakeholdersById Removes one of the caller org's stakeholders.

Removes one of the caller org's stakeholders. It REFUSES to
orphan issued equity: a holder that still holds share certificates or option
grants cannot be deleted, and answers 400 saying so — release or transfer the
holdings first. An id this org does not hold is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the stakeholder to delete.
	@return CaptableAPIDeleteCaptableStakeholdersByIdRequest
*/
func (a *CaptableAPIService) DeleteCaptableStakeholdersById(ctx context.Context, id string) CaptableAPIDeleteCaptableStakeholdersByIdRequest {
	return CaptableAPIDeleteCaptableStakeholdersByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableDeleted
func (a *CaptableAPIService) DeleteCaptableStakeholdersByIdExecute(r CaptableAPIDeleteCaptableStakeholdersByIdRequest) (*CaptableDeleted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableDeleted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.DeleteCaptableStakeholdersById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/stakeholders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableClassesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableClassesRequest) Execute() ([]CaptableShareClass, *http.Response, error) {
	return r.ApiService.GetCaptableClassesExecute(r)
}

/*
GetCaptableClasses Returns the caller org's share classes, in creation order.

Returns the caller org's share classes, in creation order. A
share class is what a certificate is issued in, and every class the company
has authorized appears. The response is a bare JSON array, not an envelope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableClassesRequest
*/
func (a *CaptableAPIService) GetCaptableClasses(ctx context.Context) CaptableAPIGetCaptableClassesRequest {
	return CaptableAPIGetCaptableClassesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CaptableShareClass
func (a *CaptableAPIService) GetCaptableClassesExecute(r CaptableAPIGetCaptableClassesRequest) ([]CaptableShareClass, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CaptableShareClass
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableClasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/classes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableCompanyRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableCompanyRequest) Execute() (*CaptableCompany, *http.Response, error) {
	return r.ApiService.GetCaptableCompanyExecute(r)
}

/*
GetCaptableCompany Returns the caller org's cap-table company record.

Returns the caller org's cap-table company record. The row is
seeded when the tenant's store first opens, so it always exists; its name and
incorporation details are set with PUT /v1/captable/company.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableCompanyRequest
*/
func (a *CaptableAPIService) GetCaptableCompany(ctx context.Context) CaptableAPIGetCaptableCompanyRequest {
	return CaptableAPIGetCaptableCompanyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableCompany
func (a *CaptableAPIService) GetCaptableCompanyExecute(r CaptableAPIGetCaptableCompanyRequest) (*CaptableCompany, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableCompany
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableCompany")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/company"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableConvertiblesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableConvertiblesRequest) Execute() (*CaptableNotes, *http.Response, error) {
	return r.ApiService.GetCaptableConvertiblesExecute(r)
}

/*
GetCaptableConvertibles Returns the caller org's convertible notes, newest first.

Returns the caller org's convertible notes, newest first. A
note's principal sits OUTSIDE issued equity until it converts, so it is not
part of the share counts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableConvertiblesRequest
*/
func (a *CaptableAPIService) GetCaptableConvertibles(ctx context.Context) CaptableAPIGetCaptableConvertiblesRequest {
	return CaptableAPIGetCaptableConvertiblesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableNotes
func (a *CaptableAPIService) GetCaptableConvertiblesExecute(r CaptableAPIGetCaptableConvertiblesRequest) (*CaptableNotes, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableNotes
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableConvertibles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/convertibles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableInvestmentsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableInvestmentsRequest) Execute() (*CaptableInvestments, *http.Response, error) {
	return r.ApiService.GetCaptableInvestmentsExecute(r)
}

/*
GetCaptableInvestments Returns the caller org's investments, newest first.

Returns the caller org's investments, newest first. It spans
every round, so it is the flat ledger of cheques written into the company,
each naming its investor and the round it went into.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableInvestmentsRequest
*/
func (a *CaptableAPIService) GetCaptableInvestments(ctx context.Context) CaptableAPIGetCaptableInvestmentsRequest {
	return CaptableAPIGetCaptableInvestmentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableInvestments
func (a *CaptableAPIService) GetCaptableInvestmentsExecute(r CaptableAPIGetCaptableInvestmentsRequest) (*CaptableInvestments, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableInvestments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableInvestments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/investments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableOptionsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableOptionsRequest) Execute() (*CaptableOptions, *http.Response, error) {
	return r.ApiService.GetCaptableOptionsExecute(r)
}

/*
GetCaptableOptions Returns the caller org's option grants, newest first.

Returns the caller org's option grants, newest first. Each row is
joined to its grantee and its equity plan. Grants that are EXERCISED, EXPIRED
or CANCELLED are listed here but do not dilute the cap table.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableOptionsRequest
*/
func (a *CaptableAPIService) GetCaptableOptions(ctx context.Context) CaptableAPIGetCaptableOptionsRequest {
	return CaptableAPIGetCaptableOptionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableOptions
func (a *CaptableAPIService) GetCaptableOptionsExecute(r CaptableAPIGetCaptableOptionsRequest) (*CaptableOptions, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableOptions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/options"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptablePlansRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptablePlansRequest) Execute() (*CaptableEquityPlans, *http.Response, error) {
	return r.ApiService.GetCaptablePlansExecute(r)
}

/*
GetCaptablePlans Returns the caller org's equity plans, newest first.

Returns the caller org's equity plans, newest first. An equity
plan is an option pool: a reserve of shares, drawn from one share class, that
option grants are written against.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptablePlansRequest
*/
func (a *CaptableAPIService) GetCaptablePlans(ctx context.Context) CaptableAPIGetCaptablePlansRequest {
	return CaptableAPIGetCaptablePlansRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableEquityPlans
func (a *CaptableAPIService) GetCaptablePlansExecute(r CaptableAPIGetCaptablePlansRequest) (*CaptableEquityPlans, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableEquityPlans
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptablePlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableRoundsRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableRoundsRequest) Execute() (*CaptableRounds, *http.Response, error) {
	return r.ApiService.GetCaptableRoundsExecute(r)
}

/*
GetCaptableRounds Returns the caller org's fundraising rounds, newest first.

Returns the caller org's fundraising rounds, newest first. A round
groups a fundraising event; a PRICED round also carries the share class and
price per share it issues at.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableRoundsRequest
*/
func (a *CaptableAPIService) GetCaptableRounds(ctx context.Context) CaptableAPIGetCaptableRoundsRequest {
	return CaptableAPIGetCaptableRoundsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableRounds
func (a *CaptableAPIService) GetCaptableRoundsExecute(r CaptableAPIGetCaptableRoundsRequest) (*CaptableRounds, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableRounds
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableRounds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableRoundsByIdRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
	id         string
}

func (r CaptableAPIGetCaptableRoundsByIdRequest) Execute() (*CaptableRoundDetail, *http.Response, error) {
	return r.ApiService.GetCaptableRoundsByIdExecute(r)
}

/*
GetCaptableRoundsById Returns one of the caller org's fundraising rounds together with every investment written into it, oldest first.

Returns one of the caller org's fundraising rounds together with every
investment written into it, oldest first. A round id that does not exist in the
caller's org is not found — including one that exists in another tenant, since
the org comes from the caller's principal and is part of the lookup.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the round to read. It is the path segment: the URL is the addressing authority, and the org it is resolved in comes from the caller's principal, so an id from another tenant is simply not found.
	@return CaptableAPIGetCaptableRoundsByIdRequest
*/
func (a *CaptableAPIService) GetCaptableRoundsById(ctx context.Context, id string) CaptableAPIGetCaptableRoundsByIdRequest {
	return CaptableAPIGetCaptableRoundsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableRoundDetail
func (a *CaptableAPIService) GetCaptableRoundsByIdExecute(r CaptableAPIGetCaptableRoundsByIdRequest) (*CaptableRoundDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableRoundDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableRoundsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableSafesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableSafesRequest) Execute() (*CaptableSafes, *http.Response, error) {
	return r.ApiService.GetCaptableSafesExecute(r)
}

/*
GetCaptableSafes Returns the caller org's SAFEs, newest first.

Returns the caller org's SAFEs, newest first. A SAFE is a simple
agreement for future equity: its capital sits OUTSIDE issued equity until it
converts, so it is not part of the share counts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableSafesRequest
*/
func (a *CaptableAPIService) GetCaptableSafes(ctx context.Context) CaptableAPIGetCaptableSafesRequest {
	return CaptableAPIGetCaptableSafesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableSafes
func (a *CaptableAPIService) GetCaptableSafesExecute(r CaptableAPIGetCaptableSafesRequest) (*CaptableSafes, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableSafes
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableSafes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/safes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableSharesRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableSharesRequest) Execute() (*CaptableShares, *http.Response, error) {
	return r.ApiService.GetCaptableSharesExecute(r)
}

/*
GetCaptableShares Returns the caller org's share certificates, newest first.

Returns the caller org's share certificates, newest first. Each row
is joined to its holder and its share class, so a certificate names who holds
it and what class it is in without a second call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableSharesRequest
*/
func (a *CaptableAPIService) GetCaptableShares(ctx context.Context) CaptableAPIGetCaptableSharesRequest {
	return CaptableAPIGetCaptableSharesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableShares
func (a *CaptableAPIService) GetCaptableSharesExecute(r CaptableAPIGetCaptableSharesRequest) (*CaptableShares, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableShares
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableShares")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/shares"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableStakeholdersRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableStakeholdersRequest) Execute() ([]CaptableStakeholder, *http.Response, error) {
	return r.ApiService.GetCaptableStakeholdersExecute(r)
}

/*
GetCaptableStakeholders Returns the caller org's stakeholders, newest first.

Returns the caller org's stakeholders, newest first. The
response is a bare JSON array, not an envelope. Each row carries the holder's
contact and address fields alongside the company's name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableStakeholdersRequest
*/
func (a *CaptableAPIService) GetCaptableStakeholders(ctx context.Context) CaptableAPIGetCaptableStakeholdersRequest {
	return CaptableAPIGetCaptableStakeholdersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CaptableStakeholder
func (a *CaptableAPIService) GetCaptableStakeholdersExecute(r CaptableAPIGetCaptableStakeholdersRequest) ([]CaptableStakeholder, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CaptableStakeholder
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableStakeholders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/stakeholders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIGetCaptableSummaryRequest struct {
	ctx        context.Context
	ApiService *CaptableAPIService
}

func (r CaptableAPIGetCaptableSummaryRequest) Execute() (*CaptableSummary, *http.Response, error) {
	return r.ApiService.GetCaptableSummaryExecute(r)
}

/*
GetCaptableSummary Computes the caller org's cap table.

Computes the caller org's cap table. It answers who owns what on a
fully-diluted basis: outstanding shares, granted options, per-stakeholder
ownership percentages, each share class's authorized versus issued position,
and the capital sitting on SAFEs and convertible notes that have not yet
converted. Only non-terminal option grants dilute — EXERCISED, EXPIRED and
CANCELLED grants are excluded, so equity issued through an exercised option is
never counted twice.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIGetCaptableSummaryRequest
*/
func (a *CaptableAPIService) GetCaptableSummary(ctx context.Context) CaptableAPIGetCaptableSummaryRequest {
	return CaptableAPIGetCaptableSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableSummary
func (a *CaptableAPIService) GetCaptableSummaryExecute(r CaptableAPIGetCaptableSummaryRequest) (*CaptableSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.GetCaptableSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPatchCaptableClassesByIdRequest struct {
	ctx                     context.Context
	ApiService              *CaptableAPIService
	id                      string
	captableShareClassAmend *CaptableShareClassAmend
}

func (r CaptableAPIPatchCaptableClassesByIdRequest) CaptableShareClassAmend(captableShareClassAmend CaptableShareClassAmend) CaptableAPIPatchCaptableClassesByIdRequest {
	r.captableShareClassAmend = &captableShareClassAmend
	return r
}

func (r CaptableAPIPatchCaptableClassesByIdRequest) Execute() (*CaptableUpdated, *http.Response, error) {
	return r.ApiService.PatchCaptableClassesByIdExecute(r)
}

/*
PatchCaptableClassesById Replaces one share class's terms.

Replaces one share class's terms.

It is a full REPLACE and not a merge, despite the PATCH: every field is written
as sent, so a field omitted is written empty rather than left alone. Send the
whole class. The method is PATCH because the resource is addressed by id, not
because the body is partial — and getting that backwards silently blanks terms
every later issuance prices against.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID addresses the resource. The URL is the addressing authority — a path segment binds after the body and after the query — so the address decides which row is written whatever a body claims.
	@return CaptableAPIPatchCaptableClassesByIdRequest
*/
func (a *CaptableAPIService) PatchCaptableClassesById(ctx context.Context, id string) CaptableAPIPatchCaptableClassesByIdRequest {
	return CaptableAPIPatchCaptableClassesByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableUpdated
func (a *CaptableAPIService) PatchCaptableClassesByIdExecute(r CaptableAPIPatchCaptableClassesByIdRequest) (*CaptableUpdated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableUpdated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PatchCaptableClassesById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/classes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableShareClassAmend == nil {
		return localVarReturnValue, nil, reportError("captableShareClassAmend is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableShareClassAmend
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPatchCaptableStakeholdersByIdRequest struct {
	ctx                      context.Context
	ApiService               *CaptableAPIService
	id                       string
	captableStakeholderPatch *CaptableStakeholderPatch
}

func (r CaptableAPIPatchCaptableStakeholdersByIdRequest) CaptableStakeholderPatch(captableStakeholderPatch CaptableStakeholderPatch) CaptableAPIPatchCaptableStakeholdersByIdRequest {
	r.captableStakeholderPatch = &captableStakeholderPatch
	return r
}

func (r CaptableAPIPatchCaptableStakeholdersByIdRequest) Execute() (*CaptableUpdated, *http.Response, error) {
	return r.ApiService.PatchCaptableStakeholdersByIdExecute(r)
}

/*
PatchCaptableStakeholdersById Changes one of the caller org's stakeholders.

Changes one of the caller org's stakeholders. It is a
PARTIAL update: only the fields the request names are written, and a field
sent as null clears that column. A request that names no updatable field is
refused, and an id this org does not hold is not found.

The values are stored as sent. Unlike adding a stakeholder, this route does
not check the email's shape or the type and relationship vocabularies, so it
can record a value that adding one would have rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the stakeholder to update. It is the path segment: the URL is the addressing authority, and the org it is resolved in comes from the caller's principal, so an id from another tenant is simply not found.
	@return CaptableAPIPatchCaptableStakeholdersByIdRequest
*/
func (a *CaptableAPIService) PatchCaptableStakeholdersById(ctx context.Context, id string) CaptableAPIPatchCaptableStakeholdersByIdRequest {
	return CaptableAPIPatchCaptableStakeholdersByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableUpdated
func (a *CaptableAPIService) PatchCaptableStakeholdersByIdExecute(r CaptableAPIPatchCaptableStakeholdersByIdRequest) (*CaptableUpdated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableUpdated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PatchCaptableStakeholdersById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/stakeholders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableStakeholderPatch == nil {
		return localVarReturnValue, nil, reportError("captableStakeholderPatch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableStakeholderPatch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPostCaptableClassesRequest struct {
	ctx                  context.Context
	ApiService           *CaptableAPIService
	captableShareClassIn *CaptableShareClassIn
}

func (r CaptableAPIPostCaptableClassesRequest) CaptableShareClassIn(captableShareClassIn CaptableShareClassIn) CaptableAPIPostCaptableClassesRequest {
	r.captableShareClassIn = &captableShareClassIn
	return r
}

func (r CaptableAPIPostCaptableClassesRequest) Execute() (*CaptableCreated, *http.Response, error) {
	return r.ApiService.PostCaptableClassesExecute(r)
}

/*
PostCaptableClasses Defines a new class of shares.

Defines a new class of shares.

Every field but convertsToShareClassId is required — a class is the instrument
every later issuance prices against, so a partially-specified one would silently
mis-value every share issued into it. `seniority` orders liquidation preference
with LOWER first.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIPostCaptableClassesRequest
*/
func (a *CaptableAPIService) PostCaptableClasses(ctx context.Context) CaptableAPIPostCaptableClassesRequest {
	return CaptableAPIPostCaptableClassesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableCreated
func (a *CaptableAPIService) PostCaptableClassesExecute(r CaptableAPIPostCaptableClassesRequest) (*CaptableCreated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableCreated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PostCaptableClasses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/classes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableShareClassIn == nil {
		return localVarReturnValue, nil, reportError("captableShareClassIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableShareClassIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPostCaptableConvertiblesRequest struct {
	ctx                   context.Context
	ApiService            *CaptableAPIService
	captableConvertibleIn *CaptableConvertibleIn
}

func (r CaptableAPIPostCaptableConvertiblesRequest) CaptableConvertibleIn(captableConvertibleIn CaptableConvertibleIn) CaptableAPIPostCaptableConvertiblesRequest {
	r.captableConvertibleIn = &captableConvertibleIn
	return r
}

func (r CaptableAPIPostCaptableConvertiblesRequest) Execute() (*CaptableCreated, *http.Response, error) {
	return r.ApiService.PostCaptableConvertiblesExecute(r)
}

/*
PostCaptableConvertibles Records a convertible note.

Records a convertible note.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIPostCaptableConvertiblesRequest
*/
func (a *CaptableAPIService) PostCaptableConvertibles(ctx context.Context) CaptableAPIPostCaptableConvertiblesRequest {
	return CaptableAPIPostCaptableConvertiblesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableCreated
func (a *CaptableAPIService) PostCaptableConvertiblesExecute(r CaptableAPIPostCaptableConvertiblesRequest) (*CaptableCreated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableCreated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PostCaptableConvertibles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/convertibles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableConvertibleIn == nil {
		return localVarReturnValue, nil, reportError("captableConvertibleIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableConvertibleIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPostCaptableOptionsRequest struct {
	ctx              context.Context
	ApiService       *CaptableAPIService
	captableOptionIn *CaptableOptionIn
}

func (r CaptableAPIPostCaptableOptionsRequest) CaptableOptionIn(captableOptionIn CaptableOptionIn) CaptableAPIPostCaptableOptionsRequest {
	r.captableOptionIn = &captableOptionIn
	return r
}

func (r CaptableAPIPostCaptableOptionsRequest) Execute() (*CaptableCreated, *http.Response, error) {
	return r.ApiService.PostCaptableOptionsExecute(r)
}

/*
PostCaptableOptions Grants options to a stakeholder from an equity plan.

Grants options to a stakeholder from an equity plan.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIPostCaptableOptionsRequest
*/
func (a *CaptableAPIService) PostCaptableOptions(ctx context.Context) CaptableAPIPostCaptableOptionsRequest {
	return CaptableAPIPostCaptableOptionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableCreated
func (a *CaptableAPIService) PostCaptableOptionsExecute(r CaptableAPIPostCaptableOptionsRequest) (*CaptableCreated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableCreated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PostCaptableOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/options"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableOptionIn == nil {
		return localVarReturnValue, nil, reportError("captableOptionIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableOptionIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPostCaptablePlansRequest struct {
	ctx                  context.Context
	ApiService           *CaptableAPIService
	captableEquityPlanIn *CaptableEquityPlanIn
}

func (r CaptableAPIPostCaptablePlansRequest) CaptableEquityPlanIn(captableEquityPlanIn CaptableEquityPlanIn) CaptableAPIPostCaptablePlansRequest {
	r.captableEquityPlanIn = &captableEquityPlanIn
	return r
}

func (r CaptableAPIPostCaptablePlansRequest) Execute() (*CaptableCreated, *http.Response, error) {
	return r.ApiService.PostCaptablePlansExecute(r)
}

/*
PostCaptablePlans Opens an equity plan that options are granted from.

Opens an equity plan that options are granted from.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIPostCaptablePlansRequest
*/
func (a *CaptableAPIService) PostCaptablePlans(ctx context.Context) CaptableAPIPostCaptablePlansRequest {
	return CaptableAPIPostCaptablePlansRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableCreated
func (a *CaptableAPIService) PostCaptablePlansExecute(r CaptableAPIPostCaptablePlansRequest) (*CaptableCreated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableCreated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PostCaptablePlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableEquityPlanIn == nil {
		return localVarReturnValue, nil, reportError("captableEquityPlanIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableEquityPlanIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPostCaptableRoundsRequest struct {
	ctx             context.Context
	ApiService      *CaptableAPIService
	captableRoundIn *CaptableRoundIn
}

func (r CaptableAPIPostCaptableRoundsRequest) CaptableRoundIn(captableRoundIn CaptableRoundIn) CaptableAPIPostCaptableRoundsRequest {
	r.captableRoundIn = &captableRoundIn
	return r
}

func (r CaptableAPIPostCaptableRoundsRequest) Execute() (*CaptableCreated, *http.Response, error) {
	return r.ApiService.PostCaptableRoundsExecute(r)
}

/*
PostCaptableRounds Opens a priced round that investments can be added to.

Opens a priced round that investments can be added to.

The round opens OPEN; investing into a closed one is refused.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CaptableAPIPostCaptableRoundsRequest
*/
func (a *CaptableAPIService) PostCaptableRounds(ctx context.Context) CaptableAPIPostCaptableRoundsRequest {
	return CaptableAPIPostCaptableRoundsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CaptableCreated
func (a *CaptableAPIService) PostCaptableRoundsExecute(r CaptableAPIPostCaptableRoundsRequest) (*CaptableCreated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableCreated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PostCaptableRounds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableRoundIn == nil {
		return localVarReturnValue, nil, reportError("captableRoundIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableRoundIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPostCaptableRoundsByIdCloseRequest struct {
	ctx                       context.Context
	ApiService                *CaptableAPIService
	id                        string
	captableRoundCloseRequest *CaptableRoundCloseRequest
}

func (r CaptableAPIPostCaptableRoundsByIdCloseRequest) CaptableRoundCloseRequest(captableRoundCloseRequest CaptableRoundCloseRequest) CaptableAPIPostCaptableRoundsByIdCloseRequest {
	r.captableRoundCloseRequest = &captableRoundCloseRequest
	return r
}

func (r CaptableAPIPostCaptableRoundsByIdCloseRequest) Execute() (*CaptableUpdated, *http.Response, error) {
	return r.ApiService.PostCaptableRoundsByIdCloseExecute(r)
}

/*
PostCaptableRoundsByIdClose Closes one of the caller org's fundraising rounds, recording the close date and moving its status to CLOSED.

Closes one of the caller org's fundraising rounds, recording the
close date and moving its status to CLOSED. Only an OPEN round can be closed:
a round that is already closed — like an id this org does not hold — is not
found. Closing a round does not change what was invested in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the round to close. It is the path segment: the URL is the addressing authority, and the org it is resolved in comes from the caller's principal, so an id from another tenant is simply not found.
	@return CaptableAPIPostCaptableRoundsByIdCloseRequest
*/
func (a *CaptableAPIService) PostCaptableRoundsByIdClose(ctx context.Context, id string) CaptableAPIPostCaptableRoundsByIdCloseRequest {
	return CaptableAPIPostCaptableRoundsByIdCloseRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableUpdated
func (a *CaptableAPIService) PostCaptableRoundsByIdCloseExecute(r CaptableAPIPostCaptableRoundsByIdCloseRequest) (*CaptableUpdated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableUpdated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PostCaptableRoundsByIdClose")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds/{id}/close"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableRoundCloseRequest == nil {
		return localVarReturnValue, nil, reportError("captableRoundCloseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableRoundCloseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPostCaptableRoundsByIdInvestmentsRequest struct {
	ctx                  context.Context
	ApiService           *CaptableAPIService
	id                   string
	captableInvestmentIn *CaptableInvestmentIn
}

func (r CaptableAPIPostCaptableRoundsByIdInvestmentsRequest) CaptableInvestmentIn(captableInvestmentIn CaptableInvestmentIn) CaptableAPIPostCaptableRoundsByIdInvestmentsRequest {
	r.captableInvestmentIn = &captableInvestmentIn
	return r
}

func (r CaptableAPIPostCaptableRoundsByIdInvestmentsRequest) Execute() (*CaptableInvested, *http.Response, error) {
	return r.ApiService.PostCaptableRoundsByIdInvestmentsExecute(r)
}

/*
PostCaptableRoundsByIdInvestments Records one investor's money into an open round.

Records one investor's money into an open round.

The round must be OPEN; investing into a closed one is refused. Where the round
carries a price per share, the investment also issues the shares it buys and the
answer names them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the round to invest in. The URL is the addressing authority — a path segment binds after the body and after the query — so the address decides which round is written whatever a body claims.
	@return CaptableAPIPostCaptableRoundsByIdInvestmentsRequest
*/
func (a *CaptableAPIService) PostCaptableRoundsByIdInvestments(ctx context.Context, id string) CaptableAPIPostCaptableRoundsByIdInvestmentsRequest {
	return CaptableAPIPostCaptableRoundsByIdInvestmentsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CaptableInvested
func (a *CaptableAPIService) PostCaptableRoundsByIdInvestmentsExecute(r CaptableAPIPostCaptableRoundsByIdInvestmentsRequest) (*CaptableInvested, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CaptableInvested
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CaptableAPIService.PostCaptableRoundsByIdInvestments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/captable/rounds/{id}/investments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.captableInvestmentIn == nil {
		return localVarReturnValue, nil, reportError("captableInvestmentIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.captableInvestmentIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CaptableAPIPostCaptableSafesRequest struct {
	ctx            context.Context
	ApiService     *CaptableAPIService
	captableSafeIn *CaptableSafeIn
}

func (r CaptableAPIPostCaptableSafesRequest) CaptableSafeIn(captableSafeIn CaptableSafeIn) CaptableAPIPostCaptableSafesRequest {
	r.captableSafeIn = &captableSafeIn
	return r
}

func (r CaptableAPIPostCaptableSafesRequest) Execute() (*CaptableCreated, *http.Response, error) {
	return r.ApiService.PostCaptableSafesExecute(r)
}

/*
PostCaptableSafes Records a SAFE — a simple agreement for future equity.

Records a SAFE — a simple agreement for future equity.

[...]
