/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SitesAPIService SitesAPI service
type SitesAPIService service

type SitesAPIGetSitesRequest struct {
	ctx        context.Context
	ApiService *SitesAPIService
}

func (r SitesAPIGetSitesRequest) Execute() ([]ProjectsSite, *http.Response, error) {
	return r.ApiService.GetSitesExecute(r)
}

/*
GetSites Returns the org's deployed sites at the pretty URLs they serve at.

Returns the org's deployed sites at the pretty URLs they serve at.

It reads the SAME org-scoped store as /v1/projects and keeps only the projects
that are actually `live`, so a draft or a failed build is not advertised as a
site.

Scope: a validated principal is required (403 without one) and the list is
keyed by that principal's org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SitesAPIGetSitesRequest
*/
func (a *SitesAPIService) GetSites(ctx context.Context) SitesAPIGetSitesRequest {
	return SitesAPIGetSitesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ProjectsSite
func (a *SitesAPIService) GetSitesExecute(r SitesAPIGetSitesRequest) ([]ProjectsSite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectsSite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.GetSites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIGetSitesBySlugRequest struct {
	ctx        context.Context
	ApiService *SitesAPIService
	slug       string
}

func (r SitesAPIGetSitesBySlugRequest) Execute() (*ProjectsSite, *http.Response, error) {
	return r.ApiService.GetSitesBySlugExecute(r)
}

/*
GetSitesBySlug Returns one site — the same row ListSites carries, for one slug.

Returns one site — the same row ListSites carries, for one slug.

Every sub-resource under a site already answered: deployments, releases,
publish. The site itself did not, and a route that is never registered
answers 404 for a LIVE site exactly as it does for one that was never
created. So the one call a client makes to ask "is it there yet?" could only
ever say no, and a CI lane watching for its own publish would wait forever on
a success it had already achieved.

The org is the caller's, never a path segment. A slug is unique within an org
and two orgs may both own `tel`; taking the org from the validated principal
instead of the URL means a caller cannot read another org's site by editing a
path, and it is the same scope ListProjects and ListSites already use.

A site that exists but is not live is NOT found here, matching ListSites,
which keeps only `live` rows so a draft or a failed build is never advertised
as a site. One definition of "is a site", used by both.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return SitesAPIGetSitesBySlugRequest
*/
func (a *SitesAPIService) GetSitesBySlug(ctx context.Context, slug string) SitesAPIGetSitesBySlugRequest {
	return SitesAPIGetSitesBySlugRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsSite
func (a *SitesAPIService) GetSitesBySlugExecute(r SitesAPIGetSitesBySlugRequest) (*ProjectsSite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsSite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.GetSitesBySlug")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIGetSitesBySlugDeploymentsRequest struct {
	ctx        context.Context
	ApiService *SitesAPIService
	slug       string
}

func (r SitesAPIGetSitesBySlugDeploymentsRequest) Execute() ([]ProjectsDeployment, *http.Response, error) {
	return r.ApiService.GetSitesBySlugDeploymentsExecute(r)
}

/*
GetSitesBySlugDeployments Returns a project's deploy history, newest version first.

Returns a project's deploy history, newest version first.

Every deploy of the project is a row — uploads, generated sites, and git/CI
builds alike — carrying its version, status, source, commit, live URL, file
count and byte count. The short-lived upload grant a queued git deployment was
handed is NOT replayed here: it exists only on the 202 that minted it, so a
grant cannot outlive its build by being fetched again.

Scope: a validated principal is required (403 without one) and the project is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return SitesAPIGetSitesBySlugDeploymentsRequest
*/
func (a *SitesAPIService) GetSitesBySlugDeployments(ctx context.Context, slug string) SitesAPIGetSitesBySlugDeploymentsRequest {
	return SitesAPIGetSitesBySlugDeploymentsRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return []ProjectsDeployment
func (a *SitesAPIService) GetSitesBySlugDeploymentsExecute(r SitesAPIGetSitesBySlugDeploymentsRequest) ([]ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.GetSitesBySlugDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIGetSitesBySlugDeploymentsByIdRequest struct {
	ctx        context.Context
	ApiService *SitesAPIService
	slug       string
	id         string
}

func (r SitesAPIGetSitesBySlugDeploymentsByIdRequest) Execute() (*ProjectsDeployment, *http.Response, error) {
	return r.ApiService.GetSitesBySlugDeploymentsByIdExecute(r)
}

/*
GetSitesBySlugDeploymentsById Returns one deployment of a project by id.

Returns one deployment of a project by id.

It is how a console follows a build: the status (`queued`, `uploading`,
`live`, `error`), the message a failure left, and the URL and prefix it went
live at. Like the history, it never replays the upload grant.

Scope: a validated principal is required (403 without one). Both the project
and the deployment are resolved within that principal's org, so a deployment
of another project — or of another tenant — is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project the deployment belongs to, from the path.
	@param id ID is the deployment id, from the path. A deployment of another project — or of another tenant's project — is not found.
	@return SitesAPIGetSitesBySlugDeploymentsByIdRequest
*/
func (a *SitesAPIService) GetSitesBySlugDeploymentsById(ctx context.Context, slug string, id string) SitesAPIGetSitesBySlugDeploymentsByIdRequest {
	return SitesAPIGetSitesBySlugDeploymentsByIdRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ProjectsDeployment
func (a *SitesAPIService) GetSitesBySlugDeploymentsByIdExecute(r SitesAPIGetSitesBySlugDeploymentsByIdRequest) (*ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.GetSitesBySlugDeploymentsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}/deployments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIGetSitesBySlugReleasesRequest struct {
	ctx        context.Context
	ApiService *SitesAPIService
	slug       string
}

func (r SitesAPIGetSitesBySlugReleasesRequest) Execute() ([]ProjectsRelease, *http.Response, error) {
	return r.ApiService.GetSitesBySlugReleasesExecute(r)
}

/*
GetSitesBySlugReleases Returns a site's releases newest-first, marking the active one — the rollback menu.

Returns a site's releases newest-first, marking the active one —
the rollback menu.

Each row carries the release id to activate, the source it was promoted from,
its object and byte counts, and the URL if it is the one serving. Retention
bounds the list, so it is the set that can actually still be rolled back to,
not a full history.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project to act on, from the path. It is unique within the caller's org and nowhere else, so another tenant's slug is a 404.
	@return SitesAPIGetSitesBySlugReleasesRequest
*/
func (a *SitesAPIService) GetSitesBySlugReleases(ctx context.Context, slug string) SitesAPIGetSitesBySlugReleasesRequest {
	return SitesAPIGetSitesBySlugReleasesRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return []ProjectsRelease
func (a *SitesAPIService) GetSitesBySlugReleasesExecute(r SitesAPIGetSitesBySlugReleasesRequest) ([]ProjectsRelease, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ProjectsRelease
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.GetSitesBySlugReleases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}/releases"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIPostSitesRequest struct {
	ctx               context.Context
	ApiService        *SitesAPIService
	projectsBuildSite *ProjectsBuildSite
}

func (r SitesAPIPostSitesRequest) ProjectsBuildSite(projectsBuildSite ProjectsBuildSite) SitesAPIPostSitesRequest {
	r.projectsBuildSite = &projectsBuildSite
	return r
}

func (r SitesAPIPostSitesRequest) Execute() (*ProjectsSiteDeploy, *http.Response, error) {
	return r.ApiService.PostSitesExecute(r)
}

/*
PostSites Generates a self-contained, mobile-responsive static site from a natural-language brief and deploys it live in one call.

Generates a self-contained, mobile-responsive static site from a
natural-language brief and deploys it live in one call.

One inference call turns `brief` (capped at 8 KiB) into a file manifest, which
then runs through the SAME validation, guards and viewport guarantee as a
hand-supplied manifest: index.html required at the root, absolute and
traversal paths rejected, per-file and total size capped, and a mobile
viewport meta tag injected into every HTML document that lacks one. The
generated site is fully inline — no CDNs, no remote fonts or images — so it is
CSP-safe. `slug` and `name` are optional: the model's own title is preferred,
and a slug is derived or minted when none is given.

It writes into the SAME org-scoped store as /v1/projects — it ensures a
project (framework `static`) for the resolved slug and records a deployment —
so this is a second door onto one publish pipeline, not a second copy of
project state. Ordering is the billing contract: the hosting gate runs BEFORE
any inference or upload, so a denied gate generates and uploads NOTHING, and
the debit lands once, only after the site is actually live. The tokens are
billed to the same ledger the hosting fee was reserved against.

Answers 503 when object storage or inference is unconfigured, and 400 when the
model's manifest cannot be parsed or fails the guards.

Scope: a validated principal is required (403 without one) and the site is
published into THAT principal's org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SitesAPIPostSitesRequest
*/
func (a *SitesAPIService) PostSites(ctx context.Context) SitesAPIPostSitesRequest {
	return SitesAPIPostSitesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectsSiteDeploy
func (a *SitesAPIService) PostSitesExecute(r SitesAPIPostSitesRequest) (*ProjectsSiteDeploy, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsSiteDeploy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PostSites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsBuildSite == nil {
		return localVarReturnValue, nil, reportError("projectsBuildSite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsBuildSite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIPostSitesBySlugDeploymentsRequest struct {
	ctx                 context.Context
	ApiService          *SitesAPIService
	slug                string
	projectsDeployStart *ProjectsDeployStart
}

func (r SitesAPIPostSitesBySlugDeploymentsRequest) ProjectsDeployStart(projectsDeployStart ProjectsDeployStart) SitesAPIPostSitesBySlugDeploymentsRequest {
	r.projectsDeployStart = &projectsDeployStart
	return r
}

func (r SitesAPIPostSitesBySlugDeploymentsRequest) Execute() (*ProjectsDeployment, *http.Response, error) {
	return r.ApiService.PostSitesBySlugDeploymentsExecute(r)
}

/*
PostSitesBySlugDeployments Opens a deployment and hands back a short-lived, prefix-scoped grant to write its bytes straight to object storage.

Opens a deployment and hands back a short-lived, prefix-scoped
grant to write its bytes straight to object storage. Answers 202.

This is the path for a site too large to send as one archive: a real export is
hundreds of megabytes against a 16 MiB body limit, so the bytes deliberately do
NOT pass through the API. The answer carries `bucket`, `prefix` and `upload` —
a presigned POST policy that S3 itself confines to this site's prefix
(starts-with `<org>/<slug>/`), expires in 30 minutes and bounds each object.
So a build writes its own files and holds no standing bucket credential; there
is nothing to rotate and nothing that leaks between tenants. Never guess the
prefix — it is server-derived, and a guessed one lands where nothing is served.

The deployment is `queued` until POST .../deployments/{id}/complete flips it
live (or error). That completion is also where DELETION happens: the grant
authorizes writes only, so a build cannot remove a file, and cloud reconciles
the prefix against the `keys` manifest the completion carries. A build that
dies before completing leaves the deployment queued rather than a half-live
site.

The grant is on the 202 and NOWHERE else — it is never stored and never
replayed on a later read, so it cannot outlive the build it was minted for. A
deployment whose grant could not be minted is still created and still
completable; it simply carries no `upload`, and a caller with no other way to
write should treat that as the failure it is.

Billing: the hosting gate runs BEFORE anything is created (402 unfunded, 503
commerce unreachable), and the debit lands on the completion that goes live —
never on a queued or failed build.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the site to deploy, from the path.
	@return SitesAPIPostSitesBySlugDeploymentsRequest
*/
func (a *SitesAPIService) PostSitesBySlugDeployments(ctx context.Context, slug string) SitesAPIPostSitesBySlugDeploymentsRequest {
	return SitesAPIPostSitesBySlugDeploymentsRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsDeployment
func (a *SitesAPIService) PostSitesBySlugDeploymentsExecute(r SitesAPIPostSitesBySlugDeploymentsRequest) (*ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PostSitesBySlugDeployments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}/deployments"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsDeployStart == nil {
		return localVarReturnValue, nil, reportError("projectsDeployStart is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsDeployStart
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIPostSitesBySlugDeploymentsByIdCompleteRequest struct {
	ctx              context.Context
	ApiService       *SitesAPIService
	slug             string
	id               string
	projectsComplete *ProjectsComplete
}

func (r SitesAPIPostSitesBySlugDeploymentsByIdCompleteRequest) ProjectsComplete(projectsComplete ProjectsComplete) SitesAPIPostSitesBySlugDeploymentsByIdCompleteRequest {
	r.projectsComplete = &projectsComplete
	return r
}

func (r SitesAPIPostSitesBySlugDeploymentsByIdCompleteRequest) Execute() (*ProjectsDeployment, *http.Response, error) {
	return r.ApiService.PostSitesBySlugDeploymentsByIdCompleteExecute(r)
}

/*
PostSitesBySlugDeploymentsByIdComplete CompleteDeployment is the CI completion hook that flips a queued git deployment to live (or error) once CI has synced the built site to S3.

CompleteDeployment is the CI completion hook that flips a queued git
deployment to live (or error) once CI has synced the built site to S3.

`status` must be `live` or `error`. On a LIVE completion the public host is
claimed FIRST, so the deployment reports the URL it actually OWNS — a
CI-supplied `liveUrl` is a hint that can refine that URL but can never assert
a subdomain another tenant holds. `keys` is the manifest CI just uploaded,
relative to the deployment prefix: cloud reconciles the prefix against it so a
page deleted from the build actually stops serving. Omit `keys` and nothing is
deleted — the prefix only grows. Reconciliation runs only on a live completion
(pruning against a failed build's manifest would delete the site the last good
build is still serving) and is best-effort, so a stale leftover never turns a
successful deploy into a 500. A live completion is also the one billable
moment on the git path; an error completion bills nothing.

Scope: a validated principal is required (403 without one). CI authenticates
with an org-scoped token through the gateway, so the deployment is resolved
within that principal's org and another tenant's slug or deployment id is a
404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the project the deployment belongs to, from the path.
	@param id ID is the queued deployment to complete, from the path.
	@return SitesAPIPostSitesBySlugDeploymentsByIdCompleteRequest
*/
func (a *SitesAPIService) PostSitesBySlugDeploymentsByIdComplete(ctx context.Context, slug string, id string) SitesAPIPostSitesBySlugDeploymentsByIdCompleteRequest {
	return SitesAPIPostSitesBySlugDeploymentsByIdCompleteRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ProjectsDeployment
func (a *SitesAPIService) PostSitesBySlugDeploymentsByIdCompleteExecute(r SitesAPIPostSitesBySlugDeploymentsByIdCompleteRequest) (*ProjectsDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PostSitesBySlugDeploymentsByIdComplete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}/deployments/{id}/complete"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsComplete == nil {
		return localVarReturnValue, nil, reportError("projectsComplete is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsComplete
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIPostSitesBySlugPublishRequest struct {
	ctx             context.Context
	ApiService      *SitesAPIService
	slug            string
	projectsPublish *ProjectsPublish
}

func (r SitesAPIPostSitesBySlugPublishRequest) ProjectsPublish(projectsPublish ProjectsPublish) SitesAPIPostSitesBySlugPublishRequest {
	r.projectsPublish = &projectsPublish
	return r
}

func (r SitesAPIPostSitesBySlugPublishRequest) Execute() (*ProjectsRelease, *http.Response, error) {
	return r.ApiService.PostSitesBySlugPublishExecute(r)
}

/*
PostSitesBySlugPublish Promotes a build output into a new release AND goes live with it — create+activate in one call, which is the 99% path.

Promotes a build output into a new release AND goes live with it —
create+activate in one call, which is the 99% path.

It is exactly the two halves in sequence with no extra semantics, so the
staged flow and the one-shot flow can never drift apart: `source` is promoted
under the same org-relative rule and the same guards CreateRelease applies,
then the site's pointer is flipped to it, the public host is claimed and the
edge is purged. Idempotent on unchanged bytes — same manifest, same release id,
no copy — and billed once, after the release exists.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the site to publish, from the path.
	@return SitesAPIPostSitesBySlugPublishRequest
*/
func (a *SitesAPIService) PostSitesBySlugPublish(ctx context.Context, slug string) SitesAPIPostSitesBySlugPublishRequest {
	return SitesAPIPostSitesBySlugPublishRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsRelease
func (a *SitesAPIService) PostSitesBySlugPublishExecute(r SitesAPIPostSitesBySlugPublishRequest) (*ProjectsRelease, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsRelease
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PostSitesBySlugPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}/publish"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsPublish == nil {
		return localVarReturnValue, nil, reportError("projectsPublish is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsPublish
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIPostSitesBySlugReleasesRequest struct {
	ctx             context.Context
	ApiService      *SitesAPIService
	slug            string
	projectsPublish *ProjectsPublish
}

func (r SitesAPIPostSitesBySlugReleasesRequest) ProjectsPublish(projectsPublish ProjectsPublish) SitesAPIPostSitesBySlugReleasesRequest {
	r.projectsPublish = &projectsPublish
	return r
}

func (r SitesAPIPostSitesBySlugReleasesRequest) Execute() (*ProjectsRelease, *http.Response, error) {
	return r.ApiService.PostSitesBySlugReleasesExecute(r)
}

/*
PostSitesBySlugReleases Promotes a build output into a new immutable release WITHOUT serving it — the staged half of publishing, for when you want to check a release before it goes live.

Promotes a build output into a new immutable release WITHOUT
serving it — the staged half of publishing, for when you want to check a
release before it goes live. Answers 201.

`source` is a path RELATIVE to your org's own storage space: the org segment
is prepended server-side from the validated principal and the bucket is never
in the request at all, so a server-side copy can only ever reach bytes your
org already owns. The prefix is listed, content-addressed (SHA-256 over the
sorted manifest of key/size/etag), and copied into an immutable
`<org>/.releases/<slug>/<id>/` prefix; the row is written LAST, so a partial
copy is unreachable rather than merely unlikely. Re-publishing an unchanged
source is idempotent BY CONSTRUCTION — same bytes, same id, no copy at all.

The source must contain index.html at its root and stay under the same file
and byte caps an artifact deploy does (413 past them); a source that changes
mid-copy is a 409 and the release is abandoned. Each publish also reclaims
releases past the retention depth, so a site's release space stays bounded.
This is the billable half — the hosting gate runs before any copy, and the
debit lands once the release exists.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the site to publish, from the path.
	@return SitesAPIPostSitesBySlugReleasesRequest
*/
func (a *SitesAPIService) PostSitesBySlugReleases(ctx context.Context, slug string) SitesAPIPostSitesBySlugReleasesRequest {
	return SitesAPIPostSitesBySlugReleasesRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
	}
}

// Execute executes the request
//
//	@return ProjectsRelease
func (a *SitesAPIService) PostSitesBySlugReleasesExecute(r SitesAPIPostSitesBySlugReleasesRequest) (*ProjectsRelease, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsRelease
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PostSitesBySlugReleases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}/releases"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsPublish == nil {
		return localVarReturnValue, nil, reportError("projectsPublish is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsPublish
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIPostSitesBySlugReleasesByReleaseActivateRequest struct {
	ctx        context.Context
	ApiService *SitesAPIService
	slug       string
	release    string
}

func (r SitesAPIPostSitesBySlugReleasesByReleaseActivateRequest) Execute() (*ProjectsRelease, *http.Response, error) {
	return r.ApiService.PostSitesBySlugReleasesByReleaseActivateExecute(r)
}

/*
PostSitesBySlugReleasesByReleaseActivate Points the site at an existing release — the go-live, and equally the ROLLBACK.

Points the site at an existing release — the go-live, and
equally the ROLLBACK.

Aim it at an older release and the site serves that one again: releases are
immutable and retained to the retention depth, so nothing is rebuilt or
re-copied and the flip is one atomic statement. Before the flip, two
conditions run in the order that gives each its own honest answer — the ROW
says whether this release exists for this tenant at all (404, with no signal
about a foreign id), and only then do the BYTES say whether it can still serve
(410 GONE when retention has reclaimed them; that rollback target is not
coming back, so publish again). Going live also claims the public host and
purges the edge, so the release is reachable and no cached predecessor is
served. NOT billed: no new content is produced, only a pointer moved.

Scope: a validated principal is required (403 without one) and the site is
resolved within that principal's org, so another tenant's slug is a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param slug Slug is the site the release belongs to, from the path.
	@param release Release is the content-addressed release id (\"rel_\" + 32 hex chars), from the path. Anything that is not that shape is not found, rather than being interpolated into a storage prefix.
	@return SitesAPIPostSitesBySlugReleasesByReleaseActivateRequest
*/
func (a *SitesAPIService) PostSitesBySlugReleasesByReleaseActivate(ctx context.Context, slug string, release string) SitesAPIPostSitesBySlugReleasesByReleaseActivateRequest {
	return SitesAPIPostSitesBySlugReleasesByReleaseActivateRequest{
		ApiService: a,
		ctx:        ctx,
		slug:       slug,
		release:    release,
	}
}

// Execute executes the request
//
//	@return ProjectsRelease
func (a *SitesAPIService) PostSitesBySlugReleasesByReleaseActivateExecute(r SitesAPIPostSitesBySlugReleasesByReleaseActivateRequest) (*ProjectsRelease, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsRelease
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PostSitesBySlugReleasesByReleaseActivate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/{slug}/releases/{release}/activate"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"release"+"}", url.PathEscape(parameterValueToString(r.release, "release")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SitesAPIPostSitesDeployRequest struct {
	ctx                context.Context
	ApiService         *SitesAPIService
	projectsDeploySite *ProjectsDeploySite
}

func (r SitesAPIPostSitesDeployRequest) ProjectsDeploySite(projectsDeploySite ProjectsDeploySite) SitesAPIPostSitesDeployRequest {
	r.projectsDeploySite = &projectsDeploySite
	return r
}

func (r SitesAPIPostSitesDeployRequest) Execute() (*ProjectsSiteDeploy, *http.Response, error) {
	return r.ApiService.PostSitesDeployExecute(r)
}

/*
PostSitesDeploy Deploys a caller-supplied file manifest — the deploy_site capability an agent calls — and answers with where it went live.

Deploys a caller-supplied file manifest — the deploy_site
capability an agent calls — and answers with where it went live.

`files` is a list of {path, content} pairs, the same shape the brief build
emits, and it runs through the SAME guards: index.html required at the root,
absolute and traversal paths rejected, per-file and total size capped, and a
mobile viewport meta tag injected into every HTML document that lacks one — so
a hand-built site is exactly as safe and as responsive as a generated one.
`slug` and `name` are optional; a slug is derived from the name or minted.

It writes into the SAME org-scoped store as /v1/projects, ensuring a project
(framework `static`) for the resolved slug and recording a deployment. The
hosting gate runs before the upload and the debit lands once, after the site
is live — a failed upload is never billed. Answers 503 when object storage is
unconfigured.

Scope: a validated principal is required (403 without one) and the site is
published into THAT principal's org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SitesAPIPostSitesDeployRequest
*/
func (a *SitesAPIService) PostSitesDeploy(ctx context.Context) SitesAPIPostSitesDeployRequest {
	return SitesAPIPostSitesDeployRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectsSiteDeploy
func (a *SitesAPIService) PostSitesDeployExecute(r SitesAPIPostSitesDeployRequest) (*ProjectsSiteDeploy, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectsSiteDeploy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SitesAPIService.PostSitesDeploy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/sites/deploy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectsDeploySite == nil {
		return localVarReturnValue, nil, reportError("projectsDeploySite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectsDeploySite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
