/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CommerceAPIService CommerceAPI service
type CommerceAPIService service

type CommerceAPICloudGetV1CommerceAdminCatalogRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
}

func (r CommerceAPICloudGetV1CommerceAdminCatalogRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1CommerceAdminCatalogExecute(r)
}

/*
CloudGetV1CommerceAdminCatalog Method for CloudGetV1CommerceAdminCatalog

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommerceAPICloudGetV1CommerceAdminCatalogRequest
*/
func (a *CommerceAPIService) CloudGetV1CommerceAdminCatalog(ctx context.Context) CommerceAPICloudGetV1CommerceAdminCatalogRequest {
	return CommerceAPICloudGetV1CommerceAdminCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CommerceAPIService) CloudGetV1CommerceAdminCatalogExecute(r CommerceAPICloudGetV1CommerceAdminCatalogRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudGetV1CommerceAdminCatalog")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/admin/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CommerceAPICloudGetV1CommerceCatalogRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
}

func (r CommerceAPICloudGetV1CommerceCatalogRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1CommerceCatalogExecute(r)
}

/*
CloudGetV1CommerceCatalog Method for CloudGetV1CommerceCatalog

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommerceAPICloudGetV1CommerceCatalogRequest
*/
func (a *CommerceAPIService) CloudGetV1CommerceCatalog(ctx context.Context) CommerceAPICloudGetV1CommerceCatalogRequest {
	return CommerceAPICloudGetV1CommerceCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CommerceAPIService) CloudGetV1CommerceCatalogExecute(r CommerceAPICloudGetV1CommerceCatalogRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudGetV1CommerceCatalog")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CommerceAPICloudGetV1CommerceCurrenciesRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
}

func (r CommerceAPICloudGetV1CommerceCurrenciesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1CommerceCurrenciesExecute(r)
}

/*
CloudGetV1CommerceCurrencies Method for CloudGetV1CommerceCurrencies

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommerceAPICloudGetV1CommerceCurrenciesRequest
*/
func (a *CommerceAPIService) CloudGetV1CommerceCurrencies(ctx context.Context) CommerceAPICloudGetV1CommerceCurrenciesRequest {
	return CommerceAPICloudGetV1CommerceCurrenciesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CommerceAPIService) CloudGetV1CommerceCurrenciesExecute(r CommerceAPICloudGetV1CommerceCurrenciesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudGetV1CommerceCurrencies")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/currencies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CommerceAPICloudGetV1CommerceDepositsByIdStatusRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
	id         string
}

func (r CommerceAPICloudGetV1CommerceDepositsByIdStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1CommerceDepositsByIdStatusExecute(r)
}

/*
CloudGetV1CommerceDepositsByIdStatus Method for CloudGetV1CommerceDepositsByIdStatus

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return CommerceAPICloudGetV1CommerceDepositsByIdStatusRequest
*/
func (a *CommerceAPIService) CloudGetV1CommerceDepositsByIdStatus(ctx context.Context, id string) CommerceAPICloudGetV1CommerceDepositsByIdStatusRequest {
	return CommerceAPICloudGetV1CommerceDepositsByIdStatusRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CommerceAPIService) CloudGetV1CommerceDepositsByIdStatusExecute(r CommerceAPICloudGetV1CommerceDepositsByIdStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudGetV1CommerceDepositsByIdStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/deposits/{id}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CommerceAPICloudGetV1CommerceTenantRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
}

func (r CommerceAPICloudGetV1CommerceTenantRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudGetV1CommerceTenantExecute(r)
}

/*
CloudGetV1CommerceTenant Method for CloudGetV1CommerceTenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommerceAPICloudGetV1CommerceTenantRequest
*/
func (a *CommerceAPIService) CloudGetV1CommerceTenant(ctx context.Context) CommerceAPICloudGetV1CommerceTenantRequest {
	return CommerceAPICloudGetV1CommerceTenantRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CommerceAPIService) CloudGetV1CommerceTenantExecute(r CommerceAPICloudGetV1CommerceTenantRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudGetV1CommerceTenant")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/tenant"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CommerceAPICloudGetV1CommerceTopupRailsRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
}

func (r CommerceAPICloudGetV1CommerceTopupRailsRequest) Execute() (*CloudRailList, *http.Response, error) {
	return r.ApiService.CloudGetV1CommerceTopupRailsExecute(r)
}

/*
CloudGetV1CommerceTopupRails TopupRails lists the accepted (chain, token, treasury) triples, so a browser can render \"send USDC here\" without the addresses being baked into its bundle.

TopupRails lists the accepted (chain, token, treasury) triples, so a browser can
render "send USDC here" without the addresses being baked into its bundle.

This exists because the console previously gated its top-up UI on
NEXT_PUBLIC_HANZO_HUSD_ADDRESS/_TREASURY — build-time constants. Enabling a rail
therefore meant rebuilding and redeploying the frontend, and with them unset the
UI reported "not available yet" no matter what the server could actually accept.
Serving the set at runtime keeps ONE source of truth (the server's config) and
lets a rail be switched on without shipping a bundle.

Everything here is public on-chain data; no secret is exposed, and the set is
empty on a deployment that accepts no crypto rail.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommerceAPICloudGetV1CommerceTopupRailsRequest
*/
func (a *CommerceAPIService) CloudGetV1CommerceTopupRails(ctx context.Context) CommerceAPICloudGetV1CommerceTopupRailsRequest {
	return CommerceAPICloudGetV1CommerceTopupRailsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudRailList
func (a *CommerceAPIService) CloudGetV1CommerceTopupRailsExecute(r CommerceAPICloudGetV1CommerceTopupRailsRequest) (*CloudRailList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudRailList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudGetV1CommerceTopupRails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/topup/rails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommerceAPICloudPostV1CommerceDepositsRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
}

func (r CommerceAPICloudPostV1CommerceDepositsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CommerceDepositsExecute(r)
}

/*
CloudPostV1CommerceDeposits Method for CloudPostV1CommerceDeposits

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommerceAPICloudPostV1CommerceDepositsRequest
*/
func (a *CommerceAPIService) CloudPostV1CommerceDeposits(ctx context.Context) CommerceAPICloudPostV1CommerceDepositsRequest {
	return CommerceAPICloudPostV1CommerceDepositsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CommerceAPIService) CloudPostV1CommerceDepositsExecute(r CommerceAPICloudPostV1CommerceDepositsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudPostV1CommerceDeposits")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/deposits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CommerceAPICloudPostV1CommerceDepositsByIdConfirmRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
	id         string
}

func (r CommerceAPICloudPostV1CommerceDepositsByIdConfirmRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CommerceDepositsByIdConfirmExecute(r)
}

/*
CloudPostV1CommerceDepositsByIdConfirm Method for CloudPostV1CommerceDepositsByIdConfirm

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return CommerceAPICloudPostV1CommerceDepositsByIdConfirmRequest
*/
func (a *CommerceAPIService) CloudPostV1CommerceDepositsByIdConfirm(ctx context.Context, id string) CommerceAPICloudPostV1CommerceDepositsByIdConfirmRequest {
	return CommerceAPICloudPostV1CommerceDepositsByIdConfirmRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CommerceAPIService) CloudPostV1CommerceDepositsByIdConfirmExecute(r CommerceAPICloudPostV1CommerceDepositsByIdConfirmRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudPostV1CommerceDepositsByIdConfirm")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/deposits/{id}/confirm"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CommerceAPICloudPostV1CommerceTopupWalletRequest struct {
	ctx                 context.Context
	ApiService          *CommerceAPIService
	cloudWalletTopupReq *CloudWalletTopupReq
}

func (r CommerceAPICloudPostV1CommerceTopupWalletRequest) CloudWalletTopupReq(cloudWalletTopupReq CloudWalletTopupReq) CommerceAPICloudPostV1CommerceTopupWalletRequest {
	r.cloudWalletTopupReq = &cloudWalletTopupReq
	return r
}

func (r CommerceAPICloudPostV1CommerceTopupWalletRequest) Execute() (*CloudWalletTopupResp, *http.Response, error) {
	return r.ApiService.CloudPostV1CommerceTopupWalletExecute(r)
}

/*
CloudPostV1CommerceTopupWallet WalletTopup credits the caller's org for a stablecoin transfer they already sent to the treasury.

WalletTopup credits the caller's org for a stablecoin transfer they already sent
to the treasury. It reads the receipt from that rail's chain, confirms a mined,
successful ERC-20 Transfer to the rail's treasury, derives USD cents from the
on-chain value using the token's own decimals, records the credit, and returns
the amount plus the new balance.

The credited amount is the ON-CHAIN value, never a number the caller sends, and
the credit lands on the caller's own validated org — there is no way to name a
third-party subject. Nothing is credited that the chain did not confirm: a
missing, failed or non-matching transaction is refused, and a deployment with no
payment rail enabled says so rather than inventing a credit.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommerceAPICloudPostV1CommerceTopupWalletRequest
*/
func (a *CommerceAPIService) CloudPostV1CommerceTopupWallet(ctx context.Context) CommerceAPICloudPostV1CommerceTopupWalletRequest {
	return CommerceAPICloudPostV1CommerceTopupWalletRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudWalletTopupResp
func (a *CommerceAPIService) CloudPostV1CommerceTopupWalletExecute(r CommerceAPICloudPostV1CommerceTopupWalletRequest) (*CloudWalletTopupResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudWalletTopupResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudPostV1CommerceTopupWallet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/topup/wallet"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudWalletTopupReq == nil {
		return localVarReturnValue, nil, reportError("cloudWalletTopupReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudWalletTopupReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommerceAPICloudPostV1CommerceWebhooksByProviderRequest struct {
	ctx        context.Context
	ApiService *CommerceAPIService
	provider   string
}

func (r CommerceAPICloudPostV1CommerceWebhooksByProviderRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1CommerceWebhooksByProviderExecute(r)
}

/*
CloudPostV1CommerceWebhooksByProvider Method for CloudPostV1CommerceWebhooksByProvider

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider
	@return CommerceAPICloudPostV1CommerceWebhooksByProviderRequest
*/
func (a *CommerceAPIService) CloudPostV1CommerceWebhooksByProvider(ctx context.Context, provider string) CommerceAPICloudPostV1CommerceWebhooksByProviderRequest {
	return CommerceAPICloudPostV1CommerceWebhooksByProviderRequest{
		ApiService: a,
		ctx:        ctx,
		provider:   provider,
	}
}

// Execute executes the request
func (a *CommerceAPIService) CloudPostV1CommerceWebhooksByProviderExecute(r CommerceAPICloudPostV1CommerceWebhooksByProviderRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommerceAPIService.CloudPostV1CommerceWebhooksByProvider")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/commerce/webhooks/{provider}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
