/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
	"time"
)

// ConsoleTracesAPIService ConsoleTracesAPI service
type ConsoleTracesAPIService service

type ConsoleTracesAPIConsoleDeleteTraceRequest struct {
	ctx        context.Context
	ApiService *ConsoleTracesAPIService
	traceId    string
}

func (r ConsoleTracesAPIConsoleDeleteTraceRequest) Execute() (*ConsoleDeleteDatasetItem200Response, *http.Response, error) {
	return r.ApiService.ConsoleDeleteTraceExecute(r)
}

/*
ConsoleDeleteTrace Delete a specific trace

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param traceId
	@return ConsoleTracesAPIConsoleDeleteTraceRequest
*/
func (a *ConsoleTracesAPIService) ConsoleDeleteTrace(ctx context.Context, traceId string) ConsoleTracesAPIConsoleDeleteTraceRequest {
	return ConsoleTracesAPIConsoleDeleteTraceRequest{
		ApiService: a,
		ctx:        ctx,
		traceId:    traceId,
	}
}

// Execute executes the request
//
//	@return ConsoleDeleteDatasetItem200Response
func (a *ConsoleTracesAPIService) ConsoleDeleteTraceExecute(r ConsoleTracesAPIConsoleDeleteTraceRequest) (*ConsoleDeleteDatasetItem200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleDeleteDatasetItem200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleTracesAPIService.ConsoleDeleteTrace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/traces/{traceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"traceId"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleTracesAPIConsoleDeleteTracesRequest struct {
	ctx                        context.Context
	ApiService                 *ConsoleTracesAPIService
	consoleDeleteTracesRequest *ConsoleDeleteTracesRequest
}

func (r ConsoleTracesAPIConsoleDeleteTracesRequest) ConsoleDeleteTracesRequest(consoleDeleteTracesRequest ConsoleDeleteTracesRequest) ConsoleTracesAPIConsoleDeleteTracesRequest {
	r.consoleDeleteTracesRequest = &consoleDeleteTracesRequest
	return r
}

func (r ConsoleTracesAPIConsoleDeleteTracesRequest) Execute() (*ConsoleDeleteDatasetItem200Response, *http.Response, error) {
	return r.ApiService.ConsoleDeleteTracesExecute(r)
}

/*
ConsoleDeleteTraces Delete multiple traces

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleTracesAPIConsoleDeleteTracesRequest
*/
func (a *ConsoleTracesAPIService) ConsoleDeleteTraces(ctx context.Context) ConsoleTracesAPIConsoleDeleteTracesRequest {
	return ConsoleTracesAPIConsoleDeleteTracesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleDeleteDatasetItem200Response
func (a *ConsoleTracesAPIService) ConsoleDeleteTracesExecute(r ConsoleTracesAPIConsoleDeleteTracesRequest) (*ConsoleDeleteDatasetItem200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleDeleteDatasetItem200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleTracesAPIService.ConsoleDeleteTraces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/traces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.consoleDeleteTracesRequest == nil {
		return localVarReturnValue, nil, reportError("consoleDeleteTracesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consoleDeleteTracesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleTracesAPIConsoleGetTraceRequest struct {
	ctx        context.Context
	ApiService *ConsoleTracesAPIService
	traceId    string
}

func (r ConsoleTracesAPIConsoleGetTraceRequest) Execute() (*ConsoleTraceWithFullDetails, *http.Response, error) {
	return r.ApiService.ConsoleGetTraceExecute(r)
}

/*
ConsoleGetTrace Get a specific trace with full details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param traceId
	@return ConsoleTracesAPIConsoleGetTraceRequest
*/
func (a *ConsoleTracesAPIService) ConsoleGetTrace(ctx context.Context, traceId string) ConsoleTracesAPIConsoleGetTraceRequest {
	return ConsoleTracesAPIConsoleGetTraceRequest{
		ApiService: a,
		ctx:        ctx,
		traceId:    traceId,
	}
}

// Execute executes the request
//
//	@return ConsoleTraceWithFullDetails
func (a *ConsoleTracesAPIService) ConsoleGetTraceExecute(r ConsoleTracesAPIConsoleGetTraceRequest) (*ConsoleTraceWithFullDetails, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleTraceWithFullDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleTracesAPIService.ConsoleGetTrace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/traces/{traceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"traceId"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConsoleTracesAPIConsoleListTracesRequest struct {
	ctx           context.Context
	ApiService    *ConsoleTracesAPIService
	page          *int32
	limit         *int32
	userId        *string
	name          *string
	sessionId     *string
	fromTimestamp *time.Time
	toTimestamp   *time.Time
	orderBy       *string
	tags          *[]string
	version       *string
	release       *string
	environment   *[]string
	filter        *string
}

func (r ConsoleTracesAPIConsoleListTracesRequest) Page(page int32) ConsoleTracesAPIConsoleListTracesRequest {
	r.page = &page
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) Limit(limit int32) ConsoleTracesAPIConsoleListTracesRequest {
	r.limit = &limit
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) UserId(userId string) ConsoleTracesAPIConsoleListTracesRequest {
	r.userId = &userId
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) Name(name string) ConsoleTracesAPIConsoleListTracesRequest {
	r.name = &name
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) SessionId(sessionId string) ConsoleTracesAPIConsoleListTracesRequest {
	r.sessionId = &sessionId
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) FromTimestamp(fromTimestamp time.Time) ConsoleTracesAPIConsoleListTracesRequest {
	r.fromTimestamp = &fromTimestamp
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) ToTimestamp(toTimestamp time.Time) ConsoleTracesAPIConsoleListTracesRequest {
	r.toTimestamp = &toTimestamp
	return r
}

// Format: field.asc|desc (e.g., timestamp.desc)
func (r ConsoleTracesAPIConsoleListTracesRequest) OrderBy(orderBy string) ConsoleTracesAPIConsoleListTracesRequest {
	r.orderBy = &orderBy
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) Tags(tags []string) ConsoleTracesAPIConsoleListTracesRequest {
	r.tags = &tags
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) Version(version string) ConsoleTracesAPIConsoleListTracesRequest {
	r.version = &version
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) Release(release string) ConsoleTracesAPIConsoleListTracesRequest {
	r.release = &release
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) Environment(environment []string) ConsoleTracesAPIConsoleListTracesRequest {
	r.environment = &environment
	return r
}

// JSON array of filter conditions (overrides other filters when provided)
func (r ConsoleTracesAPIConsoleListTracesRequest) Filter(filter string) ConsoleTracesAPIConsoleListTracesRequest {
	r.filter = &filter
	return r
}

func (r ConsoleTracesAPIConsoleListTracesRequest) Execute() (*ConsoleListTraces200Response, *http.Response, error) {
	return r.ApiService.ConsoleListTracesExecute(r)
}

/*
ConsoleListTraces Get list of traces

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConsoleTracesAPIConsoleListTracesRequest
*/
func (a *ConsoleTracesAPIService) ConsoleListTraces(ctx context.Context) ConsoleTracesAPIConsoleListTracesRequest {
	return ConsoleTracesAPIConsoleListTracesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConsoleListTraces200Response
func (a *ConsoleTracesAPIService) ConsoleListTracesExecute(r ConsoleTracesAPIConsoleListTracesRequest) (*ConsoleListTraces200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConsoleListTraces200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConsoleTracesAPIService.ConsoleListTraces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/console/traces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sessionId", r.sessionId, "form", "")
	}
	if r.fromTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromTimestamp", r.fromTimestamp, "form", "")
	}
	if r.toTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toTimestamp", r.toTimestamp, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.tags != nil {
		t := *r.tags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tags", t, "form", "multi")
		}
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.release != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "release", r.release, "form", "")
	}
	if r.environment != nil {
		t := *r.environment
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "environment", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "environment", t, "form", "multi")
		}
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
