/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// VpcsAPIService VpcsAPI service
type VpcsAPIService service

type VpcsAPICloudDeleteV1VpcsIdRequest struct {
	ctx        context.Context
	ApiService *VpcsAPIService
	id         string
}

func (r VpcsAPICloudDeleteV1VpcsIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudDeleteV1VpcsIdExecute(r)
}

/*
CloudDeleteV1VpcsId DeleteVpc removes one of the caller org's VPCs and answers 204.

DeleteVpc removes one of the caller org's VPCs and answers 204. Ownership is
confirmed by re-fetching the resource and checking its physical name carries
the caller's org prefix BEFORE anything is deleted, so a cross-tenant id is a
404 rather than a delete of another org's VPC.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DigitalOcean resource id (a UUID), from the path.
	@return VpcsAPICloudDeleteV1VpcsIdRequest
*/
func (a *VpcsAPIService) CloudDeleteV1VpcsId(ctx context.Context, id string) VpcsAPICloudDeleteV1VpcsIdRequest {
	return VpcsAPICloudDeleteV1VpcsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *VpcsAPIService) CloudDeleteV1VpcsIdExecute(r VpcsAPICloudDeleteV1VpcsIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VpcsAPIService.CloudDeleteV1VpcsId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/vpcs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VpcsAPICloudGetV1VpcsRequest struct {
	ctx        context.Context
	ApiService *VpcsAPIService
}

func (r VpcsAPICloudGetV1VpcsRequest) Execute() (*CloudVpcList, *http.Response, error) {
	return r.ApiService.CloudGetV1VpcsExecute(r)
}

/*
CloudGetV1Vpcs ListVpcs returns every VPC the caller's org owns, under the friendly names the org created them with.

ListVpcs returns every VPC the caller's org owns, under the friendly names the
org created them with. DigitalOcean is one account for the whole deployment, so
the account-wide inventory is filtered to the caller's own "o"<orgHash>- name
prefix and the prefix is stripped — another org's VPC is not merely hidden, it
is never in the answer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VpcsAPICloudGetV1VpcsRequest
*/
func (a *VpcsAPIService) CloudGetV1Vpcs(ctx context.Context) VpcsAPICloudGetV1VpcsRequest {
	return VpcsAPICloudGetV1VpcsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudVpcList
func (a *VpcsAPIService) CloudGetV1VpcsExecute(r VpcsAPICloudGetV1VpcsRequest) (*CloudVpcList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudVpcList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VpcsAPIService.CloudGetV1Vpcs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/vpcs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcsAPICloudGetV1VpcsIdRequest struct {
	ctx        context.Context
	ApiService *VpcsAPIService
	id         string
}

func (r VpcsAPICloudGetV1VpcsIdRequest) Execute() (*CloudVpcView, *http.Response, error) {
	return r.ApiService.CloudGetV1VpcsIdExecute(r)
}

/*
CloudGetV1VpcsId GetVpc returns one of the caller org's VPCs by id.

GetVpc returns one of the caller org's VPCs by id. A VPC that exists but sits
in another org's namespace is reported 404, never 403 — the answer must not
tell one tenant that another tenant's resource exists.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DigitalOcean resource id (a UUID), from the path.
	@return VpcsAPICloudGetV1VpcsIdRequest
*/
func (a *VpcsAPIService) CloudGetV1VpcsId(ctx context.Context, id string) VpcsAPICloudGetV1VpcsIdRequest {
	return VpcsAPICloudGetV1VpcsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudVpcView
func (a *VpcsAPIService) CloudGetV1VpcsIdExecute(r VpcsAPICloudGetV1VpcsIdRequest) (*CloudVpcView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudVpcView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VpcsAPIService.CloudGetV1VpcsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/vpcs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VpcsAPICloudPostV1VpcsRequest struct {
	ctx               context.Context
	ApiService        *VpcsAPIService
	cloudCreateVPCReq *CloudCreateVPCReq
}

func (r VpcsAPICloudPostV1VpcsRequest) CloudCreateVPCReq(cloudCreateVPCReq CloudCreateVPCReq) VpcsAPICloudPostV1VpcsRequest {
	r.cloudCreateVPCReq = &cloudCreateVPCReq
	return r
}

func (r VpcsAPICloudPostV1VpcsRequest) Execute() (*CloudVpcView, *http.Response, error) {
	return r.ApiService.CloudPostV1VpcsExecute(r)
}

/*
CloudPostV1Vpcs CreateVpc creates a VPC in the caller's org namespace and answers 201 with it.

CreateVpc creates a VPC in the caller's org namespace and answers 201 with it.
The physical DigitalOcean name is derived server-side from the validated org,
so a tenant can only ever create inside its own namespace; a name that already
exists there is a 409.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return VpcsAPICloudPostV1VpcsRequest
*/
func (a *VpcsAPIService) CloudPostV1Vpcs(ctx context.Context) VpcsAPICloudPostV1VpcsRequest {
	return VpcsAPICloudPostV1VpcsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudVpcView
func (a *VpcsAPIService) CloudPostV1VpcsExecute(r VpcsAPICloudPostV1VpcsRequest) (*CloudVpcView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudVpcView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VpcsAPIService.CloudPostV1Vpcs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/vpcs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudCreateVPCReq == nil {
		return localVarReturnValue, nil, reportError("cloudCreateVPCReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudCreateVPCReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
