/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ValidatorsAPIService ValidatorsAPI service
type ValidatorsAPIService service

type ValidatorsAPICloudGetV1ValidatorsRequest struct {
	ctx        context.Context
	ApiService *ValidatorsAPIService
	limit      *string
}

// Limit is how many slots to return, as a decimal string in the &#x60;?limit&#x3D;&#x60; query. Absent, unparseable or non-positive means 200; over 1000 is clamped to 1000. It is a string rather than a number because the parse that has always served this route trims surrounding whitespace, and one parse rule is better than two.
func (r ValidatorsAPICloudGetV1ValidatorsRequest) Limit(limit string) ValidatorsAPICloudGetV1ValidatorsRequest {
	r.limit = &limit
	return r
}

func (r ValidatorsAPICloudGetV1ValidatorsRequest) Execute() (*CloudValidatorList, *http.Response, error) {
	return r.ApiService.CloudGetV1ValidatorsExecute(r)
}

/*
CloudGetV1Validators Returns the validator slots the caller's org has claimed.

Returns the validator slots the caller's org has claimed.

One entry per claimed slot with its node identity, its live-ish node status and
the owner-gated registration queued for it, if any. Slots are org-scoped by the
validated identity, so a caller can only ever see their own — a slot claimed by
another org is not merely hidden from this list, it is unreachable through the
whole surface.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ValidatorsAPICloudGetV1ValidatorsRequest
*/
func (a *ValidatorsAPIService) CloudGetV1Validators(ctx context.Context) ValidatorsAPICloudGetV1ValidatorsRequest {
	return ValidatorsAPICloudGetV1ValidatorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudValidatorList
func (a *ValidatorsAPIService) CloudGetV1ValidatorsExecute(r ValidatorsAPICloudGetV1ValidatorsRequest) (*CloudValidatorList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudValidatorList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ValidatorsAPIService.CloudGetV1Validators")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/validators"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ValidatorsAPICloudGetV1ValidatorsChallengeRequest struct {
	ctx        context.Context
	ApiService *ValidatorsAPIService
	tokenId    *string
}

// TokenID is the Validator-tier GenesisNFT token id, as a decimal string in the &#x60;?tokenId&#x3D;&#x60; query. A value that is not a positive integer is 400. It is a string rather than a number because the parse that has always served this route trims surrounding whitespace, and one parse rule is better than two.
func (r ValidatorsAPICloudGetV1ValidatorsChallengeRequest) TokenId(tokenId string) ValidatorsAPICloudGetV1ValidatorsChallengeRequest {
	r.tokenId = &tokenId
	return r
}

func (r ValidatorsAPICloudGetV1ValidatorsChallengeRequest) Execute() (*CloudChallengeView, *http.Response, error) {
	return r.ApiService.CloudGetV1ValidatorsChallengeExecute(r)
}

/*
CloudGetV1ValidatorsChallenge Issues the single-use nonce and the exact message a wallet must sign to claim a validator slot.

Issues the single-use nonce and the exact message a wallet must sign
to claim a validator slot.

The nonce is bound to (validated org, slot) and stored server-side, so a
signature obtained for one org or one slot can never be replayed for another,
and the message POST /v1/validators verifies is rebuilt from those same server
facts rather than trusted from the caller. Redeem it with
POST /v1/validators before it expires; it can be redeemed once.

A tokenId outside the Validator tier is refused here rather than after signing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ValidatorsAPICloudGetV1ValidatorsChallengeRequest
*/
func (a *ValidatorsAPIService) CloudGetV1ValidatorsChallenge(ctx context.Context) ValidatorsAPICloudGetV1ValidatorsChallengeRequest {
	return ValidatorsAPICloudGetV1ValidatorsChallengeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudChallengeView
func (a *ValidatorsAPIService) CloudGetV1ValidatorsChallengeExecute(r ValidatorsAPICloudGetV1ValidatorsChallengeRequest) (*CloudChallengeView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudChallengeView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ValidatorsAPIService.CloudGetV1ValidatorsChallenge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/validators/challenge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tokenId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tokenId", r.tokenId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ValidatorsAPICloudGetV1ValidatorsTokenIdRequest struct {
	ctx        context.Context
	ApiService *ValidatorsAPIService
	tokenId    string
}

func (r ValidatorsAPICloudGetV1ValidatorsTokenIdRequest) Execute() (*CloudSlotView, *http.Response, error) {
	return r.ApiService.CloudGetV1ValidatorsTokenIdExecute(r)
}

/*
CloudGetV1ValidatorsTokenId Returns one claimed validator slot, scoped to the caller's org.

Returns one claimed validator slot, scoped to the caller's org.

A slot another org holds, and a slot nobody holds, are both 404 — never a
different status, so this route cannot be used to probe which slots are taken.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tokenId TokenID is the slot's GenesisNFT token id, from the path, as a decimal string. A value that is not a positive integer is 400. It is a string rather than a number because the parse that has always served this route trims surrounding whitespace, and one parse rule is better than two.
	@return ValidatorsAPICloudGetV1ValidatorsTokenIdRequest
*/
func (a *ValidatorsAPIService) CloudGetV1ValidatorsTokenId(ctx context.Context, tokenId string) ValidatorsAPICloudGetV1ValidatorsTokenIdRequest {
	return ValidatorsAPICloudGetV1ValidatorsTokenIdRequest{
		ApiService: a,
		ctx:        ctx,
		tokenId:    tokenId,
	}
}

// Execute executes the request
//
//	@return CloudSlotView
func (a *ValidatorsAPIService) CloudGetV1ValidatorsTokenIdExecute(r ValidatorsAPICloudGetV1ValidatorsTokenIdRequest) (*CloudSlotView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSlotView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ValidatorsAPIService.CloudGetV1ValidatorsTokenId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/validators/{tokenId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenId"+"}", url.PathEscape(parameterValueToString(r.tokenId, "tokenId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ValidatorsAPICloudPostV1ValidatorsRequest struct {
	ctx                 context.Context
	ApiService          *ValidatorsAPIService
	cloudValidatorClaim *CloudValidatorClaim
}

func (r ValidatorsAPICloudPostV1ValidatorsRequest) CloudValidatorClaim(cloudValidatorClaim CloudValidatorClaim) ValidatorsAPICloudPostV1ValidatorsRequest {
	r.cloudValidatorClaim = &cloudValidatorClaim
	return r
}

func (r ValidatorsAPICloudPostV1ValidatorsRequest) Execute() (*CloudSlotView, *http.Response, error) {
	return r.ApiService.CloudPostV1ValidatorsExecute(r)
}

/*
CloudPostV1Validators Claims a validator slot and provisions its node, after proving the caller's wallet owns the slot's NFT.

Claims a validator slot and provisions its node, after proving the
caller's wallet owns the slot's NFT.

The pipeline, all server-enforced: burn the single-use challenge (so a replayed
or forged nonce dies before any chain read), recover the signer from the message
this server rebuilds, require that wallet to hold Validator-tier GenesisNFT
#tokenId on Ethereum mainnet, generate a fresh luxd staking identity and seal it
into KMS, write a LuxNetwork CR for a NEW node, and ENQUEUE an owner-gated
registration. The registration is never auto-submitted to any P-Chain — the
owner co-signs it out of band — and the stake weight is set at co-sign time,
never derived from the NFT.

It fails CLOSED at every gate: a bad signature, a non-owner, a non-tier slot or
an unavailable KMS all leave no claim persisted and no key material exposed.
Re-claiming a slot this org already holds re-applies the node CR and returns 200
with the existing identity (keys and NodeID are stable); a slot held by another
org is 409. A cluster-less deployment still claims the slot, seals the keys and
queues the registration, reporting the node as "node_pending".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ValidatorsAPICloudPostV1ValidatorsRequest
*/
func (a *ValidatorsAPIService) CloudPostV1Validators(ctx context.Context) ValidatorsAPICloudPostV1ValidatorsRequest {
	return ValidatorsAPICloudPostV1ValidatorsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSlotView
func (a *ValidatorsAPIService) CloudPostV1ValidatorsExecute(r ValidatorsAPICloudPostV1ValidatorsRequest) (*CloudSlotView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSlotView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ValidatorsAPIService.CloudPostV1Validators")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/validators"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudValidatorClaim == nil {
		return localVarReturnValue, nil, reportError("cloudValidatorClaim is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudValidatorClaim
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
