/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AnalyticsUsersAPIService AnalyticsUsersAPI service
type AnalyticsUsersAPIService service

type AnalyticsUsersAPIAnalyticsCreateUserRequest struct {
	ctx                        context.Context
	ApiService                 *AnalyticsUsersAPIService
	analyticsCreateUserRequest *AnalyticsCreateUserRequest
}

func (r AnalyticsUsersAPIAnalyticsCreateUserRequest) AnalyticsCreateUserRequest(analyticsCreateUserRequest AnalyticsCreateUserRequest) AnalyticsUsersAPIAnalyticsCreateUserRequest {
	r.analyticsCreateUserRequest = &analyticsCreateUserRequest
	return r
}

func (r AnalyticsUsersAPIAnalyticsCreateUserRequest) Execute() (*AnalyticsUser, *http.Response, error) {
	return r.ApiService.AnalyticsCreateUserExecute(r)
}

/*
AnalyticsCreateUser Create a new user (admin only)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsUsersAPIAnalyticsCreateUserRequest
*/
func (a *AnalyticsUsersAPIService) AnalyticsCreateUser(ctx context.Context) AnalyticsUsersAPIAnalyticsCreateUserRequest {
	return AnalyticsUsersAPIAnalyticsCreateUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AnalyticsUser
func (a *AnalyticsUsersAPIService) AnalyticsCreateUserExecute(r AnalyticsUsersAPIAnalyticsCreateUserRequest) (*AnalyticsUser, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsUsersAPIService.AnalyticsCreateUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsCreateUserRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsCreateUserRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsCreateUserRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsUsersAPIAnalyticsDeleteUserRequest struct {
	ctx        context.Context
	ApiService *AnalyticsUsersAPIService
	userId     string
}

func (r AnalyticsUsersAPIAnalyticsDeleteUserRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsDeleteUserExecute(r)
}

/*
AnalyticsDeleteUser Delete user (admin only)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId
	@return AnalyticsUsersAPIAnalyticsDeleteUserRequest
*/
func (a *AnalyticsUsersAPIService) AnalyticsDeleteUser(ctx context.Context, userId string) AnalyticsUsersAPIAnalyticsDeleteUserRequest {
	return AnalyticsUsersAPIAnalyticsDeleteUserRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *AnalyticsUsersAPIService) AnalyticsDeleteUserExecute(r AnalyticsUsersAPIAnalyticsDeleteUserRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsUsersAPIService.AnalyticsDeleteUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/users/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsUsersAPIAnalyticsGetUserRequest struct {
	ctx        context.Context
	ApiService *AnalyticsUsersAPIService
	userId     string
}

func (r AnalyticsUsersAPIAnalyticsGetUserRequest) Execute() (*AnalyticsUser, *http.Response, error) {
	return r.ApiService.AnalyticsGetUserExecute(r)
}

/*
AnalyticsGetUser Get user by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId
	@return AnalyticsUsersAPIAnalyticsGetUserRequest
*/
func (a *AnalyticsUsersAPIService) AnalyticsGetUser(ctx context.Context, userId string) AnalyticsUsersAPIAnalyticsGetUserRequest {
	return AnalyticsUsersAPIAnalyticsGetUserRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return AnalyticsUser
func (a *AnalyticsUsersAPIService) AnalyticsGetUserExecute(r AnalyticsUsersAPIAnalyticsGetUserRequest) (*AnalyticsUser, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsUsersAPIService.AnalyticsGetUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/users/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsUsersAPIAnalyticsGetUserTeamsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsUsersAPIService
	userId     string
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

func (r AnalyticsUsersAPIAnalyticsGetUserTeamsRequest) Page(page int32) AnalyticsUsersAPIAnalyticsGetUserTeamsRequest {
	r.page = &page
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserTeamsRequest) PageSize(pageSize int32) AnalyticsUsersAPIAnalyticsGetUserTeamsRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserTeamsRequest) OrderBy(orderBy string) AnalyticsUsersAPIAnalyticsGetUserTeamsRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserTeamsRequest) Search(search string) AnalyticsUsersAPIAnalyticsGetUserTeamsRequest {
	r.search = &search
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserTeamsRequest) Execute() ([]AnalyticsTeam, *http.Response, error) {
	return r.ApiService.AnalyticsGetUserTeamsExecute(r)
}

/*
AnalyticsGetUserTeams List teams a user belongs to

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId
	@return AnalyticsUsersAPIAnalyticsGetUserTeamsRequest
*/
func (a *AnalyticsUsersAPIService) AnalyticsGetUserTeams(ctx context.Context, userId string) AnalyticsUsersAPIAnalyticsGetUserTeamsRequest {
	return AnalyticsUsersAPIAnalyticsGetUserTeamsRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsTeam
func (a *AnalyticsUsersAPIService) AnalyticsGetUserTeamsExecute(r AnalyticsUsersAPIAnalyticsGetUserTeamsRequest) ([]AnalyticsTeam, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsTeam
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsUsersAPIService.AnalyticsGetUserTeams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/users/{userId}/teams"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsUsersAPIAnalyticsGetUserUsageRequest struct {
	ctx        context.Context
	ApiService *AnalyticsUsersAPIService
	userId     string
	startAt    *int64
	endAt      *int64
}

// Start timestamp in milliseconds
func (r AnalyticsUsersAPIAnalyticsGetUserUsageRequest) StartAt(startAt int64) AnalyticsUsersAPIAnalyticsGetUserUsageRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsUsersAPIAnalyticsGetUserUsageRequest) EndAt(endAt int64) AnalyticsUsersAPIAnalyticsGetUserUsageRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserUsageRequest) Execute() (*AnalyticsGetUserUsage200Response, *http.Response, error) {
	return r.ApiService.AnalyticsGetUserUsageExecute(r)
}

/*
AnalyticsGetUserUsage Get event usage breakdown for a user (admin only)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId
	@return AnalyticsUsersAPIAnalyticsGetUserUsageRequest
*/
func (a *AnalyticsUsersAPIService) AnalyticsGetUserUsage(ctx context.Context, userId string) AnalyticsUsersAPIAnalyticsGetUserUsageRequest {
	return AnalyticsUsersAPIAnalyticsGetUserUsageRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return AnalyticsGetUserUsage200Response
func (a *AnalyticsUsersAPIService) AnalyticsGetUserUsageExecute(r AnalyticsUsersAPIAnalyticsGetUserUsageRequest) (*AnalyticsGetUserUsage200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsGetUserUsage200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsUsersAPIService.AnalyticsGetUserUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/users/{userId}/usage"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest struct {
	ctx        context.Context
	ApiService *AnalyticsUsersAPIService
	userId     string
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

func (r AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest) Page(page int32) AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest {
	r.page = &page
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest) PageSize(pageSize int32) AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest) OrderBy(orderBy string) AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest) Search(search string) AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest {
	r.search = &search
	return r
}

func (r AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest) Execute() ([]AnalyticsWebsite, *http.Response, error) {
	return r.ApiService.AnalyticsGetUserWebsitesExecute(r)
}

/*
AnalyticsGetUserWebsites List websites owned by a user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId
	@return AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest
*/
func (a *AnalyticsUsersAPIService) AnalyticsGetUserWebsites(ctx context.Context, userId string) AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest {
	return AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsWebsite
func (a *AnalyticsUsersAPIService) AnalyticsGetUserWebsitesExecute(r AnalyticsUsersAPIAnalyticsGetUserWebsitesRequest) ([]AnalyticsWebsite, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsWebsite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsUsersAPIService.AnalyticsGetUserWebsites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/users/{userId}/websites"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsUsersAPIAnalyticsUpdateUserRequest struct {
	ctx                        context.Context
	ApiService                 *AnalyticsUsersAPIService
	userId                     string
	analyticsUpdateUserRequest *AnalyticsUpdateUserRequest
}

func (r AnalyticsUsersAPIAnalyticsUpdateUserRequest) AnalyticsUpdateUserRequest(analyticsUpdateUserRequest AnalyticsUpdateUserRequest) AnalyticsUsersAPIAnalyticsUpdateUserRequest {
	r.analyticsUpdateUserRequest = &analyticsUpdateUserRequest
	return r
}

func (r AnalyticsUsersAPIAnalyticsUpdateUserRequest) Execute() (*AnalyticsUser, *http.Response, error) {
	return r.ApiService.AnalyticsUpdateUserExecute(r)
}

/*
AnalyticsUpdateUser Update user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param userId
	@return AnalyticsUsersAPIAnalyticsUpdateUserRequest
*/
func (a *AnalyticsUsersAPIService) AnalyticsUpdateUser(ctx context.Context, userId string) AnalyticsUsersAPIAnalyticsUpdateUserRequest {
	return AnalyticsUsersAPIAnalyticsUpdateUserRequest{
		ApiService: a,
		ctx:        ctx,
		userId:     userId,
	}
}

// Execute executes the request
//
//	@return AnalyticsUser
func (a *AnalyticsUsersAPIService) AnalyticsUpdateUserExecute(r AnalyticsUsersAPIAnalyticsUpdateUserRequest) (*AnalyticsUser, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsUsersAPIService.AnalyticsUpdateUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/users/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", url.PathEscape(parameterValueToString(r.userId, "userId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsUpdateUserRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsUpdateUserRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsUpdateUserRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
