/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)

// DbConsumptionAPIService DbConsumptionAPI service
type DbConsumptionAPIService service

type DbConsumptionAPIDbGetConsumptionRequest struct {
	ctx         context.Context
	ApiService  *DbConsumptionAPIService
	from        *time.Time
	to          *time.Time
	projectId   *string
	granularity *string
}

func (r DbConsumptionAPIDbGetConsumptionRequest) From(from time.Time) DbConsumptionAPIDbGetConsumptionRequest {
	r.from = &from
	return r
}

func (r DbConsumptionAPIDbGetConsumptionRequest) To(to time.Time) DbConsumptionAPIDbGetConsumptionRequest {
	r.to = &to
	return r
}

// Filter by project (omit for all projects)
func (r DbConsumptionAPIDbGetConsumptionRequest) ProjectId(projectId string) DbConsumptionAPIDbGetConsumptionRequest {
	r.projectId = &projectId
	return r
}

func (r DbConsumptionAPIDbGetConsumptionRequest) Granularity(granularity string) DbConsumptionAPIDbGetConsumptionRequest {
	r.granularity = &granularity
	return r
}

func (r DbConsumptionAPIDbGetConsumptionRequest) Execute() (*DbGetConsumption200Response, *http.Response, error) {
	return r.ApiService.DbGetConsumptionExecute(r)
}

/*
DbGetConsumption Get usage metrics

Returns compute, storage, and data transfer usage metrics.
Used for billing calculations.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DbConsumptionAPIDbGetConsumptionRequest
*/
func (a *DbConsumptionAPIService) DbGetConsumption(ctx context.Context) DbConsumptionAPIDbGetConsumptionRequest {
	return DbConsumptionAPIDbGetConsumptionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DbGetConsumption200Response
func (a *DbConsumptionAPIService) DbGetConsumptionExecute(r DbConsumptionAPIDbGetConsumptionRequest) (*DbGetConsumption200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DbGetConsumption200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DbConsumptionAPIService.DbGetConsumption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/db/consumption"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "hourly"
		r.granularity = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DbError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
