/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ReferralsAPIService ReferralsAPI service
type ReferralsAPIService service

type ReferralsAPICloudGetV1ReferralsRequest struct {
	ctx        context.Context
	ApiService *ReferralsAPIService
}

func (r ReferralsAPICloudGetV1ReferralsRequest) Execute() (*CloudMyReferrals, *http.Response, error) {
	return r.ApiService.CloudGetV1ReferralsExecute(r)
}

/*
CloudGetV1Referrals Returns the caller's referral code, share link and the referrals they have made.

Returns the caller's referral code, share link and the referrals they have made.

The code is a stable, deterministic function of the org, so the link in this
response is the same one every time. Each row carries the referee, its status and
the credit this org earned from it; creditsEarnedCents is their sum.

The read is self-updating: before listing, it runs the qualify check over this
org's still-pending referees, so a referee who has since made metered spend is
credited by the act of the referrer loading their page. That check is
best-effort and bounded — a commerce hiccup leaves the referral pending for the
next check rather than failing the page — and the grant is latched at-most-once,
so this path and the admin sweep can never double-pay.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ReferralsAPICloudGetV1ReferralsRequest
*/
func (a *ReferralsAPIService) CloudGetV1Referrals(ctx context.Context) ReferralsAPICloudGetV1ReferralsRequest {
	return ReferralsAPICloudGetV1ReferralsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudMyReferrals
func (a *ReferralsAPIService) CloudGetV1ReferralsExecute(r ReferralsAPICloudGetV1ReferralsRequest) (*CloudMyReferrals, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudMyReferrals
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferralsAPIService.CloudGetV1Referrals")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/referrals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReferralsAPICloudPostV1ReferralsClaimRequest struct {
	ctx               context.Context
	ApiService        *ReferralsAPIService
	cloudClaimRequest *CloudClaimRequest
}

func (r ReferralsAPICloudPostV1ReferralsClaimRequest) CloudClaimRequest(cloudClaimRequest CloudClaimRequest) ReferralsAPICloudPostV1ReferralsClaimRequest {
	r.cloudClaimRequest = &cloudClaimRequest
	return r
}

func (r ReferralsAPICloudPostV1ReferralsClaimRequest) Execute() (*CloudClaimView, *http.Response, error) {
	return r.ApiService.CloudPostV1ReferralsClaimExecute(r)
}

/*
CloudPostV1ReferralsClaim Records that the caller's org signed up through a referral code.

Records that the caller's org signed up through a referral code.

The REFEREE is the validated caller, never a client field, and the referrer is
resolved from the code — so a caller can only ever attach THEMSELVES to someone
else's code. Referring yourself is 400 and an unknown code is 404.

It is idempotent and first-touch: an org can be referred once, ever. A repeat
call returns the referral already on file with created=false and 200, where the
first call answers 201.

Recording a referral grants nothing. Both bonuses are granted later, when the
referee actually makes metered spend — see GET /v1/referrals and
POST /v1/admin/referrals/sweep.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ReferralsAPICloudPostV1ReferralsClaimRequest
*/
func (a *ReferralsAPIService) CloudPostV1ReferralsClaim(ctx context.Context) ReferralsAPICloudPostV1ReferralsClaimRequest {
	return ReferralsAPICloudPostV1ReferralsClaimRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudClaimView
func (a *ReferralsAPIService) CloudPostV1ReferralsClaimExecute(r ReferralsAPICloudPostV1ReferralsClaimRequest) (*CloudClaimView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudClaimView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReferralsAPIService.CloudPostV1ReferralsClaim")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/referrals/claim"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudClaimRequest == nil {
		return localVarReturnValue, nil, reportError("cloudClaimRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudClaimRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
