/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DestinationsAPIService DestinationsAPI service
type DestinationsAPIService service

type DestinationsAPICloudDeleteV1DestinationsPlatformRequest struct {
	ctx        context.Context
	ApiService *DestinationsAPIService
	platform   string
}

func (r DestinationsAPICloudDeleteV1DestinationsPlatformRequest) Execute() (*CloudDestinationDisconnected, *http.Response, error) {
	return r.ApiService.CloudDeleteV1DestinationsPlatformExecute(r)
}

/*
CloudDeleteV1DestinationsPlatform Forgets a destination for the caller's org: every credential held in KMS, then the stored config.

Forgets a destination for the caller's org: every credential held in
KMS, then the stored config. Idempotent, and it requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param platform Platform is the destination to act on, from the path: ga4 | meta | tiktok | linkedin | x | reddit | posthog | umami.
	@return DestinationsAPICloudDeleteV1DestinationsPlatformRequest
*/
func (a *DestinationsAPIService) CloudDeleteV1DestinationsPlatform(ctx context.Context, platform string) DestinationsAPICloudDeleteV1DestinationsPlatformRequest {
	return DestinationsAPICloudDeleteV1DestinationsPlatformRequest{
		ApiService: a,
		ctx:        ctx,
		platform:   platform,
	}
}

// Execute executes the request
//
//	@return CloudDestinationDisconnected
func (a *DestinationsAPIService) CloudDeleteV1DestinationsPlatformExecute(r DestinationsAPICloudDeleteV1DestinationsPlatformRequest) (*CloudDestinationDisconnected, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDestinationDisconnected
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DestinationsAPIService.CloudDeleteV1DestinationsPlatform")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/destinations/{platform}"
	localVarPath = strings.Replace(localVarPath, "{"+"platform"+"}", url.PathEscape(parameterValueToString(r.platform, "platform")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DestinationsAPICloudGetV1DestinationsRequest struct {
	ctx        context.Context
	ApiService *DestinationsAPIService
}

func (r DestinationsAPICloudGetV1DestinationsRequest) Execute() (*CloudDestinationList, *http.Response, error) {
	return r.ApiService.CloudGetV1DestinationsExecute(r)
}

/*
CloudGetV1Destinations Reports every destination this deployment can forward to, each with the caller org's connection state: whether it is connected, whether it is enabled, whether a credential resolves right now, and the config fields the console renders for it.

Reports every destination this deployment can forward to, each with the
caller org's connection state: whether it is connected, whether it is enabled,
whether a credential resolves right now, and the config fields the console
renders for it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DestinationsAPICloudGetV1DestinationsRequest
*/
func (a *DestinationsAPIService) CloudGetV1Destinations(ctx context.Context) DestinationsAPICloudGetV1DestinationsRequest {
	return DestinationsAPICloudGetV1DestinationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudDestinationList
func (a *DestinationsAPIService) CloudGetV1DestinationsExecute(r DestinationsAPICloudGetV1DestinationsRequest) (*CloudDestinationList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDestinationList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DestinationsAPIService.CloudGetV1Destinations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/destinations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DestinationsAPICloudGetV1DestinationsPlatformRequest struct {
	ctx        context.Context
	ApiService *DestinationsAPIService
	platform   string
}

func (r DestinationsAPICloudGetV1DestinationsPlatformRequest) Execute() (*CloudDestinationStatus, *http.Response, error) {
	return r.ApiService.CloudGetV1DestinationsPlatformExecute(r)
}

/*
CloudGetV1DestinationsPlatform Reports one destination's card for the caller's org — its config fields, its connection state, and whether a credential resolves right now.

Reports one destination's card for the caller's org — its config fields,
its connection state, and whether a credential resolves right now. A platform
this deployment does not carry is not found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param platform Platform is the destination to act on, from the path: ga4 | meta | tiktok | linkedin | x | reddit | posthog | umami.
	@return DestinationsAPICloudGetV1DestinationsPlatformRequest
*/
func (a *DestinationsAPIService) CloudGetV1DestinationsPlatform(ctx context.Context, platform string) DestinationsAPICloudGetV1DestinationsPlatformRequest {
	return DestinationsAPICloudGetV1DestinationsPlatformRequest{
		ApiService: a,
		ctx:        ctx,
		platform:   platform,
	}
}

// Execute executes the request
//
//	@return CloudDestinationStatus
func (a *DestinationsAPIService) CloudGetV1DestinationsPlatformExecute(r DestinationsAPICloudGetV1DestinationsPlatformRequest) (*CloudDestinationStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDestinationStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DestinationsAPIService.CloudGetV1DestinationsPlatform")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/destinations/{platform}"
	localVarPath = strings.Replace(localVarPath, "{"+"platform"+"}", url.PathEscape(parameterValueToString(r.platform, "platform")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DestinationsAPICloudPostV1DestinationsByPlatformRequest struct {
	ctx         context.Context
	ApiService  *DestinationsAPIService
	platform    string
	requestBody *map[string]interface{}
}

func (r DestinationsAPICloudPostV1DestinationsByPlatformRequest) RequestBody(requestBody map[string]interface{}) DestinationsAPICloudPostV1DestinationsByPlatformRequest {
	r.requestBody = &requestBody
	return r
}

func (r DestinationsAPICloudPostV1DestinationsByPlatformRequest) Execute() (*CloudDestinationStatus, *http.Response, error) {
	return r.ApiService.CloudPostV1DestinationsByPlatformExecute(r)
}

/*
CloudPostV1DestinationsByPlatform Method for CloudPostV1DestinationsByPlatform

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param platform
	@return DestinationsAPICloudPostV1DestinationsByPlatformRequest
*/
func (a *DestinationsAPIService) CloudPostV1DestinationsByPlatform(ctx context.Context, platform string) DestinationsAPICloudPostV1DestinationsByPlatformRequest {
	return DestinationsAPICloudPostV1DestinationsByPlatformRequest{
		ApiService: a,
		ctx:        ctx,
		platform:   platform,
	}
}

// Execute executes the request
//
//	@return CloudDestinationStatus
func (a *DestinationsAPIService) CloudPostV1DestinationsByPlatformExecute(r DestinationsAPICloudPostV1DestinationsByPlatformRequest) (*CloudDestinationStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDestinationStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DestinationsAPIService.CloudPostV1DestinationsByPlatform")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/destinations/{platform}"
	localVarPath = strings.Replace(localVarPath, "{"+"platform"+"}", url.PathEscape(parameterValueToString(r.platform, "platform")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DestinationsAPICloudPostV1DestinationsPlatformTestRequest struct {
	ctx        context.Context
	ApiService *DestinationsAPIService
	platform   string
}

func (r DestinationsAPICloudPostV1DestinationsPlatformTestRequest) Execute() (*CloudDestinationTest, *http.Response, error) {
	return r.ApiService.CloudPostV1DestinationsPlatformTestExecute(r)
}

/*
CloudPostV1DestinationsPlatformTest Sends ONE synthetic pageview through the connected destination end to end and reports what the platform said.

Sends ONE synthetic pageview through the connected destination end to end
and reports what the platform said. A send the platform refuses is reported as
data — {"ok": false, "error": …} at 200 — so the console shows the platform's
own words rather than an error about Hanzo. It requires org admin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param platform Platform is the destination to act on, from the path: ga4 | meta | tiktok | linkedin | x | reddit | posthog | umami.
	@return DestinationsAPICloudPostV1DestinationsPlatformTestRequest
*/
func (a *DestinationsAPIService) CloudPostV1DestinationsPlatformTest(ctx context.Context, platform string) DestinationsAPICloudPostV1DestinationsPlatformTestRequest {
	return DestinationsAPICloudPostV1DestinationsPlatformTestRequest{
		ApiService: a,
		ctx:        ctx,
		platform:   platform,
	}
}

// Execute executes the request
//
//	@return CloudDestinationTest
func (a *DestinationsAPIService) CloudPostV1DestinationsPlatformTestExecute(r DestinationsAPICloudPostV1DestinationsPlatformTestRequest) (*CloudDestinationTest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudDestinationTest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DestinationsAPIService.CloudPostV1DestinationsPlatformTest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/destinations/{platform}/test"
	localVarPath = strings.Replace(localVarPath, "{"+"platform"+"}", url.PathEscape(parameterValueToString(r.platform, "platform")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
