/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// StatsAPIService StatsAPI service
type StatsAPIService service

type StatsAPIAnalyticsGetWebsiteMetricsRequest struct {
	ctx        context.Context
	ApiService *StatsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	type_      *string
	limit      *int32
	offset     *int32
	search     *string
	url        *string
	referrer   *string
	title      *string
	os         *string
	browser    *string
	device     *string
	country    *string
	region     *string
	city       *string
	tag        *string
	host       *string
	language   *string
	event      *string
}

// Start timestamp in milliseconds
func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) StartAt(startAt int64) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) EndAt(endAt int64) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.endAt = &endAt
	return r
}

// Metric type to break down by
func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Type_(type_ string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.type_ = &type_
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Limit(limit int32) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.limit = &limit
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Offset(offset int32) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.offset = &offset
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Search(search string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.search = &search
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Url(url string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.url = &url
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Referrer(referrer string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.referrer = &referrer
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Title(title string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.title = &title
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Os(os string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.os = &os
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Browser(browser string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.browser = &browser
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Device(device string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.device = &device
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Country(country string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.country = &country
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Region(region string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.region = &region
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) City(city string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.city = &city
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Tag(tag string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.tag = &tag
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Host(host string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.host = &host
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Language(language string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.language = &language
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Event(event string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	r.event = &event
	return r
}

func (r StatsAPIAnalyticsGetWebsiteMetricsRequest) Execute() ([]AnalyticsMetric, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteMetricsExecute(r)
}

/*
AnalyticsGetWebsiteMetrics Get breakdown metrics by type (url, referrer, browser, os, device, country, event, channel, etc.)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return StatsAPIAnalyticsGetWebsiteMetricsRequest
*/
func (a *StatsAPIService) AnalyticsGetWebsiteMetrics(ctx context.Context, websiteId string) StatsAPIAnalyticsGetWebsiteMetricsRequest {
	return StatsAPIAnalyticsGetWebsiteMetricsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsMetric
func (a *StatsAPIService) AnalyticsGetWebsiteMetricsExecute(r StatsAPIAnalyticsGetWebsiteMetricsRequest) ([]AnalyticsMetric, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsMetric
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.AnalyticsGetWebsiteMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/metrics"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.referrer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referrer", r.referrer, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type StatsAPIAnalyticsGetWebsiteStatsRequest struct {
	ctx        context.Context
	ApiService *StatsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	compare    *string
	url        *string
	referrer   *string
	title      *string
	os         *string
	browser    *string
	device     *string
	country    *string
	region     *string
	city       *string
	tag        *string
	host       *string
	language   *string
	event      *string
}

// Start timestamp in milliseconds
func (r StatsAPIAnalyticsGetWebsiteStatsRequest) StartAt(startAt int64) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r StatsAPIAnalyticsGetWebsiteStatsRequest) EndAt(endAt int64) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.endAt = &endAt
	return r
}

// Compare period (e.g. \&quot;previous_period\&quot;)
func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Compare(compare string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.compare = &compare
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Url(url string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.url = &url
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Referrer(referrer string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.referrer = &referrer
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Title(title string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.title = &title
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Os(os string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.os = &os
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Browser(browser string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.browser = &browser
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Device(device string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.device = &device
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Country(country string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.country = &country
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Region(region string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.region = &region
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) City(city string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.city = &city
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Tag(tag string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.tag = &tag
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Host(host string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.host = &host
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Language(language string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.language = &language
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Event(event string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	r.event = &event
	return r
}

func (r StatsAPIAnalyticsGetWebsiteStatsRequest) Execute() (*AnalyticsGetWebsiteStats200Response, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteStatsExecute(r)
}

/*
AnalyticsGetWebsiteStats Get aggregate statistics for a website

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return StatsAPIAnalyticsGetWebsiteStatsRequest
*/
func (a *StatsAPIService) AnalyticsGetWebsiteStats(ctx context.Context, websiteId string) StatsAPIAnalyticsGetWebsiteStatsRequest {
	return StatsAPIAnalyticsGetWebsiteStatsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return AnalyticsGetWebsiteStats200Response
func (a *StatsAPIService) AnalyticsGetWebsiteStatsExecute(r StatsAPIAnalyticsGetWebsiteStatsRequest) (*AnalyticsGetWebsiteStats200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsGetWebsiteStats200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.AnalyticsGetWebsiteStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.compare != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compare", r.compare, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.referrer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referrer", r.referrer, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type StatsAPISearchGetIndexStatsRequest struct {
	ctx        context.Context
	ApiService *StatsAPIService
	indexUid   string
}

func (r StatsAPISearchGetIndexStatsRequest) Execute() (*SearchIndexStats, *http.Response, error) {
	return r.ApiService.SearchGetIndexStatsExecute(r)
}

/*
SearchGetIndexStats Get index statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param indexUid Unique index identifier
	@return StatsAPISearchGetIndexStatsRequest
*/
func (a *StatsAPIService) SearchGetIndexStats(ctx context.Context, indexUid string) StatsAPISearchGetIndexStatsRequest {
	return StatsAPISearchGetIndexStatsRequest{
		ApiService: a,
		ctx:        ctx,
		indexUid:   indexUid,
	}
}

// Execute executes the request
//
//	@return SearchIndexStats
func (a *StatsAPIService) SearchGetIndexStatsExecute(r StatsAPISearchGetIndexStatsRequest) (*SearchIndexStats, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchIndexStats
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.SearchGetIndexStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/indexes/{indexUid}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"indexUid"+"}", url.PathEscape(parameterValueToString(r.indexUid, "indexUid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type StatsAPISearchGetMetricsRequest struct {
	ctx        context.Context
	ApiService *StatsAPIService
}

func (r StatsAPISearchGetMetricsRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.SearchGetMetricsExecute(r)
}

/*
SearchGetMetrics Get Prometheus metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return StatsAPISearchGetMetricsRequest
*/
func (a *StatsAPIService) SearchGetMetrics(ctx context.Context) StatsAPISearchGetMetricsRequest {
	return StatsAPISearchGetMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *StatsAPIService) SearchGetMetricsExecute(r StatsAPISearchGetMetricsRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.SearchGetMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type StatsAPISearchGetStatsRequest struct {
	ctx        context.Context
	ApiService *StatsAPIService
}

func (r StatsAPISearchGetStatsRequest) Execute() (*SearchStats, *http.Response, error) {
	return r.ApiService.SearchGetStatsExecute(r)
}

/*
SearchGetStats Get global statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return StatsAPISearchGetStatsRequest
*/
func (a *StatsAPIService) SearchGetStats(ctx context.Context) StatsAPISearchGetStatsRequest {
	return StatsAPISearchGetStatsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SearchStats
func (a *StatsAPIService) SearchGetStatsExecute(r StatsAPISearchGetStatsRequest) (*SearchStats, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SearchStats
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatsAPIService.SearchGetStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SearchResponseError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
