/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CloudMessageAPIAPIService CloudMessageAPIAPI service
type CloudMessageAPIAPIService service

type CloudMessageAPIAPICloudApiControllerAddMessageRequest struct {
	ctx                context.Context
	ApiService         *CloudMessageAPIAPIService
	cloudObjectMessage *CloudObjectMessage
}

// The details of the message
func (r CloudMessageAPIAPICloudApiControllerAddMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) CloudMessageAPIAPICloudApiControllerAddMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r CloudMessageAPIAPICloudApiControllerAddMessageRequest) Execute() (*CloudObjectChat, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddMessageExecute(r)
}

/*
CloudApiControllerAddMessage Api Controller Add Message

add message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudMessageAPIAPICloudApiControllerAddMessageRequest
*/
func (a *CloudMessageAPIAPIService) CloudApiControllerAddMessage(ctx context.Context) CloudMessageAPIAPICloudApiControllerAddMessageRequest {
	return CloudMessageAPIAPICloudApiControllerAddMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudObjectChat
func (a *CloudMessageAPIAPIService) CloudApiControllerAddMessageExecute(r CloudMessageAPIAPICloudApiControllerAddMessageRequest) (*CloudObjectChat, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudObjectChat
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudMessageAPIAPIService.CloudApiControllerAddMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudMessageAPIAPICloudApiControllerDeleteMessageRequest struct {
	ctx                context.Context
	ApiService         *CloudMessageAPIAPIService
	cloudObjectMessage *CloudObjectMessage
}

// The details of the message
func (r CloudMessageAPIAPICloudApiControllerDeleteMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) CloudMessageAPIAPICloudApiControllerDeleteMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r CloudMessageAPIAPICloudApiControllerDeleteMessageRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerDeleteMessageExecute(r)
}

/*
CloudApiControllerDeleteMessage Api Controller Delete Message

delete message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudMessageAPIAPICloudApiControllerDeleteMessageRequest
*/
func (a *CloudMessageAPIAPIService) CloudApiControllerDeleteMessage(ctx context.Context) CloudMessageAPIAPICloudApiControllerDeleteMessageRequest {
	return CloudMessageAPIAPICloudApiControllerDeleteMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *CloudMessageAPIAPIService) CloudApiControllerDeleteMessageExecute(r CloudMessageAPIAPICloudApiControllerDeleteMessageRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudMessageAPIAPIService.CloudApiControllerDeleteMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/delete-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudMessageAPIAPICloudApiControllerGetAnswerRequest struct {
	ctx        context.Context
	ApiService *CloudMessageAPIAPIService
	provider   *string
	question   *string
	framework  *string
	video      *string
}

// The provider
func (r CloudMessageAPIAPICloudApiControllerGetAnswerRequest) Provider(provider string) CloudMessageAPIAPICloudApiControllerGetAnswerRequest {
	r.provider = &provider
	return r
}

// The question of message
func (r CloudMessageAPIAPICloudApiControllerGetAnswerRequest) Question(question string) CloudMessageAPIAPICloudApiControllerGetAnswerRequest {
	r.question = &question
	return r
}

// The framework
func (r CloudMessageAPIAPICloudApiControllerGetAnswerRequest) Framework(framework string) CloudMessageAPIAPICloudApiControllerGetAnswerRequest {
	r.framework = &framework
	return r
}

// The video
func (r CloudMessageAPIAPICloudApiControllerGetAnswerRequest) Video(video string) CloudMessageAPIAPICloudApiControllerGetAnswerRequest {
	r.video = &video
	return r
}

func (r CloudMessageAPIAPICloudApiControllerGetAnswerRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetAnswerExecute(r)
}

/*
CloudApiControllerGetAnswer Api Controller Get Answer

get answer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudMessageAPIAPICloudApiControllerGetAnswerRequest
*/
func (a *CloudMessageAPIAPIService) CloudApiControllerGetAnswer(ctx context.Context) CloudMessageAPIAPICloudApiControllerGetAnswerRequest {
	return CloudMessageAPIAPICloudApiControllerGetAnswerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudMessageAPIAPIService) CloudApiControllerGetAnswerExecute(r CloudMessageAPIAPICloudApiControllerGetAnswerRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudMessageAPIAPIService.CloudApiControllerGetAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.provider == nil {
		return localVarReturnValue, nil, reportError("provider is required and must be specified")
	}
	if r.question == nil {
		return localVarReturnValue, nil, reportError("question is required and must be specified")
	}
	if r.framework == nil {
		return localVarReturnValue, nil, reportError("framework is required and must be specified")
	}
	if r.video == nil {
		return localVarReturnValue, nil, reportError("video is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "question", r.question, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "framework", r.framework, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "video", r.video, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudMessageAPIAPICloudApiControllerGetGlobalMessagesRequest struct {
	ctx        context.Context
	ApiService *CloudMessageAPIAPIService
}

func (r CloudMessageAPIAPICloudApiControllerGetGlobalMessagesRequest) Execute() ([]CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetGlobalMessagesExecute(r)
}

/*
CloudApiControllerGetGlobalMessages Api Controller Get Global Messages

get global messages

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudMessageAPIAPICloudApiControllerGetGlobalMessagesRequest
*/
func (a *CloudMessageAPIAPIService) CloudApiControllerGetGlobalMessages(ctx context.Context) CloudMessageAPIAPICloudApiControllerGetGlobalMessagesRequest {
	return CloudMessageAPIAPICloudApiControllerGetGlobalMessagesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudObjectMessage
func (a *CloudMessageAPIAPIService) CloudApiControllerGetGlobalMessagesExecute(r CloudMessageAPIAPICloudApiControllerGetGlobalMessagesRequest) ([]CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudMessageAPIAPIService.CloudApiControllerGetGlobalMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-global-messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudMessageAPIAPICloudApiControllerGetMessageRequest struct {
	ctx        context.Context
	ApiService *CloudMessageAPIAPIService
	id         *string
}

// The id of message
func (r CloudMessageAPIAPICloudApiControllerGetMessageRequest) Id(id string) CloudMessageAPIAPICloudApiControllerGetMessageRequest {
	r.id = &id
	return r
}

func (r CloudMessageAPIAPICloudApiControllerGetMessageRequest) Execute() (*CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessageExecute(r)
}

/*
CloudApiControllerGetMessage Api Controller Get Message

get message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudMessageAPIAPICloudApiControllerGetMessageRequest
*/
func (a *CloudMessageAPIAPIService) CloudApiControllerGetMessage(ctx context.Context) CloudMessageAPIAPICloudApiControllerGetMessageRequest {
	return CloudMessageAPIAPICloudApiControllerGetMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudObjectMessage
func (a *CloudMessageAPIAPIService) CloudApiControllerGetMessageExecute(r CloudMessageAPIAPICloudApiControllerGetMessageRequest) (*CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudMessageAPIAPIService.CloudApiControllerGetMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudMessageAPIAPICloudApiControllerGetMessageAnswerRequest struct {
	ctx        context.Context
	ApiService *CloudMessageAPIAPIService
	id         *string
}

// The id of message
func (r CloudMessageAPIAPICloudApiControllerGetMessageAnswerRequest) Id(id string) CloudMessageAPIAPICloudApiControllerGetMessageAnswerRequest {
	r.id = &id
	return r
}

func (r CloudMessageAPIAPICloudApiControllerGetMessageAnswerRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessageAnswerExecute(r)
}

/*
CloudApiControllerGetMessageAnswer Api Controller Get Message Answer

get message answer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudMessageAPIAPICloudApiControllerGetMessageAnswerRequest
*/
func (a *CloudMessageAPIAPIService) CloudApiControllerGetMessageAnswer(ctx context.Context) CloudMessageAPIAPICloudApiControllerGetMessageAnswerRequest {
	return CloudMessageAPIAPICloudApiControllerGetMessageAnswerRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *CloudMessageAPIAPIService) CloudApiControllerGetMessageAnswerExecute(r CloudMessageAPIAPICloudApiControllerGetMessageAnswerRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudMessageAPIAPIService.CloudApiControllerGetMessageAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-message-answer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudMessageAPIAPICloudApiControllerGetMessagesRequest struct {
	ctx        context.Context
	ApiService *CloudMessageAPIAPIService
	user       *string
	chat       *string
}

// The user of message
func (r CloudMessageAPIAPICloudApiControllerGetMessagesRequest) User(user string) CloudMessageAPIAPICloudApiControllerGetMessagesRequest {
	r.user = &user
	return r
}

// The chat of message
func (r CloudMessageAPIAPICloudApiControllerGetMessagesRequest) Chat(chat string) CloudMessageAPIAPICloudApiControllerGetMessagesRequest {
	r.chat = &chat
	return r
}

func (r CloudMessageAPIAPICloudApiControllerGetMessagesRequest) Execute() ([]CloudObjectMessage, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetMessagesExecute(r)
}

/*
CloudApiControllerGetMessages Api Controller Get Messages

get Messages

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudMessageAPIAPICloudApiControllerGetMessagesRequest
*/
func (a *CloudMessageAPIAPIService) CloudApiControllerGetMessages(ctx context.Context) CloudMessageAPIAPICloudApiControllerGetMessagesRequest {
	return CloudMessageAPIAPICloudApiControllerGetMessagesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CloudObjectMessage
func (a *CloudMessageAPIAPIService) CloudApiControllerGetMessagesExecute(r CloudMessageAPIAPICloudApiControllerGetMessagesRequest) ([]CloudObjectMessage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CloudObjectMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudMessageAPIAPIService.CloudApiControllerGetMessages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-Messages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}
	if r.chat == nil {
		return localVarReturnValue, nil, reportError("chat is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "chat", r.chat, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudMessageAPIAPICloudApiControllerUpdateMessageRequest struct {
	ctx                context.Context
	ApiService         *CloudMessageAPIAPIService
	id                 *string
	cloudObjectMessage *CloudObjectMessage
}

// The id (owner/name) of the message
func (r CloudMessageAPIAPICloudApiControllerUpdateMessageRequest) Id(id string) CloudMessageAPIAPICloudApiControllerUpdateMessageRequest {
	r.id = &id
	return r
}

// The details of the message
func (r CloudMessageAPIAPICloudApiControllerUpdateMessageRequest) CloudObjectMessage(cloudObjectMessage CloudObjectMessage) CloudMessageAPIAPICloudApiControllerUpdateMessageRequest {
	r.cloudObjectMessage = &cloudObjectMessage
	return r
}

func (r CloudMessageAPIAPICloudApiControllerUpdateMessageRequest) Execute() (*CloudControllersResponse, *http.Response, error) {
	return r.ApiService.CloudApiControllerUpdateMessageExecute(r)
}

/*
CloudApiControllerUpdateMessage Api Controller Update Message

update message

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CloudMessageAPIAPICloudApiControllerUpdateMessageRequest
*/
func (a *CloudMessageAPIAPIService) CloudApiControllerUpdateMessage(ctx context.Context) CloudMessageAPIAPICloudApiControllerUpdateMessageRequest {
	return CloudMessageAPIAPICloudApiControllerUpdateMessageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudControllersResponse
func (a *CloudMessageAPIAPIService) CloudApiControllerUpdateMessageExecute(r CloudMessageAPIAPICloudApiControllerUpdateMessageRequest) (*CloudControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudMessageAPIAPIService.CloudApiControllerUpdateMessage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/update-message"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.cloudObjectMessage == nil {
		return localVarReturnValue, nil, reportError("cloudObjectMessage is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectMessage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
