/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AnalyticsEventsAPIService AnalyticsEventsAPI service
type AnalyticsEventsAPIService service

type AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsEventsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	event      *string
}

// Start timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest) StartAt(startAt int64) AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest) EndAt(endAt int64) AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest) Event(event string) AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest {
	r.event = &event
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataEventsExecute(r)
}

/*
AnalyticsGetEventDataEvents Get event data grouped by event name

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest
*/
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataEvents(ctx context.Context, websiteId string) AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest {
	return AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataEventsExecute(r AnalyticsEventsAPIAnalyticsGetEventDataEventsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsEventsAPIService.AnalyticsGetEventDataEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/events"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsEventsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
}

// Start timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest) StartAt(startAt int64) AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest) EndAt(endAt int64) AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest) Execute() ([]AnalyticsGetEventDataFields200ResponseInner, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataFieldsExecute(r)
}

/*
AnalyticsGetEventDataFields Get event data fields

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest
*/
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataFields(ctx context.Context, websiteId string) AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest {
	return AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsGetEventDataFields200ResponseInner
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataFieldsExecute(r AnalyticsEventsAPIAnalyticsGetEventDataFieldsRequest) ([]AnalyticsGetEventDataFields200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsGetEventDataFields200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsEventsAPIService.AnalyticsGetEventDataFields")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/fields"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest struct {
	ctx          context.Context
	ApiService   *AnalyticsEventsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	propertyName *string
}

// Start timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest) StartAt(startAt int64) AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest) EndAt(endAt int64) AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest) PropertyName(propertyName string) AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest {
	r.propertyName = &propertyName
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataPropertiesExecute(r)
}

/*
AnalyticsGetEventDataProperties Get event data properties

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest
*/
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataProperties(ctx context.Context, websiteId string) AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest {
	return AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataPropertiesExecute(r AnalyticsEventsAPIAnalyticsGetEventDataPropertiesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsEventsAPIService.AnalyticsGetEventDataProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/properties"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest struct {
	ctx          context.Context
	ApiService   *AnalyticsEventsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	propertyName *string
}

// Start timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest) StartAt(startAt int64) AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest) EndAt(endAt int64) AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest) PropertyName(propertyName string) AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest {
	r.propertyName = &propertyName
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataStatsExecute(r)
}

/*
AnalyticsGetEventDataStats Get event data aggregate stats

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest
*/
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataStats(ctx context.Context, websiteId string) AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest {
	return AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataStatsExecute(r AnalyticsEventsAPIAnalyticsGetEventDataStatsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsEventsAPIService.AnalyticsGetEventDataStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest struct {
	ctx          context.Context
	ApiService   *AnalyticsEventsAPIService
	websiteId    string
	startAt      *int64
	endAt        *int64
	eventName    *string
	propertyName *string
}

// Start timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest) StartAt(startAt int64) AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest) EndAt(endAt int64) AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest) EventName(eventName string) AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest {
	r.eventName = &eventName
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest) PropertyName(propertyName string) AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest {
	r.propertyName = &propertyName
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventDataValuesExecute(r)
}

/*
AnalyticsGetEventDataValues Get event data values for a property

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest
*/
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataValues(ctx context.Context, websiteId string) AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest {
	return AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsEventsAPIService) AnalyticsGetEventDataValuesExecute(r AnalyticsEventsAPIAnalyticsGetEventDataValuesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsEventsAPIService.AnalyticsGetEventDataValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/event-data/values"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.eventName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventName", r.eventName, "form", "")
	}
	if r.propertyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propertyName", r.propertyName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsEventsAPIAnalyticsGetEventSeriesRequest struct {
	ctx        context.Context
	ApiService *AnalyticsEventsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	unit       *string
	timezone   *string
	url        *string
	referrer   *string
	title      *string
	os         *string
	browser    *string
	device     *string
	country    *string
	region     *string
	city       *string
	tag        *string
	host       *string
	language   *string
	event      *string
}

// Start timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) StartAt(startAt int64) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) EndAt(endAt int64) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Unit(unit string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.unit = &unit
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Timezone(timezone string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.timezone = &timezone
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Url(url string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.url = &url
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Referrer(referrer string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.referrer = &referrer
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Title(title string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.title = &title
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Os(os string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.os = &os
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Browser(browser string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.browser = &browser
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Device(device string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.device = &device
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Country(country string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.country = &country
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Region(region string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.region = &region
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) City(city string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.city = &city
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Tag(tag string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.tag = &tag
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Host(host string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.host = &host
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Language(language string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.language = &language
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Event(event string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	r.event = &event
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) Execute() ([]AnalyticsPageviewSeries, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventSeriesExecute(r)
}

/*
AnalyticsGetEventSeries Get event metrics as a time series

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsEventsAPIAnalyticsGetEventSeriesRequest
*/
func (a *AnalyticsEventsAPIService) AnalyticsGetEventSeries(ctx context.Context, websiteId string) AnalyticsEventsAPIAnalyticsGetEventSeriesRequest {
	return AnalyticsEventsAPIAnalyticsGetEventSeriesRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsPageviewSeries
func (a *AnalyticsEventsAPIService) AnalyticsGetEventSeriesExecute(r AnalyticsEventsAPIAnalyticsGetEventSeriesRequest) ([]AnalyticsPageviewSeries, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsPageviewSeries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsEventsAPIService.AnalyticsGetEventSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/events/series"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.unit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unit", r.unit, "form", "")
	}
	if r.timezone != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timezone", r.timezone, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.referrer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referrer", r.referrer, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.os != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "os", r.os, "form", "")
	}
	if r.browser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "browser", r.browser, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.host != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host", r.host, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsEventsAPIAnalyticsGetEventsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsEventsAPIService
	websiteId  string
	startAt    *int64
	endAt      *int64
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

// Start timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventsRequest) StartAt(startAt int64) AnalyticsEventsAPIAnalyticsGetEventsRequest {
	r.startAt = &startAt
	return r
}

// End timestamp in milliseconds
func (r AnalyticsEventsAPIAnalyticsGetEventsRequest) EndAt(endAt int64) AnalyticsEventsAPIAnalyticsGetEventsRequest {
	r.endAt = &endAt
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventsRequest) Page(page int32) AnalyticsEventsAPIAnalyticsGetEventsRequest {
	r.page = &page
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventsRequest) PageSize(pageSize int32) AnalyticsEventsAPIAnalyticsGetEventsRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventsRequest) OrderBy(orderBy string) AnalyticsEventsAPIAnalyticsGetEventsRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventsRequest) Search(search string) AnalyticsEventsAPIAnalyticsGetEventsRequest {
	r.search = &search
	return r
}

func (r AnalyticsEventsAPIAnalyticsGetEventsRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetEventsExecute(r)
}

/*
AnalyticsGetEvents Get paginated list of events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsEventsAPIAnalyticsGetEventsRequest
*/
func (a *AnalyticsEventsAPIService) AnalyticsGetEvents(ctx context.Context, websiteId string) AnalyticsEventsAPIAnalyticsGetEventsRequest {
	return AnalyticsEventsAPIAnalyticsGetEventsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsEventsAPIService) AnalyticsGetEventsExecute(r AnalyticsEventsAPIAnalyticsGetEventsRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsEventsAPIService.AnalyticsGetEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/events"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startAt == nil {
		return localVarReturnValue, nil, reportError("startAt is required and must be specified")
	}
	if r.endAt == nil {
		return localVarReturnValue, nil, reportError("endAt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startAt", r.startAt, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endAt", r.endAt, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
