/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ModelsAPIService ModelsAPI service
type ModelsAPIService service

type ModelsAPIGetModelsRequest struct {
	ctx        context.Context
	ApiService *ModelsAPIService
}

func (r ModelsAPIGetModelsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetModelsExecute(r)
}

/*
GetModels Returns the list of available models from the routing table.

Returns the list of available models from the routing table.

PUBLIC BY DESIGN, AND IT DOES NOT AUTHENTICATE — that is the whole contract, so it
is stated here rather than left to be inferred. The catalogue is the same for
everyone (listAvailableModels takes no principal), docs.hanzo.ai fetches it from
the browser, and every policy layer around it already says so out loud: the authz
filter lists "models" as public, filter_balance refuses to gate it (a 402 here was
a console-wide outage), the rate limiter excludes it, and cloud's spend.Reachable
carries /v1/models/ as "the model catalog the shell reads for discovery".

SO THE Authorization HEADER IS NOT AN ADMISSION CHECK HERE. It is read for ONE
thing — annotating gated SKUs with the caller's own access standing — and
annotation degrades to nothing when there is no verified principal.

It used to hold a "require authentication" gate that authenticated nobody: it
rejected an ABSENT credential and a MALFORMED one, then accepted any string that
merely looked like a key. `Bearer sk-` followed by 36 zeroes returned 200 in
production; so did a JWT three days expired. It was a shape check wearing an auth
check's clothes, and its cost was diagnostic: /v1/models is the natural "is my auth
working?" probe, and answering 200 to a dead credential sent people debugging the
wrong system. A public endpoint must not appear to validate. Either check the
credential or ignore it — this one ignores it, deliberately and visibly.

Removing that gate discloses nothing new: the catalogue was already reachable by
anyone willing to type three characters, so there is no confidentiality delta, only
an honesty one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ModelsAPIGetModelsRequest
*/
func (a *ModelsAPIService) GetModels(ctx context.Context) ModelsAPIGetModelsRequest {
	return ModelsAPIGetModelsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ModelsAPIService) GetModelsExecute(r ModelsAPIGetModelsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelsAPIService.GetModels")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/models"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ModelsAPIGetModelsByModelAccessRequest struct {
	ctx        context.Context
	ApiService *ModelsAPIService
	model      string
}

func (r ModelsAPIGetModelsByModelAccessRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetModelsByModelAccessExecute(r)
}

/*
GetModelsByModelAccess Returns the caller's own standing for a gated model: \"granted\", \"requested\", or empty when they have never asked.

Returns the caller's own standing for a gated model:
"granted", "requested", or empty when they have never asked.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param model
	@return ModelsAPIGetModelsByModelAccessRequest
*/
func (a *ModelsAPIService) GetModelsByModelAccess(ctx context.Context, model string) ModelsAPIGetModelsByModelAccessRequest {
	return ModelsAPIGetModelsByModelAccessRequest{
		ApiService: a,
		ctx:        ctx,
		model:      model,
	}
}

// Execute executes the request
func (a *ModelsAPIService) GetModelsByModelAccessExecute(r ModelsAPIGetModelsByModelAccessRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelsAPIService.GetModelsByModelAccess")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/models/{model}/access"
	localVarPath = strings.Replace(localVarPath, "{"+"model"+"}", url.PathEscape(parameterValueToString(r.model, "model")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ModelsAPIGetModelsProvidersRequest struct {
	ctx        context.Context
	ApiService *ModelsAPIService
}

func (r ModelsAPIGetModelsProvidersRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetModelsProvidersExecute(r)
}

/*
GetModelsProviders Public, secret-free list of the providers serving the models that GET /v1/models lists — the same source, projected.

Public, secret-free list of the providers serving the models that
GET /v1/models lists — the same source, projected. Safe unauthenticated: no
keys, URLs, or config are returned, and it reports a SET of names, never
which provider serves which model.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ModelsAPIGetModelsProvidersRequest
*/
func (a *ModelsAPIService) GetModelsProviders(ctx context.Context) ModelsAPIGetModelsProvidersRequest {
	return ModelsAPIGetModelsProvidersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ModelsAPIService) GetModelsProvidersExecute(r ModelsAPIGetModelsProvidersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelsAPIService.GetModelsProviders")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/models/providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ModelsAPIPostModelsByModelAccessRequest struct {
	ctx        context.Context
	ApiService *ModelsAPIService
	model      string
}

func (r ModelsAPIPostModelsByModelAccessRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostModelsByModelAccessExecute(r)
}

/*
PostModelsByModelAccess Records the caller's waitlist request for a gated model and answers their new standing.

Records the caller's waitlist request for a gated model and
answers their new standing. Authed, idempotent, and self-scoped: the row is keyed
to the caller's own org and identity, never to a body-supplied owner.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param model
	@return ModelsAPIPostModelsByModelAccessRequest
*/
func (a *ModelsAPIService) PostModelsByModelAccess(ctx context.Context, model string) ModelsAPIPostModelsByModelAccessRequest {
	return ModelsAPIPostModelsByModelAccessRequest{
		ApiService: a,
		ctx:        ctx,
		model:      model,
	}
}

// Execute executes the request
func (a *ModelsAPIService) PostModelsByModelAccessExecute(r ModelsAPIPostModelsByModelAccessRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelsAPIService.PostModelsByModelAccess")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/models/{model}/access"
	localVarPath = strings.Replace(localVarPath, "{"+"model"+"}", url.PathEscape(parameterValueToString(r.model, "model")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
