/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// IamResourcesAPIService IamResourcesAPI service
type IamResourcesAPIService service

type IamResourcesAPIIamApiControllerAddResourceRequest struct {
	ctx               context.Context
	ApiService        *IamResourcesAPIService
	iamObjectResource *IamObjectResource
}

// Resource object
func (r IamResourcesAPIIamApiControllerAddResourceRequest) IamObjectResource(iamObjectResource IamObjectResource) IamResourcesAPIIamApiControllerAddResourceRequest {
	r.iamObjectResource = &iamObjectResource
	return r
}

func (r IamResourcesAPIIamApiControllerAddResourceRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerAddResourceExecute(r)
}

/*
IamApiControllerAddResource Api Controller Add Resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamResourcesAPIIamApiControllerAddResourceRequest
*/
func (a *IamResourcesAPIService) IamApiControllerAddResource(ctx context.Context) IamResourcesAPIIamApiControllerAddResourceRequest {
	return IamResourcesAPIIamApiControllerAddResourceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamResourcesAPIService) IamApiControllerAddResourceExecute(r IamResourcesAPIIamApiControllerAddResourceRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamResourcesAPIService.IamApiControllerAddResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectResource == nil {
		return localVarReturnValue, nil, reportError("iamObjectResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamResourcesAPIIamApiControllerDeleteResourceRequest struct {
	ctx               context.Context
	ApiService        *IamResourcesAPIService
	id                string
	iamObjectResource *IamObjectResource
}

// Resource object
func (r IamResourcesAPIIamApiControllerDeleteResourceRequest) IamObjectResource(iamObjectResource IamObjectResource) IamResourcesAPIIamApiControllerDeleteResourceRequest {
	r.iamObjectResource = &iamObjectResource
	return r
}

func (r IamResourcesAPIIamApiControllerDeleteResourceRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerDeleteResourceExecute(r)
}

/*
IamApiControllerDeleteResource Api Controller Delete Resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Resource identifier (owner/name)
	@return IamResourcesAPIIamApiControllerDeleteResourceRequest
*/
func (a *IamResourcesAPIService) IamApiControllerDeleteResource(ctx context.Context, id string) IamResourcesAPIIamApiControllerDeleteResourceRequest {
	return IamResourcesAPIIamApiControllerDeleteResourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamResourcesAPIService) IamApiControllerDeleteResourceExecute(r IamResourcesAPIIamApiControllerDeleteResourceRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamResourcesAPIService.IamApiControllerDeleteResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectResource == nil {
		return localVarReturnValue, nil, reportError("iamObjectResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamResourcesAPIIamApiControllerGetResourceRequest struct {
	ctx        context.Context
	ApiService *IamResourcesAPIService
	id         string
}

func (r IamResourcesAPIIamApiControllerGetResourceRequest) Execute() (*IamObjectResource, *http.Response, error) {
	return r.ApiService.IamApiControllerGetResourceExecute(r)
}

/*
IamApiControllerGetResource Api Controller Get Resource

get resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of resource
	@return IamResourcesAPIIamApiControllerGetResourceRequest
*/
func (a *IamResourcesAPIService) IamApiControllerGetResource(ctx context.Context, id string) IamResourcesAPIIamApiControllerGetResourceRequest {
	return IamResourcesAPIIamApiControllerGetResourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamObjectResource
func (a *IamResourcesAPIService) IamApiControllerGetResourceExecute(r IamResourcesAPIIamApiControllerGetResourceRequest) (*IamObjectResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamResourcesAPIService.IamApiControllerGetResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamResourcesAPIIamApiControllerGetResourcesRequest struct {
	ctx        context.Context
	ApiService *IamResourcesAPIService
	owner      *string
	user       *string
	pageSize   *int32
	p          *int32
	field      *string
	value      *string
	sortField  *string
	sortOrder  *string
}

// Owner
func (r IamResourcesAPIIamApiControllerGetResourcesRequest) Owner(owner string) IamResourcesAPIIamApiControllerGetResourcesRequest {
	r.owner = &owner
	return r
}

// User
func (r IamResourcesAPIIamApiControllerGetResourcesRequest) User(user string) IamResourcesAPIIamApiControllerGetResourcesRequest {
	r.user = &user
	return r
}

// Page Size
func (r IamResourcesAPIIamApiControllerGetResourcesRequest) PageSize(pageSize int32) IamResourcesAPIIamApiControllerGetResourcesRequest {
	r.pageSize = &pageSize
	return r
}

// Page Number
func (r IamResourcesAPIIamApiControllerGetResourcesRequest) P(p int32) IamResourcesAPIIamApiControllerGetResourcesRequest {
	r.p = &p
	return r
}

// Field
func (r IamResourcesAPIIamApiControllerGetResourcesRequest) Field(field string) IamResourcesAPIIamApiControllerGetResourcesRequest {
	r.field = &field
	return r
}

// Value
func (r IamResourcesAPIIamApiControllerGetResourcesRequest) Value(value string) IamResourcesAPIIamApiControllerGetResourcesRequest {
	r.value = &value
	return r
}

// Sort Field
func (r IamResourcesAPIIamApiControllerGetResourcesRequest) SortField(sortField string) IamResourcesAPIIamApiControllerGetResourcesRequest {
	r.sortField = &sortField
	return r
}

// Sort Order
func (r IamResourcesAPIIamApiControllerGetResourcesRequest) SortOrder(sortOrder string) IamResourcesAPIIamApiControllerGetResourcesRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r IamResourcesAPIIamApiControllerGetResourcesRequest) Execute() ([]IamObjectResource, *http.Response, error) {
	return r.ApiService.IamApiControllerGetResourcesExecute(r)
}

/*
IamApiControllerGetResources Api Controller Get Resources

get resources

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamResourcesAPIIamApiControllerGetResourcesRequest
*/
func (a *IamResourcesAPIService) IamApiControllerGetResources(ctx context.Context) IamResourcesAPIIamApiControllerGetResourcesRequest {
	return IamResourcesAPIIamApiControllerGetResourcesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []IamObjectResource
func (a *IamResourcesAPIService) IamApiControllerGetResourcesExecute(r IamResourcesAPIIamApiControllerGetResourcesRequest) ([]IamObjectResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []IamObjectResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamResourcesAPIService.IamApiControllerGetResources")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	}
	if r.field != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "field", r.field, "form", "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamResourcesAPIIamApiControllerUpdateResourceRequest struct {
	ctx               context.Context
	ApiService        *IamResourcesAPIService
	id                string
	iamObjectResource *IamObjectResource
}

// The resource object
func (r IamResourcesAPIIamApiControllerUpdateResourceRequest) IamObjectResource(iamObjectResource IamObjectResource) IamResourcesAPIIamApiControllerUpdateResourceRequest {
	r.iamObjectResource = &iamObjectResource
	return r
}

func (r IamResourcesAPIIamApiControllerUpdateResourceRequest) Execute() (*IamControllersResponse, *http.Response, error) {
	return r.ApiService.IamApiControllerUpdateResourceExecute(r)
}

/*
IamApiControllerUpdateResource Api Controller Update Resource

get resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The id ( owner/name ) of resource
	@return IamResourcesAPIIamApiControllerUpdateResourceRequest
*/
func (a *IamResourcesAPIService) IamApiControllerUpdateResource(ctx context.Context, id string) IamResourcesAPIIamApiControllerUpdateResourceRequest {
	return IamResourcesAPIIamApiControllerUpdateResourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IamControllersResponse
func (a *IamResourcesAPIService) IamApiControllerUpdateResourceExecute(r IamResourcesAPIIamApiControllerUpdateResourceRequest) (*IamControllersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamControllersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamResourcesAPIService.IamApiControllerUpdateResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iamObjectResource == nil {
		return localVarReturnValue, nil, reportError("iamObjectResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iamObjectResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IamResourcesAPIIamApiControllerUploadResourceRequest struct {
	ctx          context.Context
	ApiService   *IamResourcesAPIService
	owner        *string
	user         *string
	application  *string
	fullFilePath *string
	file         *os.File
	tag          *string
	parent       *string
	createdTime  *string
	description  *string
}

// Owner
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) Owner(owner string) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.owner = &owner
	return r
}

// User
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) User(user string) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.user = &user
	return r
}

// Application
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) Application(application string) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.application = &application
	return r
}

// Full File Path
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) FullFilePath(fullFilePath string) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.fullFilePath = &fullFilePath
	return r
}

// Resource file
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) File(file *os.File) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.file = file
	return r
}

// Tag
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) Tag(tag string) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.tag = &tag
	return r
}

// Parent
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) Parent(parent string) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.parent = &parent
	return r
}

// Created Time
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) CreatedTime(createdTime string) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.createdTime = &createdTime
	return r
}

// Description
func (r IamResourcesAPIIamApiControllerUploadResourceRequest) Description(description string) IamResourcesAPIIamApiControllerUploadResourceRequest {
	r.description = &description
	return r
}

func (r IamResourcesAPIIamApiControllerUploadResourceRequest) Execute() (*IamObjectResource, *http.Response, error) {
	return r.ApiService.IamApiControllerUploadResourceExecute(r)
}

/*
IamApiControllerUploadResource Api Controller Upload Resource

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IamResourcesAPIIamApiControllerUploadResourceRequest
*/
func (a *IamResourcesAPIService) IamApiControllerUploadResource(ctx context.Context) IamResourcesAPIIamApiControllerUploadResourceRequest {
	return IamResourcesAPIIamApiControllerUploadResourceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamObjectResource
func (a *IamResourcesAPIService) IamApiControllerUploadResourceExecute(r IamResourcesAPIIamApiControllerUploadResourceRequest) (*IamObjectResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamObjectResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IamResourcesAPIService.IamApiControllerUploadResource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/iam/resources/upload"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.owner == nil {
		return localVarReturnValue, nil, reportError("owner is required and must be specified")
	}
	if r.user == nil {
		return localVarReturnValue, nil, reportError("user is required and must be specified")
	}
	if r.application == nil {
		return localVarReturnValue, nil, reportError("application is required and must be specified")
	}
	if r.fullFilePath == nil {
		return localVarReturnValue, nil, reportError("fullFilePath is required and must be specified")
	}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "application", r.application, "form", "")
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.parent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parent", r.parent, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "fullFilePath", r.fullFilePath, "form", "")
	if r.createdTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdTime", r.createdTime, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName string
	var fileLocalVarFileBytes []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
