/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// NexusConnectionAPIAPIService NexusConnectionAPIAPI service
type NexusConnectionAPIAPIService service

type NexusConnectionAPIAPINexusAddConnectionRequest struct {
	ctx             context.Context
	ApiService      *NexusConnectionAPIAPIService
	nexusConnection *NexusConnection
}

// The connection object
func (r NexusConnectionAPIAPINexusAddConnectionRequest) NexusConnection(nexusConnection NexusConnection) NexusConnectionAPIAPINexusAddConnectionRequest {
	r.nexusConnection = &nexusConnection
	return r
}

func (r NexusConnectionAPIAPINexusAddConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.NexusAddConnectionExecute(r)
}

/*
NexusAddConnection add Connection

Add a connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusAddConnectionRequest
*/
func (a *NexusConnectionAPIAPIService) NexusAddConnection(ctx context.Context) NexusConnectionAPIAPINexusAddConnectionRequest {
	return NexusConnectionAPIAPINexusAddConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *NexusConnectionAPIAPIService) NexusAddConnectionExecute(r NexusConnectionAPIAPINexusAddConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusAddConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/add-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nexusConnection == nil {
		return localVarReturnValue, nil, reportError("nexusConnection is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusConnection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusConnectionAPIAPINexusAddNodeTunnelRequest struct {
	ctx        context.Context
	ApiService *NexusConnectionAPIAPIService
	nodeId     *string
}

// The id of the node
func (r NexusConnectionAPIAPINexusAddNodeTunnelRequest) NodeId(nodeId string) NexusConnectionAPIAPINexusAddNodeTunnelRequest {
	r.nodeId = &nodeId
	return r
}

func (r NexusConnectionAPIAPINexusAddNodeTunnelRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.NexusAddNodeTunnelExecute(r)
}

/*
NexusAddNodeTunnel add Node Tunnel

Add a node tunnel session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusAddNodeTunnelRequest
*/
func (a *NexusConnectionAPIAPIService) NexusAddNodeTunnel(ctx context.Context) NexusConnectionAPIAPINexusAddNodeTunnelRequest {
	return NexusConnectionAPIAPINexusAddNodeTunnelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *NexusConnectionAPIAPIService) NexusAddNodeTunnelExecute(r NexusConnectionAPIAPINexusAddNodeTunnelRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusAddNodeTunnel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/add-node-tunnel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nodeId == nil {
		return localVarReturnValue, nil, reportError("nodeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "nodeId", r.nodeId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusConnectionAPIAPINexusDeleteConnectionRequest struct {
	ctx        context.Context
	ApiService *NexusConnectionAPIAPIService
	id         *string
}

// The id of the connection
func (r NexusConnectionAPIAPINexusDeleteConnectionRequest) Id(id string) NexusConnectionAPIAPINexusDeleteConnectionRequest {
	r.id = &id
	return r
}

func (r NexusConnectionAPIAPINexusDeleteConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.NexusDeleteConnectionExecute(r)
}

/*
NexusDeleteConnection delete Connection

Delete a connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusDeleteConnectionRequest
*/
func (a *NexusConnectionAPIAPIService) NexusDeleteConnection(ctx context.Context) NexusConnectionAPIAPINexusDeleteConnectionRequest {
	return NexusConnectionAPIAPINexusDeleteConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *NexusConnectionAPIAPIService) NexusDeleteConnectionExecute(r NexusConnectionAPIAPINexusDeleteConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusDeleteConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/delete-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusConnectionAPIAPINexusGetConnectionRequest struct {
	ctx        context.Context
	ApiService *NexusConnectionAPIAPIService
	id         *string
}

// The id of the connection
func (r NexusConnectionAPIAPINexusGetConnectionRequest) Id(id string) NexusConnectionAPIAPINexusGetConnectionRequest {
	r.id = &id
	return r
}

func (r NexusConnectionAPIAPINexusGetConnectionRequest) Execute() (*NexusConnection, *http.Response, error) {
	return r.ApiService.NexusGetConnectionExecute(r)
}

/*
NexusGetConnection get Connection

Get a connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusGetConnectionRequest
*/
func (a *NexusConnectionAPIAPIService) NexusGetConnection(ctx context.Context) NexusConnectionAPIAPINexusGetConnectionRequest {
	return NexusConnectionAPIAPINexusGetConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusConnection
func (a *NexusConnectionAPIAPIService) NexusGetConnectionExecute(r NexusConnectionAPIAPINexusGetConnectionRequest) (*NexusConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusGetConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusConnectionAPIAPINexusGetConnectionsRequest struct {
	ctx        context.Context
	ApiService *NexusConnectionAPIAPIService
	pageSize   *string
	p          *string
}

// The size of each page
func (r NexusConnectionAPIAPINexusGetConnectionsRequest) PageSize(pageSize string) NexusConnectionAPIAPINexusGetConnectionsRequest {
	r.pageSize = &pageSize
	return r
}

// The page number
func (r NexusConnectionAPIAPINexusGetConnectionsRequest) P(p string) NexusConnectionAPIAPINexusGetConnectionsRequest {
	r.p = &p
	return r
}

func (r NexusConnectionAPIAPINexusGetConnectionsRequest) Execute() (*NexusConnection, *http.Response, error) {
	return r.ApiService.NexusGetConnectionsExecute(r)
}

/*
NexusGetConnections get Connections

Get all connections

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusGetConnectionsRequest
*/
func (a *NexusConnectionAPIAPIService) NexusGetConnections(ctx context.Context) NexusConnectionAPIAPINexusGetConnectionsRequest {
	return NexusConnectionAPIAPINexusGetConnectionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NexusConnection
func (a *NexusConnectionAPIAPIService) NexusGetConnectionsExecute(r NexusConnectionAPIAPINexusGetConnectionsRequest) (*NexusConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NexusConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusGetConnections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-connections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}
	if r.p == nil {
		return localVarReturnValue, nil, reportError("p is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusConnectionAPIAPINexusGetNodeTunnelRequest struct {
	ctx          context.Context
	ApiService   *NexusConnectionAPIAPIService
	width        *string
	height       *string
	dpi          *string
	connectionId *string
	username     *string
	password     *string
}

// The width of the tunnel
func (r NexusConnectionAPIAPINexusGetNodeTunnelRequest) Width(width string) NexusConnectionAPIAPINexusGetNodeTunnelRequest {
	r.width = &width
	return r
}

// The height of the tunnel
func (r NexusConnectionAPIAPINexusGetNodeTunnelRequest) Height(height string) NexusConnectionAPIAPINexusGetNodeTunnelRequest {
	r.height = &height
	return r
}

// The dpi of the tunnel
func (r NexusConnectionAPIAPINexusGetNodeTunnelRequest) Dpi(dpi string) NexusConnectionAPIAPINexusGetNodeTunnelRequest {
	r.dpi = &dpi
	return r
}

// The id of the connection
func (r NexusConnectionAPIAPINexusGetNodeTunnelRequest) ConnectionId(connectionId string) NexusConnectionAPIAPINexusGetNodeTunnelRequest {
	r.connectionId = &connectionId
	return r
}

// The username for the tunnel
func (r NexusConnectionAPIAPINexusGetNodeTunnelRequest) Username(username string) NexusConnectionAPIAPINexusGetNodeTunnelRequest {
	r.username = &username
	return r
}

// The password for the tunnel
func (r NexusConnectionAPIAPINexusGetNodeTunnelRequest) Password(password string) NexusConnectionAPIAPINexusGetNodeTunnelRequest {
	r.password = &password
	return r
}

func (r NexusConnectionAPIAPINexusGetNodeTunnelRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.NexusGetNodeTunnelExecute(r)
}

/*
NexusGetNodeTunnel get Node Tunnel

Get a node tunnel session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusGetNodeTunnelRequest
*/
func (a *NexusConnectionAPIAPIService) NexusGetNodeTunnel(ctx context.Context) NexusConnectionAPIAPINexusGetNodeTunnelRequest {
	return NexusConnectionAPIAPINexusGetNodeTunnelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *NexusConnectionAPIAPIService) NexusGetNodeTunnelExecute(r NexusConnectionAPIAPINexusGetNodeTunnelRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusGetNodeTunnel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/get-node-tunnel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.width == nil {
		return localVarReturnValue, nil, reportError("width is required and must be specified")
	}
	if r.height == nil {
		return localVarReturnValue, nil, reportError("height is required and must be specified")
	}
	if r.dpi == nil {
		return localVarReturnValue, nil, reportError("dpi is required and must be specified")
	}
	if r.connectionId == nil {
		return localVarReturnValue, nil, reportError("connectionId is required and must be specified")
	}
	if r.username == nil {
		return localVarReturnValue, nil, reportError("username is required and must be specified")
	}
	if r.password == nil {
		return localVarReturnValue, nil, reportError("password is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "height", r.height, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dpi", r.dpi, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "connectionId", r.connectionId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "username", r.username, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "password", r.password, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusConnectionAPIAPINexusStartConnectionRequest struct {
	ctx        context.Context
	ApiService *NexusConnectionAPIAPIService
	id         *string
}

// The id of the connection
func (r NexusConnectionAPIAPINexusStartConnectionRequest) Id(id string) NexusConnectionAPIAPINexusStartConnectionRequest {
	r.id = &id
	return r
}

func (r NexusConnectionAPIAPINexusStartConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.NexusStartConnectionExecute(r)
}

/*
NexusStartConnection start Connection

Start a connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusStartConnectionRequest
*/
func (a *NexusConnectionAPIAPIService) NexusStartConnection(ctx context.Context) NexusConnectionAPIAPINexusStartConnectionRequest {
	return NexusConnectionAPIAPINexusStartConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *NexusConnectionAPIAPIService) NexusStartConnectionExecute(r NexusConnectionAPIAPINexusStartConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusStartConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/start-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusConnectionAPIAPINexusStopConnectionRequest struct {
	ctx        context.Context
	ApiService *NexusConnectionAPIAPIService
	id         *string
}

// The id of the connection
func (r NexusConnectionAPIAPINexusStopConnectionRequest) Id(id string) NexusConnectionAPIAPINexusStopConnectionRequest {
	r.id = &id
	return r
}

func (r NexusConnectionAPIAPINexusStopConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.NexusStopConnectionExecute(r)
}

/*
NexusStopConnection stop Connection

Stop a connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusStopConnectionRequest
*/
func (a *NexusConnectionAPIAPIService) NexusStopConnection(ctx context.Context) NexusConnectionAPIAPINexusStopConnectionRequest {
	return NexusConnectionAPIAPINexusStopConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *NexusConnectionAPIAPIService) NexusStopConnectionExecute(r NexusConnectionAPIAPINexusStopConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusStopConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/stop-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NexusConnectionAPIAPINexusUpdateConnectionRequest struct {
	ctx             context.Context
	ApiService      *NexusConnectionAPIAPIService
	id              *string
	nexusConnection *NexusConnection
}

// The id of the connection
func (r NexusConnectionAPIAPINexusUpdateConnectionRequest) Id(id string) NexusConnectionAPIAPINexusUpdateConnectionRequest {
	r.id = &id
	return r
}

// The connection object
func (r NexusConnectionAPIAPINexusUpdateConnectionRequest) NexusConnection(nexusConnection NexusConnection) NexusConnectionAPIAPINexusUpdateConnectionRequest {
	r.nexusConnection = &nexusConnection
	return r
}

func (r NexusConnectionAPIAPINexusUpdateConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.NexusUpdateConnectionExecute(r)
}

/*
NexusUpdateConnection update Connection

Update a connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return NexusConnectionAPIAPINexusUpdateConnectionRequest
*/
func (a *NexusConnectionAPIAPIService) NexusUpdateConnection(ctx context.Context) NexusConnectionAPIAPINexusUpdateConnectionRequest {
	return NexusConnectionAPIAPINexusUpdateConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *NexusConnectionAPIAPIService) NexusUpdateConnectionExecute(r NexusConnectionAPIAPINexusUpdateConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NexusConnectionAPIAPIService.NexusUpdateConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nexus/update-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.nexusConnection == nil {
		return localVarReturnValue, nil, reportError("nexusConnection is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nexusConnection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
