/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// BenchmarkAPIService BenchmarkAPI service
type BenchmarkAPIService service

type BenchmarkAPIGetBenchmarkCatalogRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
}

func (r BenchmarkAPIGetBenchmarkCatalogRequest) Execute() (*BenchmarkCatalog, *http.Response, error) {
	return r.ApiService.GetBenchmarkCatalogExecute(r)
}

/*
GetBenchmarkCatalog Is the canonical public benchmarks this arena runs — the id, title, axis, item count and upstream source of each, with native marking the ones the standardized harness runs today; the rest are registered and adapter-pending.

Is the canonical public benchmarks this arena runs — the id, title, axis,
item count and upstream source of each, with native marking the ones the
standardized harness runs today; the rest are registered and adapter-pending.

These ids are the vocabulary the rest of the surface takes: a run names them, and
the leaderboard and compare read them from ?benchmark=. The catalog is
deployment-wide and identical for every caller — there is no tenant in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkCatalogRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkCatalog(ctx context.Context) BenchmarkAPIGetBenchmarkCatalogRequest {
	return BenchmarkAPIGetBenchmarkCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BenchmarkCatalog
func (a *BenchmarkAPIService) GetBenchmarkCatalogExecute(r BenchmarkAPIGetBenchmarkCatalogRequest) (*BenchmarkCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BenchmarkCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIGetBenchmarkCompareRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	a          *string
	b          *string
	benchmark  *string
}

// A is the first model id. It is required.
func (r BenchmarkAPIGetBenchmarkCompareRequest) A(a string) BenchmarkAPIGetBenchmarkCompareRequest {
	r.a = &a
	return r
}

// B is the second model id. It is required.
func (r BenchmarkAPIGetBenchmarkCompareRequest) B(b string) BenchmarkAPIGetBenchmarkCompareRequest {
	r.b = &b
	return r
}

// Benchmark is the catalog id to compare on, defaulting to gpqa_diamond.
func (r BenchmarkAPIGetBenchmarkCompareRequest) Benchmark(benchmark string) BenchmarkAPIGetBenchmarkCompareRequest {
	r.benchmark = &benchmark
	return r
}

func (r BenchmarkAPIGetBenchmarkCompareRequest) Execute() (*Pairing, *http.Response, error) {
	return r.ApiService.GetBenchmarkCompareExecute(r)
}

/*
GetBenchmarkCompare Is the ONLY valid arm-vs-arm test: it pairs the two models on the items BOTH completed, and answers rescue and damage counts with an exact-McNemar p.

Is the ONLY valid arm-vs-arm test: it pairs the two models on the items
BOTH completed, and answers rescue and damage counts with an exact-McNemar p.

Pairing is what prevents the subset artifact — comparing one model's easy subset
against another's full run — so n_common, not either arm's own coverage, is the
number to read this by.

Both a and b are required. The benchmark defaults to gpqa_diamond.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkCompareRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkCompare(ctx context.Context) BenchmarkAPIGetBenchmarkCompareRequest {
	return BenchmarkAPIGetBenchmarkCompareRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Pairing
func (a *BenchmarkAPIService) GetBenchmarkCompareExecute(r BenchmarkAPIGetBenchmarkCompareRequest) (*Pairing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Pairing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkCompare")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/compare"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.a == nil {
		return localVarReturnValue, nil, reportError("a is required and must be specified")
	}
	if r.b == nil {
		return localVarReturnValue, nil, reportError("b is required and must be specified")
	}

	if r.benchmark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "benchmark", r.benchmark, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "a", r.a, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "b", r.b, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIGetBenchmarkLeaderboardRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	benchmark  *string
}

// Benchmark is the catalog id to read, defaulting to gpqa_diamond.
func (r BenchmarkAPIGetBenchmarkLeaderboardRequest) Benchmark(benchmark string) BenchmarkAPIGetBenchmarkLeaderboardRequest {
	r.benchmark = &benchmark
	return r
}

func (r BenchmarkAPIGetBenchmarkLeaderboardRequest) Execute() (*Leaderboard, *http.Response, error) {
	return r.ApiService.GetBenchmarkLeaderboardExecute(r)
}

/*
GetBenchmarkLeaderboard Answers one row per model for the benchmark named — what our own harness measured, beside what the vendor claims, and the gap between them.

Answers one row per model for the benchmark named — what our own
harness measured, beside what the vendor claims, and the gap between them.

The gap is the point of the arena; provider-reported claims have run materially
hot against one standardized harness.

The two planes are NEVER blended, and that is the rule to read the rows by: a
model we have measured but no vendor has claimed for shows published null, a
model with only a claim shows measured null, and gap exists only where both do.

n is coverage and is not decoration: two measured numbers taken over different
item counts are not comparable, so read the row's n before reading its accuracy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkLeaderboardRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkLeaderboard(ctx context.Context) BenchmarkAPIGetBenchmarkLeaderboardRequest {
	return BenchmarkAPIGetBenchmarkLeaderboardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Leaderboard
func (a *BenchmarkAPIService) GetBenchmarkLeaderboardExecute(r BenchmarkAPIGetBenchmarkLeaderboardRequest) (*Leaderboard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Leaderboard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkLeaderboard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/leaderboard"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.benchmark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "benchmark", r.benchmark, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIGetBenchmarkPresetsRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
}

func (r BenchmarkAPIGetBenchmarkPresetsRequest) Execute() (*PresetList, *http.Response, error) {
	return r.ApiService.GetBenchmarkPresetsExecute(r)
}

/*
GetBenchmarkPresets Are the router blends available to compose from — a named set of model arms, the rank they escalate through and the panel width that bounds fan-out — each served by the model layer as enso-<name>.

Are the router blends available to compose from — a named set of model
arms, the rank they escalate through and the panel width that bounds fan-out —
each served by the model layer as enso-<name>.

Today it answers exactly one row, the reference blend: a worked example written
in models we name, published as an example of the FORM. It is deliberately not
the composition of a Hanzo-served tier — the tier name exists to abstract that —
so fork it and swap arms by what the leaderboard measures on your own tasks
rather than reading it as a disclosure.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkPresetsRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkPresets(ctx context.Context) BenchmarkAPIGetBenchmarkPresetsRequest {
	return BenchmarkAPIGetBenchmarkPresetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PresetList
func (a *BenchmarkAPIService) GetBenchmarkPresetsExecute(r BenchmarkAPIGetBenchmarkPresetsRequest) (*PresetList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PresetList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkPresets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/presets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIPostBenchmarkPresetsRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	preset     *Preset
}

func (r BenchmarkAPIPostBenchmarkPresetsRequest) Preset(preset Preset) BenchmarkAPIPostBenchmarkPresetsRequest {
	r.preset = &preset
	return r
}

func (r BenchmarkAPIPostBenchmarkPresetsRequest) Execute() (*PresetAccepted, *http.Response, error) {
	return r.ApiService.PostBenchmarkPresetsExecute(r)
}

/*
PostBenchmarkPresets Validates a router blend — its name, its arms, the rank they escalate through and the panel fan-out width — and answers 202 with the preset and the enso-<name> it would be served as.

Validates a router blend — its name, its arms, the rank they escalate
through and the panel fan-out width — and answers 202 with the preset and the
enso-<name> it would be served as.

It VALIDATES AND ECHOES: the definition is not persisted yet, so a preset
accepted here is not one the model layer will resolve. Treat the response as a
check on the blend, not a promise to serve it.

Defaults fill the shape rather than refusing it: an omitted rank becomes the arms
in declared order and a panel below 1 becomes 1. The one real invariant is that
rank may only name arms the blend declares — the same rule the model catalog
enforces — and a rank naming anything else is a 422 listing exactly which entries
were undeclared. A blend with no name or no arms is a 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIPostBenchmarkPresetsRequest
*/
func (a *BenchmarkAPIService) PostBenchmarkPresets(ctx context.Context) BenchmarkAPIPostBenchmarkPresetsRequest {
	return BenchmarkAPIPostBenchmarkPresetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PresetAccepted
func (a *BenchmarkAPIService) PostBenchmarkPresetsExecute(r BenchmarkAPIPostBenchmarkPresetsRequest) (*PresetAccepted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PresetAccepted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.PostBenchmarkPresets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/presets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.preset == nil {
		return localVarReturnValue, nil, reportError("preset is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.preset
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIPostBenchmarkRunsRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	suite      *Suite
}

func (r BenchmarkAPIPostBenchmarkRunsRequest) Suite(suite Suite) BenchmarkAPIPostBenchmarkRunsRequest {
	r.suite = &suite
	return r
}

func (r BenchmarkAPIPostBenchmarkRunsRequest) Execute() (*Admission, *http.Response, error) {
	return r.ApiService.PostBenchmarkRunsExecute(r)
}

/*
PostBenchmarkRuns Admits and queues a benchmark run against a model or your own endpoint, and answers 202 with the receipt.

Admits and queues a benchmark run against a model or your own endpoint, and
answers 202 with the receipt.

It is an ADMISSION, not a result: the work is done by the harness afterwards and
the numbers appear on the leaderboard as it completes them.

Cost is bounded by the store rather than by a quota: attempts are append-only and
keyed by (benchmark, item, model), so an (item, model) pair already attempted is
skipped instead of re-spent, and re-queuing the same run is close to free.

Validation is up front and total — a request with neither model nor endpoint is a
400, one with no benchmarks is a 400, and any benchmark id outside the catalog is
a 422 naming exactly which ids were unknown, so a typo never silently queues a
partial run.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIPostBenchmarkRunsRequest
*/
func (a *BenchmarkAPIService) PostBenchmarkRuns(ctx context.Context) BenchmarkAPIPostBenchmarkRunsRequest {
	return BenchmarkAPIPostBenchmarkRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Admission
func (a *BenchmarkAPIService) PostBenchmarkRunsExecute(r BenchmarkAPIPostBenchmarkRunsRequest) (*Admission, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Admission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.PostBenchmarkRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suite == nil {
		return localVarReturnValue, nil, reportError("suite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
