/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// KmsAuditLogsAPIService KmsAuditLogsAPI service
type KmsAuditLogsAPIService service

type KmsAuditLogsAPIKmsListAuditLogsRequest struct {
	ctx         context.Context
	ApiService  *KmsAuditLogsAPIService
	workspaceId *string
	eventType   *string
	actor       *string
	offset      *int32
	limit       *int32
}

func (r KmsAuditLogsAPIKmsListAuditLogsRequest) WorkspaceId(workspaceId string) KmsAuditLogsAPIKmsListAuditLogsRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r KmsAuditLogsAPIKmsListAuditLogsRequest) EventType(eventType string) KmsAuditLogsAPIKmsListAuditLogsRequest {
	r.eventType = &eventType
	return r
}

func (r KmsAuditLogsAPIKmsListAuditLogsRequest) Actor(actor string) KmsAuditLogsAPIKmsListAuditLogsRequest {
	r.actor = &actor
	return r
}

func (r KmsAuditLogsAPIKmsListAuditLogsRequest) Offset(offset int32) KmsAuditLogsAPIKmsListAuditLogsRequest {
	r.offset = &offset
	return r
}

func (r KmsAuditLogsAPIKmsListAuditLogsRequest) Limit(limit int32) KmsAuditLogsAPIKmsListAuditLogsRequest {
	r.limit = &limit
	return r
}

func (r KmsAuditLogsAPIKmsListAuditLogsRequest) Execute() (*KmsListAuditLogs200Response, *http.Response, error) {
	return r.ApiService.KmsListAuditLogsExecute(r)
}

/*
KmsListAuditLogs List audit log events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return KmsAuditLogsAPIKmsListAuditLogsRequest
*/
func (a *KmsAuditLogsAPIService) KmsListAuditLogs(ctx context.Context) KmsAuditLogsAPIKmsListAuditLogsRequest {
	return KmsAuditLogsAPIKmsListAuditLogsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KmsListAuditLogs200Response
func (a *KmsAuditLogsAPIService) KmsListAuditLogsExecute(r KmsAuditLogsAPIKmsListAuditLogsRequest) (*KmsListAuditLogs200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *KmsListAuditLogs200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KmsAuditLogsAPIService.KmsListAuditLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/kms/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.workspaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspaceId", r.workspaceId, "form", "")
	}
	if r.eventType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventType", r.eventType, "form", "")
	}
	if r.actor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor", r.actor, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
