/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ConnectionAPIAPIService ConnectionAPIAPI service
type ConnectionAPIAPIService service

type ConnectionAPIAPICloudApiControllerAddConnectionRequest struct {
	ctx                   context.Context
	ApiService            *ConnectionAPIAPIService
	cloudObjectConnection *CloudObjectConnection
}

// The connection object
func (r ConnectionAPIAPICloudApiControllerAddConnectionRequest) CloudObjectConnection(cloudObjectConnection CloudObjectConnection) ConnectionAPIAPICloudApiControllerAddConnectionRequest {
	r.cloudObjectConnection = &cloudObjectConnection
	return r
}

func (r ConnectionAPIAPICloudApiControllerAddConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddConnectionExecute(r)
}

/*
CloudApiControllerAddConnection Api Controller Add Connection

add connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerAddConnectionRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerAddConnection(ctx context.Context) ConnectionAPIAPICloudApiControllerAddConnectionRequest {
	return ConnectionAPIAPICloudApiControllerAddConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ConnectionAPIAPIService) CloudApiControllerAddConnectionExecute(r ConnectionAPIAPICloudApiControllerAddConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerAddConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudObjectConnection == nil {
		return localVarReturnValue, nil, reportError("cloudObjectConnection is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectConnection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectionAPIAPICloudApiControllerAddNodeTunnelRequest struct {
	ctx        context.Context
	ApiService *ConnectionAPIAPIService
	nodeId     *string
}

// The id of node
func (r ConnectionAPIAPICloudApiControllerAddNodeTunnelRequest) NodeId(nodeId string) ConnectionAPIAPICloudApiControllerAddNodeTunnelRequest {
	r.nodeId = &nodeId
	return r
}

func (r ConnectionAPIAPICloudApiControllerAddNodeTunnelRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerAddNodeTunnelExecute(r)
}

/*
CloudApiControllerAddNodeTunnel Api Controller Add Node Tunnel

add node tunnel session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerAddNodeTunnelRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerAddNodeTunnel(ctx context.Context) ConnectionAPIAPICloudApiControllerAddNodeTunnelRequest {
	return ConnectionAPIAPICloudApiControllerAddNodeTunnelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ConnectionAPIAPIService) CloudApiControllerAddNodeTunnelExecute(r ConnectionAPIAPICloudApiControllerAddNodeTunnelRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerAddNodeTunnel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/add-node-tunnel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nodeId == nil {
		return localVarReturnValue, nil, reportError("nodeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "nodeId", r.nodeId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectionAPIAPICloudApiControllerDeleteConnectionRequest struct {
	ctx                   context.Context
	ApiService            *ConnectionAPIAPIService
	id                    *string
	cloudObjectConnection *CloudObjectConnection
}

// The id of connection
func (r ConnectionAPIAPICloudApiControllerDeleteConnectionRequest) Id(id string) ConnectionAPIAPICloudApiControllerDeleteConnectionRequest {
	r.id = &id
	return r
}

// The connection to delete (handler binds object.Connection; owner and name identify it).
func (r ConnectionAPIAPICloudApiControllerDeleteConnectionRequest) CloudObjectConnection(cloudObjectConnection CloudObjectConnection) ConnectionAPIAPICloudApiControllerDeleteConnectionRequest {
	r.cloudObjectConnection = &cloudObjectConnection
	return r
}

func (r ConnectionAPIAPICloudApiControllerDeleteConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerDeleteConnectionExecute(r)
}

/*
CloudApiControllerDeleteConnection Api Controller Delete Connection

delete connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerDeleteConnectionRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerDeleteConnection(ctx context.Context) ConnectionAPIAPICloudApiControllerDeleteConnectionRequest {
	return ConnectionAPIAPICloudApiControllerDeleteConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ConnectionAPIAPIService) CloudApiControllerDeleteConnectionExecute(r ConnectionAPIAPICloudApiControllerDeleteConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerDeleteConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/delete-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.cloudObjectConnection == nil {
		return localVarReturnValue, nil, reportError("cloudObjectConnection is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectConnection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectionAPIAPICloudApiControllerGetConnectionRequest struct {
	ctx        context.Context
	ApiService *ConnectionAPIAPIService
	id         *string
}

// The id of connection
func (r ConnectionAPIAPICloudApiControllerGetConnectionRequest) Id(id string) ConnectionAPIAPICloudApiControllerGetConnectionRequest {
	r.id = &id
	return r
}

func (r ConnectionAPIAPICloudApiControllerGetConnectionRequest) Execute() (*CloudObjectConnection, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetConnectionExecute(r)
}

/*
CloudApiControllerGetConnection Api Controller Get Connection

get connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerGetConnectionRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerGetConnection(ctx context.Context) ConnectionAPIAPICloudApiControllerGetConnectionRequest {
	return ConnectionAPIAPICloudApiControllerGetConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudObjectConnection
func (a *ConnectionAPIAPIService) CloudApiControllerGetConnectionExecute(r ConnectionAPIAPICloudApiControllerGetConnectionRequest) (*CloudObjectConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudObjectConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerGetConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectionAPIAPICloudApiControllerGetConnectionsRequest struct {
	ctx        context.Context
	ApiService *ConnectionAPIAPIService
	pageSize   *string
	p          *string
}

// The size of each page
func (r ConnectionAPIAPICloudApiControllerGetConnectionsRequest) PageSize(pageSize string) ConnectionAPIAPICloudApiControllerGetConnectionsRequest {
	r.pageSize = &pageSize
	return r
}

// The number of the page
func (r ConnectionAPIAPICloudApiControllerGetConnectionsRequest) P(p string) ConnectionAPIAPICloudApiControllerGetConnectionsRequest {
	r.p = &p
	return r
}

func (r ConnectionAPIAPICloudApiControllerGetConnectionsRequest) Execute() (*CloudObjectConnection, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetConnectionsExecute(r)
}

/*
CloudApiControllerGetConnections Api Controller Get Connections

get all connections

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerGetConnectionsRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerGetConnections(ctx context.Context) ConnectionAPIAPICloudApiControllerGetConnectionsRequest {
	return ConnectionAPIAPICloudApiControllerGetConnectionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudObjectConnection
func (a *ConnectionAPIAPIService) CloudApiControllerGetConnectionsExecute(r ConnectionAPIAPICloudApiControllerGetConnectionsRequest) (*CloudObjectConnection, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudObjectConnection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerGetConnections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-connections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pageSize == nil {
		return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
	}
	if r.p == nil {
		return localVarReturnValue, nil, reportError("p is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest struct {
	ctx          context.Context
	ApiService   *ConnectionAPIAPIService
	width        *string
	height       *string
	dpi          *string
	connectionId *string
	username     *string
	password     *string
}

// The width of the tunnel
func (r ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Width(width string) ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.width = &width
	return r
}

// The height of the tunnel
func (r ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Height(height string) ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.height = &height
	return r
}

// The dpi of the tunnel
func (r ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Dpi(dpi string) ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.dpi = &dpi
	return r
}

// The id of the connectionId
func (r ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) ConnectionId(connectionId string) ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.connectionId = &connectionId
	return r
}

// The username for the tunnel
func (r ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Username(username string) ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.username = &username
	return r
}

// The password for the tunnel
func (r ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Password(password string) ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	r.password = &password
	return r
}

func (r ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerGetNodeTunnelExecute(r)
}

/*
CloudApiControllerGetNodeTunnel Api Controller Get Node Tunnel

get node tunnel session

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerGetNodeTunnel(ctx context.Context) ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest {
	return ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ConnectionAPIAPIService) CloudApiControllerGetNodeTunnelExecute(r ConnectionAPIAPICloudApiControllerGetNodeTunnelRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerGetNodeTunnel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/get-node-tunnel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.width == nil {
		return localVarReturnValue, nil, reportError("width is required and must be specified")
	}
	if r.height == nil {
		return localVarReturnValue, nil, reportError("height is required and must be specified")
	}
	if r.dpi == nil {
		return localVarReturnValue, nil, reportError("dpi is required and must be specified")
	}
	if r.connectionId == nil {
		return localVarReturnValue, nil, reportError("connectionId is required and must be specified")
	}
	if r.username == nil {
		return localVarReturnValue, nil, reportError("username is required and must be specified")
	}
	if r.password == nil {
		return localVarReturnValue, nil, reportError("password is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "height", r.height, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "dpi", r.dpi, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "connectionId", r.connectionId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "username", r.username, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "password", r.password, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectionAPIAPICloudApiControllerStartConnectionRequest struct {
	ctx        context.Context
	ApiService *ConnectionAPIAPIService
	id         *string
}

// The id of connection
func (r ConnectionAPIAPICloudApiControllerStartConnectionRequest) Id(id string) ConnectionAPIAPICloudApiControllerStartConnectionRequest {
	r.id = &id
	return r
}

func (r ConnectionAPIAPICloudApiControllerStartConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerStartConnectionExecute(r)
}

/*
CloudApiControllerStartConnection Api Controller Start Connection

start connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerStartConnectionRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerStartConnection(ctx context.Context) ConnectionAPIAPICloudApiControllerStartConnectionRequest {
	return ConnectionAPIAPICloudApiControllerStartConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ConnectionAPIAPIService) CloudApiControllerStartConnectionExecute(r ConnectionAPIAPICloudApiControllerStartConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerStartConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/start-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectionAPIAPICloudApiControllerStopConnectionRequest struct {
	ctx        context.Context
	ApiService *ConnectionAPIAPIService
	id         *string
}

// The id of connection
func (r ConnectionAPIAPICloudApiControllerStopConnectionRequest) Id(id string) ConnectionAPIAPICloudApiControllerStopConnectionRequest {
	r.id = &id
	return r
}

func (r ConnectionAPIAPICloudApiControllerStopConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerStopConnectionExecute(r)
}

/*
CloudApiControllerStopConnection Api Controller Stop Connection

stop connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerStopConnectionRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerStopConnection(ctx context.Context) ConnectionAPIAPICloudApiControllerStopConnectionRequest {
	return ConnectionAPIAPICloudApiControllerStopConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ConnectionAPIAPIService) CloudApiControllerStopConnectionExecute(r ConnectionAPIAPICloudApiControllerStopConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerStopConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/stop-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConnectionAPIAPICloudApiControllerUpdateConnectionRequest struct {
	ctx                   context.Context
	ApiService            *ConnectionAPIAPIService
	id                    *string
	cloudObjectConnection *CloudObjectConnection
}

// The id of connection
func (r ConnectionAPIAPICloudApiControllerUpdateConnectionRequest) Id(id string) ConnectionAPIAPICloudApiControllerUpdateConnectionRequest {
	r.id = &id
	return r
}

// The connection object
func (r ConnectionAPIAPICloudApiControllerUpdateConnectionRequest) CloudObjectConnection(cloudObjectConnection CloudObjectConnection) ConnectionAPIAPICloudApiControllerUpdateConnectionRequest {
	r.cloudObjectConnection = &cloudObjectConnection
	return r
}

func (r ConnectionAPIAPICloudApiControllerUpdateConnectionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloudApiControllerUpdateConnectionExecute(r)
}

/*
CloudApiControllerUpdateConnection Api Controller Update Connection

update connection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ConnectionAPIAPICloudApiControllerUpdateConnectionRequest
*/
func (a *ConnectionAPIAPIService) CloudApiControllerUpdateConnection(ctx context.Context) ConnectionAPIAPICloudApiControllerUpdateConnectionRequest {
	return ConnectionAPIAPICloudApiControllerUpdateConnectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ConnectionAPIAPIService) CloudApiControllerUpdateConnectionExecute(r ConnectionAPIAPICloudApiControllerUpdateConnectionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionAPIAPIService.CloudApiControllerUpdateConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cloud/update-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}
	if r.cloudObjectConnection == nil {
		return localVarReturnValue, nil, reportError("cloudObjectConnection is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudObjectConnection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
