/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// AnalyticsReportsAPIService AnalyticsReportsAPI service
type AnalyticsReportsAPIService service

type AnalyticsReportsAPIAnalyticsCreateReportRequest struct {
	ctx                          context.Context
	ApiService                   *AnalyticsReportsAPIService
	analyticsCreateReportRequest *AnalyticsCreateReportRequest
}

func (r AnalyticsReportsAPIAnalyticsCreateReportRequest) AnalyticsCreateReportRequest(analyticsCreateReportRequest AnalyticsCreateReportRequest) AnalyticsReportsAPIAnalyticsCreateReportRequest {
	r.analyticsCreateReportRequest = &analyticsCreateReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsCreateReportRequest) Execute() (*AnalyticsReport, *http.Response, error) {
	return r.ApiService.AnalyticsCreateReportExecute(r)
}

/*
AnalyticsCreateReport Create a new report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsCreateReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsCreateReport(ctx context.Context) AnalyticsReportsAPIAnalyticsCreateReportRequest {
	return AnalyticsReportsAPIAnalyticsCreateReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AnalyticsReport
func (a *AnalyticsReportsAPIService) AnalyticsCreateReportExecute(r AnalyticsReportsAPIAnalyticsCreateReportRequest) (*AnalyticsReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsCreateReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsCreateReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsCreateReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsCreateReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsDeleteReportRequest struct {
	ctx        context.Context
	ApiService *AnalyticsReportsAPIService
	reportId   string
}

func (r AnalyticsReportsAPIAnalyticsDeleteReportRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsDeleteReportExecute(r)
}

/*
AnalyticsDeleteReport Delete a report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reportId
	@return AnalyticsReportsAPIAnalyticsDeleteReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsDeleteReport(ctx context.Context, reportId string) AnalyticsReportsAPIAnalyticsDeleteReportRequest {
	return AnalyticsReportsAPIAnalyticsDeleteReportRequest{
		ApiService: a,
		ctx:        ctx,
		reportId:   reportId,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsDeleteReportExecute(r AnalyticsReportsAPIAnalyticsDeleteReportRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsDeleteReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/{reportId}"
	localVarPath = strings.Replace(localVarPath, "{"+"reportId"+"}", url.PathEscape(parameterValueToString(r.reportId, "reportId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsGetReportRequest struct {
	ctx        context.Context
	ApiService *AnalyticsReportsAPIService
	reportId   string
}

func (r AnalyticsReportsAPIAnalyticsGetReportRequest) Execute() (*AnalyticsReport, *http.Response, error) {
	return r.ApiService.AnalyticsGetReportExecute(r)
}

/*
AnalyticsGetReport Get a report by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reportId
	@return AnalyticsReportsAPIAnalyticsGetReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsGetReport(ctx context.Context, reportId string) AnalyticsReportsAPIAnalyticsGetReportRequest {
	return AnalyticsReportsAPIAnalyticsGetReportRequest{
		ApiService: a,
		ctx:        ctx,
		reportId:   reportId,
	}
}

// Execute executes the request
//
//	@return AnalyticsReport
func (a *AnalyticsReportsAPIService) AnalyticsGetReportExecute(r AnalyticsReportsAPIAnalyticsGetReportRequest) (*AnalyticsReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsGetReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/{reportId}"
	localVarPath = strings.Replace(localVarPath, "{"+"reportId"+"}", url.PathEscape(parameterValueToString(r.reportId, "reportId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest struct {
	ctx        context.Context
	ApiService *AnalyticsReportsAPIService
	websiteId  *string
	startDate  *time.Time
	endDate    *time.Time
}

func (r AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest) WebsiteId(websiteId string) AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest {
	r.websiteId = &websiteId
	return r
}

func (r AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest) StartDate(startDate time.Time) AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest {
	r.startDate = &startDate
	return r
}

func (r AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest) EndDate(endDate time.Time) AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest {
	r.endDate = &endDate
	return r
}

func (r AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsGetRevenueValuesExecute(r)
}

/*
AnalyticsGetRevenueValues Get available revenue values for a website

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsGetRevenueValues(ctx context.Context) AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest {
	return AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsGetRevenueValuesExecute(r AnalyticsReportsAPIAnalyticsGetRevenueValuesRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsGetRevenueValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/revenue"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.websiteId == nil {
		return localVarReturnValue, nil, reportError("websiteId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, reportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "websiteId", r.websiteId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsReportsAPIService
	websiteId  string
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

func (r AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest) Page(page int32) AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest {
	r.page = &page
	return r
}

func (r AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest) PageSize(pageSize int32) AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest) OrderBy(orderBy string) AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest) Search(search string) AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest {
	r.search = &search
	return r
}

func (r AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest) Execute() ([]AnalyticsReport, *http.Response, error) {
	return r.ApiService.AnalyticsGetWebsiteReportsExecute(r)
}

/*
AnalyticsGetWebsiteReports List reports for a specific website

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param websiteId
	@return AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsGetWebsiteReports(ctx context.Context, websiteId string) AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest {
	return AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest{
		ApiService: a,
		ctx:        ctx,
		websiteId:  websiteId,
	}
}

// Execute executes the request
//
//	@return []AnalyticsReport
func (a *AnalyticsReportsAPIService) AnalyticsGetWebsiteReportsExecute(r AnalyticsReportsAPIAnalyticsGetWebsiteReportsRequest) ([]AnalyticsReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsGetWebsiteReports")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/websites/{websiteId}/reports"
	localVarPath = strings.Replace(localVarPath, "{"+"websiteId"+"}", url.PathEscape(parameterValueToString(r.websiteId, "websiteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsListReportsRequest struct {
	ctx        context.Context
	ApiService *AnalyticsReportsAPIService
	websiteId  *string
	teamId     *string
	page       *int32
	pageSize   *int32
	orderBy    *string
	search     *string
}

func (r AnalyticsReportsAPIAnalyticsListReportsRequest) WebsiteId(websiteId string) AnalyticsReportsAPIAnalyticsListReportsRequest {
	r.websiteId = &websiteId
	return r
}

func (r AnalyticsReportsAPIAnalyticsListReportsRequest) TeamId(teamId string) AnalyticsReportsAPIAnalyticsListReportsRequest {
	r.teamId = &teamId
	return r
}

func (r AnalyticsReportsAPIAnalyticsListReportsRequest) Page(page int32) AnalyticsReportsAPIAnalyticsListReportsRequest {
	r.page = &page
	return r
}

func (r AnalyticsReportsAPIAnalyticsListReportsRequest) PageSize(pageSize int32) AnalyticsReportsAPIAnalyticsListReportsRequest {
	r.pageSize = &pageSize
	return r
}

func (r AnalyticsReportsAPIAnalyticsListReportsRequest) OrderBy(orderBy string) AnalyticsReportsAPIAnalyticsListReportsRequest {
	r.orderBy = &orderBy
	return r
}

func (r AnalyticsReportsAPIAnalyticsListReportsRequest) Search(search string) AnalyticsReportsAPIAnalyticsListReportsRequest {
	r.search = &search
	return r
}

func (r AnalyticsReportsAPIAnalyticsListReportsRequest) Execute() ([]AnalyticsReport, *http.Response, error) {
	return r.ApiService.AnalyticsListReportsExecute(r)
}

/*
AnalyticsListReports List reports, optionally filtered by website or team

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsListReportsRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsListReports(ctx context.Context) AnalyticsReportsAPIAnalyticsListReportsRequest {
	return AnalyticsReportsAPIAnalyticsListReportsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AnalyticsReport
func (a *AnalyticsReportsAPIService) AnalyticsListReportsExecute(r AnalyticsReportsAPIAnalyticsListReportsRequest) ([]AnalyticsReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AnalyticsReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsListReports")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.websiteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "websiteId", r.websiteId, "form", "")
	}
	if r.teamId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "teamId", r.teamId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsRunAttributionReportRequest struct {
	ctx                                  context.Context
	ApiService                           *AnalyticsReportsAPIService
	analyticsRunAttributionReportRequest *AnalyticsRunAttributionReportRequest
}

func (r AnalyticsReportsAPIAnalyticsRunAttributionReportRequest) AnalyticsRunAttributionReportRequest(analyticsRunAttributionReportRequest AnalyticsRunAttributionReportRequest) AnalyticsReportsAPIAnalyticsRunAttributionReportRequest {
	r.analyticsRunAttributionReportRequest = &analyticsRunAttributionReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsRunAttributionReportRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsRunAttributionReportExecute(r)
}

/*
AnalyticsRunAttributionReport Run an attribution report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsRunAttributionReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsRunAttributionReport(ctx context.Context) AnalyticsReportsAPIAnalyticsRunAttributionReportRequest {
	return AnalyticsReportsAPIAnalyticsRunAttributionReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsRunAttributionReportExecute(r AnalyticsReportsAPIAnalyticsRunAttributionReportRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsRunAttributionReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/attribution"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRunAttributionReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsRunAttributionReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRunAttributionReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsRunFunnelReportRequest struct {
	ctx                             context.Context
	ApiService                      *AnalyticsReportsAPIService
	analyticsRunFunnelReportRequest *AnalyticsRunFunnelReportRequest
}

func (r AnalyticsReportsAPIAnalyticsRunFunnelReportRequest) AnalyticsRunFunnelReportRequest(analyticsRunFunnelReportRequest AnalyticsRunFunnelReportRequest) AnalyticsReportsAPIAnalyticsRunFunnelReportRequest {
	r.analyticsRunFunnelReportRequest = &analyticsRunFunnelReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsRunFunnelReportRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsRunFunnelReportExecute(r)
}

/*
AnalyticsRunFunnelReport Run a funnel report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsRunFunnelReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsRunFunnelReport(ctx context.Context) AnalyticsReportsAPIAnalyticsRunFunnelReportRequest {
	return AnalyticsReportsAPIAnalyticsRunFunnelReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsRunFunnelReportExecute(r AnalyticsReportsAPIAnalyticsRunFunnelReportRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsRunFunnelReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/funnel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRunFunnelReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsRunFunnelReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRunFunnelReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsRunGoalsReportRequest struct {
	ctx                            context.Context
	ApiService                     *AnalyticsReportsAPIService
	analyticsRunGoalsReportRequest *AnalyticsRunGoalsReportRequest
}

func (r AnalyticsReportsAPIAnalyticsRunGoalsReportRequest) AnalyticsRunGoalsReportRequest(analyticsRunGoalsReportRequest AnalyticsRunGoalsReportRequest) AnalyticsReportsAPIAnalyticsRunGoalsReportRequest {
	r.analyticsRunGoalsReportRequest = &analyticsRunGoalsReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsRunGoalsReportRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsRunGoalsReportExecute(r)
}

/*
AnalyticsRunGoalsReport Run a goals report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsRunGoalsReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsRunGoalsReport(ctx context.Context) AnalyticsReportsAPIAnalyticsRunGoalsReportRequest {
	return AnalyticsReportsAPIAnalyticsRunGoalsReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsRunGoalsReportExecute(r AnalyticsReportsAPIAnalyticsRunGoalsReportRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsRunGoalsReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/goals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRunGoalsReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsRunGoalsReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRunGoalsReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsRunInsightsReportRequest struct {
	ctx                               context.Context
	ApiService                        *AnalyticsReportsAPIService
	analyticsRunInsightsReportRequest *AnalyticsRunInsightsReportRequest
}

func (r AnalyticsReportsAPIAnalyticsRunInsightsReportRequest) AnalyticsRunInsightsReportRequest(analyticsRunInsightsReportRequest AnalyticsRunInsightsReportRequest) AnalyticsReportsAPIAnalyticsRunInsightsReportRequest {
	r.analyticsRunInsightsReportRequest = &analyticsRunInsightsReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsRunInsightsReportRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsRunInsightsReportExecute(r)
}

/*
AnalyticsRunInsightsReport Run an insights report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsRunInsightsReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsRunInsightsReport(ctx context.Context) AnalyticsReportsAPIAnalyticsRunInsightsReportRequest {
	return AnalyticsReportsAPIAnalyticsRunInsightsReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsRunInsightsReportExecute(r AnalyticsReportsAPIAnalyticsRunInsightsReportRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsRunInsightsReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/insights"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRunInsightsReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsRunInsightsReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRunInsightsReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsRunJourneyReportRequest struct {
	ctx                              context.Context
	ApiService                       *AnalyticsReportsAPIService
	analyticsRunJourneyReportRequest *AnalyticsRunJourneyReportRequest
}

func (r AnalyticsReportsAPIAnalyticsRunJourneyReportRequest) AnalyticsRunJourneyReportRequest(analyticsRunJourneyReportRequest AnalyticsRunJourneyReportRequest) AnalyticsReportsAPIAnalyticsRunJourneyReportRequest {
	r.analyticsRunJourneyReportRequest = &analyticsRunJourneyReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsRunJourneyReportRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsRunJourneyReportExecute(r)
}

/*
AnalyticsRunJourneyReport Run a user journey report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsRunJourneyReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsRunJourneyReport(ctx context.Context) AnalyticsReportsAPIAnalyticsRunJourneyReportRequest {
	return AnalyticsReportsAPIAnalyticsRunJourneyReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsRunJourneyReportExecute(r AnalyticsReportsAPIAnalyticsRunJourneyReportRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsRunJourneyReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/journey"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRunJourneyReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsRunJourneyReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRunJourneyReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsRunRetentionReportRequest struct {
	ctx                                context.Context
	ApiService                         *AnalyticsReportsAPIService
	analyticsRunRetentionReportRequest *AnalyticsRunRetentionReportRequest
}

func (r AnalyticsReportsAPIAnalyticsRunRetentionReportRequest) AnalyticsRunRetentionReportRequest(analyticsRunRetentionReportRequest AnalyticsRunRetentionReportRequest) AnalyticsReportsAPIAnalyticsRunRetentionReportRequest {
	r.analyticsRunRetentionReportRequest = &analyticsRunRetentionReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsRunRetentionReportRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsRunRetentionReportExecute(r)
}

/*
AnalyticsRunRetentionReport Run a retention report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsRunRetentionReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsRunRetentionReport(ctx context.Context) AnalyticsReportsAPIAnalyticsRunRetentionReportRequest {
	return AnalyticsReportsAPIAnalyticsRunRetentionReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsRunRetentionReportExecute(r AnalyticsReportsAPIAnalyticsRunRetentionReportRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsRunRetentionReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/retention"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRunRetentionReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsRunRetentionReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRunRetentionReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsRunRevenueReportRequest struct {
	ctx                              context.Context
	ApiService                       *AnalyticsReportsAPIService
	analyticsRunRevenueReportRequest *AnalyticsRunRevenueReportRequest
}

func (r AnalyticsReportsAPIAnalyticsRunRevenueReportRequest) AnalyticsRunRevenueReportRequest(analyticsRunRevenueReportRequest AnalyticsRunRevenueReportRequest) AnalyticsReportsAPIAnalyticsRunRevenueReportRequest {
	r.analyticsRunRevenueReportRequest = &analyticsRunRevenueReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsRunRevenueReportRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsRunRevenueReportExecute(r)
}

/*
AnalyticsRunRevenueReport Run a revenue report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsRunRevenueReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsRunRevenueReport(ctx context.Context) AnalyticsReportsAPIAnalyticsRunRevenueReportRequest {
	return AnalyticsReportsAPIAnalyticsRunRevenueReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsRunRevenueReportExecute(r AnalyticsReportsAPIAnalyticsRunRevenueReportRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsRunRevenueReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/revenue"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRunRevenueReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsRunRevenueReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRunRevenueReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsRunUtmReportRequest struct {
	ctx                          context.Context
	ApiService                   *AnalyticsReportsAPIService
	analyticsRunUtmReportRequest *AnalyticsRunUtmReportRequest
}

func (r AnalyticsReportsAPIAnalyticsRunUtmReportRequest) AnalyticsRunUtmReportRequest(analyticsRunUtmReportRequest AnalyticsRunUtmReportRequest) AnalyticsReportsAPIAnalyticsRunUtmReportRequest {
	r.analyticsRunUtmReportRequest = &analyticsRunUtmReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsRunUtmReportRequest) Execute() ([]map[string]interface{}, *http.Response, error) {
	return r.ApiService.AnalyticsRunUtmReportExecute(r)
}

/*
AnalyticsRunUtmReport Run a UTM report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AnalyticsReportsAPIAnalyticsRunUtmReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsRunUtmReport(ctx context.Context) AnalyticsReportsAPIAnalyticsRunUtmReportRequest {
	return AnalyticsReportsAPIAnalyticsRunUtmReportRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []map[string]interface{}
func (a *AnalyticsReportsAPIService) AnalyticsRunUtmReportExecute(r AnalyticsReportsAPIAnalyticsRunUtmReportRequest) ([]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsRunUtmReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/utm"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRunUtmReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsRunUtmReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRunUtmReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AnalyticsReportsAPIAnalyticsUpdateReportRequest struct {
	ctx                          context.Context
	ApiService                   *AnalyticsReportsAPIService
	reportId                     string
	analyticsCreateReportRequest *AnalyticsCreateReportRequest
}

func (r AnalyticsReportsAPIAnalyticsUpdateReportRequest) AnalyticsCreateReportRequest(analyticsCreateReportRequest AnalyticsCreateReportRequest) AnalyticsReportsAPIAnalyticsUpdateReportRequest {
	r.analyticsCreateReportRequest = &analyticsCreateReportRequest
	return r
}

func (r AnalyticsReportsAPIAnalyticsUpdateReportRequest) Execute() (*AnalyticsReport, *http.Response, error) {
	return r.ApiService.AnalyticsUpdateReportExecute(r)
}

/*
AnalyticsUpdateReport Update a report

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param reportId
	@return AnalyticsReportsAPIAnalyticsUpdateReportRequest
*/
func (a *AnalyticsReportsAPIService) AnalyticsUpdateReport(ctx context.Context, reportId string) AnalyticsReportsAPIAnalyticsUpdateReportRequest {
	return AnalyticsReportsAPIAnalyticsUpdateReportRequest{
		ApiService: a,
		ctx:        ctx,
		reportId:   reportId,
	}
}

// Execute executes the request
//
//	@return AnalyticsReport
func (a *AnalyticsReportsAPIService) AnalyticsUpdateReportExecute(r AnalyticsReportsAPIAnalyticsUpdateReportRequest) (*AnalyticsReport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsReport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsReportsAPIService.AnalyticsUpdateReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/reports/{reportId}"
	localVarPath = strings.Replace(localVarPath, "{"+"reportId"+"}", url.PathEscape(parameterValueToString(r.reportId, "reportId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsCreateReportRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsCreateReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsCreateReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
