/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// OrgsAPIService OrgsAPI service
type OrgsAPIService service

type OrgsAPIGetOrgsByOrgEntitlementsRequest struct {
	ctx        context.Context
	ApiService *OrgsAPIService
	org        string
}

func (r OrgsAPIGetOrgsByOrgEntitlementsRequest) Execute() (*EntitlementsView, *http.Response, error) {
	return r.ApiService.GetOrgsByOrgEntitlementsExecute(r)
}

/*
GetOrgsByOrgEntitlements Get lists the products an org has ENABLED — its own intent, which the console's paid-product sidebar reads to decide what to show.

Get lists the products an org has ENABLED — its own intent, which the console's
paid-product sidebar reads to decide what to show. It is distinct from what the
org's plan ENTITLES it to (that is GET /v1/entitlements, resolved from commerce).

A caller may only read its OWN org's row; a platform super admin may read any.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@return OrgsAPIGetOrgsByOrgEntitlementsRequest
*/
func (a *OrgsAPIService) GetOrgsByOrgEntitlements(ctx context.Context, org string) OrgsAPIGetOrgsByOrgEntitlementsRequest {
	return OrgsAPIGetOrgsByOrgEntitlementsRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return EntitlementsView
func (a *OrgsAPIService) GetOrgsByOrgEntitlementsExecute(r OrgsAPIGetOrgsByOrgEntitlementsRequest) (*EntitlementsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EntitlementsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsAPIService.GetOrgsByOrgEntitlements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/orgs/{org}/entitlements"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrgsAPIPostOrgsRequest struct {
	ctx        context.Context
	ApiService *OrgsAPIService
	onboardReq *OnboardReq
}

func (r OrgsAPIPostOrgsRequest) OnboardReq(onboardReq OnboardReq) OrgsAPIPostOrgsRequest {
	r.onboardReq = &onboardReq
	return r
}

func (r OrgsAPIPostOrgsRequest) Execute() (*OnboardResp, *http.Response, error) {
	return r.ApiService.PostOrgsExecute(r)
}

/*
PostOrgs Onboard creates the caller's organization.

Onboard creates the caller's organization. Two flows, keyed on whether the caller
already has a home org (mirrors app/onboard/route.ts):

  - FIRST-RUN (no home org): create + MOVE the user in as admin, so their next
    JWT carries the new owner and the cloud scopes everything to it. This is the
    path a fresh OAuth sign-up takes, from the sign-up application's org.

  - ADDITIONAL (owner set): create the org but do NOT move the user — a move
    changes their IAM owner (stripping a SuperAdmin's status + orphaning their
    current org). They reach the new org via the OrgSwitcher, which re-scopes
    X-Org-Id without touching IAM membership. A personal-org request from someone
    who already has an org is meaningless → 409.

    @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
    @return OrgsAPIPostOrgsRequest
*/
func (a *OrgsAPIService) PostOrgs(ctx context.Context) OrgsAPIPostOrgsRequest {
	return OrgsAPIPostOrgsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OnboardResp
func (a *OrgsAPIService) PostOrgsExecute(r OrgsAPIPostOrgsRequest) (*OnboardResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OnboardResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsAPIService.PostOrgs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/orgs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.onboardReq == nil {
		return localVarReturnValue, nil, reportError("onboardReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.onboardReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrgsAPIPostOrgsByOrgEntitlementsRequest struct {
	ctx        context.Context
	ApiService *OrgsAPIService
	org        string
	mutateReq  *MutateReq
}

func (r OrgsAPIPostOrgsByOrgEntitlementsRequest) MutateReq(mutateReq MutateReq) OrgsAPIPostOrgsByOrgEntitlementsRequest {
	r.mutateReq = &mutateReq
	return r
}

func (r OrgsAPIPostOrgsByOrgEntitlementsRequest) Execute() (*EntitlementsView, *http.Response, error) {
	return r.ApiService.PostOrgsByOrgEntitlementsExecute(r)
}

/*
PostOrgsByOrgEntitlements Post turns products on or off for an org and returns the enabled set afterwards.

Post turns products on or off for an org and returns the enabled set afterwards.

A product may only be ENABLED if the org's plan already ENTITLES it, so enabling
never spends new money — a product the plan does not grant answers 402 and the
console routes that to an upgrade prompt. DISABLING is never gated. A platform
super admin bypasses the plan check (operator comp/grant) and may target any org;
everyone else may only change their own. Commerce unreachable is a 503, never an
implicit yes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org
	@return OrgsAPIPostOrgsByOrgEntitlementsRequest
*/
func (a *OrgsAPIService) PostOrgsByOrgEntitlements(ctx context.Context, org string) OrgsAPIPostOrgsByOrgEntitlementsRequest {
	return OrgsAPIPostOrgsByOrgEntitlementsRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return EntitlementsView
func (a *OrgsAPIService) PostOrgsByOrgEntitlementsExecute(r OrgsAPIPostOrgsByOrgEntitlementsRequest) (*EntitlementsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EntitlementsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsAPIService.PostOrgsByOrgEntitlements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/orgs/{org}/entitlements"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mutateReq == nil {
		return localVarReturnValue, nil, reportError("mutateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mutateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
