/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// LeaderboardAPIService LeaderboardAPI service
type LeaderboardAPIService service

type LeaderboardAPIGetLeaderboardRequest struct {
	ctx        context.Context
	ApiService *LeaderboardAPIService
	scope      *string
	metric     *string
	period     *string
	limit      *int32
}

// Scope picks the board: \&quot;personal\&quot; (default) ranks the caller among their own org&#39;s users, \&quot;org\&quot; is that same org board named for an admin, \&quot;global\&quot; ranks organizations against each other.
func (r LeaderboardAPIGetLeaderboardRequest) Scope(scope string) LeaderboardAPIGetLeaderboardRequest {
	r.scope = &scope
	return r
}

// Metric is the value ranked: tokens (default), requests, or cost.
func (r LeaderboardAPIGetLeaderboardRequest) Metric(metric string) LeaderboardAPIGetLeaderboardRequest {
	r.metric = &metric
	return r
}

// Period is the window ranked: day, week, month (default) or all.
func (r LeaderboardAPIGetLeaderboardRequest) Period(period string) LeaderboardAPIGetLeaderboardRequest {
	r.period = &period
	return r
}

// Limit caps the rows returned, clamped to 100. Defaults to 10, which is also what a non-positive or unparseable value takes.
func (r LeaderboardAPIGetLeaderboardRequest) Limit(limit int32) LeaderboardAPIGetLeaderboardRequest {
	r.limit = &limit
	return r
}

func (r LeaderboardAPIGetLeaderboardRequest) Execute() (*LeaderboardView, *http.Response, error) {
	return r.ApiService.GetLeaderboardExecute(r)
}

/*
GetLeaderboard Leaderboard ranks AI usage over a window, either the users of the caller's own org or organizations against each other, and always reports the caller's own standing even when it falls outside the returned page.

Leaderboard ranks AI usage over a window, either the users of the caller's own org
or organizations against each other, and always reports the caller's own standing
even when it falls outside the returned page. Identities are private by default: a
caller sees themselves, plus the peers or orgs that opted into public listing, and
only an admin sees their own org's members named. Cross-org spend is restricted to
platform admins. When the warehouse is not connected the board answers empty with
available=false rather than a fabricated rank.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LeaderboardAPIGetLeaderboardRequest
*/
func (a *LeaderboardAPIService) GetLeaderboard(ctx context.Context) LeaderboardAPIGetLeaderboardRequest {
	return LeaderboardAPIGetLeaderboardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LeaderboardView
func (a *LeaderboardAPIService) GetLeaderboardExecute(r LeaderboardAPIGetLeaderboardRequest) (*LeaderboardView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LeaderboardView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LeaderboardAPIService.GetLeaderboard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/leaderboard"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.metric != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric", r.metric, "form", "")
	}
	if r.period != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period", r.period, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LeaderboardAPIGetLeaderboardActivityRequest struct {
	ctx        context.Context
	ApiService *LeaderboardAPIService
	subject    *string
	id         *string
	from       *string
	to         *string
}

// Subject is what the series is about: \&quot;user\&quot; (default), \&quot;org\&quot; or \&quot;project\&quot;.
func (r LeaderboardAPIGetLeaderboardActivityRequest) Subject(subject string) LeaderboardAPIGetLeaderboardActivityRequest {
	r.subject = &subject
	return r
}

// ID names the subject within what the caller is entitled to see. Omitted (or \&quot;me\&quot;) it is the caller themselves, or their own org. Another user requires org admin and must belong to the caller&#39;s org; another org requires a SuperAdmin.
func (r LeaderboardAPIGetLeaderboardActivityRequest) Id(id string) LeaderboardAPIGetLeaderboardActivityRequest {
	r.id = &id
	return r
}

// From is the first day of the range, \&quot;2006-01-02\&quot;. Defaults to 90 days back.
func (r LeaderboardAPIGetLeaderboardActivityRequest) From(from string) LeaderboardAPIGetLeaderboardActivityRequest {
	r.from = &from
	return r
}

// To is the last day of the range, \&quot;2006-01-02\&quot;. Defaults to today; the span is clamped to 366 days.
func (r LeaderboardAPIGetLeaderboardActivityRequest) To(to string) LeaderboardAPIGetLeaderboardActivityRequest {
	r.to = &to
	return r
}

func (r LeaderboardAPIGetLeaderboardActivityRequest) Execute() (*ActivityView, *http.Response, error) {
	return r.ApiService.GetLeaderboardActivityExecute(r)
}

/*
GetLeaderboardActivity Activity returns the per-day usage series for ONE authorized subject — the points a contribution heatmap and a timeline are drawn from, gap-filled so every day in the range is present.

Activity returns the per-day usage series for ONE authorized subject — the points a
contribution heatmap and a timeline are drawn from, gap-filled so every day in the
range is present. Authorization is resolved server-side from the validated
principal, so a caller can never widen the subject past what they are entitled to:
a non-admin reads only themselves and their own org. subject=project answers empty
with a note, because the usage ledger records no project column yet. When the
warehouse is not connected the series answers empty with available=false rather
than fabricated days.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LeaderboardAPIGetLeaderboardActivityRequest
*/
func (a *LeaderboardAPIService) GetLeaderboardActivity(ctx context.Context) LeaderboardAPIGetLeaderboardActivityRequest {
	return LeaderboardAPIGetLeaderboardActivityRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ActivityView
func (a *LeaderboardAPIService) GetLeaderboardActivityExecute(r LeaderboardAPIGetLeaderboardActivityRequest) (*ActivityView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ActivityView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LeaderboardAPIService.GetLeaderboardActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/leaderboard/activity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.subject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject", r.subject, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LeaderboardAPIGetLeaderboardOptinRequest struct {
	ctx        context.Context
	ApiService *LeaderboardAPIService
}

func (r LeaderboardAPIGetLeaderboardOptinRequest) Execute() (*OptinView, *http.Response, error) {
	return r.ApiService.GetLeaderboardOptinExecute(r)
}

/*
GetLeaderboardOptin Returns the caller's own public-listing preference and their org's, each with whether the caller may change it.

Returns the caller's own public-listing preference and their org's,
each with whether the caller may change it. Public listing is opt-in and private
by default, so a fresh caller reads listed=false for both.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LeaderboardAPIGetLeaderboardOptinRequest
*/
func (a *LeaderboardAPIService) GetLeaderboardOptin(ctx context.Context) LeaderboardAPIGetLeaderboardOptinRequest {
	return LeaderboardAPIGetLeaderboardOptinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OptinView
func (a *LeaderboardAPIService) GetLeaderboardOptinExecute(r LeaderboardAPIGetLeaderboardOptinRequest) (*OptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LeaderboardAPIService.GetLeaderboardOptin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/leaderboard/optin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LeaderboardAPIPutLeaderboardOptinRequest struct {
	ctx          context.Context
	ApiService   *LeaderboardAPIService
	userOptinReq *UserOptinReq
}

func (r LeaderboardAPIPutLeaderboardOptinRequest) UserOptinReq(userOptinReq UserOptinReq) LeaderboardAPIPutLeaderboardOptinRequest {
	r.userOptinReq = &userOptinReq
	return r
}

func (r LeaderboardAPIPutLeaderboardOptinRequest) Execute() (*UserOptinView, *http.Response, error) {
	return r.ApiService.PutLeaderboardOptinExecute(r)
}

/*
PutLeaderboardOptin Sets the CALLER's own public-listing preference on the leaderboard.

Sets the CALLER's own public-listing preference on the leaderboard.
Self only: the row written is keyed by the caller's validated ledger identity, so
this can never edit another member's visibility whatever the request says. A
caller opting in with no handle is given their username, so a listed row never
renders as "Anonymous" to its own owner.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LeaderboardAPIPutLeaderboardOptinRequest
*/
func (a *LeaderboardAPIService) PutLeaderboardOptin(ctx context.Context) LeaderboardAPIPutLeaderboardOptinRequest {
	return LeaderboardAPIPutLeaderboardOptinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserOptinView
func (a *LeaderboardAPIService) PutLeaderboardOptinExecute(r LeaderboardAPIPutLeaderboardOptinRequest) (*UserOptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserOptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LeaderboardAPIService.PutLeaderboardOptin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/leaderboard/optin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userOptinReq == nil {
		return localVarReturnValue, nil, reportError("userOptinReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userOptinReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LeaderboardAPIPutLeaderboardOptinOrgRequest struct {
	ctx         context.Context
	ApiService  *LeaderboardAPIService
	orgOptinReq *OrgOptinReq
}

func (r LeaderboardAPIPutLeaderboardOptinOrgRequest) OrgOptinReq(orgOptinReq OrgOptinReq) LeaderboardAPIPutLeaderboardOptinOrgRequest {
	r.orgOptinReq = &orgOptinReq
	return r
}

func (r LeaderboardAPIPutLeaderboardOptinOrgRequest) Execute() (*OrgOptinView, *http.Response, error) {
	return r.ApiService.PutLeaderboardOptinOrgExecute(r)
}

/*
PutLeaderboardOptinOrg Sets the ORG's listing on the cross-org global board.

Sets the ORG's listing on the cross-org global board. Only an admin of
the caller's own org — an org admin or a platform SuperAdmin — may change it, and
the org written is the caller's validated tenant, never a value from the request.
Listing consents to publishing the org's usage VOLUME; cross-org spend stays
restricted to platform admins regardless.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return LeaderboardAPIPutLeaderboardOptinOrgRequest
*/
func (a *LeaderboardAPIService) PutLeaderboardOptinOrg(ctx context.Context) LeaderboardAPIPutLeaderboardOptinOrgRequest {
	return LeaderboardAPIPutLeaderboardOptinOrgRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrgOptinView
func (a *LeaderboardAPIService) PutLeaderboardOptinOrgExecute(r LeaderboardAPIPutLeaderboardOptinOrgRequest) (*OrgOptinView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrgOptinView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LeaderboardAPIService.PutLeaderboardOptinOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/leaderboard/optin/org"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.orgOptinReq == nil {
		return localVarReturnValue, nil, reportError("orgOptinReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.orgOptinReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
