/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// IntegrationsSlackAPIService IntegrationsSlackAPI service
type IntegrationsSlackAPIService service

type IntegrationsSlackAPIIntegrationsSlackCommandsRequest struct {
	ctx         context.Context
	ApiService  *IntegrationsSlackAPIService
	command     *string
	text        *string
	teamId      *string
	userId      *string
	channelId   *string
	responseUrl *string
}

func (r IntegrationsSlackAPIIntegrationsSlackCommandsRequest) Command(command string) IntegrationsSlackAPIIntegrationsSlackCommandsRequest {
	r.command = &command
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackCommandsRequest) Text(text string) IntegrationsSlackAPIIntegrationsSlackCommandsRequest {
	r.text = &text
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackCommandsRequest) TeamId(teamId string) IntegrationsSlackAPIIntegrationsSlackCommandsRequest {
	r.teamId = &teamId
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackCommandsRequest) UserId(userId string) IntegrationsSlackAPIIntegrationsSlackCommandsRequest {
	r.userId = &userId
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackCommandsRequest) ChannelId(channelId string) IntegrationsSlackAPIIntegrationsSlackCommandsRequest {
	r.channelId = &channelId
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackCommandsRequest) ResponseUrl(responseUrl string) IntegrationsSlackAPIIntegrationsSlackCommandsRequest {
	r.responseUrl = &responseUrl
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackCommandsRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackCommandsExecute(r)
}

/*
IntegrationsSlackCommands Slack slash command webhook

Public at the JWT layer; HMAC-verified inside the handler. Accepts the Slack `application/x-www-form-urlencoded` slash-command payload.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IntegrationsSlackAPIIntegrationsSlackCommandsRequest
*/
func (a *IntegrationsSlackAPIService) IntegrationsSlackCommands(ctx context.Context) IntegrationsSlackAPIIntegrationsSlackCommandsRequest {
	return IntegrationsSlackAPIIntegrationsSlackCommandsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *IntegrationsSlackAPIService) IntegrationsSlackCommandsExecute(r IntegrationsSlackAPIIntegrationsSlackCommandsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationsSlackAPIService.IntegrationsSlackCommands")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/commands"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.command != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "command", r.command, "", "")
	}
	if r.text != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "text", r.text, "", "")
	}
	if r.teamId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "team_id", r.teamId, "", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "user_id", r.userId, "", "")
	}
	if r.channelId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "channel_id", r.channelId, "", "")
	}
	if r.responseUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "response_url", r.responseUrl, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type IntegrationsSlackAPIIntegrationsSlackEventsRequest struct {
	ctx                            context.Context
	ApiService                     *IntegrationsSlackAPIService
	integrationsSlackEventEnvelope *IntegrationsSlackEventEnvelope
}

func (r IntegrationsSlackAPIIntegrationsSlackEventsRequest) IntegrationsSlackEventEnvelope(integrationsSlackEventEnvelope IntegrationsSlackEventEnvelope) IntegrationsSlackAPIIntegrationsSlackEventsRequest {
	r.integrationsSlackEventEnvelope = &integrationsSlackEventEnvelope
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackEventsRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackEventsExecute(r)
}

/*
IntegrationsSlackEvents Slack Events API webhook

Public at the JWT layer; authenticated inside the handler by HMAC-SHA256 over the raw body with the Slack signing secret. Handles the `url_verification` challenge and routes `app_mention`/`message` events to an on-behalf-of agent run.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IntegrationsSlackAPIIntegrationsSlackEventsRequest
*/
func (a *IntegrationsSlackAPIService) IntegrationsSlackEvents(ctx context.Context) IntegrationsSlackAPIIntegrationsSlackEventsRequest {
	return IntegrationsSlackAPIIntegrationsSlackEventsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *IntegrationsSlackAPIService) IntegrationsSlackEventsExecute(r IntegrationsSlackAPIIntegrationsSlackEventsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationsSlackAPIService.IntegrationsSlackEvents")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.integrationsSlackEventEnvelope == nil {
		return nil, reportError("integrationsSlackEventEnvelope is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.integrationsSlackEventEnvelope
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest struct {
	ctx        context.Context
	ApiService *IntegrationsSlackAPIService
	code       *string
	state      *string
	error_     *string
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest) Code(code string) IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest {
	r.code = &code
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest) State(state string) IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest {
	r.state = &state
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest) Error_(error_ string) IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest {
	r.error_ = &error_
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkCallbackExecute(r)
}

/*
IntegrationsSlackLinkCallback hanzo.id OIDC callback — bind Slack↔Hanzo (leg 3)

Reads the Slack-verified (team,user) from the `__Host-` link cookie, exchanges the OIDC code, and seals the refresh token into the workspace org's KMS namespace. Returns an HTML confirmation page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest
*/
func (a *IntegrationsSlackAPIService) IntegrationsSlackLinkCallback(ctx context.Context) IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest {
	return IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *IntegrationsSlackAPIService) IntegrationsSlackLinkCallbackExecute(r IntegrationsSlackAPIIntegrationsSlackLinkCallbackRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationsSlackAPIService.IntegrationsSlackLinkCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link/callback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest struct {
	ctx        context.Context
	ApiService *IntegrationsSlackAPIService
	code       *string
	state      *string
	error_     *string
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest) Code(code string) IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest {
	r.code = &code
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest) State(state string) IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest {
	r.state = &state
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest) Error_(error_ string) IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest {
	r.error_ = &error_
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkSlackExecute(r)
}

/*
IntegrationsSlackLinkSlack Slack sign-in callback (leg 2)

Requires the leg-1 init cookie to match the sign-in state before exchanging the code; sets the `__Host-` link cookie and redirects to hanzo.id OIDC.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest
*/
func (a *IntegrationsSlackAPIService) IntegrationsSlackLinkSlack(ctx context.Context) IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest {
	return IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *IntegrationsSlackAPIService) IntegrationsSlackLinkSlackExecute(r IntegrationsSlackAPIIntegrationsSlackLinkSlackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationsSlackAPIService.IntegrationsSlackLinkSlack")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link/slack"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type IntegrationsSlackAPIIntegrationsSlackLinkStartRequest struct {
	ctx        context.Context
	ApiService *IntegrationsSlackAPIService
	state      *string
}

// Signed, single-use link state
func (r IntegrationsSlackAPIIntegrationsSlackLinkStartRequest) State(state string) IntegrationsSlackAPIIntegrationsSlackLinkStartRequest {
	r.state = &state
	return r
}

func (r IntegrationsSlackAPIIntegrationsSlackLinkStartRequest) Execute() (*http.Response, error) {
	return r.ApiService.IntegrationsSlackLinkStartExecute(r)
}

/*
IntegrationsSlackLinkStart Begin the per-user account link (leg 1 — Slack sign-in)

Sets a `__Host-` init cookie and redirects to Slack sign-in. State-authed (no bearer).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IntegrationsSlackAPIIntegrationsSlackLinkStartRequest
*/
func (a *IntegrationsSlackAPIService) IntegrationsSlackLinkStart(ctx context.Context) IntegrationsSlackAPIIntegrationsSlackLinkStartRequest {
	return IntegrationsSlackAPIIntegrationsSlackLinkStartRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *IntegrationsSlackAPIService) IntegrationsSlackLinkStartExecute(r IntegrationsSlackAPIIntegrationsSlackLinkStartRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrationsSlackAPIService.IntegrationsSlackLinkStart")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrations/slack/link"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.state == nil {
		return nil, reportError("state is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
