/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// EnablementAPIService EnablementAPI service
type EnablementAPIService service

type EnablementAPIGetEnablementRequest struct {
	ctx        context.Context
	ApiService *EnablementAPIService
}

func (r EnablementAPIGetEnablementRequest) Execute() (*EnablementBoard, *http.Response, error) {
	return r.ApiService.GetEnablementExecute(r)
}

/*
GetEnablement Returns what the caller's org can actually use: every managed item with its global state, whether it is effective here, whether this org is already opted into its beta, and whether it may still opt in.

Returns what the caller's org can actually use: every managed
item with its global state, whether it is effective here, whether this org is
already opted into its beta, and whether it may still opt in. Read-only and
safe for any caller — one without a validated principal simply sees the
generally-available items and no opt-in affordance, never another org's state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EnablementAPIGetEnablementRequest
*/
func (a *EnablementAPIService) GetEnablement(ctx context.Context) EnablementAPIGetEnablementRequest {
	return EnablementAPIGetEnablementRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EnablementBoard
func (a *EnablementAPIService) GetEnablementExecute(r EnablementAPIGetEnablementRequest) (*EnablementBoard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnablementBoard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnablementAPIService.GetEnablement")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/enablement"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnablementAPIPostEnablementOptinRequest struct {
	ctx              context.Context
	ApiService       *EnablementAPIService
	enablementOptRef *EnablementOptRef
}

func (r EnablementAPIPostEnablementOptinRequest) EnablementOptRef(enablementOptRef EnablementOptRef) EnablementAPIPostEnablementOptinRequest {
	r.enablementOptRef = &enablementOptRef
	return r
}

func (r EnablementAPIPostEnablementOptinRequest) Execute() (*UserEnablementItem, *http.Response, error) {
	return r.ApiService.PostEnablementOptinExecute(r)
}

/*
PostEnablementOptin Opts the caller's OWN org into a beta item.

Opts the caller's OWN org into a beta item. The org is the
caller's validated one, so this can never target another org, and the registry
refuses anything not in beta — so it can neither re-open an item an operator
turned off nor touch one that is already generally available. Requires a
signed-in caller with an org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EnablementAPIPostEnablementOptinRequest
*/
func (a *EnablementAPIService) PostEnablementOptin(ctx context.Context) EnablementAPIPostEnablementOptinRequest {
	return EnablementAPIPostEnablementOptinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserEnablementItem
func (a *EnablementAPIService) PostEnablementOptinExecute(r EnablementAPIPostEnablementOptinRequest) (*UserEnablementItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserEnablementItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnablementAPIService.PostEnablementOptin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/enablement/optin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enablementOptRef == nil {
		return localVarReturnValue, nil, reportError("enablementOptRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.enablementOptRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnablementAPIPostEnablementOptoutRequest struct {
	ctx              context.Context
	ApiService       *EnablementAPIService
	enablementOptRef *EnablementOptRef
}

func (r EnablementAPIPostEnablementOptoutRequest) EnablementOptRef(enablementOptRef EnablementOptRef) EnablementAPIPostEnablementOptoutRequest {
	r.enablementOptRef = &enablementOptRef
	return r
}

func (r EnablementAPIPostEnablementOptoutRequest) Execute() (*UserEnablementItem, *http.Response, error) {
	return r.ApiService.PostEnablementOptoutExecute(r)
}

/*
PostEnablementOptout Removes the caller's OWN org from a beta item's grant list, the reverse of OptIntoBeta and idempotent.

Removes the caller's OWN org from a beta item's grant list, the
reverse of OptIntoBeta and idempotent. The org is the caller's validated one,
so this can never revoke another org's grant. Requires a signed-in caller with
an org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EnablementAPIPostEnablementOptoutRequest
*/
func (a *EnablementAPIService) PostEnablementOptout(ctx context.Context) EnablementAPIPostEnablementOptoutRequest {
	return EnablementAPIPostEnablementOptoutRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserEnablementItem
func (a *EnablementAPIService) PostEnablementOptoutExecute(r EnablementAPIPostEnablementOptoutRequest) (*UserEnablementItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserEnablementItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnablementAPIService.PostEnablementOptout")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/enablement/optout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enablementOptRef == nil {
		return localVarReturnValue, nil, reportError("enablementOptRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.enablementOptRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
