/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// GatewayAPIService GatewayAPI service
type GatewayAPIService service

type GatewayAPIGatewayTrafficRequest struct {
	ctx        context.Context
	ApiService *GatewayAPIService
}

func (r GatewayAPIGatewayTrafficRequest) Execute() (*TrafficView, *http.Response, error) {
	return r.ApiService.GatewayTrafficExecute(r)
}

/*
GatewayTraffic Report who is calling this org's API right now

Traffic reports who is calling this organization's API right now: the request
count for the last minute split by AGENCY LANE — agent, human, bot, unknown —
and the busiest callers behind it, each with its request count, its
authentication-failure count, how many distinct paths it touched, and any
verdict currently held against it.

The lane split is the answer to the question a generic bot filter cannot
answer: which of this traffic is the customer's own automation and which is
somebody working through a list. It is computed from credentials we issued, not
from the client's self-description, so a scraper cannot move itself into the
agent lane by editing a header.

A validated caller appears as a FINGERPRINT — a one-way, per-process digest. It
is stable enough to recognise the same caller across a minute and cannot be
turned back into a key, so this report is safe to read, screenshot and paste.

It also reports what the sensor's own ceilings are doing (strain, tracked,
ceiling, refused) and how many screens the scorer did not answer (unscored), so
a control that has stopped measuring or a judge that has stopped answering is a
number here rather than a quiet day.

Scoped to the caller's own validated organization. A SuperAdmin may inspect a
specific tenant with ?org=<slug>, or the lane that has no tenant — every caller
the identity boundary could not validate — with an empty ?org=.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GatewayAPIGatewayTrafficRequest
*/
func (a *GatewayAPIService) GatewayTraffic(ctx context.Context) GatewayAPIGatewayTrafficRequest {
	return GatewayAPIGatewayTrafficRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TrafficView
func (a *GatewayAPIService) GatewayTrafficExecute(r GatewayAPIGatewayTrafficRequest) (*TrafficView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TrafficView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GatewayAPIService.GatewayTraffic")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/traffic"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GatewayAPIGetGatewayConfigRequest struct {
	ctx        context.Context
	ApiService *GatewayAPIService
}

func (r GatewayAPIGetGatewayConfigRequest) Execute() (*Policy, *http.Response, error) {
	return r.ApiService.GetGatewayConfigExecute(r)
}

/*
GetGatewayConfig Read returns the EFFECTIVE edge policy the caller is subject to: the platform CORS allowlist and pre-auth per-IP flood cap in force, plus the caller's own authenticated rate ceiling, edge-cache TTLs and accepted-method allowlist.

Read returns the EFFECTIVE edge policy the caller is subject to: the platform CORS
allowlist and pre-auth per-IP flood cap in force, plus the caller's own authenticated
rate ceiling, edge-cache TTLs and accepted-method allowlist. A SuperAdmin may inspect
a specific tenant's effective policy with ?org=<slug>.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GatewayAPIGetGatewayConfigRequest
*/
func (a *GatewayAPIService) GetGatewayConfig(ctx context.Context) GatewayAPIGetGatewayConfigRequest {
	return GatewayAPIGetGatewayConfigRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Policy
func (a *GatewayAPIService) GetGatewayConfigExecute(r GatewayAPIGetGatewayConfigRequest) (*Policy, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Policy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GatewayAPIService.GetGatewayConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GatewayAPIPutGatewayConfigRequest struct {
	ctx        context.Context
	ApiService *GatewayAPIService
	policy     *Policy
}

func (r GatewayAPIPutGatewayConfigRequest) Policy(policy Policy) GatewayAPIPutGatewayConfigRequest {
	r.policy = &policy
	return r
}

func (r GatewayAPIPutGatewayConfigRequest) Execute() (*Policy, *http.Response, error) {
	return r.ApiService.PutGatewayConfigExecute(r)
}

/*
PutGatewayConfig Write updates one policy scope and returns the policy in force after the write.

Write updates one policy scope and returns the policy in force after the write.
A body carrying any PLATFORM field (cors_origins, per_ip_rpm, window_sec) is a
platform write and requires SuperAdmin; otherwise it is a per-org write (org_rpm,
cache_ttl_sec, cache_paths, methods) scoped to the caller's own org — or, for a
SuperAdmin, the tenant named by ?org=<slug>. A body that sets nothing is a 400.
The abuse gate's mode is an OPERATOR field: setting it requires SuperAdmin,
whichever organization it lands on. updated_at and updated_by are
server-stamped; a client-supplied value is ignored.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GatewayAPIPutGatewayConfigRequest
*/
func (a *GatewayAPIService) PutGatewayConfig(ctx context.Context) GatewayAPIPutGatewayConfigRequest {
	return GatewayAPIPutGatewayConfigRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Policy
func (a *GatewayAPIService) PutGatewayConfigExecute(r GatewayAPIPutGatewayConfigRequest) (*Policy, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Policy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GatewayAPIService.PutGatewayConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gateway/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policy == nil {
		return localVarReturnValue, nil, reportError("policy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
