/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AdminAPIService AdminAPI service
type AdminAPIService service

type AdminAPIAdminAIMetricsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	range_     *string
}

// Range is the lower time bound: 24h, 7d or 30d. Anything else reads as the board&#39;s own default.
func (r AdminAPIAdminAIMetricsRequest) Range_(range_ string) AdminAPIAdminAIMetricsRequest {
	r.range_ = &range_
	return r
}

func (r AdminAPIAdminAIMetricsRequest) Execute() (*AimetricsOut, *http.Response, error) {
	return r.ApiService.AdminAIMetricsExecute(r)
}

/*
AdminAIMetrics Is the fleet AI board: LLM generations over gen_ai spans (count, cost, avg/p95 latency, per-model), per-model usage from the live cloud_usage ledger, and the eval plane (traces, scores, score names, runs, and the average-score trend).

Is the fleet AI board: LLM generations over gen_ai spans (count, cost,
avg/p95 latency, per-model), per-model usage from the live cloud_usage ledger, and
the eval plane (traces, scores, score names, runs, and the average-score trend).

Every signal degrades INDEPENDENTLY — a table that is absent or errors contributes its
zero value and the read still succeeds. Generation latency is a SEPARATE query from
generations and cost on purpose: a duration/attribute mismatch there must not zero
the two numbers that did read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminAIMetricsRequest
*/
func (a *AdminAPIService) AdminAIMetrics(ctx context.Context) AdminAPIAdminAIMetricsRequest {
	return AdminAPIAdminAIMetricsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AimetricsOut
func (a *AdminAPIService) AdminAIMetricsExecute(r AdminAPIAdminAIMetricsRequest) (*AimetricsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AimetricsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminAIMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/aimetrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminAnalyticsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	range_     *string
}

// Range is the lower time bound: 24h, 7d or 30d. Anything else reads as the board&#39;s own default.
func (r AdminAPIAdminAnalyticsRequest) Range_(range_ string) AdminAPIAdminAnalyticsRequest {
	r.range_ = &range_
	return r
}

func (r AdminAPIAdminAnalyticsRequest) Execute() (*AnalyticsOut, *http.Response, error) {
	return r.ApiService.AdminAnalyticsExecute(r)
}

/*
AdminAnalytics Is the SaaS product-analytics board over the caller's tenant window: active customers, new and churned, retention, MRR, ARPU, the usage trend and the top customers by spend — every number folded from the commerce ledger, not sampled.

Is the SaaS product-analytics board over the caller's tenant window: active
customers, new and churned, retention, MRR, ARPU, the usage trend and the top
customers by spend — every number folded from the commerce ledger, not sampled.

The window is the caller's, not the fleet's: a SuperAdmin gets every org, a
white-label admin only their own subtree (core.ScopedOrgs, the one scope predicate).

sources[] carries each upstream's freshness so a partial read is VISIBLE rather than
silently low: a ledger that answered for only some orgs marks commerce-ledger degraded
instead of publishing an undercount as healthy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminAnalyticsRequest
*/
func (a *AdminAPIService) AdminAnalytics(ctx context.Context) AdminAPIAdminAnalyticsRequest {
	return AdminAPIAdminAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AnalyticsOut
func (a *AdminAPIService) AdminAnalyticsExecute(r AdminAPIAdminAnalyticsRequest) (*AnalyticsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminApplicationsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	owner      *string
	p          *string
	pageSize   *string
}

// Owner is the org whose rows to read. Defaults to the admin org, which owns the platform&#39;s roles and applications.
func (r AdminAPIAdminApplicationsRequest) Owner(owner string) AdminAPIAdminApplicationsRequest {
	r.owner = &owner
	return r
}

// Page is the 1-based page number. Forwarded only when set — IAM applies its own default otherwise.
func (r AdminAPIAdminApplicationsRequest) P(p string) AdminAPIAdminApplicationsRequest {
	r.p = &p
	return r
}

// PageSize is rows per page. Forwarded only when set.
func (r AdminAPIAdminApplicationsRequest) PageSize(pageSize string) AdminAPIAdminApplicationsRequest {
	r.pageSize = &pageSize
	return r
}

func (r AdminAPIAdminApplicationsRequest) Execute() (*IamRowsOut, *http.Response, error) {
	return r.ApiService.AdminApplicationsExecute(r)
}

/*
AdminApplications Lists IAM applications for one owner org, forwarded VERBATIM from IAM's get-applications.

Lists IAM applications for one owner org, forwarded VERBATIM from IAM's
get-applications. These are the platform's OIDC clients — the console reads clientId
off each row.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminApplicationsRequest
*/
func (a *AdminAPIService) AdminApplications(ctx context.Context) AdminAPIAdminApplicationsRequest {
	return AdminAPIAdminApplicationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IamRowsOut
func (a *AdminAPIService) AdminApplicationsExecute(r AdminAPIAdminApplicationsRequest) (*IamRowsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IamRowsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminApplications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.owner != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "owner", r.owner, "form", "")
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminAuditRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	org        *string
	sub        *string
	action     *string
	resource   *string
	resourceId *string
	result     *string
	since      *string
	until      *string
	pageSize   *string
	p          *string
}

// Org restricts the trail to one tenant.
func (r AdminAPIAdminAuditRequest) Org(org string) AdminAPIAdminAuditRequest {
	r.org = &org
	return r
}

// Sub restricts it to one actor (the validated subject that made the request).
func (r AdminAPIAdminAuditRequest) Sub(sub string) AdminAPIAdminAuditRequest {
	r.sub = &sub
	return r
}

// Action restricts it to one action name, e.g. \&quot;admin.waitlist.grant\&quot;.
func (r AdminAPIAdminAuditRequest) Action(action string) AdminAPIAdminAuditRequest {
	r.action = &action
	return r
}

// Resource restricts it to one resource kind, e.g. \&quot;credit-grant\&quot;.
func (r AdminAPIAdminAuditRequest) Resource(resource string) AdminAPIAdminAuditRequest {
	r.resource = &resource
	return r
}

// ResourceID restricts it to one resource instance.
func (r AdminAPIAdminAuditRequest) ResourceId(resourceId string) AdminAPIAdminAuditRequest {
	r.resourceId = &resourceId
	return r
}

// Result restricts it to \&quot;success\&quot; or \&quot;error\&quot;.
func (r AdminAPIAdminAuditRequest) Result(result string) AdminAPIAdminAuditRequest {
	r.result = &result
	return r
}

// Since is the inclusive lower time bound, RFC3339. An unparseable value is ignored rather than refused — one malformed filter must not hide the trail.
func (r AdminAPIAdminAuditRequest) Since(since string) AdminAPIAdminAuditRequest {
	r.since = &since
	return r
}

// Until is the upper time bound, RFC3339, with the same tolerance.
func (r AdminAPIAdminAuditRequest) Until(until string) AdminAPIAdminAuditRequest {
	r.until = &until
	return r
}

// PageSize is rows per page, default 100.
func (r AdminAPIAdminAuditRequest) PageSize(pageSize string) AdminAPIAdminAuditRequest {
	r.pageSize = &pageSize
	return r
}

// Page is the 1-based page number, driving the offset.
func (r AdminAPIAdminAuditRequest) P(p string) AdminAPIAdminAuditRequest {
	r.p = &p
	return r
}

func (r AdminAPIAdminAuditRequest) Execute() (*RecordsOut, *http.Response, error) {
	return r.ApiService.AdminAuditExecute(r)
}

/*
AdminAudit Reads cloud's tamper-evident audit trail, newest first, with the chain's live integrity attached so a listing can be badged as verified.

Reads cloud's tamper-evident audit trail, newest first, with the chain's live
integrity attached so a listing can be badged as verified.

When cloud has no local store configured it falls back to forwarding IAM's own
get-records trail verbatim — a DIFFERENT trail, federated so the endpoint never
regresses to an empty list. Those rows carry no integrity of ours, so the field is
null there.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminAuditRequest
*/
func (a *AdminAPIService) AdminAudit(ctx context.Context) AdminAPIAdminAuditRequest {
	return AdminAPIAdminAuditRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RecordsOut
func (a *AdminAPIService) AdminAuditExecute(r AdminAPIAdminAuditRequest) (*RecordsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RecordsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.sub != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sub", r.sub, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.resource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "form", "")
	}
	if r.resourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceId", r.resourceId, "form", "")
	}
	if r.result != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "result", r.result, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.p != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p", r.p, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminAuditVerifyRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPIAdminAuditVerifyRequest) Execute() (*VerifyOut, *http.Response, error) {
	return r.ApiService.AdminAuditVerifyExecute(r)
}

/*
AdminAuditVerify Walks the WHOLE hash chain and reports whether it is intact: how many records were checked, the head hash to pin externally against tail-truncation, and — when the chain is broken — the seq of the first bad record and why.

Walks the WHOLE hash chain and reports whether it is intact: how many records
were checked, the head hash to pin externally against tail-truncation, and — when the
chain is broken — the seq of the first bad record and why.

brokenAt is -1 exactly when ok is true. An unconfigured store is an honest failure
here rather than a fabricated pass.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminAuditVerifyRequest
*/
func (a *AdminAPIService) AdminAuditVerify(ctx context.Context) AdminAPIAdminAuditVerifyRequest {
	return AdminAPIAdminAuditVerifyRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VerifyOut
func (a *AdminAPIService) AdminAuditVerifyExecute(r AdminAPIAdminAuditVerifyRequest) (*VerifyOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VerifyOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminAuditVerify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/audit/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminBasesRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPIAdminBasesRequest) Execute() (*BasesOut, *http.Response, error) {
	return r.ApiService.AdminBasesExecute(r)
}

/*
AdminBases Lists the tenant Base instances in the caller's window — a SuperAdmin sees every tenant's, anyone else only their own subtree's.

Lists the tenant Base instances in the caller's window — a SuperAdmin sees every
tenant's, anyone else only their own subtree's.

The scope is enforced TWICE: the upstream is asked for the caller's org, AND every row
it returns is re-checked against the resolved scope. An upstream that ignored the
filter therefore degrades to empty, never to a cross-tenant leak.

The Base engine is being embedded into cloud; until it lands this proxies
BASE_ADMIN_URL and, when that is unset, answers 200 with an empty list and msg saying
so — the honest not-yet state, never fabricated instances.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminBasesRequest
*/
func (a *AdminAPIService) AdminBases(ctx context.Context) AdminAPIAdminBasesRequest {
	return AdminAPIAdminBasesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BasesOut
func (a *AdminAPIService) AdminBasesExecute(r AdminAPIAdminBasesRequest) (*BasesOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BasesOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminBases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/bases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminCapsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	org        *string
	id         *string
}

// Org is the tenant to act on. Required for a SuperAdmin — they must name their target; ignored for a white-label admin, who always acts on their own org.
func (r AdminAPIAdminCapsRequest) Org(org string) AdminAPIAdminCapsRequest {
	r.org = &org
	return r
}

// ID is the cap to edit or remove, from the path. Unused by the list and create ops.
func (r AdminAPIAdminCapsRequest) Id(id string) AdminAPIAdminCapsRequest {
	r.id = &id
	return r
}

func (r AdminAPIAdminCapsRequest) Execute() (*RawOut, *http.Response, error) {
	return r.ApiService.AdminCapsExecute(r)
}

/*
AdminCaps Reads one org's usage caps: its spend alerts plus the derived period spend, over/warn state and reset time.

Reads one org's usage caps: its spend alerts plus the derived period
spend, over/warn state and reset time.

These are the SAME rows the customer edits in their own console — a platform override
and a customer budget are one model, not two.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminCapsRequest
*/
func (a *AdminAPIService) AdminCaps(ctx context.Context) AdminAPIAdminCapsRequest {
	return AdminAPIAdminCapsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RawOut
func (a *AdminAPIService) AdminCapsExecute(r AdminAPIAdminCapsRequest) (*RawOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RawOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminCaps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/caps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminComputeRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	kind       *string
	org        *string
	range_     *string
}

// Kind narrows to one workload class (bot | machine | cluster | nodepool | container | function | …). An OPEN spectrum matched as a plain string, lowercased to the warehouse&#39;s convention; empty means every kind.
func (r AdminAPIAdminComputeRequest) Kind(kind string) AdminAPIAdminComputeRequest {
	r.kind = &kind
	return r
}

// Org narrows to one tenant. Empty means every tenant — this board is cross-tenant by nature.
func (r AdminAPIAdminComputeRequest) Org(org string) AdminAPIAdminComputeRequest {
	r.org = &org
	return r
}

// Range is the lower time bound: 24h, 7d or 30d. Anything else reads as 30d.
func (r AdminAPIAdminComputeRequest) Range_(range_ string) AdminAPIAdminComputeRequest {
	r.range_ = &range_
	return r
}

func (r AdminAPIAdminComputeRequest) Execute() (*ComputeOut, *http.Response, error) {
	return r.ApiService.AdminComputeExecute(r)
}

/*
AdminCompute Rolls the fleet's compute usage up to one row per (org, app, project, kind): how many distinct machines ran in the window, how many are still active, what they billed, and when each group last emitted an event.

Rolls the fleet's compute usage up to one row per (org, app, project, kind):
how many distinct machines ran in the window, how many are still active, what they
billed, and when each group last emitted an event. The console folds these into its
org → app → project tree.

A machine counts as ACTIVE when its LATEST lifecycle event is not a terminal one
(stop/destroy/terminate/delete/off/shutdown/expire and their past tenses) — the same
fold the console applies, done in the warehouse so the count is over every machine and
not just the page.

Honest-empty when the warehouse is not connected or hanzo.compute_usage is not
provisioned yet: an empty list, never a fabricated fleet.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminComputeRequest
*/
func (a *AdminAPIService) AdminCompute(ctx context.Context) AdminAPIAdminComputeRequest {
	return AdminAPIAdminComputeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ComputeOut
func (a *AdminAPIService) AdminComputeExecute(r AdminAPIAdminComputeRequest) (*ComputeOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComputeOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminCompute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/compute"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.range_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminCordonNodeRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
	cordonIn   *CordonIn
}

func (r AdminAPIAdminCordonNodeRequest) CordonIn(cordonIn CordonIn) AdminAPIAdminCordonNodeRequest {
	r.cordonIn = &cordonIn
	return r
}

func (r AdminAPIAdminCordonNodeRequest) Execute() (*MutationOut, *http.Response, error) {
	return r.ApiService.AdminCordonNodeExecute(r)
}

/*
AdminCordonNode Marks one cluster node unschedulable — or schedulable again — and can drain the pods already on it.

Marks one cluster node unschedulable — or schedulable again — and can drain
the pods already on it.

It is the ONE infra change that does not go through the run discipline, because there
is no destructive verdict to check: cordoning is reversible and evicting respects the
cluster's own PodDisruptionBudgets. It reads the cached board for the same reason.
The outcome is audited either way, and the result reports how many pods were evicted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the node's droplet id, from the path.
	@return AdminAPIAdminCordonNodeRequest
*/
func (a *AdminAPIService) AdminCordonNode(ctx context.Context, id string) AdminAPIAdminCordonNodeRequest {
	return AdminAPIAdminCordonNodeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return MutationOut
func (a *AdminAPIService) AdminCordonNodeExecute(r AdminAPIAdminCordonNodeRequest) (*MutationOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MutationOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminCordonNode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra/nodes/{id}/cordon"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cordonIn == nil {
		return localVarReturnValue, nil, reportError("cordonIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cordonIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminCreateCapRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	capIn      *CapIn
}

func (r AdminAPIAdminCreateCapRequest) CapIn(capIn CapIn) AdminAPIAdminCreateCapRequest {
	r.capIn = &capIn
	return r
}

func (r AdminAPIAdminCreateCapRequest) Execute() (*RawOut, *http.Response, error) {
	return r.ApiService.AdminCreateCapExecute(r)
}

/*
AdminCreateCap Sets a usage cap on one org — a platform override of a customer budget, written to the customer's own spend-alert rows.

Sets a usage cap on one org — a platform override of a customer budget,
written to the customer's own spend-alert rows. The body is commerce's spend-alert
contract, forwarded byte-for-byte.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminCreateCapRequest
*/
func (a *AdminAPIService) AdminCreateCap(ctx context.Context) AdminAPIAdminCreateCapRequest {
	return AdminAPIAdminCreateCapRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RawOut
func (a *AdminAPIService) AdminCreateCapExecute(r AdminAPIAdminCreateCapRequest) (*RawOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RawOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminCreateCap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/caps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capIn == nil {
		return localVarReturnValue, nil, reportError("capIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminCustomerRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	org        string
}

func (r AdminAPIAdminCustomerRequest) Execute() (*CustomerDetailOut, *http.Response, error) {
	return r.ApiService.AdminCustomerExecute(r)
}

/*
AdminCustomer Answers GET /v1/admin/customers/:org.

Answers GET /v1/admin/customers/:org.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org Org is the tenant slug from the path.
	@return AdminAPIAdminCustomerRequest
*/
func (a *AdminAPIService) AdminCustomer(ctx context.Context, org string) AdminAPIAdminCustomerRequest {
	return AdminAPIAdminCustomerRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return CustomerDetailOut
func (a *AdminAPIService) AdminCustomerExecute(r AdminAPIAdminCustomerRequest) (*CustomerDetailOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CustomerDetailOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminCustomer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/customers/{org}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminCustomersRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPIAdminCustomersRequest) Execute() (*CustomersOut, *http.Response, error) {
	return r.ApiService.AdminCustomersExecute(r)
}

/*
AdminCustomers Lists every customer org at a glance, sorted by slug: owner email, plan, suspend status, member count, balance, month-to-date spend and MRR.

Lists every customer org at a glance, sorted by slug: owner email, plan,
suspend status, member count, balance, month-to-date spend and MRR.

Each row costs one IAM read plus the org's money reads, fanned out under a fixed
concurrency ceiling so a large fleet cannot stampede the upstreams. Every read is
best-effort per row: an upstream miss degrades THAT field to its honest zero rather
than failing the fleet.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminCustomersRequest
*/
func (a *AdminAPIService) AdminCustomers(ctx context.Context) AdminAPIAdminCustomersRequest {
	return AdminAPIAdminCustomersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CustomersOut
func (a *AdminAPIService) AdminCustomersExecute(r AdminAPIAdminCustomersRequest) (*CustomersOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CustomersOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminCustomers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/customers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminDeleteCapRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
	org        *string
}

// Org is the tenant to act on. Required for a SuperAdmin — they must name their target; ignored for a white-label admin, who always acts on their own org.
func (r AdminAPIAdminDeleteCapRequest) Org(org string) AdminAPIAdminDeleteCapRequest {
	r.org = &org
	return r
}

func (r AdminAPIAdminDeleteCapRequest) Execute() (*RawOut, *http.Response, error) {
	return r.ApiService.AdminDeleteCapExecute(r)
}

/*
AdminDeleteCap Removes one cap by id, lifting the ceiling entirely.

Removes one cap by id, lifting the ceiling entirely.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the cap to edit or remove, from the path. Unused by the list and create ops.
	@return AdminAPIAdminDeleteCapRequest
*/
func (a *AdminAPIService) AdminDeleteCap(ctx context.Context, id string) AdminAPIAdminDeleteCapRequest {
	return AdminAPIAdminDeleteCapRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return RawOut
func (a *AdminAPIService) AdminDeleteCapExecute(r AdminAPIAdminDeleteCapRequest) (*RawOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RawOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminDeleteCap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/caps/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminDeleteDropletRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
	size       *string
	disk       *bool
}

// Size is the target DigitalOcean size slug on resize, e.g. \&quot;s-4vcpu-8gb\&quot;.
func (r AdminAPIAdminDeleteDropletRequest) Size(size string) AdminAPIAdminDeleteDropletRequest {
	r.size = &size
	return r
}

// Disk requests a PERMANENT resize that grows the disk. DO can never resize such a droplet down again, so it defaults false — a CPU/RAM-only change, reversible.
func (r AdminAPIAdminDeleteDropletRequest) Disk(disk bool) AdminAPIAdminDeleteDropletRequest {
	r.disk = &disk
	return r
}

func (r AdminAPIAdminDeleteDropletRequest) Execute() (*MutationOut, *http.Response, error) {
	return r.ApiService.AdminDeleteDropletExecute(r)
}

/*
AdminDeleteDroplet Destroys a droplet the board has just proven is NOT a DOKS node.

Destroys a droplet the board has just proven is NOT a DOKS node. There
is no snapshot-first undo for a droplet the way there is for a volume: the local disk
goes with it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DO droplet id, from the path. Numeric.
	@return AdminAPIAdminDeleteDropletRequest
*/
func (a *AdminAPIService) AdminDeleteDroplet(ctx context.Context, id string) AdminAPIAdminDeleteDropletRequest {
	return AdminAPIAdminDeleteDropletRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return MutationOut
func (a *AdminAPIService) AdminDeleteDropletExecute(r AdminAPIAdminDeleteDropletRequest) (*MutationOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MutationOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminDeleteDroplet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra/droplets/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.disk != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "disk", r.disk, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminDeleteLoadBalancerRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
}

func (r AdminAPIAdminDeleteLoadBalancerRequest) Execute() (*MutationOut, *http.Response, error) {
	return r.ApiService.AdminDeleteLoadBalancerExecute(r)
}

/*
AdminDeleteLoadBalancer Destroys a load balancer the board has just proven no live type=LoadBalancer Service in any cluster targets.

Destroys a load balancer the board has just proven no live
type=LoadBalancer Service in any cluster targets.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DO load balancer id, from the path.
	@return AdminAPIAdminDeleteLoadBalancerRequest
*/
func (a *AdminAPIService) AdminDeleteLoadBalancer(ctx context.Context, id string) AdminAPIAdminDeleteLoadBalancerRequest {
	return AdminAPIAdminDeleteLoadBalancerRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return MutationOut
func (a *AdminAPIService) AdminDeleteLoadBalancerExecute(r AdminAPIAdminDeleteLoadBalancerRequest) (*MutationOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MutationOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminDeleteLoadBalancer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra/loadbalancers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminDeleteVolumeRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	id         string
	snapshot   *string
	name       *string
	sizeGiB    *int32
}

// Snapshot is the snapshot-first switch on DELETE. Anything other than the literal \&quot;false\&quot; snapshots before destroying — the snapshot IS the undo, so waiving it is deliberate and explicit.
func (r AdminAPIAdminDeleteVolumeRequest) Snapshot(snapshot string) AdminAPIAdminDeleteVolumeRequest {
	r.snapshot = &snapshot
	return r
}

// Name is the snapshot name on the snapshot action. Blank gets a deterministic \&quot;&lt;volume&gt;-predelete-&lt;unix&gt;\&quot; so the undo is findable in the DO console.
func (r AdminAPIAdminDeleteVolumeRequest) Name(name string) AdminAPIAdminDeleteVolumeRequest {
	r.name = &name
	return r
}

// SizeGiB is the target size on the resize action. A volume only ever grows — ExpandTo is the verdict that refuses a shrink, so this is not validated here.
func (r AdminAPIAdminDeleteVolumeRequest) SizeGiB(sizeGiB int32) AdminAPIAdminDeleteVolumeRequest {
	r.sizeGiB = &sizeGiB
	return r
}

func (r AdminAPIAdminDeleteVolumeRequest) Execute() (*MutationOut, *http.Response, error) {
	return r.ApiService.AdminDeleteVolumeExecute(r)
}

/*
AdminDeleteVolume Destroys a volume the board has just proven no PersistentVolume in any cluster references.

Destroys a volume the board has just proven no PersistentVolume in any
cluster references. Irreversible, so it snapshots first unless explicitly waived —
the snapshot IS the undo.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the DO volume id, from the path.
	@return AdminAPIAdminDeleteVolumeRequest
*/
func (a *AdminAPIService) AdminDeleteVolume(ctx context.Context, id string) AdminAPIAdminDeleteVolumeRequest {
	return AdminAPIAdminDeleteVolumeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return MutationOut
func (a *AdminAPIService) AdminDeleteVolumeExecute(r AdminAPIAdminDeleteVolumeRequest) (*MutationOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MutationOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminDeleteVolume")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra/volumes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.snapshot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "snapshot", r.snapshot, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.sizeGiB != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sizeGiB", r.sizeGiB, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminDisablePluginRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	name       string
	nameIn     *NameIn
}

func (r AdminAPIAdminDisablePluginRequest) NameIn(nameIn NameIn) AdminAPIAdminDisablePluginRequest {
	r.nameIn = &nameIn
	return r
}

func (r AdminAPIAdminDisablePluginRequest) Execute() (*ActionOut, *http.Response, error) {
	return r.ApiService.AdminDisablePluginExecute(r)
}

/*
AdminDisablePlugin Stops the plugin.

Stops the plugin. Its routes STAY REGISTERED and answer 503 — not 404.

That is zip's choice and this keeps it. Removing the routes would mutate the
route table, and re-adding them on enable would grow it without bound across
repeated cycles, which is the invariant that makes reloads flat in memory. It
is also the better answer: 404 says "no such API" and a client may cache it
and stop retrying, while 503 says "this API exists and is down right now",
which is true and retryable. Which of the two 503s this is — deliberate stop
or crash — is what the status's disabled flag reports.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the app, from the path.
	@return AdminAPIAdminDisablePluginRequest
*/
func (a *AdminAPIService) AdminDisablePlugin(ctx context.Context, name string) AdminAPIAdminDisablePluginRequest {
	return AdminAPIAdminDisablePluginRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return ActionOut
func (a *AdminAPIService) AdminDisablePluginExecute(r AdminAPIAdminDisablePluginRequest) (*ActionOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ActionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminDisablePlugin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/plugins/{name}/disable"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nameIn == nil {
		return localVarReturnValue, nil, reportError("nameIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nameIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminEnablePluginRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	name       string
	nameIn     *NameIn
}

func (r AdminAPIAdminEnablePluginRequest) NameIn(nameIn NameIn) AdminAPIAdminEnablePluginRequest {
	r.nameIn = &nameIn
	return r
}

func (r AdminAPIAdminEnablePluginRequest) Execute() (*ActionOut, *http.Response, error) {
	return r.ApiService.AdminEnablePluginExecute(r)
}

/*
AdminEnablePlugin Brings a stopped or disabled plugin back on the artifact it already has: the zero Plugin names no new artifact, so Reload reuses the loaded spec and clears the disabled flag.

Brings a stopped or disabled plugin back on the artifact it already
has: the zero Plugin names no new artifact, so Reload reuses the loaded spec
and clears the disabled flag. Named for what an operator means by it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name Name is the app, from the path.
	@return AdminAPIAdminEnablePluginRequest
*/
func (a *AdminAPIService) AdminEnablePlugin(ctx context.Context, name string) AdminAPIAdminEnablePluginRequest {
	return AdminAPIAdminEnablePluginRequest{
		ApiService: a,
		ctx:        ctx,
		name:       name,
	}
}

// Execute executes the request
//
//	@return ActionOut
func (a *AdminAPIService) AdminEnablePluginExecute(r AdminAPIAdminEnablePluginRequest) (*ActionOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ActionOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminEnablePlugin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/plugins/{name}/enable"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nameIn == nil {
		return localVarReturnValue, nil, reportError("nameIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nameIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminFinanceRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPIAdminFinanceRequest) Execute() (*FinanceOut, *http.Response, error) {
	return r.ApiService.AdminFinanceExecute(r)
}

/*
AdminFinance Answers GET /v1/admin/finance.

Answers GET /v1/admin/finance. It reads the multi-vendor COGS from commerce
/v1/costs, the DO promo-credit/burn-down treasury view, and the fleet commerce revenue,
then hands them to ComputeFinance. SuperAdmin only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminFinanceRequest
*/
func (a *AdminAPIService) AdminFinance(ctx context.Context) AdminAPIAdminFinanceRequest {
	return AdminAPIAdminFinanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FinanceOut
func (a *AdminAPIService) AdminFinanceExecute(r AdminAPIAdminFinanceRequest) (*FinanceOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FinanceOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminFinance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/finance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminFinanceBackfillRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	backfillIn *BackfillIn
}

func (r AdminAPIAdminFinanceBackfillRequest) BackfillIn(backfillIn BackfillIn) AdminAPIAdminFinanceBackfillRequest {
	r.backfillIn = &backfillIn
	return r
}

func (r AdminAPIAdminFinanceBackfillRequest) Execute() (*BackfillOut, *http.Response, error) {
	return r.ApiService.AdminFinanceBackfillExecute(r)
}

/*
AdminFinanceBackfill Carries ONE org's current commerce prepaid balance into the native finance wallet — the one-time cutover between the two ledgers.

Carries ONE org's current commerce prepaid balance into the native finance
wallet — the one-time cutover between the two ledgers.

It is IDEMPOTENT: the deposit uses the fixed ref "backfill:<org>", so re-running it
credits the wallet at most once. Safe to retry.

The pre-migration balance is read from the CO-RESIDENT commerce ledger, not over HTTP:
the admin HTTP client dials an unroutable in-process address and would read $0, and a
phantom zero would silently carry nothing while reporting success. When commerce is
not co-resident this fails rather than migrating nothing.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminFinanceBackfillRequest
*/
func (a *AdminAPIService) AdminFinanceBackfill(ctx context.Context) AdminAPIAdminFinanceBackfillRequest {
	return AdminAPIAdminFinanceBackfillRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BackfillOut
func (a *AdminAPIService) AdminFinanceBackfillExecute(r AdminAPIAdminFinanceBackfillRequest) (*BackfillOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BackfillOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminFinanceBackfill")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/finance/backfill"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backfillIn == nil {
		return localVarReturnValue, nil, reportError("backfillIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.backfillIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminFlagsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
}

func (r AdminAPIAdminFlagsRequest) Execute() (*FlagsOut, *http.Response, error) {
	return r.ApiService.AdminFlagsExecute(r)
}

/*
AdminFlags Reads the platform control-plane board: every runtime launch/release switch (waitlist, public signup, subsystem activation, gateway limits, network ids) with its LIVE value and where that value came from — a stored definition or the compiled-in default.

Reads the platform control-plane board: every runtime launch/release
switch (waitlist, public signup, subsystem activation, gateway limits, network ids)
with its LIVE value and where that value came from — a stored definition or the
compiled-in default.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminFlagsRequest
*/
func (a *AdminAPIService) AdminFlags(ctx context.Context) AdminAPIAdminFlagsRequest {
	return AdminAPIAdminFlagsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FlagsOut
func (a *AdminAPIService) AdminFlagsExecute(r AdminAPIAdminFlagsRequest) (*FlagsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlagsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminFlags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/flags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminGrantCreditRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	org        string
	grantIn    *GrantIn
}

func (r AdminAPIAdminGrantCreditRequest) GrantIn(grantIn GrantIn) AdminAPIAdminGrantCreditRequest {
	r.grantIn = &grantIn
	return r
}

func (r AdminAPIAdminGrantCreditRequest) Execute() (*GrantOut, *http.Response, error) {
	return r.ApiService.AdminGrantCreditExecute(r)
}

/*
AdminGrantCredit Issues a staff credit grant to the org named in the path — a comp, refund or promo — through the ONE credit-write path core.ApplyGrant, which validates the amount against the per-grant cap, checks the org exists, moves the money and records the tamper-evident audit row.

Issues a staff credit grant to the org named in the path — a comp, refund
or promo — through the ONE credit-write path core.ApplyGrant, which validates the
amount against the per-grant cap, checks the org exists, moves the money and records
the tamper-evident audit row.

The credit lands on the account account.Payer resolves, NOT necessarily the org: name
a member of a pooled org and the pool is credited. The receipt echoes the subject so
the caller can see which.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org Org is the tenant to credit. Required.
	@return AdminAPIAdminGrantCreditRequest
*/
func (a *AdminAPIService) AdminGrantCredit(ctx context.Context, org string) AdminAPIAdminGrantCreditRequest {
	return AdminAPIAdminGrantCreditRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
//
//	@return GrantOut
func (a *AdminAPIService) AdminGrantCreditExecute(r AdminAPIAdminGrantCreditRequest) (*GrantOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GrantOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminGrantCredit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/customers/{org}/credit"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.grantIn == nil {
		return localVarReturnValue, nil, reportError("grantIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.grantIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminGrantsRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	org        *string
	result     *string
	limit      *string
}

// Org filters by the ACTOR&#39;s org (the staff org that issued the grant), which is rarely what a reader wants — the target org is a row field, not a filter.
func (r AdminAPIAdminGrantsRequest) Org(org string) AdminAPIAdminGrantsRequest {
	r.org = &org
	return r
}

// Result filters by outcome: \&quot;success\&quot; or \&quot;error\&quot;. Empty returns both, which is the point of this view — a refused grant is as interesting as a granted one.
func (r AdminAPIAdminGrantsRequest) Result(result string) AdminAPIAdminGrantsRequest {
	r.result = &result
	return r
}

// Limit caps the rows returned. Default 200.
func (r AdminAPIAdminGrantsRequest) Limit(limit string) AdminAPIAdminGrantsRequest {
	r.limit = &limit
	return r
}

func (r AdminAPIAdminGrantsRequest) Execute() (*GrantsOut, *http.Response, error) {
	return r.ApiService.AdminGrantsExecute(r)
}

/*
AdminGrants Reads the credit-grant ledger across ALL orgs, newest first — who granted what to whom, when, and from which money bucket.

Reads the credit-grant ledger across ALL orgs, newest first — who granted what
to whom, when, and from which money bucket.

It is a PROJECTION of the tamper-evident audit trail, not a second store: every grant
is written there as action "admin.customer.credit", so this view cannot drift from
what actually happened, and FAILED grants appear too.

A deployment with no local audit store has no history to project, and says so with an
empty list and a msg rather than an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminGrantsRequest
*/
func (a *AdminAPIService) AdminGrants(ctx context.Context) AdminAPIAdminGrantsRequest {
	return AdminAPIAdminGrantsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GrantsOut
func (a *AdminAPIService) AdminGrantsExecute(r AdminAPIAdminGrantsRequest) (*GrantsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GrantsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminGrants")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/grants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.org != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "org", r.org, "form", "")
	}
	if r.result != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "result", r.result, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdminAPIAdminInfraRequest struct {
	ctx        context.Context
	ApiService *AdminAPIService
	refresh    *string
}

// Refresh, when present, forces a full re-scan instead of serving the cached snapshot. Every MUTATION re-scans regardless — this is only for the reader.
func (r AdminAPIAdminInfraRequest) Refresh(refresh string) AdminAPIAdminInfraRequest {
	r.refresh = &refresh
	return r
}

func (r AdminAPIAdminInfraRequest) Execute() (*ReadOut, *http.Response, error) {
	return r.ApiService.AdminInfraExecute(r)
}

/*
AdminInfra Serves the whole DigitalOcean infrastructure board: droplets, volumes, DOKS clusters and load balancers, each cross-referenced against every cluster's live Kubernetes state so the board can say what is safe to destroy and what is not.

Serves the whole DigitalOcean infrastructure board: droplets, volumes, DOKS
clusters and load balancers, each cross-referenced against every cluster's live
Kubernetes state so the board can say what is safe to destroy and what is not.

It is cached for up to a minute because one read is a fan-out over the DO API plus a
full pod/PV listing per cluster. Staleness is never load-bearing: every MUTATION
re-scans from scratch and ignores this cache.

Only an unusable DO account is a hard failure. A partial read still produces a board,
with the failing source named in sources[] — except for clusters and volumes, which
the safety verdict depends on; without those the analysis degrades rather than
classifying anything it cannot prove.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AdminAPIAdminInfraRequest
*/
func (a *AdminAPIService) AdminInfra(ctx context.Context) AdminAPIAdminInfraRequest {
	return AdminAPIAdminInfraRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReadOut
func (a *AdminAPIService) AdminInfraExecute(r AdminAPIAdminInfraRequest) (*ReadOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReadOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdminAPIService.AdminInfra")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/admin/infra"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.refresh != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "refresh", r.refresh, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

[...]
