/*
Hanzo Cloud — Unified API (V8 · Open Edition)

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Grouped by the canonical domains in capabilities.yaml (the ONE registry). cloud/openapi.yaml is hanzoai/cloud's own woven document, copied verbatim by sync.py, and it wins wherever it and a hand-written spec describe the same route. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml + capabilities.yaml, not this file.

API version: 8.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// GuideAPIService GuideAPI service
type GuideAPIService service

type GuideAPICloudDeleteV1GuideCurriculumRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudDeleteV1GuideCurriculumRequest) Execute() (*CloudCurriculumView, *http.Response, error) {
	return r.ApiService.CloudDeleteV1GuideCurriculumExecute(r)
}

/*
CloudDeleteV1GuideCurriculum DeleteCurriculum clears the caller org's curriculum override and returns the journey it falls back to — the brand blueprint, else the embedded fixture.

DeleteCurriculum clears the caller org's curriculum override and returns the
journey it falls back to — the brand blueprint, else the embedded fixture.
Clearing an org that never set one is a no-op that answers the same default.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudDeleteV1GuideCurriculumRequest
*/
func (a *GuideAPIService) CloudDeleteV1GuideCurriculum(ctx context.Context) GuideAPICloudDeleteV1GuideCurriculumRequest {
	return GuideAPICloudDeleteV1GuideCurriculumRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCurriculumView
func (a *GuideAPIService) CloudDeleteV1GuideCurriculumExecute(r GuideAPICloudDeleteV1GuideCurriculumRequest) (*CloudCurriculumView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCurriculumView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudDeleteV1GuideCurriculum")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/curriculum"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudGetV1GuideRequest) Execute() (*CloudOverviewView, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideExecute(r)
}

/*
CloudGetV1Guide Overview returns the caller org's launch journey: the active curriculum's version and title, every step with its state, whether it is available, what blocks it and whether the Business AI can run it, the done/total/percent progress with the next step to take, and the org's analytics funnel folded in.

Overview returns the caller org's launch journey: the active curriculum's
version and title, every step with its state, whether it is available, what
blocks it and whether the Business AI can run it, the done/total/percent
progress with the next step to take, and the org's analytics funnel folded in.
Auto-detect runs first, so a step the org has already completed elsewhere reads
done without anyone marking it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideRequest
*/
func (a *GuideAPIService) CloudGetV1Guide(ctx context.Context) GuideAPICloudGetV1GuideRequest {
	return GuideAPICloudGetV1GuideRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudOverviewView
func (a *GuideAPIService) CloudGetV1GuideExecute(r GuideAPICloudGetV1GuideRequest) (*CloudOverviewView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOverviewView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1Guide")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideActionsRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudGetV1GuideActionsRequest) Execute() (*CloudActionsView, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideActionsExecute(r)
}

/*
CloudGetV1GuideActions ListActions returns the caller org's Business AI action ledger, most recent first: every \"do it for me\" tool call, the arguments it ran with, its result and whether it succeeded.

ListActions returns the caller org's Business AI action ledger, most recent
first: every "do it for me" tool call, the arguments it ran with, its result and
whether it succeeded. It is the audit-visible record of what the agent did on
the org's behalf, and the backing state for the "acted" auto-detect signal.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideActionsRequest
*/
func (a *GuideAPIService) CloudGetV1GuideActions(ctx context.Context) GuideAPICloudGetV1GuideActionsRequest {
	return GuideAPICloudGetV1GuideActionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudActionsView
func (a *GuideAPIService) CloudGetV1GuideActionsExecute(r GuideAPICloudGetV1GuideActionsRequest) (*CloudActionsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudActionsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1GuideActions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/actions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideAnalyticsRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudGetV1GuideAnalyticsRequest) Execute() (*CloudAnalyticsView, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideAnalyticsExecute(r)
}

/*
CloudGetV1GuideAnalytics Analytics returns the caller org's funnel from the analytics lens plus the GTM recommendations derived from it.

Analytics returns the caller org's funnel from the analytics lens plus the GTM
recommendations derived from it. It is the Business AI's data-grounded read —
what the funnel is doing, and the next-best action to move its weakest stage. An
unreachable or silent warehouse answers available=false, never a fabricated
number.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideAnalyticsRequest
*/
func (a *GuideAPIService) CloudGetV1GuideAnalytics(ctx context.Context) GuideAPICloudGetV1GuideAnalyticsRequest {
	return GuideAPICloudGetV1GuideAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudAnalyticsView
func (a *GuideAPIService) CloudGetV1GuideAnalyticsExecute(r GuideAPICloudGetV1GuideAnalyticsRequest) (*CloudAnalyticsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudAnalyticsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1GuideAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideBlueprintRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudGetV1GuideBlueprintRequest) Execute() (*CloudBlueprintView, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideBlueprintExecute(r)
}

/*
CloudGetV1GuideBlueprint GetBlueprint returns the FULL authored brand blueprint — every principle, section, step, strategy and template WITH its enabled flag made explicit, including the disabled items the org-facing reads never see — plus the active version number, the brand key it is stored under and the item counts.

GetBlueprint returns the FULL authored brand blueprint — every principle,
section, step, strategy and template WITH its enabled flag made explicit,
including the disabled items the org-facing reads never see — plus the active
version number, the brand key it is stored under and the item counts. It is the
SuperAdmin authoring view of the platform blueprint, so it is refused 403 for
anyone else, including a per-org admin: the brand blueprint is shared platform
content, not a per-customer surface.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideBlueprintRequest
*/
func (a *GuideAPIService) CloudGetV1GuideBlueprint(ctx context.Context) GuideAPICloudGetV1GuideBlueprintRequest {
	return GuideAPICloudGetV1GuideBlueprintRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBlueprintView
func (a *GuideAPIService) CloudGetV1GuideBlueprintExecute(r GuideAPICloudGetV1GuideBlueprintRequest) (*CloudBlueprintView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBlueprintView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1GuideBlueprint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/blueprint"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideBlueprintVersionsRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudGetV1GuideBlueprintVersionsRequest) Execute() (*CloudBlueprintVersionsView, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideBlueprintVersionsExecute(r)
}

/*
CloudGetV1GuideBlueprintVersions ListBlueprintVersions returns the brand blueprint's version history — every stored version's number and edit time, newest first — which is the point-in-time-recovery and audit trail behind the authoring plane.

ListBlueprintVersions returns the brand blueprint's version history — every
stored version's number and edit time, newest first — which is the
point-in-time-recovery and audit trail behind the authoring plane. Metadata
only: the documents are not returned. SuperAdmin only, like the rest of this
plane. The history is listable even when the current stored document no longer
parses, so a schema-drifted row can still be diagnosed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideBlueprintVersionsRequest
*/
func (a *GuideAPIService) CloudGetV1GuideBlueprintVersions(ctx context.Context) GuideAPICloudGetV1GuideBlueprintVersionsRequest {
	return GuideAPICloudGetV1GuideBlueprintVersionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudBlueprintVersionsView
func (a *GuideAPIService) CloudGetV1GuideBlueprintVersionsExecute(r GuideAPICloudGetV1GuideBlueprintVersionsRequest) (*CloudBlueprintVersionsView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudBlueprintVersionsView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1GuideBlueprintVersions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/blueprint/versions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideCurriculumRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudGetV1GuideCurriculumRequest) Execute() (*CloudCurriculumView, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideCurriculumExecute(r)
}

/*
CloudGetV1GuideCurriculum GetCurriculum returns the journey the caller's org is actually running, and whether it comes from the org's OWN override (custom) or from the platform default — the brand blueprint, else the embedded fixture.

GetCurriculum returns the journey the caller's org is actually running, and
whether it comes from the org's OWN override (custom) or from the platform
default — the brand blueprint, else the embedded fixture.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideCurriculumRequest
*/
func (a *GuideAPIService) CloudGetV1GuideCurriculum(ctx context.Context) GuideAPICloudGetV1GuideCurriculumRequest {
	return GuideAPICloudGetV1GuideCurriculumRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCurriculumView
func (a *GuideAPIService) CloudGetV1GuideCurriculumExecute(r GuideAPICloudGetV1GuideCurriculumRequest) (*CloudCurriculumView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCurriculumView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1GuideCurriculum")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/curriculum"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideProfileRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudGetV1GuideProfileRequest) Execute() (*CloudProfileResponse, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideProfileExecute(r)
}

/*
CloudGetV1GuideProfile Profile returns the caller org's OBSERVED growth profile — the signal set, the classified growth stage, and the org's own key metrics.

Profile returns the caller org's OBSERVED growth profile — the signal set, the
classified growth stage, and the org's own key metrics. It is a pure READ,
recomputed from the org's CURRENT state each request (real-time by pull): it
reuses the reconcile path (snapshotFor runs the detectors) for launch progress
and runs the growth probes (observe) for the signals — it never caches, never
runs a billable effect, never targets another org. Org-scoped on the validated
principal; fail-closed without one. It PRODUCES the profile and classifies the
stage; it decides NO recommendation (that is a later surface).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideProfileRequest
*/
func (a *GuideAPIService) CloudGetV1GuideProfile(ctx context.Context) GuideAPICloudGetV1GuideProfileRequest {
	return GuideAPICloudGetV1GuideProfileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudProfileResponse
func (a *GuideAPIService) CloudGetV1GuideProfileExecute(r GuideAPICloudGetV1GuideProfileRequest) (*CloudProfileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudProfileResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1GuideProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/profile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideStrategiesRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
	category   *string
	stage      *string
	workload   *string
}

// Category filters to tactics in exactly this category.
func (r GuideAPICloudGetV1GuideStrategiesRequest) Category(category string) GuideAPICloudGetV1GuideStrategiesRequest {
	r.category = &category
	return r
}

// Stage previews the corpus at a chosen growth stage (research|formed|launched|activated|scaling), overriding the org&#39;s observed one. An unknown value is ignored and the observed stage stands.
func (r GuideAPICloudGetV1GuideStrategiesRequest) Stage(stage string) GuideAPICloudGetV1GuideStrategiesRequest {
	r.stage = &stage
	return r
}

// Workload filters to tactics with exactly this workload.
func (r GuideAPICloudGetV1GuideStrategiesRequest) Workload(workload string) GuideAPICloudGetV1GuideStrategiesRequest {
	r.workload = &workload
	return r
}

func (r GuideAPICloudGetV1GuideStrategiesRequest) Execute() (*CloudCorpusView, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideStrategiesExecute(r)
}

/*
CloudGetV1GuideStrategies Strategies returns the ENABLED tactics corpus for the caller's org: the tactics library narrowed by the explicit category/workload filters AND by the org's OBSERVED growth stage and capability signals (a tactic's tags are preconditions, so it surfaces only once the org can act on it).

Strategies returns the ENABLED tactics corpus for the caller's org: the tactics
library narrowed by the explicit category/workload filters AND by the org's
OBSERVED growth stage and capability signals (a tactic's tags are
preconditions, so it surfaces only once the org can act on it). Passing stage
PREVIEWS the corpus at that stage instead of the observed one. The content is
shared platform data — no org's records — and the read is never a billable
effect.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideStrategiesRequest
*/
func (a *GuideAPIService) CloudGetV1GuideStrategies(ctx context.Context) GuideAPICloudGetV1GuideStrategiesRequest {
	return GuideAPICloudGetV1GuideStrategiesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudCorpusView
func (a *GuideAPIService) CloudGetV1GuideStrategiesExecute(r GuideAPICloudGetV1GuideStrategiesRequest) (*CloudCorpusView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudCorpusView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1GuideStrategies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/strategies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.stage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stage", r.stage, "form", "")
	}
	if r.workload != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workload", r.workload, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudGetV1GuideSuggestRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudGetV1GuideSuggestRequest) Execute() (*CloudSuggestResponse, *http.Response, error) {
	return r.ApiService.CloudGetV1GuideSuggestExecute(r)
}

/*
CloudGetV1GuideSuggest Suggest returns the caller org's next-best quests: the available, non-terminal steps of its journey ranked by how much downstream work each unblocks, each with the grounded reason it is a good next move and whether the Business AI can run it, plus the org's funnel and the GTM recommendations derived from it.

Suggest returns the caller org's next-best quests: the available, non-terminal
steps of its journey ranked by how much downstream work each unblocks, each with
the grounded reason it is a good next move and whether the Business AI can run
it, plus the org's funnel and the GTM recommendations derived from it. A
best-effort AI narrative over exactly those quests and numbers is included when
an AI plane is wired. READ-ONLY: it advises and never runs a step — the only
executing path is POST /v1/guide/steps/{id}/do.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudGetV1GuideSuggestRequest
*/
func (a *GuideAPIService) CloudGetV1GuideSuggest(ctx context.Context) GuideAPICloudGetV1GuideSuggestRequest {
	return GuideAPICloudGetV1GuideSuggestRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudSuggestResponse
func (a *GuideAPIService) CloudGetV1GuideSuggestExecute(r GuideAPICloudGetV1GuideSuggestRequest) (*CloudSuggestResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudSuggestResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudGetV1GuideSuggest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/suggest"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudPatchV1GuideBlueprintByCollectionByIdRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
	collection string
	id         string
}

func (r GuideAPICloudPatchV1GuideBlueprintByCollectionByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPatchV1GuideBlueprintByCollectionByIdExecute(r)
}

/*
CloudPatchV1GuideBlueprintByCollectionById Method for CloudPatchV1GuideBlueprintByCollectionById

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param collection
	@param id
	@return GuideAPICloudPatchV1GuideBlueprintByCollectionByIdRequest
*/
func (a *GuideAPIService) CloudPatchV1GuideBlueprintByCollectionById(ctx context.Context, collection string, id string) GuideAPICloudPatchV1GuideBlueprintByCollectionByIdRequest {
	return GuideAPICloudPatchV1GuideBlueprintByCollectionByIdRequest{
		ApiService: a,
		ctx:        ctx,
		collection: collection,
		id:         id,
	}
}

// Execute executes the request
func (a *GuideAPIService) CloudPatchV1GuideBlueprintByCollectionByIdExecute(r GuideAPICloudPatchV1GuideBlueprintByCollectionByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPatchV1GuideBlueprintByCollectionById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/blueprint/{collection}/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"collection"+"}", url.PathEscape(parameterValueToString(r.collection, "collection")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GuideAPICloudPostV1GuideChatRequest struct {
	ctx              context.Context
	ApiService       *GuideAPIService
	cloudChatRequest *CloudChatRequest
}

func (r GuideAPICloudPostV1GuideChatRequest) CloudChatRequest(cloudChatRequest CloudChatRequest) GuideAPICloudPostV1GuideChatRequest {
	r.cloudChatRequest = &cloudChatRequest
	return r
}

func (r GuideAPICloudPostV1GuideChatRequest) Execute() (*CloudChatResponse, *http.Response, error) {
	return r.ApiService.CloudPostV1GuideChatExecute(r)
}

/*
CloudPostV1GuideChat Chat answers a founder's question about their launch journey as the Business AI coach: it grounds the reply in the org's REAL progress, its ranked available quests and its analytics funnel, and returns those candidate quests alongside so the caller can act on one.

Chat answers a founder's question about their launch journey as the Business AI
coach: it grounds the reply in the org's REAL progress, its ranked available
quests and its analytics funnel, and returns those candidate quests alongside so
the caller can act on one. READ-ONLY — it advises and never runs a step, so it
cannot be talked into performing an action; the only executing path is POST
/v1/guide/steps/{id}/do. One AI completion per call, billed to the caller's own
payer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudPostV1GuideChatRequest
*/
func (a *GuideAPIService) CloudPostV1GuideChat(ctx context.Context) GuideAPICloudPostV1GuideChatRequest {
	return GuideAPICloudPostV1GuideChatRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CloudChatResponse
func (a *GuideAPIService) CloudPostV1GuideChatExecute(r GuideAPICloudPostV1GuideChatRequest) (*CloudChatResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudChatResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPostV1GuideChat")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/chat"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudChatRequest == nil {
		return localVarReturnValue, nil, reportError("cloudChatRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cloudChatRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudPostV1GuideStepsByIdDoRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
	id         string
}

func (r GuideAPICloudPostV1GuideStepsByIdDoRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1GuideStepsByIdDoExecute(r)
}

/*
CloudPostV1GuideStepsByIdDo Method for CloudPostV1GuideStepsByIdDo

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return GuideAPICloudPostV1GuideStepsByIdDoRequest
*/
func (a *GuideAPIService) CloudPostV1GuideStepsByIdDo(ctx context.Context, id string) GuideAPICloudPostV1GuideStepsByIdDoRequest {
	return GuideAPICloudPostV1GuideStepsByIdDoRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *GuideAPIService) CloudPostV1GuideStepsByIdDoExecute(r GuideAPICloudPostV1GuideStepsByIdDoRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPostV1GuideStepsByIdDo")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/steps/{id}/do"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GuideAPICloudPostV1GuideStepsByIdDoneRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
	id         string
}

func (r GuideAPICloudPostV1GuideStepsByIdDoneRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1GuideStepsByIdDoneExecute(r)
}

/*
CloudPostV1GuideStepsByIdDone Method for CloudPostV1GuideStepsByIdDone

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return GuideAPICloudPostV1GuideStepsByIdDoneRequest
*/
func (a *GuideAPIService) CloudPostV1GuideStepsByIdDone(ctx context.Context, id string) GuideAPICloudPostV1GuideStepsByIdDoneRequest {
	return GuideAPICloudPostV1GuideStepsByIdDoneRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *GuideAPIService) CloudPostV1GuideStepsByIdDoneExecute(r GuideAPICloudPostV1GuideStepsByIdDoneRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPostV1GuideStepsByIdDone")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/steps/{id}/done"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GuideAPICloudPostV1GuideStepsByIdStartRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
	id         string
}

func (r GuideAPICloudPostV1GuideStepsByIdStartRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPostV1GuideStepsByIdStartExecute(r)
}

/*
CloudPostV1GuideStepsByIdStart Method for CloudPostV1GuideStepsByIdStart

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return GuideAPICloudPostV1GuideStepsByIdStartRequest
*/
func (a *GuideAPIService) CloudPostV1GuideStepsByIdStart(ctx context.Context, id string) GuideAPICloudPostV1GuideStepsByIdStartRequest {
	return GuideAPICloudPostV1GuideStepsByIdStartRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *GuideAPIService) CloudPostV1GuideStepsByIdStartExecute(r GuideAPICloudPostV1GuideStepsByIdStartRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPostV1GuideStepsByIdStart")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/steps/{id}/start"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GuideAPICloudPostV1GuideStepsIdResetRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
	id         string
}

func (r GuideAPICloudPostV1GuideStepsIdResetRequest) Execute() (*CloudOverviewView, *http.Response, error) {
	return r.ApiService.CloudPostV1GuideStepsIdResetExecute(r)
}

/*
CloudPostV1GuideStepsIdReset ResetStep returns one step of the caller org's journey to todo — clearing a manual mark or a skip — and returns the refreshed journey.

ResetStep returns one step of the caller org's journey to todo — clearing a
manual mark or a skip — and returns the refreshed journey. Reset is never
dependency-gated. Auto-detect runs on the next read, so a step the org has in
fact completed elsewhere goes straight back to done.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the step's id, as it appears in the journey (e.g. \"gsuite\").
	@return GuideAPICloudPostV1GuideStepsIdResetRequest
*/
func (a *GuideAPIService) CloudPostV1GuideStepsIdReset(ctx context.Context, id string) GuideAPICloudPostV1GuideStepsIdResetRequest {
	return GuideAPICloudPostV1GuideStepsIdResetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudOverviewView
func (a *GuideAPIService) CloudPostV1GuideStepsIdResetExecute(r GuideAPICloudPostV1GuideStepsIdResetRequest) (*CloudOverviewView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOverviewView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPostV1GuideStepsIdReset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/steps/{id}/reset"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudPostV1GuideStepsIdSkipRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
	id         string
}

func (r GuideAPICloudPostV1GuideStepsIdSkipRequest) Execute() (*CloudOverviewView, *http.Response, error) {
	return r.ApiService.CloudPostV1GuideStepsIdSkipExecute(r)
}

/*
CloudPostV1GuideStepsIdSkip SkipStep marks one step of the caller org's journey skipped and returns the refreshed journey.

SkipStep marks one step of the caller org's journey skipped and returns the
refreshed journey. Skipping is never dependency-gated — the founder is
declaring the step does not apply to them — so a step whose dependencies are
unfinished can still be skipped, and a skipped step counts as terminal for
everything downstream of it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the step's id, as it appears in the journey (e.g. \"gsuite\").
	@return GuideAPICloudPostV1GuideStepsIdSkipRequest
*/
func (a *GuideAPIService) CloudPostV1GuideStepsIdSkip(ctx context.Context, id string) GuideAPICloudPostV1GuideStepsIdSkipRequest {
	return GuideAPICloudPostV1GuideStepsIdSkipRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CloudOverviewView
func (a *GuideAPIService) CloudPostV1GuideStepsIdSkipExecute(r GuideAPICloudPostV1GuideStepsIdSkipRequest) (*CloudOverviewView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CloudOverviewView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPostV1GuideStepsIdSkip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/steps/{id}/skip"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GuideAPICloudPutV1GuideBlueprintRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudPutV1GuideBlueprintRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPutV1GuideBlueprintExecute(r)
}

/*
CloudPutV1GuideBlueprint Method for CloudPutV1GuideBlueprint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudPutV1GuideBlueprintRequest
*/
func (a *GuideAPIService) CloudPutV1GuideBlueprint(ctx context.Context) GuideAPICloudPutV1GuideBlueprintRequest {
	return GuideAPICloudPutV1GuideBlueprintRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *GuideAPIService) CloudPutV1GuideBlueprintExecute(r GuideAPICloudPutV1GuideBlueprintRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPutV1GuideBlueprint")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/blueprint"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type GuideAPICloudPutV1GuideCurriculumRequest struct {
	ctx        context.Context
	ApiService *GuideAPIService
}

func (r GuideAPICloudPutV1GuideCurriculumRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloudPutV1GuideCurriculumExecute(r)
}

/*
CloudPutV1GuideCurriculum Method for CloudPutV1GuideCurriculum

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GuideAPICloudPutV1GuideCurriculumRequest
*/
func (a *GuideAPIService) CloudPutV1GuideCurriculum(ctx context.Context) GuideAPICloudPutV1GuideCurriculumRequest {
	return GuideAPICloudPutV1GuideCurriculumRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *GuideAPIService) CloudPutV1GuideCurriculumExecute(r GuideAPICloudPutV1GuideCurriculumRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GuideAPIService.CloudPutV1GuideCurriculum")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/guide/curriculum"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
