/*
Hanzo Cloud — Unified API

The single unified OpenAPI surface for ALL Hanzo services, aggregated from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/_*. Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this file.

API version: 1.0.0
Contact: support@hanzo.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// DnsAnalyticsAPIService DnsAnalyticsAPI service
type DnsAnalyticsAPIService service

type DnsAnalyticsAPIDnsGetZoneAnalyticsRequest struct {
	ctx         context.Context
	ApiService  *DnsAnalyticsAPIService
	zone        string
	from        *time.Time
	to          *time.Time
	granularity *string
}

func (r DnsAnalyticsAPIDnsGetZoneAnalyticsRequest) From(from time.Time) DnsAnalyticsAPIDnsGetZoneAnalyticsRequest {
	r.from = &from
	return r
}

func (r DnsAnalyticsAPIDnsGetZoneAnalyticsRequest) To(to time.Time) DnsAnalyticsAPIDnsGetZoneAnalyticsRequest {
	r.to = &to
	return r
}

func (r DnsAnalyticsAPIDnsGetZoneAnalyticsRequest) Granularity(granularity string) DnsAnalyticsAPIDnsGetZoneAnalyticsRequest {
	r.granularity = &granularity
	return r
}

func (r DnsAnalyticsAPIDnsGetZoneAnalyticsRequest) Execute() (*DnsQueryAnalytics, *http.Response, error) {
	return r.ApiService.DnsGetZoneAnalyticsExecute(r)
}

/*
DnsGetZoneAnalytics Get query analytics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param zone
	@return DnsAnalyticsAPIDnsGetZoneAnalyticsRequest
*/
func (a *DnsAnalyticsAPIService) DnsGetZoneAnalytics(ctx context.Context, zone string) DnsAnalyticsAPIDnsGetZoneAnalyticsRequest {
	return DnsAnalyticsAPIDnsGetZoneAnalyticsRequest{
		ApiService: a,
		ctx:        ctx,
		zone:       zone,
	}
}

// Execute executes the request
//
//	@return DnsQueryAnalytics
func (a *DnsAnalyticsAPIService) DnsGetZoneAnalyticsExecute(r DnsAnalyticsAPIDnsGetZoneAnalyticsRequest) (*DnsQueryAnalytics, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsQueryAnalytics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAnalyticsAPIService.DnsGetZoneAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dns/zones/{zone}/analytics"
	localVarPath = strings.Replace(localVarPath, "{"+"zone"+"}", url.PathEscape(parameterValueToString(r.zone, "zone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.to != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "form", "")
	} else {
		var defaultValue string = "day"
		r.granularity = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v DnsError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
