/*
Hanzo Cloud API

The Hanzo Cloud API as a customer calls it: every operation under /v1/ except the operator's admin product, relay doors, legacy spellings and capabilities still reached by flag. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// BenchmarkAPIService BenchmarkAPI service
type BenchmarkAPIService service

type BenchmarkAPIGetBenchmarkCatalogRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
}

func (r BenchmarkAPIGetBenchmarkCatalogRequest) Execute() (*BenchmarkCatalog, *http.Response, error) {
	return r.ApiService.GetBenchmarkCatalogExecute(r)
}

/*
GetBenchmarkCatalog Is the canonical public benchmarks this arena runs — the id, title, axis, item count and upstream source of each, with native marking the ones the standardized harness runs today; the rest are registered and adapter-pending.

Is the canonical public benchmarks this arena runs — the id, title, axis,
item count and upstream source of each, with native marking the ones the
standardized harness runs today; the rest are registered and adapter-pending.

These ids are the vocabulary the rest of the surface takes: a run names them, and
the leaderboard and compare read them from ?benchmark=. The catalog is
deployment-wide and identical for every caller — there is no tenant in it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkCatalogRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkCatalog(ctx context.Context) BenchmarkAPIGetBenchmarkCatalogRequest {
	return BenchmarkAPIGetBenchmarkCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BenchmarkCatalog
func (a *BenchmarkAPIService) GetBenchmarkCatalogExecute(r BenchmarkAPIGetBenchmarkCatalogRequest) (*BenchmarkCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BenchmarkCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIGetBenchmarkClaimsRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	benchmark  *string
	model      *string
	provider   *string
	source     *string
	protocol   *string
}

// Benchmark filters to one benchmark id. Empty returns every benchmark.
func (r BenchmarkAPIGetBenchmarkClaimsRequest) Benchmark(benchmark string) BenchmarkAPIGetBenchmarkClaimsRequest {
	r.benchmark = &benchmark
	return r
}

// Model filters to one model. Empty returns every model.
func (r BenchmarkAPIGetBenchmarkClaimsRequest) Model(model string) BenchmarkAPIGetBenchmarkClaimsRequest {
	r.model = &model
	return r
}

// Provider filters to one lab or leaderboard — the way to read what a single source claims across every model it covers.
func (r BenchmarkAPIGetBenchmarkClaimsRequest) Provider(provider string) BenchmarkAPIGetBenchmarkClaimsRequest {
	r.provider = &provider
	return r
}

// Source filters to one citation, which is the finest grain there is: a source is what makes two claims about one model independent rather than a restatement of each other.
func (r BenchmarkAPIGetBenchmarkClaimsRequest) Source(source string) BenchmarkAPIGetBenchmarkClaimsRequest {
	r.source = &source
	return r
}

// Protocol filters by HOW a claim was scored, so provider cards can be read apart from third parties running their own harness.
func (r BenchmarkAPIGetBenchmarkClaimsRequest) Protocol(protocol string) BenchmarkAPIGetBenchmarkClaimsRequest {
	r.protocol = &protocol
	return r
}

func (r BenchmarkAPIGetBenchmarkClaimsRequest) Execute() (*ClaimsOut, *http.Response, error) {
	return r.ApiService.GetBenchmarkClaimsExecute(r)
}

/*
GetBenchmarkClaims Lists the effective published claims: what the leaderboard will use for each (benchmark, model) after the seed, the import and any stored correction are layered.

Lists the effective published claims: what the leaderboard will use for
each (benchmark, model) after the seed, the import and any stored correction
are layered. It answers the operator's question — what does this arena
currently believe someone else reported, and did we ship that or fix it.

Effective values only. The history of a key lives in the append-only file and
is not what this op is for; a list that returned every superseded row would
make the common question the hard one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkClaimsRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkClaims(ctx context.Context) BenchmarkAPIGetBenchmarkClaimsRequest {
	return BenchmarkAPIGetBenchmarkClaimsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClaimsOut
func (a *BenchmarkAPIService) GetBenchmarkClaimsExecute(r BenchmarkAPIGetBenchmarkClaimsRequest) (*ClaimsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClaimsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkClaims")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/claims"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.benchmark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Benchmark", r.benchmark, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Model", r.model, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Provider", r.provider, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Source", r.source, "form", "")
	}
	if r.protocol != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Protocol", r.protocol, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIGetBenchmarkCompareRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	a          *string
	b          *string
	benchmark  *string
}

// A is the first model id. It is required.
func (r BenchmarkAPIGetBenchmarkCompareRequest) A(a string) BenchmarkAPIGetBenchmarkCompareRequest {
	r.a = &a
	return r
}

// B is the second model id. It is required.
func (r BenchmarkAPIGetBenchmarkCompareRequest) B(b string) BenchmarkAPIGetBenchmarkCompareRequest {
	r.b = &b
	return r
}

// Benchmark is the catalog id to compare on, defaulting to gpqa_diamond.
func (r BenchmarkAPIGetBenchmarkCompareRequest) Benchmark(benchmark string) BenchmarkAPIGetBenchmarkCompareRequest {
	r.benchmark = &benchmark
	return r
}

func (r BenchmarkAPIGetBenchmarkCompareRequest) Execute() (*Pairing, *http.Response, error) {
	return r.ApiService.GetBenchmarkCompareExecute(r)
}

/*
GetBenchmarkCompare Is the ONLY valid arm-vs-arm test: it pairs the two models on the items BOTH completed, and answers rescue and damage counts with an exact-McNemar p.

Is the ONLY valid arm-vs-arm test: it pairs the two models on the items
BOTH completed, and answers rescue and damage counts with an exact-McNemar p.

Pairing is what prevents the subset artifact — comparing one model's easy subset
against another's full run — so n_common, not either arm's own coverage, is the
number to read this by.

Both a and b are required. The benchmark defaults to gpqa_diamond.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkCompareRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkCompare(ctx context.Context) BenchmarkAPIGetBenchmarkCompareRequest {
	return BenchmarkAPIGetBenchmarkCompareRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Pairing
func (a *BenchmarkAPIService) GetBenchmarkCompareExecute(r BenchmarkAPIGetBenchmarkCompareRequest) (*Pairing, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Pairing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkCompare")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/compare"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.a == nil {
		return localVarReturnValue, nil, reportError("a is required and must be specified")
	}
	if r.b == nil {
		return localVarReturnValue, nil, reportError("b is required and must be specified")
	}

	if r.benchmark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "benchmark", r.benchmark, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "a", r.a, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "b", r.b, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIGetBenchmarkHistoryRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	benchmark  *string
	model      *string
}

// Benchmark is the catalog id to read, defaulting to gpqa_diamond.
func (r BenchmarkAPIGetBenchmarkHistoryRequest) Benchmark(benchmark string) BenchmarkAPIGetBenchmarkHistoryRequest {
	r.benchmark = &benchmark
	return r
}

// Model filters to one model. Empty returns every model measured.
func (r BenchmarkAPIGetBenchmarkHistoryRequest) Model(model string) BenchmarkAPIGetBenchmarkHistoryRequest {
	r.model = &model
	return r
}

func (r BenchmarkAPIGetBenchmarkHistoryRequest) Execute() (*HistoryOut, *http.Response, error) {
	return r.ApiService.GetBenchmarkHistoryExecute(r)
}

/*
GetBenchmarkHistory Returns each model's measured score per run over time, oldest first, with the change between runs.

Returns each model's measured score per run over time, oldest first,
with the change between runs.

This is the counterweight to a leaderboard: the board shows the latest run
because that is what "how good is it" means, and a single latest number cannot
distinguish a model that has always been strong from one that just improved,
or from one that regressed after a provider changed something. Both matter for
routing, and only one of them is visible on a board.

Runs with no id — attempts recorded before runs existed — group under the
empty run, which is honestly what they are: one undated measurement.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkHistoryRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkHistory(ctx context.Context) BenchmarkAPIGetBenchmarkHistoryRequest {
	return BenchmarkAPIGetBenchmarkHistoryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HistoryOut
func (a *BenchmarkAPIService) GetBenchmarkHistoryExecute(r BenchmarkAPIGetBenchmarkHistoryRequest) (*HistoryOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HistoryOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.benchmark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Benchmark", r.benchmark, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Model", r.model, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIGetBenchmarkLeaderboardRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	benchmark  *string
}

// Benchmark is the catalog id to read, defaulting to gpqa_diamond.
func (r BenchmarkAPIGetBenchmarkLeaderboardRequest) Benchmark(benchmark string) BenchmarkAPIGetBenchmarkLeaderboardRequest {
	r.benchmark = &benchmark
	return r
}

func (r BenchmarkAPIGetBenchmarkLeaderboardRequest) Execute() (*Leaderboard, *http.Response, error) {
	return r.ApiService.GetBenchmarkLeaderboardExecute(r)
}

/*
GetBenchmarkLeaderboard Answers one row per model for the benchmark named — what our own harness measured, beside what the vendor claims, and the gap between them.

Answers one row per model for the benchmark named — what our own
harness measured, beside what the vendor claims, and the gap between them.

The gap is the point of the arena; provider-reported claims have run materially
hot against one standardized harness.

The two planes are NEVER blended, and that is the rule to read the rows by: a
model we have measured but no vendor has claimed for shows published null, a
model with only a claim shows measured null, and gap exists only where both do.

n is coverage and is not decoration: two measured numbers taken over different
item counts are not comparable, so read the row's n before reading its accuracy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkLeaderboardRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkLeaderboard(ctx context.Context) BenchmarkAPIGetBenchmarkLeaderboardRequest {
	return BenchmarkAPIGetBenchmarkLeaderboardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Leaderboard
func (a *BenchmarkAPIService) GetBenchmarkLeaderboardExecute(r BenchmarkAPIGetBenchmarkLeaderboardRequest) (*Leaderboard, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Leaderboard
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkLeaderboard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/leaderboard"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.benchmark != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "benchmark", r.benchmark, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIGetBenchmarkPresetsRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
}

func (r BenchmarkAPIGetBenchmarkPresetsRequest) Execute() (*PresetList, *http.Response, error) {
	return r.ApiService.GetBenchmarkPresetsExecute(r)
}

/*
GetBenchmarkPresets Are the router blends available to compose from — a named set of model arms, the rank they escalate through and the panel width that bounds fan-out — each served by the model layer as enso-<name>.

Are the router blends available to compose from — a named set of model
arms, the rank they escalate through and the panel width that bounds fan-out —
each served by the model layer as enso-<name>.

Today it answers exactly one row, the reference blend: a worked example written
in models we name, published as an example of the FORM. It is deliberately not
the composition of a Hanzo-served tier — the tier name exists to abstract that —
so fork it and swap arms by what the leaderboard measures on your own tasks
rather than reading it as a disclosure.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIGetBenchmarkPresetsRequest
*/
func (a *BenchmarkAPIService) GetBenchmarkPresets(ctx context.Context) BenchmarkAPIGetBenchmarkPresetsRequest {
	return BenchmarkAPIGetBenchmarkPresetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PresetList
func (a *BenchmarkAPIService) GetBenchmarkPresetsExecute(r BenchmarkAPIGetBenchmarkPresetsRequest) (*PresetList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PresetList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.GetBenchmarkPresets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/presets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIPostBenchmarkClaimsRequest struct {
	ctx         context.Context
	ApiService  *BenchmarkAPIService
	putClaimsIn *PutClaimsIn
}

func (r BenchmarkAPIPostBenchmarkClaimsRequest) PutClaimsIn(putClaimsIn PutClaimsIn) BenchmarkAPIPostBenchmarkClaimsRequest {
	r.putClaimsIn = &putClaimsIn
	return r
}

func (r BenchmarkAPIPostBenchmarkClaimsRequest) Execute() (*PutClaimsOut, *http.Response, error) {
	return r.ApiService.PostBenchmarkClaimsExecute(r)
}

/*
PostBenchmarkClaims Records published claims: one to correct a number, many to import a leaderboard.

Records published claims: one to correct a number, many to import a
leaderboard. Every row must carry a Source, because a claim without its
citation is a number nobody can check — and an unattributed number in the
published plane is indistinguishable from a measurement, which is the one
confusion this whole surface is built to prevent.

Writes are append-only, so this never destroys the value it replaces. A
vendor restating a score leaves both rows on disk, which is how the restating
itself becomes visible.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIPostBenchmarkClaimsRequest
*/
func (a *BenchmarkAPIService) PostBenchmarkClaims(ctx context.Context) BenchmarkAPIPostBenchmarkClaimsRequest {
	return BenchmarkAPIPostBenchmarkClaimsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PutClaimsOut
func (a *BenchmarkAPIService) PostBenchmarkClaimsExecute(r BenchmarkAPIPostBenchmarkClaimsRequest) (*PutClaimsOut, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PutClaimsOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.PostBenchmarkClaims")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/claims"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.putClaimsIn == nil {
		return localVarReturnValue, nil, reportError("putClaimsIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putClaimsIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIPostBenchmarkPresetsRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	preset     *Preset
}

func (r BenchmarkAPIPostBenchmarkPresetsRequest) Preset(preset Preset) BenchmarkAPIPostBenchmarkPresetsRequest {
	r.preset = &preset
	return r
}

func (r BenchmarkAPIPostBenchmarkPresetsRequest) Execute() (*PresetAccepted, *http.Response, error) {
	return r.ApiService.PostBenchmarkPresetsExecute(r)
}

/*
PostBenchmarkPresets Validates a router blend — its name, its arms, the rank they escalate through and the panel fan-out width — and answers 202 with the preset and the enso-<name> it would be served as.

Validates a router blend — its name, its arms, the rank they escalate
through and the panel fan-out width — and answers 202 with the preset and the
enso-<name> it would be served as.

It VALIDATES AND ECHOES: the definition is not persisted yet, so a preset
accepted here is not one the model layer will resolve. Treat the response as a
check on the blend, not a promise to serve it.

Defaults fill the shape rather than refusing it: an omitted rank becomes the arms
in declared order and a panel below 1 becomes 1. The one real invariant is that
rank may only name arms the blend declares — the same rule the model catalog
enforces — and a rank naming anything else is a 422 listing exactly which entries
were undeclared. A blend with no name or no arms is a 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIPostBenchmarkPresetsRequest
*/
func (a *BenchmarkAPIService) PostBenchmarkPresets(ctx context.Context) BenchmarkAPIPostBenchmarkPresetsRequest {
	return BenchmarkAPIPostBenchmarkPresetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PresetAccepted
func (a *BenchmarkAPIService) PostBenchmarkPresetsExecute(r BenchmarkAPIPostBenchmarkPresetsRequest) (*PresetAccepted, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PresetAccepted
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.PostBenchmarkPresets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/presets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.preset == nil {
		return localVarReturnValue, nil, reportError("preset is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.preset
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BenchmarkAPIPostBenchmarkRunsRequest struct {
	ctx        context.Context
	ApiService *BenchmarkAPIService
	suite      *Suite
}

func (r BenchmarkAPIPostBenchmarkRunsRequest) Suite(suite Suite) BenchmarkAPIPostBenchmarkRunsRequest {
	r.suite = &suite
	return r
}

func (r BenchmarkAPIPostBenchmarkRunsRequest) Execute() (*Admission, *http.Response, error) {
	return r.ApiService.PostBenchmarkRunsExecute(r)
}

/*
PostBenchmarkRuns Admits and queues a benchmark run against a model or your own endpoint, and answers 202 with the receipt.

Admits and queues a benchmark run against a model or your own endpoint, and
answers 202 with the receipt.

It is an ADMISSION, not a result: the work is done by the harness afterwards and
the numbers appear on the leaderboard as it completes them.

Cost is bounded by the store rather than by a quota: attempts are append-only and
keyed by (benchmark, item, model), so an (item, model) pair already attempted is
skipped instead of re-spent, and re-queuing the same run is close to free.

Validation is up front and total — a request with neither model nor endpoint is a
400, one with no benchmarks is a 400, and any benchmark id outside the catalog is
a 422 naming exactly which ids were unknown, so a typo never silently queues a
partial run.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BenchmarkAPIPostBenchmarkRunsRequest
*/
func (a *BenchmarkAPIService) PostBenchmarkRuns(ctx context.Context) BenchmarkAPIPostBenchmarkRunsRequest {
	return BenchmarkAPIPostBenchmarkRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Admission
func (a *BenchmarkAPIService) PostBenchmarkRunsExecute(r BenchmarkAPIPostBenchmarkRunsRequest) (*Admission, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Admission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BenchmarkAPIService.PostBenchmarkRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/benchmark/runs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suite == nil {
		return localVarReturnValue, nil, reportError("suite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
