/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// EmbedAPIService EmbedAPI service
type EmbedAPIService service

type EmbedAPIGetEmbedRequest struct {
	ctx        context.Context
	ApiService *EmbedAPIService
	app        *string
}

// App is the embedded app to report on: cms (Content Studio), erp or help.
func (r EmbedAPIGetEmbedRequest) App(app string) EmbedAPIGetEmbedRequest {
	r.app = &app
	return r
}

func (r EmbedAPIGetEmbedRequest) Execute() (*EmbedStatusResp, *http.Response, error) {
	return r.ApiService.GetEmbedExecute(r)
}

/*
GetEmbed Reports whether one of this brand's shared embedded apps (cms, erp, help) may be framed by the caller and is actually running, so a console module can choose between the embed and the provision panel.

Reports whether one of this brand's shared embedded apps (cms, erp,
help) may be framed by the caller and is actually running, so a console module
can choose between the embed and the provision panel.

It answers two questions the browser cannot answer for itself. ENTITLEMENT is
server-authoritative: each app is a single shared per-BRAND instance, so only a
member of the owning brand org — or a SuperAdmin — is given the embed URL; every
other caller gets phase "not-entitled" and no URL. REACHABILITY is a probe of
that origin, which a cross-origin page cannot read for itself.

The probed host is always <app>.<this deployment's own brand domain>: no part of
it comes from the request, so this can never be steered into probing an
arbitrary origin.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EmbedAPIGetEmbedRequest
*/
func (a *EmbedAPIService) GetEmbed(ctx context.Context) EmbedAPIGetEmbedRequest {
	return EmbedAPIGetEmbedRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EmbedStatusResp
func (a *EmbedAPIService) GetEmbedExecute(r EmbedAPIGetEmbedRequest) (*EmbedStatusResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EmbedStatusResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmbedAPIService.GetEmbed")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/embed"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.app != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app", r.app, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
