/*
Hanzo Cloud API

Composed from each subsystem's own projection of its router, in the fleet's mount order — every operation below is a route the subsystem that publishes it registered. Tagged by product: the first path segment after /v1/.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hanzoai

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CartAPIService CartAPI service
type CartAPIService service

type CartAPIDiscardCartRequest struct {
	ctx        context.Context
	ApiService *CartAPIService
	id         string
}

func (r CartAPIDiscardCartRequest) Execute() (*Cart, *http.Response, error) {
	return r.ApiService.DiscardCartExecute(r)
}

/*
DiscardCart Discard a cart the shopper abandoned

Discards a cart the shopper abandoned, and answers it in its final state.

A discarded cart is CLOSED, not deleted: the row stays, so abandoned-basket
reporting and any follow-up that keys on it still have something to read. It
stops being a cart anything will check out, which is the point — it is how a
storefront says "this basket is over" without destroying the evidence that it
existed.

Discarding is idempotent: a cart already discarded answers its stored state
rather than failing, so a retry is safe.

The cart is resolved inside the caller's own org namespace, so another tenant's
id answers 404.

A named handler, not a closure, so zipdoc can lift this prose into the registry.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the cart's id, as the open call answered it.
	@return CartAPIDiscardCartRequest
*/
func (a *CartAPIService) DiscardCart(ctx context.Context, id string) CartAPIDiscardCartRequest {
	return CartAPIDiscardCartRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Cart
func (a *CartAPIService) DiscardCartExecute(r CartAPIDiscardCartRequest) (*Cart, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cart
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartAPIService.DiscardCart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cart/{id}/discard"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CartAPIGetCartRequest struct {
	ctx        context.Context
	ApiService *CartAPIService
	id         string
}

func (r CartAPIGetCartRequest) Execute() (*Cart, *http.Response, error) {
	return r.ApiService.GetCartExecute(r)
}

/*
GetCart Read one cart with its lines and totals

Reads one cart: its lines, its status and what it comes to.

This is what a storefront calls to render the basket, and what a support agent
calls to see what a shopper is looking at. The totals are the cart's STORED
tally — shipping and tax stay zero until checkout resolves a shipping option
and a tax region, so a cart total before checkout is the merchandise total and
is meant to be.

The org scopes the read by construction: the store is namespaced to it, so a
cart id belonging to another tenant is simply not found rather than found and
then filtered, and answers 404 rather than 403 so the id space cannot be probed.

A named handler, not a closure, so zipdoc can lift this prose into the registry.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the cart's id, as the open call answered it.
	@return CartAPIGetCartRequest
*/
func (a *CartAPIService) GetCart(ctx context.Context, id string) CartAPIGetCartRequest {
	return CartAPIGetCartRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Cart
func (a *CartAPIService) GetCartExecute(r CartAPIGetCartRequest) (*Cart, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cart
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartAPIService.GetCart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cart/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CartAPIOpenCartRequest struct {
	ctx        context.Context
	ApiService *CartAPIService
	cartOpen   *CartOpen
}

func (r CartAPIOpenCartRequest) CartOpen(cartOpen CartOpen) CartAPIOpenCartRequest {
	r.cartOpen = &cartOpen
	return r
}

func (r CartAPIOpenCartRequest) Execute() (*Cart, *http.Response, error) {
	return r.ApiService.OpenCartExecute(r)
}

/*
OpenCart Open a cart for a shopper to fill

Opens an empty cart for a shopper to fill, and answers it with its new id.

This is the first step of a sale: hold the id, add items to it with
setCartItem, then hand it to checkout. Every field of the request is optional —
an empty body opens a perfectly good anonymous cart — and the fields exist only
to pre-fill what is already known about the shopper.

The STORE defaults to the org's own default storefront, so a merchant selling
through one storefront never has to name it. The CURRENCY defaults to usd; note
that checkout overrides it with the store's own currency when the sale is
authorized, so a currency set here is a hint rather than a commitment.

The cart is created in the CALLER'S OWN org namespace, taken from the validated
principal and never from the body, so a cart can never be opened on another
tenant's books.

A named handler, not a closure, so zipdoc can lift this prose into the registry.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CartAPIOpenCartRequest
*/
func (a *CartAPIService) OpenCart(ctx context.Context) CartAPIOpenCartRequest {
	return CartAPIOpenCartRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Cart
func (a *CartAPIService) OpenCartExecute(r CartAPIOpenCartRequest) (*Cart, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cart
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartAPIService.OpenCart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cart"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cartOpen == nil {
		return localVarReturnValue, nil, reportError("cartOpen is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cartOpen
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CartAPISetCartItemRequest struct {
	ctx         context.Context
	ApiService  *CartAPIService
	id          string
	cartItemSet *CartItemSet
}

func (r CartAPISetCartItemRequest) CartItemSet(cartItemSet CartItemSet) CartAPISetCartItemRequest {
	r.cartItemSet = &cartItemSet
	return r
}

func (r CartAPISetCartItemRequest) Execute() (*Cart, *http.Response, error) {
	return r.ApiService.SetCartItemExecute(r)
}

/*
SetCartItem Set one item's quantity in a cart; zero removes it

Sets how many of one item a cart holds, and answers the whole updated cart.

This is the ONE way a cart's contents change. The quantity is the RESULT, not a
delta: sending 3 leaves 3 however many were there before, so a retry is safe and
a double-submit cannot double an order. ZERO REMOVES the line — there is
deliberately no separate delete, because removal is the same act at the boundary
value and a second spelling would be a second set of edge cases.

Name the item with EITHER product OR variant, never both. Prefer variant for
anything sold in sizes, colours or tiers: the price and the stock belong to the
variant, so a product-level line on a varianted product prices the wrong thing.
Either may be given as an id or as the human key — a product's URL slug, a
variant's SKU — which is what lets a storefront add to cart straight from a
product page URL without a lookup first.

The item's price and name are CACHED onto the line as it is added, so the cart
keeps the price the shopper was shown even if the catalog moves underneath it.

An item that resolves to nothing in the catalog is refused 400 and the cart is
left exactly as it was; nothing is partially applied.

A named handler, not a closure, so zipdoc can lift this prose into the registry.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID is the cart to amend, from the path.
	@return CartAPISetCartItemRequest
*/
func (a *CartAPIService) SetCartItem(ctx context.Context, id string) CartAPISetCartItemRequest {
	return CartAPISetCartItemRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Cart
func (a *CartAPIService) SetCartItemExecute(r CartAPISetCartItemRequest) (*Cart, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cart
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CartAPIService.SetCartItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cart/{id}/item"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cartItemSet == nil {
		return localVarReturnValue, nil, reportError("cartItemSet is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cartItemSet
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
