openapi: 3.1.0
info:
  contact:
    email: support@hanzo.ai
    name: Hanzo AI
    url: https://hanzo.ai
  description: "The single unified OpenAPI surface for ALL Hanzo services, aggregated\
    \ from the per-service specs. Every route is https://api.hanzo.ai/v1/<service>/*.\
    \ Regenerated by merge.py — edit the per-service <svc>/openapi.yaml, not this\
    \ file."
  license:
    name: Proprietary
  title: Hanzo Cloud — Unified API
  version: 1.0.0
servers:
- description: Hanzo Gateway
  url: https://api.hanzo.ai
security:
- bearerAuth: []
tags:
- description: Hanzo Admin API
  name: admin
- description: Hanzo AI — Inference API
  name: ai
- description: Hanzo Analytics API
  name: analytics
- description: Hanzo App — Projects & Deployments
  name: app
- description: Hanzo Auto API
  name: auto
- description: Hanzo Automations API
  name: automations
- description: Hanzo Base — Collections
  name: base
- description: Hanzo Billing API
  name: billing
- description: Hanzo Bot API
  name: bot
- description: Hanzo Chat API
  name: chat
- description: Hanzo Cloud API
  name: cloud
- description: Hanzo Commerce API
  name: commerce
- description: Hanzo Console API
  name: console
- description: Hanzo CRM API
  name: crm
- description: Hanzo DB API
  name: db
- description: Hanzo DID API
  name: did
- description: Hanzo DNS API
  name: dns
- description: Hanzo DigitalOcean Infra API
  name: do
- description: Hanzo Edge API
  name: edge
- description: Hanzo Engine API
  name: engine
- description: Hanzo Evals API
  name: evals
- description: Hanzo Exec API
  name: exec
- description: Hanzo Flow API
  name: flow
- description: Hanzo Framework API
  name: framework
- description: Hanzo Functions API
  name: functions
- description: Hanzo Gateway API
  name: gateway
- description: Hanzo Git API
  name: git
- description: Hanzo Graph API
  name: graph
- description: Hanzo Guard API
  name: guard
- description: Hanzo IAM API
  name: iam
- description: Hanzo Integrations API
  name: integrations
- description: Hanzo KB API
  name: kb
- description: Hanzo KMS API
  name: kms
- description: Hanzo KV API
  name: kv
- description: Hanzo ML API
  name: ml
- description: Hanzo MQ API
  name: mq
- description: Hanzo Nexus API
  name: nexus
- description: Hanzo O11y API
  name: o11y
- description: Hanzo Operative API
  name: operative
- description: Hanzo PaaS API
  name: paas
- description: Hanzo Plans API
  name: plan
- description: Hanzo Platform API
  name: platform
- description: Hanzo Pricing API
  name: pricing
- description: Hanzo Prompts API
  name: prompts
- description: Hanzo PubSub API
  name: pubsub
- description: Hanzo Registry API
  name: registry
- description: Hanzo S3 API
  name: s3
- description: Hanzo Search API
  name: search
- description: Hanzo Security API
  name: security
- description: Hanzo Stream API
  name: stream
- description: Hanzo Tasks API
  name: tasks
- description: Hanzo Templates API
  name: templates
- description: Hanzo Tracker API
  name: tracker
- description: Hanzo Vector API
  name: vector
- description: Hanzo Visor API
  name: visor
- description: Hanzo Web Search API
  name: websearch
- description: Hanzo ZT API
  name: zt
paths:
  /.well-known/jwks:
    get:
      operationId: iam_RootController.GetJwks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_jose.JSONWebKey"
          description: Successful response
      summary: Root Controller Get Jwks
      tags:
      - iam_Authentication
  /.well-known/openid-configuration:
    get:
      description: Get Oidc Discovery
      operationId: iam_RootController.GetOidcDiscovery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.OidcDiscovery"
          description: Successful response
      summary: Root Controller Get Oidc Discovery
      tags:
      - iam_Authentication
  /.well-known/webfinger:
    get:
      operationId: iam_RootController.GetWebFinger
      parameters:
      - description: resource
        explode: true
        in: query
        name: resource
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.WebFinger"
          description: Successful response
      summary: Root Controller Get Web Finger
      tags:
      - iam_Authentication
  /.well-known/{application}/jwks:
    get:
      operationId: iam_RootController.GetJwksByApplication
      parameters:
      - description: application name
        explode: false
        in: path
        name: application
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_jose.JSONWebKey"
          description: Successful response
      summary: Root Controller Get Jwks By Application
      tags:
      - iam_Authentication
  /.well-known/{application}/openid-configuration:
    get:
      description: Get Oidc Discovery for specific application
      operationId: iam_RootController.GetOidcDiscoveryByApplication
      parameters:
      - description: application name
        explode: false
        in: path
        name: application
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.OidcDiscovery"
          description: Successful response
      summary: Root Controller Get Oidc Discovery By Application
      tags:
      - iam_Authentication
  /.well-known/{application}/webfinger:
    get:
      operationId: iam_RootController.GetWebFingerByApplication
      parameters:
      - description: application name
        explode: false
        in: path
        name: application
        required: true
        schema:
          type: string
        style: simple
      - description: resource
        explode: true
        in: query
        name: resource
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.WebFinger"
          description: Successful response
      summary: Root Controller Get Web Finger By Application
      tags:
      - iam_Authentication
  /health:
    get:
      operationId: stream_healthCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/stream_healthCheck_200_response"
          description: Service is healthy
        "503":
          description: Service is unhealthy
      security: []
      summary: Health check
      tags:
      - stream_Health
  /healthz:
    get:
      operationId: vector_healthCheck
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: Service healthy
      security: []
      summary: Health check
      tags:
      - vector_Service
  /metrics:
    get:
      operationId: search_getMetrics
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: Prometheus text metrics
      summary: Get Prometheus metrics
      tags:
      - search_Stats
  /oauth/apple:
    get:
      operationId: chat_getOauthApple
      responses:
        "302":
          description: Redirect to Apple
      security: []
      summary: Initiate Apple OAuth
      tags:
      - chat_OAuth
  /oauth/apple/callback:
    post:
      operationId: chat_postOauthAppleCallback
      responses:
        "302":
          description: Redirect with auth tokens
      security: []
      summary: Apple OAuth callback
      tags:
      - chat_OAuth
  /oauth/callback:
    post:
      description: Get Login Error Counts
      operationId: iam_ApiController.Callback
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.Userinfo"
          description: The Response object
      summary: Api Controller Callback
      tags:
      - iam_Authentication
  /oauth/discord:
    get:
      operationId: chat_getOauthDiscord
      responses:
        "302":
          description: Redirect to Discord
      security: []
      summary: Initiate Discord OAuth
      tags:
      - chat_OAuth
  /oauth/discord/callback:
    get:
      operationId: chat_getOauthDiscordCallback
      responses:
        "302":
          description: Redirect with auth tokens
      security: []
      summary: Discord OAuth callback
      tags:
      - chat_OAuth
  /oauth/error:
    get:
      operationId: chat_getOauthError
      responses:
        "302":
          description: Redirect to login with error
      security: []
      summary: OAuth error handler
      tags:
      - chat_OAuth
  /oauth/facebook:
    get:
      operationId: chat_getOauthFacebook
      responses:
        "302":
          description: Redirect to Facebook
      security: []
      summary: Initiate Facebook OAuth
      tags:
      - chat_OAuth
  /oauth/facebook/callback:
    get:
      operationId: chat_getOauthFacebookCallback
      responses:
        "302":
          description: Redirect with auth tokens
      security: []
      summary: Facebook OAuth callback
      tags:
      - chat_OAuth
  /oauth/github:
    get:
      operationId: chat_getOauthGithub
      responses:
        "302":
          description: Redirect to GitHub
      security: []
      summary: Initiate GitHub OAuth
      tags:
      - chat_OAuth
  /oauth/github/callback:
    get:
      operationId: chat_getOauthGithubCallback
      responses:
        "302":
          description: Redirect with auth tokens
      security: []
      summary: GitHub OAuth callback
      tags:
      - chat_OAuth
  /oauth/google:
    get:
      operationId: chat_getOauthGoogle
      responses:
        "302":
          description: Redirect to Google
      security: []
      summary: Initiate Google OAuth
      tags:
      - chat_OAuth
  /oauth/google/callback:
    get:
      operationId: chat_getOauthGoogleCallback
      responses:
        "302":
          description: Redirect with auth tokens
      security: []
      summary: Google OAuth callback
      tags:
      - chat_OAuth
  /oauth/introspect:
    post:
      description: The introspection endpoint is an OAuth 2.0 endpoint that takes
        a
      operationId: iam_ApiController.IntrospectToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/iam_ApiController_IntrospectToken_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.IntrospectionResponse"
          description: The Response object
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.TokenError"
          description: The Response object
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.TokenError"
          description: The Response object
      summary: Api Controller Introspect Token
      tags:
      - iam_Authentication
  /oauth/openid:
    get:
      operationId: chat_getOauthOpenid
      responses:
        "302":
          description: Redirect to OpenID provider
      security: []
      summary: Initiate OpenID Connect login
      tags:
      - chat_OAuth
  /oauth/openid/callback:
    get:
      operationId: chat_getOauthOpenidCallback
      responses:
        "302":
          description: Redirect with auth tokens
      security: []
      summary: OpenID Connect callback
      tags:
      - chat_OAuth
  /oauth/saml:
    get:
      operationId: chat_getOauthSaml
      responses:
        "302":
          description: Redirect to SAML IdP
      security: []
      summary: Initiate SAML login
      tags:
      - chat_OAuth
  /oauth/saml/callback:
    post:
      operationId: chat_postOauthSamlCallback
      responses:
        "302":
          description: Redirect with auth tokens
      security: []
      summary: SAML callback
      tags:
      - chat_OAuth
  /oauth/token:
    post:
      description: get OAuth access token
      operationId: iam_ApiController.GetOAuthToken
      parameters:
      - description: OAuth grant type
        explode: true
        in: query
        name: grant_type
        required: true
        schema:
          type: string
        style: form
      - description: OAuth client id
        explode: true
        in: query
        name: client_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth client secret
        explode: true
        in: query
        name: client_secret
        required: true
        schema:
          type: string
        style: form
      - description: OAuth code
        explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.TokenWrapper"
          description: The Response object
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.TokenError"
          description: The Response object
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.TokenError"
          description: The Response object
      summary: Api Controller Get O Auth Token
      tags:
      - iam_Tokens
  /oauth/token/refresh:
    post:
      description: refresh OAuth access token
      operationId: iam_ApiController.RefreshToken
      parameters:
      - description: OAuth grant type
        explode: true
        in: query
        name: grant_type
        required: true
        schema:
          type: string
        style: form
      - description: OAuth refresh token
        explode: true
        in: query
        name: refresh_token
        required: true
        schema:
          type: string
        style: form
      - description: OAuth scope
        explode: true
        in: query
        name: scope
        required: true
        schema:
          type: string
        style: form
      - description: OAuth client id
        explode: true
        in: query
        name: client_id
        required: true
        schema:
          type: string
        style: form
      - description: OAuth client secret
        explode: true
        in: query
        name: client_secret
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.TokenWrapper"
          description: The Response object
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.TokenError"
          description: The Response object
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.TokenError"
          description: The Response object
      summary: Api Controller Refresh Token
      tags:
      - iam_Tokens
  /oauth/userinfo:
    get:
      description: return user information according to OIDC standards
      operationId: iam_ApiController.UserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/iam_object.Userinfo"
          description: The Response object
      summary: Api Controller User Info
      tags:
      - iam_Users
  /v1/admin/analytics:
    get:
      operationId: admin_adminAnalytics
      parameters:
      - explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30d
          enum:
          - 7d
          - 30d
          - 90d
          - all
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminAnalytics_200_response"
          description: Analytics data
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Native SaaS analytics (retention/growth/churn)
      tags:
      - admin_Money
  /v1/admin/applications:
    get:
      operationId: admin_adminListApplications
      parameters:
      - explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: p
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_RawList"
          description: Application rows (raw IAM shape)
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: IAM applications (verbatim passthrough)
      tags:
      - admin_Identity
  /v1/admin/audit:
    get:
      operationId: admin_adminListAudit
      parameters:
      - explode: true
        in: query
        name: org
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sub
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: resource
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: result
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: until
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: p
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminListAudit_200_response"
          description: Audit rows
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Query the tamper-evident audit trail
      tags:
      - admin_Audit
  /v1/admin/audit/verify:
    get:
      operationId: admin_adminVerifyAudit
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminVerifyAudit_200_response"
          description: Integrity result
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Verify audit-chain integrity
      tags:
      - admin_Audit
  /v1/admin/compute:
    get:
      operationId: admin_adminCompute
      parameters:
      - description: bot | machine | cluster | nodepool | container | function | …
        explode: true
        in: query
        name: kind
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: org
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30d
          enum:
          - 24h
          - 7d
          - 30d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminCompute_200_response"
          description: Compute leaves
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Cross-tenant compute analytics
      tags:
      - admin_Observability
  /v1/admin/customers:
    get:
      operationId: admin_adminListCustomers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminListCustomers_200_response"
          description: Customer rows
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Fleet customer list
      tags:
      - admin_Customers
  /v1/admin/customers/{org}:
    get:
      operationId: admin_adminCustomerDetail
      parameters:
      - explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminCustomerDetail_200_response"
          description: Customer detail
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
        "404":
          description: Customer not found
      summary: One customer's detail
      tags:
      - admin_Customers
  /v1/admin/customers/{org}/credit:
    post:
      operationId: admin_adminGrantCredit
      parameters:
      - explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/admin_CreditRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminGrantCredit_200_response"
          description: Grant result
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
        "404":
          description: Customer not found
      summary: Grant credit (commerce deposit)
      tags:
      - admin_Customers
  /v1/admin/customers/{org}/reactivate:
    post:
      operationId: admin_adminReactivateCustomer
      parameters:
      - explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminReactivateCustomer_200_response"
          description: Reactivate result
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
        "404":
          description: Customer not found
      summary: Reactivate a customer (IAM isForbidden=false)
      tags:
      - admin_Customers
  /v1/admin/customers/{org}/suspend:
    post:
      operationId: admin_adminSuspendCustomer
      parameters:
      - explode: false
        in: path
        name: org
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminReactivateCustomer_200_response"
          description: Suspend result
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
        "404":
          description: Customer not found
      summary: Suspend a customer (IAM isForbidden=true)
      tags:
      - admin_Customers
  /v1/admin/finance:
    get:
      operationId: admin_adminFinance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminFinance_200_response"
          description: Finance data
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: COGS / gross-margin / runway dashboard
      tags:
      - admin_Money
  /v1/admin/me:
    get:
      operationId: admin_adminMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminMe_200_response"
          description: Operator identity
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Validated operator identity
      tags:
      - admin_Identity
  /v1/admin/o11y:
    get:
      operationId: admin_adminO11y
      parameters:
      - explode: true
        in: query
        name: range
        required: false
        schema:
          default: 30d
          enum:
          - 24h
          - 7d
          - 30d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminO11y_200_response"
          description: Fleet o11y
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Fleet-wide observability board
      tags:
      - admin_Observability
  /v1/admin/orgs:
    get:
      operationId: admin_adminListOrgs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_OrgList"
          description: Org rows
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Tenant directory
      tags:
      - admin_Identity
  /v1/admin/overview:
    get:
      operationId: admin_adminOverview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminOverview_200_response"
          description: Overview
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Fleet overview tiles
      tags:
      - admin_Overview
  /v1/admin/products:
    get:
      operationId: admin_adminProducts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminProducts_200_response"
          description: Product rows
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Product / workload registry
      tags:
      - admin_Overview
  /v1/admin/revenue:
    get:
      operationId: admin_adminRevenue
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminRevenue_200_response"
          description: Revenue data
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Fleet revenue aggregate
      tags:
      - admin_Money
  /v1/admin/roles:
    get:
      operationId: admin_adminListRoles
      parameters:
      - explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: p
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_RawList"
          description: Role rows (raw IAM shape)
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: IAM roles (verbatim passthrough)
      tags:
      - admin_Identity
  /v1/admin/sync:
    post:
      operationId: admin_adminSync
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminSync_200_response"
          description: Started
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Trigger a fleet re-read
      tags:
      - admin_Overview
  /v1/admin/usage:
    get:
      operationId: admin_adminUsage
      parameters:
      - description: Scope to one org (default fleet)
        explode: true
        in: query
        name: org
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_adminUsage_200_response"
          description: Usage data
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Fleet usage roll-up
      tags:
      - admin_Overview
  /v1/admin/users:
    get:
      operationId: admin_adminListUsers
      parameters:
      - description: Filter to one org (owner)
        explode: true
        in: query
        name: org
        required: false
        schema:
          type: string
        style: form
      - description: 1-based page
        explode: true
        in: query
        name: p
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Free-text name filter
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/admin_UserList"
          description: User rows
        "401":
          $ref: "#/components/responses/admin_Unauthorized"
      summary: Cross-org user directory
      tags:
      - admin_Identity
  /v1/agent-bindings:
    get:
      operationId: visor_listAgentBindings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/visor_listAgentBindings_200_response"
          description: Agent bindings
        "401":
          $ref: "#/components/responses/visor_Unauthorized"
      summary: List the org's agent bindings
      tags:
      - visor_Bindings
  /v1/agents:
    get:
      description: List the org's agents (most-recently-updated first).
      operationId: cloud_AgentsController.List
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_AgentsController_List_200_response"
          description: The org's agents.
      tags:
      - cloud_Agents API
    post:
      description: Create an agent (a model + instructions + tool names). A long-running
        agent additionally requires a 5-field cron 'schedule' and is invoked by the
        scheduler; a one-shot agent runs only when POSTed to /run.
      operationId: cloud_AgentsController.Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.CreateAgentRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.Agent"
          description: The created agent.
        "400":
          description: "Invalid name, model, instructions, or lifecycle."
        "409":
          description: "An agent with that name already exists, or the org's long-running-agent\
            \ limit is reached."
      tags:
      - cloud_Agents API
  /v1/agents/activity:
    get:
      description: "The org-wide recent-activity feed (newest first, capped at 50).\
        \ Each recorded run is an invoked/failed event; each agent's own create/update\
        \ timestamps are created/updated events. Nothing is invented."
      operationId: cloud_AgentsController.Activity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_AgentsController_Activity_200_response"
          description: The activity feed.
      tags:
      - cloud_Agents API
  /v1/agents/metrics:
    get:
      description: "Invocations-over-time histogram for the org's Agents dashboard.\
        \ Every point is a real count of recorded runs in that bucket, one series\
        \ line per agent that ran in the window. The Resource Usage rollup is all-null\
        \ (this store meters no CPU/memory/storage/cost)."
      operationId: cloud_AgentsController.Metrics
      parameters:
      - description: "Window token; one of 24H, 7D, 30D (default 30D)."
        explode: true
        in: query
        name: range
        required: false
        schema:
          enum:
          - 24H
          - 7D
          - 30D
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.Metrics"
          description: The metrics view.
      tags:
      - cloud_Agents API
  /v1/agents/sessions:
    get:
      description: "List the org's live sessions, newest first. With no filter only\
        \ roots (the outer-agent view) are returned; root scopes to one tree, parent\
        \ to a session's direct children."
      operationId: cloud_AgentSessionsController.List
      parameters:
      - description: Return every session in this tree (rootSessionId == root).
        explode: true
        in: query
        name: root
        required: false
        schema:
          type: string
        style: form
      - description: Return the direct children of this session.
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      - description: Filter by status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - running
          - paused
          - done
          - error
          type: string
        style: form
      - description: "Max sessions to return (default 100, max 500)."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_AgentSessionsController_List_200_response"
          description: The matching sessions.
        "400":
          description: Invalid status filter.
      tags:
      - cloud_Agent Sessions API
    post:
      description: Register a live agent session. With no parentSessionId the session
        is a root (the outer agent); with one it is a subagent child of that parent
        (which must exist in the same org) and inherits its rootSessionId — the tree
        key every node in one flow shares.
      operationId: cloud_AgentSessionsController.Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.RegisterSessionRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.Session"
          description: The registered session.
        "400":
          description: "Missing agent, invalid status, or parentSessionId not found\
            \ in this org."
      tags:
      - cloud_Agent Sessions API
  /v1/agents/sessions/stream:
    get:
      description: "Server-Sent Events feed of live session + event updates for the\
        \ caller's org (streams natively over the ZAP machine transport as well).\
        \ Optional ?root scopes the feed to one subagent tree. Each frame carries\
        \ an event type (session or event) and a JSON data line; the GET list/detail/tree\
        \ endpoints remain the source of truth, the stream is a live hint."
      operationId: cloud_AgentSessionsController.Stream
      parameters:
      - description: Scope the feed to one subagent tree (rootSessionId).
        explode: true
        in: query
        name: root
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/event-stream:
              schema:
                type: string
          description: An open SSE stream of session and event frames.
      tags:
      - cloud_Agent Sessions API
  /v1/agents/sessions/{id}:
    get:
      description: "Session detail — the session, its direct child sessions, and up\
        \ to 50 recent events."
      operationId: cloud_AgentSessionsController.Get
      parameters:
      - description: The session id (sess_...).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.SessionDetail"
          description: The session detail.
        "404":
          description: No such session in this org.
      tags:
      - cloud_Agent Sessions API
    patch:
      description: Update a session's status and/or title. A terminal session (done/error)
        is monotonic — it cannot be reopened.
      operationId: cloud_AgentSessionsController.Patch
      parameters:
      - description: The session id (sess_...).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.PatchSessionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.Session"
          description: The updated session.
        "400":
          description: Invalid status or title.
        "404":
          description: No such session in this org.
        "409":
          description: The session is already finished; its status cannot change.
      tags:
      - cloud_Agent Sessions API
  /v1/agents/sessions/{id}/events:
    post:
      description: "Append one event to a session's ordered log (a model message,\
        \ tool call, subagent spawn, free log line, status change, or control command).\
        \ Seq is allocated monotonically per session. The payload is an opaque, size-bounded,\
        \ well-formed JSON blob."
      operationId: cloud_AgentSessionsController.AppendEvent
      parameters:
      - description: The session id (sess_...).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.EventRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.Event"
          description: The appended event.
        "400":
          description: Invalid kind or payload.
        "404":
          description: No such session in this org.
      tags:
      - cloud_Agent Sessions API
  /v1/agents/sessions/{id}/message:
    post:
      description: Send a steering message to a live session. Requires a 'message'
        or 'payload'. Records a durable control event and forwards to the tasks engine
        when the session is task-backed.
      operationId: cloud_AgentSessionsController.Message
      parameters:
      - description: The session id (sess_...).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.ControlRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.ControlResult"
          description: The recorded control command.
        "400":
          description: A message or payload is required.
        "404":
          description: No such session in this org.
        "409":
          description: The session is finished; a finished session cannot be steered.
        "502":
          description: Control recorded but the tasks-engine forward failed.
      tags:
      - cloud_Agent Sessions API
  /v1/agents/sessions/{id}/pause:
    post:
      description: "Pause a live session. Records a durable control event and, when\
        \ the session is backed by a hanzoai/tasks workflow and a tasks backend is\
        \ wired, forwards the command to the engine's signal API."
      operationId: cloud_AgentSessionsController.Pause
      parameters:
      - description: The session id (sess_...).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.ControlRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.ControlResult"
          description: The recorded control command.
        "404":
          description: No such session in this org.
        "409":
          description: The session is finished; a finished session cannot be steered.
        "502":
          description: Control recorded but the tasks-engine forward failed.
      tags:
      - cloud_Agent Sessions API
  /v1/agents/sessions/{id}/resume:
    post:
      description: Resume a paused session. Records a durable control event and forwards
        to the tasks engine when the session is task-backed.
      operationId: cloud_AgentSessionsController.Resume
      parameters:
      - description: The session id (sess_...).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.ControlRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.ControlResult"
          description: The recorded control command.
        "404":
          description: No such session in this org.
        "409":
          description: The session is finished; a finished session cannot be steered.
        "502":
          description: Control recorded but the tasks-engine forward failed.
      tags:
      - cloud_Agent Sessions API
  /v1/agents/sessions/{id}/stop:
    post:
      description: "Stop a session. Records a durable control event and, when task-backed,\
        \ cancels the underlying hanzoai/tasks workflow."
      operationId: cloud_AgentSessionsController.Stop
      parameters:
      - description: The session id (sess_...).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.ControlRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.ControlResult"
          description: The recorded control command.
        "404":
          description: No such session in this org.
        "409":
          description: The session is finished; a finished session cannot be steered.
        "502":
          description: Control recorded but the tasks-engine cancel failed.
      tags:
      - cloud_Agent Sessions API
  /v1/agents/sessions/{id}/tree:
    get:
      description: "The full subagent-flow graph rooted at this session's tree — each\
        \ node is a session plus its children, recursively, with real per-node event\
        \ and fan-out counts."
      operationId: cloud_AgentSessionsController.Tree
      parameters:
      - description: The session id (sess_...).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.TreeNode"
          description: The subagent tree.
        "404":
          description: No such session in this org.
      tags:
      - cloud_Agent Sessions API
  /v1/agents/{ref}:
    delete:
      description: Delete an agent and its run history.
      operationId: cloud_AgentsController.Delete
      parameters:
      - description: The agent's public id (agent_...) or org-unique name.
        explode: false
        in: path
        name: ref
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted.
        "404":
          description: No such agent in this org.
      tags:
      - cloud_Agents API
    get:
      description: "Get an agent by its public id (agent_...) or org-unique name,\
        \ with its instructions and up to 20 recent runs."
      operationId: cloud_AgentsController.Get
      parameters:
      - description: The agent's public id (agent_...) or org-unique name.
        explode: false
        in: path
        name: ref
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.AgentDetail"
          description: The agent detail.
        "404":
          description: No such agent in this org.
      tags:
      - cloud_Agents API
    patch:
      description: "Update an agent's mutable fields. The resulting execution mode\
        \ + schedule are re-validated, so a partial update can never leave a long-running\
        \ agent without a valid cron."
      operationId: cloud_AgentsController.Update
      parameters:
      - description: The agent's public id (agent_...) or org-unique name.
        explode: false
        in: path
        name: ref
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.UpdateAgentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.Agent"
          description: The updated agent.
        "400":
          description: Invalid field or lifecycle.
        "404":
          description: No such agent in this org.
        "409":
          description: The org's long-running-agent limit is reached.
      tags:
      - cloud_Agents API
  /v1/agents/{ref}/run:
    post:
      description: "Run the agent — composes its instructions with the caller input\
        \ and executes one real chat completion through the in-process AI client,\
        \ records the run, and returns the run view. Requires a validated principal\
        \ (money path). The org's credit balance is pre-authorized before any inference\
        \ (fail-closed); a successful run debits a flat per-run fee metered as product=agent.\
        \ Duration is recorded; the run is real."
      operationId: cloud_AgentsController.Run
      parameters:
      - description: The agent's public id (agent_...) or org-unique name.
        explode: false
        in: path
        name: ref
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud_agents.RunRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.Run"
          description: The completed run (status ok).
        "402":
          description: Insufficient org credit balance (run did not execute).
        "403":
          description: A validated principal is required to run an agent.
        "404":
          description: No such agent in this org.
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_agents.Run"
          description: The run executed but the upstream model failed; the recorded
            error run is returned.
        "503":
          description: "Inference is not configured on this deployment, or the credit\
            \ ledger is unreachable."
      tags:
      - cloud_Agents API
  /v1/agents/{ref}/runs:
    get:
      description: "The agent's run history, newest first."
      operationId: cloud_AgentsController.Runs
      parameters:
      - description: The agent's public id (agent_...) or org-unique name.
        explode: false
        in: path
        name: ref
        required: true
        schema:
          type: string
        style: simple
      - description: "Max runs to return (default 50, max 200)."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud_AgentsController_Runs_200_response"
          description: The run history.
        "404":
          description: No such agent in this org.
      tags:
      - cloud_Agents API
  /v1/analytics/admin/users:
    get:
      operationId: analytics_adminListUsers
      parameters:
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_adminListUsers_200_response_inner"
                type: array
          description: Paginated user list with website counts
      summary: List all users (admin only)
      tags:
      - analytics_Admin
  /v1/analytics/admin/websites:
    get:
      operationId: analytics_adminListWebsites
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: includeOwnedTeams
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeAllTeams
        required: false
        schema:
          type: string
        style: form
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Website"
                type: array
          description: Paginated website list
      summary: List all websites for a user (admin only)
      tags:
      - analytics_Admin
  /v1/analytics/auth/login:
    post:
      operationId: analytics_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_login_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_login_200_response"
          description: Login successful
        "401":
          description: Incorrect username or password
      security: []
      summary: Log in with username and password
      tags:
      - analytics_Auth
  /v1/analytics/auth/logout:
    post:
      operationId: analytics_logout
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Logged out
      summary: Log out and invalidate token
      tags:
      - analytics_Auth
  /v1/analytics/auth/sso:
    post:
      operationId: analytics_ssoAuth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_ssoAuth_200_response"
          description: SSO token issued
      summary: Exchange SSO credentials for a session token
      tags:
      - analytics_Auth
  /v1/analytics/auth/verify:
    post:
      operationId: analytics_verifyAuth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_User"
          description: Token is valid
        "401":
          description: Invalid token
      summary: Verify current auth token
      tags:
      - analytics_Auth
  /v1/analytics/batch:
    post:
      operationId: analytics_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/analytics_SendPayload"
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_batch_200_response"
          description: Batch processed
      security: []
      summary: Send a batch of events
      tags:
      - analytics_Collect
  /v1/analytics/heartbeat:
    get:
      operationId: analytics_heartbeat
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_heartbeat_200_response"
          description: Service is running
      security: []
      summary: Health check
      tags:
      - analytics_Auth
  /v1/analytics/me:
    get:
      operationId: analytics_getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_getMe_200_response"
          description: Current user auth context
      summary: Get current authenticated user info
      tags:
      - analytics_Me
  /v1/analytics/me/password:
    post:
      operationId: analytics_changeMyPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_changeMyPassword_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_User"
          description: Password updated
        "400":
          description: Current password is incorrect
      summary: Change current user password
      tags:
      - analytics_Me
  /v1/analytics/me/teams:
    get:
      operationId: analytics_getMyTeams
      parameters:
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Team"
                type: array
          description: Paginated list of teams
      summary: List teams for the current user
      tags:
      - analytics_Me
  /v1/analytics/me/websites:
    get:
      operationId: analytics_getMyWebsites
      parameters:
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Website"
                type: array
          description: Paginated list of websites
      summary: List websites for the current user
      tags:
      - analytics_Me
  /v1/analytics/realtime/{websiteId}:
    get:
      operationId: analytics_getRealtimeData
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_timezone"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Realtime data
      summary: Get realtime visitor data for the last 30 minutes
      tags:
      - analytics_Realtime
  /v1/analytics/reports:
    get:
      operationId: analytics_listReports
      parameters:
      - explode: true
        in: query
        name: websiteId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: teamId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Report"
                type: array
          description: Paginated list of reports
      summary: "List reports, optionally filtered by website or team"
      tags:
      - analytics_Reports
    post:
      operationId: analytics_createReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_createReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Report"
          description: Report created
      summary: Create a new report
      tags:
      - analytics_Reports
  /v1/analytics/reports/attribution:
    post:
      operationId: analytics_runAttributionReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_runAttributionReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Attribution data
      summary: Run an attribution report
      tags:
      - analytics_Reports
  /v1/analytics/reports/funnel:
    post:
      operationId: analytics_runFunnelReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_runFunnelReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Funnel results
      summary: Run a funnel report
      tags:
      - analytics_Reports
  /v1/analytics/reports/goals:
    post:
      operationId: analytics_runGoalsReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_runGoalsReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Goals results
      summary: Run a goals report
      tags:
      - analytics_Reports
  /v1/analytics/reports/insights:
    post:
      operationId: analytics_runInsightsReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_runInsightsReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Insights results
      summary: Run an insights report
      tags:
      - analytics_Reports
  /v1/analytics/reports/journey:
    post:
      operationId: analytics_runJourneyReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_runJourneyReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Journey flow data
      summary: Run a user journey report
      tags:
      - analytics_Reports
  /v1/analytics/reports/retention:
    post:
      operationId: analytics_runRetentionReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_runRetentionReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Retention cohort data
      summary: Run a retention report
      tags:
      - analytics_Reports
  /v1/analytics/reports/revenue:
    get:
      operationId: analytics_getRevenueValues
      parameters:
      - explode: true
        in: query
        name: websiteId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Revenue values
      summary: Get available revenue values for a website
      tags:
      - analytics_Reports
    post:
      operationId: analytics_runRevenueReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_runRevenueReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Revenue time series
      summary: Run a revenue report
      tags:
      - analytics_Reports
  /v1/analytics/reports/utm:
    post:
      operationId: analytics_runUtmReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_runUtmReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: UTM breakdown data
      summary: Run a UTM report
      tags:
      - analytics_Reports
  /v1/analytics/reports/{reportId}:
    delete:
      operationId: analytics_deleteReport
      parameters:
      - $ref: "#/components/parameters/analytics_reportId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Report deleted
      summary: Delete a report
      tags:
      - analytics_Reports
    get:
      operationId: analytics_getReport
      parameters:
      - $ref: "#/components/parameters/analytics_reportId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Report"
          description: Report details
        "404":
          description: Report not found
      summary: Get a report by ID
      tags:
      - analytics_Reports
    post:
      operationId: analytics_updateReport
      parameters:
      - $ref: "#/components/parameters/analytics_reportId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_createReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Report"
          description: Report updated
      summary: Update a report
      tags:
      - analytics_Reports
  /v1/analytics/scripts/telemetry:
    get:
      operationId: analytics_getTelemetryScript
      responses:
        "200":
          content:
            text/javascript:
              schema:
                type: string
          description: JavaScript telemetry snippet
      security: []
      summary: Get telemetry pixel script
      tags:
      - analytics_Auth
  /v1/analytics/send:
    post:
      operationId: analytics_send
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_SendPayload"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_send_200_response"
          description: Event accepted
      security: []
      summary: Send a single event or identify payload
      tags:
      - analytics_Collect
  /v1/analytics/share/{shareId}:
    get:
      operationId: analytics_getSharedWebsite
      parameters:
      - $ref: "#/components/parameters/analytics_shareId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_getSharedWebsite_200_response"
          description: Shared website token
        "404":
          description: Share not found
      security: []
      summary: Get a shared website by share ID (no auth required)
      tags:
      - analytics_Share
  /v1/analytics/teams:
    post:
      operationId: analytics_createTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_createTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Team"
          description: Team created
      summary: Create a new team
      tags:
      - analytics_Teams
  /v1/analytics/teams/join:
    post:
      operationId: analytics_joinTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_joinTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_TeamUser"
          description: Joined team
        "400":
          description: Already a team member
        "404":
          description: Team not found
      summary: Join a team using an access code
      tags:
      - analytics_Teams
  /v1/analytics/teams/{teamId}:
    delete:
      operationId: analytics_deleteTeam
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Team deleted
      summary: Delete team (owner only)
      tags:
      - analytics_Teams
    get:
      operationId: analytics_getTeam
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Team"
          description: Team details with members
        "404":
          description: Team not found
      summary: Get team by ID (includes members)
      tags:
      - analytics_Teams
    post:
      operationId: analytics_updateTeam
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_updateTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Team"
          description: Team updated
      summary: Update team (owner only)
      tags:
      - analytics_Teams
  /v1/analytics/teams/{teamId}/users:
    get:
      operationId: analytics_getTeamUsers
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_TeamUser"
                type: array
          description: Paginated team member list
      summary: List team members
      tags:
      - analytics_Teams
    post:
      operationId: analytics_addTeamUser
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_addTeamUser_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_TeamUser"
          description: User added to team
        "400":
          description: User is already a member
      summary: Add a user to a team
      tags:
      - analytics_Teams
  /v1/analytics/teams/{teamId}/users/{userId}:
    delete:
      operationId: analytics_removeTeamUser
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      - $ref: "#/components/parameters/analytics_userId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: User removed from team
      summary: Remove user from team
      tags:
      - analytics_Teams
    get:
      operationId: analytics_getTeamUser
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      - $ref: "#/components/parameters/analytics_userId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_TeamUser"
          description: Team user details
      summary: Get a team member
      tags:
      - analytics_Teams
    post:
      operationId: analytics_updateTeamUser
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      - $ref: "#/components/parameters/analytics_userId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_updateTeamUser_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_TeamUser"
          description: Team user updated
      summary: Update team member role (owner only)
      tags:
      - analytics_Teams
  /v1/analytics/teams/{teamId}/websites:
    get:
      operationId: analytics_getTeamWebsites
      parameters:
      - $ref: "#/components/parameters/analytics_teamId"
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Website"
                type: array
          description: Paginated website list
      summary: List websites belonging to a team
      tags:
      - analytics_Teams
  /v1/analytics/users:
    post:
      operationId: analytics_createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_createUser_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_User"
          description: User created
        "400":
          description: User already exists
      summary: Create a new user (admin only)
      tags:
      - analytics_Users
  /v1/analytics/users/{userId}:
    delete:
      operationId: analytics_deleteUser
      parameters:
      - $ref: "#/components/parameters/analytics_userId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: User deleted
        "400":
          description: Cannot delete yourself
      summary: Delete user (admin only)
      tags:
      - analytics_Users
    get:
      operationId: analytics_getUser
      parameters:
      - $ref: "#/components/parameters/analytics_userId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_User"
          description: User details
      summary: Get user by ID
      tags:
      - analytics_Users
    post:
      operationId: analytics_updateUser
      parameters:
      - $ref: "#/components/parameters/analytics_userId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_updateUser_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_User"
          description: User updated
      summary: Update user
      tags:
      - analytics_Users
  /v1/analytics/users/{userId}/teams:
    get:
      operationId: analytics_getUserTeams
      parameters:
      - $ref: "#/components/parameters/analytics_userId"
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Team"
                type: array
          description: Paginated team list
      summary: List teams a user belongs to
      tags:
      - analytics_Users
  /v1/analytics/users/{userId}/usage:
    get:
      operationId: analytics_getUserUsage
      parameters:
      - $ref: "#/components/parameters/analytics_userId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_getUserUsage_200_response"
          description: Usage data
      summary: Get event usage breakdown for a user (admin only)
      tags:
      - analytics_Users
  /v1/analytics/users/{userId}/websites:
    get:
      operationId: analytics_getUserWebsites
      parameters:
      - $ref: "#/components/parameters/analytics_userId"
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Website"
                type: array
          description: Paginated website list
      summary: List websites owned by a user
      tags:
      - analytics_Users
  /v1/analytics/websites:
    get:
      operationId: analytics_listWebsites
      parameters:
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Website"
                type: array
          description: Paginated list of websites
      summary: List websites owned by current user
      tags:
      - analytics_Websites
    post:
      operationId: analytics_createWebsite
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_createWebsite_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Website"
          description: Website created
      summary: Create a new website
      tags:
      - analytics_Websites
  /v1/analytics/websites/{websiteId}:
    delete:
      operationId: analytics_deleteWebsite
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Website deleted
      summary: Delete website
      tags:
      - analytics_Websites
    get:
      operationId: analytics_getWebsite
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Website"
          description: Website details
      summary: Get website by ID
      tags:
      - analytics_Websites
    post:
      operationId: analytics_updateWebsite
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/analytics_updateWebsite_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_Website"
          description: Website updated
      summary: Update website
      tags:
      - analytics_Websites
  /v1/analytics/websites/{websiteId}/active:
    get:
      operationId: analytics_getActiveVisitors
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_getActiveVisitors_200_response"
          description: Active visitor count
      summary: Get count of active visitors
      tags:
      - analytics_Websites
  /v1/analytics/websites/{websiteId}/daterange:
    get:
      operationId: analytics_getWebsiteDateRange
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_getWebsiteDateRange_200_response"
          description: Date range
      summary: Get the date range of data available for a website
      tags:
      - analytics_Websites
  /v1/analytics/websites/{websiteId}/event-data/events:
    get:
      operationId: analytics_getEventDataEvents
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - explode: true
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Event data events
      summary: Get event data grouped by event name
      tags:
      - analytics_Events
  /v1/analytics/websites/{websiteId}/event-data/fields:
    get:
      operationId: analytics_getEventDataFields
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_getEventDataFields_200_response_inner"
                type: array
          description: Event data fields
      summary: Get event data fields
      tags:
      - analytics_Events
  /v1/analytics/websites/{websiteId}/event-data/properties:
    get:
      operationId: analytics_getEventDataProperties
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - explode: true
        in: query
        name: propertyName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Event data properties
      summary: Get event data properties
      tags:
      - analytics_Events
  /v1/analytics/websites/{websiteId}/event-data/stats:
    get:
      operationId: analytics_getEventDataStats
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - explode: true
        in: query
        name: propertyName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Event data stats
      summary: Get event data aggregate stats
      tags:
      - analytics_Events
  /v1/analytics/websites/{websiteId}/event-data/values:
    get:
      operationId: analytics_getEventDataValues
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - explode: true
        in: query
        name: eventName
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: propertyName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Event data values
      summary: Get event data values for a property
      tags:
      - analytics_Events
  /v1/analytics/websites/{websiteId}/events:
    get:
      operationId: analytics_getEvents
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Paginated event list
      summary: Get paginated list of events
      tags:
      - analytics_Events
  /v1/analytics/websites/{websiteId}/events/series:
    get:
      operationId: analytics_getEventSeries
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - $ref: "#/components/parameters/analytics_unit"
      - $ref: "#/components/parameters/analytics_timezone"
      - explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: referrer
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: os
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: browser
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_PageviewSeries"
                type: array
          description: Event time series
      summary: Get event metrics as a time series
      tags:
      - analytics_Events
  /v1/analytics/websites/{websiteId}/metrics:
    get:
      operationId: analytics_getWebsiteMetrics
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - description: Metric type to break down by
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - url
          - referrer
          - title
          - browser
          - os
          - device
          - country
          - region
          - city
          - language
          - event
          - tag
          - host
          - query
          - channel
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: referrer
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: os
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: browser
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Metric"
                type: array
          description: Metric breakdown
      summary: "Get breakdown metrics by type (url, referrer, browser, os, device,\
        \ country, event, channel, etc.)"
      tags:
      - analytics_Stats
  /v1/analytics/websites/{websiteId}/pageviews:
    get:
      operationId: analytics_getPageviews
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - $ref: "#/components/parameters/analytics_unit"
      - $ref: "#/components/parameters/analytics_timezone"
      - explode: true
        in: query
        name: compare
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: referrer
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: os
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: browser
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: language
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: event
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analytics_getPageviews_200_response"
          description: Pageview and session series data
      summary: Get pageview and session time series
      tags:
      - analytics_Pageviews
  /v1/analytics/websites/{websiteId}/reports:
    get:
      operationId: analytics_getWebsiteReports
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_page"
      - $ref: "#/components/parameters/analytics_pageSize"
      - $ref: "#/components/parameters/analytics_orderBy"
      - $ref: "#/components/parameters/analytics_search"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/analytics_Report"
                type: array
          description: Paginated report list
      summary: List reports for a specific website
      tags:
      - analytics_Reports
  /v1/analytics/websites/{websiteId}/reset:
    post:
      operationId: analytics_resetWebsite
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Website data reset
      summary: Reset all data for a website
      tags:
      - analytics_Websites
  /v1/analytics/websites/{websiteId}/session-data/properties:
    get:
      operationId: analytics_getSessionDataProperties
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - explode: true
        in: query
        name: propertyName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Session data properties
      summary: Get distinct session data property names
      tags:
      - analytics_Sessions
  /v1/analytics/websites/{websiteId}/session-data/values:
    get:
      operationId: analytics_getSessionDataValues
      parameters:
      - $ref: "#/components/parameters/analytics_websiteId"
      - $ref: "#/components/parameters/analytics_startAt"
      - $ref: "#/components/parameters/analytics_endAt"
      - explode: true
        in: query
        name: propertyName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Session data values
      summary: Get session data values for a property
      tags:
      - analytics_Sessions
[...]
